[2021-11-30 16:09] haircommander commented on #5479
what do you mean `Delete the tag from the registry` do you mean deleting it from the remote registry that cri-o is pulling from, or from the local node?

[2021-11-30 16:11] EvgenyAGRO commented on #5479
@haircommander From the remote registry that cri-o is pulling from. You can actually just override the latest tag with other image version. It will also work.

[2021-11-30 16:21] EvgenyAGRO commented on #5479
@haircommander BTW when querying cri-o daemon using gRPC client with http POST on `/runtime.v1alpha2.ImageService/ListImages` I do receive the digests, while via `crictl inspecti <image ID>` I don't receive the digests for the same image ID. Different endpoints? Maybe somehow related.

[2021-11-30 16:25] iusetabs opened #5480 "Cannot install Cri-o 1.19.4 on Ubuntu 20.04"
**Description**

I cannot install cri-o 1.19.4 on Ubuntu 20.04. I receive` E: Unable to locate package cri-o. `

Has 1.19.4 been correctly packaged for Ubuntu 20.04?

**Steps to reproduce the issue:**
1.    `echo "deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.19:/1.19.4/xUbuntu_20.04/ /" > /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list`

[2021-11-30 16:37] haircommander commented on #5480
cri-o 1.19 is out of support, is it possible to use a newer version? If not I can try to take a look, but it'll be best-effort

[2021-11-30 16:52] iusetabs commented on #5480
I can use a newer version sure 😄 However I checked and 1.19.4 seems like it cannot at all be installed using apt for any distribution. Maybe this is something bigger than just 20.04?

[2021-11-30 17:12] haircommander commented on #5480
hm weird. I'll try to take a look, but no promises. since it's EOL, I am  gonna close this. please let me know if you have a trouble with 1.20 or later :smiley:

[2021-11-30 17:12] #5480 closed

[2021-12-02 11:15] gkurz opened #5483 "Relabelling is needed for `/run/.containerenv`"
**Description**

Since recent #5463 PR added the `/run/.containerenv` file, creation of sandboxed PODs with [kata containers](https://github.com/kata-containers/kata-containers) systematically fails when SELinux is enabled on the host.

**Steps to reproduce the issue:**
1. Install kata-containers on a SELinux enabled host
2. Start a POD with kata
3.

**Describe the results you received:**

[code]

[2021-12-03 01:58] #5483 closed

[2021-12-03 13:50] amartinunowhy commented on #1804
Hello. I'm not sure I'm having the same issue, but looking at what podman does and the differences, I found that by adding the following ip-tables rule, it works :

[code]

My understanding is that `KUBE-MARK-MASQ`  adds a mark:

[code]

And that the mark allows the following rules to be run:

[code]

and in particular the last one. I don't really understand what it does but it may be because as 1

[2021-12-03 14:04] GusTheSadGeek commented on #5470
I have been bitten by this too. Same mirror - provo-mirror.opensuse.org  - but xUbuntu_18.04 in my case.

[2021-12-03 14:35] kon-s commented on #5470
It looks like your releasing new versions of the package using the same version number as the old package released previously rather than incrementing the version?
using wget to download the package from 2 different systems (that seem to redirect to different mirrors) I see:
2021-12-03 13:40:54 (7.76 MB/s) - ‘cri-o_1.22.1~0_amd64.deb’ saved [20111360/20111360]]
ls -l cri-o_1.22.1~0_amd64.deb
-rw-r

[2021-12-03 19:25] haircommander commented on #1804
thanks for looking into it! would you be interested in opening a PR @amartinunowhy ? cc @aojea

[2021-12-03 20:39] haircommander commented on #5470
hm, I do admit I haven't bumped the value after the tilde in for deb based systems if I update the build after it was originally built. I am in the process of updating the latest branches of each release, which will hopefully trickle down to each of the mirrors and fix this problem.

[2021-12-04 10:20] aojea commented on #1804
/assign
I'm on vacation until end of next week, but I'll take a look at this, I vaguely remember kubelet is also blocking some 127.0.0.1 traffic due to a CVE, I want to check first if that can impact this

[2021-12-04 17:45] tdashton commented on #5273
Hello! I have the exact same problem. Is this going to be fixed?

[code]

I have podman installed as described in the [official documentation](https://podman.io/getting-started/installation). My exact yum deplist is below including runc.

I ran a yum update and moved from

[code]

@alanpeng do you happen to have an old version of the rpms that have a working version of the containers-common? I can

[2021-12-05 09:28] EvgenyAGRO commented on #5479
@haircommander any updates on that?

[2021-12-06 21:21] haircommander commented on #5470
are folks still seeing this issue?

[2021-12-06 21:41] kon-s commented on #5470
I no longer see an issue since the latest release and I think as long as you continue to bump the version number whenever you release a new version of a package I think the same issue should not re-occur. Thanks.

[2021-12-06 21:50] kon-s commented on #5470
It would also be helpful if in future the older minor versions were left available too for a while at least so that people can continue to use and install those versions while they go through testing and change control processes of the latest version in development environments. ( I realise that was not a good idea on this occasion )

[2021-12-07 14:40] haircommander commented on #5470
what minor version are you looking for? We currently do save them, you can see the list [here](https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers:stable) and follow [the instructions for specific releases](https://github.com/cri-o/cri-o/blob/main/install.md#supported-versions)  to install :)

[2021-12-07 14:40] #5470 closed

[2021-12-07 21:14] sallyom commented on #4734
@haircommander this is complete, it's an experimental feature. Will the 1.23 release include the tracing option?

[2021-12-07 21:15] haircommander commented on #4734
yes it will! I think we can close this then

[2021-12-07 21:15] #4734 closed

[2021-12-08 10:23] kon-s commented on #5470
We are again now seeing an update to the package but the same version number being used:
-rw-rw-r-- 1 xxx xxx 20106072 Dec  3 20:42 cri-o_1.22.1~1_amd64.deb
-rw-rw-r-- 1 xxx xxx 20114532 Dec  7 23:56 cri-o_1.22.1~1_amd64.deb

[2021-12-08 14:03] haircommander commented on #5479
@saschagrunert any ideas?

[2021-12-09 06:46] k100956 opened #5490 "Error log: Failed to create existing container"
**Description**
I checked the similar issues #3259 and #4465 , but fail to fix with the workaround.
My situation is that the error messages were triggered after restarting crio & kubelet.
Though the error messages can disappear after reboot, is there any solution to this problem without rebooting?

**Steps to reproduce the issue:**
1. `systemctl stop kubelet`
2. `systemctl restart crio`
3. `system

[2021-12-09 09:24] saschagrunert commented on #5479
This is tricky, we reassemble the repo digests on image list for such cases:
https://github.com/cri-o/cri-o/blob/d57d2915beeb7f2d32813f4586342d860d710b4b/server/image_list.go#L46-L50

Yeah, but the previous `imageRef` existed until the re-tag or pull of the same image repo name (causing a re-tag). We cannot really know when to update the container status in this case.

@EvgenyAGRO is your use case

[2021-12-09 09:31] EvgenyAGRO commented on #5479
@saschagrunert I'm basically trying to map containers to images they are running, so I first fetch containers, then I list images and create the mapping based on `imageRef` field. So yes I expect that `imageRef ` will be valid to create the mapping properly. I think always using imageID as `imageRef` would solve the problem.

[2021-12-09 09:39] saschagrunert commented on #5479
I have a fix in mind in #5491. @EvgenyAGRO do you think you could give this PR a try?

[2021-12-09 10:04] EvgenyAGRO commented on #5479
@saschagrunert Looks good. A bit busy right now, will try to test it later. Thanks for quick fix.

[2021-12-09 12:32] ledroide commented on #4658
Hello,
The CAP_PERFMON bug is back with cri-o 1.22.1 when using runc-1.0.0-70.rc92 . This version of runc was running fine with cri-o 1.21.4. In Kubernetes, privileged pods (such as calico, dns, metrics-server) fail to start in kube-system.
Upgrading runc to runc-1.0.2-1 solves the issue.
@haircommander : Not sure it is a cri-o or a runc issue ; my comment is there to help anyone who faces the sam

[2021-12-09 14:22] ckruegerkpmg commented on #4988
[code]

[2021-12-10 02:55] frasertweedale commented on #5228
runc PR https://github.com/opencontainers/runc/pull/3057 was merged.  It will automatically chown the cgroupfs to the container process UID when particular conditions are met, as now specified in the OCI runtime-spec: https://github.com/opencontainers/runtime-spec/blob/main/config-linux.md#cgroup-ownership.

Accordingly there is nothing more to be done here.  I leave to a CRI-O maintainer to close

[2021-12-10 03:31] frasertweedale opened #5493 "userns "private" mode can map IDs outside of project's uid-range"
As @nalind described in https://github.com/openshift/machine-config-operator/pull/2862#issuecomment-987959208 and in reference to openshift/openshift-controller-manager#173, the idea for user namespaced builds is to use the userns `private` mode and construct a namespace mapping using the uid-range assigned to the project/namespace.

In the presence of particular SCC configurations, this allows us

[2021-12-10 08:00] giuseppe commented on #5493
why are you using `minimum_mappable_uid` and `minimum_mappable_gid` if you don't want overlapping mappings for your pods?

In that case, I think you should use `auto` and let CRI-O pick a range for you.

[2021-12-10 08:09] frasertweedale commented on #5493
@giuseppe the problem is not so much that the mappings overlap, but that the mappings can invade upon the uid-ranges of other OpenShift project/namespace uid-ranges.  Even when the Pod was admitted via `restricted` SCC.

This arose from my testing of https://github.com/openshift/machine-config-operator/pull/2862, which sets `minimum_mappable_[gu]id` in the default cluster configuration and which i

[2021-12-10 08:47] AkihiroSuda commented on #5348
You have to map 65536 UIDs and GIDs, at least.

[2021-12-10 09:07] giuseppe commented on #5493
my suggestion is then to set the additional IDs for `containers` to a value below `1000000000`.

In this way the ranges picked by CRI-O do not collide with the IDs you can set manually with `uidmapping=` and `gidmapping=`.

If you need the pod to have a distinct range of IDs use `auto`.  If you need to share IDs with other pods use the manual `[ug]idmapping=`

[2021-12-10 14:45] nalind commented on #5493
To clarify, it's fine, and intended, that multiple builds started by users in one OpenShift namespace will use the same ranges.  The concern is that there doesn't appear to be anything preventing users in one OpenShift namespace from attempting to use ranges that are assigned, in OpenShift, to a different OpenShift namespace.

[2021-12-10 15:36] giuseppe commented on #5493
do you think this is something that must be accounted for in the user namespaces support for Kubernetes (https://github.com/kubernetes/enhancements/pull/3065)?

I am afraid we already have a lot of tweaks in CRI-O for configuring the user namespace that won't be available once Kubernetes has support for user namespaces (at the moment the proposal is to make the support for user namespace more like

[2021-12-10 17:53] mtrmac commented on #5479
I think this is going on:

The image resolution code seems to be https://github.com/cri-o/cri-o/blob/d57d2915beeb7f2d32813f4586342d860d710b4b/internal/storage/image.go#L145 , and via that `storageReference.resolveImage`. That code does allow looking up `$repo:$tag`-pulled images via a matching `$repo@$digest` reference which is not explicitly present in `Image.Names`, but the `$repo` must still ma

[2021-12-10 19:19] nalind commented on #5493
"auto" should be fine if we can be sure it will map enough IDs for the pod.  Right now it looks like our default is to choose a single contiguous mapping that will encompass all of the UIDs and GIDs that are used for content in the base image, and to aim for choosing smaller ranges.  For builds using the builder image, the build pod pulls images into in-container storage, so it can easily end up n

[2021-12-10 21:50] wgahnagl opened #5498 "--no-tempdir-cleanup doesn't prevent tempdir cleanup"
**Description**
when running test_runner with --no-tempdir-cleanup, the temp dir that is created gets cleaned up anyway!

**Steps to reproduce the issue:**
1. sudo -E test/test_runner.sh --no-tempdir-cleanup critest.bats
2. check /tmp
3. find that your dir has been deleted!

**Describe the results you received:**
tmp dir created during tests is missing

**Describe the results you expected:**
tmp d

[2021-12-12 03:32] yatakoi commented on #3555
I confirm that enabling IPv6 solves the problem! Thank you!

[2021-12-13 06:44] frasertweedale opened #5499 "userns: minimise mapped range sizes by specifying "needed IDs""
Posted by @nalind in https://github.com/cri-o/cri-o/issues/5493#issuecomment-991231980:

The "private" build controller patch incorporates some guesswork and defaults to ensuring that several of the IDs below 65536 are mapped for the builder, and if we need to use a single range mapping by using "auto", I think we're going to want to configure the node so that we get ranges on the larger side of t

[2021-12-13 08:06] giuseppe commented on #5499
you can already specify some fixed mappings with auto using "auto:uidmapping=...,gidmapping=...`, but the user namespace will still be contiguous (though I am not sure what happens if you force a size that is the same as the number of fixed mappings, perhaps it would already behave as you describe above).

But why do you need to minimize the number of IDs like that?  Are 65k IDs too many for a pod

[2021-12-13 08:11] giuseppe commented on #5493
would it be enough if we force the user namespace size with `auto;size=65536`?  This will behave the closest to what has been proposed for supporting user namespaces in Kubernetes.

[2021-12-13 12:04] frasertweedale commented on #5493
Yes, I think `auto` mode is best, for now.

The general problem with `private` mode is that the userns-mode annotation may come from an untrusted source.  AFAICT, CRI-O has no way of validating the parameters against trusted data, e.g. the `openshift.io/sa.scc.uid-range` annotation on the k8s `Namespace` of the Pod.  So there is a risk of inappropriate mappings.  For example, running (part of) a w

[2021-12-13 14:42] rphillips commented on #5498
https://github.com/cri-o/cri-o/blob/main/test/test_runner.sh#L35

bats doesn't get called with a bash expansion... maybe the script can add $@ to the end of line 35.

[2021-12-13 14:43] haircommander commented on #4658
yeah at this point we hope that folks are using an up-to-date runc that has the fixes. I am glad to hear you have found a way to have such a runc :smiley:

[2021-12-13 16:26] haircommander commented on #5493
Something to note is that CRI-O can't have business logic as it isn't knowledable about users/service accounts. It must directly translate between the annotation and the namespace configuration, and it generally assumes that any information passed by the kubelet is correct. We would want an external admission controller likely, as SCC  may not be the best tool for the job.

What is the risk to the

[2021-12-13 17:22] haircommander commented on #3555
FYI for folks finding this, we have an alternative CNI file and description of when to use it [here](https://github.com/cri-o/cri-o/blob/main/contrib/cni/README.md)

[2021-12-13 20:58] dukekautington3rd commented on #1769
Apologies for resurrecting this issue, and it may be unrelated.  Happy to repost in a different manor if needed.:

I have observed an illusive DNS issue regarding CRIO and this issue kept coming up on my search.
I was able to replicate the issue time and time again and only occurred on k8s + CRIO. Never on docker or containerd.

In each test I used the same "**Nodered/node-red**" image from docker

[2021-12-13 23:17] ooraini opened #5501 "Host network and SELinux type"
When running a Pod with `hostNetwork` the container process will always take the privileged `spc_t` type.

This issue was reported in [openshift/origin/issues/25488](https://github.com/openshift/origin/issues/25488). From the comments the relevant file [container_create_linux.go](https://github.com/cri-o/cri-o/blob/main/server/container_create_linux.go) and [commit](https://github.com/cri-o/cri-o/

[2021-12-14 08:45] saschagrunert commented on #5501
@mrunalp can you remember what the reason for https://github.com/cri-o/cri-o/pull/2900 was?

[2021-12-14 19:07] haircommander commented on #5490
could we have more complete crio logs?

[2021-12-15 08:11] odidev commented on #5181
@pascal71, may I know if this issue has been resolved after the PR #5239 got merged?

[2021-12-15 18:05] haircommander commented on #1769
@dukekautington3rd yeah could we open a new issue? also, in the new issue, I am interested in what the container spec of the nodered container has ended up being. If you do `crictl ps -a` you can get the container id, then `runc list | grep $ctr_id` gets the path to a config bundle (path ends with `bundle`) inside that config bundle is a config.json, could you post that as well? sorry it is so con

[2021-12-15 18:07] haircommander commented on #5501
Basically, we assume that if your container has access to hostNetwork, it is sufficiently powerful and trusted to be able to access files on the host. There are many cases where hostNetwork pods assume they can touch files on the host that aren't labeled to be touched by a container, and a pod that could be considered privileged enough gets denied.

What is the case where you want a specific label

[2021-12-15 22:21] ooraini commented on #5501
There is case for Ingress controllers to deployed on the host network. Ingress is on the data path for every HTTP request entering the cluster and you would definitely want it be more secure. It's not really a strong case as you have to escape the container(somehow) for SELinux to be relevant(also the case for all other containers).

[2021-12-16 03:04] #4790 closed

[2021-12-16 03:40] paulnivin commented on #4790
@haircommander Sorry, I missed the updates here. We can give the code a spin. Thanks for adding

[2021-12-16 14:25] ajwock commented on #5228
Wanted to come back and say that I've had a chance to test this stack, and it works perfectly!  I'm able to get the cgroup hierarchy delegated to a user on the host namespace with the cgroup2-mount-hierarchy-rw annotation in cri-o set to "true" and with default settings on the newest (built from github source) runc.  Perhaps in the future we can get a setting to the cgroup.max.descendants for the

[2021-12-16 14:25] #5228 closed

[2021-12-16 16:16] justabaka commented on #5375
That is a a few months old local CA certificates issue, not CRI-O's in any part. Your system administrator should've fixed this a long time ago. https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

[2021-12-16 17:38] dukekautington3rd commented on #1769
I appreciate your response so quickly @haircommander .
After much hair pulling, I've discovered that the issue for me was with the default  "ndots" configuration in the DNS policy.
With Docker, this, supposedly defaults to "0" in `/etc/resolv.conf`

When deploying Cri-o this configuration is set to "5" This means that if any domain lookup has less than 5 dots in the FQDN including the invisible tr

[2021-12-16 18:24] haircommander commented on #1769
I am glad you found it!

[2021-12-16 18:41] thanos1983 commented on #5375
On Ubuntu 21.04 the problem is fixed. It is related to the OS CA not to CRI-O.

But never the less the proposed workaround is simply run:

[code]

The problem is fixed after.

Hope this helps.

BR / Thanos

[2021-12-16 20:12] rhatdan commented on #5501
That is a bad decision, I know of no reason why a container should run SELinux privileged just because it is in the host network.  PID Host and IPC Host is a different matter.  But the network namespace does not help or hurt SELinux.

[2021-12-16 21:44] vadimzharov commented on #5181
I have RPi cluster which was affected by this bug (k8s 1.21 with cri-o 1.21.2).
I reinstalled the cluster with cri-o 1.22 immediately after new release became available and since then don't have any issues.
Right now I have two RPi nodes with Ubuntu 21.04, cri-o 1.22.1 and k8s 1.22.1 and uptime is 41 days without any CPU issues.
k8s deployed using kubeadm.

[2021-12-17 02:17] #5426 closed, assigned to swghosh

[2021-12-17 06:42] k100956 commented on #5490
Here are the logs after restarting kebelet and crio:
[crio_log.txt](https://github.com/cri-o/cri-o/files/7732567/crio_log.txt)
[kubelet_log.txt](https://github.com/cri-o/cri-o/files/7732569/kubelet_log.txt)

[2021-12-17 07:59] saschagrunert commented on #5501
I fear that we introduce a breaking behavior when we remove it. Even if we make it configurable, at some point we have to turn the defaults to `false` which would then also break on upgrades.

[2021-12-17 10:36] rhatdan commented on #5501
SELinux does not enforce at the network layer.  So I don't see this as a breaking change.  There is potential that a container does need SELinux to be disabled but not because it is sharing a network namespace.  I believe this should be changed, perhaps wait until a next major release.  But I don't think we should say we can never increase security because we are afraid we might break something.

[2021-12-17 11:03] saschagrunert commented on #5501
Good, let's give it a try in https://github.com/cri-o/cri-o/pull/5512

[2021-12-19 18:02] uablrek commented on #4276
I run into this when trying antrea with cri-o and I found an "interesting" work-around (beside re-start cri-o): when `/etc/cni/net.d/10-antrea.conflist`, wait a few seconds then do;
[code]
and everything start to work :smiley:

Seems like `cri-o` reads /etc/cni/net.d *once* when it changes and if things doesnt work, for instance because /opt/cni/bin is not populated, it just sits and wait until ne

[2021-12-19 18:24] uablrek commented on #4276
My silly work-around start script;
[code]

[2021-12-19 20:27] Spybull commented on #5490
I've the same problem with the same configuration.
In kubelet log:
`kubelet[3551562]: E1219 04:18:52.560731 3551562 manager.go:1123] Failed to create existing container: /kubepods.slice/kubepods-besteffort.slice/kubepods-besteffort-pod869c63f2_ff53_496c_8714_eff84f33a87c.slice/crio-4f59eaf9ec3771af33a0c13656b617c9a8cb4a07481e1253b2eb21e7f1d2248d.scope: Error finding container 4f59eaf9ec3771af33a0c

[2021-12-22 20:04] haircommander commented on #4276
We currently should be listening for both new files and changed files in the cni config directory. I wonder if the file being updated by the cni plugin is actually changing, and if we're missing a write because it isn't. I can't think of any other reason this may happen other than simply a dropped inotify message...

[2021-12-22 20:11] haircommander commented on #5490
could I see CRI-O's debug level logging? also I am wondering the output of `crictl pods` and `crictl ps -a`. Also, a workaround may be to do
[code]

[2021-12-23 03:40] k100956 commented on #5490
Here are the CRI-O's debug level log.
[crio_debug.log](https://github.com/cri-o/cri-o/files/7766517/crio_debug.log)

crictl pods:

[2021-12-23 15:23] haircommander commented on #5490
ahh okay so what you're running into is the non host network pods can't be cleaned up because the networking pod isn't running. kubernetes doesnt' do a very good job of differentiating pods that are vital to the system (like the networking pod) vs others, so it removes them out of order and hits this. That's for the `crictl rmp -fa` case. sorry to keep asking for logs, but I am wondering what logs

[2021-12-24 07:23] Chathuru commented on #4658
Upgrading runc to runc-1.0.2-1 solves the issue for me as well

[2021-12-27 02:13] k100956 commented on #5490
@haircommander  Here is the crio log ( didn't do `crictl rmp -fa`).
[crio_debug1227.txt](https://github.com/cri-o/cri-o/files/7778006/crio_debug1227.txt)

[2021-12-28 09:17] visheyra commented on #4276
Hello, adding a 👍  here as I have the same behaviour with kubeadm 1.22.1 / cilium 1.10.6 and cri-o 1.22, As stated a bit above, restarting the the cri-o unit solve the issue.

[2021-12-29 18:34] ldanielw1 opened #5526 "Official Ubuntu Repos only install 1.1"
Latest installs with `apt-get` on ubuntu only install 1.1 - is there any chance we can get an update up to 1.5?

[2022-01-03 11:12] glitchcrab opened #5527 "Pods with memory requests/limits set cannot start on 1.23.1 + ubuntu 2004 + cri-o 1.23.0"
**Description**

This cluster was originally created with k8s 1.22.2 on ubuntu 2004 vms using kubeadm with no special config. When upgrading to 1.23.1, pods with resource requests and/or limits set fail to start with the following error:

[code]

cri-o logs show the following:

[code]

**Steps to reproduce the issue:**
1. use kubeadm to upgrade the cluster
2. upgrade cri-o from suse/libcontainers

[2022-01-03 12:44] bart0sh commented on #2885
@haircommander I also experienced this issue recently. I've tried 3 CNI plugins: calico, weave and flannel and had networking messed up with all of them. The issues were hard to debug.
Can you explain why CRI-O installs 100-crio-bridge.conf and which use cases does it solve? If those use cases are not often used it would make sense to remove CNI configuration files from the CRI-O packages in my op

[2022-01-04 14:34] haircommander commented on #2885
there are cases where users don't want the complex cni plugins and just want simple host<->container communication, and the bridge plugin satisfies that.

What files do calico, weave and flannel create in that directory? Maybe we can make it so that the bridge plugin has lower priority than those and they're chosen instead. That was the intention, but I see it doesn't seem to be working

[2022-01-04 15:49] haircommander commented on #5526
sorry, what is at version 1.1? I don't think cri-o technically ever released a 1.1 (we skipped from 1.0 to 1.9 to match kubernetes releases)

[2022-01-04 15:53] haircommander commented on #5527
that is bizarre. @giuseppe do you have any insight? we use the podman IsCgroup2UnifiedMode to verify we're on cgroupv2.

@glitchcrab can you run a sanity check `stat -f -c%T /sys/fs/cgroup`? that is basically the same check the podman function is making

[2022-01-04 18:45] bart0sh commented on #2885
@haircommander
weave creates 10-weave.conflist, calico doesn't create anything in the /etc/cni/net.d and flannel creates 10-flannel.conflist

However, the problem as I can see it is that k8s control plane is usually setup without installing any CNI plugin. At least this is the workflow kubeadm suggests to use. So, if runtime (CRI-O in this case) enables CNI it breaks that workflow. As a result cor

[2022-01-04 18:52] glitchcrab commented on #5527
@haircommander sure, this is the output:

[code]

[2022-01-04 18:57] haircommander commented on #5527
interesting, where is your systemd cgroup mounted at? and what is the output of `stat -f -c%T $path` of that path

[2022-01-04 18:58] haircommander commented on #5527
oh and what kernel args did you use to set cgroupv2?

[2022-01-04 19:09] haircommander commented on #2885
ah yes this makes sense. I suppose the solution would be to separate the CNI plugin installation from CRI-O, and have the CNI plugin installation optional. We would also need to update documentation to make sure users see how best to install the bridge plugin if they're looking for that.

out of curiosity, what operating system are you installing on @bart0sh ?

[2022-01-04 21:33] ldanielw1 commented on #5526
oh man I'm so sorry, posted in the wrong repo. Please ignore this ticket...

On Tue, Jan 4, 2022 at 7:49 AM Peter Hunt ***@***.***> wrote:

[2022-01-04 21:38] haircommander commented on #5526
all good, hope you find your issue

[2022-01-04 21:38] #5526 closed

[2022-01-04 21:51] matthias50 commented on #2885
In case it helps, with our usage of Calico, we have /etc/cni/net.d/10-calico.conflist

[2022-01-05 08:08] bart0sh commented on #2885
@haircommander I reproduced it at least on Ubuntu 18.04, Ubuntu 20.04 and OpenSUSE Leap 15.2

Yes, making CNI plugin installation optional and disabled by default would help, I believe.
If you can briefly explain how to do it I'll try to come up with a PR.

[2022-01-05 08:28] giuseppe commented on #5527
the system is not using the cgroupv2 unified hierarchy.  With cgroupv2 the output should look like:

[code]

Please make sure to pass `systemd.unified_cgroup_hierarchy=1` on the kernel command line

[2022-01-06 17:22] glitchcrab commented on #5527
apologies, i didn't realise that i hadn't configured the machines properly. I've now done that:

[code]

And the same issue occurs, albeit with a slightly different error:

[code]

this is with *cri-o 1.23* installed again. node configuration remains the same as mentioned in my original issue details.

[2022-01-06 18:31] haircommander commented on #5527
can we have the crio logs now? it seems crio is trying to set swap for the container (maybe swap is on) but the memsw cgroup isn't configured. We should gracefully handle this situation but clearly aren't

[2022-01-06 20:38] haircommander commented on #5399
hey @dilyanpalauzov sorry I totally missed this

honestly, I don't know what happens. I would probably recommend go all rootless or all rootful

@giuseppe any comment on the usage of this variable?

yeah these are separate pieces of documentation. the latter is how you are allowed to specify mount_program. The former is a requirement to *avoid* setting the mount_program to fuse-overlayfs (that way

[2022-01-06 22:36] glitchcrab commented on #5527
These are the debug logs from about 1-2s before I attempted to schedule a pod on that node: [crio-debug.log](https://github.com/cri-o/cri-o/files/7825107/crio-debug.log)

[2022-01-07 05:08] nemat-rakhmatov commented on #5527
Though the issue opened for upgrading to 1.23.1 the same issue arises when creating the cluster from scratch. I'm new to the kubernetes world and learning how to create the cluster following the guides on kubernetes.io. I was struggling with creating a cluster on my test lab with 1.23 until I've found this issue and using the version 1.22 solved my issue. First it was related to the cgroups config

[2022-01-07 08:03] giuseppe commented on #5399
it is needed when running rootless.  It tells CRI-O to configure the container in a way that is usable in a rootless environment.

You need to do a lot of manual configuration if you want to use directly cri-o in rootless mode.  Have you considered using usernetes?

[2022-01-07 15:35] haircommander commented on #5527
sorry should have been more clear. I'll need the logs from the beginning of the cri-o run (specifically, I want to see if we're correctly seeing that memsw is not setup)

[2022-01-07 15:35] haircommander commented on #5527
cgroupv1 or cgroupv2?

[2022-01-07 17:14] nemat-rakhmatov commented on #5527
I guess it is cgroupv2, I've set the systemd.unified_cgroup_hierarchy=1 in grub and it showed cgroup2fs for the command: stat -f -c%T /sys/fs/cgroup
But after came the swap memory error "....scope/memory.swap.max not found"
And I decided to go with 1.22

[2022-01-07 17:20] haircommander commented on #5527
yeah that sounds like cgroupv2. I am guessing CRI-O reports a log line like `node configuration validation for memoryswap cgroup failed: node not configured with memory swap` Would you mind adding `swapaccount=1` to the kernel cmdline and trying 1.23 again? I'm also in conversation with @ehashman (author of kubernetes swap work) about what to do in this situation

[2022-01-07 18:20] haircommander commented on #5490
ahh since you're using calico, you'll need to exclude them from the list of pods you delete, then delete the calico pods last. This is because deletion of the other pods relies on calico running:
`pods=$(crictl pods | grep -v calico | awk '{ printf $1"\n" }'); crictl rmp -f $(pods); crictl rmp -fa` should actually clear cri-o's state.

[2022-01-07 18:31] haircommander commented on #5527
also just to check, is swap enabled?
`swapon -s`

[2022-01-08 13:31] nemat-rakhmatov commented on #5527
I've disabled swap as a first step for kubernetes preparation. ;)

[2022-01-08 13:32] nemat-rakhmatov commented on #5527
I may try again on in a few days. I'll let you know the outcome.

[2022-01-08 14:13] nemat-rakhmatov commented on #5527
Ok, it was a quick test :)
`kubectl get pods --all-namespaces
NAMESPACE     NAME                                  READY   STATUS                 RESTARTS   AGE
kube-system   coredns-64897985d-5jzt2               0/1     CreateContainerError   0          31s
kube-system   coredns-64897985d-5tmnw               0/1     CreateContainerError   0          31s
kube-system   etcd-k1-123-test

[2022-01-09 13:43] glitchcrab commented on #5527
this debug log is from the node booting with debug logging enabled:  [debug.log](https://github.com/cri-o/cri-o/files/7835161/debug.log)

[2022-01-10 06:44] k100956 commented on #5490
I tried your solution and got the following logs.
The k8s api-server was built in a container, and the logs showed that the container cannot be deleted due to the connection failure between the container and the k8s api-server.

[code]

Then I checked the kubelet log, and found out that the same problem persists...
[code]

[code]

[2022-01-10 20:06] fidencio opened #5536 "[RFE] Consider showing from which file a configuration printed with`crio config` comes from"
`crio config` is a very nice command, mainly as it provides the final configuration combining all the possible snippets present in `/etc/crio/crio.conf.d`.

However, in a scenario where way too many configuration files are present, figuring out where a (faulty) configuration comes from may be tricky.  In this scenario. having a way to know where (as in, from which file) the final configuration is

[2022-01-10 21:14] glitchcrab commented on #5527
[code]

[2022-01-11 19:04] haircommander commented on #5527
oopsies, this is definitely just a bug in cri-o: https://github.com/cri-o/cri-o/pull/5539

[2022-01-12 08:20] saschagrunert commented on #5501
Closing this one, see https://github.com/cri-o/cri-o/pull/5512#issuecomment-1010762743

[2022-01-12 14:21] haircommander commented on #5501
cross posting with https://github.com/cri-o/cri-o/pull/5512#issuecomment-1011092477

I just had an idea: what if we added a config field that toggled this behavior? Add field in 1.24, true by default and deprecated by 1.25, dropped field in 1.26. that way, we give users time to update their deployments

[2022-01-13 08:15] saschagrunert commented on #5501
It would not solve the issue that, if we switch the default, it would implicitly break deployments if the user did not take any action before. :thinking:

[2022-01-13 14:53] haircommander commented on #5501
true, though if we were clear enough in documentation/logging *and* manually tested some of the upstream plugins as part of the deprecation, we could largely mitigate the issues AFAICT

[2022-01-13 15:12] saschagrunert commented on #5501
This is a good first issue for a new contributor. :+1:

/help
/milestone 1.24

[2022-01-14 13:08] rhatdan commented on #5501
If the config gets added, it should default to secure.

[2022-01-17 19:25] haircommander commented on #2885
Okay I have discussed this with @lsm5 . We can set the containernetworking-plugins as "Suggests" instead of "Recommends" in the spec file. I think we should wait until 1.24 to do so, to simplify documentation changes and not confuse users. Is that acceptible @bart0sh @matthias50 ?

[2022-01-18 08:42] bart0sh commented on #2885
@haircommander

Absolutely

[2022-01-18 10:16] #4770 closed

[2022-01-18 10:50] jamesread opened #5549 "Duplicate IPs / PLEG is not healthy"
Note: I asked this on the Kube slack, and @haircommander recommended I raise a issue.

**Description:** Applications on my cluster are having issues because pods appear to be getting "duplicate" IP addresses when using cri-o bridge. In researching this, I also found that I'm getting a "PLEG is not healthy" log in kubelet.

This is a small Fedora 35 cluster (not CoreOS) running on libvirt, 1 master

[2022-01-18 19:04] volker-raschek commented on #2885
Hi @bart0sh,

I have exactly this problem with all of this CNI plugins on my Arch Linux cluster and I can commit that all of my coredns pods get an IP-Adresse of `10.85.0.0` subnet. I was very irritated, because I specified `10.244.0.0/16` as pod-cidr. DNS queries within the cluster do not work.

Is there a workaround to solve the problem? I have tried to remove the `/etc/cni/net.d/100-crio-bridge

[2022-01-18 19:19] bart0sh commented on #2885
@volker-raschek I'm using the following workaround:
 - install cri-o
 - delete everything from /etc/cni/net.d
 - setup node with kubeadm
 - install cni plugin (wave, flannel, calico, etc)

This way you can ensure you have only one cni plugin running and all pods will get addresses from it

[2022-01-18 19:23] bart0sh commented on #2885
@haircommander

Does this mean that it will work only for rpm distros? Can you point me out to the deb packages? Are those hosted by this project or done by distros themselves?

[2022-01-18 19:28] haircommander commented on #2885
they're also packaged by me. I'll have to investigate a bit. it currently looks like we only `Suggests:` for deb packages, so maybe we need to update the install.md to skip installing instead

[2022-01-18 19:45] bart0sh commented on #2885
@haircommander btw, containernetworking-plugins doesn't contain CNI configuration files on Ubuntu. Are you planning to move them there?

[2022-01-18 20:18] haircommander commented on #2885
hm maybe I've confused myself with the packaging structure. it's possible the ones we ship are wrapped up in our containers-common package...

[2022-01-18 21:45] haircommander commented on #5549
@saschagrunert any ideas here?

[2022-01-19 08:08] volker-raschek commented on #2885
Hi  @bart0sh,
thank you for the workaround. Besides the CNI configurations under `/etc/cni/net.d`, the extension of the `plugin_dirs` property was missing in the `crio.conf` configuration, because `crio` doesn't seem to look in `/opt/cni` for the rolled out plugins by default. I created a drop-in file.

[code]

In the Wiki of Arch Linux are booth the problems [documented](https://wiki.archlinux.or

[2022-01-19 08:32] saschagrunert commented on #5549
The bridge plugin assumes that all containers are on the same host and does therefore not support multi-node clusters.

[2022-01-19 09:41] jamesread commented on #5549
Hey @saschagrunert , heh, it's a mistake on my part then - I've not seen the CNI docs site before, but that explains it. I guess I could have inferred from the name - "beidge", but ah well.

Is this worthy of a minor doc PR to https://github.com/cri-o/cri-o/blob/main/tutorials/kubeadm.md that may avoid people making the same assumption? - point out that the bridge plugin in it's default config is

[2022-01-19 10:42] bart0sh commented on #2885
@volker-raschek

That sounds quite strange to me. If cri-o doesn't have access to CNI binaries how did you manage to get bridge CNI IPs assigned to your coredns pods?

We're working on this :) This issue is part of the work.
If you want to help you can update [this](https://kubernetes.io/docs/setup/production-environment/container-runtimes/) and [this](https://kubernetes.io/docs/setup/production-e

[2022-01-19 10:45] bart0sh commented on #2885
@haircommander JFYI: podman seems to enable bridge CNI on Ubuntu 20.04
[code]

[2022-01-19 11:40] saschagrunert commented on #5549
Sure, do you mind opening a PR for this?

[2022-01-19 14:30] matthias50 commented on #2885
I think so. To summarize, the proposal is to separate the plugin configuration files: /etc/cni/net.d/100-crio-bridge.conf and /etc/cni/net.d/200-loopback.conf into a separate package, say `containernetworking-plugins` and have this package be "Suggests". This will have the effect of the files not being installed automatically on RPM distros when one does a `dnf install cri-o` Correct?

[2022-01-20 16:14] AndreasDavour opened #5553 "Packaging for AlmaLinux 8 requested"
**Description**

Considering the status of CentOS 8 having changed, it would be quite interesting to have AlmaLinux 8 as a supported packaged operating system.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`

[2022-01-20 17:18] haircommander commented on #5553
we're limited by the distros SUSE's OBS (build.opensuse.org) supports. However, I see no reason why the centos 8 or centos stream 8 versions wouldn't install correctly. Can you give those a try?

[2022-01-20 17:22] haircommander commented on #2885
correct!

I believe, though without any evidence at present, that cri-o should ignore the podman ones, and vice versa

ah, we did this to be able o package the cni plugins without interfering with docker/containerd installation I believe. I think we can extend the list of plugin dirs to both in 1.24 as well

[2022-01-20 20:25] bart0sh commented on #2885
I'm more concerned about Kubernetes here. It will not ignore either of those.

[2022-01-21 07:42] AndreasDavour commented on #5553
I did and got a bunch of issues with the repos, and I did not get it to work by just substituting for CentOS 8.
I guess I could dig deeper into why, and probably will have to then. It does look like there's something wrong with the repos, though when I took a quite peek with a browser.

[2022-01-22 17:51] grunlab opened #5562 "cri-o Debian_11 repository - Add armhf support"
Could you please add armhf support inside cri-o Debian_11 repository:
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/Debian_11/

My configuration:
- hdw: odroid hc1 (armhf)
- os: armbian-bullseyes (debian 11) --> https://www.armbian.com/odroid-hc1/

Note: when running armbian-buster (debian 10), pointing to Raspbian_10 cri-o repo is working perfectly:
h

[2022-01-24 12:46] materkey opened #5563 "Error: error creating mtab directory"
**Description**

**Steps to reproduce the issue:**
1. run container image - https://github.com/remote-android/redroid-doc

**Describe the results you received:**
mtab error, container do not running

**Describe the results you expected:**
container is running

**Additional information you deem important (e.g. issue happens only occasionally):**
this problem fixed in podman
https://github.com/conta

[2022-01-24 14:48] haircommander commented on #5563
@QiWang19  could you PTAL

[2022-01-24 15:46] jwcesign opened #5565 "Is there a lib like `github.com/containerd/containerd` for using?"
I want to use the lib for calling api of crio, is there any lib like `github.com/containerd/containerd`?
Like this: https://pkg.go.dev/github.com/containerd/containerd

[2022-01-24 16:48] haircommander commented on #5565
the main way of talking to CRI-O is through the CRI API grpc socket. you can see a reference client implementation in [crictl](https://github.com/kubernetes-sigs/cri-tools/tree/master/cmd/crictl).

[2022-01-24 19:18] grunlab commented on #5562
armv7l should be ok:
[code]

[2022-01-24 19:20] materkey commented on #5563
https://github.com/cri-o/cri-o/pull/5564#issuecomment-1020455754

[2022-01-24 19:24] #5563 closed

[2022-01-24 20:51] haircommander commented on #5562
I've added them!

[2022-01-24 21:28] ilyesAj commented on #5490
any upadates on this subject ? @k100956 how did you manage the issue ?

[2022-01-25 01:18] jwcesign commented on #5565
Hi, @haircommander , I want to call pause/unpause for cri-o, but in CRI API, there is no this function. Is there a way to do this?

[2022-01-25 02:44] k100956 commented on #5490
@ilyesAj  So far I can just reboot my host as a workaround for this issue.

[2022-01-25 13:41] saschagrunert commented on #5549
Closing for now, feel free to spin-up a PR for the docs @jamesread

[2022-01-25 13:41] #5549 closed

[2022-01-25 13:54] haircommander commented on #5565
ah I see. We don't technically support any operations that aren't needed by the CRI. what are you trying to do? it's possible you could pause the underlying container, do your work, and unpause it. I've never tried it and it's possible the kubelet could get confused, but if you're already subverting the kubelet and calling operations directly in cri-o that'll likely happen anyway

[2022-01-25 14:57] gozssky opened #5569 "cri-o couldn't restore sandbox after restart"
**Description**

**Steps to reproduce the issue:**
1. `systemctl restart crio`

**Describe the results you received:**

[code]

Then crio created a new sandbox and the old sandbox was leak.

**Describe the results you expected:**

crio could restore the existing sandbox.

**Additional information you deem important (e.g. issue happens only occasionally):**

runtime is kata
[code]

**Output of `cri

[2022-01-25 15:03] gozssky commented on #5569
It seems `runtimeVM.task` has not been restored after restart.

[2022-01-25 15:32] haircommander commented on #5569
ah you've discovered one of our oldest unsolved bugs: https://github.com/cri-o/cri-o/issues/2112 :)

[2022-01-25 15:35] gozssky commented on #5569
@haircommander yes, it looks like the bug hasn't been fixed yet

[2022-01-25 16:10] gozssky commented on #2112
Is there any progress on this issue?

[2022-01-25 19:46] grunlab commented on #5562
Perfect, armhf packages are now available for the version 1.22:
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/Debian_11/

I was able to install cri-o on my host:
[code]

Could you please make sure that armv7l will also be available for the next releases --> currently missing in 1.23 : https://download.opensuse.org/repositories/devel:/kubic:/libcontaine

[2022-01-25 21:10] haircommander commented on #5562
ah yes I'll update 1.23. future releases will be built off of that so they should inherit them after

[2022-01-25 21:23] haircommander commented on #2112
I don't believe so. @gozssky do you have any interest in to fix?

[2022-01-26 01:07] jwcesign commented on #5565
Thanks @haircommander , I see the podman can call pause command, I will check it how it pause the containers.

[2022-01-26 01:19] #5565 closed

[2022-01-26 05:40] gozssky commented on #2112
@haircommander Yes, I will take a look. This bug does affect our service.

[2022-01-26 13:17] haircommander commented on #2112
excellent to hear! please reach out if you have any questions
/assign @gozssky

[2022-01-26 13:39] gozssky commented on #2112
@haircommander I have a submitted a PR https://github.com/cri-o/cri-o/pull/5574. PTAL thanks.

[2022-01-26 14:52] grunlab commented on #5562
Perfect. Thank you.

[2022-01-26 15:08] #5562 closed

[2022-01-27 16:49] alicefr opened #5578 "[RFE] Select the storage driver based on the workload/runtime type"
**Description**

Today, cri-o supports a single storage driver at the time and the suggested/default is overlayfs for standard containers. For VM-based runtimes, the current solution is to share the container filesystem mount point using [9p](https://www.kernel.org/doc/Documentation/filesystems/9p.txt) or [virtiofs](https://virtio-fs.gitlab.io/). However, this doesn't offer the best performance, a

[2022-01-28 08:49] saschagrunert commented on #5578
Hey @alicefr, thanks for rising this feature request! I think it is definitely worth a PoC in CRI-O, especially to find out how much complexity it would add as well as finding possible pitfalls.

A more general question: Would you be fine in working on this PoC or do you require help from our side?

[2022-01-28 14:00] alicefr commented on #5578
Hi @saschagrunert , yes I'd love to :). Let me have a first evaluation and if I need help I can always ask questions here or in slack

[2022-02-02 06:01] Wang-Kai commented on #3555
Thx, i fix it with:

[code]

[2022-02-02 08:13] alicefr commented on #5578
An issue with this approach I haven't considered initially. At pulling time, we are not able to know which runtime type we are going to use but only at container creation/start.

[2022-02-02 08:28] alicefr commented on #5578
Would be possible to read an annotation during image pulling and select the storage driver?

[2022-02-02 08:56] saschagrunert commented on #5578
Yeah the `ImageSpec` has annotations:
https://github.com/kubernetes/cri-api/blob/897a1c6f320122f3f74e7a5bd9594a863210b016/pkg/apis/runtime/v1/api.proto#L669-L672

The kubelet passes the annotations of the pod for which the image should be pulled. :+1:

[2022-02-03 14:26] alicefr commented on #5578
From a first look in the code, the obvious changes are:
+ Extend the [config](https://github.com/cri-o/cri-o/blob/main/pkg/config/config.go) part to parse multiple storage driver and options
+ Extend cri-o cli to accept multiple options for the storage driver and options
+ Define an annotation that allows selecting the storage driver
+ Define a field for the default storage driver
+ Adjust the uni

[2022-02-03 15:24] saschagrunert commented on #5578
The `ContainerServer` contains a bit more which is coupled to the underlying storage, for example the `storageRuntimeServer` depends on the `storageImageServer`. There is also the plain container storage used for server shutdown and restore:

https://github.com/cri-o/cri-o/blob/293de815e32d6cdadc368efde45b49fe384003b4/internal/lib/container_server.go#L40-L42

I think it would make sense to combine

[2022-02-04 09:51] Wang-Kai opened #5598 "The installation instructions of Debian need be improved"
**Description**

The installation instructions of Debian need be improved.

**Steps to reproduce the issue:**
My OS is `Debian 11`, but after reading [install.md](https://github.com/cri-o/cri-o/blob/main/install.md) i can not know what value should i set for `OS` , until i check [download.opensuse.org/repositories](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri

[2022-02-04 13:18] hasan4791 opened #5600 "Checksum details for the releases."
Hello team,

I'm looking for checksum details for the release in this link and not able find one. We need this to check the file integrity after every download.

https://github.com/cri-o/cri-o/releases/tag/v1.21.4

Thank you

[2022-02-04 14:51] #5598 closed

[2022-02-04 14:56] haircommander opened #5601 ""metrics container oom" test flakes"
seems to mostly happen in github actions

example run: https://github.com/cri-o/cri-o/runs/5054173428?check_suite_focus=true

[2022-02-07 07:20] AndreasDavour commented on #5553
I did some more tests, and managed to get CentOS 8 settings to work on AlmaLinux. It was a copy and paste error.

[2022-02-07 07:20] #5553 closed

[2022-02-07 12:53] tirjak opened #5603 "Unable to install using Distribution Packaging"
Hi,
I am trying to install cri-o on my centos 7 machine. I followed the below steps to download the repo files and do the installation using yum. But the given url to download the repo is not valid. it's showing "Resource is no longer available!"

I followed these steps. I am not getting anything in repo files.

[2022-02-07 15:39] haircommander commented on #5603
what is the value of VERSION And OS ?

[2022-02-07 15:55] kalaytan commented on #4941
Is there is any available solution/hack to allow authentication with mirrors?

[2022-02-07 18:14] mtrmac commented on #4941
Add the credentials to the cluster-global pull secret (or, outside of OpenShift, to the CRI-O configuration).

There isn’t any way to provide pod-specific / user-specific mirror credentials.

[2022-02-07 21:07] SudoNova commented on #5490
Happened to me as well.
[code]
[code]

[2022-02-07 21:22] haircommander commented on #5490
does crio think those pods are still up? after crio restarts, I'd expect the following sequence:

crio realizes those pods are running and restores them
kubelet asks for a list of pods, crio returns the stale, restored pods
kubelet asks to remove those pods, which crio does
kubelet asks to create new pods

instead, it seems one of those steps is missing, so kubelet and crio are having trouble reco

[2022-02-07 21:57] SudoNova commented on #5490
@haircommander Until the logs are getting accumulated, (crio=debug, kubelet=v5, please tell me if  more/less verbosity is needed), this is interesting:
[code]

[2022-02-07 22:01] SudoNova commented on #5490
[code]
This is reported  by crio. Don't know how it related to eth0 as I don't have such NIC.

[2022-02-07 22:20] SudoNova commented on #5490
[crio.log.gz](https://github.com/cri-o/cri-o/files/8019139/crio.log.gz)
[kubelet.log.gz](https://github.com/cri-o/cri-o/files/8019142/kubelet.log.gz)
Please tell me what else is needed

[2022-02-08 16:27] thediveo opened #5609 "[RFE] Event API for container lifecycle events"
The [CRI API](https://github.com/kubernetes/cri-api) today is (if I'm not mistaken) on purpose design from the perspective of the k8s kubelet that uses a polling model to supervise container runtimes.

In some use cases, such as OT (operation technology) workloads, it becomes necessary to deploy system (worker node and work load) diagnosis tools for Linux kernel-level resources (namespaces, proces

[2022-02-08 19:01] haircommander commented on #5600
hello @hasan4791 we don't currently post checksum values. I see it as a good RFE, but it may take some work to automate, or add to the manual overhead of doing cri-o releases (which is not negligible). Do you have any interest in automating checksum generation and uploading with our github actions workflow?

[2022-02-08 19:22] haircommander commented on #5490
sorry @SudoNova, the logs are out of date. I'll need the whole crio and kubelet log using `-b`, these are truncated and don't get me what I need. specifically, I need to see crio's startup output to see what it restores and the kubelet's output to see what is seeing as having been restored

[2022-02-09 05:15] hasan4791 commented on #5600
@haircommander here you go sir.

[2022-02-09 07:41] harche commented on #5609
Thanks @TheDiveO for submitting this issue. Coincidentally, I have been experimenting with the idea of adding events stream from the runtime to the kubelet. Its still in it's early stage, envisioning how the CRI API should look like for supporting the such an event stream.

- API method - https://github.com/harche/kubernetes/blob/event_pleg/staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto#

[2022-02-09 08:01] TheDiveO commented on #5609
@harche thank you very much for this quick first response and offering to discuss it further, I highly appreciate this!

Not surprisingly, we probably come from different use cases (which is good), so I need to explain mine a little bit further. In my case, I'm not monitoring an individual container instance, but instead a specific set of `ContainerEventType`s. This includes containers being start

[2022-02-09 17:46] haircommander commented on #5527
fix is merged in main branch, I'm backporting to 1.23 and intend on cutting a 1.23.1 soon

[2022-02-09 17:46] #5527 closed

[2022-02-09 21:13] #5600 closed

[2022-02-10 06:27] harche commented on #5609
Containerd is composed of several independent `plugins` that need much more richer eventing mechanism. CRI has a sharp focus on being the interface between the kubelet and the runtime (like `cri-o` or `containerd`). So while designing the `events` interface for the CRI we need to keep that in mind.

But everything is still it's early stage, and nothing is set on the stone yet (in fact far from it)

[2022-02-10 10:44] alicefr commented on #5578
Created in [cri-tools](https://github.com/kubernetes-sigs/cri-tools) a [PR](https://github.com/kubernetes-sigs/cri-tools/pull/892) for adding annotations on the image pulling

[2022-02-10 21:19] haircommander opened #5622 "Redefine concept of "sandbox" and define interface for creating one"
TL;DR: this proposal describes a clean way to integrate the work being done for [conmon 3.0/conmon-rs](https://github.com/containers/conmon-rs), by redefining how CRI-O creates sandboxes/pods

Historically, sandboxes in CRI-O have been very tied to the infra container. Most of the sandbox creation code involves creating the infra container. However, there exists a world (perhaps in the not too dis

[2022-02-11 00:37] #2112 closed

[2022-02-11 23:50] phiremath opened #5631 "for release-1.22 "make crio.conf" generates empty crio.conf file..."
For release-1.22 branch, "make crio.conf" generates an empty crio.conf. For master branch we get a crio.conf file we can use.

[2022-02-14 02:14] jwcesign opened #5632 "Impelemt none-CRI API - PauseContainer"
## Background
for podman and containerd, both provider the api to pause/unpause running processing in container.
Like: https://docs.podman.io/en/latest/_static/api.html#operation/ContainerPauseLibpod
There is many usecase for customers. For my team, we use it to set the instance to idle state(where process is moved to freeze cgroup)

## What I want
Maybe the implementation need to be considered, i

[2022-02-14 02:19] jwcesign commented on #5632
cc @haircommander

[2022-02-14 15:09] haircommander commented on #5631
yes this was https://github.com/cri-o/cri-o/issues/4770 which was fixed in https://github.com/cri-o/cri-o/pull/5007. We've been considering a backport but haven't done so yet
cc @wgahnagl

[2022-02-14 18:57] haircommander commented on #5569
fixed by https://github.com/cri-o/cri-o/pull/5574

[2022-02-14 18:57] #5569 closed

[2022-02-14 19:15] klihub opened #5640 "REQUEST: New reviewer status for @klihub"
### GitHub Username

@klihub

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have one sponsor from the list of approvers in at least one OWNERS file within one of the CRI-O repository
- [X] I have spoken to my sponsor ahe

[2022-02-14 19:18] haircommander commented on #5640
+1 I've appreciated your looking into CI failures and investigating new features related to devices and NRI

[2022-02-14 20:27] fidencio commented on #5640
+1 from me a well.

[2022-02-14 20:58] QiWang19 opened #5642 "REQUEST: New membership for @QiWang19"
### GitHub Username

@QiWang19

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have one sponsor from the list of approvers in at least one OWNERS file within one of the CRI-O repository
- [X] I have spoken to my sponsor a

[2022-02-14 21:28] haircommander commented on #5642
+1, here are a [couple of other commits[(https://github.com/cri-o/cri-o/commits?author=QiWang19) you've authored, not to mention having knowledge about c/image

[2022-02-15 08:04] saschagrunert commented on #5642
+1 :partying_face:

[2022-02-15 08:05] saschagrunert commented on #5640
+1 !

[2022-02-15 08:41] fidencio commented on #5642
Yay!
+1.

[2022-02-15 09:05] fgiudici opened #5648 "REQUEST: New membership for @fgiudici"
### GitHub Username

@fgiudici

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have one sponsor from the list of approvers in at least one OWNERS file within one of the CRI-O repository
- [X] I have spoken to my sponsor a

[2022-02-15 09:12] fidencio commented on #5648
+1 from me, and I'd like to add that apart from those mentioned, @fgiudici has been working on the Kata Containers + CRI-O integration, and those are not visible here.

Francesco did a fair amount of work the get the integration tests which were not running against the "vm" runtime type, fixes on the kata-containers side related to the shimv2 (used by the "vm" runtime type), and he's been always k

[2022-02-15 09:14] saschagrunert commented on #5648
+1 :)

[2022-02-15 14:33] haircommander commented on #5648
+1, your help on kata and non-kata code alike has been very helpful, in addition to thoughtful reviews

[2022-02-15 14:58] wgahnagl opened #5649 "REQUEST: New membership for wgahnagl"
### GitHub Username

@wgahnagl

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have one sponsor from the list of approvers in at least one OWNERS file within one of the CRI-O repository
- [X] I have spoken to my sponsor a

[2022-02-15 15:00] haircommander commented on #5649
+1 you've worked on a number of structural changes and bug fixes. #5007 was especially of note because of how annoying the task was :smiley:

[2022-02-15 15:11] saschagrunert commented on #5649
+1 !

[2022-02-15 15:37] fidencio commented on #5649
+1

[2022-02-15 21:16] TheDiveO commented on #5609
_Revisiting the current draft, I notice that it currently can only report the demise of containers (https://github.com/harche/kubernetes/blob/d6cada8abc474551c461b3fc1fe41ac5356c522b/staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto#L153), but not newly created or started containers.

In my use cases I need events for new containers, and in particular after the initial container process has

[2022-02-15 21:43] haircommander opened #5652 "Add support for pinning the infra container"
with https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2040-kubelet-cri#pinned-images (in 1.23) kubernetes has added support for the CRI to pin an image. now, we can pin the infra container, and the kubelet won't consider it for garbage collection. This will drop the need for kubelet to keep track of the infra image as well!

[2022-02-15 21:44] haircommander commented on #5652
@wgahnagl did you want  to work on this?

[2022-02-15 21:45] haircommander opened #5653 "Add support for in-place vertical pod autoscaling"
which will land in 1.24

more information on expectations on CRI: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1287-in-place-update-pod-resources

[2022-02-15 21:50] haircommander commented on #5632
I find myself wondering if one can use runc to directly pause the containers from underneath cri-o. you should be able to do so with `runc pause $ctr_id`. Can you  give that a try and let me know if that works for you?

[2022-02-15 21:51] haircommander commented on #5632
related to https://github.com/cri-o/cri-o/issues/5565

[2022-02-15 21:52] haircommander commented on #5632
so this is for an autoscaling situation where you want to pause unneeded containers when they're not being used?

[2022-02-16 01:27] jwcesign commented on #5632
I check the oci level code of cri-o, I think it's possible to do this with `runc pause $ctr_id`.
Yes, it's related with autoscaling in knative(a serverless framework).  the situation is:
* there is a sidecar in pod, it's a reverse proxy, all requests to user-container will pass this sidecar first.
* when the sidecar found there is no request, it will call cri level to pause user-container for savi

[2022-02-16 01:30] jwcesign commented on #5632
If u agree, I can take this part and implement it. Just like `curl -v --unix-socket /var/run/crio/crio.sock http://localhost/info`

[2022-02-16 02:33] #5642 closed

[2022-02-16 08:03] fidencio commented on #5649
Closing this one it's been solved by #5654!

Thanks for becoming an official reviewer of the project!

[2022-02-16 08:03] #5649 closed

[2022-02-16 08:04] fidencio commented on #5648
Closing this one it's been solved by #5654!

Thanks for becoming an official reviewer of the project!

[2022-02-16 08:04] #5648 closed

[2022-02-16 08:04] fidencio commented on #5640
Closing this one it's been solved by #5654!

Thanks for becoming an official reviewer of the project!

[2022-02-16 08:04] #5640 closed

[2022-02-18 12:43] fsedarkalex commented on #4276
Same issue here with kubeadm 1.23.4 / CRI-O 1.23 / Flannel on Debian 11

[2022-02-19 22:45] maxaudron commented on #4476
I'm running into the same problem on a NixOS host, kernel 5.10.93.

File is accessible on the host, running as systemd service or directly doesn't make a difference.

[code]

When I don't have `default_sysctls` set, the `/proc/sys/net/ipv4/ping_group_range` entry in a running container is also accessible, and showing `1	0` as expected. Could this be an issue in timing? The pinns command running to

[2022-02-21 05:52] harche commented on #5609
Thanks @TheDiveO, I have added `CREATED` and `STARTED` to the [ContainerEventType](https://github.com/harche/kubernetes/blob/event_pleg/staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto#L151)

cc @haircommander

[2022-02-21 09:39] harche opened #5664 "Compilation fails on gitpod"
### What happened?

Trying to compile cri-o in gitpod fails.

[code]

Probably `go` needs to be bumped up at https://github.com/cri-o/cri-o/blob/main/.gitpod.Dockerfile#L3

/cc @JanKoehnlein

### What did you expect to happen?

Compilation to succeed.

### How can we reproduce it (as minimally and precisely as possible)?

Launch gitpod and try to compile

### Anything else we need to know?

_No re

[2022-02-21 21:06] haircommander commented on #4476
@maxaudron or anyone, what is the output of `sudo unshare -n cat /proc/sys/net/ipv4/ping_group_range`?

[2022-02-22 05:13] harche commented on #5609
Rough skeleton code - https://github.com/harche/cri-o/commit/0da45f74196ca9e2615a7d1146d930f986591c69

[2022-02-22 06:13] xiangchunfu opened #5670 "need to increase coverage of crio CI with validated tests"
### Which jobs are failing?

The following jobs are failing for kata test.
    "ctr.bat"
    "cgroups.bat"
    "command.bat"
    "config"
    "config_migrate.bat"
    "crio_wipe.bat"
    "ctr_seccomp.bat"
    "devices.bat"
    "drop_infra.bat"
     "image.bat"
    "infra_ctr_cpuset.bat"
    "inspect.bat"
    "metrics"
    "namespaces.bat"
    "network.bat"
    "network_ping.bat"
    "pod.bat"

[2022-02-22 08:12] #5664 closed

[2022-02-22 09:31] andrasbabos commented on #4476
I have the same issue with a bit different os version:

[code]

[code]

unshare on host:

[code]

[2022-02-22 09:46] xiangchunfu commented on #5670
sorry, I shouldn't create issue in this repo.  so close it.

[2022-02-22 09:46] #5670 closed

[2022-02-22 12:12] jwcesign commented on #5632
So what's about the processing?

[2022-02-22 17:59] haircommander commented on #5609
I can't seem to figure it out based on the gRPC docs: if two clients request the events, is it up to the server to send each the set of new events each requested, or does gRPC somehow handle that? as in, if I have events ["create", "start"], and client A requests after "create", is it our job to only send client A "start", and client B ["create", "start"]

[2022-02-22 18:30] TheDiveO commented on #5609
my limited understanding is that gRPC provides the "streams" for th results, separately. So the server has open long-running responses and thus needs to handle filtering itself, according to each individual response (~session). I didn't notice anything in the gRPC layer.

If I'm not mistaken, https://github.com/containerd/containerd/blob/7078e50e2685556efd3f2dbd97b019e87452aeab/services/events/ser

[2022-02-22 18:30] haircommander commented on #4476
ah! the default_sysctls seem to be invalid. they're specified as
[code]
but It needs to not have the extra spaces:
[code]

[2022-02-23 08:56] fgiudici commented on #5276
This has been fixed on kata-containers side: [kata PR 3736](https://github.com/kata-containers/kata-containers/pull/3736).
The fix will be available starting from kata-containers release 2.3.3.

[2022-02-23 08:56] #5276 closed

[2022-02-23 13:08] andrasbabos commented on #4476
Thank you, tested and it working fine without the extra spaces.

[2022-02-23 14:52] haircommander commented on #4476
I've opened a PR to make the error clearer in the future

[2022-02-23 14:52] #4476 closed

[2022-02-24 07:56] hasan4791 commented on #5600
@haircommander I can see the PR is merged to main & cherrypicked to the releases but getting this error from UI.

[code]

[2022-02-25 15:14] haircommander commented on #5600
@saschagrunert can you tell why this failed https://github.com/cri-o/cri-o/runs/5321158327?check_suite_focus=true?

[2022-02-25 17:55] haircommander opened #5687 "release notes seem to be generating wrong"
### What happened?

looking at https://github.com/cri-o/cri-o/releases/tag/v1.22.2  there are a number of pieces that are reported as having been backported to 1.22 which have not been:
[code]

### What did you expect to happen?

those entries to not appear in the release notes

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No r

[2022-02-27 09:39] mykaul commented on #2713
I'm unsure if there has been a change, but this doesn't work (Fedora 35). Running 'dnf module list cri-o' returns 'Error: no matching Modules to list'

[2022-02-27 10:29] klihub opened #5690 "cgroupv2 ".../cgroup.subtree_control: no such file or directory" test flakes"
### What happened?

This problem manifests itself fairly regularly both in CI and github workflows. While the (unknown) root cause very much looks like a single problem, it can manifest itself with almost any test failing when cgroupv2 is in use. Digging out the logs alway leads to a backtrace like the one below. The current *suspicion* for the culprit is the hardcoded and shared `/pod_123.slice/p

[2022-02-27 11:19] spdfnet commented on #2713
It seems to me that using Suse's Kubic repos has been the only way for a while, regardless of distro.
Though, I agree that documentation should be clear about this.

[2022-02-27 11:24] mykaul commented on #2713
Just to complete the picture - installing the relevant packages directly from Koji (I picked latest 1.22) worked:
[code]

[2022-02-27 12:38] jwcesign commented on #5632
I not try, but I check the code: https://github.com/cri-o/cri-o/blob/120c7d215ea49b2f20651d454837550928a85b6d/internal/oci/oci.go#L309

[2022-02-28 09:25] mykaul commented on #2713
And for future reference - the modular repos were NOT enabled. On I've enabled them, things worked well:
[code]

[2022-02-28 15:22] haircommander commented on #2713
I'm glad you've figured it out @mykaul do you think there should be a documentation update for folks who run into this in the future?

[2022-03-01 08:19] xuegege5290 commented on #5631
i did not find the crio.conf file，can you provide the link or the file?

[2022-03-01 09:48] xuegege5290 opened #5696 "crictl can not load or save images like docker or containerd,how should i construct local registry?"
### What happened?

I  want use the crio as Container Runtime daemon,and to try use the runtime to create the container.The ONLY way is to pull  the specific image，but my network is limit.How should i load an image.....The three runtime has no function to load an local image! I need help please.

bash-4.4$ crun --help
Usage: crun [OPTION...] COMMAND [OPTION...]

COMMANDS:
        checkpoint  - che

[2022-03-01 09:51] xuegege5290 commented on #5696
@openshift-merge-robot  @mrunalp @saschagrunert

[2022-03-01 09:52] xuegege5290 commented on #5696
@haircommander

[2022-03-01 14:48] haircommander commented on #5696
you can use [podman](https://github.com/containers/podman) as root to load images that cri-o needs

[2022-03-01 15:20] haircommander commented on #5631
we don't post one in github. you can run `make crio.conf`. what are you looking for it for?

[2022-03-01 15:22] haircommander commented on #3965
this was done in https://github.com/cri-o/cri-o/pull/5623

[2022-03-01 15:22] #3965 closed

[2022-03-01 17:27] xuegege5290 commented on #5631
I try ,but it did not work!
bash-4.4$ ls
bin  cni-plugins  completions  contrib  etc  install  Makefile  man  README.md
bash-4.4$ make crio.conf
make: *** 没有规则可制作目标“crio.conf”。 停止。 (this mean there is no rule to make the target)

I  really confused!Before，i think maybe it is my configuration caused that i can not do "crictl pull centos:lates".
so if i want use "crictl pull", and which file to set

[2022-03-01 17:40] xuegege5290 commented on #5696
oh ,maybe i should start care about how to configure the podman to use crio.sock.This is my first way.
Then，How should to configure the file that i can use the "crictl pull".I mean which file to configre the pull registry.

$ sudo crictl pull centos
FATA[0241] pulling image failed: rpc error: code = Unknown desc = pinging container registry registry-1.docker.io: Get "https://registry-1.docker.io/v

[2022-03-01 18:24] haircommander commented on #5696
no need to have podman use the crio socket. crio shares an image store with podman, so if you just use podman as root to configure the images then crio should be able to find it

what is the special URL you want to use? we typically recommend you specify the fully qualified URL for image pulling. Are you able to use `crictl pull $full-url`?

[2022-03-01 18:25] haircommander commented on #5631
ah you can use the [registries.conf](https://github.com/containers/image/blob/main/docs/containers-registries.conf.5.md) file to configure image sources

[2022-03-02 13:47] xuegege5290 commented on #5696
Thanks,i use the local docker-image registry,such as crictl pull xx.xx.xx.xx:5000/pause.and succeed.And i also try the podman,the crio really need the podman,such to podman tag....
but i still got a problem.

[root@LIN-DFF2F8FE6FC ~]# crictl images
IMAGE                    TAG                 IMAGE ID            SIZE
127.0.0.1:5000/alpine    latest              008f284ae2316       7.43MB
127.0.0.1

[2022-03-03 15:08] haircommander commented on #5696
Sorry you're having difficulties! What is your cni config (whatever my-macvlan is)? It sounds like you need to define a CNI version it's using

[2022-03-03 18:30] #5348 closed

[2022-03-03 23:00] xuegege5290 commented on #5696
the my-macvlan is in 00-macvlan.conf,when i use crictl runp xxx,the my-macvlan will add a address

$ cat 00-macvlan.conf
{
    "name": "my-macvlan",
    "type": "macvlan",
    "master": "eth0",
    "mode": "bridge",
    "isGateway": true,
    "ipMasq": false,
    "ipam": {
        "type": "host-local",
        "subnet": "192.169.120.0/23",
        "rangeStart": "192.169.120.130",
        "rangeEnd

[2022-03-04 18:26] haircommander commented on #5696
hm what is in ubuntu.0.log? also having the crio logs would help

[2022-03-06 09:47] xuegege5290 commented on #5696
The ubuntu.0.log is empty.cri logs ,i will find it and show below

[2022-03-07 18:05] dulek opened #5709 ""Error syncing pod, skipping" err="status.Image is not set" in kubelet logs"
### What happened?

We're seeing these kubelet errors in Kuryr CI recently and the symptom of them is that mentioned pod doesn't transition to Running:

[code]

Meanwhile cri-o works as follows:

[code]

I got a tip that this might be related to cri-o.

### What did you expect to happen?

The Pod to transition to Running when the container is started by cri-o.

### How can we reproduce it (as mini

[2022-03-08 13:21] Markus-SWAG opened #5712 "cri-o installation for version 1.20 on CentOS 7 fails"
Trying to install cri-o based on https://github.com/cri-o/cri-o/blob/main/install.md#other-yum-based-operating-systems fails.

    # export VERSION=1.20
    # export OS=CentOS_7

 Output:

    # yum install cri-o
Loaded plugins: fastestmirror
Repository docker-ce-stable is listed more than once in the configuration
http://mirror.centos.org/centos/7/virt/x86_64/xen-46/repodata/repomd.xml: [Errno 14

[2022-03-09 13:57] saschagrunert commented on #5632
@jwcesign have there been efforts to support it in the CRI? I have another use case in mind to pause a container.

[2022-03-10 07:50] saschagrunert opened #5715 "Configure seccomp `RuntimeDefault` profile based on `RuntimeClass`"
As mentioned in the Kubernetes seccomp graduation KEP, it would be helpful to separate the default seccomp profile based on the use runtime class: https://github.com/kubernetes/enhancements/issues/2413#issuecomment-1034358366

We could think about adding such a feature if we decide to not modify the RuntimeClass object in Kubernetes.

[2022-03-10 21:48] gongx opened #5718 "containerized cri-o support for FCOS"
We’re in the process of migrating our Kubernetes nodes from Fedora to FCOS. We’re using podman to containerize the vast majority of our systemd services, including the kubelet. This is the approach that Typhoon uses https://github.com/poseidon/typhoon/blob/v1.23.4/aws/fedora-coreos/kubernetes/fcc/controller.yaml#L50-L112 and containerizing everything Kubernetes related on FCOS has been going well

[2022-03-11 08:18] william-lbn opened #5719 "crio 1.23.1 Response error: failed to mount container ** on ubuntu18.04"
I tried install crio on ubuntu 18.04 and follow https://computingforgeeks.com/install-cri-o-container-runtime-on-ubuntu-linux/  to test.

[code]
journalctl -xefu crio.service 查看日志

[code]

[2022-03-11 08:30] saschagrunert opened #5720 "Add seccomp option to stop containers based on blocked syscall"
I've created a PoC which utilized the seccomp notify feature to stop containers based on blocked seccomp syscalls:
https://github.com/cri-o/cri-o/compare/main...saschagrunert:seccomp-notifier

The idea is to rewrite the seccomp profile (runtime/default in case of the PoC) to change the actions `ActErrno`/`ActKill`/`ActKillProcess`/`ActKillThread` to `ActNotify` as well as setting the `ListenerPath

[2022-03-11 09:03] william-lbn opened #5721 "cri-o install.md “enable the Kubic project repositories” url 404"

[2022-03-14 01:21] jwcesign commented on #5632
@saschagrunert Still no, what usecase u have?

[2022-03-14 08:07] saschagrunert commented on #5632
I had a use case for https://github.com/cri-o/cri-o/issues/5720, but pausing the container caused issues together with the handing of them in Kubernetes. Therefore I decided to stop the containers.

[2022-03-15 03:29] william-lbn opened #5722 "cri-o curl http://127.0.0.1:46869/config 404: Page Not Found but curl http://127.0.0.1:9090/metrics ok"
![image](https://user-images.githubusercontent.com/10280419/158300341-825f9436-73f1-4481-a7f9-d11025255795.png)

![image](https://user-images.githubusercontent.com/10280419/158300374-e5b8fe6b-c3c8-406d-b460-2e081fc68890.png)

![image](https://user-images.githubusercontent.com/10280419/158300644-f41e3822-b2c2-4e4b-9445-aa9da16f39dd.png)

[2022-03-15 17:38] broosted opened #5725 "/tmp/kubeadm.yaml: no such file or directory"
following kubeadm guide with cri-o and getting error with script provided for configuring kubelet
on ec2
FAILED! => {"changed": true, "cmd": "./config.sh", "delta": "0:00:00.718120", "end": "2022-03-15 17:31:46.876402", "msg": "non-zero return code", "rc": 1, "start": "2022-03-15 17:31:46.158282", "stderr": "Error: stat /tmp/kubeadm.yaml: no such file or directory", "stderr_lines": ["Error: stat /

[2022-03-16 12:07] MarcoR83 commented on #5180
Question: whats with cri-o 1.23. No package available for Fedora 35 yet?
![image](https://user-images.githubusercontent.com/53475938/158586247-43fc51ab-a13a-4874-9275-735d8ebc491b.png)
I read a while ago somewhere (dont remember where )that there was an issue because of a new Go version used for 1.23. Is this still an issue? If so why cant a new version of go be used to build the module for F35?

[2022-03-16 12:27] MarcoR83 commented on #5180
Neither Fedora itself nor  OBS have rpms for F35..
![image](https://user-images.githubusercontent.com/53475938/158589729-e77ed081-0ea1-429d-b142-4c6e55ee3b71.png)

[2022-03-16 13:50] haircommander commented on #5180
hey @MarcoR83 sorry, F35 doesn't support go 1.17 which cri-o 1.23 requires. I can enable in OBS

[2022-03-16 13:52] haircommander commented on #5180
hm looks like https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable:cri-o:1.23 should have F35 enabled, would that work for you?

[2022-03-16 17:34] Quarky9 opened #5730 "cri-o packages are missing for 1.21 and Ubuntu 20.04 LTS"
### What happened?

Trying to install cri-o fails on Ubuntu 20.04 LTS using the opensuse.org mirrors.

Missing see:
https://mirrorcache.opensuse.org/download/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/xUbuntu_20.04/

V 1.20 are available:
https://mirrorcache.opensuse.org/download/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.20/xUbuntu_20.04/
or V1.22
https://mirror

[2022-03-16 17:44] haircommander commented on #5730
oops, sorry, missed a step and they weren't building right. I have updated the builds so things should be populated shortly

[2022-03-16 18:16] haircommander commented on #5722
what is the metrics config table of `crio config` ?

cc @saschagrunert

[2022-03-16 18:17] haircommander commented on #5721
what is the value of VERSION and OS?

[2022-03-16 18:20] haircommander commented on #5725
hm what version of kubeadm are you using? if I don't have a /tmp/kubeadm.yaml my script works fine. Have you tried setting KUBEADM_CONFIG to a different path?

[2022-03-16 18:23] haircommander commented on #5718
hey @gongx ! it definitely should be possible. I believe openshift 3.x did for some installation types. while I'd prefer you overlay the rpm, I am open to supporting your use case, and am especially interested if you wanted to contribute CI tests using your scripts to ensure it stays working as expected. Let me know how I can help!

[2022-03-16 21:24] broosted commented on #5725
1.23
yes the script works fine if I copy it and run it directly in ec2 console. it might be a permission issue

[2022-03-16 21:35] Quarky9 commented on #5730
Thank you so much for quick turn around ! Much appreciated. Just tested and seems work at least for amd64 which I tested.

[2022-03-16 21:35] #5730 closed

[2022-03-16 22:32] haircommander commented on #5730
happy to help!

[2022-03-17 00:56] william-lbn commented on #5722
thanks for your reply .

the /etc/crio/crio.conf  is:

[code]

[2022-03-17 01:02] william-lbn commented on #5721
ubuntu 18.04TLS   crio 1.23.1

but when I use ubuntu 20.4  it`s OK.

[2022-03-17 07:32] hama-25179 opened #5736 "CPUQuotaAnnotaition(cpu-quota.crio.io) does not work on cgroup v2"
[code]

We are using runtime handlers under the CRI-O to disable the CPU quota on pods that are given exclusive cpusets by the CPU manager on cgroup v1.
In environment cgroup v2, the following message is output and creation of pod fails.

[code]

CRI-O emits the following message to the journal log.(--log-level=debug)
[code]
The same settings work fine in a cgroup v1 environment. Any plans to fix

[2022-03-17 10:20] saschagrunert commented on #5722
That's the streaming server listening on a random port, because `stream_port = "0"`.

[2022-03-17 11:35] jwcesign commented on #5632
@saschagrunert I see, but it looks like there is no way to do this now. I think for your usecase, u only can can cri level interface.

[2022-03-17 18:05] haircommander commented on #5725
did setting a different KUBEADM_CONFIG path help?

[2022-03-18 00:44] william-lbn commented on #5722
CRI-O will allocate a random free port number    46869

I test http://127.0.0.1:46869/config  404

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/10280419/158915495-1769021d-8648-488b-ad3f-e448c349cba1.png">

I think it should be ok because here is used cmux.

[2022-03-18 05:52] hama-25179 commented on #5736
Thanks.
I don't need this feature in a hurry. I'll try to find my time to make a patch anyway.

[2022-03-18 15:56] haircommander commented on #5736
awesome, thanks! let me know if you need any guidance

[2022-03-19 04:16] fuele opened #5743 "Unable to install cri-o on Raspberry Pi OS"
### What happened?

I'm following the instructions on installing cri-o 1.23 with apt on Raspberry Pi OS 11, 64 bit and I've come across a dependency that cannot be resolved.
[code]

 It appears that the apt repository ` https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Raspbian_10` only has version `100:1-22` of containers-common when it needs to be at least version 0.

[2022-03-19 04:38] fuele commented on #5603
@haircommander It says what to put for version at the top of the install document under `Supported Versions`
https://github.com/cri-o/cri-o/blob/main/install.md#Supported-versions

[code]

[2022-03-21 11:47] asyedtri opened #5744 "Security advisory received for CRI-O vulnerability in AKS but unable to work out if that affects us"
### What happened?

we have received following advisory https://github.com/cri-o/cri-o/security/advisories/GHSA-6x2m-w449-qwx7

It says that it affects versions greater than 1.19.0 then it says Patched versions are 1.19.6, 1.20.7, 1.21.6, 1.22.3, 1.23.2, 1.24.0

we have AKS version 1.20.13. as we are few versions ahead in the release 1.20.x It looks like we shouldnt be affected but could you confi

[2022-03-21 13:29] haircommander commented on #5744
that looks like a version of AKS, not of cri-o. Can you do a `kubectl get nodes -o wide`? that should show the runtime version

[2022-03-21 13:35] asyedtri commented on #5744
***@***.***

Thanks Peter,

Ali Syed​
Azure DevOps Engineer
e: ***@***.******@***.***>
w: www.tritrials.com<http://www.tritrials.com/>
***@***.***<http://www.tritrials.com/>
***@***.***<https://www.linkedin.com/company/triumph-research-intelligence/>
***@***.***<https://twitter.com/TRI_OPRA_RBM>
***@***.***<http://www.tritrials.com/>
Any views or opinions presented in this e-mail are solely those

[2022-03-21 13:53] haircommander commented on #5603
yeah, I'm asking what @tirjak is setting for those values to find which package has the problem :slightly_smiling_face:

[2022-03-21 14:46] SriRamanujam opened #5747 "CRI-O 1.21.6 not available for Ubuntu 18.04"
### What happened?

The package mirrors for Ubuntu 18.04 are still serving 1.21.4 instead of the latest 1.21.6.

See: https://download.opensuse.org/download/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/xUbuntu_18.04/amd64/

### What did you expect to happen?

The Ubuntu package mirror should serve cri-o 1.21.6 for Ubuntu 18.04.

### How can we reproduce it (as minimally and precis

[2022-03-21 15:21] haircommander commented on #5747
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/xUbuntu_18.04/ looks like it has the right package, would that work for you?

[2022-03-21 18:17] haircommander commented on #5747
sorry about the inconsistencies. we have had difficulties with reliability of the mirrors in the past. I am not sure what can be done

[2022-03-22 14:45] asyedtri commented on #5744
Peter

Could you respond to this ticket please?

We just want to make sure that us being on version 1.20.13 will not be affected by this security threat. I have read that CRI-CO follows AKS version, so it seems to be the case that we are covered but we want to be certain about it.

Thanks,

Ali Syed​
Azure DevOps Engineer
e: ***@***.******@***.***>
w: www.tritrials.com<http://www.tritrials.com/>
*

[2022-03-23 01:44] william-lbn commented on #5722
sorry,  this is  unix socket http，I have solved it by building a socket client.    thanks

[2022-03-23 01:44] #5722 closed

[2022-03-23 10:07] asyedtri commented on #5744
Hi

Can you please respond to this ticket?

Thanks

Ali Syed​
Azure DevOps Engineer
e: ***@***.******@***.***>
w: www.tritrials.com<http://www.tritrials.com/>
***@***.***<http://www.tritrials.com/>
***@***.***<https://www.linkedin.com/company/triumph-research-intelligence/>
***@***.***<https://twitter.com/TRI_OPRA_RBM>
***@***.***<http://www.tritrials.com/>
Any views or opinions presented in this

[2022-03-23 14:51] haircommander commented on #5744
@asyedtri are you able to see my messages? what is the output of kubectl get nodes -o wide on an AKS 1.20.13 cluster

[2022-03-23 14:58] asyedtri commented on #5744
@haircommander responded to your mail from within outlook on Monday at 1335 and hearing back first time today at 1452. Now responding via Git portal. Looks like emails were lost between us. here's the output as you suggested

**kubectl get nodes -o wide**

**NAME                                STATUS   ROLES   AGE   VERSION    INTERNAL-IP   EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION     CON

[2022-03-23 15:01] haircommander commented on #5744
@asyedtri it looks like you're using containerd `containerd://1.4.12+azure-2` so you are not affected

[2022-03-23 15:01] #5744 closed

[2022-03-23 17:57] haircommander commented on #5712
does this work if you don't have docker-ce installed?

[2022-03-24 18:49] stanleytho opened #5757 "1.23.2 binary file is missing from release assets."
### What happened?

There is no binary file for crio 1.23.2 in the release assets. Do you know where it should be ?

### What did you expect to happen?

Binary file should be there like 1.23.1 release

### How can we reproduce it (as minimally and precisely as possible)?

Files were missing

### Anything else we need to know?

_No response_

### CRI-O and Kubernetes version

<details>

[code]

[co

[2022-03-24 18:51] #5757 closed

[2022-03-25 15:19] Markus-SWAG commented on #5712
Even on machines, where docker-ce was never installed, the installation fails.

The only way of installing that works is using this link:
[Add repository and install manually](https://software.opensuse.org/download/package?package=cri-o&project=devel%3Akubic%3Alibcontainers%3Astable%3Acri-o%3A1.20#manualCentOS) | For CentOS 7 run the following as root
`cd /etc/yum.repos.d/
wget https://download.op

[2022-03-25 17:01] Markus-SWAG commented on #5712
I'm not quite sure whether I get your point.
By "the other repo" you mean  `devel:kubic:libcontainers:stable.repo`?
If that is added then the issue occurs.
The issue does not occur if that is left out.

[2022-03-25 17:06] haircommander commented on #5712
oh sorry I misunderstood. yeah that is not good. good news: you can install cri-o, right? bad news, the package is messed up. I'll take a look

[2022-03-25 17:23] Markus-SWAG commented on #5712
And again good news: I overlooked that docker-ce repo has been there twice, when I remove both of them it seems to work.
Sorry for not seeing this earlier and wasting your time ...

[2022-03-27 13:25] jwcesign commented on #5632
Hi, @haircommander , so maybe we can do this now(I am willing to implement this)? like `/info`?

[2022-03-28 15:27] Markus-SWAG commented on #5712
I had another test to confirm.
cri-o can be only installed, if the Docker CE repositories are completely removed, and the docker-ce*.repo files from /etc/yum.repos.d/ have been removed.
This conflicts with the document [Running CRI-O on kubernetes cluster](https://github.com/cri-o/cri-o/blob/main/tutorials/kubernetes.md#running-cri-o-on-kubernetes-cluster). It contains "docker" commands, but does

[2022-03-29 08:30] broosted commented on #5725
yes I had to dodge /tmp directory and any root paths because sudo on ec2 wasn't working so I changed the KUBEADM_CONFIG in the script:

`#!/bin/bash

set -euo pipefail

KUBEADM_CONFIG="${1-kubeadm.yaml}"
echo "Printing to $KUBEADM_CONFIG"

if [ -d "$KUBEADM_CONFIG" ]; then
    echo "$KUBEADM_CONFIG is a directory!"
    exit 1
fi

if [ ! -d $(dirname "$KUBEADM_CONFIG") ]; then
    echo "please crea

[2022-03-29 18:48] haircommander commented on #5743
oh goodness, I'm sorry @fuele I have just seen this. Do any of the debian installation paths work for you? I don't know which knob I need to enable to help for `armhf` I don't see any targets for it

[2022-03-30 11:34] matancarmeli7 opened #5767 "can't install cri-o on rhel7 server"
### What happened?

I am trying to install `cri-o` 1.23 on rhel7 server, using https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.23/CentOS_7/ and https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/  repositories.
I used those repositories two weeks ago to install `cri-o` 1.23 on another rhel7 server and it worked, do you k

[2022-03-30 15:44] hasan4791 commented on #5653
@haircommander
Hello, Would like to pick up this and went though the doc,

Aren't we already handling the "UpdateContainerResources". After all the validation done by the kubelet, this api needs to be called if I'm not wrong. So what are we actually looking into this task.

[2022-03-30 15:54] haircommander commented on #5653
looks like VPA support bumped to 1.25

[2022-03-30 16:05] hasan4791 commented on #5653
Gotcha, we aren't returning any response as of now this day except error.

[2022-03-30 17:25] haircommander commented on #5767
I believe I have fixed the package, PTAL

[2022-03-30 19:32] haircommander commented on #5725
future reference, I believe you can call `config.sh kubeadm.yaml` as it takes the value of `$1` if specified. I forgot about that

is this resolved @broosted ?

[2022-03-31 00:49] phiremath opened #5772 "Upgrading from crio 1.18.4 to crio 1.22.3"
### What happened?

Upgrading from crio 1.18.4 to crio 1.22.3.
Intermittent issue.
Attached crio config, logs and stack files.

pod are stuck in ContainerCreating

skopeo copy to containers-storage hangs

crictl images hangs

crictl ps works

crio log shows several/repeated errors similar to:

<details>
`
Mar 29 08:03:08 ins15-prod4-sn1.ins15-prod4.case.local crio[5680]: time="2022-03-29 08:03:08.

[2022-03-31 07:22] matancarmeli7 commented on #5767
@haircommander looks good now, thanks

[2022-03-31 07:52] broosted commented on #5725
yes thanks @haircommander

[2022-03-31 18:14] #5767 closed

[2022-03-31 18:14] haircommander commented on #5725
excellent to hear!

[2022-03-31 18:14] #5725 closed

[2022-03-31 20:24] haircommander commented on #5772
eek that's a weird one. seems like a deadlock in image storage. I've refined many of the goroutine stacks out in this file
[crio-goroutine-stacks-2022-03-30T211654Z-prod4-sn1.log](https://github.com/cri-o/cri-o/files/8392872/crio-goroutine-stacks-2022-03-30T211654Z-prod4-sn1.log)

@nalind @giuseppe @vrothberg @mtrmac can you PTAL?

Note: I wouldn't expect most users to go from 1.18 right to 1.22.

[2022-03-31 21:41] nalind commented on #5772
There was a lock file that wasn't being freed when we encountered an error while reloading layer information that had been modified by another process that @giuseppe fixed for storage 1.38, but the stacks also show the process waiting for locks on files that are presumably held by another process.

[2022-04-01 13:45] mtrmac commented on #5772
Looking at that log file, several goroutines also seem to be blocked on `c/image/storage.storageImageDestination.lock`, and I can’t find any goroutine that is expected to hold the lock. (I also can’t find any code path that does not hold the lock; assuming there isn’t any record of a Go panic, is there?).

Either way, if _other processes_ hang, that’s a c/storage lock, not the `storageImageDestina

[2022-04-04 09:03] EvgenyAGRO commented on #5479
Hey guys, sorry was a bit busy lately and didn't get to test it yet. Just wanted to ask regarding the status of the issue as it  wasn't eventually merged. Are you waiting for me to test or are you considering a different fix?
@saschagrunert @nalind

[2022-04-05 10:03] discostur opened #5779 "nginx-ingress unable to reload worker processes"
### What happened?

Just deploy a fresh k8s cluster with crio, deploy ingress-nginx and try to load ingresses. Nginx throws errors because it cannot respawn its worker processes:

[code]

If i just switch from crio to docker it works without any error - thats why i think the issue is related to crio and not to ingress-nginx.

The issue only happens if nginx has many worker processes. With testing

[2022-04-05 17:23] haircommander commented on #5779
can you bump up CRI-O's `pids_limit` to something higher like `4096`? We're in the process of dropping the field, but for now it can be increased

[2022-04-06 08:03] discostur commented on #5779
@haircommander just tested crio with

[code]

and it seems to work now. Thanks for your hint ;)

[2022-04-06 08:03] #5779 closed

[2022-04-06 13:36] haircommander commented on #5779
excellent to hear!

[2022-04-07 21:29] matthias50 opened #5793 "Getting Intermittent ErrImagePull errors which don't go away once they appear on a given node"
### What happened?

After updating nodes in our fleet of k8s clusters with an aggregate node count of a few thousand from Kubernetes 1.20/crio v1.20.6 to Kubernetes 1.21/crio 1.21.6, we observe that sometimes nodes will get into a state where a particular image can't be pulled just to that node. We get error messages like:

[code]

If we attempt to manually pull the image using crictl, we get a si

[2022-04-08 13:38] haircommander commented on #5793
@nalind @giuseppe @rhatdan any ideas here?

[2022-04-11 03:15] fuele commented on #5743
I tried using `VERSION=1.23` and `OS=Debian_11`  and I was able to install crio successfully.

[2022-04-11 14:01] matthias50 commented on #5793
Per @haircommander's comment on slack, here is where I tried to pull an image with podman. It fails in a similar way:

[code]

crictl pull on the same node with the same image fails with:

[code]

[2022-04-11 15:19] haircommander commented on #5793
also, what version of podman?

[2022-04-11 18:18] matthias50 commented on #5793
3.4.2

[2022-04-12 12:36] ghost opened #5798 "cri-o unable to pull images from gitlab container registry"
Good morning,
I have a problem with cri-o.
I've installed a k8s cluster (with a couple of nodes, but at the moment I'm using just the master - I haven't already added the worker but the master is untained) with cri-o as container runtime.

Kubeadm version:
`kubeadm version: &version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331a3785a7f436042c65c5641ce8a9e9", GitTreeState

[2022-04-13 11:14] willzhang opened #5799 "what the Additional steps for crio when install Third party network plugin like calico flannel"
### What happened?

coredns and node is ready but not deploy CNI plugin, but why?
[code]

### What did you expect to happen?

not install network plugin ,coredns not ready

### How can we reproduce it (as minimally and precisely as possible)?

init kubernetes with crio

### Anything else we need to know?

_No response_

### CRI-O and Kubernetes version

<details>

[code]

[code]

</details>

### O

[2022-04-13 15:32] haircommander commented on #5799
you have to setup a cni plugin manually .which are you looking for? by default, we ship with the bridge plugin, but that won't work if you want networking between different nodes

[2022-04-13 15:46] kagedani commented on #4941
@mtrmac can you please provide a way to configure that secret?
I'm having trouble pulling images with cri-o under k8s from an external docker registry (gitlab container registry)

[2022-04-13 18:34] mtrmac commented on #4941
https://access.redhat.com/solutions/4902871 for OpenShift.

[2022-04-14 07:01] flouthoc commented on #5793
I have been trying to reproduce this issue for a while, issue cause looks similar (not the same) to explained here https://github.com/containers/storage/pull/1033  but here looks like the parent layer was commited in erroneous state or was removed but not removed properly by another process possibly in a racy manner.

But I'm unable to reproduce this issue exactly one reason could be that version

[2022-04-14 07:42] kagedani commented on #5798
@mtrmac thank you for the answer.
I've tried multiple times to put the certificate in any of the folder suggested without results. Does cri-o have problems with self-signed certificates?

Anyway, I also tried to put my registry under the insecure section
`
[registries.insecure]
registries = ["s01vl9973404:5050", "s01vl9973404"]
`

and when I try to:
`
crictl -D pull --auth XXXXXXXX quantyca/gitlab

[2022-04-14 07:44] giuseppe commented on #5793
it could also depend on that particular image.

Is there any way you could share it with us?

[2022-04-14 08:05] andrej-gomozov opened #5802 "apt-get reports wrong file size for cri-o_1.23.2~0_amd64.deb in provo-mirror.opensuse.org"
### What happened?

This is happening already several weeks without any resoltuion.
When attempting to install crio on Debian, getting such error.

[code]

### What did you expect to happen?

Successful installation of package.

### How can we reproduce it (as minimally and precisely as possible)?

Try to install it from repository https://provo-mirror.opensuse.org

### Anything else we need to kn

[2022-04-14 13:03] matthias50 commented on #5793
@flouthoc did you meant to say `1.21.6` here? `1.20.6` is the version we were using previously.

[2022-04-14 13:22] matthias50 commented on #5793
@giuseppe  I'm pretty sure we are seeing this with multiple images, but there may be some common thread/base image or something. I'll have to do some digging on this. Not sure if we can share these images or not, but I'll look into it.

[2022-04-14 14:54] mtrmac commented on #5798
That indicates the registry HTTP server was successfully contacted (i.e. TLS is not an issue), and decided to report that 403 code. A 403 at that point is not expected, so the server is not acting as an accessible registry for some reason. The server presumably knows why.

[2022-04-14 15:19] haircommander commented on #5802
gah I am not sure how it happened. I've been trying really hard to bump the version number when I change anything. I don't remember having changed anything after it was first published. I'll try to be better about it.

meanwhile, I've released cri-o_1.23.2~1 on the 1.23 stream. I hope that fixes it for you

[2022-04-14 16:20] flouthoc commented on #5793
@matthias50 Yes both `1.21.6` and `1.20.6` are using significantly older version of `c/storage` if you could try a small experiment suggested here https://github.com/cri-o/cri-o/issues/5793#issuecomment-1098775717 it will confirm my hypothesis.

[2022-04-14 19:27] matthias50 commented on #5793
@flouthoc, I'll update our incident response to tell people to try this the next time it happens on a non production node. Hopefully they read the docs. :) Doing this on a production node (especially without having tried it on a non prod node in this state) is too risky.

[2022-04-15 02:56] fuele commented on #5743
I guess we could close it. The packages still aren't up to date, but there is a workaround.

[2022-04-15 02:56] #5743 closed

[2022-04-15 06:04] andrej-gomozov commented on #5802
@haircommander yes, it works now. Thank you for quick fix :-)

[2022-04-17 02:48] willzhang commented on #5799
i need calico, so Do I need to continue installing calico？

[code]

[2022-04-17 07:34] willzhang opened #5805 "offline install CRI-O"
### What happened?

the network is not good，how to offline install CRI-O with binary package.

like containerd:

https://github.com/containerd/nerdctl/releases

### What did you expect to happen?

offline install CRI-O

### How can we reproduce it (as minimally and precisely as possible)?

is this enough ,i want know the official docs for offline installation

[code]
### Anything else we need to k

[2022-04-18 15:04] haircommander commented on #5805
you should be able to run the install binary included in that bundle according to https://github.com/cri-o/cri-o/tree/main/contrib/bundle#cri-o-static-build-bundle

[2022-04-18 15:04] haircommander commented on #5805
and that will do the required installation of all of the binaries and config files

[2022-04-18 15:07] haircommander commented on #5799
I would actually just remove the default /etc/cni/net.d/100-crio-bridge.conf if you're using calico

[2022-04-18 15:09] haircommander commented on #5802
glad to hear!

[2022-04-18 15:09] #5802 closed

[2022-04-18 16:08] willzhang commented on #5799
is there have official docs Explain these situations， CRI-O just a container runtime, Why does it affect third-party network plugin。

[2022-04-18 16:13] willzhang commented on #5805
it's confuse me , i don't know how to use it ， the instlal script have many env in it.

[code]

[code]

[2022-04-18 16:27] haircommander commented on #5799
CRI-O is actually the main consumer of the networking plugin. CNI and kubernetes is weird because CNI was designed for a static plugin binary that is executed by the runtime, but then stateful plugins like flannel and calico were created that run as containers and the binary laid on disk (that CRI-O executes) is just a passthrough communication tool between the runtime and the network container.

[2022-04-18 16:36] haircommander commented on #5805
oops, sorry, you need to use the install path in the bundlle, not in the cri-o repo. the one in the bundle has `contrib/bundle/install-paths` file that is in the cri-o repo prepended. for me it looks like:
[code]

[2022-04-19 01:25] willzhang commented on #5805
Thank you so much， i don't see the install file before. maybe this install method should put to release page.

[2022-04-19 01:25] #5805 closed

[2022-04-19 01:50] willzhang commented on #2885
Refer to this link. i want know Is this the final interim solution？
[](https://wiki.archlinux.org/title/CRI-O)

Warning: The cri-o package installs the 10-crio-bridge.conf and 99-loopback.conf examples to /etc/cni/net.d by default . This may conflict with Kubernetes cluster network fabrics (weave, flannel, calico, etc) and require manual deletion to resolve this

[2022-04-19 08:15] willzhang opened #5807 "The binary conntrack is not installed, this can cause failures in network connection cleanup"
### What happened?

the crio servie have warning message

[code]

### What did you expect to happen?

should not have warning messge

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

i should install conntrack Manual ， the question is  must i install conntrack package? can you put it in cri-o.amd64.c0b2474b80fd0844b883729bda88961bed

[2022-04-19 13:20] matthias50 commented on #5793
@flouthoc, I tried cleaning as you suggested and the image pull still fails with crictl and with podman:

[code]

[2022-04-19 13:23] flouthoc commented on #5793
@matthias50 Sorry I was not clear enough :\ but my intention was to not invoke `crictl pull` at all but only invoke `podman pull`. But still thanks for trying this out, I'll try to reproduce this with the suggested `crictl` version.

[2022-04-19 13:25] haircommander commented on #5805
yeah or highlighted better on the `install.md`

[2022-04-19 15:54] willzhang opened #5808 "binary install crio with ImageInspectError"
### What happened?

[code]

### What did you expect to happen?

pod running

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

how can i generate the registries.conf
[code]

i find if use apt install there have many files
[code]

pod logs
[code]

### CRI-O and Kubernetes version

<details>

[code]

[code]

</details>

### OS version

[2022-04-19 16:05] willzhang commented on #5808
create manual resolved the problems ,  please add this file to cri-o.amd64.c0b2474b80fd0844b883729bda88961bed7b472b.tar.gz by default

refer:https://github.com/cri-o/cri-o/blob/main/install.md#validate-registries-in-registriesconf
[code]

[2022-04-19 18:05] haircommander commented on #5808
we generally recommend  users  configure FQDN (as well as a sha manifesst, rather than tag)  for their images. I feel like adding the search domains by default to the bundle goes against that. WDYT @saschagrunert @QiWang19

[2022-04-19 18:20] haircommander commented on #5807
hmm installing conntrack in the binaries... We may get into issues where we interfere with the node's conntrack. WDYT @saschagrunert

[2022-04-20 01:03] rbkaspr opened #5809 "Cri-o 1.22.3 install fails on Ubuntu 20.04 - Mirror Sync Error (provo-mirror)"
### What happened?

Attempted to install [crio 1.22.3](https://mirrorcache.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/xUbuntu_20.04/amd64/cri-o_1.22.3~0_amd64.deb.mirrorlist) on an Ubuntu 20.04 server instance from the Kubic repos, the package download is being routed to the US-based [provo-mirror](https://provo-mirror.opensuse.org/repositories/devel%3A/kubic%3A/lib

[2022-04-20 07:11] saschagrunert commented on #5808
Hm, would it make sense to ship the configuration from a distribution like RHCOS?

[2022-04-20 07:14] saschagrunert commented on #5807
I'd prefer getting rid of the conntrack dependency rather than wiring it into the bundle. :)

[2022-04-20 13:22] parmentelat commented on #4276
as far as I can tell, I am seeing this on fedora-35 with cri-o 1.22
it happens deterministically (all the time) and I had to write a surveillance loop that waits for some file to show up in that folder before it `systemctl restart crio`

[2022-04-20 15:40] haircommander commented on #5807
cc @aojea

[2022-04-20 16:09] aojea commented on #5807
/assign

[2022-04-20 16:56] hasan4791 commented on #5712
Just few more logs, tried installing crio 1.20 on centos:7 container image & found that the rpms are not getting downloaded from the "devel_kubic_libcontainers_stable" package path, though the install command lists the rpms under that path. Here are the list of RPMs failed to download & attached complete log.
[code]

PS: I haven't configured any mirrors.
[install.logs.txt](https://github.com/cri-o

[2022-04-20 17:28] hasan4791 commented on #5653
/assign

[2022-04-20 23:12] matthias50 commented on #5793
@flouthoc. This happened again and this time we tried the correct sequence of `podman system prune` followed by `podman pull`

This time `podman system prune` didn't do anything (probably because the pods were still trying to run)
[code]

and `podman pull` failed in the same way as before.

[2022-04-24 09:00] thediveo commented on #5609
Is there a comparably simple way I could test drive your changes on a local development system, with a simple cri-o binary?

[2022-04-24 10:30] lbogdan commented on #5490
So I got bitten by this, and decided to troubleshoot it a bit. It looks like when `kubelet` is not running and you delete a pod from `cri-o` directly (using `crictl rmp $POD_ID`), its corresponding `systemd` slice is not removed, for some reason:

[code]

and looking at the system logs, there's no

[code]

that happens when `kubelet` is running and a pod is deleted through the k8s API server.

Thi

[2022-04-25 07:36] lbogdan commented on #3259
Workaround and explanation [here](https://github.com/cri-o/cri-o/issues/5490#issuecomment-1107812321).

[2022-04-25 07:39] lbogdan commented on #3259
Workaround and explanation [here](https://github.com/cri-o/cri-o/issues/5490#issuecomment-1107812321).

[2022-04-25 07:40] Markus-SWAG commented on #5712
Any news on cri-o installation conflicting with an existing Docker installation, when changing from Docker runtime to cri-o?

[2022-04-25 07:44] lbogdan commented on #4465
Workaround and explanation [here](https://github.com/cri-o/cri-o/issues/5490#issuecomment-1107812321).

[2022-04-25 08:16] lbogdan opened #5818 "runtime delete exec'd without --systemd-cgroup when using systemd cgroup manager"
### What happened?

While deep down the rabbit hole investigating #5490 and troubleshooting the interactions between `kubelet`, `cri-o` and `runc`, I stumbled upon something I consider a bug, although not seeming to have visible consequences.

In `DeleteContainer()` we exec the runtime (`runc` in my case) with `runc --root $RUNTIME_ROOT delete --force $CONTAINER_ID`:

https://github.com/cri-o/cri-

[2022-04-25 10:07] lbogdan commented on #5818
Meanwhile, `containerd` is using `--systemd-cgroup` for **all** runtime execs - a bit excessive to me, but better to err on the side of caution, I guess.

[2022-04-25 11:07] lbogdan opened #5819 "BuildKit rootless doesn't work"
### What happened?

Running a [BuildKit rootless](https://github.com/moby/buildkit/blob/master/docs/rootless.md) pod on an Ubuntu 20.04 node with `cri-o` 1.23 using a default configuration doesn't work as expected.

The pod spec I use (from [here](https://github.com/moby/buildkit/blob/master/examples/kubernetes/pod.rootless.yaml)):

<details>
<summary>pod.yaml</summary>

[code]

</details>

After

[2022-04-25 11:49] AkihiroSuda commented on #5819
Please make sure that apparmor is relaxedd: https://github.com/moby/buildkit/blob/ed5f454d2021c2378229ac68c05cf560cfe25f36/examples/kubernetes/pod.rootless.yaml#L6

[2022-04-25 11:53] lbogdan commented on #5819
Sorry, I just edited the description - I tried that, too, to no avail - somehow expected, because it was already relaxed in `securityContext`, if I'm not mistaken?

[2022-04-25 12:00] lbogdan commented on #5819
@AkihiroSuda Sorry again, I got a bit confused between `apparmor` and `seccomp` 🙄 - I used the `container.apparmor.security.beta.kubernetes.io/buildkitd: unconfined` annotation all along, as it was also set in https://github.com/moby/buildkit/blob/master/examples/kubernetes/pod.rootless.yaml .

[2022-04-25 12:35] cnfatal opened #5820 "container stats not working properly on zfs backend, `zfs/graph/graph: no such file or directory `"
### What happened?

[code]
It cause by  https://github.com/cri-o/cri-o/blob/15afd20ee2440ed85189b76a78a876ded928a9e7/internal/lib/stats/stats_server.go#L192

When using zfs backend, `container.MountPoint()` has value like `/var/lib/containers/storage/zfs/graph/40f155bca81dd456f379f2a349b707c1b14e87bc5fed94e65182fc4a640a088e`

The `id` is always "graph", and produce an error above.

But it is works

[2022-04-25 12:54] cnfatal commented on #5820
ha, It may bug of https://github.com/containers/storage not crio

[2022-04-25 13:51] haircommander commented on #5818
oh interesting. Do you have any desire to open a PR to fix? I don't see an issue with passing the flag for every runtime call, just in case

[2022-04-25 14:05] haircommander commented on #5712
@Markus-SWAG I have updated the containers common package to allow installing next to docker-ce (by accepting runc as satisfying oci-runtime). Can you attempt to install?

@hasan4791 what's `yum repolist`

[2022-04-25 14:07] giuseppe commented on #5820
zfs backend is not really supported, any reason for using it?

[2022-04-25 15:04] cnfatal commented on #5820
I'm running k8s cluster on my Ubuntu workstation which using the zfs as root file system. but that's not the point .

[2022-04-25 17:00] haircommander commented on #5818
yes I'm also open to that!

[2022-04-25 23:55] xuegege5290 commented on #5696
Because the cni configuration，i already solve the problem last month.Thanks for your help!do i need close this discussion?

[2022-04-26 12:01] Markus-SWAG commented on #5712
@haircommander I attempted to install and it worked. Thanks.

[2022-04-26 12:46] nalind commented on #5820
There's no guaranteed relationship between the two.  It would be best for CRI-O to not make any assumptions about relationships between the two.  If you have the container's ID, its `github.com/containers/storage.Container` record tracks the ID of the read-write layer, which is what I think is being sought here.

[2022-04-26 13:45] #5712 closed

[2022-04-26 16:17] Markus-SWAG commented on #5712
@haircommander Thanks for your support.

[2022-04-27 00:07] #5807 closed

[2022-04-28 00:34] #5820 closed

[2022-05-03 14:41] rbkaspr commented on #5809
Looks like provo-mirror updates monthly, as of now installs for 1.22 work again. Closing
/close

[2022-05-03 14:41] #5809 closed

[2022-05-03 15:36] julian-alarcon opened #5838 "Provide packages for Ubuntu 22.04 Jammy Jellyfish"
### What happened?

Ubuntu 22.04 was [released the last April 22nd](https://ubuntu.com/blog/ubuntu-22-04-lts-released).

I will like/need to have 22.04 should be added to the build!

Repo URL is returning a 404: http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_22.04/

OpenSuse's OSB already supports this version: https://build.opensuse.org/project/show/Ubuntu:2

[2022-05-03 16:37] haircommander commented on #5838
thanks for the heads up! I've attempted to add it to cri-o 1.23, 1.23.1, 1.22 and 1.21, let me know if there's another verison you'd like to see support for

[2022-05-03 23:21] julian-alarcon commented on #5838
I think that current supported versions are OK, and you already added them! (1.24 seems to be released today but I don't see this as a big hurry for now)

[2022-05-04 08:13] andrej-gomozov commented on #5802
Hi @haircommander. Seems like this is happening again. Could you please check?

[2022-05-04 09:14] hajnej opened #5841 "Update to cri-o-1.20.7-3.12.el8 causes segfault"
### What happened?

Today ( 4th May 2022 ) I noticed newly spawned Kubernetes worker nodes are stuck in `NotReady` state which is caused by crashing `cri-o` service. I noticed there is new ["release" of cri-o 1.20.7 for CentOS 8 Stream](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.20/CentOS_8_Stream/x86_64/) package we use to install cri-o.

Once I upgra

[2022-05-04 13:20] haircommander commented on #5838
yeah we plan on cutting cri-o 1.24.0 on friday (three days after kubernetes release :smiley: )

[2022-05-04 13:29] haircommander commented on #5841
hey @hajnej can you post the full stacktrace? I see in https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable:cri-o:1.20 you did but it seems like a different run

[2022-05-04 21:04] haircommander commented on #5802
darn, I rebuilt them again.. PTAL?

[2022-05-05 05:13] hajnej commented on #5841
Hey @haircommander, I apologize I didn't reply sooner. I was able to use workaround - install `cri-o-1.20.7-3.11.el8` I found in  RPM repository cache.

I tried to bootstrap new k8s cluster and here is log output from `cri-o` service. We use [kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/) for creating k8s clusters and cri-o service itself se

[2022-05-05 06:06] andrej-gomozov commented on #5802
@haircommander it's fine now, thanks :-)

[2022-05-05 07:13] saschagrunert commented on #5600
Yeah we should add them to the artifacts passed around in the CI. A fix is incoming in https://github.com/cri-o/cri-o/pull/5844

[2022-05-05 10:04] jebe2009 commented on #5841
same issue for 1.21.6. I think that @hajnej maybe posted the wrong crio details. The latest version is build with go 1.18. the version before was 1.17.7 and is working

[2022-05-05 16:51] bbkgh commented on #5819
Hi. We want to switch to CRI-O for upgrading to k8s 1.24 and this issue is important for us to resolve before migration. Is there any workaround/configuration for us to be able to run buildkit rootless in rootless mode in CRI-O?

[2022-05-05 18:03] lbogdan commented on #5819
Hey @bbkgh , I dug deep into this after opening the issue, and managed to get this working with the original manifest, *but* with additional `cri-o` configuration and a patch to it. I plan on writing all this down, just didn't find the time yet.

In the meanwhile, as a workaround, you can add an `emptyDir` volume and mount it to `/home/user/.local/share/buildkit`, like so:

<details>
<summary>pod.

[2022-05-05 20:48] hajnej commented on #5841
Hi @jebe2009 from my understanding, recent release build was triggered by md5sum change in following packages ( hope link remains ) https://build.opensuse.org/packages/cri-o/build_reason/devel:kubic:libcontainers:stable:cri-o:1.20/CentOS_8_Stream/x86_64. Can't say what changes in those dependencies were.

[2022-05-06 05:46] bbkgh commented on #5819
Thanks. This config works.

[2022-05-06 08:03] iusetabs commented on #5375
Thanks all for your input here. Will close this off now

[2022-05-06 08:03] #5375 closed

[2022-05-06 14:08] haircommander commented on #5501
this slipped 1.24, maybe we can address in 1.25

[2022-05-09 10:32] gnomus commented on #5838
Hello,

any Update on this?
http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_22.04/ unfortunatly still gives me a 404.

[2022-05-09 12:35] mel1nn opened #5849 "No cri-o package available for Ubuntu-18.04 OS & 1.23 cri-o version"
### What happened?

Following the installation guide (https://cri-o.io/) with VERSION=1.23 and  OS=xUbuntu_18.04, no cri-o package is available :

[code]

No release file is available in http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.23/xUbuntu_18.04/.
Is it normal ?

Thanks a lot.

### What did you expect to happen?

Download the cri-o package

### How can

[2022-05-09 14:01] haircommander commented on #5849
AFAIU ubuntu 18.04 reached EOL april of last year. Can you update your host OS?

[2022-05-09 14:02] haircommander commented on #5838
ah you're looking at the root of the directory, what version of CRI-O are you trying to looking to use @gnomus

[2022-05-09 14:53] carlosrmendes commented on #5838
still no v1.24 neither for Ubuntu 22.04 nor for 20.04

[2022-05-09 19:18] haircommander commented on #5838
you can find the builds for 1.23 here https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.23/xUbuntu_22.04/

when I say "top level" I mean the cri-o projects don't show in the `stable` directory as they themselves are projects that contain subdirectories. it's an OBS thing, Not sure why. Anyhow, you can see all versions cri-o has supported here https://download

[2022-05-09 19:19] haircommander commented on #5849
oops sorry I misread the doc. yeah I dropped the support because I thought it wasn't supported anymore. I can readd

[2022-05-09 19:30] haircommander commented on #5849
hm I was wrong in that last comment: I didn't drop support, but somehow a rebuild caused the [package build process](https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.23/golang-1.17.5) to fail. I am looking into it but it seems like an obscure OBS issue

[2022-05-09 19:56] haircommander commented on #5841
what's the output of `crio version`? it should tell us the go version that was used to build

[2022-05-10 11:16] brianmcarey commented on #5841
Hi, we hit this issue with crio 1.21.6 and 1.22.3. Both are built with go 1.18. `crio version` for 1.21.6:

[code]

[2022-05-10 12:52] gnomus commented on #5838
According to https://github.com/cri-o/cri-o/blob/main/install.md#apt-based-operating-systems I need to execute (for example):
[code]
That call does not work for 22.04

I am aware that there are Packages for 22.04 present somewhere on the Mirror.
But not in a way that allows me to follow the Install Instructions with `OS=xUbuntu_22.04`

So I just wanted to ask you to not only publish Packages for 2

[2022-05-10 13:09] haircommander commented on #5841
I think we need something like https://github.com/cri-o/cri-o/pull/5857 cc @harche

[2022-05-10 23:19] spowelljr commented on #5343
Just as an update on this issue, we've been experiencing this issue pretty consistently as of lately, I'm going to try @lsm5's suggestion above https://github.com/cri-o/cri-o/issues/5343#issuecomment-953381139.

[2022-05-11 09:55] aneagoe commented on #5490
Seems to be due to leftover cgroups. It's not clear for me which component is responsible for properly cleaning up pod cgroups on teardown (though I'd imagine it's crio). More on that and how I worked around it here: https://github.com/kubernetes/kubernetes/issues/106957#issuecomment-1123465945

[2022-05-11 10:01] lbogdan commented on #5490
@aneagoe The `kubepods-zzz.slice`s are actually managed by the `kubelet`, `cri-o` only manages the `crio-zzz.scope`.

[2022-05-11 17:07] ComputerBaer commented on #5838
@haircommander There were build errors, can you get those fixed too? Thank you!

[2022-05-11 17:15] furman-d1 opened #5860 "cri-o/test/drop_infra.bats test case should be reworked"
Since cri-o version 1.23 Container_manage_ns_lifecycle has been removed and container_drop_infra_ctr has been defaulted to true.
The set of tests in drop_infra.bats should be reworked to do the following:

1. take the defaults (drop_infra_ctr is true) and verify that runc list does not show the infrastructure container and that crictl inspectp does not see the pid of the infrastructure container
2

[2022-05-11 17:40] haircommander commented on #5860
great point! do you have any interest in opening a PR to fix @furman-d1 ?

[2022-05-11 19:30] furman-d1 commented on #5860
Yes, I'll work on a fix.

[2022-05-11 20:15] psschwei opened #5862 "Error when following "Running CRI-O with kubeadm" guide"
### What happened?

I tried following the steps in the [Running CRI-O with kubeadm](https://github.com/cri-o/cri-o/blob/main/tutorials/kubeadm.md) guide, but the `kubeadm init --pod-network-cidr=$CIDR --config=$KUBEADM_CONFIG` resulted in an error.

[code]

### What did you expect to happen?

`kubeadm` to create a single-node cluster using the CRI-O runtime.

### How can we reproduce it (as minima

[2022-05-12 12:15] tpaimparay commented on #5849
Hi @haircommander ,
I am also blocked by this issue.
Did you go ahead with this rebuild ?
Thanks

[2022-05-12 13:06] Jeansen commented on #5838
There is also no Package for Debian. They are all excluded for 1.24
https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.24/cri-o

With 1.23 I can follow the main guide at https://cri-o.io/. But with 1.24 apt will not find the package cri-o (because it is not yet built).

[2022-05-12 15:16] rpr-github opened #5863 "Crio uses kubelet parameter "container-log-max-files" not in all cases"
Container log file rotation with crio can be configured like this:
The crio container log file size can be defined in crio.conf with “log_size_max”.
Kubelet provides a parameter “--container-log-max-size” for the log file size which however is ignored by crio.
There is no crio parameter for the file count for log rotation.
So, container log rotation can be configured with the crio parameter “log_s

[2022-05-12 17:15] haircommander commented on #5863
yeah for this reason we're deprecating log_size_max in cri-o 1.24.0. If you'd like to use the kubelet version, I recommend just setting cri-o's to unlimited so the only limit is imposed by the kubelet

[2022-05-13 10:32] hajnej commented on #5841
I noticed attempt to cherry-pick to release-1.20 didn't work.

[2022-05-13 13:44] haircommander commented on #5841
@hajnej are you able to give https://github.com/cri-o/cri-o/pull/5870 a try?

[2022-05-13 14:03] haircommander commented on #2885
I don't think centos 7 can support weak dependencies in an RPM. is it satisfactory to update to weak dependencies (Suggests: containernetworking-plugins) just for centos 8 and above? I think suggests best describes the relationship. I suppose we could also just drop entirely

[2022-05-13 15:37] brianmcarey commented on #5841
I tried a build from the release-1.22 branch and it resolved the segfault issue that I was seeing with the 1.22.3 package. Could we get cherry-picks for 1.21 and 1.23 too?

[2022-05-13 16:22] haircommander commented on #5841
1.23 should have it already, and here's the 1.21 variant https://github.com/cri-o/cri-o/pull/5859

[2022-05-13 17:29] haircommander commented on #2885
I have implemented ^ in 1.24.0. PTAL!

[2022-05-13 18:49] matthias50 commented on #2885
We are not using CentOS 7 any more so 8 and up is fine from my end.

[2022-05-13 18:51] haircommander commented on #5838
Okay  I believe I've fixed for 1.23. Were there any other versions that need fixing?

[2022-05-13 18:52] haircommander commented on #5849
I believe I have fixed this issue! can you PTAL

[2022-05-14 12:11] Jeansen commented on #5838
@haircommander I think you meant 1.24 ;-) and that works now. At least for me. :+1:

[2022-05-14 12:25] ComputerBaer commented on #5838
The top level repo for Ubuntu 22.04 is still missing `cri-o-runc` and more, because of failed go packages.

see https://build.opensuse.org/project/monitor/devel:kubic:libcontainers:stable?defaults=0&succeeded=1&failed=1&unresolvable=1&arch_x86_64=1&repo_xUbuntu_22_04=1

[2022-05-14 15:51] cccsss01 opened #5874 "install.md"
When installing through the instructions for Centos_8 resources are no longer available.
curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/$OS/devel:kubic:libcontainers:stable.repo
curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable:cri-o:$VERSION.repo https://download.opensuse.org/repositories/

[2022-05-15 16:49] #5632 closed

[2022-05-16 10:01] rpr-github commented on #5863
The kubelet parameter “--container-log-max-size” is NOT considered in ANY case, even if the crio parameter "log_size_max" is omitted.
and
Kubelet's “--container-log-max-files” is only considered if "log_size_max" has high values, e. g. 10 MB

So, currently log rotation can only be defined with the combination of a crio parameter and a kubelet parameter - not just with the 2 kubelet parameters “--c

[2022-05-16 10:30] rpr-github opened #5885 "CRIO starts with error msg "Node configuration validation for systemd CollectMode failed: check systemd CollectMode: exit status 1""
### What happened?

With every start of the crio service, one of the first log lines is:
Error ...level=error msg="Node configuration validation for **systemd CollectMode failed**: check systemd CollectMode: exit status 1"

[code]

Trying “CollectMode=inactive” and also “CollectMode=inactive-or-failed”  in /etc/systemd/system/multi-user.target.wants/crio.service has no effect on the error message:

[2022-05-16 14:06] haircommander commented on #5874
what VERSION are you using?

[2022-05-16 14:16] haircommander commented on #5863
if you set cri-o's `log-size-max` to `-1`, then we disable internal log rotation, and you should get the behavior you're looking for (predictable rotation from the kubelet)

[2022-05-16 16:10] haircommander commented on #5885
This error message means systemd itself doesn't support inactive-or-failed collect mode, meaning if cri-o runs for a long time there will be a gradual leak of failed scopes.

I think that's expected in CentOS 7, so I think you just have to upgrade to CentOS 8 or periodically cleanup the failed scopes

[2022-05-16 20:32] haircommander commented on #5838
Okay should be updated! are we good to close this?

[2022-05-17 06:13] willzhang opened #5889 "panic: interface conversion: types.Result is *types100.Result, not *types040.Result"
### What happened?

restart CRIO panic

journalctl -xeu crio --no-page in master nodes
[code]

### What did you expect to happen?

restart crio running success

### How can we reproduce it (as minimally and precisely as possible)?

 kubeadm install kubernetes v1.24.0 with multus，then  run `systemctl restart crio` in node1 ,  crio will failed ,and node1 is master node.

node2 and node3 is worker no

[2022-05-17 13:42] SiliconAlley opened #5891 "CentOS7 - cri-o-1.24 has missing requirements of containernetworking-plugins >= ('0', '1.0.0', '1')"
### What happened?

When installing cri-o-1.24 from the rpm out of the opensuse.org repositories it denies the installation because there is no needed version of containernetworking-plugins (1.0.0) available. There is still the old RC1 containernetworking-plugins-1.0.0-0.2.rc1.el7.1.2.x86_64.rpm which worked with cri-o-1.23.
In this way there is no possibility to update cri-o and even K8S, as both

[2022-05-18 12:31] rpr-github commented on #5863
I tried with  "log-size-max" set to "-1".
The effect is the same as with omitting "log-size-max":
- crio uses the kubelet parameter "--container-log-max-files"
- but it ignores "container-log-max-size",
- and the files grow beyond 1 GB

[2022-05-18 16:23] SriRamanujam commented on #5838
Could you please have 1.21 and 1.22 fixed as well? Much appreciated!

[2022-05-18 16:27] haircommander commented on #5838
I think I've fixed it, should be available in an hour or so

[2022-05-18 16:43] dbluxo commented on #4432
@haircommander does the buffersize limit of 8192 bytes per logline apply? Or does it also apply to all loglines with the same timestamp? We see the following behavior on our systems:

[code]

The second last log line was splitted, although it would have a total of only 2153 bytes (141+2012).
However, the sum of the first five log lines reaches the limit of 8192 bytes, so it is split.

[2022-05-18 16:45] haircommander commented on #4432
Interesting, I would expect the buffer to be reset after each newline, so it should only be calculated per buffer, not the total timestamp

[2022-05-18 18:46] haircommander commented on #5891
Okay I believe I've fixed it. can you give it a try  @SiliconAlley

[2022-05-18 18:50] haircommander commented on #4713
I believe the underlying issue has been fixed, and I'm going to close this. Please reopen if you disagree

[2022-05-18 18:50] #4713 closed

[2022-05-19 06:59] dbluxo commented on #4432
Do you have a hint where in the code the buffer is reset?

[2022-05-19 07:55] littlejawa opened #5896 "tests: the "runtime()" wrapper can't be used to test with RUNTIME_TYPE=vm"
### What happened?

The helpers.bat script defines a wrapper function "runtime()", used to call the runtime binary directly.
It assumes a runc-style interface for the parameters.

With RUNTIME_TYPE=vm, cri-o uses the containerd shim v2 interface (gRPC) to talk to the runtime binary. The command line interface is then not available directly form the binary, and the "runtime" wrapper fails.

### Wha

[2022-05-19 08:12] hajnej commented on #5841
Hi @haircommander I noticed PR is merged but [cri-o-1.20.7-2.14.el8.x86_64.rpm](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.20:/1.20.7/CentOS_8_Stream/x86_64/cri-o-1.20.7-2.14.el8.x86_64.rpm) is from 14th May. I'll wait for next build that contains the fix.

[2022-05-19 08:29] SiliconAlley commented on #5891
Thanks @haircommander,

I see it in the repo now. Let me try to solve my mess with yum.

[2022-05-19 09:34] SiliconAlley commented on #5891
Again many thanks,

it worked updating the containernetworking-plugins package (as I untared the same one). Then I had to remove with yum the old cri-o version cause yum couldn't reinstall and told me I have "multilib version problems", as I installed with rpm already.

[2022-05-19 09:34] #5891 closed

[2022-05-19 18:46] haircommander commented on #5896
great writeup! I am open to adapting the tests however needed to get them working with kata :)

[2022-05-19 19:25] michalpenka opened #5899 "Missing ARM64 builds for cri-o / 1.24 / Ubuntu 22.04 LTS"
### What happened?

After adding repository https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.24/xUbuntu_22.04/ cri-o cannot be installed on ARM64 machines.

Please provide ARM64 builds for CRI-0 1.24 (and all the future versions) for Ubuntu 22.04 LTS (and all the future versions).

### What did you expect to happen?

ARM64 builds exist in the repository and

[2022-05-19 20:00] haircommander commented on #5889
thank you for the report! I haven't had a moment to take a look yet, but hopefully some one will next week

[2022-05-19 20:14] rchap4 opened #5900 "Document Use and Puropose of SIGUSR1 and SIGUSR2 in CRI-O"
### What happened?

We can see that CRI-O handles SIGUSR1 and SIGUSR2, [SIGUSR1 writing a log file](https://github.com/cri-o/cri-o/blob/1d8d0dfd70aa181cb6f8349ff49138a83734c709/cmd/crio/main.go#L60) and [SIGUSR2 forcing Go to perform a Garbage Collection](https://github.com/cri-o/cri-o/blob/1d8d0dfd70aa181cb6f8349ff49138a83734c709/cmd/crio/main.go#L63).  However, we can't find any documentation on

[2022-05-21 22:21] kavirajk opened #5903 "Bug: `cri-o` not logging golang's panic as partial `LogTag`"
### What happened?

`cri-o` persist container logs in the node's disk usually under `/var/log/containers/<pod-name>.log`. And each entry of the log line takes the form.
[code]

e.g:
[code]

Here `logTag` can either be `F` (Full line) or `P` (Partial line).

When any application panics or print stack trace, I expect to see those lines a partial lines (except the last one with `F` tag meaning that's

[2022-05-23 15:57] Markus-SWAG commented on #5885
Looking in the code, cri-o assumes that the node "CollectMode" exists. The systemd version used in CentOS 7 is 219. "CollectMode" has been introduced in version 236 (https://github.com/systemd/systemd/blob/main/NEWS). Therefore cri-o not finding the expected node throws an error.
@haircommander It seems that even if this error is thrown, crio seems to work correctly. Can this be assumed?

[2022-05-23 16:06] haircommander commented on #5900
we do document the USR1 behavior [here](https://github.com/cri-o/cri-o/blob/main/tutorials/debugging.md), though I do see the usefulness of documenting USR2. Do you have any interest in opening a PR with suggested documentation changes?

[2022-05-23 16:14] Markus-SWAG commented on #5885
Thanks.

[2022-05-23 16:22] ssrini78 opened #5905 "CRI-O Installation for RHEL 9"
I want to download  packaged CRI-O in RHEL 9. These instructions do not work, as the link: "https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/" does not have path specific to RHEL or CentOS 9.

curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/$OS/devel:kubic:libcontainers:st

[2022-05-23 16:23] haircommander commented on #4432
I was wrong actually, this is expected behavior. Basically, conmon reads the container's logs in 8192 byte sized buffers. AT the end of that buffer, if there's no EOF or newline, whatever remains is logged and deemed "partial"

[2022-05-23 16:31] haircommander commented on #5905
Sorry we don't currently have a recommended way of installing. You may have some luck installing with the rhel 8 or centos 8 instructions. OBS doesn't yet support either centos or rhel 9

[2022-05-23 16:33] haircommander commented on #5899
oops, updated! should be available in an hour or so

[2022-05-23 19:45] mythi commented on #5838
We moved to 22.04 + cri-o but there's one issue with the packaging (not 22.04 specific): we also install `podman` which is now part of the distro itself so we get two versions of "containers-common" which try to install same files and apt fails:

[code]

[2022-05-23 19:52] tomtom94 commented on #5838
Hey @mythi I am encountering the same issue 😂
I have shoot on containers repositroy myself https://github.com/containers/buildah/issues/4012

[2022-05-23 20:30] haircommander commented on #5838
I've attempted an update for 1.24, if it works I will do the same for 1.23 and 1.22 :smiley:

[2022-05-24 04:10] ssrini78 commented on #5905
Thanks for your feedback Peter. I will proceed with RHEL 8 packages

[2022-05-24 04:10] #5905 closed

[2022-05-24 05:06] mythi commented on #5838
I can confirm my use-case works: I managed to install `apt install cri-o cri-o-runc podman` using `OS=xUbuntu_22.04` and `VERSION=1.24`.

[2022-05-24 06:01] tomtom94 commented on #5838
**It works fine with `VERSION=1.24` 🌱** so I am gonna use this version from now on 😂

But still not working with `VERSION=1.23`

This is due to (if ever you wanna reproduce)
[code]

[code]

[code]

[2022-05-24 06:20] mythi commented on #5838
@tomtom94 this is expected. the fix will be rolled out to other versions after we have confirmed the 1.24 fix works.

[2022-05-24 10:30] telmich commented on #5772
We are seeing more and more of these errors with crio and I was wondering whether this is related?

[code]

Symptom: pods don't start anymore, stay in `ContainerCreating` state (k8s wise).

[2022-05-24 13:43] haircommander commented on #5772
could you get me the crio goroutine stacks as described [here](https://github.com/cri-o/cri-o/blob/main/tutorials/debugging.md) @telmich

[2022-05-24 15:36] haircommander commented on #5838
1.23 should be updated now too! I believe we can close this, does anyone have any additional issues?

[2022-05-24 15:36] haircommander commented on #5863
I would be interested in seeing the kubelet and cri-o logs to see what's going on

[2022-05-24 16:37] rchap4 commented on #5900
Yes, I can open a PR with the suggested documentation changes.

[2022-05-24 18:05] jefflill commented on #5838
I was just able to install v1.24 on Ubuntu 22.04, but the [installation instructions](https://github.com/cri-o/cri-o/blob/main/install.md) need a minor update:

- [ ] Add an **Operating System=Ubuntu 22.04 $OS=xUbuntu_22.04** row to the environment table for Ubuntu.

[2022-05-24 18:18] jefflill commented on #5838
**DONE:** https://github.com/cri-o/cri-o/pull/5909

[2022-05-25 11:53] spdfnet commented on #5862
Also, the guide was done back in the Kubernetes 1.18 timeframe.

[2022-05-25 12:55] #2885 closed

[2022-05-25 15:18] haircommander commented on #5862
sorry @psschwei this fell through the cracks. yeah I agree the file could use an update. Do either of you have any desire in updating it?

[2022-05-25 20:47] psschwei commented on #5862
I don't have the bandwidth for a thorough updating, but it's more a matter of fixing commands that don't work, etc. then that's something I can do.

[2022-05-26 07:56] kangclzjc commented on #5653
@hasan4791 , are you still working on this 🙂?

[2022-05-26 13:26] haircommander commented on #5862
yeah that would be a great start if you'd like to take it on!

[2022-05-26 13:34] psschwei commented on #5862
Sure, I can do it

/assign

[2022-05-26 16:14] SizZiKe opened #5912 "Ubuntu 20.04 ARM64 cri-o-runc Size Mismatch"
### What happened?

E: Failed to fetch https://provo-mirror.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/arm64/cri-o-runc_1.0.1~1_arm64.deb  File has unexpected size (3229348 != 3229500). Mirror sync in progress? [IP: 91.193.113.70 443]
   Hashes of expected file:
    - SHA256:2c77162b5910de8e718530df7c1bf9d5c1976887843cbe2b8d88aeec5d640e6b
    - SHA1:524956cabdfa073

[2022-05-27 06:49] saschagrunert commented on #5889
@blochl do you have a reproducer for this?

[2022-05-27 14:56] tetianakravchenko opened #5915 "Add `/stats` endpoint to expose containers resource usage statistics"
Currently the only way to get containers stats is to use crictl:
[code]

To make it easier to get containers stats it would be useful to add `/stats` endpoint:
[code]
as well as an endpoint to get full list of containers.

[2022-05-27 17:46] haircommander commented on #5912
I have rebuilt to cri-o-runc 1.0.1~2 that should help, should be available in about an hour

[2022-05-28 19:29] jbpratt commented on #5889
Hi @saschagrunert , I ran into this just now. Here are some details, and it seems pretty consistently reproduced on my side but if this doesn't work, please let me know.

Running latest Fedora CoreOS 36 release `5.17.5-300.fc36.aarch64`. I've started an [FCOS VM x86 of the same version](https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/36.20220505.3.2/x86_64/fedora-coreos-36.20220

[2022-05-29 17:42] blochl commented on #5889
It's a clean installation of Ubuntu 20.04.4, with the latest version of CRI-O installed according to the instructions, and a newly created Kubernetes cluster. Basically a clean install.

[2022-05-29 19:56] skyend commented on #1768
Works for me this

/usr/lib/systemd/system/crio.service
[code]

cri-o version
[code]

[2022-05-30 08:05] harche opened #5916 "Incorrect mount propagation information in container status"
### What happened?

When container status is requested (e.g. by [crictl](https://github.com/kubernetes-sigs/cri-tools/blob/master/cmd/crictl/container.go#L411)), the mount propagation related information is not presented correctly.

If we run a container which uses mount propagation, e.g.

[code]

ContainerStatus returned by crio for such container looks like,

[code]

This is happening because cr

[2022-05-30 08:10] saschagrunert commented on #5916
@harche thank you for opening the issue! Are you working on a PR to fix the behavior?

[2022-05-30 08:15] harche commented on #5916
Yes.

[2022-06-01 07:21] saschagrunert opened #5923 "Pod eviction e2e tests fail"
### Which jobs are failing?

* test_pull_request_crio_e2e_fedora
* test_pull_request_crio_e2e_crun_fedora

### Which tests are failing?

* [sig-node] Pods Extended Pod Container lifecycle evicted pods should be terminal
* [sig-network] Services should be rejected for evicted pods (no endpoints exist)

### Since when has it been failing?

May 31st, 2022

### Testgrid link

None

### Reason for fail

[2022-06-01 07:37] aojea commented on #5923
why the pods are not being evicted? it exceeds the allocated storage

[2022-06-01 13:33] haircommander opened #5925 "fedora e2e has been failing"
### Which jobs are failing?

e2e_fedora, e2e_crun, e2e_crun_cgroupv2

### Which tests are failing?

Kubernetes e2e suite: [sig-network] Services should be rejected for evicted pods (no endpoints exist) expand_less
Kubernetes e2e suite: [sig-node] Pods Extended Pod Container lifecycle evicted pods should be terminal

### Since when has it been failing?

it has only passed a couple of times since ma

[2022-06-01 13:36] #5925 closed

[2022-06-02 04:25] LiuPai commented on #5889
I think this maybe the reason
https://github.com/cri-o/cri-o/blob/v1.24.0/vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go#L776
[code]

[2022-06-02 14:12] saschagrunert commented on #5923
Should be fixed with the merge of https://github.com/cri-o/cri-o/pull/5926

[2022-06-02 14:45] kavirajk commented on #5903
Yea. it was my misunderstanding. Thanks for the clarification.

[2022-06-05 03:41] Bamboer opened #5929 "cri-o stop container failed"
### What happened?

Hi ,
  We found a node with a Node-Exporter service that is always in the CrashLoopBackoff state(node-exporter run with DaemonSet model).We found that the container worked fine at runc, but stopped at CRI-O and Kubelet. It is possible that cri-o get a successful  response from runc.

  kubectl logs node-exporterxxx    get  port occupancy error is always displayed(we didn't  run

[2022-06-06 08:08] sbwfnhn opened #5931 "Not compatible with kubeadm configuration"
### What happened?

kubeadm-init.yaml
[code]

/etc/containers/registries.conf
[code]
[root@master01 k8s]# crictl images
[code]
Can't download the image registry.k8s.io/pause:3.6
because of the firewall

kubeadm init --config kubeadm-init.yaml --upload-certs  --v=5
[code]

journalctl -xefu kubelet
[code]
registry.k8s.io is blocked by firewall

Three solutions

1、Re-tag the image,
2、or add it to /et

[2022-06-07 00:16] 0xC0ncord commented on #5889
Hitting the exact same issue on a from scratch Gentoo cluster. I can reproduce by simply bootstrapping the cluster with `kubeadm init` and installing Calico.

- `app-containers/cri-o-1.24.0`
- `sys-cluster/kubelet-1.24.1`

[2022-06-07 06:25] harche commented on #5609
You will have to start the crio and then run local hack k8s cluster. e.g. https://github.com/cri-o/cri-o/tree/release-1.21#running-kubernetes-with-cri-o

[2022-06-07 06:26] harche commented on #5609
@thediveo BTW, there is another PRs where CRI related discussions are taking place - https://github.com/kubernetes/kubernetes/pull/110165

[2022-06-07 06:51] thediveo commented on #5609
thank you very much for the pointer!

[2022-06-07 14:25] bogdando commented on #4276
I have the same ``No CNI configuration file in /etc/cni/net.d/. Has your network provider started? `` error shown in ``crictl info`` on a custom FCOS based rpm-ostree setup (tried cri-o v1.21 and v1.24). I'm trying it with podman bridge CNI plugin though.

The podman CNI plugin passes manual checks omitting crio, (``NETCONFPATH=/etc/cni/net.d/ CNI_PATH=/usr/libexec/cni cnitool add podman /var/run/

[2022-06-07 17:54] #5841 closed

[2022-06-08 10:41] bogdando commented on #4276
I fixed the problem, so please disregard. There was a microshift.conf for CNI with  cni_default_network set to cbr0. Once I remove it, cri-o restarts and properly picks its cni plugin

[2022-06-08 17:35] haircommander commented on #5889
thanks for the patience y'all, @dcbw found the issue and I'm pulling it in. I'll backport to 1.24 and package it up once that's done.

[2022-06-08 20:26] haircommander commented on #5931
I'm under the impression this didn't didn't work as you're describing. my understanding is that kubeadm configures kubelet to know where the pause image is, and then the kubelet would use that information to not GC the pause image when CRI-O lists it as an available image. However, I wouldn't expect kubeadm to configure CRI-O to know where to pull the pause image, that's all in the registries.conf

[2022-06-09 06:21] #5889 closed

[2022-06-09 17:55] haircommander commented on #5929
this cri-o version is pretty old but I'll try best-effort to help out. I think I'll need the crio logs around the time the container disappeared. was crio restarted and did it fail to restore?

[2022-06-09 19:43] haircommander opened #5964 "explore using k8s tracing logging"
etcd and KAS use the https://pkg.go.dev/k8s.io/utils/trace package to log when operations are taking longer than expected. There are many situations where we hit unexpected latency (disk I/O when setting up rootfs, network plugin setup) that these logs could be useful for

[2022-06-10 01:35] Bamboer commented on #5929
thank for you reply. The scene of the first incident was so old that there was no log of the container disappearing.  do you have any suggestions or idea for this event ?

[2022-06-10 02:56] Bamboer commented on #5929
here is the crio log.
[crio.log.zip](https://github.com/cri-o/cri-o/files/8875411/crio.log.zip)

[2022-06-10 15:36] rpr-github commented on #5863
Sorry for the delay! The attachment contains log files of crio and kubelet when a container was started writing to stdout very fast. In the "good" case with log file size 20MB, 4 log files are maintained as configured in the kubelet parameter. In the "bad" case with log file size 200KB, just 1 log file exists which is overwritten every few seconds.
Please let me know whether the logging level shou

[2022-06-11 09:26] EmmanuelKasper opened #5966 "cri-o homepage at https://cri-o.io recommends unsafe way of adding kubic keyring on Debian based systems"
The main page of the https://cri-o.io/ website recommends the following:

[code]

however the uses of `apt-key` gives system wide trust to the kubic keyring, which means packages contained in the kubic repo and signed by the kubic release key could override core system packages

the current recommendation for Debian based systems is to limit the scope of trust of a keyring to its associated packag

[2022-06-12 17:50] AbdouTlili commented on #91
@wking is the pause container no longer a requirement ??

[2022-06-13 15:55] haircommander commented on #91
hey @AbdouTlili in some situations, the pause container is no longer a requirement. with the option `drop_infra_ctr = true` cri-o drops the pause container whenever it can. however, it will be a while before the pause container goes away completely, as i'ts currently needed to hold open PID namespaces

[2022-06-14 10:32] Bamboer commented on #5929
We have found many such problems, which are all in hostNetWork mode.

[2022-06-14 15:29] Bamboer commented on #5929
we found that the container application process exited, but the container process remained. Kubelet also received an error indicating that the port was occupied.

[2022-06-14 22:19] keremgocen commented on #5653
I'm also happy to have a go if no one is on it

[2022-06-19 21:07] zamazan4ik opened #5980 "Document supported hardware architectures"
Hi!

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is required - I do not know).

This kind of information is important for the end-users.

Thanks in advance!

[2022-06-20 07:20] saschagrunert commented on #5980
Hey @zamazan4ik, I agree it would be beneficial to have this information available. Do you think you will work on those docs as part of a PR?

[2022-06-21 12:22] #5916 closed

[2022-06-22 07:42] saschagrunert commented on #5980
Sounds good, I would probably list them as:

- linux/amd64: Fully integration and e2e tested
- linux/arm64: Bundled and build tested
- linux/i386: Build tested

I'm not sure if we test other architectures in conjunction with OpenShift.

We can also list the platforms build in OBS: https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable:cri-o:1.24

[2022-06-22 08:27] saschagrunert commented on #5653
We require https://github.com/kubernetes/kubernetes/pull/102884 to be merged to get the latest CRI changes in. In the meanwhile we could also work with the fork / PR.

[2022-06-24 16:25] mrunalp commented on #4432
I don't think we need any changes to the buffer size right now. The log parsers can implement joining the logs using the P and F annotations.

[2022-06-24 16:25] #4432 closed

[2022-06-24 17:51] spowelljr commented on #5899
Can confirm this is resolved now

[2022-06-24 17:56] spowelljr opened #6000 "`cri-o:/1.24/xUbuntu_20.04/s390x/` is missing"
Hi there, looking to update cri-o in [minikube](https://github.com/kubernetes/minikube) from 1.22 to 1.24, however the `s390x` arch is missing for 1.24. I'm assuming there was simply a build error or something similar.

On a side note, thanks for adding armv7 arch for 1.24!

https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.24/xUbuntu_20.04/

[2022-06-24 18:02] michalpenka commented on #5899
I cannot confirm as I moved to containerd for the moment. But I see the packages are present in the repo and @spowelljr confirmed independently. Thank you!

[2022-06-24 18:27] haircommander commented on #5899
Thanks for the confirmation, I will close this now

[2022-06-24 18:27] #5899 closed

[2022-06-26 00:02] saschagrunert commented on #5900
A friendly reminder that this issue had no activity for 30 days.

[2022-06-26 00:02] saschagrunert commented on #5896
A friendly reminder that this issue had no activity for 30 days.

[2022-06-26 00:02] saschagrunert commented on #5885
A friendly reminder that this issue had no activity for 30 days.

[2022-06-26 00:02] saschagrunert commented on #5874
A friendly reminder that this issue had no activity for 30 days.

[2022-06-26 00:02] saschagrunert commented on #5860
A friendly reminder that this issue had no activity for 30 days.

[2022-06-27 00:02] saschagrunert commented on #5915
A friendly reminder that this issue had no activity for 30 days.

[2022-06-27 00:02] saschagrunert commented on #5912
A friendly reminder that this issue had no activity for 30 days.

[2022-06-27 00:02] saschagrunert commented on #5849
A friendly reminder that this issue had no activity for 30 days.

[2022-06-27 13:35] #5849 closed

[2022-06-27 14:05] haircommander commented on #6000
I toggled them! should be available in an hour or so

[2022-06-27 17:17] #6000 closed

[2022-06-28 00:02] saschagrunert commented on #5838
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5819
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5818
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5808
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5799
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5798
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5793
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5772
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5747
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5736
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5721
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5720
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5719
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5718
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5715
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:02] saschagrunert commented on #5709
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5690
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5687
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5652
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5631
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5622
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5603
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5601
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5578
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5536
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5501
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5499
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5498
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5493
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5479
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5456
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5450
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5399
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5396
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5361
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5352
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5345
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5335
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5320
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5319
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5301
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:03] saschagrunert commented on #5294
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:04] saschagrunert commented on #5273
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:04] saschagrunert commented on #5256
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:04] saschagrunert commented on #5192
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:04] saschagrunert commented on #5188
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:04] saschagrunert commented on #5181
A friendly reminder that this issue had no activity for 30 days.

[2022-06-28 00:14] jefflill commented on #5838
I believe I've already signed the commit.

You know, you guys are making this really hard to make a one line documentation change.  How about one of you make this change yourselves?

[2022-06-28 05:51] harche commented on #5202
We need to bump up the crio commit in upstream node e2e tests and see if they pass fine.

[2022-06-28 06:31] uablrek commented on #5335
Don't know if `cri-o` can do anything or if this is a requirement on the host. Probably K8s-from-scratch users (like me) are affected. Anyway as I recall it was a pain to troubleshoot so perhaps a note in some doc.

[2022-06-28 06:47] alicefr commented on #5578
@saschagrunert right, the PR is still open. I need to figure out why the 3 jobs are failing. If you remember, we discuss it but I haven't found the reason yet

[2022-06-28 07:35] saschagrunert commented on #5202
Let's give it a try in https://github.com/cri-o/cri-o/pull/6007

[2022-06-28 08:10] flouthoc commented on #5793
I am actually able to reproduce this but by manually adding failures i.e skipping certain parent layers by instrumenting code here https://github.com/containers/storage/blob/main/drivers/overlay/overlay.go#L911

[code]

So I get
[code]

However I had to manually introduce this failure i still think this should not persists in newer versions of `c/storage` since on newer versions of `c/storage` the

[2022-06-28 13:56] haircommander commented on #5818
@lbogdan were you still planning on working on this?

[2022-06-28 13:58] haircommander commented on #5799
We have dropped the bridge plugin installing by default in cri-o 1.24.0, so this should work better now

[2022-06-28 13:58] #5799 closed

[2022-06-28 13:59] haircommander commented on #5819
@lbogdan were there any items remaining on this or is it good to be closed?

[2022-06-28 14:00] haircommander commented on #5798
@kagedani were you able to figure out what was going on? sounds like it was a registry problem, can this be closed?

[2022-06-28 14:04] haircommander commented on #5747
I believe this can be closed, please reopen if you disagree

[2022-06-28 14:04] #5747 closed

[2022-06-28 14:04] haircommander commented on #5736
@hama-25179 do you still intend on working on this?

[2022-06-28 14:06] haircommander commented on #5720
@saschagrunert did you still want to work on this?

[2022-06-28 14:13] haircommander commented on #5715
I think this would still be useful, especially as we move to runtime default

[2022-06-28 14:21] haircommander commented on #5687
I did find the issue here. The tags aren't annotated, so `git describe --exact-match` fails. When it's run on the branch (not the tag) it succeeds. I am not yet sure the best way to fix (other than me annotating the tag when I make it)

[2022-06-28 14:25] haircommander commented on #5690
hey @klihub did you have any desire to work on this? I forget where we were at with it

[2022-06-28 14:27] haircommander commented on #5652
we still want this

[2022-06-28 14:28] haircommander commented on #5631
I believe this can be closed, please reopen if you disagree!

[2022-06-28 14:28] #5631 closed

[2022-06-28 14:30] haircommander commented on #5603
@fuele were you able to install?

[2022-06-28 14:31] haircommander commented on #5601
this is still an issue

[2022-06-28 15:03] Markus-SWAG commented on #5885
All answers provided, can be closed. Thanks.

[2022-06-28 15:06] #5885 closed

[2022-06-28 17:53] haircommander commented on #5498
do either of you want to open a PR to do so? @rphillips @wgahnagl

[2022-06-28 17:55] #5361 closed

[2022-06-28 17:56] haircommander commented on #5345
@jjayesh-gohil did you figure this one out?

[2022-06-28 18:00] #5456 closed, assigned to nobody

[2022-06-28 18:01] haircommander commented on #5319
is this still an issue @v-khtruo

[2022-06-28 18:08] haircommander commented on #5294
hey @r10r are you still looking for this?

[2022-06-28 18:11] haircommander commented on #5188
I believe this issue is still present, and has to do with mount propegation of the home directory for c/storage. Adding the `skip_mount_home` option to `/etc/containers/storage.conf` fixes I believe

[2022-06-28 18:23] haircommander commented on #5335
maybe we can add something to `tutorials/`?

[2022-06-28 18:25] haircommander commented on #5793
@flouthoc are you able to help pinpoint the commits that fix in 1.32.3? maybe we can backport to affected branches in cri-o

[2022-06-29 00:53] inductor commented on #4277
http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.24:/1.24.1/Raspbian_11/ still doesn't have arm64

[2022-06-29 04:46] dgl opened #6009 "Unmasked ProcMountType is ignored"
### What happened?

After enabling the ProcMountType feature gate setting `procMount: Unmasked` in a pod spec results in still seeing paths like `/proc/kcore` mounted.

### What did you expect to happen?

`mount | grep /proc` within the container only show one mount.

### How can we reproduce it (as minimally and precisely as possible)?

Add `--feature-gates=ProcMountType=true` to Kubernetes compo

[2022-06-29 06:09] r10r commented on #5294
@haircommander  Yes I am. But as pointed out this is related to user namespace support in kubernetes.
It seems that user namespace support for CRI was just merged https://github.com/kubernetes/kubernetes/pull/110535.
I look forward for the changes being added to kubernetes.
Please feel free to close the issue. Thanks.

[2022-06-29 08:21] alexey-boyko commented on #5256
yes, thanks

[2022-06-29 08:21] #5256 closed

[2022-06-29 08:28] uablrek commented on #5335
Do you have an "Infrequently Asked Quersions" section :smile:

[2022-06-29 14:15] haircommander commented on #5064
we are actually working on moving cri-o to a mount namespace on startup in some situations https://github.com/cri-o/cri-o/pull/5974

[2022-06-29 14:18] #4922 closed

[2022-06-29 14:24] haircommander commented on #4771
whoops this fell through the cracks. I think we'll need the crio logs to debug this. Is this still an issue for you @aniecki

[2022-06-29 15:05] haircommander commented on #4624
we have no fully migrated

[2022-06-29 15:05] #4616 closed

[2022-06-29 15:08] haircommander commented on #4509
it passes now

[2022-06-29 15:09] haircommander commented on #4445
I think this can be closed. please reopen if you disagree

[2022-06-29 15:09] #4445 closed

[2022-06-29 15:10] haircommander commented on #4415
I think this is fixed

[2022-06-29 15:10] #4415 closed

[2022-06-29 15:25] haircommander commented on #4424
it passes now!

[2022-06-29 15:25] #4424 closed

[2022-06-29 15:29] haircommander commented on #4381
I think this is fixed now, please reopen if you disagree

[2022-06-29 15:29] #4381 closed

[2022-06-29 15:30] haircommander commented on #4343
we actually do have a get script now

[2022-06-29 15:30] #4343 closed

[2022-06-29 15:33] haircommander commented on #4382
actualy, I'm confusing this with https://github.com/cri-o/cri-o/issues/5601, I think we're good here

[2022-06-29 15:33] #4382 closed

[2022-06-29 15:33] haircommander commented on #4296
I think this can be closed

[2022-06-29 15:33] #4296 closed

[2022-06-29 15:38] haircommander commented on #4277
I turned on aarch64 for both raspbian 10 and 11, should be ready in an hour or so

[2022-06-29 15:43] haircommander commented on #5335
hah, or "Obscure bugs". Another option is we can put as many keywords in this issue, and this can serve as the document :D

[2022-06-29 15:43] #5838 closed

[2022-06-29 16:33] haircommander commented on #5294
sounds good!

[2022-06-29 16:33] #5294 closed

[2022-06-29 17:31] mtardy opened #6015 "Vagrant box is unavailable and dependencies package missing from Ubuntu 22.04"
### What happened?

I tried to build cri-o first with the given Vagrantfile and it could not complete since [the Vagrant box used is hosted externally](https://app.vagrantup.com/fedora/boxes/30-cloud-base) and the external URL no longer works, unfortunately: https://download.fedoraproject.org/pub/fedora/linux/releases/30/Cloud/x86_64/images/Fedora-Cloud-Base-Vagrant-30-1.2.x86_64.vagrant-virtualbo

[2022-06-29 20:06] haircommander commented on #6015
ah there's a broken link in the README. you need to enable the kubic repo as describe [here](https://github.com/cri-o/cri-o/blob/main/install.md#apt-based-operating-systems) to get cri-o-runc and containers-common

also, what vagrant file are you using?

[2022-06-29 20:54] mtardy commented on #6015
Aaaah sorry then!!

The main vagrant file in the root folder https://github.com/cri-o/cri-o/blob/main/Vagrantfile.

[2022-06-30 00:50] nealey commented on #3634
I can not reproduce this bug based on my initial report. The most current release is only gzipped once.

[2022-06-30 00:50] #3634 closed

[2022-06-30 13:16] haircommander commented on #4235
this has been done! https://github.com/cri-o/cri-o/blob/main/SECURITY.md

[2022-06-30 13:16] #4235 closed

[2022-06-30 13:17] #3454 closed

[2022-06-30 13:52] haircommander commented on #4045
I think this was fixed

[2022-06-30 14:10] haircommander commented on #4003
we still want this!

[2022-06-30 14:10] #4027 closed

[2022-06-30 14:21] haircommander commented on #3869
this is still an issue

[2022-06-30 14:23] #3744 closed

[2022-06-30 14:24] haircommander commented on #3697
I believe we have this

[2022-06-30 14:24] #3697 closed

[2022-06-30 15:45] haircommander commented on #1837
we have a ADOPTORS.md file now!

[2022-06-30 15:45] #1837 closed

[2022-06-30 15:53] haircommander commented on #1585
I think at this point, it's unlikely we will implement this. We're generally in the process of keeping processing out of cri-o and into subcomponents, and since conmon (and conmon-rs) currently do this, I think we will keep it there

[2022-06-30 15:53] #1585 closed

[2022-06-30 17:05] haircommander commented on #6015
I would say that vagrant file is barely supported. I have opened a PR to remove it. I would follow the `install.md` instructions and we can fix issues there if we find new ones

[2022-06-30 17:39] haircommander commented on #5352
fixed by https://github.com/cri-o/cri-o/pull/6022

[2022-06-30 17:41] haircommander commented on #5719
oops this fell through the cracks.  This is a duplicate of https://github.com/cri-o/cri-o/issues/4574

[2022-06-30 17:41] #5719 closed

[2022-06-30 17:42] haircommander commented on #4574
I think autodetecting ended up being more tricky than expected

[2022-06-30 18:00] #5345 closed

[2022-06-30 18:09] haircommander commented on #5345
excellent to hear!

[2022-06-30 18:44] #6015 closed

[2022-06-30 22:25] lkelting opened #6024 "Package Request"
Can there be packages of the latest CRI-O added for Alma 9 x86_64.

This will be used for a Kubernetes install.

I would be happy to help contribute and test if someone is able to point me in the right direction for taking part in the project on the Suse build service. This is going to be needed on Rocky 9 when it is out of beta, and being a part of the process would be helpful.

[2022-07-04 12:41] msh2050 opened #6028 "How to start CRI-O in WSL (without systemctl )"
As you know, WSL has no support for WSL in official distro
so what is the proper way to start CRI-O

[2022-07-05 14:36] haircommander commented on #6028
a hint could be: how do you intend on running the kubelet? or how would you run docker/containerd? however the answer, I'd expect cri-o should work the same

[2022-07-05 15:37] haircommander commented on #6024
I'm afraid there's no el9 in obs yet. I intend on building in epel9, but haven't gotten time to do so

[2022-07-05 15:51] haircommander commented on #6024
sounds great, thanks @skelting1 !

[2022-07-05 15:52] haircommander commented on #6024
btw here's the el{7,8} definition https://build.opensuse.org/package/view_file/devel:kubic:libcontainers:stable:cri-o:1.24/cri-o/cri-o.spec?expand=1

[2022-07-07 04:23] dgl opened #6034 "/dev/shm is mounted noexec by default"
### What happened?

I'm running user workloads within a container, including an unmodified Chrome (103.0.5060.53, using the official package).

Chrome uses shared memory in /dev/shm to store JIT'd code which it then runs. Through the `io.kubernetes.cri-o.ShmSize` annotation I can make this large enough, however Chrome tabs sometimes crash with an error about SIGILL, particularly on JavaScript heav

[2022-07-07 08:44] elezar opened #6036 "Support reload of cri-o config to add runtimes"
Is it possible to trigger a restart of crio to apply new runtime configurations without requiring a node reboot? e.g. through `SIGHUP` or by watching for changes at `/etc/crio/crio.d`.

## Motivation

When configuring additional runtimes (e.g. the NVIDIA Container Runtime or Kata), we want to make modifications to the `crio.conf` file (or a file in `/etc/crio/crio.d`). For example adding:
[code]
(

[2022-07-07 08:51] zvonkok commented on #6036
/cc @zvonkok

[2022-07-07 11:43] Lakshmi-Patneedi opened #6037 "CRI-O installation failing"
### What happened?

**We are installing CRI-O, in this way**
1. curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/$OS/devel:kubic:libcontainers:stable.repo
2. curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable:cri-o:$VERSION.repo https://download.opensuse.org/repositories/devel:kubic:libcontain

[2022-07-08 10:26] james58899 opened #6040 "Container failed to create when feature gate NodeSwap enabled"
### What happened?

Container failed to create when k8s feature gate `NodeSwap` enabled and create a pod with memory limit.

error:
[code]

### What did you expect to happen?

Create container without error and unlimited swap, or at least success create container but not set swap limit setting.

### How can we reproduce it (as minimally and precisely as possible)?

1. Kubernetes cluster with featu

[2022-07-08 13:15] #6037 closed

[2022-07-08 13:57] thediveo commented on #5609
/activity ;)

[2022-07-11 05:09] gmarkey commented on #5838
Hi,

There are no 1.21 builds for Ubuntu 22.04

[2022-07-12 09:25] wahjava opened #6047 "crio fails validation for conmon_cgroup when using cgroupfs as cgroup manager"
### What happened?

`crio` fails validation for `conmon_cgroup` when using `cgroupfs` as cgroup manager. With following configuration:

    [crio.runtime]
    cgroup_manager = "cgroupfs"
    conmon_cgroup = ""

Due to presence of conflicting checks a97c66840e119656066510970dd2f214032ce527 and 211902f5a1b5d560804aafabe77a92509191dda5, the only acceptable value is `pod`.

Otherwise it would fail wit

[2022-07-12 10:45] wahjava commented on #6047
Maybe following would do (w.r.t. release-1.21 branch, d78036c23eb02b1ed3913736a7656e5bd615cdc8):

[code]

Sorry, I didn't compile it, as compiling it requires more dependencies than I've it on my computer at this moment.

[2022-07-12 18:44] skelting1 commented on #6024
Through the power of doing the exact same thing several days later, 1.24.1 is compiling and working just fine. (Same line adjustments were made to change the rhel version checks from 8 to 9)

[2022-07-13 13:23] shinji62 opened #6050 "Container rootfs not removed"
Hello,
I am trying to debug an issue where potentially container rootfs is not remove leading to space to fill up. Most likely when receive Remove Container
crio[27512]: time="2022-07-12 13:28:04.920114867Z" level=info msg="Removed container 676f31c6572d8666db9f76b205feac89320893bf27b72c44b673600d936dd7cd: runners/default-k8s-runner-tqgnz-hfs95/runner" id=6f564226-48d6-4f08-9e2a-183919e28664 name=

[2022-07-13 14:47] haircommander commented on #6036
This makes sense to me! I find myself wondering if we should only accept new additions and not change the runtime configuration in-place. Do you have any bandwidth to try implementing this @elezar?

[2022-07-13 15:41] haircommander commented on #6037
I am guessing you figured it out, which is great to hear!

[2022-07-14 09:11] elezar commented on #6036
@haircommander we could start out with only allowing new runtimes and then see what the implications are w.r.t. removing existing ones (although that is strictly speaking also a use case we would be interested in).

With regards to trying to implement this, I should be able to give it a go but will require some guidance.

My first assumption would be that I would have to extend the `Reload*` funct

[2022-07-14 10:00] elezar commented on #6036
I have created #6056 as a first pass.

[2022-07-14 11:22] #6009 closed

[2022-07-14 15:12] haircommander commented on #5863
fwiw we have begun deprecating the cri-o specific log-size-max in favor of kubelet's container-log-max-files argument

[2022-07-14 15:14] haircommander commented on #5838
with 1.24 release, 1.21 is out of support. I attempted to add it but there was a build failure. I'm afraid I'm too spread thin to take a look right now

[2022-07-14 15:16] haircommander commented on #6024
hah, well I'm glad you have figured it out! Eventually, I'd like the code that packages cri-o to live in this repo, but it doesn't yet. I'll ping you when we make that migration / when I package for el 9, which ever comes first 😄

[2022-07-14 17:22] haircommander commented on #6050
yeah I would also expect the rootfs to be removed after a remove container request. Note, kubelet won't submit a remove container request immediately after a container is deleted from the kube api. this allows for logs to be scraped and other such diagnostics. I would expect the rootfs to be somewhere like `/var/lib/containers/storage/overlay-containers/676f31c6572d8666db9f76b205feac89320893bf27b7

[2022-07-14 17:27] haircommander commented on #6036
you are on the right track 😄

[2022-07-15 00:54] SidneyAn commented on #5889
hi @haircommander , the PR https://github.com/cri-o/cri-o/pull/5949 was not merged into 1.24 branch yet. will it be packaged up to next 1.24.* release?

[2022-07-15 05:27] shinji62 commented on #6050
Thanks @haircommander so in this case what is `/var/lib/containers/storage/overlay/` comparing to `/var/lib/containers/storage/overlay-containers/` ?

[2022-07-15 13:22] haircommander commented on #5889
it was merged in https://github.com/cri-o/cri-o/pull/5960, and just needs to be packaged up. I can try to do a round of packages next week

[2022-07-15 17:27] nalind commented on #6050
The `/var/lib/containers/storage/overlay-containers/containers.json` file will have an entry in it which includes the container's ID and the ID of the container's read-write layer.

Running it through something like `jq 'map(select(.id=="676f31c6572d8666db9f76b205feac89320893bf27b72c44b673600d936dd7cd"))[].layer'` should help in finding that layer ID.  That layer ID corresponds to a directory unde

[2022-07-15 22:14] matthias50 commented on #5793
@haircommander, @flouthoc, we have recently updated to crio 1.22.5. Does this crio have the updated `c/storage` which should not have this issue? If not, which version does?

[2022-07-17 21:31] uablrek opened #6069 "Setcap doesn't work with cri-o v1.24.1"
### What happened?

A test with a non-root container fails on master;
[code]
The `/sbin/ip` has cap_net_admin=eip and this works on earlier version. We have a requirement on non-root containers but we must use the `ip` command in multi-network setups.

I thought this was K8s, but it was my upgrade of `cri-o`, v1.22.0 -> v1.24.1.

Please see https://github.com/kubernetes/kubernetes/issues/111196.

[2022-07-17 21:32] uablrek commented on #6069
/cc @saschagrunert

[2022-07-18 08:07] saschagrunert commented on #6069
Funny, I can reproduce the issue with the image `registry.nordix.org/cloud-native/xcluster/alpine-test:latest`, but not when I built it locally, for example:

[code]

[code]

[code]

[code]

[2022-07-18 08:44] SidneyAn commented on #5889
thanks!

[2022-07-18 09:14] uablrek commented on #6069
That *is* weird. I use docker which I suppose my stake-holders also do, but I think they are using `cri-o` so they will probably bump into this problem eventually.

[2022-07-18 09:55] saschagrunert commented on #6069
@uablrek can you try to verify that it works when building the image via podman?

[2022-07-18 10:05] uablrek commented on #6069
@saschagrunert I have not used Podman and I use a local private docker-registry and transfer my local built images to it using `skopeo`, so it may take a while. If you can push you image to some public registry I can test it quickly.

[2022-07-18 10:19] uablrek commented on #6069
@saschagrunert Scratch that. I have tried and I get the same problem with Podman. Use Ubuntu 22.04 and podman installed with `apt install`;
[code]
Built with
[code]
Then cached in my local registry.

[2022-07-18 12:09] uablrek commented on #6069
Yes, without "runAsUser: 1000" it works with the docker and the podman built images.

[2022-07-18 12:17] uablrek commented on #6069
I had similar problems on Ubuntu 20.04, https://bugs.launchpad.net/ubuntu/eoan/+source/iproute2/+bug/1856045. I don't know if it's related.

I had to use the setuid-bit instead which is less secure by far.

[2022-07-18 12:50] saschagrunert commented on #6069
Having a fix in mind in https://github.com/cri-o/cri-o/pull/6070

[2022-07-18 14:15] flouthoc commented on #5793
@haircommander @matthias50 I was unable to reproduce this when i tried this last-time without manual instrumentation of code but sure let me try again and see if I can reproduce this and point to the exact commit.  Thanks

[2022-07-20 09:20] dilyanpalauzov opened #6073 "Missing dot in contrib/cni/README.md"
### What happened?

https://github.com/cri-o/cri-o/blob/main/contrib/cni/README.md#configuration-directory says:

A dot is missing between `crio.network` and `cni_default_network`.

### What did you expect to happen?

Not applicable.

### How can we reproduce it (as minimally and precisely as possible)?

Not applicable.

### Anything else we need to know?

Not applicable.

### CRI-O and Kubernetes

[2022-07-20 09:36] dilyanpalauzov opened #6074 "Inconsistent documentation for default value of `crio.network.cni_default_network`"
### What happened?

https://github.com/cri-o/cri-o/blob/main/contrib/cni/README.md#configuration-directory says:

In my configuration files I have not set crio.network.cni_default_network.  `crio-status config` prints `cni_default_network = ""`.

https://github.com/cri-o/cri-o/blob/main/docs/crio.conf.5.md#crionetwork-table states:

That is, the first citation implies implicit `crio` as default va

[2022-07-20 09:57] dilyanpalauzov opened #6075 "contrib/cni/README.md: clarify which plugin versions are supported"
### What happened?

https://github.com/cri-o/cri-o/blob/main/contrib/cni/README.md#cni-plugin-installation-from-source contains:

Please elaborate which versions are supported by CRI-O and why 0.8.7 is suggested currently.

Later the file states:

`flannel` is not part of the the most recent https://github.com/containernetworking/plugins, see https://github.com/containernetworking/plugins/commit/7

[2022-07-20 15:03] ledroide commented on #5889
Same issue here, with cri-o 1.24.1
[code]
[code]

[2022-07-20 20:04] dilyanpalauzov opened #6080 "contrib/cni/README.md suggests installing outdated CNI version 0.3.1, not supported by Kubernetes"
### What happened?

According to https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/ Kubernetes supports CNI-plugins with minimum specification version 0.4.0, but prefers version 1.0.0.

https://github.com/cri-o/cri-o/tree/main/contrib/cni#configuration-directory suggests copying files from `cri-o.git/contrib/cni` to `/etc/cni/net.d`.  The files in  `cri-o.gi

[2022-07-21 20:34] haircommander commented on #6073
do you have any interest in opening a PR @dilyanpalauzov ?

[2022-07-21 20:35] haircommander commented on #6074
the second one is correct, the default value is "", do you want to open a PR to fix?

[2022-07-21 20:36] haircommander commented on #6075
yeah that is out of date. for 1.24.0, we recommend 1.1.1. same here, any desire to update?

[2022-07-21 20:36] haircommander commented on #6080
yeah we use 1.0.0 and greater now

[2022-07-21 20:36] haircommander commented on #6080
thanks for noticing all of these inconsistencies!

[2022-07-22 00:10] dilyanpalauzov commented on #6073
I have no interest in opening a PR.

[2022-07-22 00:11] dilyanpalauzov commented on #6074
I have no interest in opening a PR.

[2022-07-22 00:12] dilyanpalauzov commented on #6075
I have no interest in opening a PR.

[2022-07-22 11:06] fromanirh opened #6086 "highperformance irq balancing support causes the `/etc/sysconfig/irqbalance` to slowly grow unbounded"
### What happened?

The highperformance hooks can update the irqbalance configuration file to adjust the current banned cpu list,
depending on pod annotations. This is done to make sure that guaranteed pods that declare they don't want to have IRQ
processing on the CPUs they're assigned to, gets that.

When the update is done in-place, so likely most of the time,  a stray '\n' is added on _every_

[2022-07-23 10:24] uablrek commented on #5335
This seem to be fixed in cgroup v2 which is now default. Closing...

[2022-07-23 10:24] #5335 closed

[2022-07-23 22:52] GRMrGecko opened #6090 "Segmentation Fault"
In trying to setup k8s with cri-o, I'm getting segmentation faults on Fedora 35 as it pulls images

[code]

[code]

[logs.txt](https://github.com/cri-o/cri-o/files/9174795/logs.txt)

podman is able to pull the image correctly:

[code]

[2022-07-23 23:01] GRMrGecko commented on #6090
Upgrading to newer version of cri-o fixed:

[code]

[2022-07-23 23:01] #6090 closed

[2022-07-24 06:15] dilyanpalauzov commented on #6074
The files `contrib/cni/11-crio-ipv4-bridge.conf` and `contrib/cni/10-crio-bridge.conf` contain `"name": "crio"`.  Provided that the default is `""` and I have not changed it, how will moving one of the `contrib/cni` file to `/etc/cni/net.d/` help?  Or why does it work?

[2022-07-26 13:21] camrossi commented on #5931
I am also facing the same issue, I am deploying in a sandbox environment with no internet access.
My workflow was to simply do a `kubeadm config images pull` to prepare the node VMs templates but not I need another step

Also this is a change from the previous behaviour

[2022-07-30 06:30] arcolife commented on #4622
I got this

[2022-07-31 22:37] 0xC0ncord opened #6108 "CRI-O does not do SELinux relabeling on volumes on pod recreation, leading to problems on refpolicy"
### What happened?

This is in relation to a work in progress SELinux policy module for kubernetes and CRI-O that will eventually be upstreamed into refpolicy.

The default behavior of Fedora's (and derivatives') SELinux policies is a default MLS range for all file objects of `s0` (https://github.com/fedora-selinux/selinux-policy/blob/rawhide/policy/mcs#L2=). On refpolicy, the default behavior is

[2022-08-01 00:10] 0xC0ncord commented on #6108
After further investigation I realized that the test case of using a `hostPath` volume will not work because `hostPath` volumes do not support SELinux relabeling at all. At the same time I ran into this with a different storage provider and I am currently looking into whether this is even an issue in CRI-O or if the storage provider doesn't properly report SELinux support for the volume it creates

[2022-08-01 03:27] 0xC0ncord commented on #6108
Turns out this was due to kubelet missing permissions to get the SELinux state on the host system, and so at startup it read that SELinux was disabled and was not properly informing CRI-O to relabel volumes as needed.

[2022-08-01 03:27] #6108 closed

[2022-08-01 22:41] #6086 closed

[2022-08-03 09:01] saschagrunert commented on #3008
I guess this can be closed now.

[2022-08-03 09:01] #3008 closed

[2022-08-04 17:14] dilyanpalauzov opened #6131 "contrib/cni/11-crio-ipv4-bridge.conf does not work out of the box"
### What happened?

In `/etc/cni/net.d/` I have:
<details>
<summary>11-crio-ipv4-bridge.conf</summary>

[code]
</details>

<details>
<summary>87-podman.conflist</summary>

[code]
</details>

<details>
<summary>99-loopback.conf</summary>

[code]
</details>

and cni.lock.  The content of 11-crio-ipv4-bridge.conf is taken from https://github.com/cri-o/cri-o/blob/main/contrib/cni/11-crio-ipv4-bridge.c

[2022-08-05 01:30] anrs commented on #3555
I've encountered the 'permission denied' error before and fixed as @Wang-Kai solution

[2022-08-05 07:48] dilyanpalauzov opened #6133 "Remove recommendation of passing `--container-runtime=remote` to kubelet"
### What happened?

https://github.com/cri-o/cri-o/blob/main/tutorials/kubernetes.md#preparing-kubelet suggests passing `--container-runtime=remote` to `kubelet`.  `kubelet --help` says

That said, adding this parameter to kubelet currently produces warnings about utilizing deprecated options.

### What did you expect to happen?

Not applicable.

### How can we reproduce it (as minimally and preci

[2022-08-05 12:33] dilyanpalauzov commented on #6131
Same as https://github.com/cri-o/ocicni/issues/77.

[2022-08-05 18:57] dilyanpalauzov commented on #6131
I found out, that calling ` kubectl create  -f …` sometimes does produce the above error.  But calling afterwards `kubectl delete pod … && kubectl create -f …` one or more times, does construct the container correctly.  So the question is, why does the CNI configuration sometimes work and sometimes not?

[2022-08-06 07:48] dilyanpalauzov commented on #6131
I found out, that sometimes initially there is an error with initializing the network, which over time self-heals, and sometimes initially things work good from the first time.

However, if I call `strace -s2048 -f -p $(pidof crio)` the network is always utilized correctly from the first time.  Strace might slow down some procedures and in turn solve race conditions, that lead to the warning Faile

[2022-08-07 08:17] dilyanpalauzov opened #6135 "annotation ≠ io.kubernetes.cri-o.userns-mode auto"
### What happened?

https://github.com/cri-o/cri-o/blob/main/tutorials/userns.md describes the value "auto" of the annotation `io.kubernetes.cri-o.userns-mode`.  Please describe what other values are accepted for the annotation.

### What did you expect to happen?

Not applicable.

### How can we reproduce it (as minimally and precisely as possible)?

Not applicable.

### Anything else we need to

[2022-08-07 16:15] twojenski commented on #5793
I'm still getting this same problem:
[code]
My podman version:
[code]

I manually created:  `/var/lib/containers/storage/vfs/dir/d341f455a6ab37853a590a92d3b74178809399fefc85d3485735d7f5406a5286  `
and not it worked....

Any suggestions on permanent fix?

[2022-08-08 06:40] flouthoc commented on #5793
@twojenski Would it be possible to share a small reproducer or environment details. I pulled exact same podman and tried reproducing on `vfs` storage but I'm not able to reproduce, I wonder if its something in my environment that i am unable to reproduce this original issue at all.

[code]

[2022-08-08 06:41] flouthoc commented on #5793
In issue https://github.com/containers/podman/issues/14380 also user attempted to create the missing layer directory manually https://github.com/containers/podman/issues/14380

[2022-08-08 08:00] giuseppe commented on #5399
that cannot work.  The rootless kubelet will run in a different mount namespace, and the mounts created by the kubelet won't be visible to CRI-O.

you need to create the namespace manually and run both the kubelet and CRI-O from there in a similar way to usernetes.

[2022-08-08 08:03] giuseppe commented on #5399
I am not sure we should document the `_CRIO_ROOTLESS` env  variable at this point.  It is not a supported feature but mostly a hack to get CRI-O working with usernetes.

[2022-08-08 08:03] #5399 closed

[2022-08-09 16:55] haircommander commented on #5889
sorry for the long delay, I've finally packaged 1.24.2. Thanks for everyones patience

[2022-08-10 13:44] dilyanpalauzov opened #6141 "After restart, crio does not bind to the ports, it used before the restart"
### What happened?

I have a system where kubelet and crio runs, and there is no cluster (kubelet complains it has no configuration).  crio listens only to localhost:44091.
<details>

[code]
</details>

I initialize a single node Kubernetes cluster.  crio still listens only to TCP localhost:44091.

I create a container including
[code]
Now crio listens to both *:3890 and localhost:44091.

<details

[2022-08-10 15:51] haircommander commented on #6141
you can use cri-o's `stream_port` option to statically assign a port. if the port is "0"--as is the default, then cri-o randomly decides a port

[2022-08-10 17:13] haircommander commented on #6040
hey sorry for the late response! This should be fixed in https://github.com/cri-o/cri-o/pull/6139

[2022-08-10 18:03] dilyanpalauzov commented on #6141
My understanding is that once kubectl accepts command to bind container’s port to host’s port, as above, kubelet, crio and crun follow and their behaviour survive restarts.  So it shall not be necessary to use `stream_port`.

In the example above before the restart crio listens to ` localhost:44091` and after the restart it listens to `localhost:37717`.  This is not the problem.

The problem is th

[2022-08-10 21:29] #6040 closed

[2022-08-11 15:37] ffromani opened #6145 "high performace hook: irqbalance: incorrect handling of short affinity mask"
### What happened?

The high performance hook support the dynamic IRQ balancing thanks some well known annotation.
Pods can opt out from IRQ handling exposing this annotation. On pod startup, crio will recompute the irqbalance ban mask and reapply irqbalance to make sure the cpus assigned to these pods will not handle IRQs - being added to the irqbalance ban mask.
This works only for guaranteed po

[2022-08-11 17:37] haircommander commented on #6141
ahh I see, sorry I got caught up with cri-o changing ports, and missed the piece about you wanting the container port forward to continue.

This makes sense to me and I can see why there's a bug. it's not immediately clear how to fix it. I think the kubelet may need to detect the port forward CRI call got dropped and re-establish it (when cri-o is back up). It may be tricky to do that in a CRI agn

[2022-08-11 18:17] dilyanpalauzov commented on #6141
While crio listens to *:3890, do you have an idea why it does not answer queries to localhost:3890, as described at https://github.com/containernetworking/plugins/issues/763?

[2022-08-11 18:56] haircommander commented on #6141
nothing concretely but I left some thoughts over there

[2022-08-12 07:39] yangjunmyfm192085 opened #6147 "When removing container with graceful shutdown time, crictl stats gets stuck for the same time"
### What happened?

as discussed in  [#111738](https://github.com/kubernetes/kubernetes/issues/111738), When graceful delete time is set to 30s, the `crictl stats` command gets stuck for 30s, and when it is set to 120s, the ` crictl stats` command gets stuck for 120s.

### What did you expect to happen?

The `crictl stats` command works fine when the container is removed

### How can we reproduce

[2022-08-15 18:26] haircommander commented on #6024
we'll be packaging into a copr repo for OKD that will provide el9 packages. @LorbusChris do you have a link to the repo?

[2022-08-15 18:30] LorbusChris commented on #6024
sure :) https://copr.fedorainfracloud.org/coprs/g/OKD/okd/

Note that the CentOS community has already asked us to go through the usual packaging steps via the CentOS Stream dist-git, so we'll additionally do that eventually

[2022-08-15 23:24] terinjokes commented on #5793
I'm seeing this intermediately on cri-o 1.24.1. Like OP, I'm using the overlay driver. Restarting cri-o (and the kubelet) seems to have no effect.

[2022-08-16 07:44] danishprakash commented on #5652
Mind If I pick this up @haircommander ?

[2022-08-16 11:41] haircommander commented on #5652
I'd be happy if you did!

/assign @danishprakash

[2022-08-16 13:38] matthias50 commented on #5793
@flouthoc, it does seem similar. iirc, when I created the directory, it fixed one error but then there were more and I couldn't find a way to reliably fix nodes broken in this way.  Instead, we put in place automation which watches for pods to be added or modified. When these events occur it will then it performs further checks and if it detects a pod stuck initializing with a corresponding event

[2022-08-16 13:43] matthias50 commented on #5793
@flouthoc, I see from this comment that you are using `vfs` for the replication attempts:

Perhaps this issue only occurs when `overlayfs` is is in use as suggested by @terinjokes.

[2022-08-17 04:40] flouthoc commented on #5793
@matthias50 I only used `vfs` just to reproduce scenario shared here https://github.com/cri-o/cri-o/issues/5793#issuecomment-1207440047 by @terinjokes , I guess the issue happens with both `vfs` and `overlay` but for some reason i am unable to reproduce this on my local with the shared version.

[2022-08-18 13:58] EldarEccor commented on #5490
This might be a bit brutal, but using a "wrapper" for runc worked for my test:

`/usr/bin/runc-wrapper`
[code]

`crio.conf`
[code]

This way we emulate the the behavior of [containerd ](https://github.com/cri-o/cri-o/issues/5818#issuecomment-1108362359) and make sure every call to runc by crio will have `--systemd-cgroup`. The default cgroupfs [assumption ](https://github.com/google/cadvisor/blob/

[2022-08-18 15:06] haircommander commented on #5490
I have put together a [patch](https://github.com/cri-o/cri-o/pull/6153) that adds `--systemd-cgroup` to all runc commands. Can someone PTAL and let me know if it fixes your issue

[2022-08-19 14:40] amsapns2 opened #6156 "cri-o-runc_1.1.3-1_amd64.deb File has unexpected size"
### What happened?

Executing

echo "deb http://download.opensuse.org/repositories/home:/alvistack/xUbuntu_${VERSION_ID}/ /" | tee /etc/apt/sources.list.d/home:alvistack.list && \
    curl -fsSL https://download.opensuse.org/repositories/home:alvistack/xUbuntu_${VERSION_ID}/Release.key | gpg --dearmor | tee /etc/apt/trusted.gpg.d/home_alvistack.gpg > /dev/null && \
    # curl -fsSL https://downloa

[2022-08-22 08:05] tomglaza opened #6157 "Overlay2 does not work in the pod"
### What happened?

We are in the process of migrating our kubernetes klaster from docker-ce to cri-o and have found an issue with some of Our workloads. These particular workloada are Our CI pipelines wich use Docker-in-Docker aproach. On the old nodes, these workloads work fine, but on the new nodes, docker tends to use fuse-overlayfs as storage driver instead of overlay2. In this configuration