[2016-09-14 09:04] runcom opened #8 "Integrating storage"
Taken from https://github.com/mrunalp/ocid/issues/22, part of https://github.com/mrunalp/ocid/issues/6.

Depends on https://github.com/containers/image/pull/63 but we could actually start playing with this. This also depends on https://github.com/containers/image/pull/41 (wrt to have containers/image to receive an auth configuration to pull from registries), but not strictly, I'll work on that asa

[2016-09-14 13:51] nalind commented on #8
Pull looks about right to me.  We should need a Mount call after CreateContainer, but the heavy part after that is keeping track of the container's ID so that it can be reused, restarted, or eventually deleted.  If there's a shareable format for that information, it can be stashed in the storage library using SetMetadata() or SetBigData() and ocid can scan through the list returned by Containers()

[2016-09-14 13:53] runcom commented on #8
Great, I'm specifically tacking Pull as a first iteration to be merged in ocid. Thanks Nalin.

[2016-09-15 10:50] runcom opened #9 "repo description is wrong"
a silly one - but the repo description is saying

while I think it should be

[2016-09-15 16:38] mrunalp commented on #9
@sarahnovotny @vishh Could one of you help fix this? Thanks!

[2016-09-15 16:40] philips commented on #9
I can.

[2016-09-15 16:40] philips commented on #9
Does this work? "An Open Container Initiative Runtime Integration to Kubernetes"

[2016-09-15 18:07] runcom commented on #9
fine with me :)

[2016-09-15 18:28] mrunalp commented on #9
I would prefer not to have runtime in the description, since we intend to add support for oci images as well.
How about "Open Container Initiative Integration to Kubernetes" ? (like @runcom first suggested).

[2016-09-15 20:20] philips commented on #9
Would it make sense to use the tagline from the README? "Open Container Initiative-based implementation of Kubernetes Container Runtime Interface"?

https://github.com/kubernetes-incubator/ocid#ocid---oci-based-implementation-of-kubernetes-container-runtime-interface

I am trying to balance the fact that other engines will also do OCI, for example Docker is probably just as OCI as ocid as they bot

[2016-09-15 20:49] mrunalp commented on #9
@philips Yeah, sure. The README description works fine. Thanks!

[2016-09-15 23:18] sarahnovotny commented on #9
LGTM

On Thu, Sep 15, 2016 at 1:49 PM Mrunal Patel <notifications@github.com>
wrote:

[2016-09-16 07:23] #9 closed

[2016-09-16 21:05] sarahnovotny opened #12 "confusion over the ocid name?"
After reading the updated repo description, I believe i understand the intent of this work but, am concerned that naming it only ocid will be both confusing and a possible infringement on the OCI trademarks.  I see the following options:
- find some examples of cases where this sort of naming based on a standard is common even when the standard offers formal certification (which is in the works no

[2016-09-16 21:14] vbatts commented on #12
I couldn't find a link to the opencontainers trademark. Though it doesn't
seem terribly confusing to me.

On Fri, Sep 16, 2016, 17:05 sarahnovotny <notifications@github.com> wrote:

[2016-09-16 22:16] mrunalp commented on #12
@sarahnovotny I will reach out to the OCI Trademark Board to see what they think. We aren't claiming that this project is OCI compliant but rather that it makes use of OCI compliant runtimes. I do see your concern and can modify to take out "compliant" from the README till runc is formally verified as compliant, though. Thanks!

[2016-09-16 22:24] sarahnovotny commented on #12
thanks, @mrunalp and @vbatts.

[2016-09-16 22:27] vbatts commented on #12
🐿️🐧

On Fri, Sep 16, 2016, 18:24 sarahnovotny <notifications@github.com> wrote:

[2016-09-17 10:07] runcom opened #16 "Setup CI and integration tests"

[2016-09-17 10:31] runcom opened #17 "containers states should be saved and restored"
Right now if I create a pod sanbox named "test", stop ocid, restart ocid, and try to start a sandbox again with the same name ocid will of course tell me "test" already exists. This is fine but "./ocic pod remove --id test" tells me that "test" isn't in the server sandboxes - that's because sandboxes are checked on filesystem paths on start while on removal they're checked against the "server.stat

[2016-09-17 10:36] runcom commented on #17
The same applies with containers - commands like "remove" will fail while ocid knows they exist because it checks paths under /var/lib/ocid/{sandboxes|containers}

[2016-09-17 11:13] runcom commented on #17
Sanboxes and containers in server.stage should need some sort of locking also.

@mrunalp I've assigned this to myself but if you're already working on this feel free to reassign this to you.

[2016-09-17 11:54] cyphar opened #18 "Building issues"
To be fair, I have an unconventional `GOPATH` setup (I have my home directory set to be my `GOPATH` then I put all projects under `~/src/project` with a symlink at `~/src/github.com/*` to `~/src`. The idea being that I don't need to have the three-level-deep project hierarchy that is mandated by Go.

However, running `make` causes this interesting error:

[code]

From what I can see, it looks like

[2016-09-17 13:18] runcom commented on #18
I know what this is and the root cause is that godeps sucks in my opinion because it vendors from GOPATH and vendoring is complicated because you don't really check every revisions in your GOPATH before running godeps and the results is that most packages don't get even vendored in the json :) I have a PR almost ready to switch to a saner vendoring tool like glide

[2016-09-17 13:23] runcom commented on #18
BTW, my rant against godep could not be related to this issue, but worth a try.

[2016-09-17 14:21] runcom opened #22 "Clean container files on CreateContainer failure"
Filing issue so we don't forget. If `CreateContainer` https://github.com/kubernetes-incubator/ocid/blob/master/server/runtime.go#L307 fails we should not leave files and dirs around in `/var/lib/ocid`.

I already fixed this in `CreatePodSandbox` in the first commit of https://github.com/kubernetes-incubator/ocid/pull/15

[2016-09-17 14:50] mrunalp commented on #18
I agree that godep doesn't work half the time. 👍 on moving to anything better!

[2016-09-17 14:56] runcom commented on #18
opened https://github.com/kubernetes-incubator/ocid/pull/19 to move to glide

[2016-09-17 15:01] mrunalp commented on #16
We need @sarahnovotny or @vishh or @yujuhong to help set up travis integration.

[2016-09-17 15:06] mrunalp opened #23 "Pod sandbox container setup"
Today, the creation is manual. We need to automate it and make it user configurable.

[2016-09-17 15:08] runcom commented on #23
@mrunalp should every pod sandbox run kubernetes/pause? I haven't really understood if that's the case

[2016-09-17 15:09] runcom commented on #23
This seems to be related to https://github.com/kubernetes-incubator/ocid/issues/8 though - since we need a way to setup images before attempting to run containers

[2016-09-17 15:13] mrunalp commented on #23
@runcom Yes, each pod needs to run it. But, what we do today is end up pointing to the same rootfs and make the rootfs readonly in config so it is shared by all the pod infra containers. Also, the reason why we are running it is because at some point we want to be able to run systemd/init in the pause container (if the user wants). Another alternative in the short term is to just replace the pod i

[2016-09-17 15:26] mrunalp opened #24 "conmon: Handle logs"
Today we are moving bytes back and forth between std streams and master pty. The stdout/stderr should be replaced by log files and the std stream code should move to the client on attach.

[2016-09-17 15:32] cyphar commented on #18
Why not use https://github.com/LK4D4/vndr? The thing I like about the Docker `vendor.sh` script is that it is very simple and there's no funny business with your vendoring tool trying to "update" your dependencies automatically.

[2016-09-17 15:35] runcom commented on #18
@cyphar I believe they're the same, opencontainers/image-spec and image-tools use glide w/o hassles - I believe it's really the same, any reason you want `vndr`?

also does #19 fix your issue here?

[2016-09-17 15:36] cyphar commented on #18
It doesn't fix the problem. And if you think that glade is fine I don't really care all that much (anything is better than godep):

[code]

[2016-09-17 15:38] runcom commented on #18
lol right, on my end it's really easy to switch to `vndr` so if you find glide too much or it won't work for our usual vendoring somehow - feel free to replace it.

ouch, I should try with your setup running golang from master (normally i use 1.6.3 and I don't have this issue). Out of curiosity, would you try not having that symlink and see if this issue persist?

[2016-09-17 15:41] cyphar commented on #18
Yeah, I'll give that a shot. I _really_ hope that I don't need to switch to Go's preposterous ideas about how a home directory should be organised.

[2016-09-17 15:44] cyphar commented on #18
Yeah, not using the symlink fixes the issue. **facepalm** This is utterly ludicrous, and my guess the reason this is happening is because of the vendoring experiment changes not being properly written -- maybe I should write a patch for Go to fix this.

[2016-09-17 15:44] cyphar commented on #18
I'll close this issue since it's technically on my end. A possible solution would be for us to create a Dockerfile which allows us to build the binaries.

[2016-09-17 15:44] #18 closed

[2016-09-17 15:45] runcom commented on #18
:+1: could you file an issue so we won't forget and anyone can pick that up and contribute?

[2016-09-17 15:48] cyphar opened #26 "Add Docker-based build option"
Because compiling Go code is ... fun, it would be nice to provide a Dockerfile-based alternative to the standard `make all` build (similar to how runC allows you to build the project inside a Dockerfile). It would also be useful because it would allow packagers to ensure that they handle all of the build requirements for distributions.

[2016-09-17 15:54] runcom commented on #16
we need this in order to check for DCO also (lint, and other little stuff)

[2016-09-17 16:16] cyphar commented on #24
Is this something that I need to consider as part of the runC console rewrite? Or do you think the `--console-socket` API won't make a difference in regards to this problem? Or do you just want to switch what fd conmon will pipe data to?

[2016-09-17 16:41] mrunalp commented on #24
@cyphar I think it could be a separate PR to pass additional fds to runc that it can dup stdout/stderr to.  What do you think? Else, we will have to change the fds that we write to in conmon as you said.
The 5 problems that we need to solve in conmon are:
1. exit code: Capture the container exit code so we can pass it back as pass of status. (this kinda works but I want to look into signalfd).
2.

[2016-09-18 04:36] cyphar commented on #24
As we discussed in the `--console-socket` PR, I think that having an API to specify what `fd`s to dup over stdio would be _incredibly_ useful. We could use the same API to specify what `fd` runC should copy data to/from (if you're not detaching). The only downside is that you couldn't really use `runc create`...

[2016-09-18 16:23] mrunalp opened #31 "Separate IDs and names for containers"
We should generate IDs for pods/containers as primary keys instead of their names.

[2016-09-18 18:30] runcom commented on #31
What would happen if someone tries to create twice a container named the same? But probably different config?

[2016-09-18 18:31] runcom commented on #31
We will probably need a lookup table for names to tell fastly it's duplicate and stuff like these..

[2016-09-18 18:40] mrunalp commented on #31
Yeah the namespace would be different in meta.

[2016-09-19 00:19] vishh commented on #16
What is needed @mrunalp? We also have a jenkins test server we maintain for
k8s. So depending on the testing needs, we can use jenkins or travis.

On Sat, Sep 17, 2016 at 8:54 AM, Antonio Murdaca <notifications@github.com>
wrote:

[2016-09-19 02:44] mrunalp commented on #16
@vishh Right now travis will suffice. I will let you know when we are ready for jenkins :)
For now, you need to sign into travis with github creds and turn on the tests for this repo. See https://docs.travis-ci.com/user/getting-started/. Thanks!

[2016-09-19 19:36] mrunalp opened #38 "Add integration tests"
We need some basic integration tests that we can run per PR. `bats` could be used if there are no suggestions for anything better.
cc: @runcom

[2016-09-19 20:08] runcom commented on #38
Let's leave this open and close https://github.com/kubernetes-incubator/ocid/issues/16 then, I'll try to work on this as soon as I can if anyone doesn't jump here and take this :)

[2016-09-19 20:12] mrunalp commented on #38
Sounds good! :)

[2016-09-19 20:12] #16 closed

[2016-09-19 20:20] mrunalp commented on #12
Okay, this will be discussed in the next OCI TB meeting later this week. I will update the feedback that I get from the OCI TB here. Thanks!

[2016-09-22 02:04] q384566678 commented on #18
Hello, I also encountered a similar problem, I would like to ask you how to solve the problem

go build -o ocid ./cmd/server/main.go
# command-line-arguments
cmd/server/main.go:99: cannot use s (type *grpc.Server) as type *grpc.Server in argument to runtime.RegisterRuntimeServiceServer
cmd/server/main.go:99: cannot use service (type *server.Server) as type runtime.RuntimeServiceServer in argument

[2016-09-22 14:18] estesp commented on #12
I know you guys don't control what The New Stack writes, but surprising, but maybe not based on the name, there is now a story claiming this is a project and intention of the OCI itself: http://thenewstack.io/oci-building-way-kubernetes-run-containers-without-docker/

[2016-09-22 16:27] thockin commented on #12
Yeah, I agree the name is somewhat misleading.  So is "CRI".  Neither CRI nor OCID (seemingly) aim to be universal things.  CRI is kubelet's internal API for abstracting runtimes out.  OCID is an implementation of CRI.  I know the docs say this but it is maybe not clear enough?

[2016-09-22 16:34] yujuhong commented on #12
@philips mentioned a few names for the rkt implementation of CRI. One popular option is rk8s (and dk8s for docker). If we follow the same convention, maybe ocid can be renamed as ok8s?

Not sure if a better name would've actually prevented stories stories like http://thenewstack.io/oci-building-way-kubernetes-run-containers-without-docker/

[2016-09-22 16:47] mrunalp commented on #12
The intention wasn't to mislead but to have a simple boring name hence `ocid` seemed apt. We can rename it to something different.

cc: @rhatdan @smarterclayton

[2016-09-22 17:19] thockin commented on #12
No malice was assumed :)

On Thu, Sep 22, 2016 at 9:47 AM, Mrunal Patel <notifications@github.com>
wrote:

[2016-09-22 17:26] rhatdan commented on #12
nfsd :^)

[2016-09-22 19:12] caniszczyk commented on #12
@mrunalp I'll followup with you from an OCI perspective on this issue next week after deliberation but we don't have formal trademark guidelines in OCI outside of what is provided by the LF default (https://www.linuxfoundation.org/trademark-usage).

We are also in the process of developing an OCI certification program which will add some clarity in terms of how we expect the wider community to use

[2016-09-22 19:13] mikebrow commented on #12
Good points.. all.  A rename is probably a good idea for the reasons Sarah pointed out.  Just a point of reference Docker used the name containerd for a similar project that they needed to build to "layer" in runc.

In the ocid case the daemon is supporting commands to meet Kube's interface for managing **k**ube **p**ods, **c**ontainers and **i**mages.

Possible names:
containerk
runp
runkube

[2016-09-22 19:15] mrunalp commented on #12
@caniszczyk Thanks for the update. Meanwhile I have merged in #14 that removes the word `compliant` from the README.

[2016-09-22 19:16] mrunalp commented on #12
Thanks for the suggestions @mikebrow

[2016-09-22 19:36] thockin commented on #12
if this is just a CRI implementation, can we just go with boring names like
"oci-cri"

On Thu, Sep 22, 2016 at 12:16 PM, Mrunal Patel <notifications@github.com>
wrote:

[2016-09-22 19:47] rhatdan commented on #12
A few more instances of daemons named after the protocol standard - httpd, sshd, kerberosd,

[2016-09-22 19:48] thockin commented on #12
naming the program is different than the project.  https => apache, sshd => openssh.  I don't know much about Kerberos.

Naming is hard, let's not be clever.

[2016-09-22 19:53] rhatdan commented on #12
Actually I wanted to call it OCD.  But that has other connotations.

[2016-09-22 20:00] mikebrow commented on #12
I sort of like kcrid easy to type not memorable to the point :-) Also like containerk or containerkd as a nod to the docker guys to explain the relationship of this interface within kubernetes. To @thockin's idea to call it oci-cri oci is what we're look at trying to avoid in the name.  Maybe runc-crid, bit long to type though.

[2016-09-22 20:02] runcom commented on #12
just `crid`?

[2016-09-22 20:03] mikebrow commented on #12
I google crid and the result made me want to leave it out of my list

[2016-09-22 20:50] sarahnovotny commented on #12
I like:

kuber
containerk

I'm happy to change the name of the repo as soon as we have consensus.

@thockin and @mikebrow, i'd love for us to avoid the use of OCI *or* runc without clear trademark fair use guidelines (which based on the conversations this morning on the OCI Trademark Board call could be O(weeks) out).

[2016-09-22 20:54] vbatts commented on #12
If it isn't against fair use, then is this issue because this project is in
the kubernetes-incubator ?
I realize there is confusion, but it seems like it can be clarified
adequately in the docs. It is a daemon that uses OCI components. That is
pretty clear.

On Thu, Sep 22, 2016, 16:50 sarahnovotny <notifications@github.com> wrote:

[2016-09-22 21:00] sarahnovotny commented on #12
no... the issue is that OCI TMB and OCI Certification Working Group aren't far enough along to make a clear decision if this falls in or out of fair use.  As a member of of both groups (TMB and Cert WG), we appreciate your patience (and hard work) as we get closer the 1.0 of all the specs and finalize a certification program and the resultant TM fair use guidelines.

[2016-09-22 21:26] vbatts commented on #12
Right on

On Thu, Sep 22, 2016, 17:00 sarahnovotny <notifications@github.com> wrote:

[2016-09-22 23:44] ncoghlan commented on #12
(Chiming in from the perspective of someone that had coincidentally recently asked for more clarity around acceptable uses of the OCI's marks)

@sarahnovotny's suggestion of `containerk` is interesting, as it seems like that could readily become a default convention for Kubernetes CRI backend daemons (`rktk`, `nspawnk`, etc). When I first heard the `ocid` name I wondered why it was being published

[2016-09-23 00:37] thockin commented on #12
the-project-soon-to-be-formerly-known-as-ocid is not a generic CRI daemon -
it is a SPECIFIC implementation of CRI for OCI runtimes.

On Thu, Sep 22, 2016 at 1:02 PM, Antonio Murdaca <notifications@github.com>
wrote:

[2016-09-23 00:40] thockin commented on #12
I sort of reject the notion that OCI people will forbid something like
"cri-oci" or similar.  I'd rather wait for that to settle (or do it now
rename it again later) than choose a dumb name now.

cri-oci sets precendent for cri-rkt, cri-hyper, cri-docker, cri-lmctfy, etc.

On Thu, Sep 22, 2016 at 5:36 PM, Tim Hockin <thockin@google.com> wrote:

[2016-09-23 01:39] chriswright commented on #12
@thockin I don't like that notion either, working with OCI folks to DTRT

[2016-09-23 22:44] #26 closed

[2016-09-23 22:44] #38 closed

[2016-09-26 22:06] sarahnovotny commented on #12
@chriswright and @thockin per an afternoon conversation with a subset of the OCI Trademark Board, their preference would be for us to follow the umbrella [Linux Foundation Trademark Guidelines](https://www.linuxfoundation.org/trademark-usage) until the full group meets and decides OCI Certification plan and Trademark usage guidelines.  Both of which are longer term goals.

There were no objections

[2016-09-26 23:26] thockin commented on #12
I'm going to rename the repo to `cri-o` and you all can clean up the mess.

On Mon, Sep 26, 2016 at 3:06 PM, sarahnovotny <notifications@github.com>
wrote:

[2016-09-26 23:27] thockin commented on #12
DONE

On Mon, Sep 26, 2016 at 4:26 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-09-26 23:56] mrunalp commented on #12
@thockin Thanks!
@vishh Looks like we need to re-enable travis. Could you do that?

[2016-09-27 16:10] mikebrow commented on #12
Cool name (pun intended :-)

[2016-09-27 16:20] sarahnovotny commented on #12
punny

On Tue, Sep 27, 2016 at 9:11 AM Mike Brown <notifications@github.com> wrote:

[2016-09-28 17:57] rhatdan opened #68 "gometalinter is not available on Fedora"
[code]

[2016-09-28 18:12] runcom commented on #68
@rhatdan you need to run "make install.tools" before running that

[2016-09-28 18:16] mrunalp commented on #68
@rhatdan Also, added instructions to get started in #67

[2016-09-28 18:17] runcom commented on #68
@rhatdan if `make install.tools` works we can close this I guess

[2016-09-28 18:45] rhatdan commented on #68
Why not have this happen automatically?  Does install.tools require root?

[2016-09-28 18:46] rhatdan commented on #68
Ok not, but it would be nice if
make lint triggered a make install.tools the first time, or at least told me I need to do make install.tools

[2016-09-28 18:47] runcom commented on #68
I'm fixing that

[2016-09-28 19:02] #68 closed

[2016-09-28 20:16] jawnsy opened #75 "Enable cross compilation for ocic tool"
The companion tool developed for testing ocid is generally useful for any CRI-based runtime, so it would be useful to provide cross-compiled versions for other platforms.

It seems the `gimme` tool used by Travis CI to manage the Go dependency can [handle cross compilation quite easily](https://github.com/travis-ci/gimme#travisyml), however, it may be easiest if we split the ocic tool into its own

[2016-09-28 20:18] runcom commented on #75
seems like we could need this in a second development stage - we're currently targeting runc now

[2016-09-28 20:37] jawnsy commented on #75
@runcom What do you think about splitting `ocic` into a separate project? This should make it easier to cross-compile, plus builds probably wouldn't need sudo (since we don't need docker) - which should make them run faster.

[2016-09-28 20:40] runcom commented on #75
it's not something in the current scope of the project https://github.com/kubernetes-incubator/cri-o#what-is-not-in-scope-for-this-project

[2016-09-29 13:18] rhatdan commented on #75
Can't you just switch it in the Makefile?

Is
make ocic?
Enough?

I have fears of the security issues of making ocic  and ocid listen to the network, yet another process listening on the network giving root access to anyone who can connect.

[2016-09-29 23:48] ipbabble opened #81 "ocic pod remove does rm container in memory state"
[root@gideon cri-o]# ocic pod list
ID: 9112c2bac547df317c99967de8b5f63b8aafb2158ad9b640e6163eae42e9a439
Status: READY
Created: 2016-09-29 17:32:31 -0600 MDT
[root@gideon cri-o]# ocic pod stop --id=9112
9112
[root@gideon cri-o]# ocic pod list
ID: 9112c2bac547df317c99967de8b5f63b8aafb2158ad9b640e6163eae42e9a439
Status: NOTREADY
Created: 2016-09-29 17:32:31 -0600 MDT
[root@gideon cri-o]# ocic pod rem

[2016-09-29 23:54] mrunalp commented on #81
Thanks @ipbabble I'll look into this one.

[2016-09-30 15:23] ipbabble opened #82 "Currently runc needs to be built and installed and not installed using yum/dnf"
In the setting started guide it is important to point out that currently runc and cri-o are being updated regularly with some dependencies.  Intsalling runc packages will not guarentee that cri-o will run successfully at this time. Therefore it is best to install runc from a local build. Point to runc repo and the build/install instructions.

If you have runc installed already from a package it is

[2016-09-30 20:16] #81 closed

[2016-10-01 02:13] alobbs opened #87 "Using CFLAGS breaks compilation"
If CFLAGS or LIBS is passed as a parameter to make the compilation will likely fail.

[code]

This happens because the new CFLAGS replaces the internal one where includes are being set.

[2016-10-01 03:24] alobbs opened #89 "getopt() used in a glib application"
`conmon` uses `getopt()` even if it's a glib based application, and therefore could use the much more modern `GOptionContext` mechanism. Given that the dependency already exists, it'd be good to port the code. We'd gain `--long-parameter` support along with an automatic `--help` parameters and many other goodies.

[2016-10-01 15:02] cyphar opened #91 "Is the pause container necessary?"
Currently we set up the pause container as k8s already does with Docker. However, it should be noted that (to my understanding) the only purpose of the pause container is to allow for k8s to mess around with the network setup of containers -- since we're using CNI natively it should be possible to not have this requirement.

Or is the pause container a requirement because we need to have some proc

[2016-10-01 15:10] runcom commented on #91
@cyphar to my understand we need to have that process which is holding namespaces and stuff so we can attach other containers. Now we have hacked a solution with the "pause" container but ideally anything can be run as the pod process (systemd?). That said, we still need at least #8 to land before talking about removing that hacked solution.

[2016-10-01 15:11] runcom commented on #91
@mrunalp knows better than me about that though so I'll defer a more valid answer to him.

[2016-10-01 19:38] mrunalp commented on #91
@cyphar We do not technically need the pause container till there is support for sharing pid namespaces between the containers. We did it this way as it was easiest to get going.
I am thinking that in the short term, we can provide a simple C based pause container that gets compiled and installed with the other binaries in cri-o.
The real longer term fix is to detect whether pid namespace sharing

[2016-10-01 19:40] #87 closed

[2016-10-05 06:14] #31 closed

[2016-10-05 17:57] mrunalp opened #95 "Support restart"
We should be able to support restarting ocid by scanning the pod/container states by reading their config.json and then updating the status of each container using UpdateStatus API.

[2016-10-05 21:14] runcom commented on #95
Isn't this somehow the same as https://github.com/kubernetes-incubator/cri-o/issues/17?

[2016-10-05 21:37] mrunalp commented on #95
@runcom Yeah, closing this one in favor of #17

[2016-10-05 21:37] #95 closed

[2016-10-06 01:12] mrunalp commented on #22
I am working on this one. Assigning to myself.

[2016-10-06 16:09] runcom opened #101 "make install should not rebuild"
as the title says, make build, make install shouldn't

[2016-10-06 16:12] runcom opened #102 "container_linux.go:247: starting container process caused "exec: \"/pause\": stat /pause: no such file or directory""
just `make binaries` and then try to run something starting ocid with paths to conmon/pause binaries /cc @cyphar

[code]

[2016-10-06 16:30] mikebrow commented on #101
easy enough to change..

[2016-10-06 17:06] mikebrow commented on #17
Similar issue:
I did a runc kill default-podsandbox1-0-infra ...
Subsequently ocid reports:
[code]
And the default name is reserved...
[code]
And it can't be removed from the cli:
[code]

[2016-10-06 17:33] rhatdan commented on #102
I am seeing the same thing.

[2016-10-06 17:47] mrunalp commented on #102
Strange. It works fine for me :/ What OS are you testing on?

[2016-10-06 17:48] runcom commented on #102
Fedora 24

[2016-10-06 17:50] mrunalp commented on #102
@runcom okay, I am testing on rawhide.

[2016-10-06 18:01] rhatdan commented on #102
I am testing on rawhide and seeing the issue.  Perhaps there is something on your box making this work. Have you tried in a VM?

[2016-10-06 18:08] mrunalp commented on #102
@rhatdan could be possible. I'll try it in a VM where I haven't run ocid before and report back here.

[2016-10-06 19:19] mrunalp commented on #102
Hmm, I tried it in a new VM but still can't reproduce the issue.

[2016-10-06 20:29] mikebrow opened #107 "Add pod `--name` to ocic pod list?"
What's the purpose of --name on the ocic create command?

I get that the id is automatically generated. But I figured if we're going to have a requested name it should at least show up on list & status.

We are not currently passing metadata back from the list command nor storing it?

[code]

[2016-10-06 22:47] mrunalp commented on #107
@mikebrow I am working on adding metadata back in list command.

[2016-10-06 22:55] cyphar commented on #102
This works for me on openSUSE. Do you see the following line of debug output in the `ocid` terminal?

[code]

[2016-10-06 23:31] mrunalp commented on #102
One thing to ensure is whether the runc version is new enough (>=1.0.0.rc1)

[2016-10-06 23:49] rhatdan commented on #102
rpm -q runc
runc-1.0.0-1.rc1.git04f275d.fc26.x86_64

[2016-10-06 23:54] mrunalp commented on #102
@rhatdan That looks like it should work. Maybe tomorrow I can access your VM and take a look.

[2016-10-07 04:03] cyphar opened #111 "cannot start a created container using the ID"
Maybe I'm misunderstanding how the interface is meant to work, because I'm expecting it to kinda work like Docker/runC:

[code]

Am I using the wrong ID or something? Or is this an actual bug?

[2016-10-07 04:05] cyphar commented on #111
Ah, I figured it out. I need to use the actual ID (`aecc2d844d19f127c0a026e2325a6357e0a59a7c4b60130e63d4e4eab9ab3b0c`) in order to make it work. Is there a reason we shouldn't make it possible to use the short name / ID?

[2016-10-07 04:13] cyphar commented on #24
FWIW, I'd be happy to help work on this. FWIW, I don't think that `exec` should be handled inside the same `conmon` process as the one actually running the container -- we can spin up a new `conmon` for exec. Though, I really want to avoid the "garbage collection" code that exists in Docker when doing `docker exec`.

I'll see if I can come up with a decent solution for logging before looking into

[2016-10-07 07:45] runcom commented on #111
@cyphar yeah, we want short ids as well to start containers as well.

[2016-10-07 11:37] rhatdan opened #113 "OCID needs a yaml config file"
I don't want OCID to make the same mistake that docker did, although even docker finally has a config file.

All commands on the CLI should be specified in a config file.  The CLI options should override this.  One problem I foresee is the Option handling for OCID does not support default boolean settings.

I would figure the OCID would read in the config file first, and then setup the CLI Options

[2016-10-07 11:40] rhatdan commented on #17
We also need to load the list of contaiers at OCID start time in order to gather the currently used MCS Labels, so that OCID does not reuse these MCS Labels for other containers.

[2016-10-07 11:40] rhatdan commented on #17
Is  anyone working on this?

[2016-10-07 11:41] runcom commented on #17
I am Dan.

[2016-10-07 11:42] #89 closed

[2016-10-07 11:46] rhatdan commented on #17
Excellent.

[2016-10-07 13:10] cyphar commented on #113
I completely agree. However, I think we should make it a TOML config file. My reasons:

1. YAML is an incredibly complicated specification, and contains lots of features (ahem turing completeness) that are not helpful to anyone who just wants to set up cri-o.
2. YAML is not good for describing the configuration of a tool, as it doesn't semantically make sections of options easy to convey. TOML is

[2016-10-07 13:15] runcom commented on #102
figured this out - @rhatdan you need to `rm -rf /var/lib/ocid/graph` and restart ocid (because that directory is already populated with a rootfs and it's failing to locate the binary somehow)

[2016-10-07 13:15] runcom commented on #102
feel free to close this if removing the graph dir solves this issue for you

[2016-10-07 13:18] runcom commented on #17
@mikebrow @mrunalp this will need another issue to tackle that problem - right now we look for sandboxes/containers in /var/lib/ocid - if someone kills a contianer directly from runc we don't really have a way to recover from that _now_ - I'll open another issue for that but I'm now just going to implement what we already have for sandboxes (namely a restore function which loads from /var/lib/ocid

[2016-10-07 13:19] runcom commented on #113
+1 on this, either yaml or toml works for me

[2016-10-07 13:22] cyphar commented on #113
I'm working on toml at the moment, so consider this assigned to me.

[2016-10-07 13:45] mrunalp commented on #111
@cyphar @runcom The support for short ids for containers did go in couple of days back. Are you on the latest master? So, you should be able to
[code]

[2016-10-07 13:48] mrunalp commented on #24
@cyphar Awesome. Logging, I think should be straight-forward. We need to pass -l parameter to conmon and pass the log config from CRI down and add it as an additional output to the epoll code. HTTP API is going to be tricky with C :wink: I think that libuv might be a good candidate if we want to keep this code in C.

[2016-10-07 13:49] cyphar commented on #111
@mrunalp I am on the latest master, but the problem was that I was trying to use the **name** of the container. Another solution would be to print the `ID` of the container when doing a `ocic ctr list` -- currently we only show the *name* and the *pod ID*.

[2016-10-07 13:51] mrunalp commented on #111
@cyphar Looks like a bug. The ID printed as part of `ocic ctr list` should really be the ID and not the name. I'll fix this today if someones doesn't before I get to it :)

[2016-10-07 13:57] rhatdan commented on #102
Yup that fixes the issue.  Although we probably should figure this out.

[2016-10-07 13:58] rhatdan commented on #102
I now notice that the SELinux labels are not stored in the config.json.

[2016-10-07 13:59] cyphar commented on #102
It should be noted that once #28 lands, we'll be able to entirely swap out the infra image setup code with OCI image setup code -- so the current hack I have of copying a static binary will no longer be necessary.

[2016-10-07 13:59] runcom commented on #102
I'm working on this as part of #17 - we can save those as annotations I guess?

[2016-10-07 14:01] rhatdan commented on #113
My main concern is that it is easy for the Administrator to understand and edit.  So if TOML works for this situation, I am all for it.  I am still concerned about the boolean default values.

[2016-10-07 14:01] cyphar commented on #24
Is log rolling meant to be handled by us? Or is that all part of CRI so we just have to implement that? I remember that Docker had some lovely issues with disk exhaustion due to lack of log rolling. Also, I'd like to make sure that we **always** provide a plaintext file-based log directory so administrators can have their own logging setup on minions.

[2016-10-07 14:06] cyphar commented on #113
We can set this up by having a "default config" structure and then we just modify it. i'm currently working on a PR so hang tight for that. :wink:

[2016-10-07 14:07] runcom commented on #24
libuv sounds fine to me (used that in my nodejs days lol) - but but but I would love to be Go somehow :cry:

[2016-10-07 14:12] cyphar commented on #24
My initial feeling was the same. But from my experience with Docker and how many memory issues it's had, I really don't want to get into the business of having long-running services written in Go that we cannot restart because they're tightly bound to containers -- containerd has the same problem from my testing. C is the "right" answer, the only question is how will we make the API work so that i

[2016-10-07 16:25] rhatdan commented on #24
Is this also going to plugin to journald?

[2016-10-07 16:54] cyphar commented on #24
It will output text log files that kubernetes will then suck up. You could presumably add some way to read the logs using journald, but tbh it's not a personal priority for me to get journald integration -- I don't want to make ocid depend on systemd.

[2016-10-07 16:57] runcom commented on #24
but we will no? I mean, as docker has an option we would likely have the same since we want journald

[2016-10-07 17:04] rhatdan commented on #24
From a security point of view having these logs recorded permanently on the host, is something we are interested in.  I don't care if this is optional, but I believe we should allow administrators to know what the containers were doing on the host.  Similarly we might need to add some kind of auditing eventually, even if it is of limited use,since the only one ever doing activity is k8s.

[2016-10-07 17:06] mrunalp commented on #24
Logging plugins will come at kube level. We just have to write to the file specified in CRI.

[2016-10-07 17:10] cyphar commented on #24
Anyway, I'm currently working on this in a branch of mine: https://github.com/cyphar/cri-o/tree/conmon-logging. But it looks like we're not using the CRI API for logs properly (`logPath` is relative to `logDirectory` which is set for the sandbox). I'm trying to fix it, but for some reason conmon isn't being cooperative.

[2016-10-07 17:20] runcom opened #117 "ocic ctr create could have --name"
run into this early today - would be nice to support `--name` as `ocic pod create` does. **Absolutely a nice to have though**.

[2016-10-07 17:42] mikebrow commented on #117
To override the metadata name in the container's config json?

[2016-10-07 17:58] mrunalp commented on #117
:+1:

[2016-10-07 18:18] mrunalp commented on #24
@cyphar Hmm, I will take a look at your branch.

[2016-10-07 18:39] mrunalp commented on #117
I am working on this.

[2016-10-07 18:44] #107 closed

[2016-10-07 18:49] #117 closed

[2016-10-08 12:56] runcom commented on #111
Fixed it as part of #114

[2016-10-09 10:33] #22 closed

[2016-10-10 15:43] #17 closed

[2016-10-10 15:43] #111 closed

[2016-10-11 16:56] mikebrow opened #124 "Recovery from out of sync sandboxes is not possible without removing files manually"
#### Recovery from errors

Information about created pods is stored here `/var/lib/ocid/sandboxes`.
Currently, this information can get out of sync causing errors such as:

[code]

While we are working on resolving these issues you may need to remove sandboxes
manually:

[code]

Then restart your cri-o server.

Example of reproduction scenario:
1) Create pod: ocic pod create --config test/testdata

[2016-10-11 17:31] rhatdan opened #125 "Comunications outside of github"
I have registered #ocid on freenode and would like to setup a mailing list for communications about OCID.
I would like to setup a mailing list but not sure which site would be appropriate for this.

[2016-10-11 18:40] mikebrow commented on #125
ocid or cri-o?

[2016-10-11 18:51] mikebrow commented on #125
https://groups.google.com/forum/#!forum/kubernetes-sig-node is the place where the sig-node stuff usually gets discussed.

[2016-10-11 18:54] rhatdan commented on #125
I really want to ignore cri-o name until we decide on a decent name for the project or OCI sets up guidance where OCID is ok.  CRI-O might be the worse possible name for this, and I don't want to change the name that everyone refers to as OCID twice.

[2016-10-11 18:55] mikebrow commented on #125
Maybe a slack channel..

[2016-10-11 18:57] rhatdan commented on #125
I am not a big fan of google based mailing list either.  I like the old fashioned ones.  If I can't use dwalsh@redhat.com to receive and send email, then I get locked into a walled garden.

But I might just be an old fart yelling get off my lawn.

[2016-10-11 19:02] mikebrow commented on #125
I'm an old fart as well and I like cri-o better than ocid, cause it's cooler and less ocd.

Let's just do a cri slack channel.

[2016-10-11 19:05] runcom commented on #125
Nooo no slack lol can't we just do IRC?

[2016-10-11 19:06] mikebrow commented on #125
I presume irc #atomic is the go to for ocid/ocic discussions outside the cri use cases.

Kubernetes discussions are up on slack and email groups on on google.

[2016-10-11 19:43] rhatdan commented on #125
Well we are on #ocid now on freenode.  Atomic is more about the platform and the atomic CLI command.  I see #ocid being a place to talk about OCID/CRI-O as well as containers/image and containers/storage.

[2016-10-11 19:50] runcom commented on #125
@rhatdan for containers/image and containers/storage we already have #container-projects (or something like this) on Freenode :/

[2016-10-11 19:50] runcom commented on #125
But yeah, #ocid works for me

[2016-10-11 20:57] cyphar commented on #125
I'm guessing this means that `#container-projects` is no longer a thing then?

[2016-10-11 21:40] runcom commented on #125
@cyphar it is, but not for this project ofc, only for containers/* projects

[2016-10-11 23:18] duglin commented on #125
while I'm not a fan of slack, if the rest of kube is there we really shouldn't be different.

[2016-10-12 10:18] #102 closed

[2016-10-12 10:18] #101 closed

[2016-10-12 10:19] runcom commented on #113
closed by #115 I guess

[2016-10-12 10:19] #113 closed

[2016-10-12 19:31] mikebrow opened #127 "Container ID does not exist error..."
Repro:

Terminal 1:
`sudo ocid --debug --runtime $(which runc)`

Terminal 2:
[code]

Terminal 1 output:
[code]

Container list shows two containers after creating one:
[code]
Can get status for the first container...:
[code]

**FATA(L) Error** - Can't get status for the second container:
[code]

runc list
[code]
runc state:
[code]

[2016-10-12 19:49] runcom commented on #127
probably something around containers idindex having the wrong _index_ (it's probably registered with the name?)

[2016-10-12 19:49] runcom commented on #127
I'll take a look at this if anyone is already on this

[2016-10-12 23:59] mrunalp commented on #127
@runcom The container id isn't added to the container ID index. Also whole RunPodSandbox needs defers for releasing pod name, pod id, container name and container id on errors.

[2016-10-13 13:10] cyphar opened #132 "Storage/image handling should be configurable"
Specifically what I mean by this is that we need to make sure that we make it easy for constrained distributions to disable and enforce certain features. Namely:
- When the image code is merged, it's likely that we're going to be downloading images from the internet by default. However, it should be possible to **disable this entirely** using the configuration file. Certain deployments cannot star

[2016-10-13 13:14] runcom commented on #132
would love to have this as well /cc @rhatdan

this will likely be possible with https://github.com/kubernetes-incubator/cri-o/issues/28 since containers/image can get images from the filesystem as well (which could be on shared storage as well)

[2016-10-13 13:14] rhatdan commented on #132
I agree with this,  We need to be able to specify in the config which registries are available for pulling and pushing, of course default would be *.    We can do some of this potentially with the signing code in containers/image.

We have been working on a file system storage of images internally.  We should probably make the document public.  The idea we have is for network file system storage,

[2016-10-13 17:18] #127 closed

[2016-10-14 08:01] runcom opened #139 "issue running cri-o on rawhide"
On a stock rawhide I got some issues before resolving them and run cri-o. One of the was:

[code]

I don't remember how this got fixed - @mrunalp @cyphar PTAL

[2016-10-14 08:34] runcom opened #140 "issue running tests on rhel"
tests are failing in RHEL pretty often because of `Device or resource busy` errors coming from devmapper and `docker rm`

[2016-10-14 08:35] cyphar commented on #139
Looks like `pid=0` for some reason. What is the git commit of runC you had when this happened?

[2016-10-14 08:36] runcom commented on #139
master

[2016-10-14 12:05] mrunalp commented on #140
This could be SELinux.

[2016-10-14 13:05] cyphar opened #142 "don't manage service files with `make {,un}install`"
Personally I don't like makefiles that modify a bunch of system state if not necessary. In addition, it actually makes it not possible for us to use the stock `Makefile` on openSUSE -- in openSUSE we package service files in a very fun and wonderful way.

And **especially bad** is that `make uninstall` actually stops and disables services. While it's not a good idea to have a running service while

[2016-10-14 13:06] cyphar opened #143 "move distro-specific files to contrib/"
There's an increase of distribution-specific and other such files in the root of the project. We need to clean stuff up and put it in `contrib/systemd`, `contrib/rpm` and so on.

[2016-10-14 15:24] mrunalp commented on #140
Can you check the audit log and see if you find anything? Also try running in permissive mode.

[2016-10-14 15:26] mrunalp commented on #139
Looks like the state of the pause container returned pid as 0. The other container joins the ipc/net namespaces of the pause container.

[2016-10-14 15:28] rhatdan commented on #142
Removed that from uninstall

[2016-10-14 15:29] runcom commented on #140
alright, it's selinux, I'm able to run tests (even if some is failing) in RHEL with setenforce 0 /cc @rhatdan

[2016-10-14 15:31] runcom commented on #140
@mrunalp @rhatdan @rhvgoyal the thing is tests are failing in RHEL pretty often because of `Device or resource busy` errors coming from devmapper and Docker :cry:

[2016-10-14 15:36] mrunalp commented on #140
@runcom Most likely the resource busy is coming from docker rm.
@rhvgoyal, what was the final fix that we went with for mount namespaces leaking into machined?

[2016-10-14 16:08] rhatdan commented on #140
Can I get the AVCs?

[2016-10-14 16:11] runcom commented on #140
output of `ausearch -m avc` -> https://paste.fedoraproject.org/450214/

[2016-10-14 16:16] rhatdan commented on #140
Looks like we have to mount the tmp directory with the mountlabel.  But I did not think that ocid would work in enforcing mode yet.  We need to implement all of the storage stuff and finish the wiring.

[2016-10-14 19:14] 14rcole opened #147 "Cannot start sandbox pod"
Attempting to create a pod with the following command
`sudo ./ocic pod create --config test/testdata/sandbox_config.json`
As is (almost) identical to the command in the README produces the following error on the client side:
`Creating the pod sandbox failed: rpc error: code = 2 desc = reading pid from init pipe: EOF`
I believe the error originates when the Kubernetes api is called at `cmd/client/s

[2016-10-14 19:18] mrunalp commented on #147
@14rcole I think that adding syslog support to conmon will help diagnose this issue. conmon is probably exiting without sending pid back to ocid.

[2016-10-14 19:20] mrunalp commented on #147
@14rcole Meanwhile to cleanup: runc delete -f all running containers, rm -rf /var/lib/ocid and then restart ocid server.

[2016-10-14 19:49] 14rcole commented on #147
@mrunalp I tried cleaning up , I'm getting the same error.  I think it does have to do with conmon.  On the daemon side I'm getting the messages

`conmon: Failed to create container
INFO[0007] Signal received: child exited
INFO[0007] Reaped process with pid 30839`

That "failed to start container" message comes from `conmon.c` line 164. It looks like `system(cmd)` is returning the error code 768

[2016-10-14 19:53] mrunalp commented on #147
@14rcole What version of runc are you using? It should be > 1.0.0.rc1.

[2016-10-17 06:12] surajssd opened #152 "error updating status for container, when process was restarted"
Earlier I stopped `ocid` process without stopping all containers or pods and restarted the process again

[code]

and now when I try to get pods or containers info it fatals out as

[code]

removing that container also fails

[code]

versions:

[code]

[2016-10-17 06:39] surajssd commented on #140
Similar issue on Fedora24 with normal example execution from README

when starting a container:

[code]

logs on process ocid
[code]

when checked with the container status
[code]

AVCs
[code]

various versions:

[code]

when run `setenforce 0` redis server comes up without problems

So saw that #148 was merged recently so wanted to build ocid again, so stopped `ocid` process without stopping any

[2016-10-17 12:52] rhatdan commented on #140
Right this is different in that it is not a test failure.  These are real failures caused by lack of labeling support in the container/storage support.

[2016-10-17 12:53] rhatdan commented on #140
If you label the image content svirt_sandbox_file_t (container_file_t) SELinux should work for now.

chcon -Rt svirt_sandbox_file_t /var/lib/ocid

[2016-10-18 09:53] laijs opened #160 "the problem of `make install` when the docs is not built"
there is still a problem which starts from #141.
although #141 was almost reverted, the problem still exists.

[code]

The reason is that `$(wildcard docs/*.5)` is calculated when the makefile is loaded, not when the install-shell-script is executed.

we should use `$(wildcard docs/*.5.md)` and calculate docs/%.5 from it.
maybe we should introduce `make install-docs`.

[2016-10-18 21:04] 14rcole commented on #147
I was using the one in the dnf repositories, which was 0.1.1.  After building the latest release on github, it works fine.  Thank you!

[2016-10-18 21:05] rhatdan commented on #147
Please close this issue.

[2016-10-18 21:06] mrunalp commented on #147
@14rcole Thanks for the update!

[2016-10-18 21:07] mrunalp commented on #152
Thanks for the report. Did you just start one pod/ctr and then restarted ocid?

[2016-10-18 21:19] #147 closed

[2016-10-19 03:59] surajssd commented on #152
Yes one pod with one redis based container from example! You can get more context at https://github.com/kubernetes-incubator/cri-o/issues/140#issuecomment-254124217
Is there a way to have a clean setup now?

[2016-10-19 04:24] mrunalp commented on #152
You can runc delete -f all running containers and then rm /var/lib/ocid while we fix this bug.

[2016-10-19 05:46] resouer commented on #125
Strongly suggest use kubernetes.slack.io :) We have a lot of users there now as well as sig-node, we can create a sig-crio. See: https://twitter.com/cloudposse/status/749018717040750592

And we can also integrate issue/bug/pr hooks in the group, it's awesome.

[2016-10-19 06:07] surajssd commented on #140
Thanks @rhatdan that worked :-)

[2016-10-19 07:23] cyphar commented on #152
Yeah, I've seen this quite a bit when debugging conmon bugs while working on logging.

[2016-10-19 07:27] surajssd commented on #152
```runc list``` didnt show anything but deleting `/var/lib/ocid` helped, resetting everything!

[2016-10-19 07:36] cyphar commented on #152
Yeah, the reason for this is because we have two "stores" of information about containers:

1. runC has a store of what containers are running in `/var/run/runc/...`.
2. OCID has a store of information about pods and sandboxes in `/var/lib/ocid/...`.

The problem arises when these two go out of sync. On the one hand, there's not much we can do if a user is deliberately killing containers underneat

[2016-10-19 12:54] rhatdan commented on #125
Ok, I think we can do both.  We currently have the OCID on freenode. but having an sig-ocid channel, would be fine.  I hesitate to use CRI-O since I hate the name.  Lets open a discussion on a new name if people are interested, but lets keep it OCID until we have the name.

[2016-10-19 17:26] mrunalp commented on #152
@cyphar kubelet itself will be doing the periodic checks and respawn pods/containers as required. I am not sure at this point whether we need to do any more syncing besides fixing bugs on ocid restart. I am working on integrating ocid with the kubelet so will have better answers soon.

[2016-10-20 07:55] cyphar commented on #152
Okay cool @mrunalp, keep us posted (and feel free to ask for any help). :smile_cat:

[2016-10-20 19:08] mrunalp commented on #152
@cyphar More than welcome to join in on the fun :)
To test with kubelet, build kubernetes, start ocid, CONTAINER_RUNTIME="ocid" CONTAINER_RUNTIME_ENDPOINT=/var/run/ocid.sock ./hack/local-up-cluster.sh. After that you can call kubectl create -f /path/to/pod.json. Warning it doesn't work yet ;). I am going through that and making fixes for whatever we need to get a pod running.

[2016-10-21 05:07] resouer opened #168 "Tracking RunV Support in cri-o/ocid"
## Tracking RunV Support in cri-o/ocid

Recently we tried a little bit to play with cri-o to run runV. For those who are not familar with [runV](https://github.com/hyperhq/runv), runV is a OCI compatible runtime which leverages hypervisor as isolation sandbox. It is portable (multi-arch, multi-hypervisor) and lightweight like Linux container while secure as normal VM.

Comparing to remote runtime,

[2016-10-21 05:28] feiskyer commented on #168
@resouer Make a simple todo list for easy tracking?

[2016-10-21 06:02] resouer commented on #168
@feiskyer Yes, we are working out a list

[2016-10-21 06:31] cyphar commented on #168
The biggest thing I would ask is that you all make sure that you're fine with the state of opencontainers/runtime-spec#513. Conmon will follow that API once that is merged (and the corresponding runC PR -- opencontainers/runc#1018 -- is merged), because then we don't have to assume the runC API any more. Specifically, can you make sure that `--console-socket` will work for runV?

[2016-10-21 06:35] cyphar commented on #168
Also, I'm working on fixing up conmon to come into line with opencontainers/runtime-spec#513, but I'm going to hold off on making a PR until runC merges the `--console-socket` patchset (which the other maintainers have said will be the end of this month, hopefully).

[2016-10-21 14:11] mrunalp opened #171 "Prototype conmon with --console-socket"
This will help with the push into the spec. docker/garden will be doing the same to prove out the API.

[2016-10-21 14:12] cyphar commented on #171
Would you like me to work on it? I can implement it as a fork of my #162 PR.

[2016-10-21 14:13] mrunalp commented on #171
@cyphar Yes, if you have the cycles :) I will assign this one to you.

[2016-10-21 14:29] mrunalp commented on #168
@resouer Thanks for kicking off this issue. Looking forward to working with you all. As @cyphar suggested, keep an eye on 513 for any potential issues/workaround you may need in runv.

[2016-10-24 03:47] HuKeping opened #175 "Why pushing is not in scope"
Hi there,

Doesn't the pulling images and pushing images is a pair of operations? Then why the pulling is in scope but pushing not? The same question for verifying and signing.

[2016-10-24 07:44] cyphar commented on #175
OCID is an executor for Kubernetes (namely the kubelet part of Kubernetes). Kubernetes requires the ability for a runtime to pull (and optionally verify) images from a remote repository, but doesn't require the inverse operations (pushing and signing). So there's no point in us implementing it if kubelet won't ever use it.

If you want to deal with pushing/pulling or signing/verifying you can cont

[2016-10-24 07:58] HuKeping commented on #175
Clear enough, thanks @cyphar ! Closing.

[2016-10-24 12:03] rhatdan commented on #175
Take a look at https://github.com/containers/image for pushing/signing.  OCID is using this for pulling but other tools like https://github.com/projectatomic/skopeo/ and https://github.com/projectatomic/atomic are using it for pulling and pushing.

OCID is all about running containers for Kubernetes but some of the subprojects are goaled at being the building blocks of a full container image infra

[2016-10-24 12:10] HuKeping commented on #175
Thanks for those ref links @rhatdan ! It's helpful!

[2016-10-24 15:06] gao-feng commented on #168
The way to get the exit code of container is not suitable for `runv`, right now the exit code is got by `conmon` running on host, this definitely doesn't work for `runv`.

[2016-10-25 04:08] resouer commented on #91
Out of curiosity, how can we share network namespace if there's no infra container?

btw, runv does not need that since hypervisor serves as sandbox naturally.

[2016-10-25 04:55] cyphar commented on #91
@resouer It should be possible to do by doing `unshare(CLONE_NEWNET)` and then opening `/proc/self/ns/net` and passing that fd to another process. When the process which called `unshare` dies I don't think that the network namespace will be cleaned up if a process has the file descriptor open.

To be fair, it's not very pretty but I was just wondering if we really needed the pause container (Docke

[2016-10-25 12:34] rhatdan commented on #91
I think we should get rid of the pause container.   The problem with docker is they would never accept a patch for something like --net host:/PATHTONETWORKNAMESPACE, then we could get to a primary container running inside of a POD and allow other containers to join that container.

[2016-10-26 11:20] laijs commented on #24
how about remove the `--console[-socket]` and `--detach` from `runc`
and add `--monitor monitor_cmd_path` instead?

the runc should launch the monitor via `monitor [--pid pid] [--ptymaster fd] [--stdpipe{in,out,err} fd]`

the runc has its builtin/default monitor, which just copies&forwards the stdio and watches the pid.
the runc waits the monitor instead of the container/exec. the detach mode is d

[2016-10-26 12:45] cyphar commented on #24
@laijs Can you please stop commenting on random PRs with comments about `--console-socket`? It makes it difficult for everyone to keep track of the discussion and also derails threads that have nothing to do with `--console-socket`. The one and only correct place to discuss this is opencontainers/image-specs#518. That's it.

To answer your point about `--monitor`, it would require making runC a da

[2016-10-26 12:53] cyphar commented on #24
@laijs

Also,

I disagree because of the POSIX process model and the fact that you'd have to mandate how the runtime ran the monitor (which would almost certainly break things). Not to mention that it would be uncontained-RCE-as-a-service.

runC doesn't have a monitor with `runc create`. Or `run --detach`. So you're asking us to **add** a monitor (which is actually a daemon).

Not _really_, it jus

[2016-10-26 14:33] laijs commented on #24
I know the console-proxy can handle it in runv. but I was finding a "proper" way to handle it. I guess you are still finding a way to pass the console back, different purposes but they have some kinds of similar base.

I hope the cri-o use the same process to handle runc&runv until we reach some invincible obstacles(many obstacles did occur). but we should reduce the different processes when runti

[2016-10-26 15:32] cyphar commented on #24
@laijs

I know nothing about CHILD_SUBREAPER.

`waitpid(2)` does not work with non-children (see the man page), this is a part of POSIX. You can try to get around it by using CHILD_SUBREAPER and then reparenting yourself to the process doing `waitpid(2)` but that's ugly, Linux-specific and won't work in most cases. From the man page:

So you'll need to figure out a way to deal with this. The big b

[2016-11-02 02:22] HuKeping opened #186 "About the CRI"
Hi there,

I see the docs says cri-o implements the Kubelet Container Runtime Interface, does it mean the proposed one or something else? I didn't find a spec under the master branch of kubernetes/kubernetes .

[2016-11-02 02:51] HuKeping commented on #175
@rhatdan what's the purpose of https://github.com/containers/image , it seems like duplicated with OCI/image-tools , if so then why cri-o choose to use container/image instead of OCI/image-tools?

[2016-11-02 03:24] feiskyer commented on #186
@HuKeping Check https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/runtime-client-server.md and https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/api/v1alpha1/runtime

[2016-11-02 09:27] cyphar commented on #175
@HuKeping It isn't a duplicate project. the OCI image-tools are for handling of OCI images (such as extracting OCI images). The OCI tooling doesn't support any other image format. https://github.com/containers/image is a library that allows you to translate between different image formats.

In particular, we need to be able to translate from Docker images to OCI images (which is supported by https

[2016-11-02 11:56] HuKeping commented on #175
Thanks @cyphar !

Yes, I have also been aware of the  https://github.com/containers/storage project, but haven't got a time to look deeper into it.

I have a quick taste of  `skopeo`, I think it's a cool utility for many image related operations but it seems we may not use it in production.

As you mentioned above , the https://github.com/containers/image  can do the **translation** things between

[2016-11-02 12:07] HuKeping commented on #175
Furthermore, if one day in the future the container community stop fighting with each other and make a compromise that all compliant to OCI, do we still have those questions?

[2016-11-02 12:14] cyphar commented on #175
The OCI does not define distribution, so you need to have some way of pulling images. containers/image also provides this functionality (for both Docker and AppC images).

Kubernetes currently doesn't handle any of the "image pulling" -- everything is left up to us. That means that we have to pull images *somehow*. Since the OCI currently doesn't (for very complicated political reasons) support di

[2016-11-02 13:39] rhatdan commented on #175
I would say container/image is also about pulling and pushing of images from registries.  We also are building the first version of "simple image signing" into containers/image.  One thing we need to do is improve the README.md with some of the comments above, so the next reader of the github page does not get the same confusion.

The way I describe OCID (cri-o) is build of componants.  OCID being

[2016-11-03 02:24] HuKeping commented on #175
Wonderful explanation about the workflow @rhatdan ! Thank you! I think I get much more clear about OCID now lol.

Can't agree more  @cyphar ! lol

I think you're right, after a deeper digging into it I found it's really cool!
Thank you @cyphar  for all the kindly answers !

Closing.

[2016-11-03 02:24] #175 closed

[2016-11-03 02:39] HuKeping commented on #186
Thanks @feiskyer

[2016-11-03 02:39] #186 closed

[2016-11-04 12:11] cyphar commented on #171
@mrunalp The prototype works. It lives in [this branch](https://github.com/cyphar/cri-o/tree/conmon-logging-consolesocket), and it works with both `tty=true` and `tty=false`. It still has a lot of debugging statements in it, but it should work fine for logging as well as #162. I haven't tried redis, but I'm sure that it will have similar issues to #162 unless some of the stuff I've removed has als

[2016-11-04 12:35] resouer commented on #168
For all, just updated the issue description with a TODO list to track the integration status.

[2016-11-04 17:59] mrunalp commented on #171
@cyphar Nice! I will try that out shortly (still traveling).

[2016-11-07 22:54] mrunalp commented on #171
@cyphar I just tested this with redis. Works fine :)

[2016-11-08 09:35] HuKeping opened #191 "Will rkt be supported in the future?"
Hi ,

Since cri-o is an OCI-based  implementation of k8s CRI,  and it seems rkt isn't compliant to OCI at present, so do we plan to support rkt in the future? If not , what's the opinion from coreOS guys about this project.

Personally I like rkt very much lol.

And how about the hyper/runv?

Btw, we would not integration the whole docker daemon into this project right?

I found that many kubernet

[2016-11-08 11:08] cyphar commented on #191
rkt already has a k8s runner called rktlet. IIRC it is shipped by CoreOS. https://github.com/kubernetes-incubator/rktlet

If they can implement the OCI runtime CLI API (which there is some significant concern about at the moment w.r.t how terminals within VMs are stunted compared to terminals in containers -- when it comes it management from the host) then yes. There's a reason that `--runtime-pat

[2016-11-08 11:10] cyphar commented on #171
Awesome! :smile_cat: But is #162 still broken for you? Just so I can see if I can narrow it down and so we can get it merged. :D

[2016-11-08 12:05] HuKeping commented on #191
yay, nice !

Since the runtimes are all resides as pkg in kubernetes, does it mean those pkg would like be all wipe out when the new CRI was ready.

[2016-11-09 02:10] Crazykev commented on #191
@HuKeping we already have a todo list about runv integration, keep an eye on #168 if you are interested.

[2016-11-09 05:59] mrunalp commented on #171
@cyphar I need to test #162 again. I am back finally so will be back on it tomorrow.

[2016-11-17 00:26] mrunalp opened #197 "Add support for non-numeric user"
We need to lookup the user in `/etc/passwd` in the rootfs it it exists and convert it into uid/gid to be set in runc config.json

[2016-11-17 00:28] mrunalp opened #198 "Add support for sysctls"
Sysctls are passed as annotations in CRI. We need to process those keys in annotations and set sysctls in the runc config.json.

See http://kubernetes.io/docs/admin/sysctls/#safe-vs-unsafe-sysctls
https://github.com/kubernetes/kubernetes/pull/36728/files

[2016-11-17 04:56] cyphar commented on #197
As an aside, I implemented [this in umoci](https://github.com/cyphar/umoci/issues/25). I'm not sure that `image-tools` will ever contain the code to handle that though.

[2016-11-17 05:07] mrunalp commented on #197
Okay. I was also thinking of using libcontainer user library for this.

[2016-11-17 05:31] feiskyer commented on #198
Cool. We may also consider AppArmor and Seccomp, which are also passed in annotations.

[2016-11-17 05:37] feiskyer opened #200 "Add support for streaming requests (attach/exec/port-forward)"
Refer https://github.com/kubernetes/kubernetes/issues/29579.

This could be done by using [kubelet streaming liberay](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/server/streaming).

TODOs:

- [x] ExecSync #203
- [x] Exec
- [ ] Attach
- [x] PortForward

[2016-11-17 05:39] mrunalp commented on #198
Yeah can you create an issue for that?

[2016-11-17 05:40] feiskyer commented on #198
@mrunalp OK.

[2016-11-17 05:41] feiskyer opened #201 "Add support for AppArmor"
AppArmor are passed as annotations in CRI. We need to process those keys in annotations and set AppArmor in the runc config.json.

[2016-11-17 05:41] feiskyer opened #202 "Fix seccomp for localhost profiles"
Seccomp are passed as annotations in CRI. We need to process those keys in annotations and set Seccomp in the runc config.json.

`runtime/default` has done (#211). Still waiting for https://github.com/kubernetes/kubernetes/issues/36997:

[2016-11-17 05:44] feiskyer commented on #201
See [CRI sandbox annotations](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L234) and [libcontainer AppArmorProfile config](https://github.com/opencontainers/runc/blob/master/libcontainer/configs/config.go#L128).

[2016-11-17 05:45] feiskyer commented on #202
See [CRI sandbox annotations](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L244) and [libcontainer seccomp config](https://github.com/opencontainers/runc/blob/master/libcontainer/configs/config.go#L26).

[2016-11-17 06:24] cyphar commented on #200
This has to happen after #162. That was the next thing I was planning on working on.

[2016-11-17 06:24] cyphar commented on #200
The problem is that I'm not sure about writing `conmon` in Go. It doesn't feel like a great idea IMO.

[2016-11-17 09:31] runcom commented on #202
@feiskyer I'd like to work on this if you aren't already. Few questions:

* k8s has a `--seccomp-profile-root string` flag, should we have the same in `ocid` to store/load seccomp profiles for pods/containers?
* where do we store the default seccomp profile for a given runtime? k8s can pass down to oci just `runtime/default`, but where do we get its content?
* https://github.com/kubernetes/kuberne

[2016-11-17 15:16] feiskyer commented on #202
@runcom Cool. Seccomp profile is indeed a problem, I think CRI should pass full path to runtimes instead of relative one. Filed https://github.com/kubernetes/kubernetes/issues/36997 to fix this.

[2016-11-17 15:39] runcom commented on #202
thanks :+1: I'll follow that issue and when done, I'll implement it here in `cri-o`

[2016-11-17 17:41] mrunalp commented on #198
Any taker for this one? @mikebrow ?

[2016-11-17 17:52] Crazykev commented on #198
If no one take this yet, I'd love to do it.
            On 11/18/2016 01:41, Mrunal Patel wrote:Any taker for this one? @mikebrow ?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55493e4bb","name":"GitHub"},"entity":{"external_key":"github/ku

[2016-11-17 17:54] mrunalp commented on #198
@Crazykev sure, assigned to you :)

[2016-11-17 23:09] rhatdan commented on #198
Do we handle ulimits?

[2016-11-18 00:02] mrunalp commented on #198
@rhatdan CRI doesn't have support for it. Will check if it needs to be added there.

[2016-11-18 21:59] rhatdan commented on #160
It was decided not to do make all when doing a make install so this is not an issue.  But I believe the other man pages handling has been implemented.  This should be closed.

[2016-11-18 22:00] rhatdan commented on #12
Should this issue be closed.  Although not real happy with cri-o for a name.

[2016-11-18 22:10] thockin commented on #12
you are welcome to find a new name at your own pace, now that the firedrill is over. :)

[2016-11-18 22:10] #12 closed

[2016-11-19 00:43] feiskyer commented on #202
@runcom We didn't get a consistent conclusion for kubernetes/kubernetes#36997, and the profile path will be a known issue in kubernetes 1.5, see [here]( https://github.com/kubernetes/kubernetes/issues/36997#issuecomment-261673120).

[2016-11-22 06:52] xlgao-zju commented on #201
@feiskyer I would like to pick up this issue.

[2016-11-22 14:50] runcom commented on #202
@feiskyer thanks, I think we can still support `runtime/default` and `unconfined` though - correct me if I'm wrong. Going to tackle this soon if we can at least use default and unconfined.

[2016-11-22 15:02] feiskyer commented on #202
+1.

[2016-11-22 18:39] mrunalp commented on #201
@xlgao-zju Go for it. Thanks!

[2016-11-22 18:40] mrunalp opened #208 "Add CNI integration"
We have CNI integration but lack the README to use it. @rajatchopra is going to add this.

[2016-11-22 18:40] mrunalp opened #209 "Add support for port forwarding"
We need to figure out where will this be handled. @rajatchopra is going to talk to CNI team and get back.

[2016-11-24 11:48] jjlakis commented on #168
@feiskyer @resouer How the sandbox/container creation will be solved for cri-o+runV? Creating infra-container for sandbox and adding N containers to it will result in N+1 VMs launched which is not expected I think.

[2016-11-24 15:29] feiskyer commented on #168
This is not true for runV. For runV, a sandbox is a VM, and all containers of same pod will be run in one VM.

[2016-11-24 15:35] sameo commented on #168
@feiskyer I'm probably missing something, but how does runV know from the OCI config that a specific container is supposed to be a sandbox or not ?

[2016-11-24 15:58] jjlakis commented on #168
+1 to @sameo's question.
Also implementation of `RunPodSanbox` in `cri-o` always creates infra-container so development is needed to provide this. Thus, shouldn't it be a part of the integration plan?

cc @pskrzyns

[2016-11-24 16:07] #198 closed

[2016-11-24 22:58] cyphar commented on #168
@jjlakis It probably will be necessary to add features to runV (and to the proposed VM section of the spec) similar to Linux's namespace paths. Otherwise we won't be able to generically tell a VM-based runtime to run a process inside a VM rather than start a new one.

[2016-11-25 01:58] laijs commented on #168
@sameo runv always launches a sandbox(vm and hyperstart agent/spawner, namespace, sandbox-pidns-init process inside the vm) when the it launches the first container including the infra-container.

but the infra-container in the vm is useless, sandbox-pidns-init process owns the namespaces instead of the pause process of the infra-container, sandbox-pidns-init is also the subreaper of the non-entry

[2016-11-25 03:45] resouer commented on #168
Just updated the track list about infra container, as well as pod level cgroups.

[2016-11-25 09:29] sameo commented on #168
@laijs I'm fully aware of hyperstart's behaviour as [we're switching to it](https://github.com/01org/cc-oci-runtime/tree/redesign-for-cc-2.1) for Clear Containers as well :) I fully understand how the pause container itself is irrelevant for runV or Clear Containers.

What I don't understand is how runV will know when to start a VM and when to send a `NewContainer` command to hyperstart to actuall

[2016-11-25 10:10] sameo commented on #168
@laijs Or do you infer that a container must run on a pod by matching the networking and ipc namespaces of the container's namespace description with a pod's ones ?

[2016-11-28 02:10] laijs commented on #168
@sameo, some changes are needed in the runtime-spec for these scenerios. Before any possible changes in the runtime-spec, cc-container can expose the (infro-)container's proxy's pid to the upper layer(cri-o or docker), when the upper layer uses the pid in the namespace path in the spec for creating the next container, the runtime(cc-container) will know the information and add the new container to

[2016-11-28 22:53] runcom commented on #202
Let's leave this open until the upstream k8s issue about node's profiles is sorted out. @feiskyer could you change the title here?

[2016-11-29 00:27] sameo commented on #168
@laijs I agree only using the pid in the namespace path would be broken and really only a workaround.

With clear containers we have a proxy to arbitrate between all processes that want to access and on cc-shim for each container that we launch. As a matter of fact, when running ocid with PR #217, I can now start, stop and delete pods, and also start additional containers within that pod.

I'm usi

[2016-11-29 12:16] feiskyer commented on #202
@runcom renamed the title.

[2016-11-29 12:19] feiskyer commented on #209
@mrunalp Do you mean implement port forwarding in CNI?

[2016-11-29 13:15] cyphar commented on #168
@laijs #217 is probably a much better fix for the issue.

[2016-11-29 15:49] Crazykev opened #218 "`libseccomp` is required for compilation"
If don't have `libseccomp` package locally, will have a compile error.
Maybe need a update to README to add hint of install `libseccomp` package since we have supported.

[2016-11-29 15:52] runcom commented on #218
@Crazykev thanks, will do.

[2016-11-29 16:18] #218 closed

[2016-11-29 16:19] mrunalp commented on #209
That is what needs to be figured out whether it has to be delegated to CNI or we need to handle it here directly.

[2016-11-30 02:59] Crazykev commented on #209
@mrunalp Could we use the same way as dockershim did, like using `nsenter` and `socat`,  do that job?  Or is there any benefit to delegate to CNI?

[2016-11-30 03:04] cyphar commented on #209
CNI directly matches the networking model for k8s, and also means that we don't have to deal with any networking code inside cri-o.

[2016-12-01 20:57] mrunalp opened #221 "Add support for kpod run"
This command will support launching pods. It may involve refactoring the code so it could be better shared between ocid/kpod. We could follow the CLI from here and add what is missing
http://kubernetes.io/docs/user-guide/pods/single-container/

[2016-12-01 23:10] mrunalp opened #223 "Add support for kpod exec"
Support exec'ing into pods using kpod.

[2016-12-01 23:11] mrunalp opened #224 "Add support for kpod ps"
Support listing pods using kpod.

[2016-12-01 23:12] mrunalp opened #225 "Add support kpod list images"
Support listing images in image store using kpod.

[2016-12-01 23:12] mrunalp opened #226 "Add support for image info"
Support getting information about an image using kpod.

[2016-12-01 23:13] mrunalp opened #227 "Add support for kpod remove image"
Add support for removing images (that aren't in use) using kpod which could be used for cleaning up node storage.

[2016-12-01 23:14] mrunalp opened #228 "Add support for kpod pull image"
Support pulling an image using kpod which could be used for pre-staging a node with required images to speed up pod launch time.

[2016-12-01 23:15] mrunalp opened #229 "Add support for kpod pod info"
Add support for displaying information about a pod including resource usage.

[2016-12-02 02:06] feiskyer commented on #223
Maybe add a unified issue for tracking kpod feature?

[2016-12-02 04:42] mrunalp commented on #223
@feiskyer We could add a tracking issue that links to individual issues so they could be assigned to whoever wants to work on them.

[2016-12-02 15:25] rhatdan commented on #223
@feiskyer what we are looking for is a way to allow contributors to grab different issues, so we don't have multiple people working on the same feature.

[2016-12-02 18:20] mheon commented on #221
I've started work on this. Right now, I'm refactoring parts of the server to allow kpod to use the same underlying runtime code as the cri-o server.

[2016-12-02 18:22] runcom commented on #221
cool, please submit those changes first if possible

[2016-12-02 20:25] runcom opened #231 "Operations are racy"
Seen this both on my laptop and in the internal CI @mrunalp - run/kill/delete operation often go racy and tests fail.

[2016-12-02 22:04] mrunalp commented on #231
@runcom Could you add some test logs as a starting point here? Thanks!

[2016-12-02 22:07] runcom commented on #231
sure, I opened it like this because I thought you were experiencing the same :confused: but yeah, will do it either today or tomorrow

[2016-12-03 11:21] feiskyer commented on #223
yeah. make senses to me. Thanks.

[2016-12-05 08:38] resouer commented on #200
@cyphar So is rewriting `conmon` in golang in roadmap? We once mentioned it with community offline and thought it would be a good news for contributors. Is there any specific technical issue in your mind?

[2016-12-05 08:56] Crazykev commented on #223
@mrunalp If it's fine with you, I would like take this as a start.

[2016-12-05 11:00] cyphar commented on #200
@resouer There are a few technical issues that make me concerned about `conmon` being written in C. The main one is that there appears to be some form of quite serious memory-related issue with Go binaries. We still haven't been able to pin it down (and despite what docker/docker#21737 and linked issues tell you -- it's not because of some dodgy reference handling within Docker -- `pprof` doesn't

[2016-12-05 15:37] mrunalp commented on #223
@Crazykev Sure, thanks!

[2016-12-05 19:49] rajatchopra commented on #209
CNI plans to put in plugin chaining (https://github.com/containernetworking/cni/pull/339) based on this spec (https://gist.github.com/squeed/c69206c51f7d38d1cbb5211a3fde5d06)

Until that gets merged we cannot have a clean way of doing port forwarding through CNI.

Even then, port forwarding is an event that occurs during the pod lifetime. That means CNI should be able to handle events or 'update'

[2016-12-05 19:59] mrunalp commented on #209
@Crazykev @cyphar @rajatchopra Looks like in the short term we can follow the dockershim model of using nsenter + socat. Or a custom binary that does the same.

[2016-12-05 20:04] GrantSeltzer commented on #224
I've been working on this, you can assign me to it.

[2016-12-05 21:15] rajatchopra commented on #209
+1 custom binary
We can take the binary into a cni plugin when cni spec is ready with the mechanism.

[2016-12-06 03:53] xlgao-zju commented on #229
@mrunalp I would like to pick up this issue.

[2016-12-06 03:57] feiskyer commented on #229
@xlgao-zju Cool. Marked as assigned.

[2016-12-06 05:24] #201 closed

[2016-12-06 10:23] sameo opened #232 "StopPodSandbox() fails when called multiple times and network enabled"
According to the CRI specs:

[code]

However when running CRI-O `StopPodSandbox()` more than once on the same pod, ocicni returns an error:

[code]

[2016-12-06 10:31] sameo opened #233 "StopPodSandbox() fails if one of the containers already terminated"
When doing the following sequence:

[code]

And ocid gives me the following error:

[code]

I feel creating, starting and terminating a container within a pod should not prevent us from stopping the pod. Please close this issue if this is a wrong assumption.

[2016-12-06 10:37] sameo commented on #233
@runcom @mrunalp Also, are we expecting the sandbox networking namespace to be closed and removed on a `StopPodSandbox()` call ?

[2016-12-06 10:50] runcom commented on #233
@sameo the reproducer you wrote in your first comment is not about network afaict, it's a wrong stuff happening within pod stop (which I'm trying to fix). Please open another issue for the netns issue.

[2016-12-06 10:54] sameo commented on #233
@runcom oops, sorry wrong issue.

[2016-12-06 10:54] sameo commented on #232
@runcom @mrunalp Also, are we expecting the sandbox networking namespace to be closed and removed on a `StopPodSandbox()` call ?

[2016-12-06 11:18] feiskyer commented on #232
According to [cri](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L15), network resources should be released on `StopPodSandbox()`.

[2016-12-06 11:30] runcom commented on #232
we can just check if the netns is still around - if it isn't stop will be a no-op as it should be.

[2016-12-06 11:35] runcom commented on #232
ping @rajatchopra wdyt?

[2016-12-06 11:45] runcom commented on #232
@sameo can you share a reproducer? are you using a CNI plugin for this bug to trigger?

[2016-12-06 11:48] sameo commented on #232
@runcom Yes, I'm using the CNI bridge plugin. Just adding:

[code]

should reproduce the issue.

[2016-12-06 12:06] rajatchopra commented on #232
Fair to check netns validity before calling, or skip to a no op.

[2016-12-06 14:40] runcom opened #238 "need a way to test CNI networks"
Can't do that right now because we run tests locally only and w/o docker. We should be able to setup a docker container to run out tests on and mess with `/etc/cni|/opt/cni`. We should also be able to configure those paths (in order to test other stuff maybe).

[2016-12-06 17:42] #233 closed

[2016-12-06 18:06] #232 closed

[2016-12-07 05:36] Crazykev commented on #221
@mheon Does this have any progress? If it's almost done, I'll just hold on.

[2016-12-07 05:49] mheon commented on #221
@Crazykev I'm working on it, but still working out the best way to cleanly separate the two - if you're going to be touching that part of the codebase, feel free.

[2016-12-07 05:57] Crazykev commented on #221
@mheon I feel like this is the common part we are working, and just like you said, for now, I don't have a clear way to separate the two either. Will be very appreciate if you can bring a wip PR when you figure out how to do that.

[2016-12-07 14:14] rhatdan commented on #221
Yes lets open a WIP pull request to get people like @mrunalp thoughts.

[2016-12-07 16:51] sameo opened #240 "RemovePodSandbox fails when being called multiple times"
According to the CRI API spec/interface:

[code]

However when trying to remove the same pod multiple times with ocic, we get the following error:

[code]

[2016-12-08 00:18] mrunalp opened #242 "Setup and share /dev/shm for containers in a pod"
We need to setup a /dev/shm per pod and share it by bind mounts into each container.

[2016-12-08 15:15] #240 closed

[2016-12-08 17:09] sameo opened #243 "Incorrectly formatted sandbox test data JSON files"
In `test/testdata/sandbox_config*`, the `namespace_options` block is under the `linux` one but it should be under the `security_context` one.

[2016-12-08 17:46] #243 closed

[2016-12-09 08:41] runcom commented on #231
[code]
@mrunalp , this is an example of what I get on my laptop (I get this 7/10 integration tests run)

[2016-12-09 08:46] #242 closed

[2016-12-10 05:31] cyphar opened #255 "apparmor: handle cases where profiles are unloaded"
From docker/docker#29130 it is possible for AppArmor profiles to be unloaded by system services (such as unattended upgrades). This is because we are generating the profiles ourselves and inserting them directly. Basically we just have to port docker/docker#29130 to cri-o.

[2016-12-10 07:08] runcom commented on #255
https://github.com/kubernetes-incubator/cri-o/pull/239#issuecomment-265435462

[2016-12-10 07:24] cyphar commented on #255
There are several issues with that PR. I'm submitting my own (I already started writing it before checking).

[2016-12-12 14:47] runcom opened #260 "Read command from ContainerCreateRequest"
Right now we're only reading from `GetArgs()` at https://github.com/kubernetes-incubator/cri-o/blob/master/server/container_create.go#L124. (we need to fix `GetArgs()` override also in https://github.com/kubernetes-incubator/cri-o/pull/189#discussion_r91918788 but that's another story for now)

That works like:
[code]
However something like:
[code]
isn't working at all and just use the default `/b

[2016-12-12 14:55] jjlakis commented on #260
Looks like kubelet prefers `command` field (kubectl run --help):
`--command[=false]: If true and extra arguments are present, use them as the 'command' field in the container, rather than the 'args' field which is the default.`
IMO, we should pass all `<everything_in_command> <everything_in_args>` to be sure. It's natural that some will put all the arguments to `command`, some to `args`, and anoth

[2016-12-13 07:08] feiskyer opened #264 "Pull image failed"
When playing with latest cri-o, image pull is always failed with errors:

[code]

@runcom Is this a known issue?

[2016-12-13 07:29] feiskyer commented on #264
Omit it, its my wrong usage of pull command. should pull it with prefix `docker://`.

[2016-12-13 07:29] #264 closed

[2016-12-13 14:59] sameo opened #266 "Missing networking functional tests"
We currently do not test networking at all with bats. We'd like to at least test the following use cases:

* Host network: verify that we're living in the right namespace when using the host network.
* Create a temporary CNI bridge plugin configuration and verify that:
   * We get an eth0 interface in the networking namespace, set with the correct IP
   * We can ping the host network back

And in

[2016-12-13 14:59] sameo commented on #266
Please assign that one to me.

[2016-12-13 18:13] #260 closed

[2016-12-13 20:17] mrunalp commented on #266
@sameo Thanks!

[2016-12-14 05:53] Crazykev opened #268 "Error `wait: no child process`"
When make local test,  will run into this error `wait: no child process` intermittently. In [here](https://github.com/kubernetes-incubator/cri-o/blob/master/oci/oci.go#L300)  and [here](https://github.com/kubernetes-incubator/cri-o/blob/master/utils/utils.go#L29) when we call `cmd.Run`.

When look deep in the golang source code, will see a race condition in `cmd.Run`, that process may finished bef

[2016-12-14 07:08] resouer opened #270 "Consider adding cgroup driver or other workaround to support pod level QoS"
Encountered this issue when working on pod level QoS support: #271. This feature is important for fine grained QoS tiers, and meaningful to hypervisor containers like runV, CC to figure out its VM's resource boundary.

**Background:**
The basic idea of pod level QoS is: kubelet will create a pod level `cgroupParent` path and pass this value to runtimes, so for example, in CRI+docker we will have `

[2016-12-14 07:28] runcom commented on #270
@mrunalp @cyphar

[2016-12-14 11:26] Crazykev commented on #268
@runcom I have checked related man page with [ECHILD](http://man7.org/linux/man-pages/man2/waitpid.2.html#ERRORS)

(for waitpid() or waitid()) The process specified by pid
              (waitpid()) or idtype and id (waitid()) does not exist or is
              not a child of the calling process.  (This can happen for
              one's own child if the action for SIGCHLD is set to SIG_IGN.

[2016-12-14 11:41] runcom commented on #268
See https://github.com/kubernetes-incubator/cri-o/pull/272

[2016-12-14 13:04] runcom opened #273 "CNI netns(s) leaking"
I have a bunch of:
[code]
in my mounts. I'm sure every runc containers has been properly stopped (and ocid is stopped as well) - not sure what could cause this leak. (I have a bunch of veth(s) on the system also still lying around).

@mrunalp @rajatchopra PTAL

[2016-12-14 13:09] runcom commented on #273
could be actually my fault since I directly remove runc containers via `runc` rather than with `ocic` - will check and get back

[2016-12-14 13:17] sameo commented on #273
@runcom Removing them with ocic should remove all the netns and clear the host veths. Please let me know if it doesn't and assign the issue to me if that's so.

[2016-12-14 14:16] cyphar commented on #270
I would recommend just sticking with runC's `cgroupfs` driver. The systemd one is ... questionable at best.

[2016-12-14 14:38] #268 closed

[2016-12-14 17:03] runcom commented on #273
now the issue is I'm not able to reproduce this anymore - like, those mounts aren't created anymore (running k8s+CRI-O)

[2016-12-14 17:05] runcom commented on #273
oh, could be tests (when they fail)

[2016-12-14 17:07] runcom commented on #273
right, this is happening with failing tests that leaves stuff on the host:
[code]

[2016-12-14 17:08] runcom commented on #273
@sameo tests aren't really using network (nor testing networking) right now, but I have CNI plugins on my system and network gets setup automatically. Is there any way to disable this?

[2016-12-14 17:09] runcom commented on #273
@sameo (sorry for multiple comments). Even when tests run fine and no errors or containers are kept running I do have a leak:
[code]
I can reproduce by just running `sudo make localintegration` on my host (with CNI setup as per instructions in the README)

[2016-12-14 17:36] sameo commented on #273
@runcom Let me try and fix that leak.

[2016-12-14 18:53] sameo commented on #273
@runcom Can you please test PR #276 ? It does fix a leak I could reproduce when running localintegration. With that patch, you netns should be all cleared.

I need to see if I can reproduce the error case now.

[2016-12-14 22:48] sameo opened #278 "Networking namespaces are explicitly removed"
CNI will not set the netns mounted flag when getting an existing networking namespace.
This forces us into tracking netns states and removing them explicitly depending on their state, instead of just calling `ns.Close`. This is merged through PR #276.

There is a pending PR for CNI that attempt to fix that issue: https://github.com/containernetworking/cni/pull/342
If it gets merged, we should reve

[2016-12-15 00:00] #273 closed

[2016-12-15 01:52] resouer commented on #270
while @mrunalp thought both cgroup type should be supported, https://github.com/kubernetes-incubator/cri-o/pull/271#issuecomment-267198572  ...

btw, is runc using systemd by default (did not look code, just based on my env)

[2016-12-15 02:05] mrunalp commented on #270
Default is cgroupfs.

[2016-12-15 02:11] resouer commented on #270
@cyphar So could you please explain more details about your concern about `systemd`?

[2016-12-15 03:40] xlgao-zju commented on #255
I think we should close this issue, since #239 has been in.

[2016-12-15 04:47] cyphar commented on #255
Yup.

[2016-12-15 04:47] #255 closed

[2016-12-15 04:47] feiskyer commented on #255
yes, already solved in #239.

[2016-12-15 05:05] cyphar commented on #270
We have had a very long history if issues with `systemd`. The TransientUnit DBus API that they provide does not have enough controls for our `cgroup` modification requirements in runC -- so what we do is that we manually modify the cgroup settings after setting up a `systemd` slice (using the `cgroupfs` code).

So the only difference between `cgroupfs` and `systemd` is that with `systemd` we tell

[2016-12-15 12:22] ingvagabund opened #280 "Missing a dependency file with a list of dependencies and its coresponding commits"
Please, provide glide.lock, Godeps.json, glock.yml or any file that captures the current dependencies used on the projects.

[2016-12-15 12:25] runcom commented on #280
@ingvagabund look for `hack/vendor.sh`

[2016-12-15 13:02] ingvagabund commented on #280
I found the file, still, it is non-standard way to store the deps. I got automatic tooling that read the dependency file and checks if each dependency's corresponding commit is already packaged in distro.

[2016-12-15 13:07] runcom commented on #280
I know it isn't, we're using that which is used by docker as well.

[2016-12-15 13:25] rhatdan commented on #270
I think we should continue to support both.  At some point Systemd might be come the sole controller/designator for Cgroups, as cgroup2 gets implemented.

[2016-12-15 13:56] cyphar commented on #270
@rhatdan

Heh, cgroup2 is already implemented (in the kernel, the runC code still isn't there because I still haven't managed to boot a system using `cgroupv2`) and `systemd` is basically enshrined as the only controller for the whole stack. The only way to get out of it is to ask `systemd` to delegate to you (which Docker already requires and `ocid` will also require), at which point you should b

[2016-12-16 11:57] laijs commented on #91
I don't like the pause container either, but I can't figure how to handle the pid ns if there is no pause container(when to create the pidns? which process will be the pidns-init-process? how to preserve the pidns for any feature container if all the containers exited)

[2016-12-16 12:07] cyphar commented on #91
@laijs You can bindmount namespaces to create "persistent namespaces":

[code]

You can then use `setns(2)` or just pass the path to the runtime configuration and you don't need to have a process in the namespace.

[2016-12-16 12:21] cyphar commented on #91
The really weird part is that you also don't need to have ever have been `init` inside the `pidns`! Because `unshare(CLONE_NEWPID)` sets that your children will start inside the new pid namespace, you can bindmount it and exit and the first process to do `setns(the persistent namespace)` will be init!

[2016-12-16 14:33] sameo commented on #91
@laijs @cyphar If we're not on the host network namespace, we now create persistent networking namespaces per pod under `/var/run/netns/`. We no longer use the pause pid ns.
If we're on the host network, then we already have a networking namespace.
So having the pause container just to hold the networking namespace no longer makes sense.

Unless someone is already busy with that, I can have a look

[2016-12-16 14:36] cyphar commented on #91
@sameo I'm not working on it right now. But please do remove it if you have time to do that -- the pause container was always one of those hacks I _really_ didn't like. :P

[2016-12-16 15:24] mrunalp commented on #280
@ingvagabund We cycled through all of the dependency managers that you mention early on in the project. Each of them had their own downsides and were not consistent in pulling just the right dependencies. Hence we switched to this simple hack/vendor.sh script.

[2016-12-16 17:53] mrunalp commented on #91
@sameo I think we just need to apply the same treatment for ipc that you did for net namespace and we should be good. However, having said that we will still need to keep the option of having a "init" container when kubernetes starts supporting sharing pid ns so that init container can act as the reaper for the other containers.

[2016-12-17 14:24] runcom commented on #238
closing in favor of https://github.com/kubernetes-incubator/cri-o/issues/266

[2016-12-17 14:24] #238 closed

[2016-12-17 14:24] runcom commented on #231
I'd close this since now everything seems pretty stable

[2016-12-17 14:24] #231 closed

[2016-12-17 14:39] #160 closed

[2016-12-17 14:39] #140 closed

[2016-12-17 14:40] runcom commented on #142
should be fixed in master

[2016-12-17 14:40] #142 closed

[2016-12-17 14:40] runcom commented on #143
should be done https://github.com/kubernetes-incubator/cri-o/tree/master/contrib

[2016-12-17 14:40] #143 closed

[2016-12-17 14:44] runcom commented on #124
I don't think we need to take any action on this - kubelet will fully understand this case and re-start any container which the pod expect to have. (also ocid restart now fully re-sync with runc state). @mrunalp Wdyt?

[2016-12-17 18:03] laijs commented on #91
[code]

@cyphar
it seems any later process can't enter to the pidns if the init process of the pidns had exited.

[2016-12-17 19:33] philips commented on #91
You have to have a PID1 to keep the PID namespace open. http://man7.org/linux/man-pages/man7/pid_namespaces.7.html

       If the "init" process of a PID namespace terminates, the kernel
       terminates all of the processes in the namespace via a SIGKILL
       signal.

To get rid of pause you need a PID1 tied to the lifecycle of the sandbox. This is what we do with rkt. To emulate the old "k8s"

[2016-12-18 00:58] mrunalp commented on #91
@philips We plan to support a custom init container when pid ns is shared.

[2016-12-18 07:06] resouer commented on #270
OK, so let's stick to cgroupfs in code and close this for now. Thank you for all advices.

[2016-12-18 07:06] #270 closed

[2016-12-19 08:52] nhlfr commented on #225
I would like to work on this, please assign me

[2016-12-19 09:02] runcom commented on #225
@nhlfr thanks! Please not there are still 2 PRs flying around #189 and #210 that must be in master before going with this one. Also, note that we're trying to abstract most of what we have under `server/` right now to have a clean API shared between `cri-o` (the CRI implementation) and `kpod`.

[2016-12-19 12:20] ingvagabund commented on #280
@mrunalp is there a predefined format for the vendor.sh? Can i expect each line with a dependency will always start with `clone git ` prefix?

[2016-12-19 12:29] runcom commented on #280
@ingvagabund yes, when there's a dependency you have a line consistently starting with `clone `.

[2016-12-19 14:22] cyphar opened #287 "grpc crash when trying to start a pod"
This happens on `master` if you just try to start a pod with one of the `tesdata` configurations:

[code]

With the key command being:

[code]

[2016-12-19 14:30] runcom commented on #287
.. looking .. (thanks)

[2016-12-19 14:30] cyphar commented on #287
I'm bisecting right now. Gimme a sec. :P

[2016-12-19 14:34] runcom commented on #287
Can't reproduce on master though :confused:

[2016-12-19 14:35] feiskyer commented on #287
maybe caused by missing cni networks?

[2016-12-19 14:35] cyphar commented on #287
@runcom Okay, it just started working again. I had to fix up `ocid.conf` to correctly refer to the right binaries (this was a new box).

Looks like it's a configuration issue, but I'm confused why I got that error which then crashed the daemon. Seems like a really nasty failure mode.

[2016-12-19 15:02] runcom commented on #287
welcome to grpc nil marshaling

[2016-12-19 15:04] cyphar commented on #287
@runcom It's also caused when `conmon` exits with a non-zero exit code. I hit it with #162 (which I've since fixed) when it would crash due to the log path being wrong.

[2016-12-19 18:38] runcom opened #288 "Audit"
Similar to what the kernel does, it would be nice for cri-o to support some sort of audit logging. That allows administrators to have a clear vision on what cri-o is doing and enhance security.
This is a placeholder issue to discuss audit. I'll create a design document if people are happy having this.

Thoughts? Questions?

[2016-12-19 18:57] jawnsy commented on #226
@mrunalp @runcom Can you add some instructions on how to get started with this?

[2016-12-20 12:45] cyphar commented on #132
I've had some pretty interesting ideas about distributing images through RPMs. Currently it only exists as an internal RFC document, but the general idea is that we generate RPMs for each blob with metadata tagged from the manifest and other sources in the image.

The reason I bring this up is that it might be possible for this to be transparent if `ocid` grows some sort of hook support, allowing

[2016-12-20 15:49] #266 closed

[2016-12-21 07:26] resouer commented on #288
👍 for this, please.

[2016-12-21 16:40] cyphar opened #293 "Tests don't work on openSUSE"
I tried running the test suite, and it just hanged after the apparmor tests were done (all of which failed except for the first one). There's also the lovely no-cleanup issue which means that running the test suite again causes all of the tests to fail.

I'll investigate further, I'm just putting it here to remind myself of this.

[2016-12-21 16:43] runcom commented on #293
@mrunalp thought at using `TRAP` for the cleanup, I'll let him chime in but the idea sounds good to me

[2016-12-21 16:49] sameo commented on #208
@mrunalp Do you agree this is fixed with commit a4f5c3a8c4db24b0f7c2d11d2570a1a20006ca0e ?

[2016-12-21 17:36] cyphar commented on #208
@sameo Can we please include the "sample CNI configuration" in the repo so that distributions can package it, and that the README is just "here's a sample file".

[2016-12-21 17:44] runcom commented on #208
@cyphar mmm, why not having people checkout CNI repo since they basically have the same examples? it won't change, but if the config changes we'll need to track CNI from this repo

[2016-12-21 17:44] runcom commented on #208
(no strong opinion on this though, feel free to include a config sample if you feel strongly about it)

[2016-12-21 17:50] cyphar commented on #208
Including the CNI source code in an RPM just to get an example configuration seems to me to be a _little_ overkill. ;)

[2016-12-21 17:52] runcom commented on #208
nah, I didn't mean that (if I got correctly what you said)

[2016-12-21 17:54] cyphar commented on #208
I was assuming "people" meant me packaging ocid. I'll add an example tomorrow (/me -> bed). :wink:

[2016-12-21 17:54] mrunalp commented on #293
@cyphar I have been using a stupid cleanup script for starting tests with a clean slate. I'll post it here. Tests have gotten much better for us but there are still a few flakes. If you figure out specific issues that need fixing please post more details :)

[2016-12-21 17:56] mrunalp commented on #293
cleanup.sh
[code]

[2016-12-21 17:58] runcom commented on #208
@cyphar the misunderstanding lies in me saying _checkout CNI repo_ - by checkout I meant _have a look on the github repo on the web_

[2016-12-21 18:02] cyphar commented on #208
Ah, right. "go check out" not `git checkout`. :smile_cat:

[2016-12-21 18:05] runcom commented on #208
I should take another english class soon...myb

[2016-12-21 18:23] mrunalp commented on #208
@sameo Yeah, I think we are good. I am okay either ways on adding the config files. Will wait for @cyphar

[2016-12-22 11:38] runcom opened #294 "containers state is flawed wrt storage"
Running tests with both k8s and ocic, the result is storage state is not consistent across restarts and 4/5 that results in an ocid panic. I don't really have a way to reproduce, just playing around. I tried to fix most of the panic here https://github.com/kubernetes-incubator/cri-o/compare/master...runcom:alpha (my commits on top of @nalind's #189). There are still many panics because that `s.Upd

[2016-12-24 00:14] cyphar commented on #208
This is in #295.

[2016-12-24 17:16] jawnsy commented on #288
It makes sense to have some logging facility, though isn't it less useful at the CRI-O level, since we don't have contextual information like the reason a pod was started or by whom? Maybe if we support a standard like [OpenTracing](http://opentracing.io/)? We'd have to be careful not to rely on any external services being available, though.

[2016-12-24 17:20] jawnsy opened #296 "Converting tests from BATS to Ginkgo"
Starting a discussion here. I'd like to propose converting the integration tests from BATS to Ginkgo. There are a number of benefits:

0. Easier for new contributors to get started
0. IDE support (vim-go, vscode-go, etc)
0. Fancier output messages (including colors)
0. Optional JUnit reports (would replace the existing TAP output), so no loss of functionality from a CI perspective (Jenkins can gen

[2016-12-24 17:21] jawnsy commented on #296
Was discussing this in passing with @mrunalp the other day. Maybe we can just start an experiment alongside our current tests? I've used Ginkgo/Gomega quite successfully in the OpenShift Online team

[2016-12-24 19:31] mrunalp commented on #296
Yeah we can try converting a few and see how it goes.

[2016-12-24 19:34] runcom commented on #296
I'm not happy with bats either at this point even if it does its job quite good. I'm fine with this.

[2016-12-24 20:47] jawnsy opened #297 "conmon depends on GLib (glib.h)"
It looks like conmon links to GNOME's GLib library, but is only using a handful of functions. It adds some weight to the resulting binary, so we should consider removing the dependency.

Possibilities:

* Rewrite conmon in Rust? (seems kinda ambitious)
* Use builtin libc filehandling support, e.g. `fopen` and friends
* ???

Here are the errors that result if you drop the include for `glib.h`:

[co

[2016-12-24 21:31] jawnsy opened #298 "README missing dependencies on libdevmapper & btrfs"
Ran into the following build problems:

[code]

Needed to install `device-mapper-devel` and `btrfs-progs-devel` (This is your periodic reminder that it's a pain to deal with dependencies for C libraries)

[2016-12-25 00:11] cyphar commented on #297
Yeah, this is one of the things that we need to discuss for #24, as well as the streaming server requirements. Specifically, we need to decide if we're going to switch languages to support streaming, because implementing many-to-many streaming in a single C binary is going to be ... fun.

The thing is, `glib` is actually useful for the things we're using it for. The only justification I can see fo

[2016-12-25 00:11] cyphar commented on #297
Also #162 #282.

[2016-12-25 04:06] Crazykev commented on #296
@xlgao-zju also did some similar job in k8s, you may want see this.

[2016-12-25 16:44] surajssd commented on #298
yes faced similar issue when building

[code]

When installed package `device-mapper-devel` then got rid of
[code]

When installed package `btrfs-progs-devel` then got rid of
[code]

But still problem persists

[code]

[2016-12-26 03:22] surajssd opened #299 "Images not being listed on `ocic image list`"
Images not being listed on `ocic image list`

In directory:

[code]

When running command:

[code]

[2016-12-26 03:24] surajssd commented on #227
@mrunalp can you assign this to me?

[2016-12-26 03:33] feiskyer commented on #227
@surajssd Cool. Assigned.

[2016-12-26 04:54] surajssd commented on #227
@feiskyer thanks :) Working on it now!

[2016-12-26 06:03] mrunalp commented on #297
On the topic of Rust, I am keeping an eye on the the `mio` and `tokio` libraries. Once they are stable, it will become a very good candidate :wink:

[2016-12-26 06:06] mrunalp commented on #299
@surajssd #189 should handle this. Could you test it and comment there?

[2016-12-26 06:07] mrunalp commented on #294
@runcom I think we should refactor and add a separate storage interface through which all persistence calls go. It will be easier to support different backends that way as well as interoperate with kpod.

[2016-12-26 19:08] jawnsy commented on #296
@Crazykev @xlgao-zju I looked through the changes in https://github.com/kubernetes/kubernetes/pull/35266 but I don't think this would replace the existing integration tests, since these exercise the command-line interface code for `ocic`. Are we okay with integration tests that only exercise the CRI interface, since that's the only "supported" method of using cri-o? (As far as I know, `ocic` is ma

[2016-12-26 19:25] mrunalp commented on #296
I think going directly over CRI is fine. It will make this reusable for other projects as well.

[2016-12-26 22:47] jawnsy opened #300 "Default PREFIX should be /usr/local"
By default, `sudo make install` installs binaries into `/usr/bin`, but in my opinion we should instead be installing into `/usr/local/bin` to avoid conflicts with vendor binaries.

Code reference: https://github.com/kubernetes-incubator/cri-o/blob/master/Makefile#L11

This may need to be overridden in vendor (rpm/deb) builds so that files are installed to the proper location, but this is normal/ex

[2016-12-27 02:55] Crazykev commented on #296
@jawnsy glad you find that, I am also agreed with @mrunalp . BTW, CRI validation test has been promoted to P0, I believe it will land soon.

[2016-12-27 07:13] gouyang commented on #287
I just met the same issue on the `master`.

[code]

[2016-12-27 07:22] xlgao-zju commented on #296
Agree with @mrunalp too. As @Crazykev said, CRI validation test has been promoted to P0. And maybe it will be put in a separate repo which is reusable for other projects.

[2016-12-29 04:21] mrunalp commented on #300
@rhatdan @cyphar PTAL

[2016-12-30 06:24] cyphar opened #302 "Build fails on i586"
Currently it's failing inside OBS for openSUSE: https://build.opensuse.org/package/live_build_log/home:cyphar:containers/ocid/openSUSE_Tumbleweed/i586

[code]

[2016-12-30 07:42] cyphar opened #303 "tags and versions"
Currently `ocid` doesn't have any version tags. While I realise it's all very active development, it is simply not practical to package `ocid` before it has some concept of versioning. Maybe we should just tag the current version as `0.0.0` and then bump it as often as we feel is appropriate.

[2016-12-30 17:23] jawnsy commented on #300
Dug up the appropriate section of the [Filesystem Hierarchy Standard](http://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s09.html):

If you are on rawhide, and you `dnf install ocid`, then `sudo make install` will currently overwrite the system binary. Subsequent `dnf upgrade` runs may overwrite ocid.

On the other hand, this does mean that the `PATH` needs to be configured correctly (that is, `/

[2016-12-30 17:56] jawnsy commented on #303
+1. Versions are a good idea to have. Now that we have a package in rawhide, it helps if we use semantic versioning to communicate to maintainers the likelihood of breakages. It's also generally understood that anything before the 1.0.0 release is subject to change, so wouldn't be any different from today.

Kubernetes and OpenShift add git commit id's for the build as well, which might be useful:

[2016-12-30 18:03] cyphar commented on #303
Yup. I'm not sure how the version was handled in rawhide, but in openSUSE most people end up creating horrible versions like `0.0.0+20161231.gitHASH`, which isn't a helpful version number at all.

Sure, but remember that commit ids are not a replacement for versions. We should use something like `0.0.0~git<hash>` which won't cause issues with RPM's version comparison algorithms. :wink:

[2016-12-30 19:08] jawnsy commented on #302
We should add cross-compile builds for any of the architectures we intend to support, which thankfully can be done pretty easily with Go using `GOARCH`.  I think Docker only officially supports Linux on amd64 currently. I assumed we'd be starting with Linux and amd64-only for now? And I thought `time.Unix` always uses int64, regardless of platform: https://golang.org/pkg/time/#Unix - where is the

[2016-12-30 19:15] cyphar commented on #302
I'm not suggesting we intentionally create cross-compilation builds, I'm just keeping track of build issues that we will have to fix within our packages and should probably push the fixes upstream too. In particular, this fix is quite trivial (you create a separate source file that only builds on `i586` which has the right cast -- because Go doesn't like "useless" `int64(...)` casts).

I can't com

[2016-12-30 19:22] jawnsy commented on #302
I know, I'm just suggesting that we could've found this bug earlier (in our Travis builds) if we were doing a cross-compile to x86.

I think many vendors (Debian, Fedora) support more architectures than the upstream project, but this seems like a risky position to me. "It compiles and seems to work" is a far cry from "it's an officially supported platform", so if x86, ppc64le, s390x are architectu

[2016-12-30 20:29] jawnsy commented on #303
For reference, the latest package build in rawhide is `0-0.7.git2e6070f.fc26` https://apps.fedoraproject.org/packages/ocid/

It would be a good idea to pick a version scheme compatible with Debian's `dpkg` as well: https://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-Version

So the same type of version number, like `0.7~git2e6070f` should be good for everyone (I have no idea where F

[2016-12-30 20:37] mrunalp commented on #300
Could you create a PR for this?

[2016-12-30 21:31] lsm5 commented on #303
the version number used is `0`, the release tag is what follows after the `-` so `0.7.git2e6070f`, and `2e6070f` was the commit id used from @runcom's branch https://github.com/runcom/ocid-1/commits/alpha

[2016-12-30 23:08] jawnsy opened #306 "Configurable stop signals for containers (read from image config)"
When `StopContainer` is called, the container will be forcibly terminated with the `SIGKILL` signal, which cannot be caught or handled by processes.  This immediately kills processes without prior warning, which may result in data loss for some types of workloads (such as databases) or other undesirable behaviour (such as connection timeouts, as applications don't have a chance to gracefully close

[2017-01-02 09:41] jjlakis commented on #306
+1. `SIGKILL` lefts everything including mounts, child processes etc.

Looks good, but I think we should use `Timeout` field from `StopContainerRequest` as a time to wait before sending `SIGKILL`. Unless someone has an another idea to catch this value.

[2017-01-03 00:16] jawnsy commented on #306
Also relevant to this discussion, apparently it's [configurable in the `Dockerfile`](https://docs.docker.com/engine/reference/builder/#/stopsignal). I don't have strong opinions on the exact semantics of this, but we should look around at what other container runtimes are doing.

[2017-01-03 14:42] rhatdan commented on #300
SGTM
I personally do not like installing stuff by default in /usr/local, since I always get confused about which package I am using, or I have old cruft in /usr/local.  But this seems to be the rules.

[code]

If we used something like autoconf to generate the Makefile, then this would not be as big a problem.

[2017-01-03 14:44] rhatdan commented on #303
I agree we should have version tags.

[2017-01-03 18:23] rhatdan commented on #306
Should the signal be configurable.  Docker supports the STOPSIGNAL.  Systemd as pid 1 in a container requires a weird signal,  SIGRTMIN+3.

[2017-01-03 20:37] mrunalp commented on #306
@rhatdan We will have to read if from the image config. AFAIK, kubernetes doesn't pass a specific signal over CRI.

[2017-01-03 20:42] mrunalp commented on #303
I pushed a v0.0.0 tag just now.

[2017-01-03 21:02] rhatdan commented on #306
That is fine, if we can at least get it from the json.

[2017-01-05 23:41] #300 closed

[2017-01-08 09:40] surajssd commented on #299
now when i compiled master the behavior is completely different:

[code]

now pulling image

[code]

but this image is stored in some other place

[code]

[2017-01-08 09:45] surajssd commented on #299
But original problem of issue is solved

pulling image
[code]
image is visible
[code]

[2017-01-08 09:45] surajssd commented on #299
@mrunalp closing this one.

[2017-01-08 09:45] #299 closed

[2017-01-08 10:27] surajssd commented on #298
Now all above errors go away, not sure what fixed it!
While testing https://github.com/kubernetes-incubator/cri-o/pull/189 installed `gpgme-devel` and `libassuan-devel` and now master builds, without problems.

[2017-01-09 17:18] runcom commented on #288
I was thinking at just using the kernel/system audit subsystem, what about that?

[2017-01-10 06:45] jawnsy commented on #288
@runcom Are there other systems we want to correlate with, like kubernetes, and do they log to the kernel audit subsystem as well? I'm not too familiar with it, the extent of my familiarity with it is looking in `/var/log/audit/audit.log` for SELinux errors :smile:

Maybe we can punt on the decision by making it pluggable, and defaulting to the audit subsystem?  Then if some better idea comes alon

[2017-01-10 10:21] runcom commented on #298
@nalind could you update the README in #189 to add gpgme, libassuan, btrfs-progs and the like to the installation prereqs? Also, please add a "Close #298" to the first comment of #189 so this gets closed when we merge #189.

[2017-01-10 16:08] nalind commented on #298
@runcom will do.

[2017-01-10 18:06] sameo opened #309 "ExecSync code path does not work with all OCI compatible runtimes"
The `ExecSync` code path and tests expects to be run with `runc`:

- It is only waiting for the runtime pid to get the command exit status (and does not support waiting from any other process created by the runtime).
- Negative testing are comparing the error strings with `runc` specific output.

As a consequence CRI-O `ExecSync` fails on e.g. Clear Containers.

[2017-01-10 18:07] sameo commented on #309
@runcom @mrunalp  I'm currently working on fixing this one, so please assign it to me.

[2017-01-10 19:05] mrunalp commented on #309
@sameo Thanks!

[2017-01-12 22:43] resouer commented on #296
We talked about this during CRI-O online meeting, kubernetes sub-repos containing CRI verify tests & client tools will be created.

Ref: https://docs.google.com/spreadsheets/d/1-hADEbGEUrW04QP4bVk7xf1CWuqbFU6ulMAH1jqZQrU/edit?ts=585c5905#gid=1369358219
[code]

[2017-01-13 11:24] runcom commented on #296
should we go ahead however and start moving our tests to `ginkgo`? Or will be that unnecessary due to https://github.com/kubernetes-incubator/cri-o/issues/296#issuecomment-272307503? I have a branch where I started setting up a side-by-side-bats-ginkgo test suite so if this should be implemented regardless we can start with my branch I guess.

[2017-01-13 15:19] mrunalp commented on #296
@runcom I think we should start converting anyways. We can move them upstream when ready. We can first push the ginkgo setup/teardown with a few tests and then start converting the rest.

[2017-01-13 15:22] runcom commented on #296
alright, I paused my work from this morning (my tz) but alright, I'll start next week again. Basically we just need a setup/teardown in ginkgo to setup the ocid server before running anything, I'll tackle that on monday.

...unless anyone was already working on this?

[2017-01-14 00:16] mrunalp commented on #296
I spent some time looking into ginkgo today. I think k8s has a nice setup. We can do it similarly.

[2017-01-14 01:02] jawnsy commented on #296
@runcom Yeah, absolutely, hope to give it a shot this weekend.

[2017-01-15 18:19] jawnsy opened #311 ""make install" fails if go-md2man was not installed"
The build runs fine (though doesn't generate docs) if `go-md2man` is not installed:

[code]

So far, so good. But if you then `make install`, it fails because the documentation isn't present. Either we should turn `go-md2man` into a hard error (it's already an error, though the wording of the message implies it's optional), or we should make it truly optional. Personally I'd prefer the latter, but

[2017-01-15 18:31] jawnsy opened #312 "Generate bash completions for kpod"
There are some bash completions checked in for kpod (cri-o/completions/bash/kpod), however, I suggest using the [built-in completion rules](https://github.com/urfave/cli#bash-completion) for `urfave/cli` to make maintenance easier. It would have some advantages:

* For developers who have never written a bash completion (like this guy *two thumbs pointed at self*)
* Easier to keep code in sync wit

[2017-01-15 19:42] jawnsy opened #313 "Use idiomatic Go project structure and "go install" for builds"
We currently use `go build` to build. Is there any reason we couldn't use the idiomatic Go project structure?

For example:

[code]

We would, of course, modify the `Makefile` to do the same. One upside is that binaries would be built outside the VCS, so we wouldn't need to worry about accidentally checking in ocid/ocic. The install instructions for `ocic` or `kpod` could be simplified as well (e.

[2017-01-15 19:52] runcom commented on #311
I'm fine having an hard error which exists make if go-md2man isn't available

[2017-01-15 19:55] jawnsy commented on #311
Yeah, it's a hard error, but I guess it happens to be at the end. I mostly just meant the word "Consider" makes it sound like it's just a recommended dependency, rather than a required dependency

[2017-01-15 19:57] runcom commented on #311
mmm to me it's a required dependency, no? `make` should run fine the whole making process (think about `go` itself not being available) and so, we need go-md2bin to always be present on `make` (`make binaries` is another story maybe).
I don't really have a strong opinion here to be honest...it's like checking if `go` is installed before running the `make` process..

[2017-01-15 20:05] jawnsy commented on #313
You're right, with `.gitignore` it's not a problem, but we have to remember to update it for new binaries (in addition to updating many of the make targets).

The main reason I mention this is because I want to run tests as: `go test github.com/kubernetes-incubator/test/integration` and that doesn't work today. It also means that you have to clone the project and use the Makefile to build (instead

[2017-01-15 20:25] jawnsy opened #314 "Errors running "make integration""
Is this normal?

HEAD is 61e60bfe4740c0a5f2a574d259f98ba9834fa4e6 (latest version)
Host system is Fedora rawhide
SELinux disabled

[code]

Getting different errors on RHEL 7.4 beta, both with SELinux enabled and permissive:

[code]

[2017-01-16 02:44] jawnsy opened #315 "Promote DefaultConfig to server/config.go instead of cmd/server/config.go"
I'm working on creating an embedded test server for integration tests (so that we don't have to shell out to ocid).

OpenShift Origin [starts an embedded etcd server and origin master](https://github.com/openshift/origin/blob/master/test/integration/api_paths_test.go#L20) (with other options, like only starting the API server) during tests. I think the idea is [borrowed from kubernetes](https://gi

[2017-01-16 06:39] runcom commented on #315
Makes sense to me assuming the command still remains there right? (you want to basically move the command functionality in the server I guess). Ping @cyphar also.

[2017-01-16 10:26] sameo commented on #314
On the first log, you're trying to run docker inside docker.
On the second log, you're missing device-mapper-devel, but you'll end up with the same error as in the first log.

[2017-01-16 15:43] rhatdan commented on #312
I think the built in completion rules was very limited, only handled one level if it improves I say  yes, but I think for a while these will have to be hand maintained.

[2017-01-16 16:32] jawnsy commented on #314
@sameo Thanks for taking a look! They're both running under docker (using `make integration` though `sudo make localintegration` also fails spectacularly).

I have device-mapper-devel and the btrfs progs installed on my host system, so compilation outside docker is fine.

Here's what it looks like on RHEL, running as root:

[code]

Dependencies are installed on the host system:

[code]

And for my

[2017-01-16 18:20] jawnsy commented on #313
Dan Mace also pointed out that using `go install` means that we will use a package cache, rather than clean-building every time. This should speed up builds, especially when incremental changes are made.

I also noticed suggest renaming `client` and `server` to `ocic` and `ocid` accordingly, as they're not currently `go get`'able

Sidenote, I wonder if changing to this pattern would also fix this

[2017-01-16 18:40] mrunalp commented on #314
Most likely your runc version is very old on RHEL.

[2017-01-16 19:41] #309 closed

[2017-01-17 04:16] jawnsy commented on #313
@mrunalp @runcom @cyphar Would you consider a PR for this? I'd be happy to work on one if you're open to making this change, or at least evaluating it. It does mean that it'll be a little more annoying to get started with this, since it requires creating an appropriate `GOPATH` first (e.g. `mkdir -p cri-o/src/github.com/kubernetes-incubator && cd $_ && git clone ...` as explained above)

But I thi

[2017-01-17 04:44] mrunalp commented on #313
I see no harm in exploring it.

[2017-01-17 07:23] #315 closed

[2017-01-17 23:06] #313 closed

[2017-01-18 00:02] jawnsy commented on #306
Retitled this since #305 (already merged) covers the original complaint :smile:

[2017-01-18 22:02] #298 closed

[2017-01-19 03:26] jawnsy opened #323 "Mount source directory read-only in integration tests"
`make integration` runs the build in a Docker image, which mounts the source directory into the container. Some of the tests appear to be writing temporary data to some of these directories (e.g. `test/testdata/redis-image/...`), which create leave files (with root permissions) around.

If developing as a non-root user, these files cause build failures for subsequent builds (since `docker build` c

[2017-01-19 04:19] jawnsy opened #324 "Integration tests take a long time to run (~30 mins)"
real	30m37.920s
user	4m53.463s
sys	23m17.147s

Here's the rest of the logs... I guess most time was spent in the kernel. I'm also running this at home, so it's possible that the tests just require a lot of bandwidth when run under docker (`make integration` vs localintegration)

[code]

[2017-01-19 06:46] runcom commented on #323
The reason for this is to collect artifacts from within the container (eg a test.log). The example you are giving is the one from the copyimg binary right? Why is that created by root

[2017-01-19 06:48] runcom commented on #324
Docker should come into play only when building the initial container, not sure why you're getting this, I'll test on my laptop from home as well.

[2017-01-19 07:46] runcom commented on #324
mmm I'm not able to go over ~6m :confused:
[code]
I have enabled the network tests. I'll post a PR soon for that.

[2017-01-19 08:25] runcom commented on #324
with seccomp and network tests I went just to ~7m:
[code]

[2017-01-19 08:28] runcom commented on #324
@jawnsy any chance you can try this branch https://github.com/runcom/ocid-1/tree/tests-in-docker and see how it goes?

[2017-01-19 08:46] runcom commented on #324
BTW, with `master` I can get tests running in ~5m :confused: not sure what kind of issue you're hitting

[2017-01-19 16:31] mikebrow opened #326 "make install broken"
If one uses the following commands to build and install, you get an error:
sudo make clean
sudo make
sudo make install

mike@mike-VirtualBox:~/go/src/github.com/kubernetes-incubator/cri-o$ sudo make install
install -D -m 755 /home/mike/go/bin/ocid /usr/local/bin/ocid
install: cannot stat '/home/mike/go/bin/ocid': No such file or directory
Makefile:127: recipe for target 'install' failed
make: ***

[2017-01-19 16:32] runcom commented on #326
@jawnsy would you take a look at this?

[2017-01-19 16:33] jawnsy commented on #326
Yup, please assign this to me

On Thu, Jan 19, 2017, 08:32 Antonio Murdaca <notifications@github.com>
wrote:

[2017-01-19 16:34] mikebrow commented on #326
thx jawnsy.. I'm a bit swamped with something else atm

[2017-01-19 17:08] jawnsy commented on #324
Weird, maybe it's some quirk of my environment. Will try again and do some more investigation, thanks for looking at this!

[2017-01-20 00:42] jawnsy commented on #326
Hmm. So I tried to reproduce this by running in a clean `centos:7` container: `docker run --rm -it centos:7 /bin/bash` but wasn't successful in doing so.

[code]

Seems to run fine, this is the output (note you need `GOPATH=$GOPATH` because `sudo` cleans environment variables for security reasons):

[code]

[2017-01-20 00:44] jawnsy commented on #326
I suggest running `make` as your normal user, and only elevating for `make install` or `make localintegration`. It helps minimize the amount of build code that runs as root (who knows if go install does something wacky like tries to install packages to your system GOROOT, and similarly, `make clean` could go haywire and wipe important stuff)

[2017-01-20 05:46] mikebrow commented on #326
Hmm.. thx for providing your output.  My sudo also had a valid GOPATH so that wasn't it.

But after seeing your build output I decided to check my clone directories and git status and boom..there it was. I had some extra directories waiting to be committed. Not sure how I missed that I needed to do a git clean of my clone after merging the last set of commits. I had these files waiting to be added

[2017-01-20 05:50] #326 closed

[2017-01-20 06:25] mikebrow opened #330 "Make discussion"
So when we run make with the current build it uses "go install" which outputs to the user's go/bin directory for each of the binaries.  Then with a later request "make install" copies from go/bin to /user/local/bin.

But when you run "make localintegration" it runs go install again for each of the binaries, presumably there's a dependency issue.

The developer now needs to make sure he checks his

[2017-01-20 07:32] runcom commented on #330
We should be able to support installing under "_output" as k8s or openshift does

[2017-01-20 11:29] runcom opened #331 "integration tests for Clear Containers"
we could install clear containers in the Dockerfile and test it with a knob to `make localintegration`. Maybe we won't run tests in CI with Clear containers but still, it might be useful to have them (and install cc in the docker container we use for testing).

@sameo @jjlakis @mrunalp wdyt?

[2017-01-20 11:29] runcom opened #332 "issues running cri-o with Clear Containers"
Basically followed https://github.com/01org/cc-oci-runtime/wiki/Installing-Clear-Containers-on-Fedora-24 adapting them to F25 (since there's already an F25 repo). I can start clear containers with docker 1.12.1 but when it comes to try it with cri-o I'm getting:
[code]
and in kubernetes:
[code]
/cc @sameo @jjlakis

[2017-01-20 13:22] sameo commented on #331
That would be great to have them optionally running through localintegration and that's something I was planning to do.
Clear Containers need access to the VT-x or AMD-V instruction set, so it can not be run on Jenkins anyway. There are other CI tools (semaphoreCI) that do nested virt, but I'd prefer to keep those tests at the `localintegration` level first.

[2017-01-20 13:23] sameo commented on #331
@runcom Please feel free to assign that issue to me, I'll take care of it.

[2017-01-20 13:35] sameo commented on #332
@runcom The [Clear Containers instructions](https://github.com/01org/cc-oci-runtime/wiki/Installing-Clear-Containers-on-Fedora-24) you looked at are for Clear Containers 2.0 and that will not work with CRI-O.

Some background here, as we're currently transitioning to Clear Containers 2.1:

Clear Containers 2.0 was a (too) simple architecture that did not allow us to support many Docker commands an

[2017-01-20 13:55] jjlakis commented on #331
+1. Nothing to add :)

[2017-01-20 14:04] runcom commented on #332
@sameo thanks, however, using the new packages is not helping:
[code]

[2017-01-20 15:39] sameo commented on #332
@runcom can you try enabling cc-proxy first:

[code]

[2017-01-20 16:24] runcom commented on #332
that made the pause container to start up with clean containers. However I'm now seeing an issue when it can't actually start the "nginx" container because id is already reserved. Maybe a bug somewhere..

[2017-01-20 16:27] mikebrow commented on #330
Yes, we should probably be doing make targets a bit more like k8s:
[code]
Right now we have:
[code]
Where BINDIR is used as the for "make install."

Currently $GOPATH/bin is the target for make because we started using go install to build instead of go build, thus the source for the make install is set to $GOPATH/bin.

I presume this was done so we could do go get download installs of the binaries

[2017-01-20 17:40] jawnsy commented on #330
@mikebrow The main reason was to be able to leverage the package cache, but being able to `go get` to install `ocic` is a nice side effect, I think. I don't have any objection to using `-pkgdir` though.

I've just never personally understood why so many prominent Go projects (like Kubernetes) insist on using a non-standard install process - what's the advantage of `_output` over what we're doing t

[2017-01-20 17:42] jawnsy commented on #323
@runcom It's not the end of the world, but subsequent `docker build` runs will fail, because my nonprivileged user can't read the file in order to send it (as part of the build context) to the daemon. I'd suggest mounting a separate directory for test data as read-writable, with the source directory mounted as read-only, which gives us the option of not mounting the test data directory if we don't

[2017-01-20 19:19] mikebrow commented on #330
I clone into my gopath
[code]
k8s.io does it weird for a number of reasons.. their package names in github don't match their path in github.. that's odd and apparently is a historical issue given that it wasn't github in the beginning. To make the go tools work well with kube builds I have to clone kube into:
[code]

The advantage of "_output" is similar to our advantage of using "DESTDIR."

Yes t

[2017-01-20 19:35] jawnsy commented on #330
I'll experiment with `-pkgdir` & `_output` later - looks like that flag works with both `go install` and `go test`. It would definitely make cleaning easier (`rm -rf _output` versus trying to clean the $GOPATH without messing up other stuff that might be in there)

My change (using $GOPATH/bin) there is a bit buggy, as it doesn't work with multi-part GOPATHs. I guess using `_output` might make thi

[2017-01-21 09:10] runcom commented on #332
@sameo apparently I got a cc vm running with infra container but when it comes to starting the nginx container something goes wrong and cc-oci-runtime list shows it as stopped. Also, there  might be a bug there since the kubelet shows "created" and "started" while the status is still pending (not sure about networking in clear containers also).

[2017-01-21 15:08] runcom commented on #332
@sameo the socket is disabled by default on installation btw.

[2017-01-23 09:06] sameo commented on #332
Yes, we're working on that one. At the moment, SELinux prevents us from enabling it by default.

[2017-01-23 09:08] sameo commented on #332
@runcom could you please share which commands you're using to start an nginx pod, so that I can try reproducing here ?

[2017-01-23 10:05] runcom commented on #332
@sameo it works now! and it's great to see CC running with CRI-O :)

[2017-01-23 10:05] #332 closed

[2017-01-25 20:23] rhatdan commented on #332
What SELinux issues are you seeing?

[2017-01-25 20:28] runcom commented on #332
@rhatdan nothing related to SELinux - even if I tested it with setenforce 0 just to be sure - I'll re-test with selinux enabled and let you know.

[2017-01-25 20:53] rhatdan commented on #332
@sameo @runcom showed me a demo, very nice.  We should be blogging and putting the demo up on youtube.  Nice to see alternate runtimes working under kubernetes using CRI-O.

[2017-01-25 22:37] sameo commented on #332
@rhatdan Nothing related to SELinux itself, but the fact that we were not installing any TE file for our proxy socket. This should be fixed now with https://github.com/01org/cc-oci-runtime/pull/612

[2017-01-25 22:44] sameo commented on #332
It is very nice indeed :) It's been very easy to get the right changes merged into ocid, this is a truly open project.
Blogging about it would be great. Would the k8s blog be the right place ?

[2017-01-26 05:59] rhatdan commented on #332
That would work fine.  Having a quote like " It's been very easy to get the right changes merged into ocid, this is a truly open project." would be awesome.

I will try to get a blog on a Red Hat site also.

[2017-01-26 09:52] runcom commented on #311
should be fixed according to https://github.com/kubernetes-incubator/cri-o/pull/320#issuecomment-273314980

[2017-01-26 09:52] #311 closed

[2017-01-26 10:19] runcom commented on #306
The "configure the stop signal" is just something docker only has right now. That value is embedded in the `container_config` field of an image config (it shouldn't be there in the first place). The OCI image-spec isn't using `container_config` (for obvious reasons).
This stop signal should come directly from the kubelet in the `ContainerConfig` when creating containers.

[2017-01-26 12:10] jjlakis opened #339 "ListPodSandbox: bad wiretype for field runtime.PodSandboxFilter.State"
Problem appeared when running local-up-cluster from current kubernetes master branch (`28c439dcfb03832044469f035319daf53d60267e`) with current cri-o master.
Hope it's OK to describe it using my standard debug print that prints which GRPC request is passed to `ocid` and what is the result of this request: https://github.com/intelsdi-x/cri-o/commit/ab854dde116c3a00b1ea6c7cd0f97abcfc275d19

Steps to

[2017-01-26 12:17] runcom commented on #339
weird, @nalind could you also take a look? seems like, at some point, we start returning some bad state from sandboxes (which might be related to storage? just wondering)

[2017-01-26 12:42] mzylowski commented on #339
After my short check: error requests even do not enter to `ListPodSandbox` method in sandbox_list.go, the problem is somewhere else.

[2017-01-27 02:02] whatdhack opened #341 "containers and pods are not created"
Ran ocid and ocic as per the  instructions.

ocid --debug
ocic pod run --config ./test/testdata/sandbox_config.json

Error message :
Creating the pod sandbox failed: rpc error: code = 2 desc = reading pid from init pipe: EOF

The reason is the following are not created,   although the debug message falsely  claims otherwise .

pod sandbox "67ada844bbf37b68a7dfd4c6a8cbb85426c37fe5e8622b66b6559a4d6f

[2017-01-27 02:41] mrunalp commented on #339
Is there a protobuf diff between what we have vendored and upstream? If so, we can try to bump up our version.

[2017-01-27 02:44] mrunalp commented on #341
@whatdhack What version of runc are you using? The latest won't work without #162. We need a version  https://github.com/opencontainers/runc/commit/47ea5c75ebeb40a317d2cfa95f9c3536c00c1eea or older.

[2017-01-27 03:21] whatdhack commented on #341
The latest.

[2017-01-27 06:23] mzylowski commented on #339
@mrunalp I came yesterday to do the same conclusions.
8 days ago this was merged into k8s master: https://github.com/kubernetes/kubernetes/pull/39158
So k8s try to talk with cri-o server via new API.
I tried to bump k8s version via running hack/vendor.sh
After that is problem with building vendor package: github.com/containers/image because some files are now in k8s.io/apimachinery. To workaround

[2017-01-27 06:28] runcom commented on #339
That would be great, we're trying to solve the issues in containers/image as we speak though

[2017-01-27 06:40] mzylowski commented on #339
Hmmm I'm not sure why I came across vendor problem in containers/image. This commit should fix it: https://github.com/containers/image/commit/6cb9b80664939f7235eca93748781ffa75df7853

[2017-01-27 07:28] runcom commented on #339
@mzylowski this should also fix this issue with c/image https://github.com/containers/image/pull/223 but we're actually stuck with some issues with vendoring OCI/image-spec

[2017-01-27 08:33] mzylowski opened #343 "Problem with package bumping (via vendor.sh)"
I'm stuck trying to bump some packages in cri-o repo.

For current master (89e4c549950f9fc9bd50d919a88cd7c6b4889f1f)

Reproduction:
Getting custom k8s commit:
[code]
git status after command:
[code]
make cmd results:
[code]
So let's try update containers/image dependency:
Cmd:
[code]
Git status
[code]
So... A lot of files are deleted
make cmd results:
[code]

I also tried to revendor everything, b

[2017-01-27 08:40] runcom commented on #343
/cc @mtrmac as well, c/image is currently broken by k8s right now

[2017-01-27 08:42] mzylowski commented on #339
I described my problem in more details here: https://github.com/kubernetes-incubator/cri-o/issues/343
I created new issue because with @jjlakis we think there is additional problem with vendoring script.
For now we will continue solving #342 with manually copied missing packages.

[2017-01-27 09:39] mtrmac commented on #343
I can’t immediately see why your vending mechanism is removing things like `vendor/github.com/containers/image/copy/copy.go`; as long as they have direct uses in cri-o, they should continue to be included?!

As for the k8s.io failures, that is fixed in https://github.com/containers/image/pull/223 . Perhaps we should just merge that, test failures or not, so that consumers of containers/image have

[2017-01-27 20:06] whatdhack commented on #341
Seems to be working with opencontainers/runc@47ea5c7  .  Although I am not sure I understand why those directories were not created with the latest runc.  At first brush it  looks like ocid creating those directories should have nothing to do with  whether there is a valid runc or not  .  Would certainly like to understand that a bit more .  Any pointer would be appreciated .

[2017-01-27 20:08] whatdhack opened #344 "Where do I find any instruction on how do use cri-o with kubernetes ?"
I could not find any instruction on how to run kubernetes with cri-o .  Would appreciate any pointer.

[2017-01-27 22:07] runcom commented on #344
Right now, I'm testing kubernetes and CRI-O with the following:
[code]
That's basically running kubernetes locally. Note, you have to start `ocid` before bring up kubernetes!

I guess we need to add this information to the README.

[2017-01-28 10:53] rhatdan commented on #344
Should we add a unit file to ocid to configure kubernetes to run with ocid.  Take kubernetes systemd unit file in Fedora 26 and modify it to run with ocid rather then docker.

Can we override it by dropping a file in /etc/systemd/system/kubernetes.d/ocid.service.

[2017-01-28 12:32] runcom commented on #343
For the record containers/image vendoring should be fixed now. If you guys could retry that would be great.

[2017-01-29 20:14] runcom opened #346 "support multiple runtimes"
Placeholder till upstream https://github.com/kubernetes/kubernetes/pull/40662#event-940637569 is figured out. I'll be working on this.

[2017-01-30 08:36] cyphar commented on #344
Maybe, but not all distributions have the same Kubernetes setup. I'd prefer to have some solid docs in `README` which say exactly what flags and switches you need for the `kubelet` in order for it to use `ocid` (as well as whatever other parts of Kubernetes need to be modified).

[2017-01-30 16:19] runcom commented on #343
testing this right now, I can see the vendoring script is removing lots of stuff (bumping containers/image to latest master) :confused:

[2017-01-30 16:22] runcom commented on #343
@mrunalp @cyphar @jawnsy could you also chime in here?

[2017-01-30 18:22] mrunalp commented on #346
As upstream pointed out, networking maybe tricky here. @sameo do you know if we can have a clearcontainer and runc pod using the same CNI plugin be able to reach each other?

[2017-01-30 18:42] jawnsy commented on #343
Whoops, I think this is my fault, more fallout due to #320. Please assign this to me.

I didn't realize that our vendor script tries to use vendor/ as a GOPATH, but this no longer works because my change removes `src` and moves everything to the top-level `vendor` directory.

This is visible if you add `set -x` to vendor.sh:

[code]

[2017-01-30 19:19] sameo commented on #346
@mrunalp I can't speak for other hypervisor based runtimes, but with the default CNI plugins a runc pod and a Clear Containers one would be able to reach each others.
In that regard CNI is actually a lot saner than e.g. CNM because it returns a complete netns configuration and it's up to the runtime implementation to bridge it transparently to whatever networking model it uses. With Clear Containe

[2017-01-30 20:02] mrunalp commented on #346
@sameo Nice :) That will surely help with mixed runtimes!

[2017-01-30 20:21] rhatdan commented on #346
Sounds good, but most workloads probably do not have to communicate.  Looking to use kvm containers for running untrusted commands like users builds.

[2017-01-31 11:07] runcom opened #347 "bump c/image, c/storage, image-spec"
Just a placeholder issue since we changed a lot in there and CRI-O needs to pick up those changes, above all:

https://github.com/opencontainers/image-spec/pull/544
https://github.com/containers/image/pull/232

and many more.

[2017-01-31 15:36] feiskyer commented on #346
We could support runtime choosing by pod annotations, e.g. `runtime.ocid.kubernetes.io=runc|clearcontainer|runv`. And networking should be ok for those runtimes for bridge cni network plugin.

Some potential problems:

- hypervisor based runtimes do not support host-networking
- hypervisor based runtimes may not support all cni plugins

I think ocid should report an error on such cases.

[2017-01-31 15:39] feiskyer commented on #344
@runcom It's better to include this in README.

[2017-01-31 15:52] Bregor commented on #344
Is there possibility to do it without `kube-up`?
Args for `kubelet`, etc?

[2017-01-31 15:56] cyphar commented on #344
@Bregor Yes, but it's a bit of a pain at the moment with the `kubelet` switches which is why I said above that we need to also document the `kubelet` switches necessary (so you don't have to do kube-up).

From a quick look at the man page this is what appears to be necessary:
[code]

Though you might need to also set `--container-runtime` to a different value (though the man page appears to indica

[2017-01-31 15:59] runcom commented on #344
yes, it's `--container-runtime=remote` - you can follow what `./hack/local-up-cluster.sh` is doing when preparing `kubelet` args using my original comment https://github.com/kubernetes-incubator/cri-o/issues/344#issuecomment-275788358

[2017-01-31 16:13] Bregor commented on #344
@cyphar, @runcom thank you, I will try

[2017-01-31 16:22] jjlakis commented on #344
I am running cri-o on the k8s **cluster**, but I started with docker cluster and switched runtime to cri-o on each node. If you would like to include it as part of README, I can do it.

[2017-01-31 16:23] runcom commented on #344
thanks @jjlakis feel free to make a PR if you want!

[2017-01-31 17:16] runcom opened #349 "storage: pull image and save by-digest"
if we pull an image right now, we create an image ID and **tags** for it (as shown by `ocic image list`). Kubernetes might want to reference images by digest as well (from tests also). Moreover, docker already store an image by-digest by default when pulling an image by tag. containers/storage should behave the same as in if asked to pull an image by tag, it also stores the digest which will be la

[2017-01-31 20:13] mrunalp opened #351 "Failing image tests"
I am seeing image tests failing localintegration locally on rawhide:
[code]

[2017-01-31 20:13] mrunalp commented on #351
@nalind could you take a look? Thanks!

[2017-01-31 22:06] nalind commented on #351
It looks like we're tripping up in the storage transport's ReapplyBlob() method.  Most likely it's differences between versions of `compress/gzip` breaking attempts to extract a layer (in this case, an empty layer) from the destination in order to reapply it instead of downloading the layer from the registry again.  In this case it's probably safe to skip that check, since we know where the data i

[2017-02-01 23:55] mrunalp commented on #343
@mzylowski Could you take a look at #352?

[2017-02-02 17:32] #343 closed

[2017-02-02 20:18] #351 closed

[2017-02-02 22:00] runcom commented on #347
anyone want to take a stab at this? :angel: @jawnsy maybe? :smile:

[2017-02-02 22:38] jawnsy commented on #347
Sure, can give this a try. Just a matter of updating dependencies & running `dep`, right? And re-testing, of course

[2017-02-02 22:38] runcom commented on #347
yup!

[2017-02-02 23:39] mrunalp commented on #349
:+1:

[2017-02-03 19:12] mrunalp opened #354 "test failure: restart ocid and still get pod status"
[code]

[2017-02-03 19:12] mrunalp commented on #354
@nalind I am seeing this after updating to latest containers/image. Most other tests are passing for me now.
[code]

[2017-02-03 21:21] nalind commented on #354
The "Failed to read..." message is expected when adding a device.  It's confusing, but it is expected.

[2017-02-03 22:26] nalind commented on #354
Likely unrelated, but given that https://github.com/opencontainers/runc/blob/master/libcontainer/label/label_selinux.go#L48 checks if `con[0]` is set to `label`, should that be one of the values listed in https://github.com/opencontainers/runc/blob/master/libcontainer/label/label_selinux.go#L13?  I've gotten at least one error message about this, though it may not be the same problem that you're s

[2017-02-04 01:20] fntlnz opened #357 "Specify glibc-static as build requirement"
While trying to familiarize with this project I noted that the [pause Makefile](https://github.com/kubernetes-incubator/cri-o/blob/1313f0dd720fcc362192515fe31d311450026477/pause/Makefile) builds wants to do static builds, and since it makes use of glibc, there should be specified `glibc-static` as dependency.

I'm opening this issue just to suggest to align the `Build` section in the Readme in ord

[2017-02-04 02:08] fntlnz commented on #288
What kind of events would you like to track?

Talking about the audit subsystem, I think that a pointer could be interesting to track all the endpoints in `server/` with request/response information, wdyt?

[2017-02-04 11:32] rhatdan commented on #354
@nalind label_selinux code you refereced is looking at `level` and `user`, not label?

[2017-02-04 14:06] #357 closed

[2017-02-06 07:00] gouyang commented on #287
The issue can be reproduced by running two ocid process on the latest branch.

Steps:
1. Start ocid by systemd, # systemctl start ocid
2. Run ocid in terminal, # ocid --debug
3. Run ocic will hit the issue.

[2017-02-06 07:24] gouyang opened #359 "failed to find container exit file"
The container is created and start successfully. After it I run `ocid` in the terminal occasionally, there is grpc crashed issue if doing so, see #287. So I restart the ocid by `systemctl restart ocid`.

`ocic pod list` is fine, but `ocic ctr list` failed with below errors.

[code]

[2017-02-06 16:08] nalind commented on #354
@dwalsh Hmm, you're right.  I must have hallucinated that.

[2017-02-07 07:37] mzylowski commented on #339
After #342 this can be closed.

[2017-02-07 08:55] #339 closed

[2017-02-07 16:46] nalind commented on #354
Ah, turns out I was hitting https://github.com/opencontainers/runc/pull/1312.  @mrunalp the log ends when the daemon is shut down, and there's nothing from the second copy that's started, which is where I ran into the problem in `runc`.  Was there more to the log after that?

[2017-02-08 12:24] jjlakis opened #361 "CreateContainer: invalid checksum digest format"
To reproduce:
1. Start latest `ocid` locally
2.  Ensure you **don't have** `redis` image pulled:
[code]
3. Run sandbox using test config:
[code]
4. Try to run `redis` container using test config:
[code]

What I see:
[code]

What is expected:
Container created successfully and image is pulled.

If image is pulled before - container is starting and everything is fine. I'm not sure we want user to pu

[2017-02-08 12:33] runcom commented on #361
That's how the CRI behaves I guess, as in, it first call `PullImage` and only after that it can start the container.

[2017-02-08 12:37] jjlakis commented on #361
At least kubelet is doing this, looking for ImageList first. So, IMO we should return error  like "you have to pull the image first" instead of this random message.

[2017-02-08 12:40] runcom commented on #361
:+1: right

[2017-02-08 14:00] runcom commented on #361
@nalind could you take a look at this?

[2017-02-08 16:36] #361 closed

[2017-02-08 17:56] mrunalp commented on #354
This was fixed by #360

[2017-02-08 17:56] #354 closed

[2017-02-13 13:35] jjlakis commented on #346
+1 for choosing by pod annotations. BTW. It seems to be a good place to mention, that there's a solution to run different runtimes (by different I mean runtimes with different "shims", for example, docker and runc+cor) on single node - https://github.com/Mirantis/virtlet/blob/master/docs/criproxy.md

[2017-02-14 09:59] cyphar commented on #346
One thing that needs to be considered (especially for projects like Atomic, Kubic and CoreOS) is that an upgrade from one cluster type to another needs to be handled in a fairly smooth way. It looks like the upstream PR was closed, but I would like to know what the intended upgrade process would be.

For Kubic/CaaSP, we would try to drain each node (still running on Docker) and then reboot into us

[2017-02-14 14:22] feiskyer commented on #346
Why couldn't upgrade by drain? Annotations are part of pod spec, it doesn't change because of restarting or recreating.

[2017-02-14 16:21] cyphar commented on #346
@feiskyer Sorry, you currently could update by drain, but if we start making it so that you have annotations set on Pods to specify what runtime to use then I'm wondering what the upgrade process is going to be (can you gradually change annotations of a set of Pods under a replication controller or similar?).

[2017-02-16 14:28] runcom commented on #297
are `mio` and `tokio` going to support async file I/O though? I know libuv does but I cannot find any library for rust which does file I/O :confused:

[2017-02-16 14:43] cyphar commented on #297
I've been looking into `libuv`. It looks quite good (and I've interacted with it a bit while hacking on NeoVim), though I'm still wondering how we're going to implement the API for the streaming server. But that will also be an issue for Rust as well.

[2017-02-16 14:51] xlgao-zju commented on #296
We have https://github.com/kubernetes-incubator/cri-tools now :)

[2017-02-17 07:34] sameo commented on #346
@feiskyer

    hypervisor based runtimes do not support host-networking

With k8s running some of its components (e.g. kube-proxy) as privileged containers with host networking access, how do you guys plan to support that with runV ?

[2017-02-17 13:15] feiskyer commented on #346
@cyphar I mean set the annotations on pod template in the rc spec, so each pod created by rc will carry the annotation.

runV doesn't support host networking, that why we need multiple runtimes, e.g. switch to runc for host-networking pods.

[2017-02-17 14:04] cyphar commented on #346
@feiskyer

Yeah, I thought so. So we need to be careful with making it impossible for people to switch a cluster to a different runtime without rewriting all of their RC templates (and then doing a blue-green two switch RCs).

[2017-02-17 15:30] cyphar commented on #303
Closing.

[2017-02-17 15:30] #303 closed

[2017-02-22 08:52] vbmade2000 opened #369 "Error in make on RHEL7"
I am facing below error while executing "make" on my RHEL7 system. I am following tutorial given in README.md file.

[mvora@macsystem cri-o]$ make
go build -o ocid \
	-tags "selinux seccomp  libdm_no_deferred_remove" \
	github.com/kubernetes-incubator/cri-o/cmd/ocid
 github.com/kubernetes-incubator/cri-o/vendor/github.com/containers/storage/pkg/devicemapper
/usr/bin/ld: cannot find -ldevmapper
col

[2017-02-22 08:56] runcom commented on #369
did you installed all packages listed here? https://github.com/kubernetes-incubator/cri-o#build

[2017-02-22 14:51] vbmade2000 commented on #369
Yes I did. Most of the packages I found from some other sites as they were not available in repo.
Regarding libseccomp it is raising error about, following is an output of "yum list installed" command.

[mvora@macsystem cri-o]$ yum list installed | grep "libseccomp"
libseccomp.x86_64                    2.3.1-2.el7             @rhel-7-server-rpms
libseccomp-devel.i686                2.3.1-2.el7

[2017-02-22 15:40] rhatdan commented on #369
libseccomp-devel?

[2017-02-22 17:12] vbmade2000 commented on #369
In order to enable seccomp support as per README.md

[2017-02-22 17:22] jawnsy commented on #369
@vbmade2000 I wouldn't recommend installing CentOS packages on RHEL (or vice versa), as packages are only built/tested with other packages from the same distro. What version of RHEL are you running? I tested with 7.4 Beta (Maipo) and the only problem I ran into was an old runc version, which has been fixed recently.

[2017-02-22 17:24] jawnsy commented on #369
Try running: `pkg-config libseccomp --libs`, you should see `-lseccomp` (if you see "No package found" then the .pc file hasn't been installed correctly)

[2017-02-22 20:16] mrunalp opened #370 "Logo for cri-o"
We should have a logo for cri-o :)

[2017-02-22 20:24] mairin commented on #370
I did a logo design, you can feel free to use it:

![cri-o](https://cloud.githubusercontent.com/assets/799683/23230497/34d275f8-f912-11e6-98dd-7e818c2fe5d0.png)

Here's the SVG source (wrapped in a zip, sorry! Github won't support SVG)
[cri-o_logo_SVG.zip](https://github.com/kubernetes-incubator/cri-o/files/794704/cri-o_logo_SVG.zip)

I did a little blog write up of the idea behind it here:
http:/

[2017-02-23 04:10] cyphar commented on #370
@mairin What license is the logo under [preferably CC-BY 4.0]?

[2017-02-23 06:41] gouyang commented on #369
@vbmade2000 I could make ocid binaries on RHEL7 after installing the dependencies, so it should not be the ocid problem.

[2017-02-23 06:43] gouyang opened #372 "How to pull image behind proxy"
My server could not reach gcr.io, how to configure proxy to pull images?

[2017-02-23 13:41] mairin commented on #370
@cyphar So here's the thing with logos and licensing - you really don't want to use an open license like CC for a logo, because you then wouldn't be able to reinforce a trademark on it. If your project has a contributor agreement or copyright assignment kind of policy / document, I'm happy to sign it, otherwise you can consider this comment to grant the cri-o project an unlimited use license to us

[2017-02-23 13:42] mairin commented on #370
(Also of note, the font used is Montserrat, an Open Font License font. Just good to know; shouldn't have any bearing on the licensing of the mark itself.)

[2017-02-24 18:35] jawnsy commented on #370
@mairin Sounds like the logo has been really well-received by the community, so I think we should move toward adding it to the repository. Could you open a PR to add these to the repository? The PR could include creating a PNG version of the top logo (since it has a white background) and incorporating it in the README.md.

You will need to sign the CNCF CLA if you haven't already: https://github.c

[2017-02-25 00:12] mrunalp commented on #372
@nalind @runcom could you help with this question?

[2017-02-25 00:34] runcom commented on #372
containers/image is reading environment variables for proxies (as Docker does). You should be able to set HTTP_PROXY and the like accordingly and cri-o should pull images just fine.

[2017-02-27 10:22] cyphar commented on #370
@mairin Our CLA is not a copyright assignment, but it does give the CNCF rights similar to Apache (from my reading). So it should be sufficient.

[2017-02-27 15:31] vbmade2000 commented on #369
I am setting up on Fedora now instead of RHEL. We can close this issue.

[2017-02-27 16:55] #330 closed

[2017-02-28 10:15] vbmade2000 opened #375 "Can I use minikube instead of using local-up-cluster.sh ?"
I was not able to setup Kubernetes using local-up-cluster.sh. Can I use minikube to setup local cluster ?

[2017-02-28 11:09] runcom commented on #375
I never tested that, would be nice to find out.

[2017-02-28 11:15] vbmade2000 commented on #375
Sure. I would try that.

[2017-02-28 15:27] mairin commented on #370
Hey I signed the CNCF CLA; I may be making mods to the logo though so not going to do the PR request just yet. (Have gotten negative feedback about the fact it's a snowflake, e.g. https://www.sumologic.com/blog-devops/snowflake-configurations-and-devops-automation/ )

[2017-02-28 17:54] jawnsy commented on #370
I'm familiar with that connotation of snowflakes, but personally I think the snowflake logo is fine. Maybe we could hold a community vote to figure out what people like the best?

IMO, I love the current logo and think we should just merge it, even if we're working on improving it later. It's not being etched in stone, and the project is still alpha anyway, so I don't think there's any reason not

[2017-02-28 21:34] mzylowski commented on #375
What problem you find with local-up-cluster.sh ? Can you elaborate?

[2017-02-28 21:44] mairin commented on #370
Ok cool! Will file a PR shortly then while thinking about potential alternatives in the meanwhile.

[2017-02-28 22:12] mairin commented on #370
see https://github.com/kubernetes-incubator/cri-o/pull/376

[2017-02-28 22:43] mrunalp opened #377 "Add optional journal logging option"
We need to add a journald option to conmon similar to the docker journald plugin. journald provides the following features that are useful in production:

- rate limiting
- log rotation
- systemd tooling integration

[2017-03-01 02:54] cyphar commented on #377
:/ It begins. Is there no way we can do it without adding logging plugins to `conmon`?

[2017-03-01 04:23] vbmade2000 commented on #375
@mzylowski Sure. Following is a trace.
[vbmade2000@localhost hack]$ ./local-up-cluster.sh
WARNING : This script MAY be run as root for docker socket / iptables functionality; if failures occur, retry as root.
make: Entering directory '/home/vbmade2000/Documents/Projects/src/k8s.io/kubernetes'
make[1]: Entering directory '/home/vbmade2000/Documents/Projects/src/k8s.io/kubernetes'
+++ [0228 02:34:27

[2017-03-01 04:28] jawnsy commented on #375
Are you using the golang package from Fedora? Or else where did your package come from? I ask because of these messages:

[code]

Things seem to fall back to using `go build`, though it notes that it's slower (versus `go install`, which caches compiled packages for subsequent builds):

[code]

 I can only guess that `signal: killed` means that the build ran out of memory - how much memory do you h

[2017-03-01 04:46] vbmade2000 commented on #375
@jawnsy yes I have installed golang package from fedora. I am using fedora now. I use 2 GB memory with 2 processor core for VM.

[2017-03-01 04:58] jawnsy commented on #375
Are you running rawhide or the latest stable? If on rawhide, can you try running this command: `GOPATH="" go list -f '{{ if .Stale }} {{ .ImportPath }} {{ .StaleReason }} {{ end }}' ...` (the "..." is necessary too)

If you see output saying "build ID mismatch", then try installing `golang-tests` (it was a packaging issue, which has probably been resolved by now)

You will need more memory for `go

[2017-03-01 05:30] vbmade2000 commented on #375
I use Fedora 25. Following is an output.

[code]

[2017-03-01 05:30] vbmade2000 commented on #375
Yes I can try increasing memory up to 4 GB. Let me try that after increasing memory.

[2017-03-01 06:00] jawnsy commented on #375
OK, that's good. Blank means that the package cache is correct. I don't know if there's other dependencies that need to be installed for `cgo` (I currently build origin/kubernetes on separate systems from cri-o). Hopefully more memory and/or reducing build jobs resolves the issue.

[2017-03-01 07:51] vbmade2000 commented on #375
Yes hope so. I would try with minikiube otherwise. I think there should be a separate script which can build development environment for this project :)

[2017-03-01 08:04] feiskyer commented on #375
https://github.com/kubernetes/kubernetes/pull/38975 is adding `make test-e2e-minikube`, but I don't think it will include cri-o inside.

[2017-03-01 09:46] cyphar commented on #370
I like the snowflake (I think trying to make a logo around cryogenics is going to be a bit difficult). The only complaint I have is that it's a bit odd to have two _slightly different_ shades of blue in the snowflake (especially since it's replicated but the colour applies to less than half of each shard).

But as @jawnsy said these are all just details and we should merge the current logo and wor

[2017-03-01 18:04] mairin commented on #370
Hey @cyphar each snowflake should only have one shade of blue; I changed the shade slightly on one of the versions of the snowflake (I think the gradient one) so it would read better against that particular gradient (is that what you meant?)

[2017-03-02 04:29] vbmade2000 commented on #375
@jawnsy Looks like increasing memory worked. Following is an output.
[code]

Still it is not able to find cfssl and cfssljson binaries while both are available on $PATH.

[code]

[2017-03-02 15:29] jawnsy commented on #375
@vbmade2000 Woohoo! Progress! I have no idea what the `cfssl` problem could be, though :/

[2017-03-03 05:00] vbmade2000 commented on #375
@jawnsy yeah :)
cfssl is some library from cloudflare for PKI.

[2017-03-03 05:02] jawnsy commented on #375
Oh, wait, I just noticed you're running local-up-cluster with sudo but you checked cfssl as your normal user. Can you try `sudo -E` (to preserve your PATH) or sudo go get cfssl?

[2017-03-03 06:28] vbmade2000 commented on #375
Tried both approach you suggested but none of them worked.
Removed cfssl check and started api server with secure-port=0 option. Looks like it is running. Working on CNI now :)

[2017-03-03 08:17] vbmade2000 commented on #375
Failing to run OCID. Following is a trace.

[code]

[2017-03-03 09:58] vbmade2000 opened #382 "Are EnvironmentFiles for ocid.service missing ?"
Are there any EnvironmentFile included for ocid.service ?

[2017-03-04 17:31] mrunalp commented on #375
@vbmade2000 Can you try running it manually with `ocid --debug` ?

[2017-03-05 16:39] vbmade2000 commented on #375
@mrunalp Here is the output of ocid --debug

[code]

It is not able to find zfs command executable. Can it be the reason ?

[2017-03-13 16:21] inercia opened #386 "Build broken because of some vendors missing"
The build seems to be broken in some situations where some dependencies are outdated. This could be fixed by vendoring these dependencies.

I was getting these errors when trying to build cri-o:

[code]

Then I fixed it with:

[code]

[2017-03-13 17:11] mrunalp commented on #386
@inercia I just built master in a new go root and it builds fine for me.

[code]

[2017-03-13 17:27] inercia commented on #386
@mrunalp That's because you have a recent version of `github.com/containers/image`. Maybe I should have used a different title for this issue, but I mean that the build if broken if you do not have _the right version_ of `github.com/containers/image` in your `GOPATH`.

[2017-03-13 17:29] mrunalp commented on #386
@inercia My $GOPATH doesn't have anything besides the cri-o repo. It is only using the vendored dependencies.

[code]

[2017-03-13 17:44] jawnsy commented on #386
@inercia What version of Go are you building with? Just want to make sure it supports vendoring (1.6 or later). It should search for packages in our `vendor/` directory before searching the `GOPATH`

[2017-03-13 21:44] rhatdan opened #388 "systemctl ocid restart causes pods to get screwed up."
[code]

At this point I have not figured how to cleanup.

[2017-03-13 21:45] rhatdan commented on #388
# runc delete redhat.test.ocid-podsandbox2-2-infra
# runc list
ID          PID         STATUS      BUNDLE      CREATED

# POD_ID=$(sudo ocic pod run --config test/testdata/sandbox_config2.json)
Creating the pod sandbox failed: rpc error: code = 2 desc = pod sandbox with name "redhat.test.ocid-podsandbox2-2" already exists

[2017-03-13 21:47] rhatdan commented on #388
Overlay mounts seem to be left behind also

[code]

[2017-03-13 21:47] rhatdan commented on #388
@nalind ptal

[2017-03-13 21:48] rhatdan commented on #388
[code]

[2017-03-14 10:52] inercia commented on #386
@mrunalp It is strange but, if I remove `containers/image` from my `GOPATH`, things get worse:

[code]

And it is fixed again if I `git clone github.com/containers/image` in my `GOPATH`, and my Go compiler supports vendoring by default:

[code]

It is strange because I have the `vendor/github.com/containers/image` in the `cri-o` repo...

Anyway, I'm closing this issue, because maybe this is not re

[2017-03-14 10:52] #386 closed

[2017-03-16 21:37] rhatdan opened #393 "Do we really still care about golang 1.6 tests?"
Would eliminating 1.6 tests speed up testing?

[2017-03-16 22:52] jawnsy commented on #393
Tests run in parallel, so I don't think they cost much, but if we're OK dropping support for 1.6 then I'm in favor of eliminating tests on it. I think everything actually runs inside Docker (e.g. `make integration` does `docker build -t ocid_dev:HEAD .`) which is `FROM golang:1.7` so we're not actually getting better test coverage.

cc @mrunalp @sameo @runcom @cyphar @nalind

[2017-03-17 13:38] nalind commented on #393
Upstream, we probably don't need to care about 1.6.
At the moment, 1.6 is the latest version of golang that we have on RHEL 7, so with my downstream hat on I'm still interested in making sure that we can build using 1.6.

[2017-03-20 09:55] runcom commented on #393
I'm ok keeping 1.6 as long as RHEL builds with 1.6 (and drop it once we rebase to 1.7)

[2017-03-20 11:46] sameo opened #395 "image: Image config is empty for gcr.io/google_containers/pause-amd64"
When running `kubeadm` 1.7 on top of CRI-O, as a test for kubeadm tries to start a `dummy` pod where the pod is made of one single container. The latter is suppose to run the `gcr.io/google_containers/pause-amd64:3.0` image which happens to be a pause one:

[code]

Unfortunately, `pkg/storage/runtime:createContainerOrPodSandbox()` gets an empty blob for that image. When adding some debug to [creat

[2017-03-20 11:47] sameo commented on #395
cc @nalind @mrunalp

[2017-03-20 11:52] runcom commented on #395
@sameo am I doing something dumb or the image isn't available?
[code]

[2017-03-20 12:48] sameo commented on #395
@runcom the dummy template actually requests 3.0 version of the pause container.

[code]

[2017-03-20 12:54] sameo commented on #395
@nalind @runcom I also get an empty image config with ocid from the `quay.io/coreos/flannel:v0.7.0-amd64`.
FWIW, I'm using flannel as the networking add-on for k8s.

[2017-03-20 12:55] runcom commented on #395
I think it's a bug in containers/image - I'm looking into it and can reproduce also

[2017-03-20 13:01] runcom commented on #395
So, here is the thing, for docker manifests schema 2 version 1 we do not have a "blob" for the configuration. The configuration is embedded in the manifest directly under `history[0].v1Compatibility`. I'll work with @mtrmac to see if we can do something to expose that.

[2017-03-20 15:53] #208 closed

[2017-03-23 06:19] nikinath commented on #375
I faced a similar problem and was able to solve it by placing $GOPATH in root path (not the ideal case, I agree). Please see if this could help you: https://github.com/kubernetes/kubernetes/issues/3184#issuecomment-285935360

[2017-03-24 14:07] sameo opened #402 "Sandbox resolv.conf is not copied into the sandbox containers"
The sandbox container DNS config is translated into an `/etc/resolv.conf` mount point for the pod sandbox. This should be propagated to pod containers for their resolver and pod's internal DNS to work properly.

[2017-03-24 14:18] sameo opened #403 "Image status is requested with the wrong image name"
When launching a k8s pod with the docker hub `sameo/nginx-kubecon` image:

[code]
(Note we're asking for a tagged image, not a `latest` one)

 `ocid` initially pulls and stores the image as expected:

[code]

When launching a subsequent pod with the same image, `ocid` pulls the image again. After adding some debug in `vendor/github.com/containers/storage/storage/images.go` for dumping the images m

[2017-03-24 14:18] sameo commented on #403
cc @nalind

[2017-03-24 14:40] mrunalp commented on #403
cc: @runcom

[2017-03-24 15:23] runcom commented on #403
Yup I remember this issue! @nalind any idea what's happening here?

[2017-03-24 15:44] nalind commented on #403
It looks like we're losing the `1.0` tag and adding `latest` by mistake.  My current guess is that https://github.com/nalind/cri-o/commit/e7c0e23e40098a79f822589dbed372ba58ac35cf will fix it, but I'm not completely clear on whether or not we're expected to add the `latest` tag to an image if it's not what we pulled.

[2017-03-24 15:48] #402 closed

[2017-03-24 15:51] mrunalp commented on #403
@nalind I would think that we only add latest if someone asks for it. In case of latest, k8s would ask us to repull each time anyways, so it doesn't matter as much.

[2017-03-24 18:16] #403 closed

[2017-03-25 01:11] mrunalp opened #407 "s.Update race"
We have a race condition in server Update() call that is easy to reproduce when running e2e tests.

[2017-03-27 16:24] runcom commented on #407
We have those calls to prevent any unwanted state with other parties playing around with containers storage. Ideally, we could have a knob in ocid to have it started _standalone_ and not worry about external state changing (most k8s setup) would do this, and a _non-standalone_ mode where we could reload state at each server op. @mrunalp @nalind wdyt?

[2017-03-27 16:25] runcom commented on #388
ping @nalind

[2017-03-27 16:27] runcom commented on #377
well, we could just go and implement everything in conmon of couse ha - or just take advantage of what distros (like RH, SUSE) offer when it comes to logging and all the heavy stuff that comes with it.
@cyphar something like this would probably be needed anyway, I believe @mrunalp added it just for tracking purpose, nothing actionable immediately till we pass k8s tests.

[2017-03-27 16:28] runcom commented on #372
closing this as I replied above - feel free to comment if it's not working for you

[2017-03-27 16:28] #372 closed

[2017-03-27 16:28] runcom commented on #370
we do have it now no? :smile:

[2017-03-27 16:28] #370 closed

[2017-03-27 16:30] runcom commented on #347
we're pretty ok with this at this point I guess.

[2017-03-27 16:30] #347 closed

[2017-03-27 16:31] runcom commented on #349
this should be fixed the same way as https://github.com/kubernetes-incubator/cri-o/pull/405/files#r107940633 if I'm not wrong, @nalind ?

[2017-03-27 16:33] runcom commented on #344
fixed by #353

[2017-03-27 16:33] #344 closed

[2017-03-27 16:36] nalind commented on #349
Yes, I think that's the general idea.  I haven't started working on any patches for it, though.

[2017-03-27 16:40] nalind commented on #388
I thought we'd chased this down to having incompatible versions of runc and ocid, breaking the ability to read the status of containers.  @rhatdan are you still seeing this happen?

[2017-03-27 16:41] rhatdan commented on #388
Yes this was a mismatch of runc

[2017-03-27 16:41] #388 closed

[2017-03-27 18:00] sameo commented on #407
@runcom If we fix the race, we may not need those 2 modes and could keep the code simpler.

[2017-03-27 18:00] runcom commented on #407
@sameo yeah, I discussed that with @mrunalp as well, so either locking or a new mode works for me

[2017-03-27 21:22] mrunalp opened #411 "Missing ENV variables from the image config in the runc config.json"
While testing with httpd (https://github.com/docker-library/httpd/blob/b95f1aba991d613f971fe8c66dc23fb4d8f3e9a7/2.4/alpine/Dockerfile), I noticed that we don't set the ENV variables set in the image config.

@nalind @runcom

[2017-03-27 21:23] mrunalp commented on #411
Ditto for working directory.

[2017-03-28 15:04] mrunalp opened #413 "Additional gids not set when kubelet doesn't pass uid/username"
One can see this trying to launch httpd (that is based on alpine). We need to default to image config user and parse /etc/group to set the additional groups.

[2017-03-28 15:04] mrunalp commented on #413
I'll work on a fix for this.

[2017-03-29 23:09] mrunalp opened #419 "container hostname isn't set correctly"
The hostname for the containers should be the same as the pod hostname.

[2017-03-30 07:43] surajssd opened #421 "cannot create sandbox, rpc error"
[code]

daemon itself threw these errors:

[code]

these are the logs of `ocid` daemon

[code]

[2017-03-30 07:46] surajssd commented on #421
Please let me know if any other info is needed.

Used following steps to do the setup

---

Installing dependencies

[code]

creating go environment

[code]

pull all the dependencies

[code]

install runc

[code]

build crio

[code]

set up cni

[code]

create `policy.json`

[code]

start ocid service

[code]

[2017-03-30 18:39] mrunalp commented on #421
@surajssd Build runc from source and use this commit `47ea5c75ebeb40a317d2cfa95f9c3536c00c1eea`

[2017-03-31 07:47] #413 closed

[2017-03-31 14:35] #419 closed

[2017-04-01 08:47] runcom commented on #349
while testing this, I found out c/image can't parse digested images at all:
[code]
I have a fix on the way there

[2017-04-01 09:30] runcom commented on #349
@nalind save by digest is broken in CRI-O because (to my testing) `ParseStoreReference` deals with `@` sign and digested references also deal with that, resulting in all various errors about pulling images by digest. Could you take a look at this?

[2017-04-01 09:33] runcom commented on #349
@nalind for more info, you can try running

[code]
The patch I'm using to trigger the error is above. Basically the first change is needed to be able to still inspect digested images (otherwise it'll fail). The last change I did, following what has been done for #405, totally breaks image pulling by digest.
[code]

[2017-04-01 11:10] rangapv commented on #326
jawnsy thanks!

[2017-04-01 12:43] surajssd commented on #421
@mrunalp still same error

built from source but the error still persists.

my runc env:

[code]

Installed as:

[code]

again while running

[code]

daemon errors:

[code]

daemons logs

[code]

[2017-04-01 13:17] surajssd commented on #421
And it's not SELinux issue!

[2017-04-01 14:08] runcom commented on #395
as an update, I've finally found the time to tackle part of this in c/image at https://github.com/containers/image/pull/259 - afterwards we need to fix https://github.com/kubernetes-incubator/cri-o/blob/master/pkg/storage/runtime.go#L213-L225, I'll take care of that once c/image is fixed.

[2017-04-04 10:37] runcom commented on #411
closed by https://github.com/kubernetes-incubator/cri-o/pull/412

[2017-04-04 10:37] #411 closed

[2017-04-04 10:39] runcom commented on #296
closing in favor of kubernetes-incubator/cri-tools

[2017-04-04 10:39] #296 closed

[2017-04-04 18:51] #24 closed

[2017-04-04 21:12] mheon opened #426 "Dockerized integration tests broken on Fedora 25"
The `make integration` test suite fails to run on Fedora 25 (fully updated) with the following error:

[code]

The same tests work fine on Debian stable, and running the local integration tests (`make localintegration`) on Fedora (assuming the right dependencies are present) also works fine.

I'm using the standard Fedora `docker` package (currently `docker-1.12.6-6.gitae7d637.fc25.x86_64`) with t

[2017-04-04 21:23] #407 closed

[2017-04-04 21:25] runcom commented on #426
It happened to me as well, try cleaning up everything and re run, that worked for me last time (even if i understand this is not a solution to the issue)

[2017-04-04 21:39] mheon commented on #426
@runcom Looks like removing /var/lib/docker is enough to make it happy for one run of the tests (removing all images is probably also sufficient, but I haven't tested that yet). I will submit that requiring this for every run of the tests is more than a little inconvenient, though.

[2017-04-04 21:49] #395 closed

[2017-04-04 22:21] runcom commented on #426
I agree that isn't a solution to this issue. But I have no clue right now about what's happening there honestly.

[2017-04-05 23:02] mrunalp opened #429 "Line endings not accounted for in logging"
Reported by @runcom during testing (it was a TODO in conmon ;) )

envar-demo.yaml
[code]
Only one line is printed from output of env.
[code]

[2017-04-06 08:59] surajssd commented on #421
This works with the runc built at `47ea5c75ebeb40a317d2cfa95f9c3536c00c1eea`

Thanks @mrunalp the thing I missed was the `runc` on latest is installed at `/usr/local/bin/runc` and on this particular commit it is installed at `/usr/local/sbin/runc` and when I tried last time I was using the runc built on latest and did not even realize that because install locations are different.

Closing in favou

[2017-04-06 09:00] #421 closed

[2017-04-06 09:11] surajssd opened #431 "ocid logs showing unicode character than pid"
$subject, it should have printed value `16226` but it printed `'㽢'`.

In the ocid logs below checkout line which is:
[code]

ocid logs:
[code]

[2017-04-06 14:48] jawnsy commented on #431
I'm guessing it's because we're using %q to print an int, and it should be %d? I'm surprised that %q doesn't work for int though.

https://github.com/kubernetes-incubator/cri-o/blob/7f660a2060b257562af7dfdf4acdfd1df745214d/oci/oci.go#L182

[2017-04-06 15:59] surajssd commented on #431
Sure

[2017-04-06 16:49] #431 closed

[2017-04-07 20:11] mrunalp opened #438 "Failure during kill pod"
I saw this while testing with k8s today. I don't have a way to reproduce this yet.
[code]

[2017-04-09 13:42] surajssd opened #439 "any pod id can be given to delete the pod"
I am giving random id of pod to delete and it is taken as valid input it seems, is this a valid behavior?

[code]

[2017-04-09 16:45] runcom commented on #439
Yup, the remove call (among others) is idempotent https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L36

[2017-04-09 16:45] #439 closed

[2017-04-09 16:45] runcom commented on #439
But maybe k8s should document that a non existing pod behaves the same mmm

[2017-04-10 06:24] surajssd commented on #439
@runcom thanks for making that clear :+1:

[2017-04-10 18:37] mrunalp opened #441 "k8s node-e2e tests [120/121]"
[code]

[2017-04-10 18:37] mrunalp commented on #441
With #440 we fixed one of these, so only 11 remaining after #436 is merged.

[2017-04-10 18:49] mrunalp commented on #441
A few of these are because we don't separate stderr/stdout. We can get that fixed after merging #436

[2017-04-10 19:02] cyphar commented on #441
I presume the `stderr/stdout` split is for `terminal=false` containers? I think after #436 we can make the splitting work with minimal changes to my trick for trailing lines.

[2017-04-10 19:03] mrunalp commented on #441
@cyphar Yes, for terminal=false containers.

[2017-04-11 08:59] sameo commented on #441
@mrunalp I will look at the networking issues. Is there a way to only run specific tests ? `--with-test-args=""` ?

[2017-04-11 09:48] cyphar opened #442 "update runtime-spec to v1.0.0-rc5"
Now that opencontainers/runtime-tools#349 was merged, we can update to the latest version of the runtime spec. :smile_cat:

This will mean we can use runc v1.0.0-rc3 rather than a random commit.

[2017-04-11 09:59] runcom commented on #441
@sameo it's:
[code]

[2017-04-11 12:13] runcom commented on #441
Fixed all termination path tests here https://github.com/kubernetes-incubator/cri-o/pull/443

[2017-04-11 12:13] runcom commented on #441
6 more to go I guess :sunglasses:

[2017-04-11 14:20] runcom commented on #441
[code]
this test in the first comment is fixed according to my testing

[2017-04-11 14:21] runcom commented on #441
updated the first comment with just the tests failing

[2017-04-11 17:11] mrunalp opened #444 "separate stderr in conmon"
We need to separate stderr/stdout in the logs (by using a separate pipe for it).

[2017-04-11 21:39] mrunalp commented on #429
Closed by #436

[2017-04-11 21:39] #429 closed

[2017-04-11 22:06] cyphar opened #446 "RunPodSandbox fails on openSUSE (and crashes ocid)"
This is a bit of a concern. I found this while working on getting cri-o to work on openSUSE.

[code]

[2017-04-11 22:32] runcom commented on #446
This seems like we're returning `nil` somewhere in the grpc responses. The last nil was from execresponse but maybe there's some code path where we return nil as well

[2017-04-11 23:53] mrunalp commented on #446
Is this with master?

[2017-04-12 00:02] cyphar commented on #446
Yes, I hit this with trying to run #445 on my machine.

[2017-04-12 00:38] mrunalp commented on #446
Points to this line.
[code]
Could you add some debugs to see what is nil in that line?

[2017-04-12 08:34] cyphar commented on #446
Ah okay I figured it out, it's because I was accidentally doing this:

[code]

It's quite disturbing that that's enough to cause us to die...

Here's the debug output:

[code]

[2017-04-12 09:40] runcom commented on #446
I remember discussing nilness checks in the requests and we agreed it was too cumbersome and just trust the kubelet or otherwise fail hard. Would we revisit this decision? :)

[2017-04-12 17:34] mrunalp commented on #446
We can add the nil checks as well as fail if we don't get expected settings.

[2017-04-12 19:08] mrunalp commented on #444
Fixed by #445

[2017-04-12 19:08] #444 closed

[2017-04-12 23:37] mrunalp commented on #349
Any update on this one?

[2017-04-13 11:22] #442 closed

[2017-04-13 12:44] runcom opened #448 "specs.LinuxCapabilities changed"
Getting this warn:
[code]
@mrunalp @cyphar

[2017-04-13 13:04] cyphar commented on #448
Hmmm. Let me check this one out.

[2017-04-13 14:04] cyphar commented on #448
@runcom Just to make sure, have you removed all of your old data (since this represents a schema change)?

[2017-04-13 14:12] cyphar commented on #448
As an aside, it looks to me like this command is broken now:

[code]

In particular it looks like the `userdata` directory doesn't exist:

[code]

When you try to look at it:

[code]

And I checked the strace logs and the reason runC is dying is because of `chdir` failing...

[2017-04-13 14:12] runcom commented on #448
Right, I didn't, let me do that and re-test

[2017-04-13 14:17] runcom commented on #448
@cyphar I got that as well and fixed it by just recompiling and using the latest runc master :)

[2017-04-13 14:27] mrunalp commented on #448
I think both of you are right about 1. incompatible config from older data 2. older runc.
Please retest and let me know :)

[2017-04-13 14:29] runcom commented on #448
yeah, removing old data fixed my issue.

[2017-04-13 15:33] cyphar commented on #448
Oh yeah, I forgot to update runC. ;)

[2017-04-13 16:44] mrunalp commented on #448
Can we close this?

[2017-04-13 16:45] cyphar commented on #448
:+1: Though we should eventually add some defensive code that will tell you if you forgot to upgrade runC (runC tells you what spec version it follows). We could also do the same for `conmon`.

[2017-04-13 16:45] #448 closed

[2017-04-14 14:20] sameo opened #451 "k8s etcd container fails to start"
When deploying a k8s cluster on top of CRI-O, we fail to start the etcd container:

[code]

Please note the log path warning:

[code]

To reproduce:
- Start from a fresh host
- Install `kubelet kubeadm kubectl kubernetes-cni`
- Install and start CRI-O v0.2
- `kubeadm init --pod-network-cidr 10.244.0.0/16`

My setup:

[code]

[code]

[code]

[code]

[2017-04-14 14:20] sameo commented on #451
cc @cyphar @mrunalp @runcom

[2017-04-14 15:29] cyphar commented on #451
Ah damn, I think I was meant to remove that log warning. The log file should be the path output in debugging (`log_path="/var/log/pods/7075157cfd4524dbe0951e00a8e3129e/etcd_0.log"`) and the warning is being too overzealous because it wasn't clear whether the CRI would make paths absolute or relative.

What happens if you run the same `runc` command as in the warning? Does it work, and if not, what

[2017-04-14 16:20] mrunalp commented on #451
@sameo Also if you can get a copy of config.json for the bundle, it will be useful to see if something isn't messed up.

[2017-04-16 13:54] surajssd opened #452 "error in binding socket in redis on fc25"
I have setup crio following [this post](http://suraj.io/post/using-crio-with-k8s-single-node/). When running example from tutorial of redis I get error as follows

[code]
(details below)

Steps to bring up this redis app.

[code]

pod comes up fine
[code]

starting container
[code]

it exits immediately

[code]

logs from container
[code]

machine info:

[code]

audit log

[code]

ocid
[code]

oci

[2017-04-17 02:33] gouyang opened #453 "Cannot start a container that has stopped"
Is this a bug or by design?

[code]

In ocid --debug

[code]

[2017-04-17 05:34] surajssd commented on #453
I could recreate these errors

[code]

this one looks fine

[code]

[2017-04-17 05:36] surajssd commented on #453
This comes from the code in runc [here](https://github.com/opencontainers/runc/blob/4815f67a5fae118f8c74178ac14b94f10a3f0b76/start.go#L36). I think it is legitimate behavior.

[2017-04-17 06:40] surajssd commented on #426
When I run tests locally with SELinux enforcing, for me tests always fail
[code]
<details>

[code]
</details>

[2017-04-17 07:19] gouyang commented on #453
A stopped object usually means can be started late, the current situation should and must be modified in my opinion.

[2017-04-17 09:02] cyphar commented on #453
I just checked the spec (https://github.com/opencontainers/runtime-spec/blob/master/runtime.md#start) and it looks like this behaviour is not mandated (either way) by the runtime-spec. In addition, it looks like we've always done things that way after the `create`-`start` split.

@crosbymichael WDYT? Should we enable `start` to basically restart the container? It's a bit ugly because we'd have to

[2017-04-17 09:03] cyphar commented on #453
But more importantly @gouyang the important question is whether the CRI expects this to work as you describe (`cri-o` is just meant to be there for the CRI's benefit, you shouldn't really be using it as a user). If it does we could implement it in `cri-o`.

[2017-04-17 15:24] mrunalp commented on #453
CRI doesn't expect to be able to start a stopped container. kubelet will spawn another container if for some reason the container dies.

[2017-04-17 16:58] mrunalp commented on #452
Can you get the output of `ausearch -m avc` after you get the failure?

[2017-04-17 19:15] cyphar commented on #438
So, that number is the `TMPFS_MAGIC` number. It looks like for some reason we have a tmpfs file (rather than a network namespace "file") bindmounted into `/var/run/netns`. I'm not sure what would cause it, but that looks like the bug to me.

[2017-04-18 01:28] gouyang commented on #453
I'm fine if CRI doesn't expect to start a stopped container, just need an issue to track this situation.

[2017-04-18 05:59] surajssd commented on #452
@mrunalp re-created all of it in new env and here is what you asked for:

[code]

[2017-04-18 08:49] runcom commented on #453
Mmm not sure why this needs an issue if CRI is expecting this behavior

[2017-04-18 09:04] cyphar commented on #453
@gouyang But cri-o is a CRI implementation -- if the CRI doesn't expect some behaviour we aren't meant to implement it (especially since there are still parts of the CRI we do need to implement -- so we would be better served if we work on those).

[2017-04-19 01:31] gouyang commented on #453
1. There is no document about this in this project.
2. The CRI spec https://github.com/opencontainers/runtime-spec/blob/master/runtime.md#start doesn't mention what if to start a stopped container.
3. The error looks not useful in ocic, can we improve the error message just like ocid `cannot start a container that has stopped`?

[code]

And I think sooner or later someone will have the question li

[2017-04-19 12:38] sameo commented on #441
@runcom @mrunalp @cyphar So the networking tests are failing with this error:
[code]

Those 2 UDP and HTTP tests set a test container within the pod and are asking `kubectl` to `exec` some ncat or curl command from the test container.
Since we do not support container_exec yet, it fails.

I'm going to give @jjlakis PR a try and see if it helps.

[2017-04-19 23:18] mrunalp opened #461 "Translate cgroups path for systemd"
kubelet doesn't send cgroups path in systemd format expected in runc. We need to translate it.

[2017-04-20 09:05] sameo commented on #441
So after doing 2 things:

1. Apply PR #282
2. Disable firewalld (I need to investigate which of the FC25 firewalld rule is blocking 8080 and 8081 on cni0...)

I get all 4 of the networking test failures to pass.

Looking at PR #282, I think there are 2 areas for improvement:

1. Implement `ocic exec`
2. Use conmon instead of calling into the runtime directly.

I will work on 1, and I think we can

[2017-04-20 09:47] jjlakis commented on #441
@sameo I was thinking about implementing `ocic exec` in two ways as I mentioned in https://github.com/kubernetes-incubator/cri-o/pull/282#issuecomment-269604462 , consider this :) .
If you want me to rebase I can do it, but if you want to take my commits and use it in another PR with more stuff - feel free to do it! Viva cri-o!

[2017-04-20 14:36] sameo commented on #441
@jjlakis Could you please reset your @intelsdi-x/exec branch and pull from https://github.com/sameo/cri-o/tree/exec ?

I rebased and implemented `ocic ctr exec` on top of your patches.

[2017-04-20 14:38] mrunalp commented on #441
@sameo @jjlakis Awesome! I think for firewalld we can open up the ports in setup and disable them in teardown. We can handle conmon after getting this in. We will still need to handle the tty resize though before we merge #282. I'll comment there.

@cyphar we'll still need changes to conmon for attach so we can fix it together.

[2017-04-20 17:49] mrunalp commented on #441
I added changes for tty resize handling on top of @sameo branch and have kubectl exec with sh working :)
[code]
I will push that commit to a branch.

[2017-04-20 17:53] mrunalp commented on #441
Here is my branch with the commit on top https://github.com/mrunalp/cri-o/commits/exec_tty @sameo @jjlakis could you guys cherry pick it?

[2017-04-20 21:39] sameo commented on #441
@mrunalp I cherry picked it, thanks.

@jjlakis https://github.com/sameo/cri-o/commits/exec contains all needed patches now.

[2017-04-21 15:05] runcom opened #464 "enable pprof in debug mode?"
basically $SUBJECT. Do we want/need to do this?

[2017-04-21 21:07] mrunalp commented on #464
We could add another flag to enable it.

[2017-04-21 22:50] sameo commented on #451
@mrunalp here is the runtime spec that we generate:

[code]

[2017-04-22 02:42] mrunalp commented on #441
With #466 and #468 we are down to just one failing test :tada:

Let's get those in :)

[2017-04-22 07:57] #451 closed

[2017-04-24 05:14] surajssd commented on #452
ping @mrunalp

[2017-04-24 15:42] runcom commented on #464
any takers welcome though :)

[2017-04-24 17:04] mrunalp commented on #452
@rhatdan PTAL

[2017-04-25 20:16] runcom commented on #441
Those tests are now failing on my F25 box when running k8s e2e:
[code]

@sameo @mrunalp could you give these tests a try?

[2017-04-25 21:11] mrunalp opened #471 "Support RFC3339Nano"
We support RFC3339 but not the nanoseconds in the logs.

[2017-04-25 21:51] mrunalp commented on #441
@runcom The seconds in your list passes for me. The first is a known problem at this point. I am looking into it.

[2017-04-26 14:46] #471 closed

[2017-04-26 21:55] mrunalp commented on #441
I found the issue with `should project all components that make up the projection API [Conformance] [Volume] [Projection] ` kubelet isn't reading our log file because it isn't terminated with a `\n` and that is actually a kubelet bug. Adding a simple echo hi to the end of the command fixes it :)

[2017-04-26 22:04] mrunalp commented on #441
[code]

[2017-04-26 22:04] mrunalp commented on #441
Upstream issue https://github.com/kubernetes/kubernetes/issues/44976

[2017-04-27 00:51] mrunalp commented on #441
All tests passing :tada:
[code]

[2017-04-27 12:39] rhatdan commented on #441
This is awesome.
👍

[2017-04-27 14:31] mrunalp opened #475 "Add release scripts"
So we can sign and upload binaries for releases easily :)

[2017-04-27 14:50] runcom commented on #475
:tada:

[2017-04-27 17:34] #464 closed

[2017-04-27 18:28] mrunalp commented on #475
@cyphar Could you add release scripts? We are thinking of releasing 0.3 tomorrow.

[2017-04-27 21:18] #349 closed

[2017-04-28 02:29] jawnsy opened #476 "Package CRI-O in Debian and Ubuntu"
[Kubernetes](https://packages.debian.org/source/sid/kubernetes) and [Docker](https://packages.debian.org/sid/docker.io) are available in Debian.

Now that the codebase is beginning to stabilize, we should supply a CRI-O package, possibly in `experimental` until we hit our 1.0 release. The [Debian Go packaging team](https://pkg-go.alioth.debian.org/) (which maintains the kubernetes packages) sounds

[2017-04-28 08:10] sameo commented on #476
Sounds very good. @jawnsy Are you willing to work on that issue ?

[2017-04-28 08:33] sameo opened #477 "Add BAT tests for exec"
Now that we support CRI's `exec`, we should add functional tests for it.

[2017-04-28 08:33] sameo commented on #477
@runcom @mrunalp Please feel free to assign that one to me.

[2017-04-28 08:34] sameo opened #478 "Add BAT tests for port forwarding"
Now that we support port forwarding, we should add functional tests for it.

[2017-04-28 08:34] sameo commented on #478
@runcom @mrunalp Please feel free to assign that one to me.

[2017-04-28 14:18] mrunalp commented on #476
@cyphar Do we already have packages for SUSE or should we add it to this list or track with another issue?

[2017-04-28 14:18] mrunalp commented on #478
@sameo Thanks!

[2017-04-28 14:33] mrunalp opened #479 "Rename binaries"
We should rename the binaries from ocid to criod (suggestions?) and ocic to cricli (suggestions?)

[2017-04-28 14:59] jawnsy commented on #476
@mrunalp Hehe, you should've known that Aleksa would be ahead of all of us ;) https://software.opensuse.org/package/crio

If adding it upstream is needed, I suggest creating a separate issue to make it easier to track.

@sameo Yep I'll get started on this, but if you are a member of the Debian Go packaging team, you're welcome to help out too!

[2017-04-28 15:17] mrunalp commented on #476
Sweet :)
Let us add a link to the releases on different distros in the README.

[2017-04-28 15:44] sameo commented on #479
Should we continue using ocic or start looking at cri-tools for the client command:

https://github.com/kubernetes-incubator/cri-tools/tree/master/cmd/crictl

[2017-04-28 16:35] mrunalp commented on #479
@sameo Yes, we could start looking into switching to cri-tools. Maybe we can do that for the 0.4 release.

[2017-04-30 10:56] rhatdan commented on #476
We had better move forward with the rename of the package and the daemon before we get to far with packaging.

I suggest
package name crio.
Daemon criod
Client cri

I can prepare a patch for this change if it is agreed upon.