[2020-04-17 15:35] evanfoster commented on #3581
[code]

[2020-04-17 15:41] evanfoster commented on #3581
Additionally, here's a sample of the mounts:
[code]
Here's our `crio.conf`: https://gist.github.com/evanfoster/c53de34ff793d7cad786368d31215700

[2020-04-17 17:17] Nefelim4ag commented on #3580
@mrunalp, are you sure?
That's just ubuntu machine with debian packages

[code]

[2020-04-17 17:25] haircommander commented on #3580
I don't think it's smart enough to resolve symlinks. It's doing a string comparison. it's an age old hack done in cadvisor:
https://github.com/kubernetes/kubernetes/blob/87eb688ec921fe20a93a25803f08f223fba3d4ee/pkg/kubelet/cadvisor/util.go#L78
So I would expect this is CRI stats behavior, not cadvisor. You could verify by changing the path to `unix:///var/run/crio/crio.sock`

[2020-04-17 17:31] Nefelim4ag commented on #3580
@haircommander, i test crictl for both path, no difference

Will test kubelet, sec

[2020-04-17 17:34] haircommander commented on #3580
yes `crictl stats` should always use cri stats, as cadvisor is baked into the kubelet

[2020-04-17 17:57] Nefelim4ag commented on #3580
You are right, change path to `/var/run` in kubelet fix metrics issue

[2020-04-17 17:58] haircommander commented on #3580
okay cool, we still have a cri-o bug, but glad to know you can get something working :+1:

[2020-04-17 19:07] haircommander commented on #3581
I have tried to reproduce and haven't been able to. here are some differences with my setup:
I'm using runc, not kata-shim
I am using fedora 30
conmon 2.0.15 (I ran into an exec probe problem that 2.0.15 fixes)
I used the same cillium config, and deployed it with the instructions [here](http://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/)

I tested like this:
[code]

[2020-04-17 19:15] evanfoster commented on #3581
Thanks for doing that! One thing, we're also using `runc`, but have Kata as an additional runtime.

Now, just a few questions. What does `crictl pods` look like, before and after? Additionally, what about `mount`? Is the mount cleaned up? Finally, what are you using for storage? We're using `devmapper` right now for performance reasons.

[2020-04-17 19:30] evanfoster commented on #3581
I've been investigating whether or not we could do some manual garbage collection. I found something interesting, however:
[code]

[2020-04-17 19:34] haircommander commented on #3581
ah!

can you try v1.17.4 (soon to be released: https://github.com/cri-o/cri-o/pull/3606)? there was a bug in cleaning up managed namespace dirs: https://github.com/cri-o/cri-o/pull/3572

[2020-04-17 19:36] haircommander commented on #3581
to answer: I am using overlay (forgot to mention that). I am working on putting together the report with mount, but I am pretty sure at least one of your problems is stemming from cri-o not being able to cleanup properly

[2020-04-17 19:37] sirsikar-lalit commented on #2357
We need to have docker and kublet run with the same cgroup driver. In my case on CentOS 7.6 I could fix the issue by adding <--exec-opt native.cgroupdriver=systemd> to docker systemd process and adding <--cgroup-driver=systemd> to kubelet systemd process. This way both kubelet and docker are consuming the same cgroup-driver and both operate normally.

Most likely these drivers can be set with any

[2020-04-17 19:42] haircommander commented on #3581
this is with 1.17.4:

before:
[code]

after deploy:

[code]

after delete
[code]

I also hit the unlink error with 1.17.3, and that made crio's state weird, so I restarted with 1.17.4 to test

[2020-04-17 19:48] evanfoster commented on #3581
Building with b21c78675e96e2c479936ebc2284cb403d4628b9 (latest commit in that PR) now. Thanks for this!

[2020-04-17 20:14] haircommander opened #3610 "enable kernel args for memsw in circle"
in trying to get https://github.com/cri-o/cri-o/pull/3564 in the door, I added a check of the existence of the memory swap cgroup, because circle tests were failing. This is different than what docker does (which I believe is fail on startup if memsw isn't available).

this is a tracking issue to make sure we (read: I) do not forget to drop this check and enable the kernel args in circle. I will p

[2020-04-17 20:26] evanfoster commented on #3581
Well, it seems like it's helping, although we're still getting some `NotReady` pods hanging around. Not sure if that's normal. The number of mounts is fluctuating up and down, but I'll need to let this test run longer to see if it climbs over time. I *was* able to remove one of the `NotReady` pods, however.

[2020-04-17 20:40] haircommander commented on #3581
it shouldn't be necessary in 1.16, so I'm guessing it's not the problem that @nshekhar221 reported (and that you'd be seeing if you're running 1.16 and seeing this)

[2020-04-17 20:51] evanfoster commented on #3581
We're seeing something very much like it. High number of mounts. We weren't able to run any `crictl` commands on 1.16.5, however CRI-O seemed totally hard-locked in that case.

If 1.17.4 fixes the issue then we'll probably run that and update to k8s 1.17 as soon as possible.

[2020-04-17 20:58] haircommander commented on #3581
what performance problems were you seeing with overlay? we haven't used devmapper by default in a long time, and I don't know how much support we have for it. I would honestly believe that's a source of your problems too.

[2020-04-17 21:06] evanfoster commented on #3581
For regular containers, overlay was fine. Kata containers were too slow, however. Both 9p and virtiofs were painfully slow in benchmarks, and the only workaround we could see was to go with devmapper. We're hoping the situation with virtiofs improves so we can move back to overlay, but that just hasn't happened for us yet.

[2020-04-17 21:17] haircommander commented on #3581
have you had any luck with `runtime_type="vm"` for the kata runtimes? that *should* improve performance some

[2020-04-17 21:26] evanfoster commented on #3581
We haven't tried that yet, since we weren't really sure what it changed. Are there repercussions for using it? We rely on OCI hooks and wouldn't want to prevent those from working.

(Really appreciate this, btw. Thanks for being so helpful!)

[2020-04-17 22:05] #3495 closed

[2020-04-17 23:08] lbogdan opened #3612 "Pulling images doesn't work in crio-1.18.0-rc1"
I get the following error when I try to pull an image using the [1.18.0-rc1 release](https://github.com/cri-o/cri-o/releases/download/v1.18.0-rc1/crio-v1.18.0-rc1.tar.gz):

[code]

The `crio` log (set to `debug` loglevel) is as follows:

[code]

[crio 1.17.2~1 Ubuntu 18.04 package](http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/amd64) works as expected.

[2020-04-18 11:13] lbogdan commented on #3612
I did a bit of researching, and it seems to be related to how the Go `net` package handles [name resolution](https://golang.org/pkg/net/#hdr-Name_Resolution), specifically it seems that the cgo resolver errors with "device or resource busy" for some reason.

As a workaround, forcing the pure Go resolver by starting `crio` with `GODEBUG=netdns=go` works.

[2020-04-19 06:09] vofish commented on #896
Hi, guys,
Finally, I've found a solution. You should put "**--cgroup-driver=systemd**" to the **/var/lib/kubelet/kubeadm-flags.env** as _KUBELET_KUBEADM_ARGS_, then:
[code]
and should work.

[2020-04-19 10:18] Slach commented on #2903
solved in new crio-o-1.17
installed from https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/

[2020-04-19 10:18] #2903 closed

[2020-04-20 04:06] hswong3i opened #3614 "[1.17/1.18] Only musl Static Binary Works with Ubuntu"
**Description**

Starting with CRI-O 1.17.x release we could download the statically build binary from release page, with musl/glibc (1.17.x) or glibc only (1.18.0-rc1).

BTW, glibc version not always functioning as expected; only musl version always works, e.g.

**Steps to reproduce the issue:**
1. OK: CentOS 7/8 + CRI-O 1.17.x musl static binary
2. OK: CentOS 7/8 + CRI-O 1.17.x/1.18.x glibc stat

[2020-04-20 06:31] saschagrunert commented on #3612
Hey @lbogdan, thank you for the detailed debugging. I assume you've built the binary locally or did you use the static bundle?

[2020-04-20 06:32] saschagrunert commented on #3614
Hey @hswong3i, have you tried the workaround mentioned there:
https://github.com/cri-o/cri-o/issues/3612#issuecomment-615843431

[2020-04-20 06:41] lbogdan commented on #3612
Using the static 1.18.0-rc1 build from https://github.com/cri-o/cri-o/releases/download/v1.18.0-rc1/crio-v1.18.0-rc1.tar.gz .

[2020-04-20 06:55] saschagrunert commented on #3612
We got some warnings in the glibc build process which did not occur on musl:
[code]

Is there a way to enforce `GODEBUG=netdns=go` during the build process?

[2020-04-20 09:27] lbogdan commented on #3612
From https://www.osso.nl/blog/golang-statically-linked/ :

[2020-04-20 09:42] saschagrunert commented on #3612
Thank you, I'll spin-up a PR to fix this.

[2020-04-20 09:59] hswong3i commented on #3614
@saschagrunert I read that but not try that yet, because from my point of view native source build is functioning and release provided package should be also functioning out-of-the-box ;-)

[2020-04-20 12:56] arthfl commented on #3504
Is there some rough ETA for this?

[2020-04-20 12:57] lsm5 commented on #3504
today

[2020-04-20 13:53] #3612 closed

[2020-04-20 14:08] vivekanandpoojari commented on #3567
Assuming this is not going to be backported,
how can a c++ containerised app fetch this information ?

@saschagrunert , @mrunalp @haircommander

[2020-04-20 14:09] vivekanandpoojari commented on #3568
Assuming this is not going to be backported,
how can a c++ containerised app fetch this information ?

@saschagrunert , @mrunalp @haircommander

[2020-04-20 16:04] evanfoster commented on #3581
Also, I'm not super familiar with cri-o's release cadence. I see that the 1.17.4 PR has been merged. When do you think the 1.17.4 release will be cut?

[2020-04-20 17:54] lsm5 commented on #3504
I'm waiting on the tarball upload to OBS, following which OBS can build and ship new package. So, please wait some more...

[2020-04-20 19:19] miabbott opened #3618 "[1.18] unable to run pod - "cannot generate pod name without uid in metadata""
The RHEL CoreOS team has sanity tests for `cri-o` that started failing when we moved to `cri-o` 1.18

Our previous configuration (pod template/container template) no longer works with 1.18.  We are getting failures like:

[code]

The error seems to match 2d5cedabe81ee94f4eef4c1656177faa542f9d1b

I suspect we'll be told to update our templates, but filing an issue to track the issue going from 1.17

[2020-04-20 19:42] lsm5 commented on #3504
should be available now. I'm gonna close this. Please re-open in case the issue persists. Sorry about the lag.

[2020-04-20 19:42] #3504 closed

[2020-04-20 21:38] lbogdan commented on #3504
@lsm5 Any particular reason `1.17.2~1` was removed? Is there a policy in place that specifies how long older packages are kept around / when they are removed?

[2020-04-21 01:24] lsm5 commented on #3504
@lbogdan OBS doesn't preserve older debs when new packages are built. Keeping older packaging files in there at the same time would mean _nothing_ gets built and the older debs get wiped out too. Also, earlier I used to keep older files with a `.old` appended to it. But then it would quickly fill up.

You can fetch the older packaging files by checking out an older revision. For example: https://b

[2020-04-21 12:57] saschagrunert commented on #3614
This issue should be fixed with v1.18.0 (or rc2). Closing this now and feel free to reopen if there is anything else I can do.

[2020-04-21 12:57] #3614 closed

[2020-04-21 13:15] haircommander commented on #3567
what information are you looking for? Is podman an option here?

[2020-04-21 13:58] haircommander commented on #3618
@miabbott did you hit this on an upgrade? what's the template?

[2020-04-22 00:24] hswong3i commented on #3618
I had upgrade my Ubuntu 18.04 + Kubernetes 1.17.5 + CRI-O 1.17.3, into Kubernetes 1.18.2 + CRI-O 1.18.0-RC1 successfully.

P.S. once upgraded all pod failed with “some” reason that I didn’t dig into it; as usual I reboot all nodes one by one, then kill all running pods once; after that everything resume as normal, even follow with another few rounds of reboot or pod restart.

[2020-04-22 03:54] vivekanandpoojari commented on #3567
@haircommander : I think I can use the podman api InspectImage via the varlink C binding.
podman inspect image returns the OCI config for an image.
However there is no workaround for #3568. Podman does not recognise the cri-o containers.
Is there any way in which a containerised application can view the runtime spec of other containers , assuming we have enough privileges ? In containerd its a sim

[2020-04-22 04:07] dougsland commented on #2713
The Fedora documentation is fixed and all the listed bugs are closed as well. @adelton @haircommander @mrunalp @rhatdan please consider closing this one.

[2020-04-22 06:53] saschagrunert commented on #3567
Hm, you could lookup them on disk based on your storage configuration:
[code]

[2020-04-22 08:29] adelton commented on #2713
@dougsland, on Fedora 32, the steps from https://cri-o.io/ fail with
[code]

[2020-04-22 11:35] dougsland commented on #2713
Hi @adelton,

That's because 1.14 is not available for install, try a recent version as showed below.

# sudo dnf module list cri-o
Last metadata expiration check: 0:03:09 ago on Wed Apr 22 11:25:31 2020.
Fedora Modular 32 - x86_64
Name                                         Stream                                        Profiles                                       Summary
cri-o

[2020-04-22 12:05] adelton commented on #2713
I understand that. And this issue is about the instructions on https://cri-o.io/ which lead users the path of attempting the installation of 1.14. If `cri-o` does not and will not define the default stream, the page likely should spell out that `dnf module list cri-o` command so that the user has a way of figuring out which versions are available on a particular Fedora release.

[2020-04-22 12:55] dougsland commented on #2713
Thanks for the clarification! Sent PR.

[2020-04-22 13:15] haircommander commented on #3294
closing as it seems the issue is solved, please reopen if you disagree

[2020-04-22 13:15] #3294 closed

[2020-04-22 14:14] pjoomen opened #3626 "Raspbian 1.17.3~2: FATA[0000] pulling image failed: rpc error: code = Unknown desc = Error choosing image instance: no image found in manifest list for architecture arm, variant v8, OS linux"
**Description**

After upgrading `cri-o-1.17` on Raspbian to `1.17.3~2` w/ custom aarch64/v8 kernel and standard armhf/32-bits userland the following error is received:

`FATA[0000] pulling image failed: rpc error: code = Unknown desc = Error choosing image instance: no image found in manifest list for architecture arm, variant v8, OS linux`

This is functional on the same system, using the cri-o

[2020-04-22 14:24] haircommander commented on #3626
I think this would be fixed by using `k8s.gcr.io/pause:3.2`

[2020-04-22 14:34] vivekanandpoojari commented on #3567
Hmm ok. Thanks @saschagrunert .

[2020-04-22 14:38] dougsland commented on #2713
@adelton PR merged. Thanks for the suggestion. Please consider closing this report.

[2020-04-22 14:49] pjoomen commented on #3626
No, it does not, but it was the first thing i tried.

[2020-04-22 15:00] hswong3i commented on #3552
@saschagrunert  thank you for your interest and PR created (#3628) please kindly comment ;-)

[2020-04-22 15:04] haircommander commented on #3626
PTAL @vrothberg @nalind

[2020-04-22 15:05] vrothberg commented on #3626
@mtrmac is working on a fix afaik.

[2020-04-22 15:15] marshallford opened #3629 "Ubuntu 20.04 packages"
FYI: Ubuntu 20.04 LTS is expected to be [released tomorrow](https://wiki.ubuntu.com/FocalFossa/ReleaseSchedule). Perhaps 20.04 could be added to the build/publish process?

Currently the repo URL is returning a 404: `http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/`.

Thank you!

[2020-04-22 15:18] haircommander commented on #3629
thanks for the heads up @marshallford

PTAL @lsm5

[2020-04-22 15:46] lsm5 commented on #3629
@marshallford yup, that's because OBS admins will first need to setup 20.04 repos. We can enable builds for it soon as that's done.

btw, @dougsland will be the go-to for OBS cri-o builds going forward and I'll back him up wherever possible.

[2020-04-22 17:30] geragio opened #3631 "crio fails to start on CentOS 7 fresh installation"
**Description**

Hi,

I think there is some problem with the installation of cri-o on CentOS 7(fresh installation)
I'm following the instructions reported on README.md but the service crio doesn't start

The problem seems to be on crio-wipe.service(which is a crio.service dependency), it can't find the file /var/run/crio/version when it starts

#3560
@lsm5

**Steps to reproduce the issue:**
1. cur

[2020-04-22 18:11] adelton commented on #2713
Thank you.

[2020-04-22 18:11] #2713 closed

[2020-04-22 18:33] lsm5 commented on #3631
@haircommander do you know what's to be done for:
`apr 22 19:17:30 localhost.localdomain kernel: overlayfs: unrecognized mount option "metacopy=on" or missing value`

[2020-04-22 18:34] lsm5 commented on #3631
not sure about the `/var/run/crio/version` either, @dougsland PTAL ^

[2020-04-22 18:38] haircommander commented on #3631
@geragio can you try to change the line
`mountopt = "nodev,metacopy=on"`

to
`# mountopt = "nodev"`
in /etc/containers/storage.conf

[2020-04-22 18:39] haircommander commented on #3631
@rhatdan or @nalind wdyt

[2020-04-22 18:40] haircommander commented on #3631
note: this would come up with crio if crio-wipe wasn't called

[2020-04-22 18:46] geragio commented on #3631
Hi @haircommander

I changed mountopt as suggested and now crio.service starts without any error:

● crio.service - Container Runtime Interface for OCI (CRI-O)
   Loaded: loaded (/usr/lib/systemd/system/crio.service; disabled; vendor preset: disabled)
   Active: active (running) since mer 2020-04-22 20:44:10 CEST; 1min 7s ago
     Docs: https://github.com/cri-o/cri-o
 Main PID: 1380 (crio)
   CGro

[2020-04-22 19:04] haircommander commented on #3631
@dougsland the kernel on centos 7 seems to be too old for the metacopy=on option, can you remove it?

[2020-04-22 19:17] nealey opened #3634 ".tar.gz artifacts (on GitHub) are gzipped twice"
**Description**

Releases (appear to be called "artifacts" in the source tree) are gzipped twice. They should either only be gzipped once, or named `.tar.gz.gz`.

**Steps to reproduce the issue:**
1. Locate a .tar.gz file at https://github.com/cri-o/cri-o/releases
2. Download it someplace
3. `zcat $file | zcat | tar tv`

For instance:

    curl -sL https://github.com/cri-o/cri-o/releases/download/

[2020-04-22 19:25] geragio commented on #3631
If it can help, the kernel version I used for the test is: 3.10.0-1062.18.1.el7.x86_64

[2020-04-22 20:22] haircommander commented on #3634
extra compression!

thanks for the issue;
@saschagrunert I've been using the artifacts bundle, do you know why it would be double zipped?

[2020-04-23 06:57] saschagrunert commented on #3626
I guess the fix is about how to relax the matching between variant and architecture, right?

[2020-04-23 07:04] saschagrunert commented on #3634
Do you use Firefox for the download? There is a difference content-type behavior which caused do double-compress on download: https://bugzilla.mozilla.org/show_bug.cgi?id=1470011

Did you download them from CircleCI?

[2020-04-23 07:16] vrothberg commented on #3626
Yes

[2020-04-23 10:49] sarbajitpattanaik commented on #2331
I am trying to pull a test image using crictl pull docker.io/library/nginx:
And getting error below:
pulling image failed: rpc error: code = Unknown desc = error pinging docker registry registry-1.docker.io: Get "https://registry-1.docker.io/v2/": proxyconnect tcp: dial tcp: lookup http: Temporary failure in name resolution

[2020-04-23 13:53] mtrmac commented on #3233
https://github.com/cri-o/cri-o/issues/3626 was filed for the “new” variant of this issue, do we want to keep two issues for two variants of the problem (and close this one as fixed previously), or to keep a single issue (and close one of the two as a duplicate)?

For the record, this is tracked in https://github.com/containers/image/issues/898 .

[2020-04-23 13:53] mtrmac commented on #3626
For the record, this is tracked in https://github.com/containers/image/issues/898 .

[2020-04-23 13:58] haircommander commented on #2331
what version of crictl and cri-o? I am pretty sure that's a sufficiently different problem to warrant a new issue. Also, the error message `Temporary failure in name resolution` says to me that waiting a bit may help (registry problem)

[2020-04-23 13:58] haircommander commented on #3634
ah yes, I did download them from firefox, and download them directly from circle

[2020-04-23 15:53] vikramkhatri commented on #3555
I am having same problem but it happens only one node. I created 10 replicas of busybox and they got created on other nodes except one node.

[code]
[code]

[2020-04-23 18:28] pjoomen commented on #3233
I agree that this two issues are related. The only thing setting them apart, and therefore might be a reason to keep them seperate, is that #3626 was introduced in 1.17.3.

[2020-04-23 19:06] haircommander commented on #3631
@geragio what's the output of
`rpm -q --whatprovides /etc/containers/storage.conf`

[2020-04-23 19:07] dougsland commented on #3631
I can't see metacopy=on in the default install of containers-common. Have you added metacopy=on by hand? @geragio

[2020-04-23 19:12] geragio commented on #3631
The output is: containers-common-0.2.0-2.1.el7.x86_64

[2020-04-23 19:14] geragio commented on #3631
No, I didn't add anything by hand. I did the installation on a VM installed from scratch

[2020-04-23 19:22] haircommander commented on #3631
containers-common may be coming from somewhere that isn't kubic

what's the output of `yum info containers-common`

[2020-04-23 20:22] dougsland commented on #3631
# cat /etc/redhat-release
CentOS Linux release 7.7.1908 (Core)

$ podman  run -it centos:7 /bin/bash
# yum install containers-common
# grep metacopy /etc/containers/storage.conf
#

# rpm -qf /etc/containers/storage.conf
containers-common-0.1.37-3.el7.centos.x86_64

[2020-04-24 00:28] matthias50 opened #3651 "Simultaneous delete and create on the same node can cause long delays"
**Description**

When I delete  Pods with a particular combination of init containers and "regular" containers, while at the same time attempting to create the same particular combination, the second set gets delayed while the first set is in the Terminating state.

**Steps to reproduce the issue:**

1. Add a label to a node so we can control where pods get scheduled
[code]
2. Create namespaces fo

[2020-04-24 00:31] sarbajitpattanaik commented on #2331
Thaks for replying:

crictl version
Version:  0.1.0
RuntimeName:  cri-o
RuntimeVersion:  1.18.0-dev
RuntimeApiVersion:  v1alpha1

In docker we can set proxy via  /etc/systemd/system/docker.service.d/http-proxy.conf . Is there a way to do for CRIO?

[2020-04-24 03:16] marshallford commented on #1767
Any update on this? Still seeing this behavior with `1.17.3~2`.

[2020-04-24 11:40] lsm5 commented on #1767
@marshallford is it possible you could give the package in the testing repo a try?

[2020-04-24 11:44] lsm5 commented on #1767
I guess I'll update the one in stable with the changes in testing since nobody else seems to have complained since I posted the link.

[2020-04-24 16:19] dougsland commented on #3631
@geragio could you please test the new build available? If all good, please consider closing this report.

Thanks!

[2020-04-24 16:31] geragio commented on #3631
Hi @dougsland, it seems it's working correctly now.

Now I'm running cri-o 2:1.17.2-5.1.el7 and the metacopy=on parameter disappeared from the storage.conf file

Thank you so much for your precious support, I'm closing this issue

[2020-04-24 16:44] #3631 closed

[2020-04-24 21:12] haircommander opened #3662 "fix check for rw mounts test"
sometime today, the test `privileged ctr -- check for rw mounts` started failing in integration_{fedora,rhel} because `/sys/fs/cgroup` was not mounted `ro` by runc. Oddly, the test is named "check for rw mounts", but switching the grep line to `rw` makes it fail with crun.

instead of tracking down the source of the issue, I've made the test nearly no-op, by just catting /proc/mounts [here](https:

[2020-04-25 04:19] mrunalp commented on #3651
Are you able to test this with `release-1.17` or `release-1.16`?

[2020-04-25 17:22] gattytto commented on #3629
I use this in my Ubuntu 20.04 LXC images:
[code]

[2020-04-26 01:12] dougsland commented on #1767
Hey @lsm5,

Just tested from the repo you pointed and still see the issue. Maybe something I am missing? Let's work together to solve this one for 1.17-4. :)

[2020-04-26 13:28] sysopsdev opened #3664 "CentOS 8: undefined: errors.Is"
**Description**
Cannot build from source on CentOS 8

**Steps to reproduce the issue:**
1. sudo dnf config-manager --set-enabled PowerTools && sudo dnf install epel-release
2. Install required packages for CentOS
3. Clone cri-o repo
4. cd into repo and run make

**Describe the results you received:**
`vendor/k8s.io/apimachinery/pkg/util/errors/errors.go:99:10: undefined: errors.Is`
`make: *** [Mak

[2020-04-27 06:59] saschagrunert commented on #3664
Hey @sysopsdev, I think you have to update golang to be at least 1.13.

[2020-04-27 12:42] sysopsdev commented on #3664
@saschagrunert Well that's embarrassing lol. Please close, unlist, and delete my shame :)

Thank you! That seems to have worked.

[2020-04-27 12:42] #3664 closed

[2020-04-27 12:47] saschagrunert commented on #3664
No worries, every question is very welcome :)

[2020-04-28 06:13] harche opened #3684 "crio error : "Version string empty""
**Description**
Trying to install cri-o on fedora 31 by following the [README](https://github.com/cri-o/cri-o/blob/master/README.md).

[code]
But the crio won't start

**Steps to reproduce the issue:**
1. Follow the README for Fedora
2.
3.

**Describe the results you received:**
[code]

[code]

**Describe the results you expected:**
crio to get installed and run

**Additional information you deem

[2020-04-28 06:13] harche commented on #3684
[code]

[2020-04-28 06:18] harche commented on #3684
works well with `crio 1.17`

[2020-04-28 08:33] chrstnwhlrt commented on #3304
To close this: With the release of Ubuntu 20.04 I will reinstall our evaluation clusters on arm64 and amd64 using the provided packages. Compiling cri-o and all dependencies is not that hard using the documented way but not maintainable for a production case.

[2020-04-28 08:33] #3304 closed

[2020-04-28 09:03] chrstnwhlrt opened #3685 "CRI-O 1.18 packaging"
Is there any ETA for the version 1.18 hitting the OBS / prebuilt availability?

[2020-04-28 13:47] haircommander commented on #3684
@dougsland have we gotten v1.18.0 into OBS? it should be fixed there

[2020-04-28 16:13] dougsland commented on #3685
@chrstnwhlrt which distro are you looking? CentOS ?

[2020-04-28 17:57] dougsland commented on #3685
Just to share, CentOS8 needs to ship golang1.13. It's required for CRI-O 1.18. We are waiting for that.

[2020-04-28 21:59] chrstnwhlrt commented on #3685
I am using CRI-O with a Ubuntu Server Cluster, currently redeploying on the latest 20.04 LTS.

[2020-04-28 22:02] dougsland commented on #3685
Yeah, I am working on the Ubuntu stay tuned.

[2020-04-29 14:01] jeremyeder opened #3697 "RFC: container image pull speed metric"
**Description**

For rollouts, particularly of new daemonsets (since they are roughly simultaneous pulls to every node), we are lacking visibility into what our pull performance looks like.

Do folks think it would be possible to add this metric?

[2020-04-29 14:10] haircommander commented on #3697
seems simple enough wdyt @saschagrunert

[2020-04-29 15:18] saschagrunert commented on #3697
Yes this can be added on top of the existing image pull metric. Should I take care of that?

[2020-04-29 16:00] jeremyeder commented on #3697
I'm only a user here.  If you can, please do take care of it?

[2020-04-29 17:24] haircommander commented on #3651
@matthias50 https://github.com/cri-o/cri-o/pull/3701 fixed it for me. can you test it out too?

[2020-04-29 17:32] haircommander commented on #3651
seems to be a dup of https://github.com/cri-o/cri-o/issues/3455

[2020-04-29 17:39] haircommander commented on #1242
k8s supports private pid namespaces, and we support mounting the proper directories for systemd to function inside a container. closing this as such. please reopen if you disagree

[2020-04-29 17:39] #1242 closed

[2020-04-29 17:41] haircommander commented on #1257
closing this as it belongs in containers/conmon

[2020-04-29 17:41] #1257 closed

[2020-04-29 17:43] haircommander commented on #1276
it's unclear to me whether this problem still exists. We don't have the distinction between trusted and untrusted runtimes. If someone finds a similar issue (hang on `crictl ps`) in kata or similar runtime, please reopen this issue

[2020-04-29 17:43] #1276 closed

[2020-04-29 17:53] haircommander commented on #1512
we have moved to `k8s.gcr.io/pause:3.2` which has better support for different architectures. as such, I'm closing this. please reopen if you disagree

[2020-04-29 17:53] #1512 closed

[2020-04-29 17:54] haircommander commented on #1462
I am not seeing this error anymore. We call the `clean`, `binaries` and `test-binaries` targets now. It seems the `binaries` target is creating the gopathtok now. closing as such, please reopen if you disagree

[2020-04-29 17:54] #1462 closed

[2020-04-29 17:57] haircommander commented on #476
we have support for debian and ubuntu in our OBS builds now thanks to @lsm5
https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.16
while it's not the main Debian packages, I think they are sufficient. Please reopen if you disagree.

[2020-04-29 17:57] #476 closed

[2020-04-29 18:04] haircommander commented on #1547
@vbatts can you describe a bit more of what this RFE is asking for?

[2020-04-29 18:19] vbatts commented on #1547
@haircommander if you click the link to the referenced comment, there is a comment that something _should_ be logged, but is not.
This may not even be needed anymore. (i'm fine closing it)

[2020-04-29 18:25] haircommander commented on #1784
@everflux can you describe how to reproduce the issue?

cc @nalind @vrothberg @rhatdan

[2020-04-29 18:42] haircommander commented on #1804
@squeed @dcbw @giuseppe any further thoughts here?

[2020-04-29 19:06] haircommander commented on #2072
we now build for centos 7 on OBS, and as such have capacity to have the latest CRI-O release for upstream supported releases.
https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.17
as such, I am closing this issue. If an issue pops up with OBS packaging, please reopen a new one.

[2020-04-29 19:06] #2072 closed

[2020-04-29 19:06] haircommander commented on #2833
we now build for centos 7 on OBS, and as such have capacity to have the latest CRI-O release for upstream supported releases.
https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.17
as such, I am closing this issue. If an issue pops up with OBS packaging, please reopen a new one.

[2020-04-29 19:06] #2833 closed

[2020-04-29 19:10] haircommander commented on #2983
we now set manage_ns_lifecycle by default in CRI-O, which allows CRI-O to have better control over the namespace lifecycle. Further, we've made conmon have an oom adjust score of -1000, so it is never OOM'd. As such, this issue should be entirely prevented.

As such, I'm closing this issue. please reopen if you disagree

[2020-04-29 19:10] #2983 closed

[2020-04-29 19:11] haircommander commented on #2122
I am pretty sure this is due to a similar problem happening in https://github.com/cri-o/cri-o/issues/2983

We have two mitigations: conmon is un-OOM-killable, and CRI-O has the option for it to have better control of namespace lifecycle, to prevent pid wrap from messing with the host namespaces.

as such, I think this issue is taken care of. Please reopen if you disagree

[2020-04-29 19:11] #2122 closed

[2020-04-29 19:14] matthias50 commented on #2072
@haircommander, on https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.17, I see Debian, Rasbian, and Ubuntu, but no CentOS. Am I missing something?

[2020-04-29 19:15] haircommander commented on #2178
I am pretty sure runc now creates a pid 1 in a private pid namespace for a container. As such, I'm closing this

[2020-04-29 19:15] #2178 closed

[2020-04-29 19:17] haircommander commented on #2193
@sebastian-philipp it seems by your comment that this issue is fixed. as such, I'm closing this. please reopen if you disagree

[2020-04-29 19:17] #2193 closed

[2020-04-29 19:19] haircommander commented on #2072
on the panel that shows the options there's a `Show 5 excluded/disabled results` link. Click that, debian is hiding under it :smile:

[2020-04-29 19:20] haircommander commented on #2739
I think kubeadm doesn't do this anymore. as such I'm closing this

[2020-04-29 19:20] #2739 closed

[2020-04-29 19:22] dougsland commented on #3684
@haircommander  for Fedora builds, we don't use OBS. We use fedora build process.

I have just sent an update to bodhi with the patch we talked this morning, should be available for testing via updates-testing soon.

Example:
# dnf module enable cri-o:1.18
# dnf install cri-o --enablerepo=updates-testing

@harche thanks for the report. As soon the new package is available for updates-testing, plea

[2020-04-29 19:22] haircommander commented on #2701
the umask runtime-spec PR was merged. Now we just need runtime maintainers to add it. @giuseppe does crun support setting umask?

[2020-04-29 19:23] haircommander commented on #2736
closing this, as it should be fixed

[2020-04-29 19:24] haircommander commented on #2685
is this issue resolved @sebastian-philipp ?

[2020-04-29 19:24] haircommander commented on #2619
closing because of the comment above

[2020-04-29 19:24] #2619 closed

[2020-04-29 19:26] haircommander commented on #2445
@SleepyBrett @mariusgrigoriu are you still seeing this?

[2020-04-29 19:28] haircommander commented on #2464
manage_ns_lifecycle is the successor of manage_network_lifecycle, and it's now true by default :slightly_smiling_face:

[2020-04-29 19:28] #2464 closed

[2020-04-29 19:30] haircommander commented on #2479
we determined this was due to running the node with cgroupfs cgroup-manager. This is because CRI-O is the parent process of the cgroup when using cgroupfs (as it is responsible for the creation and deletion). IIUC, when CRI-O restarts, the parent is gone, and the old containers have orphaned cgroups. the new CRI-O has to recreate all of the cgroups to properly be the parent of them.

We recommend

[2020-04-29 19:30] #2479 closed

[2020-04-29 19:31] haircommander commented on #2672
due to https://github.com/cri-o/cri-o/issues/2672#issuecomment-613269157, It seems this is more a duplicate of https://github.com/cri-o/cri-o/issues/2112. As such, I'm closing this. please reopen if you disgaree

[2020-04-29 19:31] #2672 closed

[2020-04-29 19:32] haircommander commented on #2157
we now support manifest lists, and have for a couple of releases. as such, I'm closing this

[2020-04-29 19:32] #2157 closed

[2020-04-29 19:37] haircommander commented on #2402
@harche do you know if this can be closed?

[2020-04-29 19:37] haircommander commented on #2401
@dougsland @lsm5 can this be done with OBS?

[2020-04-29 19:41] haircommander commented on #2665
well our integration tests *are* still flaky, but for new and exciting reasons, not because of these. closing as such

[2020-04-29 19:41] #2665 closed

[2020-04-29 19:45] haircommander commented on #2213
I'm not so sure this is the fault of CRI-O. @cliffburdick did you find anything new out in the past year :smile:

[2020-04-29 19:47] haircommander commented on #2411
There are now two available work arounds for this issue. As such, I'm closing. please reopen if these mitigations don't work for you.

[2020-04-29 19:47] #2411 closed

[2020-04-29 19:54] haircommander commented on #3301
sorry for the late reply.

I am pretty sure this is a problem with runc. That error is coming directly out of there.

can you build runc from source and see if it fixes your problems? what's the output of `rpm -q --whatprovides $(which runc)`

the error is coming because [this](https://github.com/opencontainers/runc/blob/dc9208a3303feef5b3839f4323d9beb36df0a9dd/libcontainer/cgroups/systemd/apply_s

[2020-04-29 19:57] haircommander commented on #3260
are you able to use cri-o 1.17 from obs? @thschue

[2020-04-29 19:59] haircommander commented on #3197
in the above PR I checked whether setting hostUts when hostNetwork was true, but it broke the cri tests. Pods are apparently always given a private hostname. as such, I'm closing

[2020-04-29 19:59] #3197 closed

[2020-04-29 19:59] haircommander commented on #3180
@ganga1980 have the links posted helped your problem? can this be closed?

[2020-04-29 20:04] haircommander commented on #3079
as we've seen [here](https://github.com/cri-o/cri-o/pull/3342) this is actually expected behavior, and is an invariant of the CRI. As such, it is not a problem in CRI-O. What do you think about closing this issue and opening one to track in upstream kube @benclarkwood

[2020-04-29 20:08] haircommander commented on #2984
We have spent a lot of time debugging this issue. Part of it was due to failing to clean up after ourselves when we failed to create a pod. That was a very slim number of cases and I feel confident we've closed them up.

The standard case is that the pod really took a long time to set up (often in the networking step). this caused the kubelet to retry the request, even though its first request was

[2020-04-29 20:10] haircommander commented on #2853
@bartelsb sorry for the *super* late response. Have you found any success with upgrades? is there any more information you'd like to provide me to help me debug your situation?

[2020-04-29 20:11] haircommander commented on #2897
1.16-1.18 is on OBS and I think the install doc is updated. closing as such, please reopen if you disagree

[2020-04-29 20:11] #2897 closed

[2020-04-29 20:17] bartelsb commented on #2853
No worries. Yes, we went through this upgrade a while back and it was successful. I believe we went with the method mentioned above of deleting all of the images before uncordoning each node, which allowed cri-o to pull a fresh image for every pod assigned to the node. I'll close this issue now, as the workaround seems to work as described.

[2020-04-29 20:17] #2853 closed

[2020-04-29 20:29] afbjorklund commented on #2833
It should be OK, the kubernetes documentation still has the old cbs.centos.org URL (which is now 404)

~~https://cbs.centos.org/repos/paas7-crio-115-release/x86_64/os/~~

But it _also_ refers to https://github.com/kubernetes-sigs/cri-o#getting-started - which has the kubic list...

So from there it should be possible to at least get cri-o installed (although it doesn't mention crictl ?)

The `[REQ

[2020-04-29 21:35] giuseppe commented on #2701
Yes, crun supports it

[2020-04-29 21:50] matthias50 commented on #3651
@haircommander, I tried out the fix in #3701 and it worked for me. Thanks.

[2020-04-29 21:55] cliffburdick commented on #2213
@haircommander no, but we somewhat worked around it by writing a script to move all the kubelet cpusets onto a "jailed" group, and our processes/pods are the only ones allowed on the non-jail group.

[2020-04-29 21:59] mariusgrigoriu commented on #2445
I believe this was related to a cgroups leak. Should be safe to close.

[2020-04-29 22:28] matthias50 commented on #2833
@haircommander, @lsm5 , the kubric stuff looks great. Once question I have left... When looking at https://github.com/cri-o/cri-o#getting-started, I see that repos are listed by version:

sudo curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable:cri-o:[REQUIRED VERSION].repo https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable:cri-o:[REQUIRED VERSION]/CentOS_7/devel:

[2020-04-29 23:06] ganga1980 commented on #3180
Hi, @haircommander , thanks for the links. please go-ahead and close this issue.

[2020-04-29 23:06] #3180 closed

[2020-04-30 01:30] haircommander commented on #2213
awesome to hear you found a work around. Can I close this issue then @cliffburdick ?

[2020-04-30 01:33] haircommander commented on #2445
excellent thank you!

[2020-04-30 01:33] #2445 closed

[2020-04-30 01:35] haircommander commented on #2853
well then here's a shameless plug to use `crio wipe` to do this. We have `crio wipe` running as a requirement for the `crio.service` systemd unit. It checks if there has been a minor version upgrade (1.16->1.17), and removes the images if so. If there was a reboot, it now also removes containers, which is good state to clear out between reboots. Glad you found a work around :smile:

[2020-04-30 01:38] haircommander commented on #2833
@matthias50 we intend on supporting the three minor releases kubernetes does at the same time :smile: that's why they're different repos, so we can bump version older versions along with the newer :smile:

@dougsland can I ask you to open PRs in github.com/cri-o/cri-o.io to update the packaging details?

[2020-04-30 02:33] matthias50 commented on #2833
I get that, but within each repo, will there be multiple patch versions? For example, in https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.15/CentOS_7/x86_64/, there is currently one rpm cri-o-1.15.3-7.2.el7.x86_64.rpm. When 1.15.4 is released, will there be a 1.15.4 rpm *added* to that repo, or will the 1.15.3 rpm disappear when 1.15.4 shows up? I would hope

[2020-04-30 02:43] cliffburdick commented on #2213
yes, thanks!

[2020-04-30 02:43] #2213 closed

[2020-04-30 03:31] bmwiedemann opened #3702 "crio embeds build"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

While working on reproducible builds for openSUSE, I found that
when building the cri-o package, there were slight differences between each build.

See https://reproducible-builds.org/ for why this matters.

**Steps to reproduce the issue:**

[code]

**De

[2020-04-30 04:40] thschue commented on #3260
Yes, I’ve installed cri-o from obs and it works fine with calico.

[2020-04-30 06:32] saschagrunert commented on #3697
Sounds good to me! :)

[2020-04-30 06:42] harche commented on #2402
@haircommander yes.

[2020-04-30 06:42] #2402 closed

[2020-04-30 06:45] fragfutter commented on #2905
[NEXUS-21087](https://issues.sonatype.org/browse/NEXUS-21087) will be fixed in 3.23.0

[2020-04-30 06:50] harche commented on #3684
[code]
[code]

[code]

I am still facing the same issue. :(

[2020-04-30 07:09] everflux commented on #1784
I have no safe way to reproduce it.
But I could fix it, it seems, by not only removing the images locally but by wiping the filesystem where the layers where cached. Afterwards pulling worked again. I doubt that it is related to the way the image was built, but since the number of images using jib exceeded other images in my scenario, jib stood out.

[2020-04-30 07:23] saschagrunert commented on #2213
May I ask you to share the script? Now I'm pretty interested how it works :)

[2020-04-30 07:44] hanneshoettinger opened #3703 "cri-o armv7 buildroot linux - not possible to spin up container - Unknown desc = fork/exec /usr/local/bin/: permission denied"
**Description**

I am running KubeEdge on my ARMv7 board with cri-o as interface. I have crossbuild cri-o and tested it with KubeEdge. I was not able to create a container, therefore I started testing the functionality with crictl to spin up a container.

**Steps to reproduce the issue:**
1. cri-o on ARMv7 (`crio -l debug &`)
2. sandbox_config.json

[code]
3. `POD_ID=$(crictl runp sandbox_config.j

[2020-04-30 12:21] lsm5 commented on #2833
@matthias50 that hasn't changed yet. One repo continues to have just 1 build at a time.

The separation of repos was done so that users could do `yum install cri-o` without adding the version. https://github.com/cri-o/cri-o/issues/3495 . Hosting multiple patch releases isn't trivial on OBS and IIRC someone in the community (don't remember who atm) has some scripts running on their end to save olde

[2020-04-30 12:25] lsm5 commented on #2833
Also, OBS folks mentioned about maintenance repo setup for keeping older versions. We would like more help in this, so if anyone in the community can volunteer toward this, that'd be awesome.

[2020-04-30 13:32] lsm5 commented on #2833
@matthias50 a quick fix to support your need would be to create a subproject (and thus a new yum repo) for every patch release, so in case you wanna fall back on an older release, you can add the subproject repo. Would that work for you?

[2020-04-30 13:34] haircommander commented on #3260
alrighty, as such I'm closing :smile:

[2020-04-30 13:34] #3260 closed

[2020-04-30 13:42] haircommander commented on #2905
additionally, I believe @mtrmac is currently working on the relaxed checks in containers/image. is that correct?

[2020-04-30 14:27] saschagrunert commented on #3697
@jeremyeder if you need the metric per container image, then the byte counter `crio_image_pulls_by_name` could be used to get the download rate:
[code]
Does this already fit for you or do you need anything else?

[2020-04-30 14:54] lsm5 commented on #2833
@matthias50 so the dependencies that are present in the main repo are also shipped (often older but thoroughly tested builds) in the default CentOS repos and the latter would be the recommended build to use in PROD. So, I'd suggest not using the main OBS repo if you want things to really not break. If that causes dependency issues for the cri-o packages in OBS, then do let us know and we can adjus

[2020-04-30 16:22] afbjorklund commented on #3702
For some reason, the "BuildDate" is in the API:

https://github.com/kubernetes/apimachinery/blob/master/pkg/version/types.go#L28

It could still be faked (zeroed) instead, I suppose.

`1970-01-01T00:00:00Z`

[2020-04-30 16:31] afbjorklund commented on #3702
The best would be to make it (too) into a `make` variable:

[code]

Then it would be easy to set it, just like `GIT_COMMIT` today.

[code]

[2020-04-30 16:33] haircommander commented on #3702
would you like to submit a PR with the fixes you're describing @afbjorklund ?

[2020-04-30 16:36] afbjorklund commented on #3702
Oh no, I see that somebody has changed GIT_COMMIT in 720545fbfee0dad61e2ba7135ebaa2ac8ac1dd86

That means my cri-o build is wrong, it is now COMMIT_NO instead...

[2020-04-30 16:36] afbjorklund commented on #3702
I can do that, not using SOURCE_DATE_EPOCH myself (but I like the idea)

[2020-04-30 16:41] afbjorklund commented on #3702
The problem with calling `git` during the build, is that it gets the _wrong_ information.

For some reason it thinks it is in the **cri-o** git, while I am still building from a tarball...

I'm sure the opensuse RPM has a similar issue ? (fedora had: https://github.com/cri-o/cri-o/issues/2923#issuecomment-549126190)

But maybe it ends up with `unknown` instead, if not using git while doing rpmbuil

[2020-04-30 16:55] afbjorklund commented on #3702
It actually had SOURCE_DATE_EPOCH for a while: d1696ce6b97267b376875ba26dac4a33d38ebb56
But I'm not sure it did any good anyway, since **both** were added:

[code]

So the builds were still not reproducible...

[2020-04-30 17:14] marshallford commented on #3629
Looks like Ubuntu 20.04 builds are up: `http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/`

[2020-04-30 17:14] #3629 closed

[2020-04-30 17:59] mtrmac commented on #2905
OCI checks have been relaxed significantly; schema2 not currently — and I’m not at all sure that ignoring unrecognized MIME types of the manifest, but depending on contents of the manifest, makes sense. Auto-detecting the missing support during push would be cleaner.

Anyway, I am currently working on neither.

[2020-04-30 18:11] #3552 closed

[2020-04-30 19:56] mazzystr commented on #3685
I was just about to create a similar issue.  Over in KubeVirt land we have a need to test CentOS 8 & minikube --driver=none --container-runtime=cri-o

[2020-04-30 21:02] #3702 closed

[2020-05-01 05:03] eyanulis commented on #3684
Not the original reporter - however, I encountered this problem, and installing `2:1.18.0-2.module_f32+8778+fdcfac52` from `updates-testing-modular` resulted in a cri-o service that can successfully start. I _think_ this corresponds to the above mentioned build but am not quite sure how to match one to the other.

In any case I believe this is resolved by the new build. Thanks!

[2020-05-01 07:08] chrstnwhlrt commented on #3685
Compiling CRI-O is not that hard but I would really prefer using the packaged version for production usage

[2020-05-01 07:25] #3684 closed

[2020-05-01 16:20] syedriko commented on #3437
I would like to register interest in this issue and offer help in tracking it down. My setup is similar to @robszumski 's, it is on f32, with cri-o built from the master, cni drivers built from the master and the rest of the node set up by kubeadm. When creating an application Pod, I was getting messages like this
[code]
in the kubelet log for several hours, with the application container failing

[2020-05-01 16:31] mazzystr opened #3711 "Fedora 32 / cri-o 1.18 ... service fails to start"
I have a fresh install of Fedora 32 and cri-o 1.18.  crio fails to start at `systemctl enable --now crio`

**Steps to reproduce the issue:**
1.  Install Fedora 32
2. Install crio per https://cri-o.io/
3. systemctl enable --now crio

**Describe the results you received:**
 # systemctl status crio --no-pager -l
● crio.service - Container Runtime Interface for OCI (CRI-O)
     Loaded: loaded (/usr/li

[2020-05-01 16:33] haircommander commented on #3711
@dougsland PTAL

[2020-05-01 16:52] haircommander commented on #3685
we also have static binaries available, but yes 1.18 packaging through OBS coming soon

[2020-05-01 17:19] dougsland commented on #3711
Duplicate of: https://github.com/cri-o/cri-o/issues/3684

[2020-05-01 17:20] haircommander commented on #3711
@mazzystr can you try updating to the latest? It should be fixed already.

[2020-05-01 17:31] mazzystr commented on #3711
I have latest installed...
[code]

Still no dice getting cri-o to run...
[code]

[2020-05-01 17:32] dougsland commented on #3711
the rpm is only available via update-testing at this moment, soon should arrive to stable:

# dnf module enable cri-o:1.18
# dnf install cri-o --enablerepo=updates-testing-modular

[2020-05-01 18:22] dougsland commented on #3685
@chrstnwhlrt @mazzystr just uploaded the testing branch, sorry the delay. Getting all bits about OBS from @lsm5 .

Could you please give a try in the testing branch:

[code]

[2020-05-01 18:37] dougsland commented on #2401
@Atoms this still an issue? Have you tried the binaries from OBS (build.opensuse.org)?

[2020-05-01 23:30] hswong3i commented on #3552
As report from https://github.com/alvistack/ansible-role-cri_o/issues/1

[2020-05-04 05:44] skycastlelily2 commented on #3301
Nope,but it seems that I'm not able to build runc from source.
Here are my steps,
1.git clone https://github.com/opencontainers/runc.git
2.fedpkg clone -a runc and cp runc.spec and cgroups-v2.patch into the runc
directory.
3.create  runc-609ba79.tar.gz needed by  rpmbuild
rpmbuild -bb runc.spec fails with "error: Failed build
dependencies:compiler(go-compiler) is needed by
runc-2:1.0.0-198.dev.git

[2020-05-04 05:50] Sh4d1 commented on #3685
@dougsland do you also manage cri-o-1.17 and cri-o-1.16 patch release on Ubuntu?

[2020-05-04 07:00] Atoms commented on #2401
i think this is sorted, but not sure how, we can close this issue, if we will need help, I will reopen issue.

[2020-05-04 07:00] #2401 closed

[2020-05-04 07:55] chrstnwhlrt commented on #3685
Thank you for the amd64 builds, do you know when the arm64 builds will be available? Is it safe to use the testing builds for now and upgrade later to the stable builds?

[2020-05-04 10:04] harche commented on #3711
@dougsland I was wondering how long would it take for the fixes to arrive to stable? I need to use those packages in my PR for k8s node tests, https://github.com/kubernetes/test-infra/pull/17014/files

[2020-05-04 10:14] sebastian-philipp commented on #2685
sorry. never looked again into this.

[2020-05-04 10:54] hswong3i opened #3717 "Debian Buster Default Kernel Always Failed with `open /sys/fs/cgroup/hugetlb: no such file or directory`"
**Description**

(Related to #3540?)

When running `kubeadm init` with CRI-O v1.18.0 + Debian Buster, always failed due to default kernel `4.19.0-6-amd64` + `CONFIG_CGROUP_HUGETLB` is not set by default:
[code]

In case replace Kernel from Ubuntu Mainline Kernel PPA (e.g. https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.6.7/) and reboot, above error message gone and all deployment works as expect

[2020-05-04 11:07] hswong3i commented on #3685
In case if you can't wait for prebuild packages + willing to compile from CRI-O's release source code + some basic knowledge with Ansible, my Ansible Role and Collection may be your cup of tea:
- https://github.com/cri-o/cri-o/blob/master/tutorials/setup.md#install-with-ansible
- https://github.com/alvistack/ansible-role-cri_o
- https://github.com/alvistack/ansible-collection-kubernetes

[2020-05-04 11:31] dougsland commented on #3685
Should be landed in stable too (with arm64 support) please let us how it goes.
[code]

[2020-05-04 11:32] dougsland commented on #3685
I should be able to help. What's your question?

[2020-05-04 11:35] Sh4d1 commented on #3685
@dougsland the latest patch versions are not available (I think its 1.17.2 and 1.16.2 right now only)

[2020-05-04 11:42] dougsland commented on #3685
Okay, please open a different issue. This one is about 1.18 for Ubuntu. I am going to start working on that.

[2020-05-04 11:55] Sh4d1 opened #3718 "Bump CRI-O package on Ubuntu"
**Description**
On Ubuntu 18.04 amd64, only 1.16.2 and 1.17.3 are available (vs 1.16.6 and 1.17.4 released here).
It would be nice to bump up the versions.

cc @dougsland

[2020-05-04 12:32] Sh4d1 opened #3719 "Cgroup Manage default change in 1.18.0"
**Description**
The default cgroup manager change from 1.17 to 1.18 (and nothing in the changelog? :thinking: ) Is it wanted?

**Describe the results you received:**
[code]

[code]

**Describe the results you expected:**
The default not to chane

[2020-05-04 12:55] dougsland commented on #3685
@chrstnwhlrt please consider closing the ticket if your issue was addressed. Thanks!

[2020-05-04 13:01] dougsland commented on #3711
Hey @harche ,
From my understanding, 3 more days to reach 7 days or 3 positives votes (karmas).

"FEDORA-MODULAR-2020-07c39c5893 created by dougsland **4 days ago** "
https://bodhi.fedoraproject.org/updates/FEDORA-MODULAR-2020-07c39c5893

[2020-05-04 13:32] matthias50 opened #3720 "cri-o 1.15.4 RPM not published to OBS"
**Description**

1.15.4 was released on 5/1/2020 but the RPM has not yet been published to OBS

**Steps to reproduce the issue:**

Browse to https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.15/CentOS_7/x86_64/.

**Describe the results you received:**

RPM is cri-o-1.15.3.

**Describe the results you expected:**

RPM is cri-o-1.15.4

**Additional information

[2020-05-04 13:33] matthias50 commented on #3720
ping @dougsland.

[2020-05-04 13:49] haircommander commented on #3719
ah! thanks for the report @Sh4d1 and sorry for the poor communication. In the last release, we switched our release-notes generation tool, but the commit making the default change (https://github.com/cri-o/cri-o/pull/3137) came in before making that switch, and was thus missed in the release notes.

this change was expected and desired, we believe systemd is a better cgroup manager. Now that we've

[2020-05-04 13:57] haircommander commented on #3717
ooopsies, fix here for 1.18: https://github.com/cri-o/cri-o/pull/3721 and here for master https://github.com/cri-o/cri-o/pull/3565

[2020-05-04 13:58] haircommander commented on #3717
thanks for the report @hswong3i

[2020-05-04 17:37] haircommander commented on #3604
upstream cri-o has taken care of this. This is considered a feature and it is too late to get this into 1.17. As such, I'm closing .please reopen if you diagree

[2020-05-04 17:44] haircommander commented on #3703
what's the output of `which conmon`?
`DEBU[2020-05-04 08:51:26.344345036+01:00] running conmon: /usr/local/bin/ ` should be a path to the conmon binary, but instead is (somehow) picking up /usr/local/bin instead.

[2020-05-05 08:42] hanneshoettinger commented on #3703
I have re-built and re-installed cri-o. This seems to have solved the problem and I am able to start a container using crictl: `which conmon` returns:
`/usr/local/bin/conmon`
However, when using the CRI interface I am not able to spin up the same container:
`CreateContainer in sandbox "9d74111404b565b04fb0708dae39803768144ffb77d33c13045b53ac35afd142" from runtime service failed: rpc error: code =

[2020-05-05 09:07] saschagrunert commented on #3703
This might be solved with https://github.com/cri-o/cri-o/pull/3721

[2020-05-05 09:16] hanneshoettinger commented on #3703
Ah perfect, thanks for the hint. Will test it!

[2020-05-05 10:04] hanneshoettinger commented on #3703
Works for me! THX

[2020-05-05 10:04] #3703 closed

[2020-05-05 10:37] chrstnwhlrt commented on #3685
@dougsland Thanks for the packaging! Just to clarify: The new repository holds just a few packages, am I supposed to use both repositories? Are all dependencies resolved using just this repo?

[2020-05-05 12:55] dougsland commented on #3685
@chrstnwhlrt  Yes, just confirmed, for dependencies.

[2020-05-05 13:01] Sh4d1 commented on #3685
@dougsland is Ubuntu 18.04 planned too?

[2020-05-05 13:01] dougsland commented on #3720
@matthias50 please let me know if that works for you.

[code]

[2020-05-05 13:01] dougsland commented on #3720
Please consider closing this issue, if everything works well.

[2020-05-05 13:03] dougsland commented on #3685
CRI-O 1.18 requires golang 1.13 at least which it seems not shipped to Ubuntu != 20.04. Please correct me if I am wrong.

[2020-05-05 13:05] Sh4d1 commented on #3685
It's correct, but there is no workaround? (Not familiar with the internals of Ubuntu package)

[2020-05-05 13:06] dougsland commented on #3685
Probably manually build golang and CRI-O.

[2020-05-05 13:12] dougsland commented on #3718
@Sh4d1 Hi Patrik, please give a test, if everything works well please consider closing this ticket.
[code]

[2020-05-05 13:13] dougsland commented on #3718
[code]

[2020-05-05 13:45] matthias50 commented on #3720
@dougsland, unfortunately, we are using CentOS, so these won't work for us.

[2020-05-05 15:28] dougsland commented on #3720
Sure, let's try again:

For CentOS 7 run the following as root:
cd /etc/yum.repos.d/
wget https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable:cri-o:1.15:1.15.4/CentOS_7/devel:kubic:libcontainers:stable:cri-o:1.15:1.15.4.repo
yum install cri-o

[2020-05-05 15:46] matthias50 commented on #3720
I tried this and it works fine. Thanks!

[2020-05-05 15:46] #3720 closed

[2020-05-05 16:15] matthias50 opened #3725 "OBS .repo files use http for downloading RPM gpgkeys which risks MITM attacks"
**Description**
The .repo files on OBS, for example https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.18/CentOS_7/devel:kubic:libcontainers:stable:cri-o:1.18.repo use http to download the gpg keys. This is opens up the possibility for hijacking the key download as there will be no TLS verification.
[code]
The key does seem to be served up https by OBS because

[2020-05-05 20:44] dougsland commented on #3725
Hi @matthias50, I believe this report should be created in OBS system. Please consider opening a ticket to openSuse Build Service, more info here: https://en.opensuse.org/openSUSE:Submitting_bug_reports

@saschagrunert

[2020-05-06 00:20] chrstnwhlrt commented on #3685
@dougsland Thanks for  the work, I will test the Ubuntu 20.04 build with the next deployment in the coming days for arm64 and amd64.

[2020-05-06 00:20] #3685 closed

[2020-05-06 05:58] kungfu71186 commented on #3711
Looks good.

[code]
[code]

[2020-05-06 07:20] matthiaslein commented on #3233
It looks to me like this issue was just backported to 1.16.6

Two days ago, an update came through the opensuse repo I'm using for cri-o (cri-o-1.16/unknown,now 1.16.6~1 arm64 [installed]) and since then, I'm getting "Error choosing an image from manifest list docker://k8s.gcr.io/pause:3.1: no image found in manifest list for architecture arm64, variant v8, OS linux" for every image on my Raspberr

[2020-05-06 19:00] Sh4d1 commented on #3718
Yes it works thanks!

[2020-05-06 19:00] #3718 closed

[2020-05-06 21:09] mazzystr commented on #3711
Yup looks good to me also....
[code]

[2020-05-06 21:15] mazzystr commented on #3711
This is a very sweet thing to see ...

[code]

[2020-05-06 21:17] dougsland commented on #3711
@mazzystr  Indeed, very good. :)  Please also take a look in this one: https://github.com/cri-o/cri-o/tree/master/contrib/kube-local  (Not related to this thread, by anyway) :+1:

[2020-05-07 17:43] #3604 closed

[2020-05-07 21:20] korivka opened #3736 "Cni network namespace is not removed after deleting a pod in cri-o 1.14.11-1.16.6"
**Description**
Cni network namespace is not being removed after deleting a pod. This results in pods getting new IP addresses each time they are added and old IP addresses not being recycled

**Steps to reproduce the issue:**
1. Add a pod that doesn't use host ip
2. Run ip netns to check that cni namespace was created for the pod
3. Delete the pod
2. /var/run/netns/ contains namespaces of deleted

[2020-05-07 22:05] tedyu commented on #3736
Do you see the following in the log ?
[code]

[2020-05-08 01:08] mrunalp commented on #3736
@haircommander ptal

[2020-05-08 13:21] dougsland commented on #3711
@mazzystr @harche @haircommander  the latest bits are in the stable channel. Please consider closing this ticket. Thanks!

# cat /etc/fedora-release
Fedora release 32 (Thirty Two)

# dnf module info cri-o:1.18
Last metadata expiration check: 0:34:42 ago on Fri 08 May 2020 08:44:59 AM EDT.
Name             : cri-o
Stream           : 1.18 [e] [a]
Version          : 3220200429145402
Context

[2020-05-08 13:38] #3711 closed

[2020-05-08 15:27] mazzystr commented on #3711
Confirmed.  cri-o is now very boring ... just the way we like it!  :)
[code]

[2020-05-08 15:41] haircommander commented on #3711
excellent to hear, thanks for the reports and patience folks!

[2020-05-08 18:01] steled commented on #3233
Hi,

I'm getting a similar error:

[code]

See below my configuration:

[code]

I'm working on a Raspberry Pi 4.

[2020-05-08 18:32] rhatdan commented on #3711
Boring is good.  I always say CRI-O should be like a file system, it just does it's job, and I should seldom need to think about it.

[2020-05-08 19:10] mclarkson opened #3740 "Centos 7 repos gone"
Centos 7 repos have gone from 'download.opensuse.org/repositories', as referenced by the main page on this repo.

**Steps to reproduce the issue:**
1. Try to use the curl commands mentioned in https://github.com/cri-o/cri-o#installing-cri-o

**Describe the results you received:**

404 - repo not found

**Describe the results you expected:**

downloaded repo files so cri-o can be installed

**Addit

[2020-05-08 19:29] haircommander commented on #3740
what's the precise curl command you've tried?

[2020-05-08 19:33] mazzystr commented on #3711
Do we know why we were failing here?  `--log-level debug` and `strace` didn't help pinpoint the problem.

[2020-05-08 19:48] kungfu71186 commented on #3711
@mazzystr the error isn't obvious because it's a really wierd error you wouldn't expect, but it's literally because the version wasn't set. It does show the fatal error in the log though.

[2020-05-08 19:48] dougsland commented on #3711
Hi,

Yes, the version string was empty, from the logs:
[code]

[code]
$ git show 6ee7c76731cbb141d9929ac0a0952dd85b7f8bb2
commit 6ee7c76731cbb141d9929ac0a0952dd85b7f8bb2
Author: Douglas Schilling Landgraf <dougsland@redhat.com>
Date:   Wed Apr 29 10:25:22 2020 -0400

    build: include version data during the build

    Resolves: github.com/cri-o/cri-o/issues/3684

diff --git a/cri-o.spec b/cri-o.

[2020-05-08 19:59] haircommander commented on #3736
@korivka are you running with `manage_network_ns_lifecycle` set in your crio.conf?

[2020-05-08 20:00] mazzystr commented on #3711
@dougsland Thanks for that excellent explanation!

[2020-05-08 20:24] mclarkson commented on #3740
[code]
From: https://github.com/cri-o/cri-o#installing-cri-o

[2020-05-08 21:06] haircommander commented on #3740
sorry for the confusion, https://github.com/cri-o/cri-o/pull/3733 will resolve them
you need to set `[REQUIRED VERSION]` to the version of cri-o you're looking for. For instance, if you're using kube 1.18, you'd want
[code]

[2020-05-08 21:30] mclarkson commented on #3740
I did change the `[REQUIRED VERSION]`. The devel: directories had disappeared earlier and now they're back. Now I'm puzzled. Thanks for checking!

[2020-05-08 21:34] mclarkson commented on #3740
Actually it was this URL that's gone:
https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable:cri-o:1.17/CentOS_7/devel:kubic:libcontainers:stable:cri-o:1.17.repo

The 1.18 one you posted is there. Do you know where the 1.17 version is.

[2020-05-09 18:49] ecky-l opened #3744 "CentOS 8 installation instructions in README.md not working"
**Description**

**Steps to reproduce the issue:**
1. Try the command sequence statet in the "Getting started" section for CentOS 8

**Describe the results you received:**

`dnf install cri-o` reports "no package available"

**Describe the results you expected:**

cri-o should be installed with a simple "getting started" configuration and it should be possible to bring it up with `systemctl start

[2020-05-09 19:32] dougsland commented on #3744
@ecky-l Hi, could you please point the URL ? Right now I am working in a patch to share all releases repo for users. (See: https://github.com/cri-o/cri-o/pull/3733)

[2020-05-10 14:38] dougsland commented on #3740
Indeed, just checked. All bits are available but OBS is not showing the packages or repos for download. I am looking for this specific case.

[2020-05-10 18:54] dougsland commented on #3740
@mclarkson just re-created the repo for 1.17 and it seems working now. Thanks for the report. Please consider closing the ticket if everything is working.

[2020-05-10 19:22] mclarkson commented on #3740
Looks good, thanks very much!

[2020-05-10 19:22] #3740 closed

[2020-05-11 05:35] ecky-l commented on #3744
Hi, @dougsland

I am refering to the CentOS 8 section in the README.md of this project. The copy-paste statements are

[code]

[2020-05-11 07:39] hswong3i commented on #3744
@ecky-l should replace the `[REQUIRED VERSION]` into, e.g. `1.18`: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.18/CentOS_8/devel:kubic:libcontainers:stable:cri-o:1.18.repo

I always double check the URL with browser, e.g. https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.18/CentOS_8/

[2020-05-11 08:48] kungfu71186 commented on #3555
Getting the same issue. Restart the server and i am now getting the same error. This is on kubernetes and not minikube.

`
OS: Fedora 32

runc --version
runc version 1.0.0-rc10+dev
commit: fbdbaf85ecbc0e077f336c03062710435607dbf1
spec: 1.0.1-dev

crio --version
crio version
Version:       1.18.0
GitCommit:     7d79f42b28ad00cf2e7d86604a5a4007303ac328
GitTreeState:  clean
BuildDate:     2020-04-29T

[2020-05-11 11:10] wushuyi opened #3748 "auto delete images is a normal?"
**Description**

default install crio
the crio-wipe.service
auto delete my images is a normal?

/usr/lib/systemd/system/crio.service
[Unit]
Description=Container Runtime Interface for OCI (CRI-O)
Documentation=https://github.com/cri-o/cri-o
Wants=network-online.target
After=network-online.target
After=crio-wipe.service
Requires=crio-wipe.service

**Steps to reproduce the issue:**
1. reboot or shut

[2020-05-11 13:36] dougsland commented on #3744
@ecky-l if the answer from @hswong3i  works for you please consider closing this issue. Thanks!

[2020-05-11 15:03] adrianschroeter commented on #3725
future .repo files created by OBS will contain https:// URLs.

However keep in mind that trusting the SSL of the download server reduces the trust (and it can not work on mirrors). The safer way would be to download the key from OBS directly and verify against gpg key chain.

[2020-05-11 15:17] haircommander commented on #3555
@afbjorklund have you encountered this?

[2020-05-11 15:30] afbjorklund commented on #3555
I think that networking was recently changed to use "kindnet" instead, but I can take another look.

[2020-05-11 15:45] kungfu71186 commented on #3555
I was able to resolve my issue finally. I don't remember exactly what I did before it started to not work, but to resolve it I disabled ipv6. Once I disabled ipv6 it still gave the same error and then once I updated the bridge config to remove ipv6 range, it started to work ok and the error message went away.

[2020-05-11 15:54] afbjorklund commented on #3555
No it wasn't kindnet but the "default networking" (mybridge). And it _seemed_ to work better ?

https://github.com/kubernetes/minikube/commit/7aad0576cc66a01a6ea5b4ee272b26aa9e9fb371

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/bootstrapper/kubeadm/default_cni.go#L25_L45

Reverting that change and going with crio-bridge (instead of rkt.kubernetes.io), to try it again.

[2020-05-11 16:19] haircommander commented on #3725
The problem is outside of cri-o's control, and there's a workaround to build trust (gpg keys). as such, I'm closing this

[2020-05-11 16:19] #3725 closed

[2020-05-11 16:32] afbjorklund commented on #3555
I wonder if this is related: f4214be7c14cada0164f2391a90e1baff9ee1170

[2020-05-11 17:16] haircommander commented on #3748
@wushuyi yes, that is expected. crio-wipe wipes all images of containers it cleans. It is meant for upgrades between minor versions, where kube components will likely have updated their images.

Though, we have since dropped the requirement of the crio-wipe service, as it isn't something everyone wants (https://github.com/cri-o/cri-o/pull/3633/commits/95b65e07f33cfa6c7b682d858cf6744c035c79c1), but

[2020-05-11 19:37] wushuyi commented on #3748
@haircommander thank you for your answer

[2020-05-11 19:37] #3748 closed

[2020-05-11 20:12] korivka commented on #3736
manage_network_ns_lifecycle is set to true

not seeing 'failed to unmount NS' errors in the logs

Deleting `if n.restored ` check in Remove method so that unmount gets called every time fixes the issue
https://github.com/korivka/cri-o/commit/e1eed0e708d136948d31b6d653b2b020e8f84a7b fixes the issue

[2020-05-11 21:54] haircommander commented on #3736
did you mean to close this?

[2020-05-11 21:54] haircommander commented on #3736
Would you like to submit a PR with the fix?

[2020-05-12 06:45] ecky-l commented on #3744
Of course I have done this ;-). Still it doesn't work.
I also checked the URL in the browser, apparently there is a repository and there are packages inside. But still dnf couldn't find any.

What worrys me are the funny colons : in between the path names. Is that really something that has to be that way?

[2020-05-14 15:06] rgembalik opened #3768 "creating read-write layer with ID No such file or directory - crio reading from overlay instead of overlay2?"
**Description**

We have a kubernetes cluster (1.16.9) in which one of the nodes is based on cri-o. (cri-o://1.16.6). From time to time there is a weird error blocking pods from getting up:

[code]

When I check that path, it doesn't exist indeed, but:
1. crio is set to use overlay2, so I'm not sure why it tries to load the layer from `/var/lib/containers/storage/overlay`
2. When I check that path

[2020-05-14 16:22] haircommander commented on #3768
what's the output of
`sudo grep -r 'driver =' /etc/{containers/storage.conf,crio}`

[2020-05-14 16:22] haircommander commented on #3768
@nalind @vrothberg @rhatdan PTAL

[2020-05-14 16:28] rgembalik commented on #3768
@haircommander Full results below. From what I understand in `/etc/crio/crio.conf` the driver in use is overlay2. That's the main reason I was confused.

[code]

[2020-05-14 16:30] haircommander commented on #3768
yup you are correct, have/can you try using `storage_driver = "overlay"` instead? I don't personally know or remember the distinction, but I believe our storage library chooses the right one. (one of the folks tagged will have better insights)

[2020-05-14 17:17] nalind commented on #3768
There's no functional difference between `overlay2` and `overlay` - at the lower levels, they're aliases for the same logic for compatibility reasons, but some of the bits that ensure that things don't get confused when the `overlay2` name is used could be making mistakes here.

[2020-05-14 23:57] DevasiaThomas opened #3769 "crictl inspect does not show privileged status of container"
**Description**
I see if a running container is privileged in docker inspect, but crictl inspect does not show privileged status

**Steps to reproduce the issue:**
1. Start privileged container
2. crictl inspect <containerID of privileged container>
3.

**Describe the results you received:**
Result does not show privileged status of container

**Describe the results you expected:**
Show have some

[2020-05-15 00:18] DevasiaThomas opened #3770 "docker exec -u 0 equivalent for crictl exec"
**Description**
docker exec allows me to get a root shell to a target container via -u 0. How can I achieve the same in cri-o?

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**Additional environ

[2020-05-15 07:04] rgembalik commented on #3768
@nalind @haircommander

One thing I forgot to mention is that there are pods and containers running on that node. It's not all broken. Some images are able to start without a problem. When I `ls` `storage/overlay` and `storage/overlay2` catalogues, both of them contain some layers.

The problem seems to come and go as some containers are failing to start, just to be able to start a few hours later

[2020-05-15 07:15] rgembalik commented on #3768
I just started the same job again and it ran without problems. This kind of random behaviour starts to look to me like some sort of race condition. Now that the container started I checked quickly for that layer on fs and it still exists only in `overlay2`, not in `overlay`.

Could it be that there is an issue when two pods are trying to download the same image at the same time? And one of them wo

[2020-05-15 07:35] saschagrunert commented on #3769
Hey @DevasiaThomas, thank you for the report! The `ContainerStatusResponse` has no dedicated field for the indication that a container is privileged or not. In CRI-O 1.18 we added the full OCI runtime spec to the container status, which provides now more details about the capabilities and mounted devices for example:

[code]
[code]
Since `privileged` is a mixture of multiple configuration options

[2020-05-15 07:40] saschagrunert commented on #3770
Hey @DevasiaThomas, the Container Runtime Interface (CRI) specification does not allow us to implement such feature right now. There is a similar issue (https://github.com/kubernetes-sigs/cri-tools/issues/507) open in cri-tools (crictl), which also came to the conclusion that we cannot support this without changing the CRI. Is there any reason that you cannot switch users when already exec'ed into

[2020-05-15 09:32] rgembalik commented on #3768
When I check `tail -f /var/log/systlog | grep cri` here's what comes up during failed startup, but I can't understand most of it:

[code]

[2020-05-15 10:00] shsjshentao opened #3771 "logs and attach lost when restart crio"
**Description**

we know crio read io from fifo in vm. (/tmp/crio/fifo/io...)
If runtime write logs in fifo file during the crio restart or stopped, the runtime fifo writer will exit and not recovery.

**Describe the results you received:**
no logs can be received
attach cannot use

[2020-05-15 13:30] haircommander commented on #3768
are you running crio as a systemd unit? if so, what's the output of `journalctl -u crio`. It may also be helpful to make the log level debug or info in `/etc/crio/crio.conf`

[2020-05-15 13:59] haircommander commented on #3771
yeah right now kata shim v2 does not work in a restart case. this is the largest tech debt left in closing https://github.com/cri-o/cri-o/issues/1945. I'd deem this as a duplicated ticket to that. Would you mind we closed this and tracked your issues there?

[2020-05-15 14:05] rgembalik commented on #3768
Normally I would, but it turns out that unit logs cut off about two days ago. `systemctl status crio` has the same logs - that is missing last two days.

The issue I am reporting here is much longer, but I don't know why all of a sudden it's not logging into the journal.

Here are the last 100 lines of whatever is available:

[crio-100lines.txt](https://github.com/cri-o/cri-o/files/4634816/crio-10

[2020-05-15 14:20] haircommander commented on #3768
dang that's all ipam, nothing from cri-o...

[2020-05-15 14:20] haircommander commented on #3768
if you see it again can you nab the logs?

[2020-05-15 14:25] rgembalik commented on #3768
The error occurs all the time. Today it blocked in our team about 10 pipelines throughout the day, so if it was logging anything it would be visible in that `journalctl` I uploaded. The same goes for yesterday.

[2020-05-15 14:27] haircommander commented on #3768
can you try setting the log level to `warning` instead

[2020-05-15 14:32] rgembalik commented on #3768
Ok, I set `log_level = "warn"` and reloaded the service. the information about changing log level appeared in `journalctl`, so let's hope the actual error will log there too. I'll let you know when something happens, but that would be probably in the next week.

[2020-05-15 14:34] haircommander commented on #3768
sounds good, thanks @rgembalik

[2020-05-15 17:03] DevasiaThomas commented on #3769
Hi @saschagrunert, thanks for taking time to answer this.
From the k8s perspective you can apply granular privileges, but if you say the container should be privileged or in the docker perspective there is only one option and that is to ask it to be privileged - then from the user perspective it is just one config option.

In k8s you have ``CONTAINERS[] .SECURITYCONTEXT .PRIVILEGED == TRUE`` which

[2020-05-15 17:10] DevasiaThomas commented on #3770
Hi @saschagrunert! Well I use it to get a root shell into any container and then switch to the user I need. The way you suggest is the opposite of what I need and also requires authentication - something I don't have in containers I don't own (ie images I built). If you need more details around the use case, I can provide them privately.

[2020-05-15 18:10] rhatdan commented on #3768
What application is setting up overlay2?  Can we just fix the machine to just use overlay?  We should ix storage to always use overlay even if the user specifies overlay2, since they are the same thing?

[2020-05-15 18:46] rgembalik commented on #3768
@rhatdan Our setup is kinda a mix of kubespray and self-developed kubespray config, so I assume that came from my bosses configuration of the node deployment. While that might be a valid solution for selection between ov and ov2 I kinda think this might not be the core issue here.

The main reason I think that is that those containers are getting up every now and then and working correctly. Howeve

[2020-05-15 19:43] miabbott commented on #3618
@haircommander Yeah, hit this when RHCOS went from `cri-o` 1.17 to 1.18

Template:

[code]

[2020-05-15 19:54] haircommander commented on #3618
master PR [here](https://github.com/cri-o/cri-o/pull/3774) I'll backport to 1.18 when it merges

[2020-05-15 20:04] DevasiaThomas commented on #3580
I'm not sure if should raise another one, but can the stats also show the memory limit on the container? OR the total host memory if there is no limit.

[2020-05-15 20:28] haircommander commented on #3580
seems like separate issue @DevasiaThomas

[2020-05-17 16:34] tedyu commented on #3769
@DevasiaThomas
Can you post the details on this issue ?

I am interested in knowing more about your use case.

[2020-05-18 02:36] Odilhao opened #3776 "Wrong PATH for conmon with the cri-o-1.18.1-1.1.el8 package"
**Description**

After installing the cri-o-1.18.1-1.1 the `/etc/crio/crio.conf` expetecs the conmon binary to be located at `/usr/libexec/crio/conmon` instead of the` /usr/bin/conmon`.

**Steps to reproduce the issue:**
1.  `wget https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.18/CentOS_8/devel:kubic:libcontainers:stable:cri-o:1.18.repo  -P /etc/yum.repos.

[2020-05-18 07:02] rgembalik commented on #3768
I just switched the storage system and checked `journalctl`: Since Friday I see there are hundreds of messages like this one:
[code]
Not sure what it means.

[2020-05-18 07:15] rgembalik commented on #3768
I changed the `storage_driver` option to `overlay` and reloaded with `systemctl reload crio`. Unfortunately, the issue persists. Just fired another build pipeline and it got stuck immediately on creating all `quay.io/buildah/stable` containers. `kubectl describe pod` produces the same message as in the first post:
[code]

Anything else I could safely try?

[2020-05-18 07:57] saschagrunert commented on #3769
I see, I think it will not hurt to add the indicator to the info field. I'll propose a PR for that.

[2020-05-18 07:59] saschagrunert commented on #3776
Hey, this looks like a packaging issue, right @dougsland ?

[2020-05-18 12:37] dougsland commented on #3776
@saschagrunert I need to check, maybe conmon came from different repo. I am going to dig. @haircommander fell free to assign to me.

[2020-05-18 12:54] Odilhao commented on #3776
@dougsland The installed package came from the Appstream repo.

[code]

[2020-05-18 12:56] dougsland commented on #3776
Hey @Odilhao ,

What happens if you take conmon from this repo:

[code]

[2020-05-18 13:10] Odilhao commented on #3776
@dougsland Even with the repo enabled, the dnf is trying to install the package from AppStream:

[code]
With all repos
[code]
I've tried to skip the AppStream, but the dnf couldn't resolve the x86-64 arch:

[code]

[2020-05-18 13:30] dougsland commented on #3776
How about install from binary: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/x86_64/conmon-2.0.16-5.1.el8.x86_64.rpm

[2020-05-18 13:34] Odilhao commented on #3776
@dougsland

Installed without a problem, and the cri-o installation followed with success. It's now using the right path by default:

[code]

[2020-05-18 13:36] dougsland commented on #3776
@Odilhao perfect, thanks for your help!
Related to: https://github.com/cri-o/cri-o/pull/3733

[2020-05-18 16:00] haircommander opened #3780 "Services are unable to preserve UDP traffic when server pod cycles for a NodePort service"
test was disabled in this commit: https://github.com/cri-o/cri-o/pull/3778 and should get re-enabled

[2020-05-18 17:33] #3736 closed

[2020-05-18 20:04] DevasiaThomas commented on #3769
@saschagrunert Thanks Sascha. I hope mini privileges(granular ones by themselves) won't show that the container is privileged.
@tedyu I just want to avoid doing anything with privileged containers(ones marked completely privileged rather than just a few granular privileges).

[2020-05-18 20:06] DevasiaThomas commented on #3770
@saschagrunert Is what I provided enough?

[2020-05-18 20:13] DevasiaThomas opened #3782 "crictl stats should show memory limit of the container as well"
**Description**
Can the stats also show the memory limit on the container? OR the total host memory if there is no limit.

**Steps to reproduce the issue:**
1. crictl stats <containerID>
2.
3.

**Describe the results you received:**
Shows actual usage, but not how much is assigned to the container

**Describe the results you expected:**
Should show actual usage and also show limit assigned to cont

[2020-05-18 22:23] dougsland commented on #3776
@Odilhao could you please help us testing the steps from here: https://github.com/dougsland/cri-o/blob/releases/tutorials/releases.md ?

[2020-05-19 01:12] Odilhao commented on #3776
@dougsland With the tutorial the conmon package is the one from AppStream:

Repolist
[code]

[code]

[2020-05-19 06:59] saschagrunert commented on #3769
No it will just show-up as privileged if the user set it via the pod/container manifest in Kubernetes.

[2020-05-19 07:01] saschagrunert commented on #3770
Yes, unfortunately I don't think that we can much do for you here right now. The CRI needs support for such a use case. I know that there was a request in kubectl as well but I'm not sure if anybody is already working on that topic.

[2020-05-19 11:29] rgembalik commented on #3768
I also tried `systemctl restart crio`, Unfortunately with no luck either. I checked GitLab runner settings and it uses pull policy `IfNotPresent`, so since buildah image is already there, crio should be able to use it as is.

[2020-05-19 13:28] haircommander commented on #3768
what do you have for a pause_image in crio.conf? it's failing on pulling the pause image for some reason. our default is: `k8s.gcr.io/pause:3.1` and you seem to be pulling `gcr.io/google_containers/pause-amd64:3.1`

[2020-05-19 13:29] haircommander commented on #3768
(btw: a reload probably won't work for storage driver, we have to manually support reloaded config values. A restart is more reliable)

[2020-05-19 13:48] rgembalik commented on #3768
@haircommander The crio.conf has indeed the default `k8s.gcr.io/pause:3.1`, while our kubelet.env passes `--pod-infra-container-image=gcr.io/google_containers/pause-amd64:3.1`. That warning is a bit  weird as I do have that image locally:
[code]

Yeah, I thought as much, and that's why I tried a restart as well. Alas, still no improvement.

[2020-05-19 14:05] haircommander commented on #3768
can you set the --pod-infra-container-image and pause_image to be the same? (whichever you want) and see what happens?

[2020-05-19 14:07] haircommander commented on #3768
how disturbing would a system reset be for you? If you stop cri-o, run `rm /var/run/crio/version`, then run `crio wipe` and then restart it, i would be interested in seeing what happens when cri-o is re-bootstrapped

[2020-05-19 14:21] rgembalik commented on #3768
I tried both pause images, neither of them worked. What's more, when I set both to `gcr.io/google_containers/pause-amd64:3.1`, then not only the issue persisted but also kubernetes started getting errors on creating pod sandbox (namely, that it couldn't download that image, despite the fact that it already was there).

Yeah, I think I can try that wipe as most of the work has already stopped in ou

[2020-05-19 14:22] haircommander commented on #3768
thanks for your patience and for working with us :smiley:

[2020-05-19 14:27] rgembalik commented on #3768
Hmm... I think some paths might be different:
[code]
Any idea where to look? In `/var/run/crio/` I have a bunch of symlinks to `/var/run/containers/storage/overlay-containers/` and one directory named `exits`.

[2020-05-19 14:27] rgembalik commented on #3768
Or did you mean `/var/lib/crio/version`?

[2020-05-19 14:35] haircommander commented on #3768
ah yeah sorry I meant that

[2020-05-19 14:35] haircommander commented on #3768
we changed the paths in later versions of cri-o

[2020-05-19 14:40] rgembalik commented on #3768
Hmm... I did that, but I had to manualy umount many leftovers from the containers. After wipe there are still layers in `/var/lib/containers/storage/overlay` and `/var/lib/containers/storage/overlay2`. Should I do anything else?

[2020-05-19 14:51] rgembalik commented on #3768
I also have `/var/run/containers/storage` with similar paths inside, which confuses me even more... Are those some leftovers from previous versions?

[2020-05-19 14:57] haircommander commented on #3768
OK: full system reset then. I would stop cri-o, reboot the node, `rm -rf /var/{run,lib}/containers`, then start kubelet and cri-o.

[2020-05-19 14:57] haircommander commented on #3768
I would think crio wipe would wipe it all, but if there are running containers using the mount points, it will fail. Only way to fully wipe is reboot

[2020-05-19 15:01] rgembalik commented on #3768
Yeah, sorry, didn't think about it. I'm way too much used to docker and it's ways ;) It's a bit shame that crio allowed me to do wipe once containers were running because after that try I can't restart it to clean it up properly.

[2020-05-19 15:03] haircommander commented on #3768
I forgot about it too, no worries.

Did crio not restart after you called crio wipe?

[2020-05-19 15:07] rgembalik commented on #3768
No, it kept crashing complaining about dependencies, although I didn't turn off any other services than crio and kubelet.

[2020-05-19 15:14] haircommander commented on #3768
:upside_down_face: welp, sorry, hopefully the node reboot does the job

[2020-05-19 15:35] rgembalik commented on #3768
Everything went up, some containers are getting up. The one I am interested in the most (i.e. those based on `quay.io/buildah/stable`) can't get up as it looks like quay has some bad day today and keeps throwing 504 on that image.

Anyway, I'll run some test builds, push that 64 threads to some serious work and let you know what happens. I think we'll see the best results once the team starts work

[2020-05-19 15:53] haircommander commented on #3768
Okay, glad to hear! Keep me posted, thanks :smiley:

[2020-05-19 17:23] lsm5 commented on #3776
I guess we should update the crio docs to disable container-tools module for centos8 and 8stream. Users can get the deps from the main OBS repo which has conmon/skopeo etc. and container-selinux from a copr repo. So, something like:

[code]

..followed by the regular instructions to add the crio OBS repo and install crio package. Let me know if that works.

[2020-05-19 18:17] dougsland commented on #3776
@lsm5 for me works. Let's see if @Odilhao say the same.

[code]

[2020-05-19 18:18] dougsland commented on #3776
@Odilhao, just FYI: updated the url I have provided (PR).

[2020-05-19 18:29] Odilhao commented on #3776
@lsm5 @dougsland with the copr enabled and the container-tools disabled, everything looks good

[code]

[2020-05-19 18:30] dougsland commented on #3776
@Odilhao  Thanks for your reply. Please consider closing this ticket. :)

[2020-05-19 18:34] Odilhao commented on #3776
Closing now, thanks for all the help guys.

[2020-05-19 18:34] #3776 closed

[2020-05-19 19:23] GabyCT opened #3786 "Error pulling quay.io/crio/redis"
While running the CRI-O tests on kata-containers, I noticed the following error
[code]
It seems that is not possible to retrieve the image and it is causing to the test to fail

[2020-05-19 19:34] haircommander commented on #3786
https://status.quay.io/ has been down all day :confused:

[2020-05-19 19:37] GabyCT commented on #3786
@haircommander thanks for your answer :(

[2020-05-19 19:44] #3786 closed

[2020-05-19 20:19] DevasiaThomas commented on #3770
Hmm, thats disheartening. especially since the container runtime supports it

[2020-05-20 00:44] DevasiaThomas commented on #3769
@saschagrunert Thanks :)

[2020-05-20 08:12] #3618 closed

[2020-05-20 09:36] rgembalik commented on #3768
Good news/bad news:

**Good**
I am observing the node and so far everything is building as it should. No problems so far.

**Bad**
I talked with my boss (who tried previously fix that issue) and he told me, that he tried to do `crio wipe` a few weeks ago to address mentioned issue and it didn't help back then. From what I gather, the wipe my boss did was of a similar fashion as he renamed `contain

[2020-05-20 13:54] hswong3i commented on #3717
@haircommander confirm cri-o v1.18.1 + Debian 10 + Kubernetes v1.18.2 works perfectly (see https://travis-ci.com/github/alvistack/ansible-role-kube_master/jobs/336414973) ~~~

[2020-05-20 13:54] #3717 closed

[2020-05-21 02:50] npu21 opened #3791 "/var/run/crio/crio.sock doesn't exist"
**Description**

After cri-o installment on Ubuntu, the /var/run/crio/crio.sock dose not exist.
And kubelet will run into error like "failed to run Kubelet: failed to create kubelet: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial unix /var/run/crio/crio.sock: connect: no such file or

[2020-05-21 14:55] haircommander opened #3792 "CPU quota and period needed in runc master"
tests are failing that run runc master because of https://github.com/opencontainers/runc/commit/06d7c1d2616052974ebb39a403a31e4ff95b9a20

```May 21 14:34:37 ip-172-18-15-199.ec2.internal crio[15379]: time="2020-05-21 14:34:37.102375216Z" level=error msg="Container creation error: time=\"2020-05-21T14:34:37Z\" level=warning msg=\"signal: killed\"\ntime=\"2020-05-21T14:34:37Z\" level=error msg=\"con

[2020-05-21 14:55] haircommander commented on #3792
cc @kolyshkin

[2020-05-21 16:54] saschagrunert commented on #3791
Hey, is CRI-O running on your machine? What’s the output of:
[code]

[2020-05-23 14:07] vivekanandpoojari commented on #3555
I tried this method and it works. The crio cni files have ipv6 by default. My host did not have IPv6 enabled. This work around is useful in cases IPv6 is disabled on the host or not correctly configured.

[2020-05-23 16:15] b23prodtm commented on #1767
It looks that runc is installed in find / -name runc on Ubuntu 19.10:

    /usr/bin/runc

_version: 1.0.1-dev_

[2020-05-23 23:10] dougsland commented on #3791
@npu21 what's the ubuntu version? I can try to reproduce locally.

[2020-05-23 23:13] dougsland commented on #3744
Hi @ecky-l ,

Could you please re-try? Everything seems to be working.

Yes. It's the way OBS works.

[2020-05-24 01:34] dougsland commented on #1767
@b23prodtm thanks for the reply. Yes, recently we have updated the repos. Everything should be working out-of-the-box.

@outcoldman Please consider re-testing and closing this report.

Thanks!

[2020-05-26 14:56] haircommander commented on #3555
Given the work around, can this issue be considered closed, or is there a change folks would like to see?

[2020-05-26 19:01] DevasiaThomas opened #3803 "su throws system error in crio started containers"
**Description**
I have the same image being started in the same cluster by k8s. One node runs docker and the other runs cri-o.
The container started by docker has no issues running su, but the one started by cri-o just says ``su: system errror``
This is consistent across the following
``runc exec <containerID> su``
``docker exec/crictl exec <containerID> su``
``kubectl exec -it <pod> sh`` and then

[2020-05-26 19:09] haircommander commented on #3803
I don't know if this will actually help, but I found [this](https://unix.stackexchange.com/questions/193499/cant-switch-to-a-specific-system-account-with-su) article and wonder if specifying a different shell yields any success?

[2020-05-26 19:10] haircommander commented on #3803
it is possible we're not correctly setting up /etc/passwd inside the container. I'd be interested in what `cat /etc/passwd` yields in both docker and cri-o

[2020-05-26 19:11] haircommander commented on #3803
also what's the output of `cat /etc/crio/crio.conf.d/00-default.conf  | grep capa -A 12`

[2020-05-26 19:16] DevasiaThomas commented on #3803
Well I can't get su to work within the container the binary itself fails with that error and hence further arguments are ignored.

[2020-05-26 19:17] DevasiaThomas commented on #3803
[code]

[2020-05-26 19:21] DevasiaThomas commented on #3803
Docker
[code]
cri-o
[code]

[2020-05-26 19:23] haircommander commented on #3803
and what's the output if you do `kubectl exec -ti <pod> whoami`

[2020-05-26 19:26] DevasiaThomas commented on #3803
Both are ``root``

[2020-05-26 19:33] haircommander commented on #3803
I will work on reproducing

[2020-05-26 19:54] DevasiaThomas commented on #3803
@haircommander This is how I set up a crio-node for my existing k8s 1.16 cluster.
https://github.com/DevasiaThomas/Kubernetes-Cluster-Installer-NonHA-CentOS7/wiki/Crio-node

[2020-05-26 20:29] haircommander commented on #3803
update: i was able to reproduce, and podman doesn't have the same issue. I am investigating

[2020-05-26 20:33] DevasiaThomas commented on #3803
Are you saying you got the system error with crio but not with podman? Sorry, I haven't used podman yet but will soon start working on it in the future.

[2020-05-26 20:53] haircommander commented on #3803
found it! It had to do with capabilities. CRI-O ships with fewer capabilities by default than podman does. One such capability is CAP_AUDIT_WRITE. I bet docker also gives containers CAP_AUDIT_WRITE by default. More capabilities==less secure :smile:

if you change the pod spec to
[code]
it works as expected

[2020-05-26 20:56] haircommander commented on #3803
(podman or docker are less secure by default because they're used for debugging containers and playing around with them. Without those capabilities, weird issues like this pop up. CRI-O is only meant for running containers in production, so we drop as many capabilities as we can)

[2020-05-26 21:02] DevasiaThomas commented on #3803
hmm but is this required if I'm doing an run exec -u 0, I am after all entering as root into that container. Why should root have lesser privileges?

[2020-05-27 00:24] haircommander commented on #3803
container processes are run inside of a user namespace (among other namespaces). Namespaces are a key linux isolation mechanism, and most of how containers can act like light weight VMs. Where the container process sees itself as root, from the outside, the container is actually a different user in the host's user namespace. This means it is less powerful than root on the host. This is good, as we

[2020-05-27 13:42] hanneshoettinger commented on #2858
@TristanCacqueray did you manage to run crio as unprivileged user? if yes, how?

[2020-05-27 13:55] giuseppe commented on #2858
it must be in the same namespaces as the Kubelet and the rest of Kubernetes, so that is not possible, unless we add extra logic for joining namespaces.

[2020-05-27 13:55] AkihiroSuda commented on #2858
@hanneshoettinger See https://github.com/rootless-containers/usernetes#install (`./install.sh --cri=crio`)

[2020-05-27 13:56] hanneshoettinger commented on #2858
_CRIO_ROOTLESS=1 worked for me.

[2020-05-27 14:27] TristanCacqueray commented on #2858
@hanneshoettinger yes, using `usernetes`. Though I am having some issues with SELinux : https://github.com/rootless-containers/rootlesskit/issues/94 .

[2020-05-27 15:37] rhatdan commented on #3803
Why is su writing to the audit file?  Seems like a PAM Module that could be modified to not attempt to send the audit message.  There is no reason that audit messages should be written from within a container. There is potential that these messages could be used to cause problems on the system.

[2020-05-27 15:54] rhatdan commented on #3803
I am not sure how you can get this failure. Trying this with Podman it works.

[code]

[2020-05-27 17:10] haircommander commented on #3803
try the container used here (or debian:stretch, as that seems to be the base):
[code]

[2020-05-27 17:13] haircommander commented on #3803
actually, I needed root to get that. with rootless I have other troubles:
[code]

[2020-05-27 17:30] #2858 closed

[2020-05-27 18:56] DevasiaThomas commented on #3803
@haircommander and I agree this seems like a problem with the debian image as this doesn't happen in the latest image. Adding that CAP seems to be the best bet.
Closing this issue. Thanks guys :)

[2020-05-27 18:56] #3803 closed

[2020-05-28 16:15] mrunalp opened #3807 "Add metrics for image pull failures"
We should add metrics for image pull failures, so we can add alerts for situations like quay.io going down.

Off the top, we could start with:
1. A registry is unreachable.
2. Authentication error.

@mtrmac @vrothberg @saschagrunert Thoughts?

[2020-05-28 16:50] saschagrunert commented on #3807
Sounds good to me, we could also count the successful downloads. This way the user doesn’t have to calculate: pull operations - failures

[2020-05-29 07:16] vrothberg commented on #3807
All proposals sounds like a reasonable addition :+1:

[2020-05-29 09:28] Nefelim4ag opened #3808 "On container creation: Failed to activate service 'org.freedesktop.systemd1': timed out (service_start_timeout=25000ms)"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
We moved to use CRI-O 1.17.2 on our clusters
OS latest U18.04 used
K8s 1.16.8

After that we sometime experience different errors from DBus daemon, like that:
[code]
systemctl reload dbus - helps for some time, because that drop all dbus connections IIRC.

[2020-05-29 10:19] saschagrunert commented on #3807
Proposed a solutoin in #3809

[2020-05-29 18:42] mrunalp commented on #3808
@Nefelim4ag Can you check if there are any leaks in the number of units/scopes
`systemctl list-units` ?

[2020-05-31 07:02] therevoman commented on #3233
I ran into this error while deploying kubespray on a Pine64 cluster running Fedora 32.  I'd like to continue with kube 1.18, but the calico images will not pull with crictl because of this issue.

Nodes are [Pine64 Sopine](https://www.pine64.org/sopine/) modules, which report arm64 v8.

`fatal: [controller-1 -> 192.168.88.22]: FAILED! => {"attempts": 4, "changed": true, "cmd": ["/usr/local/bin/cri

[2020-06-01 08:50] Nefelim4ag commented on #3808
@mrunalp
You mean something like this?
[code]

[2020-06-01 13:38] haircommander commented on #3233
@therevoman AFAICT, this will be fixed in https://github.com/cri-o/cri-o/pull/3797. I will work on backporting the required PRs to 1.17 and 1.16. thanks for the patience folks :+1:

[2020-06-01 17:54] haircommander commented on #3610
turns out this is not possible, as we cannot specify kernel args in circle. the check will remain non-fatal

[2020-06-01 17:54] #3610 closed

[2020-06-01 17:58] haircommander commented on #3770
This can be solved by running `su -` and then continuing with the exec session. The larger-scoped CRI change would need to happen for us to do anything else. @DevasiaThomas would you be alright if we closed this ticket?

[2020-06-01 18:01] haircommander commented on #3768
yeah I understand the difficulty @rgembalik. It's hard for us to prune orphaned layers because other tools (buildah) may legitimately want them, so cri-o can't unconditionally remove them, nor can it really find them because it accesses images on an image digest level, not layer level. I am not sure there is much cri-o specifically can do here, other than hope that the `overlay` change fixes the p

[2020-06-01 18:02] haircommander commented on #3791
hey @npu21 any updates here?

[2020-06-01 18:03] DevasiaThomas commented on #3770
@haircommander :) and we know that su can have issues #3803. Yes I'll close the ticket. Solving this using runc is a viable option as well.

[2020-06-01 18:03] #3770 closed

[2020-06-01 18:03] haircommander commented on #3771
Since I've gotten no response, I am going to close this in favor of tracking the problem in #1945
thanks for opening the report

[2020-06-01 18:04] #3771 closed

[2020-06-01 18:05] haircommander commented on #3719
@Sh4d1 is there any action you'd like us to take, or are you alright with me closing this ticket?

[2020-06-01 18:05] Sh4d1 commented on #3719
I'll close :)

[2020-06-01 18:06] #3719 closed

[2020-06-01 18:09] haircommander commented on #3719
thank you for the report!

[2020-06-01 18:29] rgembalik commented on #3768
@haircommander Yeah, our team didn't report any issues, so the issue is solved.

I am sure there are discussions about pruning images in crio, so I am not going to argue your point here. In my case `crictl image prune` would just allow me to fix the issue without having to wipe the entire overlay and that's why I would welcome such feature. But I recognize that's a subjective opinion, so I'll leav

[2020-06-01 18:29] #3768 closed

[2020-06-01 18:34] haircommander commented on #3768
happy to help, thanks for the report :smiley:

[2020-06-01 18:36] haircommander commented on #3338
@chavafg do we have any updates here?

[2020-06-01 18:38] haircommander commented on #3437
@syedriko hm, I find it odd you're using the podman cni config for cri-o. Usually we ship a much simpler one, and don't test against the podman one. We'd love any help finding what's going on though, the networking is out of my scope and those that have had more time in that part of the code are often swamped

[2020-06-01 18:41] haircommander commented on #3339
unfortunately, containers don't really handle logging all that intelligently. We're just forwarding what the container's pid 1 sends to stdout/stderr. We don't have any mechanism to control how the data gets to stdout/stderr, including keeping threads inside of the first process in order. You will need to implement the locking in your container to keep your threads from stepping on each other.

[2020-06-01 18:41] haircommander commented on #3339
@wiwats2019 sorry I can't be of much help. Given that, are you okay with me closing this ticket?

[2020-06-01 18:51] syedriko commented on #3437
@haircommander This was my first try at setting up a dev env for Kube node work. I built my own cri-o and had podman installed with its CNI config so I hoped to get away with this. I'll pick up the cni confg that cri-o ships once I get back to this.

[2020-06-01 18:57] #3555 closed

[2020-06-01 18:57] haircommander commented on #3555
closing, please reopen if you disagree or the work around does not work for you

[2020-06-01 19:04] #3792 closed

[2020-06-01 19:04] haircommander commented on #3792
this was fixed in runc

[2020-06-01 19:16] haircommander commented on #3651
https://github.com/cri-o/cri-o/pull/3709 has merged, closing this

[2020-06-01 19:16] #3651 closed

[2020-06-01 19:18] haircommander commented on #3581
@evanfoster have you been able to update to 1.17.4? has it fixed the issues? if so, can we close this ticket?

[2020-06-01 19:18] haircommander commented on #3581
@evanfoster have you been able to update to 1.17.4? has it fixed the issues? if so, can we close this ticket?

[2020-06-01 19:20] haircommander commented on #3311
hey @skycastlelily2 I don't see any update here, were the issues figured out or was the attempt dropped? either way, is there any further help that is needed?

[2020-06-01 19:22] haircommander commented on #3301
what is this `cgroups-v2.patch` you're adding?

are you not able to just run `make` inside of the directory? It may be easier to verify using go build rather than the rpm spec

[2020-06-01 19:24] haircommander commented on #3302
hey @ghglza do you have any update here? Sorry for the super late reply. it's also possible the containers are still running but cri-o has lost track of them. does `runc list` print any containers?

[2020-06-01 19:25] haircommander commented on #3437
sounds good!

[2020-06-01 19:36] haircommander commented on #2849
We have mitigated this with the option `manage_ns_lifecycle` in cri-o, which does not allow for races with kernel namespace tearing down. as such, I am closing this. please reopen if you disagree

[2020-06-01 19:36] #2849 closed

[2020-06-01 19:38] haircommander commented on #2774
1.15.x is out of support now, and we've changed where we package from. as such, I believe this issue is stale, and I'm closing as such. Please reopen if you disagree

[2020-06-01 19:38] #2774 closed

[2020-06-01 19:50] haircommander commented on #3808
@Nefelim4ag I have a suspicion that many of your units are inactive, and could be cleaned up
what's the output of `systemctl list-units --all | grep crio | grep inactive` ?

for context, we are working on having systemd do this automatically (by settting the CollectMode to inactive-or-failed), but we need to do some branching on systemd version to make sure we have the option. you can follow that

[2020-06-01 20:24] evanfoster commented on #3581
Apologies for not getting back to you. 1.17.4 fixed our problem and this issue can be closed.

As an aside, `runtime_type="vm"` made `virtio-fs` perform *substantially* better. Thank you so much for pointing me that way! I'm pretty curious to know why `vm` performs so much better than `oci` in this case, but that's out of scope for this ticket.

[2020-06-01 20:53] #3581 closed

[2020-06-01 20:55] haircommander commented on #3581
excellent to hear! I don't know the specifics, but I know shim v2 (runtime type vm) is the way to go for kata. I think it has to do with the way data is passed between the container manager (cri-o) and the vm

[2020-06-02 02:17] shsjshentao commented on #3771
ok, i have finished crio restart used by vm and move log behavior to shim in case lost io

[2020-06-02 10:17] Nefelim4ag commented on #3808
@haircommander all of them in failed state:
[code]

i.e. i don't have inactive units :)

[2020-06-02 13:19] haircommander commented on #3808
ah! per: https://www.freedesktop.org/software/systemd/man/systemd.unit.html, CollectMode defaults to `inactive` and failed scopes are not cleaned up. changing the CollectMode would solve the leak
(I should have asked for failed scopes, but we arrived at the same conclusion despite my being confused :smiley: )

[2020-06-02 13:29] squeed commented on #2849
@haircommander cool, thanks for following up. That's a decently large enough change to grok, so one question for you: we don't pass namespaces with pids to CNI anymore, right?

[2020-06-02 13:34] haircommander commented on #2849
nope! they're bind mounted in a similar way that rkt did it

[2020-06-02 15:58] yfstein opened #3818 "CentOS 8 Installation: invalid conmon path: stat /usr/libexec/crio/conmon: no such file or directory"
BUG REPORT INFORMATION

**Description**
I have installed CRI-O on CentOS 8 server - after that, i tried to `systemctl enable crio` where i saw its not started. Tried to start it with the result `invalid conmon path: stat /usr/libexec/crio/conmon: no such file or directory`

**Steps to reproduce the issue:**
1. Install CRI-O on CentOS 8 server with steps from README.md

[code]

[code]

2. Try to st

[2020-06-03 08:30] yfstein commented on #3818
Duplicate:
https://github.com/cri-o/cri-o/issues/3776

[2020-06-03 09:05] yfstein commented on #3776
Hey Guys,
i would assume to re-open this. I reproduced it today on CentOS 8.1 with the steps here given, but going to get this:
[code]

I would help, but you need to say what you need^^

[2020-06-03 09:30] spaced commented on #3744
for a `stable` repo the urls should be stable. for example

https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.16/
-> CentOS_7 gone
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.17/
-> CentOS_7 gone
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.18/
-> CentOS_8 gone, but there

[2020-06-03 13:15] haircommander commented on #3818
is your problem solved by the information in #3776 then @yfstein ?

[2020-06-03 14:48] spaced commented on #3744
after browser refresh all repos looks fine now, but
yum install failed because
[code]
because
[code]
what yum does not like.

[2020-06-03 21:02] #3769 closed

[2020-06-03 21:41] kubealex opened #3823 "calico not working on fresh k8s installation with cri-o as CRI"
**Description**

Following the guide on kubernetes installation, I wanted to try the combination:

cri-o as container runtime
calico as cni plugin

The scenario is an HA install with:

2 Master nodes
2+ worker nodes

I am actually able to install cri-o and deploy the first master, set the --pod-network-cidr during kubeadm init phase then the problem rises.

By default, cri-o uses the crio-bridge c

[2020-06-03 22:33] Nefelim4ag commented on #3808
@haircommander, can you please explain why that units leads to problems with Dbus?
And can we someway fix that? i.e. write simple service which will collect / delete failed units?

[2020-06-04 01:06] mrunalp commented on #3808
@Nefelim4ag Can you try running `systemctl reset-failed` and see if the failed units get cleaned up? Meanwhile, we will fix this in CRI-O by setting the CollectMode for the runc containers.

[2020-06-04 08:52] #3807 closed

[2020-06-04 13:32] haircommander commented on #3823
interesting, from what I can tell, the default plugin_dirs is `[/opt/cni/bin]`

how did you install cri-o? and (for sanity check) what's the output of `crio config  | grep -A 3 plugin_dirs`

[2020-06-04 13:56] Nefelim4ag commented on #3808
@mrunalp doesn't help, i.e. we recreate many containers and got again:
[code]
[code]

Run `systemctl reset-failed` - doesn't resolve problem

[2020-06-04 14:04] ghglza commented on #3302
No update -- the problem is still there with k8s v1.18.3 / cri-o v1.18:

* Installed, and then deleted the cluster with "kubeadm reset"
* Output of "runc list" is empty (same for "crictl ps")
* "crictl rmi kube-proxy:v1.18.3" on the master node fails, crictl complains about the image being in use
* Interesting is that the kube-proxy container had been deleted directly after cluster instantiation,

[2020-06-04 14:14] haircommander commented on #3302
what's the output of `mount | grep containers`?

[2020-06-04 14:24] ghglza commented on #3302
[code]

[2020-06-04 14:28] haircommander commented on #3302
what the heck...
does a `podman rmi 6d5fcfe` do the job? also what's `podman ps -a`

[2020-06-04 14:41] ghglza commented on #3302
Now this is funny:

[code]
podman seems to think that all 4 container instances that were using kube-proxy:v1.18.3 in the last weeks are still running?!?
I.e. each time the cluster had been deleted and  reinstalled with, a sort of "container zombie" seems to be left behind

[2020-06-04 14:43] haircommander commented on #3302
ah! you need to specify on the command line `--rm` or the container will still be mounted and tracked in the database.
if you do a `podman rm -a`, then a `podman rmi 6d5fcfe`  that should do it

[2020-06-04 14:44] ghglza commented on #3302
And of course, after "podman rm ..." the container zombies, "crictl rmi..." works fine

[2020-06-04 15:01] haircommander commented on #3302
huzzah! any further needs before we close this ticket?

[2020-06-04 15:24] ghglza commented on #3302
Ok, thanks a lot for clarifying this!
As we currently cannot reproduce the problem when the cluster is running (i.e. cri-o fails to remove an image if triggered by the kubelet) I think you can close this ticket.

[2020-06-04 15:36] haircommander commented on #3302
thanks for the report!

[2020-06-04 15:36] #3302 closed

[2020-06-04 17:59] haircommander commented on #3803
note: once we get https://github.com/seccomp/containers-golang/pull/27 in, we may prevent the need to give this container audit_write

[2020-06-04 19:27] tedyu opened #3831 "namespace assertion fails for unit test"
**Description**
Assertion in namespaces_test.go frequently fails
e.g. https://circleci.com/gh/cri-o/cri-o/61419?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]
**Describe the results you received:**
Here is the assertion that fails:
[code]
**Describe the results you expected:**
The test should pass.

**Output of `crio --version`:**

[code]

[2020-06-04 20:14] saschagrunert commented on #3831
This gets “fixed” by https://github.com/cri-o/cri-o/pull/3827, unfortunately I’m not sure why it flakes in our CI. This was not reproducible on my local machine.

[2020-06-04 20:48] #3831 closed

[2020-06-04 22:48] kubealex commented on #3823
I followed the instructions on kubernetes website:

[](https://kubernetes.io/docs/setup/production-environment/container-runtimes/
)
On centos/rhel7:

[code]

Below you can find what outputs from my config:

[kube@k8s-master-0 ~]$ crio config | grep -A 3 plugin_dirs
INFO Using default capabilities: CAP_CHOWN, CAP_DAC_OVERRIDE, CAP_FSETID, CAP_FOWNER, CAP_SETGID, CAP_SETUID, CAP_SETPCAP, CAP_NET_BI

[2020-06-04 23:17] tedyu opened #3835 "mock has been called the max number of times"
**Description**
unit test triggers 'has been called the max number of times' on Fedora 31

**Steps to reproduce the issue:**
1. make unittest

**Describe the results you received:**
[code]

**Describe the results you expected:**
unit tests pass.

**Output of `crio --version`:**
This was observed master branch.

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2020-06-05 00:22] haircommander commented on #3823
also, while we're at it, what's
`crio config | grep network_dir`

[2020-06-05 00:22] haircommander commented on #3823
I will look at this tomorrow and see what's going on

[2020-06-05 07:21] saschagrunert commented on #3835
This is unfortunately not reproducible on my machine, @haircommander can you have a look if you're running on Fedora?

[2020-06-05 16:01] kubealex commented on #3823
[kube@k8s-master-0 ~]$ crio config | grep network_dir
INFO Using default capabilities: CAP_CHOWN, CAP_DAC_OVERRIDE, CAP_FSETID, CAP_FOWNER, CAP_SETGID, CAP_SETUID, CAP_SETPCAP, CAP_NET_BIND_SERVICE, CAP_KILL
# CRI-O will pick-up the first one found in network_dir.
network_dir = "/etc/cni/net.d/"

Please don't hesitate to assing me tasks if you need further analysis, if I can help, it would be a pl

[2020-06-05 17:48] haircommander commented on #2207
closing per^ comment. please reopen if you disagree

[2020-06-05 17:48] #2207 closed

[2020-06-05 17:52] haircommander commented on #2669
this issue was fixed with #2668

[2020-06-05 17:52] #2669 closed

[2020-06-05 17:57] haircommander commented on #2030
I think we're successfully running this test on rhel

[2020-06-05 17:57] #2030 closed

[2020-06-05 18:11] haircommander opened #3840 "follow ups from #3810"
After the merge of: https://github.com/cri-o/cri-o/pull/3810, there are two follow ups that we should consider:
    check available memory for cgroupfs
    automatic detection of cgroup manager instead of branch on configured manager

creating an issue to track

[2020-06-05 20:34] haircommander commented on #3823
@dougsland should be putting up a fix soon :smiley:

[2020-06-05 20:35] haircommander commented on #3835
I haven't been able to reproduce either

[2020-06-05 21:22] yfstein commented on #3818
I thougt, but there was anything wrong so i started a testserver with fresh centos8 installation. Just done some ssh_config changes - after that tryd to install crio. Here my complete setup from a fresh test system:

[code]

So i think its isnt solved for now.

[2020-06-06 15:48] brightzheng100 opened #3844 "cri-o v1.18.x is not available on Ubuntu?"
**Description**

cri-o v1.18.x is not available on Ubuntu while v1.15, v1.16, v1.17 are.

**Steps to reproduce the issue:**

Run as root:

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

The doc has indicated that all desired versions should be available to install.
I'm expecting v1.18 at this moment.

**Additional environment details (AWS, VirtualBo

[2020-06-06 16:00] haircommander commented on #3844
AFAIU it's because OBS on ubuntu hasn't gotten proper support for the required go version. Is that correct @dougsland

[2020-06-06 22:31] dougsland commented on #3844
CRI-O 1.18  requires go 1.13 to compile. Thus, we are unable to support building on operating systems that do not have go 1.13. Users can always build golang/crio manually.

[2020-06-07 20:14] afbjorklund opened #3845 "Strange output from version"
Previous output:

[code]
Updated output:

[code]

I _tried_ to supply the GIT_COMMIT also with the new make variables, but that info seems missing.
That is, it is not available when building the release from the tarball but only when building from git.

Laptop output:
[code]

`make COMMIT_NO=5cbf694c34f8d1af19eb873e39057663a4830635 PREFIX=/usr binaries`

Is there something more needed ? Are there

[2020-06-07 20:17] afbjorklund commented on #3845
As per above, we expect the output to look like:

[code]

This new output doesn't really parse any longer.

[2020-06-07 20:28] afbjorklund commented on #3845
The reason the git information is gone, is because it is now using the global ${LDFLAGS} variable.

[code]

Since we build with CPPFLAGS/CFLAGS/CXXFLAGS/LDFLAGS set, the version information is lost.

`LDFLAGS=""`

This EXTRA_LDFLAGS is not really described anywhere, not more than COMMIT_NO was anyway.

[2020-06-07 20:32] afbjorklund commented on #3845
Anyway, the end result is only that the version number is missing from the start information:

`🎁  Preparing Kubernetes v1.18.2 on CRI-O  ...`

It seems to be working OK.

[2020-06-08 04:40] mrunalp commented on #3844
Ca we setup a ppa for 1.18 meanwhile?

[2020-06-08 16:25] afbjorklund commented on #3844
Ubuntu 20.04 has go 1.13 support

[2020-06-08 16:55] haircommander commented on #3844
and we currently support it with go 1.18 :)

[2020-06-09 07:31] AkihiroSuda opened #3856 "rootless: regression between May 20-June 8: failed to "CreatePodSandbox":: ...: conmon cgroup system.slice invalid for cgroupfs"
**Description**

https://github.com/rootless-containers/usernetes/pull/161/commits/3637546a5ebc49f6f0ac4c3ff1c29f4132018b4e

Rootless mode got broken between May 20 and June 8 (ad83d2a35a30b8a336b16a0ea5f7afc6aebfb9b7...ed409ae3fb4591164d763d88cba1409c4c94c6d8)

**Steps to reproduce the issue:**
1. Checkout rootless-containers/usernetes@3637546a5ebc49f6f0ac4c3ff1c29f4132018b4e
2. Set `CRIO_COMMIT`

[2020-06-09 07:34] AkihiroSuda commented on #3856
Suspicious commit: https://github.com/cri-o/cri-o/commit/ac966530c7f57e6d42c142a207b94239b9d98be4

[2020-06-09 17:25] mrunalp commented on #3835
I don't see this either. Also, we haven't seen this on CI. Could this be closed?

[2020-06-09 17:26] #3835 closed

[2020-06-09 17:50] haircommander commented on #3856
if you're using cgroupfs, you need to change `conmon_cgroup` to `pod`, or some other cgroup path. it was mentioned in the release notes section in https://github.com/cri-o/cri-o/pull/3810

[2020-06-09 17:51] haircommander commented on #3856
your suspicion is correct

[2020-06-09 21:05] haircommander commented on #1975
this can be fixed with a combination of setting `conmon_cgroup` to something that isn't `pod` (for instance, `system.slice` if you're using systemd, or a dedicated slice. As such, I am going to close this. please reopen if you disagree. Thanks for opening @mcluseau

[2020-06-09 21:05] #1975 closed

[2020-06-09 21:06] haircommander commented on #2036
no news here, though I'd like to see this get done. sorry for the (extreme) delay @arthfl

[2020-06-09 21:07] haircommander commented on #1824
I think this is no longer a problem. please reopen if you disagree

[2020-06-09 21:07] #1824 closed, assigned to mrunalp

[2020-06-09 22:11] kubealex commented on #3823
I can confirm that changing crio.conf to handle /opt/cni/bin instead of /usr/libexec/cni/ makes everything work like a charm.

[2020-06-10 00:56] mrunalp commented on #3856
@AkihiroSuda @haircommander We could add a rootless flag to the cgroup manager if needed.

[2020-06-10 02:30] haircommander commented on #3856
We could also just detect if we're rootless and not fatally error if so. Though, I am pretty sure @AkihiroSuda's configuration would fail as root as well, so I'm curious if it would be fixed by fixing the conmon_cgroup

[2020-06-10 02:48] haircommander opened #3862 "--cni-plugin-dir flag acts strangely"
**Description**
in researching a fix for https://github.com/cri-o/cri-o/issues/3823, I found bug where we always overwrite the first plugin_dir to the values in a config file when using `--cni-plugin-dir`, instead of taking the cli as precedence

This is all with `plugin_dirs` defined in both /etc/crio/crio.conf and /etc/crio/crio.conf.d/00-default.conf:
[code]

**Describe the results you received

[2020-06-10 02:50] haircommander commented on #3862
I also suspect other slice config values behave similarly, probably should test them all in integration/unit tests...

[2020-06-10 05:27] AkihiroSuda commented on #3856
Thanks for the answer

[2020-06-10 05:27] #3856 closed

[2020-06-10 07:08] saschagrunert commented on #3862
@rhafer maybe wanna take this one? :)

[2020-06-10 07:21] skycastlelily2 commented on #3301
Hi, thanks for your information,I'm pretty new to go.But after take use of the runc built by "go build",the test still failed. I've checked,it seems that test 2-48 all failed for the same reason, and here is the test 2 part log:

not ok 2 ctr termination reason Completed
# (in test file ctr.bats, line 46)
#   `[ "$status" -eq 0 ]' failed
# level=info msg="Using default capabilities: CAP_CHOWN, CAP

[2020-06-10 08:10] rhafer commented on #3862
@saschagrunert Yeah. I'll take a look.

[2020-06-10 09:01] poladiaraj opened #3863 "crictl pull not working - invalid status code from registry 502 (Bad Gateway)"
On server running Oracle Linux 7.5, with crio version 1.17.0 facing issues while pulling image from private docker registry (insecure) .

FATA[0001] pulling image failed: rpc error: code = Unknown desc = error pinging docker registry <registry IP>:<registry PORT>: invalid status code from registry 502 (Bad Gateway)

although if I use podman to pull image then image gets pulled successfully. Is it

[2020-06-11 02:30] mtrmac commented on #3863
Why doesn’t “502 bad gateway” mean exactly what it says?

Nothing in the docker/distribution repository, at least, uses that error code to report specific error situations, so I would suggest starting at the server side to figure out which component is reporting that and why.

(That doesn’t necessarily mean that c/image is not being the difference between the two versions, but I’m not going to jus

[2020-06-11 05:18] poladiaraj commented on #3863
Is there any difference between the request sent to registry between crictl pull and podman pull or docker pull for insecure registries? Because crictl pull is working for docker hub it's not working for private insecure registry setup locally.

[2020-06-11 06:56] poladiaraj commented on #3863
Had to remove proxy configured in /etc/sysconfig/crio file to make it work.

[2020-06-11 06:56] #3863 closed

[2020-06-11 16:37] rhafer commented on #3862
It looks as if `mergeConfig()` is not really idempotent. Upon a subsequent calls it might overwrite some args in the cli context. And in the case of `crio config` it is actually called twice via `GetConfigFromContext()`.  (here: https://github.com/cri-o/cri-o/blob/master/cmd/crio/main.go#L147 and here: https://github.com/cri-o/cri-o/blob/master/cmd/crio/config.go#L52). The same is true for `crio w

[2020-06-11 16:42] saschagrunert commented on #3862
Sounds all good to me, thank you @rhafer :pray:

[2020-06-12 08:30] vivekanandpoojari opened #3869 "cri-o runtime gets into a loop while trying to get a shell from from hello world image"
[kubeletLogsContainerd.txt](https://github.com/cri-o/cri-o/files/4800269/kubeletLogsContainerd.txt)
**Steps to reproduce the issue:**
1. kubectl run -i myscan --image=hello-world --restart=Never --rm=true --command -- sh

**Describe the results you received:**
This command never returns.
For containerd runtime we immediately get an error that shell does not exist in the path.
For cri-o kubelet rep

[2020-06-13 07:31] afbjorklund commented on #3844
For some reason it is not showing up in the package list for Ubuntu 20.04

`E: Unable to locate package cri-o-1.18`

Home page still suggests to use previous, but I guess that is for 16.04/18.04

`CRIO_VERSION=1.17`

[2020-06-13 07:46] afbjorklund commented on #3844
Something is definitely weird:

[code]

Supposed to be `amd64`...

[code]

Can't see the deb file for 1.18 anywhere on the site, either ?

http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/

So I'm not sure about "supported", did it test OK somewhere ?

Only in: https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable:cri-o:1.18

The `cri-o

[2020-06-13 07:48] afbjorklund commented on #3844
"Users can always CRI-O 1.17", is more likely to happen. When you bump the go requirements ahead of Kubernetes, I mean... Upstream is still using `go1.13.8` (soon 1.13.9)

[2020-06-13 10:50] afbjorklund commented on #3844
@haircommander : it would be great if this could be released next week, then it could go into minikube 1.12 (scheduled for end of June). We have upgraded ubuntu from 19.10 to 20.04, but still cri-o-1.17

`apt-get install -y --no-install-recommends cri-o-1.17`

See https://github.com/kubernetes/minikube/pull/8251

Also had to pin podman due to another issue (with build), but that should be fixed no

[2020-06-13 16:50] kubealex opened #3872 "Missing MKNOD capability makes rancher setup fail"
**Description**

Some tools require creation of files/paths with MKNOD, like Rancher, and it fails hard when trying to install on k8s with cri-o.

**Steps to reproduce the issue:**
1. Install k8s
2. Install rancher
3. Enjoy failure on startup

**Describe the results you received:**

2020/05/20 08:38:26 [INFO] Rancher version v2.4.3 (684884c) is starting
2020/05/20 08:38:26 [INFO] Rancher arguments

[2020-06-14 03:26] haircommander commented on #3872
Hey @kubealex !
We prefer to keep CRI-O as secure as possible by default. However, you can add capabilities by adding a drop-in file to your config dir (by default `/etc/crio/crio.conf.d/`)
[code]
Is that a sufficient fix for you?

[2020-06-14 21:24] kubealex commented on #3872
sure, it works, but some missing capabilities break even compatibility with coredns, since it requires the NET_RAW capability to correctly serve dns requests on kube-dns service.

I don't know if it is a strict security requirements, but you should work together with rancher and coredns team to find a match and make it work, maybe adding capabilities in the deployment.

[2020-06-15 14:01] rhatdan commented on #3872
Mknod and NET_RAW are two very powerful capabiltiies, that 99% of containers around the world do not need.  We should NOT turn them on by default.  Please open issues with them, to have them specify their needs in the yaml files.

[2020-06-15 14:03] rhatdan commented on #3872
Also you can simply add MKNOD and NET_RAW to your crio.conf if you don't like the defaults chosen by the upstream.

[2020-06-15 14:03] #3872 closed

[2020-06-15 14:08] haircommander commented on #3872
@kubealex are you saying rancher and coredns create pods in cri-o that require these caps? If so, I agree with @rhatdan that it's an issue of the pod not asking to add the capability (and assuming every container manager has it)

[2020-06-15 14:15] haircommander commented on #3872
I opened https://github.com/rancher/rancher/issues/27587

[2020-06-15 14:22] haircommander commented on #3872
and also opened https://github.com/coredns/coredns/issues/3951

[2020-06-15 17:03] GabyCT opened #3877 "Is there a way to setup runtime type in CRI-O tests?"
We are trying to run the tests from CRI-O like https://github.com/cri-o/cri-o/blob/master/test/ctr.bats, however, for kata containers 2.0, we can performed the export of the RUNTIME to `containerd-shim-kata-v2` without a problem but how can we performed a export for `runtime_type = "vm"`?
/cc @chavafg

[2020-06-15 17:33] haircommander commented on #3877
we actually don't have this capability right now. the only cli flag we support is `--runtimes` (or the equivalent env variable `CONTAINER_RUNTIMES`
However, the help string for the runtimes string says
`OCI runtimes, format is runtime_name:runtime_path:runtime_root`
which means we don't support overriding the type

[2020-06-15 17:36] haircommander commented on #3877
a way you could do this is set
`OVERRIDE_OPTIONS="-d /tmp/crio.conf.d" CONTAINER_DEFAULT_RUNTIME=kata`
and then put
[code]
in /tmp/crio.conf.d

[2020-06-15 17:36] haircommander commented on #3877
I also think `--runtimes` should support a fourth field for runtime_type

[2020-06-15 18:40] #3862 closed

[2020-06-16 01:50] mrunalp commented on #3869
@tedyu can you look at this one?

[2020-06-16 02:51] tedyu commented on #3869
Ack:
I will analyze the logs tomorrow.

[2020-06-16 10:26] jayaddison commented on #2736
This issue re-occurred under package `cri-o-1.17:1.17.4~1` on Ubuntu 20.04 following a non-graceful machine reboot.

The following steps enabled recovery:

1. Temporarily removed `After=crio-wipe.service` and `Requires=crio-wipe.service` from `/usr/lib/systemd/system/crio.service` (i.e. removed `crio-wipe` dependency from `crio` service)
2. Restarted `crio` service (`systemctl restart crio.service

[2020-06-16 11:24] jayaddison opened #3879 "[Ubuntu 20.04] [cri-o-1.17~1] Broken symlink: /usr/lib/systemd/system/cri-o.service"
**Description**
This looks like a minor packaging issue and it does not appear to be causing direct problems.

**Steps to reproduce the issue:**
1. Set up an Ubuntu 20.04 environment
2. Within the environment, run `apt install cri-o-1.17=1.17.4~1`
3. Inspect the symlink:

[code]

4. Confirm that the target symlink does not exist:

[code]

**Describe the results you received:**
`/usr/lib/systemd/sy

[2020-06-16 13:39] rhafer commented on #3862
#3880 backports this to 1.18. Does this issue qualify for backports to even older releases?

[2020-06-16 13:54] haircommander commented on #3879
@lsm5 @dougsland PTAL

[2020-06-16 13:55] haircommander commented on #2736
@jayaddison I

[2020-06-16 13:56] haircommander commented on #2736
oops, clicked too soon.
@jayaddison what was the failing output from crio-wipe that caused this?

[2020-06-16 13:57] haircommander commented on #2736
I think it may be a separate issue, as the problem that caused this issue should have been fixed

[2020-06-16 14:08] jayaddison commented on #2736
@haircommander Thanks for taking a look - the log line `/bin/bash: /usr/bin/libexec/crio/crio-wipe/crio-wipe.bash: No such file or directory` was showing up in `journalctl` output, and that's what led me here; here's an example snippet from the syslog:

[code]

[2020-06-16 14:43] GabyCT commented on #3877
@haircommander thanks for your answer, I tried to applied the solution of `OVERRIDE_OPTIONS`, however, I am seeing errors like this (when I ran the tests)
[code]
Is this error related with the `runtime_type`? I am asking this because I specify to use the `crio.conf` where my runtime type is `vm`...is this still using `oci`? thanks

[2020-06-16 17:30] chavafg commented on #3877
@GabyCT, following @haircommander advice, could you try adding the `runtime_type` to the `--runtimes` option at: https://github.com/cri-o/cri-o/blob/master/test/helpers.bash#L306

[2020-06-16 17:44] haircommander commented on #3877
ah @chavafg that was not quite advice, but rather a statement that it's something we *should* support. it would fail now AFAICT

[2020-06-16 17:46] chavafg commented on #3877
Ohh ok, I misunderstood it, thanks for the explanation

[2020-06-16 22:06] GabyCT opened #3883 "Is there a way to build CRI-O for CentOS 8"
I am trying to build and install CRI-O for CentOS 8, I have read the dependencies that are requiered at the README, however, I am getting this issue
[code]

Is there a way to avoid this? thanks

[2020-06-16 22:37] kubealex opened #3884 "No default registry in crio.conf"
This happens since yesterday evening

**Steps to reproduce the issue:**
1. Install cri-o
2. try to pull an image from unqualified registry
3. enjoy the error

**Describe the results you received:**
[kube@k8s-master-0 ~]$ sudo crictl pull alpine:latest
FATA[0000] pulling image failed: rpc error: code = Unknown desc = no registries configured while trying to pull an unqualified image, add at least o

[2020-06-17 13:38] haircommander commented on #3884
what's the output of `rpm -q containers-common`?

[2020-06-17 14:41] GabyCT commented on #3883
The version that I am using is https://github.com/kata-containers/runtime/blob/master/versions.yaml#L192, the dependencies that are installed in CentOS are https://github.com/kata-containers/tests/blob/master/.ci/setup_env_centos.sh#L61, I also include the packages btrfs-progs-devel

[2020-06-17 15:12] haircommander commented on #3823
@kubealex I believe this is fixed. can this ticket be closed?

[2020-06-17 15:12] haircommander commented on #3845
@afbjorklund all set here?

[2020-06-17 15:22] afbjorklund commented on #3845
The only question was if it should be cherry-picked to master, as I only patched out v1.18.1 install

[2020-06-17 16:29] haircommander commented on #3845
I'd be fine cherry picking to master. can you take care of that @afbjorklund ?

[2020-06-17 17:18] haircommander commented on #3883
does it succeed if you do
`cc -o ../bin/pinns pinns.o -std=c99 -Os -Wall -Wextra -static -o pinns.o pinns.c` in the pinns dir?

[2020-06-17 17:26] haircommander commented on #3883
also, are you able to compile anything in c on this machine?

[2020-06-17 18:09] afbjorklund commented on #3845
@haircommander : cherry-picked (and conflict resolved)

I would still suggest leaving the extra output for `crio version`,
but it is up to you... Seems better there, and has `--json` etc.

[2020-06-17 18:14] afbjorklund commented on #3883
I think you are missing `glibc-static` in the build dependencies ?

It fails to find `/usr/lib64/libc.a` when linking, only `/usr/lib64/libc.so`

[2020-06-17 18:20] afbjorklund commented on #3844
Here is my rebuild of the package:
https://bintray.com/afbjorklund/cri-o/

For some reason it is called `cri-o` rather than `cri-o-1.18`, and I only needed it for `focal` (20.04)
I was rebuilding the sources from the "1.18" branch, in order to upgrade from 1.17.4 to 1.18.1.

https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.18/cri-o

[2020-06-17 19:03] liticia-hub opened #3888 "NOT POSSIBLE TO INSTALL CRIO RHEL8"
sudo yum install crio
ansible  - 8                                            253 Kb/s | 2.6 Kb
puppet-6 - 8                                         243 Kb/s | 2.6 Kb
No match for argument: crio
Error: Unable to find a match: crio

[2020-06-17 19:36] haircommander commented on #3888
we only package cri-o for rhel8 through openshift. You may have some luck with the centos 8 packaging in [obs](https://build.opensuse.org/project/monitor/devel:kubic:libcontainers:testing:cri-o:1.18?arch_x86_64=1&blocked=1&broken=1&building=1&defaults=0&deleting=1&dispatching=1&failed=1&finished=1&locked=1&repo_CentOS_8=1&scheduled=1&signing=1&succeeded=1&unresolvable=1)

[2020-06-17 19:56] GabyCT commented on #3883
@afbjorklund thank you so much, that worked :)

[2020-06-17 19:56] #3883 closed

[2020-06-17 21:21] haircommander commented on #3879
https://github.com/cri-o/cri-o/pull/3890 will fix this on master, I will backport to appropriate branches when it's approved. thanks for opening @jayaddison

[2020-06-17 21:48] kubealex commented on #3823
Uhm, actually it isn't.

[kube@k8s-master-0 ~]$ crio config | grep -A 3 plugin_dirs
INFO Using default capabilities: CAP_NET_RAW, CAP_MKNOD, CAP_CHOWN, CAP_DAC_OVERRIDE, CAP_FSETID, CAP_FOWNER, CAP_SETGID, CAP_SETUID, CAP_SETPCAP, CAP_NET_BIND_SERVICE, CAP_KILL
plugin_dirs = [
	"/usr/libexec/cni",
]

[2020-06-17 22:37] jayaddison commented on #3879
Brilliant, thanks @haircommander!

[2020-06-18 13:09] afbjorklund commented on #3883
Seems to be already listed at https://github.com/cri-o/cri-o/blob/master/tutorials/setup.md#rhel-8

[2020-06-18 13:30] liticia-hub commented on #3888
Ok ! Thanks

[2020-06-18 13:30] #3888 closed

[2020-06-18 17:45] vivekanandpoojari commented on #3869
@tedyu uploaded the kubelet containerd logs.
Search for the text 'myscan'

[2020-06-19 03:11] tedyu commented on #3869
For kubelet running on containerd, 'pod_workers.go:191' occurred once.

For kubelet running on cri-o, 'pod_workers.go:191' occurred several times.

[2020-06-19 13:33] haircommander commented on #3869
@mrunalp looked at this one a bit, and found a disagreement between what CRI-O does on CreateContainer and what containerd/docker do. Basically, we go all the way to call the `$runtime create` call, where docker just generates an ID and creates a rootfs. It would require a significant rework fix it, though it has been added to the list of things we want to address in the coming weeks

[2020-06-19 14:02] tedyu opened #3894 "Potentially unclosed done channel in runtimeOCI#ReopenContainerLog"
**Description**

For the following code (around line 1035):
[code]
If the watcher.Add() call on line 1043 doesn't return error, it seems the done channel would be left unclosed.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**
The done channel should be closed in all code paths.
Here is proposed fix.
If errorCh has error, w

[2020-06-20 12:18] Exagone313 commented on #3844
Building and running are two different things, unless there is a hard requirement on libc? Package manager could also provide static builds built [using Nix](https://github.com/cri-o/cri-o/blob/master/tutorials/setup.md#static-builds).

CRI-O builds well on Ubuntu 20, but it is not straight forward to create a package on this distribution, and not having a package for it prevents installing Kubern

[2020-06-20 13:25] afbjorklund commented on #3844
Mixing and matching APT and Nix seems even worse than mixing system packages (ubuntu) and vendor packages (opensuse)

I _think_ there are static binaries available that you could use, but putting those into deb packages is only making this worse IMHO

https://github.com/cri-o/cri-o/releases/tag/v1.18.1

[crio-v1.18.1.tar.gz](https://storage.cloud.google.com/k8s-conform-cri-o/artifacts/crio-v1.18.1

[2020-06-21 20:11] jaylinski commented on #3175
I experienced the same issue and can confirm the fix works.

[2020-06-21 22:53] tedyu opened #3899 "File may be left unclosed in runtimeVM#CreateContainer"
**Description**
[code]
If the r.task.Create() call fails on line 135, the file would be unclosed.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**
Potential fix:
[code]
**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[2020-06-22 15:13] #1767 closed

[2020-06-22 15:16] haircommander commented on #2685
I don't think the cri-o devs have the cycles to add a set of tests for every kube client out there. If anyone in the community wants to take this on, please do. Otherwise, I will close

[2020-06-22 15:37] dougsland commented on #3744
@spaced conmon is 2.0.18-1 the 2.0.17-1 is not there. https://download.opensuse.org/repositories/devel%3A/kubic%3A/libcontainers%3A/stable/CentOS_7/x86_64/conmon-2.0.18-1.el7.x86_64.rpm

[2020-06-22 18:40] dougsland commented on #3295
Hi @skycastlelily2 still an issue? Just saw your reply now. :(

[2020-06-23 13:49] haircommander commented on #3149
as mentioned in https://github.com/cri-o/cri-o/pull/3892#issuecomment-648150305

I don't think the intermediate layers should be exposed by CRI-O. I'm fairly certain it can't be the kubelet that got them there (probably a build happened on the node) and I don't think it should be the responsibility of the kubelet to GC them (nor will it know what do do with layers that don't match a digest/name:ta

[2020-06-23 13:58] saschagrunert commented on #3149
Yes, I totally agree to that point. 👍

[2020-06-23 16:34] mhudson-bw commented on #3818
try this
mkdir -p /usr/libexec/crio/conmon
then
systemctl start crio

seems to have worked on my system where crio was spitting out the same message about no such file or directory

[2020-06-23 16:55] haircommander commented on #3818
the full fix is to either put `/usr/bin/conmon` in `/usr/libexec/crio/conmon` or set `conmon_path` in crio.conf to `""`. though, this should be fixed in the package itself

[2020-06-23 19:21] afbjorklund commented on #3149
I think that explanation sounds much better, than trying to stay bug-compatible with the historic daemon (WWDD)

Building on the master node is one of those features unique to minikube, most others use registries or tarballs...

[2020-06-23 20:09] afbjorklund commented on #3845
Was there any problem with the uplift in PR #3886 ?

[2020-06-24 09:13] yichengliu58 opened #3904 "how to limit container rootfs size?"
**Description**
I'm looking for the way to limit the size of containers' rootfs (writeable layer). There is an option in docker
`--storage-opt dm.basesize=10G` to set it, but I didn't find a method in cri-o.

I'm not sure if this option is defined in CRI, but since this is an important option for containers, there should be a way to limit it.

[2020-06-24 10:41] #3877 closed

[2020-06-24 13:32] haircommander commented on #3904
I can't find documentation that it's exposd at the CRI

if you're using devicemapper storage driver (which we do not recommend), then you can set `basesize = "x"` in your /etc/containers/storage.conf, which will be applied to every container.
I think we have an option to set quotas on overlay (recommended driver) on XFS, but I can't remember the specifics

cc @nalind @rhatdan @giuseppe

[2020-06-24 13:33] haircommander commented on #3845
nope, just fell through the cracks

[2020-06-24 21:01] raz-bn opened #3906 "How to pass ldconfig to crio"
Hey I'm trying to pass to crio a different ldconfig from the one in @/sbin/ldconfig.real
Is there anyway to do so?
Didn't find any reference to it in the crio.config file

[2020-06-24 21:18] haircommander commented on #3906
are you trying to pass ldconfig to each container cri-o launches, or are you trying to compile crio with a specific ldconfg?

[2020-06-24 21:20] raz-bn commented on #3906
@haircommander thanks for the fast response!
I'm trying to pass ldconfig to each container crio launches

[2020-06-24 21:50] haircommander commented on #3906
you could add an entry to your `default_mounts_file` (in your crio config) that mounts /sbin/ldconfig.real for every container (that assumes that each container uses the same ldconfig location)

[2020-06-25 09:20] raz-bn commented on #3906
@haircommander, thanks for the response again!

I tried to do as you suggested and it did not solve my problem.
I will explain my problem with more details. Hopefully, you can give me some insight :)

I am using Openshift 4.4 with cri-o as my default container runtime, and my nodes are running CoreOS.
I'm trying to access Nvidia drivers for inside a container cri-o launches. However, I'm installin

[2020-06-25 10:21] kubealex commented on #3884
Sorry for the delay:

[kube@k8s-master-0 ~]$ rpm -q containers-common
containers-common-1.0.0-1.el7.x86_64

[2020-06-25 12:01] raz-bn commented on #3906
@haircommander Hey! I fixed the issue and it was not related to cri-o at all.
However, after fixing it I stumbled with another issue which is related to cri-o.
cri-o is looking for the file /dev/nvidia0, but this file is located in /run/nvidia/driver/dev/nvidia0
I fixed it by creating a soft link to this file, but is there any way to make cri-o look for it in /run/nvidia/driver/dev/ ?

[2020-06-25 12:03] raz-bn opened #3907 "Openshift 4.4 nvidia-runtime hook"
Hey!
is there any way to use the nvidia-runtime hook only on certain containers and not on all of them?

[2020-06-25 13:39] haircommander commented on #3884
I would expect registries.conf to be populated by containers-common. do you have a registries.conf on the node? (or registries.conf.d?)

[2020-06-25 13:53] nalind commented on #3904
For overlay that'd be done by setting a value for the `size` setting in the `[storage.options.overlay]` section of storage.conf.  The underlying XFS filesystem will also need to be mounted using the `prjquota` option.  The driver will assign a project ID to the directory tree used to store the container's read-write layer and will set a quota for the project.  I don't believe that this is exposed

[2020-06-25 14:48] zvonkok commented on #3907
@raz-bn The NVIDIA prestart hook will check for specific environment variables in the container to enable GPUs in the container.  If a container does not have this env variable the hook will just exit.

What are you trying to achieve? Do you want to run the hook only for a specific set of GPU containers?

Being a prestart runtime hook it will be executed every time you start up a container before

[2020-06-25 15:00] raz-bn commented on #3907
@zvonkok thanks for your response!

I have one pod which exports metrics from the GPU (but do not consume GPU), according to Nvidia this pod requires to set the default runtime to nvidia.
All the other pods in this node will consume GPUs but I don't want them to run with the Nvidia runtime. (they don't even use the Nvidia device plugin).
is there any way to achieve this?

[2020-06-25 15:07] ArangoGutierrez commented on #3907
Hi @raz-bn , when you say `set the default runtime to nvidia.` you are referring to using a different container runtime?

[2020-06-25 15:16] raz-bn commented on #3907
@ArangoGutierrez
Yes, sorry if it was not clear.

[2020-06-25 15:19] zvonkok commented on #3907
The NVIDIA runtime is not used in the cri-o use-case. We need only the prestart hook.
The monitoring pod should not allocate the GPU extended resources (nvidia.com: x) and just export the `NVIDIA_VISIBLE_DEVICES=all` env variable which will trigger the prestart hook.

[2020-06-25 15:21] ArangoGutierrez commented on #3907
Yes, and to be clear, you are always running with the CRI-O runtime, what is happens with the OCI hook is that it informs the runtime the needed paths to bind mount at pre-start. but the Runtime is not modified.

[2020-06-25 15:25] raz-bn commented on #3907
@zvonkok
@ArangoGutierrez
Oh, that sounds good for me.
I will try to do as you suggested and reopen the issues is something went wrong.
Thanks a lot!

[2020-06-25 15:25] #3907 closed

[2020-06-25 15:44] raz-bn commented on #3907
@zvonkok
@ArangoGutierrez
I don't want to bother you too much but since you were so kind.
Can you please take a look at my other issue?
https://github.com/cri-o/cri-o/issues/3906

[2020-06-25 16:22] zvonkok commented on #3906
@raz-bn Why are you not using the NVIDIA GPU operator, it is enabling everything you need for using GPUs in a cluster?

The GPU operator will deploy a DriverContainer, Container enablement (prestart hook), metrics.

You are trying to solve problems that are already solved by the NV GPU operator.

[2020-06-25 16:33] raz-bn commented on #3906
@zvonkok Thank you for replay again.
I am using the GPU-Operator by Nvidia, but the driver container is installing the drivers under the /run/nvidia/driver/ path.
Also using this project: https://github.com/tkestack/gpu-manager
and in there, they are using a different device plugin.
If I'm trying to deploy a pod that requires nvidia.com/gpu, everything works just fine.
but when trying to deploy a

[2020-06-25 16:53] zvonkok commented on #3906
@raz-bn This is by design, the DriverContainer lays down the dev files there so that the prestart hook can mount them from a well known location.

The project you referring to is just reimplementing what we already have and is certified and tested by RH.

What is your use-case? Why do you want to use the gpu-manager?

Just create a Pod allocating `nvidia.com/gpu: 1` and you're done.

[2020-06-25 16:54] zvonkok commented on #3906
@raz-bn The device-plugin is nothing magical it will just expose the healthy hardware via extended resources to the cluster. What is so special about the gpu-manager device-plugin?

[2020-06-25 20:13] kubealex commented on #3884
Yep, but unqualified registry section Is empty, I will post the output as soon as I get home! :)

[2020-06-25 20:26] haircommander commented on #3884
ah!

we unqualified search registries are inherently insecure (there have been cases where a bad actor can MitM because of the way a search works).

as such, we recommend users strictly use (ideally) digests, or fully qualified images. If that's not possible, you're free to fill the unqualified registries, but I do not think we should add entries by default

[2020-06-25 20:55] kubealex commented on #3884
Great then, I Will notify this to nginx team, ingress controller used to have unqualified images for admission pods, so It stopped working and I was thinking that something changed :)

I close this, thank you!!

[2020-06-25 20:55] #3884 closed

[2020-06-27 10:14] afbjorklund commented on #3845
Fixed on master, d0dc0d3076367f6a26c46fb6e72d1e582b552599

[code]

[2020-06-27 10:14] #3845 closed

[2020-06-28 06:11] vivekanandpoojari commented on #2331
@sarbajitpattanaik  You need to create a similar file for cri-o as well.

systemctl status crio
● crio.service - Container Runtime Interface for OCI (CRI-O)
   Loaded: loaded (/usr/local/lib/systemd/system/crio.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/crio.service.d
           └─http-proxy.conf

https://medium.com/@vivekanand.poojari/installing-kubernetes-behind-a-

[2020-06-29 04:34] tekmark commented on #3818
the conmon binary need to be linked to the path
[code]
then try to start the crio again
[code]

[2020-06-29 13:50] Nefelim4ag commented on #3808
https://github.com/lnykryn/systemd-rhel/issues/266

[2020-06-29 13:53] haircommander commented on #3808
ahh good find @Nefelim4ag . Can we close this issue then?

[2020-06-29 16:57] rhatdan commented on #3904
The images should be run read-only in Kubernetes, and then the problem is solved.  :^)  Otherwise you need to use @nalind solution.

[2020-06-29 19:21] Nefelim4ag commented on #3808
@haircommander
Not tested, i will close after testing of new systemd

[2020-06-30 02:27] yichengliu58 commented on #3904
Thanks guys ！ @nalind solution works fine

[2020-06-30 02:27] #3904 closed

[2020-06-30 18:28] lumjjb opened #3913 "Decryption error not propagating if keys dir doesn't exists"
**Description**

crio returns "archive/tar: invalid tar header" error instead of "decryption error" when an encrypted image is run if keys directory doesn't exists. Instead of correctly propagating a decryption error.

(Thanks @maia-iyer for highlighting this behavior)

**Steps to reproduce the issue:**
1. Run crio with `--decryption-keys-path` flag
2. Ensure the directory doesn't exist
3. See err

[2020-06-30 18:28] lumjjb commented on #3913
Can assign this to myself and @harche .

[2020-06-30 18:31] ppmathis opened #3914 "Support config flag for disabling HostPortManager"
**Description**
While setting up Cilium 1.8 according to their official documentation on a fresh Kubernetes 1.18 dual-stack cluster with cri-o 1.18.2, I've noticed that the [provided connectivity test pods](https://raw.githubusercontent.com/cilium/cilium/v1.8/examples/kubernetes/connectivity-check/connectivity-check.yaml) by Cilium 1.8 kept failing their liveness/readiness probes and ended up cras

[2020-06-30 19:08] thanos1983 opened #3915 "Kubernetes v1.18.2 with crio version 1.18.2 failing to sync with kubelet on RH7"
**Description**

I am relatively new to kubernetes. I can run my cluster when using the default socket (/var/run/dockershim.sock) but when I tried the crio socket to pull the images from my private repo I noticed the speed is not even close to compare with.

I am trying to configure all my nodes to use the crio.socket but I am failing to launch the master node with this socket.

I followed the doc

[2020-07-01 00:25] haircommander commented on #3915
I would guess kubeadm works by plopping a registry configuration file in a docker specific place. We put our registry configurations in `/etc/containers/registries.conf.d/` and our registry specification can be read [here](https://github.com/containers/image/blob/master/registries.conf)

I would consider it a feature of kubeadm, and probably out of the scope of cri-o, to place this file for cri-o

[2020-07-01 00:28] haircommander commented on #3914
thanks for opening an issue @ppmathis . We'd certainly consider adding a CLI flag that would gate this behaviour. Considering you've already dived in the code a bit, would you have any interest spinning up a PR?

[2020-07-01 00:34] haircommander commented on #3913
thanks for opening and volunteering @lumjjb

[2020-07-01 02:43] yichengliu58 opened #3916 "how to set the size of /dev/shm ?"
**Description**

I'm trying to find the config that can set the size of /dev/shm file in container, but didn't find anything. In docker, option `--shm-size="64M"` can be used when running a container, is there any similar config in cri-o that can be used to set this value?

[2020-07-01 08:45] thanos1983 commented on #3915
Hello @haircommander,

Thank you for your time and effort reading an replying to my question.

I am not 100% sure that this would resolve my problem as it seems to be working with the default socket but it fails with crio.

I have my doubts as kubeadm seems to be working when pulling the image with crio but not running them.

Sample:

[code]

I am not able to understand as to why it does not launc

[2020-07-01 08:59] yichengliu58 commented on #2619
Hi @chrono2002

I just met the similar issue here, I migrated from docker to cri-o, and found that a lot of metrics have lost label values:
[code]

It didn't help to restart kubelet or cri-o

I have set the cri-o sockt path to default which results in cri-o using cadvisor to get metrics. I'm not if there are some other configuration issues ?

[2020-07-01 11:44] thanos1983 commented on #3915
I just applied the configuration on the file (/etc/containers/registries.conf):

Sample:

[code]

The problem seems to persist.

Any other idea?

P.S. I opened a ticket to kubeadm as well.

Is there any other way that I could debug this and possibly get an indicator as to why this is happening?

[2020-07-01 13:32] haircommander commented on #3915
if you run crio with `--log-level debug` and put the output here, it will likely give us more hints

[2020-07-01 13:38] haircommander commented on #2619
what version of kube and cri-o?

[2020-07-01 13:42] haircommander commented on #3916
it's not a supported configuration in the cri: https://github.com/kubernetes/kubernetes/issues/28272

so I'm afraid there's no way to pass this value down to cri-o

[2020-07-01 14:35] punkprzemo commented on #3915
If you are pulling images from private registry without internet access, then please check if you set `pause_image` in crio.conf to your private registry
[code]

[2020-07-01 15:10] thanos1983 commented on #3915
Hello @punkprzemo,

Got point I did not had this configuration but unfortunately nothing changed.

See below my crio.conf file in case that helps:

[code]

[2020-07-01 15:22] thanos1983 commented on #3915
Hello @haircommander,

Find below the logs that you asked me:

[code]

It seems again is trying to pull from k8s.io repo.

[2020-07-01 15:31] thanos1983 commented on #3915
I run it again with verbose 5 flag -v=5 and it seems that is trying to pull from the default repo (see logs below):

[code]

Any ideas as to why?

BR / Thanos

[2020-07-01 16:32] punkprzemo opened #3917 "big container image pulling failed /var/tmp no space left on device"
Hello,
I'm using cri-o runtime (1.18.1) in our kubernetes (1.18.3) cluster.
Everything was OK until I started pulling big container images from private repo.
[code]
Same issue when images are pulled inside kubernetes cluster.

On my  RHEL 7 server I have small /var/tmp dir which has 1G.

Do you know how to switch tmp directory for image pull? I would like to store them e.g. in /var/lib/containers/

[2020-07-01 17:01] haircommander commented on #3917
related: https://github.com/containers/image/pull/747

we currently do not support overriding the BigFilesTemporaryDir.

Extending CRI-O wouldn't be too difficult. it could be wired up by setting the SystemContext in `pkg/config/config.go`: https://github.com/cri-o/cri-o/blob/d0dc0d3076367f6a26c46fb6e72d1e582b552599/pkg/config/config.go#L528

Would you have any interest in submitting a PR @punkprz

[2020-07-01 19:35] afbjorklund commented on #3844
https://bintray.com/afbjorklund/cri-o/cri-o/1.18.2

[2020-07-01 21:18] ppmathis commented on #3914
Sure! I've started working on a PR and will get one submitted in the next couple days. Code should be done, but testing, updating docs and those things are pending.

[2020-07-02 00:53] petebuffon opened #3922 "CentOS 8 installation broken from official documentation"
I can't seem to install cri-o on CentOS 8 from the official documentation.  I also encountered a new issue while trying the fix from #3776 with a fresh CentOS 8 VM.  I first ran:

[code]

Then cri-o wouldn't install because criu isn't available from the appstream anymore:

[code]

I expected cri-o to install without any further steps.  Is there another repo that needs to be enabled or is there a s

[2020-07-02 08:44] thanos1983 commented on #3915
Hello again @haircommander and @rphillips,

Once more I want to thank you for your time and effort looking into this.

I tried to debug the node again and it is clear to me at least that although I have set the `pause_image = ` parameter in the crio.conf file it gets ignored.

[code]

Below is the log from the node where is trying to pull from default repo k8s.io:

[code]

Let me know if you requi

[2020-07-02 14:25] haircommander commented on #3915
I think there's a kubelet configuration you need to set as well:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
`--pod-infra-container-image`

I feel like setting that value should be the job of kubeadm though...

You can test if it's the kubelet or cri-o by running cri-o without the kubelet, and run a pod with crictl (you can see https://github.com/cri-o/cri-o/blob/mas

[2020-07-02 14:48] haircommander commented on #3914
excellent to hear! thanks

[2020-07-02 17:33] rbtr opened #3923 "Consider changing runc dependency from Required to Recommended in package builds"
**Description**

When installing `cri-o` on F32 according to the docs, it tries to install `runc` as a Required dependency. Likewise, due to this relation, _uninstalling_ `runc` tries to also uninstall the dependent `cri-o`.

I don't want `runc` - I have `crun` installed already, but I can only either install `cri-o` with NO dependencies (:-1:), or with them all (including `runc`, because `runc` i

[2020-07-03 06:47] yichengliu58 commented on #2619
kubernetes: 1.17.6
cri-o: 1.18.2

It appears that some metrics have label values all set, some metrics only have several label values (not all set), and some metrics don't have any label values at all.

I configured both `runc` and `kata` runtime to cri-o, and started pods using both of them. But both `runc` and `kata` pods have some metrics with labels missed.

I still haven't found any configura

[2020-07-03 13:02] tedyu opened #3925 "Streamline how done channel is closed in Runtime#WaitContainerStateStopped"
**Description**

Currently the done channel may be closed in the goroutine or by the select statement starting on line 139.
We need to consider the following scenario:
* detection of ContainerStateStopped exhausts the timeout, with done channel closed by the select statement starting on line 139
* around the same time, ContainerStateStopped is returned from UpdateContainerStatus call, resulting in

[2020-07-03 15:13] thanos1983 commented on #3915
From the documentation:

_--pod-infra-container-image string
The image whose network/ipc namespaces containers in each pod will use. This docker-specific flag only works when container-runtime is set to docker._

I wanted to use CRI-O to be honest with kubeadm to launch the master node and then join the rest of the nodes to the cluster.

I want to try to move out as much as possible from docker as

[2020-07-03 15:16] haircommander commented on #3925
This sounds good to me

[2020-07-03 15:23] haircommander commented on #3915
Thank you for trying CRI-O and your patience! A (kind of hacky) work around here is to use registry mirroring in your registries.conf
https://github.com/containers/image/blob/4c0f8a70e6a8401b606e2aa407f3502de2f02521/registries.conf#L43

I'm not sure why the kubelet is still trying to pull the google pause image, but if you mirror from `k8s.gcr.io` to your internal registry, cri-o will sneakily pul

[2020-07-03 23:16] adawolfs commented on #3917
@haircommander I would like to help, if there is no problem with @punkprzemo of course!

I've already taken a look to the code and I have a solution in progress but I would like to know if **BigFilesTemporaryDir** should be placed in a new toml table or like `crio.system` or should be part of `crio.image` ?

[2020-07-04 20:53] haircommander commented on #3917
Thank you @adawolfs , i think `crio.image` makes most sense 😃

[2020-07-05 11:51] thanos1983 commented on #3915
Hello @haircommander,

From my point of view CRI-O is the best CRI on the market currently for K8s where at the same time can run also podman.

Podman is the future from my point of view where in 1-2 years once it becomes more stable it will dominate the market as docker does today (temporarily).

So having said that yes it should be checked why private repo can be used with kubeadm and crio when

[2020-07-06 07:08] punkprzemo commented on #3917
Thanks for answers @haircommander and @adawolfs
As a temporary solution for us  we have rebuilt cri-o 1.18.2 and set below in  [config.go](https://github.com/cri-o/cri-o/blob/v1.18.2/pkg/config/config.go) to override default `/var/tmp`
[code]
 But would be great to have it configurable in `crio.conf`.

[2020-07-06 13:28] haircommander commented on #2619
what's the path of your `crio.sock`

[2020-07-06 15:29] thanos1983 commented on #3915
Hello again @haircommander,

I can not figure out the syntax and since there is not much documentation can we verify that this solution will work or I am just trying in the dark here?

I found this page ([containers-registries.conf](https://www.mankier.com/5/containers-registries.conf)) and I modified my file to this sample:

[code]

The path to all the images is under this path e.g. `my.private.r

[2020-07-06 15:38] haircommander commented on #3915
ah, the `prefix` and `location` entries should be `k8s.gcr.io`
what this says is "after you attempt prefix at location, try these other locations"

alternatively, you can be more specific and do
[code]

Another alternative is you can omit the mirror entirely, and set the `location` for the `prefix` as your registry
[code]
the latter means your search will *never* fallback to k8s.gcr.io for the sea

[2020-07-06 16:10] thanos1983 commented on #3915
I just tried:

[code]

The output when debugging crio:

[code]

It seems to moving forward with these configurations:

[code]

[2020-07-06 16:14] uptycs-rmack commented on #3604
Hi @haircommander can you provide any pointers to how/when this was addressed upstream. I'm trying but failing to find any relevant changes in the API git repo. Perhaps this information was added to one of the attributes maps but I don't see where in the release notes either. Any guidance would be appreciated. Thanks, Ryan

[2020-07-06 16:40] haircommander commented on #3915
ah, that's a known bug, there's an aliasing problem from `overlay2` to `overlay` (I don't think there's a corresponding github issue yet)
can you set the `storage_driver` to `overlay` and see if that fixes your problems?

[2020-07-06 17:00] haircommander commented on #3915
@thanos1983 a sidebar: I am pretty sure the kubelet option `--pod-infra-container` also applies to crio (despite the docs saying otherwise). I just remembered where you configure kubelet args: `/etc/default/kubelet`. The registries.conf fix vs kubelet args fix is negligible, but I'd say the kubelet fix is probably more idiomatic. Feel free to choose the solution that makes most sense to you, but I

[2020-07-06 17:10] thanos1983 commented on #3915
I think I have read this also on podman but they have resolved this creating an alias on this. Yes this is very easy I will modify it to overlay instead of overlay2 and test again. Side note I have formatted the dir to overlay2 but I assume it requires overlay as format to be specified.

[2020-07-06 17:12] thanos1983 commented on #3915
If I remember correctly I think I have tried this flag with kubeadm and it failed (as it makes sense since it is not supported flag) but I am a bit puzzled how I am suppose to launch the master node (without kubeadm) in order to use kubelet directly.

Do you have some documentation on this?

Thanks a lot for your time and effort.

[2020-07-06 17:15] haircommander commented on #3915
as it stands, `overlay` is actually an alias for `overlay2`, as we really only use `overlay2` now. unfortunately (in observation of other issues users have had) the alias to `overlay` is incomplete, so directly asking for `overlay` is preferred

instead of passing the flag to kubeadm, I wonder if specifying specifically in `KUBELET_EXTRA_ARGS` like [here](https://gist.github.com/haircommander/2c07

[2020-07-06 17:18] thanos1983 commented on #3915
That is very interesting idea and I did not think about it.

I will definitely give it a try and I will let you know tomorrow for sure.

Thanks again a lot very nice tips. :)

[2020-07-06 17:18] haircommander commented on #3915
happy to help :smiley:

[2020-07-07 14:00] thanos1983 commented on #3915
Hello again @haircommander,

I finally figured it out (I think).

So I spend some time and I concluded that for me flag `--pod-infra-container-image` will not work in long term as I am planning to migrate soon away from docker to podman so my script I want to be almost applicable on both OS (with docker and with podman) apart from minor modifications based on conditions.

Having said that coming b

[2020-07-07 14:00] #3915 closed

[2020-07-07 14:15] haircommander commented on #3915
Happy to hear you got everything running @thanos1983!

Would you have any interest in updating the `tutorials/kubeadm.md` documentation to describe your process?

[2020-07-07 14:58] thanos1983 commented on #3915
Sure I could do that. Do I need permissions to do that or should I clone and push for review?

[2020-07-07 15:08] haircommander commented on #3915
no permissions needed to create a pull request :), thanks!

[2020-07-07 21:30] mrunalp commented on #3923
@lsm5 @dougsland ptal

[2020-07-08 14:10] hxquangnhat opened #3937 "container with securityContext: priviledge: true by pass file permissions"
**Description**
A container deployed on Kubernetes cluster using Crio can by pass file permission when securityContext: priviledge: true, meanwhile on another Kubernetes cluster using Docker, it doesn't happen.

**Steps to reproduce the issue:**
1. Deploying filebeat on Kubernetes cluster using this official chart from Elastic: https://github.com/elastic/helm-charts/blob/master/filebeat
2. Filebea

[2020-07-08 16:03] mrunalp opened #3938 "Add support for ulimit profiles"
We want to see how we can support ulimits in kubernetes and one possible way is using profiles similar to
what we do for seccomp today. We can use annotations to pick a profile similar to the seccomp annotations
when they were first added to kubernetes.

For e.g. `ulimit-profile.crio.io=aiml` would make crio look for a profile in /etc/crio/ulimits/aiml.conf.

That file would have settings in the `

[2020-07-08 16:09] mrunalp commented on #3938
@wgahnagl

[2020-07-08 16:51] thanos1983 commented on #3915
Hello again @haircommander,

I have not yet updated the documentation as I managed to found an even better approach that the hacky solution.

If the user launches with `--config <file.yml>` and pass the cgroup the node is working flawlessly.

Sample of code:

[code]

I wanted to add also this solution here in case that helps others that will not check directly the tutorials.

I will update the tut

[2020-07-08 17:51] haircommander commented on #3915
excellent, yes this looks much better. thank you!

[2020-07-08 18:17] haircommander commented on #3937
I'd be curious if using cri-containerd does the same thing docker does or CRI-O

[2020-07-08 18:17] haircommander commented on #3937
also, what version of runc are you using?

[2020-07-08 21:15] #3339 closed

[2020-07-08 21:17] haircommander commented on #3338
no news here for a bit, closing this, please reopen if you disagree

[2020-07-08 21:17] #3338 closed

[2020-07-09 07:13] hxquangnhat commented on #3937
here's our runc version:
```runc version spec: 1.0.1-dev```

[2020-07-09 09:54] Nefelim4ag commented on #3808
@haircommander
We update our clusters to systemd version: https://launchpad.net/ubuntu/+source/systemd/237-3ubuntu10.41
With fix for cookie overflow - that not fix timeout problem

[2020-07-09 10:07] Nefelim4ag commented on #3808
[code]
[code]

[2020-07-09 14:24] haircommander commented on #3916
@yichengliu58 if `ShmSize` was set globally for all containers, would that satisfy your needs?

[2020-07-09 14:31] haircommander commented on #3626
this should be fixed in 1.17 and 1.18

[2020-07-09 14:31] haircommander commented on #3626
closing, please reopen if you disagree

[2020-07-09 14:31] #3626 closed

[2020-07-09 14:35] haircommander commented on #3056
can this issue be closed @Martin-Weiss

[2020-07-09 14:37] haircommander commented on #2927
is there anything else that's needed for this ticket @zokrezyl

[2020-07-09 14:42] Martin-Weiss commented on #3056
Yes - I believe we are fine.. Thanks!

[2020-07-09 14:42] #3056 closed

[2020-07-09 14:45] haircommander commented on #2744
@yevgenypats do you still have plans to work on this?

[2020-07-09 14:46] haircommander commented on #2701
we *could* change the default umask sent to all containers via CLI flag, or we could use annotations (similar to how seccomp does it). though, the most idiomatic change would involve upstream kube changes

[2020-07-09 14:48] haircommander commented on #2683
@lrgar we now use OBS to ship to ubuntu. I believe this is fixed there. As such, I am closing. please reopen if you disagree

[2020-07-09 14:48] #2683 closed

[2020-07-09 15:06] haircommander commented on #2478
something worth note here: if dhcp takes a bit to figure out hostname, cri-o will mount the incorrect hostname in `/etc/hosts`. since these files are static upon container creation, the containers that come up before the network is fully initialized would have a wonky hostname.

Of course, this is something that should be figured out on the kube level, bc dhcp can change the hostname again later..

[2020-07-09 15:46] haircommander commented on #2112
@fidencio PTAL

[2020-07-09 16:36] fidencio commented on #2112
Ok, I will take this one!

[2020-07-09 16:50] haircommander commented on #3808
if you set max sessions to something really big (100000 or something) does this still happen? I wonder if we're still leaking, or if your container workload really needs > 2048 connections

[2020-07-09 16:51] haircommander commented on #3808
unrelated aside: why are you k8s and cri-o versions not in sync? usually users should match minor versions (cri-o 1.17.z with k8s 1.17.z)

[2020-07-09 20:47] Nefelim4ag commented on #3808
@haircommander, because when we did move to CRI-O, we was not ready for K8s update, and i just think about version compatibility like match in go/python k8s libs, i.e. client must have at least cluster version in my opinion - so i'm not afraid of issues with that.

That really matter in that case with sessions?

[2020-07-09 20:50] Nefelim4ag commented on #3808
@haircommander
you talk about:
[code]
?

On ubuntu default value was 256, i've try 2048 on one node (i assume at least 1-3 per container in bad scenario, we have pod limit 500 per node, but never reach that)

[2020-07-09 20:57] haircommander commented on #3808
bumping the max_connections_per_user is a sanity check for me at this point. no prob if you think 2048 is sufficient, but I'm mostly curious what happens with a preposterously large value

also, what version of runc are you using?
are you using systemd cgroup manager (default in cri-o)? does this happen with cgroupfs?

I don't think it's related, I'm mostly curious why you didn't try cri-o 1.16.z

[2020-07-09 23:29] Nefelim4ag commented on #3808
We use systemd cgroup manager - yep,
nope i never try cgroupfs with CRI-O, and i'm not sure if that needed. Of course i never experie

[2020-07-10 03:03] yichengliu58 commented on #3916
@haircommander of course, it'd be great to be able to set `ShmSize` globally. But I think it might be a better way to support this config per pod instead of globally.
Would it be an easy way if we add an annotation in `PodSpec` to specify this value, `cri-o` finds this annotation and checks if it needs to set this value? This doesn't involve changing CRI, it's totally a cri-o feature.

[2020-07-10 04:21] haircommander commented on #3916
the main concern I'd have is making sure there is sufficient control from an admin's perspective to protect against malicious users, as any user can add an annotation to their pod.

There could be a two tiered approach, where one defined a max_shm_size in crio.conf, and then allows users to specify (with annotations) a custom shm size.

though, I suppose that'd also be a vector for DOSing the node

[2020-07-10 07:28] yichengliu58 commented on #3916
it's true this could be a risk point if there are malicious users setting unexpected values...
But I think this could be handled by outside systems. For example you can simply have an admission system for untrusted users to deploy their workloads, where the system can check all the values before deploying into K8S. And administrators are able to configure those values easily.
My key point is: it's

[2020-07-10 07:29] yevgenypats commented on #2744
@haircommander Hi! Fuzzit is now part of GitLab so it won't be available in the near future outside GitLab. So I don't think it makes sense to work on this now.

[2020-07-10 07:29] #2744 closed

[2020-07-10 13:57] kallisti5 commented on #3922
Ran into same issue on CentOS 8. This fixed it for me!

[2020-07-10 14:14] haircommander commented on #3916
would you have any interest in attempting a PR @yichengliu58 ?

[2020-07-10 23:06] rodrigc commented on #1991
Based on this post https://kubernetes.slack.com/archives/CAZH62UR1/p1594242519386900 , I was encouraged by @haircommander to take a look at this.  I will take a look and see how far I get.

[2020-07-11 01:20] haircommander opened #3945 "follow ups from 3943"
- [ ] reenable systemd cgroups for e2e (requires https://github.com/kubernetes/kubernetes/pull/92862)
- [ ] fix test `Events should be sent by kubelets and the scheduler about pods
scheduling and running`
- [ ] fix test `[sig-apps] DisruptionController should block an eviction until the PDB is updated to allow it`

[2020-07-11 14:34] yichengliu58 commented on #3916
Yes of course, I'll try to work on this in my spare time. I'll make a PR after it's done.

[2020-07-13 03:04] Nefelim4ag commented on #3808
I think you can try reproduce that behavior, i just use that as test and scale it up/down several times (one time in my case),

[code]

[2020-07-13 03:21] Nefelim4ag commented on #3808
I tried set 131768 as connection limit, yep it harder to hit (more time), but reproducible

[2020-07-13 14:21] haircommander commented on #3916
awesome, thanks!

[2020-07-13 20:15] #3925 closed

[2020-07-14 17:27] #3913 closed

[2020-07-15 16:28] #3899 closed

[2020-07-16 04:56] eformat commented on #3437
Oddly .. i got this exact same error posted by @robszumski  and it was magically fixed when i stopped disabling ipv6. i.e.
[code]

im using iptables, and a cni of:
[code]

versions
[code]

[2020-07-16 13:42] haircommander commented on #3437
what are the content of `/etc/cni/net.d`? typically, the crio config file is name `10-crio-bridge.conf` which makes it take precedence over the podman one

[2020-07-16 14:42] jdconti opened #3959 "crio scope failure on teardown with shortlived / pods in error state"
**Description**
A certain workload is triggering a bug in crio where a short lived / error'd pod is timing out on teardown:
[code]

Here's the high-level overview:
[code]

**Steps to reproduce the issue:**
1. Using a JFrog pipeline, configure the max number of concurrent agents
2. Trigger job(s) that would exceed the max number of allowable agents
3. Observe jfrog error in jfrog-jenkins pod logs:

[2020-07-16 15:16] haircommander commented on #3959
hey @jdconti thanks for opening the issue

so you're saying you expect the pod to fail, but it's not failing gracefully? does the application ignore sigterm?
also, what's the full output of the `systemctl --failed` i think it'd be helpful to have the full description

[2020-07-16 15:42] jdconti commented on #3959
@haircommander it's surely an incorrect configuration on the jfrog-jenkins instance that's resulting in this weird failure mode.  However, it's clearly tickling a bug in the crio teardown.  I've posted the full output of `systemctl --failed` above but here it is again with many more scope failures since initially posting:
[code]

This is running the `jenkins/jnlp-slave:3.27-1 image`, here's the ev

[2020-07-16 16:15] haircommander commented on #3959
can you run with log-level debug, and get me the output of `journalctl -u crio` around the time it happened, plus `journalctl -u crio-conmon-$ctrID.scope` where $ctrID can be any of the affected containers

[2020-07-16 19:22] cynepco3hahue opened #3963 "crictl inspect does not show any information about the container cpuset.cpus"
**Description**

`crictl inspect` does not show any information about the `cpuset.cpus`, only fields that I can see is:
[code]

**Steps to reproduce the issue:**
1. Run any container and check the container via `crictl inspect`
2.
3.

**Describe the results you received:**
No information about the container `cpuset.cpus`

**Describe the results you expected:**
I expect to get the updated informati

[2020-07-16 19:22] cynepco3hahue commented on #3963
I would try to fix it if someone ready to be my mentor :)

[2020-07-16 19:25] haircommander commented on #3963
you may be able to get this with `crictl inspect -v ...`. If not, I'd be happy to mentor you

[2020-07-16 19:28] cynepco3hahue commented on #3963
I can see it returns an error:
[code]

[2020-07-16 19:31] cynepco3hahue commented on #3963
It affects the PR https://github.com/cri-o/cri-o/pull/3936, because I also do not have anything under the
`c.Spec().Linux.Resources.CPU.Cpus` :(

[2020-07-16 19:35] cynepco3hahue commented on #3963
@haircommander Can you please explain who is responsible to update this field and store it under the container `config.json` file? Because I can see that the `crictl inspect` shows CPU quota, but I did not find any place where do we update it for the container, except the update for the sandbox.

My current understanding:
- k8s calls to the `UpdateContainerResources`
- cri-o should call runc comma

[2020-07-16 19:43] haircommander commented on #3963
cri-o shouldn't be rewriting the config.json. that's immutable and only used for container creation. What UpdateContainerResources does is ask runc to update the cgroup information for the container.

You may have more luck getting the information from `crictl stats...` instead of inspect

[2020-07-16 19:48] haircommander commented on #3963
cri-o shouldn't be rewriting the config.json. that's immutable and only used for container creation. What UpdateContainerResources does is ask runc to update the cgroup information for the container.

You may have more luck getting the information from `crictl stats...` instead of inspect

[2020-07-16 20:52] wgahnagl opened #3965 "refactor to remove naming conflicts"
in the code, we reuse a lot of terms like container, image and sandbox. It would be really nice if we could figure out exactly what those interfaces do, and then rename them accordingly. (if it's the factory for a container or a sandbox, we should put factory somewhere in the name, so uses can be unambiguous)

[2020-07-17 06:09] cynepco3hahue commented on #3963
The problem not only that `crictl` does not show it, the problem that container spec does not have this information at all.
So who responsible to update the container spec after the resources update?

[2020-07-17 06:15] zokrezyl commented on #2927
@haircommander, not really, I think I got enough input. Sorry for keeping this so long open. Closing it.

[2020-07-17 06:15] #2927 closed

[2020-07-17 07:12] fromanirh commented on #3963
Hey, interested in this issue. worth noting that AFAIR if you try the same thing mentioned in https://github.com/cri-o/cri-o/issues/3963#issue-658490630 with containerd (easy example: kind), you do get the `cpuset.cpus` reporting. I'll fetch an example ASAP.

[2020-07-17 07:53] wrigtim commented on #3959
Thanks @haircommander - have `log-level="debug"` running now and awaiting reproduction...

[2020-07-17 09:15] fromanirh commented on #3963
[code]

[2020-07-17 11:13] wrigtim commented on #3959
Now have a failure with log-level set to debug...

[code]

`crio-conmon-e30f488f11547b1532ca7d66101d7e2dd417284e58ddb62884527d66a5c6458c.scope` journal:

[code]

The debug logs are huge and I'm just ensuring we can sanitize appropriately (there's a load of other pods running here including some internal apps). Here's a few excerpts from teardown - I notice the last entry in the log for this ID is

[2020-07-17 13:39] haircommander commented on #3959
yes, that is working correctly. The pod gets a stop request, which trickles down to the infra container, and we find that the infra container has exited, meaning the sandbox is no longer ready.

Unfortunately, this doesn't help me yet. I need the logs for the container. You can find those logs by first correlating pod id to pod name (here we have: `e30f488f11547b1532ca7d66101d7e2dd417284e58ddb6288

[2020-07-17 14:17] haircommander commented on #3963
ah! We will happily accept a PR from either of you to fix this discrepancy :smiley:

[2020-07-17 14:25] haircommander commented on #3965
agreed! I think a good first step would be renaming `pkg/sandbox` and `pkg/container` to `pkg/factory/container` and `pkg/factory/container` with each of the interfaces being named {Sandbox,Container}Factory. WDYT @saschagrunert

I am also interested in feedback about other confusing cases from newer contributors.

[2020-07-17 23:15] eformat commented on #3437
i have just one file - as posted above /etc/cni/net.d/100-crio-bridge.conf

[2020-07-18 00:16] tedyu opened #3976 "Remove resolvPath when Relabel fails"
**Description**

In Server#runPodSandbox, when Relabel fails, it seems we should remove resolvPath before returning the error.

This would be consistent with the handling in case parseDNSOptions() returns error.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you expected:**
resolvPath shouldn't linger when relabeling fails.

**Additional information you deem important (e.g. is

[2020-07-18 00:17] tedyu commented on #3976
Here is proposed fix:
[code]
/cc @haircommander

[2020-07-18 02:25] tedyu opened #3977 "Perform log directory validation early in Server#runPodSandbox"
**Description**

In Server#runPodSandbox, the validation of logDir is performed in the middle.
We should perform the validation early so that if there is misconfiguration, it can be detected ahead of operations which need to be rolled back (via deferred func's).

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you expected:**
Early validation of logDir being absolute.

**Additio

[2020-07-18 02:25] tedyu commented on #3977
Here is proposed change:
[code]

[2020-07-19 02:57] tedyu commented on #3894
#3957

[2020-07-19 02:57] #3894 closed

[2020-07-19 17:46] cynepco3hahue commented on #3963
I created the PR to fix the issue with the `UpdateContainerResources`, but we still will have this value empty, before `UpdateContainerResources` will run at least once. I do not think we should set any default values, because it an API consumer responsibility to send proper values for the container creation(in our case k8s - see https://github.com/kubernetes/kubernetes/blob/363c3b89f570142da5c43b

[2020-07-20 05:01] fromanirh commented on #3963
This seems reasonnable to me - as consumer of the API. I didn't check what containerd does in this case, but again, the proposed behaviour seems ok.

[2020-07-20 06:12] harche commented on #3977
Good catch! :)

[2020-07-20 06:27] saschagrunert commented on #3965
Probably a good first step. I know it seems confusing that we have multiple levels of containers which express something different, so I guess we could need any help we can get to fight this kind of technical depth.

[2020-07-20 13:58] haircommander commented on #3976
good catch, makes sense to me! (one nit, setting err = err1 will make the error double print err1)

[2020-07-20 16:47] #3976 closed

[2020-07-21 03:24] #3977 closed

[2020-07-21 11:08] saschagrunert opened #3988 "Exec(sync) overwrites runtime spec args"
**Description**

It looks like that an exec request overwrites the in-memory args for the container. This seems not harmful but leads into wrong information when running `crictl inspect`.

**Steps to reproduce the issue:**
1. Start CRI-O and kubernetes.
2. Apply the demo workload:
[code]
3. Check the args:
[code]
4. Run an exec:
[code]
5. Check the args:
[code]
6. If we restart CRI-O, then the cor

[2020-07-21 11:33] saschagrunert commented on #3988
Fix is incoming in https://github.com/cri-o/cri-o/pull/3989

[2020-07-21 12:49] wrigtim commented on #3959
Gotcha. So looks like we have:
[code]

And conmon executed with args:
[code]

That container log (start/finish) shows:
[code]

Then the crio debug log (for that `ContainerId`) shows:

[code]

[2020-07-21 15:12] #3988 closed

[2020-07-21 16:34] fidencio opened #3991 "runtime_vm: Panic creating a container due to "panic: protobuf tag not enough fields in Status.state""
When creating a vm using the "vm" runtime type and kata, the following panic will happen:
<details><summary>panic</summary>

[code]
</details>

Using the following yml as reproducer:
<details><summary>reproducer</summary>

[code]
</details>

**Steps to reproduce the issue:**
1. kubectl create -f /path/to/reproducer.yml
2. Wait till the pod status changes to "ContainerCreating"
3. Check `journalctl

[2020-07-21 16:34] fidencio commented on #3991
/cc @haircommander

[2020-07-21 16:43] fidencio commented on #3991
https://github.com/golang/protobuf/issues/1014 and https://github.com/gogo/protobuf/issues/678 are related to this issue.

[2020-07-21 16:50] haircommander commented on #3991
do you wanna take this one @fidencio ?

[2020-07-21 18:01] fidencio commented on #3991
@haircommander, although I'd like to, I don't think I'm the right person to work on this one.
IIUC, we'd have to drop gogo/protobuf in favour of golang/protobuf and rewrite our marshallers, isn't it?

What I'm really afraid here is that it'd take me way more time than it's acceptable to have this piece broken upstream.
So, if someone else is willing to tackle this one and have it fixed, just go ah

[2020-07-21 18:03] haircommander commented on #3991
in all likelihood, you'll be the first to take it. though, if anyone out there wants to take it, please feel free!

[2020-07-21 18:57] haircommander opened #3996 "rhel 7 and managed ns are not playing together well"
**Description**
[we](https://github.com/cri-o/cri-o/pull/3979#issuecomment-661236332) [have](https://github.com/cri-o/cri-o/pull/3973#issuecomment-660257176) [had](https://github.com/cri-o/cri-o/pull/3987#issuecomment-661858243) [many](https://github.com/cri-o/cri-o/pull/3987#issuecomment-662043024) [of these failures](https://github.com/cri-o/cri-o/pull/3868#issuecomment-661941694)

suspiciously

[2020-07-22 04:35] #3963 closed

[2020-07-22 15:45] fidencio opened #4000 "Runtime process left behind when container creation fails"
**Description**

When running the following container, which will fail to start, I can see runc / kata / runtimes processes being left behind.

[code]

On a k8s environment using CRI-O, simply do:

**Steps to reproduce the issue:**
1. kubectly apply -f /path/to/reproducer.yml
2. Wait till it fails to start
3. Check that a runc or kata processes are still left behind

**Describe the results you rec

[2020-07-22 15:46] fidencio commented on #4000
Note, I've found this out when tracking down and fixing issues which were kata specific. This one, however, is also seen with runc.

[2020-07-22 16:29] haircommander commented on #4000
interesting, we wait until the kubelet issues a RemovePod request to remove the container/pod

[2020-07-22 17:43] mrunalp commented on #4000
@fidencio Could you give more information on which processes you see not getting cleaned up?

[2020-07-22 17:56] fidencio commented on #4000
If you're using runc, this will be left behind:
[code]

If you're using kata, we're talking about QEMU, virtiofsd, and containerd-shim-kata-v2 processes.

[2020-07-23 08:48] saschagrunert opened #4003 "LFX 2024: Fully automated releases"
<details>
<summary>Original issue description</summary>

Right now we have to do the following steps to cut a release:
1. Bump CRI-O's version in `internal/version/version.go`
2. Create a PR for that change and merge it
3. Create a release via the GitHub UI
4. Manually trigger CircleCI on the release branch
5. Update the release notes via the GitHub UI

To fully automate this process we could:
1.

[2020-07-23 13:39] haircommander commented on #3996
https://storage.googleapis.com/origin-federated-results/pr-logs/pull/cri-o_cri-o/3960/test_pull_request_crio_integration_rhel/14278/artifacts/testout.txt

[2020-07-23 13:40] haircommander commented on #4003
Another step further would be to build for respective distributions once the release is cut

I am certainly in favor of automating :smile:

[2020-07-24 06:12] fidencio commented on #3922
This one looks like a duplicate of #3818, which is a duplicate of #3776.
If that's the case, please, consider closing this issue.

[2020-07-24 15:59] Stroppel commented on #2072
@haircommander, but I have to repeat the question from @matthias50. There ist no CentOS package. Even if I open the show excluded. It shows excluded, meaning it wasn't build. So will there be a chance, that this package will be build für centos or redhat soon?

[2020-07-24 16:33] matthias50 commented on #2072
@Stroppel, Start navigating from this point: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/ and you can find CentOS repos. For example, the CentOS 7 crio 1.18 repo is here: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.18:/1.18.1/CentOS_7/ and the .repo file is https://download.opensuse.org/repositories/devel:/kubi

[2020-07-25 10:10] #3906 closed

[2020-07-27 14:26] harche commented on #3991
@fidencio you mentioned,
[code]

Do you still see an issue if you use upstream CRIO master with upstream Kubernetes master?

[2020-07-27 16:37] haircommander commented on #3437
The issue is in documentation. if ipv6 is disabled, you need to remove the ipv6 version AND the `ranges` field. See https://github.com/cri-o/cri-o/pull/4023 for more details.

@eformat does change work for you?

[2020-07-27 16:39] haircommander commented on #3437
also cc @syedriko and @robszumski

[2020-07-27 19:21] haircommander commented on #3996
https://storage.googleapis.com/origin-federated-results/pr-logs/pull/cri-o_cri-o/3482/test_pull_request_crio_integration_rhel/14388/artifacts/testout.txt

[2020-07-28 04:18] medyagh opened #4027 "cri-o 1.17.3 package doesnt exist anymore and v1.17.4 breaks minikube"
hello,

I would like to know how I could install cri-o v1.17.3 , since the package has vanished from [the repo](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_19.10/).

in minikube project, we faced a blocker to build the minikube base image since we can no longer install cri-o v1.17.3.
and unfortunately cri-o v1.17.4 doesn't not pass our tests.  https://git

[2020-07-28 13:03] wrigtim commented on #3959
@haircommander Does that help at all? Happy to collect more debug data - given the pod turnover and volume of logs on these nodes are there particular messages we should be searching for (all logs are in captured + indexed) to expose the issue?

[2020-07-28 14:54] haircommander commented on #3959
sorry, this fell off my radar

The good news is I think everything is working as normally, minus the leaking systemd units. That has been fixed upstream:
https://github.com/cri-o/cri-o/pull/3859
which won't be available until cri-o 1.19.

That said, if your operating system has a systemd >= 236, and a runc of at least 1.0.0-rc91, you can specify a container annotation
`org.systemd.property.Collect

[2020-07-28 19:33] haircommander commented on #3437
also, wrt the original issue: https://github.com/cri-o/ocicni/issues/74
it seems 0.4.0 has checks that the bridge plugin is failing rn.

[2020-07-28 19:54] evanfoster opened #4029 "Container output not being logged with CRI format when using runtime_type=vm"
**Description**

Logs from a container launched with `runtime_type=vm` (e.g. Kata, using the containerd shim) aren't formatted correctly. They're completely missing the CRI formatting (timestamp and stream). This causes serious issues with Kubernetes, because the Kubelet expects logs to be in either Docker or CRI format.

**Steps to reproduce the issue:**
1. On a node with Kata installed and CRI-O

[2020-07-28 22:17] s2000coder opened #4030 "Failed to start Container Runtime Interface for OCI (CRI-O) - CentOS 8"
Followed the instructions below to install CRI-O 1.18 on CentOS 8.
[code]
cri-o installed sucessfully.
[code]

After installation, I get this error when starting cri-o service.
[code]
From journalctl
[code]

Any advice?

[2020-07-28 22:40] evanfoster commented on #4029
cc @fidencio

[2020-07-28 23:26] haircommander commented on #4030
I believe this is a duplicate of https://github.com/cri-o/cri-o/issues/3922

[2020-07-28 23:40] haircommander commented on #4030
actually, let's have https://github.com/cri-o/cri-o/issues/3818 be the issue to rule them all

[2020-07-28 23:40] haircommander commented on #3818
I am working on fixing this

[2020-07-28 23:41] #3922 closed

[2020-07-29 00:36] s2000coder commented on #4030
The fix in [#3776](https://github.com/cri-o/cri-o/issues/3776 ) resolves the issue.
Basically, replacing /usr/libexec/crio/conmon with /usr/bin/conmon in /etc/crio/crio.conf.