[2020-07-29 00:38] haircommander commented on #4030
great to hear, sorry for the problem. I hope to have the legit packaged fix coming soon

Thanks for trying out cri-o, and opening the issue. I'm closing this now, #3818 will be where the further fixes are tracked

[2020-07-29 00:38] #4030 closed

[2020-07-29 02:33] haircommander commented on #4027
hey @medyagh

Sorry for the frustration. I am not sure where 1.17.3 went, but I have attempted to package it (this is my first rodeo, so bear with me if there are any difficulties).

If you want to pin to a specific version, you can specify the subproject as so:
https://build.opensuse.org/repositories/devel:kubic:libcontainers:stable:cri-o:1.17:1.17.3

as oppposed to just `1.17` or pulling cri-o f

[2020-07-29 02:34] haircommander commented on #3818
This should be resolved at the same time we package 1.18.3

[2020-07-29 07:19] fidencio commented on #4029
/area-vm

[2020-07-29 08:37] wrigtim commented on #3959
Thanks @haircommander. This cluster is currently on RHEL7.7, and so we don't have `CollectMode` available...

We can work around this with some hackery for now. I'm still curious why it enters `failed` state (needing the CollectMode adjustment in #3859) rather than terminating "correctly"?

[2020-07-29 13:42] #3536 closed

[2020-07-29 13:51] haircommander commented on #3959
maybe it's the application not handling sigterm nicely?
https://serverfault.com/questions/695849/services-remain-in-failed-state-after-stopped-with-systemctl

[2020-07-29 14:20] haircommander commented on #3818
this is resolved in 1.18.3

sorry it took so long, and thanks for the patience everyone

[2020-07-29 14:20] #3818 closed

[2020-07-30 15:24] haircommander commented on #3996
https://storage.googleapis.com/origin-federated-results/pr-logs/pull/cri-o_cri-o/4034/test_pull_request_crio_integration_rhel/15195/artifacts/testout.txt

[2020-07-30 17:02] medyagh commented on #4027
@haircommander thanks for the response,
I tried this in our Dockerfile and it didn't build

[code]

here is the full log from the docker build
[code]

[2020-07-30 18:17] haircommander commented on #4027
you need to also add the top level repository:
[code]

[2020-07-30 18:39] tstromberg commented on #4027
Perhaps I am doing this wrong, but the v1.17.3~3 debian package seems to be missing nearly all of the files it should contain, such as a binary or systemd file:

# sudo dpkg -L cri-o
/.
/usr
/usr/share
/usr/share/doc
/usr/share/doc/cri-o
/usr/share/doc/cri-o/changelog.gz
/usr/share/doc/cri-o/copyright
[code]

[2020-07-30 18:45] tstromberg commented on #4027
The other quirk worth noting, in case it helps isolate the root cause, is that the v1.17.4 package is called 'cri-o-1.17', and the v1.17.3 package is called 'cri-o'.

[2020-07-30 18:47] haircommander commented on #4027
I would sooner believe that I packaged it incorrectly than that 15mb difference is expected. I will try to look into it later today or tomorrow, kind of swamped rn

[2020-07-30 18:50] tstromberg commented on #4027
Thank you for the update!

The inability to build a Docker image using crio v1.17.3 is blocking our minikube release, so we'll try in parallel to upgrade to v1.18.x to see if it addresses the strange disappearing pods after restart behavior we're seeing in v1.17.4

[2020-07-30 18:51] haircommander commented on #4027
as a side note, I'd like to hear more about this strange behaviour in 1.17.4, but I believe that's worthy of a new issue

[2020-07-30 18:54] haircommander commented on #3437
i believe there is still a bug here in how the plugins handle 0.4.0, as well as handle ipv6 range when ipv6 is disabled. Opening this, but moving it to ocicni

[2020-07-31 00:25] tstromberg opened #4035 "v1.17.4+ & kubelet restart: failed to initialize top level QOS containers: root container [kubepods] doesn't exist"
**Description**

With crio v1.17.4 and above, there appears to be some kind of race condition which may cause kubelet (v1.18.3) crash-looping with the following error:

[code]

**Steps to reproduce the issue:**
1. `git clone git@github.com:kubernetes/minikube.git`
2. replace `deploy/kicbase/Dockerfile` with https://gist.github.com/tstromberg/9bb9c3ebdd8893f4677a313130d5e481
3. run `docker build -t

[2020-07-31 00:26] tstromberg commented on #4027
Done: https://github.com/cri-o/cri-o/issues/4035

[2020-07-31 02:04] haircommander commented on #4035
thanks for reporting @tstromberg . I am curious if we see the same with a 1.18.x cri-o

[2020-07-31 05:37] tstromberg commented on #4035
I believe this also occurs with 1.18. @sharifelgamal may have some logs.

On Thu, Jul 30, 2020, 7:05 PM Peter Hunt <notifications@github.com> wrote:

[2020-07-31 16:50] haircommander commented on #3844
1.18.3 is now being built successfully in stable:
https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable:cri-o:1.18:1.18.3

[2020-07-31 18:52] #3580 closed

[2020-07-31 19:44] haircommander opened #4037 "README is not confident enough"
**Description**
The README could be more boastful about how amazing CRI-O is!

[2020-07-31 19:44] haircommander commented on #4037
I will take this!

[2020-07-31 19:51] haircommander commented on #4037
I can take this!

[2020-07-31 20:00] #4037 closed

[2020-07-31 20:52] haircommander opened #4038 "README is not confident enough"
**Description**
The README could be more boastful about how amazing CRI-O is!

[2020-07-31 21:09] haircommander commented on #4038
I can take this!

[2020-07-31 21:21] #4038 closed

[2020-08-01 14:27] #3917 closed

[2020-08-02 05:41] inductor commented on #3844
I still cannot find the packages... :(

[2020-08-03 14:22] haircommander commented on #3844
turns out, only debian has succeeded so far, and not the older ubuntu versions... sorry folks, we're still working on it!

[2020-08-03 19:54] rbtr commented on #3923
any movement on this?

[2020-08-04 00:57] haircommander commented on #3923
thanks for the ping @rbtr I am updating the spec now

[2020-08-04 00:58] rbtr commented on #3923
@haircommander awesome to hear, thank you!

[2020-08-04 01:03] haircommander commented on #3923
I have updated 1.18 module. we have an autobuilder that picks up changes and pushes every hour. Please let me know if you can't see it changed soon!

[2020-08-04 01:50] haircommander commented on #3844
ok we've been having more success so far. I believe 1.18 and 1.18:1.18.3 *should* be ready *soon*. Thanks for the patience everyone!

[2020-08-04 11:23] afbjorklund commented on #4035
Testing 1.18 was complicated by #3844 (missing .deb)

[2020-08-04 11:28] afbjorklund commented on #3844
Updating CRI-O in minikube was pushed to september (1.14), so most likely next release will have k8s 1.19 with crio 1.17

[2020-08-04 11:39] afbjorklund commented on #4027
@haircommander

I think this is a limitation of OBS, we have the same problem with podman...

The only way to use this repository reliably is to cache the packages "locally".

[2020-08-04 13:47] haircommander commented on #4027
you can pin to a release by setting `$VERSION` to `1.17:1.17.3`
that allows you to pin to a specific release, which will not update with the 1.17 project
https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable:cri-o:1.17:1.17.3

[2020-08-04 13:48] haircommander commented on #4027
the subproject 1.17.3 is created, can y'all try it out and let me know if it solves your problems?

[2020-08-04 14:55] haircommander commented on #3079
@saschagrunert would the upstream seccomp work fix this issue? i.e: are we targeting a non-empty default profile for 1.19 or 1.20?

[2020-08-04 16:44] haircommander commented on #3844
CRI-O 1.18.x is now available on ubuntu < 20.04
https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.18/cri-o
as such, I am closing this. if there's an issue with the builds, please let me know :smile:

[2020-08-04 16:44] #3844 closed

[2020-08-04 16:47] haircommander commented on #3744
@ecky-l is there anything left here, or is this resolved?

[2020-08-04 16:51] haircommander commented on #2885
@matthias50 wow, totally missed this. I assume this is still an issue, but I don't know if there's much we can do. We need to ship a set of configurations for users that don't want to set their own, so the installation works OOTB. Is the work around removing those configurations and putting in calico good enough? (I'd guess it is, because this issue is nearly a year old with 0 work having been don

[2020-08-04 16:53] haircommander commented on #2114
I believe we can consider this done. WDYT @amshinde @egernst @chavafg

[2020-08-04 16:58] matthias50 commented on #2885
The work-around of removing the files does allow crio + Calico to function. However, from my perspective, this very much did *not* work OOTB. Rather, I had to to do a lot of digging in order to figure out why Calico was blowing up spectacularly with crio when it worked fine with docker.  I guess the "box" you are referring to is crio without a CNI, but too me, that isn't a realistic use case.

[2020-08-04 17:45] afbjorklund commented on #3844
As noted above, you need to make it available as “crio-1.18” in the main repo or it won’t be visible to users

[2020-08-04 20:11] haircommander commented on #3844
I disagree. If we correctly document the location (https://github.com/cri-o/cri-o/pull/3901), then it shouldn't matter where we put them. the top level `crio-1.x` are considered legacy now, as we're using subprojects now instead. Once each of those versions are EOL, they will be cleaned up as well.

[2020-08-04 20:37] #3259 closed

[2020-08-04 21:04] haircommander opened #4045 "integration_crun failing intermittantly"
unfortunately, it seems our ci is not scraping the artifacts correctly for integration_crun failures. so what seems like a provisioning failure is actually a real failure. Take this for example:
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_integration_crun_fedora/7305/s3/download/gathered/testout_userns.txt
we see
[code]

and another similar one here https://ci.openshift.redh

[2020-08-04 21:04] haircommander commented on #4045
ptal @giuseppe

[2020-08-05 04:51] inductor commented on #3844
The main reason I reached at this issue is https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o

I think the CRI-O community should fix this installation

[2020-08-05 05:34] liubin opened #4046 "CloseIO is called before exec start"
**Description**

When using `kubectl exec` with the `-i` option and don't provide any input, the RPC call sequence may be dis-order.

**Steps to reproduce the issue:**
1. kubectl exec -i POD_NAME date

**Describe the results you received:**

In log:

[code]
The RPC call sequence may be either of these:

- CloseIO -> Exec -> Start
- Exec -> CloseIO -> Start

`CloseIO` is called in https://github.co

[2020-08-05 06:42] saschagrunert commented on #3079
Not right now. I don't think that the CRI will change without preserving the backwards compatibility: https://github.com/kubernetes/cri-api/blob/1eae59a7c4dee45a900f54ea2502edff7e57fd68/pkg/apis/runtime/v1alpha2/api.proto#L287

I suggest that we close this issue.

[2020-08-05 09:02] giuseppe commented on #4045
does it happen only with this test?

the userns support in CRI-O at the moment is quite broken, https://github.com/cri-o/cri-o/pull/3944 should improve it

[2020-08-05 09:10] giuseppe commented on #4045
anyway, taking a look right now trying to reproduce on my machine

[2020-08-05 10:36] afbjorklund commented on #3844
Sure, as long as there is a reasonable documentation for all the "xubuntu" and other quirks it is fine.

Right now we have https://cri-o.io/

[code]

and https://github.com/cri-o/cri-o

[code]

And the official https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o

[code]

So it seems to be rather aligned. Maybe needs the usual blurb on how to enable https repositories.

[2020-08-05 14:23] haircommander commented on #4046
@liubin thanks for opening the issue. you're using kata containers here right?

[2020-08-05 14:24] haircommander commented on #4045
I have so far only seen it there

[2020-08-05 14:32] haircommander commented on #3844
yes I agree @afbjorklund @inductor, and thanks for raising awareness of these locations. Once https://github.com/cri-o/cri-o/pull/3901 merges, I'll mirror it to those locations. in the mean time, I'd love reviews on it :smile:

[2020-08-05 15:04] liubin commented on #4046
Hi @haircommander , I'm using Kata containers, it's working now, but breaks https://github.com/kata-containers/kata-containers/pull/440
It may be depend on implementation of shim v2.

[2020-08-05 15:18] afbjorklund commented on #3844
Will prepare another upgrade, but for now all upgrades to the OS were postponed until next release.

Troubleshooting some other crio issues meanwhile, which all seem to come from "not being Docker"

https://github.com/kubernetes/minikube/issues/8919

https://github.com/kubernetes/minikube/labels/co%2Fruntime%2Fcrio

[2020-08-05 15:20] haircommander commented on #4046
yeah we only use the `utils/io` package when we're using kata shim v2 :)

[2020-08-05 15:20] haircommander commented on #4046
do you have any interest in trying to put together a fix @liubin ?

[2020-08-05 15:29] afbjorklund commented on #4027
It seems that crio was already upgraded to 1.18.3 instead: https://github.com/kubernetes/minikube/commit/61583d62492e2be0387563f460c56b1afba264c1

[2020-08-05 15:45] afbjorklund commented on #4027
Prepared both 1.17.3 and 1.18.3 (requires new OS/go), as an upgrade to current 1.17.1

[2020-08-05 18:03] haircommander commented on #3996
got one on integration_crun, which is no bueno
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_integration_crun_fedora/7317/s3/

[2020-08-05 20:00] haircommander commented on #4045
another one https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_integration_crun_fedora/7325/s3/

[2020-08-05 21:31] realnikhilkumar opened #4050 "cri-o 1.17 doesn't install on RHEL 7.7 - Package does not match intended download"
RHEL 7.7
Followed instructions from kubernetes https://kubernetes.io/docs/setup/production-environment/container-runtimes/

Using kubernetes 1.17.9

cri-o install fails

Downloading packages:
warning: /var/cache/yum/x86_64/7Server/devel_kubic_libcontainers_stable/packages/conmon-2.0.20-1.el7.x86_64.rpm: Header V3 RSA/SHA256 Signature, key ID 75060aa4: NOKEY--:--:-- ETA
Public key for conmon-2.0.20

[2020-08-05 22:26] haslersn commented on #2157
Since which version do you support it?

[2020-08-06 09:56] liubin commented on #4046
Ok, let me try it.

[2020-08-06 13:27] haircommander commented on #4046
thanks @liubin !

[2020-08-06 14:00] haircommander commented on #2157
I believe support began in 1.15 or 1.16. I know all of our currently supported versions (1.16-1.18) have support for it

[2020-08-06 14:06] haircommander commented on #4050
I am going to guess running
[code]
didn't help, right?

[2020-08-06 16:26] rbtr commented on #3923
hey @haircommander, I can see that you've updated the spec on src.fedoraproject.org but that doesn't seem to have made it to the packages that I see on my end (at least through DNF on F32). Any hiccups with that autobuilder?

[2020-08-06 17:58] haslersn commented on #2157
Ah. It seems that the ppa.launchpad.net/projectatomic/ppa/ubuntu is still on `1.15.3-dev`.

[2020-08-06 19:04] lsm5 commented on #3923
@rbtr 1.17 and 1.18 are in pending state:
[code]

These should land in testing soon.

It's my bad that the auto-builder ain't quite working as expected atm. A few things to iron out and we hope to have it enabled next week.

[2020-08-06 19:06] rbtr commented on #3923
copy that, thanks for the update. I'll keep an eye out!

[2020-08-06 20:48] haircommander commented on #3844
k8s doc update: https://github.com/kubernetes/website/pull/23000
cri-o.io docs update: https://github.com/cri-o/cri-o.io/pull/45

[2020-08-07 16:41] fgiudici commented on #3991
I'm reproducing the issue with upstream CRIO master and containerd-shim-kata-v2.
Just a "crictl runp simplepod.json" triggers the issue.

[2020-08-07 17:09] mrunalp commented on #3991
Can we try with Kubernetes 1.19 against CRI-O 1.19?

[2020-08-10 07:21] fidencio commented on #3991
@mrunalp, @harche,

Firstly, sorry for the long time it took me to get back to this one.

The issue also happens with Kubernetes 1.19 and, as @fgiudici mentioned, with crictl alone. So, it's something that should be solved on our side.

[2020-08-10 08:56] harche commented on #3991
What was the version of cri-o? was it 1.19 as well?

[2020-08-10 09:35] fidencio commented on #3991
I've tested with latest cri-o commit, but it's reproducible with any commit since https://github.com/cri-o/cri-o/commit/9bf8e539754c9553c50fc62b108cff652bc4722e.

[2020-08-10 16:14] realnikhilkumar commented on #4050
Yes it didn't help.

[2020-08-10 17:54] haircommander commented on #4050
we are actively updating the instructions for installation. can you refer to `install.md` in this repo, or at the update PR https://github.com/kubernetes/website/pull/23000 and see if those instructions help at all?

[2020-08-11 04:06] liubin commented on #3991
Kata containers CI is using v1.17.3 of Kubernetes, I'm trying to use the latest upstream CRI-O and it failed, the same error, as @fgiudici said, it's easy to re-produce.

[2020-08-11 13:10] fidencio commented on #3991
The issue is also being tracked on containerd/ttrpc side: https://github.com/containerd/ttrpc/issues/62

[2020-08-11 18:28] realnikhilkumar commented on #4050
I am checking on it

[2020-08-11 18:46] realnikhilkumar commented on #4050
Do you want me to run below commands and check if installer went through

curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/CentOS_7/devel:kubic:libcontainers:stable.repo
curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable:cri-o:1.17.repo

https://download.opensuse.org/repositories/devel:kubic:libc

[2020-08-11 21:34] fidencio commented on #3991
I've dropped an email to kata-dev asking for help on this one, as the very same issue already affects containerd projects and may also affect kata soon.
http://lists.katacontainers.io/pipermail/kata-dev/2020-August/001436.html

[2020-08-12 07:44] AkihiroSuda opened #4069 "runtime validation: \"runc\" not found in $PATH: exec: \"runc\": executable file not found in $PATH""
**Description**

CRI-O fails when `runc` binary is not present in `$PATH`, even when `[crio.runtime.runtimes]` doesn't contain `runc`

**Steps to reproduce the issue:**
1. Trigger Usernetes CI with CRIO_COMMIT= 267aa23eb538c3292ac4d254b8fb1b0ff6209697  (2020-08-11): https://github.com/rootless-containers/usernetes/pull/183

**Describe the results you received:**

[code]

**Describe the results you

[2020-08-12 07:57] AkihiroSuda commented on #4069
Regression in 91d3d2791 (https://github.com/cri-o/cri-o/pull/3772)

[2020-08-12 13:41] haircommander commented on #4069
you need to also set
[code]

[2020-08-12 13:43] haircommander commented on #4050
yeah!

[2020-08-12 14:03] AkihiroSuda commented on #4069
Yes, set, but still requires runc
https://github.com/rootless-containers/usernetes/blob/6b7c064bf5ef4161cef3453bb858b7d6e05d9628/boot/crio.sh#L42

[2020-08-12 14:05] haircommander commented on #4069
@harche PTAL

[2020-08-12 14:56] saschagrunert commented on #4069
Xref for the discussion: https://github.com/cri-o/cri-o/pull/3772#discussion_r431620595

[2020-08-12 17:52] mjudeikis commented on #369
2020 and this still an issue on rhel :/

[2020-08-12 18:21] realnikhilkumar commented on #4050
Install worked now!

It still gives a warning about signature key. Is this benign or can this be ignored. Would it lead to any security/integrity risk. See attached.

Nikhil
![Key Not Present](https://user-images.githubusercontent.com/69275062/90052361-06cd7a00-dca7-11ea-8e47-13f43d88bb6e.PNG)

[2020-08-12 19:28] medyagh opened #4074 "Version '1.18.3~2' for 'cri-o' was not found"
Similar to our previous problem with Cri-o packaging we are again blocked by cri-o package vanishing

https://github.com/kubernetes/minikube/issues/8982

we might need to drop support for cri-o in minikube in case we can not have a stable build process for crio.

[2020-08-12 19:41] kolyshkin opened #4075 "cgroupfs: container created with bad cgroup path"
**Description**

cri-o messes up cgroup paths for ~~cgroupv2 +~~ cgroupfs setup. **Update:** The bug is valid for both cgroupv1 and v2.

**Steps to reproduce the issue:**

~~On a cgroupv2 host (e.g. Fedora 32), ~~ in cri-o top source directory, run the following:

[code]

**Describe the results you received:**

Excerpts from the output of the above test case.

1. Result of `crictl inspect "$id" |

[2020-08-13 01:35] #4046 closed

[2020-08-13 03:44] kolyshkin commented on #4075
@haircommander PTAL

[2020-08-13 20:26] realnikhilkumar commented on #4050
I am closing this now. I think GPG key requires update. Install and remove both worked fine.

[2020-08-13 20:26] #4050 closed

[2020-08-14 04:50] kolyshkin commented on #4075
This is **NOT** a regression introduced by #3810 -- it was working the same way before :-\ maybe even from the dawn of time.

[2020-08-14 18:39] fidencio opened #4081 "runtimeVM: Logs in /var/log/pods/$namespace_$pod_name_$pod_uid/$container_name/$restart_number.log are empty"
**Description**
While debugging #4029 I realised the content of `/var/log/pods/$namespace_$pod_name_$pod_uid/$container_name/$restart_number.log` is always empty.
After bisecting the issue, I found out that https://github.com/cri-o/cri-o/commit/924a8e9830f112821f03984d417f938f945ba442 is the faulty commit, that makes the logs to not be stored anymore.

**Steps to reproduce the issue:**
reproducer.

[2020-08-16 16:53] rbtr commented on #3923
@haircommander @lsm5 Just got the chance to check this again; looks good on my end!
[code]
:tada:

Thanks for this!

[2020-08-16 22:14] Ehekatl opened #4084 "[1.16] crio refuse to delete pod if cni is not available"
**Description**

There is no way to clean up the pods if cni is down
I was doing reset on a node, I removed all containers with crictl rm, but the pods are still there.
When I try run crictl stopp or crictl rmp -f, it always failed with timeout connect to cilium socket.

[code]
I also tried clean cni config and restart crio first, then it give me error of Missing CNI default:

[code]

the issue do

[2020-08-17 13:35] haircommander commented on #3923
excellent to hear!

As such, I'm closing this

[2020-08-17 13:35] #3923 closed

[2020-08-17 13:49] haircommander commented on #4074
hey @medyagh sorry for the late reply, I was out on vacation

does installation work if you drop the `~2`? We'll need to bump the version to make patches to the build, so I do not think we can avoid going from `1.18.3~2` to `1.18.3~3`

[2020-08-17 13:49] haircommander commented on #4074
cc @lsm5

[2020-08-17 16:05] haircommander commented on #369
which issue? the gpgme or the seccomp dependency?

[2020-08-17 16:13] haircommander commented on #4084
The regressions is because we have begun to fail when we fail to tear down the network: https://github.com/cri-o/cri-o/pull/3164
This behaviour is intentional and I believe it is correct. It allows us to propagate errors from cni and have the kubelet appropriately retry when, for instance, a cni del request times out.

I am partially conflicted, but I do think this new behaviour is desired. If cri

[2020-08-17 16:57] #4029 closed

[2020-08-17 16:57] #4081 closed

[2020-08-17 17:29] mjudeikis commented on #369
I moved to rhel7 as I was not able to compile anything on rhel7 due to missing deps. seccomp was the issue

[2020-08-17 18:32] haircommander commented on #369
can you post more of your output? also, what happens if you run `BUILDTAGS='selinux' make` (i.e, omitting the seccomp build tag)

[2020-08-17 18:34] mjudeikis commented on #369
Sadly I cant. Passed this phase and removed the setup. If I get back to rhel7, for sure will try again and post here.

[2020-08-17 18:35] haircommander commented on #369
I'm closing this (age old) issue for now then. Please open a new issue with more details if you see it again!

[2020-08-17 18:35] #369 closed

[2020-08-18 10:30] harche commented on #4069
[code]

I did following tests with this change,

1. Start CRIO by configuring `crun` as the `default_runtime` (with and without having `runc` on the host)
[code]
**Result** -  CRIO starts fine. But it will remove the default runtime entry `runc` that came from [here](https://github.com/cri-o/cri-o/blob/master/pkg/config/config.go#L37). If we decide to go with the above change, then we can explicit

[2020-08-18 10:56] saschagrunert commented on #4069
Sounds like a feasible solution to me, if @AkihiroSuda is also fine with it. :+1:

[2020-08-18 10:58] AkihiroSuda commented on #4069
SGTM

[2020-08-18 12:09] haircommander commented on #3996
got one on fedora
https://storage.googleapis.com/origin-federated-results/pr-logs/pull/cri-o_cri-o/4080/test_pull_request_crio_integration_rhel/16593/artifacts/testout.txt

[2020-08-19 00:56] #4075 closed

[2020-08-19 04:04] jianzzha opened #4095 "high performance hook need to handle self-exit container"
**Description**

if a container that uses the high performance hook to set up CPUSLoadBalancing exits by itself, rather than using kubectl delete command to terminate it, then the CPUSLoadBalancing doesn't get a chance to recover. For example, using the follow yaml file to create a cyclictest pod that lives for "5s",
[code]

After 5 second, the cyclictest completes and the pod state changes to "Co

[2020-08-20 11:59] Ehekatl commented on #4084
@haircommander
for now we are creating a loopback cni config before clean all pods out.
Hacky but works, there should be a better way than this

[2020-08-23 19:03] rkojedzinszky opened #4110 "cri-o compiled with Golang 1.15 errors on execing into a container"
Cannot exec into a container using pty.

**Steps to reproduce the issue:**
1. Start a container
2. Try to exec into the container:
[code]

**Describe the results you received:**

Could not execute command using pty in container.

**Additional information you deem important (e.g. issue happens only occasionally):**

Happens when compiled with Golang 1.15

**Output of `crio --version`:**

[code]

**

[2020-08-24 07:05] saschagrunert commented on #4110
@rkojedzinszky I proposed a fix in #4111, can you confirm that this works for you?

[2020-08-24 13:28] rkojedzinszky commented on #4110
@saschagrunert Seems to be working as expected. Thanks for the quick response.

[2020-08-24 13:33] saschagrunert commented on #4110
Awesome, thank you for the verification.

[2020-08-24 21:54] #4069 closed

[2020-08-24 22:57] #4095 closed

[2020-08-25 15:43] mjudeikis commented on #369
@haircommander:
[code]
Linux ci-000000 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 11 19:12:04 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux

Libarary we use: `"github.com/containers/image/types"`

[code]
libseccomp-devel is not available in RHUI

[2020-08-25 15:50] haircommander commented on #369
do you have `gpgme-devel`? it's not failing on seccomp but gpgme.h not being installed

[2020-08-26 06:28] mjudeikis commented on #369
we ended solving it with `CGO_CFLAGS="-Dgpgme_off_t=off_t"` and `gpgme-devel libassuan-devel` packages

[2020-08-26 13:05] haircommander commented on #3937
oh! what operating system and are you running with SELinux?

[2020-08-27 10:18] steled commented on #3233
Hi,

is there any update? It isn't still working for now.

[2020-08-27 12:28] hxquangnhat commented on #3937
the OS is RHEL 7.8 (maipo) and yes, we enabled SELinux

[2020-08-27 14:36] haircommander commented on #3233
what version @steled ?

[2020-08-27 17:03] steled commented on #3233
Hi @haircommander,

see below a list of some information.

[code]

[code]

Hope this helps.

[2020-08-27 20:54] haircommander commented on #3937
can you try by disabling SELinux? that'll show us if it's that or not

[2020-08-30 16:39] sharkymcdongles commented on #3770
How do you mean? If you do su - then the container will prompt for authentication to change to root which is the entire reason this functionality is necessary.

[2020-08-31 06:43] AkihiroSuda opened #4136 "[Alpine] pinns.c:153:11: error: implicit declaration of function 'TEMP_FAILURE_RETRY'"
**Description**

pinns can't be compiled on Alpine, because glibc extension TEMP_FAILURE_RETRY isn't supported on Alpine's musl libc.

Regression in ad2ed3b792

**Steps to reproduce the issue:**

Build the following Dockerfile:
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Shouldn't fail

[2020-08-31 13:49] haircommander commented on #3770
you have to edit the user or the group to not need a password. This can be done when building the container:
[here](https://unix.stackexchange.com/questions/113754/allow-user1-to-su-user2-without-password) are some tips to do so

[2020-08-31 13:55] sharkymcdongles commented on #3770
I am aware how to build a container. If you use any upstream deployments
from a CNCF project or similar with a properly vetted security footprint in
the container, then you will likely be running containers not built by you
e.g. prometheus operator or similar. This alteration would necessitate
building every single container for every single deployment and every
single upgrade of said deployment.

[2020-08-31 14:17] haircommander commented on #3770
understood. in this disaster recovery scenario, is there anything preventing you from using `runc exec` directly instead of crictl?

[2020-08-31 14:18] DevasiaThomas commented on #3770
@sharkymcdongles I understand your pain point, and I thought about trying to get the spec changed etc. But since the product I work on needs to work with crio today, I just shifted to the runc layer. You can supply the user id using runc instead. As it is, dealing with crio means you are in the node dealing with containers directly, just use runc instead.
If you are using some other runtime, I’m s

[2020-08-31 14:23] sharkymcdongles commented on #3770
I was unaware you could use runc directly. This seems like an acceptable
solution. I will experiment with this then. No need to repeat functionality
already given via runc. Thanks for the thorough explanation and
enlightening correspondence!

On Mon, 31 Aug 2020, 16:18 Devasia Thomas, <notifications@github.com> wrote:

[2020-08-31 14:54] fidencio commented on #3991
By the way, the commit that brought google protobuf v1.4.2 in on k8s side was: https://github.com/kubernetes/kubernetes/commit/283d9f7483d9a5b30746921a68e7a5e586c2c80e

[2020-08-31 16:02] fidencio commented on #3991
And the PR that brought that in: https://github.com/kubernetes/kubernetes/pull/90582

[2020-08-31 16:57] haircommander commented on #3233
sorry for the delay @steled this is fixed in cri-o 1.17.5, can you try that version?

[2020-08-31 17:32] steled commented on #3233
Hi @haircommander,

no problem.
I can't find that version:

[code]

And can't find such version also at: http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Raspbian_10/
or: https://github.com/cri-o/cri-o/tags

May I miss some source?

[2020-08-31 18:47] haircommander commented on #4110
pr merged upstream, are we good to close this?

[2020-08-31 18:48] haircommander commented on #3233
oops my mistake, we never actually released 1.17.5. I am working with the other maintainers on getting it out the door!

[2020-08-31 18:48] saschagrunert commented on #4110
I think so
/close

[2020-08-31 18:48] #4110 closed

[2020-08-31 19:18] fgiudici commented on #3991
Some more details on the issue:
github.com/containerd/ttrpc (ttrpc for short now on) rely on gogo protobuf as the internal protocol buffer implementation.
ttrpc imports also some google packages:
"google.golang.org/grpc/codes"
"google.golang.org/grpc/status"
"google.golang.org/genproto/googleapis/rpc/status"
which are *generated* via golang (google) protobuf.
Now, newer versions of golang protobuf

[2020-08-31 19:45] fidencio commented on #3991
This may actually be a reasonable workaround.

[2020-09-01 00:15] kolyshkin opened #4147 "pinns failure diagnostics is not adequate"
**Description**

Pinns failure diagnostics is not adequate. Here's an excerpt from logs:

[code]

There are a few problems in here.

1. There is no clear mention that pinns has failed (it is overshadowed by "failed to unmount" message).

2. Stderr from pinns is not shown at all.

3. umount errors are most probably bogus (as the paths were not mounted).

[2020-09-01 00:15] kolyshkin commented on #4147
the fix is coming

[2020-09-01 07:04] steled commented on #3233
Sounds great. Will wait for the new release.

[2020-09-01 16:30] #4136 closed

[2020-09-01 19:59] haircommander commented on #3233
1.17.5 is in the OBS repo now:
https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.17/cri-o
I have yet to make a pinned package yet, as there's a centos 7 error I need to chase down

Also, please refer to install.md for newer installation instructions. I see you're downloading using the old strategy (from the main libcontainers:stable repo) rather than the new strategy

[2020-09-02 02:33] #4147 closed

[2020-09-02 12:33] steled commented on #3233
Hi @haircommander,

thanks for your support and the tip with the new strategy.
So I changed the strategy as described at [APT based operating systems](https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems)
For `$OS` I used `Raspbian_10` and for `$Version` I used `1.17`
Download and everything works but there is no binary for `crio` :-D
Maybe I missed something?

[2020-09-02 18:59] gattytto opened #4156 "[1.18] crio reports image up to date while still downloading"
Version:       1.18.0
GitCommit:     7d79f42b28ad00cf2e7d86604a5a4007303ac328
GitTreeState:  dirty
BuildDate:     2020-08-04T01:21:36Z
GoVersion:     go1.13.8
Compiler:      gc
Platform:      linux/amd64
Linkmode:      unknown: `ldd /root/crio` failed: ldd: /root/crio: No such file or directory
  (exit status 1)

![image](https://user-images.githubusercontent.com/407397/92024932-3535f680-ed35-11ea

[2020-09-02 19:45] haircommander commented on #3233
oh goodness, yes I did seem to break something. looking into it @steled

[2020-09-02 23:14] haircommander commented on #3233
okay @steled the issue should be fixed on Debian. there's something up with the Raspbian installation that I don't understand, that will have to wait for tomorrow, unless Debian installation meets your needs

[2020-09-03 06:58] steled commented on #3233
Good morning @haircommander,

I'm using Debian as test environment and Raspbian as prod so Debian is fine for now.
I hope it is not such a big problem with Raspbian.

Thanks and best regards

[2020-09-04 16:04] steled commented on #3233
Hi @haircommander,

just to let you know.
I tested `Debian_Testing` and `cri-o` version `1.17` and it works now.

Best regards and a nice weekend

[2020-09-04 18:07] #3991 closed

[2020-09-07 23:10] agbanagba commented on #3782
Hi,

I'm new to cri-o and container runtimes and will like to contribute here.

From the runtime specification, the container stats memory usage only specifies one value which is the working set of bytes [here](https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1alpha2/api.proto#L1301) and from my understanding, the specification needs to be updated to return the container limit a

[2020-09-08 14:15] haircommander commented on #3782
Welcome @agbanagba ! yes it does seem like there'd need to be a change in the CRI to implement this

[2020-09-08 17:39] hafe opened #4175 "containers not started after host reboot, storage_driver overlay2"
**Description**

Kubespray configures storage_driver=overlay2 in crio.conf whereas  /etc/containers/storage.conf contains overlay
Containers can be deployed but after host reboot nothing is started

I been told that crio interprets overlay2 the same as overlay but it does not fully work.

The docs are not clear if the value overlay2 is supported and it actually seems to work! A lot of old docs and

[2020-09-08 17:49] steled commented on #3233
Hi @haircommander,

I tested a clean install of `cri-o` version `1.17` with `cri-o-runc` but this doesn't seem to work.
See the following informations:

[code]

I can't find a `runc` nor a `cri-o-runc` command.

[2020-09-08 18:23] haircommander commented on #3233
interesting, `runtime_path = ""` should be populated with the location of cri-o-runc. can you open a new issue, I believe it to be unrelated to this one (which I also think should be closed)

[2020-09-08 20:22] steled opened #4177 "cri-o 1.17.5 runc not found in $PATH"
**Description**

**Steps to reproduce the issue:**
1. install cri-o according to the instructions: https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems
2. start cri-o

**Describe the results you received:**
[code]

**Describe the results you expected:**
- normal start and use of `cri-o` with `cri-o-runc`

**Additional information you deem important (e.g. issue happens

[2020-09-08 20:32] steled commented on #3233
ok I opened ticket #4177 ... I think that the `cri-o-runc` problem is not related to this problem...
I hope that this problem isn't that hard to solve...

[2020-09-08 21:08] haircommander commented on #4177
ah by "distrobutions runc" I meant the one if you do `apt install runc`. That will put runc in the $PATH. can you try that, instead of installing crio-runc?

[2020-09-09 13:43] steled commented on #4177
Ok I installed `runc` via `apt-get install runc` and `crio` seem to work now...

[code]

But I thought that `runc` from Debian packaged version isn't needed when I install `cri-o-runc` as described at the `Note` at https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems

[2020-09-09 14:10] haircommander commented on #4177
we used to have crio-runc the default value in the crio config. I must have inadvertently changed that...

I think, going forward, we should not rely on crio-runc, and instead install from the distribution. I will work on updating the other branches as they each release new versions

[2020-09-09 18:09] steled commented on #4177
ok, sounds good...
so for me this problem is solved :-)

thank you very much for your support

[2020-09-09 18:11] steled commented on #3233
it seems that the part `cgroup_manager` at file `/etc/crio/crio.conf` changed:

[code]

I added at the file `/var/lib/kubelet/config.yaml` the configuration `cgroupDriver: systemd`
so I also had to change the value at  `/etc/crio/crio.conf` from `cgroupfs` to `systemd`

[2020-09-09 18:28] haircommander commented on #3233
that seems to be from the same cause as #4177, for some reason, the debian builds aren't picking up overridden defaults

[2020-09-09 18:32] steled commented on #4177
just for documentation purpose...

it seems that the part `cgroup_manager` at file `/etc/crio/crio.conf` changed:

[code]

I added at the file `/var/lib/kubelet/config.yaml` the configuration `cgroupDriver: systemd`
so I also had to change the value at  `/etc/crio/crio.conf` from `cgroupfs` to `systemd`

without this I get the following error at pod creation:

[code]

[2020-09-09 18:43] haircommander commented on #4177
I found the issue, the build target changed upstream, but the downstream packaging script wasn't updated to reflect that. It should be updated now

[2020-09-09 18:44] haircommander commented on #4177
(builds are building, I'll close this when I verify the change worked)

[2020-09-09 19:02] haircommander commented on #3233
I am closing this, as 1.17.5 has been released. please reopen if you disagree

[2020-09-09 19:02] #3233 closed

[2020-09-09 19:20] Quarky9 commented on #4177
@haircommander getting
Err:1 http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.17/xUbuntu_20.04  cri-o 1.17.5~1
  File has unexpected size (20669972 != 20667640). Mirror sync in progress? [IP: 195.135.221.134 80]
  Hashes of expected file:
   - SHA256:007a26f40a45479d2afdda015b43db372fb52f640363a5bfa7335b205618fc32
   - SHA1:062b080a027483974a4b630652e1cce9d22

[2020-09-09 19:26] haircommander commented on #4177
@Quarky9 I just tried and didn't get that error, maybe clean up `/etc/apt/sources.list.d/devel:kubic...` and try again?

[2020-09-09 19:26] haircommander commented on #4177
also @steled the issue should be resolved now, PTAL

[2020-09-09 19:32] Quarky9 commented on #4177
@haircommander Thx for quick update ... works now after cleaning out my apt cache. Seems like race condition. All good. Thx

[2020-09-09 19:38] haircommander commented on #4175
I am suspicious (though not sure) that https://github.com/cri-o/cri-o/commit/36e33eb7ddc0a16c9fa6a038fee1b4348987f623 will help with this

[2020-09-09 19:53] haircommander commented on #4177
happy to help :smile:

[2020-09-09 20:24] steled commented on #3233
sorry but is it right that builds for Raspbian failed, see: https://build.opensuse.org/package/live_build_log/devel:kubic:libcontainers:stable:cri-o:1.17/cri-o/Raspbian_10/armv7l

it also seems that there isn't a new build at: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.17/Raspbian_10/

[2020-09-09 21:10] steled commented on #4177
@haircommander it seems to work for Debian release... thank you for your support

I wrote something at #3233 I can't reopen the issue...
it seems that there is no `crio` binary...

[2020-09-09 23:24] agbanagba commented on #3782
@haircommander thanks for the warm welcome. What's the process to get a CRI change? Do I just open a PR in opencontainers/runtime-spec?

[2020-09-10 00:18] haircommander commented on #3782
the more I think about it, the more I am unsure this is actually a good first issue. CRI changes usually need approval by sig-node, so you'd want to come to that and make the proposal. I think that may be actually a bit out of scope for beginners. I'd be happy to tell you more if you're still interested, but I'd probably recommend you find that needs less process with the k8s community.

[2020-09-10 11:15] agbanagba commented on #3782
Thanks. I would be interested to know more about the process but not to work on this issue.

[2020-09-10 17:31] steled commented on #4177
@haircommander just for verification...
`Debian_Testing` with `cri-o 1.17.5` and `cri-o-runc` works...
great job and thank you again...

now only `Raspbian_10` is left 🙈

[2020-09-10 18:01] haircommander commented on #4177
yeah Rasbian is going to be a bit difficult, but I will work when I can. do you have a time frame you'd like the support by (I know you're in a dev env right now)

[2020-09-10 18:01] haircommander commented on #4177
closing this as the issue is resolved

[2020-09-10 18:01] #4177 closed

[2020-09-10 18:08] steled commented on #4177
@haircommander maybe it would be great if Raspbian could work in the next 4 weeks?
maybe we can track the status at #3233 ?

[2020-09-10 18:48] haircommander opened #4183 "rasbian support in obs"
a tracker issue for getting raspian support in OBS

[2020-09-10 18:48] haircommander commented on #4183
cc @steled

[2020-09-12 15:55] afbjorklund commented on #4183
There are some images available at https://build.opensuse.org/project/monitor/devel:kubic:libcontainers:stable?arch_armv7l=1&defaults=0&repo_Raspbian_10=1&succeeded=1 but maybe this issue is about something else

[2020-09-12 21:59] haircommander commented on #4183
Those represent the old way of packaging cri-o, and won't be updated. I am working on the newer repos (described in the install.md) which this issue covers

[2020-09-13 11:38] kubealex opened #4189 "Executing commands in containers with --tty option results in error."
**Description**

Using cricitl exec -it *anycommand* in any container fails with error:

set 13 11:04:38 k8s-worker-2.k8s.lab crio[10506]: E0913 11:04:38.180305   10506 exec.go:71] error executing command in container: fork/exec /usr/bin/runc: Setctty set but Ctty not valid in child

**Steps to reproduce the issue:**

1. run crictl exec -it anycommand in anycontainer

**Describe the results you re

[2020-09-13 13:47] afbjorklund commented on #4183
Good to know. There was nothing on https://cri-o.io/ and I could only find a broken link from https://github.com/cri-o/cri-o/blob/master/install.md#debian---raspbian---ubuntu: https://github.com/cri-o/cri-o/blob/README.md#installing-crio (404)

I suppose it will be the matrix at https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems

[2020-09-13 13:51] afbjorklund commented on #4074
Current workaround is `1.18.3~3`

It will probably break in the _next_ update, so maybe better off as just "cri-o" (or "cri-o-1.18" from the main repository, not sure).

https://github.com/kubernetes/minikube/blob/v1.13.0/deploy/kicbase/Dockerfile#L27_L31

[2020-09-13 15:20] steled commented on #4183
Yes the links were broken but seem to be repaired now except the one: https://github.com/cri-o/cri-o/blob/README.md#installing-crio

For updated version of `Raspibian_10` you can have a look at the following links:

http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.17/Raspbian_10/
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/R

[2020-09-15 03:49] lovebaby979 opened #4194 "pod status is ready, logs report error"
ubuntu: 18.04
crio: 1.18.3
runtime: kata-runtime 1.11.3
K8S： 1.14.3
------------------------------------------------
root@mgt03:~# crictl pods coredns
POD ID              CREATED             STATE               NAME                                      NAMESPACE           ATT
558ac990df54e       20 minutes ago      Ready               coredns-d5rz8                             kube-system         1

[2020-09-15 07:51] saschagrunert commented on #4189
@kubealex can you check if the issue still exists with v1.19.0?

[2020-09-15 10:18] Sh4d1 opened #4196 "Wrong static release URL for 1.19.0 ?"
Hello!

Is it normal that the URL for the 1.19.0 static release bundle is https://storage.googleapis.com/k8s-conform-cri-o/artifacts/crio-99c925beb.tar.gz and not https://storage.googleapis.com/k8s-conform-cri-o/artifacts/crio-v1.19.0.tar.gz ?

If not could it be added?

[2020-09-15 10:36] saschagrunert commented on #4196
@Sh4d1 thank you for the hint. I fixed the link and download location. :+1:

[2020-09-15 10:36] #4196 closed

[2020-09-15 14:06] haircommander commented on #4194
a pod is different than a container in cri-o world. If you want the logs from the containers in pod 558, run `crictl ps -a | grep $pod_id` and run `crictl logs` on the resulting containers

[2020-09-15 14:41] advancedwebdeveloper opened #4197 "Undefined syscall.TIOCGPTN, syscall.TIOCSPTLCK during compilation of cri-o (gollvm related)"
Hi.
I was trying to build cri-o using [gollvm](https://go.googlesource.com/gollvm/) .

So I cloned the master branch and triggered make:

 **go build: when using gccgo toolchain, please pass linker flags using -gccgoflags, not -ldflags**
 cat /home/oceanfish81/.cache/go-

 **unshare.c:137:16: warning: comparison of integers of different signs: 'int' and 'size_t' (aka 'unsigned long') [-Wsign-compa

[2020-09-15 16:08] advancedwebdeveloper commented on #4197
CC @sameo @saschagrunert @rhatdan
BBC @thanm

Ivan

[2020-09-15 16:44] haircommander commented on #4197
sorry if I'm misunderstanding, but it seems all of these errors are from different libraries. Is there anything actionable in cri-o other than importing a newer version of the libraries that support gollvm?

[2020-09-15 17:05] haircommander opened #4200 "Orphaning native fedora package"
@lsm5 and I are considering orphaning the native fedora packages (built using fedora modules) in favor of packaging in OBS (same as every other distribution other than openSUSE).

I am opening this issue to find out of there is anyone who has any problem with that. It will no longer be in the native packaging system, but it will unify the packaging solutions and reduce maintenance burden.

[2020-09-15 17:10] haircommander commented on #4200
we will also be discussing in the [weekly community meeting](https://github.com/cri-o/cri-o/wiki/CRI-O-Weekly-Meeting) on Thursday and will have a decision by then.

[2020-09-15 17:14] lsm5 commented on #4200
+1 . I am not the biggest fan of modularity myself, and I support whatever makes @haircommander's life easier :) .

@adelton IIRC you're a very active user of the fedora cri-o module. Do you see any issues with switching to a fedora package hosted on opensuse's OBS repos?

[2020-09-15 17:19] lsm5 commented on #4200
btw, just to be clear, orphaning != retiring. Community members are welcome to assume ownership.

[2020-09-15 17:48] advancedwebdeveloper commented on #4197
@haircommander , I can't tell yet.
Please assist to figure that out

[2020-09-15 18:59] adelton commented on #4200
The main issue that I see with that change is the signal that it sends -- that CRI-O is so hard to maintain in Fedora's koji that it cannot be done, and the Kubernetes package will eventually follow suit.

[2020-09-15 19:08] lsm5 commented on #4200
well it's not really cri-o but rather fedora modularity that makes things painful. Also, OBS makes it easy to manage multiple distros in one place itself.

[2020-09-15 19:13] lsm5 commented on #4200
hmm, I see kubernetes is not a module atm, but rather a vanilla package, only 1 version installable from the base fedora repo. If cri-o is open to being just a package (I guess that means only 1 version at a time), then maybe we could continue to keep cri-o in fedora.

[2020-09-15 19:17] adelton commented on #4200
Why is it important for cri-o to be a modular package in Fedora, instead of ursine?

[2020-09-15 19:22] lsm5 commented on #4200
I don't quite remember details but afaict, given that upstream supports mulitple release branches for all active kubernetes branches, and that modularity would allow us to support this on fedora, we went ahead with modularity.

[2020-09-15 19:24] lsm5 commented on #4200
if we decide to support only one branch for fedora, guess we could do the same for centos, debian and  as well.

[2020-09-15 19:25] adelton commented on #4200
My understanding is that the primary reason for CRI-O is Kubernetes. If Kubernetes package in Fedora did not jump on the possibility of maintaining multiple versions (using modules), there's really no point for CRI-O to keep doing so.

[2020-09-15 19:45] dustymabe commented on #4200
I think there is a lot of value with modularity in being able to install various "streams" of kubernetes (i.e. choose which one to install), but it's totally up to the maintainer(s) of kubernetes in Fedora to determine if they can handle that extra load.

Assuming you get CRI-O and Kubernetes from the same place, having them either both be modules or both be non-modules make sense.

There may be s

[2020-09-15 20:19] mrunalp commented on #4200
A use case for different versions is folks working with different versions of kubernetes and needing a matching cri-o version. You could be working on k8s master testing new features with latest cri-o while also working with previous versions of kubernetes to fix bugs reported by your customers.

[2020-09-15 20:49] haircommander commented on #4200
I personally see a single package as antithetical to CRI-O's support claims. We claim to support all supported k8s releases upstream, so that's n to n-2 versions. If we only package version n, that claim isn't true. I would either prefer to keep building with fedora modules or (my real preference) switch entirely to OBS

[2020-09-16 00:54] lovebaby979 commented on #4194
@haircommander thank you. Problem not resolve.

[2020-09-16 01:30] haircommander commented on #4194
you should run the CoreDNS pods (and any other pods that need the host network) without kata:
https://github.com/kata-containers/documentation/blob/master/design/architecture.md#networking

[2020-09-16 02:19] liubin opened #4203 "OOMKilled container's `status.reason` is not set to `OOMKilled` for VM type runtimes"
**Description**

Status of containers killed by OOM killer is not set correctly for Kata containers.

**Steps to reproduce the issue:**
1. create pod that will trigger OOM and be killed by OOM killer
2.after container exited, run `crictl inspect $cid | jq .status`, see the `reason` field is set to `Error`

**Describe the results you received:**

[code]

**Describe the results you expected:**

The

[2020-09-16 09:40] adelton commented on #4200
When you switch entirely to OSB, won't you effectively force removal of Kubernetes from Fedora as well?

[2020-09-16 12:16] lsm5 commented on #4200
Going simply by `dnf install kubernetes` on Fedora, it depends on containerd and moby-engine in Fedora. And AFAICT, given that it's a single rpm and not a module, it won't depend on modular content. So kubernetes needs to be included as a module if it's to depend on cri-o module.

[2020-09-16 12:36] adelton commented on #4200
Ah, you are right, kubernetes in Fedora uses moby-engine. Well, based on https://pagure.io/fesco/issue/2231 and https://bugzilla.redhat.com/show_bug.cgi?id=1817022#c15 I'm not sure how stable that setup is long term.

So I guess if the CRI-O team does not plan to work with the Fedora kubernetes maintainer(s) to switch to cri-o as the default, the fact that cri-o won't be maintained in Fedora would

[2020-09-16 12:53] lsm5 commented on #4200
I privately pinged the most recent fedora maintainer of kubernetes just now. Couldn't find their github. I'll update this issue once I hear from them.

[2020-09-16 13:05] ingvagabund commented on #4200
I don't think anyone is interesting in k8s in Fedora. Its outdated, only CVE repoted, no user issues. It's more preferable to use kind or kubeadm to spin the cluster. Unless there's a real interesting in running k8s in Fedora, I suggest to orphan kubernetes package as well.

[2020-09-16 16:43] advancedwebdeveloper commented on #4197
@haircommander , did as you proposed

[2020-09-16 21:26] kubealex commented on #4189
Unfortunately I can't at the moment, the SUSE repo doesn't support centos7 anymore that is the supported version for k8s. I will try to compile it and test it.

[2020-09-16 22:18] dustymabe commented on #4200
ping @LorbusChris @vrutkovs - how does OKD get CRIO-O ? does it come from the Fedora builds or somewhere else?

[2020-09-16 22:30] vrutkovs commented on #4200
We're using CRI-O modules from Fedora

[2020-09-17 01:15] lovebaby979 commented on #4194
@haircommander thank you!

[2020-09-17 03:06] dustymabe commented on #4200
@vrutkovs maybe we could scale it back and just have one version of cri-o in Fedora (not a module) and have it be the one OKD needs.

[2020-09-17 07:02] vrutkovs commented on #4200
OKD needs at least two now (1.18 for 4.5 and 1.19 for 4.6). It would be nice to start testing cri-o from master in 4.7 too. That leads to 3 CRI-o version on F32 and at some point on F33. All of the modules also need to be added in bodhi. I think that's too much extra work and the only beneficiary in OKD really

[2020-09-18 21:11] kubealex commented on #4189
Sorry for the delay, got a bit busy these days, I confirm everything is fine now!
Thank you!

[2020-09-18 21:11] #4189 closed

[2020-09-19 13:35] afbjorklund commented on #4200
Which uses ubuntu, with containerd...

For minikube we have _tried_ to keep things working with fedora/centos and with cri-o, but it has always been difficult it seems.
Normally it is just the lack of user interest, but recently cgroups v2 has been something of a blocker for Kubernetes on Fedora.

But a maintained version from openSUSE is better than an unmaintained version from Fedora, so moving

[2020-09-19 14:04] vrutkovs commented on #4200
Not necessarily - default is ubuntu+containerd, but its fairly easy to replace it with crio - https://github.com/vrutkovs/kindest-node-crio

[2020-09-20 15:19] JamesLaverack opened #4214 "Update cri-o.io website Ubuntu/Debian install documentation"
The documentation on the [CRI-O website](https://cri-o.io) provides incorrect install instructions for Ubuntu and Debian, prompting users to install the following APT repository:

[code]

Whereas the latest [repository documentation](https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems) instructs the user to install this repository instead:

[code]

[2020-09-20 15:22] saschagrunert commented on #4214
cc @lsm5 @dougsland

[2020-09-20 15:26] afbjorklund commented on #4214
There were some changes to the cri-o packaging, so you might want to check the latest/greatest documentation as well:

https://github.com/cri-o/cri-o/blob/master/install.md#install-packaged-versions-of-cri-o

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o

[2020-09-20 15:32] JamesLaverack commented on #4214
Ah, I was following the documentation on https://cri-o.io. I'll update my packages list.

Should I close this as a wontfix? Or convert it into an issue to update the https://cri-o.io website docs?

[2020-09-20 15:33] afbjorklund commented on #4035
There is a 1.17.5 now

[2020-09-20 19:32] saschagrunert commented on #4214
Yes I think we have to update the website docs. :+1: Feel free to update the issue to match the new requirement. Thank you! :pray:

[2020-09-20 22:34] JamesLaverack commented on #4214
@saschagrunert I've updated the issue title and description. 👍

[2020-09-20 22:36] JamesLaverack commented on #4214
Some further investigation shows there is already a pull request against the CRI-O website from August https://github.com/cri-o/cri-o.io/pull/45 It's just not been approved yet.

[2020-09-21 15:56] haircommander commented on #4214
this should be fixed now!

[2020-09-21 16:26] JamesLaverack commented on #4214
Looks good to me. I see the updated instructions on https://cri-o.io, so I'd say this is fixed by https://github.com/cri-o/cri-o.io/pull/45.

Thanks all!

[2020-09-21 16:26] #4214 closed

[2020-09-21 16:55] #3916 closed

[2020-09-21 18:04] kolyshkin commented on #3996
OK, this is happening on RHEL7 kernel because no one cared to set `fs.may_detach_mounts=1` (see more details at #4210).

Fix is coming

[2020-09-21 20:34] haircommander commented on #4194
I believe this is resolved. please reopen if you disagree!

[2020-09-21 20:34] #4194 closed

[2020-09-23 15:25] Conan-Kudo commented on #4200
Pretty much the reason kubernetes hasn't been given any love lately in Fedora is that it's been broken for two Fedora releases due to cgroupv2. With kubernetes 1.19 supporting cgroupv2 with cri-o and the recent launch of the kubedev SIG in Fedora, I think it makes sense to fix the kubernetes package and update crio as a regular package.

[2020-09-23 15:27] Conan-Kudo commented on #4200
If we wanted to have modular streams of k8s with crio, it would make sense to do so with a specific k8s module rather than a crio one, and have matching k8s and crio versions in the same module for supporting different streams. That said, I do not know if there's any appetite for that model right now for kubernetes users on Fedora (assuming they haven't all been driven away by the breakage...).

[2020-09-23 17:17] afbjorklund commented on #4200
Ehrm, the cri-o package was broken in Fedora for _months_ even without the decision made to go cgroups v2 ahead of docker (moby-engine) and kubernetes supporting it ? I'm sure you remember the "Invalid character(s) found in prerelease "module_f30"' and the `sed` workarounds for it, so blaming modularity here seems to me to be rather fair in this discussion...

But the most important thing would be

[2020-09-23 17:23] Conan-Kudo commented on #4200
The whole _point_ of the modular streams is that you should not need to do pinning beyond the version series. If CRI-O requires pinning beyond that, then something is broken. Admittedly, I would even argue that CRI-O requiring pinning between Kubernetes and CRI-O runtime version numbers is broken, but that ship has sailed.

There is literally no reason that this couldn't happen.

[2020-09-23 17:57] afbjorklund commented on #4200
I still think that most Fedora (and RHEL) users are more interested in OpenShift, so I guess serving OKD first makes sense...

As long as it works with reasonable effort, I think that we will continue support cri-o (with podman as the build/load support)

Whether the users chooses the "system" (distribution) or the "vendor" (upstream) packages, is not so important to me.

I know that some distribu

[2020-09-24 20:20] haircommander opened #4221 "CRI-O should be smarter about context timeouts"
**Description**
On nodes under load, we run into issues where ContainerCreate and RunPodSandbox requests time out. The most common cases are i/o load, network creation taking a long time, SELinux relabelling of volumes taking a while

Right now, ContainerCreate and RunPodSandbox run to completion, but check at the end that we timed out. if so, we remove the resource we recently created, and try ag

[2020-09-24 20:56] haircommander commented on #4221
https://github.com/kubernetes-sigs/cri-tools/pull/666 adds deadlines to runp and create, allowing us to test different cases

[2020-09-24 21:12] saschagrunert commented on #4221
Generally agree :+1: Thanks for pointing the steps out in such a detailed way!

"Attempt" is a confusing naming here. Even if the `RunPodSandboxRequest` returns an error the attempt will not incremented by the kubelet. The "documentation" states that attempt refers to any sandbox modification, so it's more a "modified indicator" rather than a plain attempt.

[2020-09-24 21:21] haircommander commented on #4221
ah that's a good clarifying point, though, I think  that still works in our context. CRI-O knows the difference between a failed attempt and a timed out attempt, so we can only cache in the timeout case, and discard in the failed case. We still check the "attempt  number" as it protects us against the sequence of `attempted request -> timed out request -> changed request` where we are to clear our

[2020-09-24 21:25] saschagrunert commented on #4221
Yes this sounds correct to me.

_Noting to myself that we can probably fix/rephrase this by moving the CRI to beta_

[2020-09-27 09:12] #4203 closed

[2020-09-27 15:51] inductor opened #4223 "Installation fails in Ubuntu 20.04"
**Description**

When installing cri-o with the following script, starting up cri-o fails.

[code]

Error message:

[code]

**Steps to reproduce the issue:**
1. Install cri-o on Ubuntu 20.04
2. run cri-o

**Describe the results you received:**

runc not found

**Describe the results you expected:**

cri-o-runc must be detected by default

**Additional information you deem important (e.g. issue hap

[2020-09-28 06:14] liubin opened #4224 "ExecSync failed for VM runtime"
For vm runtimes, the `Pid` and `InitPid` status is not set for container state, that will lead `ExecSync`to fail.

Logs(new lines added for reading):

[code]

[2020-09-28 14:23] haircommander commented on #4223
sorry about that, I'll take a look today

[2020-09-28 17:56] haircommander commented on #4223
this should be fixed now, thanks for opening the issue

[2020-09-28 17:56] #4223 closed

[2020-09-28 18:14] haircommander commented on #4183
I believe I have secured raspbian support on cri-o 1.19.0. can you PTAL @steled and LMK if it works for you?

[2020-09-28 20:21] steled commented on #4183
Hi @haircommander,

thanks for your support. I just had a short look and it seem to work.
I will have a deeper look the next days and come back to you.

[2020-09-29 00:52] #3996 closed

[2020-09-29 14:31] hafe opened #4227 "Document crio update using package managers"
**Description**

(As requested in the slack channel) - create documentation how crio should be updated using package managers like yum and apt. Other projects like kubespray would need it.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2020-09-29 15:05] #4224 closed

[2020-09-29 19:10] steled commented on #4183
So I had a closer look and it seem that `crio` starts but I can't initiate the cluster via:

`sudo kubeadm init --pod-network-cidr=10.244.0.0/16`

See below some outputs.

[code]

[code]

I also can't see any additional network interface. At my test environment I can see

[code]

but can't see it at the RaspberryPI for example.

I know this is kubernetes v1.17 but also tried with v1.19 with the sa

[2020-09-29 19:16] haircommander commented on #4183
what's the ending of this line:
[code]

It looks similar to https://github.com/opencontainers/runc/issues/2142 and https://github.com/kubernetes/kubernetes/issues/72878 and could be a kernel bug

what version of raspbian are you using?

[2020-09-29 19:37] steled commented on #4183
see below the full line:

[code]

currently I'm running:

[code]

I updated some minutes ago from:

[code]

See below the new outputs:

[code]

[2020-09-29 19:53] haircommander commented on #4183
yeah, this is coming from runc. what version of runc do you have? also, I wonder if crun would have a similar problem

[2020-09-29 19:57] steled commented on #4183
see the `runc` version:

[code]

[2020-09-30 14:23] haircommander opened #4234 "CRI-O User Survey"
the CRI-O team is conducting a survey to get an idea of who's using CRI-O, and if there are any things that we can improve on. You can find the survey [here](https://www.surveymonkey.com/r/crio-user-poll-2020) . If you provide a user-story, you may be eligible for a free t-shirt! The survey will be valid for the month of October. Please reach out via k8s slack or email if you have any questions

[2020-09-30 14:47] caniszczyk opened #4235 "Add SECURITY.md"

[2020-09-30 14:58] haircommander commented on #4183
is the memory controller mounted?
ref: https://github.com/opencontainers/runc/issues/57
`ls -l /sys/fs/cgroup/cpu/cpu.cfs_quota_us` will tell you

[2020-09-30 15:00] haircommander commented on #4074
I have personally been installing by adding the repository `VERSION=1.18:1.18.3` and running `apt install -y cri-o` is there a reason you need `cri-o=1.18.3~3`? 1.18.3 is the only version that will be in the 1.18.3 repository

[2020-09-30 15:08] haircommander commented on #4084
I agree, but for that we'd need ordered shutdown support in crictl, which I believe is out of scope for CRI-O. CRI-O has to do what the CRI tells it to, which includes removing all pods when it's asked. I don't think there's a way for CRI-O to know a specific pod is providing the cni config. Since there's a work around, I am closing this.

[2020-09-30 15:08] #4084 closed

[2020-09-30 15:12] #3840 closed

[2020-09-30 16:38] steled commented on #4183
the directory doesn't exist:

[code]

but when I try to mount the memory controller:

[code]

I also executed the two commands from your link:

[code]

[2020-09-30 16:59] haircommander commented on #4183
https://github.com/raspberrypi/linux/issues/3387
are you able to compile your kernel? https://raspberrypi.stackexchange.com/questions/87779/missing-cpu-cfs-period-us-cgroup-subsystem-in-raspbian-stretch-on-raspberry-pi-z

[2020-09-30 17:45] steled commented on #4183
compilation is still in progress...
I'll give feedback when finished and tested...

[2020-09-30 18:51] steled commented on #4183
ok compilation has finished and I could initialize the cluster...
I was a bit confused that after cloning the raspberry repo and having a look at the `.config` file the option `CONFIG_CFS_BANDWIDTH` was set to `y`...
so I didn't changed anything and just compiled and installed the kernel...

I'm going to install the new kernel via apt now and check if the option is set or not...

[2020-09-30 18:58] steled commented on #4183
so this is how it looks like:

**old kernel**
[code]

**new kernel**
[code]

**compiled kernel**
[code]

[2020-10-01 18:24] mrunalp commented on #4235
Thanks, we will add one!

[2020-10-02 19:36] haircommander commented on #4227
@wgahnagl can you take a stab at this?

[2020-10-05 00:24] LorbusChris commented on #4200
Maybe for Fedora, the [Packit Service](https://github.com/packit-service/packit-service) could be set up. It could be configured to auto-build release tags from one release branch to Koji (which branch depending on what's needed for the current OKD release). @haircommander do you think that could work?

[2020-10-05 08:39] adelton commented on #4200
Is the problem really triggering the builds, or the fact that even if the builds pass and get shipped to updates, they may not be not usable (like https://bugzilla.redhat.com/show_bug.cgi?id=1740730 a.k.a. https://bugzilla.redhat.com/show_bug.cgi?id=1754170) and require fix by the maintainers?

[2020-10-05 10:38] lsm5 commented on #4200
On Sun, Oct 04, 2020 at 05:24:56PM -0700, Christian Glombek wrote:

Does packit work for fedora modules?

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2020-10-05 13:44] haircommander commented on #4200
BTW, I forgot to mention, but on a CRI-O weekly sync call, we decided to not orphan the package.

Given that, I am definitely open to suggestions on how to build it. Packit seems like a great option @LorbusChris, do you have any experience with it (i.e. can I bother you with questions if that's the route we go :smile: )

[2020-10-05 15:13] haircommander commented on #4200
I reached out to the devs, packit does not support modules right now, and while it's a feature they want, they also have no timeline for adding it

[2020-10-06 11:52] LorbusChris commented on #4200
Oh yea, my assumption was that cri-o wouldn't be a module, but a simple RPM.
Looks like using packit isn't a viable option just yet then.

[2020-10-06 11:54] Conan-Kudo commented on #4200
Couldn't you use `tito` to release into dist-git branches?

[2020-10-09 02:48] kolyshkin commented on #3662
Alas, the test itself is wrong. It is supposed to run a privileged container, and commit d3a50d86 (PR #2627) even adds the `test/testdata/container_config_privileged.json` file, but it is not used by the test.

I am looking into it.

[2020-10-12 22:24] #3662 closed

[2020-10-13 15:20] haircommander commented on #4074
this is unfortunately a limitation of OBS. We're already jumping through hoops to pin specific cri-o versions (1.18.3) in addition to have a rolling release within a version (1.18). Unfortunately, when we change something in the way things are packaged (if we need to add/update one particular distro), the version needs to bump.

If you set `VERSION=1.18:1.18.3` and run `apt install -y cri-o`, ther

[2020-10-14 16:19] fgiudici opened #4264 "[1.19] invalid infra container using crictl with vm type runtime (kata)"
**Description**

CRI-O 1.19 and cri-tools v1.19.0 installed.
Kata containers shimv2 installed and configured as default runtime for CRI-O.
[Basic example from cri-tools](https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md#create-container-in-the-pod-sandbox-with-config-file) fails.

**Steps to reproduce the issue:**
Start CRI-O 1.19 with _containerd-shim-kata-v2_ as the default

[2020-10-15 08:46] fgiudici commented on #4264
Solved

[2020-10-15 08:46] #4264 closed

[2020-10-16 11:55] xsim opened #4275 "Can not run kubeadm init with cri-o v1.19.0 in oracle linux 7.9"
**Description**

Unable to run kubeadm init when using cri-o 1.19 together with kubeadm 1.19 in Oracle Linux 7.9.

**Steps to reproduce the issue:**
1. Setup an Oracle Linux 7.9 environment
2. Install cri-o v1.19.0
3. Install kubeadm, kubelet and kubectl 1.19
4. Run kubeadm init

**Describe the results you received:**

`[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-c

[2020-10-16 22:11] stuartpb opened #4276 ""No CNI configuration file in /etc/cni/net.d/" condition remains after CNI has been configured"
**Description**

After running `kubeadm init` (with any necessary flags like `--pod-network-cidr=10.244.0.0/16`), when I deploy a CNI (such as kube-router, though I believe I've seen this issue happen with Weave Net as well) to my cluster and do a `kubectl get nodes`, all of them come back with a `NotReady` status, even after waiting ten minutes, with conditions like this coming back after running

[2020-10-17 06:32] inductor opened #4277 "Can you support arm64 for raspbian?"
**Description**

Currently http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.19/Raspbian_10/ only includes armhf, which is 32-bit. Starting from Raspberry Pi 4, they have 4GB and 8GM models which we can take more advantages of arm64 architecture on OS level.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the res

[2020-10-18 11:01] afbjorklund commented on #4277
You would need to get the "Raspberry Pi OS 64-bit Beta" though, the regular Raspbian (old name) was a 32-bit OS.

https://www.raspberrypi.org/blog/latest-raspberry-pi-os-update-may-2020/

[2020-10-19 07:49] nyxi opened #4278 "fatal error: runtime·unlock: lock count"
**Description**
A few days after migrating to cri-o it crashed on one of our nodes. All nodes are logging a lot of these two warnings:

[code]

**Steps to reproduce the issue:**
Can't really say, we were running our normal workload with Rook Ceph, multiple Prometheus instances and a few java applications.

**Describe the results you received:**
crio daemon crashed with:

[code]

**Describe the res

[2020-10-19 10:15] DanHam opened #4279 "Unable to install or update packages from OpenSUSE Build Service due to expired GPG key"
**Description**

A while back I followed the instructions at the [cri-o](https://cri-o.io/) website to add the required APT repositories and associated GPG package signing keys for cri-o (podman, skopeo, etc).

Things had been working fine until recently.

I now get an error running `apt-get update` due to an expired GPG key.

The expired key affects every package in the OpenSUSE Build Service rep

[2020-10-19 13:41] haircommander commented on #4277
unfortunately, it seems Raspbian 64-bit is not yet available in open build system, so there's little I can do yet. Is there another distribution I can enable that you could use in the meantime?

[2020-10-19 13:43] haircommander commented on #4276
what is the contents of /etc/cni/net.d/10-kuberouter.conflist
also, can I have the first 30 or so lines in the cri-o logs?

[2020-10-19 13:45] haircommander commented on #4275
can you attach the cri-o logs as well, please?

[2020-10-19 13:50] haircommander commented on #4279
I would re-do the installation steps here: https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems
I believe the second step (adding the gnupg key) will fix your problem

[2020-10-19 14:51] haircommander commented on #4278
can you post the logs leading up to the crash as well?

[2020-10-19 15:05] kallisti5 opened #4280 "Setctty set but Ctty not valid in child"
**Description**

Trying to open a TTY to a container...

**Steps to reproduce the issue:**
1. ```kubectl exec -it pod/haproxy-ingress-55544d676-k2pxs -- /bin/sh -l```

**Describe the results you received:**
```error: Internal error occurred: error executing command in container: fork/exec /usr/bin/runc: Setctty set but Ctty not valid in child```

**Output of `crio --version`:**

[code]

**Addition

[2020-10-19 15:07] kallisti5 commented on #4280
https://github.com/creack/pty/issues/96 might be related?

[2020-10-19 15:10] haircommander commented on #4280
@kolyshkin can you PTAL

[2020-10-19 15:13] nyxi commented on #4278
Sure;
[crio service log](https://github.com/cri-o/cri-o/files/5402878/logs.txt)

[2020-10-19 15:14] kallisti5 commented on #4280
Just noticed I was running the 1.18 cri-o repo when 1.19 exists for CentOS 8.  I'm updating and will report back shortly.

[2020-10-19 15:18] kallisti5 commented on #4280
Yup.   Upgrading cri-o from 1.18 to 1.19 fixes it.

[code]

I'm assuming cri-o used creack/pty < v1.1.9 per the issue above.  cri-o 1.19 moved to v1.1.10+

[2020-10-19 15:47] haircommander commented on #4280
ah and we merged https://github.com/cri-o/cri-o/pull/4192 in 1.18 but haven't cut a new release yet.

Glad to hear it's working. We should cut a new 1.18 release soon. Are you comfortable with closing this issue?

[2020-10-19 15:51] haircommander commented on #4278
can you post the output of `crio config` as well as the contents of `/etc/cni/net.d`? it seems like you're using CRI stats, and not cadvisor stats, and that some configuration of your networking plugins are confusing our CRI stats path

[2020-10-19 16:20] afbjorklund commented on #4279
You will need to use VERSION=1.19, otherwise you will get the stale keys.

[2020-10-19 16:39] DanHam commented on #4279
Thanks. That's fixed things.

For anyone else experiencing this issue, the old (expired) key can be deleted with:

[code]

[2020-10-19 16:39] #4279 closed

[2020-10-19 18:04] haircommander commented on #4280
Happy to :smile:

shameless plug while you're here, are you interested in filling out our [user survey](https://www.surveymonkey.com/r/crio-user-poll-2020). We'd love to hear feedback @kallisti5

[2020-10-19 18:04] #4280 closed

[2020-10-19 18:28] haircommander commented on #4278
what happens if you restart crio? could you restart crio and attach the full logs if it happens again? specifically, I want to see if it chooses the plugin correctly, and how long it takes for the node to hit this issue again.

this is further confusing because you should be using cadvisor stats, and I've never seen this error before...

[2020-10-19 18:58] nyxi commented on #4278
I'm hopeful this is something that can be resolved with configuration changes, just need to figure out what is off.

As for your cadvisor stats comment, is this something I should configure somewhere?

[Here is the startup log from crio](https://github.com/cri-o/cri-o/files/5404107/crio-start.txt)

[2020-10-19 19:43] haircommander commented on #4278
cadvisor stats should be default. The way it's configured is roundabout though. if you `--runtime-endpoint` arg for kubelet is not `/var/run/crio/crio.sock` or `unix:///var/run/crio/crio.sock` then it chooses CRI stats. If it's either of those values, it uses cadvisor stats.

What are the kubelet args you're using?

[2020-10-19 20:58] nyxi commented on #4278
If you are being literal, ie. you are matching for the full path of the crio socket, then that is probably why it's not using cadvisor stats:

[code]

On my OS `/var/run` is a symbolic link to `/run`:

[code]

So it would be trivial for me to change this. But is that issue related to the crash at all?

[2020-10-19 22:56] haircommander commented on #4278
Yeah it's a literal string comparison...

The crash is happening on the CRI stats path. If you switch to cadvisor stats (which we currently recommend because we have some small performance issues), then this won't be an issue.

Though, this is definitely a bug that needs resolving in CRI stats. For now, you can stop it by changing the dir to have /var

[2020-10-20 06:53] nyxi commented on #4278
Thank you for the prompt help with this issue. I have applied the configuration change to kubelet and it drastically reduced the logspam from crio. Hopefully we won't see this crash again.

Should I report this issue somewhere else for CRI stats or is it already in the right place?

[2020-10-20 11:09] jomeier opened #4285 ""layer not known" after powering off VM with CRI-O"
Hi,

CRI-O seems to have  a problem if a Host VM is powered off.

On OKD 4.5 (and also on OKD 4.6 nightlies) we get this error very often, if we power off worker VMs:

[code]

If we ssh into the worker VM and do a

[code]

we get lots of "layer not known" error messages.

[code]

does not show any running containers.

The workaround to get that running again is to remove the overlay-images storage

[2020-10-20 22:26] haircommander commented on #4285
curious, does `sudo crictl images` also print the same errors?

[2020-10-21 07:33] xsim commented on #4275
These are the crio logs:

[code]

[2020-10-21 13:06] haircommander commented on #4275
hm, the one thing I'm thinking is kubeadm 1.19 is the common factor between the failures (upgrading cri-o versions didn't help). Have you reached out to the kubeadm developers?
the cri-o logs look normal enough, despite the fact I'd expect the kubelet to start to make requests to cri-o (which I believe is a symptom of the underlying kubeadm problem)

[2020-10-21 14:57] Dorye123 commented on #4285
after removing the images. did you restart the server ?

(the same happened to me on a master server)

to answer @haircommander - no, using crictl does not show the error we can see when using "podman images"

[2020-10-21 14:58] haircommander commented on #4285
also is this an upgrade (specifically a minor version upgrade: 4.5->4.6), or just a normal power cycle

[2020-10-21 15:11] Dorye123 commented on #4285
to me it happened during a normal power cycle.

[2020-10-21 16:10] jomeier commented on #4285
Same here.

I rebooted my VM with vSphere. Then I ran into this problem again.

[2020-10-21 16:41] michalzxc opened #4291 "Kubelet Restart vs Cri-o"
**Description**

When restarting kubelet
[code]
it seems it is not refreshing status from cri-o any more (until reboot)
All I can see there: "container runtime status check may not have completed yet"

Since it is not happening with docker, I suspect it is crio not kubelet issue

**Steps to reproduce the issue:**
systemctl restart kubelet

**Output of `crio --version`:**

[code]

**Additional envi

[2020-10-21 20:52] haircommander commented on #4291
...weird. I think we could use kubelet and crio logs to help debug

[2020-10-22 05:39] Dorye123 commented on #4285
@jomeier , I remove the directory and its content.

"The workaround to get that running again is to remove the overlay-images storage directory:

rm -rf /var/lib/containers/storage/overlay-images"

after that I stopped kubelet and crio then started crio and kubelet.

what else did you do to workaround this ?

for me that did not worked :(

[2020-10-22 07:18] jomeier commented on #4285
Remove all overlay directories. As a last resort you could also try to delete the storage folder.

Kubernetes should pull all images on this node again after a few minutes.

[2020-10-22 07:27] sudheshpn opened #4296 "cni-loopback getting pilled up in /var/lib/cni/results"
We are seeing cni-loopback files getting pilled up in /var/lib/cni/results resulting in /var filesystem getting full. Ideally this files should have been deleted once the container is delete from the VM. I tried upgrading the cri version to cri-o-1.17.0-1.0.5.el7.x86_64 and i still see the issue. We ran a sample k8s job which spins up 10 pod on the specified host. Count of the cni file increased t

[2020-10-22 10:15] michalzxc commented on #4291
crio-o logs since kubelet restart:
[code]

Kubelet since kubelet restart until I gave up and rebooted:
https://pastebin.com/cfTssiLn

[2020-10-22 13:03] saschagrunert opened #4298 "Recent changes causing go modules to be downloaded in CI"
With the merge of https://github.com/cri-o/cri-o/pull/4208 we're now downloading go modules in CircleCI, which should not happen. For example:
https://app.circleci.com/pipelines/github/cri-o/cri-o/6356/workflows/6223bde7-3cc2-4f16-a201-7ff5923d5ec3/jobs/102326/parallel-runs/0/steps/0-105

Either we remove the vendoring completely or we stick to the vendored sources. The issue seems to be introduce

[2020-10-22 14:25] haircommander commented on #4285
what happens if you run `crio wipe -f`?

[2020-10-22 17:56] haircommander commented on #4285
actually, I see the problem

CRI-O is at version 1.18.2. We attempted to make it more performant by not syncing after storage writes. Unfortunately that caused dangling image/metadata problems. We've since reverted that change: https://github.com/cri-o/cri-o/commit/6a7417b47e94c72042e3bcc9f3ee585cb1a4a945 but don't yet have a released version.

I am cutting a 1.18.4, and will work to get it in okd

[2020-10-22 18:01] jomeier commented on #4285
This are great news!

If it gets released I‘ll stress test it and if the problem does not occur again, I‘ll close this issue.

[2020-10-22 19:37] haircommander commented on #4296
hey @sudheshpn what CNI plugin/config are you using? I would expect the cleanup to be their responsibility

[2020-10-22 19:38] haircommander commented on #4285
sounds good :smile: it may take a bit to get it into 4.5, as they are waiting on kernel fixes to update to 1.18.3, so I don't have a timeline, but I will try to get it all through ASAP

[2020-10-22 21:15] haircommander commented on #4278
this is the right place, thanks for the report!

[2020-10-22 22:58] jomeier commented on #4285
Ah. At least there seems to exist a solution for the problem 😉

[2020-10-23 00:18] mrunalp commented on #4298
@kolyshkin ptal

[2020-10-23 03:59] kolyshkin commented on #4298
This happens as CI is using golang 1.13 (not supported since August). I mistakenly thought everyone has switched to go 1.14+. With 1.13, `-mod=vendor` is still required.

[2020-10-23 04:00] kolyshkin commented on #4298
Let me try to fix circleci scripts to have golang. The problem is we use Ubuntu Xenial which is pretty old, and the backports ppa we use (https://launchpad.net/~longsleep/+archive/ubuntu/golang-backports) only has go-1.13 for Xenial.

[2020-10-23 04:35] kolyshkin commented on #4298
Let's see if this works... https://github.com/cri-o/cri-o/pull/4305

[2020-10-23 05:03] sudheshpn commented on #4296
We are using Canal as CNI. Its seems to be similar issue as mentioned in https://github.com/cri-o/cri-o/issues/3581

[2020-10-23 07:29] saschagrunert commented on #4298
Ah yeah I see… I think CircleCI also provides some 20.04 images. Let's see if this fixes magically the issue.
Xref #4306

[2020-10-23 10:28] michalzxc commented on #4291
It starts after purge
[code]
But it is not perfect, some pods are getting stuck and it takes forever to stop

[2020-10-23 13:59] haircommander commented on #4296
can you update to at least 1.17.4 to see if it fixes your issue? I see now it is definitely cri-o's responsibility, thanks for the link :smile:

[2020-10-24 01:04] kallisti5 opened #4307 "CentOS 8 / aarch64 not working"
**Description**

CentOS 8 (aarch64) running on a Raspberry Pi 4 (4GiB of ram, no OOM in logs)

Seems related:   #4183  (could be duplicate, but CentOS 8 vs Raspbian)

**Steps to reproduce the issue:**
1. Deploy cri-o, and attempt to install kubernetes via kubeadm

**Describe the results you received:**

**cri-o logs:**
[code]

**kubelet logs:**
[code]

**Additional information you deem important (

[2020-10-24 01:07] kallisti5 commented on #4307
**Installation Steps (tm):**

1. append ```cgroup_enable=cpuset cgroup_enable=memory``` to /boot/cmdline.txt

2...
[code]

[2020-10-24 01:10] kallisti5 commented on #4307
better view of error in crio logs:

[code]

[2020-10-24 01:12] kallisti5 commented on #4307
**cgroup mounts:**
[code]

[2020-10-24 01:23] kallisti5 commented on #4307
I reread the issue linked and saw a request to raspbian to enable config_cfs_bandwith during the kernel config.

I confirmed that sysfs file is also missing here:
[code]

I opened a sister issue to CentOS here:   https://bugs.centos.org/view.php?id=17813

[2020-10-26 17:03] haircommander commented on #4307
I see the issue seems to have been fixed by adding cpu.cfs_quota_us. I'm glad it's working now! Is there anything remaining in this ticket @kallisti5

[2020-10-26 17:33] kallisti5 commented on #4307
Nope!  I think kubeadm could use a check for /sys/fs/cgroup/cpu/cpu.cfs_quota_us , but that's another issue :-)

Thanks!

[2020-10-26 17:33] #4307 closed

[2020-10-26 18:22] steled commented on #4183
Hi @haircommander

there was a new release of Raspberry Pi kernel

[code]

that added support for `CONFIG_CFS_BANDWIDTH`
I tested with the new kernel and everything seem to work now.

Thanks for your support.

[2020-10-26 18:28] haircommander commented on #4183
excellent to hear! Are we good to close this, then?

[2020-10-27 04:16] #4298 closed

[2020-10-27 08:31] steled commented on #4183
yes I think we can close this ticket...
if there is another problem I'll open a new ticket...

Thank you for your support

[2020-10-28 09:49] aojea opened #4312 "Deprecate HostPort Manager in favor of Portmap CNI plugin"
**Description**

CRI-O is vendoring the hostport_manager from Kubernetes repo, however, after trying to add dual-stack support, we found out that there are several issues with the hostport_manager implementation

https://github.com/cri-o/cri-o/pull/4130

In addition, there is not a great interest in fix the hostport_manager upstream

https://github.com/kubernetes/kubernetes/pull/94382

since seems

[2020-10-28 09:50] aojea commented on #4312
/cc @danwinship @mrunalp @saschagrunert for discussion since all of you were involved in the initial discussion

[2020-10-28 10:50] saschagrunert commented on #4312
In the past few months we invested some time creating a Rust library (still heavily WIP), which will feature port mappings support soon: https://github.com/cri-o/cri/pull/163

The foreign function interface to call from go into Rust is currently WIP on my side, too (did not open a PR yet, but we have https://github.com/cri-o/cri-o/pull/4297 open).

My idea was to exchange the port mapping function

[2020-10-28 11:32] michalzxc commented on #4291
Also kubernetes has issues to figure out that it needs to recreate some pods, after above operation

[2020-10-28 11:33] michalzxc commented on #4291
cat /etc/sysconfig/kubelet
KUBELET_EXTRA_ARGS=--cgroup-driver=systemd --container-runtime=remote --container-runtime-endpoint=unix:///var/run/crio/crio.sock --runtime-request-timeout=2m --cgroups-per-qos=true --enforce-node-allocatable=pods,kube-reserved --kube-reserved-cgroup=/kubepods --kube-reserved=cpu=1000m,memory=2000Mi --system-reserved=cpu=1000m,memory=3000Mi

[2020-10-28 11:34] michalzxc commented on #4291
Tried runtime-request-timeout 2m and 10m, no change

[2020-10-28 11:44] michalzxc commented on #4291
cat /var/lib/kubelet/config.yaml
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  anonymous:
    enabled: false
  webhook:
    cacheTTL: 0s
    enabled: true
  x509:
    clientCAFile: /etc/kubernetes/pki/ca.crt
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 0s
    cacheUnauthorizedTTL: 0s
clusterDNS:
- 172.24.0.10
clusterDomain: cluster.local
cpuManagerReconcilePeriod

[2020-10-28 11:45] michalzxc commented on #4291
I read somewhere about changing node-status-update-frequency, tried 0s, 30s, 1000s, no change

[2020-10-28 11:47] michalzxc commented on #4291
[code]

[2020-10-28 14:48] aojea commented on #4312
The portmap CNI migration is pretty simple, is just passing the "capability" from the CRI to the CNI,

[2020-10-28 14:56] saschagrunert commented on #4312
Yes, this would mean that we add another runtime dependency (the portmap CNI binary), right? We also shell out multiple times (for the CNI plugin and for iptables within the CNI plugin) as well as passing the args as serialized JSON via stdin as well as deserializing the result later on.

Having all those functionality in a contained library makes sense from my understanding. We also do not use th

[2020-10-28 15:27] #4183 closed

[2020-10-28 16:02] michalzxc commented on #4291
It seems it is related to amount of containers, if I will drain node before systemctl stop kubelet, it starts without issue

[2020-10-28 16:55] haircommander commented on #4291
what logs does CRI-O spit out too? (in the not drain case), also what CNI plugin are you using?

[2020-10-28 17:13] michalzxc commented on #4291
Unfortunately no logs from crio-o at all, any logs it displayed were unrelated: https://github.com/cri-o/cri-o/issues/4291#issuecomment-714389849

Calico with this configuration:
[code]

[2020-10-28 17:27] haircommander commented on #4291
if you restart crio too does the kubelet find it? also what kube version?

I've not heard of anything like this behaviour unfortunately. I'll need to find a moment to attempt to reproduce

[2020-10-28 17:32] michalzxc commented on #4291
It doesn't, not until I will purge containers and pods from it  - I am using this script to clear it https://github.com/cri-o/cri-o/issues/4291#issuecomment-715254569
Later kubernetes will lost track of all pods (it will think they are still running, or they will get stuck in Completed or Error state), and I need to delete all pods what were running on this node (before purge) via kubectl

Kuberne

[2020-10-28 17:32] michalzxc commented on #4291
Crio installed with command:
[code]

[2020-10-28 17:33] michalzxc commented on #4291
These are big physical node/servers, with up to 1000 containers:
[code]

[2020-10-28 17:35] michalzxc commented on #4291
Other, possibly relevant configuration:
[code]

Before this error, I had other issue what googling showed me I need to increase fs.inotify.max_user_watches

[2020-10-29 13:42] dependabot-preview[bot] opened #4322 "Dependabot wasn't able to update github.com/containers/libpod/v2"
The module path `github.com/containers/libpod/v2` found in your `go.mod` doesn't match the actual path `github.com/containers/podman/v2` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `github.com/containers/podman/v2` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/cri-o/update-logs/52742814).

[2020-10-29 15:30] saschagrunert commented on #4322
A can tackle that separately
/assign

[2020-11-01 22:26] kolyshkin opened #4327 "can't use userns with ManageNSLifecycle"
For some reason, user namespace can't be used with ManageNSLifecycle. Theoretically, it should work.

Practically, we have the following check that prevents it:

https://github.com/cri-o/cri-o/blob/bfa194c3c92ab35003f5ce1508684fb103836fe3/pkg/config/config.go#L788-L793

So if one wants to use userns, they have to disable ManageNSLifecycle (and get a warning that this setting will be removed).

If

[2020-11-01 22:27] kolyshkin opened #4328 "can't use userns with ManageNSLifecycle"
For some reason, user namespace can't be used with ManageNSLifecycle. Theoretically, it should work.

Practically, we have the following check that prevents it:

https://github.com/cri-o/cri-o/blob/bfa194c3c92ab35003f5ce1508684fb103836fe3/pkg/config/config.go#L788-L793

So if one wants to use userns, they have to disable ManageNSLifecycle (and get a warning that this setting will be removed).

If

[2020-11-01 22:27] kolyshkin commented on #4328
dupe of #4327

[2020-11-01 22:27] #4328 closed

[2020-11-01 22:30] kolyshkin commented on #4327
Ah, it seems (https://github.com/cri-o/cri-o/pull/4310#issuecomment-719451518) that @giuseppe made it working and will have a PR soon.

[2020-11-02 05:32] sfxworks commented on #1991
Being able to have gvisor run in kvm mode would be very nice.

[2020-11-02 11:19] hafe opened #4332 "log version at startup"
**Description**

It would be nice if crio could output its version at startup for troubleshooting/diagnosis purposes.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**Additional environment deta

[2020-11-02 12:00] danwinship commented on #4312
I feel like it's objectively better to have cri-o implement hostports itself, and keep the ports open.

Is there anything in kubernetes that ensures that hostport/nodeport conflicts are blocked _other_ than the port opening code?

[2020-11-02 12:14] saschagrunert commented on #4332
Hey @hafe, yes I think it would be good to have the complete `crio version` output logged. Do you want to contribute a PR to achieve that? :)

[2020-11-02 13:49] hafe commented on #4332
@saschagrunert I could give it a try!

[2020-11-02 14:00] saschagrunert commented on #4332
Awesome, feel free to reach out to me if there is anything unclear.

[2020-11-02 20:11] kolyshkin commented on #4197
https://github.com/golang/go/issues/41404 it says it's fixed in libgo.

[2020-11-02 20:11] #4197 closed

[2020-11-02 20:27] aojea commented on #4312
I was trying to express that, since only crio seems to be using the host_portmanager and the rest of the ecosystem seems to use the CNI portmap plugin, that feature doesn' t seem to be important for host-ports

[2020-11-02 20:39] haircommander commented on #1991
@rodrigc any progress here? if not, @sfxworks would you like to try to add support?

[2020-11-02 20:54] danwinship commented on #4312
FTFY :slightly_smiling_face:

[2020-11-02 21:10] aojea commented on #4312
hahaha,
Then, I think that is that it's me, but I can' t see the use case for host-ports in a Kubernetes cluster and I don't find people using them, and the fact that no other CNI or CRI uses them, that the host_port manager implementation was always broken because does not leverage the host_ip and a second pod with the same host-port deletes the previous one, makes me think this way ... hence to

[2020-11-02 21:10] #4312 closed

[2020-11-03 15:55] hafe commented on #4332
Why did not this issue auto close at merge?

[2020-11-03 16:05] haircommander commented on #4332
it wasn't linked properly it seems!

[2020-11-03 16:05] #4332 closed

[2020-11-03 22:53] afbjorklund opened #4343 "Make script to install cri-o, for one-liner install instruction"
It would be nice if there was an official script to install cri-o, similar to get.docker.com

https://github.com/docker/docker-install

That way, one could run that instead of having to copy/paste different instructions ?

e.g. https://get.cri-o.io (or something)

----

https://github.com/cri-o/cri-o/blob/master/install.md#install-packaged-versions-of-cri-o

https://kubernetes.io/docs/setup/produc

[2020-11-04 08:17] saschagrunert commented on #4343
Do we wanna use the static binary bundle for this? Or a swith-case for installing the right package on the distribution running the script?

[2020-11-04 09:40] aojea commented on #4312
duh, it took me a while but I think I finally understood it, so the problem is not the port collision possibility, is that a malicious actor create a process that "sniffs/hijack/mangle/..." the traffic

My apologies @danwinship but I never considered that option, everything makes sense now
Thanks

[2020-11-04 15:05] afbjorklund commented on #4343
I only did the apt and yum vendor packages (as a proof-of-concept), so didn't do the system packages (for suse) or the static binary

The background was that we were moving from the "boot2docker" concept to a more generic cloud image concept for minikube

https://github.com/kubernetes/minikube/issues/4733

https://github.com/kubernetes/minikube/pull/9545

By default, it will then bootstrap each no

[2020-11-04 15:11] afbjorklund commented on #4343
@saschagrunert : there are actually no instructions on how to _use_ the static binaries, on [install.md](https://github.com/cri-o/cri-o/blob/master/install.md) ?

Seems to only show how to build them, says that they are actually meant for the nix package manager ?

[2020-11-04 15:18] afbjorklund commented on #4343
As for distributions, I was mostly going off the officially supported list for kubeadm on:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

Which basically just means ubuntu 16.04+ (debian 9+) and centos 7+ (fedora 25+)
For centos/fedora we did the preparation by turning off selinux and disabling cgroups v2

[2020-11-05 15:16] haircommander commented on #4343
I would personally prefer the latter

[2020-11-06 11:20] afbjorklund commented on #4343
I skipped the distro packages (`zypper in cri-o`) and static binaries (`tar xzf crio-v1.18.4.tar.gz`) on purpose, actually.

Those are available in docker as well ("docker.io" and "static"), but not really what this script was trying to help with...

Basically what we want is a one-line version for using the OBS packages...

[2020-11-06 11:34] afbjorklund commented on #4343
Probably need to add podman as well (for loading/building images, at least). But that should be simple, once the repos are added...

i.e. we set up **both** the "devel:kubic:libcontainers:stable" project (including podman) as well as the "cri-o:${VERSION}" subproject

So it should be as simple as installing `podman` with the package manager ?

The install.sh script does need `curl` and `gnupg` to

[2020-11-06 14:29] haircommander commented on #4343
usually when I install in a container, I go through the steps of adding the stable repo and the cri-o repo at the specific version. we could do this under the covers in the script, but only actually `$PKG install cri-o`, and let the user install podman and buildah as they see fit

[2020-11-06 21:22] fidencio opened #4353 "runtime_vm: `kubectl cp ...` may hang forever"
**Description**

Kata Containers CI has detected that one of their tests, `k8s-copy-file.bats`(https://github.com/kata-containers/tests/blob/master/integration/kubernetes/k8s-copy-file.bats), has been constantly failing since they updated the CRI-O version to v1.18.4.

The test failing is "Copy file in a pod" and after some preliminary debugging it's been found out the regression was introduced as

[2020-11-07 08:13] afbjorklund commented on #4035
Also seen with CRI-O 1.18.3, as per linked bug report

[2020-11-07 16:23] afbjorklund opened #4357 "The package subproject for 1.18.4 is missing on OBS"
https://github.com/cri-o/cri-o/tree/release-1.18

https://github.com/cri-o/cri-o/releases

* v1.18.4
* v1.18.3
* v1.18.2

https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers

devel:kubic:libcontainers:stable:cri-o:1.18 | Last release available in 1.18 branch
-- | --
devel:kubic:libcontainers:stable:cri-o

[2020-11-07 16:53] afbjorklund commented on #4035
It was suggested elsewhere (https://bugzilla.redhat.com/show_bug.cgi?id=1508040#c15) that this bug is related to running with a different `runc`, and the installation was using runc 1.0.0-rc10 from either the system or the vendor.

Have upgraded to the suggested cri-o-runc now, see if that fixes the problem. For some reason the version was missing from it (?), but I verified in the sources that it

[2020-11-09 10:44] rmohr commented on #4357
Does this manifest itself as the following error which we seee now since a feww days?

[code]

[2020-11-09 10:51] afbjorklund commented on #4357
@rmohr : no, you seem to be using the "1.18" channel rather than the "1.18.4" channel ?

Probably more related to build failures: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.18/cri-o

[2020-11-09 14:52] haircommander commented on #4357
the 1.18 branch is currently building, once i verify the fix for @rmohr's problem works, then I'll branch with 1.18.4.

[2020-11-09 20:24] #4353 closed

[2020-11-09 20:25] fidencio commented on #4353
/cherry-pick release-1.19

[2020-11-09 20:25] fidencio commented on #4353
/cherry-pick release-1.18

[2020-11-09 20:25] haircommander commented on #3879
this should now be fixed in the latest revision [here](https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable:cri-o:1.17)

[2020-11-10 05:52] #4327 closed

[2020-11-10 09:04] rmohr commented on #4357
My problem is gone. Thanks.

[2020-11-10 14:19] haircommander commented on #4357
execellent to hear! @afbjorklund is your problem fixed as well?

[2020-11-10 15:11] afbjorklund commented on #4357
@haircommander : looks good, I will change the URL back

[2020-11-10 15:59] #4357 closed

[2020-11-11 18:07] wgahnagl commented on #4291
@michalzxc I'm having a hard time reproducing this, does it still happen when there are less containers running?

[2020-11-12 14:54] michalzxc commented on #4291
So far, it never happened after drain, but we had to restart kubeletmaybe once (to change certs)  since it worker successfully after drain first time I mentioned in comment there. I am a little afraid to check during working hours, so if you want to me to do some additional checks I will probably do them during weekend.
We have 3 big physical amd epic servers, so every one of them runs around 500-

[2020-11-12 22:59] kolyshkin opened #4368 "ci/prow/images and ci/prow/e2e-aws fail consistently"
**Description**

Currently, CI seems to fail consistently on the following jobs:

- ci/prow/images
- ci/prow/e2e-aws

The failure in both jobs is

[ERROR] hack/build-rpms.sh:31: `yum-builddep -y "${OS_RPM_SPECFILE}"` exited with status 1.

(for complete log, see e.g. https://storage.googleapis.com/origin-ci-test/pr-logs/pull/cri-o_cri-o/4350/pull-ci-cri-o-cri-o-master-e2e-aws/1327016934725652480/b

[2020-11-12 23:00] kolyshkin commented on #4368
@haircommander @saschagrunert PTAL (I think the source config for this CI comes from https://github.com/openshift/release/blob/master/ci-operator/config/cri-o/cri-o/cri-o-cri-o-master.yaml) and we need to use centos 8 maybe?

[2020-11-12 23:25] kolyshkin commented on #4368
found here: https://github.com/cri-o/cri-o/pull/4366#issuecomment-726385058

[2020-11-13 08:42] saschagrunert commented on #4368
Yes, I'm in favor of updating the distributions, but there may be other blockers/reasons behind that.

[2020-11-13 11:58] fidencio commented on #4368
Just for the record, let me add the info here as well.

The issue faced was in the CentOS Infra side, due to the 7.9.2009 release and I've filedI've opened https://pagure.io/centos-infra/issue/156 to track its status.

Fabian Arrotin promptly replied and worked the issue around in a way it unblocks us:
"Hi,

Some just reported the same issue on centos-devel list, and it seems that @hughesjr indeed

[2020-11-16 06:10] Pranav2612000 commented on #3914
Has this issue been fixed? I'll like to work on this

[2020-11-16 18:30] kolyshkin commented on #4368
I guess we can close it for now (and maybe plan to upgrade to centos 8 later)

[2020-11-16 18:30] #4368 closed

[2020-11-16 18:33] kolyshkin commented on #4235
So far what we have is https://github.com/cri-o/cri-o/blob/master/SECURITY_CONTACTS

[2020-11-17 14:18] haircommander commented on #3914
it has not been, and it'd be great if you could pick it up! thanks @Pranav2612000

[2020-11-18 16:22] haircommander commented on #3079
users can override the empty profile behavior by configuring `seccomp_use_default_when_empty` in 1.20 https://github.com/cri-o/cri-o/pull/4212

[2020-11-18 16:22] #3079 closed

[2020-11-18 20:51] hafe opened #4381 "Yum metadata for CentOS7 seems broken, affects Kubespray CI"
**Description**

Kubespray CI cannot not install cri-o (1.19) for CentOS7

See e.g. https://gitlab.com/kargo-ci/kubernetes-sigs-kubespray/-/jobs/858600578#L2603

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

yum install errs with "Package does not match intended download"

**Describe the results you expected:**

packages install properly

**Additional informat

[2020-11-19 02:58] kolyshkin opened #4382 ""test/ctr: ctr oom" fails sometimes"
Observed the failure of "ctr oom" int test, which fails like:

[code]

(the last such failure happened in integration/rhel CI during userns testing).

Apparently, ContainerStatus returns `Reason:Error` (and exit code of 137 which indicates SIGKILL which is most probably because of OOM) instead of expected `Reason:OOMKilled`.

There are two issues:
1. OOMKilled for whatever reason is not set.
2. th

[2020-11-19 03:07] kolyshkin commented on #4382
from the same logs

This indicates conmon version < 2.0.19 (released Jul 15 2020), while current one is 2.0.21 (released Sep 8 2020).

[2020-11-19 03:21] kolyshkin commented on #4382
`contrib/test/integration/build/conmon.yml` says conmon v2.0.15 is used.

conmon version used for circle-ci was bumped twice since (to 2.0.17 in commit 65fe2c5fb76c06d542eaeeeea845bd76ca365dce, and to 2.0.20 in commit d9ea3921d23ab51b6d4cda41eda6571dce3990e1), but not in Ansible files.

Looking into recent changes in conmon (`v2.0.15..`), nothing seems to fix oom file creation.

[2020-11-19 06:50] hafe commented on #4381
Installing cri-o 1.19 has worked for Kubespray since 26th of October but no longer does. Metadata for cri-o Centos7 was updated 12th of November (still the same version of package)

[2020-11-19 15:06] haircommander commented on #4381
something seems to be failing. I am taking a look
/assign

[2020-11-19 16:18] haircommander commented on #4381
should be fixed now! ptal @hafe

[2020-11-19 18:51] hafe commented on #4381
Looks like it did not help

[2020-11-19 18:56] haircommander commented on #4381
are you able to run `yum clean all` [ref](https://access.redhat.com/discussions/1266213)

[2020-11-19 21:37] hafe commented on #4381
No, not yet. Looks the CI job will be disabled instead

[2020-11-20 13:18] Nefelim4ag commented on #3808
Working on 20.04, with k8s 1.18 & cri-o 1.18

[2020-11-20 13:18] #3808 closed

[2020-11-21 09:19] hafe commented on #4381
We got around by disabling the yum cache for crio. Something is weird

[2020-11-23 18:12] Aykelith opened #4388 "`manifest unknown` when pulling image from secure registry"
**Description**

I want to use my private secured docker v2 registry, but I get the following error:

( where `registry.mydomain/image` would be the actual image )

I first tried with `podman` and it worked (after I logged in). Then I copied the `auth.json` content created by `podman` to a file and set it as the `--global-auth-file` argument.

**Additional information you deem important (e.g. issu

[2020-11-23 19:25] umohnani8 commented on #4388
Hi @Aykelith , are you pulling the image via `crictl` or are you doing so with a pod spec and local cluster?

If via crictl, login to your registry via podman (make sure to do the login command as root). Then unset the `--global-auth-file` flag and it should pick up the credentials from the file that podman saves it to.

If via a pod spec, set the `global_auth_file` value in the `crio.conf` file t

[2020-11-25 19:13] medyagh commented on #4074
we can close this issue since we moved on from that version

[2020-11-25 19:13] #4074 closed

[2020-11-28 10:44] leiw324 opened #4393 "Testing kubeadm init with cri-o"
Hello,

I am testinf cri-o with kubeadm, but node not found, please help!

CentOS 7

cat /etc/hosts

crio-o01    10.0.10.191
crio-o02    10.0.10.192
crio-o03    10.0.10.193
crio-o04    10.0.10.194
crio-o05    10.0.10.195
crio-o06    10.0.10.196

-------------------------------------

crictl version
Version:  0.1.0
RuntimeName:  cri-o
RuntimeVersion:  1.17.5
RuntimeApiVersion:  v1alpha1

----------

[2020-11-30 14:19] leiw324 commented on #4393
Now I cant start the kubelet:

![image](https://user-images.githubusercontent.com/33790160/100621074-2671d680-335a-11eb-9ba3-4fe79ef28fca.png)

[2020-11-30 17:08] haircommander commented on #4393
it looks like kubeadm doesn't correctly set systemd cgroup driver. Did you follow instructions [here](https://github.com/cri-o/cri-o/blob/master/tutorials/kubeadm.md#configuring-kubelet) to set the cgroup driver and other kubelet flags?

[2020-12-01 15:16] leiw324 commented on #4393
Hello,

I followed your guideline to add below content to /etc/default/kubelet
KUBELET_EXTRA_ARGS=--feature-gates="AllAlpha=false,RunAsGroup=true" --container-runtime=remote --cgroup-driver=systemd --container-runtime-endpoint='unix:///var/run/crio/crio.sock' --runtime-request-timeout=5m

I have 100-crio-bridge.conf already in /etc/cni/net.d/
![image](https://user-images.githubusercontent.com/3379

[2020-12-01 15:26] haircommander commented on #4393
it looks like the kubelet isn't picking up the extra configuration (still trying to use docker). It seems the documentation for kubeadm has updated slightly, and now rpm based systems put the file in /etc/sysconfig/kubelet instead of /etc/default/kubelet
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/

maybe that will help?

[2020-12-01 16:41] leiw324 commented on #4393
Hello,

I used Yum to install, do you mean I copy the following content to /etc/systemd/system/kubelet.service.d/10-kubeadm.conf ?

[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf
--kubeconfig=/etc/kubernetes/kubelet.conf"
Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/config.yaml"
# This is a file that "kubeadm init" and "ku

[2020-12-02 17:29] leiw324 commented on #4393
Can someone help?

[2020-12-02 17:40] haircommander commented on #4393
what happens when you set the KUBELET_CONFIG_ARGS maually in the service file to the contents of the link I posted above

[2020-12-02 18:25] leiw324 commented on #4393
Hello,

I don't know how to add, can you guide me?

Thanks

[2020-12-02 19:24] hafe commented on #4381
It now happens again despite the disabled yum cache for this repo.

[2020-12-02 20:14] haircommander commented on #4393
what are the contents of the generated `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`

[2020-12-02 20:38] haircommander commented on #4381
:'( I gotta be honest, I have no idea why that may happen. the build hasn't updated for 1.19 since two weeks ago

[2020-12-02 21:19] haircommander commented on #4156
@gattytto I have just been reminded of this, and I decided to check for myself (with date to confirm)

can you run `crio --log-level debug` in one window, and `date && sudo crictl pull fedora && date` in the other and post that?
I am getting first window:
[code]
and second window:
[code]
which shows to me that crictl isn't returning until crio send the response (and finishes pulling)

[2020-12-03 11:41] hafe commented on #4381
This time the problem is/was containers-common. It was changed 2 dec at the same time as other rpms.

[2020-12-03 13:47] haircommander commented on #4381
ah thanks for looking into that. @lsm5 PTAL

[2020-12-03 13:49] leiw324 commented on #4393
Hello,

I did the following, but no luck..

[root@cri-o01 kubelet.service.d]# cat /etc/default/kubelet
KUBELET_EXTRA_ARGS=--feature-gates="AllAlpha=false,RunAsGroup=true" --container-runtime=remote --cgroup-driver=systemd --container-runtime-endpoint='unix:///var/run/crio/crio.sock' --runtime-request-timeout=5m

mkdir /etc/systemd/system/kubelet.service.d

[root@cri-o01 kubelet.service.d]# cat 10-

[2020-12-03 13:57] haircommander commented on #4393
can you put
[code]

in /var/lib/kubelet/kubeadm-flags.env
and restart the kubelet service

[2020-12-03 13:57] haircommander commented on #4393
oh wait that may not make sense. though it's worth a shot...

[2020-12-03 14:42] lsm5 commented on #4381
I'll bump skopeo on OBS right away.

[2020-12-03 14:45] lsm5 commented on #4381
1.2.0-12 building right now: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/skopeo

[2020-12-03 15:52] haircommander commented on #4393
can you try running this script:
[code]
and then running `kubeadm init --config /tmp/kubeadm.yaml`

(you'll need [yq](https://github.com/mikefarah/yq) installed too)

[2020-12-03 16:52] haircommander commented on #4393
I also needed `yq w -i "$outfile" localAPIEndpoint.advertiseAddress 0.0.0.0`

[2020-12-03 16:58] leiw324 commented on #4393
Hello,

I followed this guideline: https://medium.com/@raghwendrasingh1819/diy-kubernetes-cluster-with-cri-o-container-runtime-ubuntu-xenial-53e967c33dd9

Just changed 👍 ![image](https://user-images.githubusercontent.com/33790160/101061299-4fe56900-35cb-11eb-9808-9eba475b5c42.png)

And then run Step 4 and Step 5 to install flannel:

Now I can run cri-o:
![image](https://user-images.githubuserconte

[2020-12-03 17:22] haircommander commented on #4393
looks like this: https://stackoverflow.com/questions/55867216/adding-master-to-kubernetes-cluster-cluster-doesnt-have-a-stable-controlplanee
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/#steps-for-the-first-control-plane-node

[2020-12-03 17:26] leiw324 commented on #4393
I just join worker with no problem:

kubeadm join 10.0.10.191:443 --token ypb5ay.g4tluzrqp87vd8wh \
    --discovery-token-ca-cert-hash sha256:dca27e696e17b7be9329dd442eaf506b166585d200333d7d4b26ff0738574663

![image](https://user-images.githubusercontent.com/33790160/101065024-9d63d500-35cf-11eb-870b-2d71169501ff.png)

I will try to join master node and read you suggestioin link tmr, good night

[2020-12-03 17:37] lsm5 commented on #4381
containers-common should be fixed now. Let me know..

[2020-12-03 20:38] gattytto commented on #4156
I think this got fixed in recent builds of cri-o, at least for me. zfs presents a delay in unpacking which sometimes can lead to very long non-responsive crictl command, but at least it works as expected now.

[2020-12-03 20:38] #4156 closed

[2020-12-04 08:57] leiw324 commented on #4393
This commnad not working when init Master 01

kubeadm init --pod-network-cidr 10.244.0.0/16 --apiserver-advertise-address 10.0.10.191 --cri-socket=unix:///var/run/crio/crio.sock --apiserver-bind-port=443 --control-plane-endpoint '10.0.10.191:6443' --upload-certs

[2020-12-04 09:44] leiw324 commented on #4393
I used the following command can init Master 01:

kubeadm init --pod-network-cidr 10.244.0.0/16 --cri-socket=unix:///var/run/crio/crio.sock --control-plane-endpoint '10.0.10.191:6443' --upload-certs

But when I kubectl get node with the following error:

The connection to the server 10.0.10.191:443 was refused - did you specify the right host or port?

[2020-12-04 14:28] haircommander commented on #4393
is this a local installation or on some cloud?

[2020-12-04 15:21] leiw324 commented on #4393
I am using KVM for testing.

[2020-12-06 11:18] leiw324 commented on #4393
I successfully create cluster !

[2020-12-07 14:04] haircommander commented on #4393
that's awesome to hear! what did you change?

[2020-12-07 20:04] #3879 closed

[2020-12-08 10:54] jayaddison commented on #3879
Thanks @haircommander!

[2020-12-08 18:40] haircommander opened #4415 "completions job is failing"
https://github.com/cri-o/cri-o/pull/4409 changed the function names of the completions, but didn't update the script that generated the completions. I should have reviewed more thoroughly, and we should have checked the pipeline results. oops :smile:

We need to update `internal/criocli/completions.go` to be able to handle two different set of names (and the other small nits in that PR)

success c

[2020-12-08 18:52] haircommander commented on #4415
@grammy-jiang any interest in taking this?

[2020-12-08 21:23] #4221 closed

[2020-12-09 04:29] kolyshkin commented on #4415
I have opened a PR to move completions validation to github actions, so it will be failing instantly (rather than after the PR is merged). https://github.com/cri-o/cri-o/pull/4423

[2020-12-09 04:48] kolyshkin opened #4424 "docs-validation is failing"
make docs-generation && ./hack/tree_status.sh is currently failing on circleci:

[code]

The selinux is probably because of missing `libselinux1-dev` package.

[2020-12-09 07:17] saschagrunert commented on #4424
Do you plan to propose a fix PR before we merge https://github.com/cri-o/cri-o/pull/4423, or what do you suggest?

[2020-12-09 20:37] kolyshkin commented on #4424
Yes, I guess this needs to be fixed before we merge #4423. Looking...

[2020-12-11 11:54] jvincze84 opened #4432 "Log Message Max Size"
**Description**

We have OKD4.6 cluster installed, and seems cri-o has a limitation on log message size.
Message larger than 8192 bytes (8k) are spitted, and stored separately in a new line.
These messages are flagged with P(artial) and (F)ull tag. However no logs are lost, but for example it is not possible to parse a long json message.
Related Fluentd issue: [https://github.com/fluent/fluent-bit

[2020-12-11 14:06] haircommander commented on #4432
hm weird, it's configured with the `log_size_max` field in the crio configuration, but we default to unlimited log size (-1). what is the value of that field when you run `crio config` on a node

[2020-12-11 14:34] jvincze84 commented on #4432
@haircommander
Thank you for your answer.
As I understand the `log_size_max` is for configuring the container log file size, not for the message size.
[code]
Our case is not about file size, but the individual log entry size.
Br,
Janos Vincze

[2020-12-11 14:51] haircommander commented on #4432
ah, oops, I didn't read precisely enough :laughing:

so the short answer is: we don't have a knob to change this behavior at runtime

we do, however have a way to change it, though it's not going to be trivial on OKD.

what needs to happen is you need to change

[2020-12-12 19:21] abhivaidya07 commented on #4381
Facing issue with installing cri-o on centos 7. There is some issue with 2 rpm files
1. Container-networking-plugin
2. Container-common

Plz look into it i am facing the issue since couple of days !!

[2020-12-13 07:21] abhivaidya07 opened #4434 "Not able to install crio on cloud"
Facing issue with installing cri-o (all versions) on centos 7. There is issue in 2 rpm files (opensuse repo)
1. Containernetworking-plugins
2. Containers-common

Plz look into it i am facing the issue since couple of days !!

Error:
Error downloading packages:
  containernetworking-plugins-0.8.7-1.el7.x86_64: [Errno 256] No more mirrors to try.
  2:containers-common-1.2.0-12.el7.x86_64: [Errno 256

[2020-12-14 02:00] tazaki commented on #4434
I am having the same issue. Full log:

[code]

[2020-12-14 07:48] abhivaidya07 commented on #4434
@tazaki Are you installing the cri-o on cloud instance ??

[2020-12-14 11:25] hafe commented on #4381
Fails again
https://gitlab.com/kargo-ci/kubernetes-sigs-kubespray/-/jobs/903748966

[2020-12-14 13:22] tazaki commented on #4434
I was doing cri-o testing on vagrant using this box:

https://app.vagrantup.com/centos/boxes/7

[2020-12-14 14:24] abhivaidya07 commented on #4434
Yes the issue is on cloud ...not on vm or physical machine

[2020-12-14 20:32] oomichi commented on #4381
Even if operating the official installation of cri-o on CentOS7 as https://cri-o.io by hands, we are facing the same issue like the following:
[code]

[2020-12-15 18:28] haircommander commented on #4434
I have reproduced in a centos container on my physical machine..

[2020-12-15 18:45] abhivaidya07 commented on #4434
I have checked and came to a answer that the issue is not on centos vm or physical machine but the issue is on cloud instance, dont know why

[2020-12-15 18:49] tazaki commented on #4434
We are confirming we see the issue on CentOS 7 in other places besides your cloud instance.

[2020-12-15 19:00] haircommander commented on #4434
I have asked my colleague @lsm5 to take a look. he's in charge of the containernetworking-plugins and containers-common repos. I'll have him fix it or give me permission to edit the repos. thanks for the patience folks, sorry for the inconvenience.

[2020-12-15 19:00] haircommander commented on #4381
I have reproduced this, and I have asked my colleague @lsm5 to take a look. he's in charge of the containernetworking-plugins and containers-common repos. I'll have him fix it or give me permission to edit the repos. thanks for the patience folks, sorry for the inconvenience.

[2020-12-15 19:25] lsm5 commented on #4434
sorry about this issue everyone, I submitted containernetworking-plugins 0.9.0-1 and skopeo 1.2.0-13 just now, should be ready in a bit, hopefully. I'll let you know once it's ready to try, so stay tuned, should be an hour or less.

[2020-12-15 19:27] tazaki commented on #4434
Thanks! I'll try later to confirm.

[2020-12-15 20:07] lsm5 commented on #4434
alright, so, containernetworking-plugins `0.9.0-1.el7` and containers-common `2:1.2.0-15.el7` should be available on the kubic repo now, those worked on my local env. Please give it a try. If you don't see those exact epoch:name-version-release, either try `yum clean all` to refresh repo metadata or wait few more hours before retrying (in case of stale mirror or something). HTH.

[2020-12-15 20:14] tazaki commented on #4434
Worked! Thanks all.

[2020-12-15 20:21] #4434 closed

[2020-12-16 03:02] icpenguins opened #4436 "CANNOT INSTALL PER DOCS on Ubuntu 20.04"
I followed the mess around this issue.

https://github.com/cri-o/cri-o/issues/3844

https://github.com/kubernetes/website/pull/23000

Then the directions.

https://github.com/cri-o/cri-o/blame/master/install.md#L103

The installation does not work when following the directions as specified.

[code]

Now that there has been an announcement from Kubernetes that Docker is gone, it would be nice to ha

[2020-12-16 03:05] icpenguins commented on #3844
@haircommander the docs do not work for Ubuntu 20.04.

[2020-12-16 04:19] abhivaidya07 commented on #4434
Thanks @lsm5

[2020-12-16 12:14] Exagone313 commented on #4436
I can confirm the repository doesn't contains CRI-O 1.20.

However, it contains CRI-O 1.19.

[2020-12-16 13:18] nyxi opened #4437 "Image garbage collection in K8S?"
So with Kubernetes you are supposed to let kubelet handle garbage collection of images.

But I can't seem to figure out how to configure that with cri-o as the container runtime? For my nodes I just get a lot of:

`Warning  ImageGCFailed  2s (x1416 over 4d21h)  kubelet  failed to get imageFs info: non-existent label "crio-images"`

For now I had to implement a simple systemd service/timer to run `

[2020-12-16 14:16] haircommander commented on #4437
what args do you use to run the kubelet, what's the output of  `crio config` and `crio-status info` ?

[2020-12-16 14:18] haircommander commented on #4436
I'm in the midst of packaging 1.20, sorry for the delay!

[2020-12-16 14:36] nyxi commented on #4437
[code]

[/var/lib/kubelet/config.yaml](https://github.com/cri-o/cri-o/files/5703316/kubelet-config.txt)

[crio config](https://github.com/cri-o/cri-o/files/5703291/crio-config.txt)

[code]

[2020-12-16 16:16] haircommander commented on #4436
ubuntu 20.04 should be working, PTAL @icpenguins @Exagone313

[2020-12-16 17:33] icpenguins commented on #4436
@haircommander I appreciate the update and it appears to be working. I'll be working with it some more today.

[code]

Is there a reason it can't be delivered through the normal methods so that we don't have to change the version every time but rather can specify the version we need when updating the systems?

My overall confusion came because I was able to see the release posted to the SUSE site

[2020-12-16 17:41] haircommander commented on #4436
It's a developer time problem. I have been volunteering to package for distros, but it's only part of the responsibilities I hold for the project. OBS is easiest because it's relatively simple to package for all required distros for all required CRI-O versions (we support three versions concurrently, so that's like 20-30 version/distro combos).

Sorry for the confusion, I had started to package it

[2020-12-16 17:45] icpenguins commented on #4436
@haircommander yup, time is a killer. I bring up the point because the downstream impact to the thousands of admins that will likely be coming this way will be something to think about.

Thanks for these details! They are helpful.

[2020-12-16 17:45] #4436 closed

[2020-12-16 17:56] haircommander commented on #4436
Thanks for trying out CRI-O, I'm happy to help with anything you need when using it :)

[2020-12-16 18:02] haircommander commented on #4437
Does this happen when you start kubelet after crio?

we've seen this in the past when `crio-status info` endpoint didn't send the correct storage root, which doesn't seem to be the case. Also, your crio config looks correct (it's not changing the value of the crio config).

Just wondering, what's in `/etc/containers/storage.conf` ?

[2020-12-16 19:27] Exagone313 commented on #4436
@haircommander Thanks for your fast support.

Is there a way this task could be automated in the future? This would prevent having new users complaining for a missing package on each new major release :smile:

[2020-12-16 19:34] haircommander commented on #4436
I would consider that task tech debt. it's been a plan of ours, but there are enough steps that it's proven easier to do it manually every couple of months rather than spend a couple of weeks working on properly automating it.

Every time I do it, I attempt to automate another part of it, though. It is a dream of mine to have it all just happen

[2020-12-16 20:34] icpenguins commented on #4436
@haircommander one last thing, could you point me in the direction to resolve this issue? I did a full image reinstall and followed the K8S instructions for installing CRI-O, but `kubelet` is not happy.

[code]

[2020-12-16 20:54] haircommander commented on #4436
what flags have you passed to the kubelet? it should have `--container-runtime=remote --cgroup-driver=systemd --container-runtime-endpoint='unix:///var/run/crio/crio.sock'`

[2020-12-16 21:02] haircommander commented on #4393
Since you found the issue, I'm going to close this. please reopen if you disagree @leiw324

[2020-12-16 21:02] #4393 closed

[2020-12-16 21:09] icpenguins commented on #4436
@haircommander according to Kubernetes, setting anything in these arguments is deprecated and should be done in the `config.yaml` file. That said, I made the changes and it seems to be working.

Here is the output I had.

[code]

Here is what I changed it to from above.

[code]

[2020-12-16 21:29] haircommander commented on #4436
interesting I'd have expected it to work with what you had before.

as a side note, I am updating the docs to use the kubelet config file (for kubeadm deployments at least) https://github.com/cri-o/cri-o/pull/4440

[2020-12-16 21:35] icpenguins commented on #4436
@haircommander thank you so much! I really do appreciate your timely responses and support. Apologies if I came off harsh, it had been a couple of hours wrestling with this issue.

A couple of things you might want to update in your documentation.

https://github.com/cri-o/cri-o/blame/master/install.md#L105 states `http` instead of `https` so someone might do a copy paste and leave it that way

Af

[2020-12-17 07:27] nyxi commented on #4437
I haven't implemented any specific startup order for kubelet / cri-o, just using the default systemd services. For cri-o that is the systemd service shipped with the package for CentOS 8 Stream.

For the node above I can see that kubelet started 10 seconds before cri-o.

My `/etc/containers/storage.conf` with all comments removed:
[code]

I haven't made any changes to this file so it should be the

[2020-12-17 12:24] hafe commented on #4381
Any idea why this keeps happening?

[2020-12-17 14:12] haircommander commented on #4381
the repos that cri-o depends on have had flaky build issues. I am not sure why in particular that's happening, unfortunately.

[2020-12-17 14:12] haircommander commented on #4381
should be fixed now

[2020-12-17 14:13] haircommander commented on #4437
what happens when you make the kubelet depend on cri-o on startup? does this error pop up?

[2020-12-17 15:38] nyxi commented on #4437
After some testing it appears that the error message in kubelet and the error events for the node go away when crio is started before kubelet.

And the vice versa is also true, the error consistently appears when crio is started after kubelet.

So my fix for now is a systemd override for crio.service containing:
[code]

[2020-12-17 15:43] haircommander commented on #4437
awesome to hear! I was worried kubelet *never* registers the images filesystem if it starts before cri-o. Sounds like this issue is mostly cosmetic, and there's a work around. Are we good to close this?

[2020-12-17 15:52] nyxi commented on #4437
You probably want to fix this in the systemd service for crio that you bundle in the OS packages. Or at least document it prominently as a known issue in the installation instructions.

This caused our nodes to run of out of disk space, yet Kubernetes didn't mark the nodes as having DiskPressure. I assume because kubelet incorrectly registered the images filesystem. So our clusters were trying to

[2020-12-17 17:20] haircommander commented on #4437
ah I see! I would think kubelet should be able register it if it starts before cri-o, but we can work around in cri-o for now

[2020-12-17 18:28] Exagone313 commented on #4436
I'd rather do:
[code]
(`enable --now` equals to `enable` + `start`)

[2020-12-17 18:32] haircommander commented on #4436
We welcome any PRs for additions to the documentation :smiley:

[2020-12-18 01:10] grammy-jiang commented on #4415
Hi, @haircommander,

It seems my last commit is covered by this commit:

* [drop support for ManageNSLifecycle · cri-o/cri-o@1633196](https://github.com/cri-o/cri-o/commit/1633196c14b2cc8160c588ea64ee3d718bfe9399)

Although I am not a Golang programmer, I would like to have a try. Also, the link [cri-o/completion.go at master · cri-o/cri-o](https://github.com/cri-o/cri-o/blob/master/internal/crioc

[2020-12-18 08:55] artheus commented on #4437
@nyxi Is it really necessary to have an empty `Before=` statement, or is it simply a copy&paste thing?
I got quite confused by this, and I've been reading the SystemD Unit documentation, but cannot find anything about how an empty `Before=` would have any effect at all.

[2020-12-18 14:36] haircommander commented on #4415
hey @grammy-jiang ! yeah we had to overwrite the changes. We'd love for you to help out!

the tricky part is that code section is for both crio and crio-status.

you can see [here](https://github.com/cri-o/cri-o/blob/6ee8d68771c24a045aef1f5372eae377928a3530/cmd/crio-status/main.go#L42) that  crio-status inherets the DefaultCommands [here](https://github.com/cri-o/cri-o/blob/6ee8d68771c24a045aef1f5

[2020-12-19 16:03] anthr76 commented on #4276
Facing this issue as well on crio 1.9.0 on Kubic. Cilium is CNI provider. `systemctl restart crio` resolves the issue.

[code]
After cri-o restart
[code]

Prior to cri-o restart
[code]

What's odd is physically restarting the node doesn't fix this. Just restarting the service.

Snippet from `kubectl describe node`
[code]

[code]

[2020-12-20 16:48] ps9802 opened #4445 "Found multiple CRI sockets, please use --cri-socket to select one: /var/run/dockershim.sock, /var/run/crio/crio.sock"
Hi Team,
While add nodes to master , when i enter token to join on worker node , i am getting below error.

Found multiple CRI sockets, please use --cri-socket to select one: /var/run/dockershim.sock, /var/run/crio/crio.sock

suggest me on this.

[2020-12-21 14:50] haircommander commented on #4445
my first suggestion would be to stop docker while running cri-o. if you need docker running, you can pass `--cri-socket=/var/run/crio/crio.sock` to the kubelet args (or set criSocket in the kubelet configuration yaml)

[2020-12-21 15:16] haircommander commented on #4276
is there anything else in that plugin directory before the cilium pod comes up? (bridge plugin config, for instance?)

[2020-12-21 16:43] anthr76 commented on #4276
Just tested. Nothing is present

[2020-12-21 17:23] haircommander commented on #4276
what's the `[crio.network]` section of `crio config`

[2020-12-21 17:24] icpenguins commented on #4437
@nyxi could you elaborate on how to implement the service order fix you suggested above? I am seeing this on both the nodes that I just built with cri-o. I'm assuming you mean something like the following but would like validation if possible 👍 I am also curious to @artheus question above if the additional, blank `Before=` is required?

[code]

[2020-12-21 19:31] haircommander commented on #4437
yes that should fix the problem @icpenguins

[2020-12-21 22:01] anthr76 commented on #4276
[code]

Appears to be a sane config

[2020-12-23 22:51] bbellrose1 opened #4451 "kubeadm init fails with node not found"
I am trying to initialize the cluster for the first time. Seems to go fine until it tries to boot kubelet. Then it gets a node not found...

$ kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1", GitCommit:"c4d752765b3bbac2237bf87cf0b1c2e307844666", GitTreeState:"clean", BuildDate:"2020-12-18T12:07:13Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/am

[2020-12-24 13:48] #4451 closed

[2020-12-27 08:33] jmcgrath207 commented on #896
made a small script for this that works for me with k8 1.20 and cri-o 1.20

[code]

[2020-12-29 00:22] amcinnes opened #4452 "Static release bundle for v1.20.0 is missing"
At https://github.com/cri-o/cri-o/releases/tag/v1.20.0 it says
[code]

It links to https://storage.googleapis.com/k8s-conform-cri-o/artifacts/crio-d388528db.tar.gz which returns a 404.

[2020-12-29 00:25] amcinnes commented on #4452
I found http://storage.googleapis.com/k8s-conform-cri-o/artifacts/crio-v1.20.0.tar.gz ; perhaps that was the intended URL?

[2020-12-31 04:29] TonyTwoStep commented on #897
Just dropping in to say that @luizbafilho's above solution is still the only way I've managed to relay my containerd runtime logs to elasticsearch via fluentd in 2020.

[2021-01-02 07:00] ttys3 commented on #896
works like a charm

[2021-01-04 14:32] haircommander commented on #4452
you are correct, I slightly messed up the release procedure. I have updated the release page!

[2021-01-04 14:32] #4452 closed

[2021-01-04 14:32] haircommander commented on #4452
thanks for catching this @amcinnes

[2021-01-04 14:34] haircommander commented on #896
eventually, we'll have better docs to describe how to configure this [PR here](https://github.com/cri-o/cri-o/pull/4440)

[2021-01-07 13:39] thanos1983 opened #4460 "CRI-O service is not restarting after restart of the node"
**Description**

**Steps to reproduce the issue:**
1. Simply restart the node e.g. `sudo shutdown -r now` (assuming that the service is enabled)
2. Once the node is up again check status of crio service e.g. `systemctl status crio`

**Describe the results you received:**
After restarting the node I see the service stopped:

[code]

**Describe the results you expected:**
After restarting the node I

[2021-01-07 14:40] haircommander commented on #4460
could I have the full
`journalctl -u crio`
after the reboot?

[2021-01-07 14:46] haircommander commented on #4460
also, what happens when you run `systemctl daemon-reload` after the reboot? does it start up? the issue seems to be with how the service file changed between reboots

[2021-01-07 14:48] thanos1983 commented on #4460
Hello again @haircommander,

Thank you for looking into this so fast.

Here is the information that you asked I just restarted the node again. I tried also the same thing but I was not able to see something that I could fix. :(

[code]

Hope this helps.

If you need any other information let me know.

BR / Thanos

[2021-01-07 14:52] thanos1983 commented on #4460
Unfortunately it does not start the service:

[code]

[2021-01-07 14:58] haircommander commented on #4460
can you set log-level to debug and restart? it should be telling us why it's failing, but it is not

[2021-01-07 15:06] thanos1983 commented on #4460
I set the log level on debug mode e.g.:

[code]

Then I restarted the node and then I see the same error message as before:

[code]

Any other ideas? :(

[2021-01-07 15:16] haircommander commented on #4460
I would guess your storage is corrupted. can you do a `rm -rf /var/lib/containers/storage`?

[2021-01-07 15:21] thanos1983 commented on #4460
Hmmm I see your point but then why it is happening on all the node on my cluster since I update the version today.

I just cleaned the storage and I still see the same problem after restart.

If I start the service manually it works just fine e.g.:

[code]

Any other ideas :(

[2021-01-07 15:39] haircommander commented on #4460
that is bizarre. what are the logs *after* you manually start crio

[2021-01-07 15:54] thanos1983 commented on #4460
This is the complete log after restart and manual start of the service:

[code]

Any other logs that I could fetch?

[2021-01-07 17:51] haircommander commented on #4460
oh wait, there's definitely a fatal error:
[code]
it got lost in the other infos

@thanos1983 what is the contents of `/proc/sys/fs/may_detach_mounts`

I am not sure why manually starting cri-o doesn't have you hitting this yet though...

[2021-01-07 18:21] thanos1983 commented on #4460
I have this value now:

[code]

Even after restart I see the same value.

This is my crio.conf file (removed the commends to make it smaller):

[code]

Do you see something that I might be missing?

[2021-01-07 18:32] haircommander commented on #4460
if you shutdown your node, does cri-o still not start up as expected?

[2021-01-07 18:39] thanos1983 commented on #4460
You mean shutdown without restarting? Then after 1 minute start again?

[2021-01-07 18:40] haircommander commented on #4460
basically do
[code]
again

[2021-01-07 18:55] thanos1983 commented on #4460
I did that and the result is the same.

It seems during restart the cri-o service is kicked in faster than the value in the mount.

Or at least this is what I am assuming based on the facts.

[2021-01-07 18:56] haircommander commented on #4460
oh that's a good thought. what is your crio.service file?

[2021-01-07 18:58] thanos1983 commented on #4460
See below:

[code]

[2021-01-07 19:20] haircommander commented on #4460
that seems normal. I have talked with @kolyshkin offline and he has said he'd poke around looking for why the sysctl isn't being applied before cri-o starts. if we can't come up with a service file fix, we'll make change the behavior in cri-o so it doesn't fatally error if the sysctl isn't set yet

[2021-01-07 19:35] thanos1983 commented on #4460
Sounds great :).

Keep me posted on this.

Have a nice evening.

[2021-01-07 19:55] haircommander commented on #4460
thanks for your patience, you as well @thanos1983 :)

[2021-01-11 07:58] nyxi opened #4465 "Failed to create existing container"
**Description**

I had a look at the similar issue in https://github.com/cri-o/cri-o/issues/3259 but there didn't seem to be any clear conclusion there?

Kubelet is consistently logging a lot of errors like:

[code]

The error messages seems to go away after reboot (not sure if forever or if these errors start cropping up over time). I would like to understand what is the cause so I don't repeat a

[2021-01-11 09:32] harche opened #4466 "Kubernetes NodeConformance and NodeFeatures jobs failing with latest CRIO"
**Description**

**Steps to reproduce the issue:**
1. [Prow CRIO periodic jobs](https://prow.k8s.io/?job=*crio*)

**Describe the results you received:**
Kubernetes NodeConformance and NodeFeatures jobs failing with latest CRIO

**Describe the results you expected:**
 NodeConformance and NodeFeatures jobs were running fine before https://github.com/cri-o/cri-o/commit/78261109b1311427d9cd9d935e9f21d

[2021-01-11 16:59] haircommander commented on #4465
I'm not seeing the `--cgroup-driver=systemd` flag in the kubelet config. Are crio and kubelet using the same cgroup driver? if they are, what happens when you switch to cgroupfs for both (as in, is this a systemd specific bug as the situation in the other bug suggests)

[2021-01-11 17:26] ratulb commented on #3844
root@instance-1:~# wget -nv https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/x${NAME}_${VERSION_ID}/Release.key -O- | sudo apt-key add -^C
root@instance-1:~# sudo sh -c "echo 'deb http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/x${NAME}_${VERSION_ID}/ /' > /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list"
root@instance-1:~# wget

[2021-01-11 17:35] haircommander commented on #3844
what's `echo $NAME $VERSION_ID`

[2021-01-11 17:38] nyxi commented on #4465
I have the systemd cgroup driver configured in the configuration file for kubelet `--config=/var/lib/kubelet/config.yaml`:

[code]

I assume the systemd cgroup driver is default for cri-o?

[2021-01-11 17:57] haircommander commented on #4465
yes it is! Can you try switching the cgroup driver and see if the issue happens?

[2021-01-12 09:20] hafe commented on #4381
Happens now again...

[2021-01-12 10:35] nyxi commented on #4465
I think I may have had a custom value for `conmon_cgroup` in cri-o at some point and then ended up in this situation when I reverted my configuration, not sure though - sorry :)

With default value `conmon_cgroup = "system.slice"` and reboots of the servers where kubelet was throwing the errors I have not seen it again.

[2021-01-12 15:33] haircommander commented on #4465
no need to apologize, glad you found the issue! is this good to be closed, then?

[2021-01-13 06:45] karthikg1978 commented on #3580
HI,

is there update on this. Still crictl stats provides POD usage not the container usage. Can you suggest any other method to find out container level usage.

Regards
Karthik

[2021-01-13 07:48] nyxi commented on #4465
Sure, thanks! 👍

[2021-01-13 07:48] #4465 closed

[2021-01-13 16:07] haircommander commented on #3580
what version are you using @karthikg1978 ? https://github.com/cri-o/cri-o/pull/3933 should be in 1.19.0

[2021-01-14 13:07] fuzhibo opened #4474 "Calico not worked on CRI-O"
**Description**
I try to deploy a kubernetes cluster of version v1.20.1. The environment config as following:
|Node|OS|Kubernetes Version|CRI Engine|
| :---: | :---: | :---: | :---: |
|Master|Ubuntu 18.04 (4.15.0-130-generic x86_64)|v1.20.1|Docker 20.10.2|
|Minion01|Centos 8 (4.18.0-240.1.1.el8_3.x86_64)|v1.20.1|CRI-O 1.20.1|
|Minion02|Centos 7 (5.9.1-1.el7.elrepo.x86_64)|v1.20.1|Docker 20.10.2|

[2021-01-14 16:47] curtisr7 opened #4475 "Typo in install guide"
The apt install guide[1] refers to `http://download.opensuse.org/repositories/...` but I assume that `http` should be `https`?

[1] https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems

[2021-01-14 20:42] haircommander commented on #4474
what's the kubeadm config you're using?

[2021-01-15 01:27] fuzhibo commented on #4474
The kubeadm config is default, only `localAPIEndpoint.advertiseAddress`, `nodeRegistration.name` was modified for the environment. The cluster is beginning with only Docker first, the CRI-O is deployed as a minion node and join the cluster recently. All config is default, the join operation only use `kubeadm join` command. @haircommander

[2021-01-15 08:30] fuzhibo opened #4476 "CRI-O 'net.ipv4.ping_group_range' set failure"
**Description**
I try to deploy a kubernetes cluster of version v1.20.1. The environment config as following:
|Node|OS|Kubernetes Version|CRI Engine|
| :---: | :---: | :---: | :---: |
|Master|Ubuntu 18.04 (4.15.0-130-generic x86_64)|v1.20.1|Docker 20.10.2|
|Minion01|Centos 8 (4.18.0-240.1.1.el8_3.x86_64)|v1.20.1|CRI-O 1.20.1|
|Minion02|Centos 7 (5.9.1-1.el7.elrepo.x86_64)|v1.20.1|Docker 20.10.2|

[2021-01-15 10:03] fuzhibo commented on #4474
I have replace the CNI plugin from Calico to Weave-net, and reconfig `/etc/crio/crio.conf` to add `linux capabilities` as docker default to `default_capabilities`:
[code]
Then, I deploy two POD on two node, `Minion01` deploy a `busybox`, it will use `echo "test" | nc <remote ip> 10086` to connect POD on `Minion02`. I deploy a `nc` with command `nc -l 10086` to listen the port on the POD. However,

[2021-01-15 10:27] lyind opened #4478 "Privileged Containers do not Start: "unknown capability: CAP_PERFMON""
**Description**

**Steps to reproduce the issue:**
1. Build CRI-O 1.20 and install with Kubernetes 1.20.2 (or similar)
2. Try to deploy a "privileged" pod (in my example: cilium/cilium:v1.8.6)
3. Observe error on container start: `unknown capability: `CAP_PERFMON`

**Describe the results you received:**
Privileged container doesn't start: `unknown capability: CAP_PERFMON`

**Describe the results y

[2021-01-15 10:32] lyind commented on #4478
This docker issue could be related: https://github.com/moby/moby/issues/41562

[2021-01-15 12:14] lyind commented on #4478
Closing:
The problem was related to outdated **crun 0.14** ( https://github.com/containers/crun/releases ).

Updating to **criu 0.16** solved the issue.

[2021-01-15 12:14] #4478 closed

[2021-01-15 14:45] haircommander commented on #4474
is the container actually starting? did you set the cgroupDriver to systemd in kubelet config? Can I have the crio logs `journalctl -u crio` from the node?

[2021-01-15 15:54] zakkg3 commented on #1284
u have to :
[code]

[2021-01-15 18:28] rhatdan commented on #4476
No.  I don't believe IPv6 supports this.

[2021-01-15 20:35] curtisr7 opened #4484 "problems with debian repositories"
I need to be able to install point versions of cri-o for the 1.19 and 1.20 releases in the same manner that is possible for 1.17.

Example: This repository[1] allows me to reliably install `1.17.4` of crio ( note the `cri-o:/1.17:/` part of the path). For some reason 1.19[2] and 1.20[3] only allow me to use latest for the given stream.

[1] http://download.opensuse.org/repositories/devel:/kubic:/l

[2021-01-16 05:12] oldthreefeng commented on #3719
Is there any General method to check `contianerd` or `cri-o `or `docker` cgroupDriver ?

for docker.
[code]

[2021-01-18 01:21] fuzhibo commented on #4476
@haircommander It is a IPv4 environment.

[2021-01-18 01:34] fuzhibo commented on #4474
@haircommander here is the log:
[k8sm01-journallog.txt](https://github.com/cri-o/cri-o/files/5827259/k8sm01-journallog.txt)

[2021-01-18 07:22] rmohr opened #4486 "1.18 stable libcontainers repo for centos8 stream is not working"
We get

[code]

and on the status page it is listed as `Unresolvable`: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.18/cri-o?rev=25

[2021-01-18 12:39] fuzhibo commented on #4474
By the way, I have replaced CRI of this node from CRI-O to containerd, everything is ok...
The net access work fine on the node. I think this issue cased by CRI-O.

[2021-01-18 12:43] saschagrunert opened #4489 "Move to GitHub actions"
CircleCI seemed to slow-down recently and now we're in a state where some jobs have been transferred to GitHub, whereas others are still running in CircleCI.

The integration tests have a fair amount of dependencies which have to be setup before we could run them in GitHub actions. ~~Beside that, it looks like that we cannot model a pipeline in the same way we do it in CircleCI right now.~~ Edit:

[2021-01-18 14:33] haircommander commented on #3719
not generic, but you can do
`crio config | grep cgroup`
for crio

[2021-01-18 16:17] karthikg1978 commented on #3580
Thank you for the update. We are running with 1.17.4-17. Let me check with 1.19.0 and update

[2021-01-18 18:17] ncapps opened #4491 "crio v1.20 support for k3s and calico on centos7"
**Description**
I am unable to deploy pods to a single node cluster with k3s v1.20 using crio v1.20 and calico CNI in a centos 7 (rel 7.9.2009) environment. These components work together using k3s v1.17 and crio v1.17.

**Working cluster**
Dependency | Version
--- | ---
k3s | v1.17.14+k3s3
cri-o | v1.17

**Not working cluster**
Dependency | Version
--- | ---
k3s | v1.20.2+k3s1
cri-o | v1.20

**St

[2021-01-18 20:04] haircommander commented on #4489
I would be interestd in moving to github actions. runc uses vagrant to set up VMs, so we could do something similar I'd think

[2021-01-18 20:41] haircommander commented on #4491
what version of runc are you using?

[2021-01-18 21:10] ncapps commented on #4491
[code]

[2021-01-18 21:14] haircommander commented on #4491
hm shoot this seems to still be an issue https://github.com/opencontainers/runc/issues/1847

@saschagrunert @giuseppe  do you know a work around here?

[2021-01-18 21:15] haircommander commented on #4486
@lsm5 helped me find the issue, should be fixed in the next couple of hours

[2021-01-18 21:24] haircommander commented on #4474
did you originally start crio with weave then start using calico?
[code]
it seems crio was started with weave, then the pods were stopped/crio was restarted before weave was able to clean up the CNI files, and cri-o is still attempting to talk to weave, even though you're using calico.

What's in
`/etc/cni/net.d` and `/opt/cni/bin`

[2021-01-19 07:45] rmohr commented on #4486
Great to hear. Is there any way to sanity check this automatically? This is right now our third attempt to switch from docker to crio in our CI. All three times som crio repos were suddenly unavailable. :/

And we would desperately want to switch :)

[2021-01-19 07:47] giuseppe commented on #4491
I think it is required to either update runc that knows how to deal with the new seccomp profile or use an older version for `/usr/share/containers/seccomp.json`.

[2021-01-19 07:58] saschagrunert commented on #4491
@ncapps did you install CRI-O by using the kubic packages?

@haircommander we may want to update this part of [the CRI-O spec](https://build.opensuse.org/package/view_file/devel:kubic:libcontainers:stable:cri-o:1.20/cri-o/cri-o.spec?expand=1):
[code]

As @giuseppe mentioned, another workaround for now would be to add a new CRI-O configuration drop-in like this:
[code]

[2021-01-19 14:43] haircommander commented on #4486
I don't believe OBS has a mechanism for testing builds. We could have a gitlab timer that downloads the build for each supported platforms and does some sanity tests against them. At this point we're just limited in developer time, unfortunately

[2021-01-19 15:01] lsm5 commented on #4486
@rmohr I can't promise an ETA, but I think it should be possible for us to provide CentOS Stream builds directly from CentOS Stream repos, so that we don't have to depend on OBS long term.

Let's check with @bstinsonmhk

[2021-01-19 17:08] ncapps commented on #4491
@saschagrunert Yes. This is how I installed CRI-O:
[code]

[2021-01-19 17:30] haircommander commented on #4491
i'd recommend installing runc from those repos as well, it'll be more up to date than the one in the distribution

[2021-01-19 18:12] ncapps commented on #4491
Is there a recommended seccomp profile that you can refer me to? I installed crio v1.17 and v1.20 separately and the default seccomp profile pulled from `/usr/share/containers/seccomp.json` appear to be identical:
[default-crio-v1.17.txt](https://github.com/cri-o/cri-o/files/5837763/default-crio-v1.17.txt)
[default-crio-v1.20.txt](https://github.com/cri-o/cri-o/files/5837764/default-crio-v1.20.txt

[2021-01-19 21:39] haircommander commented on #4476
I honestly don't know why ping_group_range is not available on your system. @mrunalp @rhatdan @giuseppe any ideas here?

[2021-01-19 21:40] haircommander commented on #4491
the difference is actually k8s 1.20 changed the default behavior around seccomp, right @saschagrunert ?
also @saschagrunert what version of runc do you think we should require now?

[2021-01-19 21:41] haircommander commented on #4491
to answer your question @ncapps I am not super familiar with seccomp profile creation, but think the best work around is using a newer runc (which probably has a host of other improvements other than this)

[2021-01-20 01:06] ncapps commented on #4491
I was able to get this working with `runc version 1.0.0-rc92`

[2021-01-20 08:13] saschagrunert commented on #4491
No we should be still backwards compatible, there were no breaking changes included for now.

[2021-01-20 14:18] haircommander commented on #4491
excellent to hear, can we close this issue?

[2021-01-20 15:24] #4234 closed

[2021-01-20 16:06] pperiyasamy commented on #2112
/cc @pperiyasamy

[2021-01-20 16:24] #4491 closed

[2021-01-20 19:55] rhatdan commented on #4476
What kernel are you using?

[2021-01-20 22:12] haircommander opened #4506 "`crio config` fixes"
Currently, calling `crio config` spits out an entire config file. However, it would be prudent for us to move away from the monolithic config file, in favor of smart defaults, and drop-in files.

However, to do this, there needs to be a way for users to quickly create drop-in files, and have them not override the defaults where they don't need to.

The main advantage to this approach is it allows

[2021-01-21 07:47] saschagrunert commented on #4506
Yep, I think this makes sense and would be a good addition :+1:

[2021-01-21 15:24] haircommander opened #4509 "integration fedora failing"
with this error
[code]
because of this PR https://github.com/opencontainers/runc/pull/2727

because there is an unexpected log line:
[code]
ref: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_integration_fedora/21857/s3/
it really feels like this error should be captured by cri-o instead of in the container logs, but I don't know if there's anything to do about it.

cc @kolyshk

[2021-01-22 08:54] fuzhibo commented on #4474
For more investigation, I found it may caused by CentOS 8, I tried `cri-o + calico`, `cri-o + weave`, `containerd + calico`, `containerd + weave`, `docker + calico`. All of them can't work (I also tried to configure or remove firewalld and nftables). All I think of the possibilty to cause the problem maybe the sysctl.conf.
[code]
The issue should be closed, maybe not a issue.

[2021-01-22 08:54] #4474 closed

[2021-01-22 08:58] fuzhibo commented on #4476
@rhatdan @haircommander I use CentOS 8
[code]

[2021-01-22 14:14] haircommander commented on #4476
and doing `cat /proc/sys/net/ipv4/ping_group_range` succeeds, but cri-o doing it fails... How are you running cri-o? just as a service? is there anything special in your systemd unit file?

[2021-01-23 00:41] fuzhibo commented on #4476
I follow the [install.md](https://github.com/cri-o/cri-o/blob/master/install.md) to install the cri-o, just as a service, all is default. @haircommander

[2021-01-25 13:32] rhatdan commented on #4476
Could this be something that systemd is doing.  If you run cri-o outside of the service, does it throw an error?

[2021-01-26 01:55] mrunalp opened #4515 "Support configurable idle timeout for streaming server"
Add a knob to allow users to specify idle timeout for the exec/attach/portforward streaming server.

[2021-01-26 07:36] ityuhui commented on #4506
May I take this ticket ?

[2021-01-26 08:02] saschagrunert commented on #4506
/assign @ityuhui

[2021-01-26 09:23] alexminder opened #4516 "compile error on musl libc system: undefined reference to `TEMP_FAILURE_RETRY'"
**Description**

Compile error on system with musl libc

**Steps to reproduce the issue:**
1. Run linux with musl libc
2. Compile cri-o
3. Compile error

**Describe the results you received:**

[code]

**Describe the results you expected:**

Compile success

**Additional information you deem important (e.g. issue happens only occasionally):**

`cri-o v1.19.1`

[2021-01-26 09:47] saschagrunert commented on #4516
Hey @alexminder, thank you for the report. I think we have to backport https://github.com/cri-o/cri-o/pull/4137 to the release-1.19 branch to apply the fix.

[2021-01-26 11:25] saschagrunert commented on #4516
/close

[2021-01-26 11:25] #4516 closed

[2021-01-27 10:15] rmohr commented on #4486
So, here is an intersting observation: Since you fixed it, on most of our machines we could pull the repo information again. But on some machines we did not get a response when downloading files from the OBS servers:

[code]

It suddenly started to work again yesterday.

[2021-01-27 11:29] ccnankai opened #4518 "When using crictl to create pod, the rpc error : get https://k8s.gcr.io/v2/: dial tcp i/o time out occurred."
According to CRI-O crictl tutorial,I type the following command in the shell,

*POD_ID=$(sudo crictl runp test/testdata/sandbox_config.json)*

Then the following error is reported：

![image](https://user-images.githubusercontent.com/33537489/105987053-b1601a80-60d8-11eb-823c-8a1022c5fa81.png)

If I cannot connect to k8s.gcr.io/v2/, is there any proxy setting to solve this problem?

[2021-01-27 13:03] saschagrunert commented on #4518
Hey @ccnankai, is this a reproducible issue? From my location (Germany) I have no issues accessing the k8s.gcr.io images. May It be possible that you're blocked by some firewall?

[2021-01-27 13:16] lsm5 commented on #4486
@rmohr no idea tbh, have you tried using the generic mirror url instead of a specific mirror?

[2021-01-27 13:18] rmohr commented on #4486
Yes, what you see here is one of the mirrors where we got redirected to.

[2021-01-27 13:20] rmohr commented on #4486
I don't think that you can do anything regarding to that. Was just mostly curious if it rings a bell. Thanks.

[2021-01-27 13:20] #4486 closed

[2021-01-27 13:22] lsm5 commented on #4486
Yup, I usually call it a bad mirror and retry. Good to know it's resolved for you, mirror reliability aside.

We'll update you once we make progress on the CentOS Stream default repos. Thanks!

[2021-01-27 20:07] QiWang19 commented on #4475
This should be closed by https://github.com/cri-o/cri-o/pull/4483

[2021-01-27 20:09] #4475 closed

[2021-01-28 01:59] #4518 closed

[2021-01-28 02:00] ccnankai commented on #4518
Thank you very much, I am indeed restricted from accessing k8s.gcr.io here.

[2021-01-29 06:30] ccnankai opened #4522 "How to get the name of the cri-o image I need, such as ubuntu16.04"
I just started learning to use crio, I am a novice
No one answered me on the stackoverflow website, so I am sorry to ask questions here.
I have the following three  questions, and I found no tutorials anywhere,  I was very confused.

(1)I can search for the image I need from docker hub and download it. If I use cri-o, where can I find the basic image I need, such as ubuntu:16.04 .  use  docker.io/

[2021-01-29 14:30] haircommander commented on #4522
no need to apologize for asking questions :)
1: we recommend [podman](github.com/containers/podman) or [skopeo](github.com/containers/skopeo) for inspecting images. You can use podman in the same way as you would the docker CLI.
2: we recommend [buildah](github.com/containers/buildah) for building images from a Dockerfile
3: Are you talking about the files given to crictl? Those are the JSONified

[2021-01-30 04:35] ccnankai commented on #4522
@haircommander
Thank you very much for your patience and advice. These are very helpful to me and my problems have been solved. Thanks.

[2021-01-30 04:35] #4522 closed

[2021-01-30 21:38] vorburger commented on #3301
This issue appears to be a duplicate of #896 and #4440.

[2021-02-01 09:18] ccnankai opened #4527 "Is there a function or structure in go that can get detailed information about the container?"
I want to get the detailed information of the container in the Go language, such as container ID, continaer name, etc.
 Is there a good way?

[2021-02-01 14:20] haircommander commented on #3301
yeah I think I will close this. @skycastlelily2 if you're still working on getting the integration tests working, can you open a new issue with the problems?

thanks for triaging @vorburger

[2021-02-01 14:20] #3301 closed

[2021-02-01 14:23] haircommander commented on #4527
we don't expose any library that would give one access to the internals like that. what are you using it for?

no need to apologize, this is a good forum for asking questions :)

[2021-02-01 19:53] adrianmaurer commented on #4451
what was the issue? I am having the same problem

[2021-02-01 20:07] bbellrose1 commented on #4451
Issue was I tried to set the anonymous auth to false in the kube api config (per CIS benchmark), however doing so caused this problem among others. Apparently it is not recommended to set anonymous auth to false.

Brian

From: Adrian Maurer <notifications@github.com>
Sent: Monday, February 1, 2021 2:54 PM
To: cri-o/cri-o <cri-o@noreply.github.com>
Cc: Bellrose, Brian <brian.bellrose@Wabtec.com>; S

[2021-02-02 02:24] ccnankai commented on #4527
@haircommander
I want to make a prestart-hooks, just like nvidia-container-toolkit (toolkit of nvidia-gpu), mount the device that nvidia-gpu needs to use in the /dev  into the container, and then get permission. These devices can be used inside the container.
Thank you very much.

[2021-02-02 11:45] plevart commented on #4437
Encountered the same issue. As a workaround until it gets fixed in the crio package itself, I would recommend not editing the file of the crio package because updating/upgrading the package would then install .rpmnew file instead of overwriting it with new version and either way it is not what you actually want.

You can issue the following command:

`systemctl edit crio`

and then paste the follo

[2021-02-03 07:37] #4527 closed

[2021-02-03 13:30] ityuhui commented on #4506
Hi @haircommander

I have 4 design behaviors for you to confirm :

1. What should be the output of ``crio config`` ?

2. What should be the output of ``crio config --default`` ?

3. What should be the output of ``crio --config="" config`` ?

4. What should be the output of ``crio --config="a_valid_config_file" config`` ?

[2021-02-04 11:42] fidencio opened #4541 "runtimeVM: containerd-shim-kata-v2 binary can't be load from an arbitrary path"
**Description**

kata-deploy "installs" `containerd-shim-kata-v2` binary in `/opt/kata/bin`, which is not part of the PATH. Knowing that, when setting it up, I've added the current snippet to the CRI-O's configuration:
[code]
However, the pod can't be started due to:
[code]
The CRI-O code responsible for spawning the `containerd-shim-kata-v2` can be found [here](https://github.com/cri-o/cri-o/blob

[2021-02-04 11:44] fidencio commented on #4541
/cc @Amulyam24

[2021-02-04 11:45] fidencio commented on #4541
/area vm

[2021-02-04 12:36] fidencio commented on #4541
One simple solution for this would be:
* Ensure kata-deploy configures `default_env` accordingly;
* Ensure `os.Setenv()` is called at some point before starting the `containerd-shim-kata-v2` binary, forcing then an update to the `PATH;
  * I'm not much comfortable on explicitly calling `os.Setenv(...)` from [`runtimeVM.startRuntimeDaemon()`](https://github.com/cri-o/cri-o/blob/c75afa5b3515a7ab2f6a

[2021-02-04 13:33] fgiudici commented on #4541
I guess enforcing the binary to be in the PATH is for security reasons... but that doesn't make sense when we have a full path specified IMO.
I cannot think of any good reason the ignore a full binary path when specified.

[2021-02-04 19:39] haircommander commented on #4506
hey @ityuhui ! here's what I think:

1: `crio config` should output the diff of the current configuration (/etc/crio/crio.conf + /etc/crio/crio.conf.d/*) and the default
2: I forgot we had this flag. I suppose if it's manually asked for, `crio config --default` should specify the whole config (all with defaults filled in)
3: note there's `--config=""` and `--config-dir`. I assume you meant `--conf

[2021-02-04 19:39] haircommander commented on #4506
wdyt?

[2021-02-05 02:41] ityuhui commented on #4506
I agree and will implement the above behaviors.

[2021-02-05 12:49] fidencio commented on #4541
I've opened the following PR for containerd: https://github.com/containerd/containerd/pull/5007
If that gets merged, we could simple update the vendored code.

[2021-02-08 13:38] saschagrunert opened #4551 "Support for arm 64bit static binary bundles."
The main idea is to support a second static binary bundle which is able to run on 64bit arm machines.

#### Things to be done:
- [x] Create a nix derivation which produces the `crio*` binaries for arm (https://github.com/cri-o/cri-o/pull/4552)
- [x] Update the bundle build process to create two separate instead of just one
- [x] Check if all other binaries within the bundle are supported for arm,

[2021-02-08 13:38] saschagrunert commented on #4551
/assign

[2021-02-09 10:35] thanos1983 opened #4558 "Node configuration validation for fs.may_detach_mounts sysctl failed: fs.may_detach_mounts sysctl: expected 1, got 0 on CRI-O Version 1.20.0"
**Description**
Update my cluster to 1.20.1 sample:

[code]

And I also updated my CRI-O socket to the latest version:

[code]

As part of my testing procedure of the cluster I restart one of the master nodes in HA cluster with 3 master nodes and 3 workers.

After restart I can see that the socket is not restarting:

[code]

**Steps to reproduce the issue:**
1. Launch a cluster with the same cri-o

[2021-02-09 20:08] haircommander commented on #4558
hey @thanos1983 this sounds like the same error as https://github.com/cri-o/cri-o/issues/4460, which we never actually fixed :upside_down_face: do you think that's the case?

[2021-02-10 15:03] haircommander commented on #4558
the attached patch doesn't work for you?

[2021-02-10 17:32] thanos1983 commented on #4558
I can see the path is "internal/config/node/node.go" where can I modify the code on my crio deployment to test it?

[2021-02-10 17:56] haircommander commented on #4558
you'd have to build it from source, there's no config option to fix it.

[2021-02-12 14:46] #4489 closed

[2021-02-13 00:48] kolyshkin commented on #4460
This setting (fs.may_detach_mounts) is performed via a file supplied by runc rpm.

@thanos1983 what does
[code]
tells you?

You might be using a version of runc which does not have a sysctl file. In this case you can add one manually:
[code]

PS I found out that centos build for runc from https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/ repo does not set fs.

[2021-02-14 14:21] Drakkai opened #4574 "Failed to run cri-o 1.20 on Ubuntu 18.04"
**Description**

I tried to install kubernetes 1.20.2 using kubespray based on cri-o and Ubuntu 18.04. Unfortunately, the installation ended with an error starting crio.service. So I tried to install cri-o on a fresh system, but without success - I am not able to run cri-o version 1.20 on Ubuntu 18.04. I installed it according to the instructions on the website https://cri-o.io/. I get the same er

[2021-02-15 13:22] thanos1983 commented on #4460
Hello @kolyshkin ,

Apologies for the late reply but I just got the time to reply.

Observations:

[code]

After setting the sysctl knob for the control kernel everything work as expected.

This node is running RH7 with Docker also on the side hence the problem:

[code]

I saw that also recently on RH8 node:

[code]

I have raised this with the team [4036](https://github.com/cri-o/cri-o/pull/4036)

[2021-02-15 13:26] thanos1983 commented on #4558
I think we can cancel this proposed solution as the problem seems to be fixed by [4460#issuecomment-778532043](https://github.com/cri-o/cri-o/issues/4460#issuecomment-778532043).

Thanks a milion again on working on my problem.

[2021-02-15 14:44] haircommander commented on #4574
can you try to run
`sed -i 's/,metacopy=on//g' /etc/containers/storage.conf` and see if that works? It seems ubuntu 18.04 doesn't support the option

[2021-02-15 17:22] Drakkai commented on #4574
Thanks, it works. Maybe it should be mentioned in the documentation?

[code]

[2021-02-15 17:37] haircommander commented on #1712
/area vm

while not immediately needed, this was deemed to be good to keep open

[2021-02-15 17:39] haircommander commented on #2984
CRI-O now mitigates this situation (it'll never be able to solve it) here https://github.com/cri-o/cri-o/pull/4394

[2021-02-15 17:39] #2984 closed

[2021-02-15 17:41] haircommander commented on #4200
I have continued packaging fedora manually with modules. I think we can close this for now

[2021-02-15 17:41] #4200 closed

[2021-02-15 17:46] haircommander commented on #4574
we should really fix this in the package itself, it isn't too hard to auto-detect, and not worth end-user time/energy :)

[2021-02-15 17:46] haircommander commented on #4574
thanks for the report @Drakkai

[2021-02-15 18:19] haircommander commented on #4460
For RHEL 8, this knob is not needed.

Why do you have a mixed containerd/CRI-O node? is it possible to just use CRI-O? If you do, and install runc from Kubic, @lsm5 and I can work together to have the sysctl set

[2021-02-15 19:02] champtar commented on #4574
An easy rule would be kernel >= 4.19 or kernel = 4.18.0 (EL 8.x)

[2021-02-15 19:26] champtar commented on #4574
One of the painful part is that ubuntu (18.04) has different kernel versions in the cloud than in normal images.
Cleanest way to fix this is to use today failing check and turn that into an autodetection rule, so this also handle custom kernel

[2021-02-16 04:46] kolyshkin commented on #4460
@thanos1983 not related to this issue, but I have noted that your containerd.io package is targeted for RHEL8, not RHEL7. I am not sure where you got it from (docker-ce for centos 8 build?), but it's not a good practice to have a runc package obsoleted (containerd also uses runc, I guess they just bundle their own version of runc into the containerd.io package -- and that's not good as you can't u

[2021-02-16 10:19] thanos1983 commented on #4460
The problem is with these nodes that many people use them. I try to get the best possible tools for my work but people are used to work with some common tools e.g. Docker so they do not want to move out of them. Also a big factor is Ansible and that there are so many packages for Docker deployments. Once I manage to migrate them to k8s I will possibly migrate them to RH8 and podman.

I am also try

[2021-02-16 10:33] thanos1983 commented on #4460
Nice catch. Thanks a milion for that.

To be 100% honest I messed up, that was my fault. I mounted by accident a repo that it was meant to be for C8 and I pulled by accident from there. I will fix this now.

Again thanks a lot :)

[2021-02-16 14:07] haircommander commented on #4460
It sounds like the issue is solved (minus a couple of follow-ups). are we good to close this and https://github.com/cri-o/cri-o/issues/4558 @thanos1983

[2021-02-16 16:07] kolyshkin commented on #4460
In fact Docker needs this knob set as much as CRI-O (and, as far as I remember, dockerd just sets this knob upon start -- that might explain why you see it enabled).

[2021-02-16 16:55] thanos1983 commented on #4460
It makes sense :). Thanks again.

[2021-02-16 16:55] thanos1983 commented on #4460
I think we can close this ticket :). Thanks again for all the assistance.

[2021-02-16 16:55] #4460 closed

[2021-02-16 16:56] thanos1983 commented on #4558
@haircommander should we close this ticket also?

[2021-02-16 17:06] haircommander commented on #4558
yes I believe so

[2021-02-16 17:06] #4558 closed

[2021-02-16 17:06] haircommander commented on #4460
happy to help!

[2021-02-18 09:26] harche opened #4586 "crio bundles should use full sha values"
**Description**
CRIO bundle downloads sometimes fail due to issue reported here, https://github.com/kubernetes/test-infra/pull/20754

CRIO should use `git rev-parse HEAD` instead of `git rev-parse --short HEAD` to mitigate the reported issue.

[2021-02-19 17:52] fidencio opened #4589 "runtimeVM: CRI-O doesn't properly convert the runtime path to the expected shimv2 name"
**Description**

shim v2, used by the VM runtime type, expects the runtime name to be in the following format:
[code]

The current code simply replaces, from the binary name, all the "-" by ".", which ends up working well as long as the $name doesn't have a "-" in it, which is, by luck, what's done by the Kata Operator.  However, whenever a name has "-" in it, which we can see happening on upstrea

[2021-02-19 18:15] fidencio commented on #4589
/area vm

[2021-02-20 08:55] fidencio opened #4591 "runtimeVM: Support "configPath" as part of the runtime configuration"
**Description**

When trying different configurations of a runtime, it becomes handy to have a way to the runtime's specific configuration file.
Nowadays, some runtimes work this around by distributing a shell script wrapping the call to their binaries, setting the configuration file as part of this shell script.  Although this works, this could be simpler.

But how to solve this?  I think we shou

[2021-02-22 13:58] cunnie commented on #1301
[for the benefit of future people coming to this issue via Googling the error message]

To fix this error on Fedora 33, I needed to configure `containerd` to look for CNI plugins in the Fedora-specific location (`/usr/libexec/cni` not `/opt/cni/bin`), so here's a snippet of my `/etc/containerd/config.toml`:

[code]

[2021-02-22 15:02] haircommander commented on #1301
I believe that's how to fix if you run into it with containerd, the cri-o version is
[code]

:smiley:

[2021-02-22 23:33] maybe-sybr opened #4593 "Make `ctx.SystemRegistriesConfDirPath` configurable via CLI"
**Description**

It is currently possible to use a specific `containers-registries.conf(5)` file via the hidden `--registries-conf` CLI option but there is no similar option to set the directory path used for `containers-registries.conf.d(5)`. Instead, the usual user path (if extant) or system path will be used.

**Steps to reproduce the issue:**
N/A

**Describe the results you received:**
N/A

**

[2021-02-22 23:35] maybe-sybr commented on #4593
This is actually slightly surprising behaviour to me. I wouldn't necessarily expect the system or user conf.d directories to be respected at all when I provide my own .conf file, but that's probably a debatable point. That said, I'd be happy if the existing behaviour was left unchanged as long as I could override it with my own conf.d path via the CLI and/or env vars

[2021-02-23 13:13] Fang-Li opened #4594 "why `podman container ls` not like `crictl ps -a`"
**Description**

Why the container list of podman on the same host is different from crio

**Describe the results you received:**
[code]

[code]

**Describe the results you expected:**

[code]

**Output of `crio --version`:**

[code]

[code]

[code]

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[code]

[2021-02-23 13:16] Fang-Li commented on #4594
What do I need to do so that podman can manage crio containers

[2021-02-23 14:59] haircommander commented on #4594
unfortunately, this is not currently possible. podman containers are separate from cri-o containers, and we haven't yet decided how we will support podman managing cri-o containers. crictl is the tool you need to use to debug your containers, or you can use runc as well

[2021-02-23 14:59] haircommander commented on #4593
are you interested in opening a PR @maybe-sybr ?

[2021-02-23 23:13] maybe-sybr commented on #4593
I certainly can, @haircommander . The way the CLI options get put into the system context seems simple enough so I'll see what I can do today.

[2021-02-24 01:45] #4594 closed

[2021-02-24 21:27] timhughes opened #4599 "[docs tutorials/kubeadm.md ] error in script. `yq` doesnt have subcommand `w`"
**Description**

The commands at
https://github.com/cri-o/cri-o/blame/master/tutorials/kubeadm.md#L49-L50
uses `yq w` but `yq` doesnt have a `ws` subcommand

[code]

**Output of `crio --version`:**

[code]

[2021-02-25 00:16] timhughes commented on #4599
Looks like the V4 is backwards incompatable.

Here are some alternatives
[code]

[2021-02-25 15:18] haircommander commented on #4599
thanks for finding this! would you be interested in opening a PR to fix :smiley:

[2021-03-01 22:40] maybe-sybr opened #4607 "Image endpoint configuration can (should?) be omitted from crictl.yaml"
**Description**

The `crictl.yaml` bundled in this repo contains configuration for both the runtime and image endpoints with the same path: `unix:///var/run/crio/crio.sock`. This makes some sense since omitting these to use the default endpoint searching behaviour is marked as deprecated. However, `image-endpoint` is documented as defaulting to the value of `runtime-endpoint` if it is not otherwis

[2021-03-02 04:00] harche opened #4608 "New crio static download script fails with 404"
**Description**
New static download script fails with following error,
[code]

**Steps to reproduce the issue:**
1. `curl https://raw.githubusercontent.com/cri-o/cri-o/master/scripts/get | bash`
2.
3.

**Describe the results you received:**
Download failed with 404.

**Describe the results you expected:**
Download to succeed.

**Additional information you deem important (e.g. issue happens only oc

[2021-03-02 08:42] saschagrunert commented on #4608
Yes, it's picking the wrong commit from the GItHub actions API. I'll check what is wrong here.
/assign

[2021-03-02 10:18] #4599 closed

[2021-03-02 11:38] saschagrunert commented on #4586
I think this is now done with the new artifact naming scheme
/close

[2021-03-02 11:38] #4586 closed

[2021-03-02 11:38] saschagrunert commented on #4551
This is now done
/close

[2021-03-02 11:38] #4551 closed

[2021-03-02 14:45] haircommander commented on #4607
thanks for opening the issue, but this seems to be an issue with crictl more than CRI-O, as that's where the endpoint is being specified and where the inconsistent behaviour is happening. Are there any things you expect CRI-O to be doing differently?

[2021-03-02 21:40] haircommander opened #4616 "integration_crun failing in 1.19"
it seems prow is having trouble reporting. Unclear why

[2021-03-02 21:46] haircommander commented on #4616
examples:
https://prow.ci.openshift.org/view/gcs/origin-federated-results/pr-logs/pull/cri-o_cri-o/4604/test_pull_request_crio_integration_crun_fedora/13996/ (https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_integration_crun_fedora/13996/)
https://prow.ci.openshift.org/view/gcs/origin-federated-results/pr-logs/pull/cri-o_cri-o/4581/test_pull_request_crio_integration_crun_fedora/1

[2021-03-02 23:18] maybe-sybr commented on #4607
It's an issue with the crictl.yaml config bundled by CRI-O being (IMHO) too specific. There's no need for the config file bundled in the RPM to specify that both the runtime and image endpoints are at the same path, and it causes a slight headache when attempting to use an alternate (non-system) CRI-O like the one started by usernetes. Of course, that's only valid while CRI-O does in fact provide

[2021-03-03 02:39] povsister commented on #4607
That's the key point.
I think the behavior `crictl` is reasonable, and there is no need to explicitly specify `image-endpoint` if both of them are served on the same socket. (and it's always so for most of cases.)

As far as I know, the `crictl.yaml` bundled in containerd distribution only has `runtime-endpoint` defined.

[2021-03-03 15:33] #4608 closed

[2021-03-03 16:31] haircommander commented on #4607
that's fine with me. how are you installing cri-o? would you be interested in opening a PR to fix in this repo?

[2021-03-04 19:31] fidencio opened #4621 "[RFE] Do not fail to start if a **non** default runtime is missing"
**Description**

The current CRI-O behaviour is to not start if a **non** default runtime is missing.  While it's understandable, for **non** default runtimes we'd be better by:
* Loudly warning that the binary is not present;
* Not registering (or un-registering) the runtimeClass related to the missing binary;

**Steps to reproduce the issue:**
1. Add a second runtime to your crio configuration
2

[2021-03-04 19:31] fidencio commented on #4621
/cc @mrunalp @haircommander

[2021-03-04 21:20] haircommander opened #4622 "infra container creation should live entirely in internal/factory/sandbox"
Right now, we create the infra container entirely in server/sandbox_run_linux.go

Long term, we should move sandbox to pkg/sandbox, and the infra container creation is around 70% of sandbox creation

This is a tracking issue for this work

[2021-03-05 08:29] christmerlini opened #4624 "Inconsistent methods to aqcuire static release bundles."
Will it be possible to unify how this project releases static release bundles?
Some releases are available from Google Cloud Platform.
Most releases are available directly from Github.
Some releases are not available.

I think it would be very helpful to be able to use a specific version of cri-o without having to build it from source, despite it being supported or not.

[2021-03-05 08:36] saschagrunert commented on #4624
Hey @christmerlini, thank you for the suggestion. We are right now in the middle of a change when it comes to how static binary bundles can be consumed. We added a new script, which should allow us to fetch any revision from now on:
https://github.com/cri-o/cri-o#installing-cri-o

When we speak about selecting versions, then this script will work from v1.21.0 and following releases. I know this is

[2021-03-05 10:11] #4607 closed

[2021-03-07 12:27] fidencio opened #4627 "Kata Containers can't be created due to strict checks done when seccomp is disabled"
**Description**

When seccomp is disabled (either via buildtag, or globabally in the
system), there's no point to error out if a profile that's being set up
is not the "Unconfinded" one.

By enforcing the check, we cause regressions on Kata Containers, which
are not able to start their pods up, as shown below
[code]

**Steps to reproduce the issue:**
1. Have kata-containers deployed on your system

[2021-03-08 10:37] fidencio opened #4632 "Why does CRI-O impose the restriction of only loading binaries from the PATH?"
While browsing CRI-O code I've faced the following test:
https://github.com/cri-o/cri-o/blob/c61c691b9c6d00ab18268d1a5d53d2b9c2dd2702/pkg/config/config_test.go#L462-L471

Why do we need to ensure that the runtime binary is part of the `PATH`? Security implications? Something else?

I'm asking as it directly impacts https://github.com/cri-o/cri-o/issues/4541 and the issue I've opened for containerd

[2021-03-08 12:51] saschagrunert commented on #4632
Do we? If I create a pseudo runtime:
[code]

And then start CRI-O:
[code]

[2021-03-08 12:58] fidencio commented on #4632
Yep, same here with `containerd-shim-kata-v2` binaries from different locations.  However, that test made me think that:
1. We enforced that in the past, **consciously** dropped the restriction, and we should also update the tests;
2. We enforced that in the past, **unconsciously** dropped the restriction, and we should update the code;
3. We never enforced that, and we should update the tests;

I

[2021-03-08 14:59] haircommander commented on #4632
I think this was a concious decision that doesn't have a test... yet :wink:

[2021-03-08 15:10] fidencio commented on #4632
If that's the case, I'll update the tests as part of https://github.com/cri-o/cri-o/issues/4541, when I get to work on that.
Meanwhile, I'll leave it to y'all to decide whether we can should leave this one open or if we should close it.

[2021-03-08 15:33] haircommander opened #4634 "runtime VM holds context"
which is not idiomatic: https://golang.org/pkg/context/ (it's possible we do it in other places)

we should remove the context internally, and rework the runtime API to be passed a context when it's needed

[2021-03-08 20:49] haircommander commented on #4515
fixed in https://github.com/cri-o/cri-o/pull/4529

[2021-03-08 20:49] #4515 closed

[2021-03-08 20:58] haircommander commented on #4437
This was (finally) fixed by  https://github.com/cri-o/cri-o/pull/4443  upstream. the related backports, in addition to new packaged versions, will fix them downstream

[2021-03-08 20:58] #4437 closed

[2021-03-08 22:27] #4593 closed

[2021-03-09 22:29] haircommander commented on #4616
failures have crept into main
https://github.com/cri-o/cri-o/pull/4641
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_integration_crun_fedora/14139/s3/

[2021-03-10 19:33] #4627 closed

[2021-03-11 10:44] saschagrunert opened #4648 "Kata Containers CI tests are failing"
Right now the kata containers CI fails with the following error message:
[code]
http://jenkins.katacontainers.io/job/kata-containers-crio-PR/16872/console

I'm opening this issue as a placeholder since I'm not sure if anyone is already looking at those.

[2021-03-11 11:19] fidencio commented on #4648
/area vm

[2021-03-11 11:20] fidencio commented on #4648
Today is a looong day, but I will talk try to sync with Salvador later Today / Tomorrow afternoon the worst case.

[2021-03-12 20:17] R37ribution opened #4653 "CentOS 8-Stream install: invalid conmon path: stat /usr/libexec/crio/conmon: no such file or directory"
Looks like a repeat of #3818 as the workaround described in https://github.com/cri-o/cri-o/issues/3818#issuecomment-650899132 `sudo ln -s $(which conmon) /usr/libexec/crio/conmon` resolved the issue and the cri-o.service started.

Please note that this was an RPM taken from RedHat's site and I'm sorry but I'm not sure if this is the right place for this issue. The version matched that which is in

[2021-03-12 20:24] haircommander commented on #4653
sorry, where exactly did you find it? the current approach to install to centos stream is from OBS (described in our [install docs](github.com/cri-o/cri-o/tree/master/install.md)

[2021-03-13 00:45] R37ribution commented on #4653
@haircommander, I pulled down `cri-o-1.20.1-2.rhaos4.7.git0c3216a.el8.x86_64.rpm` from the "Red Hat OpenShift Container Platform 4.7 for RHEL 8 x86_64" repository.

I will try the OBS repo Monday and report back.

I appreciate the quick response!

[2021-03-14 18:52] lazystone opened #4657 "cri-o 1.20.0 package replaced by 1.20.1"
**Description**

cri-o 1.20.0 package replaced by 1.20.1

See https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.20:/1.20.0/xUbuntu_20.04/amd64/

So there is no way to install 1.20.0

[2021-03-15 06:34] lazystone commented on #4657
Might be related to #4484

[2021-03-15 06:42] lazystone opened #4658 "cri-o 1.20.1 fails to run privileged pods: unknown capability "CAP_PERFMON""
[code]

[code]

And 1.20.0 release can't be installed anymore because it was removed from repository: #4657

Problem seems to be related to #4466

1.20.1 release has different gocapability than 1.20.0: https://github.com/cri-o/cri-o/blob/v1.20.1/go.mod#L54

But cri-o-runc package wasn't updated in the repos, still 1.0.0~rc92.3: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers

[2021-03-15 09:11] saschagrunert commented on #4658
Thank you for the issue report @lazystone, a fix is in flight in https://github.com/cri-o/cri-o/pull/4659

[2021-03-15 14:19] haircommander commented on #4657
oh darn.

note to self: branching a package makes a shallow copy :upside_down_face:

[2021-03-15 14:40] haircommander commented on #4657
updated, sorry for the difficulty

[2021-03-15 17:25] haircommander opened #4660 "use internal logging package where appropriate"
we have the package `internal/log` to execute hooks and give more debugging information when we log. specifically, it's useful because it tracks a unique ID for each request, and it makes tracking the lifecycle of logs easier

however, to do so, it requires us to pass the context everywhere. We haven't wired it all over the place, so many places use logrus instead of log.

with https://github.com/

[2021-03-16 06:40] lazystone commented on #4657
@haircommander it's back to repo now, thanks!

Also small side-question: on Ubuntu when I do `apt-get install cri-o cri-o-runc` it also always install `runc` package, which is a bit confusing, since it's much older version of runc. Is it intended or is there some misconfiguration in the package dependencies?

[2021-03-16 06:40] #4657 closed

[2021-03-16 10:11] #4634 closed

[2021-03-16 11:08] Sh4d1 commented on #4658
@saschagrunert can we expect a 1.20.2 soon? Or should I rather revert and wait? 😄

[2021-03-16 11:28] saschagrunert commented on #4658
Let's ask @haircommander about this :upside_down_face:

[2021-03-16 13:49] haircommander commented on #4657
@lazystone that seems unintended, thanks for the heads up I'll take a look

[2021-03-16 14:49] haircommander commented on #4658
yeah I can work on a 1.20.2

[2021-03-16 16:42] haircommander commented on #3965
I went for `internal/ctrfactory` and `internal/sboxfactory` though I am not married to that

[2021-03-16 20:07] haircommander commented on #4657
I updated it for 1.20.1, I'll do so for 1.20.2 when I release it

[2021-03-17 06:18] rathinikunj commented on #3768
I had an Openshift 4.5 cluster with 3 masters and 2 worker nodes. Pods were not coming up on one of the worker nodes with the same error when i describe the pod. After following the above steps and rebooting the node, pods come up like a charm.
**Summarizing the Steps followed**
-   Stop crio `systemctl stop crio`
-  Remove crio version file `rm /var/lib/crio/version`
-  `crio wipe`
-  Remove lib/

[2021-03-17 14:16] haircommander commented on #3768
glad that worked for you!

[2021-03-18 19:41] haircommander opened #4675 "refactor config/CLI handling"
right now, there are like 5 different places that need updating if we add a new config/cli field:
pkg/config/config.go to add it to the structure
pkg/config/template.go to add it to the man page template
internal/criocli/criocli.go to add the cli flag
docs/* and completions/* to add completions and documentation

Ideally, we could have just one (or maybe two) places we add a structure, and then we

[2021-03-18 19:47] haircommander commented on #4658
cri-o 1.20.2 will be packaged up tomorrow I believe also

[2021-03-18 19:49] haircommander commented on #4653
did OBS work for you @R37ribution ?

[2021-03-19 11:57] michalzxc opened #4676 "Sometimes can't get logs from cri-o"
**Description**

Sometimes can't get logs from cri-o, we use drone-ci what generates lot of pods with 8-10 containers inside, and sometimes (once per day, couple of days) some of them gets stuck - not output at all.
I checked all containers under this pod one after one, and logs were there:
[code]

until I noticed "the stucked one" in CI:
[code]

[code]

[code]
[code]

**Steps to reproduce the iss

[2021-03-19 12:24] michalzxc commented on #4676
[code]

[2021-03-19 15:20] haircommander commented on #4676
we can't return the logs of a container that was removed. you'd need some log aggregator to keep track of those

[2021-03-19 15:45] michalzxc commented on #4676
As I pasted before, logs from the same pod, but different container were available. So it couldn't be the case, could it?

[2021-03-19 16:13] haircommander commented on #4676
the containers have different lifecycles, and it's logs are part of that lifecycle. You should be able to look at the logs on disk directly (it's in a location specified by the kubelet), but cri-o won't return the logs because it considers the container to be gone

[2021-03-19 16:19] michalzxc commented on #4676
I go back when it happen again and will try to get more information.
Can you advice what information could be useful when I will see single that container doesn't show anything, 1 timer per hundreds of executions?

[2021-03-19 16:22] haircommander commented on #4676
crio logs (debug level if possible) is likely the most useful

[2021-03-19 16:23] michalzxc commented on #4676
Actually I have situation like that now
[code]
[code]

Describe shows it has running status:
[code]

[2021-03-19 16:25] michalzxc commented on #4676
But I dont see it in crictl ps (no drone-0yygw1oothby68lqpwqa there):
[code]

[2021-03-19 16:25] haircommander commented on #4676
try `crictl ps -a`

[2021-03-19 16:26] michalzxc commented on #4676
[code]

[2021-03-19 16:26] haircommander commented on #4676
`Exited` means we won't get the logs

[2021-03-19 16:27] michalzxc commented on #4676
Can I get anything useful at this point? Like why it is exited? (and why kubernetes is not aware of it and thinks it is running)

[2021-03-19 16:30] michalzxc commented on #4676
Enabled debug logs for next time

[2021-03-19 16:31] haircommander commented on #4676
you may be able to find the log file. I beleive kubelet puts them somewhere in `/var/log/containers`. you fould try grep/find 'ing in that directory for the logs before the container exited.

you can also enable journald logging in your crio.conf, and that will write the container logs to the journal, which could help you find the issue

[2021-03-19 16:34] michalzxc commented on #4676
Should Kubernetes be aware that it is not running any more when running descreibe command? Am I correct assuming that something is wrong because it was saying it is Running while there was no such container any more?

[2021-03-19 16:54] michalzxc commented on #4676
I have it now running crio with debug and journald

[2021-03-19 17:05] haircommander commented on #4676
no the pod running is separate from the container running. a pod can still be considered running if it hasn't been told to stop yet. if there are other containers in the pod that are running, then the whole pod is considered to be running

[2021-03-19 17:12] michalzxc commented on #4676
I mean in `kubectl describe pod` I see status for every container:
[code]
Like this one, this is other container, but back than (38 minutes ago) I saw "State:          Running" for container what was exited in `crictl ps -a`

https://github.com/cri-o/cri-o/issues/4676#issuecomment-802953428
https://github.com/cri-o/cri-o/issues/4676#issuecomment-802954925

[2021-03-19 19:09] fidencio commented on #4648
8 days later, but here we are.

We had a mix of two issues happening:
1. We had an non deterministic issue related to using devicemapper, which is not exactly supported on CRI-O.  I've dropped the devicemapper usage / requirements on Kata Containers side, when testing against CRI-O.
2. https://github.com/cri-o/cri-o/commit/c0f293ad505fb79a41f2f6e81782b6b043d9a975 changed how runtimes are passed, a

[2021-03-19 19:09] fidencio commented on #4648
http://jenkins.katacontainers.io/job/kata-containers-crio-PR/17047/console

And I'm closing this one as it's now solved.

[2021-03-19 19:09] fidencio commented on #4648
/close

[2021-03-19 19:09] #4648 closed

[2021-03-19 19:20] haircommander commented on #4648
thank you @fidencio !

[2021-03-19 21:46] R37ribution commented on #4653
@haircommander I tested both the CentOS 8-stream - which the latest version is v1.20.0 and CentOS 8 which has v1.20.1.

I'm curioius why two different RPMs for 8 and 8-Stream. I guess it kind of makes sense, but why is there no v1.20.1 for CentOS 8-Stream?

Either way, I didn't see the issue in either OBS versions. So I'll close the issue.

- CentOS 8-Stream - `v1.20.0`: https://download.opensuse.

[2021-03-19 21:46] #4653 closed

[2021-03-22 13:37] haircommander commented on #4653
I actually don't know why there are separate versions (cc @lsm5 ), but I'm glad you got it working!

[2021-03-22 13:46] lsm5 commented on #4653
@haircommander https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.20/cri-o ... looks like the stream build failed, so until that happens, it will continue to ship the last successful build. Does that help?

[2021-03-22 13:47] haircommander commented on #4653
oh lol I misread the question, I thought it was why two different packages (and thus didn't look at the failures). I'll TAL at that haha

[2021-03-22 17:03] R37ribution commented on #4653
Hey guys, thanks for the replies. @lsm5 @haircommander is there anything that can be done to get the new build v1.20.1 to complete for 8-Stream? I noticed that v1.20.2 is suppose to address a CAP_PERFMON issue that we're seeing #4658

[2021-03-22 17:29] haircommander commented on #4653
working on it :)

I'm not sure, 1.20.2 has hit some snags and is delayed a bit. I'll make sure it makes it in once released :)

[2021-03-22 19:45] haircommander commented on #4653
I may have figured it out!

[2021-03-23 09:50] #4621 closed

[2021-03-23 18:03] michalzxc commented on #4676
I found container what shows in describe that it failed, while crioctl shows "Completed" with exit code 0:
[code]

[code]

Below is full crio debug log:
https://drive.google.com/file/d/1FRP4FBnt92wkMObmSQb2fHZVzjGZW_qA/view

[2021-03-23 18:41] s1061123 opened #4685 "K8s Pod deletion does not cleanup crio pods and CNI resources"
**Description**
K8s Pod deletion does not cleanup crio pods and CNI resources

**Steps to reproduce the issue:**
1. Create Pod (e.g. kubectl create -f centos.yml)
2. Delete pod (e.g. kubectl delete -f centos.yml)

**Describe the results you received:**
1. `crictl pods` keeps deleted pods (`NotReady` state)

[code]

2. Error message is in crio log (journalctl -xe -u crio) as follows:

[code]

3. CN