[2021-03-24 02:15] #4589 closed

[2021-03-24 05:52] harche commented on #4466
/reopen

[2021-03-24 05:53] harche commented on #4466
We are hitting this issue again, all the crio `presubmit` and `periodic` prow jobs are failing with same error. https://prow.k8s.io/?job=*crio*

[2021-03-24 15:50] harche commented on #4466
After merging https://github.com/cri-o/cri-o/pull/4683 the prow jobs are passing again.

[2021-03-24 15:50] #4466 closed

[2021-03-24 16:56] abhishek-ramanujan commented on #1515
Since the author has abandoned the issue and the issue was closed without resolution, reviving the issue.

This is still an issue with cri-o version 1.19

[2021-03-24 17:03] haircommander opened #4688 "add CI job to CRI-O simulating upstream prow job"
after https://github.com/cri-o/cri-o/issues/4466 being closed and reopened, it occured to me we should gate changes in cri-o on how it will affect the upstream k8s prow job

this is a tracking issue to see if this makes sense.

@harche @saschagrunert wdyt

[2021-03-24 17:36] saschagrunert commented on #4688
Yes, this makes sense. See my first approach in #4687

[2021-03-25 17:24] mind-mind opened #4692 "Install problem"
I can't install CRI-O on Debian 10. I follow this https://cri-o.io

it doesn't work.

[2021-03-25 18:43] haircommander commented on #4692
what version of cri-o and for what arch?

[2021-03-25 18:45] haircommander commented on #4685
what's the pod yaml you used?

[2021-03-25 18:59] mind-mind commented on #4692
What do you mean by arch?

I use this command

cat <<EOF | sudo tee /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list
deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_Unstable/ /
EOF

cat <<EOF | sudo tee /etc/apt/sources.list.d/devel:kubic:libcontainers:stable:1.20:1.20.0.list
deb https://download.opensuse.org/repositories/devel:/kubic:/libcont

[2021-03-25 19:14] s1061123 commented on #4685
Here is the pod yaml file.

[code]

and here is the cni conf (in /etc/cni/net.d/)

[code]

[2021-03-25 19:25] haircommander commented on #4692
what is the actual error?

[2021-03-25 19:32] mind-mind commented on #4692
I follow the step add repository.

First, it wasn’t found the repository.

Second, when add key -, I got ok, but when I use sudo apt install cri-o.

 It was still unknown.

[2021-03-25 19:33] haircommander commented on #4692
Are you able to paste the output?

[2021-03-25 19:42] mind-mind commented on #4692
Sorry, I did in front of my mac, I turn on it now.
After I use the command as I explain above here is the output.

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package cri-o

[2021-03-25 19:42] mind-mind commented on #4692
it seemed like the repository doesn't work.

[2021-03-25 19:45] haircommander commented on #4692
that's really weird. I spun up a debian 10 container, and did run into issues, but not that issue...

are you able to install 1.19?

[2021-03-25 20:17] mind-mind commented on #4692
Umm, could you please give me a repository?

For example,

curl -L https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable:cri-o:$VERSION/$OS/Release.key | apt-key add -
curl -L https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/$OS/Release.key | apt-key add -

Since I'm not sure should I replease some value on $OS or $VERSION.

As I follow this http

[2021-03-26 07:16] mind-mind commented on #4692
Dear @haircommander

I follow this https://insujang.github.io/2019-11-21/installing-kubernetes-and-crio-in-debian/

It was work, but it would be better if there are any updates about the version from this source is 1.15.

As I thought, seems like the repository is wrong.
I will close this.

[2021-03-26 09:23] michalzxc commented on #4676
I am closing this one and opening new one in replacement of it "Different container state between kubernetes and crioctl"

[2021-03-26 09:23] #4676 closed

[2021-03-26 09:32] michalzxc opened #4693 "Different container state between kubernetes and crictl"
I am opening this one in replacement of #4676 what wasn't accurate

**Description**
I found container what shows in kubectl describe that it is Running, while crioctl shows "Completed" with exit code 0:
[code]

[code]

In kubectl describe I am not showing pod status, but status of particulat container inside a pod

It doesn't happen all the time, but in 24h I can find couple of them, on our CI/CD

[2021-03-26 13:44] haircommander commented on #4692
we don't support that PPA anymore, the only supported source is OBS, I'm afraid. I am sorry for the delay and the issues

[2021-03-26 14:13] mind-mind commented on #4692
Well, I can install and it works for some reason.

But about OBS on k8s document and https://cri-o.io today
both don't work even use another OS. I use ubuntu once, but it cannot found any repository.

Could you please give some source to searching or something?
I'd very much appreciate that. Thank you.

[2021-03-26 14:14] haircommander commented on #4692
I wonder if there's a dns issue. to verify, have you tried these instructions *exactly* https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems ?

[2021-03-26 14:16] mind-mind commented on #4692
I think I did, but I'll try again.

[2021-03-26 14:49] mind-mind commented on #4692
<img width="1286" alt="Screen Shot 2021-03-26 at 9 47 46 PM" src="https://user-images.githubusercontent.com/68138683/112649460-0b812000-8e7d-11eb-88c5-51303fc455f1.png">

As you can see, I think there is a problem with the repository or I key something wrong?

[2021-03-26 14:50] mind-mind commented on #4692
<img width="1286" alt="Screen Shot 2021-03-26 at 9 47 46 PM" src="https://user-images.githubusercontent.com/68138683/112649697-3bc8be80-8e7d-11eb-9134-0b9ec15d0794.png">

[2021-03-26 14:58] haircommander commented on #4692
can you try running `apt-get install ca-certificates`

[2021-03-26 14:58] haircommander commented on #4692
ref: https://stackoverflow.com/questions/21338721/gpg-no-valid-openpgp-data-found

alternatively, can you do the curl command without apt-key?

[2021-03-26 14:58] haircommander commented on #4692
also, sanity check, you have `gnupg` installed right?

[2021-03-26 15:01] mind-mind commented on #4692
Yeah, because

<img width="1113" alt="Screen Shot 2021-03-26 at 9 56 13 PM" src="https://user-images.githubusercontent.com/68138683/112651118-aaf2e280-8e7e-11eb-96d1-12ff27931f05.png">

version 1.17 seems fine and apt-key is ok, but anyway it was not found

<img width="1182" alt="Screen Shot 2021-03-26 at 9 56 38 PM" src="https://user-images.githubusercontent.com/68138683/112651201-c100a300-8e7e-1

[2021-03-26 15:02] haircommander commented on #4692
okay I also ran into that issue, so now we're in the same place. This is a legitimate issue with the package. In the meantime, you could follow the instructions to allow the insecure sources, or give me some  time to figure out why the package is weird

[2021-03-26 15:03] haircommander commented on #4692
fwiw, I believe `1.19` does not have this issue (not to be confused with `1.19:1.19.0`

[2021-03-26 15:06] mind-mind commented on #4692
about 1.19, I have problem with that.

<img width="1180" alt="Screen Shot 2021-03-26 at 10 05 15 PM" src="https://user-images.githubusercontent.com/68138683/112651959-7cc1d280-8e7f-11eb-861d-25d944d09e9b.png">

[2021-03-26 15:11] mind-mind commented on #4692
<img width="1180" alt="Screen Shot 2021-03-26 at 10 10 01 PM" src="https://user-images.githubusercontent.com/68138683/112652556-1be6ca00-8e80-11eb-820a-d42bb9f1d7cb.png">

1.19:1.19.1 look ok, but

<img width="1245" alt="image" src="https://user-images.githubusercontent.com/68138683/112652585-23a66e80-8e80-11eb-8698-474c8f6a5f43.png">

The same problem with 1.17

[2021-03-26 15:16] haircommander commented on #4692
weird. are you able to download `1.19.1`?

[2021-03-26 15:18] mind-mind commented on #4692
No, it was as you can see in the picture above.

apt-key fine with 1.19.1, but not found cri-o.
It is the same as the issue with 1.17

[2021-03-26 17:56] mind-mind commented on #4692
While waiting for you to get back, I tried with crio 1.15, but it can not starts the pod.

Installed by PPA

Use k8s init and join with another was fine, but when trying to start pod,

got error like

Failed to create pod sandbox: rpc error: code = Unknown desc = container create failed

Seem likes it cannot connect with flannel even though I already install flannel.
So, the pod doesn't ready caus

[2021-03-26 20:56] s1061123 commented on #4685
Found the root cause in ocicni and file a PR for that, https://github.com/cri-o/ocicni/pull/86

[2021-03-27 08:26] mind-mind commented on #4692
<img width="1242" alt="image" src="https://user-images.githubusercontent.com/68138683/112715069-be4e8e00-8f10-11eb-9bcc-08beb5bf2ae3.png">

#4183

I found the reason now. It may not update I guess.

[2021-03-29 04:25] mind-mind commented on #4692
Hi @haircommander

I just come to tell you that. I indicated the problem. Your repository is the problem. I tried to use another OS with multiple versions. There are no repository works.

I need you to do something with your repository.
I need to use CRIO. Also, I tried to clone Github to install in a source, but there is an error about go as well.

[2021-03-29 08:41] saschagrunert commented on #4693
Hey @michalzxc, thank you for the report. The mentioned difference in the outputs seems to be related to diverging code paths being executed by the kubelet and crictl. One question:

If you run `crictl inspect` on the container first, is then the kubelet able to report the correct state?

Unfortunately I'm not able to reproduce the issue locally right now. Would you be able to deploy a custom buil

[2021-03-29 09:15] michalzxc commented on #4693
Hi,
Yes, absolutely I can try custom build :)

I didn't check explicitly, but I suspect it didn't. I noticed the problem while debuging some drone-ci jobs getting stuck. They were stuck. because kubernetes is reporting them as "Running" indefinitely. Every step is in a container, and step what takes usually 8s, suddenly is Running for example for 30minutes. So I firstly checked kubectl describe, a

[2021-03-29 09:59] saschagrunert commented on #4693
Awesome, can you give this PR a try: https://github.com/cri-o/cri-o/pull/4695
If you want, then just download the static binary for  x86-64 directly from the CI run: https://github.com/cri-o/cri-o/suites/2367396161/artifacts/50156093

I don't think that this is related, but I might be wrong and double check.

[2021-03-29 14:10] haircommander commented on #4692
yeah sorry I'll try to take a look today

[2021-03-29 14:26] mind-mind commented on #4692
Don't be. Just I'd appreciate you doing that.

[2021-03-29 14:48] michalzxc commented on #4693
With this one kube-proxy started failing with:
[code]

I was running crio in version 1.18.4 before, following Readme saying that for kubernetes 1.18 I should run 1.18 version of crio?

The binary you sent is 1.21.0-dev, should I just ignore difference and remove CAP_PERFMON from kube-proxy?

[2021-03-29 14:54] saschagrunert commented on #4693
Can you please upgrade runc to rc 93? The binary is available in the bundle, too:
https://github.com/cri-o/cri-o/suites/2367396161/artifacts/50156095

[2021-03-29 15:27] michalzxc commented on #4693
Thank you, yes it started with it.

I will let you know if I will see status issue again with this fix present

[2021-03-29 15:28] saschagrunert commented on #4693
Awesome, thank you so much! :pray:

[2021-03-29 18:16] michalzxc commented on #4693
I just saw it to happen again:

kubectl describe
[code]

[code]

[code]

I run kubectl describe again after inspect command, but it did not refresh the state

New journal log:
https://drive.google.com/file/d/1DEtY02IBYsoRwO1oUcP94vIeuqpTDhO3/view (tar.bz2)

[2021-03-29 18:20] michalzxc commented on #4693
I notice that this time I can see this placeholder image I told you about in Image ID :

[code]

[2021-03-30 07:27] saschagrunert commented on #4693
This one might be a red herring, because the container ID:

from kubectl describe does not match the ID from the crictl output:

Can you ensure that the container `7708bc69de8506faa54ca0a592a6ce205d5f6a313b67865ed8fadc0be3dbe278` is running? I think due to the rescheduling/image name change effect there will be one container exited in any case.

[2021-03-30 07:37] michalzxc commented on #4693
I see, different ID, will check it if/when I will see it again. Drone-CI pipeline what is producing these pods has internal 60minutes timeout, so these are already gone

[2021-03-31 07:10] mind-mind commented on #4692
Hi, I found the way to install from source GitHub, but I got this error.

build github.com/cri-o/cri-o/cmd/crio: cannot find module for path archive/tar

Actually, I success to install once, but when start cri-o there is an error, so I re-install again and got this error

[2021-03-31 07:51] mind-mind commented on #4692
Well, I fixed everthing. Thanks anyway.

[2021-03-31 13:26] michalzxc commented on #4693
It took some time, but got it again:

[code]
[code]

Different ID again, looking for ID:

[code]
not found

[code]

Pipeline timeouted around 14:22

journald logs:
https://drive.google.com/file/d/1Wj9ATpzLiXnJfUE_KdUNR3sDLzTbFlwo/view?usp=sharing

[2021-03-31 13:50] haircommander commented on #4692
thanks for reporting the issue and figuring it out. I will leave this open to address the debian issues

[2021-03-31 15:44] michalzxc commented on #4693
I did some extra checks how it usually works:

[code]

when step in drone-ci pipeline didn't startet, and it is waiting both image and image ID are set to:|
[code]

But when image changes, but imageID stays set to placeholder, that means it got stuck

[2021-04-01 04:05] sprior opened #4713 "No CRI-O for Ubuntu 20.10?"
I was unable to install CRI-O 1.20 on Ubuntu 2-10, I get unable to locate package after adding repo:
deb http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.10/ /

[2021-04-01 09:54] saschagrunert commented on #4693
Thank you for the input, @michalzxc!

An analysis from the logs about container `5677c0b966ab3f25ec7873732d1033c44b2cd85eca9c39d2c396ec3646c357bc`:
- **Mar 31 13:24:20**: Container creation successful, container is up and running
- **Mar 31 13:34:26**: CRI-O receives a `StopContainerRequest`, container exited with code `2`. From that point on, CRI-O reporits the correct status `CONTAINER_EXITED` t

[2021-04-01 15:47] michalzxc commented on #4693
"The kubelet should not list the container as running between 13:34 and 14:21, but this seems the case here, right?"
Yes

Do you see anything about 50be76f541ecac94a77fc3b02ee932fe0f81a728981df88740b91879c2ea4af7 in logs?
kubectl and crio were reporting 5677c0b966ab3f25ec7873732d1033c44b2cd85eca9c39d2c396ec3646c357bc for this pod, but somehow 50be76f541ecac94a77fc3b02ee932fe0f81a728981df88740b9187

[2021-04-01 17:30] haircommander commented on #4713
I found the issue with 1.20: https://github.com/cri-o/cri-o/pull/4716
what version of cri-o would you like to install? I can attempt to enable it for 1.19 or 1.18 in the meantime

[2021-04-01 18:06] nerditup opened #4717 "Download Links for Release `v1.20.2` are Unavailable"
**Description**

The download links for tagged release `v1.20.2` do not contain any artifacts, (e.g. The specified key does not exist.). Additionally, there are no `arm64` bundles available on the GitHub release page for `v1.20.2`.

**Steps to reproduce the issue:**
1. Go to the Releases page on GitHub.
2. Click on the downloads links: ( https://storage.googleapis.com/k8s-conform-cri-o/artifacts/c

[2021-04-01 18:30] sprior commented on #4713
I'm doing an initial test install of a cluster and my kubectl and kubeadm versions are at 1.20.5 - do I need to stick with cri-o .1.20 or can I use 1.19 or 1.18?  I'm also willing to blow away the VMs and start from scratch, so the choice is whether I stick with 1.20 and Ubuntu 20.04, or stick with  20.10 and use a slightly backlevel cri-o (if possible).  Any recommendations?

[2021-04-01 18:32] haircommander commented on #4713
for now I would recommend ubuntu 20.04 and cri-o 1.20.2 :)

[2021-04-01 18:34] sprior commented on #4713
Ok, I can do that.  Should I leave this issue open so I can see when it's available for 20.10?  Are there other big reasons why k8s isn't ready for 20.10?

[2021-04-01 18:37] haircommander commented on #4713
no it's a cri-o specific packaging issue, which is my responsibility to fix. we can leave this :)

[2021-04-01 18:39] sprior commented on #4713
Thanks again, at least I know what to do for now.

[2021-04-01 18:45] haircommander commented on #4713
happy to help, thanks for trying out CRI-O!

[2021-04-01 22:45] caseydavenport opened #4719 "cleanupFuncs are not retried on failure, leading to resource leaks"
**Description**

I believe this is a bug in the resource cleanup logic found here: https://github.com/cri-o/cri-o/blob/0e6266bc8b26e7f8c1b85df3af7af1dcb50ce813/internal/resourcestore/resourcestore.go#L91-L93

I found this while investigating an issue where CNI resources (specifically, IP addresses) were being leaked on a cluster using CRI-O.

In my logs, I can clearly see that the affected sandbox

[2021-04-01 22:48] caseydavenport commented on #4719
@haircommander it looks like you designed this system originally here: https://github.com/cri-o/cri-o/pull/4394

Would appreciate your insight here - I'm not sure if I am missing some other mechanism by which this GC is meant to be retried.

[2021-04-02 01:57] sprior commented on #4713
Ok, switched to Ubuntu 20.04, following the instructions here: [https://computingforgeeks.com/deploy-kubernetes-cluster-on-ubuntu-with-kubeadm/]

Using the following apt source:
deb http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/ /

And no cri-o package found:
 apt-cache search cri-
ruby-cri-doc - library for building easy-to-use commandline tools - doc

[2021-04-02 02:11] #4688 closed

[2021-04-02 02:25] sprior commented on #4713
Looks like the instructions at https://computingforgeeks.com/deploy-kubernetes-cluster-on-ubuntu-with-kubeadm are obsolete, I found the install doc at https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems and was able to get it.

[2021-04-02 18:35] avoidik commented on #4574
on the other hand, you can of course keep it for some nameless poor soul to learn about how to troubleshoot low level storage issues between CRI and Kubernetes API :)

[2021-04-02 18:42] sprior commented on #4713
When I tried to run kubeadm init it failed seemingly because it could not automatically detect cri-o as the container runtime.  I found the instructions at https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-control-plane-node which says I should set cgroupDriver, but I was unable to find a command line option to set thi

[2021-04-02 19:44] sprior commented on #4713
Wow, I found https://github.com/cri-o/cri-o/blob/master/tutorials/kubeadm.md and was able to create a config file which has nodeRegistration.criSocket and cgroupDriver: systemd set, so then I tried my kubeadm init command with the --config at the end, but now I'm getting an error:
can not mix '--config' with arguments [control-plane-endpoint pod-network-cidr]
But it is not at all obvious (or appar

[2021-04-04 06:53] mind-mind opened #4720 "Cannot start pod"
Hi,

After I create K8s using CRI-O, I can join the worker node with the master node.

But when I tried to start the pod, I got this error

Events:
  Type     Reason                  Age   From               Message
  ----     ------                  ----  ----               -------
  Normal   Scheduled               9s    default-scheduler  Successfully assigned default/rnn to w1
  Warning  Faile

[2021-04-05 10:52] mind-mind commented on #4720
I think cni0 doesn't create in the master node, but I'm sure how to fix it.

[2021-04-05 14:09] haircommander commented on #4719
Awesome analysis, you're definitely correct that we're at risk of leaking.

An issue that we need to figure out is: how many times is a failure allowed? for instance, if the cni plugin  call fails once, can we be guaranteed that it will *ever* succeed? I don't think so, so we may want to cap the number of times a function is called, or make this an error condition that can be traced.

I will put s

[2021-04-05 14:44] haircommander commented on #4713
oh goodness, sorry you've been chasing around looking for the solutions.

Yes, our kubeadm tutorial is supposed to be the place to learn how to run cri-o with kubeadm. I see it's now out of date... Can you try the startup script:
[code]

with CIDR set to your pod network cidr? I don't know about control-plane-endpoint, and I'm not actually sure podSubnet==pod-network-cidr, but I am hopeful

[2021-04-05 14:46] haircommander commented on #4574
it's all a learning experience :smile:

[2021-04-05 14:46] haircommander commented on #4720
what version of runc are you using? it seems out of date

[2021-04-05 15:18] mind-mind commented on #4720
runc version 1.0.0~rc6+dfsg1
commit: 1.0.0~rc6+dfsg1-3
spec: 1.0.1

[2021-04-05 15:29] haircommander commented on #4720
are you able to build/install runc 1.0.0-rc93?

[2021-04-05 15:29] haircommander commented on #4720
there's, big surprise, something wrong with the cri-o-runc package that I would normally recommend you install (issue with libseccomp)

[2021-04-05 15:38] mind-mind commented on #4720
I did install libseccomp. How to install runc 1.0.0-rc93?

[2021-04-05 15:38] haircommander commented on #4720
okay I figured out how to install cri-o-runc:
[code]

[2021-04-05 15:38] haircommander commented on #4720
(you need a newer version of libseccomp than are in buster's main repos, so you need to enable buster-backports)

[2021-04-05 15:55] mind-mind commented on #4720
Okay. For now, I did install cri-o-runc, but when I see the version of runc, it is still the same version.

[2021-04-05 16:05] mind-mind commented on #4720
Also, I still cannot start the pod.

<img width="1172" alt="image" src="https://user-images.githubusercontent.com/68138683/113595594-6677fb80-9663-11eb-873f-9bde215ca245.png">

Or maybe should I disable IPV6 or something?

[2021-04-05 16:37] mind-mind commented on #4720
Okay, I think I can fix the version of runc. it is 1.0.0-rc93 now.

[2021-04-05 17:36] sprior commented on #4713
I'm new at this, but when running kubeadm init I had set --pod-network-cidr=192.168.2.0/16 which is an available but unused network I thought would be used for the "internal" network between pods, but I could be totally wrong about that.  I also set --control-plane-endpoint=k8s-cluster.geekster.com  which is a CNAME for the address of the master node in the cluster.  I thought both of these parame

[2021-04-05 17:39] haircommander commented on #4713
I believe the pod-network-cidr is strictly related to the CNI plugin you're using. I don't truly understand what it does. I also am not familiar enough with kubeadm to know what to do about control-plane-endpoint, I'm afraid.

[2021-04-05 19:02] caseydavenport commented on #4719
@haircommander yeah, I agree it probably doesn't make sense to try forever. Although I'm not sure what the right criteria / timeout should be. I'll think some more as well.

I think I might have had another realization for my particular case which exacerbates this issue. Specifically, the error I am seeing in the GC is this:

At first I thought it must be a problem in multus, since no error messag

[2021-04-05 19:17] caseydavenport commented on #4719
One other thing I spotted.

This code runs the cleanup functions in reverse order: https://github.com/cri-o/cri-o/blob/0e6266bc8b26e7f8c1b85df3af7af1dcb50ce813/server/sandbox_run_linux.go#L317-L319

Which, I think is appropriate.

The GC doesn't seem to do that:

https://github.com/cri-o/cri-o/blob/0e6266bc8b26e7f8c1b85df3af7af1dcb50ce813/internal/resourcestore/resourcestore.go#L91

I don't think

[2021-04-05 19:18] haircommander commented on #4719
:facepalm: and that will be the case literally everytime this function is evoked, because it initially got there because of a cancelled context (and it's been at least four minutes after *that*)

Are you able to build a cri-o binary from scratch? I'm wondering if you can get more insight with something like this patch applied:
[code]

I've left the original context there for now, but I'm not convi

[2021-04-05 19:20] caseydavenport commented on #4719
I'm able to build it from scratch, but not yet sure if I can get my build installed on the cluster that I am encountering this on. I'll see what I can do.

[2021-04-05 19:22] haircommander commented on #4719
I agree I don't think it's relevant, but I definitely think that's a bug in general. the cleanup funcs are generally independent of each other ,but I think keeping the order will help keeping operations atomic (we use name reservation to keep the resources not created simultaneously, removing the name first could cause weird situations)

I really appreciate the feedback, this is awesome!

[2021-04-05 20:01] haircommander commented on #4719
first piece to address the ordering issue:

https://github.com/cri-o/cri-o/pull/4722

this will also allow us to enhance ResourceCleaner to be smarter if we need to

[2021-04-06 07:27] saschagrunert commented on #4717
Hey @nerditup, thank you for the report. We did not backport the new static binary bundle naming to the release-1.20 branch yet.

[2021-04-07 00:26] caseydavenport opened #4727 "CNI DEL not called on node reboot"
**Description**

I'm seeing a behavior where, upon rebooting an OpenShift node using CRI-O, the CNI plugin does not appear to be called to tear down resources for the previously running pods on that node.

Basically, I am making note of the running pod sandbox IDs, rebooting the node with `sudo reboot now` (without draining the pods, effectively simulating a failure scenario) and letting the node

[2021-04-07 00:27] caseydavenport commented on #4727
@haircommander this was another behavior I spotted while investigating https://github.com/cri-o/cri-o/issues/4719

I haven't looked into the root cause yet, though.

[2021-04-07 07:51] mind-mind commented on #4692
I think I know about this problem a little bit. Actually, Debian10 doesn't support many repository, but I don't know why either.

[2021-04-07 10:37] nerditup commented on #4717
@saschagrunert are we able to fix the download links for `v1.20.2` since PR #4718 has been merged?

[2021-04-07 10:57] saschagrunert commented on #4717
We have to cut a new release `v1.20.3` but let me fix the cri-tools issue first. :upside_down_face:

[2021-04-07 13:49] haircommander commented on #4727
Ah see this is difficult though. When we reboot a node, the CNI pod is terminated. Here's a reboot flow:
`crio wipe` is called, which wipes all stale containers (to allow resources like held ports to be released, which allows the kube-apiserver to start after a non-graceful shutdown)
CNI pod is deleted with crio wipe
[the server](https://github.com/cri-o/cri-o/blob/master/server/server.go#L247) do

[2021-04-07 15:46] caseydavenport commented on #4727
I think I'd need to look into `crio wipe` a bit more, I'm not familiar with it. I sort of would have expected that whatever wipes the stale containers would also call `networkStop` in order to free resources.

Not all CNI plugins have an associated pod that is required to be running in order to do a tearDown, but yeah for those that do we'd probably need a way to make sure the `networkStop` calls

[2021-04-07 16:14] caseydavenport commented on #4727
Obviously this might not be relevant, but here's similar discussion from a long time ago regarding Kubernetes' "dockershim" implementation, which has since been fixed: https://github.com/kubernetes/kubernetes/issues/14940

[2021-04-07 16:25] haircommander commented on #4727
What does the CNI plugin need to cleanup the resources? I see we create an object:
[code]
which is passed into our ocicni helper TearDownPodWithContext, which eventually calls the CNI del.

We could pretty easily save the sandbox state (I believe we have most of those fields already recoverable), but if the node rebooted, the netns will have been cleaned up (it lives in /var/run/ right now). If th

[2021-04-07 16:28] caseydavenport commented on #4727
Yep, the CNI plugin can still cleanup other resources not tied to the netns.

This is a relevant comment from the issue I linked above:

Basically, you can call DEL on a CNI plugin as many times as you like, even if most or all of its resources have already been cleaned up. The CNI plugin shouldn't care if the resources it's being asked to clean up are already gone.

Calico, for example, will just

[2021-04-07 16:29] caseydavenport commented on #4727
Here's the CNI SPEC's wording: https://github.com/containernetworking/cni/blob/master/SPEC.md#del-remove-container-from-network-or-un-apply-modifications

[2021-04-07 16:41] haircommander commented on #4727
Okay, this will require a fairly substancial rework, but it's definitely worth it to not leak state.
CRI-O's server already has the ability to restore pods and containers, I think we should best-effort attempt to restore them, and delete them if we detect the node rebooted, rather than just remove the storage and ignore all other content.

[2021-04-07 17:43] Jonnymcc commented on #4693
Hi, just wanted to mention that we are seeing this same exact issue. Although not using CRI-O, we are using AWS EKS.
**Summary:** step should take a few seconds, runs indefinitely, `kubectl describe` shows the container restarted and is still running, `kubectl logs` shows normal log output for the step and that it should have finished, `kubectl exec` doesn't work because the container could not be

[2021-04-07 19:41] haircommander commented on #4727
for posterity, I'll define three places where we potentially leak CNI resources, and eventually (hopefully) link PRs to fixing those spots:
- [ ] crio wipe no forced reboot
- [ ] crio wipe forced reboot
- [ ] resource store cleaning stale resources
- [ ] server unsuccessful restore of pod
- [ ] server successful restore of a pod?

[2021-04-07 19:42] haircommander commented on #4720
are we good to close this @mind-mind ?

[2021-04-07 22:17] mind-mind commented on #4720
Actually, I didn’t succeed in this yet, but we can close until I have more questions then.

[2021-04-07 22:17] #4720 closed

[2021-04-08 15:35] sallyom opened #4734 "Add tracing and integrate with OpenTelemetry collector"
**Description**

This issue will track the work of adding OpenTelemetry tracing to CRI-O as well as the ability to export tracing data to a back-end of choice through a vendor-agnostic OpenTelemetry Collector.

The goal is to more easily detect and diagnose problems as well as improve performance of CRI-O. Tracing tracks and observes service requests as they flow through a system by collecting dat

[2021-04-08 18:45] dashpole commented on #4734
Ideally, you would just use [GRPC server integrations](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation/google.golang.org/grpc/otelgrpc), rather than instrument specific methods.

[2021-04-09 01:44] #4660 closed

[2021-04-12 13:27] #4506 closed

[2021-04-13 14:31] aniecki opened #4752 "crio.conf file empty"
**Description**
Installing the compiled cri-o program sets an empty config file.

**Steps to reproduce the issue:**
1. git clone https://github.com/cri-o/cri-o
2. cd cri-o
3. make
4. sudo make install
5. sudo make install.config

**Describe the results you received:**
ls -l /etc/crio/crio.conf
-rw-r--r-- 1 root root 0 Apr 13 15:57 /etc/crio/crio.conf

**Describe the results you expected:**
sudo ma

[2021-04-13 15:03] haircommander commented on #4752
yes this is working as expected. we are deprecating the main crio.conf file, and instead moving towards drop-in files with logical defaults baked into the cri-o binary. You can run `crio config --default` to see all the fields, or use env vars or cli flags to only configure non-default config fields.

I think the install.config make target should probably be deprecated too.

Does all of this work

[2021-04-13 15:27] aniecki commented on #4752
Well, as I am new to the system, bit difficult to tell. But at least there is a lead...
Spend really a day trying to figure our what went wrong... and yes, nothing wrong...

[2021-04-13 15:27] #4752 closed

[2021-04-13 15:49] haircommander commented on #4752
sorry about that!

[2021-04-13 20:27] steled commented on #4277
Hi,
would be great to have a release for arm64.
A working release can be found here: https://downloads.raspberrypi.org/raspios_lite_arm64/images/

[2021-04-14 05:44] HubbeKing opened #4756 "No v1.21.0 apt packages available"
No packages for the v1.21.0 release are available in the apt repositories.
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/

[2021-04-14 07:28] saschagrunert commented on #4277
FWIW the static binary bundle has arm64 bit support: https://github.com/cri-o/cri-o#installing-cri-o

[2021-04-14 16:41] steled commented on #4277
Hi Sascha,

thank you for the hint.
Yes this helps for the beginning but it would be great to have an OS package.

If someone for testing is needed just let me know :-)

[2021-04-14 19:10] haircommander commented on #4756
built now!

[2021-04-15 03:50] mrunalp commented on #4727
cc: @saschagrunert

[2021-04-15 16:46] HubbeKing commented on #4756
Still missing the arm64 packages for xUbuntu_20.10... but I imagine the arm64 packages for xUbuntu_20.04 will likely work just fine?

[2021-04-15 17:04] haircommander commented on #4756
just needed to flip a switch, should be available now

[2021-04-15 17:05] haircommander commented on #4756
soon*

[2021-04-15 17:13] wangkuan opened #4765 "cri-o cannot use "privileged: true" when using kata-containers"
**Description**

cri-o cannot use "privileged: true" when using kata-containers

**Steps to reproduce the issue:**
1. kubectl apply -f ubuntu.yaml

**Describe the results you received:**

Events:
  Type     Reason     Age                From               Message
  ----     ------     ----               ----               -------
  Normal   Scheduled  27s                default-scheduler  Successf

[2021-04-15 17:46] haircommander commented on #4765
@fidencio @fgiudici PTAL

[2021-04-15 18:14] haircommander commented on #4756
alright, they're available now :)

[2021-04-15 18:15] fidencio commented on #4765
Added to my TODO list, I'll check this Tomorrow / Monday at the worst case.

[2021-04-15 18:16] HubbeKing commented on #4756
Thanks! Gonna close this out then, since the packages exist now :)

[2021-04-15 18:16] #4756 closed

[2021-04-15 20:11] haircommander commented on #4727
case 1 is solved here https://github.com/cri-o/cri-o/pull/4763

[2021-04-15 20:13] haircommander commented on #4727
As another note: we may have trouble covering case 2 in a safe way (force reboot)

We currently clear the container and image directories completely if crio detects that the node didn't shut down gracefully. Specifically, it attempts to sync changes to disk. This is needed to prevent storage corruptions

As a result, we don't know about the containers that existed before the forced reboot, and can

[2021-04-16 07:37] rhrazdil opened #4768 "1.21 stable libcontainers repo for centOS_8_Stream fails to build"
cri-o 1.21 stable is missing repository for CentOS_8_Stream:
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/
(As opposed to 1.20 https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.20/)

IN OBS cri-o package for CentOS_8_Stream shows as unresolvable, apparently because [go-md2man failed to build](https://build.opensu

[2021-04-16 10:46] giuseppe commented on #4727
@haircommander could we also wipe out `/var/lib/cni` ?

[2021-04-16 10:54] saschagrunert commented on #4727
The sandbox network cleanup will remove related resources. Other container runtimes may have active networks in there.

I thought about using the CNI result (pod annotation) to cleanup the networks and results in `/var/lib/cni` if there are still stale resources left after a network removal. But I was not able to reproduce such an error path at all.

[2021-04-16 14:35] StrikerExtreem commented on #4658
I updated on my raspberrypi from 1.20.2 to 1.21.0. And the CAP_PERFMON has returned.
I also found that the /etc/crio/crio.conf file is empty, which it wasn't on 1.20.2.

[2021-04-16 15:13] haircommander commented on #4768
I believe I've fixed it

[2021-04-16 21:18] haircommander commented on #4727
alright https://github.com/cri-o/cri-o/pull/4767 is now covering cases 1, 3 and 5. unsure if we'll support 2, and I am not convinced 4 represents any meaningful number of cases

[2021-04-16 21:39] haircommander commented on #4658
darn :( we will revert the issue for 1.21.1

the config file being empty is expected, though we intend on changing it

[2021-04-16 21:44] haircommander opened #4770 "1.21.0 installed config is empty"
This was intentional, but it is not optimal.

For 1.21.0, we changed the `crio config` command to *only* print fields that are different than the default. This allows config migration to be easier, and config changes as well.

However, now running `make install.config` (which all packaged solutions do, as well as our recommendation for installation from source) installs an empty file--it's all the

[2021-04-17 06:47] aniecki opened #4771 "critest will not pass test with default cni"
run the command critest with default network cni, yet error (no pass)

sudo /usr/local/bin/critest
**Description**
• Failure [65.596 seconds]
[k8s.io] Networking
/home/sascha/go/src/github.com/kubernetes-sigs/cri-tools/pkg/framework/framework.go:72
  runtime should support networking
  /home/sascha/go/src/github.com/kubernetes-sigs/cri-tools/pkg/validate/networking.go:44
    runtime should support

[2021-04-17 10:02] fidencio commented on #4770
kata-containers CI (from our repo) is failing and may pretty much be related to this one.
It happens the really sub-optimal way come configurations are changed on the kata-containers side is by `sed ...` the default value (now, not found anymore).

I'll open an issue on kata-containers side and link it here on Monday.

[2021-04-17 16:31] Rizary commented on #3791
I got the same error, here is my output on `sudo systemctl status crio`
<details>
<summary> output of `sudo systemctl status crio` </summary>
[code]
</details>

[2021-04-18 18:52] aniecki opened #4773 "overlayfs: unrecognized mount option "volatile" or missing value"
**Description**
Every time I restart crio (sudo systemctl restart crio), it logs the error info in dmesg

overlayfs: unrecognized mount option "volatile" or missing value

**Steps to reproduce the issue:**
1.sudo systemctl daemon-reload
2.sudo systemctl restart crio
3.

**Describe the results you received:**
error overlayfs in dmesg

**Describe the results you expected:**
no error in dmesg

**Addi

[2021-04-19 06:16] rhrazdil commented on #4768
Hello @haircommander, thank you for your quick response.
Unfortunately, I'm still seeing the error. The last build attempt is from Sat Apr 17 01:44:22, which, as far as I can tell, should be after you pushed your update. Would you mind please taking another look?

[2021-04-19 07:44] saschagrunert commented on #4770
Yep, printing the defaults commented-out should be a good solution around it. The static binary bundles are affected by that change, too.

/help

[2021-04-19 14:32] DavidHaltinner opened #4777 "panic: runtime error: index out of range"
**Description**
I have had about a half dozen crashes of cri-o in the last few months, on a few different versions.
Crio crashes with a "panic: runtime error: index out of range" and a stack trace which I will paste below.
I am utilizing OKD, 4.7 currently, but issue occured under 4.6 as well, maybe 4.5 but my memory is bad.
Current crio is 1.20.0.
There does not seem to anything that I can see th

[2021-04-19 14:55] saschagrunert commented on #4777
This looks like a race from a first rough guess. The crash happens on the `copyImage` operation:
https://github.com/cri-o/cri-o/blob/d388528dbed26b93c5bc1c89623607a1e597aa57/vendor/github.com/containers/storage/images.go#L191

Since it is an index out of bounds we can think of a changed `r.Images` during the iteration, which should be usually covered by a file lock. :thinking:

[2021-04-19 15:13] DavidHaltinner commented on #4777
Just before, podman removed an image it stated... (In this case a customized graylog image I have). Related? I dont know the internal mechanics enough to know the involvement of crio/podman in something like this:
Apr 19 08:06:34 okd-prod-cmpt04.rgl.com podman[3091098]: 2021-04-19 08:06:34.307610175 -0500 CDT m=+249.235712493 image remove a6d081b7d335d71b74c7084079956b1fadb9e2e3edbe12d686756bc368f

[2021-04-19 16:21] aniecki commented on #4773
This seems to be problem, related to crun, Also could be as per design, will test the behaviour bit more....
https://github.com/containers/crun/issues/649

[2021-04-19 17:16] giuseppe commented on #4773
It is by design as it is a check performed at runtime to verify whether the `volatile` flag is supported by overlay.

More information about "volatile": https://www.kernel.org/doc/html/latest/filesystems/overlayfs.html?highlight=overlayfs#volatile-mount

[2021-04-20 18:43] moto-timo commented on #4658
Also seeing CAP_PERFMON on Debian 10 x86_64 system after upgrade to 1.21.0 (this system is on 5.10 kernel).
cri-o installed from https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/

[2021-04-21 15:02] haircommander commented on #3791
hey @Rizary can we also have the output of `crio config`

[2021-04-21 15:30] baoho1106 opened #4786 "seccomp is not enabled in your kernel, cannot run with a profile"
,
**Description**

I am currently using the latest kubernetes 1.21.

After updating to cri-o v1.21 I I cannot start up any pods.  The output of the describe pod is "Failed to create pod sandbox: rpc error: code = Unknown desc = seccomp is not enabled in your kernel, cannot run with a profile"

I was working previously on  1.18 and it was working fine.  I've then upgraded to v1.19, but there was an

[2021-04-21 15:50] Rizary commented on #3791
hi @haircommander, sure!

<details>
<summary> `crio config` output </summary>

[code]
</details>

[2021-04-21 16:03] haircommander commented on #3791
what is the kubelet config? does your node not symlink `/var/run` to `/run`? What happens if you change the kubelet config to use `/run/crio/crio.sock` *or* if you change the crio config to use `/var/run/crio/crio.sock`

[2021-04-21 17:35] haircommander commented on #4777
@vrothberg  @QiWang19 @umohnani8 PTAL

[2021-04-21 19:40] fidencio commented on #4786
Are you building CRI-O yourself? Please, ensure you have libseccomp-devel installed in your environment and give it another try, as this is quite similar to https://github.com/cri-o/cri-o/issues/4627#issuecomment-795965178

[2021-04-21 20:55] haircommander commented on #4768
okay I confirmed I got a success this time, so it *should* be good :)

[2021-04-21 21:29] baoho1106 commented on #4786
Yes I am building the CRI-O.

I have that installed already.  Here is the list of stuff I installed

`sudo yum module -y install go-toolset

sudo  yum install -y \
  containers-common \
  device-mapper-devel \
  git \
  make \
  glib2-devel \
  glibc-devel \
  glibc-static \
  runc \
  libassuan \
  libassuan-devel \
  libgpg-error \
  libseccomp \
  libseccomp-devel \
  libselinux \
  pkgconf-pkg

[2021-04-21 21:34] baoho1106 commented on #4786
Here is my whole  kubectl describe
[code]

[2021-04-21 21:36] baoho1106 commented on #4786
Also will there be a problem if I use crio v 1.20 with kubernetes 1.21 because that seems to work.

[2021-04-21 21:53] fidencio commented on #4786
@haircommander, mind to chime in? :-)

[2021-04-22 05:46] vrothberg commented on #4777
Please open an issue at c/storage.

[2021-04-22 08:12] saschagrunert commented on #4786
@baoho1106 what's the output of
[code]

Is it possible for you to share the debug logs of CRI-O (`-l debug`) while creating the container?

[2021-04-22 08:20] rhrazdil commented on #4768
Many thanks @haircommander! Sure enough, [CentOS_8_Stream](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/) is looking _shiny_ now.
Closing :)

[2021-04-22 08:20] #4768 closed

[2021-04-22 08:35] saschagrunert commented on #4786
@baoho1106 can you please try the same again with the PR https://github.com/cri-o/cri-o/pull/4789?

[2021-04-22 12:23] baoho1106 commented on #4786
After applying the changes in PR #4789 the pods were able to start up.  Thank you for the help! I will close this PR now :)

[2021-04-22 12:23] #4786 closed

[2021-04-22 13:39] haircommander opened #4790 "Support Target NamespaceMode"
We have managed to avoid processing Target NamespaceMode because there are no CRI tests nor k8s conformance tests that rely on it. However, we really should be supporting it (ephemeral containers are still alpha and seem to be the major consumer, but it will go beta one day)

This is a tracking issue for this work

[2021-04-23 15:52] caseydavenport commented on #4727
It's worth mentioning that not all state managed by CNI plugins will be written to disk locally. Calico, for example, stores some of its state off-box, which makes actually calling CNI del more important (rather that say, writing state to a volatile local volume)

[2021-04-23 16:19] haircommander commented on #4727
@caseydavenport btw, have you gotten the chance to test against https://github.com/cri-o/cri-o/pull/4767 yet?

[2021-04-23 18:57] fidencio opened #4798 "area/vm: pods are not reaching "completed" state"
**Description**

Since #4650, kata pods are not reaching the "completed" state.  The main change introduced in that PR happens on the kind of context used inside the runtime VM code.

Prior to that patch, the context was created using `context.Background()`, which "is never canceled, has no values, and has no deadline", as shown [here](https://github.com/cri-o/cri-o/pull/4650/files#diff-7384fb0ac1

[2021-04-23 18:57] fidencio commented on #4798
/cc @haircommander

[2021-04-25 15:55] Rizary commented on #3791
yes

I got the following error:

` failed to connect: failed to connect, make sure you are running as root and the runtime has been started: context deadline exceeded`

[2021-04-26 04:42] Rizary commented on #3791
I have read #1922, but in my ubuntu, crio runs normally.

[2021-04-26 13:44] haircommander commented on #3791
sorry, where did that error come from? crictl or kubelet? can I see your kubelet config (it prints it out at the beginning of the logs) or `/etc/crictl.yaml` depending on which client you're using

[2021-04-26 14:05] Rizary commented on #3791
I got when I run `sudo crictl version` this is my `/etc/crictl.yaml`:

[code]

this is the error:
[code]

So I try to run `$ sudo crio` and I got the following error:
[code]

[2021-04-26 14:05] snir911 opened #4807 "ulimit values are not inherited to runtimeVM"
**Description**

According to documentation if no ulimit values were set _"settings will be inherited from the CRI-O daemon"_, however, it seems to be wrong for some runtimes such as kata-runtime, where ulimits are not inherited from CRI-O.
This may also cause application failures if nofile value is to large, [see this issue](https://github.com/kata-containers/runtime/issues/2597).

**Steps to rep

[2021-04-26 14:10] haircommander commented on #3791
can you change crictl.yaml to:
[code]

(also your crio config is using cgroupfs, so you'd want to change the cgroup-manager to cgroupfs in crictl.yaml as well)

[2021-04-26 14:23] Rizary commented on #3791
I still get the same error:
[code]

[2021-04-26 14:47] caseydavenport commented on #4727
@haircommander I haven't yet - I'll do that soon!

[2021-04-26 14:57] haircommander commented on #4807
by "from the cri-o daemon" I believe it means our `default_ulimits` field in crio.conf . I am not so sure we want to give every container the limits cri-o has.

[2021-04-26 18:43] snir911 commented on #4807
@haircommander sorry, i trimmed this quote so it might be unclear, it's mentioned also in crio.conf and the full sentence says _"If nothing is set here, settings will be inherited from the CRI-O daemon"_ where "here" refers to default_ulimits
(I think it was introduced with 1a01ca7251e9e91af3fd4e0593a849015363f520 and stayed since)
Do you think it would make more sense to just remove the [ClearPro

[2021-04-26 18:46] haircommander commented on #4807
ah interesting. I think calling ClearProcessRlimits makes sense. We may also want to update that documentation

[2021-04-27 02:50] #4798 closed

[2021-04-27 11:30] #4773 closed

[2021-04-27 11:30] aniecki commented on #4773
Closing now, due to the explanation above.

[2021-04-27 19:13] husky-parul commented on #2313
@RohanKurane Could you please share the steps to resolve this issue?
Thanks.

[2021-04-27 19:41] husky-parul commented on #2313
Not having the right config file order in `/etc/cni/net.d` was the issue.

[2021-04-28 08:49] danifr commented on #1922
Maybe this might help someone. In my cased I was missing the file:  _/etc/crictl.yaml_

These lines did the trick:

[code]

[2021-04-28 08:57] saschagrunert commented on #1922
For CRI-O the runtime and image endpoints have to be:
[code]

[2021-04-28 18:30] afbjorklund opened #4820 "The checksum of the source archive keeps changing"
The source code .tar.gz is using git attributes, which means that the contents changes when the short commit does.

This makes it fail packaging checks, because the checksum of the tarball doesn't match (for the same git commit)

[code]

The short format is the root cause, but the whole information is quite useless.

Since it doesn't state the kubernetes version (like intended), but the cri-o git.

[2021-04-29 05:57] afbjorklund commented on #4820
Today the checksum is different again. As compared to yesterday, same URL.

[code]

So now it doesn't work anymore in for instance Fedora, which also checksums:

[code]

[code]

https://src.fedoraproject.org/rpms/cri-o/blob/1.20/f/sources

[2021-04-29 07:43] saschagrunert commented on #4820
Fix is incoming in https://github.com/cri-o/cri-o/pull/4824

[2021-04-29 15:09] #4820 closed

[2021-04-30 15:30] haircommander commented on #4285
this should be fixed now!

[2021-04-30 15:30] #4285 closed

[2021-04-30 15:31] haircommander commented on #4000
do you know if this is still an issue @fidencio

[2021-04-30 15:33] haircommander commented on #3823
okay, now I think it's fixed. if it's not, please reopen

[2021-04-30 15:33] #3823 closed

[2021-04-30 15:35] haircommander commented on #2701
we also could use allowed_annotations and a specific cri-o annotation to set the umask

[2021-05-02 10:23] snir911 commented on #4807
@haircommander, hi, pushed another version
(BTW, third option might be, explicitly inherit limits only when it's runtimeVM type)

[2021-05-03 12:51] lework opened #4832 "merged: invalid argument"
os version
[code]

kube version
[code]

crio version
[code]

conf
[code]

error log

[code]

[2021-05-03 14:02] haircommander commented on #4832
@giuseppe @rhatdan @nalind PTAL

[2021-05-03 14:03] haircommander commented on #4832
storage is version v1.24.9-0.20210323210058-e00c94302361

[2021-05-03 15:20] thanos1983 opened #4833 "error: creating cgroup directory with version v1.21.0"
**Description**

The new crio-socket v1.21.0 it is failing to launch the node(s) with the error:

[code]

I tried to deploy with packages versions:

v1.20.6 and v1.21.0

**Steps to reproduce the issue:**
1. Start a new Master node with the latest version of CRI-O socker v1.21.0 and kubernetes packages version v1.21.0.
2. Try to bring up the node and observer the error logs

**Describe the results

[2021-05-03 16:25] tushar-dubey commented on #4675
Hi! I want to pick this up.

[2021-05-03 17:03] haircommander commented on #4675
That's awesome to hear :smile:

[2021-05-03 17:04] haircommander commented on #4675
Please reach out if you have any questions!

[2021-05-03 17:05] haircommander commented on #4833
@kolyshkin @giuseppe PTAL

[2021-05-03 17:27] tushar-dubey commented on #4675
Sure will do. currently checking out the code and trying to have a succesfull local build.

[2021-05-03 18:18] giuseppe commented on #4833
the error seems to come from crun.

Have you configured CRI-O to use crun instead of runc?  What version?

The error should be fixed in the last release of crun.

[2021-05-03 18:54] thanos1983 commented on #4833
Hello @giuseppe,

Thank you for your time. I have this configuration:

[code]

Has something changed?

Looking forward to your reply.

BR / Thanos

[2021-05-04 06:50] saschagrunert commented on #4833
We ship crun as default for the static binary bundle. I think we have to cherry-pick the latest bump and alrease a new v1.21 patch.

[2021-05-04 06:54] saschagrunert commented on #4833
Fix in https://github.com/cri-o/cri-o/pull/4835

[2021-05-04 09:51] fidencio commented on #4807
@snir911, rather than explicitly inheriting the limits only when using the runtimeVM type, I'd rather go with your proposal on the kata-containers side (ref: https://github.com/kata-containers/kata-containers/pull/1778).

[2021-05-04 11:53] snir911 commented on #4807
@fidencio i believe some solution should be done also in crio in any case, so at least it will be somewhat consistent between different runtimes

[2021-05-04 14:32] khatrig opened #4842 "Feature Request: CRI-O support for Windows Kubernetes nodes"
**Description**

Kubernetes and most cloud Kubernetes providers currently support windows nodes. It'd be great if crio can support windows as well so there are more container runtime options to choose from when dealing with heterogeneous clusters.

[2021-05-04 14:47] giuseppe commented on #4832
could you share what kernel version have you used and how does your `storage.conf` file look like?

[2021-05-04 15:30] haircommander commented on #4842
Thanks for opening the issue! This will serve as a good tracking issue. We will definitely need help from the community if we want to implement this

[2021-05-05 01:10] lework commented on #4832
storage.conf
[code]
kernel
[code]

After I upgraded the kernel, but the following error appeared

[code]

runc version
[code]

kernel version
[code]

[2021-05-05 09:55] mind-mind commented on #4692
Hi, haircommandaer,

It's been for a while.

I tried CRI-O with Raspbian, repository cannot use either and also I can't install CRI-O from the source with Raspbian because Raspbian doesn't has go version 12 plus.

I use Raspbian armv7l 32 bit

[2021-05-05 14:16] lsm5 commented on #4692
@haircommander i'll give this a try and report back.

[2021-05-05 14:42] thanos1983 commented on #4833
I downgraded to socket 1.20.2 and I see:

[code]

I will update again one node to 1.21.0 and see if the problem is resolved.

The fix that you applied is expected to be included in the new release? If so do you have an estimate of release?

Thanks in advance for your time and effort.

BR / Thanos

[2021-05-05 14:47] lsm5 commented on #4692
@haircommander @mind-mind RE: kubic repo `does not have a Release file`, I'd suggest cleaning out prior repo additions along with ensuring any kubic related files in `/etc/apt/trusted.gpg.d` are also deleted and then retrying the installation steps

[2021-05-05 14:48] lsm5 commented on #4692
on debian 10, you may quite likely hit a libseccomp2 dependency issue which can be resolved with:

[code]

[2021-05-05 14:49] lsm5 commented on #4692
fwiw, I tried the install steps with cri-o 1.19 kubic repo on a debian 10 env, and it went just fine for me.

[2021-05-05 15:19] mind-mind commented on #4692
@lsm5  Thank you. I'II try repo Debian again.

Anyway, I still want to know about Rasbian.

Thank you so much.

[2021-05-05 15:59] lsm5 commented on #4692
It should be the exact same as Debian instructions with the exception of `s/Debian_10/Raspbian_10/g` in the repository URLs. Let me know if that doesn't work.

[2021-05-05 16:14] haircommander commented on #4692
here's a PR adding instructions for libseccomp bump based on @lsm5 's recommendation: https://github.com/cri-o/cri-o/pull/4854

[2021-05-05 16:30] mind-mind commented on #4692
Okay.

I tried clean repo from /etc/apt/trusted.gpg.d
and follow the step again.  I remove all of this.

I'm not sure about version 1.19. Did you mean 1.19:1.19.1,
1.19:1.19.2 or 1.19:1.19.3

I'm not sure that I mean some stop or something

And here what I got:

root@master:/home/admin# ls /etc/apt/trusted.gpg.d
root@master:/home/admin# VERSION=1.19:1.19.1
root@master:/home/admin# OS=Debian_10
roo

[2021-05-05 16:54] haircommander commented on #4692
unfortunately, removing everything in `/etc/apt/trusted.gpg.d` gave me the same errors. I was able to fix by finding every instance of `NO_PUBKEY $hash` and running
[code]
Then, my machine reproduced the
[code]
issue, but I was able to work around it by running:
[code]

(note the added [trusted=yes])
and then running apt-update && apt install

[2021-05-05 17:38] lsm5 commented on #4692
@haircommander hmm, that's news to me, but great that you resolved it!

[2021-05-05 18:05] mind-mind commented on #4692
Unfortunately, I hope I can fix it too.
I did everything that you recommend but still doesn't work.
I use AWS EC2, I'm not sure what platform that you use, but if you use AWS too. I think it should be works.

Umm, I never succeeded with install by repository, but I can install by source.

But, it cannot do that with Raspbian. Because make require go version 12+.
Raspbian armv7l as far as I know it

[2021-05-05 18:17] lsm5 commented on #4692
It looks like you're trying to setup Debian_10 repo on raspbian. I would suggest getting the Raspbian_10 repo. It should be just a matter of replacing `Debian` with `Raspbian` everywhere in the repo urls.

[2021-05-06 06:04] mind-mind commented on #4692
Well, I don't think so. I turn raspberry pi off before tried this, but I'II tries to make it work and back to you guys later.

[2021-05-06 07:06] saschagrunert commented on #4833
@thanos1983 yes it will be part of the next 1.21.x release, but I do not have an estimate yet. We can cut releases fairly ad-hoc :)

[2021-05-06 15:55] arcolife commented on #4622
just agreed with @haircommander to take a shot at this one!

[2021-05-06 16:51] wgahnagl commented on #4770
I'm working on this!

[2021-05-07 01:32] anthr76 opened #4867 "Kubeadm is no longer reporting memory"
**Description**

Memory is not being reported by nodes,

**Steps to reproduce the issue:**
1. Install Kubic
2. Issue `kubectl get --raw /api/v1/nodes/nyc1-master-1/proxy/stats/summary`
3. Observe memory is zero value

**Describe the results you received:**

[code]

**Describe the results you expected:**

Memory to  be populated

**Additional information you deem important (e.g. issue happens only

[2021-05-07 14:48] haircommander commented on #4867
hm this is unexpected. Can I have the output of
`crio config`
as well as the kubeadm config

also, what is the runtime you're using/what version of it

[2021-05-07 15:44] anthr76 commented on #4867
Sure!

crio config

<details>

[code]

</details>

Kubeadm config

<details>

[code]

</details>

Runtime

<details>

[code]

</details>

[2021-05-07 20:26] jayaddison opened #4878 "cri-o 1.21: pod container creation error: failed to make veth pair: operation not supported"
**Description**
Creation of pods within a Kubernetes 1.21, CRI-O 1.21.0 cluster fails; pods sit in the `ContainerCreating` status.

**Steps to reproduce the issue:**
1. Build a container - in this case, the [`openculinary/frontend` container using `make` and `buildah`](https://github.com/openculinary/frontend/blob/cc876d270e5e3fdd9f0d8ba099d7a6f925cc1019/Makefile#L23-L26)
2. Deploy the container t

[2021-05-08 22:14] anthr76 commented on #4867
No output returned as root on the command you provided.

/sys/fs/cgroup contains

[code]

[2021-05-09 16:06] jayaddison commented on #4878
The error message is, I think, emitted from within https://github.com/containernetworking/plugins/blob/fa48f7515b50272b7106702a662fadbf2ead3d18/pkg/ip/link_linux.go#L76-L91 ([`containernetworking/plugins` v0.9.1](https://github.com/containernetworking/plugins/releases/tag/v0.9.1) is [vendored](https://github.com/cri-o/cri-o/blob/bc1ef35a932acc2f6f3b6d3eb19a4f68aa9423f6/go.mod#L12) into `cri-o` 1.2

[2021-05-10 12:29] DavidHaltinner commented on #4777
I added the new log in the issue I opened at c/storage, but adding here as well.

Had a crash of crio over the weekend. This one also proceeded by podman removing an image.

[crio2.txt](https://github.com/cri-o/cri-o/files/6451990/crio2.txt)

[2021-05-10 15:38] rkage commented on #4867
Just FYI, I'm experiencing the same issue as we're on the OS; openSUSE microOS which mounts cgroupv2;

[code]

[code]

[code]

[2021-05-10 16:11] haircommander commented on #4867
what version of kubernetes @rkage ? my suspicion is that is a consequence of cadvisor not supporting cgroupv2 well (as these values should be scraped by cadvisor for cri-o by default)

[2021-05-10 17:58] anthr76 commented on #4867
I cannot confirm 1.20 but I can on 1.19.

[2021-05-11 09:12] kaitaklam commented on #4296
is there a way to find out which /var/lib/cni/results/* files are in use and which of them I can manually remove them?

[2021-05-11 20:52] fidencio commented on #4765
Okay, this is actually an issue and it may very well be a regression on CRI-O, as I don't see this happening with containerd.  Sorry for the time it took to get to this, and I'm taking care of this one.

[2021-05-11 20:52] fidencio commented on #4765
/assign

[2021-05-11 20:53] fidencio commented on #4765
/area vm

[2021-05-12 15:24] haircommander commented on #4296
it depends on the plugin, but for the bridge plugin I think the filename is the pod ID, so you may be able to correlate running pods with active files

[2021-05-12 22:25] fidencio commented on #4765
Found the commit that introduced the regression: https://github.com/cri-o/cri-o/pull/4575
I wonder whether we could add `rslave` **only** for OCI containers.

/cc @giuseppe @mrunalp for ideas.

[2021-05-12 23:02] fidencio commented on #4765
@lifupan, do you think we could work this around on the kata-containers side?

[2021-05-13 08:25] michalzxc commented on #4693
I think these are 2 separate issues, because the provided fix is definitely making a big difference. Amount of stuck pipelines went down from one every 10 minutes to one per couple of days

[2021-05-13 09:23] mind-mind commented on #4692
Hello guys,

I can install it already the thing is I have to fix version=1.19 instead of 1.19:1.19.1 and it works.

I think I can close this right?

[2021-05-13 09:23] #4692 closed

[2021-05-13 12:51] haircommander commented on #4692
glad the installation finally worked! thanks for your patience!

[2021-05-13 15:56] lifupan commented on #4765
It could be fixed by https://github.com/kata-containers/kata-containers/pull/1844

[2021-05-13 16:27] fidencio commented on #4765
I'm closing this one in favour of the issue on kata-containers which was re-opened and has been addressed by @lifupan!

[2021-05-13 16:27] fidencio commented on #4765
/close

[2021-05-13 16:27] #4765 closed

[2021-05-14 14:45] giuseppe commented on #4832
looks like a too old runc

[2021-05-14 17:56] steled commented on #4277
So I played a bit with the `curl https://raw.githubusercontent.com/cri-o/cri-o/master/scripts/get | bash -s -- -a arm64
` solution...

The problem with this one is that no configuration is done with it... There is no pre configured `/etc/crio/crio.conf` and I also needed to add `/etc/containers/registries.conf` and `/etc/containers/registries.conf.d/000-shortnames.conf` otherwise I ran into a prob

[2021-05-16 20:28] mgoltzsche opened #4902 "Feature request: Make CRI-O work within rootless podman container"
**Description**

This is a feature request to make CRI-O work within a rootless podman container.

**Steps to reproduce the issue:**
I tried to run Kubernetes 1.21.1 with CRI-O 1.21.0 (and conmon 2.0.27) locally using [this](https://github.com/mgoltzsche/kubeainer) container with rootless podman 3.1.2:
[code]

**Describe the results you received:**

It fails because CRI-O fails to create container

[2021-05-17 13:47] rhatdan commented on #4902
This would be more of a CRI-O issue then a Podman issue.
@haircommander @umohnani8 @giuseppe WDYT?  We could attempt to impersonate the  /proc/self/oom_score_adj and have it succeed, but it would probably be best if CRI-O understood that it was running within a container.

[2021-05-17 13:47] rhatdan commented on #4902
@mrunalp PTAL

[2021-05-17 16:58] fidencio opened #4906 "Container doesn't reach "Created" status"
**Description**

This is random issue that has been happening on kata-containers CI, with the "VM" runtime type, for a while.

Please, refer to: http://jenkins.katacontainers.io/job/kata-containers-2-crio-PR/16/console
[code]

I thought we were able to track it down and solve it with https://github.com/cri-o/cri-o/pull/4803 and https://github.com/cri-o/cri-o/pull/4879 but the issue still happens e

[2021-05-17 16:59] fidencio commented on #4906
/area vm

[2021-05-17 16:59] fidencio commented on #4906
/cc @saschagrunert @haircommander @fgiudici

[2021-05-17 17:19] haircommander commented on #4902
I couldn't get past kubelet start. Are you able to post the journal logs from the container to see what exactly is going on?

[2021-05-17 17:26] DavidHaltinner commented on #4777
They issued a fix on the c/storage side. It looks like the cri-o team has started using dependabot to pull updates from c/storage. Would we expect for the next bugfix release to pull that over from c/storage automatically?

[2021-05-17 17:33] haircommander commented on #4777
Once there is a release cut for c/storage it would be pulled in to the main branch, which then would end up in 1.22. I think it's realistic to expect this to be backported to an earlier branch too

[2021-05-19 22:43] mgoltzsche commented on #4902
hm, now I cannot reproduce the error message I listed in the description myself. I wonder how I got there. I'll look into this in a few days...

[2021-05-20 00:51] mrunalp opened #4922 "Drop ALL and add few caps doesn't work"
Creating a pod:

[code]

The running pod will include the default configured capabilities + NET_BIND_SERVICE when it should just be NET_BIND_SERVICE.

[2021-05-20 10:41] giuseppe commented on #4902
can you try setting the env variable `_CRIO_ROOTLESS` before running CRI-O?

That should put it in "rootless mode"

[2021-05-20 18:34] haircommander commented on #4777
https://github.com/cri-o/cri-o/pull/4932 for 1.21
https://github.com/cri-o/cri-o/pull/4933 for 1.20

[2021-05-20 19:04] jayaddison commented on #4878
While I'm hesitant to conclusively say this is the answer (I haven't been able to replicate the issue recently, nor fully confirmed that the linked guidance solves the root cause), I'd credit and reference the documentation below from @caseydavenport that looks potentialy relevant for anyone experiencing similar issues:

https://docs.projectcalico.org/maintenance/troubleshoot/troubleshooting#confi

[2021-05-20 19:04] #4878 closed

[2021-05-21 02:08] mgoltzsche commented on #4902
Awesome! This makes the apiserver start indeed:
[code]
So this relates to #2858.

_However the kube-proxy container cannot be created now because of `Error: container create failed: create device `/dev/tty`: No such device or address` even if I mount `/dev` from the host - though this is a different issue: https://github.com/containers/podman/issues/4900_

[2021-05-22 06:25] sfxworks commented on #4276
Hello,

For anyone running into this issue, I hit it when adding a new control plane node. It was solved by adding the config above to my crio config file. Even though `/etc/cni/net.d/` was populated by cilium in my case, it was not being picked up by kubelet.

[code]

[2021-05-23 13:19] telmich opened #4940 "k8s HostPath does not work on tmpfs and ext4 mount (crio-1.21.0)"
**Description**

Trying to deploy kubevirt on net-booted machines fails with the following error:

[code]

**Steps to reproduce the issue:**
1. Deploy k8s on Alpine Linux
2. Start cri-o, add calico
3.Deploy kubevirt

[code]

**Describe the results you received:**

Pods are not coming up due to above warning/error

**Describe the results you expected:**

Pods are coming up

**Additional information

[2021-05-24 00:01] mgoltzsche commented on #4902
Just wanted to have a look at this again but the command above didn't make the kubelet start.
Turns out the kubelet in the podman container only starts if I run the same image with docker (as root) in parallel - something seems to be leaking between those containers and the docker container seems to prepare resources on the host that the podman container uses. I have to iterate on this...

[2021-05-24 13:36] haircommander commented on #4940
hey @telmich can you get me `cat /proc/self/mountinfo | head`
my guess would be `/` is not mounted as shared which I find odd

[2021-05-24 13:55] telmich commented on #4940
@haircommander Sure thing:

[code]

[2021-05-24 16:09] haircommander commented on #4940
ah yeah so it doesn't look like root is mounted as shared. here's what I have:
[code]

alternatively, you can set the MountPropegation of the mount to Private or HostToContainer, instead of Bidirectional. I don't know what that would do to the kubevirt operator though, so I recommend mounting root as shared

[2021-05-24 16:09] haircommander commented on #4940
I believe `mount --make-shared /` will do the trick, though I am not sure

[2021-05-24 16:17] telmich commented on #4940
I tried `mount --make-shared /`, but as soon as I issue that, kubernetes is unable to *terminate* the pods on that node. I also tried `mount --make-rshared /`, with the same result.

If it helps, I can give anyone remote access to the nodes (IPv6 reachable), as this is a test cluster.

[2021-05-24 16:23] haircommander commented on #4940
I have attempted to message you on kubernetes slack :)

[2021-05-24 19:34] mgoltzsche commented on #4902
Here's the complete CRI-O log for the attempted kube-proxy start:
[code]

[2021-05-25 09:47] dudniksergei opened #4941 "crio authentification with mirrored registry"
-->

**Description**

Its about using crictl with mirrored registry.

**Steps to reproduce the issue:**
1. Setup mirror for registry in /etc/containers/registry.conf
[code]

in this example mirror "nexus.example.com" will be tried first. Credentials are the same.

2. pool the image from the registry "registry.example.com" using --auth (not auth file)
[code]
3.  crictl tryed pull the image from nex

[2021-05-25 15:03] haircommander commented on #4941
If you pull directly from the mirror with the credentials, does it work?
` crictl pull --auth "creds_in_base64" nexus.example.com/nginx:latest`

[2021-05-25 15:15] dudniksergei commented on #4941
Yes, it works

[2021-05-25 15:21] haircommander commented on #4941
can you run cri-o with `--log-level debug` and paste the cri-o logs of the ImagePull request?

[2021-05-26 14:08] dudniksergei commented on #4941
"Request: &PullImageRequest{Image:&ImageSpec{Image:registry.example.com/nginx:latest,Annotations:map[string]string{},},Auth:&AuthConfig{Username:,Password:,Auth:****************,ServerAddress:,IdentityToken:,RegistryToken:,},SandboxConfig:nil,}" file="go-grpc-middleware/chain.go:25" id=********* name=/runtime.v1alpha2.ImageService/PullImage
"Pulling image: registry.example.com/nginx:latest" file="

[2021-05-26 20:17] haircommander commented on #4941
cc @vrothberg @saschagrunert @QiWang19

[2021-05-26 22:21] QiWang19 commented on #4941
From the description, this issue wants to try the source registry credential to access the mirror registry. I don't think the current code implements it that way. Looks like that was avoided intentionally because the credential does not point out the registry: https://github.com/containers/image/blob/97b3ffa7bb92a7778238b58010454031b0c2cbee/docker/docker_image_src.go#L111

[2021-05-27 10:53] dudniksergei commented on #4941
Thank you for information!
But what reason for this feature?
 If I use mirror for main private registry I will use the same credentials. Otherwise mirroring with private registries is useless.  Of course there is global-auth-file with credentials for every registries. But there are cases when this feature cant be used. For example openshift uses 2 types of credentials for pulling images:
- global

[2021-05-29 16:18] steled commented on #4277
Or is it possible to use the `Debian_10` version?

For https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_10 there is an `arm64` version but not for https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/Debian_10/

[2021-05-31 08:52] saschagrunert commented on #4277
I enabled the Debian 10 aarch64 build and it succeeded. @steled could you give it a try?
https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Astable%3Acri-o%3A1.21&package=cri-o

[2021-05-31 20:03] steled commented on #4277
Thx @saschagrunert it seems that it works.
I just installed it but with no productive workload for now.
Couldn't find any problem yet.

But wouldn't a direct Raspbian implementation fit more?

[2021-06-01 13:17] haircommander commented on #4777
should have done this earlier, but here's a c/storage fix in 1.19, revendor to follow https://github.com/containers/storage/pull/931

[2021-06-02 10:45] ledroide commented on #4658
Same issue here, running :
* Kubernetes 1.21.1
* cri-o 1.21.0
* CentOS Stream + Linux 4.18.0-294.el8.x86_64

Privileged pods in kube-system namespace keep on _CreateContainerError_ status.
Events report that CAP_PERFMON is an unknown capability :
[code]

[2021-06-02 13:23] haircommander commented on #4658
are people able to upgrade the runc version? There is a newly built one in the OBS repo (cri-o-runc)

[2021-06-02 13:25] haircommander commented on #4658
independently, I'd like to cook up new releases for like every release branch soon .that should also help. thanks for the patience folks

[2021-06-03 13:01] fidencio commented on #4591
/area-vm

[2021-06-04 16:25] LouisStAmour commented on #4734
Any interest in adding Otel Collector support for logging, such as via OTLP Logs or Fluentd? This would absolutely help in collecting logs from short-lived containers and in associating OTLP Resource data to log lines for further processing, such as splitting logs by Kubernetes namespace without needing to make K8S API calls to lookup potentially deleted container IDs?

[2021-06-04 20:29] elinesterov commented on #4658
Same issue with 1.21.1 on raspberry with `cri-o` from https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/ and `crun` from https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Raspbian_10
`runc` at the same time works perfectly fine

[2021-06-07 15:40] haircommander commented on #4658
cri-o-runc should be upgradable to rc95 now

[2021-06-08 09:46] ccnankai opened #4978 "Does it still support ubuntu16.04?"
Hi,
I encountered a lot of problems in the process of building from source code. Are there any pre-compiled binaries available?

[2021-06-08 11:21] ccnankai commented on #4978
@saschagrunert
That is to say, if I want to use ubuntu16.04, I can only build  CRIO from the source code, and there is no installation package that can be used directly, right?

[2021-06-08 15:16] simonpasquier opened #4982 "container_runtime_crio_image_* metrics may have excessive cardinality"
**Description**

Since #2912, CRI-O exposes metrics about image pulls and layers:
* container_runtime_crio_image_pulls_by_digest
* container_runtime_crio_image_layer_reuse
* container_runtime_crio_image_pulls_by_name
* container_runtime_crio_image_pulls_successes

These metrics can have very high cardinality, especially because of labels such as `digest`, `size` and `name`. For some of the OpenShi

[2021-06-08 16:30] haircommander commented on #4978
what version are you looking for? The first option @saschagrunert posted was to install using apt

[2021-06-08 19:22] telmich commented on #4940
Update: I've installed the host system with ext4 to ensure the tmpfs is not the problem.

The "main" problem seems to stem from the different behaviour of cri-o and docker:

- running kubevirt with docker requires `/run` (a tmpfs on its own) to be shared; running mount --make-shared /run does not cause the spillover
- running kubevirt with cri-o requires `/` (the rootfs) to be shared; running moun

[2021-06-09 01:15] ccnankai commented on #4978
@haircommander
ubuntu16.04 can not use apt to install crio, can only use to build from source code, thank you very much.

[2021-06-09 01:47] #4978 closed

[2021-06-09 06:23] saschagrunert commented on #4978
@ccnankai the static binary bundle contains a `Makefile` which should work on Ubuntu 16.04, too.

[2021-06-09 06:50] saschagrunert commented on #4982
Thank you for the report @simonpasquier. I think throttling the image metrics would make sense. Right now, we update every metric once per second:

https://github.com/cri-o/cri-o/blob/f44811cd26500f0db7cc611ec2f6d47a8966cdf1/server/image_pull.go#L242

Do you think that some metrics are not helpful at all or should we just limit them?

I can also imagine that we add a configuration option to opt-in

[2021-06-10 03:27] ccnankai opened #4988 "how to pass custom environment variables"
hi,
1. When using the critcl command to create pods and containers, how to pass custom environment variables into the container.
Is it now supported to pass  environment variables via crictl? Just like the docker -e parameter works.

2. Where is the description of each item in container-config.json  pod-config.json? I want more configuration options, but I don't know what the optional keywords are

[2021-06-10 14:11] haircommander commented on #4988
you can use the `envs` field in the container config: https://github.com/kubernetes/cri-api/blob/bdd07c8ff51faf13238c2da120aed933546eab4d/pkg/apis/runtime/v1/api.proto#L792

the container/pod config jsons are the json format for the CRI API, the docs for which you can find here https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1/api.proto (specifically PodSandboxConfig and Contai

[2021-06-11 00:52] ccnankai commented on #4988
@haircommander
This file is so helpful.     Thank you very much.

[2021-06-11 00:52] #4988 closed

[2021-06-11 12:21] simonpasquier commented on #4982
I think that an opt-in/opt-out configuration option would totally make sense.

Looking at the example you provide, the `size` label for `container_runtime_crio_image_pulls_by_digest` is clearly unbounded + it's duplicating the value of the metric. I'm not sure to understand exactly how CRI-O records the metric: is it tracking the size for every layer for every image that has ever been pulled?

As

[2021-06-11 17:46] elinesterov commented on #4658
Ок. my fault. I just build `crun` out of 0.20.1 release and it works fine.

[2021-06-12 12:19] eclipseo opened #4991 "Error while running test: container.SetState undefined"
**Description**
Tests report the error container.SetState undefined.

**Steps to reproduce the issue:**
1. run go test

**Describe the results you received:**

[code]

**Describe the results you expected:**

Tests success

**Output of `crio --version`:**
1.21.0

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Fedora Rawhide chroot

[2021-06-12 12:25] eclipseo commented on #4991
and more:

[code]

[2021-06-12 17:44] kubealex commented on #4658
mmhh, not working from https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/CentOS_8_Stream/

[2021-06-14 08:31] saschagrunert commented on #4982
I agree, let's do that.

If we assume that images get removed from nodes, then in case of:

[code]

The metrics for a digest like `3381b1c1e8e00f9b8dbab5f0a00915b5dc9257e26a864e82f865982396b17a9b` would double the value:

[code]

Sounds like a good idea to add! :)

[2021-06-14 17:56] aojea opened #4995 "kubectl 1.21 and crio fail to follow stream_idle_timeout #5563"
#### Description

Clone of https://github.com/containerd/containerd/issues/5563

#### Steps to reproduce the issue:

1. Create a cluster with crio.
2. Use a version 1.21 kubectl
3. Exec into a pod and see that it will not follow the stream_idle_timeout limit
4. Describe the results you received:

Did not get kicked out.

#### Describe the results you expected:

kicked out after the stream_idle_tim

[2021-06-15 06:09] saschagrunert commented on #4995
Thank you for reporting this issue! Looks like we correctly pass the configuration option to the streaming server, so the bug must be somewhere in the vendored code.

[2021-06-15 07:04] aojea commented on #4995
/assign

I'm working on it, just only updating one of the issues to have all the information in the same place
https://github.com/containerd/containerd/issues/5563#issuecomment-861064648

[2021-06-15 13:55] haircommander commented on #4991
hey @eclipseo ! you need to run with the go build tag `test`:
`go test --tags "test"`

I typically recommend running `make testunit` to run the tests. if you want to run a specific test, you can do:
`TESTFLAGS='--focus $testregex' make testunit`

[2021-06-15 14:18] mtrmac commented on #4941
AFAIK the _typical_ use case to have a public registry that contains third-party images, with third-party credentials (e.g. a product hosted on quay.io, or a registry.vendor.example), and a private registry local to a site, with completely separate first-party credentials (or possibly unauthenticated). It would be useless to send credentials valid for registry.vendor example to a private registry,

[2021-06-15 17:07] eclipseo commented on #4991
Thanks I'll try that.

[2021-06-15 17:07] #4991 closed

[2021-06-16 12:23] DavidHaltinner commented on #4777
Looks like the commit for 1.20 made it into the 1.20.3 release. OKD also pulled in 1.20.3 in it's release this last weekend. I upgraded my test cluster yesterday morning, and will upgrade the production one in about a week.

However, I hadnt had a panic occur since May, as of yet. Should we consider the issue completed since it made it to release now?

[2021-06-16 13:54] haircommander commented on #4777
yes I believe so! I'm glad it's working :)

[2021-06-16 13:54] #4777 closed

[2021-06-17 07:02] ledroide commented on #4658
However, using cri-o 1.20.3 on a Kubernetes 1.21.1 cluster works fine for me, no CAP_PERFMON issue, and I did not find side effects.
Tried the last cri-o package [cri-o-1.21.0-4.22 for centos:stream](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/CentOS_8_Stream/x86_64/cri-o-1.21.0-4.22.el8.x86_64.rpm) and the CAP_PERFMON issue is still there.

[2021-06-21 19:36] edude03 commented on #4867
Chiming in as I have what appears to be the same issue. I have a three node cluster, 2 are running k8s 1.19 + docker, one is running 1.21 + containerd.

The node with containerd doesn't report `WorkingSetBytes` but the other metrics are there, but apparently that's causing metrics server to ignore that node.

I have the same cgroup controllers, and have have cgroupv2 mounted like @rkage does.

[2021-06-22 13:19] danilutkin commented on #4574
thank you for this experience )

[2021-06-24 07:36] kubealex commented on #4658
Still broken in https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/CentOS_8_Stream/x86_64/cri-o-1.21.0-29.1.el8.x86_64.rpm

[2021-06-24 12:42] fidencio commented on #2113
This can be closed as we have such CI as part of kata-containers nowadays.

[2021-06-24 12:42] fidencio commented on #2113
/close

[2021-06-24 12:42] #2113 closed

[2021-06-24 12:44] fidencio commented on #2114
I've added part of this on kata-containers side but it's not running daily / weekly.
This is something I think either @fgiudici or @littlejawa will work on / maintain.  Francesco, Julien, could you confirm or deny that? :-)

[2021-06-24 12:46] fidencio commented on #2255
@sboeuf, @haircommander, is this still something to be considered? Or shall we close this one in case we're okay with the situation as it's Today?

[2021-06-24 12:47] fidencio commented on #4541
This can be closed as the PR on containerd side was merged and we already vendor the current code, which includes the fix.

[2021-06-24 12:47] fidencio commented on #4541
/close

[2021-06-24 12:47] #4541 closed

[2021-06-24 12:48] fidencio commented on #4591
/area vm

[2021-06-24 13:28] haircommander commented on #2255
yeah I'm not really sure the difficulties are worth the benefit. maybe if go ever gets better at plugins

[2021-06-24 13:28] #2255 closed

[2021-06-24 14:26] fidencio commented on #4591
/assign

[2021-06-24 15:25] littlejawa commented on #2114
Right :)
Our first goal is to run it on a regular basis (but on a smaller set of tests).
Then increase the coverage by fixing anything that prevents the tests from running.

The second goal is obviously longer term, but we're working on it.

[2021-06-24 17:05] haircommander commented on #4658
sorry for the delay, I've just updated the 1.21 branch to have 1.21.1, which should have the fix

[2021-06-25 01:27] anthr76 opened #5030 "Improve docs for userns-mode"
**Description**

**Steps to reproduce the issue:**
1. Tried merging a config like `05-custom.conf`
2. >
[code]
3. Observe partial merging?

[code]

**Describe the results you received:**

Missing port and allowed annotations from config

**Describe the results you expected:**

no missing port and allowed annotations from config

**Additional information you deem important (e.g. issue happens only

[2021-06-25 03:25] anthr76 commented on #5030
[code]

Oddly enough with the above I actually `Failed to create pod sandbox: rpc error: code = Unknown desc = cannot use uidmapping or gidmapping if not running as root`` so maybe this is working correctly and the config isn't just being parsed?

[2021-06-25 07:17] ledroide commented on #4658
[Cri-o 1.21.1](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/CentOS_8_Stream/x86_64/cri-o-1.21.1-3.1.el8.x86_64.rpm) fixes the CAP_PERFMON issue for me.
Thank you @haircommander

[2021-06-25 08:00] kubealex commented on #4658
Thanks Peter! Successfully tested, you're the best!

[2021-06-25 12:48] anthr76 commented on #5030
I was using the wrong command to check parsed config..

Proper command is `crio-status c` Now to figure out more user error with `Failed to create pod sandbox: rpc error: code = Unknown desc = cannot use uidmapping or gidmapping if not running as root` which hopefully.. shouldn't be too bad. Still docs on this would be great. I bet it's a highly desirable feature and had no clue about it unless I

[2021-06-25 13:51] haircommander commented on #5030
@anthr76 would you have any interest in drafting up a doc on what you've learned/found to begin the process? We could put it in `tutorials/`

[2021-06-25 13:52] haircommander commented on #5030
big +1 to better documentation here

[2021-06-25 13:53] haircommander commented on #4658
thanks for the patience folks! I will close this issue, someone yell at me if this sneaks in again :laughing:

[2021-06-25 13:53] #4658 closed

[2021-06-25 14:09] anthr76 commented on #5030
I'd be happy to!

[2021-06-25 15:14] haircommander commented on #5030
/retitle Improve docs for userns-mode

[2021-06-25 15:14] haircommander commented on #5030
/assign @anthr76

[2021-06-25 15:15] haircommander commented on #5030
awesome to hear :D

[2021-06-28 07:43] fidencio commented on #4632
We adapted the test as part of f04cdc51de99b3c66964a7c2b04ce56c5480e8e4 and, IMHO, we could just close it.

If someone thinks differently, please, just re-open the issue and @ me here. :-)

[2021-06-28 07:43] #4632 closed

[2021-06-28 13:19] fabioluz opened #5039 "Image manifests are requested twice"
**Description**

Image manifests are being requested twice.

**Steps to reproduce the issue:**
1. Start `crio`
2. Configure a way to inspect all HTTP requests. e.g. ngrok
3. Use `crictl` to pull an image

**Describe the results you received:**

Image `manifests/tag` and `manifests/sha` are being requested twice. Anybody using CRI-O will be rate-limited twice as fast on DockerHub.

See in the image

[2021-06-28 14:15] haircommander commented on #5039
interesting, thanks for doing this investigation!

@vrothberg @saschagrunert @umohnani8 do y'all think this should be moved to c/image for further investigation?

[2021-06-29 08:32] vrothberg commented on #5039
Yes, moving over to c/image.

[2021-06-29 08:33] vrothberg commented on #5039
I don't seem to be able to move it.  Not sure if it's a glitch in the GitHub UI or if I am lacking permissions.

[2021-06-29 13:43] haircommander commented on #5039
I don't think it's movable because this is in a different repo actually. @fabioluz could you open an issue in github.com/containers/image please

[2021-06-29 17:46] cleveritcz opened #5045 "http: server gave HTTP response to HTTPS client"
Hello,
I am trying to get work insecure registry with cri-o-1.21.1-3.1.el7.x86_64.

What I did?

I made setup in /etc/crio/crio.conf, I also tried same config in /etc/containers/registries.conf

[code]

Then I restarted cri-o systemd.

I am still getting same error. Could you help me, please?

[2021-06-29 17:48] haircommander commented on #5045
hey @cleveritcz thanks for trying out CRI-O. can we have the CRI-O logs?

[2021-06-29 18:01] fabioluz commented on #5039
I would be happy in doing it @haircommander but is it really case here? Skopeo also uses `containers/image` internally and it does not request the manifests twice.

[2021-06-29 18:23] cleveritcz commented on #5045
[code]

[2021-06-29 18:26] haircommander commented on #5045
also what's the pod spec you're trying to run

[2021-06-29 18:26] cleveritcz commented on #5045
[code]

[2021-06-29 18:27] cleveritcz commented on #5045
[code]

[2021-06-30 16:00] cleveritcz commented on #5045
Is this bug?

[2021-06-30 18:49] cleveritcz commented on #5045
/help

[2021-06-30 18:49] cleveritcz commented on #5045
/assign

[2021-06-30 19:39] haircommander commented on #5045
It depends on what your /etc/containers/registries.conf and /etc/containers/policy.json have. it's possible we've blocked all HTTP because it only accepts secure registry connections.

cc @vrothberg @saschagrunert

[2021-06-30 19:39] haircommander commented on #5045
thanks for assigning yourself, I'd be happy to help with any contributions you think may help this area :)

[2021-06-30 19:43] cleveritcz commented on #5045
it is trying to connect with https registry with self-signed certificate.

I have this there:
[code]

[2021-06-30 19:47] cleveritcz commented on #5045
/assign haircommander

[2021-06-30 19:52] cleveritcz commented on #5045
where could I find the setup of registry? I don't know go lang.

[2021-06-30 20:32] haircommander commented on #5045
it sounds like there's something up with the registry itself. it should be using https if you want it to be secure

[2021-07-01 08:22] cleveritcz commented on #5045
It is using https

[2021-07-01 08:32] vrothberg commented on #5045
This is not a valid configuration of `registries.conf`.  These options are "unknown" which just until recently did not cause an error when loading the file.

Please try it again with the following content (see `man containers-registries.conf`):
[code]

[2021-07-01 11:28] cleveritcz commented on #5045
When I added I got error from crio

[code]

[2021-07-01 12:06] vrothberg commented on #5045
I don't see a cri-o log in this snippet.  It looks like kubelet cannot connect to the socket but I do not see why.  Or am I missing something?

[2021-07-01 14:37] cleveritcz commented on #5045
Yes, my sys admin took me root. He set it up. He sends me this.

[2021-07-01 14:37] cleveritcz commented on #5045
He told me it wont start crio

[2021-07-01 14:44] vrothberg commented on #5045
Any chance we could get logs from crio?  Maybe attempt starting it manually?

[2021-07-01 18:47] cleveritcz commented on #5045
I tried to replicate it, I got error as well. I had twice unqualified-search-registries=["docker.tipsport.it"].
I commented out the first one and it is work. I will test it in production and let you know soon.

[2021-07-02 07:14] vrothberg commented on #5045
Thanks for checking!  I am glad it's working now.

[2021-07-07 20:23] wgahnagl commented on #5039
I'll take a look at this!

[2021-07-08 08:06] saschagrunert commented on #4982
@simonpasquier may I ask you to give #5059 and #5061 a look?

[2021-07-09 01:52] dbgoytia commented on #2745
Hi! Is this issue still open? I'd like to contribute to the repo and in the way I believe that I'd learn a lot from documenting this :)

[2021-07-09 07:15] saschagrunert commented on #2745
This sounds wonderful, feel free to take this issue if you want to. :slightly_smiling_face:

[2021-07-09 10:19] msschl opened #5064 "Verbose systemd logs for mount succeeded"
**Description**

[code]

It looks like a [issue docker had once](https://github.com/docker/for-linux/issues/679), and is related to healthchecks.

**Output of `crio --version`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

- K8s cluster deployed with kubeadm on ubuntu 20.04 vms

[2021-07-09 10:26] saschagrunert commented on #5064
Thank you for submitting the issue @msschl! I think we do not have influence on this behavior from a CRI-O perspective, so it's probably more a systemd related issue.

[2021-07-09 13:48] haircommander commented on #2745
thanks @dbgoytia feel free to reach out with any questions!

[2021-07-09 14:23] dbgoytia commented on #2745
Thanks a lot @saschagrunert , @haircommander. If you guys have some links, or important pieces of code that I should take a look at as well it would be awesome so documentation can be rich

[2021-07-12 14:42] mtrmac commented on #5039
This is fairly likely to be https://github.com/cri-o/cri-o/blob/effa584c039d3ee519afb08fcad9f449d52a13a6/server/image_pull.go#L129-L158 .

[2021-07-13 19:48] husky-parul commented on #4734
Does it mean all GRPC will be traced w/o `trace.start` in each methods?

[2021-07-14 15:50] chinmaykhare commented on #2757
I tested this in OCP 4.7 environment, but in prometheus was not able to find any **image pull time** metrics.

I wanted to have info on the time required to download an image. I'm i missing to interpret the output correctly?

Eg - `container_runtime_crio_image_pulls_by_name` is not showing the pull time

[2021-07-14 18:51] vivkong opened #5075 "cri-o version 1.20.x for s390x"
cri-o v1.20.x is not available for s390x on OBS but v1.18.3 is.  Can it be added? Thanks.

https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable:cri-o:1.20

For reference: https://build.opensuse.org/project/monitor/devel:kubic:libcontainers:stable:cri-o:1.18:1.18.3

[2021-07-14 20:12] haircommander commented on #5075
any particular distro you want it for?

[2021-07-14 20:30] vivkong commented on #5075
Sorry forgot to mention - yes Ubuntu 20.04 please.

[2021-07-14 20:58] haircommander commented on #5075
should be done! feel free to close if it works for you :)

[2021-07-15 07:34] saschagrunert commented on #2757
@chinmaykhare those metrics are disabled in OpenShift right now:
https://github.com/openshift/cluster-monitoring-operator/blob/9f2908d296862befdc0f84e800ab0546e6feb12d/assets/control-plane/service-monitor-kubelet.yaml#L97-L98

More details about the reasoning can be found in https://github.com/cri-o/cri-o/issues/4982#issue-915165129

[2021-07-15 07:34] saschagrunert commented on #4982
This is done

[2021-07-15 07:34] #4982 closed

[2021-07-15 12:43] vivkong commented on #5075
Thanks for the fast turnaround!  It's now available on OBS.

[2021-07-15 12:43] #5075 closed

[2021-07-15 14:11] frasertweedale opened #5077 "regression: sandbox annotations are not propagated to container annotations"
**Description**

Commit https://github.com/cri-o/cri-o/commit/8cf32223a1dc1208b53167763638886fd23bde67#diff-208130c20edcdc687fd2a4c092c9c22ad3f198f3fe2d27ea50c74a2656c4764d introduces some extra processing of seccomp-related sandbox annotations.  As a result of this change, most sandbox annotations are no longer propagated to the container annotations.

**Steps to reproduce the issue:**
1. create

[2021-07-15 15:14] frasertweedale commented on #5077
For good measure, I checked the behaviour of CRI-O 1.20 on an OpenShift 4.7.20 cluster.  And this is indeed a regression.

[2021-07-17 13:17] Elettronik opened #5097 "On 1.21.0 cri-o fails to start because of incorrect SELinux check"
**Description**

CRI-O version 1.21.1 Fails to start because of an incorrect SELinux check

**Steps to reproduce the issue:**
1. Start crio
2.
3.

**Describe the results you received:**
It fail to start

**Describe the results you expected:**
It started

**Additional information you deem important (e.g. issue happens only occasionally):**

Output of start
[code]
The bug is related to https://githu

[2021-07-19 06:55] sdlarsen commented on #5097
It's already bumped in master. Question is when we'll see a release with this... (@haircommander?)

[2021-07-19 11:20] kiranchavala opened #5098 "Unable to start kubernetes calico container in crio 1.21 runtime"
1. Installed crio 1.21 runtime on ubuntu 18.04

kiran@worker3:/etc/containers$ sudo crictl info
{
  "status": {
    "conditions": [
      {
        "type": "RuntimeReady",
        "status": true,
        "reason": "",
        "message": ""
      },
      {
        "type": "NetworkReady",
        "status": true,
        "reason": "",
        "message": ""
      }
    ]
  }
}
kiran@worker3:/etc/cont

[2021-07-19 13:32] kiranchavala commented on #5098
Closing the issue as the issue looks like from calico end

https://github.com/projectcalico/calico/issues/2771

[2021-07-19 13:32] #5098 closed

[2021-07-19 13:33] haircommander commented on #5097
version bump PR happened https://github.com/cri-o/cri-o/pull/5085 so I just need to package it. I hope to do so today

[2021-07-19 19:39] kiwinesian opened #5103 "missing cri-o-1.21 package for Ubuntu 20.04 from the repo?"
**Description**

Looks like the cri-o package is missing from the `opensuse` repository?
was working fine until 2 hours ago.

http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/xUbuntu_20.04/

![image](https://user-images.githubusercontent.com/12476195/126218294-2c9a1f71-3f1a-4531-8a3c-4f5de6a14963.png)

**Steps to reproduce the issue:**
1. Go to http://down

[2021-07-19 19:47] haircommander commented on #5103
we don't package in the top-level anymore, because there are too many concurrently supported versions. I use this link to see the subprojects:
https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers:stable

[2021-07-19 19:56] haircommander commented on #5103
possibly also related: i'm in the process of bumping the packages so there may be a delay between when they're bumped and when they're available for download

[2021-07-19 20:09] kiwinesian commented on #5103
ahh sounds good! thank youu sirr 🙏
ill just wait until it is available again.

[2021-07-19 21:42] kiwinesian commented on #5103
do you mind to provide how to use https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers:stable? 🙏

been waiting for it to appear on the download file but hasn't appear yet.

[2021-07-20 07:00] kiwinesian commented on #5103
ended up using fix version 1.21.0

[2021-07-20 07:00] #5103 closed

[2021-07-20 09:46] ccnankai opened #5104 "failed to mount container,error creating overlay mount to /var/lib/containers/storage/overlay merged invalid argument"
**Description**
I want to replace the runtime of k8s with cri-o. Successfully installed cri-o and cri-o-runc.
I followed the example provided by [https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md](url) and executed the command `crictl runp pod-config.json`，the following error occurred.

**Steps to reproduce the issue:**
1.
[code]

2. `cat >>pod.json<<EOF{
    "metadata": {

[2021-07-20 12:54] mrksngl opened #5105 "cri-o not available in apt-based repositories"
**Description**

I followed the instructions on https://github.com/cri-o/cri-o/blob/master/install.md#apt-based-operating-systems
I did that before and it always worked. However, on a new machine today, it told me that `cri-o` cannot be found.

I use ubuntu 18.02, but it seems that my findings true for other distributions as well, see below.

**Steps to reproduce the issue:**
1. Use apt sources `d

[2021-07-20 13:50] haircommander commented on #5105
sorry, I half packaged 1.21.2 but didn't finish, so that  broke stuff. I'll fix today

[2021-07-20 15:03] haircommander commented on #5104
are you running cri-o as the root user?

[2021-07-20 20:57] haircommander commented on #5097
fix should be in 1.21.2, which should be packaged now in OBS

[2021-07-20 20:57] haircommander commented on #5105
should be fixed now!

[2021-07-20 22:37] mrksngl commented on #5105
confirmed, works again

[2021-07-20 22:37] #5105 closed

[2021-07-20 22:44] aclave1 commented on #5104
I'm having a similar issue as well with k8s version 1.20 and crio-o runtime version of 1.20.3.  We're running crio as root. This used to work but recently it's failing to bring up our static kubernetes pods with this error.

[2021-07-21 00:46] ccnankai commented on #5104
@haircommander    Yes, I executed the command as root user.  k8s version 1.20.4 and crio-o runtime version of 1.20.3 on Ubuntu 18.04 ，does the two versions match?

[2021-07-21 00:47] ccnankai commented on #5104
@aclave1  Will the 1.19 version of k8s and crio have this error? If not, I will install the old version.

[2021-07-21 03:49] ccnankai opened #5108 "node configuration validation for memory swap cgroup failed node not configured with memory swap"
-->

**Description**
According to the installation instructions [https://github.com/cri-o/cri-o/blob/master/install.md](url) cri-o was successfully installed. But when I typed the `crio `command, there were two fata-level errors.

**ERROR:node configuration validation for memory swap cgroup failed node not configured with memory swap
ERROR: Validating api config: already existing connection on /va

[2021-07-21 12:32] sdlarsen commented on #5097
1.21.2 works for me. Thanks! Would be nice if the releaset was visible here on github as well...

[2021-07-21 13:43] haircommander commented on #5097
done https://github.com/cri-o/cri-o/releases/tag/v1.21.2 :)

[2021-07-21 13:54] haircommander commented on #5108
hm, the errors here aren't actually a big deal. it just means the memory swap cgroup isn't configured. I have opened https://github.com/cri-o/cri-o/pull/5111 to update the log level so it's less alarming

[2021-07-21 13:57] ccnankai commented on #5108
Got it. Thank you very much.

[2021-07-21 13:57] #5108 closed

[2021-07-21 14:50] thanos1983 opened #5112 "CRI-O 1.20.3 metrics does not run on https (based on documentation settings)"
**Description**
Based on the documentation [cri-o-metrics](https://github.com/cri-o/cri-o/blob/472b3aecb053f29fa6697d9ec5471c31dd03cdf8/tutorials/metrics.md#cri-o-metrics) if we add paths to cert / key and restart CRI-O the metrics is expected to run on https.

**Steps to reproduce the issue:**
1. Add crt and key as documented [cri-o-metrics](https://github.com/cri-o/cri-o/blob/472b3aecb053f29fa66

[2021-07-21 14:59] saschagrunert commented on #5112
Hey @thanos1983, this will work only for v1.22.0 which has not been released, yet.

[2021-07-21 15:08] thanos1983 commented on #5112
Oh too bad :( thanks for the tip we can close the ticket :)

[2021-07-21 15:08] #5112 closed

[2021-07-21 15:39] thanos1983 commented on #5112
Last quick question. Is there any possibility that you will be releasing a backward combatibility for socket 1.20?

Thank you again for your time and effort.

BR / Thanos

[2021-07-21 18:40] haircommander commented on #5104
@aclave1 @ccnankai are you running into this issue with older versions of 1.20 as well?

[2021-07-21 20:49] ccnankai commented on #5104
I cannot install the older versions of 1.20, such as 1.20.1, 1.20.2. Error message：**Release does not have a Release file**. Do you mean that the old version of 1.20 should work and will not cause this error? I will try to install another version.

[2021-07-22 07:00] saschagrunert commented on #5112
@thanos1983 usually we do not backport such large features to maintenance branches to reduce the risk of introducing regressions.

[2021-07-22 07:05] thanos1983 commented on #5112
It makes 100% sense :). No worries I will try to update my cluster to 1.22 once it is released the socket and also the package.

Thank you again for your time and effort.

Have a nice day.

BR / Thanos

[2021-07-22 08:52] ccnankai commented on #5104
@haircommander
Thank you very much. This error does not occur in other versions.I am going to close this issue. By the way, if CRI-O pulls images from  a private mirror registry, where should I configure it，configuration files or parameters?

[2021-07-22 13:32] haircommander commented on #5104
what versions does it start happening? I'd still like to figure that out.

for mirrors, I recommend looking at https://github.com/containers/image/blob/main/docs/containers-registries.conf.5.md

[2021-07-23 05:17] drtpotter opened #5116 "SSHD server failing in a container under CRIO (1.21) and Kubernetes (1.21), works fine under containerd"
Hi there,

I'm trying to use SSHD (OpenSSH_8.2p1 from Ubuntu focal) in a container under Kubernetes (1.21), CRI-O (1.21) and weave networking (2.8.1). If I start SSHD inside a container in debug mode and then try to initiate an SSH connection from anywhere, the connection attempt crashes SSHD with an unspecified error code 12, so nothing helpful unfortunately. The configuration of SSHD doesn't mat

[2021-07-23 07:16] saschagrunert commented on #5116
Hey @drtpotter, can you share a container manifest being used for the test run?

[2021-07-23 07:17] cleveritcz opened #5117 "cri-o.x86_64 1.21.2-7.1.el7 - error adding seccomp rule for syscall socket: requested action matches default action of filter"
**Description**

I installed Kubernetes by kubespray. I have stuck containers in state ContainerCreating. I suspect the problem will be with cri-o.

**Steps to reproduce the issue:**
1. Installed k8s by kubespray with calico, cri-o on RHEL 7.9

Kubespray used this repo:
http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/CentOS_7/

**Describe the results you

[2021-07-23 07:26] cleveritcz commented on #5117
/help

[2021-07-23 12:14] cleveritcz commented on #5117
It happend also in older version

[2021-07-23 13:13] haircommander commented on #5117
what version of runc are you using?

[2021-07-23 16:09] haircommander commented on #4727
this has been fixed in 1.20-1.22 branches!

[2021-07-23 16:09] #4727 closed

[2021-07-23 16:46] aclave1 commented on #5104
@haircommander I'm still having this issue, even after upgrading to k8s 1.21 and cri-o 1.21. I'm going to try rolling back to 1.20

[2021-07-23 16:55] aclave1 commented on #5104
I'm not really sure how to debug this - I'm a newb when it comes to cri-o. Do you have any tips for gathering some more helpful logs or system stats? Seems like there's a version mismatch somewhere with what i'm running.

[2021-07-23 19:22] aclave1 commented on #5104
I've got some more logs. I do see an error message now: "No CNI configuration file in /etc/cni/net.d/. Has your network provider started?"

Would this issue prevent the static pods from even starting up? And then the other error message would maybe be caused by this?

[code]

[2021-07-23 19:25] haircommander commented on #5104
what is the output of `crio config`?

it will only stop pods that are not hostNetwork from coming up, as the networking plugin is responsible for configuring pod's network namespaces.

how did you install @aclave1 ?

[2021-07-23 19:36] aclave1 commented on #5104
I installed with the docs from here: https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o

Here's our exact command:

[code]

[2021-07-23 19:40] aclave1 commented on #5104
Here's the `crio config`

[code]

[2021-07-23 20:12] haircommander commented on #5104
Interesting, is there anything in `/etc/cni/net.d`? that should have been filled

[2021-07-23 20:12] haircommander commented on #5104
if not, can you put https://github.com/cri-o/cri-o/blob/master/contrib/cni/10-crio-bridge.conf in there and see if it fixes the issue? I may need to update the package...

[2021-07-23 20:35] aclave1 commented on #5104
Here's what i've got in net.d

[code]

[2021-07-23 23:12] aclave1 commented on #5104
There's 2 separate crio systemd services running on this VM, i'm not sure if this is an issue.

[code]

[2021-07-23 23:24] aclave1 commented on #5104
#4574 seems similar but the error message they report is different. When I remove the metacopy=on from my storage.conf file (as suggested in #4574 ) - My pods no longer get the same error! I'm still not able to fully init the cluster but it gets much further now. I can also confirm that another setup which is still working does not have the metacopy param in its storage.conf file.

[2021-07-24 10:53] cleveritcz commented on #5117
Hello @haircommander ,
I have runc-1.0.0-69.rc10.el7_9.x86_64.

[2021-07-24 11:02] cleveritcz commented on #5117
Thanks for hint, I had missing repository...

Now I have runc-1.0.1-0.el7.1.1.x86_64 and everything is OK.

[2021-07-24 11:02] #5117 closed

[2021-07-26 06:16] drtpotter commented on #5116
Hi @saschagrunert, sure here is an example k8s manifest that reproduces the error.

apiVersion: v1
kind: ReplicationController
metadata:
  name: sshd-test
spec:
  replicas: 1
  selector:
    app: sshd-test
  template:
    metadata:
      name: sshd-test
      labels:
        app: sshd-test
    spec:
      containers:
      - name: sshd-test
        image: drtpotter/pelagos_compute:sshd_test

[2021-07-26 06:47] #5077 closed

[2021-07-26 07:32] ccnankai commented on #5104
@haircommander @aclave1
This errors occurs in the latest versions of 1.19, 1.20 and 1.21. I followed @haircommander ‘s suggestion and switched to the older version of 1.20, now it works.

[2021-07-26 07:58] sfowl opened #5126 "CRI-O can't remove containers that create very deep directory trees"
**Description**
CRI-O cannot remove containers that create very deep directory trees. [CRI-O uses](https://github.com/cri-o/cri-o/blob/af2035b294e34cfe64863922d985468d27d9de79/vendor/github.com/containers/storage/store.go#L2495) `os.RemoveAll()` from the Go standard library, which uses a large amount of memory, proportionate to the directory tree depth, which triggers OOM Killer during container r

[2021-07-26 08:42] saschagrunert commented on #5116
The first thing I noticed is that the sshd server requires `CAP_CHROOT`, which is disabled per default in CRI-O. It also looks like that the `UsePrivilegeSeparation` option has been deprecated in OpenSSH… Can you try to add the capability to your deployment to check if it works then?

[code]

[2021-07-26 08:51] saschagrunert commented on #5126
Thank you for the detailed report @sfowl! :pray:

That's unfortunate, _but looks_ like a corner case to me. It may be appropriate to wait for the golang fix before we take any action. What's your point on that (cc @haircommander)?

[2021-07-26 09:36] drtpotter commented on #5116
Hey @saschagrunert

Yes, changing the manifest to

[code]
has resolved the issue. Thanks for spotting that.

[2021-07-26 10:15] saschagrunert commented on #5116
That's great to read @drtpotter! :+1: The thing is that the capability is always required and therefore users should not rely on the default runtime configurations. So from my point of view the application deployment needs to be updated in this case. :slightly_smiling_face:

[2021-07-26 13:25] haircommander commented on #5104
@aclave1 excellent to hear! @ccnankai can you get me the output of `crio config`? I am guessing you have a similar problem as @aclave1 , and can fix it by taking out the `metacopy=on` in your storage.conf (or crio.conf)

[2021-07-26 13:31] haircommander commented on #5117
excellent to hear!

[2021-07-26 15:14] aclave1 commented on #5104
I couldn't figure out how to install older 1.20 versions using the instructions I posted above. How can I downgrade using apt? `apt-cache policy cri-o` only shows one version for 1.20.

[2021-07-26 15:16] haircommander commented on #5104
we pin the various patch releases, which you can find here https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers:stable

so you just choose the 1.20.x version you want and replace the source

[2021-07-26 15:17] aclave1 commented on #5104
Thanks, I understand the source scheme now!

[2021-07-26 16:36] haircommander commented on #5126
we are able to set inode quotas for the read write layer, so a container user would be prevented from dosing the system *in some cases*. we'd also need quotas on volumes, which would probably require extensions to kubernetes

[2021-07-26 16:45] haircommander commented on #4790
it seems beta ephemeral containers [slipped 1.22](https://github.com/kubernetes/website/pull/27988) so I am going to push this to 1.23

[2021-07-26 16:57] haircommander commented on #4790
also, to do this we'll need to revive https://github.com/cri-o/cri-o/pull/3910

[2021-07-27 01:32] ccnankai commented on #5104
Sorry, the output is too long, more than 400 lines, can not be copied.
![image](https://user-images.githubusercontent.com/33537489/127080612-4ecb57a7-1a40-47c0-a63b-826afe6974ba.png)

[2021-07-27 01:51] ccnankai commented on #5104
@aclave1 @haircommander
According to each version number given in the link [https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers:stable](url)， I manually change the version number in /etc/apt/sources.list.d/xxx.list?   Am I right?

[2021-07-27 02:49] drtpotter commented on #5116
Yeah I see what you mean, but from my perspective this issue introduced undefined behavior that took quite a bit of time to sort out. I guess this means I'd like to see the container runtime not being any more restrictive than i'd expect to see inside a baremetal operating system. It's not always easy to modify the deployment, sometimes that specification is buried deep within a helm chart and not

[2021-07-27 03:01] #5116 closed

[2021-07-27 13:21] haircommander commented on #5104
@ccnankai the relevant crio.conf info should be near the top of the file, the first 30 lines should do

Yes, I believe that should work for you

[2021-07-28 00:56] ccnankai commented on #5104
@haircommander
  crio config output:
![image](https://user-images.githubusercontent.com/33537489/127246302-272b91d9-55b4-44e6-a995-ce91e45cf8e9.png)

![image](https://user-images.githubusercontent.com/33537489/127246349-1a5a17e8-796e-4db0-92ca-c1df38745974.png)

[2021-07-28 13:12] haircommander commented on #5104
how about /etc/containers/storage.conf?

[2021-07-29 00:41] aclave1 commented on #5104
@haircommander on ubuntu, is cri-o the package that creates the /etc/containers folder? I can't seem to recreate that folder if I delete it

[2021-07-29 03:40] ccnankai commented on #5104
![image](https://user-images.githubusercontent.com/33537489/127427499-549e1b81-3aef-4736-a82c-22bcdd810652.png)
![image](https://user-images.githubusercontent.com/33537489/127427538-32f5244c-e63c-43f8-a664-7434bf16be8b.png)

@haircommander
The picture I pasted is a working crio configuration. Not version 1.20.3.

[2021-07-29 13:16] haircommander commented on #5104
sorry @ccnankai if I missed it, but what version are you using now that is working?

[2021-07-29 14:01] msschl commented on #5064
Replay from @poettering [systemd/systemd#20184](https://github.com/systemd/systemd/issues/20184#issuecomment-889155159)

So when docker is doing something wrong, then is the same true for either runc or cri-o?

[2021-07-30 05:58] ccnankai commented on #5104
`export version=1.19 ,1.21 or 1.20`, and then type  `apt install`  .  these three automatically installed versions can't run normally. I am using 1.20.1 now.

[2021-07-30 08:13] saschagrunert commented on #5064
I'm wondering what the alternative would be. I could imagine that the mounts are held in a dedicated namespace, but then we would require additional management to keep them open if processes like crio or runc exit.

[2021-07-31 14:08] trishnendu opened #5148 "CRI-O is not honoring Stopsignal passed as signal number"
In CRI-O code , the GetStopSignal() function is passing the input string directly to unix.SignalNum function without checking if it is an integer (in string format). As unix.SignalNum() supports only a limited number of POSIX signals, for special stop signals (like SIGRTMIN+3 needed to stop  systemd pods), we need to pass it by signal number. Containerd and docker are both supporting StopSignal to

[2021-08-02 06:56] lework opened #5151 "The ubuntu 21.04 system package is missing"
The ubuntu 21.04 system package is missing

http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/

[2021-08-02 07:43] saschagrunert commented on #5151
Thank you for the hint @lework, the packages are now available: http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.21/xUbuntu_21.04/

[2021-08-02 07:44] #5151 closed

[2021-08-02 21:50] agbanagba commented on #4675
Hi @haircommander , Has this issue been worked on. I will like to take it up.

[2021-08-03 02:12] klvchen opened #5156 "How to export the image of the node when I use cro-i in k8s"
How to export the image of the node when I use cro-i in k8s, if I use docker, I can use docker save, is there any similar tool for cro-i, thank you~

[2021-08-03 07:40] saschagrunert commented on #5156
Hey @klvchen, unfortunately the Container Runtime Interface (CRI) does not support image exports for now. What you can do is using [Podman](https://podman.io) to save the image in the same way docker does. I hope this helps in your use case.

[2021-08-03 13:47] haircommander commented on #4675
hey @agbanagba no one has done this yet and we'd love your help. May I assign you?

[2021-08-03 14:05] agbanagba commented on #4675
Sure @haircommander. You can assign this to me.

[2021-08-04 01:59] #5156 closed

[2021-08-04 11:59] cleveritcz commented on #5045
I am closing this issue because it is fully working...

[2021-08-04 11:59] #5045 closed

[2021-08-04 16:02] fracarvic opened #5165 "CRI-O fails to detect link mode of binary on non english language OS"
**Description**
I'm using CRI-O static in a ubuntu server with spanish locale (LANG=es_ES.UTF-8) and logs shows the following error every few seconds:

[code]

Seems that code is using text output from command ldd and expect an exact result, and it is not the case with non-English languages. The output of ldd /usr/local/bin/crio in my system is
[code]

As a workaround , if I add
[code]
 in systemd

[2021-08-04 19:43] ajwock opened #5166 "Make /sys/fs/cgroup writable when non-privileged and using cgroups v2"
In cgroups v2, cgroups can be securely delegated and contained
[(per kernel doc on cgroups v2)](https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html#delegation-containment).

CRI-O allocates a private cgroup namespace when the node is using cgroupv2 and the pod is not privileged.  Making /sys/fs/cgroup writable would allow the processes in the container to safely manage their own cgro

[2021-08-04 19:45] haircommander commented on #5166
cc @giuseppe per our convo

[2021-08-04 19:52] haircommander commented on #5166
thanks for opening the issue @ajwock we were thinking of introducing a CRI-O config value that enables rw cgroup mounts.

The one thing I'd like to check first: I wonder if one can specify a hostPath volume mount to `/sys/fs/cgroup` to overwrite CRI-O default behavior of mounting it `ro`

[2021-08-04 21:27] #2036 closed

[2021-08-06 19:06] bkalem opened #5180 "Kubernetes 1.22"
Hello,

When i try to run kubernetes 1.22 with CRI-O 1.21 some error.

Do you have any beta CRI-O 1.22 ?

Best regards

[2021-08-06 19:58] haircommander commented on #5180
I hope to have 1.22 cut some time next week. Until then, you can try installing cri-o from the main branch with https://github.com/cri-o/cri-o/blob/master/scripts/get

[2021-08-07 16:56] pascal71 opened #5181 "CRIO on RPi huge CPU consumption by conmon and ldd"
**Description**

I have 4 RPis running K8S 1.21.3 with CRIO as the container engine and Ubuntu 21.04 as the OS.
After a while one or more of the nodes show the following symptoms:

- Nodes get sluggish
-  Top CPU users are:

Tasks: 306 total,   8 running, 298 sleeping,   0 stopped,   0 zombie
%Cpu(s): 17.4 us, 81.7 sy,  0.9 ni,  0.0 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
MiB Mem :   7809.8 total,

[2021-08-09 13:57] haircommander commented on #5104
cc @giuseppe, there seems to be a c/storage regression with handling of kernel capabilities between v1.24.5 and aa7e38beb07f can you PTAL?

[2021-08-09 14:25] giuseppe commented on #5104
the only patch that seems related in that range is dd99208290f13db022dbace1e2357df32836a767

Is there any chance we can try with a newer containers/storage and see if it was solved already?

[2021-08-09 14:43] haircommander commented on #5181
how did you install? from build.opensuse.org? I wonder if the static builds would have the same issue

[2021-08-09 14:56] pascal71 commented on #5181
Good afternoon Peter,

I did indeed install from the APT repo's for Ubuntu there.

Kind regards,

    Pascal van Dam

On 8/9/21 4:43 PM, Peter Hunt wrote:

--

[2021-08-09 18:43] ajwock commented on #5166
Could you point out a part of the source code that I would need to edit in order to prototype this change?

[2021-08-09 18:44] haircommander commented on #5166
here is the line where we specify the cgroup mount https://github.com/cri-o/cri-o/blob/master/server/container_create_linux.go#L922

[2021-08-09 18:55] pascal71 commented on #5181
Good evening Peter,

Yes. Np. I will setup a different cluster for that, but I will test with
the static binaires.

It will take a little time, but I will come back with the results.

Kind regards,

   Pascal van Dam

On 8/9/21 6:02 PM, Peter Hunt wrote:

--

[2021-08-10 15:15] VictorCallejas opened #5187 "Pulling image error - No space left on device (small /var/tmp)"
Hi,

I am getting this error when kubernetes tries to pull images. The nodes have a very small _/var/tmp_ directory.

`FATA[0002] pulling image: rpc error: code = Unknown desc = Error writing blob: error storing blob to file
"/var/tmp/storage178245615/2": write /var/tmp/storage178245615/2: no space left on device`

For that reason I have been trying to change this temporal directory to another loc

[2021-08-10 16:54] haircommander commented on #5187
hey @VictorCallejas thanks for opening the issue

you can add the following drop-in file into `/etc/crio/crio.conf.d` to specify this:
[code]

[2021-08-11 11:25] liyilun1994 opened #5188 "The container mounted /var/lib/containers cannot read the merged directory of the container started after it"
hi, Team:

this's my env.

Version:  0.1.0
RuntimeName:  cri-o
RuntimeVersion:  1.20.3-6.rhaos4.7.git0d0f863.el8
RuntimeApiVersion:  v1alpha1

OpenshiftVersion: 4.7

detail:
step 1: start a privileged  container  mounted /var/lib/containers:/var/lib/containers  and named A

step 2: start a normal container named Busybox after A

step 3: use `crictl inspect <contianer-id>` to  search Busybox merged

[2021-08-11 13:46] haircommander commented on #5188
what is the pod spec for A?

[2021-08-11 14:46] liyilun1994 commented on #5188
A's spec the same as this:
spec:
  selector:
    matchLabels:
      app: ciss
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: ciss
    spec:
      restartPolicy: Always
      serviceAccountName: ncsp-account
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      securityContext: {}
      containers:
        - resources:
            l

[2021-08-11 19:33] ajwock opened #5192 "Build failure following install.md instructions with latest changes"
**Description**

Having a build-from-source error when following the install.md instructions.

**Steps to reproduce the issue:**
1. Follow instructions at https://github.com/cri-o/cri-o/blob/master/install.md#get-source-code
2. Follow instructions directly below that:  https://github.com/cri-o/cri-o/blob/master/install.md#build

**Describe the results you received:**
Error message:
make
go build -

[2021-08-11 19:38] haircommander commented on #5192
what go version do you have?

[2021-08-11 19:39] haircommander commented on #5192
the main branch currently requires 1.16 I believe

[2021-08-11 19:39] ajwock commented on #5192
go version go1.15.8 linux/amd64

That makes sense, I'll update my go.  Thanks.

[2021-08-11 19:40] ajwock commented on #5192
As a doc note, the install.md page says go version needs to be 1.12.x or higher though

[2021-08-11 19:45] haircommander commented on #5192
any interest in submitting a PR to update @ajwock :)

[2021-08-11 19:46] ajwock commented on #5192
Sure, I can do that.

[2021-08-13 02:57] V1nceZhang commented on #5188
Also encountered the same problem, hope to answer

[2021-08-13 06:13] gjkim42 opened #5198 "Support more DNS search paths"
**Description**

kubernetes issue: https://github.com/kubernetes/kubernetes/issues/104352

cri-o does not allow DnsConfig to have more than 6 search paths. However, modern libcs allow more search paths(many are unlimited)

According to https://man7.org/linux/man-pages/man5/resolv.conf.5.html,
[code]

**Steps to reproduce the issue:**
1. Launch kubernetes v1.22.0 with enabling the feature gate [Exp

[2021-08-13 06:13] gjkim42 commented on #5198
/assign

[2021-08-13 09:07] VictorCallejas commented on #5187
hi @haircommander thanks for your fast response! Sorry for the delay but some nodes needed a linux kernel update.

Seems to be working, so maybe when I specified _--big-files-temporary-dir_ before, maybe was defined in other place too and there was a priority conflict. Thanks!

Now I got and error in the next steps:
[code]
I imagine this error is not about the temporal dir, but the last one where

[2021-08-14 04:54] pascal71 commented on #5181
Good morning Peter,

Running for 13h now with the static binaries (latest), but one of the
nodes is already showing conmon using excessive mounts of CPU.

Let me know if you need any logs or so.

Kind regards,

    Pascal van Dam

On 8/9/21 6:02 PM, Peter Hunt wrote:

--

[2021-08-16 10:07] harche opened #5202 "Kubernetes node e2e test fail (and flake) with recent `master` commit"
**Description**

Master branch of crio is very flaky with node e2e tests. While the commit  `4d14fd61d2d533a0bb81557b54d3505be830efa7` and  earlier are relatively stable provided the host is using runc v1.0.1

**Steps to reproduce the issue:**
1. Run node e2e tests
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.

[2021-08-16 10:25] saschagrunert commented on #5202
As discussed earlier, I think https://github.com/cri-o/cri-o/pull/5113 is the suspicious PR introducing the breaking change.

[2021-08-16 14:08] haircommander commented on #5181
we have static conmon builds as well!

[2021-08-16 14:09] haircommander commented on #5181
though I haven't added them to v2.0.28 or v2.0.29 yet... v2.0.27 should work for you https://github.com/containers/conmon/releases/tag/v2.0.27

[2021-08-16 16:00] haircommander commented on #5180
mostly general fixes, though we should be adding swap support to conform to the latest cri changes

[2021-08-16 17:06] AbdelmalekBen98 commented on #5180
i have the same problem , when i deployed nginx image in k8s 1.22 with cri-o 1.21 the status of containers was blocked in "Pending" , i didn't have this problem with k8s 1.21 and crio 1.21 . i supposed that the problem was in cri-o  .
any suggestions pls ?
@MarcoR83  i have some questions if you don't mind .
have you changed the kubelet config ?
and if it is possible can you share with me your kub

[2021-08-16 20:04] haircommander commented on #5187
sanity check: are you running CRI-O as root? I know rootless podman runs into issues with NFS because it doesn't support user namespaces well, but AFAIK CRI-O should be able to access?

cc @nalind @giuseppe @rhatdan

[2021-08-17 13:22] haircommander commented on #5180
as an update: cri-o ci has been blocked the past week preventing us from merging some important pieces for the release. It is now fixed, and we will be ushering everything through asap :)

[2021-08-17 18:22] haircommander commented on #5188
could you update to latest 4.7 to see if it fixes the issue? we have had a fix in our container storage library that may help

[2021-08-18 03:48] LinanV commented on #5188
thanks, let me try

[2021-08-18 06:29] sfowl commented on #5126
inode quota pr: https://github.com/containers/storage/pull/970

[2021-08-18 09:24] MarcoR83 commented on #5180
/etc/kubernetes/kubelet.env
[code]

what i added was --feature-gates=IPv6DualStack=true,SeccompDefault=true --seccomp-default

/etc/kubernetes/kublet-config.yml
[code]

in kubespray I had to make sure that resolvConf: "/run/systemd/resolve/resolv.conf" is set, because dns was not working on Fedora 34 without. Might be the default for F34 not , not sure.

[code]

this config I fiddled with in the p

[2021-08-18 09:50] AbdelmalekBen98 commented on #5180
Thank you @MarcoR83  ,i really appreciate your help ♥ ♥

[2021-08-18 10:36] MarcoR83 commented on #5180
you welcome :)

[2021-08-18 13:08] haircommander commented on #5180
FYI, I'm in the process of adopting the package :) . it was orphaned by mistake

[2021-08-18 13:49] bkalem commented on #5165
hello,

i have the same probleme even if i am with en_US

[code]

[code]

[code]

[2021-08-18 13:54] bkalem commented on #5180
hello @haircommander

Thank you for your get script, it's work nice :

[code]

[code]

[2021-08-18 14:02] bkalem commented on #5180
hello,

i report the error `error detecting link mode of binary` in this link :
https://github.com/cri-o/cri-o/issues/5165#issuecomment-901131450

[2021-08-18 14:05] saschagrunert commented on #5165
@bkalem can you provide me the output of `ldd $(which crio)` for stdout and stderr?

[2021-08-18 14:11] bkalem commented on #5165
hello @saschagrunert

[code]

[2021-08-18 14:12] bkalem commented on #5165
[code]

[2021-08-18 14:14] bkalem commented on #5165
hello @saschagrunert

if you need more information about my system

[code]

[2021-08-18 16:47] #5198 closed

[2021-08-19 01:48] rockmenjack opened #5219 "possible bug in openpgp_tag.sh"
Hi, I am trying to compile crio and enable image signing support, but in [hack/openpgp_tag.sh](https://github.com/cri-o/cri-o/blob/master/hack/openpgp_tag.sh), the check is a `! gpgme-config --libs`. Are we suppose to enable this feature when  `gpgme-config --libs` succeed?

[2021-08-19 02:44] newhuangchuan opened #5220 "Compilation failed under mips64 architecture"
**Description**

Compilation failed under mips64 architecture
**Steps to reproduce the issue:**
1.make
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**

[code]
**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):*

[2021-08-19 02:46] newhuangchuan commented on #5220
crio --version
[code]

[2021-08-19 07:45] saschagrunert commented on #5219
I would say yes, the logic seems inverted. Do you wanna open a PR to fix that?

[2021-08-19 09:07] saschagrunert commented on #5165
@bkalem thank you, can you double check if this PR fixes the issue: https://github.com/cri-o/cri-o/pull/5221

If not, then we may switch to a build tag rather than the `ldd` invocation.

[2021-08-19 19:40] ajwock opened #5228 "Allow a CRI-O container's cgroup to be delegated to a user"
Reference to discussion in 8/19/2021 weekly meeting.

Acceptance:  When crio is using cgroups v2, there should be a way to specify a user that will own the root cgroup within the container.  Low level details not yet determined.

My first step is to try to make a POC.

[2021-08-19 19:44] ajwock commented on #5228
And, to anyone who might know- since we actually have to change some filesystem ownership and permissions, does this require messing with the OCI, making these changes as a cri-o process, or simply passing the right configs to the OCI?

[2021-08-19 20:01] ajwock commented on #5228
Documentation note, quoted in this [lkml link](http://lkml.iu.edu/hypermail/linux/kernel/1801.1/01071.html):

A 'proper' way to delegate cgroups would be to use the /sys/kernel/cgroup/delegate file to know which files to chown.  These are the files that belong to the cgroup itself and not the parent, and thus should be controlled by the delegatee.

[2021-08-20 20:15] mrunalp commented on #5228
@giuseppe @kolyshkin ptal

[2021-08-22 06:33] pascal71 commented on #5181
Good morning Peter,

One thing that confuses me is that the conmon from the static package is
already 'statically linked'. So there should be no difference from the
one from the static tar.gz and this one.

See:

conmon: ELF 64-bit LSB executable, ARM aarch64, version 1 (SYSV),
statically linked, for GNU/Linux 2.6.32, stripped
***@***.***:/usr/local/bin$ file conmon.old
conmon.old: ELF 64-bit LSB

[2021-08-23 07:35] VictorCallejas commented on #5187
Yes we are running crio as root

[2021-08-23 09:25] LittleFox94 opened #5240 "Packages for debian 11"
Some days ago, debian 11 (bullseye) was released - I'd love to see cri-o packaged for debian 11.

Already asked in Slack before making this issue, but since there wasn't a response in 18h (which I would think is enough time if someone knows there are plans to answer with "it's planned"), I thought this issue will probably not hurt :)

If there is any work required to add support for debian 11, I'm

[2021-08-23 11:52] saschagrunert commented on #5240
I enabled debian 11 in obs, let's see if the packages build successfully :)

[2021-08-23 11:58] LittleFox94 commented on #5240
Nice, thank you @saschagrunert :)

[2021-08-23 12:00] saschagrunert commented on #5240
Seems to work, so closing this one

[2021-08-23 12:00] #5240 closed

[2021-08-23 13:39] haircommander commented on #5181
cri-o is trying to figure out whether it is dynamically linked or not, which it determines it is not :)

[2021-08-23 13:40] saschagrunert commented on #5181
The ldd invocations should be gone with the merge of https://github.com/cri-o/cri-o/pull/5239

[2021-08-23 19:13] #5165 closed

[2021-08-24 07:51] LittleFox94 commented on #5240
Working great on my first debian 11 k8s node, too :)

[2021-08-24 08:04] saschagrunert commented on #5240
Awesome, feel free to reach out anytime if you see any bugs or strange behavior. :pray:

[2021-08-24 08:27] VictorCallejas commented on #5187
I made a mistake in the previous message, my team just told me that they are mounting `/dsk1` in the node as any other directory and not as an NFS. This makes the error even more strange.

Sorry for the mistake.

[2021-08-24 09:30] MarcoR83 commented on #5180
Any news on the release?

[2021-08-24 14:52] haircommander commented on #4658
hey all, considering newer runcs now support this capability, we have opted to [undo the workaround](https://github.com/cri-o/cri-o/pull/5241/files#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6L80) that fixes this issue. If anyone runs into the issue again, please let me know and we can figure out how to get you a newer runc

[2021-08-25 15:32] haircommander commented on #5187
can I have the /etc/mtab entry for dsk1? It seems to be the same as this issue https://github.com/containers/podman/issues/8647#issuecomment-742008111

[2021-08-25 15:38] gavol commented on #5187
Here is it:

/dev/sda7 /dsk1 ext4 rw,relatime,data=ordered 0 0

[2021-08-25 15:47] haircommander commented on #5187
can you try setting
[code]
in /etc/containers/storage.conf

[2021-08-26 10:41] alexey-boyko opened #5256 "is crio-o FIPS compliant and how to enable fips mode"
**Description**

We have a requirement for container runtime to be FIPS compliant, I saw [here](https://access.redhat.com/documentation/en-us/openshift_container_platform/4.3/html/installing/installing-fips) it was mentioned that cri-o supports FIPS-Mode
Is there a way to explicitly enable it even if it's enabled by default

[2021-08-28 03:08] newhuangchuan commented on #5220
Sure, thanks

[2021-08-30 11:00] grunlab opened #5267 "Cri-o 1.22.0 packages not available for centos7, debian10, fedora33, raspbian10, xUbuntu18.04"
Cri-o 1.22.0 packages are currently not available for centos7, debian10, fedora33, raspbian10 & xUbuntu18.04

Example for centos7:
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/CentOS_7/x86_64/
--> the RPM cri-o-1.22.0-11.1.el7.x86_64.rpm is missing

[2021-08-31 08:25] gavol commented on #5187
Sorry for the delay in may answer, unfortunately the nodes were down for maintenance.
The skip_mount_home setting seems to work.

I have tried to restart crio without that option and it was complaining; I have then set that specific option and it could restart without any error (so far).

Thanks.

[2021-08-31 08:27] #5187 closed

[2021-08-31 10:25] ajwock commented on #5228
Had to change to a different kubernetes cluster because I was previously using a heavily modified kind cluster.  But thanks for the help.  I can confirm that as pod root within a namespace, I can create and configure cgroups.  I'll need to do a little more research before I'm sure this works with other components of the program.

[2021-09-01 00:28] mrunalp commented on #5256
https://pagure.io/go is the compiler used to compile CRI-O for fips mode in OpenShift.

[2021-09-01 06:44] alanpeng opened #5273 "OCI runtime error with package containers-common-1-18.el7.20.1.noarch.rpm"
**Description**

**Steps to reproduce the issue:**
1. I installed podman-3.0.1-2.el7.3.1.x86_64 and cri-o by using this yum repo:
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/devel:kubic:libcontainers:stable.repo
It worked very well few weeks ago while the containers-common package is 1-17.el7.17.1.

2. Now the version of containers-common is upgraded to

[2021-09-03 17:58] timricese opened #5276 ""failed to connect: dial unix: missing address" log spam when using kata-containers 2.2.0 as runtime"
**Description**

Discussed and diagnosed on kata-containers slack https://katacontainers.slack.com/archives/C86U7NZND/p1630576915021800 where it was recommended to report this here.

When using kata-containers 2.2.0 on kubernetes 1.21.4, cri-o 1.21.2 the cri-o log fills with events such as
[code]

when starting/stopping pods and even when using `kubectl exec` to get a shell in a running pod.

Othe

[2021-09-03 18:30] fidencio commented on #5276
/area vm

[2021-09-03 18:31] fidencio commented on #5276
/cc @fgiudici @littlejawa

[2021-09-06 12:22] anguslees opened #5279 "Static ./install script includes bashisms but runs sh"
The `./install` script included with the static binaries runs `#!/usr/bin/env sh` and yet has bash-specific constructs.

https://github.com/cri-o/cri-o/blob/8118d4a58693d1c7211b5fa73df1be2db1f9404f/contrib/bundle/build#L96

Running on (eg) Armbian (basically Debian), which defaults to sh -> dash:

[code]

[2021-09-06 14:40] thanos1983 opened #5282 "Can not pull image docker.io/calico/kube-controllers:v3.20.0 with crictl on CRI-O 1.21.2"
**Description**

Launching cluster with CRI-O 1.21.2 and kubernetes version 1.21.[3-4] results in problem because CRI-O socket does not pull the image.

**Steps to reproduce the issue:**
1. Install CRI-O socket 1.21.2
2. Run crictl or launch cluster with this socket
3. Observer stdout / stderr

Sample:

[code]

**Describe the results you received:**
Error that the socket has reached maximum number

[2021-09-07 06:56] saschagrunert commented on #5282
Hey @thanos1983, thank you for opening this issue. Unfortunately we cannot do much here because it's a limitation of the docker registry. I'm not sure what the plans of the calico projects are, but maybe they can host their images in a registry which does not face such limitations.

[2021-09-07 07:03] thanos1983 commented on #5282
Hello @saschagrunert,

You are absolutely right. Apologies for raising the ticket with CRI-O team.

Initially I was running my cluster with 1.22 everything was working fine I switched to 1.21 to test something and things started to break. Once I tried to switch back to 1.22 I noticed the problem.

This is nothing to do with CRI-O I am closing the ticket.

Thanks again for the quick follow up.

BR

[2021-09-07 07:03] #5282 closed

[2021-09-07 18:52] haircommander commented on #5187
glad we could figure it out!

[2021-09-07 20:44] gavol commented on #5187
That would not have been possible without your precious help. Thanks again.

[2021-09-09 09:06] thanos1983 opened #5285 "Error converting YAML to JSON: yaml: line 124: mapping values are not allowed in this context"
**Description**

Deploying cluster.yaml file directly through GitHub is failing. The problem is not occurring when a user copies and deploys the file locally. It seems to be a character somewhere that is messing up the deployment.

**Steps to reproduce the issue:**
1. Simply deploy metrics (sample): `kubectl create -f https://github.com/cri-o/cri-o/blob/master/contrib/metrics-exporter/cluster.yaml

[2021-09-09 09:52] saschagrunert commented on #5285
Thank you for the report @thanos1983, a fix is incoming in #5286

[2021-09-09 13:33] uablrek opened #5287 "Support CNI 1.0.0"
**Description**

CNI 1.0.0 is out. Cri-o should support the first official release.

I filed a similar issue on K8s https://github.com/kubernetes/kubernetes/issues/104861, but in my case the problem seem to be in `cri-o`.

**Describe the results you received:**

When trying to use CNI 1.0.0 with config;
[code]
I get in the `kubelet` log;
[code]

I thought this was a `kubelet` problem first, but it

[2021-09-09 13:37] uablrek commented on #5287
I am happy to test any PR.

[2021-09-09 16:38] #5285 closed

[2021-09-09 18:09] spowelljr opened #5292 "Make s390x arch packages available for xUbuntu_20.04"
Similar to #2467, [minikube](https://github.com/kubernetes/minikube) now supports the s390x arch as of our last release. The current version of cri-o we're using 1.20, has a deb package for s390x https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.20/xUbuntu_20.04/. I'm in the process of updating cri-o to 1.22 but found that there's no package for s390x https:/

[2021-09-10 07:40] saschagrunert commented on #5287
I think we can first update the OCICNI dependencies, which I take care of in https://github.com/cri-o/ocicni/pull/95

[2021-09-10 10:00] r10r opened #5294 "userns-mode: cannot use uidmapping or gidmapping if not running as root"
Hi there,

i'm playing around with the userns-mode feature introduced in ad2ed3b79251ffa2f60f28ba4a975b24abc9d311

I noticed that is's only possible to use the `uidmapping` and `gidmapping` settings if the pod runs as root.

[code]

If I remove `spec.securityContext.runAsUser: 0` I'll get the following error:

But if possible I want to run the containers as non-root.
So out of curiosity I disabled

[2021-09-10 11:05] thanos1983 commented on #5285
@saschagrunert  - I still get the error. I see that the fix was merged in master. I will test again tomorrow in case that was not yet updated for some reason.

[2021-09-10 12:48] r10r commented on #5294
The discussion may contribute to the userns-mode documentation issue #5030

[2021-09-10 13:13] haircommander commented on #5294
@giuseppe WDYT

[2021-09-10 13:36] haircommander commented on #5292
I've flipped the bit for s390x for ubuntu 20.04 and ubuntu 20.10, it should be ready in an hour or so

[2021-09-10 17:08] spowelljr commented on #5292
Awesome @haircommander, thank you very much!

[2021-09-10 17:09] spowelljr commented on #5292
I see the there now, thanks you very much! Since you flipped the bit, will it be available for all future releases as well, or is this something you have to manually do everytime?

[2021-09-10 17:35] wgahnagl commented on #5039
:thinking: this is weird, because I went back in the git history to right before this change and reverted it, but the logs show that the manifest is still getting requested twice.
It seems to be an isssue going back even further than even 2018

Any ideas for where I should look next?
[code]

[2021-09-10 19:19] haircommander commented on #5292
if I've setup my scripts correctly, it should propegate to future releases!

[2021-09-10 20:21] spowelljr commented on #5292
Thank you for doing that, much appreciated!

[2021-09-10 20:21] #5292 closed

[2021-09-10 23:19] xinau opened #5299 "missing cri-o package in repo for ubuntu 18.04 / cri-o 1.22"
**Description**

While trying to install the latest cri-o version using the provided mirrors and installation guide. I wasn't able to find any package named `cri-o`. After further investigation I've taken a look with my browser in the [repo](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/xUbuntu_18.04/) only to notice the lack of a cri-o package there a

[2021-09-11 03:22] Rina-Y opened #5300 "CRI-O missing for ubuntu 21.04 on arm64."
After setting up the repositories for ubuntu 21.04 on a freshly installed arm64 device, I found that apt could not find the `cri-o` package.  Decided to take a look using my web browser, and seems that regardless of what version of cri-o i checked a repository for, there was no arm64 build in the 21.04 cri-o repositories.  There are arm64 builds in some of the 20.10 repositories, but none in the 2

[2021-09-11 23:58] thanos1983 opened #5301 "dial tcp 10.103.134.238:443: connect: no route to host for metrics-server with socket 1.22.0"
**Description**

**Steps to reproduce the issue:**
1. Run a cluster with version 1.22.1 (k8s) and 1.22 (CRI-O)
2. Launch metrics-server latest release.
3. Simply after describe metrics-server `kubectl describe apiservice v1beta1.metrics.k8s.io`

**Describe the results you received:**
Sample of the result:

[code]

**Describe the results you expected:**
If we switch to downgrade k8s to version 1.21

[2021-09-12 00:05] thanos1983 opened #5302 "RDT is not enabled: failed to detect resctrl mount point: resctrl not found in /proc/mounts"
**Description**

**Steps to reproduce the issue:**
1. Install kubernetes with version 1.22.1 and CRI-O 1.22.0
2. Then simply run `crio version`
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Output without the error.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**Additiona

[2021-09-13 08:11] giuseppe commented on #5294
the reason for this limitation is to avoid an user could map root (or another privileged user) on the host to a different ID in the container.  That would circumvent all the limitations in place (like the OpenShift SCCs) for the UID used to run the container.

It is allowed only for root, since if you are already running as root there is nothing to gain from this feature.

[2021-09-13 11:43] r10r commented on #5294
@giuseppe Thanks for the response.

Since I'm not an OpenShift user I'm not familiar with the [OpenShift Security Context Contraints](https://docs.openshift.com/container-platform/4.8/authentication/managing-security-context-constraints.html).

Shouldn't `/etc/subuid` and `/etc/subgid` be used  to check if the pods id mappings are valid ?

I would expect that the following works:

**/etc/subuid**

[2021-09-13 16:29] haircommander commented on #5302
this is just a bit of info, but we've dropped the log from main and are working on it for 1.22: https://github.com/cri-o/cri-o/pull/5298

[2021-09-13 17:13] #5279 closed

[2021-09-13 18:16] haircommander commented on #5220
cool thanks! closing this

[2021-09-13 18:16] #5220 closed

[2021-09-13 18:16] haircommander commented on #5219
fixed by #5238

[2021-09-13 18:16] #5219 closed

[2021-09-13 18:19] haircommander commented on #5301
could we have the cri-o and kubelet logs?

[2021-09-13 18:19] haircommander commented on #5302
attached PR is merged

[2021-09-13 20:09] haircommander commented on #5267
sorry for the delay, thanks for opening the issue. They're all broken for a variety of different and exciting reasons. is there a distro in particular you are looking for, or do you want the support matrix to be more accurate?

[2021-09-14 07:19] giuseppe commented on #5294
The additional IDs for the user are currently used for creating the user namespace when using "rootless" CRI-O, that is the same mechanism used by other container tools  like Podman and Buildah.

We could probably extend the `uidmapping=` attribute to also consider the additional IDs when running as root, as you've suggested.  That seems like a good idea.

[2021-09-14 09:18] r10r commented on #5294
Sounds good. Just tell me if I can help.

[2021-09-14 12:50] thanos1983 commented on #5301
Hello @haircommander ,

Sure I can give you the logs. I think better solution is to provide you a way to replicate it :)

I am actually working on a small silly project of launching locally k8s clusters with Vagrant and VirtualBox.

I want to be able to test elements with each other to be able to see resources and performances on all k8s versions :).

Among the elements that I want to be able to t

[2021-09-14 13:21] thanos1983 commented on #5301
Requested information (CRI-O) debug mode:

[code]

Kubelet:

[code]

Hope this helps.

You can replicate it as described above (and also setting CRI-O debug mode on default location). You can also replicate that it works on the same k8s version with containerd or 1.21.4 and CRI-O 1.21.2. All these is possible with the method described abobe.

If you see something wrong with the small silly project

[2021-09-14 14:24] mtrmac commented on #5039
That was just intended to point at the code _location_, not at the commit that introduced it. The concept of checking for presence before pulling has existed in CRI-O certainly for > 2 years.

The point about different user agents surprises me a bit, though. Either way, ultimately one way to tell for sure would be to hook the HTTP client implementation in the standard library or something like tha

[2021-09-14 19:37] grunlab commented on #5267
I'm looking for those two distro/arch in particular:
- centos_7 / x86_64 : for a professional usage
- raspbian_10 / armhf : for a personal usage

[2021-09-15 08:46] msschl commented on #5299
There are some more packages missing...

Looking at http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.20/xUbuntu_20.04/InRelease
the latest release for ubuntu 20.04 is cri-o version: 1.20.3~0. However, the latest release is 1.20.5 released on the 14.09.2021

[2021-09-15 11:44] giuseppe commented on #5294
I don't think anyone from the core team is going to work soon on this feature.  Probably the best way to move it forward is to open a PR that implements it.

It must be an opt-in feature that is not enabled by default.  `pkg/idtools` from containers/storage can be used to read the additional mappings available for the user.

[2021-09-15 15:38] rayshoo opened #5311 "Allow the registry using self-singed ca-certificate"
**Description**

**Steps to reproduce the issue:**
1. I generated self-signed ca-certificate with openssl
2. I generated crt, key file with self-signed ca as provider
3. I use those on private docker registry
4. when I try to pull images from my registry with kubernetes based on crio runtime, get this error log `Failed to pull image "m1.dev/rayshoo/ubuntu:1.0": rpc error: code = Unknown desc = err

[2021-09-15 15:55] haircommander commented on #5311
@QiWang19 can you PTAL

[2021-09-16 09:14] thanos1983 opened #5314 "CRI-O metrics file redirects to an html page hence it is failing to be deployed with kubectl"
**Description**

This ticket is related to [Error converting YAML to JSON: yaml: line 124: mapping values are not allowed in this context #5285](https://github.com/cri-o/cri-o/issues/5285#issuecomment-916820681).

After a bit of looking around I figured out that there is a redirect in the background that is happening and the last jump is an html page. Sample below:

[code]

**Steps to reproduce th

[2021-09-16 14:42] haircommander commented on #5314
I think the URL you're using isn't correct:
https://raw.githubusercontent.com/cri-o/cri-o/main/contrib/metrics-exporter/cluster.yaml
should not redirect

do we have the wrong URL in our docs somewhere?

[2021-09-16 17:36] v-khtruo opened #5319 "Possibly corrupted metadata xml file on public stable repository."
CentOS 7.9 - 64

**Description**
Repository metadata xml is corrupted, hence attempting to install cri-o ended up in error "[Errno -1] Metadata file does not match checksum". Simply regenerate repo data with createrepo command can help resolve this.

**Steps to reproduce the issue:**
1.   yum --disablerepo=* --enablerepo=devel_kubic_libcontainers_stable makecache
2.
3.

**Describe the results you

[2021-09-16 21:07] haircommander commented on #5267
for centos 7 I am still waiting on golang 1.16 to make it into EPEL, not sure how long that will take. I will look at raspbian tomorrow. thanks for the patience :)

[2021-09-17 06:56] odidev opened #5320 "Require information regarding the usage of conmon with CRI-O."
**Description**
I am trying to test conmon tool on a cluster with CRI-O as runtime on Linux/ARM64 platform.

I am able to install and use CRI-O as runtime but not getting any reference how to run and check logs on conmon with CRI-O.

It would be helpful if you could point me to any reference or documentation explaining the use of conmon with CRI-O.

**Steps to reproduce the issue:**
1) Installed C

[2021-09-17 08:53] thanos1983 commented on #5314
Hello @haircommander ,

I did not pick up the url from the documentation I just followed the path from the git hub.

Sample: `https://github.com/cri-o/cri-o/tree/main/contrib/metrics-exporter` and then `cri-o/contrib/metrics-exporter/cluster.yaml` it redirects to `https://github.com/cri-o/cri-o/blob/main/contrib/metrics-exporter/cluster.yaml` from there when I try to reach it through curl there is

[2021-09-17 08:53] #5314 closed

[2021-09-17 08:56] thanos1983 commented on #5301
Hello @haircommander ,

Do you have an update on this? Do you need more information from my side? :)

[2021-09-17 13:42] haircommander commented on #5320
Hm I don't understand why you're running conmon in conjunction with running kubernetes. CRI-O will call conmon itself. if you're testing conmon behavior, you shouldn't need kubernetes. if you're running kubernetes, you shouldn't need to run conmon manually.

as far as documentation, we partially don't document conmon's behavior because it's not really meant to be run by users, but exec'd by cri-o

[2021-09-17 13:44] haircommander commented on #5314
I would appreciate any PRs that could improve the documentation :smile:

[2021-09-17 18:24] haircommander commented on #5301
sorry I just haven't gotten a chance to look at it yet

[2021-09-17 18:46] haircommander commented on #5300
Thanks for letting me know! I am not sure what is going on with the repo and I've got a number of things to keep track of but rest assured this is still on my list :) thanks for your patience

[2021-09-17 21:06] haircommander commented on #5299
Sorry folks I have trouble maintaining all of the different versions for all the different distributions people want. I believe 1.20 and 1.21 are fixed, 1.19 is nearly up to date, and I'm looking into the 1.22 issues. thanks for the patience

[2021-09-18 13:45] utam0k opened #5326 "`btrfs-tools` is not available"
**Description**
I ran the following command on ubuntu20.04 according to install.md, but it failed because `btrfs-tools` is not available.
[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**

[2021-09-18 13:46] utam0k commented on #5326
I'll fix it.

[2021-09-19 07:45] mbleichner opened #5329 "Version mismatch in Debian_11 repo"
**Description**

When installing CRI-O via Debian_11 repository, apt reports installed version as `1.22.0~0`, but `crio --version` says `1.19.4`.

**Steps to reproduce the issue:**
1. Follow installation instructions with `OS=Debian_11`, `VERSION=1.22`
2. Check output of `apt show cri-o` and `crio --version`

**Describe the results you received:**

    $ apt show cri-o
    Package: cri-o
    Versi

[2021-09-19 09:44] utam0k commented on #5329
I've prepared a minimal command that can reproduce the problem in this issue. Please use this to solve this issue.
[code]

[2021-09-19 19:10] mbleichner commented on #5329
@utam0k `$` variables need to be escaped for this to work.

Alternatively, put the first `EOF` in single quotes (like `/bin/bash -s << 'EOF'`) to disable variable substitution in the heredoc.

[2021-09-20 02:36] dilyanpalauzov opened #5330 "crio.conf.5.md - bind_mount_prefix documented twice"
https://github.com/cri-o/cri-o/blob/main/docs/crio.conf.5.md documents bind_mount_prefix twice.

[2021-09-20 07:49] thanos1983 commented on #5314
Will do during the weekend :)

[2021-09-20 07:52] thanos1983 commented on #5301
No worries no problems :). It is not urgent for me as I can work with other versions of k8s but I think it will be nice to have with the next release of CRI-O (1.22.1) as metrics are important for HPA. :)

It works fine on 1.21.3 so something is going on 1.22.0 :(

I am sure you will figure it out :)

[2021-09-20 12:42] ajwock commented on #5294
For your use case, it's possible that using userns-mode: "auto" may work, if you just want to have a user in the container act as root in the container without being root on the machine.  You need a containers mapping in subuid and subgid, like so:
containers:1000000:65536.  You could also have such a mapping for the user specified in runAsUser, in which case you'd appear as root in the container

[2021-09-20 14:46] odidev commented on #5320
Okay. Thank you for the response. I understand that CRI-O takes care of executing conmon, Is there any way of seeing the logs of containers in conmon as an user?

[2021-09-20 14:52] haircommander commented on #5320
is something like `crictl logs` or `kubectl logs` not sufficient? like, do you want to see the raw file on disk where the kubelet asks the container to put the logs?

[2021-09-20 16:24] haircommander commented on #5299
18.04 and 1.22/1.21/1.20/1.19 are fixed, thanks for the patience folks! I am closing this as such :) thanks for using cri-o!

[2021-09-20 16:24] #5299 closed

[2021-09-21 06:06] uablrek opened #5335 "Transient container restarts, cgroup/cpuset - no space left on device"
**Description**

After upgrade `cri-o` v1.18.3 -> v1.22.0 I experienced occational container restarts;

[code]
The instant restart was always succesful and I might have missed it if not some K8s e2e tests check container restarts and fails.

**Steps to reproduce the issue:**
1. Install K8s with crio v1.22.0
2. Run K8s e2e tests
3. Quickly do `kubectl describe pod -n namespace podid` when a restart

[2021-09-21 06:10] uablrek commented on #5335
My guess without knowing anything about cgroup/cpuset is a race. Containers were started before "/sys/fs/cgroup/cpuset/kubepods/" was fully configured. By setting group.clone_children=1 the crucial setting was inherited from the parent from start.

[2021-09-21 20:55] haircommander commented on #5300
Ok I think 1.22 is built for ubuntu 21.04. Thanks for the patience!

[2021-09-21 20:55] #5300 closed

[2021-09-22 09:21] justabaka commented on #5267
Any ideas on when it's going to be possible to build packags for CentOS 7 or what packages is okay to substitute them with? 1.22 was realeased almost a month ago.

I'd build that myself, no problem, but it feels a bit weird.

[2021-09-22 14:08] utam0k commented on #5329
@haircommander Is this issue possibly a duplicate of https://github.com/cri-o/cri-o/issues/5267?

[2021-09-22 17:27] haircommander commented on #5329
this one is a bit different than that, as it looks like debian 11 cri-o 1.22 is built but is linking incorrectly or something

[2021-09-22 17:53] QiWang19 commented on #5311
@rayshoo  /etc/crio/crio.conf does not have the cert-dir configurations. The https://github.com/containers/image/blob/main/docs/containers-certs.d.5.md#description points out the `$HOME/.config/containers/certs.d` or `/etc/containers/certs.d` can be used to store the certificates.

[2021-09-22 19:17] spowelljr opened #5341 "s390x package went missing for xUbuntu_20.04"
Hi, I asked for s390x package to be added for 1.22 for xUbuntu_20.04 in this issue #5292.

The deb package was added and everything was fine, however, today I've discovered that the package has gone missing and that the s390x folder is empty.

https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/xUbuntu_20.04/s390x/

![Screen Shot 2021-09-22 at 12 15 35 PM](h

[2021-09-22 19:20] haircommander commented on #5341
sorry, undergoing some package reconfiguring, let me flip some switches

[2021-09-22 19:36] haircommander commented on #5267
yeah understood. I have updated the package to import a custom golang. let's see if that does it...

[2021-09-22 20:15] haircommander commented on #5267
It seems centos 7 has succeeded!

[2021-09-22 21:02] haircommander commented on #5329
has the issue magically gone away? I am hitting a different issue (some size mismatch) that I'm hoping also magically goes away

[2021-09-22 21:03] haircommander commented on #5267
I believe all of the versions here are about to successfully build. @grunlab can you PTAL and let me know if you think this can be closed?

[2021-09-22 22:31] spowelljr commented on #5341
The packages are back now, thank you very much!

[2021-09-22 22:31] #5341 closed

[2021-09-22 22:53] grunlab commented on #5267
# For raspbian_10 / armhf:

I've just tried to upgrade cri-o from 1.21.3 to 1.22.0 on a raspbian_10 / armhf node ... there is something very strange ... it looks that finally a downgrade to 1.19.4 happened instead !?

Before the upgrade --> CONTAINER-RUNTIME = cri-o://1.21.3
[code]

After the upgrade --> CONTAINER-RUNTIME = cri-o://1.19.4 !!!
[code]

apt sources list for cri-o:
[code]

Rollback:
-

[2021-09-23 01:19] rayshoo commented on #5311
@QiWang19 Thank you very much! I appreciate to you. Good luck and have a nice day!! :)

[2021-09-23 01:19] #5311 closed

[2021-09-23 05:25] utam0k commented on #5329
@haircommander This issue still remains. When I've run the above commands, I've got the following output.
[code]

[2021-09-23 08:48] r10r commented on #5294
@giuseppe I'll look at it if I have the time to do so.

@ajwock Thanks for the hint. I already tried the userns-mode auto and it works fine so far.

Nice, i'll try that out.

But I think using the userns-mode auto may be a bit tricky:

The subuid / subgid range for the container is selected by cri-o  from the **containers** user subuid range. Every container that runs with userns-mode auto in para

[2021-09-23 12:43] justabaka commented on #5267
Looks great, will test it later. Thank you very much!

[2021-09-23 13:11] grunlab commented on #5267
centos7/x86_64 --> cri-o 1.22.0 RPM is now available. I will also test it

[2021-09-23 13:16] haircommander commented on #5267
oh jeez, it seems like raspbian hit https://github.com/cri-o/cri-o/issues/5329 as well. I found the issue and it should be fixed

[2021-09-23 13:16] haircommander commented on #5329
I found the issue! should be fixed, thanks for your patience

[2021-09-23 13:29] haircommander commented on #5294
we have a knob to configure the max uid range for auto here https://github.com/containers/storage/blob/main/storage.conf#L60 :smile: I think better docs in cri-o are sorely needed..

[2021-09-23 13:38] grunlab commented on #5267
I've just tested cri-o 1.22.0 on centos7/x86_64 --> it looks ok:

[code]

I will check reaspbian10/armhf tonight (French time)

[2021-09-23 13:55] r10r commented on #5294
I think they are pretty good already!
The commit message from @giuseppe https://github.com/cri-o/cri-o/commit/ad2ed3b79251ffa2f60f28ba4a975b24abc9d311 should really make it into the docs if the userns feature is permanent.

The userns subid/subgid allocation size can also be set on a pod base using the parameter **size** in the `io.kubernetes.cri-o.userns-mode` annotation.

[code]

e.g

[code]

[2021-09-23 14:05] utam0k commented on #5329
@haircommander  there are any other beginner-friendly issues to investigate or bugs to fix, please let me know. I'm interested in contributing to this product ;)

[2021-09-23 14:23] haircommander commented on #5329
Love to hear it! PTAL at any of these https://github.com/cri-o/cri-o/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22 and comment if any seem interesting, then I could assign you :)

[2021-09-23 15:06] haircommander commented on #5341
happy to help, thanks for using CRI-O :)

[2021-09-23 15:55] haircommander commented on #5329
I believe this is fixed as such I am closing. please reopen if you disagree

[2021-09-23 15:55] #5329 closed

[2021-09-23 15:55] haircommander commented on #5267
We now have support for every distro listed here, and I believe this is fixed. @grunlab can you close this issue if you confirm the weird cri-o version thing is fixed?

[2021-09-23 16:28] #5330 closed

[2021-09-23 17:01] grunlab commented on #5267
I confirm, it is OK on raspbian10/armhf as well.
Issue closed. Thank you.

[2021-09-23 17:01] #5267 closed

[2021-09-23 17:08] spowelljr opened #5343 "File has unexpected size (14998916 != 15001236). Mirror sync in progress?"
Hi, I have started getting the following error when trying to install cri-o:
[code]

[2021-09-23 17:35] haircommander commented on #5267
excellent to hear!

[2021-09-23 20:26] haircommander commented on #5343
yeah I hit this as well, but don't yet understand why it's happening

[2021-09-23 20:40] jjayesh-gohil opened #5345 "Container fails on Centos8 with error while loading shared libraries: libc.so.6: cannot change memory protections"
**Description**

Container fails on Centos8 with error while loading shared libraries: libc.so.6: cannot change memory protections when SELINUX is enabled.

**Steps to reproduce the issue:**
1. Deploy Kubernetes 1.19.13 cluster with all nodes using Centos8 with SELINUX enabled
2. Deploy a pod , in this case a python application with shebang #!/usr/bin/env python

**Describe the results you receive

[2021-09-24 14:52] haircommander commented on #5345
@rhatdan ring any bells?

[2021-09-24 18:05] jennydaman opened #5348 "mounting "devpts" to rootfs at "/dev/pts" caused: mount through procfs: invalid argument"
**Description**

I am trying to play around with the `uid_mappings` and `gid_mappings` settings of cri-o. I tried setting custom values for `uid_mappings` and `gid_mappings` in `/etc/crio/crio.conf`. Containers were no longer able to be created.

I was unable to find any documentation nor examples on how to use these features, if someone could link me to this, it would be helpful. More generally,

[2021-09-24 18:20] haircommander commented on #5348
@giuseppe PTAL

[2021-09-27 07:28] giuseppe commented on #5348
that error is coming from runc

[2021-09-27 15:03] haircommander opened #5352 "when internal_wipe is true, crio wipe will run by default again"
We've had folks say that `crio wipe` the service that cleans containers after reboots and images after upgrades is not intuitive and should not be set by default. This was the case for a while, but 1.22 set the `internal_wipe` option, which enabled it by default again.

There should be a way to opt out of crio wipe if internal wipe is true

[2021-09-27 18:42] jennydaman commented on #5348
Thank you for looking into it. It is caused by the fix, meaning would it work if I _downgrade_ to `runc` version 1.0.0-rc94?
Presumably, downgrading would not be advisable?

[2021-09-28 08:21] giuseppe commented on #5348
I'd suggest to not do that, or you inherit again the security issue.

I'll take a look to see if there is anything we can do in CRI-O, in the meanwhile it is probably safer to not use `uid_mapping/gid_mapping`rather than using an older runc version.

[2021-09-28 08:31] giuseppe commented on #5348
it seems to work locally (Fedora 34) with the latest runc development version and kernel 5.13.16-200.fc34.x86_64.

Could you try upgrading runc?

[2021-09-28 09:24] EGuesnet opened #5356 "Support ppc64le for CentOS 8"
**Description**

Currently, cri-o is built only for x86_64 for CentOS 8. We have need of cri-o on Power. It seems Open Build Service can support it.
Can you add support of ppc64le for CentOS 8?

Thanks.

[2021-09-28 09:29] EGuesnet opened #5357 "Wrong link in Install.md"
**Description**

Install.md has two wrong link.

**Steps to reproduce the issue:**
1. Click to "openSUSE's OBS" link

2. Click to "open an issue" link.

**Describe the results you received:**

1. Go to "https://github.com/cri-o/cri-o/blob/main/build.opensuse.org"
Error 404

2. Go to https://github.com/cri-o/cri-o/blob/main/github.com/cri-o/cri-o/issues/new
Error 404

**Describe the results you exp

[2021-09-28 13:44] haircommander commented on #5356
I've toggled the knob, it should be ready in an hour or so!

[2021-09-28 13:45] haircommander commented on #5356
I did so on 1.22, is there a specific version you're looking for?

[2021-09-28 13:45] haircommander commented on #5357
would you like to open a PR to fix?

[2021-09-28 15:14] wgahnagl commented on #5039
while trying to find where the request is getting called, I found this in the image/copy dependency
https://github.com/cri-o/cri-o/blob/8e3cdc940aec6ad68cb2c123ab16e3bcb462286d/vendor/github.com/containers/image/v5/copy/copy.go#L722
it looks to me like the manifest is getting requested twice here, because it's unable to determine if the registry accepts schema 1 or 2, and needs to make two request

[2021-09-28 16:28] mtrmac commented on #5039
That’s completely unrelated:
- It talks about capabilities of the _copy destination_, if it is a registry; in the pull path discussed here, the registry is a source, not a destination. The c/storage destination, implemented in the same project as c/image/storage, can accept all supported image formats without conversion, so that loop will always succeed on a first try.
- The manifest access of the

[2021-09-29 07:31] EGuesnet commented on #5356
There is no need of a specific version.
I cannot find it at https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/CentOS_8/ppc64le/,  there is no cri-o file.
CentOS 8 and CentOS 8 Stream ppc64le are labelled "excluded" in https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.22/cri-o.

[2021-09-29 09:18] hawk-liu opened #5361 "can not using packaged version install on rockylinux8.4"
**Description**

follow the installation guide as centos8 as below. but cannot find yum match? Maybe i need build from sourcecode?

 export VERSION=1.21:1.21.3

sudo curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable:cri-o:$VERSION.repo https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable:cri-o:$VERSION/$OS/devel:kubic:libcontainers:stable:cri-o:$VERSION.repo
sudo

[2021-09-29 14:23] haircommander commented on #5356
oops, had to update the spec. should be working now!

[2021-09-29 14:26] haircommander commented on #5361
weird what's
`yum repolist`?

[2021-09-29 19:14] haircommander commented on #5345
possibly related https://github.com/containers/podman/issues/3234

[2021-09-29 19:20] rhatdan commented on #5345
These are almost always SELinux labeling issues.  SELinux is preventing execmod on libc.s0
Most likely needs a relabel on storage.
system_u:object_r:unlabeled_t:s0  Says that you have a device that was added and never run a restorecon on it.

[2021-09-30 02:27] hawk-liu commented on #5361
strange thing. fresh rockylinux 8.4 installed. dnf -y update, then install cri-o, same no match result.  repolist is right.

[root@rl8-6316 ~]# export VERSION=1.21:1.21.3
[root@rl8-6316 ~]#
[root@rl8-6316 ~]# curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/$OS/devel:kubic:libcontainers:stable.repo
curl

[2021-09-30 16:10] haircommander commented on #5361
can you run
[code]

[2021-09-30 16:20] haircommander commented on #5343
I was able to install on debian 10 now. I think the OBS repos just neeed to sync. Is it working for you now @spowelljr

[2021-09-30 16:22] haircommander commented on #5273
what version of runc do you have? I think it may need to be updated

[2021-09-30 19:44] spowelljr commented on #5343
Yup, it worked for me, thanks!

[2021-09-30 19:44] #5343 closed

[2021-09-30 19:56] thanos1983 opened #5368 "The repository 'https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04 Release' does not have a Release file."
**Description**
It seems yesterday the key got updated see repo [repositories / devel: / kubic: / libcontainers: / stable / xUbuntu_20.10 Release.key](https://mirrorcache.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.10/Release.key.mirrorlist)

It breaks my deployments with CRI-O on Ubuntu :(

**Steps to reproduce the issue:**
1. Follow the steps as it is documented [cri

[2021-10-01 00:51] marcusbooyah commented on #5368
@thanos1983 I had the same issue. You need to install the latest `ca-certificates` package.

[code]

[2021-10-01 07:19] thanos1983 commented on #5368
Hello @marcusbooyah ,

You are absolutely right. I did not even think about the CAs. I thought of checking when the key was updated but not to pull (stupid of me).

Thanks a lot for the quick response :).

[2021-10-01 10:42] #5357 closed

[2021-10-01 12:18] EGuesnet commented on #5356
I confirm it works.
Thanks!

[2021-10-01 12:18] #5356 closed

[2021-10-01 13:38] haircommander commented on #5368
should this be included in the set of prerequisite packages (currently gnupg and curl are also required)

[2021-10-01 14:24] thanos1983 commented on #5368
I think so too that it should be documented.

[2021-10-01 15:22] thanos1983 commented on #5368
I should also mention that without `sudo apt upgrade -y` it does not work for me :( so we might to add also this.

[2021-10-01 15:27] haircommander commented on #5368
would you care to open a PR with what worked for you @thanos1983 ? if you do, you may want to base it off of https://github.com/cri-o/cri-o/pull/5369/ to prevent conflicts

[2021-10-01 15:39] thanos1983 commented on #5368
Sure will do it during the weekend.

[2021-10-02 18:28] #5368 closed

[2021-10-04 06:50] iusetabs opened #5375 "Ubuntu Installation failure: The certificate is not trusted"
**Description**

Cri-o cannot be installed securely due to an expired certificate on the https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/ repository. Also on the 'https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04  repository.

**Steps to reproduce the issue:**
1. Follow the installation instructions for Ubuntu/

[2021-10-04 07:14] iusetabs commented on #5375
Run `apt-get upgrade` and then `apt-get update` solves the issue 🙈 Maybe helps somebody if they get stuck with the same!

[2021-10-04 07:49] iusetabs commented on #5375
On second thought, might be better to leave this open as installation should work out of the box ( i.e. it's not nice to have to run apt-get upgrade ), but not sure if this is on the AWS side or the Cri-o side. Please close if this is on the AWS side 😄

[2021-10-04 09:00] vrothberg commented on #5039
I concur with @mtrmac.

The crux of the matter is the `PrepareImage` check _before_ copying the image.  That makes 1 request if the image is already present in the local storage and 2 requests if the image must be pulled.

Podman (or libimage) performs logically the same checks BUT it requests the manifest exactly once (or not at all depending on the pull policy).  CRI-O deals with images as strin

[2021-10-04 11:49] mtrmac commented on #5039
While I always prefer using `ImageReference` over strings, it’s not clear to me how that would prevent the double manifest access in this case. The two accesses happen because the check for an image that is present and the same involve a `ref.NewImage`, and `copy.Image` internally does a `ref.NewImageSource` etc — and caching of the manifest (an implementation detail! not contractual! not even exp

[2021-10-04 11:55] vrothberg commented on #5039
@mtrmac, I may need to look deeper.  I checked with Podman `podman create --pull newer $IMAGE` and the manifest is fetched exactly once AFAICS.

[2021-10-04 12:41] mtrmac commented on #5039
AFAICS https://github.com/containers/common/blob/161e078e4c7f4839038ddf339bb28611a4e018dc/libimage/image.go#L773-L778 can also make a remote request. (But it’s cheaper in that it compares manifest digests, not config digests — at the cost of possibly pulling in more cases.)

[2021-10-04 14:47] haircommander commented on #5375
this may actually be a documentation bug. Maybe after https://github.com/cri-o/cri-o/pull/5374 merges you can submit a PR that better documents what needs to happen? (or you can comment on it and @thanos1983 can apply the changes)

[2021-10-04 15:38] thanos1983 commented on #5375
To be honest I am a bit also confused @haircommander.

As we saw on #5368 the problem was resolved by running `sudo apt-get update && `sudo apt-get install ca-certificates`. On my case on fresh clean installation as @iusetabs has noticed it requires (maybe without the CA) to run `sudo apt-get upgrade`.

I am not sure if on fresh image pull 20.04 to run upgrade so we can install CRI-O socket. It lo

[2021-10-04 15:43] haircommander commented on #5375
does that workaround work for you @iusetabs ?

[2021-10-04 18:46] dilyanpalauzov commented on #5287
Which is the latest currently supported CNI-plugins version?

[2021-10-05 08:37] vrothberg commented on #5039
Yes but it only fetches the manifest once but I am not yet entirely sure why.  I saw some caching in the docker source which is why I thought that's the reason

[2021-10-05 09:19] vrothberg commented on #5039
Yes, indeed the manifest blob is cached.

github.com/containers/image/v5/docker.dockerReference.NewImageSource -> github.com/containers/image/v5/docker.newImageSource -> github.com/containers/image/v5/docker.newImageSourceAttempt -> github.com/containers/image/v5/docker.(*dockerImageSource).ensureManifestIsLoaded -> github.com/containers/image/v5/docker.(*dockerImageSource).fetchManifest

Any futu

[2021-10-05 13:41] mtrmac commented on #5039
Yes, but that’s within a _single_ `dockerImageSource` (via `dockerImageReference.NewImage{,Source}`). `hasDifferentDigestWithSystemContext` creates one `dockerImageSource`, and `copy.Image` creates an independent one.

The CRI-O situation is structurally similar: Two `dockerImageSource` objects.

---

The formats that do have a separate config also carry RootFS.DiffID values (uncompressed layer di

[2021-10-05 13:49] vrothberg commented on #5039
That's not what I see in my logs.  I patched `fetchManifest` and see it executed exactly once in Podman.  Could you double check to make sure I am not doing something silly?

[2021-10-06 14:18] kubealex opened #5382 "Cri-o packages disappeared from kubic repo - 1.22"
Hi, I would like to notify that around 8.45 EST the packages in https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/ completely disappeared.

[2021-10-07 07:49] #5382 closed

[2021-10-07 13:37] haircommander commented on #5382
yeah sorry they were incorrectly garbage collected

[2021-10-08 12:46] dilyanpalauzov opened #5387 "conmon does support --sync, but crio thinks the opposite."
I have the newest cri-o
[code]
The files /usr/bin/conmon and /usr/libexec/crio/conmon are identical.

[code]
So conmon support `--sync`.

After staritng cri-o it logs:
[code]

[2021-10-08 15:21] #5387 closed

[2021-10-08 15:24] dilyanpalauzov opened #5390 "Dead hyperlink at https://cri-o.io"
https://cri-o.io says:

where CONMON is a hyperlink  to https://github.com/cri-o/cri-o/tree/main/conmon.

[2021-10-08 15:36] #5390 closed, assigned to nobody

[2021-10-08 15:44] haircommander commented on #5390
thanks for opening the issue!

[2021-10-08 23:19] GitFrol opened #5392 "Logs messages split up in container log files"
**Description**

I have a few app in k8s cluster writing logs in json format. I've noticed that some log messages split up when shown in elastic which leads to incorrect parsing, and started investigating this problem. It turned out, that logs written by k8s into log files are already split because of some reason.

**Steps to reproduce the issue:**
1. Find the log file - "ls /var/log/containers/du

[2021-10-09 07:29] hawk-liu commented on #5361
sorry for the delay.

Last metadata expiration check: 2:39:57 ago on Sat 09 Oct 2021 12:34:53 PM CST.
Available Packages
golang-github-cpuguy83-go-md2man.src                              1.0.7-2.3.el8               devel_kubic_libcontainers_stable_cri-o_1.21_1.21.3
golang-github-cpuguy83-go-md2man.x86_64                           1.0.7-2.3.el8               devel_kubic_libcontainers_stable_cri-o_1

[2021-10-10 15:50] dilyanpalauzov opened #5393 "crio.conf.5: runtime_handler → runtime handler"
https://github.com/cri-o/cri-o/blob/main/docs/crio.conf.5.md#crioruntimeruntimes-table says:

Since `runtime_handler` is not an option/parameter, the underscore shall not be used.  Instead the spelling shall be “runtime handler”.

[2021-10-10 16:03] dilyanpalauzov opened #5394 "crio.conf.5: clarify name of "crio.runtime.runtimes" table"
https://github.com/cri-o/cri-o/blob/main/docs/crio.conf.5.md#crioruntimeruntimes-table says:

This does mean that for two runtimes, r1 an r2, the runtime_path for the runtimes is read from the tables `[crio.runtime.runtimes.r1]` and `[crio.runtime.runtimes.r2]`.  However it does not say so.  It mentions `defines a list of OCI runtimes`, but how is a list presented in TOML?

If the right table name

[2021-10-11 14:12] odidev opened #5396 "Include testing of Linux/ARM64 binaries before releasing"
**Description**

Hi Team,

I am working with CRI-O on the Linux/ARM64 platform.

We know that CRI-O already supports Linux/ARM64 platform, and releasing the ARM64 binaries as well using the cross-compilation.

But I can see in the [test.yml file](https://github.com/cri-o/cri-o/blob/main/.github/workflows/test.yml#L183) that the AMD64 binaries are also tested before releasing, using the target ‘bun

[2021-10-11 14:28] saschagrunert commented on #5396
Hey @odidev :wave:, I think it would generally make sense to increase the testing surface for the arm binary as well. The bundle test is kina simple but ensures that the installation as well as the binary works as intended in a basic way.

Regarding Linux/ARM: How would we leverage GitHub actions for that architecture? I think one of the few ways to achieve the test is to use the macOS nested virt

[2021-10-11 23:01] #5393 closed

[2021-10-12 06:01] GitFrol commented on #5392
@haircommander thank you for the reply. I just thought that logs shouldn't be partial in k8s-files, but as you mentioned it'n not an issue for kubectl logs, wich means that it can be done by using correct parsing expressions.
I was finally able to resolve it with proper fluentd parsing configuration.
First of all, found proper regex to parse log format:
     <parse>
        @type regexp
        ex

[2021-10-12 06:01] #5392 closed

[2021-10-12 06:01] GitFrol commented on #5392
Resolved according to the previous comment

[2021-10-12 17:01] dilyanpalauzov opened #5399 "Rootless cri-o documentation"
I want to run rootless kubernetes, crio, crun.  For the beginning, I want to run rootfull kubelet and rootless crio+crun.  The information for this is very spare.

https://kubernetes.io/docs/tasks/administer-cluster/kubelet-in-userns/ suggests setting the variable `_CRIO_ROOTLESS=1`, but cri-o does not document this variable.

https://github.com/containers/crun/blob/main/crun.1.md#spec-options adv

[2021-10-12 19:08] dilyanpalauzov opened #5401 "Why does crio mount /dev/vda1 on /var/lib/containers/storage/overlay?"
[code]
I have no storage.conf and no registry.conf  files.  My `/etc/crio/crio.conf.d/10-crio.conf` contains:
[code]

The root of my system is /dev/vda1 ⇔ /
[code]
My crio.service file is
[code]
and /etc/sysconfig/crio does not exist.  I do not have kubelet on the system.

When I call `systemctl start crio`, crun is not running, and I see this additional mount:
[code]
When I call `systemctl stop c

[2021-10-13 13:11] odidev commented on #5396
@saschagrunert ,

I think the best place to start regarding accessing arm resources is https://github.com/WorksOnArm.  It provides the access to Arm resources including access to free Arm HW.

[2021-10-20 09:38] MaiSao opened #5415 "http: server gave HTTP response to HTTPS client"
I installed K8s with CRI-O follow links: https://kubernetes.io/docs/setup/production-environment/container-runtimes/
After installed i run this command to pull image from local repo:
          crictl pull local-repo:4000/k8s.gcr.io/etcd -D

But i get the error:
         FATA[0000] pulling image failed: rpc error: code  = Unknown déc = error pinging local-repo:4000: Get "https://local-repo:4000/v2/

[2021-10-20 20:21] m-yosefpor commented on #5228
Actually there is an ongoing effort to make this happen in OCI: https://github.com/opencontainers/runtime-spec/pull/1123#pullrequestreview-751521979
Also you can find an implementation in runc here: https://github.com/opencontainers/runc/pull/3057

[2021-10-21 13:29] jsrz commented on #5396
I see, thanks!

[2021-10-24 17:02] grunlab opened #5421 "libcontainers:/stable/Debian_11 : armhf packages not available"
armhf packages are currently not available for Debian_11: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_11/

They were available for Debian_10: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_10/

[2021-10-25 07:11] #5421 closed, assigned to nobody

[2021-10-26 01:47] Billyzou0741326 opened #5424 "File has unexpected size (20107660 != 20107360). Mirror sync in progress?"
**Description**

Attempting to install cri-o. As of the writing of this issue, I got the following error:
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

N/A. Stuck at installation

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

[2021-10-26 01:51] #5424 closed, assigned to nobody

[2021-10-26 13:57] discordianfish opened #5426 "Make metrics follow Prometheus best practices and reduce cardinality"
The prometheus metric names don't follow the best practices:

- all counters should be suffixed by `_total`
- all metrics should use base units (so seconds, not microseconds)

Beside that, some label values are unbound, leading to high cardinality (at least `crio_image_pulls_by_*`).

Arguably some metric names could be improved (crio_image_pulls_by_digest should include bytes if it reflects bytes

[2021-10-28 07:04] #5415 closed, assigned to nobody

[2021-11-05 18:08] haircommander commented on #4790
I opened a PR to add support. @paulnivin do y'all have any interest in trying it out and making sure it works for you?

[2021-11-08 21:46] wgahnagl commented on #5039
hey, any updates on this?
@vrothberg @mtrmac

[2021-11-09 12:33] vrothberg commented on #5039
I still think that using `c/image/v5/types.ImageReference` instead of strings will resolve the issue.  The manifest is cached, so it will be fetched once.

[2021-11-09 18:31] mtrmac commented on #5039
The `c/image/docker` implementation of `ImageReference` is clearly stateless, and there is no cross-`ImageSource` manifest cache. I don’t see how that could make a difference.

[2021-11-09 18:34] mtrmac commented on #5039
“Updates” of what kind?

We have pointed at the CRI-O code that probably causes this. Have you verified this, and/or proven that to be inaccurate?

If it is accurate, it’s up to CRI-O to decide whether it wants this heuristic or not. (The history of that heuristic can probably be found through Git history + GitHub discussions.)

What work have you done on either, and what questions are unresolved?

[2021-11-10 08:52] vrothberg commented on #5039
See comment https://github.com/cri-o/cri-o/issues/5039#issuecomment-934432997.  I see it executed exactly once.

[2021-11-10 11:27] isugimpy opened #5450 "[Feature Request] Immediate Fallthrough for Mirrors"
**Description**

The following description is based upon observation in production, not having traced the codepath.  In the current implementation, when mirrors are specified for a registry, the fallthrough behavior appears to be to check the mirrors in order and stop at the first one where the image is found, then pull from there.  However, should the pull start and fail part of the way through (

[2021-11-10 12:06] saschagrunert commented on #5450
From a firsts view the behavioral change of the API would make sense to me.

What are your thoughts @haircommander @mtrmac ?

[2021-11-10 14:53] isugimpy commented on #5450
The selfish thing I'd ask, if at all possible, would be for this to land in the 1.18 series if that's still maintained and it gets implemented in a reasonable amount of time where that's a viable option.  If that's not viable, completely understand, of course.

[2021-11-10 15:06] vrothberg commented on #5450
I am not (yet) convinced.  Why would the cache fail?  At least in this specific scenario, I'd expect the cache to work properly.  Changing the behavior of using mirrors seems more like a symptomatic patch to me.

Changing this specific behavior seems strange to me since it's exposing a detail that I (really) don't want users to worry about.  Now, there is at least one user worrying about it but I

[2021-11-10 15:18] isugimpy commented on #5450
Happy to speak to that. So, in my case we're running Harbor on the same cluster that is pulling the images. The nodes hit an AWS load balancer, routing to the nginx ingress on the cluster, then down to Harbor itself. Under high request rates for the same image, blocking can occur, waiting on the pulls to complete. After 60 seconds of no data transfer, the load balancer closes the connection, retur

[2021-11-10 15:59] haircommander commented on #5450
Typically, we only support minor releases while the corresponding kubernetes version is supported (which is 1.20-1.22 right now). Further, we're typically pretty cautious about backporting features as they jeopardize the stability of our release branches. That said, I'd be happy to chat about your use-case/requirements and trying to find a mutually agreeable solution :slightly_smiling_face:

[2021-11-10 17:44] isugimpy commented on #5450
Not mission critical by any means, would be glad to discuss.  I just wasn't sure if y'all were maintaining that branch.  We're just holding back on upgrading through the holidays.  I'd be perfectly happy to land it when we eventually have upgraded.

[2021-11-10 20:50] mtrmac commented on #5039
I completely believe you that that’s what you see. I can’t see how using `ImageReference` can be how that is caused.

[2021-11-10 21:24] mtrmac commented on #5450
It’s very tempting to say that the combination of Harbor + load balancer is inconsistent. Presumably the Harbor pull-through behavior should be _possible_ to configure, and get working reliably, even while prohibiting direct access to the primary registry. Is that not a viable approach? (I could well imagine situations where it isn’t viable.)

It’s just _weird_ that the primary ends up being faste

[2021-11-10 22:23] isugimpy commented on #5450
So, we don't want to prohibit access to the primary.  We want to prefer the mirror and fall back to the primary.  The Harbor pull-through is, in and of itself, reliable, mostly.  We have at least one self-inflicted wound here in the load balancer timeout, because there are some extremely large images involved and when Harbor has to fetch from the primary it blocks all parallel pulls of the same im

[2021-11-11 10:09] discordianfish commented on #5426
@saschagrunert Won't have time to look into that in the near future but might get back to it if nobody else does

[2021-11-11 16:35] #5394 closed

[2021-11-12 15:14] haircommander commented on #5039
Independently of whether the issue is `ImageReference` or some other code block, all other container managers use libimage to do their image management. It's been in the backlog for a while to port CRI-O to it. To me, it makes sense to take this bug as a chance to unify the code and port CRI-O over to libimage, which (I can guess) could fix this bug, or at least reveal the source

[2021-11-12 15:27] haircommander opened #5456 "cgroupv2 tests are perma failing"
both integration and e2e, and it's not really clear why. Opening an issue to track

[2021-11-13 11:40] mtrmac commented on #5039
AFAIK libimage does not do the same-config-digest optimization; so, yes, this would have to be “dealt with” during the port to libimage. At that time, by accident or design, the one porting the code could decide to drop that optimization; but if it we instead decided to continue to have this optimization, I currently can’t see how porting would change the (c/image-design-imposed) need to fetch the

[2021-11-15 18:28] pjbgf opened #5461 "Add /run/.containerenv file"
**Description**

I have an use case in which I need my application to quickly identify whether or not it is running inside of a container.
Both Podman and Docker enables this by creating a file (`/run/.containerenv` and `/.dockerenv` respectively) in their containers.

Can we add `/run/.containerenv` into CRI-O containers to enable this use case too?

Reference to how docker handles it: https://gi

[2021-11-15 18:56] haircommander commented on #5461
this makes sense to me, would you have any interest in submitting a PR @pjbgf ?

[2021-11-15 21:33] nalind commented on #5294
Would a PR that added a configuration knob (or two, for considering UIDs and GIDs separately) that set a minimum value, below which host UIDs and GIDs would be considered off-limits for private mappings, work here?

It would presumably also alter the check on the `sc.RunAsUser` value to still accept mappings when the value from the pod request was either zero or some value above the minimum, if th

[2021-11-16 06:48] swghosh commented on #5426
I am looking into this, @discordianfish can you please mark me as assignee?

[2021-11-16 11:07] pjbgf commented on #5461
@haircommander sure, let me give it a try. :+1:

[2021-11-16 11:51] giuseppe commented on #5294
would that still be able to attack other pods?

I am fine if we relax this limitation since it is all handled in CRI-O at the moment but what is your use case though?  I am asking because I am afraid that once Kubernetes supports natively user namespaces, it won't have such a degree of freedom in picking the range.

[2021-11-16 13:57] nalind commented on #5294
My thinking is that the build controller would assign the ranges that are assigned to the project/namespace that the build pod is part of.  UID 0 in the container would get mapped to the host ID that is currently being assigned to unprivileged non-root containers in that project/namespace.

[2021-11-19 16:10] #5461 closed

[2021-11-20 12:47] chrisromano opened #5470 "Apt upgrade results in "File has unexpected size""
**Description**
Upgrading cri-o via apt on Ubuntu 20.04 fails. This appears to be nearly identical to the problem referenced in #5343

**Steps to reproduce the issue:**
1. Installed Ubuntu 20.04 repositories according to cri-o documentation
2. Attempt to install or upgrade cri-o via apt

**Describe the results you received:**
[code]

**Output of `crio --version`:**
[code]

[2021-11-22 14:21] haircommander commented on #5470
yeah this problem pops up from time to time as the OBS mirrors get stale. I can double check the builds but I don't know if there's anything I can do from my side

[2021-11-22 15:33] wgahnagl commented on #5039
manifests being requested twice is intentional due to an optimization, and switching over to libimage doesn't appear to be able to resolve the issue either without getting rid of the optimization.

[2021-11-22 15:33] #5039 closed

[2021-11-23 14:48] haircommander commented on #5401
@giuseppe @nalind do y'all have any ideas here?

[2021-11-23 14:49] haircommander commented on #5148
fixed inhttps://github.com/cri-o/cri-o/pull/5366

[2021-11-23 14:49] #5148 closed

[2021-11-23 14:50] haircommander commented on #5097
fixed in 1.21.2 and beyond

[2021-11-23 14:50] #5097 closed

[2021-11-23 14:51] haircommander commented on #4734
@sallyom @husky-parul has this been finished?

[2021-11-23 14:51] haircommander commented on #4719
we have introduced the resource cleaner which solves this

[2021-11-23 14:51] #4719 closed

[2021-11-23 14:54] haircommander commented on #4322
this was fixed

[2021-11-23 14:54] #4322 closed

[2021-11-23 14:57] haircommander commented on #3938
@wgahnagl I forget, what happened with this one?

[2021-11-23 14:58] haircommander commented on #3149
closing this as it doesn't seem we want it

[2021-11-23 14:58] #3149 closed

[2021-11-23 16:42] #4227 closed

[2021-11-23 17:09] giuseppe commented on #5401
it is just a bind mount on itself.

`mount --bind /var/lib/containers/storage/overlay /var/lib/containers/storage/overlay`

In this way it can be made `private` and the mounts below it do not propagate to the containers.

I am closing the issue since it is done on purpose this way.

[2021-11-23 17:09] #5401 closed

[2021-11-23 17:25] dilyanpalauzov commented on #5401
So doing `mount --bind` on itself, lists the root of the file system on `mount -a` before `on`.  I confirm this is the case, while the `mount -a` output makes absolutely no sense.

[2021-11-30 11:39] EvgenyAGRO opened #5479 "CRIO container is running with non-existing image reference"
**Description**

Some inconsistencies were observed in CRIO image storage and running containers.

**Steps to reproduce the issue:**
1. Pull ubuntu:16.04, tag it as ubuntu:latest and push to some registry
2. Run pod with ubuntu:latest container with name ubuntu1
3. Delete the tag from the registry
4. Pull ubuntu:18.04, tag it as ubuntu:latest and push to same registry
5. Start another pod with ubu