[2018-02-28 00:38] TomSweeneyRedHat opened #1387 "Failure creating a container using the tutorials example"
**Description**

To get a redis container inside of a Pod, the tutorial says to do the below but it errors.
[code]
**Steps to reproduce the issue:**
1. Follow the tutorial's documentation.

**Describe the results you received:**
An error createng a container.

**Describe the results you expected:**
A container sans error.

**Additional information you deem important (e.g. issue happens only occasi

[2018-03-01 15:43] TomSweeneyRedHat opened #1396 "On registry lookup failure, secondary registries do not seem to be checked"
**Description**
When following the crio tutorial and trying to start the redis:alpine container,  I received a failure.  After pointers from @umohnani8 and some digging, it appears that crictl is not trying additional registries if the first fails.

**Steps to reproduce the issue:**
1. Set registries options in /etc/crio/crio.conf to :
[code]
2. create the redis:alpine container following the tuto

[2018-03-01 15:54] umohnani8 commented on #1396
I can work on this.

[2018-03-01 16:33] TomSweeneyRedHat opened #1397 "ENH: Add warning in tutorial for multiple cpu's"
**Description**

When running the tutorial on a Fedora 27 server VM with only one cpu, the following error is encountered when creating the container:

[code]
A warning should be added to the tutorial noting that if you don't have a multi-cpu system, then you need to edit crio/test/testdata/container_redis.json
[code]
and then the command will work.

**Steps to reproduce the issue:**
1. Follow the

[2018-03-01 17:51] wking commented on #1397
I'd rather update `container_redis.json` to only require one CPU and have filed a patch to that effect in #1399.

[2018-03-01 17:53] TomSweeneyRedHat commented on #1397
Personally I though showing people how to adjust that in the tutorial would be helpful, but don't have a strong opinion.

[2018-03-01 17:58] agonzalezro opened #1400 "Travis repeats steps (that are not version dependant) for different versions of Go"
**Description**

The current [Travis configuration](https://github.com/kubernetes-incubator/cri-o/blob/master/.travis.yml#L30-L57) will repeat the following `make` commands for different versions of Go when the version shouldn't be important:

- `make .gitvalidation`
- `make gofmt`
- `make lint`

And not sure about `make docs`.

I know that "better safe than sorry" :) but this makes the checks on

[2018-03-01 18:02] wking commented on #1397
On Thu, Mar 01, 2018 at 09:53:29AM -0800, Tom Sweeney wrote:

I'm fine with tutorial docs about adjusting the setting from 0 to 0-1.
That way the docs can talk about the adjustment, but you don't *need*
the adjustment to get the tests to pass.

[2018-03-01 18:07] runcom commented on #1396
No worry @umohnani8 I'm taking this one. So, it's not crictl, it's container_create.go the issue here. It's also crictl because you've actually pulled redis:alpine from docker, not sure how that wasn't qualified before pull, I'll look into this.

[2018-03-01 18:07] runcom commented on #1396
the container_create issue is here https://github.com/kubernetes-incubator/cri-o/blob/master/server/container_create.go#L1041 we're using just the first one

[2018-03-01 18:09] umohnani8 commented on #1396
@runcom yeah I found that issue and have written a fix for it, was just testing it. If you want to take over feel free to :)

[2018-03-01 18:09] runcom commented on #1396
well, open a PR then :)

[2018-03-01 20:18] #1331 closed

[2018-03-02 19:14] rhatdan commented on #1400
COuld you open a PR to fix this?

[2018-03-02 20:30] agonzalezro commented on #1400
Sure, I just wanted to be sure that you like the approach I am proposing. I will do it soon, assign it to me if you want.

[2018-03-02 22:03] agonzalezro commented on #1400
I already opened the PR @rhatdan: https://github.com/kubernetes-incubator/cri-o/pull/1412

[2018-03-02 22:08] rhatdan commented on #1400
Awesome thanks.

[2018-03-03 10:51] adelton opened #1413 "crio-shutdown.service fails with Exec format error / Executable path is not absolute"
**Description**

I've tried to use the `make install.systemd` target. It installs

[code]

However, `systemctl status crio-shutdown.service` complains about

[code]

**Steps to reproduce the issue:**
1. `make`
2. `make install.systemd`
3. `systemctl daemon-reload`
4. `systemctl status crio-shutdown`

**Describe the results you received:**

[code]

**Describe the results you expected:**

No error.

[2018-03-03 15:18] #1396 closed

[2018-03-04 15:50] rhatdan commented on #1413
The idea of the cri-shutdown service is to shut the containers down on system halt/reboot.

If you shutdown the crio service, the containers keep running, if you are shutting down the system this service is supposed to tell the crio service to shutdown all the containers so then can get a clean shutdown, as opposed to systemd killing all the processes.

[2018-03-04 15:57] #1400 closed

[2018-03-04 18:10] alvaroaleman commented on #1294
At the end of the day what is needed is a way to automatically install a cri-o `v1.X.Whatever-i-dont-care`. Would it be feasible to just have a metapackage `cri-o-v1.9` that depends on the latest `crio-o` package of the `1.9` tree?

[2018-03-05 06:45] mrIncompetent commented on #1294
@alvaroaleman thats whats currently planned afaik.

But: Please do not deleted old versions. Otherwise people will not be able to roll back in case they encounter a critical bug in the latest version.

[2018-03-05 15:32] lsm5 commented on #1294
@alvaroaleman see: https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages for cri-o-1.9 package.

@mrIncompetent When you submit a new build to the PPA, the older build gets deleted. This is in sync with upstream saying they only support the latest releases in the 1.7, 1.8 and 1.9 branches.

So, once there's 1.9.8 in PPA, if you want the older build of 1.9.7, there's no way to do this

[2018-03-05 20:02] sboeuf opened #1418 "server: The watcher does not get all containers stopped events"
While I was debugging #1334, I have realized why the k8s e2e testing was not working on my PR. The reason being that I was assuming the watcher to get events for every container being stopped. Unfortunately, this assumption was wrong because after putting some logs in the watcher, I have observed that not  all of them where triggering events. I have simplified my PR in order to workaround this iss

[2018-03-06 19:13] kfox1111 opened #1422 "cncf"
I keep seeing cncf level presentations show off containerd and rkt but not cri-o as its not a cncf level project. Should cri-o be moved from kubernetes-incubator to an incubation level project in the cncf? It would gain much more visibility then.

[2018-03-06 19:47] cevich opened #1424 "make localintegration hang + timeout on test 73"
**Description**

Seemingly randomly, when running CI tests on PRs, RHEL systems are "hanging" after integration test 72.  I haven't seen this on any Fedora systems.

**Steps to reproduce the issue:**
1. Configure a RHEL system as per integration test README
2. Run playbook with 'setup' tag
3. Shutdown VM - take snapshot
4. Start VM, run playbook with 'integration' tag

**Describe the results you r

[2018-03-06 19:49] cevich commented on #1424
@rhatdan @mrunalp @wking When you get a moment, PTAL attached-file in description.  I'm happy to provide any other details from the VM as needed, just let me know.

[2018-03-06 20:00] wking commented on #1424
Previous discussion on this issue starts [here][1], although it has come up in a number of pull requests before.

[1]: https://github.com/kubernetes-incubator/cri-o/pull/1300#issuecomment-369760984

[2018-03-06 20:13] mrunalp commented on #1424
@cevich Can you get the kernel version? (Looks like it could be a kernel bug).

[2018-03-06 20:35] cevich commented on #1424
@mrunalp / @wking yep, one sec...

[code]

Dunno what 8001 was, it's gone now, but crio is there and sleeping (expected, under the circumstances)

[code]

[2018-03-06 20:42] wking commented on #1424
Maybe grepping for it in the logs will turn something up?

[2018-03-06 20:49] cevich commented on #1424
Tried :(  even looked in the hoards of files under ``/tmp`` and all of ``/var/log``.  Are we sure that's a PID?  Does CRI-O daemon fork/exec child processes, b/c it's pid (above) is only 7973.  Seems odd it would have wrapped around so quickly.

[2018-03-06 20:54] cevich commented on #1424
I should add, those kernel messages have stopped now (since pausing/unpausing the VM).  Though that could/maybe because I suspended the ansible procs(?).  Here're all the recent stuff:

[code]

[2018-03-06 20:54] wking commented on #1424
Possibly relevant patches since v3.10:

[code]

Although I'm not sure if any of those have been backported to your kernel.  Any chance of trying this on a more recent kernel?

[2018-03-06 20:55] wking commented on #1424
No, maybe it was something else.

[2018-03-06 20:56] cevich commented on #1424
Jeepers! Look at all the networking-related items.

[2018-03-06 20:57] wking commented on #1424
v3.10 was cut in 2013, I'm not surprised that a few bugs have been fixed in the past five years ;).

[2018-03-06 21:01] cevich commented on #1424
For RHEL, we would have been backporting all the important ones, but it's still possible we missed the one causing this problem.  I could try booting another VM from snapshot, updating to a RHEL 7.5 kernel, and try again.  But the hit/miss nature of this problem would translate into doing lots and lots of runs :confounded:

[2018-03-06 21:10] cevich commented on #1424
/me goes wandering around bugzilla and google...

[2018-03-06 21:26] cevich commented on #1424
[This is interesting (though **WAY** above my pay-grade)](https://lkml.org/lkml/2016/11/9/502)

Specifically, the call trace at the end seems to very closely resemble that of the CRI-O process in this case.  Maybe the next step could be to try and see if that patch exists in the RHEL kernel...

[2018-03-06 21:28] cevich commented on #1424
...oh, and I found it interesting the problem scales w/ number of CPUs.  This VM has 8 setup, and I know that our origin-ci setup allocates a bunch as well.  That could also maybe explain why the traces in the journal have since stopped.  Total guess though.

[2018-03-06 21:35] cevich commented on #1424
ref: [actual submitted/proposed patch](https://goo.gl/h9JaG8)  Still way out of my league here though, stabs in the dark really.

[2018-03-06 21:44] wking commented on #1424
On Tue, Mar 06, 2018 at 09:35:38PM +0000, Chris Evich wrote:

Looks like that landed in torvalds/linux@e88a276 as part of v4.9-rc7.
Has it been backported to the Red Hat kernels?  It may also be fixing
a bug added since 3.10 (the commit message references 4.5), although I
guess the bug might have been backported too ;).

[2018-03-06 23:15] rhatdan commented on #1422
Sure we would love to have it moved there, but how does one do that?

[2018-03-06 23:25] rhatdan commented on #1424
@rhvgoyal Any thoughts?

[2018-03-07 05:26] wking commented on #1424
There has been [previous discussion][1] about bumping the [current 5400s timeout][2].  But the history for integration tests is [around 20 minutes on Fedora][3] (excepting errors like this hang).  It's been 5400s since  e160796d4 (#927), before which it [was two hours][4].  The two-hour value is from 78c400ccd (#928), before which it was one hour.  I'm not sure what was causing the one-hour timeou

[2018-03-07 16:02] cevich commented on #1424
I can say without looking, the Fedora kernels are going to track upstream much more closely.

Regarding timeouts, I'm in half-agreement.  There needs to be a balance struck between:

* Likely to survive occasional random networking/service SNAFUs
* Burning engineer-time waiting for a PR run to complete

That said, the current situation is way way way off-kilter for the second item (IMHO).  All els

[2018-03-08 05:06] wking commented on #1424
How is `crio` logging configured?  I see a `--log` argument, but no associated entry in `cmd/crio/config.go`.  And logrus defaults to info-level logging.  Yet [`journals/crio.service` is empty][1] in the `integration_rhel` tests.  I think seeing a bit more detail from `crio` about what it was up to would help us figure out where it was locking up.

[1]: https://ci.openshift.redhat.com/jenkins/job/

[2018-03-08 13:05] #1144 closed

[2018-03-08 15:04] adelton opened #1432 "Pod sandbox becomes SANDBOX_NOTREADY after four seconds"
**Description**

I try to follow the examples at https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/crictl.md. I create sandbox, it is reported as `SANDBOX_READY` but after a while it becomes `SANDBOX_NOTREADY`.

**Steps to reproduce the issue:**
1. Have Fedora 27 with `runc-1.0.0-17.rc4.git9f9c962.fc27.x86_64` and CRI-O and `crictl` built from their respective git masters.
2. Crea

[2018-03-08 15:17] adelton commented on #1432
When I build CRI-O and `crictl` from their `release-1.9` branches, the `crictl runp` with the same `podsandbox-config.json` gives me stable pod sandbox which remains `SANDBOX_READY`.

So this looks like a regression in master.

[2018-03-08 15:17] wking commented on #377
Can't we get this (for unstructured logs) with [journald's stream logging][1] while `conmon` continues to log to stderr?

[1]: https://www.freedesktop.org/software/systemd/man/systemd-journald.service.html

[2018-03-08 15:32] runcom commented on #1432
do you have cri-o logs or journals from the system?

[2018-03-08 15:43] mrunalp commented on #1432
@adelton Can you try with this commit https://github.com/kubernetes-incubator/cri-o/blob/master/Dockerfile#L101? This is what cri-o master is using for testing right now.

[2018-03-08 15:53] mrunalp commented on #1424
We could try updating the kernel in the ami and see if it fixes the problem.

[2018-03-08 16:01] adelton commented on #1432
With `cri-tools` commit 240a840375cdabb5860c75c99e8b0d0a776006b4 things work. Does this mean I should open the same issue against `cri-tools`?

[2018-03-08 16:02] wozniakjan opened #1433 "oc exec hangs indefinitely"
**Description**

The CI job deploys origin using cri-o as its container runtime and then it deploys aggregated logging stack. After successful deployment, it runs the logging PR tests where it sometimes hangs indefinitely on a command `oc exec logging-fluentd-7hhgt -- date +%Z` (the fluentd pod name can be different). It is possible to `oc rsh` to the pod and run any commands but running `oc exec`

[2018-03-08 16:03] adelton commented on #1432
By the way, when I rerun the same `crictl runp` command with the same `.json` which has the same `metadata/uid`, the pod gets recreated with different uid.

However, when I switch between CRI-O 1.9 and master and do the same, I get errors like

[code]

But `crictl pods` will not show that pod. Is that expected? Won't it cause issues during upgrade? If not expected, should I file it as separate iss

[2018-03-08 16:06] cevich commented on #1424
Interesting idea, since we already know it doesn't reproduce in Fedora.  Though I hate to mess with the AMI if it's going to affect ALL tests (some are working).  Unless I'm misunderstanding some magic involved.

[2018-03-08 16:16] adelton commented on #1432
Even if I now return to `crictl` from its master, I'm no longer able to reproduce the issue, to provide the journal logs.

[2018-03-08 17:39] rhatdan commented on #1424
Well we would need to update to the RHEL7.4.* kernel, I have no idea what kernel we are testing with now.

[2018-03-08 19:09] cevich commented on #1424
FYI: Mrunal's following up on the "is kernel-bug in RHEL" thread, internally.

[2018-03-09 00:03] wking commented on #1424
This is because the integration tests are spinning `crio` up and down internally, and aren't launching it as a systemd service.  So any `crio` logs are held by bats, and bats is blocked on the kernel deadlock.  Perhaps we should set `--log` pointing at somewhere for integration tests that do not involve parsing `crio`'s logs, and then collect that file as part of openshift/aos-cd-jobs?  That shoul

[2018-03-09 01:26] mrunalp commented on #1433
Thanks! We are looking into this. Meanwhile, could you try oc exec -it and see if it works for you? (Just as a debugging point.)

[2018-03-09 12:37] #1397 closed

[2018-03-09 13:57] #1327 closed

[2018-03-09 14:06] cevich commented on #1424
In general, I'm of the opinion the test-subject should always have the MOST amount of logs/details captured/archived.  Where would that be set in this context, in the playbook somewhere?  Would it prevent bats from doing it's job or just be additional logging for crio?  If it would block, maybe we could run it through ``tee`` first (somehow)?

[2018-03-09 19:28] mrunalp commented on #1433
#1443 has a fix for this. Thanks!

[2018-03-10 10:46] #1433 closed

[2018-03-10 16:42] mrunalp commented on #1424
#1446 doesn't hit this issue as I suspected.

[2018-03-12 17:35] cevich commented on #1424
/me goes digging...

[2018-03-12 17:38] cevich commented on #1424
@mrunalp interesting...no clue what those changes do :smile: but I'll rebase my PRs and re-run, let's see if they all pass now...

[2018-03-13 09:49] mhausenblas commented on #719
Bumping this again, we should get our act together here and at least have a timeline for it. See also https://github.com/kubernetes/community/pull/1719

[2018-03-13 13:03] rhatdan commented on #719
@mhausenblas CRI-O just does stuff that is implemented in the CRI by Kubernetes, if Kubernetes grows the ability to modify the resource constraints in CRI, the CRI-O Will implement them.

[2018-03-13 20:30] cevich commented on #1424
Update: I'm not seeing the kernel messages I saw before when testing manually from #1437

[2018-03-14 15:58] adelton opened #1453 "Removing pod sandbox fails due to .../userdata/shm: device or resource busy"
**Description**

I create pod sandbox and I remove it right away. The removal fails.

**Steps to reproduce the issue:**
1. Have `podsandbox-config.json` file with content

[code]

2. Run `crictl runp podsandbox-config.json | xargs crictl rmp`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happ

[2018-03-14 16:00] adelton commented on #1453
Even if I do the `crictl rmp` manually after a while and I wait until `crictl pods` shows `SANDBOX_READY`, I get the same failure.

However, rerunning the `crictl rmp` passes.

[2018-03-14 16:03] adelton commented on #1453
However, the directory `/var/run/containers/storage/overlay-containers/.../userdata` stays around and an attempt to remove it fails with

[code]

After a while, there is ton of these `.../userdata/shm` mountpoints left around which does not seem healthy.

[2018-03-14 16:05] rhatdan commented on #1453
We have cleaned this up on podmon.  It looks like a cleanup path is not happening if you just create the sandbox without creating a container, or does this leak happen both ways.

[2018-03-14 16:22] adelton commented on #1453
I see this even if I create and start container in that pod.

I'm not sure I follow your reference to `podmon` ...

[2018-03-14 17:06] rhatdan commented on #1453
The code looks correct.  But hard to say.

In sandbox_stop.go
[code]

[2018-03-14 17:07] rhatdan commented on #1453
If we add debug to this code to see if the paths are right and then code is actually being executed.

[2018-03-14 17:26] mrunalp commented on #1453
This could be due to the shm leaking into other mount namespace.
@adelton When you hit this failure, can you grep for that particular path in other processes?
grep path /proc/*/mountinfo

And then see get a list of those processes.

Also, are you testing on RHEL or Fedora?

We can use oci-umount to prevent leaks.

[2018-03-14 17:33] adelton commented on #1453
That `grep` find the path in `/proc/*/mountinfo` in all processes in the system.

This is on Fedora 27 with kernel-4.15.7-300.fc27.x86_64.

[2018-03-14 17:52] mrunalp commented on #1453
@adelton Can you enable oci-umount but with these paths in the config? https://github.com/projectatomic/oci-umount/commit/0ff3084750611396c5da2c16f4629f5c35de12d5

Also, you would need to make sure that this file is present:
[code]

And crio.conf has this setting:
[code]

[2018-03-16 17:50] mrunalp commented on #1372
@wking We aren't seeing that anymore. We can probably close this.

[2018-03-16 17:58] rhatdan commented on #441
@mrunalp  I think we can close this now?

[2018-03-16 18:02] rhatdan commented on #91
Any update on this issue?

[2018-03-16 18:03] rhatdan commented on #554
I don' think this is an issue any more, since KATA containers say they are using devicemapper?

[2018-03-16 18:03] #554 closed

[2018-03-16 18:03] rhatdan commented on #483
@mrunalp Any update on this issue?

[2018-03-16 18:04] rhatdan commented on #527
8 Months later @runcom @dcbw @rajatchopra Is this still an issue?

[2018-03-16 18:05] rhatdan commented on #288
I pinged Steve Grubb to see if he is interested in auditing added to CRI-O.  Might be a better question for podman and buildah.

[2018-03-16 18:06] rhatdan commented on #616
@runcom @lsm5 Is this still something we need.  I think @baude did something to get packages to build on ever Pull for podman and buildah.

[2018-03-16 18:07] rhatdan commented on #477
@sameo @runcom @mrunalp Do we have tests for this now?  Can I close this?

[2018-03-16 18:07] rhatdan commented on #478
@sameo @runcom @mrunalp Do we have tests for this now?

[2018-03-16 18:08] rhatdan commented on #278
@sameo @runcom @mrunalp Is this fixed?

[2018-03-16 18:08] #1372 closed

[2018-03-16 18:09] rhatdan commented on #293
Since CRI-O Seems to be working with OpenSUSE, I am going to close this issue.

[2018-03-16 18:09] #293 closed

[2018-03-16 18:10] rhatdan commented on #132
@runcom @cyphar Where are we on this issue?

[2018-03-16 18:10] rhatdan commented on #519
I think @sjug runs these regularly.  I am closing this issue.

[2018-03-16 18:10] #519 closed

[2018-03-16 18:11] rhatdan commented on #484
@mrunalp @rajatchopra @dcbw is this still an issue?

[2018-03-16 18:11] rhatdan commented on #287
@gouyang Still an issue?

[2018-03-16 18:12] rhatdan commented on #815
@derekwaynecarr @mrunalp Is this still an issue?

[2018-03-16 18:12] rhatdan commented on #838
@runcom Can we close this issue?

[2018-03-16 18:13] rhatdan commented on #901
Do we have better documentation and can we close this issue?

[2018-03-16 18:14] rhatdan commented on #610
What's the skoop on this, do we still want slack, do we have slack?

[2018-03-16 18:14] rhatdan commented on #600
@runcom @mrunalp Did we ever do anything for this?  Can I close this issue?

[2018-03-16 18:15] rhatdan commented on #918
@runcom @mrunalp Any update on this?

[2018-03-16 18:15] rhatdan commented on #941
@dcbw @runcom @mrunalp Is this still something we want?  Have we done it?

[2018-03-16 18:16] rhatdan commented on #893
@weiwei04 @runcom Did this ever happen?

[2018-03-16 18:17] rhatdan commented on #1204
@mcastelino @mrunalp Did anything ever happen with this?

[2018-03-16 18:18] rhatdan commented on #1215
@anarcat is this still an issue?  @baude @mheon Have we improved this situation at all?

[2018-03-16 18:19] rhatdan commented on #1219
Crio supports --log-level.
Closing.

[2018-03-16 18:19] #1219 closed

[2018-03-16 18:20] rhatdan commented on #1223
@runcom  Since 1217 was merged can we close this issue.

[2018-03-16 18:20] rhatdan commented on #1228
@runcom Is this still a problem.

[2018-03-16 18:21] rhatdan commented on #1241
@mikkeloscar Is this still an issue?  Or can I close this?

[2018-03-16 18:22] rhatdan commented on #1238
I guess this has never gone anywhere?

[2018-03-16 18:23] rhatdan commented on #1060
We now share.

[2018-03-16 18:23] #1060 closed

[2018-03-16 18:24] rhatdan commented on #1246
@linets-soporte Is this still an issue?  If I don't here from you in a week, I will close this figuring it is solved.

[2018-03-16 18:24] mikkeloscar commented on #1241
@rhatdan the latest version I tried (v1.9.9) still had this issue.

[2018-03-16 18:25] mheon commented on #1215
We do not support searching $PATH for runc or conmon, but we do ship a configuration file now to specify their locations, and will produce good error messages when either one is not found.

[2018-03-16 18:25] rhatdan commented on #1257
@umohnani8 @runcom Is someone working on this? Is this still an issue?  @baude @mheon aren't you guys seeing issues with this?

[2018-03-16 18:26] rhatdan commented on #1141
@lsm5 Can you update this ISSUE with locations for rpms for Centos and then close.

[2018-03-16 18:26] nalind commented on #1172
We switched to buffering layers to disk before applying them in #305, so the `PutBlob()` operation should be bound mainly by local CPU and disk in 1.9.3 and later.

[2018-03-16 18:27] mheon commented on #1257
Conmon is pretty good about throwing errors into syslog, but its double-fork makes them difficult to catch in `podman` - we still can't reliably get errors our of `runc`. I'd love to see improved conmon logging (a --debug flag, maybe?) and the option to output logs to file as well.

[2018-03-16 18:27] rhatdan commented on #1266
@mrunalp @runcom Have you guys looked into this?

[2018-03-16 18:27] rhatdan commented on #1266
@umohnani8 PTAL

[2018-03-16 18:28] rhatdan commented on #1242
@mhausenblas @mrunalp @wking @runcom Since we can now share the pidnamespace should we write that blog?

[2018-03-16 18:29] rhatdan commented on #1196
Since that PR is merged, I am closing this issue.  Reopen if it is not fixed.

[2018-03-16 18:29] #1196 closed

[2018-03-16 18:30] rhatdan commented on #1276
@kfox1111 Are you still having this issue?
@umohnani8 PTAL

[2018-03-16 18:30] rhatdan commented on #1258
@kfox1111 @runcom Is this still an issue?

[2018-03-16 18:31] rhatdan commented on #1279
@ddongchen @sameo Is this still an issue?

[2018-03-16 18:31] rhatdan commented on #1285
@wking @runcom Is this still an issue?

[2018-03-16 18:32] rhatdan commented on #1248
@theatrus Isn't this fixed now?

[2018-03-16 18:33] rhatdan commented on #594
@runcom Is this still something we care about?  Do we have a trello card for it?

[2018-03-16 18:34] rhatdan commented on #1259
@gouyang @runcom Do we still have this issue?

[2018-03-16 18:35] rhatdan commented on #1301
According to @wanghaoran1988 This should no longer be an issue, Reopen if it is still a problem

[2018-03-16 18:35] #1301 closed

[2018-03-16 18:35] rhatdan commented on #1330
@mheon Is this still an issue?

[2018-03-16 18:36] rhatdan commented on #1346
@lsm5 Has this been done?  Can we close this issue?

[2018-03-16 18:36] rhatdan commented on #533
I am going to close this issue, Since it seems to be fixed.

[2018-03-16 18:36] #533 closed

[2018-03-16 18:37] rhatdan commented on #1222
@flx42 This issue is fixed for you now correct?

[2018-03-16 18:38] rhatdan commented on #1379
@TomSweeneyRedHat Can you open a PR to fix this?

[2018-03-16 18:38] rhatdan commented on #1387
@TomSweeneyRedHat Can you figure out what is going on or fix the tuturial?

[2018-03-16 18:41] mheon commented on #1330
@rhatdan Pretty sure it is, no changes to the seccomp code in awhile

[2018-03-16 18:42] rhatdan commented on #1330
@umohnani8 PTAL, I think this is solved in podman, could you take the code from there and make it work in CRI-O.

[2018-03-16 18:43] rhatdan commented on #1330
@mrunalp This could be a serious issue.

[2018-03-16 18:43] flx42 commented on #1222
I think so, @RenaudWasTaken?

[2018-03-16 18:45] mrunalp commented on #1285
Nope. we haven't been hitting this. @wking can you close this?

[2018-03-16 18:49] rhatdan commented on #1215
Crio also has a config file for this data.  Closing this issue.

[2018-03-16 18:49] #1215 closed

[2018-03-16 18:50] rhatdan commented on #1257
@giuseppe PTAL

[2018-03-16 19:00] RenaudWasTaken commented on #1222
Last time I tested it that was good.
Is there a code freeze so that we can make sure there wasn't any regression?

I think we should also discuss if and how we can introduce some testing to
prevent future regressions.
--
Renaud Gaubert

[2018-03-16 19:47] kfox1111 commented on #1276
I have not had a chance to test this since. I switched to use nsenter as a workaround and it has been working pretty well.

[2018-03-16 19:49] kfox1111 commented on #1258
unsure. I stopped using cri-o for a little while when my laptop ate itself. Will try again soon.

[2018-03-16 19:53] mhausenblas commented on #1242
I think that would be awesome @rhatdan!

[2018-03-16 19:56] TomSweeneyRedHat commented on #1387
The tutorial was fixed in #1393.  Neglected to close this out after that merged, doing so now.

[2018-03-16 19:56] #1387 closed

[2018-03-16 19:56] #1285 closed

[2018-03-16 20:00] rhatdan commented on #1222
Well we are running CRI-O v1.9.10 in production right now on OpenShift Online.  Our plan is to ship it in OpenShift 3.9 release which is coming in April I believe.  But we are pretty much frozen now, only bugfixes.

[2018-03-16 20:04] rhatdan commented on #1258
@kfox1111 Good we want you back.  :^)

[2018-03-16 22:26] wking commented on #91
#1265 is my first step towards making the pause container optional.  I'd like to leave this open until we have removed the pause-container requirement.

[2018-03-17 00:33] gouyang commented on #1259
Test on the master, not an issue any more.

[2018-03-17 00:33] #1259 closed

[2018-03-17 00:37] gouyang commented on #287
The issue is gone on the master.

[2018-03-17 09:59] #287 closed

[2018-03-17 10:01] runcom commented on #1266
This should be fixed already, @umohnani8 could you test it out?

[2018-03-17 10:02] runcom commented on #1228
Nope, we haven't seen this happening anymore

[2018-03-17 10:02] #1228 closed

[2018-03-17 10:02] runcom commented on #441
Yup!

[2018-03-17 10:02] #441 closed

[2018-03-17 12:45] rhatdan commented on #1266
Closing issue, reopen if it still exists.

[2018-03-17 12:45] #1266 closed

[2018-03-17 19:58] umohnani8 commented on #1266
Tested it out with latest cri-o and it works for me.

[2018-03-17 20:04] umohnani8 commented on #1330
@rhatdan @mheon any idea where this is solved in podman? And how can I reproduce this with keyctl?

[2018-03-18 02:28] theatrus commented on #1248
Apologies - yes, this is fixed.

[2018-03-18 02:28] #1248 closed

[2018-03-18 11:00] rhatdan commented on #1330
In cmd/podman/spec.go
[code]
		configSpec.Linux.Seccomp = nil
is the key line.  You have to null out the Seccomp filter in the spec.

[2018-03-18 11:17] rhatdan commented on #1266
Excellent.

[2018-03-18 19:43] cyphar commented on #1215
Also `$PATH` would not be entirely safe in my opinion. You want to have to specify a path rather than just a name.

[2018-03-18 22:05] stevegrubb commented on #288
I'd be happy to help flesh out the requirements. There's 2 kinds of requirements...the ones for common criteria, and the extra information you might want not required by CC. CC wants the full lifecycle events such as start, stop, suspend, migrate, etc. It wants resource assignments. And a couple other things. The requirements are more or less spelled out in this document:

https://github.com/linux

[2018-03-19 13:49] lsm5 commented on #616
afaik the COPR approach that @baude uses isn't doable for cri-o since we don't have admin privileges on the kubernetes-incubator account.

I can resume the `make rpm` approach with specfile in upstream if @cevich @edsantiago are on board.

[2018-03-20 17:07] umohnani8 opened #1462 "Make localintegration fails the first time"
**Description**

Make localintegration fails the first time. It works on the second attempt and runs through the tests.

**Steps to reproduce the issue:**
1. As root run, `make localintegration TESTFLAGS=test/ctr.bats`

**Describe the results you received:**

[code]

**Describe the results you expected:**
Should run the tests in the first attempt.

**Output of `crio --version`:**

[code]

[2018-03-20 19:29] cevich commented on #616
/me shares his spare 2x4 with @edsantiago

[2018-03-20 19:39] umohnani8 commented on #1330
I can't reproduce this issue. Build cri-o without the seccomp buildtag, and left the crio.conf unmodified. Started a privileged pod and ran a privileged fedora container(with keyutils installed) inside it and this is the output of keyctl show:
[code]

However with the seccomp buildtag I am seeing the same thing for `keyctl show` for privileged pod and container.
Tried it for a non-privileged pod a

[2018-03-20 19:41] mheon commented on #1330
I think we need a better syscall to test with. `keyctl` seems to be working even when the call itself should be blocked?

[2018-03-20 20:18] wking commented on #1462
On Tue, Mar 20, 2018 at 05:07:14PM +0000, Urvashi Mohnani wrote:

I expect we want a $(GOPATH) order-only dependency for rules like [1]
that may create something beneath $GOPATH but are not capable of
creating the $GOPATH directory itself.

[1]: https://github.com/kubernetes-incubator/cri-o/blob/0fb585abb483d8b8798a9ab27f8cb73bb1c0d7ca/Makefile#L57-L62

[2018-03-20 21:15] edsantiago commented on #616
@runcom do you still find this necessary? If so, do you consider it nice-to-have or pretty-important?

Reason for asking: long ago I felt ok with keeping specfile & source together. Over the years, experience has changed my mind: distro packaging does not belong in the source repo. In November we had a time-consuming and fruitless exercise in which we tried to combine sources and spec: it was a me

[2018-03-20 21:27] dghubble commented on #896
Introductory tutorial [tutorial](https://github.com/kubernetes-incubator/cri-o/blob/master/tutorial.md#pod-tutorial) leads me straight into this issue on Fedora 27 trying to create a sandbox locally.

@runcom Can you provide more context? Independent of Kubernetes or your testing, what's the right path?

[2018-03-20 22:13] dghubble commented on #1453
I can reproduce this issue as well on Fedora 27. I changed the `oci-umount.json` file as described (the other changes were already present) and `sudo crictl rms` started working.

[2018-03-21 01:16] lsm5 commented on #616
On Tue, Mar 20, 2018 at 02:15:57PM -0700, Ed Santiago wrote:

While I used to hate specfile_in_upstream too, it does have value in that we
could just run `make rpm` and
report buildability status, kinda like what I had with the -testonly.spec. Deps
usually don't change that often and runtime deps shouldn't affect buildability
anyway. I don't see the need to keep this specfile totally in sync with

[2018-03-21 04:52] wking commented on #616
But this approach would work fine regardless of whether the packaging information was stored in this repo or not, right?  You'd just replace [this][1] with a `curl` call to pull the release source from GitHub.

[1]: https://github.com/kubernetes-incubator/cri-o/commit/9bace79e3503ede55258f69c3dfed4c19d2a8f5d#diff-b67911656ef5d18c4ae36cb6741b7965R96

[2018-03-21 16:25] lsm5 commented on #616
On Tue, Mar 20, 2018 at 09:52:41PM -0700, W. Trevor King wrote:

maybe, but I'd like to avoid change commit/fetch commit stuff in dist-git's
specfile for building the latest commit.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-03-21 16:33] wking commented on #616
`git clone --depth=1 …` is pretty efficient, but if you want to build non-releases you can also pull [an archive for the latest commit][1] from GitHub.

[1]: https://github.com/kubernetes-incubator/cri-o/archive/master.tar.gz

[2018-03-21 18:18] lsm5 commented on #616
On Wed, Mar 21, 2018 at 09:34:17AM -0700, W. Trevor King wrote:

I don't quite see what you mean.
I thought the point was to test a PR to check if it builds before merge. I
guess I'll leave it to you to send a patch.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-03-21 18:31] wking commented on #616
You're right, we wouldn't be doing that if the RPM spec and other packaging lived in external repositories.  Do we need that though?  We already have local CI to test that things build here.  And you'd have [your daily cron jobs][1] to test the packaging and see if things built on rawhide.  Maybe the need to keep everything together would be easier for me to understand if you could give an example

[2018-03-21 18:31] joejulian commented on #1422
https://github.com/cncf/toc/blob/master/process/project_proposals.adoc

[2018-03-21 18:38] lsm5 commented on #616
On Wed, Mar 21, 2018 at 06:31:29PM +0000, W. Trevor King wrote:

I don't know if things have changed in cri-o, but I vaguely remember rpms
having build failures in docker sometime in the past. If you're certain those
don't occur anymore, then we don't need this.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-03-21 18:47] wking commented on #616
Since #43 building the Docker container and running integration tests inside it have been part of Travis testing.  For a recent example, see [here][1] and [here][2].

[1]: https://travis-ci.org/kubernetes-incubator/cri-o/jobs/356427034#L641
[2]: https://travis-ci.org/kubernetes-incubator/cri-o/jobs/356427034#L3190

[2018-03-21 20:01] cevich commented on #616
I'm not saying wrong/right here, just a summary of the historical discussions on this topic.  It's totally fine if we rely on the build systems to catch problems (and we should do that also).  My understanding is/was (maybe wrong), we'd like to CI-test the packaged PR artifact because:

*  Because humans are involved, it's possible/likely that ``make all`` from the source-repo produces substantial

[2018-03-21 20:30] wking commented on #616
With the RPM spec in a separate repo (or even a separate branch in this repo), you could still have CI testing to pick up these sorts of issues.  Spec-branch CI looking for “woops, I forgot to update the spec” is a perfect match.  The issue would be CRI-O-source bugs that only show up in spec CI testing, and I think *those* would be better served by improving the package-agnostic CI tests.

As far

[2018-03-21 20:49] mrunalp commented on #1453
@dghubble Thanks for the report. Glad that oci-umount worked :)

[2018-03-21 21:55] cevich commented on #616
True, though in many cases the "you" in that sentence is somebody who's juggling a TON of automation/CI priorities or a developer who likes to stay away from CI :fearful:  Hence the 'two birds, one stone' aspect to some of the bullet-points.  But I'm reserving my right to be dead-wrong about all of it :grinning:

There's oodles of dislike (out of unrelated frustrations) for Travis among this crowd

[2018-03-21 22:48] wking commented on #616
On Wed, Mar 21, 2018 at 09:55:52PM +0000, Chris Evich wrote:

I'm not arguing for anything to be outside of CI.  I'm just arguing
for master to be core code covered by core CI, with packaging
somewhere else with its own CI.

I don't really care which CI system we use.  But part of my desire to
keep packaging external is that there are *lots* of package managers,
and if we set a packaging-in-master

[2018-03-21 23:09] cevich commented on #616
Thanks for spelling it all out.  I'm pretty sure I'm on the same 2x4 as you also now. If it were simple, it wouldn't be called "work" right? :grinning:

[2018-03-22 00:49] lsm5 commented on #616
On Wed, Mar 21, 2018 at 11:09:43PM +0000, Chris Evich wrote:

tl;dr, but anyway, I plan to rebuild rawhide nightlies (can do more often if
needed) using master for cri-o and others. Please lmk if I shouldn't.

For xenial debs, I'm already building release-1.[8.9.10] branches and will set
them up for nightlies starting tonight.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-03-22 14:32] cevich commented on #616
@lsm5 instead of crond, it's possible to convince Travis to do periodic builds.  Then it's not dependant on your specific crond-box.  Just an idea.

[2018-03-22 14:45] lsm5 commented on #616
On Thu, Mar 22, 2018 at 07:32:19AM -0700, Chris Evich wrote:

well travis uses an older ubuntu, so that's a deal breaker for me.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-03-22 14:48] cevich commented on #616
@lsm5 there's a way around that, I did a demo this week. :smile:

Check out: https://github.com/containers/storage/blob/master/.travis.yml and the scripts it uses.

[2018-03-22 15:09] lsm5 commented on #616
On Thu, Mar 22, 2018 at 02:48:11PM +0000, Chris Evich wrote:

Btw, do you know if this'll allow for unmanned krb auths? For example, fedpkg
needs me to be kinit'd before I can do anything.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-03-22 15:23] wking commented on #616
Is the trick using the initial Travis environment as a shim to launch [a container with your real CI environment][1]?  That sounds like a good idea to me :).

[1]: https://github.com/containers/storage/commit/02a59b03989284f02820a56e5c51f98db8306843#diff-85c6256f22fb9c9706deb8bf4f6e3d67R11

[2018-03-22 16:19] wking commented on #616
Looks like Travis has an open issue for skipping the shim and directly launching from a user-specified image: travis-ci/travis-ci#7726.  And [GitLab Runner already supports this][1].

[1]: https://docs.gitlab.com/ce/ci/docker/using_docker_images.html#define-image-and-services-from-gitlab-ci-yml

[2018-03-22 17:38] cevich commented on #616
This can be set up through the Travis CI project-settings page.  Essentially you can specify "secret" environment variables who's values will be hidden...unless somebody (with access to .travis.yml) exposes them :face_with_head_bandage: So, it's "possible", though I'd still suggest using a "bot" account with limited privileges, instead of your real one.

GitLab (public and private/personal instanc

[2018-03-23 14:07] umohnani8 commented on #1276
@kfox1111 could you try this out with the latest version of cri-o and let us know if you are still having an issue?

[2018-03-23 14:07] runcom commented on #1330
@mheon I can see we null out the seccomp struct in the spec in box sandbox/container creation. Could you actually, pls, provide clear steps to reproduce?

[2018-03-23 14:08] runcom commented on #1330
also, please confirm this is not working correctly in master

[2018-03-23 14:15] mheon commented on #1330
@runcom I originally found this when we were trying to get containerized podman working, but the procedure I used then doesn't seem to be working anymore. Looking at the code, I can't see a clear path for this to happen either.

I'm going to assume it was something else blocking the syscall; probably capabilities? I might have been running unprivileged by mistake.

I'll close this, given it doesn'

[2018-03-23 14:15] #1330 closed

[2018-03-23 15:28] adelton commented on #1453
Is it expected that CRI-O functionality would depend on these external hooks that it does not ship?

[2018-03-23 15:39] rhatdan commented on #1453
Does that mean we can close this.

[2018-03-23 15:54] rhatdan commented on #1453
adelton, this is also required for docker to work correctly. Leaked mount points are a fact of life, this is not something we can control.  We should make oci-umount a requirement of the cri-o package though.

[2018-03-27 22:03] wking commented on #616
With #957 just closed, do we want to close this one as well?

[2018-03-28 14:47] cevich commented on #616
@wking soon :grinning: I'm helped @lsm5 get squared away with build + tests for the ubuntu packages, using branches on a fork (for now).  The Fedora RPM-based testing is still quite a bit airborne, but for orthogonal reasons.  The RHEL package-testing part (I think) can be made single-prong - thanks to your dialog above - and hence closure of #957.  It's possible we can solve both the Fedora and R

[2018-03-28 15:24] umohnani8 commented on #1379
@rhatdan this is done. Issue can be closed.

[2018-03-28 15:38] #1379 closed

[2018-03-28 16:12] TomSweeneyRedHat commented on #1379
Ooops, yep, my bad I should have circled back and touched this up.

[2018-03-28 20:22] wking opened #1473 "flake: “The binary conntrack is not installed”"
We've been seeing these recently, e.g. on master [here][1]:

[code]

Previous instances of that flake [here][2] (still in flight) and [here][3] (recently landed).

The error text itself landed in e5fdb6bc9e (#1392), where [the test passed][4], but I haven't dug into that code to figure out what it's doing.

[1]: https://travis-ci.org/kubernetes-incubator/cri-o/jobs/359476396#L3264
[2]: https://git

[2018-03-28 20:24] wking commented on #1473
Or maybe the “conntrack” message is a red herring, and the server is going down for a different reason?

[2018-03-30 15:21] phemmer opened #1477 "StopContainer is racy"
StopContainer is racy in that if the process exits in between when the check happens and when the signal is sent, the function will error out.

https://github.com/kubernetes-incubator/cri-o/blob/1a25658eba1f34527209e379a14bd83531dcef3f/oci/oci.go#L675-L692

I ran into this issue with OpenShift 3.9, resulting in:
[code]
With the cri-o logs showing:
[code]

**Steps to reproduce the issue:**
1. Have

[2018-03-30 16:59] runcom commented on #1477
I'll add sync around this

[2018-03-30 16:59] runcom commented on #1477
Actually, I think it's just worth checking if the process is still around before sending the signal

[2018-03-30 17:03] phemmer commented on #1477
That's what the code is already doing. The problem is that between the check, and sending the signal, the process disappears.

I think the only way to solve this is going to be to re-check after sending the signal to see if it's still there, and if it's not, pretend that there was no error and return success.

[2018-03-30 18:15] runcom commented on #1477
@phemmer https://github.com/kubernetes-incubator/cri-o/pull/1478

[2018-03-30 21:07] dariopb opened #1479 "Can not rm pods, fails with "container id does not exist""
**Steps to reproduce the issue:**
1. Create a new pod and wait until it is in the ready state
2. Try to remove that pod

The same issue happens if I create containers in that pod and then try to remove the pod (stop and remove the container before that).

How can I clean up the setup in this state?

[code]

[2018-04-01 02:20] mrunalp commented on #1479
Are you using cri-o compiled from source? What version of crictl are you using?

[2018-04-02 19:53] mheon opened #1481 "Conmon can only handle one attach session at a time"
**Description**

Spawned from https://github.com/projectatomic/libpod/issues/580

Right now, `conmon` can only handle a single attach session at a time. If a new attach request comes in over the attach socket, the current session is overwritten and stops receiving output.

There is, as best I can tell, no fundamental reason for this - `conmon` simply doesn't have logic for handling multiple open a

[2018-04-02 20:05] rhatdan commented on #1481
@giuseppe Can you look into this?

[2018-04-02 22:31] wking commented on #901
There are upstream docs [here][1].  We got more docs on files consumed by `crio` in #1476, but docs for this file were not among them.  Upstream doesn't seem to provide a man page for `policy.json`, but perhaps we can just link [here][1] from our man page?  Would we want to pin that link to whatever version of containers/image we were currently vendoring or let it float with upstream's master?

[1

[2018-04-03 00:57] ijl opened #1482 "Compatibility with past k8s versions"
Could you please include more explicit documentation, beyond the compatibility matrix (https://github.com/kubernetes-incubator/cri-o#compatibility-matrix-cri-o---kubernetes-clusters), on whether cri-o will make any guarantees or effort on being able to run past versions of kubernetes? When can a breaking change be introduced?

[2018-04-03 09:34] giuseppe commented on #1481
PR here:

https://github.com/kubernetes-incubator/cri-o/pull/1483

[2018-04-03 12:00] rhatdan commented on #901
https://github.com/containers/image/pull/435
I am rebuilding skopeo-containers to provide this man page.

[2018-04-03 12:26] rhatdan commented on #1482
I think the only thing we can guarantee is that the cri-o version matches the version of Kubernetes.  Kubernetes has made a few broken changes to CRI which CRI-O implemented.

[2018-04-03 12:51] rhatdan commented on #1481
@giuseppe Thanks.

[2018-04-03 21:26] #1477 closed

[2018-04-03 21:48] runcom commented on #1477
@phemmer, PR has been merged into master, I'll backport it, is there any way you can test it out?

[2018-04-03 22:42] phemmer commented on #1477
not easily. I was doing something that was causing kubernetes routers to die, and were occasionally falling into this situation, but I don't remember what that was at this point. I can deploy it and see if the issue comes back, but that's about it.

[2018-04-03 22:52] wking commented on #1477
One way to test would be to launch ‘crio’ with ‘--runtime=runc.sh’
where runc.sh is something like:

  #!/bin/sh
  if test kill = "$1"
  then
    sleep 120
  fi
  exec runc "${@}"

Then run a container with ‘sleep 60’ or some such as the worker
process, tell Kubernetes to stop it, and check the logs to see the
messages added in #1478.

[2018-04-04 05:52] sboeuf opened #1488 "test: Fix race condition in ctr.bats"
When running BATS testing from `ctr.bats`, it works very well for `runc`, but in case of Kata Containers, we can expect actions to take longer time to be achieved. In the specific case of the test `ctr /etc/resolv.conf rw/ro mode` from `ctr.bats`, we should not expect the container state to be `CONTAINER_EXITED` right after the start returned. Indeed, it might take some time for the container to e

[2018-04-04 08:27] adelton commented on #1432
I was now able to reproduce the error again, with CRI-O and `crictl` both built from their masters, and journal says

[code]

[2018-04-04 08:30] adelton commented on #1432
The `Failed to add conmon to systemd sandbox cgroup: Invalid unit name ''` seems remotely similar to https://github.com/kubernetes-incubator/cri-o/issues/842. I use

[code]

in my setup.

[2018-04-04 09:54] adelton commented on #1453
Even if I install

[code]

and have

[code]

the

[code]

still fails, with CRI-O and `crictl` built from their masters.

[2018-04-04 11:10] #1488 closed

[2018-04-04 15:36] ehmm opened #1490 "cri-o 1.9 crashes on shutdown"
Using cri-o 1.9 from ppa.launchpad.net/projectatomic/ppa/ubuntu with kubernetes 1.9 on AWS.
I experience hangs sometimes when rebooting the system.

To debug I manually created `/var/lib/crio/crio.shutdown` and shutdown the crio service using systemctl to look at the cri-o log more conveniently.

Looking at the log I can see the crash (attaching as it is long)
[crio.log](https://github.com/kuberne

[2018-04-04 16:21] sboeuf opened #1491 "Backport ctr.bats fix to release 1.9"
The fix recently merged here #1489 needs to be backported to `release-1.9` branch.

[2018-04-04 16:22] sboeuf opened #1492 "Backport ctr.bats fix to release 1.10"
The fix recently merged here #1489 needs to be backported to `release-1.10` branch.

[2018-04-04 18:04] vbatts opened #1498 "run as pid2"
**Description**
This is a discussion topic, and if it is already a feature please close this issue.
Given the role of pid 1, despite the pattern of running containers with the command as pid 1 and may not be prepared to wait on children and handle zombies. Cri-o should have the ability, even if set as a global default, to run containers under a stub init whenever the arg[0] is not one of `/sbin/in

[2018-04-04 18:07] wking commented on #1498
Some related discussion in #1242.  Although if the intention here is to install your own reaper without a pod-scoped PID namespace, this issue is distinct from the previous discussion.

[2018-04-04 19:38] rhatdan commented on #1498
Doesn't conmon already do reaping for you?

[2018-04-04 19:51] wking commented on #1498
On Wed, Apr 04, 2018 at 07:39:00PM +0000, Daniel J Walsh wrote:

I hope not ;).  How would it distinguish between “the container's init
doesn't know what it's doing” (where you'd want something CRI-O
specific to be able to step in an reap) and “the container's init
needs to monitor process exits and just hasn't gotten around to
reaping that particular process yet” (where you'd want CRI-O to leave

[2018-04-04 20:09] wking commented on #901
Closed by #1497.

[2018-04-04 21:11] dariopb commented on #1479
Compiled from source. Using:

root@cc-dario:/home/dario# /usr/local/bin/crio --version
crio version 1.9.0-dev
commit: "ebb88f9a6751465b4292b9c5a88a29dd42449b32"

[2018-04-05 14:44] #1490 closed

[2018-04-06 03:53] dariopb commented on #1479
I compiled and run the most recent cri-o code and I'm not reproing this anymore.

[2018-04-06 03:53] #1479 closed

[2018-04-06 08:09] adelton commented on #1453
Hmm, when I append

[code]

to `/etc/oci-umount.conf`, I no longer see the error. Having just the `/run/containers/storage/*` from https://github.com/projectatomic/oci-umount/commit/0ff3084750611396c5da2c16f4629f5c35de12d5 per https://github.com/kubernetes-incubator/cri-o/issues/1453#issuecomment-373115726 is not enough, in spite of the fact that

[code]

Should I file pull requests against https:

[2018-04-06 08:28] adelton commented on #1453
It's even weirder. Thinks used to work with that `/var/run/containers/storage/*` for a while, namely when there were other pods still running on the machine.

However, when I remove all the pods and containers so that `crictl pods`, `crictl ps -a`, and `mount | grep userdata` don't list anything, running that

[code]

fails again. The error message is

[code]

and I see

[code]

(so it's (reported

[2018-04-06 12:24] rhatdan commented on #1453
@rhvgoyal WDYT?
@adelton Open a PR for oci-umount for /var/run.

[2018-04-06 15:30] #1481 closed

[2018-04-06 18:41] rhvgoyal commented on #1453
So what is the problem? We are trying to remove a container/pod and that fails because associated mount point is busy? If shm is still mounted on, that directory removal will fail. So first thing is to figure out why this  shm is still mounted on.

[2018-04-08 05:27] kars7e opened #1512 "Default pause container does not work on non-amd64 architectures"
**Description**

Default `crio.conf` config file (I've checked Ubuntu `ppa` repo and the one installed via `make install.config`) uses `kubernetes/pause` image which is amd64 only. This breaks pod creation on other architectures, e.g., ARM. The workaround is straight-forward, one needs to replace the image with architecture specific, e.g.:
[code]
However, I've learned it the hard way. Following [t

[2018-04-08 13:46] wking commented on #1512
What a thorough report; thanks :).

Having `crio` and `conmon` daemons both writing to the same log file sound difficult.  And we have to drop the stderr connection before calling `create`, etc., so that can't be pushed back much further.

My preferred solution to this sort of thing is to have everything dumping into a system logger (syslog, journalctl, etc.) to make it easy to see all the logs in

[2018-04-09 08:41] wanghaoran1988 opened #1514 "RunPodSandbox should return same RunPodSandboxResponse when post same RunPodSandboxRequest"
**Description**

**Steps to reproduce the issue:**
1. sudo crictl -D --runtime-endpoint /var/run/crio/crio.sock runp test/testdata/sandbox_config.json
2. sudo crictl -D --runtime-endpoint /var/run/crio/crio.sock runp test/testdata/sandbox_config.json
3.

**Describe the results you received:**

the 2 step return a different sandbox id
**Describe the results you expected:**
should return same id

**

[2018-04-09 13:03] fungusakafungus opened #1515 ""Killing unwanted pod" messages never stop"
**Description**

I'm using k8s 1.9.6 and crio 1.9.10 on openstack.
After starting and stopping many pods(for example when running heptio sonobuoy scanner), sometimes I see a flood of messages in kubelet logs in form `Killing unwanted pod "some-pod"`. These messages repeat every two seconds. They appear only on some nodes. The pods mentioned in the message are no longer known to k8s api (`kubectl g

[2018-04-09 13:27] fungusakafungus commented on #1515
Looks like removing volumes from `reproducer.yml` does not fix it, so here's a smaller `reproducer.yaml`:
[code]

[2018-04-09 13:45] fungusakafungus commented on #1515
Here's what I see when I grep for one of those pods:

[code]

[2018-04-09 13:58] runcom commented on #1515
I can see failures to stop the container by runc

[2018-04-09 14:10] fungusakafungus commented on #1515
I tried this manually and got
[code]

[2018-04-09 16:39] mrunalp commented on #1514
The id is a uuid that is generated when that command is run and is expected to be different each time.

[2018-04-09 16:49] mrunalp commented on #1515
This should probably be fixed by #1501.

[2018-04-10 04:37] #1514 closed

[2018-04-10 05:37] wanghaoran1988 commented on #1514
@mrunalp why not return the id that already created? instead of stop the one created first time and create a new one?

[2018-04-10 08:34] fungusakafungus commented on #1515
I'll wait for 1.9.11 and test again then

[2018-04-10 18:51] GabyCT opened #1520 "cri-o bats testing are not working on CentOS"
Using the following configuration:
CentOS 7
Docker version 18.03.0-ce, build 0520e24

However, when I am running
$ bats ctr.bats
I am getting the following error

[code]

[2018-04-10 19:17] wking commented on #1520
On Tue, Apr 10, 2018 at 06:51:21PM +0000, GabyCT wrote:

Maybe you need to adjust hack/selinux_tag.sh or manually set BUILDTAGS
when calling Make:

  $ make BUILDTAGS='exclude_graphdriver_devicemapper libdm_no_deferred_remove …' …

Do you really have libselinux installed on a system that does not
support SELinux?

[2018-04-10 20:02] GabyCT commented on #1520
@wking thanks for the help, the make BUILDTAGS delete the error however I am getting the following issue
[code]

[2018-04-10 21:17] mrunalp commented on #1515
I have tagged v1.9.11. The rpms would be available in a bit but you can build from source if you like.

[2018-04-11 06:04] rhatdan commented on #1515
The package is built in Brew.  rhaos-3.9-rhel-7

[2018-04-12 15:39] jcvenegas opened #1523 "manage_network_ns_lifecycle true not allow to start kubeadm cluster (crio 1.10+)"
kubeadm init does not work when `manage_network_ns_lifecycle` is true

[code]

**Steps to reproduce the issue:**
1. Install k8s 1.10
2. Add manage_network_ns_lifecycle  to true in crio.conf
3. sudo -E kubeadm init --pod-network-cidr 10.244.0.0/16 --cri-socket=/var/run/crio/crio.sock

**Describe the results you received:**

Kubeadm will hang in the step:

[code]

**Describe the results you expected

[2018-04-12 15:45] GabyCT commented on #1520
closing this issue as I was able to solve this. Thanks

[2018-04-12 15:45] #1520 closed

[2018-04-12 15:47] runcom commented on #1523
does it work if you put that setting to "false"?

[2018-04-12 16:16] jcvenegas commented on #1523
@runcom  it works correctly, where can I found a use case where is need as `true`.

[2018-04-12 16:39] jcvenegas commented on #1523
\cc @sboeuf  @runcom @chavafg

[2018-04-16 10:04] fungusakafungus commented on #1515
Tried with v1.9.11, can't reproduce that bug anymore, looks like it is fixed.

[2018-04-16 14:42] fungusakafungus commented on #1515
Oops, I've been testing this wrong, on an old (docker) cluster. Sorry!
I still can reproduce the issue with crio v1.9.11:

[code]

[2018-04-18 15:18] umohnani8 opened #1529 "Session affinity NodePort service tests failing"
**Description**
Kube added 2 new tests that check if Session Affinity work with NodePort service, however the tests are failing when ran as part of our e2e test suite. Looks like an issue with networking, which might be caused by AWS having two different IPs. The test is setting up a NodePort service and trying to ping `node-internal-ip:node-port` but failing with a connection refused error.

**St

[2018-04-18 15:25] runcom commented on #1529
@rajatchopra PTAL

[2018-04-18 15:25] runcom commented on #1529
For the record, the tests for session affinity have been added upstream with https://github.com/kubernetes/kubernetes/commit/4655f52329b7102cde72be2986844650d5c5c378 (if that helps)

[2018-04-18 15:26] runcom commented on #1529
this comes from the "exec wget ..." happening withing the tests

[2018-04-18 16:03] chavafg opened #1530 "Add Kata Containers check to the CI workflow of this repository"
**Description**

The kata-containers project has created a job for testing every PR that is opened in this repository using the kata-containers runtime.
The job can be consulted at: http://kata-jenkins-ci.westus2.cloudapp.azure.com/job/kata-containers-crio-PR/

Right now the job is polling the PRs using a cron job and now I would like to set a webhook for this job and also report back to this gith

[2018-04-18 16:05] runcom commented on #1530
/cc @derekwaynecarr @stevekuznetsov

@stevekuznetsov do you remember how we did to integrate with the openshift CI? :angel:

[2018-04-18 16:28] chavafg commented on #1530
@stevekuznetsov yes, it is a jenkins job, so it would be awesome your infrastructure to trigger the our jenkins job. Would you need something on my side?

[2018-04-18 16:35] sboeuf commented on #1530
@stevekuznetsov oh yeah this would make a lot of sense because I'd hope we could use all the `/retest` and `/test-all` keywords. The goal is to be seamlessly integrated into your CI and we need your guidance for that ;)

[2018-04-19 16:36] stevekuznetsov commented on #1530
Cool, definition of Jenkins servers we know how to trigger on is [here](https://github.com/openshift/release/blob/master/cluster/ci/config/prow/config.yaml#L6-L11). To set up a connection to yours I would need:

 - server URL
 - max number of executor slots you want these CI jobs occupying
 - (privately) a user name and token for basic auth to Jenkins that can launch and cancel jobs

When we launc

[2018-04-19 16:42] umohnani8 commented on #1529
Pulled in more tests from upstream kube and the following tests are failing:
- `Services should have session affinity work for service with type clusterIP`
- `Services should create endpoints for unready pods`
- `DNS should provide DNS for ExternalName services`
- `Services should be able to switch session affinity for service with type clusterIP`

The failure comes from "exec wget" in the tests.

[2018-04-20 18:29] chavafg commented on #1530
@stevekuznetsov just send you an email with the details. Thanks

[2018-04-23 21:51] ahkok opened #1534 "Needless abuse of CPU resources during shutdown in crio-shutdown.service"
https://github.com/kubernetes-incubator/cri-o/blob/c24e0d9ee7f74082d1ddb6154e0ba3418b538276/contrib/systemd/crio-shutdown.service#L10

There's really no need to spawn a full bash to do this.

[code]

Making a folder without assigning permissions is dubious practice, too. Ideally, the program instead does `/usr/bin/touch /run/crio-shutdown` instead since that is removed automatically on reboot, and

[2018-04-24 12:00] rhatdan commented on #1534
@ahkok I can't remember the exact reason we made it on disk as opposed to making it on tmpfs.
@mrunalp Could this be because we wanted to cleanup if something crashed?  Do you have any recollection?

[2018-04-24 16:00] ahkok commented on #1534
https://github.com/kubernetes-incubator/cri-o/commit/309667f5158e7e13a47f57d24f6b69ee97aed871

the service was broken because `mkdir` isn't an absolute path, and systemd requires that `ExecStart` and `ExecStop` entries start with `/`. The fix was probably made without spotting that error. The whole reason I'm here filing this bugreport is because I happened to have that older commit on my system,

[2018-04-24 16:03] chavafg commented on #1530
Closing this issue as the integration is complete. Thanks all.

[2018-04-24 16:03] #1530 closed

[2018-04-25 21:35] edsantiago opened #1535 "tests: Using "/tmp/*/crio.sock" as endpoint is deprecated, please consider using full url format "unix:///tmp/*/crio.sock""
Trying to get cri-o tests running; failing. Current setup is:
[code]
One of the failures is easy to fix:
[code]
Solution:
[code]
Since this isn't fixed already, it's likely that you guys haven't seen this failure yet. Filing as a heads-up for when you start seeing it.

[2018-04-25 23:09] wking commented on #1535
I guess #1353 missed this?  Do we want to prefix `CRIO_SOCKET` there, or set the prefix [when we define the variable][1]?  If `socat` can't handle the prefix (I don't know), then your suggested prefixing when invoking `CRICTL_BINARY` makes more sense.

Looking for other issues, I think some of the integration tests and other locations may also need updating:

[code]

Maybe #1353 only updated kuble

[2018-04-26 11:57] rhatdan opened #1536 "Make capabilities a crio.conf option."
From a security point  of view, we currently run all containers with a default group of capabilities.  It is my belief that a lot of these capabilities are present, because they were required for `docker build` and everyone has basically kept the list as the standard.
Since CRI-O runs containers in production and really does not build containers at this time, I believe admin could drop some of the

[2018-04-26 11:57] rhatdan commented on #1536
@umohnani8 Could you take a look at this?  Perhaps add a trello card.

[2018-04-26 12:41] edsantiago commented on #1535
That was my first attempt, because duplication is evil. Neither socat nor crio itself grokked it.

[2018-04-26 12:58] umohnani8 commented on #1536
@rhatdan sure, assign it to me.

[2018-04-26 13:38] rhatdan commented on #1536
It won't let me.  @mrunalp is this because @umohnani8 is not in the kubernetes group?

[2018-04-26 13:59] wking commented on #1535
Should we teach `crio` about it?

[2018-04-26 14:03] edsantiago commented on #1535
I would give that a big yes; my only caveat is that it may have already been done: I haven't taken the time to look at the sources  to see if it's already been done. This seems so obvious (and blocking) that I would expect it to already have been done, at least on a side branch.

[2018-04-27 11:33] RahulG115 commented on #91
how can i get /pause container id from master node as it is created in one of slave node ?
is there any  command to do that

[2018-04-29 19:37] #1523 closed

[2018-04-30 16:53] mheon opened #1538 "Conmon should open ports on the host to prevent port forwarding"
**Description**

Conmon needs to hold ports on the host open to prevent conflicts when forwarding ports to containers using CNI. At present, it is perfectly possible to have two containers open the same port, or have a container open a port already in use on the host. Both of these cases will prevent CNI's port forwarding from functioning as advertised. To prevent this, Conmon should open ports th

[2018-04-30 21:02] mheon commented on #1538
@wking I think we'd need to ask the maintainers about how CNI would handle such things - I feel like some plugins, including the default port map plugin, won't play well unless they have exclusive control of the port.

[2018-05-01 02:34] mrunalp commented on #1538
This could be tracked by the in-disk state for podman.

[2018-05-01 14:17] mheon commented on #1538
@mrunalp Won't stop people from opening ports that Podman containers are using on the host, and subsequently being very confused as to why things are not working. The least confusing way for this to work would be to have something that lives the whole life of the container (conmon) manage the ports on the host to ensure no conflicts.

[2018-05-02 11:31] giuseppe commented on #1538
why is the port opened with `SO_REUSEADDR`?  If that is not required then we should fix it in CNI.  If it required then the patch in conmon won't help?

I don't think the fix for this problem should go into conmon.  If it is about keeping a port busy, we could open it before calling conmon, pass the fd to conmon and that can do the trick.

[2018-05-02 12:34] rhatdan commented on #1538
@dcbw WDYT?

[2018-05-02 16:03] giuseppe commented on #1538
the fd should only be used by conmon, it should not end up into the container.  But I am not suggesting to do this, only that the fix doesn't need to end-up in conmon :-)

[2018-05-02 16:05] mheon commented on #1538
@giuseppe Opening the FDs in libpod and leaking them to Conmon also seems like a viable option, but I was a bit concerned because I thought we used FD leaking to pass things to runc via conmon? I could just be confused.

[2018-05-02 16:07] giuseppe commented on #1538
we need to specify the number of FDs that runc must leave open, anything that is above 3+NUMBER_FD_TO_LEAVE_OPEN is automatically closed by runC before launching the container process.

[2018-05-02 16:16] wking commented on #1538
So if you allocate it in libpod, just make sure you get a higher FD than the ones you intend to pass through ;).

[2018-05-02 16:18] wking commented on #1538
And for what it's worth, that `LISTEN_FDS` behavior is [documented in the runtime CLI spec][1], so it should be portable beyond runc.

[1]: https://github.com/opencontainers/runtime-tools/blob/v0.5.0/docs/command-line-interface.md#create

[2018-05-02 21:07] wking commented on #1535
#1543 just landed with at least one of the changes needed for this issue.

[2018-05-03 14:44] vbatts opened #1547 "[RFE] log additional details of options"
**Description**

spun off from https://github.com/kubernetes-incubator/cri-o/pull/1439#discussion_r174979067

Rather than having this empty recommendation and branch, actually log details.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2018-05-03 14:47] vbatts opened #1548 "don't swallow errors"
**Description**

https://github.com/kubernetes-incubator/cri-o/pull/1439#discussion_r174981003 points out that errors are being intentionally swallowed and leaving code cruft.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of

[2018-05-03 20:45] vbatts opened #1551 "clean up pointer struct relationships"
**Description**

Spinning off from:
* https://github.com/kubernetes-incubator/cri-o/pull/1439#discussion_r185821385
* https://github.com/kubernetes-incubator/cri-o/pull/1439#discussion_r185840215

https://github.com/kubernetes-incubator/cri-o/blob/4e6919c593644839728dbb4b35414cd7ac09114a/lib/sandbox/sandbox.go#L396
Returns potentially nil object of a struct that has functions.
So now that nil stru

[2018-05-04 11:29] reestr opened #1554 "[RFE] populate user agent header"
It would be helpful for troubleshooting issues with CRI-O or an image registry if the user agent header for the HTTP request was populated with information about the client.  Specifically this could include:

* CRI-O version
* go version

[2018-05-04 11:42] runcom commented on #1554
Working on it, thanks for opening this!

[2018-05-08 08:05] cucushift opened #1561 "images retrieve"
hi folks, i have a doubt about `cri-o container runtime`,when i use cri-o as ` container runtime` ,why some local images can only retrieve by `ctictl --runtime-endpoint "/var/run/crio/crio.sock" images`,and `docker images` or `atomic images list` can't find them.Don't all imags respect the `OCI Image Format Specification`  ? Is this because of **storage** or `docker-shim`? thanks a lot.

[2018-05-08 12:40] rhatdan commented on #1561
CRI-O and Docker use different storage backends.  If you use podman images, you should see the images.
We are working on integrating atomic and podman, by adding a varlink interface to podman and then atomic will be able to list images stored in containers/storage created by buildah/podman or CRI-O.

[2018-05-08 12:40] #1561 closed

[2018-05-09 01:58] cucushift commented on #1561
@rhatdan thanks.

[2018-05-16 08:49] mdshuai commented on #1491
Should fixed by https://github.com/kubernetes-incubator/cri-o/pull/1493 The issue can be closed.

[2018-05-16 08:50] mdshuai commented on #1492
Should fix by https://github.com/kubernetes-incubator/cri-o/pull/1495 This issue can be closed.

[2018-05-16 13:11] #1491 closed

[2018-05-16 13:11] #1492 closed

[2018-05-17 05:13] hmtai opened #1570 "tutorial.md path can't use make"
When I follow the cri-o/tutorial.md to use cri-o, on the step Get crictl,I can't use make command.
[code]
But when I ```cd $GOPATH/src/github.com/kubernetes-incubator/cri-tools```it works.
Does it a type error?

[2018-05-17 07:53] giuseppe commented on #1570
no, that looks like an error in the tutorial.md file, I've opened a PR:

https://github.com/kubernetes-incubator/cri-o/pull/1571

[2018-05-17 16:01] #1570 closed

[2018-05-18 01:45] hmtai commented on #1570
:)

[2018-05-22 23:42] chavafg opened #1576 "cannot execute cri-o tests using devicemapper and specifying a block device"
**Description**

I've been trying to execute the cri-o tests (`ctr.bats`) using `devicemapper` and specifying a block device.
The first test passes correctly, but when starting the second one, the test fails when calling the `bin2img`
(https://github.com/kubernetes-incubator/cri-o/blob/master/test/helpers.bash#L225) with this error:

[code]

**Steps to reproduce the issue:**
1. Build CRI-O master

[2018-05-23 00:55] #1536 closed

[2018-05-23 09:03] rhatdan commented on #1576
@nalind PTAL

[2018-05-23 14:35] umohnani8 commented on #1536
Implemented in #1546. @rhatdan @mrunalp please close the issue.

[2018-05-24 10:40] rhatdan commented on #1576
@rhvgoyal Any ideas?

[2018-05-24 14:47] jessfraz opened #1577 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 17:27] rhatdan commented on #1576
So to fix this we shold remove the thinpool?

[2018-05-24 17:56] nalind commented on #1576
Adding
[code]
right before the `rm -rf "$TESTDIR"` in cleanup_test() seems to help when I try it, but it's hardly a general solution.

[2018-05-24 18:54] rhatdan commented on #1576
Well we could add a storage_cleanup and then ignore failures.  I will add this to my PR to see if it fixes the kata containers problem.

[2018-05-25 23:57] sboeuf commented on #1576
@rhatdan if you add this to your PR, and that we merge https://github.com/kata-containers/tests/pull/342, it should be okay. Otherwise, you'll have only one part of the fix here.
@chavafg could you confirm that you get CRI-O testing for Kata properly passing if you apply what @nalind has suggested ?

[2018-05-28 14:27] chavafg commented on #1576
I confirm that the tests pass properly applying what @nalind suggested and https://github.com/kata-containers/tests/pull/342

[2018-05-29 14:47] #1577 closed

[2018-05-30 20:30] mrunalp commented on #1576
@chavafg Thanks! @nalind Could we add a storage_driver specific cleanup code to the tests which will be empty for the other drivers but execute what you suggested for devicemapper?

[2018-05-30 20:58] daticadug opened #1582 "TLS Encrypted Streaming Transmission"
Currently in CRI-O when initiating an kube-proxy or port forward that information is streamed from the worker node where the connection lives to the controller node where it then makes it's hop to the client.  This traffic is not encrypted, but can be.  ContainerD has implemented (albeit broken because of using self-signed certs) and it simply uses a kubernetes TLS interface already available.  Th

[2018-05-30 21:44] mrunalp commented on #1582
@daticadug Thanks for opening the issue. :+1: to opening a PR.

[2018-06-01 13:18] wking opened #1585 "conmon: Move pseudoterminal master up to crio?"
My preferred approach to terminal handling is to pass the pseudoterminal master as high up the stack as possible.  In CRI-O, the stack looks [like this][1], and you need control translation because [the `kublet` <-> `crio` link uses gRPC][2], which doesn't support passing file descriptors.  The Podman stack has no such restriction, so they can avoid the extra `conmon`-proxy overhead by taking dire

[2018-06-01 19:00] mrunalp commented on #1585
@wking Won't that break restart though? Right now we can restart cri-o, since conmon holds the pseudoterminal master. We only break existing exec/attach connections on restart which is relatively minor as one could open new attach/exec sessions after cri-o has been restarted.

[2018-06-01 19:49] wking commented on #1585
I was thinking `conmon` would keep its copy open for future re-attach requests (including after `crio` restarts).  That should cover everything short of multiplexing output between multiple reading consumers, and I'm happy to leave that to `screen`, `tmux`, etc.  You might need an additional "close the master for writes" command from `crio` -> `conmon` to avoid hanging `cat` and similar, but that

[2018-06-01 21:16] mrunalp commented on #1585
@wking okay, I can't think of anything else right now :) A PR would be fine to see if we can find something else we missed or go for it :)

[2018-06-02 01:09] wking commented on #1585
Getting into this a bit, one issue which I hadn't expected was [`write_k8s_log`][1], which is logging every output line as required by CRI (I'm not sure if/how Podman turns that off).  I'll have to shift that up into CRI-O too to avoid multiplexing the container's output streams in `conmon`.  And if it turns out that the daemonless Podman actually needs that logging, it may sink this master-shifti

[2018-06-02 10:45] rhatdan commented on #1585
Podman logs?

[2018-06-04 18:13] vbatts opened #1588 "Tracker for cross-platform"
This is adding a currently failing target, which once succeeding ought
to be added to some travis check.

Currently blocked by:
- [x] https://github.com/kubernetes-incubator/cri-o/pull/1435
- [x] https://github.com/kubernetes-incubator/cri-o/pull/1421
- [x] https://github.com/kubernetes-incubator/cri-o/pull/1411
- [x] https://github.com/kubernetes-incubator/cri-o/pull/1407
- [x] https://github.com

[2018-06-05 02:25] pennpeng opened #1592 "where can i find cri-o 1.9 rpm repo"
where can i find cri-o 1.9 rpm repo for centos

[2018-06-05 16:46] pravisankar opened #1595 "conmon binary path should be consistent in crio.conf and conmon rpm spec for Fedora"
**Description**
Installed cri-o, conmon on Fedora 27 and running openshift with crio runtime failed with 'desc = fork/exec /usr/local/libexec/crio/conmon: no such file or directory'. This happened because of inconsistency between where the rpm is installing the conmon binary and the default conmon path set in crio.conf

[root@openshift-node-1 /]# rpm -qa | grep conmon
conmon-1.10.0-4.git623b502.fc

[2018-06-05 16:53] mrunalp commented on #1592
@lsm5 PTAL

[2018-06-05 18:51] rhatdan commented on #1595
There should be no "local" content in the image that we ship.

[2018-06-05 18:56] lsm5 commented on #1595
@pravisankar could you check if you have a /etc/crio/crio.conf.rpmnew by any chance? Also, the cri-o version you mention is older than what's in stable. Can you please fetch the latest in stable (1.10.1-1) and let me know if it still persists?

[2018-06-05 18:57] rhatdan commented on #1595
Could you update to cri-o-1.10.1-1.git728df92.fc27 and see if that works correctly?

[2018-06-06 02:56] wking commented on #1585
How do those work?  Does `conmon` write them somewhere in the absence of an attached consumer?

A change with this approach will be that, in the absrnce of a consumer, the container may block on a full stdout or stderr buffer.  I don't see a problem with that (no lost logs :), but I'm probably unaware of all use cases.

[2018-06-06 03:30] mheon commented on #1585
There is a log file for each container (I'm fairly certain it's created and managed by `conmon`). `podman logs` should be interacting exclusively with that file and should not be attaching to the terminal at all.

[2018-06-07 06:31] thomaslees opened #1600 "Installation issue on Ubuntu 16.04"
I followed the instructions on
https://github.com/kubernetes-incubator/cri-o#getting-started
to install cri-o on my Ubuntu 16.04 machine.

I installed all the dependencies listed.
My runc is
runc version spec: 1.0.0-rc2-dev

=================
make install.tools
=============
if [ ! -x "/home/tcs/GoWork/bin/git-validation" ]; then \
	go get -u github.com/vbatts/git-validation; \
fi
if [ ! -x "/home

[2018-06-08 22:35] portante opened #1604 "Double logging to syslog and stdout/stderr?"
Why are conmon logs written to both stdout/stderr and syslog?  When run via systemd, won't this result in double the log output?

https://github.com/kubernetes-incubator/cri-o/blob/master/conmon/conmon.c#L142

[2018-06-09 22:36] #1582 closed

[2018-06-11 23:16] kfox1111 commented on #1592
Same question with 1.10 now... the system container seems to be using 1.9.

[2018-06-12 14:27] stevekuznetsov commented on #1530
@chavafg is the Jenkins server at that address down? We are seeing errors attempting to contact you:

[code]

[2018-06-12 14:31] runcom commented on #1530
yeah, jobs aren't triggered

[2018-06-12 15:04] chavafg commented on #1530
Our jenkins is currently down, should be up in the next couple of hours. Will keep you updated.

[2018-06-13 11:58] jamiehannaford commented on #1473
@wking I'm also seeing this. It generally occurs when crio is unresponsive (we're using Kata containers). Did you narrow this down?

[2018-06-13 19:42] wking commented on #1473
I don't think anyone has had time to dig into this.  I don't expect to have time in the near future, so anyone with time should feel free to dive in ;).  And anyone who does should post any findings back here.

[2018-06-14 13:20] runcom commented on #1604
@mrunalp @giuseppe ^^

[2018-06-14 14:57] mrunalp commented on #1604
I think we could have a compile option depending on whether we plan to use systemdd cgroups or not for these calls. The other option would be a flag to the conmon binary.

[2018-06-14 16:05] giuseppe commented on #1604
I think the best option would be a runtime option so that the same conmon binary can be used in both way (by CRI-O and podman)

[2018-06-14 17:21] rhatdan commented on #1604
I agree.

[2018-06-14 18:29] mrunalp commented on #1604
I'll create a PR.

[2018-06-14 20:17] cevich opened #1624 "Disable crond on CRI-O CI systems"
While debugging another problem, noticed the ``cron.daily`` jobs running ***while*** the Ansible playbook was executing tests.  This is most certainly not, ever, desirable.  Either the playbooks, or OriginCI should probably completely disable crond.  At a minimum, delete all ``/etc/cron.*/*`` (after all packages are installed).

[2018-06-14 20:18] cevich commented on #1624
@edsantiago wanna fix this one?  Should be easy :smile:

[2018-06-14 20:20] cevich commented on #1624
Example (from job 1081):

[code]

[2018-06-15 10:53] #1604 closed

[2018-06-18 15:34] edsantiago commented on #1624
My best guess is that this should be done in `kommandir/roles/services/defaults/main.yml` by adding `crond` to `disabled_services`. But I'm stuck because I can't figure out where this playbook is run (komandir, or the slaves) or even if this code works, since all the variables are empty.

[2018-06-18 15:46] cevich commented on #1624
@edsantiago oh, easy fix: that's the wrong repo :smile:     The code you're looking for is under here:

https://github.com/kubernetes-incubator/cri-o/tree/master/contrib/test/integration/

[2018-06-18 15:52] cevich commented on #1624
Execution happens from Jenkins jobs generated from https://github.com/openshift/aos-cd-jobs within ``sjb/config/common/test_cases/crio.yml`` and ``sjb/config/common/test_cases/*crio*.yml``.
One-off test-jobs can be derived from the production jobs to exercise changes.

If the changes are/can be confined to just the cri-o repo, testing them is easier.  Just mention ``/test ami`` or ``/test all`` in

[2018-06-18 15:58] cevich commented on #1624
Oh, and @edsantiago the spot you found in ADEPT seems good/correct.  I'd accept a PR there as well, if you have a mind for it.  Important thing is here though, in the CRI-O repo.

[2018-06-20 10:11] #1223 closed

[2018-06-20 20:14] mheon opened #1635 "Conmon timestamp buffer too small"
**Description**

On some systems, conmon may fail to write anything to the attach socket at the timestamp buffer is too small.

I'm not sure exactly what kind of locale generates this, but I have shell on a system that consistently produces 45-length timestamps (longer than the 44 length of the buffer).

An example timestamp:
`2018-06-21T01:33:55.102183860+05:1800 stdout`

@edsantiago suggests tha

[2018-06-20 20:16] mheon commented on #1635
Found this while tracking down https://github.com/projectatomic/libpod/issues/580

[2018-06-20 20:18] edsantiago commented on #1635
Reasoning: this is one of those weird non-integer-hour tz offsets. @mheon helpfully provided a sample timestamp:
[code]
That should be `05:30`.

[2018-06-20 20:19] rhatdan commented on #1635
Can you open a PR to fix it.

[2018-06-20 20:19] mheon commented on #1635
@rhatdan Sure, I'll take this one

[2018-06-21 07:51] #1635 closed

[2018-06-21 10:21] yadavkkumar opened #1637 "CRI-O is not creating containers as per the specified annotation in the yaml file."
**Description**

I am using kata-containers with kubernetes, whenever i do a `kubeadm init`, then cri-o should create all the containers in runc runtime only. As all these containers are trusted so cri-o should create them in runc runtime only but some of the containers like kube-dns, it is creating in kata-runtime. Which is not the proper behaviour to create the trusted containers.

Other issue i

[2018-06-21 16:57] runcom opened #1639 "Moving this repository to kubernetes-sigs organization"
The kubernetes-incubator project is now deprecated. Given CRI-O is considered stable at this point, with 3 major, fully supported, releases and given the users and contributors we've gathered over time, I propose to move CRI-O under the kubernetes-sigs organization on GitHub.

@mrunalp @derekwaynecarr @rhatdan @kubernetes-incubator/maintainers-cri-o et all, what do you think?

[2018-06-21 19:01] rhatdan commented on #1639
I agree.
:+1:

[2018-06-27 22:05] wking commented on #1473
From above:

And:

My current guess is that the log tests are calling `stop` (and have been since they landed in 65527da36, #162), but that what we really should be doing is waiting for the containers to exit cleanly.  More on this with a fix in flight in #1656.

[2018-06-28 11:02] runcom commented on #1222
anything left from this issue? @RenaudWasTaken @flx42 @3XX0

[2018-06-28 16:28] #1222 closed

[2018-06-28 21:55] sboeuf opened #1662 "Use runtime for untrusted workload even if privileged pod"
We should not prevent CRI-O from starting the runtime defined for untrusted workloads if one or several containers of the pod need to be privileged. For instance, Kata Containers can provide a fully privileged environment, but the user has to understand that it will not run on the host with those privileges.

`kube-system` pods are the exception because they assume they will be able to modify thin

[2018-06-28 21:56] sboeuf commented on #1662
/cc @egernst @mrunalp

[2018-06-28 22:17] mrunalp commented on #1662
I think that this will change with RuntimeClass changes being proposed in kubernetes. However, no objections making these changes meanwhile.

[2018-06-28 22:30] sboeuf commented on #1662
@mrunalp yes I agree `RuntimeClass` is the long term goal.

[2018-06-29 12:53] drake7707 opened #1664 "Issues tutorial for building from source"
I was following the tutorial (https://github.com/kubernetes-incubator/cri-o/blob/master/tutorial.md) step by step (on a debian machine) but encountered the following issues:

* The `Get crictl` step relies on git, but is only installed in the next step

* Tutorial refers to install Go 1.8.5, but later version is required:

[code]
Updating go to the latest version (1.10.3) fixed the problem

* Miss

[2018-06-29 23:12] mrunalp commented on #1664
@drake7707 Do you mind opening a PR to add the steps to the tutorial?

[2018-06-30 03:17] wking opened #1667 "flake: quay.io/crio/pause 502 causes "not ok 65 image remove with multiple names, by name""
From [a recent master test][1]:

[code]

Obviously web resources are occasionally going to fail, but we could set the tests up to retry a few times, or try a few registries.  And even if we don't do anything, it's good to have an issue tracking the flake ;).

[1]: https://travis-ci.org/kubernetes-incubator/cri-o/jobs/398302465#L4122

[2018-06-30 12:42] Bregor commented on #1141
Every release contains the phrase "Please try out the release binaries and report any issues", but no binaries are linked :(

[2018-06-30 15:33] wking commented on #1667
[Similar error][1] in the release-1.10 branch:

[code]

[1]: https://travis-ci.org/kubernetes-incubator/cri-o/jobs/398599471#L3270

[2018-06-30 15:48] wking commented on #1473
Last instance of this was [4 days ago][1].  I haven't noticed any since #1656 landed.

[1]: https://travis-ci.org/kubernetes-incubator/cri-o/jobs/396928597#L4067

[2018-07-02 11:55] rhatdan commented on #1473
Ok I will close

[2018-07-02 11:55] #1473 closed

[2018-07-02 16:49] mrunalp commented on #1667
I think we can retry the pull image a few times.

[2018-07-08 11:20] schmitch commented on #372
@runcom sorry to interfere in this old issue. however I think just using `HTTP_PROXY` is sometimes not suitable. In Docker http_proxy get's passed to docker which means that my whole kubernetes traffic would go through the proxy.

cri-o should make it better and have registry_http_proxy and registry_https_proxy to only proxy image pulls.

[2018-07-09 03:45] jackzhanghk opened #1685 "crictl pull nginx:latest failed"
**Description**

[2018-07-09 03:49] jackzhanghk commented on #1685
I pull image faild, crio crictl info list:
crictl version
DEBU[0000] VersionRequest: &VersionRequest{Version:v1alpha2,}
DEBU[0000] VersionResponse: &VersionResponse{Version:0.1.0,RuntimeName:cri-o,RuntimeVersion:1.11.0-dev,RuntimeApiVersion:v1alpha1,}
Version:  0.1.0
RuntimeName:  cri-o
RuntimeVersion:  1.11.0-dev
RuntimeApiVersion:  v1alpha1

cat /etc/crictl.yaml
runtime-endpoint: unix:///var/run

[2018-07-10 17:07] dchen1107 commented on #1639
I agreed.

[2018-07-10 17:08] derekwaynecarr commented on #1639
Discussed during SIG Node call on 7/10 call, I agree this should move under kubernetes-sigs org.

[2018-07-10 17:23] mikebrow commented on #1639
Some comments:
If not there.. where?
Not sure what it means to be in "kubernetes-sigs org."
The "Org for Kubernetes SIG-related work," is a bit broad.
Would be nice if we had a sig-cri and/or a sig-container-runtimes as sig-node is also a bit broad.

[2018-07-11 18:17] sboeuf opened #1695 "Define a minimal timeout value for WaitContainerStateStopped()"
`WaitContainerStateStopped()` is designed to ensure the container terminates properly by checking its state for some time after the container process has been killed.
Unfortunately, there is a bug regarding this function when the provided timeout value is `0`. This should not be an acceptable value since we always want to let some time before to issue a timeout regarding the waiting of the contain

[2018-07-19 18:33] egernst commented on #1662
Per talk this morning, @rhatdan was spot on: let's just let the annotation specify the behavior: if an untrusted runtime is provided and the untrusted annotation is present, use the untrusted runtime regardless of privilege setting.

This won't help in the default untrusted cluster setup.  In that case the user would have to patch the priv workload to say "please use untrusted runtime".  I'll dig

[2018-07-20 10:57] runcom commented on #1662
:+1: ok with this meanwhile RuntimeClass become a thing

[2018-07-20 13:04] rhatdan commented on #1662
Obviously I like the idea.
:+1:

[2018-07-20 14:37] #1662 closed

[2018-07-21 00:52] sboeuf opened #1704 "[RFC] Define a generic API for VM based runtimes"
__Why?__

With the recent [proposal](https://github.com/containerd/containerd/issues/2426) from `containerd` to facilitate how things are managed for VM based runtimes, by providing a new API allowing for a unique `containerd-shim` to manage a pod (instead of a container), I think this would be appropriate to find a global/generic API that could fit both `CRI-containerd/containerd` and `CRI-O`.
Th

[2018-07-21 00:53] sboeuf commented on #1704
/cc @egernst @sameo @mrunalp @runcom @crosbymichael

[2018-07-27 22:52] amshinde opened #1712 "Need a way to send results from the CNI plugin add/get operation to the OCI runtime."
Certain CNI plugins such as those that make use of vhost-user sockets could send additional information to the runtime such as the location of the vhost-user socket, IP configuration etc. This information could be sent out as part of the `Result` structure from the CNI plugin `add/get` call.
We need a mechanism by which this information could be made available to the runtime.

We could send this i

[2018-07-27 22:53] amshinde commented on #1712
cc @mrunalp @egernst @sboeuf

[2018-07-30 05:14] sboeuf commented on #1712
Thanks for opening this issue @amshinde, as Kata Containers has a few use cases like this, being a VM based runtime.

@mrunalp I have a question to clarify about CRI-O interaction with CNI plugins. Is it always the CRI implementation reponsibility to call into the CNI plugin? I am trying to understand if we might have some cases where even CRI-O won't have access to the information returned by the

[2018-07-31 10:23] uablrek opened #1713 "failed to get valid ipv4 address for sandbox in an ipv6-only cluster"
**Description**

Starting a pod in an ipv6-only cluster fails with;

[code]

**Steps to reproduce the issue:**
1. Start an ipv6-only k8s cluster with cri-o
2. Deploy some pod with ports

**Describe the results you received:**

Pods fails to start in an ipv6-cluster with cri-o.

**Describe the results you expected:**

Pods can be started.

**Additional information you deem important (e.g. issue hap

[2018-07-31 10:54] runcom commented on #1713
@uablrek could you open a PR with the fix please? :)

[2018-07-31 12:32] uablrek commented on #1713
I would love to but I am forbidden by company policy. This is very frustrating and I have heard changes are on the way, but not in the near future I am afraid :-(

[2018-07-31 13:06] rhatdan commented on #1713
How about attaching a patch with the fix.  :^)

[2018-07-31 13:12] runcom commented on #1713
you could contribute as an individual I guess :confused: like create the patch after work lol

[2018-07-31 18:47] amshinde commented on #1712
@sboeuf From my investigations I see that it is the CRI runtime that always calls the CNI. It is just a matter of the CNI plugin being called before or after the sandbox is created.

@mrunalp I think we could first look at handling the case where the network namespace is created before the sandbox i.e `manage_network_ns_lifecycle = true`, since that is the case that Kata supports as of now.

[2018-07-31 22:42] mrunalp commented on #1712
@amshinde That sounds good to me :+1:

[2018-08-01 14:50] uablrek commented on #1713
No, sorry can't do that. It is not simply a "leach-only" policy it is concern about intellectual property. I could be fired for leaking info even for this kind of insignificant thing. But the fix I made was simply to remove the ".To4()" string. It is of course appropriate to rename the variable.

[2018-08-01 15:19] runcom commented on #1713
opened #1716

[2018-08-01 20:05] #1713 closed

[2018-08-02 18:47] mrunalp commented on #1712
We discussed this on the call today and decided to do the following:

- Store a blob that is returned from a CNI plugin in the sandbox struct and config.json for managed network ns case.
- Use the config.json to restore the information in memory on CRI-O restart.

[2018-08-07 15:41] jakolehm opened #1725 "Fails to pull image if it already exists with different schema version"
**Description**

While running sonobuoy conformance tests I noticed image pull failures:
[code]

Most likely this happens because my setup has the same pause image with a different name.

**Steps to reproduce the issue:**
1. setup kubernetes with a custom pause image (that is exactly the same as "k8s.gcr.io/pause:3.1")
2. run sonobuoy
3. pods with "k8s.gcr.io/pause:3.1" fail

**Describe the result

[2018-08-07 15:43] runcom commented on #1725
@nalind could you take a look at this? looks like something that shouldn't happen :confused:

[2018-08-07 20:49] rhatdan commented on #1725
@mtrmac PTAL also

[2018-08-07 21:29] mtrmac commented on #1725
The failure is from `c/image/storage/storageImageDestination.Commit`, because an image with the same image ID (config digest) exists, but the top layer is different on disk and in the pulled image.

That, indeed, should not generally happen (the same config implies the same list of layers). https://github.com/containers/image/pull/472 would be a possible explanation for v2s1 images, but this is v2

[2018-08-08 06:42] jakolehm commented on #1725
Indeed it sounds fairly unlikely but somehow it actually is stored using the "schema 1" format.. not sure how that happened (image is stored in quay.io).

[2018-08-08 07:29] jakolehm commented on #1725
Probably because quay.io does not support image manifest v2 schema 2.

[2018-08-08 21:52] mtrmac commented on #1725
Ah, OK. Would it be easy for you to test CRI-O with a rebased GitHub.com/containers/image, then? Note that you need to _both_ update CRI-O _and_ delete the relevant images from local storage (or, maybe easier, delete all of the storage and start afresh) for the presumed fix to work.

[2018-08-08 22:13] mrunalp commented on #1704
:+1: to defining an API.

[2018-08-08 22:55] mrunalp commented on #1725
@mtrmac We could create a PR with a rebase of containers/image and see if it helps @jakolehm.

[2018-08-09 04:38] egernst opened #1726 "after crio restart, some containers left running"
**Description**

First and foremost, I acknowledge this is a bit abusive.

I start up a single node kubeadm cluster which is making use of runc and kata-runtime, with a default trust level of "untrusted."  Once up, I can see coreDNS is making use of Kata as expected.  I then update the crio configuration to default to trusted and restart the crio daemon.  As expected kubelet restarts the core DNS

[2018-08-09 04:39] egernst commented on #1726
/cc @mrunalp @sboeuf @rhatdan

[2018-08-09 04:41] bhperry opened #1727 "Crio devicemapper with NVMe device"
**Description**
I'm trying to switch a kubernetes cluster over from AWS m4 instances to m5 instances, which use NVMe device types. I'm creating symlinks from the NVMe device names to the block device names (e.g. /dev/nvme2n1 --> /dev/xvdb). Crio is set up with dm.directlvm_device=/dev/xvdc, which worked on the m4s but now I get the error: `/dev/xvdc is not available for use with devicemapper`. Is

[2018-08-09 05:48] cyphar commented on #1727
The problem is the symlink -- the error message you get comes from how cri-o checks whether a disk is compatible with LVM (rather than doing a check of the path you give it, it does an `lvmdiskscan` and then checks whether the path you gave it appears in the output of the scan -- so symlinks won't show up).

A simple fix would be to configure cri-o to use `dm.directlvm_device=/dev/nvme2n1`. But fr

[2018-08-09 14:42] bhperry commented on #1727
Ok, thanks! The reason I didn't use the nvme device name initially is that I've read their ordering isn't always consistent. So I guess I'll have to figure out a way to set that dynamically. I'll create a feature request on https://github.com/containers/storage as well to add symlink functionality.

[2018-08-09 17:04] #1727 closed

[2018-08-09 17:09] mtrmac commented on #1725
https://github.com/kubernetes-incubator/cri-o/pull/1731

[2018-08-10 13:42] rhatdan commented on #1725
Since the PR was merged, closing the issue.

[2018-08-10 13:42] #1725 closed

[2018-08-10 17:07] amshinde opened #1733 "Provide a hint about the OCI runtime information to CNI plugin."
CNI plugins assume that they are dealing with network namespace based containers and create interfaces suited for namespace based containers. We can provide a hint about the runtime type to a CNI plugin to make the plugin aware that it is dealing with a hypervisor based runtime. When this hint is present, the CNI plugin may choose to create an interface that is more VM friendly eg, create a vhost-

[2018-08-10 17:12] amshinde commented on #1733
cc @mrunalp @egernst @mcastelino

[2018-08-10 17:50] mrunalp commented on #1733
I have no problems with that. However, it will be up to the CNI plugins to interpret this information if it is passed as some metadata.

[2018-08-10 21:51] amshinde commented on #1733
@mrunalp  I think this can be done in a couple of ways, treat this purely as metadata and pass it as part of  `Args`  to the CNI plugin. The plugin can then choose to act upon this or ignore it.
The other approach I was thinking of is have the network plugin advertise the ability to handle VM specific interfaces explicitly as `capabilities`. Something like
[code]

In case of  hypervisor based runt

[2018-08-10 22:05] mcastelino commented on #1733
@amshinde do we need the runtime to advertise the capability. The plugin is free to ignore the parameter it does not understand. So if the plugin creates a VM friendly interface we can consume it directly. If it does not we need to transparently connect the same to the VM.

Another gap is the passing back of the CNI plugin results back to the runtime. This information is required in the cases wher

[2018-08-16 12:02] jnummelin opened #1742 "Sandbox already exists after node reboot"
**Description**

**Steps to reproduce the issue:**
1. Setup Kube with CRI-O 1.11.1
2. Reboot a node
3.

**Describe the results you received:**

After reboot no pods can be created. Kubelet always gets an error from crio:
[code]

CRI-O logs also show some errors after reboot:
[code]

In this case the pod to be created/started was running fine before reboot. It's a static pod in `/etc/kubernetes/man

[2018-08-16 16:13] mrunalp commented on #1742
#1744 would probably fix this for you.

[2018-08-16 16:14] mrunalp commented on #1742
We will port it to release-1.11 branch and cut a new release.

[2018-08-16 22:09] egernst commented on #1733
@mcastelino see https://github.com/kubernetes-incubator/cri-o/issues/1712

[2018-08-17 07:59] jnummelin commented on #1742
@mrunalp thanks for speedy turn-around time :)

[2018-08-17 20:45] Random-Liu commented on #1432
@adelton I guess you might be using crictl to create pod/container on a running kubernetes node. Kubelet deletes unwanted containers/pods, please don't do that on a running kubernetes node.

See https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/#example-crictl-commands

[2018-08-18 17:12] adelton commented on #1432
It's been a while I file this ticket but I'm very very sure that there was no Kubernetes on the machine I was trying this on.

[2018-08-20 09:04] vrothberg opened #1747 "docs: crio.conf(5) is incomplete"
The `crio.conf(5)` manpage doesn't mention all supported config options (e.g., `cgroup_manager`, `hooks_dir_path` and many more).  Is there any specific reason to hide some config options or do we need to update the manpage.

[2018-08-20 09:05] vrothberg commented on #1747
@rhatdan @mrunalp WDYT?

[2018-08-20 12:17] rhatdan commented on #1747
Nope we should mention them all, and just comment them out.

[2018-08-21 22:48] mrunalp commented on #1747
Yeah, they should all be updated. Could you open a PR to fix?

[2018-08-21 22:48] mrunalp commented on #1742
@jnummelin Sure :) Can you verify that 1.11.2 fixes the issue for you? If so, then we can close this.

[2018-08-21 23:27] #1695 closed

[2018-08-22 07:56] vrothberg commented on #1747
@mrunalp Sure, I can take care of it.

[2018-08-22 17:56] tallclair opened #1751 "RuntimeHandler support"
As part of the new Kubernetes [RuntimeClass](https://github.com/kubernetes/community/blob/master/keps/sig-node/0014-runtime-class.md) feature, we added a new field to the CRI's RunPodSandboxRequest: `runtime_handler` (https://github.com/kubernetes/kubernetes/pull/67518).

As discussed in the proposal (under [RuntimeHandler](https://github.com/kubernetes/community/blob/master/keps/sig-node/0014-run

[2018-08-22 17:58] tallclair commented on #1733
xref: https://github.com/kubernetes-incubator/cri-o/issues/1751

I think it makes sense to tie this to the runtime handler configuration.

[2018-08-22 18:42] amshinde commented on #1751
@tallclair We talked about following scenarios:
1. pass the runtime name to CNI
2. pass the runtime "type" to CNI (native, virtual, ...)
3. pass the network type to CNI (veth, vhost)

We dont want 1)  so that CNI does not have to deal with specific runtime names.
Between 2 and 3, I think 2) makes the most sense to me. CNI plugin can setup the network based on whether it is dealing with a network n

[2018-08-22 18:56] tallclair commented on #1751
I don't really like 2 (runtime type), since it requires us to come up with a classification scheme of all runtimes, but really what you're classifying is just the type of network it needs (option 3). Option 1 doesn't necessarily mean the CNI binary needs to understand runtime names, it would just mean that it needs to handle multiple named configurations, and select between them (similar to what i

[2018-08-22 19:38] amshinde commented on #1751
@tallclair Ok with 1, it sounds like we would need to add support in CNI to handle different configurations based on runtimes.

[2018-08-23 11:35] dlespiau opened #1752 "Support returning the container pid in the ContainerStatus info map"
I'd love to be able to retrieve the process pid from the ContainerStatus to be able to correlate containers with a process tree. This is to support tooling such as [Scope](https://github.com/weaveworks/scope).

Containerd has something along those lines: https://github.com/containerd/cri/blob/master/pkg/server/container_status.go#L102.

Now, the CRI interface doesn't seem to define any well-known

[2018-08-23 12:16] jnummelin commented on #1742
@mrunalp 1.11.2 confirmed to fix the reboot issue.

[2018-08-23 12:52] TomSweeneyRedHat opened #1753 "Missing man page for conmon"
There's is no man page currently for conmon.  One needs to be created.  Once created update the crio.conf (5) man page to reference the conmon man page through out.

[2018-08-23 12:54] mheon commented on #1753
We should look into adding this this as part of moving it to https://github.com/containers/conmon

[2018-08-23 13:00] vrothberg commented on #1753
Thanks, @TomSweeneyRedHat. I think we also need to update the manpages (and config) in `containers/libpod`.

Is there a plan for when conmon will be moved to its new home? I am already hot to through some static analysis at it.

[2018-08-23 15:34] TomSweeneyRedHat commented on #1753
@vrothberg moving conmon is high on the todo list, but no definitive dates at the moment that I'm aware of.  I'd bet sooner rather than later though

[2018-08-23 15:38] mheon commented on #1753
The biggest issue is getting CI for it configured. Once the repo has CI running I think we're safe to drop it from here.

[2018-08-23 18:30] mrunalp commented on #1752
@dlespiau Sure, sounds good. I will make a PR to add that.

[2018-08-27 14:20] vrothberg opened #1757 "make `/usr/share/containers/seccomp.json` default path"
Podman's default path to the seccomp profile is `/usr/share/containers/seccomp.json` while `/etc/containers/seccomp.json` is the override path. CRI-O's default path, however, is `/etc/containers/seccomp.json` and it has no override path.

When both packages are installed on the same system, this can lead to a problem for package update scenarios where the default seccomp profile *should* be change

[2018-08-27 14:27] rhatdan commented on #1757
SGTM

[2018-08-27 21:43] fjudith opened #1760 "Ubuntu Bionic 18.04: Missing cri-o packages from PPA"
**Description**

Only Ubuntu Xenial (16.04) of cri-o-1.10.0 and cri-o-1.11.0 are available on the PPA.
https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

It will be great to have packages for latest Ubuntu Bionic (18.04) as well

[2018-08-28 06:49] runcom commented on #1760
@lsm5 ptal

[2018-08-29 00:05] egernst commented on #1751
@ruijingguo @amshinde - this discussion is probably more relevant on https://github.com/kubernetes-incubator/cri-o/issues/1733, right?

[2018-08-29 00:11] egernst commented on #1751
@tallclair this proposal makes sense to me.

[2018-08-29 00:14] amshinde commented on #1751
@egernst Yes, its more relevant for #1733. I meant to add my comments there instead. @ruijingguo lets move the discussion there.

[2018-08-30 01:57] #1747 closed

[2018-08-30 08:06] vrothberg commented on #1757
Sorry, I have mixed paths. CRI-O's default path is `/etc/crio/seccomp.json`, so there is no conflict with other packages as described above. Closing the issue as I consider it to be invalid.

[2018-08-30 08:06] #1757 closed

[2018-08-30 10:38] mythi commented on #1742
I saw this too. It's actually pretty bad because it fires new /pause containers all the time and eventually your worker is on its knees (see ```ps ax```).

[2018-08-31 06:26] mythi commented on #1742
One thing to try is you copy the relevant pieces in ```/var/run/container``` under ```/var/lib/container``` before reboot.

[2018-09-01 16:36] bhperry opened #1766 "Unable to create pod sandboxes"
**Description**

I have a kubernetes cluster running with CRI-O, and one of the nodes is now failing to create sanboxes, and the kubelet logs have this error `devmapper: Thin Pool has 5833 free data blocks which is less than minimum required 7781 free data blocks. Create more free space in thin pool or use dm.min_free_space option to change behavior`. When I run, crictl sandboxes, there are many o

[2018-09-02 22:39] outcoldman opened #1767 "CRI-o fails to start after installation"
After installing cri-o-1.11 on ubuntu - it fails to start, because `runc` is not linked to the right location `/usr/bin/runc`

OS: ubuntu/xenial64

[code]

[code]

[code]

[code]

[code]

[code]

[2018-09-02 23:02] outcoldman commented on #1767
And maybe to the same note, when I tried to kubeadm init, got some problems, that kubernetes expected to find `/usr/local/libexec/crio/conmon` and `/usr/local/libexec/crio/pause`, but they were located in `/usr/lib/crio/bin/`, so linked them again

[code]

[2018-09-03 00:37] outcoldman opened #1768 "Pulling images from private registry over http"
I have added private registry and insecure registry to the `crio.server`

[code]

But when I try to pull the image I get

[code]

I tried to set the log-level to debug and found that crio tries to pull from https anyway.

[code]

So feels like that the real problem that there is no way to tell crio to use `http` protocol for registry.

[2018-09-03 10:06] runcom commented on #1768
can you paste the relevant debug output where you think crio is pulling http anyway? That can help diagnose the issue, the pull image error is different from what you're saying.

[2018-09-03 10:07] runcom commented on #1767
@lsm5 looks like the crio configuration and package is somehow misconfigured, did we change anything?

[2018-09-03 10:09] runcom commented on #1742
that's probably meaning that we're not storing to disk something important during an on/off phase of the system :thinking:

[2018-09-03 15:43] outcoldman commented on #1768
@runcom sorry, my misprint, it is pulling from `https`, while my registry is `http`, I will post a debug output in few days.

[2018-09-03 18:41] fjudith opened #1769 "Ubuntu 18.04: DNS resolution broken after scheduling hostport enabled pods"
**Description**

Cri-O breaks DNS resolution once pod with "Hostport" is scheduled.
I'm logging this issue here, as i was unable to reproduce this issue on Docker 17.03 and Containerd 1.1.3/1.2.0-beta.

The symptoms are similar to https://github.com/kubernetes/kubeadm/issues/273 .

**Steps to reproduce the issue:**
1. Schedule a pod with `hostPort` container spec configured.
2. Kubernetes shows th

[2018-09-03 19:58] Bregor commented on #1769
Not a cri-o problem.
Look here: https://github.com/kubernetes/kubernetes/issues/66067

[2018-09-03 20:34] runcom commented on #1769
do you happen to know why docker and containerd are working though?

[2018-09-03 20:36] Bregor commented on #1769
@runcom I did not try with `containerd`, but `docker-18.06` "broken" just like cri-o

[2018-09-03 20:37] runcom commented on #1768
Thanks for the reproducer, I'll try it and see what's going on.

[2018-09-04 07:08] fjudith commented on #1769
@runcom
The usual way to resolve the issue with `containerd` and `docker` is to  enforce the path to the proper resolv.conf to the `kubelet`.

This can be acheived using via the command line argument `--resolv-conf=/run/systemd/resolve/resolv.conf` or via Kubelet configuration file.

[code]

But it does not work with cri-o.

[2018-09-04 09:41] runcom commented on #1769
@fjudith thanks, I'll take a look at that

[2018-09-04 13:57] derekwaynecarr commented on #1639
@mikebrow

see definition of sig sponsored repositories here:
https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#sig-repositories

[2018-09-04 14:05] runcom commented on #1639
process started here https://github.com/kubernetes/org/issues/60

[2018-09-04 14:05] runcom commented on #1639
:+1:

[2018-09-04 16:10] runcom commented on #1768
The first error you got is fixed:
[code]
by https://github.com/kubernetes-incubator/cri-o/pull/1772/commits/3c6f266287c49636dfafd88c783c7d5353b829f6

I'm gonna try and fix and reproduce the other one

[2018-09-04 16:15] runcom commented on #1768
@outcoldman just saw that you're probably using master, could you test with #1772 (the latest commit) and see if it fixes it for you?

[2018-09-04 20:04] bhperry commented on #1766
Turns out it was from the devmapper volume being full of old images, due to ImageGC not working. I am still curious about why those pod sandboxes are stuck though.

[2018-09-05 20:26] Bregor commented on #1769
@fjudith by setting `--resolv-conf=...` you are fixing domain names resolution for containers, but for the host itself it's still broken, so there is no any reason to "fix" it in cri-o, it should be fixed in kubernetes/kubernetes#66067 once and for all.

[2018-09-06 10:13] portante opened #1778 "Consider using a double buffer method for reading/writing log data"
**Description**

Currently it appears that data read from stdout & stderr pipes of the container are written to the log file sequentially instead of using a double buffering scheme [1].  That one thread will not be able to overlap I/O to disk when writing to the log file with reads issued to the pipes.  This can lead to excessive CPU usage as the number of containers rises on a system.

If instead

[2018-09-06 13:55] Jaspreetc opened #1779 "Support For Windows Container"
Will Windows Container be supported via CRI-O ?

[2018-09-06 13:56] mikebrow commented on #1639
https://github.com/kubernetes/community/pull/2624/files merged, my question resolved :-)

[2018-09-06 15:56] rhatdan commented on #1779
You can not support Windows Containers on LInux systems, so unless someone picks up CRI-O support on WIndows boxes, NO.

We attempt to make sure CRI-O will build on non linux platforms but no one to my knowledge is working on Windows support.  But we would welcome it.

[2018-09-06 16:47] Jaspreetc commented on #1779
@taylorb-microsoft
Do you think this is going to happen?

@rhatdan
Daniel, I wanted to understand from Open Shift point of View are we going with CRI-O in version 4.0 only or will Docker be there as a Container run time?

[2018-09-07 04:52] mcronce opened #1784 "After running for a period of time, some images will start failing to pull"
**Description**
After running for a period of time, I will start to get issues with a node pulling images.  This doesn't seem to impact any _specific_ node, but once a node starts failing on a given image, it will only ever fail unless I stop crio, blow away all its state, and start it back up.

When pulling the image fails, the message returned is similar to the following:
[code]

**Steps to repr

[2018-09-08 02:42] mrunalp commented on #1784
@mtrmac @nalind @runcom PTAL

[2018-09-08 18:32] runcom commented on #1639
clearly done now, thanks everyone 🎉

[2018-09-08 18:32] #1639 closed

[2018-09-10 15:20] fjudith commented on #1769
Hello,
Battle dested again. I'm not observing this issue with `containerd` and `docker`, only with **cri-o**.

[2018-09-14 20:24] ashcrow opened #1796 "cgroupdriver has wrong default in package"
Version: `1.11.3-2`

The default `cgroupdriver` is being set to `cgroupfs` in the configuration provided by the rpm package. This should in fact be `systemd` per discussion with @mrunalp. Can we get this modified and rebuilt?

/cc @yuqi-zhang

[2018-09-14 20:53] mrunalp commented on #1796
@lsm5 This is for our rpm builds.

[2018-09-15 01:54] lsm5 commented on #1796
This change has been made on RHEL. I'm guessing we need the same thing on fedora as well?

[2018-09-15 20:02] mrunalp commented on #1796
@lsm5 Yes, we do.

[2018-09-17 09:10] fabiand commented on #1704
Side note, in this gist I tried to outline how device plugins could work better for hypervisor runtimes as well: https://gist.github.com/fabiand/81beda6550fae5731fd7e1a1ad48cc73

[2018-09-17 09:30] cyphar commented on #1704
I think if we're going to do this, inclusion into OCI and how the runtime-spec should evolve should be a very important part of the discussion. After all, if it's necessary to build something on top of the OCI spec that the OCI spec should already be doing -- maybe we need to improve the OCI spec so it caters for that need.

[2018-09-17 09:31] cyphar commented on #1704
@fabiand In the context of devices, I would recommend taking a look at how LXD (and LXC of course) has solved this problem.

[2018-09-17 09:38] fabiand commented on #1704
@cyphar do you have a pointer to that work?

[2018-09-17 14:02] lsm5 commented on #1796
ack, updating the cri-o modules now...

[2018-09-17 15:59] cyphar commented on #1704
I believe the code would be [here](https://github.com/lxc/lxd/blob/lxd-3.5/lxd/devices.go) -- but if you want a more in-depth explanation I would recommend talking to @brauner, @stgraber and/or @3XX0.

[2018-09-18 08:47] fabiand commented on #1704
Thanks, IIUIC then it is per device type handling (beyond other things), which I agree with.

[2018-09-18 12:24] mfpierre opened #1800 "CRI-O does not report disk statistics via `ListContainerStats` CRI call"
**Description**

`CRI-O` does not report disk usage statistic via the `ListContainerStats` rpc call.

In the container stat struct `writable_layer` is currently set to `nil` which cause to report `0` for `used_bytes` and `inodes_used`
https://github.com/kubernetes-sigs/cri-o/blob/4cd5a7c60349be0678d9f1b0657683324c1a2726/server/container_stats.go#L29

**Steps to reproduce the issue:**
You can obser

[2018-09-18 13:01] runcom commented on #1800
we're aware of this, we currently have stats for kube going through cadvisor but the plan is to, of course, move to the CRI calls.

[2018-09-18 13:27] mfpierre commented on #1800
@runcom that's what I assumed but couldn't find any documentation or issue aknowledging this was missing.

[2018-09-18 13:35] runcom commented on #1800
mmm yeah, maybe we don't have an issue open, I'll check and open one if there's not. Also, we're always welcoming contributions if you're up to :)

[2018-09-19 15:56] ashcrow commented on #1796
/cc @mike-nguyen

[2018-09-19 15:56] ashcrow commented on #1796
Let us know when this lands

[2018-09-19 16:26] mike-nguyen opened #1804 "cri-o needs cni workaround"
**Description**
Port forwarding from the container to the host doesn't seem to be working.  I need to run with `hostNetwork: true` to workaround it.

I am using kubelet to deploy a static nginx pod with containerPort:80 and hostPort:80.  When kubelet is using docker, I can `curl http://localhost:80` and I get the nginx default page.  When I switch kubelet to run with crio, I can see the container

[2018-09-19 16:28] mike-nguyen commented on #1804
/cc @mrunalp @ashcrow @mheon

[2018-09-21 10:06] #1752 closed

[2018-09-21 11:31] mythi opened #1809 "update ocicni vendor"
**Description**

Currently, it isn't possible to launch pods without a CNI that exposes eth0 in the pod (for instance 'loopback only'). The latest ocicni makes this possible (according 2d3ce4620eab521d3636d23f7e035dc0bfde7644).

I started to work on the update but it brings in new containernetworking/cni version and API changes so I opened this for discussion/guidance.

[2018-09-22 22:57] bhperry opened #1810 "Image Garbage Collection"
**Description**

Was running kubernetes/cri-o 1.9.7 for a while, and always saw "ImageGC not implemented" errors. We just ignored it and did manual imageGC (which is not fun). Recently we upgraded to kubernetes 1.11.3, and I was under the impression that ImageGC had been fixed (based on the change logs). I no longer see those errors I saw before, however after filling up my image volume to over 90

[2018-09-24 14:45] bhperry commented on #1810
I have confirmed that the issue is caused by using a devmapper thinpool in crio to store images. Are there any plans to add support for kubelet to retrieve imagefs metrics about thinpool devices from crio?

[2018-09-27 12:12] mythi opened #1816 "leaking infra containers in runPodSandbox"
**Description**

If the CNI setup fails in runPodSandbox, the infra container started is not stopped/removed and leaks.

**Steps to reproduce the issue:**
1. make the CNI setup fail, e.g, have only 99-loopback.conf in ```/etc/cni/net.d```
2. observe the growing number of conmon processes ```for i in `seq 1 10`; do sudo crictl runp pod-config.json 2>/dev/null ; echo "conmon processes: $(ps ax|grep

[2018-09-27 16:36] #1816 closed

[2018-10-01 18:33] amshinde commented on #1733
@tallclair To keep track of this discussion, following our discussion on Monday in Kata forum, we agreed upon having a runtime classification string in the runtime configuration that can be passed by CRI runtime to CNI.

[2018-10-02 17:36] mike-nguyen commented on #1804
@giuseppe I tested on AWS and was able to get to my webserver through the AWS private IP address.  So it only hangs on localhost/127.0.0.1 like you said

[2018-10-02 18:12] dcbw commented on #1804
@mike-nguyen can you run 'iptables-save' on the node and post the results somewhere?

[2018-10-02 18:15] mike-nguyen commented on #1804
https://paste.fedoraproject.org/paste/vJ6Ney7VbkNWojiTj80~rg

[2018-10-02 18:28] dcbw commented on #1804
@mike-nguyen can you "tcpdump -vvvne cni0" and then do the curl localhost:80?

[2018-10-02 20:48] dustymabe opened #1821 "RFE: Add generic way to specify device nodes to attach to each pod"
**Description**

RFE: Add generic way to specify device nodes to attach to each pod that is deployed via cri-o. The idea here is that you want something like `/dev/fuse` or `/dev/kvm` mounted into pods so that users can use them without having to use `privelged: true` or `hostPath:`.

This would obsolete the need for things like [oci-kvm-hook](https://github.com/stefwalter/oci-kvm-hook)

related:

[2018-10-02 20:49] dustymabe commented on #1821
cc @stefwalter

[2018-10-02 20:54] mrunalp commented on #1821
Yeah, we can add this to crio.conf to inject some devices by default.

[2018-10-03 14:58] dcbw commented on #1804
@mike-nguyen Ok, so clearly the traffic isn't even getting to cni0

[2018-10-04 16:48] giuseppe commented on #1804
@dcbw I got it to work with the following changes (tested manually):

[code]

[2018-10-05 16:45] paulnivin commented on #838
We're seeing this issue with an up to date cri-o build on release-1.10 with Kubernetes 1.10.8. We occasionally end up with Pods stuck looping with CreateContainerError leaking a cgroup containing conmon. Eventually, enough conmon cgroups are leaked to invoke the OOM killer, killing conmon and causing other issues with the node.  We're switching over to the systemd cgroup manager to see if that wor

[2018-10-05 17:45] runcom commented on #838
Thanks for the report, we'll try to find a solution for that but we aim at the kubelet to help us on that

[2018-10-05 18:20] mrunalp opened #1824 "crictl ps hangs on a runc kill that is stuck"
**Description**
We saw an instance of runc kill stuck on a process in D state.
This was holding up the container's lock resulting in crictl ps not getting a response.

[2018-10-05 22:27] jfkw opened #1827 "lib/container_server.go logrus.Debugf() format string missing argument"
**Description**

Calls to logrus.Debugf() in lib/container.go are missing an argument in the format string.
Go 1.11 catches the error, previous versions apparently allowed it to compile:

[code]

The specific calls are:

[code]

There is a fix on master in commit 0bd30872028b5ed2d0eb7febb39f034b5f2da72a, but not yet in any released version:

[code]

Excerpt from 0bd30872028b5ed2d0eb7febb39f034b5f2

[2018-10-05 22:32] mrunalp commented on #1827
@jfkw Would you mind opening PRs to the release branches? Thanks!

[2018-10-06 02:07] cyphar commented on #1824
What was `/proc/$pid/stack` of the `runc` process?

[2018-10-06 02:31] mrunalp commented on #1824
@cyphar Unfortunately I didn't gather that and I was just thinking about it right now :/ I think we do hit this in e2e CI so will be able to get it sooner or later.

[2018-10-06 14:42] mrunalp commented on #1824
We are using runc kill -all SIGKILL and I suspect that putting the proceses in frozen state is causing this issue. The code is getting stuck somewhere after that.

[2018-10-09 05:33] jfkw commented on #1827
If there are any additional release branches that are in active development and may be used with go 1.11+, I can submit PRs for those as well.

[2018-10-09 12:10] vbatts opened #1837 "request: list of who's using cri-o on the README.md"
This is obviously hard to track, but we ought start a section for folks that using and those contributing.

[2018-10-11 05:55] aalubin opened #1839 "memory cgroup count leak?"
**Description**
Every time a new pod is created, the counter for memory slice in /proc/cgroups is increased by 2

**Steps to reproduce the issue:**
Running the following command
cat /proc/cgroups;crictl rm `crictl ps|grep filebeat|awk '{print $1}'`;sleep 3; cat /proc/cgroups
Replace filebeat with the pod of your choice

**Describe the results you received:**
#subsys_name	hierarchy	num_cgroups	enab

[2018-10-11 07:11] cyphar commented on #1839
That number is the *number* of cgroups on the system -- it doesn't have anything to do with memory usage (other than the couple of bytes in memory that the kernel needs to represent the cgroups). Why is it 2? I'm not sure, but I'm sure that a quick look inside `/proc/self/cgroup` inside a container would probably tell you whether 2 cgroups are being created for each pod (I think that there's a pod

[2018-10-11 10:47] aalubin commented on #1839
So only one is created, but my guess goes for the pause container for creating one as well

[2018-10-12 15:23] schu commented on #1769
Friendly ping - any news?

[2018-10-14 13:47] uablrek commented on #1768
Try it yourself in ~10 min if you use Ubuntu? see;
https://github.com/Nordix/xcluster

Or specifically; https://github.com/Nordix/xcluster/tree/master/ovl/private-reg

[2018-10-15 15:52] runcom commented on #1769
from a cri-o prospective I cannot see how setting that resolvConf option is helping with docker/containerd but not cri-o itself. I wasn't able to find any code in kubernetes upstream for that. If someone has any pointer that would be appreciated.

As for any news, I still believes this is a kubernetes issue, not a CRI-O issue as @Bregor stated above.
I want to understand why the workaround isn't w

[2018-10-17 01:10] jayunit100 commented on #375
i think this is an issue on master b/c minikube isn't honoring any alt. container runtimes when docker isnt there, It crashes if docker isnt available.  see https://github.com/kubernetes/minikube/issues/3153

[2018-10-17 20:34] #1751 closed

[2018-10-18 02:02] jayunit100 commented on #375
- *no, minikube is not a substitute for local up cluster *.
As an example, consider that for alternate container runtimes, minikube actually won't work (i.e. vm-driver=none will blow up if docker isnt around, but crio and other runtimes can be used with local-up-cluster, https://github.com/kubernetes-sigs/cri-o/blob/master/README.md ).

So there is at least one use case where minikube wont be a su

[2018-10-18 08:47] giuseppe commented on #1804
@dcbw does the change look fine?

[2018-10-21 19:14] thequailman opened #1862 "containerd-release moved, install.tools target broken"
**Description**

In https://github.com/containerd/containerd/pull/2735, the containerd-release tool was move to a different repo (containerd/project).  The current build process for cri-o is now broken:

[code]

**Steps to reproduce the issue:**
1.  Checkout cri-o
2.  Run `make install.tools`

**Describe the results you received:**

Unable to build `install.tools` target

**Describe the results yo

[2018-10-22 22:36] mrunalp commented on #1810
@bhperry Yes, we do plan to implement the stats API.

[2018-10-22 22:49] bhperry commented on #1810
Great to hear. I would definitely like to go back to using a thinpool later down the line.

[2018-10-22 22:49] #1810 closed

[2018-10-23 16:33] mrunalp commented on #1862
This is fixed with #1865. Closing. Feel free to reopen if you still see it. Thanks!

[2018-10-23 16:33] #1862 closed

[2018-10-30 13:23] vrothberg opened #1879 "crio creates logs in /tmp"
**Description**

`crio` creates some logs in `/tmp` which seems to be an undesired side-effect of used libraries using [glog](https://godoc.org/github.com/golang/glog).

**Steps to reproduce the issue:**
1. Start crio.

**Describe the results you received:**

After a clean start, I see the following files in `/tmp`:
[code]

**Describe the results you expected:**
Either move them to `/var/log/cri-o

[2018-10-30 14:11] mrunalp commented on #1879
Thanks for the report! Would you be willing to work on a fix? :)

[2018-10-30 14:20] vrothberg commented on #1879
@mrunalp, sure. How should we change the current behavior? I suggest to either move the logs to /var/log/cri-o/ or, if possible, suppress them altogether.

[2018-10-30 14:47] mrunalp commented on #1879
I think we should suppress them since we aren't even looking at these today.

[2018-10-31 20:16] amshinde opened #1881 "Bind mount for /dev not handled correctly"
After passing host /dev as a volume to a container, I was seeing issues accessing certain devices within the container. Inspecting the config.json for the container, revealed that two mounts had been added with destination /dev.
[code]
Shouldn't the config.json just contain the second bind mount?

[2018-10-31 20:17] amshinde commented on #1881
cc @mythi
cc @mrunalp

[2018-11-01 00:48] amshinde commented on #1881
Took a brief look at how the mounts are added to the spec:
https://github.com/kubernetes-sigs/cri-o/blob/master/server/container_create_linux.go#L844

I think its necessary to override the mount created by the spec generator by user supplied mount.
In case of /dev,  I think it is necessary to filter out all the mounts under /dev that have been created by spec generator.

[2018-11-01 07:19] jnummelin commented on #1881
We're getting hit by this too with Rook&Ceph:
[code]

Affects versions >= 1.11.7, 1.11.6 works fine.

My guess it's cause of this: https://github.com/kubernetes-sigs/cri-o/pull/1831

[2018-11-01 07:38] mythi commented on #1881
our issue is seen with 1.11.6 too.

[2018-11-01 13:04] mike-nguyen commented on #1804
@dcbw -- looks like giuseppe has something that may work.  What do you think?

[2018-11-01 15:12] ashcrow commented on #1804
If we can get this looked at soon I'd appreciate it. This work blocks a card @mike-nguyen is trying to close out.

[2018-11-01 15:40] chavafg opened #1883 "cri-o 1.12/master with devicemapper driver fails to remove pods"
**Description**

Using cri-o v1.12.0 and master branch and devicemapper driver.
When trying to remove a pod I got:
[code]
This happens using `runc` or `kata-runtime`.

My storage configuration on /etc/crio/crio.conf:
[code]

**Steps to reproduce the issue:**
1. Build cri-o v1.12.0 or master
2. Configure to use devicemapper
3. Create a pod and then try to remove it.

**Describe the results you rece

[2018-11-01 16:06] runcom commented on #1883
@nalind @rhatdan ptal, looks like a regression

[2018-11-01 16:37] mrunalp commented on #1881
Looks like must be because of `nodev`. We will fix and add a test so we don't regress on this. Thanks!

[2018-11-01 17:02] runcom commented on #1883
@chavafg do you have any chance to bisect? I suspect it's a regression

[2018-11-05 06:40] jakolehm commented on #1725
It seems that this issue still applies if image is first pulled from an older registry (like quay):

[code]

Tested with cri-o 1.11.6 on CentOS 7.5.

[2018-11-05 11:14] runcom commented on #1725
@nalind @mtrmac could you take a look at the above please?

[2018-11-05 12:14] vrothberg commented on #1879
This seems to be worked on already in https://github.com/kubernetes/kubernetes/issues/70264. I propose to wait for those changes to be propagated into CRI-O and to close this issue. @mrunalp, are you cool with it?

[2018-11-05 13:17] vrothberg opened #1891 "ulimit permission errors prior to CRI-O v1.12"
Running `ulimit -n 10000` in a container prior to v1.12 errors with `ulimit: open files: cannot modify limit: Operation not permitted`. A quick reproducer is using crictl and execute `crictl exec $CTRID bash -c "ulimit -n 10000"`.

Test on openSUSE Tumbleweed with CRI-O v1.9 to v1.12 where v1.9 to v1.11 run into the error (privileged did not help), v1.12 is working fine. I wanted to reproduce in a

[2018-11-05 13:33] cyphar commented on #1891
There are two possible options I can see:

* The default (hard) limit was changed and so changing the soft limit has no effect.
* Containers are now started with `CAP_SYS_RESOURCE` when they weren't in the past.

[2018-11-05 13:40] vrothberg commented on #1891
I don't think that's the case as I've tried privileged and it still failed.

[2018-11-05 14:05] runcom commented on #1891
@vrothberg does it fail no matter the argument to ulimit? could you test with lower values (as I think it's what @cyphar is saying)

[2018-11-05 15:56] mtrmac commented on #1725
This was supposed to be fixed in the linked https://github.com/kubernetes-sigs/cri-o/issues/1725 .

Has anyone checked so far:
- whether that fix is included in the 1.11.6
- whether this is reproducible when starting with _empty_ local containers/storage? (Note that once images are pulled with the old buggy version, the error message will continue to show up; they need to be at least untagged, a f

[2018-11-05 15:57] jakolehm commented on #1725
@mtrmac tested with fresh cluster.

[2018-11-05 16:03] runcom commented on #1725
looks like https://github.com/kubernetes-sigs/cri-o/pull/1731/commits/4e7f71b714932dafc6a70e9b6dc09112da478be1 isn't in 1.11 branch and it's been tagged only for 1.12.0 onwards. @jakolehm any chance you'll be able to test with 1.12? We'll try to understand if a backport is feasible meanwhile

[2018-11-05 16:18] jakolehm commented on #1725
@runcom I'll test with 1.12.0 once our CI has cooked a new package.

[2018-11-05 16:39] runcom commented on #1725
could you also test with 1.11.8? that's the latest in 1.11 release and could have that fixed already, not sure if a package is available for centos yet (@lsm5 ptal)

[2018-11-05 16:39] mtrmac commented on #1725
1.11.7 or later should be enough.

[2018-11-05 16:54] jakolehm commented on #1725
1.11.8 works, so most likely also 1.12.0 works.

[2018-11-05 16:56] jakolehm commented on #1725
Confirmed, 1.12.0 works.

[2018-11-05 17:01] runcom commented on #1725
thanks for checking, all good here then!

[2018-11-05 19:05] cyphar commented on #1891
What does `capsh --print` give you?

[2018-11-06 04:15] chavafg commented on #1883
Hi @runcom , I suspect that the issue was introduced by the last `github.com/containers/storage` revendoring, i.e. #1793 and #1814, but I am not sure which is the issue on the storage repository.

**This is from v1.11.6, where the pod removal is executed correctly:**
[code]

On the Journal I see that there is a message from devicemapper error where it cannot unmount a resource, and it seems that t

[2018-11-06 08:29] vrothberg commented on #1891
It looks like the hard limit is set to `4096`.

[2018-11-06 08:54] vrothberg commented on #1891
I propose to set the default limits (unless specified otherwise) as Docker does (to remain compatible with Docker) and to backport the necessary pieces to 1.10 and 1.11.

[2018-11-06 09:08] runcom commented on #1891
We don't set ulimits by default. If tests are making assumptions, we can lower the value in there but as far as defaults go, cri-o isn't setting those, am I wrong?

[2018-11-06 09:09] runcom commented on #1883
Thanks a lot @chavafg, @nalind, @rhatdan could you investigate that with c/storage?

[2018-11-06 09:12] vrothberg commented on #1891
I am under the same impression. Was browsing the code and couldn't find any indication prior to your change for v1.12.

[2018-11-06 09:37] runcom commented on #1891
So that can't be the issue, has something else changed in suse?

[2018-11-06 10:14] vrothberg commented on #1891
I think it is, as the default limits of the OS will be used, which is 4069 on my Tumbleweed machine (checked via `cat /proc/self/limits`).

Docker seems to set the limits, so the users' workload works using Docker but not using CRI-O, which is why I propose to set the same defaults as Docker.

[2018-11-06 10:18] runcom commented on #1891
alright, I've found the issue, gimme a moment to create a patch and you can test it.

[2018-11-07 09:16] vrothberg commented on #1891
I investigated a bit more and compared CRI-O's behavior to the one of dockerd. Both are constrained by the limits specified in the systemd unit files. On {open,}SUSE, the limits for CRI-O and Docker are `LimitNOFILE=infinity`, which happens to be 65536 on SLE12 SP3 and 1048576 on openSUSE Tumbleweed/Kubic (which is why it's working on my dev machine).

As we've discussed, CRI-O containers inherit

[2018-11-07 09:17] vrothberg commented on #1891
^ hence my request: can we re-open the issue? (Cc @mrunalp @rhatdan @cyphar)

[2018-11-07 09:19] vrothberg commented on #1891
Adding CAP_SYS_RESOURCE makes it work, but I don't like sticking with it as the users have the (valid) expectation that their workloads run independent of the CRI endpoint.

[2018-11-07 09:20] vrothberg commented on #1891
I need to correct my upper statement as my json config was wrong.

[2018-11-07 12:52] rhatdan commented on #1891
I agree we should match Docker's behaviour.

[2018-11-07 13:29] vrothberg commented on #1891
Sorry for the noise. CRI-O is doing just fine as everything's done in systemd unit files. Containerd sets LimitNOFILE=1048576 which is exactly what CRI-O's upstream unit file does; turns out it's a packaging issue in openSUSE.

[2018-11-07 14:44] rhatdan commented on #1883
@runcom Is this the one that Miloslav said is fixed?

[2018-11-07 14:59] nalind commented on #1883
@rhatdan that was #1725/#1731.

[2018-11-07 15:29] rhatdan commented on #1883
If you want to force the unmpount you can pass the force=true flag.

[2018-11-07 15:31] rhatdan commented on #1883
[code]

[2018-11-07 16:42] runcom commented on #1883
if that's the correct thing to do yeah, I'm lacking the full context though

[2018-11-07 17:09] runcom commented on #1883
alrighty, I believe it's safe to forse umount in CRI-O. I'll create a PR, thanks Dan!

[2018-11-07 19:54] mythi commented on #1881
@runcom @amshinde the bug I saw (I worked with @amshinde) is at least gone.

[code]

[2018-11-07 20:03] runcom commented on #1881
awesome, that has been fixed by #1884 when I backported that fix to 1.11 and 1.12, we're going to release new tags hopefully by end of the week. Thanks a lot for checking.

[2018-11-08 00:25] jareksm opened #1894 "Make container log path configurable"
I'm using filebeat from ElasticSearch to collect containers logs. It can discover and read CRIO log format in kubernetes as long as it's in /var/lib/docker/containers/{container id}/&ast;.log. The issue is after moving from docker to crio as the runtime for our cluster the logs are written to /var/log/pods/{pod uid}/{container name}/&ast;.log. After looking at code base, it looks like crio gets th

[2018-11-08 00:34] runcom commented on #1894
that's more of a question for kubernetes itself - CRI-O just does whatever Kube tells it to do

[2018-11-08 00:37] jareksm commented on #1894
That's what I've figured out in above, I was hoping for some hints/pointers into getting Kube to tell CRIO a new container log path.

[2018-11-08 00:41] runcom commented on #1894
I believe there's no such a knob unfortunately :(

[2018-11-08 02:42] mcastelino opened #1895 "kubeadm with crio: pods with host namespace get their IP set to 127.0.0.1"
**Description**

When setting up kubernetes with crio using kubeadm the host namespace pods get incorrect IP address. They get the IP address 127.0.0.1 instead of the IP address of the node. I happen to be using Calico, but may not be related.

**Steps to reproduce the issue:**

1. sudo -E kubeadm init --pod-network-cidr=192.168.0.0/16 --cri-socket="unix:///var/run/crio/crio.sock"
2. kubectl apply

[2018-11-08 12:57] clarklee92 opened #1896 "#BUG#Kata runtime was not connected with network namespace"
**Description**

**Steps to reproduce the issue:**
1.Using CRI-O 1.11.7 with kata untrusted pod on CentOS7;
2.CNI conf:
{
    "cniVersion": "0.3.0",
    "name": "kubenet",
    "type": "bridge",
    "bridge": "cbr0",
    "mtu": 1400,
    "addIf": "eth0",
    "isGateway": true,
    "ipMasq": false,
    "hairpinMode": false,
    "ipam": {
        "type": "host-local",
        "subnet": "172.19.1.0/24

[2018-11-08 13:01] runcom commented on #1896
@sboeuf @chavafg PTAL

[2018-11-08 19:34] mrunalp commented on #1896
Can you share your crio.conf?
Also check if you have `manage_network_ns_lifecycle` set to true in it. Thanks!

[2018-11-08 20:19] sboeuf commented on #1883
@runcom @mrunalp @rhatdan

@chavafg and I have been doing some testing by reverting the PR #1814 that got merged when the Kata CI was not being triggered by CRI-O (happened a month ago for 1/2 weeks).
By reverting the commit and rebuilding CRI-O, we got both `runc` and `kata-runtime` working. By working, I mean that we've been able to run, stop and remove a pod backed by `devicemapper` as the cont

[2018-11-08 20:49] runcom commented on #1883
I totally agree with the above and thanks for checking @sboeuf and @chavafg - let's hear from Mrunal and Dan as well and then we can revert and open an issue in c/storage to investigate the actual bug.

[2018-11-09 02:19] clarklee92 commented on #1896
Thank you very much!! problem was solved. Cause I did's see any conf describe from /kubernetes-sigs/cri-o/docs, I didn't know there is a extra configuration when using kata. This `manage_network_ns_lifecycle` only appears at kata's wiki.
Thank you again!

[2018-11-09 07:18] jareksm commented on #1894
This issue has been addressed in filebeat which is referenced in this ticket, as such I'm closing it.

[2018-11-09 07:18] #1894 closed

[2018-11-09 07:37] runcom commented on #1896
Closing this, feel free to enhance docs if we need to :)

[2018-11-09 07:37] #1896 closed

[2018-11-09 08:46] runcom commented on #1883
containers/storage bump was needed to fix a race somewhere in storage, so, let's wait for Nalin and Dan to chime in as well, maybe they could narrow this down quickly now that we know the range of the commits that broke devmapper

[2018-11-09 09:39] runcom commented on #1883
The following are the changes that went into c/storage which might have caused the issue:

[code]

[2018-11-09 09:41] runcom commented on #1883
opened https://github.com/containers/storage/issues/233

[2018-11-09 10:19] mjudeikis commented on #1742
we observed something similar, but this was fresh start of the node. mean none of the containers were running before, and nothing started apart of docker and cri-o processes (OCP 3.11).
[code]

Somehow it got this on the api server static pod statup :/

[2018-11-09 10:29] runcom commented on #1742
@jnummelin do you still have issues with upgrading from 1.11.1 to 1.11.2? Maybe this commit which went into 1.11.2 should help https://github.com/kubernetes-sigs/cri-o/commit/2b3add5685469ecd67dbd7c67496230091ea8490

@mjudeikis are you using CRI-O >= 1.11.2?

[2018-11-09 11:16] jnummelin commented on #1742
@runcom I think I did try it, cannot remember for sure. :) We're running and shipping with Pharos 1.11.6 already

[2018-11-09 15:07] mrunalp commented on #1895
@mcastelino Do you have `manage_network_ns_lifecycle` set to true in your crio.conf?

[2018-11-09 16:13] #1881 closed

[2018-11-09 19:45] runcom commented on #1883
reopening cause we're still investigating this

[2018-11-10 08:54] rhatdan commented on #1883
Do we have an easy recreater?  Should we be able to do this with Podman?

[2018-11-12 13:04] rhatdan commented on #1883
[code]

[2018-11-12 13:05] rhatdan commented on #1883
It is definitely complaining about
[code]
Is there a code path in the kernel where unix.MNT_DETACH is not allowed?

[2018-11-12 19:23] squeed opened #1904 "Inconsistent SELinux context for privileged pods"
**Description**
I witnessed inconsistent SELinux contexts for the exact same pod definition. Deleting and re-creating the pod would cause it to have one of `container_t` or `spc_t` without changing the PodSpec at all.

This only occurred for pods with both `privileged: true` and `runAsUser: 0`, e.g.

[code]

This configuration has worked consistently with Docker-based systems.

**Steps to reproduc

[2018-11-12 20:21] runcom commented on #1904
Thanks, I'm taking a look at it in a while

[2018-11-12 20:21] runcom commented on #1904
/cc @rhatdan

[2018-11-12 21:33] rhatdan commented on #1904
A privileged container should run as spc_t, not as container_t, if you switch a container from non privileged to privileged this could happen?

[2018-11-13 10:33] squeed commented on #1904
@rhatdan The container's configuration isn't changing, AFAICT.

Since removing `runAsUser: 0` this hasn't happened.

[2018-11-13 10:36] rhatdan commented on #1904
Ok so that means the CRI-O was treating runAsUser:0 differently then when it was not speicified in such a way that at least the `privileged` flag for SELinux was being ignored.  I am wondering if it `privileged` is ignored altogether.

@umohnani8 PTAL

[2018-11-13 10:38] rhatdan commented on #1904
I am wondering if runUser:0 causes all capabilities to be removed as well?  Is it only checking if a runuser was specified, then tighten the security.  IE does CRI-O see runUser being set as an indicator that this means run without root privs.  Where it should be combination of runUser being set and the user not being == 0.

[2018-11-13 10:56] runcom commented on #1904
when getting RunAsUser from Kube in CRI-O we don't deal with privileged or capabilities at all, we just set the user id of runc which shouldn't cause anything like this or privileged to be ignored. I'll check again

[2018-11-13 11:29] runcom commented on #1904
FYI, I'm trying to recreate the issue with an openshift/installer cluster

[2018-11-15 16:20] #1548 closed

[2018-11-16 10:30] giuseppe commented on #1904
could you help me to find a better reproducer?

I've installer a local libvirt cluster (using version 2507518e40cb851d7b38e5463aadd9d9293fe91b of the installer):

[code]

I've created/deleted a bunch of pods with (and slight modifications of):

[code]

but I always get:

[code]

[2018-11-16 10:32] runcom commented on #1904
There's a conversatoin I had with @squeed on Slack, I'll ping you there!

[2018-11-16 10:38] squeed commented on #1904
Hmm! I can think of a only a few differences between my particular situation and the reproducer:

1 - It only seemed to happen very early on in the node's life
2- It was hostNetwork
3- It bind-mounted a lot of stuff, including `/var/run`
4- It used a rhel base image

I don't think 4 is really meaningful, but number 1 is, I think, more interesting. So I'd suggest doing this:

- Changing the reprodu

[2018-11-16 21:21] steven-sheehy opened #1921 "Default pids_limit too low"
**Description**
For heavily mult-threaded workloads like databases, the default of 1024 for pids-limit is too low. This parameter controls not just the number of processes but also the amount of threads (since a thread is technically a process with shared memory). When installing CRI-O via the PPA, it comes pre-packaged with a crio.conf that defaults to 1024. Also CRI-O defaults internally to 1024

[2018-11-19 13:38] alexvirtualbr opened #1922 "FATA[0010] failed to connect: failed to connect: context deadline exceeded"
**Description**

Hey, I'm a problem here when I'm trying ensure the crio service is running.

**Steps to reproduce the issue:**
1. >> sudo crictl --runtime-endpoint unix:///var/run/crio/crio.sock version

**Describe the results you received:**

/// [alexvirtualbr@localhost ~]$ sudo crictl --runtime-endpoint unix:///var/run/crio/crio.sock version
/// NAME:
///   crictl version - Display runtime ver

[2018-11-20 00:05] kelvk commented on #1895
I am seeing this on my setup too. After restarting crio and kubelet, pods will be assigned with correct IP. However, a subsequent pod recreation will still cause the pod to be assigned 127.0.0.1 again.

Setting `manage_network_ns_lifecycle` to both `true` and `false` does not seem to have any effect on this behavior.

[code]

[code]

The Calico CNI configuration `/etc/cni/net.d/10-calico.conflist`

[2018-11-20 05:32] cyphar commented on #1921
That's a bit of a worry. It means that containers under containerd can trivially fork-bomb the system.

[2018-11-20 09:21] runcom commented on #1921
Right, that's the reason why (fork bomb) we are defaulting as low but give the possibility to users to tune it the way they need for their workloads.

[2018-11-20 17:51] mrunalp commented on #1895
@kelvk For the case where you are seeing IP set to 127.0.0.1, can you check if the pod is getting its own network namespace for some reason?

[2018-11-20 18:34] mrunalp commented on #1895
We found the issue and a fix is on the way. Thanks!

[2018-11-20 19:45] chrisnegus commented on #1921
I'd like to document this here: https://access.redhat.com/documentation/en-us/openshift_container_platform/3.11/html-single/cri-o_runtime/#configure-crio-use-crio-engine.  Questions: 1) Can pids_limit be set when the node is deployed or should you edit pids_limit in the crio.conf file on the node? 2) What guidance can we provide on when you need a higher limit (databases?)?  3) What can happen if

[2018-11-21 00:52] cyphar commented on #1921
For the record, I think 1024 is **far** too small for a default. systemd did this for user slices and we saw (at SUSE) lots of regressions as a result. 4096 (the systemd default for services) is much more reasonable.

I would recommend testing-under-load the default limit (which hopefully will be updated to 4K), and doubling it if it's not enough. In general I would avoid having a limit which is l

[2018-11-21 18:55] giuseppe commented on #1904
I've been trying to reproduce this issue (with the reproducer you provided me) for several days now, but I wasn't able to see it happening even once.  I've switched back and forth from 0 to 2 replicas for the worker nodes.

Are you still observing it with latest images?

[2018-11-21 19:54] amshinde commented on #1881
cc @lsm5

[2018-11-22 06:51] mythi commented on #1881
@amshinde Make sure you have https://github.com/kubernetes-sigs/cri-o/releases/tag/v1.12.1.

[2018-11-23 04:13] steven-sheehy opened #1927 "CreateContainerError running lstat on namespace path"
**Description**
I have a [MongoDB StatefulSet](https://github.com/kubernetes/charts/tree/master/stable/mongodb-replicaset) running fine for awhile, then for unknown reasons the pod restarts. When it attempts to start back up, this error starts occurring. This occurs only rarely as most times it starts up fine. After restarting the crio.service, the error goes away and the container creates success

[2018-11-26 11:28] vikaschoudhary16 opened #1929 "crictl fails to create a pod when crio running with --uid-mappings and --gid-mappings"
**Description**
Running crio with id mappings:
` /usr/local/bin/crio --uid-mappings 0:100000:70000 --gid-mappings 0:100000:70000`
Now if i try to create a pod using `crictl`, following the [crio tutorial](https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md#run-pod-sandbox-with-config-file), like this:
[code]

I get this error message:
[code]

**UPDATE:**
Tried userns functional

[2018-11-27 11:07] giuseppe commented on #1929
this seems to be caused by newer versions of crictl (which possibly switched to default to readonly rootfs = true) and happens also without using uid/gid mappings.

It looks like this issue in runc: https://github.com/opencontainers/runc/issues/1247

For now, you could edit `/etc/containers/storage.conf` and be sure `mountopt` doesn't contain `nodev`.

We are seeing this problem now as we have swi

[2018-11-27 17:35] rhatdan commented on #1929
But it also decreases the security....  :^(

[2018-11-27 17:35] vikaschoudhary16 commented on #1929
@giuseppe After Step 3 i.e pod running in the case where crio is running with uid-mapping, crictl fails to delete the same pod.

[code]

[2018-11-27 20:49] mrunalp commented on #1927
Thanks for the report. Were you able to find a reproducer or gather more data around when it fails leading to this path?

[2018-11-28 04:46] mrunalp commented on #1929
@rhatdan We had to takeout nodev from mounts as well as it prevented buildah from creating overalyfs in mounts.

[2018-11-28 05:39] knusbaum opened #1932 "Cross Compilation"
**Description**

Cross Compilation appears not to work.

**Steps to reproduce the issue:**
1. Run `make install.tools`
2. Set `GOARCH` to a target platform not the same as the host.
3. Run `make`

**Describe the results you received:**
Compilation encounters error.
[code]

**Describe the results you expected:**
Compilation should succeed

I expect that the `crio-config` should be built as part of

[2018-11-28 09:15] cyphar commented on #1742
We have seen this quite a lot recently with the `1.9.x` -> `1.10.x` upgrade. After looking at this for a while it definitely looks like there's something wrong with the on-disk state and some aspect of cri-o **really** doesn't like it. I couldn't find any logs that explained why `cri-o` was continually trying to start new pods but not cleaning up after the failure.

From what I've seen, the proble

[2018-11-28 09:18] giuseppe commented on #1929
I think you need to use `stopp` first, then you can `rmp it

[2018-11-28 09:47] pohly commented on #1742
I'm also seeing this with cri-o 1.11.6.

In my case, I am running a cluster on QEMU virtual machines and, while everything is running, kill the QEMU processes with SIGKILL. That's the same as a sudden powerloss of the machine. My expectation is that a cluster should survive that. Is that perhaps too optimistic?

[2018-11-28 20:05] steven-sheehy commented on #1927
Nope, we have since switched to containerd due to this and other issues I've reported. You can close this if there's not enough information to investigate.

[2018-11-28 20:52] rhatdan commented on #1929
Lets talk about this tomorrow.  Is this only failing when run with User Namespace?
Not sure how buildah would be related, since it should be getting a separate overlay volume mounted into the container that is running buildah,  Buildah should not be building over CRI-O overlayfs.

[2018-11-28 23:22] steven-sheehy commented on #1927
I did just reproduce this in an environment that was still on CRI-O. The pod in question OOMKilled and then would not restart with CreateContainerError. So most likely the mongo pod above OOMKilled. Another thing I noticed is that `crictl pods` shows duplicate pods for the same pod name:

[code]

If you attempt to `crictl stopp` any of those pods, they don't ever get removed and just say "Stopped

[2018-11-29 15:45] steven-sheehy commented on #1927
The NotReady pod above b26d8f861f68b shows up repeatedly in the kubelet logs. The kubelet log is filled with these type of errors for different pods:
[code]

[2018-11-30 14:08] caniszczyk opened #1935 "Replace usage of juju/ratelimit with golang.org/x/time/rate"
See this as an example: https://github.com/kubernetes/kubernetes/pull/38320

[2018-11-30 19:17] mrunalp commented on #1935
Fixed with #1936. Thanks!

[2018-11-30 19:39] #1935 closed

[2018-11-30 21:06] alexvirtualbr opened #1937 "run pod sandbox failed"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**

FATA[0001] run pod sandbox failed: rpc error: code = Unknown desc = write child: broken pipe

**Steps to reproduce the issue:**
1. When i tried run POD_ID=$(sudo crictl runp test/testdata/sandbox_config.json)

**Describe the results you received:**

FATA[0

[2018-11-30 22:32] keithdadkins commented on #476
Would love a Debian apt package. I tried to use the Ubuntu PPA, but no joy (debian 9).

[2018-12-01 03:36] cyphar commented on #1742
I would argue that it should definitely survive this. One of the primary goals of cri-o was to have a container management process that could consistently survive death -- something that Docker will always struggle with.

[2018-12-01 09:35] pohly commented on #1742
Aleksa Sarai <notifications@github.com> writes:

Thanks for the confirmation. Then this bug needs to remain open, because
right now it doesn't seem to be working. FWIW, Docker worked fine for me
in the same situation (same OS = Clear Linux, same VM setup, hard poweroff).

[2018-12-02 17:03] vikaschoudhary16 commented on #1929
@rhatdan in my testing, it was failing only with user namespaces.

[2018-12-02 17:46] vikaschoudhary16 opened #1939 "Usernamespaces: volume mount failing and then container creation failing"
**Description**
[code]

[2018-12-03 14:02] rhatdan commented on #1939
Permission denied, I always look for SELinux issues first.
Any AVC's reported?

[2018-12-04 17:36] baichinger opened #1942 "OCI hooks ignore if /etc/containers/oci/hooks.d is missing"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

OCI hooks do not get executed if `/etc/containers/oci/hooks.d` does not exist. As hooks in this directory just override hooks from `hooks_dir_path` this should be optional.

**Steps to reproduce the issue:**

1. Install CRI-O
2. Create a hook in `hooks_di

[2018-12-04 17:44] mheon commented on #1942
@wking Do you figure https://github.com/containers/libpod/pull/1920 will fix this issue?

[2018-12-04 18:38] baichinger commented on #1942
Looks promising as non-existing directories will be ignored by https://github.com/containers/libpod/pull/1920/files#diff-87d2459bf706cdc9058fa08c9223faceR1207.

[2018-12-04 19:11] wking commented on #1942
Yeah.  I can port it to CRI-O once it lands in libpod.

[2018-12-04 20:43] wking commented on #1942
Looking into this now, seems like 50539c31c0 (#1749) [made `hooks_dir_path` public][1].  What are folks feelings for backwards compat there?  It would be nice to be able to follow libpod with [`hooks_dir` taking an array of strings][2], but I dunno if need to keep the exiting `hooks_dir_path` around or not.

[1]: https://github.com/kubernetes-sigs/cri-o/pull/1749/files#diff-df24ddfad03f6eba45333a6

[2018-12-06 09:00] sboeuf opened #1945 "Support a container runtime v2"
Based on https://github.com/kata-containers/runtime/issues/907, the idea is to end up with a v2 of what is implemented by `oci.Runtime` today, by proposing an internal Go interface that would allow for several versions of this same interface. The version 1 being the conmon implementation assuming an OCI CLI binary as the container runtime. The version being a more generic implementation proposing

[2018-12-06 09:03] sboeuf opened #1946 "Move container implementations from lib to oci package"
We need to make sure nothing specific to `conmon` is being done from the lib package. Only `oci.Runtime` should be allowed to deal with details of how `conmon` interacts with the container runtime, which will allow for a better abstraction.

[2018-12-06 09:03] sboeuf commented on #1946
Reference #1945

[2018-12-06 13:46] pcahyna commented on #1821
related: https://github.com/kubernetes/kubernetes/issues/60748 ?

[2018-12-06 20:09] #1942 closed

[2018-12-13 03:37] bzub opened #1961 "crio config with multiple --hooks-dir args creates invalid TOML"
**Description**
Specifying multiple `--hooks-dir` flags to `crio config` command generates an invalid config (missing commas between array entries)

**Steps to reproduce the issue:**
1. `crio --hooks-dir=/tmp/ocihooks1.d --hooks-dir=/tmp/ocihooks2.d`

**Describe the results you received:**
[code]
[code]

**Describe the results you expected:**
[code]

**Output of `crio --version`:**

[code]

[2018-12-13 17:32] mcronce opened #1962 "mountPropagation: Bidirectional"
**Description**
I'm not having luck using `mountPropagation: Bidirectional` on volumes with CRI-O.  I found #1247 while troubleshooting so unless there was a regression, I'm guessing there's an issue with my environment but I'm not real sure where to go in terms of troubleshooting.  I did validate that everything works correctly when I switch to Docker as my run-time.

I do have `MountFlags=shared

[2018-12-13 20:30] #1946 closed

[2018-12-14 22:15] mrunalp commented on #1961
Opened #1968 to fix this. Thanks!

[2018-12-14 22:38] mrunalp commented on #1962
Can you share you k8s yaml file? Thanks!

[2018-12-15 17:42] jayunit100 opened #1970 "Default Crio install should support any registry."
It seems like the default CRIO installation on minikube, for example, might benefit from not needing people to modify the `/etc/crio/crio.conf` file to have default registries.

[2018-12-15 17:44] jayunit100 commented on #1970
Workaround: For me, after launching `minikube start` with crio options, I `minikube ssh` and manually update the configuration file above, to , for example, reference `docker.io`, i.e.

[code]

Not sure if we can just default those registries on install or add it as a minikube run option.

[2018-12-15 20:41] #1961 closed

[2018-12-16 18:38] mcronce commented on #1962
Definitely, but let me migrate the settings to it first.  I'm, quite embarrassingly, still passing most of my config in as command-line arguments.

[2018-12-16 19:15] mcronce commented on #1962
[code]

I have a 3-node cluster, all three nodes were all experiencing this problem.  That's the config from just one; the only differences between them have to do with resources, but if needed I can post up the other two as well.

[2018-12-17 15:56] saschagrunert opened #1971 "Increase unit test coverage"
Hey,

During my digging through the cri-o code I found out that the unit test coverage could be improved in multiple places. I think I can start with this task but would also suggest some other changes which are related to that:

- use [ginkgo](https://github.com/onsi/ginkgo) and [gomega](https://onsi.github.io/gomega/) for refactored  and newly added (unit) tests
- refactor some methods wich a hi

[2018-12-18 11:02] vijaykumark commented on #1242
@mhausenblas @rhatdan  Did someone write a blog on it already?
Does adding `shareProcessNamespace` flag in pod spec work the same way as `docker run --init` as mentioned in the [k8s docs](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/)?

[2018-12-18 11:19] mhausenblas commented on #1242
Not sure but I don't think so.

[2018-12-18 11:21] saschagrunert opened #1972 "Consider switching to go mod"
With go 1.11 we have the option to use native [golang modules](https://github.com/golang/go/wiki/Modules), which can be explicitly enabled and disabled during build.

It would like to create a PR to switch to go modules. What is your opinion on this?

[2018-12-18 12:01] runcom commented on #1972
where do you see the need to modularize CRI-O though? I would be ok with this but want to know what/where/which we're going to use a module for

[2018-12-18 12:11] saschagrunert commented on #1972
The main intention of mine is to have a better update-ability of the used vendored packages. For example, if I want to update a package it would be a bit tricky if the package structure changed over time since we only vendor necessary go files right? I guess this would be solved with `go mod` since it also vendors only _used_ packages.

[2018-12-18 12:32] runcom commented on #1972
it would be awesome, thanks!!!

[2018-12-18 15:44] saschagrunert commented on #1972
Alright, I created some playground branch here: https://github.com/openSUSE/cri-o/tree/go-mod
and found a more or less game breaking issue:

- go mod is now taking case sensitivity into account, which means there are packages which use `github.com/sirupsen/logrus` and `github.com/Sirupsen/logrus`. This leads into breaking the build.

[2018-12-18 15:49] runcom commented on #1972
isn't there any tool to fix it? like go mod tidy or gohack or https://github.com/marwan-at-work/mod

[2018-12-18 15:57] vrothberg commented on #1972
I'd prefer to wait until modules are considered stable. Vendoring isn't perfect but it currently works :^)

[2018-12-18 16:03] runcom commented on #1972
this is meant as a way to help upstream catch bugs early, not to go with this right now :)

[2018-12-18 16:11] rhatdan commented on #1242
I don't think this does it now.

[2018-12-18 16:19] saschagrunert commented on #1972
Yeah I agree, a somewhat hacking test from my side was:

The _find it out yourself_ appraoch:
[code]
So no luck with that, without further hacking around.

The _convert it please_ approach:
[code]
Also further modifications of the go.mod and sedding around brings me currently not to the target.

I guess since the dependency tree is messed up with [Ss]irupsen paths everything else fells hacky.

[2018-12-18 16:35] saschagrunert commented on #1972
I guess https://github.com/kubernetes/kubernetes/issues/63607 and https://github.com/kubernetes/kubernetes/issues/68577 are related.

[2018-12-19 05:11] mcluseau opened #1975 "pause containers getting oom-killed"
Hi,

We see issues with pause container's processes being killed by the oom_reaper when the pod limits are low:

[code]

**Steps to reproduce the issue:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

It also means that previous limits set on pods, when they are tight, will be triggered when migrating to cri-o.

**Output of `crio --version`:**

[co

[2018-12-19 12:33] yogo1212 opened #1978 "build fails with type conflict from syscalls package"
[code]

[code]

[2018-12-19 12:36] yogo1212 commented on #1978
this might be a gccgo bug

[2018-12-19 14:31] cyphar commented on #1972
Whoa, you don't need to check out `master` -- you can check out a specific version of your module dependencies by doing `go get -u thing@<version>`. Absolutely without question it's a bad idea to use `latest` for everything.

In addition, `go mod` has a conversion tool that will take many existing vendoring manifests and translate them to `vendor.conf`. So you could just do that, and keep the exis

[2018-12-19 14:37] cyphar commented on #1972
That shouldn't be the case at all -- the `vendor.conf` translation should've stored what commits are pinned there (and the whole `go.mod` thing is supposed to avoid having master checkouts for module dependencies). However, looking at `vendor.conf` it looks like several of our dependencies just point at `master` (I'm not going to get into why this isn't the best idea in the world) -- so you'll nee

[2018-12-21 08:28] saschagrunert opened #1980 "Possible segmentation fault in `prepareReference()`"
The method `prepareReference()` in `pkg/storage/image.go` is used by multiple other methods within the same file (like `PrepareImage` and `PullImage`).

https://github.com/kubernetes-sigs/cri-o/blob/12ec0b28e3d7b5028c42270480c8d3c72258e377/pkg/storage/image.go#L354-L380

If I call the method with a valid `imageName` which uses another transport as `docker://`, the call to `reference.Domain(srcRef.

[2018-12-21 10:53] runcom commented on #1980
Thanks for the report, I've opened #1981

[2018-12-21 22:55] #1980 closed

[2018-12-26 15:44] fhemberger commented on #1760
@lsm5 Could you please update the PPA to include v1.13.x?

[2018-12-28 12:45] vikaschoudhary16 commented on #1453
@adelton As @rhatdan mentioned, there is proper logic for unmounting in the sandbox-stop.go. And this unmounting logic is not there in the sandbox removal code flow. You faced this issue because you were trying to remove the sandbox without stopping it. runp -> stopp -> rmp is the expected call flow.

I think this issue can be closed.

[2018-12-28 14:00] saschagrunert opened #1987 "Index out of bounds access with invalid `selinuxLabel`"
If I call the function `LoadSandbox()` with a container manifest which contains a wrong `selinuxLabel` like
[code]
 the result will be an out of bounds access. In `vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go:403`.

The main issue is the call to `label.DupSecOpt()`
https://github.com/kubernetes-sigs/cri-o/blob/95ad21041c8a9f337673f97ecca7709daca8b8b2/lib/container_server.go

[2018-12-28 16:51] rhatdan commented on #1987
I think we need to change the selinux DupSecOpt to return errors.

[2018-12-30 21:48] mcluseau commented on #1927
hi, reporting the same as @steven-sheehy here with crio 1.13.0 and kubelet 1.13.1
[code]

[2018-12-31 02:56] mrunalp commented on #1975
Is this behavior different than what you see with docker?

[2018-12-31 02:56] mrunalp commented on #1971
Sure :+1: :)

[2018-12-31 07:07] mcluseau commented on #1975
we were on containerd before, and tight limits like that were set and working. They don't work anymore. Example use case: serving single-page apps with nginx uses very little memory. We used to set the limit at 20MiB, now we set it at 32MiB.

I wonder what's best thought, between "hiding" this cost to be compatible or making the cost explicit and have that documented in some migration notes.

[2019-01-02 14:42] sboeuf opened #1989 "Switch the oci.Runtime structure to a Go interface"
Following the high level issue #1945, and now that #1946 has been merged, we need to define the Runtime as an interface so that we can define the current runtime implementation as `v1`. This will allow for new implementations (particularly `v2`) in the future, without breaking the core of CRI-O.

[2019-01-02 15:06] runcom commented on #1989
:+1: this is indeed the first step towards supporting multiple runtimes, thanks!

[2019-01-02 17:16] #1939 closed

[2019-01-02 17:24] mrunalp commented on #1927
@mcluseau Thanks! We are looking into a fix for this.

[2019-01-02 19:14] mcastelino opened #1991 "[RFC] Enhancing RuntimeHandler"
Kata recently added support for multiple isolation mechanisms. It would be ideal to expose them as different runtime classes backed by the the same runtime binary implementation.

A simple way to do so without impacting OCI or kubernetes it to enhance crio to support specifying configuration along with the runtime binary.

Hence the crio.conf would look like

[code]

And the RuntimeHandler would n

[2019-01-02 19:15] mcastelino commented on #1991
/cc @mrunalp @egernst @sboeuf

[2019-01-02 19:31] mrunalp commented on #1991
SGTM :+1:

[2019-01-03 09:30] clarklee92 opened #1995 "Mounted directory on local is not writable"
**Description**
 When I mounted some directory which is not exist on node. cri-o helped me make one, for example: /var/lib/mysql. But it's not writable.

**Steps to reproduce the issue:**
1.Use `devicemapper` with:

  "dm.directlvm_device=/dev/vdb1",
  "dm.basesize=40G",
  "dm.directlvm_device_force=true",
  "dm.mountopt=nodiscard",
  "dm.blkdiscard=false",
  "dm.fs=ext4"
]

2.YAML file with mount

[2019-01-03 13:17] rhatdan commented on #1995
Are you running with UserNS Enabled?  Is kubernetes creating this directory?  Look like a process running as polkid user created the directory?

[2019-01-03 15:11] clarklee92 commented on #1995
My crio.conf:

I just switch to cri-o from containerd. k8s cluster deployment is ok but `mysql` need persistent volume. The same ENV under containerd or docker:

[2019-01-03 15:43] clarklee92 commented on #1995
$ grep systemd-bus-proxy /etc/passwd:
systemd-bus-proxy:x:999:997:systemd Bus Proxy:/:/sbin/nologin
$ grep polkitd /etc/passwd:
polkitd:x:999:998:User for polkitd:/:/sbin/nologin

[2019-01-03 16:24] rhatdan commented on #1995
Sorry I was focused on the weird users, so the issue is the directory is created 644 rather then 755.

[2019-01-04 07:45] saschagrunert commented on #893
This should be solved via #1992

[2019-01-04 12:53] ccollicutt commented on #1937
Just FYI, in my case I found that crio was looking for runc in the wrong place. The tutorial does say to put it in /usr/bin so this is an error on my side. In my case initially runc came from the projectatomic:ppa, which puts it into /usr/sbin, then I downloaded a new version of runc per the instructions but did not put it into /usr/bin, instead mistakenly /usr/sbin. Maybe check that?

[code]

[2019-01-05 17:18] mrunalp commented on #1804
@dcbw wdyt of @giuseppe changes?

[2019-01-08 15:30] saschagrunert opened #2008 "Performance requirements"
During the writing of the unit tests for cri-o I was wondering if there are any special performance requirements for the overall project. Do we have currently any measures / tests / comparisons and is there a need for it (also in relation to other runtimes)? If yes, I could imagine that we can work on that after #1971 is done. What do you think?

[2019-01-08 15:41] saschagrunert opened #2009 "Tests for additional products"
Currently the end-to-end test are running against different Red Hat related products. I'm thinking about adding adding additional distributions in the future. Do you think this could be possible somehow (via an additional bot)? :innocent:

[2019-01-08 16:36] mrunalp commented on #2009
@saschagrunert It should be possible for the infrastructure to report results from different jenkins instances. Intel helped add kata tests which is running on their infra. More than willing to add support for other distros :) We can discuss in this week's meeting.

[2019-01-08 17:12] vrothberg commented on #2008
Sounds good to me. Currently, we are working on improvements in containers/image and constainers/storage to speed up image distribution, make use of blob caches etc. Some things have already been merged into CRI-O (e.g., faster gzip compression, parallel pull from registries) other are still on the TODO list (e.g., parallel writing/committing to the storage).

Maybe #1971 will reveal more things t

[2019-01-08 17:56] saschagrunert commented on #2009
@mrunalp sounds great, is the meeting public for external users and am I able to join? :)

[2019-01-08 17:58] mrunalp commented on #2009
I will add the details to our wiki and yes you are able to join :)

[2019-01-09 09:35] giuseppe commented on #1927
I've observed some races in the interaction between CRI-O and the Kubelet.  I think 6703d85f1bea5f1feb4cfbf039d1af8f30780686 might solve some of them.  Another potential fix is https://github.com/kubernetes/kubernetes/pull/72105

[2019-01-10 18:07] sboeuf opened #2012 "Kata CI failing because of short container stop timeout"
With the recent introduction of the parallelization of multiple containers stop (commit kubernetes-sigs/cri-o@cd02ae7), it might take more than 10 seconds to stop a container running with Kata, given the fact that the CI runs in nested environment.

Simply extending the timeout to a larger value will fix the issue.

[2019-01-10 19:32] saschagrunert commented on #2009
So as discussed within the weekly meeting I will check if we can fulfill the needed requirements and would come back with a proposal.

[2019-01-10 23:23] #1989 closed

[2019-01-11 03:13] clarklee92 opened #2014 "Request for updating the new and bug fixed version releases on CentOS."
My team need to deploy `cri-o` for our Cloud Container Engine users and I found there is no new enough [CentOS `rpm`](https://cbs.centos.org/koji/packageinfo?packageID=5695) packages as [Ubuntu `deb`](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa), especially we need bug #1995 fixed.
  Building from source code is not suitable for automated deployment. @rhatdan Could you please help to

[2019-01-11 15:51] rhatdan commented on #2014
@lsm5 @mrbobbytables Do we have Centos packages?

[2019-01-11 15:52] lsm5 commented on #2014
@fkluknav ^^

[2019-01-13 08:54] Slach opened #2016 "crictl ps -a show containers with exited state, but crictl logs <containerId> return error "specified container not found""
**Description**
`crictl ps -a` show containers with exited state,
but `crictl logs <containerId>` return error "specified container not found"

**Steps to `reproduce` the issue:**
Ubuntu 18.04
1. Successfull Install kubeadm kubelet (1.13.2) on Ubuntu 18.04
[code]
kubeadm init exited with kubelet timeout

2. run crictl ps -a
[code]
3. run `crictl logs 5c17fc84618de` or `crictl logs 0c817c319ef5e`

[2019-01-13 09:08] Slach commented on #2016
sorry i just used POD ID instead CONTAINER ID for crictl logs

[2019-01-13 09:08] #2016 closed

[2019-01-14 05:04] hardoverflow commented on #2014
We need this too! We cannot use k8s 1.13.x. @fkluknav. Many thanks!

[2019-01-14 22:19] SleepyBrett opened #2017 "[1.10.6] Pods with allowPrivilegeEscalation: false fail to run"
**Description**

I've created a test nodepool for our kubernetes cluster backed with cri-o 1.10.6 as an experiment.

Any pod that is scheduled to to a cri-o backed node that has either `allowPrivilegeEscalation: false` in the pod manifest or inherits that from it's psp fails to run on crio nodes (but runs fine on nodes backed with docker 17.03).

The pod logs show only this error:

`standard_init_

[2019-01-15 00:52] mrunalp commented on #2017
It could be SELinux. Can you try running `ausearch -m avc -ts recent` after the failure and paste it here?
cc: @rhatdan

[2019-01-15 05:00] hardoverflow commented on #2014
Can anyone explain us, what the problem with the build process of cri-o for rhel/centos rpm packages is? How can we support?

[2019-01-15 11:55] rhatdan commented on #2017
What does allowPrivilegeEscalation do?
Could be SELinux, but usually SELinux leads to permission denied.

[2019-01-15 15:56] SleepyBrett commented on #2017
Ugh, no ausearch on coreos. Digging in.

[2019-01-15 19:33] rhatdan commented on #2017
grep -i avc /var/log/audit/audit.log
If audit.log does not exist

journalctl | grep -i avc

[2019-01-15 19:50] dcbw commented on #1804
@squeed

[2019-01-15 21:43] rhatdan commented on #2017
Then most likely not SELinux.
You could put the machine into permissive mode (setenforce 0) and see if the issue still happens.

[2019-01-15 21:53] SleepyBrett commented on #2017
See above, the node is already is in permissive mode.

[2019-01-15 21:55] rhatdan commented on #2017
Then it is not SELinux. (95% sure)

[2019-01-15 22:12] SleepyBrett commented on #2017
@mrunalp the docs specifically say "AllowPrivilegeEscalation: Controls whether a process can gain more privileges than its parent process. This bool directly controls whether the no_new_privs flag gets set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged OR 2) has CAP_SYS_ADMIN."

[2019-01-15 22:48] kfox1111 commented on #2014
+1. I'd like a repo for centos7 that tracks the kubernetes upstream repo. Their versions release more frequently then openshift does.

[2019-01-15 22:54] mrunalp commented on #2017
@SleepyBrett We are setting it for the spec when we get it from the CRI. See https://github.com/kubernetes-sigs/cri-o/blob/release-1.10/server/container_create.go#L975

[2019-01-15 23:42] mrunalp commented on #2014
We will get this sorted out and update here by tomorrow. Thanks for the patience!

[2019-01-16 00:32] mrunalp commented on #2017
@SleepyBrett Can you share your exact pod yaml? I'll try on Fedora with 1.10.x and see if I hit the same issue.

[2019-01-16 07:31] lsm5 commented on #2014
So, CentOS' build system doesn't seem to have the correct repos setup to host 1.13 packages yet. @fkluknav will check with CentOS Infra people on setting those up. If you're ok with locally generated packages until the CentOS repos are setup, I can put packages up on a public page as a temp fix.

@kfox1111 if you'd rather avoid openshift packages, you can use the crio only repo (1.11 for example):

[2019-01-16 11:54] lsm5 commented on #2014
I built this on a rhel7 machine https://lsm5.fedorapeople.org/cri-o-1.13/ . Hopefully those should unblock you right away. Let me know how it goes.

[2019-01-16 12:43] clarklee92 commented on #2014
Thank you very much. But the version is still with bug #1995. After it was fixed(1.11, 1.12 and 1.13), there are two versions released: 1.12.4 and 1.11.11 . could you package either of them to rpm? many thanks!

[2019-01-16 15:37] SleepyBrett commented on #2017
@mrunalp:

Here are two pod definitions (kubernetes), one with allowescelation and one with not. Both have a `nodeName:` specification you will need to rewrite to  target your cri-o node (if you are in a mixed cluster)

[code]

[2019-01-16 17:44] squeed commented on #1804
You need to masquerade, but only when the source address is 127.0.0.1. Check out https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap#snat-masquerade

[2019-01-17 13:39] fkluknav commented on #2014
Hi,
I am trying to build 1.11.11 in cbs now, fiddling with the changed golang dependencies in CentOS. Other versions will follow.

[2019-01-17 14:16] fkluknav commented on #2014
https://cbs.centos.org/koji/taskinfo?taskID=680821

[2019-01-18 09:36] sboeuf opened #2024 "oci: Implement RuntimeV2"
Now that the code has been properly reorganized, and that everything related to the runtime has been moved below a new Go interface, this is time to implement a `RuntimeV2` that complies with `containerd-shim-v2` interface, as a VM based friendly implementation.

[2019-01-19 04:39] #2014 closed

[2019-01-21 18:49] saschagrunert opened #2029 "Make cri-o socket accessible without root permissions"
The idea [from an issue in cri-tools](https://github.com/kubernetes-sigs/cri-tools/issues/426) is to run crictl without being root. One first step towards this would be to introduce a dedicated user/group for cri-o and create the socket with that permissions.

[2019-01-21 21:31] rhatdan commented on #2029
Realize that this opens a HUGE security hole, and should be done very carefully, IE users need to realize if you give access to a socket like this, it is worse then sudo with no password, since logs can be cleaned up and no record of you running a pod/container would be recorded.

[2019-01-22 18:12] cevich opened #2030 "cri-o 1.11 fails network integration test on RHEL 7.6"
**Description**

When executing cri-o integration tests using the *CRI-O* `1.11` RPM, the ``network.bats`` test fails:

[code]

**Steps to reproduce the issue:**
1. Subscribe and fully update RHEL 7.6 VM, and enable EPEL repository.
2. Install ``rng-tools`` and enable `rngd` service (allows VM to boot w/ low entropy).
3. Reboot
4. Use ``subscription-manager attach`` to access a subscription with a

[2019-01-22 20:57] rhatdan commented on #2029
@saschagrunert Why is this needed?  I would prefer to just force the use of sudo crictl.

[2019-01-23 07:32] saschagrunert commented on #2029
So if you think this is really not needed then feel free to shut me down and close this issue. I just thought it could be a valuable addition. :upside_down_face:

[2019-01-23 14:34] jqueuniet commented on #1760
It seems the PPA was updated with Bionic packages for versions of cri-o up to 1.13, but I'd also like to ask if a Bionic cri-tools package is also planned, as it would be very helpful for kubespray support.

[2019-01-23 14:43] lsm5 commented on #1760
On Wed, Jan 23, 2019 at 02:34:51PM +0000, Johann Queuniet wrote:

I'm on vacation until Monday. Shouldn't be a problem to make that available
though once I'm back.

I also have some WIP on snap package for skopeo. Plan to do the rest as well.

HTH.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-01-23 16:52] mrunalp commented on #2029
@saschagrunert I think the big concern here is potential security issues :)

[2019-01-23 16:53] mrunalp commented on #2029
Thanks! We can revisit this later if needed. Closing for now.

[2019-01-23 16:53] #2029 closed

[2019-01-23 19:45] mrunalp commented on #2017
@giuseppe Can you look at this one?

[2019-01-24 06:01] giuseppe commented on #2017
I can look at it next week

[2019-01-24 10:15] daanwa opened #2035 "pod command"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2019-01-24 10:17] daanwa commented on #2035
Whoops. I guess my "alt-tab"-fu isn't what it used to be.

[2019-01-24 10:17] #2035 closed

[2019-01-24 12:48] arthfl opened #2036 "/etc/mtab missing in glibc-based containers"
**Description**

In glibc based containers (httpd:latest for example) that are running on a CRI-O node, there is not /etc/mtab to be found.

It exists in musl containers (httpd:alpine e.g.)

**Steps to reproduce the issue:**
1. run httpd:latest on crio

**Describe the results you received:**

No /etc/mtab to be found.

**Describe the results you expected:**

/etc/mtab should be there

**Additional

[2019-01-24 13:45] runcom commented on #2036
We'll need to just symlink /etc/mtab to /proc/mounts as Docker does (at the rw layer level)

[2019-01-24 14:39] zvonkok commented on #1942
Asking here as well, any chance to get this merged into 1.12?

[2019-01-24 14:49] zvonkok opened #2037 "RHCOS 4.0 is missing /usr/share/containers/oci/hooks.d therefore /etc/containers/oci/hooks.d is never read"
**Description**

On a OCP4.0 cluster with RHCOS 4.0 installed, the directory `/usr/share/containers/oci/hooks.d` is missing. If this directory is missing cri-o will not read additional hook files from `/etc/containers/oci/hooks.d`. Since `/usr` is read-only I can only place hook files into `/etc/containers/oci/hooks.d` but these are not been executed.

I have seen this #1942 that ignores the hook

[2019-01-24 14:49] zvonkok commented on #2037
/cc @jeremyeder

[2019-01-24 15:04] mrunalp commented on #2017
No worries. On my list for today.

[2019-01-24 18:38] mrunalp commented on #2017
@SleepyBrett I tried on crio master and it worked fine for me on Fedora 29. This is for the pod with allowPrivilegeEscalation: false:
[code]

[2019-01-24 18:50] mrunalp commented on #2017
I got the same result with 1.11

[2019-01-26 22:56] saschagrunert commented on #2029
Good to know, thanks for the hint! :)

[2019-01-28 12:34] rhatdan commented on #2036
SGTM

[2019-01-28 13:56] runcom commented on #2036
I'm just not sure if we can just create the symlink in the rootfs on container_create, I guess so though, but Docker does something on the read write layer which I'm not sure, @nalind could you have a super fast look?

[2019-01-28 16:25] dciancio commented on #2029
I've added the following in the crio.service systemd file and works fine.
ExecStartPost=/bin/sh -c 'chmod 0775 /var/run/crio/crio.sock && chgrp docker /var/run/crio/crio.sock'
Note that I also have docker installed and have already configured the docker daemon to be accessed using users in the docker group.
An upgrade to crio will crush changes to the default crio.service systemd file so be sure t

[2019-01-29 10:34] saschagrunert opened #2040 "Apparmor integration tests"
During the port of the integration tests to other distributions I found out that the apparmor related tests (`test/apparmor.bats`) are skipped and not working anymore. Is it intended to enable this later on Fedora and RHEL? I could have a look into this in some time.

[2019-01-29 10:43] vrothberg commented on #2040
AppArmor is not available there but on Ubuntu/Debian and openSUSE, where the test could/should run.

We were just ironing out some hiccups over at libpod (see https://github.com/containers/libpod/pull/2224) to also make CI test AppArmor there as well. CRI-O is using libpod's AppArmor package.

[2019-01-31 21:07] L30Bola commented on #1767
This problem is happening on my Fedora 29 workstation. Runc is installed on ```/usr/sbin/runc``` and crio searches for ```/usr/bin/runc```. A simple link resolved the problem.

[2019-02-01 02:12] #2040 closed

[2019-02-01 11:53] baichinger commented on #2037
You need to restart CRI-O daemon as those directories get evaluated during startup.

[2019-02-01 12:06] zvonkok commented on #2037
@baichinger If `/usr/share/containers/oci/hooks.d ` is missing, cri-o will not evaluate `/etc/containers/oci/hooks.d`. My hooks are in `/etc/containers/oci/hooks.d`.

If I restart cri-o it wll fail to read  `/usr/share/containers/oci/hooks.d ` and will not read additional hooks from `/etc/containers/oci/hooks.d`.

[2019-02-01 13:50] lsm5 commented on #1760
On Fri, Feb 01, 2019 at 05:45:49AM -0800, Pierre Margueritte wrote:

sorry about the delay, have been fighting other fires. Let me get on with
this...

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-02-01 14:41] lsm5 commented on #1760
On Fri, Feb 01, 2019 at 07:20:40PM +0530, Lokesh Mandvekar wrote:

My rules file was referencing cri-o-1.12 as the buildroot dir, so no files were
actually getting installed, sorry about that.

I sent a cri-o-1.13 - 1.13.1-1~dev~ubuntu18.04~ppa2 to PPA, but it refuses to
build and doesn't show me failure logs either. I'm guessing something messed up
on their env itself. Should be fixed soon hopefu

[2019-02-01 21:55] SleepyBrett commented on #2017
I'm now on 1.11.11 and I turned on crio debug logging but it's still unclear why i'm getting the error:

[code]

any other logging I could turn on or find elsewhere on the fs?

[2019-02-04 18:12] mrunalp commented on #2037
@QiWang19 can you look into this?

[2019-02-05 11:51] hardoverflow commented on #2014
Hello again,

as long as there are no automatic build process for cri-o rhel packages, the issue should be left open @fkluknav .

[2019-02-06 09:58] owetterau opened #2056 "not starting: "unknown option: .skip_mount_home""
On a current OpenSUSE Kubic installation with CRI-O version 1.13.0 crio is suddenly not starting anymore with this error message in the log:

2019-02-06T00:00:07.512292+00:00 kube-master crio[27469]: time="2019-02-06 00:00:07.511695552Z" level=fatal msg="Unknown option .skip_mount_home"

This also happened on another installation also using the latest OpenSUSE Kubic with the same version of crio.

[2019-02-06 10:00] vrothberg commented on #2056
This is an openSUSE Kubic bug (Cc @sysrich) which should be fixed with the next snapshot.

[2019-02-06 10:03] owetterau commented on #2056
Thanks for the quick reply. Any idea when this snapshot will be available?

[2019-02-06 10:17] vrothberg commented on #2056
@sysrich should know. A quick workaround would be to remove this option from `/etc/containers/storage.conf`.

[2019-02-06 10:23] owetterau commented on #2056
Unfortunately, removing the option does not work.

[2019-02-06 10:24] sysrich commented on #2056
@owetterau are you sure? commenting out the line works fine on all of our tests, and on my machines..

the next snapshot should be released some hours from now, it's going through testing as we speak

You can download the under-testing iso from the following link

https://openqa.opensuse.org/tests/847500/asset/iso/openSUSE-Tumbleweed-Kubic-DVD-x86_64-Snapshot20190205-Media.iso

[2019-02-06 10:31] owetterau commented on #2056
Yes, it does not work. I checked and now there is a different error message: "Unknown option .mountopt".

I checked this on different installations.

[2019-02-06 10:34] sysrich commented on #2056
@owetterau ok, not entirely sure how you ended up with .mountopt set.. but looking at my reference machines here both `mountopt=` and `skip_mount_home=` should be commented out in `/etc/containers/storage.conf` - that should get you back up and running without needing the new snapshot

and I can confirm both are commented out correctly in the in-testing snapshot

[2019-02-06 10:39] owetterau commented on #2056
@sysrich Commenting out both options works fine! So, we are good for now.
I will check if the next snapshot also works.

Many thanks for the quick help! 👍

[2019-02-06 10:39] #2056 closed

[2019-02-06 10:40] sysrich commented on #2056
@owetterau sorry for the problem - our testing and release processes are being tuned up to make sure it can't happen again (the automation worked pretty well..humans sadly are still fallible ;))

[2019-02-06 11:37] SimonHoenscheid commented on #2014
@hardoverflow Good Point!

[2019-02-06 22:22] aloismayr commented on #2037
The fix provided for #1942 is critical for us to properly support OCP 4.0. Any chance to get it merged into a 1.12 release?

[2019-02-07 20:47] QiWang19 commented on #2037
@zvonkok Did you config this path `/etc/containers/oci/hooks.d` to `/etc/crio/crio.conf`

[2019-02-07 20:53] mrunalp commented on #2037
@QiWang19 Can you backport #1943 to `release-1.12` ?

[2019-02-07 20:53] QiWang19 commented on #2037
@mrunalp sure

[2019-02-08 13:12] saschagrunert opened #2063 "Vendor libpod"
Some changes and fixes related to libpod are needed within cri-o too (like https://github.com/containers/libpod/pull/2114). The plan would be to vendor libpod v1.0.0 in, but for the mentioned fix this would not be enough.

Are there any plans on your side to switch cri-o to libpod (like re-using `libpod/container.go`)?

I would't have the time in the next weeks to do this so I would like to ask yo

[2019-02-08 19:36] mrunalp commented on #2063
We do eventually want to do that but ensuring that we don't regress on any performance. Over the last year we changes to crio to improve the perf and we want to ensure that we don't regress on it.

[2019-02-09 14:15] Slach opened #2065 "[Feature-request] could crictl pull verify tags via Docker Content Trust conception?"
does cri-o support Docker Content Trust conception descibed here
https://docs.docker.com/engine/security/trust/content_trust/?
could i set "use only trusted images" when use crio?

[2019-02-11 17:51] mrunalp commented on #2065
@mtrmac Could you take this one?

[2019-02-11 18:40] mtrmac commented on #2065
CRI-O does not integrate with Notary currently.

I haven’t looked at Notary for some time, so the design might have changed; but integrating Notary into the _daemon_ would be possible in principle but somewhat intrusive.

Notary integrates into image use by replacing the tag references with digest references.  To work correctly and consistently, that would ideally need to be done by integrating No

[2019-02-12 12:19] rhatdan commented on #2065
We don't control crictl or Kubernetes.  So this issue should go to those projects.  If you want Notary signing to work, I believe it needs to be implemented in the orchestrator not in the CRIs.   If people want to work on making this work with something like podman or buildah we could look at the PRs

[2019-02-13 22:51] robertrbruno opened #2072 "Latest centos7 rpm"
Is there a reason the latest release 1.13.0 doesn't have centos7 rpms available anywhere?  We only can fine 1.11.0.

[2019-02-14 01:02] mrunalp commented on #2037
This has been merged and will be available in next builds.

[2019-02-14 13:59] rhatdan commented on #2072
@lsm5 Do you know where these packages are?

[2019-02-14 19:59] rbtr commented on #2072
1.13 builds haven't been made for fedora either - i forked the spec and packaged it myself but it would be nice to be able to pull an official rpm from the fedora repos instead of copr 🙂

[2019-02-15 04:47] lsm5 commented on #2072
@fkluknav can you please check with centos infra and setup builds for crio 1.12 and 1.13?

[2019-02-15 05:02] lsm5 commented on #2072
@rbtr RE: fedora, sorry that's on me, been distracted on the RHEL side + I've been travelling as well. Anyway, co-maintainers are welcome :) . iCan you ping me (@lsm5) on freenode and we can look at getting you set up with fedora co-maintenance

[2019-02-22 05:34] tongchao199 commented on #1767
@outcoldman  👍

[2019-02-25 08:45] hardoverflow commented on #2072
Hey guys. This is currently a huge problem for us too. We will now try to build the cri-o packages itself. @fkluknav - Can we support u ?

[2019-02-25 09:44] SimonHoenscheid commented on #2072
Yes, this is an issue for the company I work for zoo. Themanagement is thinking about dropping cri-o in favor of docker because of the lack of package support for centos.

[2019-02-25 12:55] lsm5 commented on #2072
@SimonHoenscheid @hardoverflow sorry about the delay, I've filed https://bugs.centos.org/view.php?id=15869 to get repos created for crio versions. I'll get in touch with centos infra to expedite this. Stay tuned..

[2019-02-25 13:11] SimonHoenscheid commented on #2072
@lsm5 Thanks a lot! Is there also an option for a repository for all versions?

[2019-02-25 13:13] lsm5 commented on #2072
you mean you're looking for a single yum repo with all crio versions? I guess yum would only pick the latest build from it.

[2019-02-25 13:14] SimonHoenscheid commented on #2072
@lsm5 yes, exactly, or the version you specify.

[2019-02-25 13:20] lsm5 commented on #2072
umm I guess that's doable, but I wouldn't wanna spend too much time supporting it. I'll just dump builds from the other repos into this and leave it to the user to figure things out. Would that be good enough?

[2019-02-25 13:21] SimonHoenscheid commented on #2072
@lsm5 perfect!

[2019-02-25 13:21] lsm5 commented on #2072
ack, I'll request for such a repo as well. Thanks.

[2019-02-25 13:22] SimonHoenscheid commented on #2072
Thank you!

[2019-02-25 16:52] SleepyBrett commented on #2017
Closing this. While selinux is not enabled on the node, i did have `selinux = yes` in the crio.conf.

Thought maybe an error/warning on this discrepancy?

[2019-02-25 16:52] #2017 closed

[2019-02-26 17:50] lsm5 commented on #2072
quick headsup, I've built crio 1.13 at https://cbs.centos.org/repos/paas7-crio-113-candidate/x86_64/os/Packages/ .. still working on enabling dependencies, should be all set by tomorrow.

[2019-02-26 19:10] lsm5 commented on #2072
alright, here you go:

[code]

Enable the one you want.

Now, it seems cbs repos will only allow 1 build per package to stay on the repo. I tried tagging crio 1.13 to common it says it's already tagged yet it won't show up in https://cbs.centos.org/repos/paas7-crio-common-candidate/x86_64/os/Packages/ . It seems only the latest tagged build will show up there. I'll check with centos infra if it's