[2019-09-09 13:38] haircommander commented on #2779
PTAL @lsm5

[2019-09-09 13:52] lsm5 commented on #2779
fixed at https://cbs.centos.org/koji/taskinfo?taskID=945926

[2019-09-09 14:17] alijahnas commented on #2779
Thanks, the crio-wipe service works.
Still the crio service doesn't start because it doesn't find /etc/crio/seccomp.json
I am not an expert on CRI-O so I am not sure how to solve it. Maybe the file should be part of the package no?

[2019-09-09 14:19] lsm5 commented on #2779
err ... sorry about that, let me look that up.

[2019-09-10 16:30] sdeoras commented on #2383
Hi Folks, i am running into this issue and don't have the flexibility to change cgroup manager in cri-o config file. How should I be changing this entry in sandbox_config.json? Thanks.

[2019-09-13 15:15] ykoer commented on #2757
@saschagrunert yes we were suggesting prometheus metrics. The reason is, that we have sometimes terrible pull times from a quay registry running on AWS. It would be great to have the possibility to create alerts.

[2019-09-13 17:04] #2756 closed

[2019-09-16 06:39] saschagrunert commented on #2757
@ykoer the only metric we currently support if the cumulative operations time via the `pull_image` metric. Does this fit your needs or would you need it on a per-image basis?

[2019-09-16 14:46] saschagrunert commented on #2750
@adk9 the issue should now be resolved with the latest master branch. Can you verify that it works on your side and close this issue if nothing else needs to be done? :innocent:

[2019-09-16 16:29] #2750 closed

[2019-09-17 16:25] ykoer commented on #2757
Let me try it out. But could not find the metric in Prometheus. Do you know if it is collected by default?

[2019-09-17 18:10] huzhou commented on #1752
Do we have release for this feature? We are looking for PID info.

[2019-09-17 18:14] haircommander commented on #1752
@huzhou every release past 1.12.0 should have it :)

[2019-09-18 08:50] saschagrunert commented on #2757
Depending on the distribution and package I would assume that it disabled by default. To enable it, you would have to pass the `--enable-metrics` flag to CRI-O, where the port can be changed via `--metrics-port=...`

[2019-09-18 09:34] alijahnas commented on #2779
Hi @lsm5 anything new on the issue with `/etc/crio/seccomp.json` in the RPM and DEB packages?
I have a PR in Kubespray that use these packages: https://github.com/kubernetes-sigs/kubespray/pull/5145
And the crio service doesn't start on either CentOS or Ubuntu because the above file is missing. Thanks :+1

[2019-09-18 11:49] rhatdan commented on #2779
I would prefer to move to /usr/share/containers/seccomp.json so that it can be share between all of the different container engines.  Let's not make this only specific to CRI-O.

[2019-09-18 11:52] alijahnas commented on #2779
@rhatdan as long as it can be accessed by crio service it's ok. The crio config should then be modified to have it point to the new location.

[2019-09-18 13:22] rhatdan commented on #2779
I agree.

[2019-09-18 16:16] Prodian0013 opened #2826 "cri-o rpm 1.15.2"
**Description**

**Steps to reproduce the issue:**

https://cbs.centos.org/repos/paas7-crio-115-candidate/x86_64/os/Packages/ is missing cri-o 1.15.2

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**Additional environment details (AWS, Vi

[2019-09-18 16:45] haircommander commented on #2826
@lsm5 PTAL

[2019-09-18 17:57] matthias50 opened #2832 "Many tags exist which don't have releases"
**Description**

Many tags in https://github.com/cri-o/cri-o/releases do not have releases associated with them.
**Steps to reproduce the issue:**
1. Visit https://github.com/cri-o/cri-o/releases

**Describe the results you received:**

There are many tags which don't have an associated release. For example 1.15.2, 1.15.1, 1.11.15, 1.14.9, 1.14.8, 1.14.7.

**Describe the results you expected:**
Ev

[2019-09-18 18:04] haircommander commented on #2832
Thanks for the issue! I'll take a look
/assign

[2019-09-18 20:11] matthias50 opened #2833 "CentOS packaging strategy causes maintenance issues."
**Description**

Packaging strategy for CentOS causes multiple issues such as bootstraps which used to work suddenly failing and unneeded yum config changes when updating cri-o.

**Steps to reproduce the issue:**
1. Configure yum to point to RPM repos for CentOS. For example https://cbs.centos.org/repos/paas7-crio-115-release/x86_64/os/

**Describe the results you received:**
I can only install a

[2019-09-19 14:27] mrunalp commented on #2833
@lsm5 ptal

[2019-09-19 14:44] lsm5 commented on #2833
The cri-o builds have been segregated this way for quite sometime now. Did you notice issues only recently? Could you please give more details of what exactly broke?

The CentOS PaaS SIG provides different kubernetes versions on different repos as well. That's why the separation here. This is totally intentional. Are you using kubernetes/openshift as well? Mind sharing details of how you install i

[2019-09-19 15:04] matthias50 commented on #2833
We are deploying upstream k8s using custom automation based on terraform and puppet. On node bootstrap, we install RPMs which have their version locked for all components which we install. That way we can first deploy updates in a non-production environment and then graduate them to production.

As an operator, I shouldn't be forced to always install the latest version. I should be able to perform

[2019-09-19 16:55] matthias50 commented on #2833
I found an example of a multiple version of the same RPM being used for OpenShift Origin. If you look at https://wiki.centos.org/SpecialInterestGroup/PaaS/OpenShift-Targets-Tags-Repos, it talks about the process, then if you look at https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin39/, you can see multiple versions of the same RPMs all in the same repo. So it looks like this shoul

[2019-09-19 21:14] DanyC97 commented on #2833
@matthias50 few things to note...

https://cbs.centos.org in general should not be consumed publicly in the same was you would do with mirror.c.o. the endpoint is a yum repo but only use case is for _developer_ space to try things out.

buildlogs.c.o is for testing before packages are promoted to mirror.c.o (signed too).

Regarding  openshift-origin39 vs paas7-crio-115-release there are totally di

[2019-09-19 21:26] lsm5 commented on #2833
This is my bad in that I've yet to make sure buildlogs correctly has the repos setup for cri-o.

[2019-09-20 12:27] l0nax commented on #372
Any Updates about Registry Mirrors/ Proxies?

[2019-09-20 17:30] haircommander commented on #372
Yes, CRI-O's image management library containers/image now supports registry mirroring! I don't have an easy pointer to the documentation other than https://github.com/containers/image/blob/master/registries.conf

[2019-09-20 17:31] haircommander commented on #372
@vrothberg @mtrmac do you have any other resources?

[2019-09-22 06:20] rkojedzinszky opened #2847 "High memory usage during image pull"
**Description**

Since release-1.15 image pulls needs huge amount of memory for crio daemon.

**Steps to reproduce the issue:**
1. Start release-1.15 crio daemon with empty /var/lib/containers as
[code]
2. In another terminal:
[code]
3. Then, stop crio. You will see the max amount of memory used for the pull process.

**Describe the results you received:**

I received ~600Mbytes of max memory.

**

[2019-09-22 07:04] vrothberg commented on #372
@rhatdan and @QiWang19 are currently working on a new configuration file that can be shared by CRI-O, Podman, etc. One idea of that config was to split the logic of http_proxies (e.g., pulling, container, etc.). I think that a pull-only proxy setting belongs in `/etc/containers/registries.conf` but I don't know if there's a decision.

[2019-09-22 08:00] rkojedzinszky commented on #2847
It seems that https://github.com/containers/storage/commit/d85da313ef195ca827e3a17db9824971fbb6ec6e#diff-a281f22627802db5c62d316f5eac7a96 intoduced this behaviour.

[2019-09-22 08:38] rhatdan commented on #2847
@vbatts @nalind PTAL

[2019-09-23 15:57] Prodian0013 opened #2848 "CRI-O Nix Image Error"
**Description**

**Steps to reproduce the issue:**
1. Following the instructions for static builds https://github.com/cri-o/cri-o/blob/master/tutorials/setup.md#static-builds
2. Run `make nix-image`

**Describe the results you received:**
`make[4]: *** [Makefile:12762: tests/test-suite.log] Error 1
make[4]: Leaving directory '/tmp/nix-build-coreutils-8.31.drv-0/coreutils-8.31'
make[3]: *** [Makefi

[2019-09-24 07:57] squeed opened #2849 "cri-o passes (possibly) reused namespaces on network teardown"
**Description**
CRI-O tears down networking after a reboot, risking pid reuse.

**Steps to reproduce the issue:**
Sadly, reproducing this is probabilistic. It should still be easy to fix, though

1. Reboot the node. Create some containers, so they have a low pid number
2. Reboot the node again
3. Kubelet starts tearing down sandboxes that were killed because of the reboot
4. cri-o issues a CNI del

[2019-09-24 09:35] squeed commented on #2849
Another solution would be to bind-mount the network namespace to `/var/run/netns/<containerid>`, and only pass that. Then, if there's a reboot, it will be invalidated automatically. This is what rkt does.

[2019-09-24 15:57] bartelsb opened #2853 "Error: Image not known after upgrade cri-o upgrade"
**Description**

I am updating cri-o across the nodes in my Kubernetes cluster. Prior to upgrade, everything seems to be working fine. After upgrade, some (but not all) workloads will no longer run. They get stuck in a `CreateContainerError` state. When I describe the pods for these workloads, I see the following:
[code]
Also, when I attempt to delete the pods, they seem to get stuck in a `Termina

[2019-09-24 16:00] haircommander commented on #2853
can you first try to upgrade to the latest on the 1.13 branch before going to 1.15? There were known issues in container/image storage that were fixed after 1.13.9

[2019-09-24 16:02] bartelsb commented on #2853
I will try this next and get back to you.

[2019-09-24 17:24] Prodian0013 commented on #2833
@lsm5 @DanyC97 are there any plans to have an official crio yum repo or use another repo such as epel?  This is also related to #2826 it seems like there are several missing versions of crio on cbs.centos

[2019-09-24 17:33] lsm5 commented on #2833
@Prodian0013 unlikely, cri-o will never be in base CentOS and epel won't allow setting up multiple repos for separate cri-o versions afaik. RE: cri-o version missing on cbs, I'll take care of that asap.

[2019-09-24 17:48] bartelsb commented on #2853
I'm seeing the issue just after upgrading crio from `1.13.3` to `1.13.11-dev` (image built from branch `v1.13.10`). Any other thoughts?

Prior to upgrade:
[code]

After upgrade:
[code]

[2019-09-24 17:57] bartelsb commented on #2853
It seems that deleting the image from the host and pulling down a new one fixes the issue. However, that's not a great solution for us because the images can't be deleted while in use, and we can only delete one pod at a time from our deployments without risking downtime. Any idea as to why all local images stop working post-upgrade?

[2019-09-24 19:07] haircommander commented on #2853
ah dang. Okay, what do you do for an upgrade? replace the binaries? or by package manager?

[2019-09-24 19:26] bartelsb commented on #2853
Yes, we replace the binaries and restart the systemd service that runs crio.

[2019-09-24 19:28] haircommander commented on #2853
Also, does upgrading to 1.14 work?

[2019-09-24 19:33] bartelsb commented on #2853
We haven't tried that yet, but we can. From 1.13.3 or from 1.13.10?

[2019-09-24 19:37] haircommander commented on #2853
1.13.10 please!
thank you! I am low on bandwidth this week but if I can't figure it out I'll get to it next week

[2019-09-24 19:37] haircommander commented on #2853
also 1.14.10 would probably be best too

[2019-09-24 20:20] bartelsb commented on #2853
Unfortunately, I'm having issues getting a clean image build from any of the `v1.14.*` branches. I think it's related to the name change of the protobuf-c dependency.

[2019-09-24 22:15] mrunalp commented on #2853
cc: @nalind @mtrmac

[2019-09-24 22:45] mrunalp commented on #2847
@vrothberg ptal.

[2019-09-24 22:48] TristanCacqueray opened #2858 "Running cri-o as unprivileged user (rootless) fails with FATAL chown "operation not permitted""
**Description**

Running cri-o as unprivileged user doesn't seem to be working. Is this supported?

**Steps to reproduce the issue:**

1. Generate config with:
[code]
2. Start crio
[code]

**Describe the results you received:**

Crio fails with:

[code]

After fixing the chown call uids in the code, crio fails later with:

[code]

**Describe the results you expected:**

Crio starts.

**Additional

[2019-09-25 08:40] vrothberg commented on #2847
https://github.com/containers/storage/pull/435 fixes it. Thanks for the report and especially for bisecting, @rkojedzinszky!

[2019-09-25 13:50] bartelsb commented on #2853
Our current workaround looks like this (in pseudo-code):
[code]

It's not ideal, but it should work.

[2019-09-25 20:41] mrunalp commented on #2858
@giuseppe ptal

[2019-09-26 06:36] giuseppe commented on #2858
CRI-O doesn't automatically create the user namespace.  This is not really a limitation, since when running as rootless all the Kubernetes components must be in the same user namespace.  I'd suggest you don't use the rootless support directly but through Usernetes.

[2019-09-26 07:34] AkihiroSuda commented on #2858
Here is the link to Usernetes (contains CRI-O as well)
https://github.com/rootless-containers/usernetes

[2019-09-26 14:13] TristanCacqueray commented on #2858
Thank you for the pointer, using rootlesskit I was able to start crio with the vfs storage driver.

[2019-09-26 17:52] umohnani8 commented on #2849
@squeed I am currently working on fixing this up in CRI-O. I am returning an empty string as the netns path but I keep getting this error when tryng to stop the network and clean up
[code]

This probably needs to be fixed in ocicni before we can patch this up in CRI-O

[2019-09-27 13:26] squeed commented on #2849
Very good point. Filed https://github.com/cri-o/ocicni/issues/64

[2019-09-27 17:58] TristanCacqueray commented on #2858
Well for some reason when using usernetes, CRI-O fails to setup SELinux context. It seems like rootlesskit remount /sys for slirp which hides /sys/fs/selinux. And even when remounting the selinuxfs, then CRI-O fails with `selinux label is specified in config, but selinux is disabled or not supported`

[2019-10-01 02:23] blaise-sumo commented on #2713
If I wanted to have this package in fedora ARM64, would I need to build from source?

[2019-10-01 15:15] adelton commented on #2713
I see aarch64 rpms in Fedora's koji, for example https://koji.fedoraproject.org/koji/buildinfo?buildID=1382517.

[2019-10-01 17:19] matthias50 commented on #2833
@lsm5 Have you had a chance to get the buildlogs setup done?

[2019-10-01 17:57] lsm5 commented on #2833
Not yet, been severely distracted. I'll try and get on it asap but I'd really appreciate if we could get some volunteers for CentOS tasks. Now with CentOS8 midstream stuff happening soon, I'm not sure how much more work that would end up being.

[2019-10-01 20:01] lsm5 commented on #2833
@matthias50 i'm aware it's not convenient, but atm you can grab older builds from https://cbs.centos.org/koji/packageinfo?packageID=5695 if necessary.

[2019-10-02 08:19] saschagrunert commented on #2848
Hey @Prodian0013, thanks for reporting that issue. I saw this as well on different systems and container runtimes, I'll work on a fix for 1.16.0.

[2019-10-02 09:53] ibotty commented on #2826
https://cbs.centos.org/repos/paas7-crio-115-candidate/x86_64/os/Packages/cri-o-1.15.1-2.el7.x86_64.rpm apparently exists now.

[2019-10-02 13:59] Moumoutaru commented on #2072
Was looking to switch from docker to cri-o but the lack of rpm/repo's is concerning.

[2019-10-02 18:19] haircommander commented on #2832
/close
They all should have official releases now, sorry for the delay. thanks for opening the issue @matthias50

[2019-10-02 18:19] #2832 closed

[2019-10-03 13:06] rhatdan commented on #2072
CRI-O is being shipped under OpenShift, not as a base package for RHEL.  Not sure where the packages for OpenShift are available on RHEL7.

[2019-10-03 15:06] jasonbrooks commented on #2072
there are srpms at: http://ftp.redhat.com/pub/redhat/linux/enterprise/7Server/en/RHOSE/SRPMS/

I found binaries using https://access.redhat.com/downloads/content/package-browser

[2019-10-03 18:57] Moumoutaru commented on #2072
Looks like for CentOS 7 v1.11.13 is what is available

http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin311/

via

https://github.com/CentOS-PaaS-SIG/centos-release-openshift-origin/blob/master/CentOS-OpenShift-Origin.repo

[2019-10-03 18:59] matthias50 commented on #2826
That's not the same thing. That is 1.15.1. The -2 is because there were multiple RPMs built which contain 1.15.1 (1.15.1-1 and 1.15.1-2).

[2019-10-03 20:24] lsm5 commented on #2826
1.15.2 available at https://cbs.centos.org/koji/taskinfo?taskID=976430 . HTH.

[2019-10-04 00:12] mtrmac commented on #1921
FWIW `config/config.go:DefaultPidsLimit` is 1024 on all branches at least since 1.10 up to, and including, `master`; I can’t see anything suggesting 4k.

[2019-10-04 10:07] rhatdan commented on #1921
Yes you are right.  Should we increase it?  @mrunalp WDYT?

[2019-10-04 10:43] mrunalp commented on #1921
Yeah sounds good. We had bumped it up for docker iirc.

Sent from my iPhone

[2019-10-04 10:47] runcom commented on #1921
reason for not going to 4k was fork bomb, I remember we argued on that a lot and that's why we never changed it. It may be the case to change it now tho

[2019-10-04 10:56] cyphar commented on #1921
Split the difference and make it 2K. :wink:  pidns shouldn't make a difference -- pids in a pidns still show up on the host and can still cause forkbombs.

[2019-10-07 19:38] Nefelim4ag commented on #2739
I try use cricli runp on static pod with hostNetwork: true
That not work with same error.
CNI not required for hostNetwork.

[2019-10-07 22:05] matthias50 commented on #2625
So I'm messing around with 1.14.9 and this issue is back. From spelunking in the git log, It looks like it's because there hasn't been a 1.14 release since the was merged to the 1.14 release branch. @haircommander can you say when that will happen?

[2019-10-08 14:36] matthias50 commented on #2833
@lsm5, I'd be willing to lend a hand to expedite getting the buildlogs setup done, but I'm really not sure where to start. Can you point me in the right direction?

[2019-10-08 17:03] haircommander commented on #2625
release 1.14.11 is out now @matthias50 sorry for the delay

[2019-10-08 19:00] lsm5 commented on #2833
Thanks, I guess first steps would be to create accounts on https://bugs.centos.org and https://accounts.centos.org (don't think it's single sign on). Would also help to be on #centos-devel on freenode. Let me know once that's done.

[2019-10-08 21:45] matthias50 commented on #2833
Done

[2019-10-09 13:42] matthias50 commented on #2411
So I was having a similar issue with the Calico CNI. I *think* I have resolved this issue by simply removing /etc/cni/net.d/100-crio-bridge.conf and /etc/cni/net.d/200-loopback.conf right after installing the cri-o RPM.

Then, when the Calico CNI gets installed as a daemonset, it writes the correct CNI config to /etc/cni/net.d and things seem to work. Can someone comment on why these files are the

[2019-10-10 14:07] matthias50 commented on #2833
@lsm5 suggested to me on freenode that I create a bug on the centos side for this. So I created https://bugs.centos.org/view.php?id=16566. @lsm5 and @DanyC97 did I phrase the request properly? Should there be a separate request to handle promotion to mirror.c.o?

[2019-10-10 14:38] matthias50 opened #2885 "Files included in CentOS RPM interfere with CNI operation"
**Description**

When I deploy Calico CNI to together with crio, the overlay network doesn't work at all.

**Steps to reproduce the issue:**
1. Install crio on nodes
2. Deploy calico

**Describe the results you received:**

crio itself seems to be working. The nodes comes and pods get created there. Calico daemonset up and running, but the networking does work. When I run `ifconfig -a`, Instead of

[2019-10-10 15:55] ghglza commented on #2411
Wow, thanks -- that did the trick, at least for the dynamic pods that were bound to the CRI-O bridge subnet!
We had also to remove a CNI configuration 87-podman-bridge.conflist that was installed by the Podman RPM, but with /etc/cni/net.d being empty when kubeadm ran resulted in a working cluster w/o any workarounds under VMWare.
In the case of the VirtualBox VMs w/ 2 network interfaces, the stati

[2019-10-10 17:00] matthias50 commented on #2833
After some digging, it looks like the process is to create a pull request on the cbs-content-control repo. I opened this request: https://git.centos.org/centos/cbs-content-control/pull-request/13

[2019-10-11 02:50] yyang13 commented on #1733
Anybody is fixing this issue? It seems nobody cares it, is there any other issue or solution exisiting?

[2019-10-17 06:59] jahentao commented on #896
I don't know how to modify it, is there a sample?

[2019-10-17 12:57] haircommander commented on #896
in your `/etc/crio/crio.conf` edit the line
[code]
where $MANAGER is either cgroupfs or systemd

[2019-10-17 13:05] haircommander opened #2897 "dnf installation fails on f30"
cross-posting https://github.com/cri-o/cri-o.io/pull/36#issuecomment-543104822 to track
seemingly related https://bugzilla.redhat.com/show_bug.cgi?id=1754170

[2019-10-17 13:23] lsm5 commented on #2897
fedora bugzilla at https://bugzilla.redhat.com/show_bug.cgi?id=1754170

[2019-10-17 16:01] saschagrunert commented on #2757
Apart from improving the metrics, I would bring this feature directly into Kubernetes to have a uniform API for it.

Reference https://github.com/kubernetes/kubernetes/issues/19077

[2019-10-18 01:23] jahentao commented on #896
I successfully use cri-o to run pod and container, following the [guide](https://github.com/cri-o/cri-o/blob/master/tutorials/setup.md) and [tutorial](https://github.com/cri-o/cri-o/blob/master/tutorials/crictl.md), whose default `cgroup_manager` is `cgroupfs`.

when I tried to set `cgroup_manager = "systemd"` in `/etc/crio/crio.conf` and restart `crio` service.

then, I tried the same steps in [t

[2019-10-18 01:42] haircommander commented on #896
Ah you need to configure crictl to use systemd. I think the option is `--cgroup-driver`

[2019-10-18 01:42] haircommander commented on #896
There's a way to set it globally but i forget how

[2019-10-18 07:57] #2725 closed

[2019-10-18 09:33] adelton commented on #2897
It seems that due to https://bugzilla.redhat.com/show_bug.cgi?id=1751765, the steps on Fedora 30 need to be
[code]

[2019-10-18 13:54] haircommander commented on #896
ah, sorry, I found it:
in `/etc/crictl.yaml`:
[code]

[2019-10-18 19:08] bkmeneguello commented on #1804
I'm seeing this error with:
* Centos 7
* containernetworking-plugins-0.8.1-2.el7.centos.x86_64
* cri-o-1.15.2-1.el7.x86_64
* kubelet-1.16.2-0.x86_64
* quay.io/coreos/flannel:v0.11.0-amd64

Any solution available?

[2019-10-19 21:24] smarterclayton commented on #2757
After spending a fair amount of time talking about this over the years I think this belongs in each container runtime.  CRI is too coarse to carry this metric and the implementation of each CRI will likely differ.  Also, the best metrics for this are going to be pretty deep in the stack (i.e. inside containers/storage) and likely be somewhat tied to the details of the storage layer.

I was going t

[2019-10-19 21:47] smarterclayton opened #2902 "Add metric for time spent in oci hooks"
OCI hooks can potentially be a significant portion of container start time.  From an operational perspective as part of understanding where time is going during hooks it would be useful to track a latency summary metric for the individual hooks when they are invoked.  I.e. a prometheus summary vector with a single label for `hook` (or whatever the appropriate name is) so that an administrator can

[2019-10-19 21:47] smarterclayton commented on #2902
@mrunalp

[2019-10-20 05:33] Slach opened #2903 "1.15.3-1~dev~ubuntu18.04~ppa4 systemctl crio.service failed missed /usr/libexec/crio/conmon directory"
**Description**
crio.service failed start cause /usr/libexec/crio/conmon missed on debian package

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
successfull started cri-o

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**
[code]

dear @lsm5 i hope i

[2019-10-20 08:25] Slach commented on #2903
/labels packaging ubuntu

[2019-10-20 11:09] rhatdan commented on #2902
This is handled in the OCI Runtime, I believe so it would need to be added to them.
@giuseppe WDYT of doing this in crun?

[2019-10-21 07:50] giuseppe commented on #2902
@rhatdan adding the feature to crun would be easy.  We will need to agree where this information is stored and how CRI-O can access it.

I think a wrapper program will be more portable and easier to manage and CRI-O can inject it in every configured OCI hook.

It can be as simple as using `/usr/bin/time`, e.g.:

[code]

becomes:

[code]

[2019-10-21 09:06] #2847 closed

[2019-10-21 11:39] rhatdan commented on #2902
@smarterclayton @mrunalp WDYT?  (Although need to be smart about the path to the output.

[2019-10-21 12:22] saschagrunert commented on #2757
Thanks for the nice wrap-up @smarterclayton. I think we need the data in any case, independently if it gets exposed via the CRI or not. :+1:

[2019-10-21 13:37] ghglza opened #2905 "all CRI-O versions after commit fdc2cc372 fail to pull OCI formatted images while pulling Docker formatted images works fine"
**Description**

**Steps to reproduce the issue:**
1. Build CRI-O from sources after commit fdc2cc372
2. Deploy to CentOS 7 machine
3. Try to pull container image in OCI format (i.e. built with "buildah --format oci ...)" via "crictl pull ..."

**Describe the results you received:**
Pull operation fails w/ RPC error about "unsupported docker v2s2 media type"

**Describe the results you expected:**

[2019-10-21 13:41] 0x4139 commented on #1742
Still reproducing on :
`
Version:  0.1.0
RuntimeName:  cri-o
RuntimeVersion:  1.14.6
RuntimeApiVersion:  v1alpha1
`

[2019-10-21 13:55] saschagrunert commented on #2905
Hey @ghglza, may I ask you to provide us more information about the image and the registry where you'd pull the image from? I'm currently not able to reproduce it locally. Which tool and version did you use to push the image into the registry?

[2019-10-21 14:47] ghglza commented on #2905
The registry is a locally operated Nexus Repository Manager OSS 3.9.0-01, the image built w/ buildah 1.11.3, (both formats), and copied to the registry w/ skopeo 0.1.37, while being based on a CentOS 7 standard layer.

[2019-10-21 14:52] ghglza commented on #2905
And the container storage of the image build environment (i.e. the source from where the image is copied to the Nexus registry) is CRI-O  1.11.11-1.rhaos3.11.git474f73d.el7

[2019-10-21 14:59] rhatdan commented on #2905
Are you able to pull it using podman and/or skopeo?

[2019-10-21 15:01] ghglza commented on #2905
"skopeo copy docker://... containers-storage:..." and "podman pull..." on the machine where "crictl pull..." fails works fine -- skopeo is 0.1.37, podman 1.4.4

[2019-10-21 15:07] ghglza commented on #2905
Once copied via skopeo or podman, CRI-O version 08cf02124 can remove the OCI formatted image from local container strorage w/o problems via crictl

[2019-10-21 17:36] rhatdan commented on #2905
And can it pull it again then?

[2019-10-21 18:10] mrunalp commented on #2902
Wrapper will be easiest to implement without having to modify runc in the short term. I think we can open an issue/discussion upstream regardless. If there is wider interest, then we can make it first class in runc.

[2019-10-21 18:11] mrunalp commented on #2902
@smarterclayton One more thing that will be useful to track is CNI network setup time including calling the CNI hook. I will create another issue for that.

[2019-10-21 18:13] mrunalp opened #2906 "Add metric for CNI network setup time"
We want to be able to accurately measure and improve pod startup time. We should track the time it takes for CNI to set up the network namespace for a pod so we can improve the performance and help debug issues in running clusters.

cc: @smarterclayton

[2019-10-21 18:22] baude commented on #2906
@mrunalp i would love for us to coordinate performance of CNI as well.

[2019-10-21 18:24] rhatdan commented on #2902
Do we know which OCI Plugins we are actually using in OpenShift. I would think we should be running none by default.  oci-systemd-hook and oci-umount are not needed for CRI-O and Overlayfs storage driver.

[2019-10-21 18:45] mrunalp commented on #2902
We have oci-systemd-hook installed and I think we have some users trying to use that and copying out logs based on a report I got today.

[2019-10-21 18:47] rhatdan commented on #2902
Well we should get rid of it, and if we want to allow containers to run as systemd, we could vendor in the code from podman that does this the correct way without requiring a hook.

[2019-10-22 01:22] smarterclayton commented on #2906
Excellent - this will help nail down why our p90 on pod sandbox create is over 10s

[2019-10-22 08:24] ghglza commented on #2905
With podman -- yes, with crictl -- no.

[2019-10-22 12:26] saschagrunert commented on #2757
@smarterclayton @ykoer may I ask you to give #2912 a first look? It should address most of the needs, right?

This is currently not possible. We would need to enhance the progress reader even further to provide more detailed information.

[2019-10-24 14:49] mccv1r0 commented on #2849
Using ```ocicnitool``` supplying "" for netns seems to behave.  What call is returning the ```failed to Statfs``` error?

[2019-10-25 12:52] haircommander commented on #2849
I think the stat is coming from `internal/lib/sandbox/sandbox.go:372` `NetNsPath()` which returns the path given the pause pid. I am guessing the pause pid is no longer valid, and so the stat fails? If the pause container is down, the net namespace is probably not valid anymore. what is the proper course of action there?

[2019-10-25 13:08] haircommander commented on #2849
I actually think it comes from
`vendor/github.com/opencontainers/runc/libcontainer/container_linux.go`
because we try to grab the NetNsPath in `server/container_create_linux.go:618` and immediately pass it to the runtime.

[2019-10-25 15:45] xkwangcn commented on #896
hi, after adding cgroup-manager: systemd in /etc/crictl.yaml, could it work? I am very very confused with my errors...

[2019-10-25 16:03] matthias50 commented on #2833
For those of you following along with this issue, the requests are approved which should result in CRIO being published to buildlogs.centos.org with this commit: https://git.centos.org/centos/cbs-content-control/c/1f5843b9e6690d2307b0d1b98f72073ca5d17d1b?branch=master.

Once the CentOS infrastructure folks figure out why the sync is busted (and presuming the mirroring to buildlogs looks right), th

[2019-10-25 16:06] matthias50 commented on #2072
FYI, I've been working with @lsm5 to get a closely related issue fixed with #2833.

[2019-10-25 18:59] #2826 closed

[2019-10-26 11:43] Samet-MohamedAmin opened #2923 "crio does not work correctly on fedora 31"
**Description**
I have recently installed crio on fedora silverblue 31 via dnf module, but crio does not work correctly.
[code]
[code]

**Output of `crio --version`:**

[code]
 **Addtional information**
[code]

[2019-10-26 20:43] Samet-MohamedAmin commented on #2923
similar problem:
https://bugzilla.redhat.com/show_bug.cgi?id=1754170

[2019-10-27 08:31] rhatdan commented on #2923
crio does not run rootless, You need to run it as root.

[2019-10-27 08:32] rhatdan commented on #2923
Were you intending to use podman?

[2019-10-27 09:40] afbjorklund commented on #2923
This is a packaging bug, it is inserting invalid characters into the semantic version:

https://src.fedoraproject.org/rpms/cri-o/blob/1.16/f/cri-o.spec#_75

[code]

It works OK if you remove the trailing `-1.module_f31+5133+e8343ec4` suffix...

[2019-10-27 10:05] afbjorklund commented on #2897
Later versions are available from Koji directly, there's something wrong with the 1.15 and 1.16 modules.

https://koji.fedoraproject.org/koji/packageinfo?packageID=24240

[2019-10-27 10:21] afbjorklund commented on #2833
@matthias50 : this is still a couple more months off, right ?

Don't _really_ want to mess around with the Nix binaries, if there will be an official RPM later on...

[2019-10-27 14:31] Samet-MohamedAmin commented on #2923
I installed `cri-o` to run it as `minikube` runtime.

[2019-10-27 14:33] Samet-MohamedAmin commented on #2923
Can it be fixed somehow?

[2019-10-27 14:45] Samet-MohamedAmin commented on #2923
As @afbjorklund reply, the problem does not seem to be related to the `cri-o` project but to fedora packaging.
There are already opened issues on the rpm package repository.

[2019-10-27 14:45] #2923 closed

[2019-10-27 14:45] afbjorklund commented on #2923
The ugly workaround that I ended up with was patching the binary.

Couldn't get `sed` to cooperate, so ended up using `perl` instead:

[code]

You might want to use a different package, but principally the same.

Basically changing the fedora release into something that parses...

https://koji.fedoraproject.org/koji/packageinfo?packageID=24240

[2019-10-27 14:48] afbjorklund commented on #2923
I think that @lsm5 is aware of this, lots of problems with "modules"

https://docs.fedoraproject.org/en-US/modularity/

[2019-10-27 14:50] Samet-MohamedAmin commented on #2923
Sadly I can't install `cri-o` on fedora from default repositories only via modules.
I'll try with the local rpm.

[2019-10-27 14:54] afbjorklund commented on #2923
Modules _are_ the new default repositories. Unfortunately they don't work (yet).

But once the module and the package _works_, it should be straightforward:

[code]

See https://github.com/cri-o/cri-o.io/pull/36

[2019-10-27 18:35] mnaser commented on #2157
This is breaking us from moving to cri-o entirely :(

Is there anything we can do to help?

[2019-10-28 01:19] mnaser commented on #1921
This also really hurts running MySQL servers.  Is it okay to push up a patch to set it to 4096?

[2019-10-28 11:17] ykoer commented on #2757
@saschagrunert sorry for the delayed answer. I was on on leave for a while. PR 2912 looks great. That is exactly what we need. I guess the extended image pull metrics will be available in a future OCP 4.2.x release, correct?

[2019-10-28 11:23] saschagrunert commented on #2757
No worries. :) I think it will be available on CRI-O 1.17 at the end of the year with Kubernetes 1.17. I'm not sure how OCP sticks to CRI-O/Kubernetes releases but I think the Red Hat maintainers can answer this question.

[2019-10-28 13:13] rhatdan commented on #1921
@mnaser Can't you specifiy in the kubernetes yaml a higher pids_limit for the pod that is running MySQL server?

[2019-10-28 13:23] mnaser commented on #1921
@rhatdan I've just did a bit of research and it seems that we can override the CRI-O value for the entire node:

https://github.com/kubernetes/kubernetes/blob/887edd2273a688f3730244dc781b76b27003d005/cmd/kubelet/app/options/options.go#L527

Therefore, we can probably settle to setting that value for now in the `kubelet` args as an easier method than overriding the default `cri-o` configuration.

[2019-10-28 13:45] paterczm commented on #2757
Are there plans to include similar metric for image pushes?

[2019-10-28 13:59] saschagrunert commented on #2757
We have no way to push images via the container runtime interface right now. Do you see a certain use case for such metrics?

[2019-10-28 14:11] haircommander commented on #2757
This feature will not reach Openshift until 4.4

[2019-10-28 14:14] haircommander commented on #2157
@nalind @mtrmac what's the status of this issue WRT manifest work?

[2019-10-28 14:57] nalind commented on #2157
We've got the feature work merged into the image library, the [PR](https://github.com/containers/buildah/pull/1902) for buildah is passing its tests, and the [draft PR](https://github.com/containers/libpod/pull/4310) that incorporates them both into libpod and the [PR for the 1.16 branch](https://github.com/cri-o/cri-o/pull/2859) that pulls them all into CRI-O are failing some tests.

[2019-10-28 18:45] paterczm commented on #2757
I forgot cri-o is just a runtime, I guess my question didn't make much sense. OpenShift provides build capabilities, so it does push images. OpenShift 3.x uses Docker for that, 4.x is using Buildah. The image uploads can be slow in our environments, looking for a way to track those.

[2019-10-28 21:12] matthias50 opened #2926 "Performance metrics only reported at the container level, not at the pod level."
**Description**

Performance metrics are only reported at the pod level, not the container level for crio, unlike for docker.

**Steps to reproduce the issue:**
1. Use crio for a container runtime and scrape metrics using prometheus
2. Attempt to query prometheus for cpu utilization at the granularity of a container. For example: ```sum (rate (container_cpu_usage_seconds_total{pod_name="kube-dns-7

[2019-10-29 12:55] zokrezyl opened #2927 "Allow/define alternative options to prepare filesystem for runtimes"
**Description**

Allow other means to prepare a filesystem for the OCI complaint runtime.

**Details**

I am trying to simplify the description of the problem thus I will not link it to the precise POC I am working on. Instead I will describe a general use-case:

The present architectures are focusing on containers using OCI Image Format. However for some applications/use-cases it could be possibl

[2019-10-29 13:15] pierreozoux commented on #2903
Can I add a regression test [here}(https://github.com/cri-o/cri-o/blob/master/.circleci/config.yml#L262) to avoid this in the future?

[2019-10-29 13:17] haircommander commented on #2903
please feel free to submit a PR :)

[2019-10-29 13:24] matthias50 commented on #2833
I honestly wish I knew what the holdup is. For some reason, the mirroring isn't working and their are no publicly available logs for me to troubleshoot, so I'm left pestering people on IRC to look into it. @lsm5, is there anything you can do to help get this unstuck?

[2019-10-29 13:29] rhatdan commented on #2903
@pierreozoux We love adding tests.

[2019-10-30 21:42] mrunalp commented on #2927
@zokrezyl CRI-O and runc don't care much about how the rootfs is created so it could be supported. However, the question is how would you map from an image specified in a pod yaml to the alternate format you are proposing? Do you have a schema or a mapping in mind?

[2019-10-31 07:58] zokrezyl commented on #2927
Exactly, they don't care. That is why I thought it should be easy to implement. One solution maybe would be that pod yaml would contain an attribute that specifies the alternative filesystem backend and the schema for the names should be left open to be interpreted by the filesystem backend. Likely this would involve more changes in all the chain.

I believe that the right schema is the key questi

[2019-10-31 13:57] matthias50 commented on #2926
So I managed to fix this issue for me. TL;DR, don't change the listen socket address from its default of /var/run/crio/crio.sock. How this actually causes this issue is a bit of a longer tale.

It turns out that these performance metrics like container_cpu_usage_seconds_total are cAdvisor metrics which were being gathered by the cAdvisor baked into Kubelet which was in turn being scraped by Promet

[2019-10-31 14:00] #2926 closed

[2019-11-03 09:30] arashkaffamanesh commented on #2903
I'm hitting the same issue:
[code]

Here is the  `journalctl -xe` output:
https://pastebin.com/FZc0ziSS

[2019-11-03 10:58] afbjorklund commented on #2903
Looks like it lives in `/usr/bin/conmon` now:

http://ppa.launchpad.net/projectatomic/ppa/ubuntu/pool/main/c/conmon/conmon_2.0.2-1~ubuntu18.04~ppa1_amd64.deb

[2019-11-03 11:00] afbjorklund commented on #2903
@arashkaffamanesh : your issue is different, it's about the crio-wipe service:

[code]

[2019-11-03 11:02] arashkaffamanesh commented on #2903
@afbjorklund THX!

I built from source as follow and it works :-)

[code]

[2019-11-03 11:12] afbjorklund commented on #2923
Looks like the fedora package also forgets to pass the git commit to the build system:

[code]

Instead it is using an internal commit from the build system, showing _that_ in crio version:

[code]

[code]

[code]

Will try to add to bugzilla.

@lsm5: need patches ?

[2019-11-03 12:21] afbjorklund commented on #2833
Seems like there is **no** interest from downstream distributions (centos, fedora) to include this in the main repositories, for various reasons. And the current CBS and PPA are not always working either.

So for this (cri-o) to be a drop-in replacement, one probably has to supply third-party packages. So that one could download them from an upstream website, similar to how the current runtime wor

[2019-11-03 22:43] lsm5 commented on #2833
Don't have anything apart from the `nag them until they respond` approach.

[2019-11-04 23:30] mrunalp commented on #2927
@zokrezyl Yeah, something like that should work. I don't think there is any validation for the image name up and down the stack atleast till it comes to cri-o. You can experiment with `my-backend:` and see how far you can go with it.

[2019-11-06 11:53] ghglza commented on #2905
The error stays the same when upgrading to CRI-O v1.16.0 (commit fa99ff4ae).

Now while we could re-build all our images in Docker format as a workaround, we would prefer to be able to pull OCI formatted images (as this format is the default when building w/ buildah).

Has anybody an idea why this media format error occurs?

[2019-11-06 14:12] haircommander commented on #2905
@mtrmac @vrothberg @nalind PTAL

[2019-11-06 14:25] vrothberg commented on #2905
@ghglza can you paste the entire error? Also, I'd love to see the output of `skopeo inspect --raw` on the image you attempt to pull.

The mentioned versions of Podman and Skopeo use an older version of containers/image than CRI-O v1.16.0 does which explains why `podman pull` works.

[2019-11-06 14:51] ghglza commented on #2905
@vrothberg you're right ref. the image library version -- trying to copy the OCI formatted image with skopeo 0.1.40 (commit be6146b0a) fails with the very same error message

'''
# crictl --debug pull docker.corp.int:5001/proj/autoreg/artifact-loader:oci-image-test113
DEBU[0000] PullImageRequest: &PullImageRequest{Image:&ImageSpec{Image:docker.corp.int:5001/proj/autoreg/artifact-loader:oci-image-t

[2019-11-06 15:19] mtrmac commented on #2905
Can you re-check the CRI-O commit reference, please?

An update of containers/image (to something that includes https://github.com/containers/image/commit/69aa1e85460f4bbc9d4762b0c01efda6c0759979 ) would clearly be relevant, except that I can’t see the linked CRI-O commit (https://github.com/cri-o/cri-o/commit/fdc2cc372a49413bb89abaa9494beb24ab9e0ce3 ) changing the c/image version at all; v3.0.2 i

[2019-11-06 15:22] vrothberg commented on #2905
@mtrac, it starts breaking _after_ this commit (i.e., commit a04c91657341).

[2019-11-06 15:30] vrothberg commented on #2905
I have troubles wrapping my head around it. We're pulling an OCI images fail with `unsupported docker v2s2 media type: ""` relating to a docker v2s2 image. The `skopeo inspect` output from https://github.com/cri-o/cri-o/issues/2905#issuecomment-550344336 looks okay to me.

[2019-11-06 15:36] mtrmac commented on #2905
Duh. Thanks.

The easiest way this could happen is if `GetManifest` returned the listed manifest with a v2s2 MIME type (for some unknown reason), `manifest.Schema2FromManifest` would then clearly reject the OCI data now that MIME types are enforced (whereas before it would have silently worked well enough).

[2019-11-06 16:08] mtrmac commented on #2905
@ghglza Can you paste the output of
[code]
, please? Primarily looking for a line matching `Manifest has MIME type`, but collecting the full output might be useful anyway. Preferably using one of the new failing skopeo versions.

[2019-11-06 16:13] nalind commented on #2905
@mtrmac that does seem to be what's happening with nexus3 (3.19.1-01) when I push an image to it using OCI format:  the manifest that I get back looks like an OCI manifest, but in `dockerImageSource.fetchManifest()`, we're being told it's a `application/vnd.docker.distribution.manifest.v2+json`.

[2019-11-06 16:52] ghglza commented on #2905
Destination is temporary Docker v2 registry (therefore the authentication errors) -- but I think you can see the same error as with copying to local container storage

[code]

[2019-11-06 16:54] mtrmac commented on #2905
@nalind Thanks. Ouch, that’s broken.

It’s rather tempting to just declare the registry as not supporting OCI correctly.

(This was actually  previously reported in https://github.com/containers/buildah/issues/575  , and closed as such in there.)

The corresponding Nexus bug seems to be https://issues.sonatype.org/browse/NEXUS-16947 , closed with “We can't see any reference about docker registries

[2019-11-06 16:55] mtrmac commented on #2905
Oops, it turns out the image is rejected before the code I was expected to log the MIME types is executed. Nalin has confirmed the behavior in the meantime.

[2019-11-06 16:57] mtrmac commented on #2905
Actually, considering the Nexus response, this would ideally be worked around on the push side, by not trying to upload OCI and forcing conversion to v2s2.

[2019-11-06 16:57] mtrmac commented on #2905
… or, I guess, both. I’ll stop writing now.

[2019-11-06 17:34] nalind commented on #2905
As far as headers go, this may be of use:
[code]

[2019-11-06 17:38] mtrmac commented on #2905
@vrothberg BTW it does not seem _completely_ unreasonable to me that we should not be that strict about MIME types. At the very least, it should be possible to copy images with recognized manifest MIME types and unknown (future) layer MIME types.  (The case for ignoring unknown manifest / config MIME types is admittedly much weaker.)

[2019-11-06 17:47] vrothberg commented on #2905
@mtrmac, I am completely open to relax the checks (and backport to v4). Would you open a PR with what you have in mind?

[2019-11-07 03:32] ashayshub opened #2952 "v1.16.0 Toml key host_ip=[] causes bad validation of crio.conf"
**Description**

Using OS: centos 7 on a KVM vm

**Steps to reproduce the issue:**
1. yum install oci-umount ; yum install podman
2. Download cri-o tar.gz version 1.16.0 from github release download page
3. untar cri-o tar.gz
4. export DESTDIR="" and export PREFIX="/usr"
5. make install
6. Set conmon binary path in conman="" key in /etc/crio/crio.conf
7. systemctl daemon-reload && systemctl start

[2019-11-07 10:28] ghglza commented on #2905
From our perspective, a configuration option for relaxed MIME checks (where maybe strict is the default) would also be fine.

And a hint which registry implementations are OCI-compliant (resp. which are not!) in the docs might also be helpful... IMHO setting up a private registry is a very common use pattern during containerization in most organizations, and knowing about limitations of widespread

[2019-11-07 17:39] ashayshub commented on #2952
** More Information **
1. I compiled `bin/crio` from the source code v1.16.0. It worked with the `host_ip=[]` parameter
2. I downloaded the v1.16.0, it gave error parsing the toml configuration for `host_ip=[]` parameter

Thus, the `bin/crio-x86_64-static-musl` binary (which links to `bin/crio`) is probably not compiled from the source code tagged v1.16.0.

[2019-11-07 17:42] #2952 closed

[2019-11-07 17:47] saschagrunert commented on #2952
Hey @ashayshub, the `host_ip=[…]` configuration should be not available for 1.16.x, so it should be a simple string. Your first comment indicates that you've been using the source code and not the bundle tarball, right? Are you sure that you downloaded the sources of the 1.16.0 tag?

[2019-11-07 19:43] ashayshub commented on #2952
@saschagrunert I just reverified the setup. The error I received in the first place is because the [prepackaged](https://github.com/cri-o/cri-o/releases/download/v1.16.0/crio-v1.16.0.tar.gz) `etc/crio.conf` has `host_ip=[]` which gets copied as `/etc/crio/crio.conf` on `make install`  (export DESTDIR="" and export PREFIX="/usr") and gives out error.

I just verfieied by freshly compiling the v1.16

[2019-11-08 08:49] saschagrunert commented on #2952
Ah thanks for the hint, I'll updated the release tarball which should now contain the correct configuration. :+1:

[2019-11-12 03:14] defyjoy opened #2961 "Fedora 31 issue for cri-o and podman installation ."
I have installed cri-o first and then was trying to install podman and it gave me an error as -
`file /usr/libexec/crio/conmon from install of conmon-2:2.0.2-1.fc31.x86_64 conflicts with file from package cri-o-2:1.14.9-1.module_f31+5133+e8343ec4.x86_64`

The cri-o version I have installed -
`cri-o.x86_64                              2:1.14.9-1.module_f31+5133+e8343ec4

[2019-11-12 07:13] defyjoy commented on #2961
I even tried with `--skip-broken` option. It didn't succeed .

[code]

[2019-11-12 12:53] rhatdan commented on #2961
This should be reported as a bugzilla not an issue, since this is a packaging bug.
@haircommander @lsm5 PTAL

[2019-11-12 13:41] lsm5 commented on #2961
hmm, seems like 1.14.11 never got built. Building it now...

[2019-11-12 22:58] marshallford opened #2963 "1.16.0 release not available in PPA"
This is not a bug report or feature request but rather just an observation. The `1.16.0` release was cut a week ago and the package for Debian/Ubuntu is not present in the Project Atomic archive.

Thanks.

[2019-11-14 15:36] red-trela commented on #2903
So this issue is indeed fixed by a simple:
`sudo sed 's|/usr/libexec/crio/conmon|/usr/bin/conmon|' -i /etc/crio/crio.conf`

Could the package please be fixed accordingly?

[2019-11-15 07:02] dichen16 commented on #2713
[code]
Hi, @adelton
the fc31 and fc30 both have this issue when using `dnf mudule` to install cri-o.

[2019-11-15 19:17] adelton commented on #2713
It's been brought to CRI-O Fedora maintainers as https://bugzilla.redhat.com/show_bug.cgi?id=1740730, https://bugzilla.redhat.com/show_bug.cgi?id=1743017, and https://bugzilla.redhat.com/show_bug.cgi?id=1754170.

[2019-11-18 11:45] mythi opened #2978 "make install rebuilds go binaries"
**Description**

The Go binaries (`bin/crio` and `bin/crio-status`) are rebuilt when running `make install`.

**Steps to reproduce the issue:**
1. `make GIT_COMMIT=brokenbuild`
2. `bin/crio -v`
3. `mkdir /tmp/crio-bins`
4. `make install PREFIX=/tmp/crio-bins`
5. `/tmp/crio-bins/bin/crio -v`

**Describe the results you received:**

1. make rebuilds Go binaries
2. `GIT_COMMIT` setting is lost after

[2019-11-18 17:00] mythi opened #2979 "make: -ldflags improvements"
**Description**

1. `-X importpath.name=value` ldflags cannot be easily amended
2. `-X main.buildInfo=${SOURCE_DATE_EPOCH}` seems non-existent

I wanted to override `criocli.DefaultsPath` with make but it's not easy. A simple workaround would be to override `SHRINKFLAGS` with the default values plus my `-X ...DefaultsPath=` setting but not very nice.

While working with -X flags, I also noticed `m

[2019-11-18 17:48] saschagrunert commented on #2978
Thanks for the report, @mythi I see your point. I'm taking care of this in https://github.com/cri-o/cri-o/compare/master...openSUSE:install-fix

[2019-11-19 03:39] Ehekatl commented on #2963
still waiting for the release...
I'm running 1.15 release with k8s 1.16 now
is it recommended?
hope it's more stable than the latest, not sure it's fully compatible with k8s 1.16 or not

[2019-11-19 06:30] haircommander commented on #2963
the CRI guarentees n-1 compatibility, so you should be alright. That said, @lsm5 should be getting to packaging 1.16 soon, so stay tuned. Thanks for the patience folks!

[2019-11-19 09:50] benceszikora opened #2983 "Node hostname is set to pod name"
**Description**
We have noticed 2 nodes in our cluster that had their hostname set to the name of a pod running on them. At first glance it seems similar to issue #2122, but in our case the pod is not privileged and supposedly that issue was fixed already.

I can't really find anything related in the logs, the only interesting lines are like this:
[code]

**Steps to reproduce the issue:**
I can't

[2019-11-19 15:20] benceszikora commented on #1927
We are seeing the same problem now with cri-o 1.16.0

[2019-11-19 18:32] defyjoy commented on #896
Why this error is closed even if adding `cgroup-manager: systemd` does not work properly. It does not work for me are there any other bits or documentation which is needed for this to be followed ? I am confused as well this should not be closed since it does not resolve the issue for kubernetes setup with crio actually . Any pointers how to properly resolve this ?

[2019-11-19 21:18] dustymabe opened #2984 "openshift: `error reserving pod name` causing pods to take a long time to come up"
**Description**

Pods are taking a long time to come up because of `FailedCreatePodSandBox` with the text: `error reserving pod name` as is found [here](https://github.com/cri-o/cri-o/blob/26654d373138e9c93083777391d5f9c4932c83a0/internal/lib/container_server.go#L575-L583).

This is happening a lot but here are two snippets of output from `oc describe pod` that show it takes a long time for the co

[2019-11-19 21:21] rphillips commented on #2984
cc @mrunalp @haircommander @umohnani8

[2019-11-20 00:26] umohnani8 commented on #1529
Tests are passing now https://github.com/cri-o/cri-o/pull/2977, closing.

[2019-11-20 00:26] #1529 closed

[2019-11-21 08:15] #2708 closed

[2019-11-21 13:01] etegan commented on #372
From which version of cri-o is this supported? From what I can see it is version 2 of the registries.conf format that has this feature.

[2019-11-21 14:03] rhatdan commented on #372
It is supported on OpenShift 4.2.  @umohnani8 @mrunalp @haircommander What is the version of CRI-O for that release?

[2019-11-21 14:32] nalind commented on #372
OpenShift 4.2 is based on Kubernetes 1.14, so it uses CRI-O 1.14.

[2019-11-21 15:42] haircommander commented on #2983
hey @benceszikora thanks for reporting the issue

this bug is known to us, and we're working on a proper fix in CRI-O. Unforunately, most of our developers are at kubecon this week, and are pretty busy. I hope to finish tackling it in the next two weeks. It's definitely my top priority.

In the meantime, you can mitigate this by increasing the kernel.pid_max value to the maximum for your system.

[2019-11-22 07:58] benceszikora commented on #2983
@haircommander Thank you, we'll increase pid_max in the meantime. Do you know if the`lstat /proc/106264/ns/ipc: no such file or directory` message is related or should I keep looking into that?

[2019-11-22 17:01] haircommander commented on #2983
That's part of the same issue 😄

[2019-11-22 17:30] mygithubthrowaway opened #2985 "Kubeadm fail at "error writing Crisocket information for the control-plane node""
**Description**
Distro: Archlinux

**Steps to reproduce the issue:**
1. Configure and start cri-o
2. kubeadm init --config kubeadm.yaml

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**crio.conf**
[code]
**kubeadm.yaml**
[code]
**kubeadm log**
[code]
[code]

[code]
[code]

**Additional environment details (AWS, Virtu

[2019-11-22 18:56] saschagrunert commented on #2584
@haircommander do you think we can close this issue? It looks like that it does not happen any more with CRI-O versions > 1.15, right?

[2019-11-22 19:26] haircommander commented on #2584
yup, and cri-o 1.14.10 also has the fix

[2019-11-22 19:26] #2584 closed

[2019-11-22 20:05] saschagrunert commented on #2848
Hey @Prodian0013 can you give it a try again, we updated the nix dependencies for the image recently?

[2019-11-22 20:11] saschagrunert commented on #2985
Hey @mygithubthrowaway :wave:, thanks for the report. It's good to see that we have interested arch users.

It looks like that the cluster bootstrap was successfully and the connection between CRI-O and the kubelet works, because:
[code]

And it seems that the connection between the client and the API server does not seem to work correctly, since its trying to patch the node object (which fails).

[2019-11-22 23:38] mygithubthrowaway commented on #2985
Hi Sasha, thanks for you kind reply.

My job is k8s/openshift junior consulting for my company so I want to try cri-o in vanilla kubernetes (after using it in ocp4) and I only `use arch btw` from `voodoo` release (2007) :)

Back to main topic: I'm sorry, I don't know how (I made a lot of different changes to test it) but now I was able to bootstrap the master node:

[code]
I think the error was in

[2019-11-22 23:38] #2985 closed

[2019-11-23 00:27] saschagrunert commented on #2985
Okay thank you for adding more details to this issue. This helps if somebody encounters the same in the future. :)

[2019-11-23 19:46] FranklinYu commented on #476
Since CRI-O hasn’t been packaged in Debian, shall we re-open this bug?

[2019-11-25 10:48] YanzheL commented on #2411
I solved this by changing the `plugin_dirs` field in `/etc/crio/crio.conf`

before change
[code]

after change
[code]

then reboot

Now the node connected to the correct pod network, which is `10.32.0.0/12` by default in weave-net.

#### Notes

- I tried to restart the crio and kubelet service to avoid reboot, but it seems not working. So I just reboot to get everything clean.

- I suggest deletin

[2019-11-26 04:13] ccravens opened #2993 "Static Linking Not Supported in RHEL 8"
When building cri-o from source, it enforces static linking for example in the pause/Makefile:

[code]

However, static linking is not supported in RHEL 8: https://access.redhat.com/articles/rhel8-abi-compatibility

[code]

This means that glibc-static is not available for install in RHEL 8. We can build on RHEL 8 by commenting out the lines that force a static build:

[code]

**Steps to reproduce

[2019-11-26 05:59] saschagrunert commented on #2993
Hey @ccravens, I see your point. I'm not sure if you need the pause binary at all in your use case, and we're currently thinking about removing it completely.

Do need the bause binary for anything? We usually use a pause image like `k8s.gcr.io/pause:3.1`.

Relates to: https://github.com/cri-o/cri-o/issues/2444

[2019-11-26 14:18] ccravens commented on #2993
Hello @saschagrunert and thank you for looking into this and the PR! Yes, the pause binary is the one that I referenced, however it seems that there are a lot of references to static linking throughout the crio build as well.

For example, in the ./bundle/Makefile all builds (including the crio binary) are called *-static-glibc. The glibc-static dependency is referenced in many places such as the

[2019-11-26 15:34] saschagrunert commented on #2993
You're welcome :) The contents of the `bundle/` directory are only used for building a static binary bundle via the nix package, which we provide for every release. So there is no need to build the bundle when you don't need it.

[2019-11-26 16:41] nalind opened #2996 "cgroups mounted differently for privileged containers"
It looks like we've changed how we're running privileged containers and pods.  In 1.14, runc would be given these in its configuration for a privileged container:
[code]
An unprivileged container would get the same mounts, but marked read-only.

In 1.16, a privileged container instead gets
[code]
This appears to have been changed as a bug fix in https://github.com/cri-o/cri-o/pull/2627, but it bre

[2019-11-26 17:11] Prodian0013 commented on #2963
k8s 1.17 RC1 is already out while crio packages for 1.16.x havent been updated.  Does crio intend to stay in step with k8s releases or continue to fall further behind?

[2019-11-26 17:50] haircommander commented on #2963
@Prodian0013 We are releasing in lock step, but have trouble keeping up with packaging for each platform users expect it from. We always welcome volunteers for packaging, and will work on a solution that builds CRI-O everywhere as soon as possible. Sorry for the delay. @lsm5 in the meantime, do you have an update for the PPA?

[2019-11-26 17:53] lsm5 commented on #2963
I'm transitioning to opensuse's OBS for shipping deb and ubuntu packages, and I'll ship cri-o in there too. Still wip and I'm out this week, so should have more progress next week.

See: https://github.com/containers/libpod/issues/1742#issuecomment-555061785

[2019-11-27 10:01] jamesxia20181001 opened #3003 "does crictl and cri-o support httpproxy?"
does crictl and cri-o support httpproxy?

[2019-11-27 10:49] #2993 closed

[2019-11-27 10:53] #2444 closed

[2019-11-27 10:54] #3003 closed

[2019-11-27 10:56] jamesxia20181001 commented on #3003
/usr/lib/systemd/system/crio.service
Environment="HTTP_PROXY=..."

[2019-11-28 11:32] saschagrunert opened #3008 "[Discussion] packet.net infrastructure"
I played around with the packet.net access we've got from the CNCF, looks very promising from an infrastructure perspective. We have now basically any kind of flexibility since we're able to spawn bare-metal machines.

The big question is now, how to integrate / migrate to it?

I would assume that we still want to use the currently used prow instance, but integrate some packet.net machines for fas

[2019-12-03 13:32] benceszikora opened #3013 "Containers are stuck creating waiting on image pull that already completed"
**Description**
We have some pods getting stuck in ContainerCreating. When I describe the pod I can see that it says it's still pulling the image (but didn't fail). This can be stuck forever, minutes, hours after trying to create the pod.

When I login to the node the pod is creating on and try to do a `crictl pull $image`, it says the image is already up to date.

I don't see any relevant log mes

[2019-12-03 13:59] haircommander commented on #3013
@vrothberg @nalind @mtrmac PTAL

[2019-12-03 14:07] vrothberg commented on #3013
Haven't seen this particular symptom yet. @benceszikora, if possible, could you share these logs?

[2019-12-03 14:07] vrothberg commented on #3013
Is it something you've seen multiple times already or was it the first encounter?

[2019-12-03 14:15] benceszikora commented on #3013
I have attached the logs from around that time. We have seen this multiple times already, I believe even on 1.15

[crio-stuck.txt](https://github.com/cri-o/cri-o/files/3917039/crio-stuck.txt)

[2019-12-03 14:18] benceszikora commented on #3013
Actually, looking at this now, there were no logs for 4 hours prior to this at all, which is suspicious.

[2019-12-03 15:02] haircommander commented on #3008
So the jenkins server we use to spawn all of the aws vms is being (very slowly) deprecated. I would personally be in favor of mirroring all tests we have on packet net, getting them stable, then moving there entirely (kind of like what we did travis->circleci).

In terms of implementing our own solution, I agree it's a drag, but it's also very difficult making changes as is, as there are 4 differe

[2019-12-03 15:13] haircommander commented on #3008
An advantage of having our own solution would be tailoring it to CRI-O's needs (the biggest that comes to mind is pinning the needs of the release branches so dependencies don't slide when we update stuff for master)

[2019-12-03 15:32] weteamsteve commented on #2121
has there been any updates to this? currently having problems with Kubernetes and Podman working together

[2019-12-03 15:43] rhatdan commented on #3008
SGTM
@mrunalp @umohnani8 WDYT?

[2019-12-04 09:03] saschagrunert commented on #3008
Okay, I'd be happy to support you with the decision for going our own way with packet.net. Since packet.net provides only the infrastructure (which is pretty awesome), I'd suggest to:

- Host our own Prow instance on top of a small Kubernetes cluster (1 node for now)
- Setup a Jenkins server inside this cluster
- Setup Jenkins nodes for all target platforms: RHEL, Fedora, SLES, ...
- Setup a CI re

[2019-12-04 10:09] vrothberg commented on #3013
Thanks, @benceszikora! I am currently fighting other fires but will come back to this asap.

[2019-12-05 23:48] mrunalp commented on #3008
Sounds good to me.

[2019-12-05 23:50] mrunalp commented on #3008
I do think that we shouldn't underestimate the effort to run CI though. We have a team that keeps our CI functioning 24/7 :) So this could probably be a parallel thing that we run for a while before we have confidence that we can keep it up and running.

[2019-12-06 10:41] saschagrunert commented on #3008
Yes I agree. :+1:

I created a single node cluster on top of Ubuntu 18.04 (via kubeadm) and installed prow. If we now move forward, we would have to invite the [cri-o-ci](https://github.com/cri-o-ci) user (created by me) into the organization.

Necessary cluster bootstrap information are available on the node itself, but I propose that we create a private repo where I can put some credentials and

[2019-12-09 14:06] saschagrunert commented on #3008
Basic prow seems to work already, I setup a test org to play around with the setup:
https://github.com/cri-o-ci-tests/repository/pull/5

[2019-12-09 17:17] #2906 closed

[2019-12-09 18:51] syedriko opened #3026 "Provide logging behavior policies applied by conmon to stdout/stderr"
This is a reflection of https://github.com/containers/conmon/issues/84 into CRI-O

[2019-12-11 12:19] saschagrunert commented on #3008
I think we need a GCS bucket to run jobs in kubernetes: https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#configure-cloud-storage

[2019-12-11 14:44] saschagrunert commented on #3008
I requested a bucket in https://github.com/kubernetes/test-infra/issues/15569

[2019-12-13 08:41] #2978 closed

[2019-12-15 09:02] yuvalk commented on #2961
this is still hapenning:
# dnf install cri-o
Last metadata expiration check: 0:54:05 ago on Sun 15 Dec 2019 10:07:39 AM IST.
Dependencies resolved.
================================================================================================================================
 Package             Architecture         Version                                            Repository

[2019-12-16 07:59] dougsland commented on #2961
@lsm5 trying to see if I can reproduce the report. Could you please point me where the spec file for the cri-o rpm is located?

[2019-12-18 16:26] Martin-Weiss opened #3056 "Question: restrict credentials in global auth for a given namespace or even image"
We have to use global_auth for our kubernetes deployment as the images can only be retrieved from the on-premise registry with a given authentication. So we use the global_auth to add these.

Unfortunately these credentials are also used "automatically" for all other image pulls that are done through kubernetes later on (or via crictl pull) in case no other registry credentials are given.

Would i

[2019-12-18 16:36] haircommander commented on #3056
Unfortunately, this is more of an issue with the kubelet. CRI-O has no idea about container namespaces, and couldn't decide whether an image should be pulled with creds based on namespace.

global_auth is really best used for mirrored registries (which bypasses the kubelet). If you need the mirroring functionality, then you're not able to only send the credentials sometimes. If you don't need the

[2019-12-18 16:37] haircommander commented on #3056
I suppose it could be possible to only pass creds when searching for a given image. that's more of an issue for `github.com/containers/image` though, CRI-O's image handling library :smile:

[2019-12-18 21:31] spaced commented on #2897
for `f31` available in `updates-testing-modular-f31` repo, see
https://bodhi.fedoraproject.org/updates/FEDORA-MODULAR-2019-24636b4ff9

[2019-12-26 20:28] ArangoGutierrez commented on #2961
++ I am having the same issue

[2019-12-26 20:29] ArangoGutierrez commented on #2961
[code]

[2019-12-28 09:01] ToroNZ commented on #2903
In Clear Linux, I had to install conmon using the container basic dev bundle:

[code]

[2019-12-30 10:03] egiathamaershada commented on #2961
i think this also happen in fedora 30.
i already have podman installed first.
[code]

[2020-01-02 16:39] rancid-racer opened #3062 "CRI-O fails to start container due to missing log directory"
---------------------------------------------------
GENERAL SUPPORT INFORMATION
---------------------------------------------------

The GitHub issue tracker is for bug reports and feature requests.
General support for **CRI-O** can be found at the following locations:

- IRC - #cri-o channel on irc.freenode.org
- Slack - kubernetes.slack.com #sig-node channel
- Post a question on StackOverflow, u

[2020-01-02 16:45] rancid-racer commented on #3062
Exact error from journalctl -u crio:
crio[1307]: [common:e]: Failed to open log file No such file or directory

[2020-01-02 16:48] haircommander commented on #3062
can I see the pod config and container config?

[2020-01-02 16:48] haircommander commented on #3062
(I lied about the labels, I don't think this is packaging)

[2020-01-02 16:50] rancid-racer commented on #3062
working configs:
pod-config.json
`
{
	"metadata": {
		"name" : "nginx-sandbox",
		"namespace" : "default",
		"attempt" : 1,
		"uid" : "hdishd83djaidwnduwk28bcsb"
	},
	"linux": {
	}
}
`

working conainer-config.json

`
{
	"metadata": {
		"name": "busybox"
	},
	"image": {
		"image" : "busybox"
	},
	"command" : [ "top" ],
	"log_path": "busybox-0.log",
	"linux": {
	}
}
`

[2020-01-02 16:56] rancid-racer commented on #3062
Tested with pod config
[code]
This also seems to work fine using the above container config.  Not sure if this is a bug or an issue with the container config documentation where log_path cannot contain a subdirectory

[2020-01-02 17:04] rancid-racer commented on #3062
Based on examples in https://github.com/kubernetes-sigs/cri-tools/tree/master/docs/examples it looks like it is a documentation error for crictl as they use busybox.0.log in the actual example file.

[2020-01-02 17:16] haircommander commented on #3062
sorry, is this the failing config or one that works? If it's the failing one, what's the log_path? I don't see it specified

[2020-01-03 12:30] vrothberg commented on #3013
Back from the holidays. I had a look at these logs but they don't provide any insight to me (they're very short).

@benceszikora what's the host environment and which binaries are you using? `fa99ff4ae2aa45115bf3c6bb33db07191db2518e-dirty` seems suspicious and indicates that the git repositories was dirty at build time.

[2020-01-03 16:18] sergeyfd commented on #2983
Hello,

Any  updates on the fix? We are seeing the same issue.

[2020-01-03 16:29] haircommander commented on #2983
This was fixed in https://github.com/cri-o/cri-o/pull/3042 which is in 1.16.2. backports to 1.15 and 1.14 are also planned

[2020-01-03 16:55] sergeyfd commented on #2983
@haircommander could you provide that details on how that fix is related to the issue with host name changes? I don't think that conmon was OOM killed in our case.

[2020-01-03 17:04] haircommander commented on #2983
The only situation in which we have seen this happen recently is described here https://capsule8.com/blog/oomypod-nothin-to-cri-o-bout/, which can only happen with a conmon OOM or conmon being killed before the container is.

[2020-01-03 17:24] sergeyfd commented on #2983
Thanks a lot!

[2020-01-03 18:36] haircommander commented on #2983
ah hah, then increasing pids_max and using 1.16.2 should significantly decrease the chance of that happening again. Stay tuned for 1.17 where this situation should be fixed entirely :)

[2020-01-07 17:27] rancid-racer commented on #3062
For clarification, the pod config wasn't the issue.  I isolated it to being a / character in the container config for log_path indicating a subfolder.  I cannot be sure if it was intended to use folders in the container log_path parameter in crictl and who's responsibility it is to handle that.

[2020-01-07 19:56] mrunalp commented on #3062
@rancid-racer Thanks!

[2020-01-07 19:56] #3062 closed

[2020-01-07 22:50] benclarkwood opened #3079 "Unexpected behavior with empty seccomp profile"
**Description**

When running cri-o with seccomp enabled, and a default profile specified, the runtime falls back to "unconfined" when no profile is specified.

**Steps to reproduce the issue:**
1. Enable seccomp
2. Specify a default profile
3. Create a Pod

**Describe the results you received:**
Empty profile default to `unconfined`

**Describe the results you expected:**
Empty profile defaulting

[2020-01-08 00:32] amshinde commented on #2114
@chavafg I had run the tests prior to the holidays with crio 1.15.1 and kubernetes 1.15.7.
These were the failures that I was seeing:
[code]

On analyzing the failures and looking at the tests itself, I realised that the failures seen are mostly caused due to the resource constraints placed on the containers, which are insufficient for launching a Kata container.
All the ` Downward API` , `Project

[2020-01-08 00:53] egernst commented on #2114
Nice work @amshinde.  PodOverhead is only available, in beta, starting in 1.16.

We can't rely on it here. Perhaps we can re-run on 1.16 with the feature gates set appropriately.

[2020-01-08 10:17] saschagrunert commented on #3079
Hey @benclarkwood, thank you for opening the issue. As already discussed I will assign the issue to you since you've state that you'd be happy to work on this issue.

I took my time to play around with seccomp and AppArmor profiles and would expect the same as described by @benclarkwood. Generally it was not possible for me to find any generalized description of:

- If a profile is specified to a

[2020-01-08 11:36] saschagrunert commented on #3079
I proposed the change for AppArmor here: https://github.com/cri-o/cri-o/pull/3083

[2020-01-08 15:37] chavafg commented on #2114
thanks @amshinde for finding the root cause.
Can you confirm that the `EmptyDir volumes` tests passed on your side. These were also failing when I ran them.

[2020-01-08 17:08] matthias50 commented on #2833
@lsm5 in a related note, I don't see any 1.16 crio builds on cbs. Are these going to appear there or are the CentOS packages 1.16 going to be somewhere else?

[2020-01-08 17:39] amshinde commented on #2114
@chavafg I didnt see any failures for `EmptyDir volumes` when I ran the tests. I'll try another run with 1.16 today.

[2020-01-08 20:32] milind69 opened #3087 "compilation fails on redhat8"
**Description**

**Steps to reproduce the issue:**
1. git clone https://github.com/cri-o/cri-o
2.cd crio-o
3.make

**Describe the results you received:**
make fails  with error
/usr/bin/ld: cannot find -lc
collect2: error: ld returned 1 exit status

**Describe the results you expected:**
clean build with no errors

**Additional information you deem important (e.g. issue happens only occasionally):

[2020-01-08 20:33] milind69 commented on #3087
log message when it fails
[root@icplxvm23 cri-o]# make
touch "/kube/go/.gopathok"
GO111MODULE=on go build --mod=vendor -ldflags '-s -w -X main.gitCommit="b98778d524f37737ad1385f8cddcfebbcf4bf4c7" -X main.buildInfo=1578515050' -tags "containers_image_ostree_stub  exclude_graphdriver_btrfs btrfs_noversion exclude_graphdriver_devicemapper libdm_no_deferred_remove containers_image_openpgp seccomp seli

[2020-01-08 20:34] milind69 commented on #3087
[root@icplxvm23 cri-o]# uname -r
4.18.0-147.0.3.el8_1.x86_64

[root@icplxvm23 cri-o]# rpm -qa gcc

gcc-8.3.1-4.5.el8.x86_64
[root@icplxvm23 cri-o]#

cat /etc/redhat-release
Red Hat Enterprise Linux release 8.1 (Ootpa)

[2020-01-10 01:51] laurelnaiad commented on #2984
FWIW, I just saw this twice on a freshly built cluster, not using openshift, though using some of its pieces and parts.

The first instance, it was plaguing kube-scheduler, and after a few minutes I bailed and reset/init'ed the cluster. The second time, it was hitting kube-controller-manager, but I found this issue, reporting that it eventually worked itself out, and indeed it eventually came thro

[2020-01-10 14:11] Prodian0013 commented on #2848
@saschagrunert `make nix-image` appears to ran without errors but now when running `make build-static` it returns a permission denied.

[code]

[2020-01-10 14:40] saschagrunert commented on #2848
Hm, strange how is that possible. Are you sure that you want to use the image `quay.io/crio/nix:1.1.0` for building it or do you want to use the local one? For using the local one you would have to overwrite `TESTIMAGE_NIX`:

[code]

[2020-01-10 15:57] Prodian0013 commented on #2848
Im actually just trying to follow the documentation provided at https://github.com/cri-o/cri-o/blob/master/tutorials/setup.md which arent put together very well.

Why arent the binaries just provided on github with each release similar to containerd?  Crio needs to get its act together in terms of distribution compared to other container run times.  Theres multiple open issues asking for consisten

[2020-01-10 17:48] Prodian0013 commented on #2848
@saschagrunert Same error as before when trying to use a local image
[code]
[code]

[2020-01-10 18:04] Prodian0013 commented on #2848
@saschagrunert figure it out selinux was blocking it

[2020-01-10 18:40] saschagrunert commented on #2848
Oh cool, how did you solve it? Let me know how to improve the docs to avoid such issues in the future. I’m always happy to help somehow. :)

[2020-01-10 20:09] dougsland commented on #3087
Hi @milind69, I cannot reproduce the report but my guess is that you are missing glibc-static.

At moment, our official guide doesn't mention about codeready-builder-for-rhel-8-x86_64-rpms repo. So I would suggest to try:

# subscription-manager repos --enable=codeready-builder-for-rhel-8-x86_64-rpms
# dnf install glibc-static
<try to do a make again>

You can see the full list of packages for rhe

[2020-01-10 22:25] Prodian0013 commented on #2848
`setenforce 0` to test my theory

Another issue I found is with bundle/build not being backwards compatible with older version of coreutils
[code]

[2020-01-10 23:14] rphillips commented on #2984
@laurelnaiad are there any errors in the crio logs?

[2020-01-11 01:41] Prodian0013 commented on #2848
@saschagrunert I was finally able to create a bundle tar for 1.16.2 tag! I did notice the crio-status binary was missing from the tar, do you see that as an issue?

[2020-01-11 23:53] milind69 commented on #3087
Greetings

Is it necessary to statically compile it? I had opened case with Redhat ,
they gave me same rpm. Redhat saying avoid building statically.
Also is there any know issue cri-o working with calico? My calico kub
controller not going in running state.

On Fri, Jan 10, 2020, 2:09 PM Douglas Schilling Landgraf <
notifications@github.com> wrote:

[2020-01-12 01:58] laurelnaiad commented on #2984
Why yes! Yes there were and still are errors in the logs. I've reduce their total-per-reboot by fixing issues with flannel and cgroup alignment. Having cleaned up somewhat, the cluster was certainly healthier – I could reboot with little worry that one or more of the pods would go into the "error reserving pod name" loop - but I could see that it was still occurring sporadically and briefly at sta

[2020-01-12 14:26] afbjorklund commented on #2833
The https://cri-o.io/ documentation still features paas7-crio-311-candidate which uses 1.11 (Jun 2018)
As there are _lots_ of configuration changes between cri-o versions, all versions need to be provided...

https://cbs.centos.org/repos/paas7-crio-311-candidate/x86_64/os/

But it would be nice if the link could be updated to at least 1.15, while waiting for 1.17 to appear ? That is the version th

[2020-01-12 15:33] dougsland commented on #3087
Hi @milind69, in such case, having a subscription with Red Hat and installing/updating via rpm (yum/dnf) helps you to avoid building cri-o every single release, probably that's the main reason the support shared to avoid building statically. I am not aware of calico issue so far. We would need more information about your env to try a reproducer. The error logs might help us to identify what's goin

[2020-01-12 15:36] milind69 commented on #3087
I will open a case with details, thanks for help
We can close this one for staitc building

On Sun, Jan 12, 2020, 9:33 AM Douglas Schilling Landgraf <
notifications@github.com> wrote:

[2020-01-12 15:44] dougsland commented on #3087
Unfortunately, I can't close the ticket. Please next time in github, close for us. Thanks!

[2020-01-12 16:05] milind69 commented on #3087
Will do, sorry for asking , new to kubernetes world

On Sun, Jan 12, 2020, 9:44 AM Douglas Schilling Landgraf <
notifications@github.com> wrote:

[2020-01-13 09:00] #3087 closed

[2020-01-13 16:25] AkihiroSuda opened #3106 "MemoryUsage.WorkingSetBytes should take total_inactive_file into consideration"
containerd/CRI defines workingset as `usage - total_inactive_file`:

https://github.com/containerd/cri/blob/982e767745a9b0c8ea5f82d9795ab3c37f21c0f5/pkg/server/container_stats_list_unix.go#L84-L96

OTOH, CRI-O doesn't seem taking `total_inactive_file` into consideration:
https://github.com/cri-o/cri-o/blob/3314d8abfd80132bf89e408384ff6683b9799e5e/server/container_stats.go#L42

[2020-01-14 01:33] mnaser commented on #1927
Indeed, I'm running into this with cri-o 1.16 too :(

[2020-01-14 01:42] mnaser commented on #1927
FWIW, this started occurring after a DaemonSet that had no limits had limited added (but really low ones).  We bumped up the limits for it and it started working.  Perhaps when the resources are so low in the container, you have those issues?

[2020-01-14 08:06] saschagrunert commented on #3106
Hey @AkihiroSuda, thanks for the hint. I'll check how to improve that and align with containerd.

[2020-01-14 12:16] giuseppe commented on #1927
I think it is still the issue in the Kubelet.  I have used a static pod to reproduce it: https://github.com/kubernetes/kubernetes/pull/72105#issuecomment-489557725

Do you easily reproduce the issue if you try something like I've done in the comment above?

[2020-01-14 12:54] benceszikora commented on #3013
@vrothberg We're running on RHEL 7.5. Since there are no rpms released for it we built our own from source at the 1.16.0 release tag (https://github.com/cri-o/cri-o/commit/fa99ff4ae2aa45115bf3c6bb33db07191db2518e)

[2020-01-14 23:03] matthias50 commented on #2963
I saw this and I did try out the crio 1.15.2 on k8s 1.16 and the results were not great.  From what I can tell, service account token mounting completely broke which messed up all kinds of stuff. I switched to docker as a test and the issue went away. So from where I sit, using CRI-O 1.15 with k8s 1.16 seems like a non-starter.

[2020-01-15 03:27] lsm5 commented on #2963
I've switched to [OBS](https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable) for shipping deb packages. To get cri-o 1.16 on ubuntu, see below.

For xUbuntu 19.10 run the following:
Keep in mind that the owner of the key may distribute updates, packages and repositories that your system will trust (more information).

[code]

For xUbuntu 19.04 run the following:
Keep in mind th

[2020-01-15 04:53] lsm5 commented on #2963
https://github.com/cri-o/cri-o/pull/3114

[2020-01-15 13:51] haircommander commented on #2963
https://github.com/cri-o/cri-o/pull/3114 has merged, closing this as such. If there are issues with the new installation method, please open a new issue :smile: thanks for the patience everyone, and huge thanks to @lsm5 for getting this done :tada:

[2020-01-15 13:51] #2963 closed

[2020-01-16 11:10] #2757 closed

[2020-01-16 21:43] #3106 closed

[2020-01-17 11:06] vrothberg commented on #3013
@benceszikora, could you update CRI-O to v1.16.2 and check if you're still seeing the issue? The `-dirty` suffix indicates that the git repository was dirty at the time of compilation. Just to be sure, could you check via `git status` and `git diff` if any files have been changed?

[2020-01-17 21:18] chavafg commented on #2114
@amshinde
I used PodOverhead as you recommended and the failing tests now worked correctly.
I only saw 2 failures now:

1. one `Downward API ` test failed with an strange `etcd` timeout issue. seems not related to the same failure as before, will check furtherly
[code]

2. I still saw an issue with the `DaemonSet` test, which requires 2 nodes at least. I think that we can skip that for the moment,

[2020-01-17 22:33] smijolovic commented on #2858
can you describe what you mean by:

"After fixing the chown call uids in the code"

Rootlesskit or usernetes are not real solutions - crio should have the ability to run as a deprivileged user via systemd. Chown is a root only command and should be removed as part of the CRIO process. Curious to what you did to help move this forward - even if a SIG for cri-o.

[2020-01-17 23:57] TristanCacqueray commented on #2858
@smijolovic iirc I changed the chown argument so that it doesn't results in a permission failure.

[2020-01-20 19:25] GabyCT opened #3130 "Not possible to install CRI-O on CentOS 8"
I tried to do the installation for CRI-O on CentOS 8 (https://github.com/cri-o/cri-o/blob/master/tutorials/setup.md), however, I am getting a lot of problems mainly because of missing packages like `btrfs-progs-devel`, `libseccomp-devel`, `device-mappper-devel` and `pkgconfig`. Is there a way to install CRI-O on CentOS 8? thanks

[2020-01-20 19:26] GabyCT commented on #3130
I tried to use the `rpms` from CentOS 7, however, I still got a lot failures mainly because of conflicting versions

[2020-01-20 19:34] dougsland commented on #3130
@GabyCT Hi, which repos have you enabled on CentOS8? Have you enabled PowerTools ? I believe this repo should help. (Meanwhile, I am testing locally here too).

[2020-01-20 19:39] GabyCT commented on #3130
@dougsland , here it is the info
[code]
yes, I have enabled the PowerTools repo but I still do not have those packages
[code]

[2020-01-20 21:10] dougsland commented on #3130
@GabyCT just reproduced your report. btrfs-progs-devel package is not available yet for CentOS 8. The support for btrfs is not enabled by default, so you can skip this package when triggering dnf install (packages required for the build).

For the :
   - pkgconfig, please use pkgconf-pkg-config.
   - "device-mappper-devel", there is a typo in the package name with 3 "p" in your issue description.

[2020-01-20 21:40] GabyCT commented on #3130
@dougsland , I think that we need also `libseccomp-devel` (also not available) because if not is to possible to build it

[2020-01-20 22:05] dougsland commented on #3130
@GabyCT looks like for me it's there:

# dnf info libseccomp-devel
Installed Packages
Name         : libseccomp-devel
Version      : 2.4.1
Release      : 1.el8
Arch         : x86_64
Size         : 426 k
Source       : libseccomp-2.4.1-1.el8.src.rpm
Repo         : @System
From repo    : AppStream
Summary      : Development files used to build applications with libseccomp support
URL          : http

[2020-01-21 14:21] lsm5 commented on #3130
hi @dougsland , afaik, you can use buildtag `exclude_graphdriver_btrfs` to skip any btrfs deps.

[2020-01-21 14:21] lsm5 commented on #3130
Also, I plan to provide centos8 binaries via the kubic project repos on OBS.

[2020-01-21 15:48] GabyCT commented on #3130
@dougsland , that is weird , I do not have it (I am using an Azure CentOS image)
[code]

[2020-01-21 22:02] dougsland commented on #3130
@GabyCT I can see the package in the CentOS mirror too:
http://mirror.centos.org/centos/8/AppStream/x86_64/os/Packages/libseccomp-devel-2.4.1-1.el8.x86_64.rpm

[2020-01-22 14:00] iinuwa commented on #2905
FWIW, another issue ([NEXUS-21087](https://issues.sonatype.org/browse/NEXUS-21087)) has been opened to support OCI compliance in Nexus.

[2020-01-22 15:14] dougsland commented on #3130
@GabyCT Have you solved the package dep? Can we close this issue? Maybe open a specific for btrfs-progs-devel package not available yet for CentOS 8.

[2020-01-22 20:04] GabyCT commented on #3130
@dougsland , I still have issues with the packages in CentOS 8, for exmaple when I am trying to install `device-mapper-devel`, I got the following
[code]
Which is weird because I tried to install `device-mapper` before and I got the same error.
Another issue is `glibc-static`
[code]

[2020-01-22 21:15] afbjorklund opened #3149 "crictl images shows --all images by default"
Including any intermediate build images. Unlike the dockershim, which hides them by default...

That is, "crictl images" shows "docker images" on Docker but "podman images --all" with CRI-O.

When building images on the kubernetes master node, like minikube, this looks kinda messy.

See https://github.com/kubernetes/minikube/issues/6350 for details

[2020-01-22 21:16] dougsland commented on #3130
Hi @GabyCT ,

Could you please share:

# dnf repolist -v

and

Attach a tarball from /var/cache/dnf so we can try to reproduce your issue.

[2020-01-22 21:32] GabyCT commented on #3130
@dougsland , here it is
[code]
Let me create the tarball too, thanks for everything

[2020-01-22 21:39] afbjorklund commented on #2833
According to https://blog.centos.org/2020/01/centos-paas-sig-quarterly-report-2/
the CentOS SIG is providing Origin 3.x since before and will look at OKD 4.x next

So this means that CRI-O will be supported on CoreOS **only**, like [upstream](https://lists.projectatomic.io/projectatomic-archives/atomic-devel/2019-October/msg00002.html):

There doesn't seem to be any technical reasons, assuming you

[2020-01-22 21:57] afbjorklund commented on #3130
Will these replace the current PPA/CBS packages, for all of the distributions ?

Currently Kubernetes users seem to be confused, about _how_ to install cri-o/crictl.
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o

It would be nice if there was some good upstream documentation, to point users to.

[2020-01-23 04:00] lsm5 commented on #3130
nothing on cbs or ppa for centos8. There's already cri-o-1.16 on stable and testing obs repos (docs updated for release-1.16), and cri-o-1.17 on testing repo (needs doc update). crictl is yet to be done. Unless there's some convenient official setup info for CentOS 8/Stream, I'll be putting centos8 stuff on OBS.

I'll update the doc there as well.

see the [install doc](https://github.com/cri-o/cr

[2020-01-23 18:50] afbjorklund commented on #3130
Thanks, seem like those kubic repos were not on `master` (https://github.com/cri-o/cri-o)

[2020-01-24 15:12] lsm5 commented on #3130
yup, haven't PR'd to master yet, I'll do that.

[2020-01-24 20:19] ezbin commented on #2885
I've also encountered this issue on CentOS 7.  I came to the same work around, with one additional step.

The `crio.conf` file generated by kubespray will only set the `plugin_dir` networking parameter to `"/usr/libexec/cni"`.  If you delete the `100-crio-bridge.conf` file with this setup, then cri-o will fail to start with an error about no default network.

This happens because all of the calico

[2020-01-28 16:16] o10222 commented on #2961
Both 30 and after upgrade to 31 same error on both releases.

[2020-01-28 19:55] haircommander commented on #3149
@vrothberg @mtrmac PTAL, should we be filtering images that don't have fully qualified names in the output?

[2020-01-29 07:45] vrothberg commented on #3149
Here's the relevant code in libpod:

[code]

[2020-01-29 08:19] saschagrunert commented on #3149
I'm wondering what the better strategy is in terms of the kubelet. I would expect that the image GC removes unused images/layers from time to time. Beside that the scheduler takes the images into account when it comes to scoring the nodes.

Generally I don't think that we should add more logic on top of that within CRI-O.

[2020-01-30 19:15] mtrmac commented on #3149
To the extent `crictl` is used to debug node/Kubelet issues/state, it must be _possible_ to see the full image list that Kubelet receives. As to whether it should be the _default_ output, I don’t have a strong opinion.

[2020-01-30 22:42] amshinde commented on #2114
@mrunalp As we discussed, we now have the e2e tests passing with sonobuoy. cc @chavafg
Let us know if you have any other tests in mind.

[2020-01-31 10:45] steadysupply opened #3175 "Piping to exec hangs somewhere"
**Description**
See https://github.com/kubernetes/kubectl/issues/810.

**Steps to reproduce the issue:**
The container ID of the pod created above is `0f069d336ceb4`, running on the node where I have more direct access to cri-o
[code]

**Describe the results you received:**
35 second hang after `cat` seems to have finished
[code]

**Describe the results you expected:**
It not to hang ... here's wh

[2020-01-31 15:31] mrunalp commented on #3175
@giuseppe ptal

[2020-02-01 04:33] skycastlelily2 opened #3179 "shouldn't CRI-O works well without /usr/share/containers/oci/hooks.d?"
make install v1.17.0-rc1 ,/bin/crio failed with
 FATA[2020-01-31 22:00:40.228343398-05:00] runtime config: invalid hooks_dir: stat /usr/share/containers/oci/hooks.d: no such file or directory: stat /usr/share/containers/oci/hooks.d: no such file or directory

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**
crio should work

[2020-02-01 10:32] skycastlelily2 commented on #3179
sorry,I was wrong,the hook dir will be there after run" make install.config",
I first tried dnf install  cri-o-1.17.0-0.1.gitb89a5fc.module_f31+7363+0a59a30e
in fedora server,systemctl start crio failed as the subject,so seems like a fedora issue.
But shouldn't crio works well without the hooks dir?

[2020-02-01 12:57] boekhold commented on #3130
If those instructions ever were correct, they are not anymore. I just did a fresh install of CentOS 8 and OpenSUSE Leap 15.1, and then followed the instructions from this page to the letter.

**OpenSuse**
[code]

**CentOS8**
[code]

[2020-02-02 05:08] ganga1980 opened #3180 "cri-o http apis doesnt work though crictl works"
**Description**
I am looking for CRI-O HTTP APIs to get the  inventory of the containers and images for the monitoring purpose.  Based on investigation, support of HTTP APIs is very limited and doesnt have support for APIs to get the list of containers and images.
1.  /containers API failing with 404
{"storage_driver":"overlay","storage_root":"/var/lib/containers/storage","cgroup_driver":"systemd"

[2020-02-02 06:03] ganga1980 opened #3181 "cri-o container stdout/stderr default log format (text) is unstructured and cant be parsed by monitoring tools"
**Description**

Default format of the stdout/stderr container logs at /var/logs/containers is not uniform across all the container logs. This breaks integration with monitoring tools like fluentbit and fluentd to tail the logs. Reviewing the cri-o code, default logformat is logrus text , but logrus recommends to enable default format is JSON so that monitoring tools can consume these container lo

[2020-02-02 14:48] boekhold commented on #3130
Ahhh, apologies.I just noticed that your link to "install.md" is actually linking to "README.md", so I was following the wrong instructions. Just read the "setup.md" as per your PR.

Is it therefore right to conclude that (at the moment) you need to build CRI-O from source for CentOS 8? No rpms available anywhere?

[2020-02-02 15:46] boekhold commented on #3130
I've not built CRI-O itself yet, but to get all the listed dependencies installed, I needed to run:

[code]
(case-sensitive)

This isn''t mentioned in setup.md... I also enabled EPEL (`sudo dnf install epel-release`), which I'm not sure is required.

[2020-02-02 22:27] lsm5 commented on #3130
Haven't setup cri-o on centos8 yet but I'm working on putting it and other tools on OBS. There install doc updates I mentioned earlier were meant for ubuntu and debian. Sorry about the confusion.

If you're feeling adventurous, maybe you can try out the fedora rpms on centos, but no guarantees.

[2020-02-03 06:07] boekhold commented on #3130
Pfew, took some effort, but I have k8s (almost) running with cri-o on CentOS 8. Built cri-o & conmon from source, installed kubeadm/kubectl/kubelet from the following repo:

[code]

Edited `/etc/sysconfig/kubelet` to add:

[code]
(note, most instructions on the net refer to `/etc/default/kubelet`, which is wrong)

Ran `modprobe br_netfilter` and `modprobe overlay` (also added entries to `/etc/modu

[2020-02-03 08:34] giuseppe commented on #3175
What is the conmon version you are using?

I've solved a similar issue not long ago: https://github.com/containers/conmon/pull/100

That doesn't solve all the cases though, I think it is still possible to cause a hang in conmon

[2020-02-03 09:17] steadysupply commented on #3175
Aha, thanks, looks like I'm on 2.0.3:
[code]
Am I good to just drop a fresher conmon binary in and restart cri-o, or is there some configuration I need to do?

[2020-02-03 11:37] steadysupply commented on #3175
Having built conmon from latest source:
[code]
I'm still seeing a significant delay. I don't see how copying a handful of bytes (the string `hello`) could be causing the hang -- but then I don't have a full picture of where the data goes once I pipe it!
[code]
Any ideas of where else I might head for debugging this?

[2020-02-03 16:08] haircommander commented on #3180
Info is actually the only http connection that cri-o serves. The rest are gRPC. The reasoning is CRI-O is only designed to fulfill the needs of the CRI, and the CRI uses gRPC to ask for containers and images. I I think you can use grpc over http, though I haven't personally tried that

[2020-02-03 16:11] akram opened #3186 "cri-o must set home ton $HOME if specified in image"
When cri-o is used  in OpenShift, it automatically creates the arbitrary user that OpenShift requires to run a specific image. as an example:
[code]
However, the home directory is set to "/"  .
[code]

When the $HOME environment variable is set in the built container image, it is preferable that the user home matches the same value.

[2020-02-03 18:12] haircommander commented on #3181
Note: there's a distinction between CRI-O logs (logged by logrus) and container logs (container's std{out,err}. Changing the formatter for CRI-O's logs doesn't sound like what you want. What it seems like you want is https://github.com/containers/conmon/issues/37 as conmon is where logs are processed in CRI-O.

Also note: CRI-O has to use the current format of logging for the CRI (which we call `k

[2020-02-03 18:44] mrunalp commented on #3186
@akram Thanks for the report. We can fix that code to respect $HOME.

[2020-02-03 19:54] ganga1980 commented on #3181
Hi, @haircommander , thanks for looking into. yes, I am looking to container's std{out,err} format.  As I shared the sample container logs of the CRI-O, current format is unstructured and it cant be parsed and consumed any monitoring tools (like fluentD/fluentbit).   I couldnt find much information about what k8s-file format and how k8s parsing this format.  This will be greatly useful if the CRI-

[2020-02-03 20:01] haircommander commented on #3181
the format is actually called the cri logging format, and is parsed here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/logs/logs.go#L125-L169
it seems you are having similar feelings to whoever reported https://github.com/kubernetes/kubernetes/issues/70539

While adding the docker json format to cri-o is on my list of things to do, it is unfortunately not very high.

[2020-02-03 20:16] mrunalp commented on #3186
@akram I have opened https://github.com/cri-o/cri-o/pull/3193 as a fix.

[2020-02-03 20:24] ganga1980 commented on #3181
Hi, @haircommander , thanks for pointing to me parse CRILog function. As you know,  Container std{out,err} logs are very useful of monitoring info for troubleshooting container issues. Since there many monitoring tools out there which are built and have support for Docker JSON logs, and enabling the CRI-O for docker json format makes the monitoring tools and eco-system works seamless including k8s

[2020-02-03 20:35] haircommander commented on #3181
it is not that easy I'm afraid. The kubelet speaks CRI to CRI-O, and what you're asking for is a change to the CRI. that involves consensus in the CRI implementations, consensus in kubernetes SIG-node, and multiple versions to transition the feature of using JSON output to a feature to rely on.

Also, note the world of kubernetes is moving away from the docker shm to run containers. From my perspe

[2020-02-03 20:38] haircommander commented on #3181
CRI-O *could* implement a sidecar style logger, where it duplicates the logs in JSON format, without consensus from CRI and SIG-node, but again that's inefficient in runtime and in disk space, so I'm not personally compelled to implement it unless there is a serious need. PRs welcome as always though :smile:

[2020-02-03 21:24] ganga1980 commented on #3181
Hi, @haircommander ,
Here are the std {out;err} logs of few containers in CRI-O.  Any thing after P/F, is a log-line? Particularly format of log-line is arbitrary. what is the delimiter between standard fields (timestamp stdout/stderr partial/full-line log-line)?. is it tab separated?

[root@myocp42-pdqlw-worker-eastus2-thg2w containers]# head -5 alertmanager-main-0_openshift-monitoring_alertmanag

[2020-02-03 21:26] #3186 closed

[2020-02-03 21:26] haircommander commented on #3181
space separated, and yes everthing after the P or F is the log line

[2020-02-03 21:33] ganga1980 commented on #3181
Thanks.  Looks like fluent bit has the parser support for CRI-O log format which might unblock me. https://github.com/fluent/fluent-bit/issues/522. Testing this.

[2020-02-03 21:33] haircommander commented on #3181
excellent to hear!

[2020-02-04 00:11] rhatdan commented on #3180
With the new Podman APIV2, if we every get CRI-O and Libpod merged, it would be able to give good API Endpoints,  Sadly this seems far away.

[2020-02-04 00:44] ehashman commented on #3180
Is it possible to get this information via gRPC rather than HTTP?

[2020-02-04 00:53] ganga1980 commented on #3181
Verified parsing works with Fluentbit cri-o parser so I am good on this. I think, I can close this comment now.

[2020-02-04 00:53] #3181 closed

[2020-02-04 07:01] akram commented on #3186
thanks team for fixing this so fast.
I am just wondering based on this: https://github.com/cri-o/cri-o/pull/3193/files#diff-aab4c88107335f18845d9e317503a02dR770

Will cri-o use the last WORKDIR of the container or the HOME ?
cc @mrunalp

[2020-02-04 08:10] saschagrunert commented on #3180
Yes I think via [crictl](https://github.com/kubernetes-sigs/cri-tools).

[2020-02-04 10:20] saschagrunert commented on #3179
Alright I think it would make sense to specify an empty hooks dir option which is considered as _no hooks directories specified_. For that we have to change CRI-O and libpod as well. The first PR is available here: https://github.com/containers/libpod/pull/5078/files. The second one comes afterwards.

[2020-02-04 12:25] yboaron opened #3197 "Question: hostNetwork and uts namespace"
**Description**
I create (Kubernetes + cri-o) pod with host networking (i.e: 'hostNetwork: true' in pod's spec), and it seems that a new uts namespace being allocated for this pod.
Doesn't pod's with host networking should use host's uts namespace?
Thanks
Yossi

[2020-02-04 17:00] nalind commented on #3186
Going by https://github.com/cri-o/cri-o/blob/6fa039b4da9f4138605dacf6aace150ef97eb043/server/container_create.go#L284, if there is a `HOME` value in the environment list that is passed to the `setupContainerUser()` function, its value is used in preference to the image's working directory when creating the `/etc/passwd` entry for the user.  The PR makes sure that values from the images are in that

[2020-02-05 19:01] nalind commented on #3180
@ganga1980 https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1alpha2/api.proto, I think.

[2020-02-05 20:09] #3179 closed

[2020-02-06 08:14] akram commented on #3186
awesome, thanks, that would be perfect

[2020-02-06 21:17] matthias50 commented on #2833
Personally, I've resorted to getting the RPMs from the release directory under https://cbs.centos.org/kojifiles/packages/cri-o/. For example https://cbs.centos.org/kojifiles/packages/cri-o/1.15.2/1.el7/x86_64/cri-o-1.15.2-1.el7.x86_64.rpm. This is the "wrong" place to get them as they should be available on mirror.centos.org. I made a lot of effort to get these mirrored there and from what I under

[2020-02-06 22:34] amshinde commented on #2114
@mrunalp So we run the e2e tests nightly.
@chavafg Can you post the link to access the nightly build results?

[2020-02-06 23:19] chanseokoh commented on #2351
Because of this, I cannot install Tekton on Red Hat OpenShift:

[code]

[code]

[2020-02-07 00:23] chavafg commented on #2114
here you can see the nightly jobs running...

http://jenkins.katacontainers.io/job/kata-containers-crio-k8s-conformance-e2e/

we are currently skipping one [`Daemon Set`](https://github.com/kata-containers/tests/blob/master/integration/kubernetes/e2e_conformance/skipped_tests_e2e.yaml#L14) test because it requires a 2 node cluster and we are using only one.

[2020-02-08 08:51] medyagh opened #3232 "ubuntu 19.10 installation instructions doesn't work"
I did the follwoing : from the readme :
trying to add crio run-time to minikube's new container drivers ( docker and podman)

[code]

but the instructions in this old fork seems to work https://github.com/lsm5/cri-o/blob/4413a5ca776cec7d5ee4955b7c2c3f9c9d597032/README.md

[2020-02-08 17:19] everflux opened #3233 "cri-o 1.17.0 breaks ARM clusters"
After updating crio to 1.17.0 my arm cluster got broken, the essential pause image could no longer be pulled, pods do not start after the upgrade since the images are cross-build on amd64 for ARM64 resulting in an image that is in fact usable on arm64 but cri-o refuses to try.

Trying to pull manually:

[code]

From the logfiles

[code]

The general problem was reported in this issue https://githu

[2020-02-09 06:23] medyagh commented on #3232
@lsm5 do you know if this is broken ?

[2020-02-10 08:32] vrothberg commented on #3233
We should update containers/image to v5.2.0 which relaxes the the arch checks that were added with v5.1.0.

[2020-02-10 15:18] steadysupply commented on #3175
@giuseppe shall I shift this issue over to the conmon repo?

[2020-02-10 16:06] vbohinc opened #3242 "cri-o 1.17.0 redownloads images already present on system"
After system restart, crio 1.17.0 pulls images already present on system, this makes the cluster start a lot slower (and creates a lot of unnecessary network traffic). I'm still poking around to find some clues to why this is happening.

Brief info about my setup:
- OS: fedora 31 (multiple physical servers)
- crio: v.1.17.0
- k8s v1.17.2 (api datastore)

**Steps to reproduce the issue:**
1. upgrad

[2020-02-10 16:25] haircommander commented on #3242
this is intentional this happens from the crio wipe service, which clears containers and images from the system.

If you are using systemd, you can remove the line `Requires=crio-wipe.service` from your systemd unit file for crio to stop this from happening

[2020-02-10 16:27] haircommander commented on #3242
also note: this will only happen on a minor version (1.x.0) version bump. It is likely the control plane has updated between version bumps, and images wouldn't be deleted in a timely manner if not cleared like this. If you update between sub-minor versions (1.17.x), you won't see this behaviour

[2020-02-10 16:49] giuseppe commented on #3175
@steadysupply yes please

[2020-02-10 16:50] giuseppe commented on #3175
unfortunately I cannot Transfer the issue to another organization

[2020-02-10 17:35] vbohinc commented on #3242
O silly me, thank you for pointing this out to me, I just switched my spec file for packaging, will adjust the config.

[2020-02-10 17:35] #3242 closed

[2020-02-10 19:03] steadysupply commented on #3175
Done `:)`

[2020-02-10 23:38] mrunalp commented on #3175
@steadysupply Can you see if https://github.com/cri-o/cri-o/pull/3243 fixes it for you? :)

[2020-02-11 15:12] saschagrunert opened #3247 "Refactor server sources under new interfaces"
As discussed recently via Slack, the general idea would be to introduce new Interfaces to be able to reduce code complexity and be prepared for a possible migration to libpod. We can see the new interface as middle-layer between the gRPC API and the usage of underlying libraries.

Target is to discuss here if we want to go that way and roughly design the interface to be able to start with the impl

[2020-02-11 18:55] mrunalp commented on #3247
I think we should also add a `Create` for `Sandbox`. `Create` is where we setup everything and `Start` could be where we start a container or a vm or a no-op for pinned namespaces.

[2020-02-11 18:58] mrunalp commented on #3247
Also, the current runtime interface `RuntimeImpl` interface could be renamed to Container.

[2020-02-12 05:23] clee opened #3259 "Repeating kubelet errors with crio: Failed to create existing container"
**Description**

I have a baremetal Kubernetes 1.17.2 cluster, using crio with the ZFS graph driver for storage. I have one host using `crun` as the default runtime, and one using `runc` as the default. I have both crio and kubelet configured to use `systemd` as the cgroup driver.

**Steps to reproduce the issue:**

1. Use CRI-O on ZFS with Kubernetes
2. Watch kubelet logs

**Describe the results

[2020-02-12 06:36] thschue opened #3260 "No DNS resolution with K8s 1.17/1.18 (alpha)"
**Description**
On K8s 1.17/1.18(alpha) pods on nodes with CRI-O 1.15(ppa) and 1.16(obs) are not able to resolve names.  The same setup works with e.g. K8s 1.16 and CRI-O 1.15. The networking plugin is flannel and works on the same cluster with docker/containerd.

**Steps to reproduce the issue:**
1. Install kubernetes 1.17 (apt-repo) or 1.18 (github)
2. Install CRI-O (1.15 or 1.16)
3. Schedule Po

[2020-02-12 10:15] saschagrunert commented on #3247
Alright, I added `Create()` to the Sandbox as well.

[2020-02-12 10:57] #1879 closed

[2020-02-12 11:50] saschagrunert commented on #3247
I tried to nail down the Sandbox/Creator interface in a first PR: https://github.com/cri-o/cri-o/pull/3261

[2020-02-13 02:09] mrunalp commented on #3259
@nalind ptal.

[2020-02-14 00:37] nalind commented on #3259
It looks the error is that we expect the container's control groups to have a path that doesn't match what's actually happening on the system - CRI-O's looking for `/sys/fs/cgroup/cpu/kubepods-burstable-podc83c5351_54dc_4615_bc17_f356749db365.slice` for a container with ID bdb2c5262c638322449f0ca38ba8c9ec36f6aa96089a1c285843605ae7391ad6`, for example, when the path for the cpu controller for the p

[2020-02-14 01:08] mrunalp commented on #3259
@clee Are crio and kubelet both configured to use the same cgroup driver. We prefer `systemd` as the cgroup driver. Also, I would first test with runc as a sanity test.

[2020-02-14 01:22] clee commented on #3259
From my description:

[2020-02-15 14:57] everflux commented on #1784
Same problem here, running on ARM Linux and using crio 16.1
This seems to only be caused by images build with Jib, at least I could not reproduce it with a docker based build.
Changing the output format of jib between Docker and OCI does not seem to have an effect.

Sometimes the node even crashes when pulling/mounting the image. File system check does not reveal any problems.

[2020-02-16 11:59] skycastlelily2 opened #3293 "crio unable to create container for k8s pod"
**Description**
I set up k18s on fedora30, then join the node on a  f31 system with cgroupv1(and docker)
then I change the runtime to crio,and try to create a pod to the f31 node,but failed
here is the yaml I used to create the k18s pod
apiVersion: v1
kind: Pod
metadata:
  name: memory-demot4
  namespace: mem-example
spec:
  nodeSelector:
    type: testEndNode1
  containers:
  - name: memory-demo-

[2020-02-16 12:00] skycastlelily2 commented on #3293
forget to put the information,both the master and the f31 node are:
crio version 1.17.0

[2020-02-16 13:47] haircommander commented on #3293
What cgroup manager are you using for kubelet, and does it match CRI-O's?

[2020-02-17 10:21] chrstnwhlrt opened #3294 "arm64/armv7l | cri-o 17.xx | debian/ubuntu"
Building / packaging cri-o v17.xx for arm64/armv7l failes for debian and ubuntu:

[code]

Same issue appears with the OBS build jobs: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/cri-o-1.17

[2020-02-17 12:23] skycastlelily2 commented on #3293
hi, I set kubelet's cgroup manager(driver) to systemd, which matchs CRI-O's

[2020-02-17 12:24] saschagrunert commented on #3293
Hey @skycastlelily2, which kind of CNI plugin do you use and what is the content of `/etc/cni/net.d/*` before creating the workload?

[2020-02-17 12:28] skycastlelily2 commented on #3293
HI,
flannel,
[root@dell-per6415-04 ~]# cat /etc/cni/net.d/10-flannel.conflist
{
  "cniVersion": "0.2.0",
  "name": "cbr0",
  "plugins": [
    {
      "type": "flannel",
      "delegate": {
        "hairpinMode": true,
        "isDefaultGateway": true
      }
    },
    {
      "type": "portmap",
      "capabilities": {
        "portMappings": true
      }
    }
  ]
}
[root@dell-per6415-04 ~]# cat

[2020-02-17 12:30] saschagrunert commented on #3293
Can you please try to set the `"cniVersion": "0.2.0",` to `"cniVersion": "0.3.1",`, restart CRI-O and test again if the workload creation succeeds?

[2020-02-17 12:49] skycastlelily2 commented on #3293
Hi,
doesn't work,still the same error.
FYI,there are two pods on that node,one is memory-demoty I create when
docker is the runtime,
then I stop docker and use crio instead,crio create the pod successfully,
but when I try to kubeadm apply -f yaml to create pod with crio runtime,the
status is always
ContainerCreating.
root@dell-pem905-01 lnie]# kubectl get pods --namespace=mem-example
NAME

[2020-02-17 14:44] skycastlelily2 opened #3295 "crio failed to create k8s cluster with systemd as the cgroup manager"
**Description**
On Fedora30(or fedora31 with cgroupv1),I try  to set up k8s use kubeadm  and set the runtime to crio before kubeadm init
But it always failed:
 node "dell-pe-fm120-2b.dell2.lab.eng.bos.redhat.com" not found
remote_runtime.go:105] RunPodSandbox from runtime service failed: rpc error: code = Unknown desc = cri-o configured with systemd cgroup manager, but did not receive slice as  pa

[2020-02-17 15:27] haircommander commented on #3295
CRI-O by default uses the systemd cgroup manager, which is incompatible with kubelet's default cgroupfs.

You either need to change the kubelet default (described [here](https://github.com/cri-o/cri-o/blob/master/tutorials/kubeadm.md)) or change cri-o to use cgroupfs via command line or crio.conf

[2020-02-18 02:57] skycastlelily2 commented on #3295
I  do have changed the kubelet's cgroup driver to systemd

[2020-02-18 03:25] skycastlelily2 commented on #3295
I have tried to change  cri-o's cgroup manager to cgroupfs,still doesn't work

[2020-02-18 16:00] steadysupply commented on #3175
Ah, looks cool, thanks!

I'm afraid I've migrated to containerd for now (at least it's not a full-on Docker install!) and don't immediately have time to go back and test.

Happy to see this issue closed, but I'll leave that to you guys `:)`

[2020-02-18 16:22] nalind commented on #3259
@haircommander this looks a lot like #3295 to me.

[2020-02-18 20:14] #3175 closed

[2020-02-19 02:23] skycastlelily2 opened #3301 "crio did not receive slice as parent"
**Description**
Hi,tried to run integration test on fedora31 which have cgroup v2 as default

run "crictl runp  sandbox_config.json"
get error:
FATA[0003] run pod sandbox failed: rpc error: code = Unknown desc = cri-o configured with systemd cgroup manager, but did not receive slice as parent: /Burstable/pod_123-456

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:*

[2020-02-19 10:31] ghglza opened #3302 "cri-o v1.17.0 refuses to remove images though associated container is gone (leads to kubelet Disk Pressure failure condition)"
**cri-o refuses to remove an image due to it being in use though there is no container process running using it**

**Steps to reproduce the issue:**
1. Run k8s w/ cri-o as runtime for some time
2. Try to remove unused images, either by kubelet housekeeping or manually:
[code]
3.  But, the container processes reported by cri-o to use the image doesn't exist!
[code]

**Describe the results you recei

[2020-02-19 13:58] chrstnwhlrt opened #3304 "arm64 builds for the current ubuntu 18.04 LTS"
It might be a feature request but is it possible to add **arm64/armv7l** targets to the build service https://build.opensuse.org/project/repository_state/devel:kubic:libcontainers:stable/xUbuntu_18.04 for Ubuntu 18.04? Ubuntu 18.04 still ships with **GLIBC 2.27-3** which makes other debian compatible build for arm incompatible to it.

[2020-02-19 23:00] mrunalp commented on #3302
@ghglza Can you try listing containers using `crictl ps -a` to make sure if it is gone or not?

[2020-02-20 01:26] skycastlelily2 commented on #3301
I have changed the cgroup driver  to systemd,and it doen't work.
And I see there are complaints in  #896   Could we have this fixed?Most of the  inegration test  fail due to this error which will hind the potential other errors.Thanks

[2020-02-20 08:11] giuseppe commented on #3301
are you using crun as the OCI runtime?

[2020-02-20 10:39] ghglza commented on #3302
@mrunalp Yes we tried that, too -- the container reported by "crictl rmi" as using the image was definitively gone.
We had also cases where we had removed the k8s installation ("kubeadm reset") completely, so there was absolutely no container running -- and yet crictl refused to remove some of the images (e.g. for the kube-router CNI plugin) in the local store

[2020-02-21 04:30] skycastlelily2 commented on #3301
nope,the default one is runc,right?I didn't change it

[2020-02-21 05:47] haircommander commented on #3301
A possibility here is that `/Burstable/123-abc` (provided by the config.json you gave to crictl) is configured for cgroupfs, not systemd. I think the passed cgroup has to end with .slice to work with systemd cgroups.

[2020-02-21 05:49] haircommander commented on #3301
I remember you answered a question like this in the past @umohnani8, can you verify my answer is correct?

[2020-02-21 14:54] umohnani8 commented on #3301
Yup, what @haircommander said is right. You need to change the `cgroup_parent` field in the sandbox config to be something like `podabc.slice`.

[2020-02-22 02:18] skycastlelily2 commented on #3301
But,that sandbox config is from the integration test cases,dose this mean
the testcases need update? I see this with make localintegration
command,and most of the testcases failed

On Fri, Feb 21, 2020 at 10:54 PM Urvashi Mohnani <notifications@github.com>
wrote:

[2020-02-22 05:23] medyagh commented on #3232
Any chance I could get help for installing crio on Ubuntu 19.10?

This is a blocker to add crio runtime for minikube's docker driver

[2020-02-22 22:10] medyagh commented on #3232
I was finally able to install crio on ubuntu using opensuse repo, anyone curios checkout this PR in minikube https://github.com/kubernetes/minikube/pull/6756

[2020-02-23 20:15] marshallford commented on #1767
I'm running into the same issue with Ubuntu 18.04 and cri-o 1.17:
[code]

[code]

[2020-02-24 03:17] skycastlelily2 opened #3311 "rm: cannot remove '/tmp/tmp.syQYUNncNo/crio-run/vfs-containers/xxxx/userdata/shm': Device or resource busy"
**Description**
make integration TESTFLAGS="image.bats" on fedora  ,most of the test failed with:
rm: cannot remove '/tmp/tmp.syQYUNncNo/crio-run/vfs-containers/xxxx/userdata/shm': Device or resource busy

with make localintegration ,most of the test will fail due to #3301

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

*

[2020-02-24 08:20] #3293 closed

[2020-02-24 08:34] skycastlelily2 commented on #3293
Closing this,as it seems work now,I was trying with crun as the runtime to see if it will make any difference,as in another case,crun support cgroupv2 but runc doesn't,then I found crun works,and then I changed it back to runc,works now,sorry for the noise. #3295 still there.

[2020-02-24 13:07] thschue commented on #3260
Seems that this is an issue in combination with flannel. After switching to calico, DNS resolution works. Both (calico/flannel) were installed with default settings as described in the documentation.

[2020-02-24 14:54] haircommander commented on #3301
yeah, that test suite tests cgroupfs at the moment. I agree we should move to systemd cgroups for the integration tests (or test both) to be better reflective of the advocated defaults

[2020-02-24 15:04] haircommander commented on #3304
PTAL @lsm5

[2020-02-24 15:10] lsm5 commented on #3304
@chrstnwhlrt the build envs for ubuntu 18.04 and 19.04 on OBS aren't correctly setup to fetch the required dependencies and fixing that isn't high enough priority for the OBS folks. But 19.10 has arm64 builds available and I'm guessing once 20.04 is out, it'll have those too. So, I'm hoping you can wait a month or so for the new LTS (assuming OBS enables it around the same time).

[2020-02-24 15:19] haircommander commented on #3295
if both the cgroup managers are set to cgroupfs, does it report the same error?

[2020-02-25 07:19] skycastlelily2 commented on #3295
Hi,after I changed both of them to cgroupfs,I'm able to create k8s cluster.Turns out systemd is default for both  k8s and docker now,I thought cgroupfs is the default one.

[2020-02-25 07:23] skycastlelily2 commented on #3301
Can't agree more, as both k8s and openshift's cgroup driver are systemd now.Would you please work on modifying the integration tests?Thanks a lot.

[2020-02-25 09:18] saschagrunert commented on #2979
Hey @mythi, I'm working on a fix for this in #3320 and #3321

[2020-02-25 12:05] mythi commented on #2979
@saschagrunert thanks!

[2020-02-26 09:34] manicole commented on #1767
Same issue here on CentOS7, installing cluster using Kubespray v2.12.1, using cri-o v1.14.11-1.el7.

[code]

[code]

[code]

_/usr/bin/runc_ exists, thanks to runtime path being specified in the playbook (in _./roles/container-engine/cri-o/templates/crio.conf.j2_) :
[code]

Any clue of what could be the problem ... ?
Thanks

[2020-02-26 12:53] megastef commented on #3181
Please note @sematext Logagent has support for CRI-O log format as well: https://sematext.com/docs/logagent/installation-docker/#kubernetes-with-containerd-and-ibm-cloud

Plugin docs: https://sematext.com/docs/logagent/input-filter-containerd/

[2020-02-26 13:52] haircommander commented on #1767
@manicole what is the rest of this line:
`Feb 26 08:59:01 master crio[2716]: time="2020-02-26 08:59:01.990665351Z" level=fatal msg="decoding secc`
in the journal logs? I would guess that's the issue

[2020-02-26 13:54] haircommander commented on #1767
by the way, we've deprecated the projectatomic ppa, and now are moving our packaging efforts to openSUSE's OBS Kubic repo:
https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

[2020-02-26 16:14] manicole commented on #1767
Good guess :
[code]

My seccomp is :
[code]
which is apparently valid (checked via internet tools).
Thanks !

[2020-02-26 16:32] haircommander commented on #1767
sorry, it's unclear, does that mean it's still not working or it works now?

[2020-02-26 16:33] haircommander commented on #1767
also, what's the value of seccomp_profile in /etc/crio/crio.conf?

[2020-02-26 16:33] haircommander commented on #3311
hmm we should really be using overlayfs for the tests.

you may need to run the tests as sudo

[2020-02-26 17:05] saschagrunert commented on #3311
We can use overlay, the tests run on a native Ubuntu machine in CircleCI. :)

[2020-02-26 17:14] manicole commented on #1767
It doesn't work.

[2020-02-26 20:29] haircommander commented on #3301
PR here https://github.com/cri-o/cri-o/pull/3333

[2020-02-27 02:19] skycastlelily2 commented on #3301
Thanks for your help

On Thu, Feb 27, 2020 at 4:29 AM Peter Hunt <notifications@github.com> wrote:

[2020-02-27 03:26] skycastlelily2 commented on #3311
Hi,I ran the integration test with root.
I have modified the makefile : -e STORAGE_OPTIONS="-s=overlay" and retested just now,
got the following error:
time="2020-02-27T02:44:56Z" level=error msg="error opening storage: 'overlay' is not supported over overlayfs, a mount_program is required: backing file system is unsupported for this graph driver"^M
# time="2020-02-27T02:44:58Z" level=fatal msg="f

[2020-02-27 09:49] saschagrunert commented on #3311
The tests are already running on overlay in our CI :thinking:

[2020-02-27 11:17] manicole commented on #1767
I investigated further thanks to your explanation.

It wasn't working at first, then I checked the seccomp_profile value in _roles/container-engine/cri-o/templates/crio.conf.j2_ :
[code]
which led me to check _/usr/share/defaults/crio/seccomp.json_ and I realized the file was missing on one of my node. I created it and it seems to work now.

[2020-02-27 21:33] chavafg opened #3338 "ctr.bats tests failing when running under debian"
**Description**

When running the `ctr.bats` tests on Debian 10, I see that tests fail when stopping the pods. I see an error while deleting network because if an `iptables` issue.

[code]

The issue was first reproduced with kata-containers runtime, but then I could reproduce it using runc.

I bisected the issue and it seems that with this patch, it started to fail: https://github.com/cri-o/cri-o

[2020-02-27 21:45] haircommander commented on #3338
what's the iptables version? I didn't get a chance to look today, hopefully tomorrow (I don't have an available debian 10 installation so that's gonna take a bit)

[2020-02-27 21:58] chavafg commented on #3338
[code]

[2020-02-28 03:09] wiwats2019 opened #3339 "cri-o v 1.14.11-0 CRI log race condition"
**Description**
cri-o v 1.14.11-0 CRI log race condition

**Steps to reproduce the issue:**
1.  Run 1 pods 1 container in 2 theard
2.  2 theard write log at concurrent

**Describe the results you received:**
The cri-o write log in /var/log/containers/pod_name.log in race condition
when cri-o  write "P" in partial flag for split log into multiple lines

**sample log**
2020-02-27T08:01:22.949039232+

[2020-02-28 05:12] mrunalp commented on #3294
@saschagrunert could you take a look?

[2020-02-28 05:14] mrunalp commented on #3232
Thanks for fixing this in minikube!

[2020-02-28 08:39] skycastlelily2 commented on #3311
And you didn't see this error?If so,maybe the CI is running on Ubuntu,while I'm running the test on Fedora,is the reason?
BTW, the current makefile has STORAGE_OPTIONS="-s=vfs" not  STORAGE_OPTIONS="-s=overlay",would you please tell me how the CI run the integration test on overlay?

[2020-02-28 08:39] skycastlelily2 commented on #3311
And you didn't see this error?If so,maybe the CI is running on Ubuntu,while I'm running the test on Fedora,is the reason?
BTW, the current makefile has STORAGE_OPTIONS="-s=vfs" not STORAGE_OPTIONS="-s=overlay",would you please tell me how the CI run the integration test on overlay?

[2020-02-28 09:55] saschagrunert commented on #3294
@lsm5 how are these packages built? :thinking:

I would assume that there is no further strip needed for the binary since it is already stripped via `-ldflags '-s -w …'`.

[2020-02-28 10:09] rhafer commented on #3294
It seems to me the issue is, that the `cri-o-1.17_1.17.0-3.tar.gz` (not sure where that is coming from and how it is generated) already contains `bin/crio-status` as a x86_64 binary.

[code]

 `strip` on arm of course doesn't now what to do with that.

[2020-03-02 11:58] chrstnwhlrt commented on #3304
@lsm5 I managed to build cri-o myself natively using your build instructions and it seems to run as expected using cri-o 1.17 with kubernetes 1.17. Is there any intended way to create a DEB package using the Makefile?

[2020-03-02 13:46] lsm5 commented on #3304
@chrstnwhlrt don't have a Makefile target (patches welcome), but you can fetch the deb sources from the `debian-` branches at https://gitlab.com/rhcontainerbot/cri-o/ and then `dpkg-buildpackage -us -uc`

[2020-03-03 10:09] jdanekrh commented on #2739
The tutorial looks fine now on second (or maybe third) reading.

When I saw it the first time though, I completely failed to realize that I want to make change to cri-o config. I read the "it is good to change" paragraph and just went on, without acting on it. I also did not set the kubelet options. I somehow completely skipped that section. Afaik I did not have any problems due to that, at least

[2020-03-03 13:40] skraga commented on #2584
Hi,
we're experiencing this or very similar issue on a special node group where we run a batch (temporary) workload. Pods are being continuously created/deleted on them.
crio: version 1.15.2-1.el7
kernel: 3.10.0-1062.12.1.el7.x86_64
OS: CentOS Linux release 7.7.1908 (Core)

It causes these nodes to continuously flap (Ready/NotReady) by PLEG.

[2020-03-03 14:14] chrstnwhlrt commented on #3304
@lsm5 Are there any differences between the release-1.17 branch in github and the gitlab debian-stable-1.17 branch? I copied the debian directory from the gitlab branch into the release-1.17 branch of github (which I managed to build natively on arm64) and the packaging failed. Using the gitlab debian-stable-1.17 branch for building and packaging failed as well. Both methods seem to expect the go

[2020-03-03 14:58] lsm5 commented on #3304
@chrstnwhlrt yes, the `debian/` dir is the only addition in the debian- branches. I tried upstreaming the debian packaging for other tools sometime back, but I wasn't sure how to deal with changelogs, and the other reason being upstreaming could cause conflicts with the packaging sources maintained by official debian maintainers (if any).

[2020-03-03 15:02] lsm5 commented on #3304
@chrstnwhlrt I'd rather not handle upstreaming at this point myself, but in case you're willing to get that done, go right ahead :)

I'm aware people are looking to get the Fedora spec files upstreamed too, so this could be a good addition on the debian side.

/cc @mrunalp @dougsland

[2020-03-03 15:18] chrstnwhlrt commented on #3304
@lsm5 Okay if I get this right the /debian directory is the only addition to the release branch from github? Which branch is used for the OBS?

[2020-03-03 15:27] lsm5 commented on #3304
In the debian forks, I also added a `crio.conf.prebuilt` in the main cri-o dir as it was much easier to just use it than generate one at package build time. But everything else is in the `debian` dir.

The `debian-stable-` branches are used for the OBS stable repo https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable while `debian-testing-` branches are for the OBS testing repo

[2020-03-03 16:28] chrstnwhlrt commented on #3304
Thank you for clearing that up, maybe we should add packaging instructions to the build instructions? It's quite straight forward to package as deb with the prebuilt file, fixing the OBS configuration should be easy - or am I missing something?

[2020-03-03 16:57] lsm5 commented on #3304
Umm, so `crio.conf.prebuilt` ends up being `crio.conf` and doesn't really affect debian packaging or OBS config.

RE: adding packaging instructions, sure that could be useful for people looking to build on distro/arches that OBS can't support ATM. Could you please submit a PR?

[2020-03-03 20:57] haircommander commented on #2584
@skraga I am unsure this should go with this issue (as this is resolved in 1.15.2 I think)

However, can you try upgrading to 1.15.3? If it still happens, can you open a new issue to track?

[2020-03-04 22:06] lsm5 commented on #3294
I built `1.17.0-6` on OBS testing repo, https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.17 . Disabled dh_strip along with a couple other dh_ commands. Packaging rules are at https://gitlab.com/rhcontainerbot/cri-o/-/blob/debian-testing-1.17/debian/rules . Lemme know how the build works for you.

[2020-03-04 22:07] lsm5 commented on #3294
If this looks good, I'll replicate for the stable repo as well.

[2020-03-05 08:17] rhafer commented on #3294
@lsm5 The tarball in that  https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.17 still contains the x86_64 crio-status binary. Because of that the `make` command won't rebuild the crio-status for arm. (Which will now, that you removed the strip command, probably go unnoticed. But still result in a broken package for arm, and also result in something that you don't ac

[2020-03-05 13:44] brunswyck commented on #1767
No you won't, I used that repo and still had to create the link on ubuntu 18.04
`sudo ln -s /usr/lib/cri-o-runc/sbin/runc /usr/bin/runc`

[2020-03-05 13:54] lsm5 commented on #1767
@haircommander remind me, what's the right place to set runc path?

The crio.conf I install has:

[code]

[2020-03-05 14:24] haircommander commented on #1767
by default, we read runc from $PATH now, so I'd recommend setting runtime_path to empty, and installing it there.

[2020-03-05 14:30] saschagrunert commented on #1767
Yes, I would also say let's install runc in `/usr/sbin`.

[2020-03-05 14:36] lsm5 commented on #1767
the problem with that is it will then conflict with debian/ubuntu's own runc which people have complained about in the past. So, if the distro's runc is good enough (I've also heard of issues where it was too old), I can just get rid of the cri-o-runc package.

[2020-03-05 15:09] haircommander commented on #1767
what verification exists in the obs pipeline? I'm fine with it if some tests are run to verify that'll work. If that doesn't work, we can ship in `/usr/lib/cri-o-runc/sbin/runc` and then override the runtime_path to that.

[2020-03-05 15:57] AkihiroSuda opened #3360 "Can't start without `runc` binary"
**Description**

CRI-O can't start up without `runc` binary, even if there is no runtime handler for runc.

**Steps to reproduce the issue:**
Start CRI-O with the following config, and without `runc` binary in the `$PATH`:

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Should start up

**Additional information you deem important (e.g. issue happens o

[2020-03-05 16:05] saschagrunert commented on #3360
Yeah thanks for the report, I can work on a fix :+1:

[2020-03-05 16:06] lsm5 commented on #1767
@haircommander Nothing so far. Maybe I can change the debian packaging rules to run tests. Could you suggest any good tests for this?

[2020-03-05 16:09] haircommander commented on #1767
at the very least the integration tests (`make integration`) would hopefully catch any egregious regressions. Ideally we'd run the whole e2e, but that's a lot of set up.

[2020-03-05 16:10] lsm5 commented on #1767
cool, i'll try this later today and report back.

[2020-03-05 22:01] #2979 closed

[2020-03-06 22:06] #3360 closed

[2020-03-07 07:40] han-so1omon commented on #3130
To add to this, the command `make test-image-nix` produces a build error for me on Centos8

[2020-03-07 12:18] lsm5 commented on #3294
@rhafer seems like there was leftover `bin/crio-status` which wasn't getting cleaned up before tarball generation. Should be fixed in `1.17.0-10` https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.17 . PTAL and sorry about the lag.

[2020-03-07 12:55] lsm5 commented on #1767
I figured I'd just use distro's runc as the default dep and have cri-o-runc as the second choice. I'll add tests later when I have fewer distractions. But hope this is good enough for now.

Changes are in the testing repo for now. https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.17 . If this looks ok, I'll change the stable repo too. PTAL.

[2020-03-07 22:57] dougsland commented on #3295
@skycastlelily2 if everything works great. Could you please close this issue?

[2020-03-10 02:34] #2351 closed

[2020-03-10 02:50] skycastlelily2 commented on #3295
Hi, now the issue is crio failed to create k8s cluster with systemd cgroup manager,which is default on k8s and crio itself

[2020-03-10 09:59] maxandersen commented on #2351
woohoo! thanks!

[2020-03-10 17:42] dougsland commented on #3295
@skycastlelily2
What's the error message? What's the steps to reproduce?
The same happens if you use a testing tool (kube-local) from this tree: https://github.com/dougsland/cri-o/tree/kube-local/contrib/kube-local

[2020-03-11 14:32] saschagrunert commented on #2848
Thanks for the feedback, we added it to the release bundle and static build. Closing this now feel free to reopen if you encounter another bug.

[2020-03-11 14:32] #2848 closed

[2020-03-15 02:49] skycastlelily2 commented on #3295
HI,
the steps are:
follow the https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ to install the packages,then add  KUBELET_KUBEADM_ARGS="--container-runtime=remote --container-runtime-endpoint=/var/run/crio/crio.sock"
to /var/lib/kubelet/kubeadm-flags.env,and try to create cluster with  kubeadm init --pod-network-cidr=10.244.0.0/16.
The error message is:
Mar 14

[2020-03-15 08:46] dougsland commented on #3295
@skycastlelily2 Thanks for your feedback. Could please update your git tree for kube-local or re-clone the repo? I just updated the code to improve support to centos.

Additionally, going to double check the steps your provided.

[2020-03-15 15:52] dougsland commented on #3130
I remember to see a patch get merged referencing such issue. Could you please re-try? I think it deserve a unique issue opened for this report to avoid mix a bunch of errors in a single report (CentOS8).

[2020-03-16 08:17] skycastlelily2 commented on #3295
Hi,I was using f31 (with cgroup reverted to v1)to give the feedback,as I remembered  the message is the same and I didn't have a f30 test machine,I just checked on f30,yes,the same.

Here is the new output of kube-local:

[root@dell-per300-01 kube-local]# ./kube-local  --autoinstall         --command examples/script --run-service-once --output /tmp/output.kube-local."$(date +"%Y_%m_%d_%I_%M_%p")".

[2020-03-16 09:36] dougsland commented on #3295
Hi @skycastlelily2 ,

Thanks for the feedback. This error doesn't seem related to the tool. It seems more about building the kubernetes source code. My only suggestion at this point is re-run the tool. What's the amount of CPU/RAM available? Is it a Virtual Machine?

[2020-03-16 13:13] skycastlelily2 commented on #3295
Nope, physical machine
[root@dell-per300-01 ~]# free -h
              total        used        free      shared  buff/cache
available
Mem:          5.8Gi       346Mi       3.0Gi       0.0Ki       2.4Gi
5.2Gi
Swap:            0B          0B          0B

[root@dell-per300-01 ~]# cat /proc/cpuinfo
processor : 0
vendor_id : GenuineIntel
cpu family : 6
model : 23
model name : Intel(R) Xeon(R) CPU

[2020-03-17 09:42] dougsland commented on #3295
@skycastlelily2 looks like you have small amount of RAM.  I would suggest: try again the build and see if it builds the project or increase the RAM. It seems similar to: https://github.com/kubernetes/kubernetes/issues/65481

[2020-03-18 01:21] skycastlelily2 commented on #3179
Hi, really sorry for the so delay response,but commit 3203 seems doesn't work.
make and make install in cri-o directory, then run /bin/crio,still failed with the same error

[root@dell-pe-fm120-2b cri-o]# /bin/crio
FATA[2020-03-17 21:11:10.250037360-04:00] runtime config: invalid hooks_dir: stat /usr/share/containers/oci/hooks.d: no such file or directory: stat /usr/share/containers/oci/hooks.d: n

[2020-03-18 02:38] skycastlelily2 commented on #3179
I should run /usr/local/bin/crio,sorry for the noise, and thanks for your fix.

[2020-03-18 07:37] skycastlelily2 commented on #3295
Hi, I run the command on a system with 15G RAM
[root@dell-pe-fm120-1b kube-local]# free -h
              total        used        free      shared  buff/cache   available
Mem:           15Gi       218Mi        14Gi       0.0Ki       1.3Gi        15Gi
Swap:         7.9Gi          0B       7.9Gi

[root@dell-pe-fm120-1b kube-local]#  ./kube-local --autoinstall --command examples/script --run-service-

[2020-03-18 11:36] dougsland commented on #3295
@skycastlelily2 looks like https://github.com/kubernetes/kubernetes/issues/62577
Just curious, do you have rsync installed in the system?
My suggestion: kube-local -u (remove all files) and try again to build. It's not related to the tool. Please let us know the result.

[2020-03-18 11:45] saschagrunert commented on #3247
Closing this since I guess we're on a good track.

[2020-03-18 11:45] #3247 closed

[2020-03-18 11:55] saschagrunert opened #3418 "External plugin mechanism"
I was playing around with the new `Sandbox` and `Container` interface in `pkg` with having the knowledge of https://github.com/cri-o/cri-o/issues/2255 in mind. So I did a little test and think we could build-up a plugin system on top of both interfaces.

I prepared  a test repo (https://github.com/saschagrunert/plugin), which bulids a shared object (plugin.so via `go build -buildmode=plugin`) from

[2020-03-18 12:57] haircommander commented on #3179
thanks for testing!

[2020-03-18 13:02] haircommander commented on #3418
it would be awesome to encapsulate the kata logic within the interface and finally solve https://github.com/cri-o/cri-o/issues/2255 with it

how much runtime overhead would this be? would we load the .so everytime we run the sandbox? would there be a way of loading it at program startup and having a map of possible sandbox types to build from a factory function, reducing this runtime overhead?

[2020-03-18 13:05] saschagrunert commented on #3418
I think so yes, on CRI-O server startup we could load all runtime plugins at once and select them based on the configuration. This way we would have no overhead during runtime, only on startup.

[2020-03-18 13:12] haircommander commented on #3418
SGTM this is a great idea. It would also be great to develop the libpod integration out of tree

[2020-03-18 17:07] rhafer commented on #3338
I think this should be fixed with https://github.com/coreos/go-iptables/pull/74, workaround would be to use iptables in legacy mode on your test machine.

[2020-03-18 19:20] rhatdan commented on #3418
I like this idea as well.
@mrunalp @baude @mheon WDYT?

[2020-03-19 08:45] harche commented on #3418
Someone tried to use go plugins had commented on [this reddit thread](https://www.reddit.com/r/golang/comments/b6h8qq/is_anyone_actually_using_go_plugins/ejkxd2k/).

[2020-03-19 09:55] saschagrunert commented on #3418
Hm, I'm wondering what alternatives we would have… :thinking:

[2020-03-19 10:00] rhatdan commented on #3418
Well that is a real damper on plugins.

[2020-03-19 10:12] harche commented on #3418
Here is how containerd does it, https://github.com/containerd/containerd/blob/master/PLUGINS.md

Check out the section, `External Plugins`. They either execute a plugin binary or communicate with a plugin service, if you will, via gRPC. But this is much loose coupling between the main code and plugin than what's suggested here in this issue.

[2020-03-19 10:24] harche commented on #3418
Another good example I can quote is containerd's stream API, https://github.com/containerd/containerd/blob/master/docs/stream_processors.md

Initially we had coded the image encryption/decryption directly in the diff plugin of the containerd. But later they moved functionality doing operations on the layers to streaming API. Because of this the main containerd code doesn't have any logic of image

[2020-03-19 10:34] saschagrunert commented on #3418
The exchangeable `runtime-handler` is already kind of a binary-based plugin mechanism, so I think we have to be careful to not overlap features here.

I think the question would be: What should CRI-O still do what the plugin does not do? (aka: What should CRI-O do what libpod later would not do?)

Probably:
- serving the CRI gRPC interface
- providing metrics
- providing a sane configuration
- ens

[2020-03-19 12:28] vrothberg commented on #3418
What are the use cases for plugins? Who's the audience? Plugins can quickly yield maintenance issues; RHEL or SLES kernels are not supported with custom kernel modules for that reason.

[2020-03-20 13:25] haircommander commented on #1991
it was requested this was reopened in slack

[2020-03-20 17:01] robszumski opened #3437 "cri-o + kubelet can't start containers due to veth mac mismatch"
**Description**

When running the kubelet + cri-o in "standalone" mode, aka no control plane, I see what looks like a race condition on Pod startup, with it frequently complaining that the veth mac address doesn't match the expected value.

`remote_runtime.go:105] RunPodSandbox from runtime service failed: rpc error: code = Unknown desc = failed to get network status for pod sandbox k8s_nginx-comb

[2020-03-20 17:37] haircommander commented on #3437
@mccv1r0 does anything poke out to you?

[2020-03-21 02:52] gattytto commented on #1991
@haircommander thank you very much, this is because kata-containers can be passed an argument to choose a different config file so it would be nice to have "runtime_params " as another option to add in crio.conf for [runtime.runtimes.runtimeName]

Also trying to start a gVisor container from tekton using the following runtime in crio.conf fails for the pods to be frozen in a state of "containercre

[2020-03-23 17:19] saschagrunert opened #3454 "New Community Meeting Time"
I think it would be good if we could agree on a new community meeting time slot. This way we could sync our work and streamline our efforts in the project.

From my (CET) perspective, I’m open to choose any time from Monday-Thursday 8am-6pm.

What do you think? What would be your expectations from such a meeting (agenda)?

[2020-03-23 17:26] haircommander commented on #3454
[Here's](https://www.when2meet.com/?8916284-E3Jpt) a when2meet (based in eastern time). I choose between 4pm and 6pm central time Monday-Friday as the first list of options

[2020-03-23 19:52] tanweernoor opened #3455 "CRI-O: PLEG/ Node NotReady issue due to longer terminationGracePeriodSeconds in pods"
**Description**
CRIO- PLEG/ Node NotReady issue due to longer terminationGracePeriodSeconds in pods

We met the scenario where we have two containers in a pod, when the pod lands to Termination state, one container goes to Exited state (container terminated) and another one is Running due to the nature of job ( Please see sample POD yaml ). we noticed that the the latter container stays in "Runnin

[2020-03-23 21:20] mrunalp commented on #3455
@kolyshkin ptal.

[2020-03-24 01:29] tanweernoor commented on #3455
thanks guys, this is fixing the problem!!

[2020-03-24 02:08] #3455 closed

[2020-03-24 09:58] vrothberg commented on #3454
Something more EU friendly would be great. I'd love to hangout in the meetings :+1:

[2020-03-24 14:59] mccv1r0 commented on #3437
No.  Everything CNI checks for a container on bridge should be created atomically.  This message looks like cniCheck doesn't find veth mac at all, so it doesn't match what was cached after cniAdd was successful.   Do we know CNI is supplied the sb/network-namespace (or that the ns exists still?)

[2020-03-24 17:41] robszumski commented on #3437
I am happy to try to verify that if you can tell me what to look for

[2020-03-24 17:50] #2121 closed

[2020-03-26 08:21] harche commented on #3180
@ganga1980 if you are using golang, you can use the following links for reference to learn to how initialize the client,

[list containers](https://github.com/kubernetes-sigs/cri-tools/blob/master/cmd/crictl/container.go#L282)

[list images](https://github.com/kubernetes-sigs/cri-tools/blob/master/cmd/crictl/image.go#L140)

[2020-03-26 09:26] pennycheng2018 commented on #1600
Dear  thomaslees,
I meet the same problem after issuing "make install". How do you solve it?  Very appreciated for your help!
Makefile:152: recipe for target 'bin/crio' failed

[2020-03-26 12:20] dougsland commented on #1600
@pennycheng2018 which ubuntu version are you using? Just tested here and it worked.
Could you please share the exact error?

$ cat /etc/os-release
NAME="Ubuntu"
VERSION="19.10 (Eoan Ermine)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 19.10"
VERSION_ID="19.10"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLI

[2020-03-26 15:29] smijolovic opened #3481 "cri-o staticcheck issues with Go 1.14"
cri-o 1.17.1
staticcheck 2020.1.3
Go 1.14.1

staticcheck ./...

-: could not analyze dependency github.com/containers/image/v5/storage of github.com/cri-o/cri-o/internal/pkg/storage:
	could not analyze dependency github.com/containers/storage of github.com/containers/image/v5/storage:
	could not analyze dependency github.com/containers/storage/drivers/register of github.com/containers/storage:
	co

[2020-03-26 15:34] saschagrunert commented on #3481
Hey @smijolovic can you explain how you run this?

We lint out code with golangci lint (contains staticcheck) and have currently not reported issues.

[2020-03-26 16:11] smijolovic commented on #3481
Thank you for pointing me in the right direction WRT to the build tags!

I build cri-o with:
make BUILDTAGS="containers_image_ostree_stub exclude_graphdriver_btrfs btrfs_noversion exclude_graphdriver_devicemapper libdm_no_deferred_remove seccomp selinux"

When adding the tags for staticcheck in the crio cmd directory, it works:

staticcheck -tags "containers_image_ostree_stub exclude_graphdriver_b

[2020-03-26 16:11] #3481 closed

[2020-03-26 16:12] saschagrunert commented on #3481
Awesome, it was a pleasure to help you out. :)

[2020-03-26 19:48] moreqpi commented on #3259
I had the same issue on crio & kubernetes v1.16
Changing **conmon_cgroup** value to "**kubepods.slice**" in **_crio.conf_** fixed that issue.
[code]

[2020-03-26 20:33] haircommander commented on #3259
ah @clee I've got a fix in the works [here](https://github.com/cri-o/cri-o/pull/3482). Lucikly, that's just a warning, and a result of the timing between stopping a pod and removing a pod. It only happens with systemd cgroup driver because systemd cleans up cgroups after they're dead. Once I come to a solution, I'll backport to 1.17. Thanks for your patience :smile:

[2020-03-26 20:35] haircommander commented on #3259
I find this interesting. You didn't see any messages of `unable to load cgroup at kubepods-besteffort-pod0fb386ed7a9f3e4462d5182de8ccaa2b.slice: cgroup deleted` after switching the conmon_cgroup? where was it before? `system.slice`?

[2020-03-26 20:38] haircommander commented on #3259
following up on this expectation, out of curiosity. When using containerd/docker are you using systemd cgroup driver @clee ?

[2020-03-26 20:38] clee commented on #3259
Unfortunately, this didn't work for me. I now see:

[code]

[2020-03-26 20:39] clee commented on #3259
I have both crio and kubelet configured to use systemd as the cgroup driver.

[2020-03-26 20:39] haircommander commented on #3013
hey @benceszikora are you still seeing this issue? @vrothberg do you think https://github.com/cri-o/cri-o/pull/3409 would help?

[2020-03-26 20:40] haircommander commented on #2996
this should be fixed with #2997. please reopen if you disagree

[2020-03-26 20:40] #2996 closed

[2020-03-26 20:45] haircommander commented on #3259
yeah they use cgroupfs by default. I think this is from systemd cleaning up the cgroups from underneath the runtime. Gotta find the best way to not error in this case

[2020-03-26 20:49] clee commented on #3259
I'm pretty sure @nalind narrowed it down to the new cgroup code - crio switched from containerd's `cgroups` implementation to the libpod one, and the libpod one doesn't seem to work properly.

[2020-03-26 20:50] moreqpi commented on #3259
I saw something like this before, but for now I haven't any errors in logs.
If it is important - I can try to reproduce my actions, before this, and attach logs here.

@clee, it seems like something exist with that cgroup name.
A simple solution in my mind - reboot and check again. May be it helps.
Of course its possible to kill PIDs in that cgroup.

[2020-03-27 04:53] gattytto commented on #1991
as a workaround, this can be archieved by using bash commandline wrappers to the real commands, like calling runsc-wrapper instead of runsc and add/edit arguments then actually pass them to runsc.

But this also means conmon calls made by cri-o are set strictly from code:
https://github.com/cri-o/cri-o/blob/85dee7dffe0a1f3e96ec8155c305deaaa4e7c74e/internal/oci/runtime_oci.go#L93

this code makes a

[2020-03-27 08:45] vrothberg commented on #3013
The symptoms look different to me. The symptoms of this issue indicate that the image has been pulled successfully but, for some reason, the pod doesn't fire.

But it's hard to make conclusions without logs or ideally a reproducer.

[2020-03-27 09:16] rkojedzinszky opened #3486 "Misleading info messages with 1.17.2 on arm"
While upgrading crio from 1.16.2 to 1.17.2 misleading messages appear in logs. At the end, it seems that all containers start up well.

**Steps to reproduce the issue:**
1. Install clean crio-1.17.2 (clear /var/lib/containers)
2. Start kubelet
3. Watch logs for messages like
[code]

**Describe the results you received:**

Full output of crio:
[code]

**Describe the results you expected:**

Not exp

[2020-03-27 09:24] vrothberg commented on #3486
Thanks for reaching out!

The `pause:3.1` image has wrong configs for non-amd64 images. See https://github.com/kubernetes/kubernetes/issues/87325 for background. I think it's time to use `pause:3.2` where this issue is being fixed.

@saschagrunert @haircommander WDYT?

[2020-03-27 09:46] rkojedzinszky commented on #3486
@vrothberg Thanks. Then, I am closing this.

[2020-03-27 09:46] #3486 closed

[2020-03-28 14:46] dougsland commented on #2737
@saschagrunert @mrunalp @haircommander probably time to close this one.  Fell free to re-open in case you need help @vllry

[2020-03-28 14:50] dougsland commented on #2897
@haircommander @mrunalp  it seems ready to close this one.

[2020-03-28 14:55] dougsland commented on #3130
@GabyCT if you don't have additional questions, we can close this one. Fell free to re-open anytime. @mrunalp @haircommander

[2020-03-29 11:03] #3130 closed

[2020-03-29 11:24] saschagrunert commented on #2737
Yes let’s revisit if there is anything which needs to be done here.

[2020-03-29 11:24] #2737 closed

[2020-03-30 08:16] adelton commented on #2897
On Fedora 32 (to be), the steps fail:
[code]
I don't think the generic "Fedora 30 and later" with 1.14 instructions will work long term.

[2020-03-30 09:57] afbjorklund commented on #2897
Like with Kubernetes 1.18 already out and released, you mean ? No, that seems a bit late.

[2020-03-30 10:12] adelton commented on #2897
I mean, https://cri-o.io/ says that 1.14 works on Fedora 30 and later (higher), but that does not seem to be true on Fedora 32.

[2020-03-30 13:01] haircommander commented on #2897
@lsm5 what versions of cri-o are being built for f32 right now?

@adelton I can imagine we don't support 1.14 on f32 anymore, probably only 1.17-1.15 (and probably will soon drop support for 1.15 once we cut 1.18 which should be happening soon)

[2020-03-30 13:29] lsm5 commented on #2897
@haircommander can you release a 1.18.0 or something? I'll build 1.18 then. Also, remind me how many prior 1.X releases we're required to support.

[2020-03-30 13:43] haircommander commented on #2897
we're required to support three kubernetes releases, so kubernetes/CRI-O 1.15 has just had support dropped. That means you could get away with building 1.16 and 1.17. Hopefully we can get 1.18 out this week.

[2020-03-30 13:51] lsm5 commented on #2897
@haircommander ack, I guess the `three latest releases` part should be clear on the site. Once you have 1.18 released, I'll build for fedora and add another PR for the install doc.

[2020-03-31 12:44] geragio opened #3495 "crio package not available in CentOS 7 repository"
**Description**
It seems that crio package is not available on standard CentOS 7 repository.
I'm following the instruction provided on the README.md file, probably you just need to add an additional repository but I think the step should be added in the documentation

**Steps to reproduce the issue:**
1. # yum install crio -y

**Describe the results you received:**
No package **crio** available.
E

[2020-03-31 17:49] Nefelim4ag opened #3501 "CRI-O Can't get running containers stats"
[code]

CRI-O by some reason try get CPU stats from wrong path

Right path: `/sys/fs/cgroup/cpu/kubepods.slice/kubepods-burstable.slice/`

May be i do something wrong?

K8s 1.16.4 & cri-o 1.17.1

[2020-03-31 17:59] Nefelim4ag commented on #3501
https://github.com/cri-o/cri-o/commit/f2d3397f4f66ea75cdfce1d34bdf8f37276eaa37

[2020-03-31 20:10] haircommander commented on #3495
@lsm5 has WIP builds on opensuse's OBS, once that's done he's going to update the docs

[2020-04-01 07:42] saschagrunert commented on #3501
Hey @Nefelim4ag do you have the kubelet and CRI-O both configured as systemd cgroup manager?

[2020-04-01 09:20] thschue opened #3504 "AppArmor Profile not loaded on k8s 1.17 / cri-o 1.17"
**Description**
Start cri-o 1.17 on k8s 1.17 fails with folllowing error message:
`
-- Unit crio.service has begun starting up.
Apr 01 09:14:48 <HOSTNAME> crio[7882]: time="2020-04-01 09:14:48.773919363Z" level=fatal msg="config provided AppArmor profile \"crio-default\" not loaded"
Apr 01 09:14:48 <HOSTNAME> systemd[1]: crio.service: Main process exited, code=exited, status=1/FAILURE
Apr 01 09:14

[2020-04-01 10:13] saschagrunert commented on #3504
Hey @thschue thank you for the report. I think we can comment out the profile in the config per default.

@lsm5 can we change the config to comment out the AppArmor profile?

[2020-04-01 11:46] lbogdan commented on #3504
Also ran into this, and figured out it happens because the default profile is actually named `crio-default-1.17.2`, so you can either comment out the profile, or update its name.

[2020-04-02 09:44] rhafer opened #3511 "cri-o crashing on restart"
**Description**

Restarting cri-o after creating a single sandbox causes cri-o to crash with a panic.

**Steps to reproduce the issue:**

1. Start cri-o
2. Create a sandbox using `crictl runp` and this config:
[code]
3. Restart cri-o

**Describe the results you received:**

cri-o crashes with this in the logs:

[code]

**Describe the results you expected:**

cri-o successfully restarts and restore

[2020-04-02 09:45] rhafer commented on #3511
FYI: I am trying to come up with a fix for this

[2020-04-02 10:18] saschagrunert commented on #3511
/assign @rhafer

Awesome report and thanks for working on a fix :pray:

Ref https://github.com/containers/storage/pull/585

[2020-04-02 13:22] nalind commented on #3511
If you cherry-pick the changes from https://github.com/containers/storage/pull/581, do you still encounter this problem

[2020-04-02 16:16] rhafer commented on #3511
It's at least not crashing anymore. Of course it is still unable to restore the Sandbox. But I think I have a fix for that.

[2020-04-02 18:00] prasenforu commented on #1804
so far any workaround ?

[2020-04-02 22:39] dougsland commented on #3232
@mrunalp @haircommander @medyagh could you please review this one and close?

[2020-04-03 08:48] Nefelim4ag commented on #3501
Fixed in 1.17.2 CRI-O
@saschagrunert yep

[2020-04-03 08:48] #3501 closed

[2020-04-03 09:18] skycastlelily2 commented on #3301
HI,sorry for the long delay feedback,with the updated integration tests,

ctr.bats tests failed  with "# time="2020-03-31T05:13:28Z" level=fatal msg="run pod sandbox failed: rpc error: code = Unknown desc = container create failed: time=\"2020-03-31T05:13:26Z\" level=error msg=\"systemd cgroup flag passed, but systemd support for managing cgroups is not available\"\nsystemd cgroup flag passed, but

[2020-04-03 10:38] saschagrunert opened #3522 "Container Stats conformance test failed due to invalid pids.current path"
The update of critest in https://github.com/cri-o/cri-o/pull/3520 caused a container stats test to fail:

[code]

[code]

Since the issue seems to be in libpod I'm wondering if this line is correct:
https://github.com/containers/libpod/blob/ccb9e579c48141f70d016adfa9a9d4934bbdf976/pkg/cgroups/pids.go#L52

@giuseppe, do we have to add anything additional to this path?

[2020-04-03 13:04] #3232 closed

[2020-04-03 13:09] haircommander commented on #3301
did you happen to build runc statically? I see the same issue [here](https://github.com/containers/libpod/issues/1534#issuecomment-425213600)

[2020-04-03 13:35] haircommander commented on #3522
on this machine is the pids cgroup defined? I think we need to check before looking for stats relating to pids

[2020-04-03 17:26] saschagrunert commented on #3522
I the files does not exist neither on my local machine nor on any of our test machines.

[2020-04-03 20:45] haircommander opened #3527 "e2e test cluster fails to come up, no errors in cri-o log"
for example, we have [this](https://prow.svc.ci.openshift.org/view/gcs/origin-federated-results/pr-logs/pull/cri-o_cri-o/3509/test_pull_request_crio_e2e_crun_fedora/2599/), where all the tests fail with BeforeSuite: `_output/local/go/src/k8s.io/kubernetes/test/e2e/e2e.go:76 Apr 3 20:33:22.197: Unexpected error: <*errors.errorString | 0xc000e1e860>: { s: "there are currently no ready, schedulable n

[2020-04-04 03:33] skycastlelily2 commented on #3301
HI,nope
[root@dell-pem605-01 ~]# rpm -q runc
runc-1.0.0-102.dev.gitdc9208a.fc30.x86_64

On Fri, Apr 3, 2020 at 9:10 PM Peter Hunt <notifications@github.com> wrote:

[2020-04-04 06:47] gattytto opened #3528 "Can't debug cri-o static using delve"
I recently started building cri-o from source inside a debian LXC Container with NIX as explained in the docs.

now I wanted to add debug symbols to the crio static binary to be able to debug it using delve, but running the command "dlv exec crio-static" triggers the following:

[code]
then it starts shouting crio service startup logs to the terminal as a normal crio startup process.

I tried to m

[2020-04-04 06:55] gattytto commented on #3528
[code]

[2020-04-04 15:19] cortopy commented on #3504
In the conf file this is explained:

[code]

But it's misleading because the package in Ubuntu is `cri-o-1.17` and the apparmor profile is `crio-default-1.17.2`

[2020-04-04 19:10] lsm5 commented on #3504
`1.17.2~2` has been built for the OBS testing repo. https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/cri-o-1.17 . If people could test and approve the build, I'll do the same build for the stable repo as well.

[2020-04-04 19:14] dougsland commented on #2779
@haircommander @mrunalp @rhatdan @alijahnas I believe it is all set in this report. Please take a look and close this one.

[2020-04-06 07:30] giuseppe commented on #3522
it looks like the `c.path` is empty:

[code]

is it trying to read stats from the root cgroup?

[2020-04-06 09:23] saschagrunert commented on #3522
Yes it's trying to read from the root, which is incorrect I guess, right?

[2020-04-06 09:45] giuseppe commented on #3522
yes, that should not happen, the `pids.current` file doesn't exist at the root.

Should we return 0 or a count for all the processes present?

[2020-04-06 10:01] saschagrunert commented on #3522
As far as I can see we do not use the pids in CRI-O because they're not exposed via the CRI. So `0` could work.

[2020-04-06 10:20] giuseppe commented on #3522
@saschagrunert yes please, please tag me and I'll review

[2020-04-06 10:32] saschagrunert commented on #3528
Hey @gattytto, the fix is incoming in https://github.com/cri-o/cri-o/pull/3529

[2020-04-06 10:57] giuseppe commented on #3522
cAdvisor has a special check for `pids.current`: https://github.com/google/cadvisor/blob/master/container/raw/handler.go#L77-L83

[2020-04-06 11:07] saschagrunert commented on #3522
Thanks for the hint, see https://github.com/containers/libpod/pull/5728 I guess the solution is now more or less the same.

[2020-04-06 11:44] 13rentgen commented on #3495
But why current centos repos are deleted? For example:
https://cbs.centos.org/repos/paas7-crio-114-candidate/

I think you have to keep current packages and repos. And never delete it for backward compatibility.
I try to install k8s with cri-o and can't do it because of it.

[2020-04-06 12:27] lsm5 commented on #3495
@13rentgen I guess cbs repos weren't meant to be used directly. https://lists.centos.org/pipermail/centos-devel/2020-March/036693.html . The CentOS IRC channels or mailing lists might provide more support.

[2020-04-06 13:48] 13rentgen commented on #3495
But, kubespray using cbs repos directly: https://github.com/kubernetes-sigs/kubespray/blob/master/roles/container-engine/cri-o/defaults/main.yml#L2

[2020-04-06 13:57] lsm5 commented on #3495
CentOS people would suggest switching to buildlogs.centos.org repos.

[2020-04-06 15:14] lsm5 commented on #3495
@13rentgen I can add 1.14 to the OBS repo if that helps.

[2020-04-06 15:19] 13rentgen commented on #3495
@lsm5 I think that if all versions are available, it will be cool. I think it's could be helpfull for many users

[2020-04-06 15:24] lsm5 commented on #3495
@13rentgen RE: `all versions`, I hope 1.14 and later would suffice :)

[2020-04-06 15:35] 13rentgen commented on #3495
@lsm5 yeap :) I meant exactly the same

[2020-04-06 18:26] #2779 closed

[2020-04-06 21:32] gattytto commented on #3528
@saschagrunert please check the first comment again, I have added those flags manually to the Makefile and in the second comment you can see the result of checking the debug symbols in the produced static binary but still with the debug symbols included in the binary (also added -compressdwarf=false to ldflags) dlv still gives that error

[code]

[2020-04-07 07:08] saschagrunert commented on #3528
Thanks for testing @gattytto, I think the issue is that we strip the binary after the build:

[code]

I'll modify the PR that we do not strip in any case because we already do via the Makefile.

[2020-04-07 07:56] #3511 closed

[2020-04-07 17:32] gattytto commented on #3528
it works now thank you @saschagrunert
![image](https://user-images.githubusercontent.com/407397/78700965-923f9480-78dc-11ea-967f-379743260039.png)

[2020-04-07 17:32] harche opened #3536 "Unable to add drop in config for kata runtime"
**Description**

if you leave the default `/etc/crio/crio.conf.d/00-default.conf` untouched and try to add a kata runtime drop in config say, `50-kata.conf` crio fails with following error,
[code]
[code]

If I comment out runc related sections from /etc/crio/crio.conf.d/00-default.conf ,
[code]
and append it to 50-kata.conf ,
[code]
crio comes up fine.
[code]

**Steps to reproduce the issue:**
1.

[2020-04-07 17:34] harche commented on #3536
I will try to look into the code that tries to merge drop in config with the config with `/etc/crio/crio.conf.d/00-default.conf`

[2020-04-08 05:13] skycastlelily2 commented on #3295
Hi,really sorry for so long delay response,I didn't see your comment until this morning,and sorry for
failing notice 'rsync',here is the output after I dnf install rsync:
[root@dell-pe-fm120-1b kube-local]# ./kube-local --autoinstall --command examples/script --run-service-once --output /tmp/output.kube-local."$(date +"%Y_%m_%d_%I_%M_%p")".log --container-orchestration-version "1.17" --container-r

[2020-04-08 06:57] clee opened #3540 "cri-o defaults to supportsHugetlb := true"
**Description**

I'm running cri-o on debian, on the default linux-image-amd64 kernel. The default debian kernel configuration does not include `CONFIG_CGROUP_HUGETLB`, so hugetlb cgroup support is not available.

Debian also does not default to the new unified cgroups v2 hierarchy yet, so the code that checks if hugetlb is supported never runs. This means that cri-o erroneously assumes hugetlb cg

[2020-04-08 06:58] saschagrunert commented on #3536
Hey @harche yeah the issue is that we overwrite the whole map and not merge it. I think if we make the map merging more custom than this could work somehow, but we have to add additional logic. If you want then I can support you with that :)

[2020-04-08 08:13] harche commented on #3536
@saschagrunert Thanks, I appreciate your help. I am looking into the source to see where can we add that additional logic. If you have more concrete idea on how to fix this, feel free to take over.

[2020-04-08 10:43] harche commented on #3536
@saschagrunert thanks for your input. If I comment out the deletion [here](https://github.com/cri-o/cri-o/blob/c92cabd040564ca134c9b2a809f1d228143cbf67/pkg/config/config.go#L448) it resolves the issue reported here. However, if user wants to set the default runtime to kata it doesn't update the `default_runtime` field in the final config.

So after disabling deletion mentioned above, if I add the

[2020-04-08 13:03] #3540 closed

[2020-04-08 13:44] dougsland commented on #3294
@lsm5 @rhafer @saschagrunert @haircommander  if https://github.com/cri-o/cri-o/pull/3488 solve this issue we might close this one ?

[2020-04-08 14:15] haircommander commented on #3294
@chrstnwhlrt is your issue solved?

[2020-04-08 15:52] harche commented on #3536
[code]
This drop in config file adds the runtime as well as sets the default runtime. I still have to [delete](https://github.com/cri-o/cri-o/blob/c92cabd040564ca134c9b2a809f1d228143cbf67/pkg/config/config.go#L448) this line though.

[2020-04-08 15:58] harche commented on #3536
[code]

This drop in config file adds the runtime as well as sets the default runtime. I still have to delete this line though.

[2020-04-08 16:10] harche commented on #3536
So after deleting that [line](https://github.com/cri-o/cri-o/blob/c92cabd040564ca134c9b2a809f1d228143cbf67/pkg/config/config.go#L448), the behavior is as follows,

If user specifies the `default_runtime` in the drop in config file,
[code]
then the final crio file ends up having the `default_runtime` updated with the value specified in the drop in config (which in this example would be `kata-qemu`)

[2020-04-08 17:00] haircommander commented on #3536
I would expect the behavior to be:

if the user defines a runtime, but not default runtime in a drop in:
[code]

then the resulting config would look like:
[code]
which would fail.

I.e. I don't think drop-in files should append values, but overwrite them. If a user wants to add a runtime, I would expect them to define:
[code]
But maybe that's just me. I don't think for any of the other configurat

[2020-04-08 19:08] lsm5 commented on #3495
@13rentgen `cri-o-1.14` will be published soon on OBS https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/cri-o-1.14 . Use `yum -y install cri-o-1.14` . I'll do 1.15 now.

[2020-04-08 19:35] Nefelim4ag opened #3544 "Why CRI-O require CRI-O wipe service?"
I understood that `crio wipe` is similar to `docker system prune -af --volumes`

But i can't understand why CRI-O need that service on every machine restart and why CRI-O can't run without it (i'm talk about require= section in service)

Can someone explain please?

Thanks!

[2020-04-08 19:37] lsm5 commented on #3495
`cri-o-1.15` https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/cri-o-1.15

[2020-04-08 19:38] haircommander commented on #3544
it's not really necessary. Honestly, I've been meaning to drop the requires in this version. Sorry about that.

we use crio wipe in openshift to clear out nodes, because of how we upgrade between minor versions of kubernetes. If we didn't use crio wipe, containers and images would persist between versions and clog up nodes.

Though, for more crio installations, it's really not necessary and also i

[2020-04-08 20:27] saschagrunert commented on #3544
I think if we create some upgrade path tests (however they may look like) then we would be able to drop the wiping completely. It’s not only about updating workloads, it’s also about which workloads to update and in which order. For example the API server should be the first one, right? 🙂

[2020-04-09 03:09] hswong3i opened #3547 "[v1.17.3] Missing Static Binary Release Archive"
**Description**

Similar as [v1.17.2](https://github.com/cri-o/cri-o/releases/tag/v1.17.3) with static binary archive [crio-v1.17.2.tar.gz](https://github.com/cri-o/cri-o/releases/download/v1.17.2/crio-v1.17.2.tar.gz), we expect to have static binary archive for [v1.17.3](https://github.com/cri-o/cri-o/releases/tag/v1.17.3) which should be https://github.com/cri-o/cri-o/releases/download/v1.17.3/c

[2020-04-09 05:37] saschagrunert commented on #3536
I think if we document how it behaves then we're probably fine. I think the way how we represent maps in TOML might cause confusion about how it should behave.

[2020-04-09 06:18] harche commented on #3536
drop in config allows an entity that installs kata (say a form of kata installer, maybe an operator or rpm or whatever) to not directly modify the default crio.conf. Instead kata installer needs to understand how the crio runtime configuration looks like only from kata's point of view.

Now if we want kata installer to also add configuration for runc in it's drop in config then it would work so lo

[2020-04-09 06:27] saschagrunert commented on #3547
Hey @hswong3i, sorry but we have no automation in place for that (working on it). I uploaded the release bundle to the tag: https://github.com/cri-o/cri-o/releases/download/v1.17.3/crio-v1.17.3.tar.gz

[2020-04-09 06:27] #3547 closed

[2020-04-09 06:30] 13rentgen commented on #3495
@lsm5 Why you're rename `cri-o` package to `cri-o-{{version}}`?
Now I have to delete `cri-o` and install `cri-o-1.17` instead of to update package.

[2020-04-09 06:30] sysadm1989 commented on #3495
Do you think the update should not be provided?
I think,
True:
[code]
Wrong:
[code]

[2020-04-09 06:58] saschagrunert commented on #3522
Closing and waiting for new libpod release

[2020-04-09 06:58] #3522 closed

[2020-04-09 06:59] hswong3i commented on #3547
@saschagrunert thank you very much for your prompt update ;-)

Since I am now maintenance an Ansible Role for CRI-O (https://github.com/alvistack/ansible-role-cri_o) by download and extract the binary archive for installation on Ubuntu 16.04/18.04/19.10 or CentOS/RHEL 7/8 or openSUSE 15.1, I always check the release page from github daily and looking for the new release archive ;-)

[2020-04-09 07:28] saschagrunert commented on #3547
@hswong3i ah good to hear that you use it! :) For 1.18 it hopefully will be uploaded automatically (see https://github.com/cri-o/cri-o/pull/3551).

By the way, we also have a Google Cloud Bucket which contains bundles for every master commit: https://console.cloud.google.com/storage/browser/k8s-conform-cri-o/artifacts

[2020-04-09 07:42] #3544 closed

[2020-04-09 07:55] hswong3i opened #3552 "Ansible Role for CRI-O"
I am now maintenance an Ansible Role for CRI-O installation (https://github.com/alvistack/ansible-role-cri_o), by downloading the static binary release archive and extract it for following OS:
- Ubuntu 16.04/18.04/19.10
- CentOS/RHEL 7/8
- openSUSE 15.1

Could we also introduce this as an alternative installation method, e.g. under https://github.com/cri-o/cri-o#installing-cri-o?

[2020-04-09 08:04] saschagrunert commented on #3552
Hey @hswong3i :wave:, sure do you mind opening a PR for that?

[2020-04-09 13:16] lsm5 commented on #3495
@13rentgen @sysadm1989 that's because I need to provide all versions on the same OBS repo.

[2020-04-09 13:45] 13rentgen commented on #3495
In cbs repo multiple versions was into single package name `cri-o`: https://cbs.centos.org/koji/packageinfo?packageID=5695

Because of package name was like `cri-o-1.14.10-1.el7.x86_64.rpm`: https://cbs.centos.org/koji/buildinfo?buildID=26913.

Now, you are create package like `cri-o-1.14-1.14.12-5.1.el7.x86_64.rpm`:
https://build.opensuse.org/package/live_build_log/devel:kubic:libcontainers:stabl

[2020-04-09 13:49] lsm5 commented on #3495
@13rentgen What I meant was cri-o 1.14 was on paas7-crio-114 repo, cri-o 1.15 was on paas7-crio-115 repo and so on. Over here everything has to be on the same repo.

You can change the install step to `yum install cri-o-1.14`. That's how it's already set up for cri-o-1.16 and cri-o-1.17 in there. Same for the debian and ubuntu versions.

[2020-04-09 13:54] 13rentgen commented on #3495
@lsm5 It also mean, that if I want to upgrade k8s cluster to the next version(for example), I have to current delete cri-o package and install new, instead of `yum update cri-o`. Do you really think it's ok?

[2020-04-09 14:01] YuriyBufeev commented on #3495
`[  492s] RPMS/x86_64/cri-o-1.14-1.14.12-5.1.el7.x86_64.rpm`

The package tagging is wrong now, @lsm5 please ensure that you have done the versioning in the right way.

[2020-04-09 14:16] YuriyBufeev commented on #3495
@haircommander kindly ask you to review the situation again.

[2020-04-09 14:25] haircommander commented on #3495
I'd like to thank @lsm5 for supporting so many different versions on so many different platforms. Note we technically only support 1.17-1.15 right now (once 1.18 is released, it'll be 1.16-1.18), as we follow kubernetes support cycles.

@lsm5's packaging model matches the intention of cri-o. We support release branches of cri-o for a year and a half after they're released. if a simple `yum update

[2020-04-09 14:27] haircommander commented on #3495
I'd also like to note the upgrade strategy has not really changed in difficulty between OBS and CBS. before, you had to delete a repo, and add a new one, keeping the package name the same. Now you have to delete a package, and add a new one, keeping the repo the same.

[2020-04-09 14:39] sysadm1989 commented on #3495
@haircommander Really? Do you work for Red that has a produc Ansiblet? Explain to me how to update cri-o through Ansible?
P.S. Idempotency is gone.

[2020-04-09 14:41] 13rentgen commented on #3495
@haircommander for example, kubeadm updates with `yum update kubeadm`.  Of course, I could specify version on install command like `yum install kubeadm-1.17` and it's **updates** kubeadm to specific version.

Now, you propose to update packages through deletion.

[2020-04-09 14:52] lsm5 commented on #3495
@13rentgen I think I can add an `Obsoletes` to the newer packages which should replace the older package, I gotta check if it works like you expect though.

[2020-04-09 15:01] 13rentgen commented on #3495
@lsm5 seems like solution. But I do not understand, for what this difficulties? :) Standard versioning and updates looks quite ok.

[2020-04-09 15:02] geragio commented on #3495
@13rentgen got the point in my opinion
Basically this is the behavior we should expect, for example:

1) **yum install cri-o** --> Install the latest version available on repo
2) **yum install cri-o-1.18** --> Install that specific version on the OS(if available on repo of course)
3) **yum update cri-o** --> Update the package to the latest version available on the repo

[2020-04-09 15:12] lsm5 commented on #3495
I pushed changes to the OBS testing repo for this https://build.opensuse.org/project/show/devel:kubic:libcontainers:testing . Let's see how that works out

[2020-04-09 15:12] lsm5 commented on #3495
still building, not ready yet..

[2020-04-09 21:33] lsm5 commented on #3495
After looking at the kube repos, I realized what you all are looking for was version pinning, which isn't available on OBS. OBS gets rid of the older builds soon as a new build is available. So, it's not possible to have a single cri-o package which will have older builds. That's why I had to include the major.minor string in the package name.

I'll try to setup a copr which I guess could keep the

[2020-04-10 08:51] medyagh opened #3555 "crio on minikube: could not add IP address to "cni0": permission denied"
hi we have added crio run-time to our newest minikube drivers (docker and podman). we have a an issue that was hoping you could help us find the root cause,

currently only in docker driver (not our VM drivers) the coreDNS container is stuck in creating and gives this error:
[code]
so the error is:

[code]
but doesnt say what kind of permission it needs and any way we could see more details?

we a

[2020-04-10 20:19] lsm5 commented on #3495
Alright, so I changed the package organization for cri-o on OBS (centos repos only for now) to be more like what used to exist on CentOS CBS.

So, to get any dependencies for cri-o, first ensure you have the `devel:kubic:libcontainers:stable` repo enabled:
[code]

Next, add the repo for each cri-o subproject. The sub-projects for each cri-o major.minor are at  https://build.opensuse.org/project/su

[2020-04-11 07:10] 13rentgen commented on #3495
@lsm5 thank you!

I start to test the new repos. I test it on a fresh VM without previously installed `cri-o`.

First of all, I install all of them:
[code]

After that, I install `cri-o-1.14.12` - it's installed successfully:
[code]

Now, I try to update cri-o to 1.15.3 - but it causes conflicts:
[code]

[2020-04-11 14:29] lsm5 commented on #3495
hmm, I guess I didn't separate conmon in 1.15, I'll fix that.

[2020-04-11 14:30] lsm5 commented on #3495
@13rentgen could you try 1.16 and 1.17? I think those should work as expected.

[2020-04-11 15:30] 13rentgen commented on #3495
@lsm5 install 1.16 and upgrade to 1.17 works as expected.

[2020-04-11 15:36] lsm5 commented on #3495
1.15 should be fixed now, check it out

[2020-04-11 15:40] 13rentgen commented on #3495
Yes, it works. Thank you @lsm5

[2020-04-11 15:50] lsm5 commented on #3495
@13rentgen thanks, I'll PR to update the docs then. This should probably be done for ubuntu and debian packages as well.

[2020-04-11 17:50] lsm5 commented on #3495
Fixed in https://github.com/cri-o/cri-o/pull/3514/files . Will open PRs for other branches as well.

[2020-04-12 10:13] jayaddison commented on #3504
@lsm5 This affects me too, and I'm available to help with testing.

There's one requirement before getting started - I'd like to view the changes so that we can verify the fix.

When testing updates between CRI-O `v1.17.1` and `v1.17.2` it's useful to compare the [changes between those releases](https://github.com/cri-o/cri-o/compare/v1.17.1..v1.17.2) and test based on that.

Could you provide a s

[2020-04-13 03:07] tedyu opened #3558 "Use proper variable for error return in Server#createSandboxContainer"
**Description**
In Server#createSandboxContainer, the deferred func calls DeleteContainer if there is error.
Subsequently, some error is not assigned to the error variable which is checked by the deferred func.

Here is suggested change:
[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**
Container is properly deleted i

[2020-04-13 03:16] tedyu commented on #3558
There are several places in Server#createSandboxContainer (after line 440) where new error variable is used to store / check error.
Please confirm whether those places warrant deletion of the container upon return.

[2020-04-13 08:27] joshuafc commented on #3504
I am a newer, trying install k8s follow https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
Now I ran into the plobrem, is there any workaround like edit `/usr/lib/systemd/system/crio.service`, so I can continue my k8s install study.

[2020-04-13 08:37] joshuafc commented on #3504
edit `/etc/crio/crio.conf`,
change `apparmor_profile = "crio-default"` to `apparmor_profile = "crio-default-1.17.2"`
service start success now.
Thanks @lbogdan .

[2020-04-13 13:25] haircommander commented on #3555
@mccv1r0 anything come to mind?

[2020-04-13 13:28] haircommander commented on #3558
oof, thanks for bringing this to light. I'm taking a look

[2020-04-14 00:32] #3558 closed

[2020-04-14 07:18] sboeuf commented on #2672
@amshinde @chavafg the `restore()` code path for `VmRuntime` is not implemented correctly I think. There are some subtle save and restore actions which needs to happen if we want to make sure the crio daemon can be restarted while containers are running.
One that comes to mind is the ability to reconnect to each container `pty` to communicate with them after crio daemon is up and running again. Th

[2020-04-14 08:58] vivekanandpoojari opened #3567 "Unable to retrieve the image spec using crictl inspecti"
**Description**
crictl inspecti does not return the OCI imagespec.

**Steps to reproduce the issue:**
1. Install cri-o on a ubuntu machine
2. Pull busybox image
3. crictl inspecti ##busyBoxImageID##

**Describe the results you received:**
The inspect data does not include the OCI Image spec in the info

[code]

**Describe the results you expected:**
When I execute the same command on containerd ru

[2020-04-14 09:04] vivekanandpoojari opened #3568 "Unable to retrieve the runtime spec using crictl inspect"
**Description**
The crictl inspect does not return the runtime specification of the container in the info map

**Steps to reproduce the issue:**
1.Inspect a container using crictl inspect

**Describe the results you received:**
The info json key does not have runtime spec.

[code]

**Describe the results you expected:**
In containerd environment the same container returns the runtime spec in info.

[2020-04-14 09:12] saschagrunert commented on #3567
Hey @vivekanandpoojari, the `info` field in the `ImageStatusReponse` is currently not used for the OCI image spec in CRI-O:
https://github.com/cri-o/cri-o/blob/e94c67fbeefaa33117805466d346af58b05909a1/vendor/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go#L5196-L5200

In the upcoming release we add the image labels to this field so we might have some overlap here.

We probably want to switch to

[2020-04-14 09:17] vivekanandpoojari commented on #3567
There is currently no way for a C++ application to retrieve the image layers in cri-o runtime.
I dont want to ship additional dependencies like podman or buildah into my container.

[2020-04-14 09:36] saschagrunert commented on #3568
Hey @vivekanandpoojari, thank you for the report! A fix is incoming from my side.

[2020-04-14 09:59] saschagrunert commented on #3567
I see, fix is incoming in https://github.com/cri-o/cri-o/pull/3570

[2020-04-14 11:28] ghglza opened #3571 "kubeadm v1.18 fails to install static control plane pods with CRI-O runtime due to create sandbox error "name is reserved""
**Description**
kubeadm v1.18 fails to install static control plane pods with CRI-O runtime due to create sandbox error "name is reserved"

**Steps to reproduce the issue:**
1. build CRI-O from source branch release-1.18 (we tried several commits including 9cc38861d
2. try to provision k8s (version v1.18.0 or v1.18.1) cluster with kubeadm

**Describe the results you received:**
kubelet tries to st

[2020-04-14 14:19] haircommander commented on #3571
can you try with log level debug?
we have seen this with systems that are under load. the problem is cri-o is taking too long to create the pod, so the kubelet's request times out and it resends the request. CRI-O already has the name reserved for the pod, so it rejects that request. This dance happens a while (kubelet requests, CRI-O denies) until the initial request finishes and returns. Theoret

[2020-04-14 15:56] caniszczyk opened #3573 "Add SECURITY.md (security disclosure policy)"
Please add a security disclosure policy.

I see a SECURITY_CONTACTS file in there that's a start.

[2020-04-15 09:26] everflux commented on #3233
Still the case with cri-o 1.17.3

[code]

I am really disappointed about this happening, don't you have any tests in place for common use cases?

[2020-04-15 09:48] vrothberg commented on #3233
It's hard to test against broken images and without a doubt, the pause:3.1 is broken. In the meantime, it has been fixed and released with pause:3.2.

Can you set `pause_image="k8s.gcr.io/pause:3.2"` in the crio.conf?

[2020-04-15 10:00] everflux commented on #3233
I understand the argument that pause is broken - but if that is deemed broken there are many many images that are built that way and worked fine with cri-o 1.16.1 and stopped working with cri-o 1.17.0.

From my perspective as a user it feels like crio is a little ... arrogant to force the world to change the behavior just to please its model of a perfect world not taking into account the current s

[2020-04-15 10:24] vrothberg commented on #3233
Note that this regression is unintentional.

We are between a rock and hard place since especially ARM users needed support to reliably select the _correct_ image/manifest from a manifest list (or OCI index) with an extended support to select by variant. The error here is _new_.

I believe we can account for cases where the list/index claims a different arch/os than the image's manifest (and use t

[2020-04-15 10:30] ghglza commented on #3571
Thanks for the tip!
It turns out that the wrong version 3.1 of the pause image was referenced in the CRI-O configuration.
k8s v1.18 upgraded from 3.1 (which ist CRI-O's default) to 3.2, and as we have to do an air-gapped installation (with k8s images pre-provisioned into local container storage instead of pulled from a registry) CRI-O could not create any sand boxes, indicated by log messages

Apr

[2020-04-15 11:02] saschagrunert commented on #3573
@haircommander @mrunalp do we have something from other `containers/*` projects which we can use here? :thinking:

[2020-04-15 11:41] nshekhar221 commented on #2410
Hi @saschagrunert  ,
We are facing this issue with our CRIO+Cilium setup , where cni-loopback files seems to stay but cilium-portmap files gets cleaned up.

-rw-------. 1 root root  10 Apr 15 11:06 cni-loopback-a7918d91d9f7c300a575155b0b07d031264140e1406b0fcfd6051b31287a83ad-lo
-rw-------. 1 root root  10 Apr 15 11:07 cni-loopback-1c5a41bc4c413e62eda8d87173bbe30a574ae6c457ea85a9132a2c54b089931b-lo

[2020-04-15 11:46] Nefelim4ag opened #3580 "crictl stats return pod memory usage not per container"
CRI-O: 1.17.2
K8s: 1.16.8
Cgroup driver: systemd

We found what `kubectl top pods --containers` return same cpu/memory usage for all containers in POD, after i check that by running crictl stats for 2 containers in same pod

[code]

So that's looks like CRI-O internal error with collecting/store metrics

Thanks

[2020-04-15 12:03] everflux commented on #3233
Never suspected anything else :)

That would be lovely!

Resorting to an image hash would be indeed a solution, thanks for pointing that out, though it is quite inconvenient.

Yes, that worked, for the pause image.
Weave Overlay network is failing with the same root cause, and a couple of other cross-built images, as suspected.

After about 10 minutes trying to (re)start pods crio crashes, but thi

[2020-04-15 12:24] nshekhar221 opened #3581 "cri-o doesn't cleanup cni-loopback files"
We are facing an issue very similar to [#2410](https://github.com/cri-o/cri-o/issues/2410) where we can see a large number of cni-loopback files not getting cleaned up.

**Steps to reproduce the issue**:
1. Create a Cronjob to simulate frequent creation and deletion of pod.
2. A large number of `cni-loopback` files will be found at `/var/lib/cni/results/`
However, corresponding `cilium-portmap` ge

[2020-04-15 12:27] saschagrunert commented on #3581
Hey @nshekhar221 thank you for the report. I think this might be solved with https://github.com/cri-o/ocicni/pull/71. WDYT, @dcbw ?

[2020-04-15 13:29] haircommander commented on #3573
libpod only has https://github.com/containers/libpod/#communications

Maybe we could create a similar list on crio.io (security@crio.io

@caniszczyk do any other CNCF projects have a security.md? I looked at etcd, prometheus, containerd and kubernetes, none of which have one. I am mostly asking to know what typically is in a security disclosure policy that isn't covered in SECURITY_CONTACTS

[2020-04-15 13:36] #3567 closed

[2020-04-15 13:46] TomSweeneyRedHat commented on #3573
The only one I found is https://github.com/containers/crun/blob/master/SECURITY.md which is similar to the libpod entry that @haircommander pointed out.

I'd be happy to basically steal the one in crun and add it to all of the containers/* projects and also crio if that works for everyone.  I'd vote for using the security@podman.io list, but could be dissuaded to use something else.

I'd suggest d

[2020-04-15 13:50] caniszczyk commented on #3573
Kubernetes doesn't have one in a SECURITY.md file yet but it will, it's here: https://kubernetes.io/docs/reference/issues-security/security/

See Envoy as a complex example: https://github.com/envoyproxy/envoy/blob/master/SECURITY.md

[2020-04-15 14:31] nalind commented on #3233
In the cases where I've seen them disagree, the mainfest list was correct while the image's manifest was not.  Looking at `pause:3.1`'s manifest, it contains an "arm64" entry, but that entry doesn't include a "variant" value, so I think the matching logic didn't accept the entry as a match for what it wanted.

[2020-04-15 15:35] nalind commented on #3233
The error message in https://github.com/cri-o/cri-o/issues/3233#issuecomment-613926544 looks like it's coming from `github.com/containers/image/manifest.Schema2List.ChooseInstance()`.
If I'm reading `MatchesPlatform()` right, if the passed-in `wanted` object includes a variant value, and the candidate entry from the manifest list doesn't include a variant value, it won't match.
If I'm reading `Wan

[2020-04-15 16:22] TomSweeneyRedHat commented on #3573
I've started one for the Containers project here:  https://github.com/containers/common/pull/117
We can add/manipulate that into CRI-O if desired.

[2020-04-15 19:35] mtrmac commented on #3233
There was never any conscious decision to break images, even if for some bigger benefit. In the first instance, we were running into cases of users using mismatching architectures _when they didn’t mean to_ and we weren’t aware of images that the users _wanted_ to run that were malformed.

This instance is a bug in a supposed _improvement_ to ARM support (by differentiating the various ARM variant

[2020-04-15 19:46] #3571 closed

[2020-04-16 01:09] mrunalp commented on #3580
@Nefelim4ag What is the path to your `crio.sock` ?

[2020-04-16 09:11] everflux commented on #3233
I didn't want to sound rude in any way, sorry if that was the case. Thanks for explaining the situation!
Having ARM as part of the CI infrastructure sounds good.

While I don't have personal experience with it, the Amazon EC2 Graviton instances might be worth a try since they are massively faster than raspberry or other SBCs. Amazon even offers credits for opensource projects: https://aws.amazon.c

[2020-04-16 09:54] vrothberg commented on #3233
True. I misread the code while skimming.

[2020-04-16 15:38] evanfoster commented on #3581
I've tried patching both 1.16.5 and 1.17.3 to include that PR, but the problem persists:
[code]

After a night of testing (rolling a deployment over and over), I see this:
[code]

Pods also seem to be stuck in `Terminating` or `ContainerCreating on that node and never show up under `crictl ps` or `crictl pods`

[2020-04-16 15:40] #3568 closed

[2020-04-16 18:39] Nefelim4ag commented on #3580
@mrunalp, `unix:///run/crio/crio.sock`

Does that matter?

[2020-04-16 21:35] evanfoster commented on #3581
Here are some logs from my test: https://gist.github.com/evanfoster/c73cd8529ac17c9f547f45ea5e18be86

I'm hoping that's a decent sample. Let me know if I've cut anything off in the middle and I can provide a larger snippet.

[2020-04-17 04:06] mrunalp commented on #3580
Yes, if it is `/var/run/crio/crio.sock` then it will use cadvisor vs. any other path will make it use cri stats. Can you try with `/var/run/crio/crio.sock`? We may have a bug in cri stats that you are hitting.

[2020-04-17 07:30] vivekanandpoojari opened #3604 "cri-o inspect using crictl does not return container config."
**Description**
cri-o inspect does not contain the container config data in info.config.

**Steps to reproduce the issue:**
1.Install cri-o in a k8s cluster.
2.List containers using crictl ps
3.Inspect any container using crictl inspect ##containerID##
4.The info map does not contain any config element of the container.
However in containerd we get this information.

**Describe the results you rec

[2020-04-17 07:32] vivekanandpoojari commented on #3568
Hi,
Thank you for the quick turn around on this.
Can we expect this fix to be back ported to 1.16 or 1.17 ?
We have customers using this version of cri-o.
--Vivekanand

[2020-04-17 07:32] vivekanandpoojari commented on #3568
Hi,
Thank you for the quick turn around on this.
Can we expect this fix to be back ported to 1.16 or 1.17 ?
We have customers using this version of cri-o.
--Vivekanand

[2020-04-17 07:33] vivekanandpoojari commented on #3567
Hi,
Thank you for the quick turn around on this.
Can we expect this fix to be back ported to 1.16 or 1.17 ?
We have customers using this version of cri-o.
--Vivekanand

[2020-04-17 07:49] saschagrunert commented on #3567
Hey, from my perspective this is clearly a feature and we should not backport such changes with patch releases. In any case I'd like to leave room for discussion and would like to hear @mrunalp and @haircommander 's opinions as well :)

[2020-04-17 07:49] saschagrunert commented on #3568
Hey, from my perspective this is clearly a feature and we should not backport such changes with patch releases. In any case I'd like to leave room for discussion and would like to hear @mrunalp and @haircommander 's opinions as well :)

[2020-04-17 13:13] haircommander commented on #3580
@dougsland PTAL

[2020-04-17 15:16] evanfoster commented on #3581
I've run further testing, and it appears that the number of loopbacks isn't growing. However, the number of mounts has grown significantly:
[code]

[2020-04-17 15:19] haircommander commented on #3581
what operating system?

[2020-04-17 15:20] haircommander commented on #3581
what's the output of `conmon --version`

[2020-04-17 15:24] haircommander commented on #3581
`Apr 16 04:56:02 vmss-agent-kata-vmss-test-wzhro000000 crio[1210]: [conmon:e]: Failed to open log file No such file or directory` concerns me because we're getting ENOENT on a open call with O_CREAT, which... shouldn't happen?