[2017-04-30 18:33] jawnsy commented on #479
Just wanted to link @rhatdan's [comment](https://github.com/kubernetes-incubator/cri-o/issues/476#issuecomment-298225174) from #476:

[2017-05-01 11:41] giannisalinetti opened #481 "Build failed on CentOS 7.3.1611"
I am trying to build cri-o on a Centos 7.3.1611 machine with Go 1.6.3.
I followed the setup instructions and installed all the required build dependenies rpms.
The GOPATH variable is defined correctly.
The **make install.tools** installs the necessary vendor dependencies.
When I run the make command I obtain the following:

[code]
The package golang.org/x/net/context is Installed under _$GOPATH/sr

[2017-05-01 17:36] jawnsy commented on #481
Hmm, I'm guessing we need Go 1.7 as a build dependency now, per: https://golang.org/doc/go1.7#context

[2017-05-01 19:53] giannisalinetti commented on #481
I installed Go 1.7 and the build went fine! Thank you very much!
It would be great to include an hint about the right version of Go in the README file of the repository.

[code]

[2017-05-01 20:53] runcom commented on #481
Right, and also, we should get rid of all the go versions matrix in Travis since, afaict, we run tests in a container :) @jawnsy would you take care of that? :angel:

[2017-05-01 22:09] mrunalp opened #483 "rate limit logging in conmon"
We should rate limit logging in conmon to limit I/O usage.

[2017-05-02 10:28] sameo opened #484 "[RFC] Fix firewalld and dockerd iptables when running e2e tests"
Both `firewalld` and `dockerd` set some fairly restrictive iptables rules that prevent `ocid` from passing the e2e tests.

We may want to add a `-iptables-fix` option for overwriting those rules if/when they exist (and restore them when ocid terminates). By default `ocid` would not mess with iptables at all.

[2017-05-02 10:29] sameo commented on #484
cc @mrunalp @rhatdan @runcom

[2017-05-02 20:46] mrunalp commented on #484
Can we use firewalld/iptables to fix those rules for the duration of the test?

[2017-05-04 03:44] jawnsy commented on #481
@runcom Sure, I can look at it, but it'll be awhile as I'm out of the office for most of next week at Microsoft Build in Seattle. Can you assign #393 to me?

[2017-05-04 14:39] mrunalp opened #487 "Devices aren't added in Create Container"
We should add the passed in devices to config.json in create container.

[2017-05-04 14:41] mrunalp opened #488 "Add support for sharing pid namespace"
Upstream k8s merged support for this recently.
We need to:
1. Share the pid namespace for the containers.
2. Provide a simple init container to use as pod infra container.

[2017-05-04 20:37] mheon opened #490 "[RFC] kpod Command Line Discussion"
I've started implementing some CLI commands for `kpod`, and realized that I didn't have a solid grasp on how to lay out the CLI for common commands. @mrunalp had a good idea where he wanted to go with it, but we agreed it was reasonable to put it up for comment and discussion.

The way I've been thinking of approaching it is to split the CLI into separate commands for containers and pod operations

[2017-05-04 20:37] mheon commented on #490
@mrunalp You had a different way of laying out commands, but I don't remember it well enough to write it out myself, so I'll leave that to you

[2017-05-05 14:34] runcom opened #492 "no more useful output?"
Try to create a container in a pod and use a non-existent command as the entrypoint (or command) like run `redis:alpine` (not `redis:latest`!!!) with `/bin/bash` (there's no `/bin/bash` in there) in there.
What you'll get is just:
[code]
We should be presenting something in the response as Kube (and Origin) will use this message in `kubectl describe pod <pod>` and that `EOF` is misleading, it shou

[2017-05-05 14:40] runcom opened #493 "issue running openshift origin"
Origin runs containers with the following caps dropped:
[code]
However, containers fails to start and I don't understand why right now since I'm also hitting https://github.com/kubernetes-incubator/cri-o/issues/492. If you strace runc, I was getting that the bundle path where we store `config.json` and such doesn't exist. I did no more testing.

The thing is, afaict, openshift origin with docker w

[2017-05-05 16:15] runcom opened #494 "configure containers registries in CRI-O"
Right now, if you pass an image name unqualified (meaning, with not hostname/port in it, e.g. `docker pull fedora`), CRI-O assumes `docker.io`. This was the original behavior introduced with `docker` back then. To not break existing deployments, we'd like to have a configuration to setup _additional_ and _blocked_ registries in order to assume other registries (not `docker.io`) and block certain o

[2017-05-05 18:33] mrunalp commented on #492
We need to save the error out from the call to container create in conmon.
@cyphar will you be able to work on this one?

[2017-05-06 12:13] runcom opened #497 "restore failures"
rebooted a vm with origin + cri-o and I'm now seeing:
[code]

should we append a random string at the end of the name for pods and containers so we don't fail that way? @sameo @mrunalp do you know what's the expected behavior? with docker?

[2017-05-06 16:23] runcom opened #498 "save kubeName in annotation to support restore and networking"
from https://github.com/kubernetes-incubator/cri-o/pull/489/files/13f6e956855304816fdb79568ae7633307d65a58#r115115448

(just a placeholder issue)

/cc @mrunalp

[2017-05-06 16:37] runcom commented on #497
looks like this is containers/storage - will need to check how docker behaves when restarting a sandbox (meanwhile /cc @nalind also)

[2017-05-06 20:56] runcom commented on #497
Running with:
[code]
getting same result...but I think this patch should go in anyway.

BTW

@mrunalp so, `runc` has empty container list after reboot of course (same as in docker). When we call `restore()` at ocid startup, it goes and use `s.store.Containers()` to gather containers from disk and call `UpdateStatus` on each of them. The result is (of course):
[code]
Because `runc` can't find the c

[2017-05-06 21:31] runcom commented on #497
Alright, I think I've also figured out that we're calling `UpdateStatus` like everytime possible, which is bad, because on reboot, for instance, there are no runc containers running and that confuses both ocid and kube. Changing all the `return err` from `UpdateStatus` calls makes things a lot better when underlying state changes (see reboot). @mrunalp wdyt?

[2017-05-08 07:08] runcom opened #500 "storage images IDs leak and performance"
If you keep pulling the same image you'll see multiple equal entries in `ocic image list`:
[code]
As for performance, 15s to pull the first image and ~12-13s to pull the same exact image isn't that good. From logs, we keep re-pulling each blob/layer each time whether we should just use the image config digest to see if the image is already on disk (thanks to content addressable storage we should b

[2017-05-08 07:20] runcom commented on #500
@mtrmac @nalind I've also noticed we first copy layers in c/image's `copy` and then config. We should come up with something to check for config first...

[2017-05-08 17:06] #498 closed

[2017-05-09 12:55] mtrmac commented on #500
Why does that matter? (We do it this way because config format depends on supported schema in the output; i.e. we always copy the same layers, but we may try several config+manifest formats until one is accepted.)

(To be pedantic, do you have data indicating that the time is really spent copying layers? It _is_ a good guess, to be sure.)

Ideally `storageImageDestination.HasBlob` should detect th

[2017-05-09 12:58] mtrmac commented on #500
(Broadly speaking, IIRC from conversations in https://github.com/containers/image/pull/63 , c/storage, or perhaps the combination of c/storage+c/image, had difficulties in identifying layers using the uncompressed vs. compressed digests, when the necessary values are not always available. But I’ll leave that up to @nalind as an expert.)

[2017-05-10 12:57] sameo commented on #497
@runcom So iiuc the problem is that when we restore from a reboot, we unconditionally assume that all stored containers and pods should be restored ?

Why can't we keep the restoration logic inside `restore()` by doing the following:

- ping (`kill 0`) all stored containers, mark the ones that don't respond with a `dead` flag.
- For any given pod, we mark it as `dead` iff all its containers are `d

[2017-05-10 13:07] runcom commented on #497
@sameo yep, what you outlined is awesome, going to tackle #499 based on your suggestion trying to cover all other cases.

[2017-05-10 13:09] runcom commented on #497
@sameo well, mostly, there are cases where we still need to restore dead sandboxes because kube/openshift needs to restart them (based on sandbox status and such).

That said, restore is tricky but I'm going to follow your suggestion.

[2017-05-10 13:12] runcom commented on #497
BTW, I still think storing state on disk for containers/pods as I'm currently doing in #499 is still useful, chime in if you think I'm wrong.

[2017-05-10 13:14] sameo commented on #497
@runcom

Is that something we can track based on the original creation request ?

[2017-05-10 13:17] runcom commented on #497
@sameo I think so if we keep state on disk somewhere - right now, if you reboot `/run/runc` will be lost and there won't be any way to restore that state (hence my implementation in #499)

[2017-05-10 17:41] mrunalp opened #503 "networking related test failure"
I am seeing this on master:
[code]
ping @sameo

[2017-05-10 18:05] mrunalp commented on #503
never mind. I was running make localintegration and hadn't copied plugin_test_args.bash to my /opt/cni/bin.

[2017-05-10 18:05] #503 closed

[2017-05-11 08:22] #487 closed

[2017-05-11 08:37] sameo opened #504 "Remove ocic and switch to crictl"
[crictl](https://github.com/kubernetes-incubator/cri-tools/tree/master/cmd/crictl) is providing all the `ocic` features (and more, see the already implemented `crictl attach` command) and will most likely become the official CRI cli for Kubernetes.

Hence we should drop our `ocic` code and switch to `crictl`

[2017-05-11 16:17] runcom commented on #497
one other option which came out from a chat in sig-node: we can start the sandbox/container, checkpoint it somewhere, reboot losing state, restore from checkpoint and that will do the trick.

[2017-05-11 23:38] mrunalp commented on #492
@runcom Actually create shouldn't fail if the command is not found. That will be a failure after the start. You will be able to see an exit code for that scenario.

[2017-05-11 23:39] mrunalp commented on #492
For e.g. (on master):
[code]

[2017-05-12 07:33] runcom commented on #492
Something nasty is happening then, I'll try to reproduce again and see what happens actually.

[2017-05-12 09:44] runcom commented on #492
@mrunalp please test with the following:
[code]
Run:
[code]
it errors out on create, indeed if you run `runc create` directly it fails as well:
[code]
From the command above using `runc` directly we can clearly see that the error in not bubbled up to comnon/CRI-O. I don't know why your example works though.

[2017-05-12 10:27] runcom commented on #493
Finally figured this out :) https://github.com/opencontainers/runtime-tools/pull/380 @mrunalp PTAL over there, I'll re-vendor once that's merged

[2017-05-12 17:41] #493 closed

[2017-05-12 18:43] mrunalp commented on #492
okay, I am working on a fix for it.

[2017-05-13 17:09] runcom opened #509 "Upgrade vendor to kube latest master"
- kube upgraded to golang 1.8.x and, at least tests, do not build with golang < 1.7.x
- we need to upgrade vendored code to kube master

~~Any taker on this would be really appreciated and I'll owe her/him a beer :)~~

[2017-05-15 15:55] runcom opened #514 "fill container's status `Reason` and `Message`"
$SUBJECT with particular attention when the container gets oom killed https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L413
[code]

[2017-05-15 15:58] runcom opened #515 "oom watcher"
need something like a watcher to understand when a container gets oom'ed

[2017-05-15 15:59] runcom commented on #514
depends on #515 somehow

[2017-05-15 16:49] mrunalp commented on #514
I'll look into this. We will need to detect OOM and propagate it up.

[2017-05-15 16:50] mrunalp commented on #515
Yes :+1:

[2017-05-15 21:34] #492 closed

[2017-05-16 11:42] runcom commented on #441
closing :tada:

[2017-05-16 11:42] runcom commented on #441
actually, let's leave this open for https://github.com/kubernetes-incubator/cri-o/issues/441#issuecomment-297554943

[2017-05-16 13:31] runcom opened #519 "measure performance"
Now that we can run basic pods in kube we'll need some sort of benchmarks from kube e2e density to gather info such as how many pod per min, pod per node and whatnot. Let's leave this open for anyone to contribute

[2017-05-16 18:51] runcom commented on #461
we need to make sure we test systemd cgroups in CRI-O (with --cgroup-manager I guess). We'll modify https://github.com/kubernetes-incubator/cri-o/blob/master/contrib/test/crio-integration-playbook.yaml to make sure to have an env variable $CGROUPMANAGER to run tests with systemd cgroup manager.

[2017-05-18 09:40] #461 closed

[2017-05-18 17:47] runcom opened #527 "Error deleting network: failed to delete \"eth0\": operation not supported"
Running kube node-e2e often leads to this sort of errors in CRI-O log (and it appears it does also hang CRI-O and test times out eventually), @sameo @mrunalp @rajatchopra PTAL:

[code]

[2017-05-18 17:54] runcom commented on #527
system:
[code]

[2017-05-19 10:13] runcom commented on #139
This is SELinux

[2017-05-19 10:14] runcom opened #528 "fail to run k8s node-e2e tests because of SELinux on RHEL/Fedora"
@rhatdan:
<details>
<summary>AVCs on RHEL 7.4 (cannot start containers but can start kubelet apparently)</summary>

[code]
</details>
<details>
<summary>AVCs on Fedora (cannot start kubelet)</summary>

[code]
</details>

[2017-05-19 10:15] runcom commented on #139
closing in favor of https://github.com/kubernetes-incubator/cri-o/issues/528 (which happens on Fedora as well)

[2017-05-19 10:17] #139 closed

[2017-05-19 10:18] runcom commented on #528
@rhatdan if you want to test this out I have a VM ready to start debugging

[2017-05-19 11:45] rhatdan commented on #528
https://bodhi.fedoraproject.org/updates/FEDORA-2017-7255551263

If you could try these out on Fedora and update karma.  After installing the container-selinux update you will need to restart cri-o daemon and make sure it is running as container_runtime_t.

ps -eZ | grep crio

[2017-05-19 11:53] runcom commented on #528
awesome, ping @lsm5 for RHEL 7.4 build instead

[2017-05-19 13:15] runcom commented on #528
@rhatdan

[code]

[2017-05-19 13:21] runcom commented on #528
@rhatdan btw, on Fedora the thing isn't related to CRI-O itself when running tests, we just get the following avc for kubelet:
[code]
we need to fix the above in the policy as well

[2017-05-19 13:32] runcom commented on #528
@rhatdan on RHEL instead I see the following avcs after setting the correct label to crio:
<detail>
<summary> avcs in RHEL 7.4</summary>

[code]
</detail>

[2017-05-19 14:11] runcom commented on #527
/cc @dcbw

[2017-05-19 14:13] runcom commented on #527
The above happened in RHEL 7.4 and CentOS 7.3 - not sure it happens in Fedora as well (will check)

[2017-05-19 15:39] #497 closed

[2017-05-20 15:04] runcom opened #531 "image digests TODOs and bugs"
@nalind @mtrmac here's the situation:

- when pulling an image by tag we need to **always** store the digested reference along with the tag (same as docker does)
- we don't have a `RepoDigests` for `ImageStatus` and we just fill `RepoTags` with `status.Names` which just contains tagged references for that image
- (guess what) we need `RepoDigests` slice
- digests must not be stored and shown as th

[2017-05-20 18:22] runcom opened #533 "k8s e2e tests [149/149]"
~~Not that bad for a very first run of k8s e2e tests: 117/151 :smile_cat:~~

Full logs available at:

- ~~https://runcom.red/e2e.log (117/151)~~
- ~~https://runcom.red/e2e-1.log (139/151)~~
- ~~144/151~~
- ~~148/151~~
- 149/151

test yourself with:

[code]

[code]

[2017-05-20 20:53] runcom commented on #527
Happens in fedora as well

[2017-05-21 03:32] mrunalp commented on #533
Nice - next target is getting these to 0 failures :)

[2017-05-22 10:35] runcom commented on #533
alright, trimming down the list above a lot :) many of the failures is just beacuse local-up-cluster.sh runs with SecurityContextDeny. I'll re-run the test and post an updated list :)

[2017-05-22 12:11] runcom commented on #533
FYI I figured the following test:
[code]
will be fixed by using `ALLOW_PRIVILEGED=1` in `local-up-cluster.sh` or, if you run k8s directly, by adding `--allow-privileged`  to `kubelet`.

Not sure that fixes other tests here, I'll re-run them once I finish the run I started in my previous comment :)

[2017-05-22 13:20] runcom commented on #533
first comment updated with new result, 137/151, going to re-run the suite as per my previous comment.

[2017-05-22 13:51] runcom commented on #533
[code]
The patch above makes many other tests pass for tests with images that defines a `Config.Volumes` map. Can be used as a workaround for now till we have correct volume handling in CRI-O. I'll make a PR for it shortly cause there's no reason for now to have those images not working. The tmpfs stuff is an hack, yes, still useful for now.

[2017-05-22 14:13] mrunalp commented on #533
I think we can add this tmpfs volume as a temporary fix. The downside is more RAM usage for containers with VOLUMEs so would want to move to disk-backed cri-o managed volumes.

[2017-05-22 14:35] runcom commented on #533
I'll test with that patch and see how it goes. Will report status here

[2017-05-22 17:50] runcom commented on #533
for the record, I'm running e2e on Fedora 25 and all network tests currently failing seem to be resolved by just `sudo iptables -F` before running tests again - no clue why but it's something _documented_

[2017-05-22 17:52] mrunalp commented on #533
@runcom `iptables -F` removes all the rules so not surprising :) We do want to fix it the right way by just adding the right rules. I wouldn't advise running `iptables -F` outside of a test VM.

[2017-05-22 17:56] runcom commented on #533
139/151, updated first comment and logs available at https://runcom.red/e2e-1.log

[2017-05-22 18:06] mrunalp commented on #533
One of them is the projected failure which is really a bug in kube so one less to worry about ;)

[2017-05-22 18:18] runcom commented on #533
1st and 2nd test used to pass with node-e2e though, we need to understand why they're failing now, they didn't in my first run also...

[2017-05-23 19:46] mtrmac commented on #531
@runcom Is there anything specific I should be doing?

FWIW it may not be _obviously necessary_ to exactly replicate the Docker config digest / manifest digest dichotomy, if the CRI API does not already embed the assumption that this is the way it works

As long as truly different images are not mixed together, it may make sense to e.g. identify images by manifest digest and ignore config digests

[2017-05-23 21:18] runcom commented on #531
@mtrmac wasn't the whole idea of using the config blob digest to be content-addressable? I keep hearing that all over the places and using the manifest digest sounds, instead, weird to me.

[2017-05-23 21:23] mtrmac commented on #531
@runcom This tends towards a philosophical question… The same way you can have two equivalent manifests with different digests, you can have two equivalent configs with diffrent digests, if only because of whitespace. Hence, there will always be “equivalent” images which have different IDs, and that’s really fine.

(It is, _also_, perfectly fine to implement the `docker`-like config+manifest model

[2017-05-23 21:36] runcom commented on #531
@mtrmac, crystal clear, I guess the rest of the issue is for @nalind then

[2017-05-25 13:19] cyphar commented on #91
https://github.com/cyphar/initrs is a very minimal init that I've written (in Rust) that handles this job just fine.

[2017-05-25 20:33] #515 closed

[2017-05-27 14:07] mrunalp opened #540 "Add support for OCI hooks"
One should be able to optionally run hooks if present under a directory like `/usr/libexec/oci/hooks.d`

[2017-05-27 14:09] mrunalp opened #541 "Add support for mount propagation"
Ensure that mount propagation works correctly to inject volumes from the host or to host.

[2017-05-27 14:35] runcom commented on #541
Many of the potential issues here must be addressed in containers/storage also.

[2017-05-27 14:44] mrunalp commented on #541
Yes we can create another issue there.

[2017-05-28 10:59] runcom commented on #533
1st and 2nd have been fixed by #537 - will re-test this out soon

[2017-05-28 11:05] runcom commented on #533
[code]

Fixed by #537

[2017-05-28 11:33] runcom commented on #533
[code]
fixed as well

[2017-05-28 13:05] runcom commented on #446
@cyphar could you test this our against master?

[2017-05-28 15:09] mrunalp commented on #533
Nice!

[2017-05-28 15:31] runcom commented on #533
Port forwarding tests panic, fix is here https://github.com/kubernetes-incubator/cri-o/pull/542

though, it seems our nsenter/socat implementation isn't correctly working (even if it's copy/pasted from the dockershim one, I verified this by running the same tests with docker, and they pass with it, but fail with CRI-O for some weird, network, issue I guess).

[2017-05-28 16:18] mrunalp commented on #533
I suspect that it might be related to iptables. We might need a rule or something may be blocking it. Can you run the tests disabling firewalls to rule out the second scenario?

[2017-05-28 16:51] runcom commented on #533
found the root cause, it's actually a bug in CRI-O itself, port forwarding tests now passes with #542 + a fix coming in a moment :sunglasses:

[2017-05-28 17:03] runcom commented on #533
All port forwarding tests fixed by #542 and https://github.com/kubernetes-incubator/cri-o/pull/543 - @mrunalp PTAL at those :)

[2017-05-28 17:07] runcom commented on #533
I'll re-run the whole e2e once those 2 PRs are merged.

[2017-05-29 09:38] runcom commented on #504
working on this also.

[2017-05-29 10:16] runcom commented on #533
we're now at 144/151 :tada: , I've updated the result in the first comment so look there for failing test. The remaining failing tests are either network issues (probably because of my laptop) or tests that relies on attach (but @mrunalp is working on it :+1:)

[2017-05-29 11:17] runcom commented on #533
@sameo @mrunalp this test works fine only after disabling firewalld and flushing iptables, otherwise it always fail.

[code]
[code]

[2017-05-29 18:23] runcom commented on #533
So 3 of the 7 failures are flaky or misconfigurations, we need to tackle just 4 then, that are all related to attach :)

[2017-05-29 18:55] mrunalp commented on #533
Awesome 👍😀

[2017-05-30 18:51] #8 closed

[2017-05-30 18:52] #23 closed

[2017-05-30 18:53] runcom commented on #124
this has greatly improved since #505 - closing but if stuff doesn't work, please open a new issue.

[2017-05-30 18:53] #124 closed

[2017-05-30 18:55] runcom commented on #171
we do have this now https://github.com/kubernetes-incubator/cri-o/blob/master/conmon/conmon.c

[2017-05-30 18:55] #171 closed

[2017-05-30 18:56] runcom commented on #152
#505

[2017-05-30 18:56] #152 closed

[2017-05-30 18:57] runcom commented on #306
#539

[2017-05-30 18:57] #306 closed

[2017-05-30 18:57] runcom commented on #294
#505

[2017-05-30 18:57] #294 closed

[2017-06-02 08:03] runcom opened #551 "Bump containers/image (dep is broken right now)"
We need https://github.com/containers/image/pull/280 but `dep` is completely broken for me:

[code]

`k8s.io/kube-apiextensions-server/pkg/apis/apiextensions` is a meta package which doesn't (yet) have a github repo, rather it stays here https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kube-apiextensions-server

[2017-06-02 17:50] mrunalp opened #554 "Test failure on master w/ devicemapper"
[code]

[2017-06-04 22:36] mrunalp opened #560 "Add support for host ports"
We will need to add support for node ports in k8s using iptables.
@rajatchopra Can you let us know the specifics of what we need to do for this?

[2017-06-04 22:37] mrunalp commented on #560
cc: @sameo

[2017-06-05 10:58] runcom commented on #533
Turns out this test:
[code]
is failing just because we run the tests w/o a DNS service when doing local-up-cluster, one way to fix it when running the test is to follow this https://github.com/linzichang/kubernetes/blob/master/examples/guestbook/README.md#finding-a-service

(in the CI, we'll likely switch to env DNS as pointed out in that readme)

[2017-06-05 14:57] mrunalp commented on #533
Yeah, we could switch to env for that test :+1:

[2017-06-05 19:30] runcom commented on #533
That test is basically failing because `hack/local-up-cluster.sh` is docker specific I guess https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L52-L58

[2017-06-06 22:07] mrunalp opened #569 "conmon: Support non-terminal attach"
We need to support non-terminal attach. For that, we will have to send both stderr/stdout over the unix domain socket tcp connection to the client. @alexlarsson does glib have any utilities to support framing to handle this?

[2017-06-07 03:40] 14rcole commented on #569
I don't know much about unix domain sockets, but glib has a struct called GUnixConnection with functions that allow sending and receiving of open file descriptors over a uds.  STDOUT_FILENO and STDERR_FILENO could just be passed to these in order to forward the data along, right?

Like I said, I don't know too much about unix domain sockets.  I always thought they were for inter-process communicat

[2017-06-07 08:14] alexlarsson commented on #569
The easiest way would be to let the kernel do the framing, by using  a SOCK_SEQPACKET socket. Just send an initial byte which is the type of stream, and then the data. We just have to ensure that the recieving side uses a large enough buffer. I can take a look at this.

[2017-06-07 08:55] runcom commented on #533
So the only test failing now is the attach one :) I just confirmed the following test works fine (it was a kubelet misconfiguration wrt to kube-dns). We need to enable kube-dns in local-up-cluster to test it, like this:
[code]
After setting `KUBE_ENABLE_CLUSTER_DNS=true` and setting `API_HOST` and `API_HOST_IP` to the vm ip address, the test passes:
[code]

So, we are at 149/151 :) (one is always

[2017-06-07 08:59] runcom commented on #533
Updated first comment :)

[2017-06-07 12:46] #514 closed

[2017-06-08 18:25] luxas opened #578 "Build binaries for all supported architectures"
@runcom https://github.com/kubernetes/community/blob/master/contributors/design-proposals/multi-platform.md

[2017-06-08 19:55] runcom commented on #578
@luxas thanks for the issue, we'll try to work on this asap (hopefully you can also help us :smile: )

[2017-06-12 03:39] smarterclayton commented on #483
Both back pressure and dropping need to be eventually supported.  Backpressure is more useful today.

[2017-06-12 17:25] umohnani8 opened #586 "Missing step in Tutorial - Pod ID"
After the CNI configuration there should be a step to restart the CNI before creating the Pod ID.

[2017-06-13 13:53] 14rcole opened #592 "Building CNI Plugins"
The cri-o tutorial instructs the user `go get` [containernetworking/cni](https://github.com/containernetworking/cni) and build it from source.  The output is supposed to be

[code]
But the output is actually

[code]

Building works as expected if the user checks out the v0.3 branch before building.  Is this an issue that has to be addressed in CNI or is it something that should be changed in the t

[2017-06-13 14:06] runcom commented on #592
Didn't we fix that https://github.com/kubernetes-incubator/cri-o/pull/589?

[2017-06-13 14:06] sameo commented on #592
@runcom we did not fix the tutorial
Fixed with PR #593

[2017-06-13 14:07] runcom commented on #592
Alright just saw Sam's PR

[2017-06-13 14:45] runcom opened #594 "Split bind and advertise adress"
ref: https://github.com/kubernetes-incubator/cri-o/pull/590

we need a way to split those addresses for the streaming server

@mrunalp @sameo @apilloud

[2017-06-13 14:59] #592 closed

[2017-06-13 15:44] apilloud commented on #594
To add more context: The server might want to bind to the wildcard address and advertise a public address, possibly one that isn't on the host. (An AWS public IP for example.)

[2017-06-13 15:48] gtirloni opened #595 "Cannot delete pods"
CentOS 7.3
Kubernetes 1.6.4
runc 1.0.0-6.gite800860.el7
cri-o (83b33e826720bbf61929fed7e1a998cb728ba08f)

All installation works and `kubeadm init` finishes. Deploying the Calico network fails.

To clean things up, I deleted Calico's deployment but the pods could not be deleted.

Trying to delete them manually has no impact, same errors. Pods go into "Terminating" status and back to "Running" and

[2017-06-13 15:49] gtirloni commented on #595
[code]

[2017-06-13 16:05] runcom commented on #595
@gtirloni I guess you need to `kubectl delete deploy` for calico otherwise kube restarts it? @sameo ptal if you can

[2017-06-13 16:05] runcom commented on #595
@sameo also I think we shouldn't fail on pod stop if net is  uninitialized right?

[2017-06-13 16:09] gtirloni commented on #595
@runcom I have already deleted the deployment and Kubernetes keeps trying to delete the underlying pods but fails over and over.

[code]

The go from Terminating to ContainerCreating again.

[code]

[2017-06-13 16:20] sameo commented on #595
@gtirloni Can you try applying this patch:

[code]

It should fix the pod destroying part. However, it seems calico is not installing a CNI configuration so there's something else going on:

[code]

Can you get the logs for this specific pod ?

[2017-06-13 16:41] gtirloni commented on #595
@sameo thanks for taking a look at this.

I applied your patch and it looks like the error is now a warning, as I think you intended.

The pods still fail to get created and I got a bit list with so many messages. I pasted it all here hoping it's more useful than trying to fish individual pieces: https://pastebin.com/raw/aq8NwnRX

Here's the logs from Calico:

[code]

However, I don't know if this

[2017-06-13 19:22] runcom commented on #595
@sameo are you making a pr with the patch above? :)

[2017-06-13 19:40] rajatchopra commented on #560
@mrunalp I assume you mean HostPort support here.
Unfortunately, the runtime has to handle that until kubernetes and cni converge for passing the hostport configuration over through cni to the plugin itself (~ after kube 1.7).
Meanwhile, we should be able to use kubenet libraries directly and get the support in crio. It will be done asynchronously from the CNI calls. The other option would be to g

[2017-06-13 20:09] mrunalp commented on #560
@rajatchopra using kubenet for now sounds good!

[2017-06-13 20:49] mrunalp commented on #594
@apilloud Is this something you can work on?

[2017-06-13 22:34] sameo commented on #595
@runcom Yes, I will do so tomorrow :) Then I'll test calico on my side.

[2017-06-13 22:45] sameo commented on #595
@gtirloni I assume you used http://docs.projectcalico.org/v2.3/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml for your calico pods ?

[2017-06-13 23:48] gtirloni commented on #595
@same that's right, v2.3 of that doc.

[2017-06-14 15:26] runcom commented on #533
attach test now passes!

@rajatchopra @dcbw @sameo  could you help figuring out the network flakyness? probably some misconfiguration:
[code]
the above is never passing for some reason

The test below passes only if we stop firewalld and flush iptables before running tests:
[code]

[2017-06-14 17:20] mrunalp opened #600 "Reduce event spam"
We want to add code and test this in cri-o as well
https://github.com/kubernetes/kubernetes/pull/47462/files

@derekwaynecarr

[2017-06-14 17:24] Random-Liu opened #601 "Potential busy loop."
https://github.com/kubernetes-incubator/cri-o/blob/00444753e7ec1241e67b28c3572e635e4d47aa11/oci/oci.go#L518-L525

If container stop timeout is quite long, this seems to be a busy loop last for a long time. Maybe add a sleep or timer.

[2017-06-14 22:13] runcom commented on #595
will be fixed by #599 and #598

[2017-06-14 22:14] runcom commented on #600
we don't really control how CRI-O handles errors to kube - kuberuntime should do the lift and cleanup from "rpc error code blablabla" I guess (if I have understood correctly the issue, otherwise sorry for the noise)

[2017-06-14 22:15] runcom commented on #554
do we care about devmapper at this point? :confused:

[2017-06-14 22:16] mrunalp commented on #554
Clear containers use it.

[2017-06-14 22:27] runcom commented on #554
Yeah, I mean, the current one? Weird as I got failures as well and didn't investigate because I thought they plan to use the new one once available. We should fix this then

[2017-06-14 23:25] #595 closed

[2017-06-15 00:34] gtirloni commented on #595
@runcom @sameo thank you a lot!

[2017-06-15 04:45] #569 closed

[2017-06-15 12:55] rhatdan commented on #554
When I have tried to vendor in container/storage, it is also failing on devicemapper.

[2017-06-15 17:29] #601 closed

[2017-06-15 19:06] apilloud commented on #560
Getting HostPorts working is at the top of my todo list. I'll take this on today unless someone else is on it.

[2017-06-15 20:22] mrunalp commented on #560
@apilloud Go for it! :)

[2017-06-15 20:26] rajatchopra commented on #560
@apilloud
+1

In my mind I was planning to use this:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/hostport

Especially this call: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/hostport/hostport_syncer.go#L156

Any other way is just fine. Will be happy to review the PR. Thanks.

[2017-06-15 23:19] mrunalp commented on #483
@smarterclayton Do we want to do our own throttling or just rely on cgroups?

[2017-06-16 20:09] umohnani8 commented on #586
Needed to disable SELinux and get a specific version of runc. After that restarting crio or cni was not required and I was able to finish the tutorial without any problems!

[2017-06-16 20:09] #586 closed

[2017-06-16 23:07] mrunalp opened #610 "#cri-o on kubernetes.slack.com"
It will be good to have a slack channel for cri-o in the kubernetes organization.
@sarahnovotny @yujuhong @vishh Could you help with that?

[2017-06-19 01:20] smarterclayton commented on #483
our own eventually.  for dropping I'd expect a ring buffer and for that I'd expect a fixed size to be configurable, potentially per pod at some point.  The log options on the docker engine are reasonably close to what I'd expect today at a high level (a good model).

[2017-06-21 10:22] runcom opened #616 "Streamline RPMs and debs"
I would love to have RPMs and debs built as part of our CI (shouldn't impact on time). Those packages will then be available for a smoke test for everyone (and for some automation test).

Spec file and the equivalent for deb should also reside on this git repo - we, maintainers and contributors, know everytime if something changed in the installation and should update spec asap.

@mrunalp @sameo w

[2017-06-21 13:30] alexlarsson opened #617 "Container names may not be unique"
Server.generateContainerIDandName() creates a runc name for the sandbox like this:
[code]

This seems unsafe wrt collisions. For instance, say you have a pod "foo-bar", and with a container "gazonk", and you have another pod named "foo", with a container named "bar-gazonk". These two will get the same container name.

I don't know the behaviour up the stack, but it seems to me that even if this is

[2017-06-21 14:36] runcom commented on #617
we're missing the pod sandbox UID in both containers and sandbox names, I'll add it.

[2017-06-22 10:16] jorgemoralespou opened #621 "Is Kpod meant to be a linux only tool?"
While looking into the project, kpod seems a tool any developer/admin could use to interact with a kubernetes/openshift platform, in that regards, it could be used from different Operating Systems.
I see that there is no binaries being released, but there are some issues targeting the creation of rpms and deb packages.

Also in the README, there is a comment:

Does this mean that kpod is part of w

[2017-06-22 10:44] cyphar commented on #621
The (big picture, not current status) plans for kpod is that it will allow you to run `cri-o` operations without the cri-o daemon running (since the cri-o daemon isn't actually necessary, it only exists to provide a gRPC endpoint).

I'm not entirely sure what the plans are regarding the actual CLI interface (I haven't touched this project in a while or talked to @mrunalp about his plans in this re

[2017-06-22 14:16] #617 closed

[2017-06-24 17:28] #560 closed

[2017-06-28 01:17] jberkus commented on #490
so removing a container would be:

[code]

... seems pretty logical and easy to remember.

The alternative, since for container operations you pretty much always need to list a pod, would be to *imply*.  That is, if I type `kpod remove my-pod` it removes the pod, but `kpod remove my-pod my-container` removes the container from the pod.  That would save typing, except that it wouldn't work for all

[2017-07-11 14:01] rhatdan commented on #621
Korrect.  kpod is only working on the back end of cri-o. Not talking to any daemons, So there is no plan to make it work on any platforms other then platforms that support cri-o.

[2017-07-11 14:02] rhatdan commented on #616
Seems like a good idea to me.

[2017-07-11 14:04] rhatdan commented on #551
@runcom Is this still an issue?

[2017-07-11 14:04] rhatdan commented on #541
Has this been verified?

[2017-07-11 14:05] rhatdan commented on #540
Fixed in https://github.com/kubernetes-incubator/cri-o/pull/562

[2017-07-11 14:06] rhatdan commented on #533
@mrunalp Can we close this issue?  I think all tests are passed now

[2017-07-11 14:07] rhatdan commented on #531
@runcom Please update the status on this issue?

[2017-07-11 14:07] runcom commented on #533
let's leave this open till we figure the DNS stuff out

[2017-07-11 14:07] rhatdan commented on #527
@runcom Is this still an issue?

[2017-07-11 14:07] runcom commented on #551
nope

[2017-07-11 14:07] #551 closed

[2017-07-11 14:08] runcom commented on #531
@rhatdan we would love @nalind to tackle this in c/storage

[2017-07-11 14:08] runcom commented on #527
it is, yes, ping @dcbw @rajatchopra

[2017-07-11 19:44] rhatdan commented on #500
@nalind Is this still an issue?

[2017-07-11 19:46] rhatdan commented on #494
This should be moved to containers/image or containers/storage?  It should be in a config file provided by them.

[2017-07-11 19:48] rhatdan commented on #490
We have moved kpod to following the docker syntax for commands.  I think that is simplest and easiest for people to convert.  I think we should close this issue.

@mrunalp @runcom Please close this.

[2017-07-11 19:49] rhatdan commented on #481
Is this still an issue, I know that @lsm5 has built crio for centos,  Please close issue if this works fine.

[2017-07-11 20:18] lsm5 commented on #481
the cri-o build for CentOS virt sig can be found here: https://cbs.centos.org/koji/buildinfo?buildID=17551 . There might be some deps associated with this, so i would suggest:

    # install the virt sig repo
    sudo yum install https://lsm5.fedorapeople.org/centos-release-container-1-3.el7.noarch.rpm

    # install cri-o
    sudo yum install cri-o

[2017-07-11 20:22] lsm5 commented on #481
This was built using golang 1.7.4, also available in Virt SIG repo

[2017-07-11 20:24] nalind commented on #500
When the image is being pulled multiple times, it's getting assigned a new ID each time, and the tag is being moved to the most-recently-pulled copy each time.  (The output of `ocic image list` lists each image's ID, then its zero or more tags.)

HasBlob() doesn't currently detect "blobs" that are part of images that have previously been pulled, since they aren't blobs any more at this point.  Som

[2017-07-11 20:30] runcom commented on #494
I have a branch for this, it will be done directly in cri-o, containers/image and storage will always be given the fully qualified image name.

[2017-07-11 20:35] #540 closed

[2017-07-11 20:37] #479 closed

[2017-07-11 20:39] #280 closed

[2017-07-11 20:39] #191 closed

[2017-07-11 20:40] rhatdan commented on #494
Ok, Only issue I would see if whether or not we wanted buildah to have the same support.

[2017-07-11 20:40] mrunalp commented on #209
This has been completed.

[2017-07-11 20:40] #209 closed

[2017-07-11 20:41] mrunalp commented on #75
We will switch to cri-tools at some point.

[2017-07-11 20:41] #75 closed

[2017-07-11 20:42] mrunalp commented on #82
We have updated README with expected version of runc.

[2017-07-11 20:42] #82 closed

[2017-07-11 20:42] rhatdan commented on #528
@runcom is this still happening?

[2017-07-11 20:43] mrunalp commented on #453
crioctl/ocic is mainly a debugging tool. cri-o works fine with k8s.

[2017-07-11 20:43] #453 closed

[2017-07-11 20:43] rhatdan commented on #477
@sameo Is this still a problem?

[2017-07-11 20:43] rhatdan commented on #476
@lsm5 has done most of this now.  @mrunalp  I think we can close this

[2017-07-11 20:44] rhatdan commented on #478
@sameo did you complete this?

[2017-07-11 20:44] rhatdan commented on #481
@mrunalp Please Close.

[2017-07-11 20:44] #481 closed

[2017-07-11 20:44] mrunalp commented on #125
Can we close this? I have #610 tracking request for slack channel.

[2017-07-11 20:44] rhatdan commented on #475
@mrunalp Since we are at 1.0 alpha I think we should be able to close this

[2017-07-11 20:45] #125 closed

[2017-07-11 20:45] #475 closed

[2017-07-11 20:45] rhatdan commented on #452
@surajssd I believe this is fixed now.

[2017-07-11 20:46] rhatdan commented on #446
@cyphar I believe this must be fixed, can you close the issue?

[2017-07-11 20:47] mrunalp commented on #541
Actually, this is still being worked on in upstream k8s.

[2017-07-11 20:47] rhatdan commented on #324
@jawnsy are you still having this problem or can we close this issue?

[2017-07-11 20:47] rhatdan commented on #341
@mrunalp I believe this is fixed and can be closed.

[2017-07-11 20:48] rhatdan commented on #346
@sameo @cyphar We support multiple runtimes so can this be closed?

[2017-07-11 20:50] mrunalp commented on #528
@rhatdan Yeah, I will get you the steps here.

[2017-07-11 20:51] rhatdan commented on #488
@mrunalp Did you complete this?

[2017-07-11 20:52] rhatdan commented on #375
@vbmade2000 Is this still an issue.  Just trying to cleanup issues.

[2017-07-11 20:54] lsm5 commented on #476
PPA for ubuntu 16.04.2 and 17.04 is available at https://launchpad.net/~projectatomic/+archive/ubuntu/ppa . I'm gonna need help for putting this in debian itself, primarily because I don't have enough motivation to un-vendor dependencies :)

[2017-07-11 20:54] rhatdan commented on #382
No, you can modify the /etc/crio/crio.conf
Can we close this issue?
@mrunalp PTAL

[2017-07-11 20:55] mrunalp commented on #528
1. Start crio service
2. Get this branch of k8s https://github.com/runcom/kubernetes/tree/custom-RHEL-node-e2e
3. Start the tests
```make test-e2e-node PARALLELISM=1 RUNTIME=remote CONTAINER_RUNTIME_ENDPOINT=/var/run/crio.sock IMAGE_SERVICE_ENDPOINT=/var/run/crio.sock TEST_ARGS="--prepull-images=true" FOCUS="\[Conformance\]"```

[2017-07-11 20:57] lsm5 commented on #476
Also, dh-make-golang (including the latest upstream version) simply crashed when I tried to package this up.

[2017-07-11 20:58] mrunalp commented on #488
Not yet. I'll take this up next.

[2017-07-11 20:59] mrunalp commented on #426
@mheon are you still seeing this?

[2017-07-11 21:00] #382 closed

[2017-07-11 21:01] mrunalp commented on #168
Closing as I assume you aren't working on this actively.

[2017-07-11 21:01] #168 closed

[2017-07-11 21:08] rhatdan commented on #621
@mrunalp Please close

[2017-07-11 21:10] rhatdan commented on #578
@lsm5 could you see if CRI-O builds on other arches?

[2017-07-11 21:13] rhatdan commented on #519
@jeremyeder team is beginning to look at this.

[2017-07-11 21:15] rhatdan commented on #484
@sameo is this still an issue?

[2017-07-11 21:16] rhatdan commented on #197
@mrunalp Is this still an issue?

[2017-07-11 21:17] rhatdan commented on #278
@sameo what should we do with this issue?

[2017-07-11 21:19] rhatdan commented on #221
@mrunalp lets change the title on this to kpod run.
@mheon Could you update the status on this.

[2017-07-11 21:19] #621 closed

[2017-07-11 21:20] rhatdan commented on #229
@xlgao-zju have you worked on this?  We are now following the docker CLI, not sure if this overlaps or would stay as a separate command.

[2017-07-11 21:20] mrunalp commented on #484
Yeah, this is an issue. ping @rajatchopra @dcbw

[2017-07-11 21:21] mheon commented on #221
Presently working on refactoring to make containers independent from pods, so they can be created without requiring a pod be created prior. This will allow `kpod run` to be written.

[2017-07-11 21:21] rhatdan commented on #223
@Crazykev Did you ever work on this?

[2017-07-11 21:22] mrunalp commented on #297
Closing this. We have switched to using glib for handling this. We can revisit in future if necessary.

[2017-07-11 21:22] #297 closed

[2017-07-11 21:22] #341 closed

[2017-07-11 21:22] rhatdan commented on #224
Should be reassigned to @baude and renamed to kpod ps

[2017-07-11 21:23] mrunalp commented on #324
I think we can close this. @jawnsy re-open if still an issue.

[2017-07-11 21:23] #324 closed

[2017-07-11 21:23] rhatdan commented on #228
@umohnani8 Has opened a pull request for this.  Please link it.

[2017-07-11 21:24] rhatdan commented on #202
@runcom what is the state of this issue?

[2017-07-11 21:24] mrunalp commented on #197
This has been fixed.

[2017-07-11 21:24] #197 closed

[2017-07-11 21:25] rhatdan commented on #225
@14rcole Is working on this.  Please link your pull request to this issue.

[2017-07-11 21:26] rhatdan commented on #226
@14rcole is working on this kpod inspect --images  Please link your pull request.

[2017-07-11 21:26] rhatdan commented on #293
@cyphar is this still an issue, or can we close this?

[2017-07-11 21:27] mrunalp commented on #223
@rhatdan I believe we will need to re-assign all of these kpod issues.

[2017-07-11 21:27] rhatdan commented on #132
@runcom Is this a duplicate of your --block-registry issue?

[2017-07-11 21:28] rhatdan commented on #227
@14rcole has a pull request for this.  Ryan please add link.

[2017-07-11 21:29] rhatdan commented on #302
@jawnsy Is this still an issue?

[2017-07-11 21:29] lsm5 commented on #578
is it ok/enough to consider arches supported by fedora? It failed for s390x for some reason, I gotta revisit it, but it's available for other arches https://koji.fedoraproject.org/koji/buildinfo?buildID=913950

[2017-07-11 21:29] rhatdan commented on #312
@mrunalp We have bash completions for kpod, so this can be closed.

[2017-07-11 21:30] rhatdan commented on #314
@mrunalp @jawnsy I don't think this is still an issue, can we close it?

[2017-07-11 21:30] #312 closed

[2017-07-11 21:30] rhatdan commented on #323
@jawnsy is this still an issue?

[2017-07-11 21:31] rhatdan commented on #287
@cyphar @gouyang is this still an issue?

[2017-07-11 21:32] rhatdan commented on #359
@gouyang @mrunalp is this still an open issue?

[2017-07-11 21:32] rhatdan commented on #377
I think this is something we should look at post 1.0.

[2017-07-11 21:32] rhatdan commented on #438
@cyphar @mrunalp Is this still an issue?

[2017-07-11 21:33] rhatdan commented on #393
@runcom Hasn't RHEL moved on from GOLANG 1.6?

[2017-07-11 21:34] rhatdan commented on #594
@apilloud ?

[2017-07-11 21:34] rhatdan commented on #578
@luxas WDYT?

[2017-07-11 21:44] #314 closed

[2017-07-11 21:45] mrunalp commented on #438
@rhatdan I haven't seen this again. We could close it and re-open if required.

[2017-07-11 21:52] apilloud commented on #594
Sorry I didn't comment here. Took a look at this, it doesn't really seem useful to me without something like the cloud provider API to discover the public address. I don't have time to work on it at the moment.

[2017-07-12 00:20] umohnani8 commented on #228
The pull request for this has been accepted and merged.
https://github.com/kubernetes-incubator/cri-o/pull/638

[2017-07-12 00:22] jeremyeder commented on #519
JFYI @sjug we can report data back here once we've run tests and reviewed internally.

[2017-07-12 00:33] #228 closed

[2017-07-12 02:30] xlgao-zju commented on #229
@rhatdan No, actually. Feel free to close this or reassign this to someone else.

[2017-07-12 02:46] vbmade2000 commented on #375
@rhatdan I was not able to check for this issue due to unavailability of bandwidth. You can close it.

[2017-07-12 06:55] luxas commented on #578
arm, arm64, ppc64le and s390x are the official platforms for k8s, but introducing three new in one go and investigating / following up with s390x SGTM. Also you might contact some s390x people to help if you want

[2017-07-12 10:23] amitkumarj441 commented on #610
@mrunalp :+1:

[2017-07-12 10:47] runcom commented on #202
@rhatdan still blocked on https://github.com/kubernetes/kubernetes/pull/46332

[2017-07-12 10:49] runcom commented on #132
@rhatdan half and half. This is also about ways to tell c/storage to _pull_ from the fs.

[2017-07-12 12:18] rhatdan commented on #438
@mrunalp Lets close it.

[2017-07-12 12:18] rhatdan commented on #375
@mrunalp Please Close.

[2017-07-12 12:19] rhatdan commented on #229
@mrunalp Lets close this and see if we need extra commands once we have completed the kpod suite.

[2017-07-12 12:19] rhatdan commented on #223
Yes, I think either you or @mheon have to work on this.

[2017-07-12 14:25] #438 closed

[2017-07-12 14:25] #375 closed

[2017-07-12 14:25] #229 closed

[2017-07-13 03:57] Crazykev commented on #223
@rhatdan Not working on this recently, please re-assign someone else.

[2017-07-14 00:44] gouyang commented on #287
I can still hit the issue by the steps I described above.

[2017-07-14 00:48] gouyang commented on #359
It's not an issue now.

[2017-07-14 00:48] #359 closed

[2017-07-14 22:26] sboeuf opened #659 "Bats using "ctr execsync" should not expect any output"
I think the `runc` behavior is not right when `crioctl ctr execsync` calls into `runc exec -d 12345 echo hello`.
Indeed, I don't get why runc print to the current shell the output while it is supposed to be detached. In my opinion, the detached mode stands for a complete separation of the current shell. Meaning that we could start a bunch of different commands with no output on the shell.
In those

[2017-07-14 22:28] sboeuf commented on #659
@mrunalp please give me your opinion about that, because I think the way `runc` behaves is wrong. Notice this is happening when `tty=false`. It does not returns any output in case `tty=true`.

[2017-07-15 20:00] jawnsy commented on #323
Haven't checked for awhile, let's assume not anymore :)

[2017-07-15 20:00] #323 closed

[2017-07-15 20:03] jawnsy commented on #302
It's still failing [0], but upon deeper reflection, I'm not sure it matters -- moby/docker only supports x86-64, so perhaps i586 should be excluded from the SUSE RPM definition (in other words, it shouldn't attempt to build on i586 at all).

@cyphar thoughts? Does it make sense to have CRI-O runnable on 32-bit x86?

[0] https://build.opensuse.org/package/live_build_log/home:cyphar:containers/crio/

[2017-07-17 13:16] runcom commented on #302
This is also happening in rawhide with go1.9 beta

[2017-07-17 16:55] #302 closed

[2017-07-18 10:05] runcom commented on #202
https://github.com/kubernetes/kubernetes/pull/46332 has been merged for node-local seccomp profiles - however we are still waiting on a seccomp spec I guess https://github.com/kubernetes/kubernetes/issues/39128

[2017-07-19 23:26] sboeuf commented on #659
Closing this issue as this is a known and wanted behavior for `runc`. Reference https://github.com/opencontainers/runc/issues/1525

[2017-07-19 23:26] #659 closed

[2017-07-24 16:39] TomSweeneyRedHat opened #689 "Add --creds to kpod pull"
There are changes for the "buildah from" command to add credentials.  That PR is currently under review at: https://github.com/projectatomic/buildah/pull/204.  Similar functionality should be added to kpod pull.  The code in buildah is based on the code from skopeo.

[2017-07-24 17:20] TomSweeneyRedHat commented on #689
As a note, I'll be working on this issue unless Urvashi has beaten me to the punch with here work in the space.

[2017-07-25 14:37] TomasTomecek opened #690 "precisely document the scope of this project"
I just got pinged about whether cri-o is going to be a standalone container runtime. As far as I remember, the answer is that it's meant to be used explicitly with kubernetes (can't find it anywhere). Is this correct? If so, can we stress it in the readme? (can send a PR)

[2017-07-25 15:08] rhatdan commented on #690
We are building out the kpod tools to allow you to do most things with containers without requiring CRI-O to be running.  kpor run,exec, rmi, rm ...  But the primary goal of this is to be to help people diagnose what is going on in a k8s/CRI-O environment.
Most people who are running kubernetes with upstream docker project, use docker cli to diagnose issues, so we want to build out kpod to be able

[2017-07-25 16:55] TomasTomecek commented on #690
Seems like that cri-o version in Fedora rawhide falls behing upstream a bit since I cannot see `run` nor `exec`. There is just `launch` and it says:

[code]

I'm assuming from your detailed description that at some point I could be able to run and manage my containers using kpod and not need any daemons to interact with.

[2017-07-25 17:26] mheon commented on #690
@TomasTomecek kpod is still very much a work in progress, and neither of those are yet implemented in master, never mind our released versions. Image management has already been implemented, and basic container management is now being worked on.

Your second point is spot on, though. Once complete, kpod should be able to manage containers and pods on its own without a CRI-O daemon running.

[2017-07-25 17:51] TomasTomecek commented on #690
Neat! This is great news. Not sure if you guys have this documented or you would like to share this in a roadmap. If not, I'm good and we can close this one.

[2017-07-26 17:53] sjug opened #695 "cri-o pprof endpoint is at same port as OpenShift pprof endpoint"
OpenShift provides pprof endpoints at `:6060` and `:6061` so I am unable to get cri-o pprof data from the enpoint also at `:6060`.

If we could change the port to something else that would be helpful.

[2017-07-26 22:44] #695 closed

[2017-07-27 13:29] rhatdan commented on #578
I think we can close this issue?

[2017-07-27 13:38] luxas commented on #578
What platforms do you build for now?

[2017-07-31 14:05] runcom opened #710 "GO idiomatic (not)"
Stuff like https://github.com/kubernetes-incubator/cri-o/blob/master/libkpod/containerData.go aren't go idiomatic, that file should be `container_data.go` . This also should be underscored https://github.com/kubernetes-incubator/cri-o/blob/master/libkpod/containerserver.go

@14rcole @mheon PTAL

[2017-07-31 14:09] rhatdan commented on #710
Lets open a pull request to rename them.

[2017-07-31 14:13] mheon commented on #710
@runcom Good catch. Haven't been watching file naming when reviewing stuff, I'll try to look for this from now on.

Opened #711 to fix.

[2017-07-31 18:39] Random-Liu opened #712 "Sirupsen and sirupsen"
runc and containerd are all moving up to `sirupsen` v1.0.0.

cri-o and packages it's using are still at `Sirupsen` v0.11.5.

Are we going to update to `sirupsen`?

[2017-07-31 18:42] runcom commented on #712
We do yes!

[2017-07-31 18:44] Random-Liu commented on #712
@runcom Cool! Thanks!

[2017-07-31 19:48] #710 closed

[2017-07-31 19:58] crosbymichael opened #715 "Breakout https://github.com/kubernetes-incubator/cri-o/pkg/ocicni into separate repo"
Can we break this package out into a separate repo as it seems like it is used by multiple CNI users.

[2017-07-31 20:52] mrunalp commented on #712
Created #716 to fix. Thanks!

[2017-07-31 21:15] mrunalp commented on #715
Sure, we are working on it. I'll update here once it is done. Thanks!

[2017-07-31 21:19] crosbymichael commented on #715
Thanks

[2017-08-01 15:22] mhausenblas opened #719 "Support in-place updates of container resource constraints"
It would be very beneficial if CRI-O could solve https://github.com/kubernetes/kubernetes/issues/5774, that is, rather than having to launch a new pod when changing the resource limits, modifying the CPU and memory constraints of a running container.

CC: @rhatdan

[2017-08-01 17:57] rhatdan commented on #719
@mrunalp @runcom WDYT?

[2017-08-01 18:11] Random-Liu commented on #715
Thanks~

[2017-08-01 18:13] runcom commented on #719
I +1'ed this already, I'm super in favor of something like - only thing I hadn't understood if we're blocked on upstream kubernetes (because of the scheduler) or on container runtimes (cri-o and others)

[2017-08-01 18:45] rhatdan commented on #719
If there is an API to do this, we should, if not we should at least implement it in kpod.

[2017-08-01 19:47] mrunalp commented on #719
runc has an update functionality. With k8s, scheduling and other decisions come into play. It should be straight forward for cri-o to implement it once we get the call over CRI, but kubelet and higher layers would have to make the decisions.

[2017-08-02 05:45] mhausenblas commented on #719
So thanks folks, great to learn that CRI-O in principle can address this. Since it seems it's more a question what the dependencies are (like: what needs to change in the kubelet) may I suggest that we comment on https://github.com/kubernetes/kubernetes/issues/5774 to clarify this?

[2017-08-02 15:04] sak0 opened #723 "run pod failed with runc-1.0-rc3/rc2"
### base env
**crioctl --version**
crioctl version 1.0.0-alpha.0

**kpod version**
Version:       0.0.1
Go Version:    go1.8
Git Commit:    fa6e2d8
Built:         Tue Aug  1 03:56:00 2017
OS/Arch:       linux/amd64

**uname -r**
4.10.9-1.el7.elrepo.x86_64

### with [runc-1.0-rc3](https://github.com/opencontainers/runc/releases/download/v1.0.0-rc3/runc-linux-amd64) Failed
**crioctl pod run --config

[2017-08-02 15:08] runcom commented on #723
You need at least rc4 yeah

[2017-08-02 15:08] #723 closed

[2017-08-02 15:08] rhatdan commented on #723
The master branch should be working with runc 1.0.0 - Released.

[2017-08-08 07:13] m1093782566 commented on #594
Hi all,

Can I work on it?

[2017-08-08 15:27] rhatdan opened #743 "kpod mount testing should be checking for container id in the test."
kpod mount CTRID1
kpod mount | grep CTRID1
kpod mount --format=json | grep CTRID1

[2017-08-09 22:42] Random-Liu commented on #712
Close this since https://github.com/kubernetes-incubator/cri-o/pull/735 is merged.

[2017-08-09 22:42] #712 closed

[2017-08-10 14:14] crosbymichael commented on #715
@mrunalp any update on this move?

[2017-08-10 14:29] cyphar commented on #715
We moved this into the repo several months ago, to aid development. If we're going to move it somewhere it really should be in a organisation repo rather than a personal repo (which was the case previously).

[2017-08-10 17:38] mrunalp commented on #715
I have moved it to https://github.com/cri-o/ocicni but haven't cleaned up that repo yet.

[2017-08-11 05:59] gouyang opened #754 "Stop or Remove non-existent pod is successful"
[code]

I think it's better to throw an error, such as "No such pod: id 4653281".

[2017-08-11 06:06] gouyang opened #755 "Create the same pod again it just replace the old one."
CRI-O
[code]

K8s:
[code]

[2017-08-11 10:45] runcom commented on #755
Is kube really behaving like this?! What's the expectation here? The second call to "kubectl create" should have created a replacement pod for the first one? I doubt this is what kube needs (and tests would have covered something like this.)

Could you shed some light about the issue here?

[2017-08-11 10:45] runcom commented on #755
I see it now. We have a bug somewhere probably?

[2017-08-11 10:47] runcom commented on #754
This is Kubernetes CRI required behavior https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L28-L32 and https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L36-L37, closing...

[2017-08-11 10:47] #754 closed

[2017-08-11 10:51] runcom commented on #755
This is also an expected behavior in CRI-O itself, see https://github.com/kubernetes-incubator/cri-o/blob/master/server/sandbox_run.go#L117-L134. The rationale behind that (which is also done in dockershim) is having CRI-O remove and re-create a pod in case of conflicts at the kubernetes level. Think about kube not having the pod in memory and request the same pod name, CRI-O will re-create it.
`c

[2017-08-11 10:51] #755 closed

[2017-08-11 15:41] fabiand opened #756 "Support for restarting the kubelet without killing pods/containers"
I'm not sure about today's state, but we - KubeVirt - will need a way to ensure that our containers (as part of pods) will survive a kubelet restart/reload.

This probably relies on cri-o's support but also on the support in kubelet. This issue is about making sure that cri-o will support this use-case.

[2017-08-12 00:06] gouyang commented on #755
If there are some containers are using this pod, create the pod again replaces the old pod, how to deal with the containers it associated? The containers are just gone in the test. It looks not reasonable.

[code]

[2017-08-12 20:10] mrunalp commented on #756
@fabiand We do support that today and have a test to ensure that it doesn't break.
In CreateContainer CRI API, we spawn conmon which in turn starts the container/VM and monitors it. This allows us to restart the cri-o daemon w/o taking down the running containers.

[2017-08-14 12:53] fabiand commented on #756
Cool - I was not aware of this, I need to play a little more with K8s/CRI-O then.

[2017-08-14 12:53] #756 closed

[2017-08-17 05:14] adiri commented on #595
I'm having the same problem with Calico 2.4. k8s 1.7.3 using kubeadm to install it.

I install a node then delete the node and on the same IP address install a different node with a different name...

[code]

worker804945757 is already deleted. how do I clean Calicos pool or this specific entry?

[2017-08-26 15:11] kelseyhightower opened #790 "Failed to check if disk space is available for the runtime"
Environment:

CRI was build from source.

[code]
[code]

I'm using the latest upstream release of Kubernetes:
[code]
[code]

Error logs from the kubelet:

[code]

[2017-08-26 15:48] kelseyhightower opened #791 "crio does not update IPAM from kubelet"
Environment:
[code]

When the kubelet starts up it issues the following RPC call:

[code]

When using `kubenet` and the Docker CRI integration, the Pod CIDR received from the kubelet is used to update the CNI network config; this does not seem to be the case with CRI-O.

I'm starting CRI-O with the following CNI config:

[code]

Yes, I'm leaving out the subnet on purpose in hopes that CRI-O will u

[2017-08-26 16:02] kelseyhightower commented on #791
I can get things working by manually updating the CNI config with the following settings based on the IP address assigned to the node:

[code]

I'm still researching, but is this the responsibility of CRI-O?

[2017-08-26 16:45] kelseyhightower commented on #791
Looks like CRI makes it optional on what to do when `podCIDR` is sent to the runtime through the `UpdateRuntimeConfig` interface.

https://github.com/kubernetes/community/blob/master/contributors/devel/kubelet-cri-networking.md

[2017-08-26 16:55] kelseyhightower commented on #791
Looks like this was discussed here: https://github.com/kubernetes-incubator/cri-o/pull/281

[2017-08-26 17:41] runcom commented on #791
I'm taking care of this by caring about podCIDR only if host-local, I'll have a PR soon

[2017-08-26 17:43] runcom commented on #790
This sounds like a kubelet issue, we always had this log but I'll double check in a moment.

[2017-08-26 17:44] runcom commented on #790
afaict the docker-cri is also a "remote" runtime and does not implement the imagefsinfo API call in 1.7.x series

[2017-08-26 23:24] mrunalp commented on #790
@Random-Liu ping. How can we fix this?

[2017-08-27 08:09] runcom commented on #790
failing is coming from https://github.com/kubernetes/kubernetes/blob/v1.7.4/pkg/kubelet/cadvisor/cadvisor_linux.go#L188-L201 (CRI isn't implemented afaict)

[2017-08-27 10:56] runcom commented on #791
Opened https://github.com/kubernetes/kubernetes/issues/51427 upstream in kube as it's too much of an hack to figure out we're using `kubenet` and update config accordingly - also, we're missing info from the CRI

[2017-08-27 14:39] mrunalp commented on #790
Yeah, I think this could be fixed once CRI requires stats to be returned by implementations. We could wire up a cadvisor fix meanwhile.

[2017-08-27 14:44] runcom commented on #790
kube won't even call into cadvisor cause it's getting `remote` runtime, we also need a kube fix to the `switch` in https://github.com/kubernetes/kubernetes/blob/v1.7.4/pkg/kubelet/cadvisor/cadvisor_linux.go#L191

[2017-08-27 14:46] mrunalp commented on #790
Yeah, we would need a switch but the problem is that it won't work for all "remote" runtimes. Hard-coding might be better in the short term in kube.

[2017-08-27 22:55] kelseyhightower commented on #791
@runcom No worries. I'm going to use the calico CNI plugin for now. I guess one option is to be able to start cri-o without a CNI configuration in place. Still print the warning, but assume a CNI configuration will show up at some point in the future.

[2017-08-27 23:54] kelseyhightower commented on #791
It also seems that cri-o does not pick up new CNI network configs once it's been started. Installing a CNI plugin using a daemonset presents a race condition. Seems I have to restart cri-o on each node in order to pick up the new CNI network config placed my a CNI plugin.

[2017-08-28 16:42] mrunalp commented on #791
@rajatchopra Can you take a look at the issue with new network configs?

[2017-08-29 15:25] derekwaynecarr opened #811 "Unable to detect cgroups created by cri-o"
I am stubbing out cAdvisor support for cri-o.

To do this, I need the name of the cgroup to encode if cri-o was the source.

I am seeing cgroup hierarchies like the following using the cgroupfs driver:

[code]

I expected the crio specific part of the path to be something like:

[code]

Without a crio prefix, I cannot identify it as a crio container in cAdvisor.

Version:
crio version 1.0.0-alpha.

[2017-08-29 15:41] derekwaynecarr commented on #811
i also would want to differentiate which container is the shim versus the normal end-user workload by prefix.  the shim charges will most likely just get charged as overhead to the pod, but the primary usage associated with the container should come from the end-user tasks.

[2017-08-29 15:45] mrunalp commented on #811
This should work with systemd driver. We will fix up the cgroupfs driver. Prefix is crio- for containers and crio-conmon- for monitor process scopes.

Sent from my iPhone

[2017-08-29 15:50] runcom commented on #811
fixing cgroupfs right now

[2017-08-29 16:00] runcom commented on #811
Fixing crio-conmon scope for cgroupfs in a moment...

[2017-08-29 17:10] runcom commented on #811
got this in #812 as well please test it out

[2017-08-29 21:47] Random-Liu commented on #790
@runcom @mrunalp For CRI runtime, we expect to get container metrics through CRI. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L76-L80
And image filesystem information, too https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L104.

[2017-08-30 00:52] #811 closed

[2017-08-30 00:55] derekwaynecarr opened #815 "CreateContainerErrors frequently reported for specific pod specs"
For the following pod spec, I am getting an error like the following:

[code]

i also see this frequently when trying to start kube-dns.

reproducible via following on kube/master

[code]

[2017-08-30 01:07] mrunalp commented on #815
I think this is most likely related to systemd cgroups driver.

[2017-08-30 03:18] mrunalp commented on #790
@Random-Liu Thanks! For the short term, we are working on cadvisor integration.

[2017-08-30 10:12] #791 closed

[2017-08-30 12:12] sameo opened #817 "Missing libostree-1-1 for Ubuntu Xenial"
When trying to install CRI-O from the Ubuntu [Atomic PPA](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa), I get the following error:

[code]

I'm on Xenial:

[code]

As a matter of fact, there seems to be no libostree-1-1 package for xenial:
https://packages.ubuntu.com/search?keywords=libostree-1-1

[2017-08-30 12:13] sameo commented on #817
cc @lsm5 @runcom

[2017-08-30 12:28] runcom commented on #817
We should just remove ostree from building, there's a go build tag to remove it we should use when building for ubuntu.

[2017-08-30 12:34] lsm5 commented on #817
On Wed, Aug 30, 2017 at 12:28:04PM +0000, Antonio Murdaca wrote:

I'll check it out.

@sameo until I get a new build out, please try this:

    add-apt-repository ppa:alexlarsson/flatpak
    apt update
    apt install libostree-1-1

--
Lokesh
Freenode, OFTC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-08-30 12:35] runcom commented on #817
This is the build tag we need to use when building for ubuntu `containers_image_ostree_stub`

[2017-08-30 14:52] lsm5 commented on #817
Just pushed a new cri-o build cri-o_1.0.0-alpha.0.2-1~ubuntu16.04.2~ppa1
for xenial to PPA that shouldn't need
libostree-1-1. Check it out.

On Wed, Aug 30, 2017 at 05:35:09AM -0700, Antonio Murdaca wrote:

--
Lokesh
Freenode, OFTC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-08-30 15:21] mrunalp commented on #817
@lsm5 We should be calling it beta.0.x as that was the last cri-o release.

[2017-08-30 15:32] lsm5 commented on #817
On Wed, Aug 30, 2017 at 08:21:51AM -0700, Mrunal Patel wrote:

I've been building master branch.
I called it alpha.0 because I see this in cmd/crio/main.go

`app.Version = "1.0.0-alpha.0"`

Should that be changed to beta? Or should I be building the beta git tag
instead?

--
Lokesh
Freenode, OFTC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-08-30 17:01] mrunalp commented on #817
We missed bumping it last time. https://github.com/kubernetes-incubator/cri-o/commit/f35147e23c13440ff7e18d04ef138596ad79401b
We could carry that.

[2017-08-30 17:16] lsm5 commented on #817
On Wed, Aug 30, 2017 at 05:01:42PM +0000, Mrunal Patel wrote:

ack thanks, will rebuild in a bit..

--
Lokesh
Freenode, OFTC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-08-31 03:46] mhausenblas commented on #719
Any updates here?

[2017-08-31 15:30] egernst opened #825 "add commit information to version output"
It would be helpful to see HEAD's SHA included in --version output for crio(ctl).

This became apparent when looking @ latest drop of kubernetes-the-hardway and wanting to know what branch/release matches 'v1.0.0-beta.0.'  Looking at the sources, there is a matching TAG for this in release-1.6 branch (and master), though the version updated in the source tree (app.Version) was updated considerably

[2017-08-31 15:31] egernst commented on #825
@mrunalp @sameo @runcom

[2017-08-31 21:30] mrunalp commented on #825
This sounds good as discussed in today's call. Please open a PR :)

[2017-08-31 21:54] runcom commented on #825
+1 (I missed the call though :/)

[2017-09-01 13:01] egernst commented on #528
@mrunalp @runcom ; in my testing on Fedora I still needed to setenforce 0.  Do you have guidance on resolving this?

[2017-09-01 13:23] runcom opened #832 "applying cgroup configuration for process caused \"No such device or address\"""
Starting a local kube cluster with cri-o master throws this when starting kube-dns:
[code]
I thought it was because of https://github.com/kubernetes-incubator/cri-o/pull/812 but after reverting that the issue still persists. I tested with systemd cgroup manager + fedora 26 + systemd 233-6, everything else is stock CRI-O (runc, conmon), SELinux is disabled.

It only happens to the kube-dns containe

[2017-09-01 13:23] runcom commented on #832
@mrunalp PTAL

[2017-09-01 14:23] runcom commented on #832
Seems like it was just runc, using latest runc master works fine

[2017-09-01 14:23] #832 closed

[2017-09-01 14:25] rhatdan commented on #528
Please attach the AVC messages you are seeing
ausearch -m avc -ts recent

[2017-09-05 14:24] runcom opened #838 "[cgroupfs] crio-conmon- sub-cgroup handling"
Current code in master have a leak https://github.com/kubernetes-incubator/cri-o/blob/master/oci/oci.go#L205 - the conmon cgroup isn't never deleted actually. ~~I'm removing that here though https://github.com/kubernetes-incubator/cri-o/pull/814/commits/5779d5243ac2d9abdc05c627e49e6d2ff21ad832~~

We need to have conmon join with a sub-cgroup the pod's cgroup (we can't just join the pod's cgroup).

[2017-09-05 14:26] runcom commented on #838
@derekwaynecarr you told me kubelet should take care of removing the pod's cgroup and all its sub-cgruop. Unfortunately this is not the case. If you run with cgroupfs on latest master you can see cgroup from crio-conmon- leaking around if you kill the kubelet/CRI-O.

[2017-09-05 14:44] mrunalp commented on #838
I think it would be best if kubelet does this cleanup as part of pod cgroup cleanup.

[2017-09-05 14:50] runcom commented on #838
it should do that, but the only cgroup left from pod cgroup is the crio-conmon one (which is leaking...)

[2017-09-05 14:56] runcom commented on #838
so, kubelet is behaving correctly actually, it removes all cgroups from pod's cgroup parent.
The issue comes when you stop CRI-O, stop kube, and run "runc delete" on pods/containers. Everything will be cleaned up except crio-conmon-

[2017-09-05 19:06] derekwaynecarr opened #842 "Incorrect cgroup when using systemd cgroup driver"
Steps to reproduce:

[code]

Verify the cgroup tree:

kubelet creates the following pod cgroup:

[code]

note: kubepods-burstable-pod12723d69_9268_11e7_84d0_c85b76cda386.slice

there is nothing in the cgroupfs for the container, CRI-O is creating them here:

[code]

note: the double encoding everywhere in the hierarchy

i think crio when running with cgroup manager = systemd should error when give

[2017-09-05 19:21] derekwaynecarr commented on #842
CRI-O should error if its configured for systemd and it gets a cgroup parent that does not end in .slice as well (didnt test if it does that now).

[2017-09-05 21:01] runcom commented on #842
I never hit this issue, I'll work in this tomorrow, I may know where this is happening already.

[2017-09-05 21:16] runcom commented on #842
Oh and we do already use that kubernetes function actually

[2017-09-05 22:19] runcom commented on #842
I have a fix for this coming.

[2017-09-05 22:24] runcom commented on #842
I didn't know one could set cgroup manager from kube. Right we assume cgroup parents are cgroupsfs so when you set systemd, it blows up when cri-o receives a systemd cgroup parent.

[2017-09-05 23:00] runcom commented on #842
@derekwaynecarr could you verify that if you run kubelet with cgroupsfs and cri-o with systemd, cri-o does the conversion from cgroups to systemd correctly? (you said cri-o needs to convert when it's using systemd and receives a cgroupfs parent in your first comment)

[2017-09-05 23:50] runcom commented on #842
@derekparker you're using an old master to test crio....please update it

[2017-09-06 02:29] derekwaynecarr opened #847 "panic killing cri-o"
i am getting the following panic:

[code]

[2017-09-06 02:30] mrunalp commented on #847
@runcom @nalind @mrtmac PTAL

[2017-09-06 02:31] derekwaynecarr commented on #847
this is happening when i test on kube 1.8 master branch with cadvisor updates:
https://github.com/derekwaynecarr/kubernetes/tree/runtime-stats

[2017-09-06 02:34] derekwaynecarr commented on #847
in case its related:
kubelet --cgroup-driver=cgroupfs
crio cgroup_manager="cgroupfs"

[2017-09-06 08:34] runcom commented on #847
I know where the issue is and the fix is easy, but the thing is, why would an image have not a name? @nalind

[2017-09-06 09:27] runcom commented on #842
**TL;DR;** CRI-O + #814 + #846 fixes all the cgroup issues :) (notice we need **both** PRs)

| Kubelet  | Docker | works? | cgroup |
| ------------- | ------------- | ------------- | ------------- |
| systemd  | systemd  | yes | `/sys/fs/cgroup/cpu/kubepods.slice/kubepods-burstable.slice/kubepods-burstable-pod90d81341_92de_11e7_8cf2_507b9d4141fa.slice/docker-2227daf62df6694645fee5df53c1f91271546a9

[2017-09-06 09:30] runcom commented on #847
@derekwaynecarr mind to stop CRI-O, cleanup all `/var/lib/containers/`, `/var/run/containers/` and see if you can still reproduce?

[2017-09-07 00:31] #847 closed

[2017-09-07 08:44] runcom opened #857 "Need image size w/o names"
Extracted from https://github.com/kubernetes-incubator/cri-o/pull/848

Right now, we need image names to gather the size of an image. However, it could happen names aren't available for an image, thus not reporting image size.
We need a way here in CRI-O to get the image size from the stored image (ID?).

@nalind could you look into this?

/cc @rhatdan

[2017-09-07 14:39] mtrmac commented on #857
The `containers-storage` AFAICT _already_ supports referencing images by IDs, using the `@`_id_ syntax.

[2017-09-07 17:04] #842 closed

[2017-09-08 14:40] jzb opened #868 "ps -v for verbose info: PID and namespace"
Would be good if kpod did something like what Brendan Gregg proposed [here](https://github.com/moby/moby/issues/32501). Specifically, show PID and namespace (and possibly other useful info) that's currently not easy to see at a glance for containers.

@umohnani8 Dan suggested I ask you to PTAL. Thanks!

[2017-09-08 15:15] rhatdan commented on #868
@brendangregg @Maksadbek FYI

[2017-09-08 15:25] #857 closed

[2017-09-08 15:27] #494 closed

[2017-09-08 15:28] runcom opened #869 "support no_new_privs"
https://github.com/kubernetes/kubernetes/blob/v1.8.0-beta.1/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto#L537-L539

when kube-1.8 comes

[2017-09-08 16:25] umohnani8 commented on #868
Will work on adding something like that. Want any specific info, or should I just follow what is shown in https://github.com/moby/moby/issues/32501?

[2017-09-08 16:29] runcom commented on #533
FYI I got all tests running in the CI :) so i've updated the title and I'm just waiting for #631 to be merged :)

[2017-09-08 20:32] rhatdan commented on #868
Follow that for now.

[2017-09-08 21:56] brendangregg commented on #868
Thanks, I use my script (on docker anyway) almost every day. Very handy. The screenshot doesn't show the colors. Here's a screengrab:

![screen shot 2017-09-08 at 2 55 14 pm](https://user-images.githubusercontent.com/1101211/30232623-df91aef8-94a5-11e7-8138-1cbf2403cb4f.png)

Red means it's sharing the namespace with the host.

[2017-09-08 22:10] runcom commented on #790
https://github.com/google/cadvisor/pull/1741

[2017-09-08 22:10] #790 closed

[2017-09-08 22:35] runcom opened #873 "add Fedora 26 to CI tests"
Right now we run tests in CI with RHEL 7.4-latest and Fedora 25 cloud. We need to include Fedora 26 asap and probably RHEL 7.3 at this point.

@cevich could you look into this?

/cc @mrunalp

[2017-09-09 10:15] rhatdan commented on #868
Our goal is that you script would just need to
sed 's/docker/kpod/g'
And then it will work with the CRI-O project.  :^)

[2017-09-11 14:16] runcom opened #879 "Update to kube 1.8"
Tracking changes from upstream kube 1.8 release branch https://github.com/kubernetes/kubernetes/commits/release-1.8/pkg/kubelet/apis/cri/v1alpha1/runtime/api.proto (and look also what's happening in the dockershim https://github.com/kubernetes/kubernetes/commits/release-1.8/pkg/kubelet/dockershim):

- ~~no_new_privs https://github.com/kubernetes-incubator/cri-o/issues/869~~
- ~~localhost seccomp p

[2017-09-11 14:33] runcom commented on #879
(assigning this to me as I've already done much of this in a branch)

[2017-09-11 15:22] luizbafilho opened #880 "Prepend registries from config"
Hi,

I would like to know if it is possible to prepend the `registries` from `crio.conf` instead of append them in the final registries list.

I'm requesting that to avoid this error:
[code]

Prepend is useful when deploying kubernetes on offline nodes, which is my case. In most of enterprise deployments, nodes will not have internet access, requiring a private repository that will mostly serve as

[2017-09-11 15:25] runcom commented on #880
`kpod pull` should actually do something like this: https://github.com/kubernetes-incubator/cri-o/blob/master/server/image_pull.go#L29-L90

that code is actually getting the registries list and try (one by one) each of the registries (prepending them to the image).

[2017-09-11 15:25] runcom commented on #880
@umohnani8 could you take a look at this?

[2017-09-11 15:40] umohnani8 commented on #880
@runcom I believe https://github.com/kubernetes-incubator/cri-o/pull/841 is fixing this. The only difference is that the registries are configured in `/etc/containers/registries.conf` instead of `crio.conf`.
@baude could you please take a look at this.

[2017-09-11 16:09] TomSweeneyRedHat opened #882 "'kpod save {image}' shows error, then stack dump"
'kpod save {image}' shows an appropriate error message, but then also adds the stack too.  I think just the "refusing to save to terminal...." line would be sufficient.

[code]

[2017-09-11 17:11] rhatdan commented on #882
I agree, I thought we had a fix for this issue.

[2017-09-11 17:11] rhatdan commented on #882
See if all errors are giving you this kind of stackdump.

[2017-09-11 17:26] TomSweeneyRedHat commented on #882
Will do

[2017-09-11 17:27] baude commented on #880
Yes #841 is fixing this, by reading the registries from /etc/containers/registries.conf which is becoming the global registries file for ALL container runtimes.

[2017-09-11 17:36] rhatdan commented on #868
Kpod now has support

[2017-09-11 17:36] #868 closed

[2017-09-11 17:42] cevich commented on #873
Supporting multiple versions of RHEL (and Fedora?) is possible, but it's not as trivial as it should be 😖 I'll open a card for it...

https://trello.com/c/bN412wF6

[2017-09-11 17:44] luizbafilho commented on #880
once #841 is merged do I have to create `/etc/containers/registries.conf` or can I just use `crio.conf` ?

I used `kpod` as a example but, I get the same error when cri-o tries to pull the image.

[2017-09-11 17:53] TomSweeneyRedHat commented on #882
Looks like it's not just kpod save.
kpod history --format george
kpod logs --since=george
kpod logs --tail=2
kpod pull bad
kpod inspect george

and I assume others are all showing the error message that we'd want to see then the stackdump.

I'll start with save and will see if that's something that can be applied elsewhere.

[2017-09-11 18:40] TomSweeneyRedHat commented on #882
Per @rhatdan, this is a potential fix:  https://paste.fedoraproject.org/paste/WCsz8jzh2yNm~hLp7dnDFg

[2017-09-11 21:56] baude opened #888 "kpod rmi by ID untagged: %name incorrect"
When removing an image by ID, it should print out that it untagged the image's name.

[2017-09-11 21:56] baude commented on #888
can be assigned to me fwiw, just recording so i dont forget

[2017-09-12 13:24] runcom opened #893 "Tests github.com/kubernetes-incubator/cri-o/server pkg"
Also maybe split those huge functions in pieces to be easily testable. Any taker? :angel:

[code]

[2017-09-12 14:29] rhatdan commented on #888
Done

[2017-09-12 18:32] baude commented on #888
#895 should resolve this.

[2017-09-12 22:33] sjenning opened #896 "error: did not receive slice as parent"
Running hack/local-up-cluster.sh
[code]
Running rc1 cri-o package from the repos on Fedora 26.

@mrunalp @derekwaynecarr

[2017-09-12 22:34] sjenning commented on #896
related issue https://github.com/kubernetes-incubator/cri-o/issues/842

[2017-09-12 22:34] mrunalp commented on #896
Did you set CGROUP_DRIVER=systemd for kube?

[2017-09-12 22:44] sjenning commented on #896
ooooh, if running docker, there is code in local-up-cluster to detect the driver, but if not, kube defaults to cgroupfs. nevermind!

[2017-09-12 22:44] #896 closed

[2017-09-12 22:55] luizbafilho opened #897 "How to set containers logs format?"
Hi,

There is a way to setup containers log format to json?

Today, the logs are in plain text

[code]

But I would like them to be Json, like docker does:
[code]

That *very* important, because not being Json, will break every single fluentd deployment.

I guess most of people who uses fluentd, has the following config

[code]

which make fluentd flood the logs with the `pattern not match:` error

[2017-09-12 23:05] luizbafilho opened #898 "Hostname not set when using hostNetwork"
Hi,

The container's hostname are not being set when using  `hostNetwork:true`.

Here is a sample of a pod in a `CRI-O` node:

[code]

Another pod from the same `daemonset` in a Docker node:
[code]

The container's hostname should be set to node's hostname.

[2017-09-12 23:32] TomSweeneyRedHat commented on #897
@baude @umohnani8 PTAL

[2017-09-13 02:14] kunalkushwaha opened #901 "missing documentation for policy.json"
There is no proper documentation, which explains how to create default ``policy.json`` which is mandatory  for ``crioctl image pull `` command.

About ``policy.json``
- After looking into code, I was able to figure out, [``policy.json`` ](https://github.com/containers/image/blob/3149c1a414eb131a61397efdebf765853b76972b/signature/fixtures/policy.json) could be taken from [``image/signature``](https

[2017-09-13 04:39] kunalkushwaha opened #902 "integration tests not working."
I am trying to use ``crio`` on ``ubuntu 16.04``.

I tried to run integration tests ``make integration`` and ``make localintegration``, Both fails with error

[code]

- localintegration log
[code]

- make integration log
[code]

[2017-09-13 06:09] runcom commented on #902
This is new and weird, I'll take a look

[2017-09-13 06:57] runcom commented on #898
Looking into this.

[2017-09-13 07:04] runcom commented on #902
So `make localintegration` isn't working because you probably don't have all the necessary and correct stuff on your host. Indeed you should be just using `make integration`. I'm seeing if I can reproduce the failure with the Dockerfile.

[2017-09-13 07:06] runcom commented on #901
The default policy in skopeo (which uses containers/image) is what you need to use and what we use as well. https://github.com/projectatomic/skopeo/blob/master/default-policy.json

[2017-09-13 07:07] runcom commented on #901
We need to add documentation around policy.json though. I'll write a blog and enhance the Readme as well.

[2017-09-13 07:13] kunalkushwaha commented on #901
I was able to figure it out from [test/policy.json](https://github.com/kubernetes-incubator/cri-o/blob/master/test/policy.json). Though adding in README or tutorial will help.

[2017-09-13 07:15] kunalkushwaha commented on #902
I followed all steps from [tutorial](https://github.com/kubernetes-incubator/cri-o/blob/master/tutorial.md) for setup.

[2017-09-13 07:16] runcom commented on #902
that isn't mean to setup a working development environment. Despite that, I'm thinking about dropping `make localintegration` or print a warning as it's not something everyone should use.

[2017-09-13 09:01] runcom commented on #898
Have a fix for this

[2017-09-13 09:06] runcom commented on #898
[code]

[2017-09-13 09:13] runcom commented on #898
works for hostnetwork:true also:
[code]

[2017-09-13 09:16] runcom commented on #898
see #903

[2017-09-13 09:58] runcom commented on #902
alright, the error in `make integration` is real and it's because the redis image is now a manifest list and cri-o cannot copy it. @mtrmac @mrunalp we need to fix this unfortunately, builds are failing in #903 for instance

[2017-09-13 10:08] runcom commented on #902
we need to solve https://github.com/containers/image/issues/114

[2017-09-13 13:00] rhatdan commented on #896
I hit the same issue and changed to cgroupfs.

[2017-09-13 13:02] rhatdan commented on #896
@mrunalp I saw this issue just using the test suite, which I think now uses crictl? Do I need to change something in crictl to set the cgroup?

[2017-09-13 13:04] rhatdan commented on #897
@TomSweeneyRedHat This is a crio issue not a kpod logs.  But it is probably a good idea if we allow someone other then @mrunalp or @runcom to look at this.

[2017-09-13 13:04] runcom commented on #896
you shouldn't, if it happened in tests it's probably because of the fixtures that have hardcoded cgroupfs paths

[2017-09-13 13:10] rhatdan commented on #901
Does json support comments?  Can we add comments to our policy.json to tell people how to use it?

[2017-09-13 13:12] runcom commented on #897
So, we follow what kubernetes needs for logging and afaict it's just plain text. Kubernetes reads from plain text under `/var/log/pods/<id>` and expect a given format. We can't just switch logging format and CRI-O isn't logging anywhere else but just where Kube reads those logs.

isn't Fluentd able to read Kubernetes format? that would highly surprise me. You're probably talking about "docker logs

[2017-09-13 13:14] runcom commented on #897
For reference, you're using the fluentd-docker plugin https://github.com/fabric8io/docker-fluentd-kubernetes/blob/master/fluent.conf ... so it's related to docker, we need a Kube-plugin maybe :)

[2017-09-13 13:15] runcom commented on #901
It does not unfortunately. Let's enhance the readme and documentation (even
crio(8)). I'm also writing a blog post which explains policy.json and
sigstores.

2017-09-13 15:10 GMT+02:00 Daniel J Walsh <notifications@github.com>:

--
Antonio Murdaca

[2017-09-13 13:18] rhatdan commented on #896
@runcom install the crio package on fedora 26 with the config file set to systemd, and see if the tests fail.

[2017-09-13 13:19] runcom commented on #896
@rhatdan they fail because crio in f26 has systemd while we have cgroupfs paths in fixtures, see here https://github.com/kubernetes-incubator/cri-o/blob/master/test/testdata/sandbox_config.json#L36

[2017-09-13 13:20] runcom commented on #896
@rhatdan if you want tests to run fine you have to:
[code]

[2017-09-13 13:30] mrunalp commented on #897
We will add support for fluentd to understand the CRI log format.

[2017-09-13 14:04] luizbafilho commented on #897
@runcom Fluentd can definitely read Kubernetes format, but as a said, I think that you should provide the smoothest path for users to move to CRI-O. Not providing a JSON output, you force people to migrate all their nodes at once, given that fluentd is deployed as a daemonset, unless you provide a way to let Fluentd detect what is the node container runtime and parse the logs accordingly.

What I'

[2017-09-13 14:09] runcom commented on #897
Well, the technical reason is CRI needs a plain text format. If you switch the whole cri-o to use json you'll break CRI logging.

BTW, I haven't said we won't support this ever, indeed I also provided some paths forward but it still needs thinking. For instance, as @mrunalp said, we'll probably create a fluentd adapter for the CRI logging.

[2017-09-13 14:09] runcom commented on #897
And thanks for pointing this out! Of course we do care about a smooth transaction to use cri-o

[2017-09-13 15:11] rhatdan commented on #897
@luizbafilho Are you suggesting we support writing both?  Since kubernetes will be reading its own format, while fluentd will be attempting to read the docker json format.

[2017-09-13 15:17] runcom commented on #897
Dan, because the fluentd docker plug-in looks for that. Best would be to have fluentd understands the kube format directly

[2017-09-13 16:09] runcom commented on #902
being fixed by https://github.com/containers/image/pull/344 and a new skopeo version.

[2017-09-13 16:21] luizbafilho commented on #897
@rhatdan no, writing just one. Kubelet would have to read json. But I guess that is not possible if we want to comply with CRI.

as @runcom mentioned a fluentd plugin might be the best way. But I would like to suggest something.

I don't know if it's even possible, but, the fluend cri-o plugin could detect what format is before starts collecting and parse accordingly. With that in place, the trans

[2017-09-13 16:30] luizbafilho commented on #897
Good news, looks like I found the solution: https://github.com/repeatedly/fluent-plugin-multi-format-parser

I'm going to test it, to see if works out.

[2017-09-13 16:33] rhatdan commented on #896
We should probably change this if we are going to default to systemd, but if we stick to default of cgroupfs then it is fine.

[2017-09-13 19:42] #902 closed

[2017-09-14 20:49] wbrefvem commented on #528
I see a similar problem when trying to run kube-dns. The kube-dns container tries to read `/etc/resolv.conf` on the host and gets denied. The labels all seem to be correct. Here's the AVC:

[code]
crio daemon is labeled correctly:
[code]
other info:
[code]

[2017-09-14 21:30] sjenning opened #911 "kube-dns selinux AVCs"
When running `hack/local-up-cluster.sh` during kubernetes development, kube-dns is deployed by default but fails to run due to blocked access on `/etc/resolv.conf`.  Also ran `ping` which needs ioctl access on that file (why?).  On F26:

[code]

The following TE policy addresses this

[code]
@mrunalp @rhatdan @derekwaynecarr

[2017-09-14 22:03] rhatdan commented on #911
https://github.com/kubernetes-incubator/cri-o/pull/903 Should fix this.  CRI-O needs to set the SELinux label correctly on resolv.conf and hostname.

[2017-09-14 22:11] runcom commented on #911
Added fix this in #903, Seth could you test it out?

[2017-09-14 22:13] runcom commented on #528
@wbrefvem see #911 and #903

[2017-09-15 16:43] runcom opened #914 "CRI-O in container (runc) with overlay2 throws Permission Denied"
[code]
@giuseppe might be worth to change overlay2 to overlay and re-test in the Origin CI. You can see the failure here https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_crio/31/ (in `S3 Artifacts->pods/<id>/deployment_0.log`). I'll try to reproduce locally with the system container and atomic meanwhile...

/cc @mrunalp

[2017-09-15 16:53] mrunalp commented on #914
cc: @rhatdan @nalind

[2017-09-15 17:38] rhatdan commented on #914
Permission denied probably means SELinux.  Usually this means /var/lib/containers/storage is not labeled correctly or container-selinux does not have the fixes for CRI-O.

[2017-09-15 17:39] rhatdan commented on #914
overlay2==overlay in containers storage. there is no difference.  We don't support old `overlay` driver from Docker.

[2017-09-15 18:34] luizbafilho commented on #897
Tested the `multi_format` parser and works well.

For those who wants to try, here is how the config should look like when using fluentd v0.14, the syntax is a bit different when using fluentd v0.12, please check out the plugin readme for more details.

[code]

[2017-09-15 18:34] #897 closed

[2017-09-15 19:56] #882 closed

[2017-09-15 21:11] runcom commented on #914
There are no Avcs Dan, it sounds like a kernel issue, I'll post dmesg log but no selinux denials at all

[2017-09-15 21:16] rhatdan commented on #914
Could you try it again in permissive mode?
You could see if there is a dontaudit rule covering this up
Disable dontaudit rules

[code]
Get the test to fail, see if there are new AVCs.
Reenable dontaudit rules.
[code]

[2017-09-17 08:10] runcom commented on #914
still no AVCs... what's weird is that the error isn't happening anymore (e.g. https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_crio/35/) not sure what's going on...

[2017-09-18 04:03] #898 closed

[2017-09-18 04:03] #911 closed

[2017-09-18 12:58] runcom opened #918 "set terminal process group (-1): Inappropriate ioctl for device"
Running Origin tests with CRI-O, we get the following in one test:
[code]
The test is:
[code]
@mrunalp @alexlarsson PTAL

[2017-09-18 13:01] cyphar commented on #918
I would guess this likely this happens because we don't use terminals by default (so trying to set the process group on the pty fails for obvious reasons).

[2017-09-18 13:02] runcom commented on #918
mmm this test works with Docker, is Docker behaving differently?

[2017-09-18 14:03] mrguitar opened #919 "RHT Secrets Support"
We need the ability to pass subscription certificates for RHEL. It would also be nice to have the secrets patch extended so that other directories can be user defined and passed into the container.

[2017-09-18 14:38] mrunalp commented on #918
Can we compare the terminal setting in both the config.json files? Also, I think that the terminal should be set to true for this one if it isn't already.

[2017-09-18 14:41] runcom commented on #918
we don't get container logs/configs in CI as the test suite itself delete them. Best is to reproduce on host.

[2017-09-18 15:03] runcom commented on #919
we could certainly do this with something like the following conf:
[code]
The only thing I'm worried is when these _default mounts_ are mounted? Meaning, should we mount them _after_ every other mount for the container/image/kube are set up? That would lead to one of these _default mount_ to override something coming from the container/image/kube. Or, should we mount these first thing and then mou

[2017-09-18 15:03] runcom commented on #919
@rhatdan @mrunalp @rhvgoyal @nalind PTAL

[2017-09-18 16:39] rhatdan commented on #919
They are mounted last right now.  I don't think we want /etc/pki:/etc/pki/, We need these directories to be more specific.  /run/secrets is also a directory used by kubernetes?

[2017-09-18 16:48] runcom commented on #919
`/etc/pki:/etc/pki` is just an example of what _people_ might need and I've heard people actually willing to have this.

`/run/secrets` isn't used by kube afaict but we of course need it for entitlements.

So, are we ok in mounting these _always_ last? at the cost of overriding specific image/kube mounts? I'm saying this because, for `/run/...` at least, images shouldn't mount run as it should be

[2017-09-18 17:00] rhatdan commented on #919
I believe we should check if the /run/secrets is a mount point, we do nothing.  If it is not a mount point then we add it as a mount point.  That would probably work, the problem with volume mounting it is that we have to make sure SELinux works.  Currently SELinux allows reading all content in /usr.  If we start to mount in from /etc, we could have issues.

[2017-09-18 17:04] runcom commented on #919
right, so allowing users to have generic mounts from host in containers isn't really feasible. We would basically allow reading from everywhere in selinux which might not be nice.
Should we start with just the RHEL stuff for entitlements and revisit this later for generic user provided mounts?

[2017-09-18 17:34] rhatdan commented on #919
Perhaps we should just have a builtin mount points for CRI-O, where we could specify which directories would be mounted into the containers by default.  Then we just configure our RHEL/Fedora/Centos packages to mount /usr/share/rhel/secrets:/run/secrets by default

[2017-09-18 17:38] runcom commented on #919
But they need to live under /usr right? Or selinux is broken

[2017-09-18 17:53] rhatdan commented on #919
No they would have to set the labels correct if they want to allow them to be readonly in the containers.  We could explain in the man page how to do this. or give them suggestions.  Almost no one would do this.  So I don't see it as a huge problem and then it does not become a RHEL special sauce.

[2017-09-18 18:35] runcom commented on #919
Fair enough, I'll work on this as soon as I can

[2017-09-18 19:49] rhatdan commented on #919
@umohnani8 could you take thisone over?

[2017-09-18 20:42] runcom commented on #919
@umohnani8 feel free to ping me for an overall design discussion as I though about a way to implement this :+1:

[2017-09-18 21:32] umohnani8 commented on #919
@rhatdan sure will take over.

[2017-09-19 12:58] rhatdan commented on #919
Yes lets @runcom @umohnani8 and me work on the overall design.

[2017-09-19 13:34] runcom commented on #919
Scheduled a meeting for tomorrow guys

[2017-09-20 13:03] baude opened #930 "kpod ps shows incorrect command"
When I run a container that has a comand of ["sleep", "9999"], kpod ps shows the command as "sh".  I'm thinking is should show sleep as the command.
[code]

The sleep  9999 part is in the Args structure on inspect.

[code]

[2017-09-20 13:03] baude commented on #930
If everyone agrees that if Args exists, it should replace the Cmd field I can make that change for ps.  Once that is clarified, feel free to assign to me.

[2017-09-20 13:03] baude commented on #930
@runcom @rhatdan @umohnani8

[2017-09-20 13:13] rhatdan commented on #930
This should be answered by @mrunalp

But I think you are wrong.
Args is arguments to the CMD.  You should replave CMD with sleep 6000

[2017-09-20 13:25] runcom commented on #930
right :)

[2017-09-20 19:37] TomSweeneyRedHat opened #932 "crictl is not installed on systemd following install instructions in README.md"
A dependency is apparently missing from the Build and Run Dependencies section on the README.md.  After following the procedure there is no crictl installed on the system and at least the kpod test suites will not run with out it.

[2017-09-20 19:46] TomSweeneyRedHat commented on #932
I've pushed too many keys today, ignore this.  Closing.

[2017-09-20 19:46] #932 closed

[2017-09-22 16:56] dcbw opened #941 "CRI-O should allow internal hostport handling to be disabled"
Kube's CNI driver intentionally doesn't do anything hostport related, because upstream decided that was something plugins had to do themselves.  CNI also has the 'portmap' plugin which is specifically designed to handle the hostport stuff.

But CRIO implements hostports and gives plugins that already do hostports (like openshift-sdn) no way to disable that functionality.

CRIO should likely punt h

[2017-09-25 17:52] mrunalp commented on #941
@dcbw Sounds good. Is this something that we can add right now?

[2017-09-28 14:27] sameo opened #956 "CRI-O scaling bug"
I'm using this issue as a tracker, I'm assigning it to myself.

Testing environment:

[code]

Test description:

[code]

We see that for some reasons we can't scale further than 103 pods (consistently 103). I verified that I can launch 300+ Docker containers on that machine and have them running at the same time.

[2017-09-28 14:30] runcom commented on #956
awesome, thanks for looking into this Sam

[2017-09-28 15:45] sameo commented on #956
[crio.log](https://github.com/kubernetes-incubator/cri-o/files/1341241/crio.log)

[2017-09-28 15:46] sameo commented on #956
[kubelet.log](https://github.com/kubernetes-incubator/cri-o/files/1341479/kubelet.log)

[2017-09-28 15:49] sameo commented on #956
@nalind Maybe not related but we're seeing a bunch of:

[code]

errors in the kubelet log.

[2017-09-28 21:25] nalind commented on #956
The metadata that this error message is referring to is a field in a structure, in an array that's encoded in `${storageroot}/${storagedriver}-images/images.json`, so the next time you see it, please forward me a copy of the file and/or check if the `metadata` field is missing or the file's somehow been corrupted.

The format for the `metadata` field is private to the `containers/image` library, s

[2017-09-29 08:47] freewilll commented on #595
Same here. Calico v2.6. k8s 1.7.5 using kubeadm.

Steps taken:
[code]

Resulting in
[code]

[2017-09-29 17:36] #393 closed

[2017-09-29 17:37] #426 closed

[2017-09-29 17:37] #346 closed

[2017-09-29 17:37] rhatdan commented on #509
Done

[2017-09-29 17:37] #509 closed

[2017-09-29 17:38] rhatdan commented on #528
Since these are merged, I am closing.

[2017-09-29 17:38] #528 closed

[2017-09-29 17:42] rhatdan commented on #578
Checking today on Fedora.
[code]

[2017-09-29 17:42] #578 closed

[2017-09-29 17:42] #690 closed

[2017-09-29 17:43] rhatdan commented on #817
I think this is fixed so closing.

[2017-09-29 17:43] #817 closed

[2017-09-29 17:54] stevekuznetsov commented on #528
@rhatdan we still are turning off `selinux` here:

https://github.com/kubernetes-incubator/cri-o/blob/master/contrib/test/integration/system.yml#L52-L55

Should we remove that?

[2017-09-29 18:36] rhatdan commented on #528
Lets leave it in permissive mode until we get RC3/V1.0 out and then switch it.  Too many moving parts at this point.

[2017-10-02 09:04] sameo commented on #956
So the 103 limitation is coming from kubelet's `--max-pod` maximum number of pods per node which defaults to 110 (103 + 7 pods for the control plane).
@nalind I will look into the storage issue, but it really seems to be related to aufs. When switching to overlay, I can not reproduce it.

[2017-10-02 10:42] ahab94 opened #965 "CRIO isn't working with Kube 1.8 --runtime-request-timeout duration"
Hi! I am trying to run Kubernetes with CRI-O, RunC. I have changed the kubelet extra args to hit crio.sock.
But when i enter "kubeadm init  --skip-preflight-checks" the process fails with this error
`This error is likely caused by that:
        - The kubelet is not running
        - The kubelet is unhealthy due to a misconfiguration of the node in some way (required cgroups disabled)
        - The

[2017-10-02 11:57] runcom commented on #965
[code]

That flag isn't the issue, you seem to have not the required cgroup mounts

[2017-10-02 16:43] ahab94 commented on #965
Thanks for the feedback, as we conversed on the slack channel. This issue is related to the old deperacted flag being used in the crio-ansible playbook. I will be opening the issue there with details. Thanks.

[2017-10-02 16:43] #965 closed

[2017-10-03 15:49] baude opened #971 "kpod finished time is incorrect"
Using kpod inspect, the finished time always reports:
        "finished": "0001-01-01T00:00:00Z"

[2017-10-04 01:06] rhatdan commented on #971
@nalind Is this a storage issue?  Or is this field provided as part of container shutdown?

@mrunalp @runcom WDYT?

[2017-10-04 01:13] mrunalp commented on #971
In cri-o it is set here https://github.com/kubernetes-incubator/cri-o/blob/master/oci/oci.go#L588
You can get it from the creation time of the exit file for kpod to get an accurate time.

[2017-10-09 11:39] TomSweeneyRedHat opened #985 "kpod ps doesn't play nice with buildah containers"
After creating a buildah container from alpine, 'kpod ps' throws "error parsing metadata".
[code]
This test was done on a newly installed and updated Fedora 26 host with buildah and cri-o from the Fedora repository.  I've seen the same behaviour using bits from github for both.

[2017-10-09 12:26] baude opened #986 "LinuxContainerSecurityContext is optional"
LinuxContainerSecurityContext is optional.  The code in crio requires it and therefore fails when  a config does not include it.

[2017-10-09 13:20] rhatdan commented on #985
@baude had been looking into this, I believe.  @nalind reported that we were not producing some file that kpod ps needed to read.

[2017-10-09 13:50] rhatdan commented on #986
We probably should fix this before we release 1.0.

[2017-10-09 13:53] ahab94 opened #987 "KubeDNS and other Pods stuck in container creating"
I am testing out Crio on Kubernetes upon runc runtime and facing container creating issues with kube dns and other pods. These containers were stuck in creation. When i add weavnet pod networking the following error popped up.
[code]
Any help would be appreciative, Cheers!

[2017-10-09 14:01] rhatdan commented on #987
I guess first quesion, what version of CRI-O are you testing?
What OS?

[2017-10-09 14:10] runcom commented on #987
[code]

could you try disabling selinux and grab any avcs?

[2017-10-09 17:55] ahab94 commented on #987
@rhatdan, i am running
[code]
@runcom, disabling did the trick. As soon as i re-enabled the selinux it worked fine.
I tried to reproduce the issue by re-initiating kubeadm multiple times having selinux enabled, disabled on both master and node and vice versa and it worked fine. I think we are good to close the issue.

[2017-10-09 17:55] #987 closed

[2017-10-09 19:13] rhatdan commented on #987
@ahab94 Could you grab the SELinux avc messages that you got

ausearch -m avc

[2017-10-10 07:23] ahab94 commented on #987
@rhatdan
I found these logs on the slave.
[code]
And these on master

[code]

[2017-10-10 12:21] rhatdan commented on #987
The transition ones are the ones causing you the failure.  This basically means cri-o was not labeled correctly (container_runtime_exec_t) at launch.  Is cri-o installed in /usr/bin or /usr/local/bin?

[2017-10-10 12:59] rhatdan commented on #987
I don't believe we have the correct labeling for /usr/local/bin on crio in RHEL yet.
Running the following should change the labels if we have it correct.
restorecon -R -v /usr/local/bin/crio*

[2017-10-10 13:54] ahab94 commented on #987
Restore can didn't change that, so i changed fcontext via semanage and then restorecon worked fine.
[code]

[2017-10-10 14:16] rhatdan commented on #987
We should have the next updated container-selinux for RHEL should have the new labeling in it.

[2017-10-11 12:36] moretea opened #997 "signature_policy file ignored in kpod load"
I'm trying to load a image with `kpod load --config=$CONFIG_FILE < $IMAGE_FILE`. My `signature_policy` file is in a non standard location.

According to [crio.conf.5.md](https://github.com/kubernetes-incubator/cri-o/blob/master/docs/crio.conf.5.md#crioruntime-table), I should set `crio.runtime.signature_policy` in my `$CONFIG_FILE`. The example in https://github.com/kubernetes-incubator/cri-o/blob

[2017-10-11 13:05] rhatdan commented on #997
@umohnani8 PTAL

[2017-10-11 13:50] runcom commented on #997
Are we okay having kpod reading cri-o conf though?

[2017-10-11 13:53] moretea commented on #997
I would prefer to be able to set the signature policy directly via a CLI argument, but it appeared that going through a `$CONFIG_FILE` is the only way that this setting might be exposed to `kpod`.

[2017-10-11 13:57] rhatdan commented on #997
Don't tell anyone kpod pull --security-policy exists, it is a hidden option. used for testing.

[2017-10-11 14:01] TomSweeneyRedHat commented on #997
FWIW, the 'kpod load' code is currently not handling the signature-policy file except to use the one in the default /etc/containers/policy.json.

'kpod push' doesn't appear to be using the one from the conf file either, it's taking the one from the CLI argument if provided.

Like Dan said, pull has the cli argument, but it's undocumented.

I'll plan to add signature-policy as an argument unless I

[2017-10-11 14:04] mheon commented on #997
@runcom I think it's OK for now? We use a subset of the options in `crio.conf` (ignoring the ones for the gRPC API mostly) and don't need anything that's not in there, so for convenience's sake we have kpod just using the CRIO config file. If we ever need options that CRIO doesn't need, we'd have to revisit this.

[2017-10-11 14:05] rhatdan commented on #997
I'm hesitant to tie kpod directly to crio for this other then both using the same default.  I think we can expose these options, if there is demand.

[2017-10-11 14:07] mheon commented on #997
I strongly suspect we have some bugs throughout the image code related to handling of signature-policy and other containers/image configuration. Most of that code needs refactoring anyways - the interface isn't really pleasant to work with now. This is something we should look to fix as part of that.

[2017-10-11 14:11] TomSweeneyRedHat commented on #997
@mheon true that, the authentication stuff also needs some polishing across the commands too.

[2017-10-11 14:12] moretea commented on #997
So I don't have a `/etc/containers/policy.json`, because of me trying to package `cri-o` for [NixOS](https://nixos.org). I'm trying to specify an alternative file location.

Does have kpod's `--config` flag any at this moment then?

[2017-10-12 07:16] huzhengchuan commented on #832
I meet the same question. How to fix it. @runcom

[2017-10-13 00:43] TomSweeneyRedHat commented on #997
@moretea I've created PR  #1008 which hopefully will fix this issue for you.

[2017-10-17 07:42] ahab94 opened #1020 "dac_override while accessing container resources"
Hi, i am getting `dac_override` while accessing host's resources via container using `Kuberentes` with `Crio` and the runtime below is `Runc`
[code]
What could be the cause, am i missing something from the setup?

[2017-10-17 08:04] runcom commented on #1020
ping @rhatdan

[2017-10-17 13:09] rhatdan commented on #1020
I don't know where the policy for carts-db_t comes from or carts_t.

dac_override is being caused by you running bash and it trying to write /root/.bash_history, UID=0 is not allowed to write in this directory without DAC_OVERRIDE.  So whoever wrote carts-db_t needs to either add it or dontaudit it.  This should not really prevent bash from doing its thing.

Similarly carts_t needs execmem, which

[2017-10-17 13:19] ahab94 commented on #1020
@rhatdan I made these policies myself, thanks for the feedback will add these rules. Though when i apply same policies on docker runtime these policies work fine. Is there any particular reason for this? Closing the issue anyway.

[2017-10-17 13:19] #1020 closed

[2017-10-17 13:39] rhatdan commented on #1020
Make sure when running in docker they are actually happening, I would guess. IE cat /proc/self/current/attr
To see if the SELinux policy type is applied.
The DAC_OVERRIDE would only happen on a Fedora/RHEL based root.  IE root has the following permissions.

ls -ld /root
dr-xr-x---. 1 root root 43 Oct 16 21:45 /root

Note how noone is allowed to write to this directory, which is causing the DAC_OV

[2017-10-17 13:46] ahab94 commented on #1020
@rhatdan Got it, thanks a lot for the feedback it's very helpful.

[2017-10-17 15:47] brancz commented on #879
This is somewhat contradicting, as upstream is trying to get rid of the compiled in cAdvisor, but in order to be able to do that we're depending on CRI implementations to actually implement stats calls.

[2017-10-17 15:50] edsantiago opened #1024 "chmod of nonexistent file causes test suite to fail"
Commit 8392f5f75 introduces a "Clean up network if pod sandbox fails" test in `network.bats`; this code does:

    chmod 0644 /go/src/github.com/kubernetes-incubator/cri-o/conmon/conmon

...which causes the unit tests to fail when running with cri-o as an rpm, not from source:

    not ok 8 Clean up network if pod sandbox fails
    # (in test file network.bats, line 174)
    #   `chmod 0644 /go/sr

[2017-10-17 16:30] edsantiago commented on #1024
#1025

[2017-10-17 17:17] giuseppe commented on #914
it seems the same problem is seen here: https://bugzilla.redhat.com/show_bug.cgi?id=1489555

[2017-10-17 17:53] rhatdan commented on #1024
Any avc's?

[2017-10-17 18:01] rhatdan commented on #914
Looks like this is fixed now.  The bugzilla seems to be different.

[2017-10-17 18:01] #914 closed

[2017-10-17 18:59] edsantiago commented on #1024
In the original scenario I reported, or in #1025 ?

Original scenario: I didn't check, but I don't think so: nothing looks relevant in `/var/log/audit/audit.log`, and I wouldn't expect one anyway. Simple confirmation:

    shell1# tail -f /var/log/audit/audit.log

    shell2# chmod 644 /no/such/file
    (no new output in audit.log)

In #1025: no AVCs seen on my test run, in which `CONMON_BINARY=/u

[2017-10-17 19:25] runcom commented on #879
@brancz well, we will have something for stats calls for sure in the near future, but for now, we went successfully with cadvisor which is handling everything just fine. What's your concern in not using stats calls right now?

[2017-10-17 20:25] smarterclayton opened #1028 "Move crio.sock to /var/run/crio/crio.sock by default"
Using crio.sock at the /var/run level means we cannot give a pod access to only the crio socket, such that a Kubernetes pod can hostPath mount only that directory.  It also is uncommon to mount in that directory - having a specific path would be more consistent with other users of /var/run

[2017-10-17 21:01] rhatdan commented on #1028
That is fine with me, and what I would prefer.

[2017-10-17 21:01] rhatdan commented on #1028
@mrunalp WDYT?

[2017-10-17 22:26] mrunalp commented on #1028
Sure, sounds good.

[2017-10-17 22:27] mrunalp commented on #1028
I'll make a PR to fix that.

[2017-10-18 09:01] brancz commented on #879
It's just a bit odd, that a project that effectively exists to implement an interface goes 1.0 before implementing the full interface:

* https://github.com/kubernetes-incubator/cri-o/blob/c04f585a53daca1f37f2b5110aed0112d451488e/server/container_stats_list.go#L12
* https://github.com/kubernetes-incubator/cri-o/blob/c04f585a53daca1f37f2b5110aed0112d451488e/server/container_stats.go#L13

And the pr

[2017-10-18 18:52] cgwalters opened #1034 "Use single binary and dispatch on argv[0]"
Today in the RPM:

[code]

In contrast with kube;

[code]

So the single binary is larger, but it at least means the shared bits among them are shared.

(Another approach would be what systemd does with `/usr/lib/systemd/libsystemd-shared-233.so`)

[2017-10-18 18:54] cgwalters commented on #1034
This is what busybox does too of course, it's a classic Unix thing.

[2017-10-18 18:56] rhatdan commented on #1034
Well we want to split kpod from CRIO into a separate project, so you can install kpod without CRIO or vice versa.  (kpod has to be reamed first)

crioctl is supposed to go away and be replaces with crictl, which is a totally different project.

[2017-10-18 19:23] ashcrow commented on #1034
The background around this is the size of the resulting binaries and adding them to OS ISO's. @dustymabe noted the current footprint is around 132M on disk. ```strip``` seems to happily remove about 20MB. Are there possibly others things that could be done to reduce binary size?

[code]

[2017-10-18 19:43] dustymabe opened #1035 "fix issue with crio rpm"
probably should open a BZ but this is easier. We need to fix this:

[code]

[2017-10-18 19:52] rhatdan commented on #1035
Is it in updates-testing?

[2017-10-18 19:53] rhatdan commented on #1035
dnf info runc
Last metadata expiration check: 2:05:01 ago on Wed 18 Oct 2017 01:47:52 PM EDT.
Installed Packages
Name         : runc
Epoch        : 2
Version      : 1.0.0
Release      : 10.rc4.gitaea4f21.fc26
Arch         : x86_64
Size         : 7.1 M
Source       : runc-1.0.0-10.rc4.gitaea4f21.fc26.src.rpm
Repo         : @System
From repo    : updates
Summary      : CLI for running Open Container

[2017-10-18 21:06] dustymabe commented on #1035
this is an issue in f27, not f26.

[2017-10-18 22:08] mrunalp commented on #1034
:+1: We can try this out.

[2017-10-19 03:33] sameo commented on #1034
@mrunalp You mean stripping, right ?

[2017-10-19 04:27] mrunalp commented on #1034
@sameo I meant the busy-boxing with argv[0]. Any concerns? I guess even stripping is fine if it helps reduce the binary size further.

[2017-10-19 13:06] rhatdan commented on #1034
@mrunalp My problem with that is we lock kpod and crio together.  We are thinking about splitting them into two different packages, especially for RHEL.
Isn't crioctl supposed to go away and be replaced by crictl?

[2017-10-19 13:09] runcom commented on #1034
it is, that's the current plan, we already use crictl in tests bootstrap and some new tests

[2017-10-19 13:26] rhatdan commented on #1034
So if we move kpod into its own package and crioctl is replaced with crictl, we are doing work that will only shrink the size for a small time.

Will stripping prevent debugging tools from being able to use the packages?

[2017-10-19 13:33] ashcrow commented on #1034
I believe by default it will remove debugging symbols. There is ``--only-keep-debug`` but I didn't check to see the size results.

[2017-10-19 13:39] cyphar commented on #1034
You don't want to use `strip` by the way, you want to pass `-s` as a build flag. `strip` has caused us problems in the past because it can corrupt the internal structure of Go binaries (since it doesn't use "traditional" `.a` structure and so on).

[2017-10-19 13:41] rhatdan commented on #1035
I just pushed runc-1.0.0-11.rc4.gitaea4f21.fc2* into updates testing.  not sure why 10 never made it there.  Please check and update karma.

https://bodhi.fedoraproject.org/updates/FEDORA-2017-994680b67b

[2017-10-19 13:41] #1035 closed

[2017-10-19 13:43] rhatdan commented on #1034
Should we make that the default in the Makefile?

[2017-10-19 14:27] sameo commented on #1034
@mrunalp stripping is fine, but combining crio and kpod in the same binary is quite inelegant imho. There's a reason why we want to separate them code wise :)

[2017-10-19 14:27] sameo commented on #1034
@rhatdan It would make sense, yes.

[2017-10-19 17:40] rhatdan commented on #1024
Looks like this got merged.

[2017-10-19 17:40] #1024 closed

[2017-10-19 17:40] rhatdan commented on #997
Merged so closing.

[2017-10-19 17:40] #997 closed

[2017-10-19 17:41] rhatdan commented on #986
Has there been a PR on this one?

[2017-10-19 17:50] runcom commented on #986
we're now using getters from grpc methods, closing

[2017-10-19 17:50] #986 closed

[2017-10-19 17:53] rhatdan commented on #971
@baude Did you fix this?

[2017-10-19 17:54] rhatdan commented on #956
@sameo Can I close this?

[2017-10-19 17:54] baude commented on #971
nope

[2017-10-19 17:54] rhatdan commented on #919
This has been merged, closing.

[2017-10-19 17:54] #919 closed

[2017-10-19 17:55] rhatdan commented on #918
Has this been fixed? Worked on?

[2017-10-19 17:56] rhatdan commented on #594
@m1093782566 Did you ever work on this?  Anyone?

[2017-10-19 17:57] rhatdan commented on #689
@TomSweeneyRedHat @umohnani8 Has this been merged?

[2017-10-19 17:58] rhatdan commented on #600
@mrunalp Did you ever do this?

[2017-10-19 18:00] umohnani8 commented on #689
I think @TomSweeneyRedHat was working on it. I do not see the --creds flag in kpod pull though. I can add it in with my already open PR for the authfile flag.

[2017-10-19 19:00] sameo commented on #956
I'm closing that one and will open a specific issue for the storage part of that report.

[2017-10-19 19:00] #956 closed

[2017-10-19 19:47] rhatdan commented on #689
Do that.

[2017-10-19 19:49] TomSweeneyRedHat commented on #689
@redhatdan I've been a slacker.  It's been on the list but keeps being pushed down.  I've not gotten --creds or --auth into kpod pull or push.  I think pull may have it already, but I wanted to test and then add as necessary.

[2017-10-20 08:50] runcom opened #1048 "Image List should group same IDs and have a single list of repo tags"
Reproducer is simple:

[code]
It should rather be:
[code]
The issue is in the server of couse, crioctl is being used to exaplain the issue.

You can notice images should be grouped by image IDs (like docker does and kube does in the dockershim).
The huge issue is those images are the same but they have different IDs!!!!!!!

[2017-10-20 08:51] runcom commented on #1048
@nalind PTAL

[2017-10-20 09:12] runcom commented on #1048
@nalind the image ID you use in containers/image when Commit(ing) a new image isn't the "Config blog sha256" for that image. We need to use that to have same IDs for very same images in order to group them.

[2017-10-20 12:46] baude commented on #1048
@nalind was saying that the fix lies in https://github.com/kubernetes-incubator/cri-o/pull/654

[2017-10-20 14:40] baude commented on #971
@rhatdan I'll do this in libpod for kpod as we move over the container support.  Can you assign it to me ?

[2017-10-20 17:10] rhatdan commented on #971
Done

[2017-10-20 19:27] umohnani8 commented on #689
Fixed in https://github.com/kubernetes-incubator/cri-o/pull/1015

[2017-10-24 10:48] ahab94 opened #1057 "Containers not being removed on executing kubeadm reset"
Kubernetes containers are running fine
[code]
but when i do
[code]
It doesn't delete the containers it is supposed to.
[code]
Which creates problem when i try to do `kubeadm init` again.  Issues like `getSockOpt Connection refused` since ports are already in used.

On slave the containers keep on accumulating on each `kubeadm reset` and `kubeadm init` Using all of the resources system has.

### Qu

[2017-10-24 12:06] rhatdan commented on #1057
@runcom @mrunalp If this is true, would seem to be a large bug.

[2017-10-24 12:10] runcom commented on #1057
This doesn't sound that bad, I can see either kubeadm isn't actually calling Stop and Remove in the CRI-O or we have some silly bug in our remove routine. Else, I think kubeadm is just stopping Docker and containers go down but that's not true for cri-o, I'll look into this.

[2017-10-24 20:20] mrunalp opened #1060 "Share constants between C and Go code"
We have some duplicated constants between Go code and conmon that we should move to a header file.

[2017-10-25 08:09] runcom commented on #1057
Right, so, the problem is kubeadm assumes docker unfortunately:
[code]

[2017-10-25 08:22] runcom commented on #1057
Created an issue in kubeadm https://github.com/kubernetes/kubeadm/issues/508

[2017-10-25 08:22] sameo commented on #1057
@runcom fwiw, I started to look at this.

[2017-10-25 08:23] runcom commented on #1057
awesome, look at https://github.com/kubernetes/kubeadm/issues/508 then, as it explain how it could be done with crictl also

[2017-10-25 08:23] runcom commented on #1057
The problem is kubeadm calls the docker binary directly but when running with cri-o there are no docker containers (rather, we do have runc containers)

[2017-10-25 08:59] lubinsz opened #1071 "No 'CONTRIBUTING.md' was found."
Hi all,
What is the agreement for contributions?

It seems that I didn't find the inbound agreement.
In general, the inbound license should be 'Developer Certificate of Origin, version 1.1'.
The outbound license should be 'Apache License 2.0'
And the legal information of inbound license should be in CONTRIBUTING.md.

My boss want to know the inbound license of this project and the link.

Thanks.

[2017-10-25 12:37] rhatdan commented on #1057
Excellent lets get PRs to them to clean this up.

[2017-10-25 14:30] rhatdan commented on #1071
@lubinsz We have merged in CONTRIBUTING.md, does this satisfy your needs?

[2017-10-26 14:55] tyrone-grech commented on #918
We are also impacted by a similar issue when trying to exec commands in a running container inside a pod:
`exec failed: failed to set the terminal from the stdin: inappropriate ioctl for device`

The container is spawned from jenkins-kubernetes pipeline plugin. The nodes are running CRI-O on Kubernetes 1.7

[2017-10-27 01:52] kunalkushwaha opened #1079 "Nil filter not allowed."
This is not bug as such, but I think `nil` shall be allowed to be passed to values like Filters for List API's.

e.g.
[code]

Log
[code]

[2017-10-27 16:12] umohnani8 commented on #689
And fixed in https://github.com/kubernetes-incubator/cri-o/pull/1074

[2017-10-27 16:13] umohnani8 commented on #689
@TomSweeneyRedHat @rhatdan can one of you please close this issue. I don't think I have the permission to.

[2017-10-27 16:19] #689 closed

[2017-10-29 00:41] TomSweeneyRedHat opened #1088 "'crio version' hangs on Fedora 26"
I know that 'crio version' isn't a valid command, but it shouldn't dump a stack trace and then hang.  It should instead show the crio help or something pointing to that.

Looking at the error, this may be an installation error.  I created a new vm then installed docker, buildah and crio.  Perhaps we're missing a dependency?

[code]

[2017-10-30 10:48] jsmickey commented on #817
Still getting the same error as originally reported.  Same output as reported by @sameo

[2017-10-30 14:19] lsm5 commented on #817
@jsmickey are you on either of xenial or zesty?

[2017-10-30 16:48] rhatdan commented on #817
The latest cri-o should figure out whether or not libostee is supported and turn it off.  I actually think for CRI-O we should just not compile ostree in.  For kpod we need this support if it is supported since an output format of containers/image is ostree.

[2017-10-30 17:50] lsm5 commented on #817
so skopeo ends up pulling in libostree-1-1. I gotta check and change the deps to use skopeo-containers instead.

[2017-10-30 17:51] jsmickey commented on #817
Xenial

On Oct 30, 2017 9:19 AM, "Lokesh Mandvekar" <notifications@github.com>
wrote:

[2017-10-30 17:55] lsm5 commented on #817
ah btw, make sure you've enabled https://launchpad.net/~alexlarsson/+archive/ubuntu/flatpak as well. I'll do new builds to change dep to skopeo-containers

[2017-10-31 15:30] runcom commented on #832
just upgrade runc

[2017-10-31 15:38] Hades32 commented on #832
I don`t have runc installed at all. I just have followed the tutorial for "kubeadm". I only decided to use the newest docker instead of 17.03...

[2017-10-31 15:46] rhatdan commented on #832
Well CRI-O will definitely not work without runc installed.  Unless you override with a different OCI Runtime implementation.

[2017-10-31 16:11] Hades32 commented on #832
Not sure what problem I really had, but for anybody coming here (via google) for the same reason:
You should NOT follow the tutorial (https://kubernetes.io/docs/setup/independent/install-kubeadm/) and instead use cgroupfs instead of systemd.
Compiling runc from master didn´t change anything for me...

[2017-11-01 00:42] spiffxp opened #1102 "VERSION file and version dir conflict on case-insensitive filesystem eg: macOS"
FYI we ran into something similar with an owners dir and OWNERS file in https://github.com/kubernetes/test-infra/issues/5166

[2017-11-01 09:01] runcom commented on #1102
Mmm we removed VERSION

[2017-11-01 12:03] #1088 closed

[2017-11-01 13:18] rhatdan commented on #1102
Version is now removed from master.

[2017-11-01 13:18] #1102 closed

[2017-11-01 13:19] #1071 closed

[2017-11-01 19:22] baude commented on #888
fixed

[2017-11-01 19:22] #888 closed

[2017-11-01 21:02] umohnani8 commented on #971
This has been fixed - don't know when. Just tested inspect with a container and got the actual exit time.

[2017-11-01 21:03] umohnani8 commented on #971
@baude @rhatdan issue can be closed.

[2017-11-01 21:06] #971 closed

[2017-11-01 21:13] umohnani8 commented on #930
@baude @rhatdan Has this been fixed? If not, I can take over it.
So kpod ps should show `Args` as the command if it exists, otherwise `Cmd`?

[2017-11-01 21:25] umohnani8 commented on #227
Was added a while back https://github.com/kubernetes-incubator/cri-o/pull/606.
@rhatdan @mrunalp  issue can be closed.

[2017-11-01 21:27] umohnani8 commented on #226
kpod inspect was added https://github.com/kubernetes-incubator/cri-o/pull/648
@rhatdan @mrunalp issue can be closed

[2017-11-01 21:30] umohnani8 commented on #225
kpod images was added https://github.com/kubernetes-incubator/cri-o/pull/606
@rhatdan @mrunalp issue can be closed

[2017-11-01 21:32] umohnani8 commented on #224
kpod ps was added https://github.com/kubernetes-incubator/cri-o/pull/776
@rhatdan @mrunalp issue can be closed

[2017-11-01 21:35] umohnani8 commented on #743
@rhatdan I think this can be closed.

[2017-11-02 13:57] runcom opened #1109 "Add CRI-O to k8s test grid"
https://github.com/kubernetes/test-infra

We would be listed under sig-node in https://k8s-testgrid.appspot.com/

[2017-11-02 16:43] #743 closed

[2017-11-02 16:53] #869 closed

[2017-11-02 16:53] #879 closed

[2017-11-02 16:53] #202 closed

[2017-11-02 17:14] fntlnz commented on #1109
#dibs for this, @runcom share any additional detail if applicable

[2017-11-02 18:27] #224 closed

[2017-11-02 18:27] #226 closed

[2017-11-02 18:27] #227 closed

[2017-11-02 18:28] rhatdan commented on #930
I have no idea.  Lets close this and duplicate it on libpod.

[2017-11-03 21:34] rhatdan commented on #985
Move to libpod?

[2017-11-03 21:35] #930 closed

[2017-11-03 21:35] #490 closed

[2017-11-03 21:36] rhatdan commented on #221
kpod run is now available in libpod repo.

[2017-11-03 21:36] #221 closed

[2017-11-03 21:36] rhatdan commented on #223
@baude  was working on this.  Moving it to libpod repo.

[2017-11-03 21:36] #223 closed

[2017-11-03 21:37] #225 closed

[2017-11-03 21:38] rhatdan commented on #880
841 has been merged this should work now.

[2017-11-03 21:38] #880 closed

[2017-11-03 21:40] TomSweeneyRedHat commented on #985
Yes.  Is there an easy way to move it over?

[2017-11-06 17:35] vbatts opened #1123 "k8s doesn't show cri-o version information"
**Description**
when running kubernetes with cri-o does not report container runtime version

**Steps to reproduce the issue:**
1. `kubectl describe nodes`
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Actual version info?

**Additional information you deem important (e.g. issue happens only occasionally):**
https://github.com/kubernetes/kubernetes/bl

[2017-11-06 17:46] runcom commented on #1123
great question, are you building with the makefile? actually, that version call in kubelet shouild not error out :confused:

[2017-11-06 17:53] runcom commented on #1123
[code]
This is fixed in master and >= 1.0.1 via https://github.com/kubernetes-incubator/cri-o/commit/7efdae80bcb55b488956063f3bba965960b45d3c

[2017-11-06 17:53] #1123 closed

[2017-11-06 17:54] vbatts commented on #1123
v1.0.0 and makefile

[2017-11-06 17:55] vbatts commented on #1123
I'll open a PR to minikube then :smile:

[2017-11-06 18:53] vbatts commented on #1123
https://github.com/kubernetes/minikube/pull/2160

[2017-11-06 20:32] runcom commented on #1057
Fixed in kubeadm master

[2017-11-06 20:32] #1057 closed

[2017-11-07 06:55] gouyang opened #1125 "kpod load always throw out message "trying to pull xxx""
It throw out the message even with `--quiet`.

[code]

[2017-11-07 13:36] rhatdan commented on #1125
kpod is moving over to https://github.com/projectatomic/libpod  Please open issues there.

[2017-11-07 13:55] rhatdan commented on #1125
https://github.com/projectatomic/libpod/pull/23 Should fix this issue.

[2017-11-08 14:50] cevich opened #1128 "install: missing file operand"
**Description**

slash-test-ami failure

Observed [here](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/kubernetes-incubator_cri-o/1126/test_pull_request_crio_ami_fedora/185/) and [here](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/kubernetes-incubator_cri-o/1126/test_pull_request_crio_ami_rhel/190/).

**Steps to reproduce the issue:**
1.  Ru

[2017-11-08 14:53] runcom commented on #1128
we're just missing `go-md2man` then

[2017-11-08 14:53] cevich commented on #1128
Maybe:
[code]

[2017-11-08 14:54] cevich commented on #1128
@runcom I dunno about that, look at the targets above...there's an ``||`` or in there.  Maybe a bash option is wrong (PIPEFAIL)?

[2017-11-08 14:57] cevich commented on #1128
Hmmm, maybe reducing the duplication could help?

[code]

[2017-11-08 14:58] runcom commented on #1128
[code]
this is the error, we're not even compiling docs, so we should just install go-md2man, I'll create a patch shortly. Then we can remove duplication as well.

[2017-11-08 15:00] cevich commented on #1128
Forgive my ignorance...doesn't this build the docs:

``contrib/test/integration/build/cri-o.yml``:

[code]

?

I would have expected that task to fail, not the next one.  Anyway, I'm sure you know what you're doing....nevermind the question.

[2017-11-08 15:08] runcom commented on #1128
so, this is just failing in #1126 or did it happen on master as well? I've never seen such a failure in master/release-1.0 - I can see the failure locally on master though. How did you trigger it on just your PR?

[2017-11-08 15:10] runcom commented on #1128
figured, this is because of kpod

[2017-11-08 15:11] cevich commented on #1128
-sigh- we're not testing slash-ami on master 😢

[2017-11-08 15:11] cevich commented on #1128
worse...

[2017-11-08 15:12] cevich commented on #1128
...we're also not informed when building the cache fails 😭

...sending an e-mail...

[2017-11-08 15:13] runcom commented on #1128
fix is here https://github.com/kubernetes-incubator/cri-o/pull/1129

[2017-11-09 11:05] weiwei04 opened #1135 "why not share pid namespace"
From cri-o.io says
[code]

but in the code, seems don't share pid namespace for now, is there some special reason?
https://github.com/kubernetes-incubator/cri-o/blob/master/server/container_create.go#L916

[2017-11-09 13:50] #1128 closed

[2017-11-09 14:24] rhatdan commented on #1135
We probably should change the description.  Kubernetes currently does not share the PID Namespaces,  Well I guess it is optional.

[2017-11-09 14:24] rhatdan commented on #1135
We probably should change the description.  Kubernetes currently does not share the PID Namespaces,  Well I guess it is optional.

[2017-11-09 14:39] weiwei04 commented on #1135
Kubernetes now support pid namespace from 1.7 :) (ref: https://github.com/kubernetes/kubernetes/pull/51634), and we have enabled this feature in our 1.8 environment with docker 1.13 so far so good :), wondering why cri-o don't support pid namespace, we are also investigating to use cri-o(since it have some features we need, like pid-max, ignore image volume and more light weight than docker for ku

[2017-11-09 14:40] weiwei04 commented on #1135
Kubernetes now support pid namespace from 1.7 :) (ref: https://github.com/kubernetes/kubernetes/pull/51634), and we have enabled this feature in our 1.8 environment with docker 1.13 so far so good :), wondering why cri-o don't support pid namespace, we are also investigating to use cri-o(since it have some features we need, like pid-max, ignore image volume and more light weight than docker for ku

[2017-11-09 15:12] rhatdan commented on #1135
We will certainly add it, I believe they were duplicating the Docker-1.12 behaviour that kubernetes currently uses.  @runcom how hard would this be to fix?

[2017-11-09 15:14] rhatdan commented on #1135
Yes open a PR.
I have been pushing back on upstream kubernetes about making this a requirements. since I think having multiple containers in the same POD with different Security is an interesting use case.  Think about a container with an init container that loads a kernel module and then the primary container can be locked down and just use the module.

systemd in a container also does not work w

[2017-11-09 15:15] rhatdan commented on #1135
@weiwei04 if you do make a patch to share the PID namespace can you add it as an option to the daemon to allow people to optionally run it shared.

[2017-11-09 17:50] danehans opened #1137 "CNI 0.6.0 Support"
CNI will be bumped to 0.6.0 in k8s 1.9, see: https://github.com/kubernetes/kubernetes/issues/49480.
While reviewing the CNI bridge configuration [example](https://github.com/kubernetes-incubator/cri-o/blob/master/contrib/cni/10-crio-bridge.conf), it appears CRI-O may need to be updated to support CNI 0.6.0.

[2017-11-10 10:19] rhatdan commented on #1137
Thanks for the headsup

[2017-11-10 14:45] kairen opened #1141 "[feature] Add cri-o pre-built binaries tar"
Hi all, Is there any pre-built binary files for the release? like as [cri-containerd](https://github.com/kubernetes-incubator/cri-containerd/releases/download/v1.0.0-alpha.1/cri-containerd-1.0.0-alpha.1.tar.gz) release.

[2017-11-10 14:48] runcom commented on #1141
Not yet, we're working on that but we have Rpms and debs for fedora/ubuntu/centos so best for now would be to install from your package manager

[2017-11-11 09:03] runcom commented on #1137
As soon as we cut CRI-O 1.8.x we'll move master to CNI 0.6.0, thanks!

[2017-11-11 09:04] #1125 closed

[2017-11-11 09:06] runcom commented on #1034
We're now stripping the binaries and kpod moved out this repo as well, going to close this but ping me if you still have concerns

[2017-11-11 09:06] #1034 closed

[2017-11-11 09:06] #985 closed

[2017-11-11 09:07] runcom commented on #941
Ping @dcbw

[2017-11-11 09:08] #825 closed

[2017-11-11 09:09] #715 closed

[2017-11-11 09:11] runcom commented on #541
Fixed in master, the CRI passes mount propagation options as well

[2017-11-11 09:11] #541 closed

[2017-11-11 09:13] runcom commented on #1079
Looking

[2017-11-11 21:54] danehans commented on #1137
That's great to hear. Thanks.

[2017-11-12 07:00] kairen commented on #1141
@runcom Okay, thanks you for your help!

[2017-11-12 11:24] #1079 closed

[2017-11-12 15:52] runcom commented on #1141
also, consider a tarball with CRI-O isn't something you really want as crio is a dynamic binary and it's really unlikely that works on every os. We might need to some help on this :confused:

[2017-11-12 16:36] runcom opened #1144 "Debug API"
Kube 1.9 added support for a Debug API which is basically a knob coming from the CI that tells the runtime to output additional and optional informations about some requests. We're mainly interested in the Status CRI API where we could return `docker info`-like about CRI-O. You can find the definition here and work from there in CRI-O: https://github.com/kubernetes/kubernetes/blob/c6ddc749e85f4281

[2017-11-12 16:45] runcom opened #1145 "Fix apparmor profile"
The apparmor profile is passed in the container security context via the CRI as a dedicated field from Kube 1.8. The code in `server/container_create.go` however is still look for security context annotations to grab the apparmor profile path. As already happened with the seccomp profile, we need container creation to handle apparmor from the container security config https://github.com/kubernetes

[2017-11-12 16:53] runcom opened #1147 "CRI: Allow configuring stdout/stderr streams for Exec/Attach requests"
https://github.com/kubernetes/kubernetes/commit/478b7f8ab05d73a1a42f3d9d57684748fe06b4a8#diff-6e8c1262dc9341dd851e5f7b636be64f

[2017-11-12 17:08] runcom commented on #504
We need to drop crioctl from tests and delete it in favor of crictl

[2017-11-12 17:08] #500 closed

[2017-11-12 17:09] #452 closed

[2017-11-12 17:10] runcom commented on #200
This should be already done now.

[2017-11-12 17:10] #200 closed

[2017-11-13 10:04] mdshuai commented on #504
@runcom I want to try this, but don't know why need delete crioctl from the test?

[2017-11-13 10:08] runcom commented on #504
the tests under `./test/*.bats` are using `crioctl` but we want them to use `crictl`. `crictl` is already wired in but we're not using it everywhere and that's why we can't remove `crioctl` yet. Also, the `crictl` command line is different than `crioctl` so, one example could be:
[code]

[2017-11-13 13:19] kairen commented on #1141
@runcom  Yes, I can try to help this request!

[2017-11-13 16:06] runcom commented on #1144
we can also fix https://github.com/kubernetes/kubernetes/issues/55414 when this is done (note to self)

[2017-11-15 15:14] #1028 closed

[2017-11-16 06:34] weiwei04 opened #1158 "Replace crioctl with crictl"
This is a umbrella issue to track the crioctl -> crictl progress

Some todos:

- [ ] replace crioctl with crictl in e2e tests #1156  #1159

- [ ] remove crioctl code

[2017-11-17 02:17] mdshuai commented on #1158
same https://github.com/kubernetes-incubator/cri-o/issues/504

[2017-11-17 08:18] weiwei04 commented on #893
Me and @willstudy would like to help make server pkg more easily testable and add ut :)

[2017-11-17 08:20] weiwei04 commented on #1158
Thanks for remind :)

[2017-11-17 14:17] TomSweeneyRedHat commented on #504
@weiwei04 has been working on this in #1158.  I'm moving the todo from that issue here to track it, and will close #1158.

This is a umbrella issue to track the crioctl -> crictl progress

Some todos:

    replace crioctl with crictl in e2e tests #1156 #1159

    remove crioctl code

[2017-11-17 14:18] TomSweeneyRedHat commented on #1158
@weiwei04 I've moved the todo list to #504, please track there.  @mdshuai thx for the reminder.  @rhatdan I can't close this issue, can you please?

[2017-11-17 14:37] #1158 closed

[2017-11-17 18:12] #488 closed

[2017-11-17 18:12] #1135 closed

[2017-11-18 16:57] fntlnz commented on #1060
@mrunalp I'm waiting for @rhatdan to reply [this comment](https://github.com/kubernetes-incubator/cri-o/pull/1052/files/e66da6046d0e8eef1d5eeb949579ba6dd843f88c#r151841747) to know if we need to share `/var/run/crio` too.
If you think that there's something else please let me know.

[2017-11-19 04:44] MOZGIII commented on #832
Here are some snippets/examples to resolve this issue: https://gist.github.com/MOZGIII/22bf4eb811ff5d4e0bbe36444422b6d3

[2017-11-22 09:33] willstudy opened #1172 "crictl images not response for a long time when crictl pull another image"
### **Description**
crictl images not response for a long time when crictl pull another image. There might have been a deadlock.

### **Steps to reproduce the issue**
**First: pull a image, such as ubuntu**
[code]
**Second: exec command in another terminal**
[code]
### **Describe the results you received**
crictl images not response for a long time

### Additional information

**Output of `crio --

[2017-11-22 10:18] runcom commented on #1172
@nalind PTAL

[2017-11-22 13:24] runcom commented on #1172
I suspect this is the lock on the store which pervents listing when pulling (and probably vice-versa as well)

[2017-11-22 13:25] runcom commented on #1172
can you make sure it does response just after the pull finishes @willstudy ?

[2017-11-22 20:49] #873 closed

[2017-11-22 21:10] StephanX commented on #897
@luizbafilho It only took me two days of banging my head to find your comment, after finding the same solution.

For other wandering souls, if you get flooded with fluentd logs with seemingly infinite amounts of '\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\', it's probably because you're using fluentd 0.14, and used
`format /your-regex-here/`
 instead of
`format regexp
expression /your-regex-here`

[2017-11-22 22:30] willstudy commented on #1172
@runcom  Yes, it is.

[2017-11-24 06:19] willstudy commented on #1144
It's a good idea.

[2017-11-27 01:00] tamalsaha opened #1178 "Support for manifest list"
Does cri-o work with multi-arch images aka manifest lists? I am interested in amd64.

https://developer.ibm.com/linuxonpower/2017/07/27/create-multi-architecture-docker-image/

[2017-11-27 09:27] runcom commented on #1178
It does, you can create a pod from a manifest list image and see it working

[2017-11-27 09:40] tamalsaha commented on #1178
Thanks!

[2017-11-27 09:40] #1178 closed

[2017-11-27 15:20] runcom commented on #1137
This has been fixed by https://github.com/cri-o/ocicni/pull/1

@danehans could you check it out?

[2017-11-27 15:20] #1137 closed

[2017-11-27 15:22] runcom commented on #1144
removing 1.9 as it's not mandatory to expose anything until we actually need something

[2017-11-28 18:09] Bregor commented on #476
@lsm5 do you know anything about the fate of the ppa?
The last build was two weeks ago, and no any releases of 1.8-branch for xenial.

Maybe any help needed in supporting repository?

[2017-11-28 18:14] runcom commented on #476
@lsm5 ^^

[2017-11-28 18:21] lsm5 commented on #476
@Bregor ah sorry, i was working on this last friday, but got distracted, I'll update this. btw, help is always appreciated, so let me know if you're interested :)

[2017-11-28 18:28] Bregor commented on #476
@lsm5 great!
I have some experience with PPA support and have read Debian Maintainer Guide many times ;)
So, if I can help, I'm in.

[2017-11-28 19:04] lsm5 commented on #476
alright, i'll do this 1.8.1 bump and send you the sources for it once ready. Then we can work on setting you up with this.

[2017-11-28 19:11] Bregor commented on #476
Awesome, thanks.

[2017-11-28 21:24] lsm5 commented on #476
v1.8.1 should be available on both xenial and zesty. I also got rid of the ostree dependency for cri-o and skopeo

[2017-11-30 03:06] #504 closed

[2017-11-30 14:56] runcom commented on #1147
This is already done actually.

[2017-11-30 14:56] #1147 closed

[2017-11-30 18:56] #1145 closed

[2017-11-30 20:22] nalind commented on #1172
We're currently taking and holding a lock in `github.com/containers/image/storage/storageImageDestination.PutBlob()` while it applies the contents of a layer blob to create a layer in storage.  Because that method's applying the layer blob as it's read from the network, that lock will be held for a longer time if downloading the layer blob takes longer than it would take to read the layer blob fro

[2017-11-30 22:25] runcom opened #1196 "Join pids cgroup with systemd causes "no such device""
Probably a race by the time we mkdir the pids cgroups and the time the "cgroup.procs" file appears. Probably on the systemd side. Maybe this is something fixable in runc directly.

The CRI-O failure is here https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_rhel/433/consoleFull#199861745056cbb9a5e4b02b88ae8c2f77

But this has been reported in openshift as well: https://github.c

[2017-12-01 05:22] cyphar commented on #1196
Here's the relevant section of kernel code:

[code]

As far as I can tell, this is caused by a race between `cgroup_destroy_locked` and `__cgroup1_procs_write`. Effectively there is a window where the cgroup is killed (`cgrp->self.flags &= ~CSS_ONLINE`) but the kernfs reference still exists. Here's the section:

[code]

So maybe what's happening is that `systemd` is trying to delete the directory

[2017-12-01 17:24] runcom commented on #1196
another hit just now https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_rhel/454/consoleFull#-91004491656cbb9a5e4b02b88ae8c2f77

[2017-12-04 21:01] mcastelino opened #1204 "Document pod dns handling wrt kubelet specified value and CNI results"
Today we can obtain DNS configuration from two places

1. Kubelet
[code]

2. CNI plugin return value

[code]

We need to document how CRI-O and the runtime should configure the POD DNS.

The alogithm used by rkt seems to make the most sense

https://coreos.com/rkt/docs/latest/networking/dns.html
[code]

Also the question becomes should the runtime be allowed to modify the resolv.conf, or should cr

[2017-12-04 21:02] mcastelino commented on #1204
/cc @mrunalp

[2017-12-11 18:19] runcom commented on #1109
Closing, we do have it now

[2017-12-11 18:19] #1109 closed

[2017-12-11 20:15] anarcat opened #1215 "conmon should search PATH for the --runtime"
**Description**

`conmon` has pretty bad failure modes when it can't find the runtime (`runc`). I have documented this https://github.com/projectatomic/libpod/issues/119 and it is partly an issue with how `kpod` hardcodes the path to the runtime (to `/usr/bin/runc`), but I think it could be argued there is a problem in conmon itself as well.

If conmon can't find the runtime, it doesn't actually f

[2017-12-11 20:26] rhatdan commented on #1215
I actually would prefer that the kpod command figure this out rather then hard coding it in the C conmon.  I agree that conmon should be throwing an error when it can not find runc, along with a message on that.
kpod should force the user to specify a runc path that exists before handling it to conmon. If the user specifies a path.

[2017-12-11 20:26] anarcat commented on #1215
note that this would remove the need for hacks like this as well:

https://github.com/kubernetes-incubator/cri-o/blob/fd78dea270b37247b66eedbb08065a7f53197398/contrib/test/integration/build/runc.yml#L19

[2017-12-11 20:27] anarcat commented on #1215
i think it's fine to do a `stat` on the path provided by the user, but i still think that conmon should look into `$PATH`. i'm not proposing to hardcode anything here - just common sense...

[2017-12-12 12:00] runcom commented on #1196
still happening on rhel pretty frequently https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_rhel/485/consoleFull#-88947908258b6e51eb7608a5981914356

[2017-12-12 19:39] ijl opened #1219 "conmon should support a configurable logging level"
conmon should support configurable logging levels to support running in production.

I see #483, but performance aside, syslog can be flooded in normal usage by unimportant conmon lines.

`write_k8s_log` in particular with `"Total bytes written` perhaps justifies a debug level, with default at info?

[2017-12-12 22:25] mrunalp commented on #1219
@ijl Sure, we can make it configurable.

[2017-12-13 09:59] mhausenblas commented on #719
@rhatdan do we have a timeline for this?

[2017-12-13 12:41] rhatdan commented on #719
@mhausenblas I don't really work at that level.  Probably @smarterclayton @derekwaynecarr @eparis would be better to move it forward.

[2017-12-14 15:04] rhatdan opened #1222 "How can we get nvidia hook to work with CRI-O."
@flx42 We would like to work with you to get your runc hook to work with CRI-O.

CRI-O reads a configuration file for each hook in
/usr/share/containers/oci/hooks.d

Here is a couple of examples of hooks.  The first one only runs if the container has bind mounts and only runs during the prestart phase.
[code]
oci-register-machine only runs if the cmd matches the regex, and runs in the prestart and

[2017-12-14 18:31] flx42 commented on #1222
Hello @rhatdan,

First of all, your version of runc needs this commit: https://github.com/opencontainers/runc/commit/d7c264aaf1f655a64baa981d2d0bf7a78e4f50d9
If that's the case, you can simply use the binary `nvidia-container-runtime-hook` as a prestart hook.
This hook is shipped by our `nvidia-container-runtime` package. The instructions to setup the repo are here: https://nvidia.github.io/nvidia

[2017-12-14 18:32] flx42 commented on #1222
By the way, our hook detects if it has anything to do by checking the environment variables of the container.
If the container doesn't have `NVIDIA_VISIBLE_DEVICES` set, our hook will be no-op.

[2017-12-14 18:38] runcom commented on #1222
yup, the runc we use does have that!

[2017-12-14 18:40] flx42 commented on #1222
I think regex on annotations would be even better, but I don't think we have a way to bake that into our base CUDA images on DockerHub. Dockerfiles labels are not transformed to annotations as far as I know.

[2017-12-14 18:42] flx42 commented on #1222
Off-topic sorry, but what's your take on this [comment](https://github.com/moby/moby/pull/33375#issuecomment-351730740)? We created our hook to be compatible with runc, docker and CRI-O.

[2017-12-14 18:45] runcom opened #1223 "re-enable broken e2e kube test"
tracking #1217 to re-enable the broken kube e2e, it's being skipped here https://github.com/kubernetes-incubator/cri-o/pull/1208/files#diff-fe1da1c8c03c981d03c116369ed2728dR40 for the moment

[2017-12-14 18:59] rhatdan commented on #1222
Our goal is to not run the hook at all if at all possible.  Since this hurts our performance.  I guess we could extend the hook checking code to look for environment variables being set,  Then you could add a regex to the config to tell us whether we should run them or not.
The Projectatomic/Docker package that we currently use in OpenShift just launches all hooks stored in a certain directory but

[2017-12-14 19:19] flx42 commented on #1222
Totally agree with the performance argument. But let's make sure it works as expected first :)
Then, we can either try to add annotations to our images (but will prevent users from bringing custom images), or filter on environment variables.
cc @3XX0

[2017-12-14 19:29] rhatdan commented on #1222
I think if you drop a config with something like

[code]

Then CRI-O will run the hook in the prestart and poststop.  Not sure if you want it in both places.

[2017-12-14 19:31] flx42 commented on #1222
We only need `prestart`. Do you need help in testing that? I haven't tried to setup CRI-O yet, so if you do have a machine with GPUs, it might be quicker for you to test it.

[2017-12-14 19:35] rhatdan commented on #1222
No I don't have the hardware to actually test it out.  I just wanted to point out how easy it would be to get it to work with CRI-O.  Please send me an email dwalsh@redhat.com we can talk about this more via email.

[2017-12-14 20:19] 3XX0 commented on #1222
My bad, I should have [followed up](https://github.com/kubernetes-incubator/cri-o/pull/562#issuecomment-321895694) earlier.

As @flx42 said, annotation filtering won't be useful with Docker since they decided not to convert `LABEL` to annotations. If you could support environment filtering as well that would be great

[2017-12-14 20:22] runcom commented on #1222
so you want to take LABEL(s) from images and set them as Kube annotation? we can easily do that

[2017-12-14 20:32] flx42 commented on #1222
It would work too, but we were actually planning to deprecate our [existing labels](https://gitlab.com/nvidia/cuda/blob/ubuntu16.04/9.0/base/Dockerfile#L21-22).
What do you think @3XX0?

[2017-12-14 20:52] 3XX0 commented on #1222
Wait what are we talking about exactly :)
- OCI annotations
- CRI annotations
- CRI labels
- Docker labels

We could keep one label in our images but it should be something that users can easily add to their custom image or specify on the K8s command line

[2017-12-15 14:02] runcom opened #1228 "deadline exceeded when ListPodSandbox"
We're getting something like this:
[code]

[2017-12-15 14:07] runcom commented on #1228
I saw this twice in https://github.com/kubernetes-incubator/cri-o/pull/1208

[2017-12-15 15:52] runcom commented on #1228
could be related https://github.com/kubernetes/kubernetes/issues/42164 and  https://github.com/kubernetes/kubernetes/issues/54381

[2017-12-15 18:33] nalind commented on #531
Now that #1116 is in, I _think_ these all work as expected?
* Images pulled using tags can be located using digested (canonical) references.
* Images pulled using canonical references don't have a tag added to them.
* We should be populating image references in replies to PullImage, ImageStatus, ImageList, and ContainerStatus requests.
* Image IDs are stable, in that pulling the same image more th

[2017-12-16 09:00] #1048 closed

[2017-12-16 09:00] #531 closed

[2017-12-18 20:34] mrunalp commented on #1222
@flx42 We use hooks a lot and think that they are useful. create/start could be useful in some cases but one needs to evaluate what they are doing as the state of the container when viewed from a OCI hook vs something run in between create/start is different. Hooks could modify more things than what one could after runc create.

[2017-12-27 04:51] AceHack opened #1238 "Consider supporting Service Fabric as a client"
Please consider Service Fabric as a second first-class client for CRI-O.

See related issue on service fabric
https://github.com/Azure/service-fabric-issues/issues/729

[2017-12-29 22:53] mikkeloscar opened #1241 "Failed to mount container: Can't stat lower layer"
**Description**

I originally posted this as a support request in **#sig-node** but was asked to open an issue here as it may be a bug.

I'm trying to run cri-o on my Arch Linux based cluster and I'm having problems getting containers to run. When I run crio with `--log-level debug` I see the following errors when kubelet is trying to create containers:

[code]
`/var/lib/containers/storage/overlay

[2017-12-30 00:36] runcom commented on #1241
Could you provide kernel version and double check that the kernel has the overlay CONFIG enabled

[2017-12-30 10:39] mikkeloscar commented on #1241
Good point, I'm using the kernel provided by scaleway, not the default Arch Linux kernel. It does look correct though:

[code]

[2017-12-30 10:46] rhatdan commented on #1241
@nalind @rhvgoyal PTAL

[2018-01-02 09:50] mhausenblas opened #1242 "Set init process"
Potentially a feature request, for now I'm unsure if it might already be possible: how can one specify a process to be used as the PID 1 in the container, akin to `docker run --init …`?

[2018-01-02 17:52] mhausenblas commented on #1242
Thanks for the clarification. Maybe we should write a post on our [blog](https://medium.com/cri-o) to demonstrate how that works exactly, in practice? WDYT?

[2018-01-02 22:23] flx42 commented on #1222
@NiveditaViswanathNVIDIA was able to make it work with `nvidia-container-runtime-hook`, we encountered a few pain points though.

1) It's not possible to pass extra arguments to the hook, only the path to the binary.
I would like to be able to pass extra arguments like `--debug` or `--log=/var/log/myhook.log`.
In our particular case, it needs to be:
`nvidia-container-runtime -prestart`.

2) Curren

[2018-01-05 19:51] linets-soporte opened #1246 "Can't access tty on running or new pods"
**Description**

Can't connect to tty inside pods after replacing docker with cri-o on a working k8s cluster.

**Steps to reproduce the issue:**
1. Install a k8s using something. I'm case kubespray+ubuntu 16.04.
2. Use the cluster!
3. Replace docker with cri-o.
4. Watch everything work!
5. Try to attach your console to a pod with something like this: kubectl exec -ti nginx-7c87f569d-dmtj7 -- /bin/

[2018-01-05 20:11] runcom commented on #1246
@mrunalp is this the issue you're fixing for which we need to enable the skipped test?

Thanks for the report! It should be a known bug!

[2018-01-05 20:22] mrunalp commented on #1246
@runcom No, this isn't related.
This works fine for me locally. Looks like the streaming server port may not be open.

@linets-soporte Is port 10010 open? It is needed to connect to the streaming server used for exec/attach.

[2018-01-05 20:32] linets-soporte commented on #1246
@runcom, so the k8s node running the pod needs a Public IP and a Security Group that's allow ingress on port 10010? I ask this because, with docker, there's no problem and I only need the k8s masters with public ips (because of the apiserver).

[2018-01-05 20:36] runcom commented on #1246
that's because the dockershim runs directly in the apiserver on the master, whether if you use something like cri-o or cri-containerd you get to do what you said :)

[2018-01-05 21:12] linets-soporte commented on #1246
@runcom Wow, can you help me understand somethings:

- I tried the command from the k8s master. Same problem.
- k8s master and nodes are in the same internal network (I'm using Openstack) and the port you mention is open, visible and responding between vms.
- A process running  in a node on an internal network (lika a vpc in AWS) only knows it's internal IP, so, Why my laptop would try to connect

[2018-01-05 21:42] mrunalp commented on #1246
The `P` in the output may suggest that conmon and/or crio version aren't quite correct. @lsm5 can you double check that ubuntu ppa has the correct versions?

[2018-01-05 22:32] kfox1111 opened #1247 "mountPropagation: Bidirectional"
[code]

I enabled the feature gates for shared mount namespaces then set the following on a container's volume mount:
mountPropagation: Bidirectional

It works in docker but not in crio yet. openstack on top of k8s needs such features. It will be critical to adopting crio for some sites.

[2018-01-06 00:10] mrunalp commented on #1246
@linets-soporte Can you start a httpd pod, curl it and then try to read logs using kubectl logs? That will tell us if conmon/crio are out of sync for you.

[2018-01-06 02:11] linets-soporte commented on #1246
I can confirm that all pods running on the cri-o nodes print logs when executing "kubectl get pods". That include kube-system (flannel, etc) pods. Still no tty.

[2018-01-07 03:47] mrunalp commented on #1247
@kfox1111 Thanks for the report! We will look into it.

[2018-01-07 23:33] theatrus opened #1248 "Container stats and imageFs stats can't be read by Heapster 1.5 on K8S 1.9"
**Description**

When running on a Kubernetes 1.9 cluster, with CRI-O 1.9.0 and Heapster 1.5.0 (as per the default addons), container and node stats cannot be pulled due to two not implemented methods

[code]

[code]

I'm working on a PR to add container stats and have temporarily stubbed out the imageFs endpoint for the interim.

**Steps to reproduce the issue:**
1. Install Kubernetes 1.9 with CR

[2018-01-08 15:52] mrunalp commented on #1247
@kfox1111 Can you give us your exact steps to reproduce the issue?
cc: @rhvgoyal @runcom

[2018-01-08 17:01] kfox1111 commented on #1247
ok. when I went and rebuilt step by step the instructions for how to do it to post here, it worked that time. Somewhere along the line I missed a step I think.

Sorry for the noise.

Thanks,
Kevin

[2018-01-08 17:01] #1247 closed

[2018-01-08 17:36] mrunalp commented on #1247
@kfox1111 Awesome thanks :)

[2018-01-08 20:55] linets-soporte commented on #1246
Quick update.

I removed crio from Ubuntu and reinstalled the software using the tutorial.

Now I have this on kubelet "Manifest does not match provided manifest digest sha256:bf96292eedc661a17bdf183b28c004e8e423b2f4a52c752ced1f000b945ae123".

I already deleted all containers with crictl.

I will try one more time before reinstalling all thing an closing this.

Any tip on the "Manifest does not ma

[2018-01-08 21:00] mrunalp commented on #1246
@linets-soporte Can you remove all the images from the local store and retry?

[2018-01-08 21:33] linets-soporte commented on #1246
@mrunalp you were rigth!

But I have the same problem: No tty or attach works on containers created with cri-o (k8s master to k8s master or k8s master to k8s node).

I triple check my security groups.

I followed this https://github.com/kubernetes-incubator/cri-o/blob/master/kubernetes.md to remove docker.

Do I need to read another doc? All the containers are running and this is the only issue so

[2018-01-09 00:18] mrunalp commented on #1246
@linets-soporte Are you using the release-1.8 branch? Also, did you make sure that your conmon binary is also compiled and copied to the location specified in crio.conf? One more thing you could try is make sure that local-up-cluster works to rule out any compatibility issues between cri-o and conmon.

[2018-01-12 13:22] vbatts opened #1254 "grpc issue creating container"
**Description**
I'm venturing into new waters here, and surely doing bad things to cri-o. :grimacing:

I'm working on a python library for the kubernetes CRI.
Not sure that I've got the steps correct in creating a container in a pod, but RunPodSandbox appears to work, though the CreateContainer instruction gives cri-o a nil pointer. I'm sure it's my fault, but looking to get a full working example

[2018-01-12 13:27] vbatts commented on #1254
looks like https://github.com/kubernetes/kubernetes/issues/53769 is related ...

[2018-01-12 14:35] vbatts commented on #1254
found the required field ...
The ContainerConfig metadata.name needs to be present, and match the sandbox_config.metadata.name for that matter.

Perhaps this ought not nil point and panic the crio daemon though?

[2018-01-12 14:43] runcom commented on #1254
possible, lemme check

[2018-01-12 14:46] runcom commented on #1254
https://github.com/kubernetes-incubator/cri-o/pull/1255

[2018-01-12 18:37] jvanz commented on #1060
I think this issue can be closed. The issue #1164 has already started to work on this. There is a PR waiting to be merge.

[2018-01-13 03:04] RenaudWasTaken commented on #1222
Quick update:
I'm getting the annotations from the device plugin to CRIO: https://github.com/kubernetes/kubernetes/pull/58172

[2018-01-16 15:35] umohnani8 opened #1257 "Conmon doesn't forward error with runc"
**Description**
The runc error is not forwarded out by conmon. Specifically https://github.com/kubernetes-incubator/cri-o/blob/master/conmon/conmon.c#L1302 says it needs to be fixed.
In some cases for podman, container creation fails but there is no error message making it hard to deduce what caused the failure.

[2018-01-16 15:47] runcom commented on #1257
This https://github.com/kubernetes-incubator/cri-o/blob/master/conmon/conmon.c#L1306 should also be fixed to say "stdin" (not "stdout").

[2018-01-16 15:50] runcom commented on #1257
BTW, that comment is pretty old and surely not relevant anymore https://github.com/kubernetes-incubator/cri-o/commit/4493b6f17631a23458436728adab4f961606be97#diff-caf7c5c19d8bb76309f55ccce30a55afL414 :confused: @mrunalp PTAL

[2018-01-16 19:04] kfox1111 commented on #1141
Where are the rpms? best I could find is https://cbs.centos.org/repos/virt7-container-common-candidate/x86_64/os/Packages/

[2018-01-16 19:24] kfox1111 opened #1258 "no such file or directory during container creation."
**Description**

I can have a working pod in k8s, delete it and recreate it and with zero changes to the pod.yaml, it fails to launch.

**Describe the results you received:**
pod enters CreateContainerError

kubelet logs:
Jan 16 11:19:33 zathras.emsl.pnl.gov kubelet[1754]: E0116 11:19:33.930641    1754 pod_workers.go:186] Error syncing pod 277ece5d-faf2-11e7-b013-d481d7de48ad ("test4_default(277ec

[2018-01-16 19:27] mrunalp commented on #1258
What version of centos are you on? Also can you share your crio.conf?
cc: @nalind

[2018-01-16 19:44] kfox1111 commented on #1258
centos 7.4

the config without any comments:
 sed '/^#/d; /^$/d' /etc/crio/crio.conf
[crio]
root = "/var/lib/containers/storage"
runroot = "/var/run/containers/storage"
storage_driver = "overlay"
storage_option = [
	"overlay.override_kernel_check=1",
]
[crio.api]
listen = "/var/run/crio/crio.sock"
stream_address = ""
stream_port = "10010"
file_locking = true
[crio.runtime]
runtime = "/usr/bin/runc

[2018-01-16 19:47] mrunalp commented on #1258
Can you get logs from crio in debug mode (--log-level debug) as well?

[2018-01-16 19:54] ashcrow commented on #1258
Only thing missing from the default config looks to be from ``crio.runtime``: ``runtime_untrusted_workload = ""`` though it should not be related since it's optional.

[2018-01-16 20:33] kfox1111 commented on #1258
yeah. I had clear containers setup. but disabled it to debug just to be sure it wasn't cc.

Another datapoint. I can only reproduce it it seems with pods that have hostNetwork: true. if I comment it out, the pod launches successfully.

Oddly, the k8s itself has several pods including etcd launched hostNetwork: true running to even service that way. I'm guessing if I went to relaunch one of them no

[2018-01-16 20:36] mrunalp commented on #1258
@kfox1111 Can you share your pod yaml file so we can try to reproduce the issue?

[2018-01-18 06:42] gouyang opened #1259 "Cannot create pod after restart crio service"
**Description**
The command `crictl runp test/testdata/sandbox_config.json` cannot run successfully after restart crio service, but if restart the crio service twice, it returns to work again.

**Steps to reproduce the issue:**
Below steps are executed one after one immediately.

[code]

**Describe the results you received:**
cannot create pod after restart crio service

**Describe the results you

[2018-01-18 10:06] runcom commented on #1259
This assumption is wrong: kubernetes increments the Attempt field if it's going to recreate a pod with the same name/namespace stuff. If cri-o restarts and you want to run the same pod again you have to increment the Attempt or delete and recreate the same pod. The second restart is certainly wrong, we will look into that but the first is expected.

[2018-01-18 16:25] wking opened #1260 "Update to use the runtime command line interface from runtime-tools?"
Runtime-tools recently landed a [runtime command line interface spec][1].  I took a quick look to see how closely cri-o matches that spec, to see how easy it would be to slot in another runtime besides runc, and turned up a few issues (like [cri-o calling `kill --all`][2] although [`--all` is not defined in the interface spec][3]).  Is there interest in adjusting to more closely match the interfac

[2018-01-18 16:27] runcom commented on #1260
can we work to have a --all in the spec maybe? was there anything to prevent --all to land in the spec?

/cc @mrunalp

[2018-01-18 17:31] wking commented on #1260
On Thu, Jan 18, 2018 at 08:27:53AM -0800, Antonio Murdaca wrote:

I haven't found any relevant discussion in
opencontainers/runtime-spec#513 or opencontainers/runtime-tools#321,
and I did not mention --all in opencontainers/runtime-tools@5c87cc6.
So no discussion on this specific issue.  My main concern would be
getting a definition for “all container processes”.  I started a
thread about that way

[2018-01-18 17:45] wking commented on #1260
On Thu, Jan 18, 2018 at 05:32:25PM +0000, W. Trevor King wrote:

It looks like there's some related cri-o discussion in #1010.  The way
I expect TERM to be handled is that the container init process should
be delegating any received TERM as it sees fit.  If it wants to pass
that along to the rest of its PID namespace with a kill(-1, TERM),
then the child processes will have time to gracefully clos

[2018-01-18 18:32] wking commented on #1260
We may want per-difference issues for this, but here are some more parts of the runtime interface used by CRI-O which are not covered in the runtime-interface spec:

* The [`exec`][1], [`update`][3], [`pause`][7], and [`resume`][8] commands.
* For `create`: the [`--no-pivot` argument][2].
* For `kill` (as discussed above): the [`--all` argument][5] and [signal names besides `KILL` and `TERM`][4].

[2018-01-19 18:17] kfox1111 opened #1266 "crictl exec after kubectl exec"
**Description**

crictl exec doesn't work after kubectl exec'ing into a pod.

**Describe the results you received:**
[code]

**Describe the results you expected:**

crictl exec should work.

**Output of `crio --version`:**

[code]

[2018-01-19 20:12] wking commented on #1242
In case it helps, you configure the pause container [here][1] or [here][2] and enable shared PID namespaces [here][3] or [here][4].  There doesn't seem to be an option yet for “make the containers new PID namespaces underneath the pod PID namespace”, which would be nice to have (standard containers would be more isolated but the infra container could still reap them).

And there's also [a Kubernet

[2018-01-19 21:55] wking commented on #1196
#1270 will pull in opencontainers/runc#1683 which will fix this issue.

[2018-01-19 23:35] mrunalp commented on #1260
I think best would be to get these into runtime-interface specification. All alternatives to runc are copying the runc command line. While we work on getting those in, your best bet would be to add these options to the runtime you want to integrate right now.

[2018-01-19 23:50] #1260 closed

[2018-01-20 00:27] kfox1111 opened #1276 "crictl exec inside untrusted runtime script"
**Description**

I'm attempting to run clear containers in a cri-o trusted container.

I setup a shell script at the configured "runtime_untrusted_workload", that:
calls:
[code]
crio --version
crio version 1.9.1-dev
commit: "5321ae20e4428093cdadb80f550e872f75006c32"
[code]

[2018-01-22 11:00] ddongchen opened #1279 "Cannot delete pods completely with clear containers"
**Description**

 I tested the cri-o with clear containers runtime and found the pod cannot be deleted completely.
**Steps to reproduce the issue:**
1. Using kubernetes to create the pod
[xxx]# ./cluster/kubectl.sh get pod
NAME       READY     STATUS    RESTARTS   AGE
pod-test   1/1       Running   0          11m

we can also see from crictl:
[xxx]# crictl pods
PODSANDBOX ID       CREATED

[2018-01-22 11:28] runcom commented on #1279
@sameo PTAL

[2018-01-23 15:43] #1254 closed

[2018-01-23 15:45] wking commented on #446
Fixed by the just-merged #1255?

[2018-01-23 15:50] #446 closed

[2018-01-24 11:42] runcom commented on #1258
I cannot reproduce this issue on F27 with latest CRI-O. `etc-hosts` from kube should be also completely ignored since we're running hostNetwork: true.
Here's my yaml:
[code]
I can create, delete and re-create it just fine.

[2018-01-24 14:11] sameo commented on #1279
@ddongchen this log:

[code]

seems to indicate that this is a Clear Containers issue. The pod proxy is dead, while cri-o believes the sandbox is still alive.

Could you please open an issue at github.com/clearcontainers/runtime with the entire CRI-O and runtime logs when trying to delete the pod?

Also, is that 100% reproducible? (I hope it is...)

[2018-01-24 16:42] kfox1111 commented on #1258
I used the following, but even the kubeadm manifests in /etc/kubernetes/manifests show the issue:
apiVersion: v1
kind: Pod
metadata:
  name: kfox-test
spec:
   hostNetwork: true
 containers:
  - name: main
    command:
    - /bin/sh
    - -c
    - |
      while true; do sleep 1000; done
    image: docker.io/library/busybox
    imagePullPolicy: IfNotPresent

[2018-01-24 16:45] kfox1111 commented on #1258
I've tried the centos rpms and saw it frequently.

I built:
(venv)[root@zathras ~]# crio --version
crio version 1.9.1-dev
commit: "5321ae20e4428093cdadb80f550e872f75006c32"

and it went away for a little while and then started coming back. (though during that time I was doing less net=host related changes)

Please try with centos 7.

[2018-01-24 16:46] runcom commented on #1258
I'll try it, it's super weird though, etc-hosts in kube is already created and present at the time CRI-O is asked to mount it in the container. Can't see how this could be a race. I'll try and repro on CentOS

[2018-01-25 01:33] ddongchen commented on #1279
@sameo Yes, it's 100% reproduced on my local machine.

I'll open another issue for the github.com/clearcontainers.

I also observed the log "connection refused", what puzzled me most is that why "crictl" works well, while kubernetes cannot delete pod completely using "cri-o".

[2018-01-25 13:01] mrIncompetent opened #1284 "cri-o configured with systemd cgroup manager, but did not receive slice as parent"
**Description**
When using the kubelet v1.9.2 on ubuntu 16.04 + cri-o package via the apt repository i get the following errors from the kubelet logs:
[code]

**Steps to reproduce the issue:**
1. Install cri-o via the apt repo on Ubuntu 16.04
2. Install the kubelet v1.9.2
3. Start the kubelet

I havent changed anything in the cri-o config.
My kubelet systemd unit looks the following:
[code]

[2018-01-25 13:19] mrIncompetent commented on #1284
Nevermind, i forgot to set `--cgroup-driver="systemd" ` on the kubelet

[2018-01-25 13:19] #1284 closed

[2018-01-25 13:19] runcom commented on #1284
You should change the kubelet settings to starts with --cgroup-manager=systemd (or something like this). Either that, or configure cri-o to use cgroupfs (the former is preferred though).

[2018-01-25 20:23] wking opened #1285 "test: Frequent e2e ResourceQuota timeouts"
Kubernetes end-to-end tests have been failing frequently with results [like][1]:

Details on [the first error][2]:

So something is hanging somewhere in those tests.  Currently, the approach seems to be [running `/retest` until the tests pass][3], but it would be nice to get to the bottom of this timeout so the slow tests were less flaky.

[1]: https://ci.openshift.redhat.com/jenkins/job/test_pull

[2018-01-25 21:23] runcom commented on #1285
Thanks for this, we're actively monitoring this issue and we'll probably need to come up with more resource power for insances. Thanks for opening this as a tracker

[2018-01-29 16:04] wozniakjan opened #1293 "not overriding image environment variables by kubernetes"
Logging team has tested the cri-o support and there is one issue that currently prevents us from using cri-o, @mrunalp asked me to create an issue here.

**Description**

If an image is built using docker and provides an environment variable, kubernetes should be able to override the same environment variable. Currently, this behavior differs.

- default for an environment variable "ES_HOST=localh

[2018-01-29 16:14] runcom commented on #1293
Looking...

[2018-01-30 09:45] mrIncompetent opened #1294 "1.9.0-1~ubuntu16.04.2~ppa1 missing from ubuntu repository"
I saw that the cri-o package `1.9.0-1~ubuntu16.04.2~ppa1` from the Ubuntu apt repository was deleted.
Instead there's now `1.9.1-1~ubuntu16.04.2~ppa1`

Was there a particular reason behind this?
Cant both packages exist?

[2018-01-30 10:00] runcom commented on #1294
/cc @lsm5

[2018-01-30 10:51] wrigtim commented on #1248
We've hit this too with Kubernetes 1.9.1 and CRI-O tag v1.9.1 😿
Looks like the tests are only failing due to gofmt errors?

[2018-02-05 01:53] m1093782566 commented on #594
/close

[2018-02-05 01:53] m1093782566 commented on #594
NO

[2018-02-05 03:15] canit00 opened #1301 "failed to find plugin || Unable to start container images"
**Description**
Fedora 27 || crio version 1.9.0 || kpod version 0.1

[code]

**Steps to reproduce the issue:**
1. Install crio via dnf
2. update crio registry configuration
3. run example podman command

**Describe the results you received:**
Error received:
[code]

**Describe the results you expected:**
Expected container to start

**Additional information you deem important (e.g. issue happens o

[2018-02-06 09:47] wanghaoran1988 commented on #1301
Seems you don't have any cni plugin installed, here is the doc: https://github.com/kubernetes-incubator/cri-o/blob/master/tutorial.md#cni-plugins

[2018-02-06 10:12] wanghaoran1988 commented on #1259
Does that mean if I didn't update Attempt and continue create the same pod, we should failed to create the pod?

Currently, without update the Attempt, the same pod can be created continually

[2018-02-06 10:14] wanghaoran1988 commented on #1259
But after restart the crio , failed with "run pod sandbox failed: rpc error: code = Unknown desc = conflict, name "k8s_podsandbox1_redhat.test.crio_redhat-test-crio_1" already reserved for pod "f84c4518365d457e9cf3002dee2ff7c631cb22a1e0997e2713442cd1b4bb46b4" "

@runcom

[2018-02-06 20:57] jcantrill commented on #1293
@runcom Is there an update to this issue?

[2018-02-06 22:42] runcom commented on #1293
I'm looking into it right now

[2018-02-06 22:43] runcom commented on #1293
It looks like the cri-o version you're using is from the 1.7 kube release cycle so it might be missing a backport actually.

[2018-02-06 23:04] runcom commented on #1293
This is fixed in latest CRI-O 1.0.8 and later versions (1.8.x, 1.9.x, master) by https://github.com/kubernetes-incubator/cri-o/pull/1186 - could you test it out guys?

[2018-02-07 03:23] canit00 commented on #1301
Thank you @wanghaoran1988 for pointing this out. In an attempt to automate I realized that /opt/cni/bin already existed and it was created by package: containernetworking-cni-0.6.0-2.fc27.x86_64

[code]

When I look at the contents, it contains the following.

[code]
Now if I copy what's been built, I'd be over writing the contents of containernetworking-cni.

[code]
What steps do I take next? And

[2018-02-07 03:42] wanghaoran1988 commented on #1301
@canit00 From your error log, I think it should work for you now.

[2018-02-07 13:17] wozniakjan commented on #1293
confirming it works with 1.9.1, also confirming that latest 1.7 still didn't get the backport. Thanks for your help!

[2018-02-07 13:17] #1293 closed

[2018-02-09 00:50] RenaudWasTaken opened #1312 "CreateContainerRequest: runtime error: index out of range"
**Description**
CRIO master version crashes at container start with Kubernetes.
The image is successfully pulled though.

[code]
**Steps to reproduce the issue:**
1. Build CRIO master
2. Setup Kubelet with the CRIO connection after following [these instructions](https://github.com/kubernetes-incubator/cri-o/blob/master/kubernetes.md)
3. Run a pod that lands on the CRIO node

**Describe the results

[2018-02-09 03:44] mrunalp commented on #1312
I suspect that https://github.com/kubernetes-incubator/cri-o/pull/1269/files might be the cause. Could you revert that commit (https://github.com/kubernetes-incubator/cri-o/pull/1269/commits/523326b7ba15e6e38fd4d1716d78c860ac1ad4fa) and see if it works for you?

[2018-02-09 14:02] runcom opened #1315 "[release-1.9] Backport #1116"
@nalind we need https://github.com/kubernetes-incubator/cri-o/pull/1116 back ported to `release-1.9`. You've already back ported something in https://github.com/kubernetes-incubator/cri-o/pull/1297 but we're missing the fixes to how we handle image digests and that's causing errors in openshift/origin CI (https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_cri

[2018-02-09 15:59] nalind commented on #1315
It doesn't look like there are that many adjustments required.

[2018-02-10 01:14] mrunalp commented on #1312
@RenaudWasTaken What version of kube are you testing with? (Trying to reproduce it locally).

[2018-02-10 15:08] mrIncompetent commented on #1294
It happened again with `1.9.2-1~ubuntu16.04.2~ppa1` :disappointed:
Is there any reason for this?

As cri-o's versioning is bound the the kubernetes minor version, it will be required to pin the package version of cri-o as soon as cri-o 1.10 will be released.
Or will cri-o 1.10 be backwards-compatible?

[2018-02-11 03:43] lsm5 commented on #1294
aargh, reason for this is that I forgot to look at setting up hosting multiple builds simultaneously. my bad entirely.

Btw, maintaining multiple simultaneous builds might sooner or later end up being a pain in my @$$, so I'll welcome co-maintainers if anyone's interested :)

[2018-02-11 22:16] RenaudWasTaken opened #1319 "CRIO Annotation Hooks"
**Description**
In the hooks document it is stated that the Annotations fields is matched against the container annotations:

However, the current implementation matches the Annotation field against the [sandbox annotations](https://github.com/kubernetes-incubator/cri-o/blob/cb8033cd194bb98170d715b6f8ce873550d78706/server/container_create.go#L652)

Is the documented behavior incorrect or is the im

[2018-02-11 23:48] runcom commented on #1319
We can actually prefer containers annotation over sandboxes. Is that OK?

[2018-02-12 00:30] RenaudWasTaken commented on #1319
Yep :)

[2018-02-12 00:55] runcom commented on #1319
And by that I mean,

1. Look for container annotation
2. If there's a container annotation, use it
3. It there is no, fall back to sandbox annotation

[2018-02-12 00:58] RenaudWasTaken commented on #1319
That's probably a good compromise, as it wouldn't break existing clients :)
In our case we don't intend to add annotations to the sandbox, so that behavior would be a good fit.

[2018-02-12 09:54] runcom commented on #1315
fixed, thanks Nalin

[2018-02-12 09:54] #1315 closed

[2018-02-12 10:45] runcom commented on #1319
@RenaudWasTaken https://github.com/kubernetes-incubator/cri-o/pull/1320 PTAL

[2018-02-12 11:52] runcom commented on #1312
that commit has surely shown a bug in runtime-tools https://github.com/opencontainers/runtime-tools/pull/581

@RenaudWasTaken could you please provide a full reproducer with kube version and everything so we can test it out?

[2018-02-12 20:15] #1312 closed

[2018-02-12 20:19] lsm5 commented on #1294
so it seems the gopher team maintains separate versions together by including the version number in the package name itself, @runcom how many versions are we looking to support right now?

[2018-02-12 20:19] RenaudWasTaken commented on #1312
kubelet version was release-1.9
And the pod that ran was the flannel daemonset

Will try to give you more information when I have more time to spin up a CRI-O machine :)

[2018-02-13 04:35] #1319 closed

[2018-02-13 06:36] sboeuf opened #1327 "waitContainerStop() should SIGKILL the container process only as last option"
I was looking into [StopContainer()](https://github.com/kubernetes-incubator/cri-o/blob/master/oci/oci.go#L608-L635) from `oci/oci.go`, and I realized that [waitContainerStop()](https://github.com/kubernetes-incubator/cri-o/blob/master/oci/oci.go#L564-L605) was actually doing more than just waiting for the process to terminate. Indeed, if it reaches the timeout, it kills directly the container PID

[2018-02-13 06:36] sboeuf commented on #1327
@mrunalp @runcom WDYT ?

[2018-02-13 15:35] lsm5 commented on #1294
@mrIncompetent I just submitted `cri-o-1.9.3` to PPA. Note that version string is appended to the package name itself, while `cri-o` right now is 1.9.2. Let me know what versions you're looking to deploy simultaneously and I'll see what I can do.

See: https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages

[2018-02-13 15:51] mrIncompetent commented on #1294
Hey,
i would suppose more something like:
**Packages**
- cri-o-1.8
**versions**
  - 1.8-0\~ubuntu16.04.2~ppa1
  - 1.8-1\~ubuntu16.04.2~ppa1
  - 1.8-2\~ubuntu16.04.2~ppa1
  - 1.8-3\~ubuntu16.04.2~ppa1
  - 1.8-4\~ubuntu16.04.2~ppa1
  - 1.8-5\~ubuntu16.04.2~ppa1
- cri-o-1.9
**versions**
  - 1.9-0\~ubuntu16.04.2~ppa1
  - 1.9-1\~ubuntu16.04.2~ppa1
  - 1.9-2\~ubuntu16.04.2~ppa1
  - 1.9-3\~ubuntu16.04.2~

[2018-02-13 19:58] mheon opened #1330 "CRI-O built without Seccomp buildtag still produces Seccomp configs"
**Description**

After building CRI-O without the Seccomp buildtag, containers will still have a default Seccomp profile. This is somewhat confusing as most people would expect no seccomp tag = no Seccomp profile. Only occurs when default seccomp profile is not set to unconfined.

I suspect this is due to not clearing the default Seccomp profile in specs created by the runtime-tools/generate packa

[2018-02-13 23:12] RenaudWasTaken opened #1331 "Fsnotify on hooks path"
**Description**
Currently hooks are loaded at startup, which means that when someone places a hook inside the hook directory, they need to restart CRI-O.

Adding a hook after CRI-O starts is something that will happen when paired with the Kubernetes device plugin feature.
The device plugin is a daemonset deployed by the cluster administrator at any time during the cluster lifecycle that is expecte

[2018-02-13 23:27] runcom commented on #1331
We can certainly look into this but I also want to understand more about the issues cri-o arises when it restarts, could you open more issues? :)

[2018-02-13 23:36] RenaudWasTaken commented on #1331
No issues arises when restarting CRI-O, we're just not really comfortable asking our user to restart CRI-O manually or requesting the permissions for our container to do it programatically.
It's also a bit complicated to have a reliable way to restart programatically CRI-O

[2018-02-13 23:42] runcom commented on #1331
That makes total sense, I thought there were issues when restarting it, Nevermind then

[2018-02-14 11:24] rhatdan commented on #1330
Why not use the keyctl executable to test this?
[code]

[2018-02-14 15:20] mheon commented on #1330
That would be a much better test, I think. I wonder if it's in any common images by default or you'd need a dnf install to grab it.

[2018-02-14 15:20] mheon commented on #1330
I will try and make a better reproducer this afternoon using keyctl if I have time

[2018-02-14 18:42] mrunalp commented on #1331
Sounds good! @RenaudWasTaken any chance you could work on that?

[2018-02-16 13:32] RenaudWasTaken commented on #1331
I can test it but I can't work on it, I've started the process internally to contribute to CRI-O but it usually takes a few weeks :(

[2018-02-16 13:39] brlbil opened #1346 "Ubuntu ppa arm support"
There are no arm packages available for Ubuntu ppa:projectatomic/ppa checked other distros.
I would appreciate armhf packages to be added.

[2018-02-16 14:20] devimc opened #1347 "ARM: exec user process caused "exec format error""
**Description**

**Steps to reproduce the issue:**
1. Install CRIO on ARM
2. Run crio.bats [1]

[1] - https://github.com/clearcontainers/tests/blob/master/integration/cri-o/crio.bats

**Describe the results you received:**

standard_init_linux.go:195: exec user process caused "exec format error"

**Describe the results you expected:**
no errors

**Additional information you deem important (e.g. is

[2018-02-16 14:50] runcom commented on #1347
@devimc do you have any chance to test this out with a newer cri-o version? 1.0.4 is pretty outdated at this point

[2018-02-16 14:51] runcom commented on #1347
/cc @mtrmac @nalind

[2018-02-16 17:35] GabyCT commented on #1347
This was also tested with version 1.9.0, however, errors are still present

[code]

[2018-02-16 18:18] mtrmac commented on #1347
Are there any logs available for pulling the image to the node? The above logs seem to refer to an already downloaded image (and the IDs used match neither manifest nor config digests, at least not for any architectures in the latest versions of the repo on Docker Hub).

[2018-02-16 18:31] lsm5 commented on #1346
@brlbil yup, I'll enable armhf and see how it goes.

[2018-02-16 19:10] lsm5 commented on #1294
so I'm told upstream supports the latest from `release-1.[7,8,9]` branches. so I can get separate packages going for each of those, but maintaining debs for every minor release (1.9.2, 1.9.3 etc.) seems like a bad idea.

[2018-02-16 19:33] devimc commented on #1347
@mtrmac  here more info

crio version
[code]

crioctl version
[code]

pull busybox latest
[code]

list images
[code]

look for image in filesystem
[code]

list busybox files
[code]

cat =c2hhMjU2OjViMGQ1OTAyNjcyOWI2ODU3MGQ5OWJjNGYzZjdjMzFhMmU0ZjJhNTczNjQzNTY0MTU2NWQ5M2U3YzI1YmQyYzM=

[code]

**{"architecture":"amd64", ...***

do we need to configure crio to download arm64 images?  what we are doin

[2018-02-16 20:09] mtrmac commented on #1347
Are debug logs available for this? They should include a
`Source is a manifest list; copying (only) instance…`
line (but not much more).

I would expect this to work automatically. At least CRI-O is not hard-coding AMD64 AFAICT.

[2018-02-16 20:21] mtrmac commented on #1347
`commit: "814c6ab0913d827543696b366048056a31d9529c"`

Ah, actually I think I know what’s going on.  This has a fairly old version of containers/image , which deals with manifest lists only by https://github.com/containers/image/pull/344 , i.e. leaving the registry to guess which architecture to use — and the registry guesses `amd64` because it has no idea what the client is.

Would it be easy for

[2018-02-16 20:22] devimc commented on #1347
@mtrmac

[code]

more info about the system

[code]

[code]

[code]

[2018-02-18 00:58] RenaudWasTaken commented on #1312
I can confirm this bug doesn't happen with master :)

[2018-02-19 22:17] GabyCT commented on #1347
Tests worked correctly with the following configuration
crio version 1.9.5
commit: "a665e8a3f5849614f46fe1364ad128394c15b88a"

[2018-02-19 22:25] devimc commented on #1347
thanks @GabyCT @mtrmac

[2018-02-19 22:25] #1347 closed

[2018-02-22 19:08] wking commented on #1222
This was also fixed with #1244, which [now uses a `stage` environment variable][1].  The variable is still undocumented (I can file updated docs once #1355 lands), but moving it out of the arguments solves your issue.  Is there anything left to do here?  I think we can close this issue.

Just to push back on this issue, I don't think there's anything that you can do in a hook that you couldn't do

[2018-02-22 19:12] flx42 commented on #1222
@RenaudWasTaken did you test with this patch? Can we close?

[2018-02-22 20:20] wking commented on #1222
To follow up on this point, I don't think we need the environment variable at all (#1360).  That shouldn't affect the Nvidia hook though, since [you only inject it in pre-start][1].

[1]: https://github.com/kubernetes-incubator/cri-o/issues/1222#issuecomment-351812361

[2018-02-22 21:17] rhatdan commented on #1222
If nvidea is checking for the environment variable then it could cause it to break.

https://github.com/projectatomic/oci-register-machine
https://github.com/projectatomic/oci-systemd-hook
https://github.com/projectatomic/oci-umount
Are the others that would need updating that I know about.

[2018-02-23 20:36] wking opened #1372 "Kubernetes e2e suite.BeforeSuite running/ready flake"
I don't usually check e2e failures, but today I saw [a “Kubernetes e2e suite.BeforeSuite” error][1].  [Drilling down][2]:

[code]

Not sure what's going on there, they look like they're both running but are maybe not ready?  Anyway, I thought I'd file a separate issue to track this flake (like #1285).

[1]: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_rhel/673/
[2]: https

[2018-02-23 20:37] wking commented on #533
#631 was [merged last September][1].  I'm not sure if we want to leave it open as some sort of tracker issue?  Personally, I prefer issue labels for that sort of thing.

[1]: https://github.com/kubernetes-incubator/cri-o/pull/631#event-1241800424

[2018-02-23 22:29] wking commented on #1372
I'm seeing [the same error][1] repeatedly in #1368, so I suspect something changed in the upstream workers.  Is there any way we can check that?  Can we run the e2e tests on master for a sanity check?

[1]: https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_fedora/655/testReport/(root)/Kubernetes%20e2e%20suite/BeforeSuite/

[2018-02-24 00:19] RenaudWasTaken commented on #1222
So the hooks actually work in 1.9
However, with master + PR #1345 the behavior seem to have changed I end up with the following error from the nvidia-hook:
[code]

@flx42 suggested that I add `export PATH=/usr/sbin:/usr/bin:/sbin:/bin` in the shell wrapper that I use but I'm a bit surprised by this behavior change.
My wrapper being a simple (btw I had to change nvidia-container-runtime to /usr/bin

[2018-02-24 00:27] wking commented on #1222
My guess is that runc is just [copying `Env` over to Go's `Cmd`][1] and that [Go uses the host environment if `Env` is `nil`][2].  I think that's a bug on `runc`'s part (although the spec isn't clear enough to say for sure), but the change is due to the `stage` `Env` setting.  #1360 should return you to the old environment inheritance, at least until `runc` is patched to fix it ;).

I agree that y

[2018-02-24 00:36] flx42 commented on #1222
Our hook now uses a default value for PATH: https://github.com/NVIDIA/nvidia-container-runtime/commit/95bc87201387845446d6d83b7c7815b348e2a92c

[2018-02-24 01:00] wking commented on #1222
opencontainers/runc#1738 is the patch removing the environment leakage you used to rely on.

[2018-02-24 05:08] mrunalp commented on #1294
@lsm5 Is there anyway we can automate pushing new debians? We can write a cron job which can look for latest tags and can build and push.

[2018-02-24 05:49] lsm5 commented on #1294
@mrunalp I guess I'll need to get the deb packaging files merged in the 1.[7,8,9] branches first, I did open a PR for master branch, but seems like that's the wrong place for it. Once that's done, as long as some CI can provide a xenial instance (probably not Travis which uses an older LTS version), we should be good to go. I might also need to setup a bot email address for GPG signing builds I gu

[2018-02-24 06:42] lsm5 commented on #1294
i have a builder script for this, let me try and generalize it a bit, still trying to get the hang of debian changelog editors

[2018-02-27 20:18] TomSweeneyRedHat opened #1379 "Tutorial doesn't mention crio.conf"
**Description**

In the tutorial you're told to do:
[code]
However that won't work until registries have been added to /etc/crio/crio.conf and there's no mention of that in the install guide or tutorial that I can see.

**Steps to reproduce the issue:**
1. Documentation error

**Describe the results you received:**
Unable to get crio running following just the steps in the tutorial.

**Describe th