[2019-02-26 19:11] lsm5 commented on #2072
Also, if you want mirror.centos.org repos, that might take a little longer, but hope ^ ain't too bad

[2019-02-26 19:22] SimonHoenscheid commented on #2072
@lsm5 Thanks a lot!!

[2019-02-27 08:16] hardoverflow commented on #2072
Cool! Many thanks @lsm5

[2019-02-28 16:56] umohnani8 commented on #1987
@rhatdan this is fixed and can be closed right?

[2019-02-28 19:38] rhatdan commented on #1987
Yes the updated selinux-go package should handle this.

[2019-02-28 19:38] rhatdan commented on #1987
@saschagrunert @mrunalp Please close.  I don't have the power.

[2019-03-01 16:27] umohnani8 commented on #477
We have both unit and BAT tests for exec. @mrunalp @rhatdan I think this can be closed.

[2019-03-01 17:34] umohnani8 commented on #610
We have the channel, @mrunalp @rhatdan please close this.

[2019-03-01 17:38] umohnani8 commented on #901
Looks like this was fixed, @rhatdan @mrunalp please close.

[2019-03-01 18:37] rhatdan commented on #610
@umohnani8 I can't at this point.  I need to become admin of this repo.

[2019-03-01 19:35] #901 closed

[2019-03-02 00:19] jasonbrooks commented on #1742
I'm seeing this with cri-o-1.12.0-12.dev.gitc4f232a.fc29.x86_64 -- it's got to be able to survive an unexpected reboot, I'd say.

[2019-03-03 18:29] gandazgul commented on #2072
Thank you for setting this up!

I get this on Fedora 29 any ideas?

`nothing provides skopeo-containers >= 1:0.1.24-3 needed by cri-o-1.13.1-1.rhaos4.1.git2ac1ec7.el7.x86_64`

[2019-03-04 11:56] rhatdan commented on #2072
Skopeo-containers has been renamed to containers-common, which is all you should need.

[2019-03-04 18:47] robertrbruno commented on #2072
Thanks so much for all the movement on this!  Next time we upgrade this will save us a lot of time!

[2019-03-04 19:01] #477 closed

[2019-03-04 19:02] #610 closed

[2019-03-04 19:08] umohnani8 commented on #893
Fixed in #1992

[2019-03-04 19:08] #893 closed

[2019-03-04 19:09] umohnani8 commented on #918
This was fixed  by setting tty to true for the exec commands in probes.

[2019-03-04 19:09] #918 closed

[2019-03-04 19:17] umohnani8 commented on #1246
@linets-soporte if this is an issue please reopen, closing for now.

[2019-03-04 19:17] #1246 closed

[2019-03-04 19:24] umohnani8 commented on #1258
@kfox1111 checking in again, is it still an issue?

[2019-03-04 19:25] umohnani8 commented on #1276
@kfox1111 are you still seeing this issue?

[2019-03-04 19:27] umohnani8 commented on #1279
@ddongchen @sameo is this still an issue?

[2019-03-04 19:32] umohnani8 commented on #1294
This seems resolved, please reopen if not. Closing for now.

[2019-03-04 19:32] #1294 closed

[2019-03-04 19:32] umohnani8 commented on #1346
@lsm5 has this been taken care of?

[2019-03-04 19:37] umohnani8 commented on #1413
Tried this with 1.14.0 and don't see an error. @adelton please reopen if you are still seeing this issue. Closing.

[2019-03-04 19:37] #1413 closed

[2019-03-04 19:39] umohnani8 commented on #1418
@sboeuf @mrunalp is this still an issue?

[2019-03-04 19:43] umohnani8 commented on #1422
The proposal for getting cri-o into cncf: https://github.com/cncf/toc/pull/177

[2019-03-04 19:44] sboeuf commented on #1418
@umohnani8 I would say so, but I haven't looked at this code in a long time now...

[2019-03-04 19:52] kfox1111 commented on #1258
Too long ago to tell. I'm going to just close this for now.

Thanks,
Kevin

[2019-03-04 19:52] #1258 closed

[2019-03-04 19:54] umohnani8 commented on #1432
Tried this with cri-o 1.14.0 and the pod stays in Ready state after multiple `sleep` commands. @adelton please reopen this if you are still seeing this issue. Closing

[2019-03-04 19:54] #1432 closed

[2019-03-04 19:55] kfox1111 commented on #1276
I have not gotten a chance to ever get back to trying this use case again. I still think it would be useful to get working though.

[2019-03-04 19:56] kfox1111 commented on #1276
For those that want to try, might be able to implement this with nsenter instead.

[2019-03-04 20:10] cevich commented on #1424
Closing, assuming this was fixed given how old it is.  Can re-open if not.

[2019-03-04 20:10] #1424 closed

[2019-03-04 21:29] umohnani8 commented on #1453
Logic should be `crictl stopp` then `crictl rmp`. Issue seems resolved, closing.

[2019-03-04 23:15] #1482 closed

[2019-03-04 23:16] mrunalp opened #2101 "Return IPv6 address for hostNetwork pods"
The current code returns hostIp for hostNetwork pods and that uses k8s function which prioritizes IPv4 over IPv6. So, the result is that hostNetwork pods end up with IPv4 addresses in a IPv6 environment.

[2019-03-04 23:24] #1592 closed

[2019-03-04 23:25] umohnani8 commented on #1595
@pravisankar please reopen if you are still seeing this issue. closing.

[2019-03-04 23:25] #1595 closed

[2019-03-04 23:31] umohnani8 commented on #1685
Tried with cri-o 1.14.0 and it works fine
[code]
@jackzhanghk please reopen if the issue persists for you.

[2019-03-04 23:31] #1685 closed

[2019-03-05 00:24] mrunalp commented on #1937
We have fixed this in the code. Thanks!

[2019-03-05 00:24] #1937 closed

[2019-03-05 00:25] mrunalp commented on #1922
Most likely explanation for this is either crio is not running or crio socket is configured to be some other path. Can you check that?

[2019-03-05 00:25] mrunalp commented on #1895
This was fixed by #1924

[2019-03-05 00:26] #1895 closed

[2019-03-05 00:28] mrunalp commented on #1742
We fixed this in all the branches recently.

[2019-03-05 00:28] mrunalp commented on #1742
I will cut new releases for it.

[2019-03-05 00:38] mrunalp commented on #91
We are going to close this as with the introduction of pid namespaces, the pause/init container is required. If someone is really motivated, they can add a code path to do all the work that we do for non-pid namespace sharing pods but I don't see a big benefit right now. Feel free to re-open if there is interest in reviving this :)

[2019-03-05 00:38] #91 closed

[2019-03-05 00:39] #600 closed

[2019-03-05 00:40] mrunalp commented on #484
This is fixed.

[2019-03-05 00:40] #484 closed

[2019-03-05 01:03] #527 closed

[2019-03-05 09:30] adelton commented on #1413
Well, I assume this was fixed with 309667f5158e7e13a47f57d24f6b69ee97aed871.

[2019-03-05 09:38] adelton commented on #1453
I confirm that
[code]
works with
[code]
But it still feels like `stopp` should be done automatically before the `rmp` -- after all, if I remove the sandbox, there is no longer any expectation that it should continue running, is there? Or there should be a `-f` option to force the removal, while refusing to remove sandbox which is not stopped.

[2019-03-05 11:03] giuseppe commented on #1904
no updates since last November, so closing the issue, please re-open if it still happens

[2019-03-05 11:03] #1904 closed

[2019-03-05 13:13] #1453 closed

[2019-03-05 21:00] #2101 closed

[2019-03-06 04:23] gandazgul commented on #2072
@rhatdan Trying to install 1.13.1 from here: https://cbs.centos.org/repos/paas7-crio-113-candidate/x86_64/os/Packages/ on Fedora 29

I get this:
[code]

You are right if I try to install cri-o from fedora it wants containers-common and it works, but can I use it with kubernetes 1.13?

[2019-03-06 13:10] TomSweeneyRedHat commented on #2072
FYI @lsm5, i'm thinking you might be asked to weigh in on this one.

[2019-03-06 13:27] lsm5 commented on #2072
@gandazgul yup, no guarantees of the centos build working on f29. I've built cri-o modules for 1.11, 1.12 and 1.13. The module update for crio 1.13. on fedora29 is at https://bodhi.fedoraproject.org/updates/FEDORA-MODULAR-2019-5934cd8569 but funny enough, I'm unable to install the module myself on my f29 machine, filed https://bugzilla.redhat.com/show_bug.cgi?id=1685985 for that.

@jasonbrooks see

[2019-03-06 13:29] lsm5 commented on #2072
@gandazgul we'll get the docs updated once the module install process is straightened out.

[2019-03-06 13:32] lsm5 commented on #2072
hmm, suddenly seems to work now, seems like my yum repos needed a refresh, make sure your `updates-testing-modular` repo is enabled and then a simple `dnf install cri-o` should work. Let me know if that doesn't work. That build should get pushed to stable soon btw.

[2019-03-06 13:35] lsm5 commented on #2072
@robertrbruno can you please close this issue? centos7 should be resolved by https://github.com/kubernetes-sigs/cri-o/issues/2072#issuecomment-467571277

[2019-03-06 13:38] lsm5 commented on #1346
yup https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages , this can be closed.

[2019-03-06 15:30] #1346 closed

[2019-03-06 15:36] umohnani8 commented on #1624
@edsantiago @cevich is this done?

[2019-03-06 16:02] cevich commented on #2030
I never got a response from @dcbw on this problem.  Myself and several others decided to simply skip running it for conmon as it wasn't very relevant to our use-case.  However I believe this test is fundamentally broken with a race condition of some sort, causing it to "accidentally" pass.  Unfortunately I do not posses the knowledge necessary to properly fix it, despite making several failed atte

[2019-03-06 16:04] cevich commented on #1624
@umohnani8 I believe this was never fixed, however I'm not sure if it's still a problem or not.  We can close for now, pending new evidence either way.

[2019-03-06 16:04] #1624 closed

[2019-03-06 16:29] lsm5 commented on #2072
@umohnani8 this is good to be closed as well.

[2019-03-06 17:47] gandazgul commented on #2072
Thank you all for the quick responses I really want to start using cri-o.

Cheers

[2019-03-06 19:14] lsm5 commented on #2072
Yup, you can start already, see https://github.com/kubernetes-sigs/cri-o/issues/2072#issuecomment-470108105 :)

HTH

[2019-03-08 02:36] sboeuf opened #2112 "Add support for crio restart for RuntimeVM (v2) implementation"
`crio` daemon is able to restart and restore pod and containers already running. We need to implement proper support for this feature for the `RuntimeVM` implementation.

[2019-03-08 02:43] sboeuf opened #2113 "Create a new Kata CI job for testing runtime v2"
In order to validate the proper functioning of the `RuntimeVM` implementation, we need to setup a new Jenkins job on the Kata CI, that would be triggered by a new hook from the CRIO repository.

The setup should be very similar to what is done with the current Kata CI, but the CRIO configuration should be slightly different to make use of the kata-runtime v2 implementation, instead of the kata-run

[2019-03-08 02:52] sboeuf opened #2114 "Running e2e testing with Kata CI"
Kata currently has a nightly build running `sonobuoy` k8s e2e tests. It runs with containerd by default, and it'd be great to have those same tests running for Kata + CRI-O too.

@chavafg ran the same tests a few weeks ago with CRI-O, but he got some errors...
So the first question is, what are the k8s e2e tests that CRI-O usually run with runc? If they are not exactly the same set of tests, then

[2019-03-08 05:23] mrunalp commented on #1804
@squeed how do we get this fixed in the CNI plugins?

[2019-03-08 18:48] rhatdan commented on #478
Since this was never answered and a year old, I am going to close.

[2019-03-08 18:48] #478 closed

[2019-03-08 18:49] rhatdan commented on #278
Since this is several year old and no one responds to me, I am going to assume it is fixed.  Reopen if I am wrong.

[2019-03-08 18:49] #278 closed

[2019-03-08 18:51] rhatdan commented on #132
Since this is several years old and nobody is working on it, I will close.  Reopen if someone wants to work on it.

[2019-03-08 18:51] #132 closed

[2019-03-08 18:52] rhatdan commented on #288
Another year goes by and no one has worked on this.  Is this important for RHEL8?

[2019-03-08 18:52] rhatdan commented on #377
Looks like this is making progress.

[2019-03-08 21:38] mtrmac opened #2117 "pkg/storage/runtime_test.go is mostly wrong"
**Description**

The tests in pkg/storage/runtime_test.go use `imageName` as a name of an image to be pulled. Because uppercase letters are invalid in Docker references (and therefore also `containers-storage:` references), the test exercise code paths that don’t match the real world much.

**Steps to reproduce the issue:**
1. `s/imageName/imagename/g` in `pkg/storage/runtime_test.go`
2. `go test

[2019-03-09 01:32] #2024 closed

[2019-03-10 12:40] vrothberg commented on #1879
The problem still applies to the latest master. We can recheck when K8s 1.14 is released (March 25, 19).

[2019-03-10 20:01] SimonHoenscheid commented on #2072
@lsm5 thx a lot for your work on this one. Any news about the combined repo?

[2019-03-11 10:05] sysrich opened #2121 "CRI-O requires podman-like "cni_default_network" support"
**Description**

This ticket started it's life in a discussion at https://github.com/containers/libpod/issues/2370

In short

- the CNI ecosystem is imperfect, and the assumption that all configurations in /etc/cni/net.d will be compatible with each other is not true (eg. flannel not working alongside a basic podman bridge)
- any container runtime should therefore have some way of mitigating those

[2019-03-11 10:34] bartelsb opened #2122 "Node hostname changes to the name of a k8s daemonset pod"
Migrating issue from https://github.com/kubernetes/kubernetes/issues/70543

**Description**
A few of the nodes in my cluster changed their transient hostname to the name of the Clamav Pod that is running on them. Clamav mounts `/` to `/host` so that it can run scans, but in readonly mode so I don't think that it's directly changing the hostname. Only the transient hostname changed, `/etc/hostname`

[2019-03-11 10:55] vrothberg commented on #2121
Thanks a lot for moving the issue over here, @sysrich!

We can get some inspiration from https://github.com/containers/libpod/commit/4f699db8dad0 to fix the issue in CRI-O.

[2019-03-11 16:53] squeed commented on #1804
The CNI plugins already handle this; what version and what CNI configuration are you using?

[2019-03-11 20:00] haircommander commented on #2121
Working on it! (I'd assign myself but I don't have write access to the repo)

[2019-03-13 11:22] giuseppe commented on #2122
is the pod sharing the UTS namespace with the host?

[2019-03-13 17:04] bhperry commented on #2122
Not sure, how would you determine that?

It appears to coincide with the containers restarting and failing to start back up with `CreateContainerError`. No helpful events when I describe the pod, but this shows up in kubelet logs:

[code]

[2019-03-13 17:29] bhperry commented on #2122
I don't think it's sharing UTS ns for the most part. Under normal operation the container will report the hostname as the name of the pod that it is in, and the physical node will retain its own hostname. This problem only happens occasionally, and only on 1 or 2 pods in the daemonset (out of 6+). But I could definitely see where a problem with creating the new UTS namespace might cause this bug t

[2019-03-13 17:49] mrunalp commented on #2122
@giuseppe @bhperry For the host network namespace case, we are supposed to use host uts namespace as well. However I think we don't actually do that in CRI-O and it is something that needs fixing. I will test that a bit and see what's happening.

[2019-03-13 18:31] pando85 opened #2125 "[Documentation] What is the meaning of `Cefs` in `Support for network based file system images (NFS, Gluster, Cefs)`?"
Hi, in [website](https://cri-o.io/#storage) it is written that  `Support for network based file system images (NFS, Gluster, Cefs)`. What is the meaning of `Cefs` in that context?

Could be [Ceph FS](http://docs.ceph.com/docs/master/cephfs/)?
Thanks.

[2019-03-13 18:38] mrunalp commented on #2125
Yes, it is Ceph FS. You can open a PR here to get it fixed - https://github.com/cri-o/cri-o.io

[2019-03-14 08:19] saschagrunert commented on #1987
@rhatdan I am sorry I have to reopen this, it is not fixed until the selinux-go changes are not used within cri-o.

[2019-03-14 11:03] pando85 commented on #2125
Thanks @mrunalp.
I made [it](https://github.com/cri-o/cri-o.io/pull/27) but I don't know if this information is outdated. I saw [this PR](https://github.com/containers/storage/pull/50) and I don't find more information about current state of this feature.

[2019-03-14 17:25] bhperry commented on #2122
The Clamav example I've mentioned does not use hostNetwork, but it does have
[code]

However I have now seen one example where a node took on the transient hostname for a different pod (default-http-backend for ingress-nginx), which is not privileged.

[2019-03-14 19:10] mrunalp commented on #2122
@bhperry Can you test if for any of the clamav daemonsets the UTS namespace is same as the host?
You can do it like this:
[code]
If the link points to same value then they are sharing the namespace.

[2019-03-14 19:27] bhperry commented on #2122
They are the same on the node that has triggered the bug:
[code]

And different on a node that has not:
[code]

[2019-03-14 21:27] mrunalp commented on #2122
@bhperry can you get the config.json for the clamav container from runc?
runc list | grep container_id
The config.json will be under the bundle path.

[2019-03-14 22:00] bhperry commented on #2122
[code]

[2019-03-15 01:25] mrunalp commented on #2122
@bhperry Thanks! To get the last piece of the puzzle, could you get the config.json for the pod container?
[code]

[2019-03-15 12:40] saschagrunert commented on #2117
Hey @mtrmac thank you for reporting the issue. I prepared a fix for it in #2132 and you may want to have a look into that. :)

[2019-03-15 14:34] #2117 closed

[2019-03-15 14:49] bhperry commented on #2122
No sandboxID via the method you posted, but I got this from the podID of clamav. Is this what you were looking for? Also, unfortunately the container restarted last night and got stuck in `CreateContainerError`, so I killed it in an attempt to get a containerID. Hopefully that didn't change anything critical in the conf.
[code]

[2019-03-15 15:10] bhperry commented on #2122
Let me know if you need the config from a container that is currently triggering the bug. There's a few clusters that have this problem which I could grab a config from.

[2019-03-15 18:21] haircommander commented on #2125
closing per https://github.com/cri-o/cri-o.io/pull/27

[2019-03-15 18:21] #2125 closed

[2019-03-15 18:25] umohnani8 commented on #1257
@mheon @giuseppe is this still an issue? I can't recall if we fixed it.

[2019-03-15 18:27] mheon commented on #1257
It's definitely still an issue. We lose a lot of errors when containers are started with a TTY - Conmon will try and retrieve the TTY from runc, and when the container fails to start we get an error about Conmon being unable to retrieve a TTY instead of the actual error that killed runc. The dreaded empty error messages from Conmon dying without signalling the cause of an error are also still pres

[2019-03-15 18:40] giuseppe commented on #1257
there were some improvements b431f36edc55106ef149fc85bb76b5455a128a40 but I've also noticed there are still cases where the errors from the OCI runtime are lost

[2019-03-15 19:13] mrunalp commented on #2122
@bhperry Yes, I need new configs from where you are seeing the bug. Both the container and the pod/sandbox config.json.

[2019-03-15 20:13] bhperry commented on #2122
Sure thing. Here's container:
[code]

And pod
[code]

[2019-03-15 20:43] mrunalp commented on #2122
@bhperry Could you verify if both of these processes uts namespaces are same or different from /proc/1/ns/uts?

[2019-03-15 20:44] mrunalp commented on #2122
What I see so far is that pod has requested a uts namespace different from the host and if it still matches the host then something else is at play.

[2019-03-15 21:18] mrunalp commented on #2072
@lsm5 Also, we should add a packages section to the README before closing this issue so it is easy for users to get to this :) Thanks!

[2019-03-15 21:36] bhperry commented on #2122
They are the same.

[2019-03-15 21:47] mtrmac commented on #2117
Thanks! That PR is a big improvement.

I’ve noted a few concerns in there (but the GoMock expectations are honestly incomprehensible to me stand-alone, so I might well have missed something), but now that the main paths are represented accurately, that’s much less important.

[2019-03-15 21:48] mrunalp commented on #2122
@bhperry so they match the host uts, right?
@giuseppe This probably points to a runc issue which is puzzling.

[2019-03-16 13:12] saschagrunert commented on #2117
Thank you for the review! I will check if I can improve the mocking further…

[2019-03-16 18:13] mrunalp commented on #2122
@bhperry Can you share the clamav daemonset yaml?

[2019-03-16 19:17] bhperry commented on #2122
Clamav container has the same UTS namespace as the host. Does the pod have a UTS namespace as well? I don't know how to find that if it does.

Here's the daemonset yaml:
[code]

[2019-03-16 23:30] mrunalp commented on #2122
@bhperry, you can do the same to find the pod uts namespace.

runc list | grep pod id
ls -l /proc/pod_pid/ns/uts

From the data you have provided so far it looks like the pod is requesting a uts namespace which is separate from the host and the container simply joins it i.e. uses the pods uts namespace so I expect that you will see the same uts namespace for the pod but it will be good to double c

[2019-03-18 15:47] bhperry commented on #2122
Yes, pod is the same as the host and container.

[2019-03-18 18:14] sboeuf opened #2139 "Remove trusted/untrusted runtime support starting with 1.14"
As mentioned in the documentation related to `RuntimeClass`, CRI-O deprecated the use of `trusted`/`untrusted` annotations for 1.12 and 1.13 versions, and 1.14 should remove the support for it.
Because 1.14 release will be cut soon, we should be ready to remove those annotations support from CRI-O, as this will simplify the code.

[2019-03-18 18:14] sboeuf commented on #2139
/cc @egernst @mrunalp

[2019-03-18 18:46] rhatdan commented on #483
Since this has not been touched in over a year.  I am going to close.  It does not seem to be an issue now.  Reopen if you disagree.

[2019-03-18 18:46] #483 closed

[2019-03-18 18:47] rhatdan commented on #594
Well another year has gone by and no movement on this.  I will close.  Reopen if this is still important.

[2019-03-18 18:47] #594 closed

[2019-03-18 18:48] rhatdan commented on #616
@cevich @wking Is this still something tht is important or can I close?
A year since any activity?

[2019-03-18 18:49] rhatdan commented on #719
No action in another year.  So closing this as won't fix until Kubernetes requires.  Reopen if you disagree.

[2019-03-18 18:49] #719 closed

[2019-03-18 18:49] rhatdan commented on #815
No action in another year.  I guess this is no longer an issue..  Reopen if you disagree.

[2019-03-18 18:49] #815 closed

[2019-03-18 18:50] rhatdan commented on #941
No action in another year.  I guess this is not something we need..  Reopen if you disagree.

[2019-03-18 18:50] #941 closed

[2019-03-18 18:51] rhatdan commented on #1141
No action for quite a while.  If community wants static binaries then we will accept PRs.  Until then I will close this.  Reopen if you disagree.

[2019-03-18 18:51] #1141 closed

[2019-03-18 18:51] rhatdan commented on #1204
No action in another year.  I guess this is not something we need..  Reopen if you disagree.

[2019-03-18 18:51] #1204 closed

[2019-03-18 18:52] rhatdan commented on #1238
No action in another year.  I guess this is not something we need..  Reopen if you disagree.

[2019-03-18 18:52] #1238 closed

[2019-03-18 18:52] rhatdan commented on #1241
I believe this is now fixed in latest CRI-O, Reopen if you disagree.

[2019-03-18 18:52] #1241 closed

[2019-03-18 18:53] rhatdan commented on #1462
@umohnani8 Can we close this one now?

[2019-03-18 18:53] rhatdan commented on #1498
No action in another year.  I guess this is not something we need..  Reopen if you disagree.

[2019-03-18 18:53] #1498 closed

[2019-03-18 18:54] rhatdan commented on #1512
@wking is this still an issue?

[2019-03-18 18:55] rhatdan commented on #1515
@fungusakafungus Are you still seeing this with latest cri-o?

[2019-03-18 18:55] rhatdan commented on #1535
I am closing this since I think it is fixed.  Reopen if you disagree.

[2019-03-18 18:55] #1535 closed

[2019-03-18 18:57] rhatdan commented on #1534
I am closing this as I believe it is fixed in current CRI-O.  Reopen if you disagree.

[2019-03-18 18:57] #1534 closed

[2019-03-18 18:57] rhatdan commented on #1529
@umohnani8 Is this still an issue?

[2019-03-18 18:58] rhatdan commented on #1538
@giuseppe @wking @mheon Is this still broken in conmon?

[2019-03-18 18:58] umohnani8 commented on #1529
@rhatdan yup.

[2019-03-18 18:59] umohnani8 commented on #1462
@rhatdan yeah I still see it failing, but haven't dug into it.

[2019-03-18 18:59] rhatdan commented on #1547
@vbatts Is this still something we need?

[2019-03-18 18:59] fungusakafungus commented on #1515
Sorry, not using cri-o anymore, so not seeing it anymore :)

[2019-03-18 18:59] rhatdan commented on #1551
@vbatts is this still something we need?

[2019-03-18 19:00] rhatdan commented on #1576
@nalind Did you ever work on this?
@chavafg is this something I can close now?

[2019-03-18 19:01] rhatdan commented on #1588
@vbatts is this still something you are working on, or should I close it?

[2019-03-18 19:01] rhatdan commented on #1585
@wking @mheon Is this still an issue, or can I close it.

[2019-03-18 19:02] rhatdan commented on #1637
I would figure this is fixed by now.  If not reopen the issue.

[2019-03-18 19:02] #1637 closed

[2019-03-18 19:02] rhatdan commented on #1667
I take it that this has been fixed,  Reopen if I am wrong.

[2019-03-18 19:02] #1667 closed

[2019-03-18 19:03] rhatdan commented on #1664
@drake7707 Did you ever follow up on this?
@mrunalp Is this something you want?
@TomSweeneyRedHat Is this something you could throw together?

[2019-03-18 19:04] rhatdan commented on #1712
@amshinde @mrunalp Is this still something that is needed and never completed?

[2019-03-18 19:05] rhatdan commented on #1726
@egernst is this still an issue?  Close if this is no longer a problem.

[2019-03-18 19:05] rhatdan commented on #1766
@bhperry I am going to close this since there has been no issues for along time.

[2019-03-18 19:05] #1766 closed

[2019-03-18 19:06] rhatdan commented on #1753
Original issue has been completed.

[2019-03-18 19:06] #1753 closed

[2019-03-18 19:07] rhatdan commented on #1778
@portante, is this still something you believe we should do?
@haircommander could you take a look.
@mrunalp FYI

[2019-03-18 19:08] rhatdan commented on #1784
@mcronce are you still seeing this behaviour?

[2019-03-18 19:08] rhatdan commented on #1779
This issue was answered in the fall.

[2019-03-18 19:08] #1779 closed

[2019-03-18 19:09] rhatdan commented on #1704
@sboeuf Is this still an issue or has this been done?

[2019-03-18 19:09] rhatdan commented on #1800
Looks like this has been completed in upstream.

[2019-03-18 19:09] #1800 closed

[2019-03-18 19:10] rhatdan commented on #1796
Fixed.

[2019-03-18 19:10] #1796 closed

[2019-03-18 19:11] rhatdan commented on #1809
I just merged this.
Thanks @mythi

[2019-03-18 19:11] #1809 closed

[2019-03-18 19:11] sboeuf commented on #1704
This has been implmented and merged already!

[2019-03-18 19:11] #1704 closed

[2019-03-18 19:11] rhatdan commented on #1733
Looks like the PR has stalled?

[2019-03-18 19:12] rhatdan commented on #838
@runcom What's the skoop on this one?    Is this something we need people to work on?

[2019-03-18 19:13] rhatdan commented on #1824
@mrunalp @cyphar Is this still an issue?

[2019-03-18 19:13] rhatdan commented on #1837
I don't think anyone has worked on this?

[2019-03-18 19:14] rhatdan commented on #1839
@aalubin @mrunalp Is this still an issue?

[2019-03-18 19:14] wking commented on #616
I [still][1] think we can close this.  If there are still [outstanding packaging issues][2], they can be tracked wherever that external packaging lives (or where it will live), without needing this issue in the upstream repository.

[1]: https://github.com/kubernetes-sigs/cri-o/issues/616#issuecomment-376690771
[2]: https://github.com/kubernetes-sigs/cri-o/issues/616#issuecomment-376913773

[2019-03-18 19:14] rhatdan commented on #1768
Looks like this is fixed?  Reopen if you disagree.

[2019-03-18 19:14] #1768 closed

[2019-03-18 19:15] kfox1111 commented on #1141
Just a datapoint. I've been using containerd more of late, as they provide exactly this while cri-o doesnt. Better yet would be centos rpms, but neither runtime provides those.

[2019-03-18 19:15] rhatdan commented on #1769
Since no response I am closing for lack of activity.  Reopen if you disagree.

[2019-03-18 19:15] #1769 closed

[2019-03-18 19:16] rhatdan commented on #1921
@steven-sheehy @cyphar I beleive this current default is 4k, closing.  Re-open if you disagree.

[2019-03-18 19:16] #1921 closed

[2019-03-18 19:16] rhatdan commented on #1932
The PR is closed.  Closing.

[2019-03-18 19:16] #1932 closed

[2019-03-18 19:17] rhatdan commented on #1929
@giuseppe PTAL

[2019-03-18 19:18] rhatdan commented on #1962
@mrunalp @mcronce Is this still an issue with latest upstream?

[2019-03-18 19:19] rhatdan commented on #1242
@mhausenblas Is this still something you want?
@mrunalp Is this something we should support?

[2019-03-18 19:19] rhatdan commented on #1972
@saschagrunert Any movement on this issue?

[2019-03-18 19:20] rhatdan commented on #1978
@yogo1212 I take it this is gccgo, closing.

[2019-03-18 19:20] #1978 closed

[2019-03-18 19:21] rhatdan commented on #1975
@mcuseau @mrunalp is this still an issue?  Is it something we need to fix?

[2019-03-18 19:21] paulnivin commented on #838
Moving to the systemd cgroup manager mitigated this issue for us.

[2019-03-18 19:22] rhatdan commented on #1991
Looks like thie PR was closed.  Closing.  Reopen if I am mistaken.

[2019-03-18 19:22] wking commented on #1512
Looks like [the default is still `kubernetes/pause`][1], and that that image (implicitly on docker.io?) [hasn't been updated in three years][2].  So yeah, probably still an issue.  And my preferred solution is still dropping the pause container (#91) and just using the runtime itself idling post-`create` and pre-`start` to hold PID namespaces open.  Looks like #1265 has been getting another look r

[2019-03-18 19:22] rhatdan commented on #1970
I don't see this as a CRI-O issue. Reopen if you disagree.

[2019-03-18 19:22] #1970 closed

[2019-03-18 19:23] rhatdan commented on #2008
@saschagrunert Do we still need this issue open?

[2019-03-18 19:24] rhatdan commented on #1971
@saschagrunert I take it you are continue to work on this.  Great.

[2019-03-18 19:25] rhatdan commented on #1927
@steven-sheehy @giuseppe @mrunalp Is this still an issue?

[2019-03-18 19:25] mheon commented on #1538
Fixed in libpod by opening them ourselves and passing in the open file
descriptors

On Mon, Mar 18, 2019, 12:58 Daniel J Walsh <notifications@github.com> wrote:

[2019-03-18 19:25] rhatdan commented on #2009
@saschagrunert any progress on this?

[2019-03-18 19:26] rhatdan commented on #1760
@lsm5 can I now close this issue?

[2019-03-18 19:26] rhatdan commented on #2063
Continue to plan to do this.

[2019-03-18 19:27] rhatdan commented on #2065
Since this issue needs to be with Kubernetes, closing.

[2019-03-18 19:27] #2065 closed

[2019-03-18 19:27] rhatdan commented on #2037
In current CRI-O

[2019-03-18 19:27] #2037 closed

[2019-03-18 19:28] aalubin commented on #1839
@rhatdan we no longer use cri-o so I don't know

[2019-03-18 19:28] rhatdan commented on #1767
@lsm5 do we still have this issue?

[2019-03-18 19:28] rhatdan commented on #1279
Closing since this is a year old.

[2019-03-18 19:28] #1279 closed

[2019-03-18 19:28] johanneswuerbach commented on #719
@rhatdan in-place resource changes are making progress in kubernetes https://github.com/kubernetes/enhancements/pull/686 so this will hopefully be required soon.

[2019-03-18 19:29] rhatdan commented on #1422
Since the proposal is upstream, no reason to keep this issue open.

[2019-03-18 19:29] #1422 closed

[2019-03-18 19:31] #616 closed

[2019-03-18 19:31] sboeuf commented on #1991
No I don't think this was ever tackled, but I'll let @mcastelino give some clarifications on this.

[2019-03-18 19:34] wking commented on #1585
The `podman logs` bit means that if we did this, we'd need a flag to be able to preserve `conmon`-written logs for Podman.  But we wouldn't need control translation for that, just log writing.  So there's probably space for cleanup along these lines, but I am probably not going to have time to push it forward myself in the near future.  Maybe leave it open and label it priority/backlog?

[2019-03-18 19:37] vbatts commented on #1547
Need? More of a nice-to-have

[2019-03-18 19:37] #1839 closed

[2019-03-18 19:38] vbatts commented on #1837
I haven't seen it, and it's still a requested list

[2019-03-18 19:54] saschagrunert commented on #2009
@rhatdan Yeah I made some progress internally, but I’m still in a negotiation phase of getting all necessary requirements together. I will close this issue for now and keep track on my internal issue tracker. The information that it is generell possible is enough for now, thanks!

[2019-03-18 19:54] #2009 closed

[2019-03-18 19:54] cevich commented on #616
ya close...oh..it's done :smile:

[2019-03-18 19:56] saschagrunert commented on #1971
@rhatdan Sure, I will finish it up :)

[2019-03-18 19:59] giuseppe commented on #1929
IIRC, we don't have nodev by default now and the other issue was related to not using `stopp`?

@vikaschoudhary16 is there anything left to do here?

[2019-03-18 20:02] saschagrunert commented on #2008
No, I will open a dedicated issue If I find something specific.

[2019-03-18 20:02] #2008 closed

[2019-03-18 20:04] saschagrunert commented on #1972
@rhatdan Not for now, I will close this issue for now since it seems a long term topic which has to be split in several single issues.

[2019-03-18 20:04] #1972 closed

[2019-03-18 20:09] saschagrunert commented on #2063
I think I can look into this issue in some days.

[2019-03-18 20:09] rhatdan commented on #1929
Why would UID Mappings need Nodev by default?

[2019-03-18 20:16] haircommander commented on #1778
@rhatdan yes, but I'd like the journald PRs to get in first!

[2019-03-18 20:23] giuseppe commented on #1929
it doesn't.  I think it was just the general setting to cause the issue

[2019-03-18 21:06] vbatts commented on #1551
Not until it bites someone 🤓

[2019-03-18 21:06] #1551 closed

[2019-03-18 21:06] vbatts commented on #1588
The cross platform effort for crio got shelved for now

[2019-03-18 21:07] #1588 closed

[2019-03-19 06:07] mcluseau commented on #1975
@rhatdan I can't confirm or infirm that as I had to switch the cluster back to containerd for now. Is there something that could have solved this issue as a side effect?

[2019-03-19 08:15] giuseppe commented on #1538
I guess this can be closed, we are already doing it in podman

[2019-03-19 08:15] #1538 closed

[2019-03-19 08:17] giuseppe commented on #1929
I've tried and it works without "nodev", which is not the default; so I am closing this issue.

Please re-open if there is still something left to do

[2019-03-19 08:17] #1929 closed

[2019-03-19 08:20] giuseppe commented on #1927
the errors I could reproduce are fixed upstream, except for a Kubernetes patch that is still being discussed.

@steven-sheehy have you had a chance to try again with an updated CRI-O?

[2019-03-19 09:39] mcronce commented on #1962
@rhatdan I ended up making the switch to Docker - I'll try CRI-O and see if latest fixes it.  I'm traveling right now, so let me get back to you when I'm home.

Thanks!

[2019-03-19 09:40] mcronce commented on #1784
@rhatdan I switched back to Docker and am traveling currently, but I'll try CRI-O again and see if it's still an issue when I'm home.  Thanks!

[2019-03-19 11:24] #2063 closed

[2019-03-19 12:59] rhatdan commented on #1975
@mcluseau I am not sure. I am just trying to clean up issues and see if they have been fixed or bring them to the attention of developers.

[2019-03-19 13:18] lsm5 commented on #1760
@rhatdan yes

[2019-03-19 13:27] #1760 closed

[2019-03-19 13:36] jqueuniet commented on #1760
Should I open a separate issue for cri-tools? it doesn't seem like it's present for bionic in the repository, unless I'm mistaken.

[2019-03-19 13:39] lsm5 commented on #1760
@jqueuniet yup, on the cri-tools repo, and copy me on it

[2019-03-19 14:27] steven-sheehy commented on #1927
Sorry, I don't have the ability to test it. You can close it and we can reopen if needed.

[2019-03-19 14:30] chavafg commented on #1576
Yes, we can close this, it is working now.

[2019-03-19 14:30] #1576 closed

[2019-03-19 14:35] haircommander commented on #377
closing per #2086 landing :D

[2019-03-19 14:36] #377 closed

[2019-03-19 20:44] mrunalp commented on #2122
@bhperry, this only happens with clamav daemon set for you? If there are any other daemonsets that are seeing this issue then we can try to find a pattern. Thing that stands out so far is mounting of /. I will attempt to recreate this locally.

[2019-03-20 00:59] bhperry commented on #2122
For the most part, yes. However there is actually one case where this happened with an ingress-nginx default-http-backend pod. It has a similar event relating to the IPC namespace like what I've seen when clamav triggers the bug and is stuck in `CreateContainerError`
[code]

Here is the yaml for the replicaset that controls it. It somehow got orphaned from its deployment:
[code]

Unfortunately, si

[2019-03-20 03:55] mrunalp commented on #2122
@bhperry That is very useful to know. One PR that @giuseppe has opened to address the lstat issues is here - https://github.com/kubernetes/kubernetes/pull/72105. It is a potential race between kubelet and runtime. @giuseppe Maybe we can run your stress tests with the clamav daemonset/pod and see if we can hit the uts namespace being shared with host.

[2019-03-20 04:17] mrunalp commented on #1927
Reopening as the upstream PR is not yet merged - https://github.com/kubernetes/kubernetes/pull/72105

[2019-03-20 04:28] mrunalp commented on #1927
Turns out #1957 wasn't backported to 1.13. I just opened https://github.com/kubernetes-sigs/cri-o/pull/2143. I will cut a new release once we merge that.

[2019-03-20 04:37] mrunalp commented on #2122
I have opened a backport https://github.com/kubernetes-sigs/cri-o/pull/2143 which should help with the namespace join issue. We will cut a new release once it is merged.

[2019-03-20 08:47] giuseppe commented on #2122
with daemon sets it is quite easy to reproduce that error, create a daemonset.  The CRI-O patches fix partially the issue, but I was still seeing it without the fix for Kubernetes.

Do you bind mount `/` recursively?  I am not sure `/host/proc` should be inside of the container, it could still be possible for a program inside of the container to join a different namespace (such as host UTS) if /pr

[2019-03-20 16:11] bhperry commented on #2122
Great to here there's some fixes for some of this, looking forward to getting those updates.

I'm not actually sure why we have `/` bound, can't remember what the reasoning was for that. What do you mean by binding it recursively?

[2019-03-20 22:19] mrunalp commented on #1975
I opened #2154 to partly help with this. @mcluseau do you know if your container shim process is running in a cgroup or not with containerd? We always run conmon under pod cgroup so it gets accounted to pod.

[2019-03-21 04:21] #2139 closed

[2019-03-21 04:55] mcluseau commented on #1975
Hi @mrunalp , no the shim is not accounted in the pod with containerd. It's what I called the "hidden cost" earlier.

`ps aux` (+manual filtering):
[code]

`pstree` (+ manual filtering) :
[code]

`find /sys/fs/cgroup/ -name tasks |xargs grep 752231` (+manual filtering):
[code]

[2019-03-21 18:05] SleepyBrett commented on #1178
When a kubernetes user points to the @sha256:blahblah of the image list manifest it rejects the architecture specific image  'Digest of source image's manifest would not match destination reference'.

Crio 1.11.11, test with
`docker://docker.io/tomcat@sha256:87ad70ceaafd5c71301b081b37ca2795bd6c7c1a5599a8c92c9447bbd225ae47`

Podman output:
[code]

[2019-03-21 19:42] SleepyBrett opened #2157 "[v1.11.11] Manifest Lists and hash pulls fail."
**Description**
If the image to pull is a sha256 pull (aka `docker://docker.io/tomcat@sha256:87ad70ceaafd5c71301b081b37ca2795bd6c7c1a5599a8c92c9447bbd225ae47`) and that sha actually points to an image manifest the pull will fail with a `Digest of source image's manifest would not match destination reference`

(I have been told the fix for this is on the roadmap somewhere, but I don't see the it sp

[2019-03-21 20:32] mrunalp commented on #2157
@nalind @mtrmac @vrothberg ptal

[2019-03-21 22:14] mtrmac commented on #2157
Thanks for your report.

We can certainly easily enough add the computed digest value to the error message (…hoping that it won’t lead to abuse by users ignoring malicious manifest digest mismatches and just using whatever the registry sends). That’s not really helpful for automated usage of CRI-O I guess.

Other than that, oh, “fun”. We could, in c/image:
- Teach everything about manifest lists,

[2019-03-22 19:24] carldanley commented on #1279
@rhatdan Sorry to bring it back up - just ran into this issue myself:

[code]

[2019-03-22 20:04] carldanley commented on #1279
I just restarted the host and the state changed from `Ready` to `NotReady` and I was able to delete the pod. Prior to that, it was just dangling and I wasn't able to delete the pod via any subset of commands.

[2019-03-27 19:09] haircommander opened #2178 "Add support for injecting init"
If a container is not in the pod's pid namespace, the processes can get orphaned and signals can get missed. This is a tracker issue for allowing the user to inject an init binary (like: https://github.com/Yelp/dumb-init or https://github.com/krallin/tini) into any container that doesn't share the pod's pid namespace.

[2019-03-28 09:48] giuseppe commented on #2178
Podman by default we use catatonit when `--init` is specified

[2019-03-28 16:40] mrunalp commented on #2178
One requirement that we have here is making sure that the logs are streamed correctly so we get the logs from the container process spawned by the init. We want to avoid making changes to conmon. From what we discussed in last week's CRI-O meeting, https://github.com/Yelp/dumb-init supports that. Does `catatonit` also support that?

[2019-03-28 21:09] giuseppe commented on #2178
I guess so, it doesn't affect the std streams.  I forgot the reasons why we picked catatoinit and not considered dumb-init.  @vrothberg do you remember the details? :-)

[2019-03-29 08:15] vrothberg commented on #2178
[catatonit](https://github.com/openSUSE/catatonit) does a better job at signal handling than others. @cyphar is the author of catatonit and may add some details.

[2019-03-29 08:20] vrothberg commented on #2178
BTW, the init-logic from libpod can be found here: https://github.com/containers/libpod/blob/e7a2eecf5f3975edfb92cd2cacff0d34ef45f808/pkg/spec/createconfig.go#L153

[2019-03-29 16:31] sebastian-philipp opened #2193 "Trouble with insecure_registries"
**Trouble with insecure_registries in the conf**

(this is an extract of an irc log. sorry for being a bit unstructured)

I guess this is mainly a documentation bug or a user error.

adding  `insecure_registries = ["192.168.122.1"]` to /etc/crio/crio.conf . Did not work for me.

Also `insecure_registries = ["192.168.122.1:443"]` did not work, as I was getting

[code]

The documentation did not men

[2019-03-29 16:54] mrunalp commented on #2193
@sebastian-philipp Thanks for opening this issue. I think we need to fix up the docs cc: @mtrmac @vrothberg
Also, we are using /etc/containers/registries.conf as the common configuration file for these settings that works for cri-o, podman, buildah and skopeo.

[2019-03-30 23:01] mtrmac commented on #2193
Can you clarify _precisely_
- how the registry is configured: Is it using HTTP or HTTPS (TLS), and on which port (and perhaps if there is anything unusual about the TLS error)
- what is the failing `crio.conf` configuration
- what is the image name (notably whether it does or does not explicitly include a port) that CRI-O is asked to access

(and if you tried multiple things, which all failed diff

[2019-03-31 16:06] afbjorklund opened #2196 "Error creating pods about pulling images"
**Description**

Have a problem with pulling images, when using the latest cri-o. Some error with progress bars ?

**Steps to reproduce the issue:**
1. `sudo crictl pull k8s.gcr.io/pause:3.1`
2.
3.

**Describe the results you received:**

First time (only) gets:
`FATA[0002] pulling image failed: rpc error: code = Unknown desc = error creating progress-bar pool: Can't set terminal settings: input/o

[2019-03-31 17:05] afbjorklund commented on #2196
If I understand correctly, the unlockEcho fails to unlock and then it remains lockEcho forever.

https://github.com/kubernetes-sigs/cri-o/blob/master/vendor/gopkg.in/cheggaaa/pb.v1/pb_x.go#L57:L105

[code]
[code]

Sadly I still don't know **why** it failed initially, other than getting an I/O error (for some reason)

[2019-03-31 20:07] afbjorklund commented on #2196
Referenced changes:

* https://github.com/kubernetes-sigs/cri-o/commit/dfd0faa709b5369f8bb66a11c68cc5cf68fed862

** https://github.com/containers/image/commit/911d1f5a61eaa1aaca9ef9ae9efa8ef46c0c02cf

*** https://github.com/cheggaaa/pb/commit/5f971f1c90c4e7c9e5b7578cb4d114eaee3eb0b0

The old code unlocked before `unix.IoctlSetTermios`, the new code unlocks _after_ (or never).

[2019-04-01 02:39] mrunalp commented on #2196
cc: @vrothberg

[2019-04-01 08:47] vrothberg commented on #2196
Hi @afbjorklund, thanks for the great report! The newer versions of containers/image do not use this library anymore. I have a PR open (https://github.com/kubernetes-sigs/cri-o/pull/2195) to update the vendored dependencies from containers/*. Once that's in, the problem will be fixed.

[2019-04-01 10:52] sebastian-philipp commented on #2193
Ok, after the weekend, I was able to create an insecure registry quite easily. Some things went wrong last week:

My first error was a definitely my fault: I used something like this to add the registry:

[code]
Which obviously doesn't work, as the config file is grouped in sections.

The second problem was being mislead by "List of registries to skip TLS verification for pulling images." in the d

[2019-04-01 12:08] SimonHoenscheid commented on #2072
@lsm5 will you add a paas7-crio-113-candidate soon?

[2019-04-01 13:22] lsm5 commented on #2072
ya, seems like requesting for centos repos is gonna be a regular event.

[2019-04-01 16:16] afbjorklund commented on #2196
Okay, I will try 9afd50caf052c1bb6909130818744865a6a48a4e out and see if that fixes it

[2019-04-01 16:23] afbjorklund commented on #2196
That worked much better, no progress bar etc - but no errors either.

[code]

The 3.1 was now in use (by a pod), so used 3.0 to test with...

[2019-04-02 22:01] chavafg commented on #2114
Hi, sorry for my late response. These are the tests that have been failing when running with cri-o + kata.

[code]

All tests fail with the same grpc error:
[code]

From kata logs:
[code]

[2019-04-03 06:21] AkihiroSuda opened #2205 "[rootless] nil pointer dereference panic"
**Description**

[code]

**Steps to reproduce the issue:**
1. Run Usernetes with cri-o 7a329fc0a6198e611ad862a67aca3380406dfc83
https://github.com/rootless-containers/usernetes/pull/91

**Describe the results you received:**

crashed as above

**Describe the results you expected:**

works

@giuseppe

[2019-04-03 08:24] vrothberg commented on #2196
The upstream e2e tests introduced a regression which should be fixed now. #2195 should be merged today :)

[2019-04-03 12:03] mingzhu02 commented on #1927
I have same proble

docker log
[code]

kubelet log
[code]

[2019-04-03 14:35] umohnani8 opened #2207 "Pass metadata to CNI plugins"
We want to be able to access certain pod information over the CNI. The pod information should be passed down to the CNI plugins, so users can easily access them without having to call back into CRI-O or the kubelet.

[2019-04-03 14:35] umohnani8 commented on #2207
@amshinde @paulnivin can you please give some more details on this so we can start work on it.
cc @mrunalp

[2019-04-03 14:55] #2196 closed

[2019-04-03 19:06] cliffburdick opened #2213 "Respecting isolcpus"
**Description**

The linux boot parameter isolcpus attempts to isolate kernel and extraneous applications from running on specific cores. A user must specifically bind to those cores either at application launch or through pthread calls to use them. Currently, the way cgroups and cpusets interacts with isolcpus is not too clear. However, the kernel documentation says that:

[code]
This does not se

[2019-04-03 19:34] jpeach opened #2214 "Configured additional devices don't update devices group"
**Description**

If you specify devices  cgroup permissions in the `additional_devices` configuration, the croups device permissions are parsed but never propagated.

It looks to me that [getDevicesFromConfig](https://github.com/cri-o/cri-o/blob/master/server/container_create_linux.go#L1134) parses the permissions, but needs to create a `linux.LinuxDeviceCgroup` struct to pair with the `linux.Linu

[2019-04-03 21:37] giuseppe commented on #2205
PR here: https://github.com/cri-o/cri-o/pull/2215

[2019-04-04 15:13] caniszczyk opened #2218 "Add FOSSA badge for license scanning"
CNCF has a license for all projects to use.

[2019-04-04 15:36] mrunalp commented on #2218
Sure!

[2019-04-04 16:38] SleepyBrett opened #2219 "[v1.11.12] gid still not being properly set"
**Description**

Using the following manifest:
[code]
We first noticed this problem in v.1.11.11 but thought one of the patches incorporated into v1.11.12 would solve it. However that is not what we are seeing:

Docker 17.03 -
[code]
crio 1.11.11 -
[code]
crio 1.11.12 -
[code]

As you can see we are still seeing the container's user GID set to 0, even though the user is not in that group at all.

[2019-04-04 19:02] mrunalp commented on #2214
@jpeach Thanks for the report. Can you work on a fix?

[2019-04-04 19:03] mrunalp commented on #2219
This is a build issue. The fix is actually landed post 1.11.12. We will cut a 1.11.13. Thanks!

[2019-04-04 20:49] ganeshmaharaj opened #2221 "null pointer dereference when creating k8s container"
I am running crio 1.14.0 on ClearLinux with k8s 1.14 and canal for networking. The static pods come up just fine, but when canal starts his second container, crio crashes with the below log.

[code]

[2019-04-04 22:36] jpeach commented on #2214
I hope to work on a fix, but it will take some tome to get it approved for release.

[2019-04-07 19:22] #2205 closed

[2019-04-07 20:22] egernst commented on #2218
Oh, this is a very good idea...

[2019-04-07 20:48] mrunalp commented on #2219
Closing since we cut 1.11.13 with the fix that @SleepyBrett verified as working.

[2019-04-07 20:48] #2219 closed

[2019-04-08 21:36] jpeach opened #2229 "Tests conflict with host configuration"
**Description**

On a Fedora 29 host with `docker` and `kubernetes` packages installed, many of the CRI-O tests will fail with the following error:
[code]

The contents of `/usr/share/containers/oci/hooks.d/oci-umount.json` are:
[code]

The workaround is to remove the `oci-umount` package, but the consequence of this is to also remove other packages that are very useful for a development system:
[

[2019-04-08 21:45] mrunalp commented on #2229
@lsm5 Can we fixup the deps so that oci-umount doesn't result in removing other packages?

[2019-04-09 07:46] saschagrunert commented on #2229
The issue exits because of the `hooks.DefaultDir` (const) incjection in `container_server.go:188`:
https://github.com/cri-o/cri-o/blob/22a3924b7251a4d1f37fa36dad882153942b7ea2/lib/container_server.go#L186-L195

One way to solve this would be to remove it there since it is already defined within the crio.conf. This makes it more configurable and tests could simply skip that directory. WDYT?

[2019-04-09 11:35] amimof commented on #1141
Not sure why this issue closed but i would gladly help out. I would personally LOVE to see pre-built binaries under "releases".

[2019-04-09 11:39] lsm5 commented on #1141
Hmm, centos PaaS SIG does provide those: https://cbs.centos.org/koji/packageinfo?packageID=5695

Also: https://cbs.centos.org/repos/paas7-crio-113-candidate/x86_64/os/Packages/ and
https://cbs.centos.org/repos/paas7-crio-112-candidate/x86_64/os/Packages/

I have a TODO to create 1.14 repos.

[2019-04-09 11:40] lsm5 commented on #1141
I don't think centos base would have those rpms though, since those are not shipped in RHEL to begin with.

[2019-04-09 13:19] giuseppe opened #2236 "crio static build"
we should support a static build for CRI-O so that we don't need to carry dependencies and make it easier to copy the crio binary.

More information here: https://github.com/rootless-containers/usernetes/issues/19

[2019-04-09 15:41] kfox1111 commented on #1141
Does https://cbs.centos.org/koji/packageinfo?packageID=5695 feed into a repo?

I'm kind of reluctant to use packages out of any repo with 'candidate' in its title.

[2019-04-09 16:22] jpeach commented on #2229
Isn't this default needed for compatibility?

[2019-04-09 17:41] saschagrunert commented on #2229
Currently it is doubled there since the default config already contains this entry.

[2019-04-09 23:43] lsm5 commented on #1141
On Tue, Apr 09, 2019 at 08:42:01AM -0700, kfox1111 wrote:

I'll have those flow into -testing and -release and get them synced on
buildlogs.c.o

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-04-10 13:33] rhatdan commented on #2236
What OS Do you want to build this on.  I attempted to build a static version of Buildah on Fedora and first time I ran it, it crashed.

[2019-04-11 13:28] j-chao commented on #1767
Yes, I am still having this issue. @L30Bola can you please share how you linked it?

[2019-04-11 14:41] lsm5 commented on #2072
koji tags have been created for 1.14, I'll try and get the builds in soon. https://bugs.centos.org/view.php?id=15869#c34181

[2019-04-11 17:20] mrunalp opened #2248 "Support specifying custom cgroups for conmon"
Today, we nest conmon under the pod cgroup. However, some installations may not desire that and may want to put all the conmon processes under a different cgroup; for e.g. system.slice or some dedicated conmon.slice that isn't charged to the pod.

We can add a `conmon_cgroup` setting to support that. If it is set to `pod` or is empty, then we nest it under the pod, else we use the slice specified

[2019-04-11 17:30] mrunalp commented on #2248
@SleeptBrett fyi

[2019-04-11 17:31] mrunalp commented on #2248
@SleepyBrett fyi

[2019-04-11 21:48] L30Bola commented on #1767
To link the binary, use ```ln```:
[code]

The ```-s``` make the link, a symbolic link.
From the binary ```/usr/sbin/runc```
And create a link at ```/usr/bin/runc```

[2019-04-12 13:58] mfpierre commented on #2236
Ideally this static binary should be included in the assets of each releases as well

[2019-04-15 02:07] sboeuf opened #2255 "Allow RuntimeImpl implementations to be provided as external .so file"
In order to limit the amount of dependencies onto external repositories, we should be able to provide through `crio.conf` an implementation of a specific type of `RuntimeImpl` as a shared library (`.so` file).
A concrete example is the `runtime_vm.go` implementation, that could live inside https://github.com/kata-containers/runtime repository. A user that would like to use this implementation woul

[2019-04-15 02:15] sboeuf commented on #2255
/cc @mrunalp @egernst

[2019-04-15 02:22] haircommander commented on #2221
Closing via #2222 and #2232  :)

[2019-04-15 02:22] #2221 closed

[2019-04-15 05:00] mrunalp commented on #2255
:+1:

[2019-04-15 20:31] paulnivin commented on #2207
As long as https://github.com/kubernetes/kubernetes/pull/63194 is supported (added in 1.12), that's sufficient metadata for our current production use case need. We've yet to test this flow to make sure all the data is plumbed through correctly, but if so, we can close this ticket.

[2019-04-15 21:53] mrunalp commented on #2207
@paulnivin Have you seen https://github.com/cri-o/cri-o/pull/2233 ?

[2019-04-16 07:54] saschagrunert commented on #2236
I played around with static cri-o builds and setup a Nix package which produces a 50Mb binary.
https://gist.github.com/saschagrunert/d043c2c8615700b5dae64e967183cc58

Some characteristics:
- go version go1.12 linux/amd64
- binary:
[code]
- compiler warnings:
[code]

The binary works (did only some basic tests with `crictl`), whereas the following things are not done yet:
- lvm2 static build for li

[2019-04-16 13:08] giuseppe commented on #2236
OSTree is not needed for CRI-O, so one dependency less :-)

[2019-04-16 20:37] marquiz commented on #2213
Are you using the static cpumanager policy (`--cpu-manager-policy=static`) in Kubernetes? I don't think what you described would happen with the default `none` policy as cpusets are not used for per-workload cpu assignment.

I think this should be filed against kubernetes as it (kubelet) is responsible for selecting the cpuset assigned to each pod.

[2019-04-17 00:15] paulnivin commented on #2207
@mrunalp That's exactly what we need. FWIW, our instances on AWS are 25Gbps.

[2019-04-17 20:56] haircommander opened #2267 "Documentation issues"
This is a dumping ground for documentation related issues that need fixing up.

- [ ] Remove OSTree dependency
- [ ] Add more information about changing build flags

[2019-04-18 16:56] SleepyBrett opened #2271 "HPA does not work with metrics server on pods on nodes backed w/ crio."
Crosslinking this with the main kube repo, there is a similar crosslink in the metrics server repo. Hoping to get to the bottom of this. Because man, this is just not a great situation.

kubernetes/kubernetes#76715

Basically the metrics server does not report any cpu metrics for pods on crio nodes. Therefore the HPA can not act.

**Steps to reproduce the issue:**
1. Please see attached issue, i f

[2019-04-18 23:55] adk9 opened #2273 "Error restarting a stopped container"
**Description**

Not sure if this is a question for the upstream CRI api or cri-o, but I'll ask anyway.

I'm trying to restart a container by stopping it first and then starting it again. The CRI API spec isn't explicit about the desired behavior for a restart but I'd assume that this should work; otherwise `StartContainer` and `StopContainer` would be useless and `CreateContainer` and `RemoveCont

[2019-04-19 16:31] #1987 closed

[2019-04-21 09:51] saschagrunert commented on #2236
The linked PR should solve this issue. I think there are other requirements out there like building with/out different features. Feel free to drop your thoughts here or at the PR. :)

[2019-04-22 18:47] mrunalp commented on #2273
kubelet creates a new container if it needs to. It doesn't restart stopped containers. See attempt field in pod. If you are using CRI-O with k8s it should all work fine, crictl is really a low level debugging tool.

[2019-04-22 18:48] mrunalp commented on #2271
@haircommander is looking into this.

[2019-04-23 18:09] adk9 commented on #2273
@mrunalp Thanks for the clarification.

I am not using CRI-O with k8s; we're building a new orchestrator that uses CRI-O directly and I'm trying to understand the semantics of start/stop container in CRI.

Am I correct in understanding that it is not possible to start a "stopped" container and a new container has to be created every time I want to run the same container again?

[2019-04-25 07:24] #2229 closed

[2019-04-25 15:13] saschagrunert commented on #1922
What can we do about this? I mean we could update the user documentation, but I'm not sure if this helps anyone.

[2019-04-25 15:16] haircommander commented on #1922
@saschagrunert this seems to be more of a crictl problem: an unclear error message, right? Which would mean the only thing we can do here is document it better

[2019-04-25 15:21] haircommander commented on #2273
@adk9 yeah, CRI-O follows k8s precisely, so if kubelet doesn't need to start stopped containers, we don't permit it :)

[2019-04-25 15:24] saschagrunert commented on #1922
I think so too, but I guess we can close this here since the error message already has been improved https://github.com/kubernetes-sigs/cri-tools/pull/459 by @umohnani8.

[2019-04-25 15:28] haircommander commented on #1922
yeah, closing per above fix in cri-tools. reopen if you don't find this fix sufficient @alexvirtualbr :)

[2019-04-25 15:28] #1922 closed

[2019-04-25 19:32] relyt0925 opened #2291 "Support for podruntime-cgroup?"
Does cri-o support a dedicated cgroup with the systemd cgroup manager?

Kube has the following parameters
[code]

That the kubelet will then use to create dedicated cgroups for the runtime and the kubelet. It can then use these to expose metrics about the runtime and kubelet. Using crio + RHEL 7 it doesn't appear that this can be set and take affect

[code]

The kubelet cgroup settings are proper

[2019-04-25 20:17] mrunalp commented on #2291
This information isn't passed to cri-o over the CRI. However, it should be easy to setup CRI-O in whatever cgroup you want by changing the slice in the cri-o service file.

[2019-04-25 21:17] mike-nguyen commented on #1804
@squeed Sorry we swapped jira boards and the card got lost in the migration.  Let me know if you need anymore information.

[code]

These are the configs in `/etc/cni/net.d`:

100-crio-bridge.conf
[code]
200-loopback.conf
[code]
87-podman-bridge.conflist
[code]

[2019-04-26 04:27] #2236 closed

[2019-04-26 15:40] saschagrunert opened #2294 "RFC: Consider switching to CircleCI"
Hello folks,

I took my time to play around with CircleCI because I had a very good experience in the past with it, especially in comparison to travis.

For my experiment I ported the travis pipeline to CircleCI on my local fork. You can find a working example here: https://circleci.com/workflow-run/c9107abc-9666-4d50-86b0-7fddfd07a1d1

Some beneficial highlights:
- The pipeline runs in overall ~1

[2019-04-26 17:51] jfoy opened #2295 "cri-o.io does not resolve in DNS"
**Description**

cri-o.io does not resolve. Has the site been retired?

[code]

[2019-04-26 17:54] rhatdan commented on #2295
No it is transitioning to the CNCF, so I am not sure what is going on.

[2019-04-26 22:12] mrunalp commented on #2294
@saschagrunert Maybe we can add circle CI free account jobs and see how it goes in parallel with travis for a couple of weeks?

[2019-04-27 21:53] dankohn commented on #2295
We are working on it but have not yet been able to resolve.

[2019-04-29 01:29] mrunalp commented on #2295
It is fixed now.

[2019-04-29 01:29] #2295 closed

[2019-04-29 06:37] saschagrunert commented on #2294
Yes this sounds good, let's do that.

[2019-04-29 11:09] markusthoemmes commented on #2157
We're hitting this on CRI-O as well. Knative Serving resolves image references and transforms all non-sha256 image references into direct sha256 references. On images like [python](https://hub.docker.com/_/python), that breaks us.

[2019-04-29 20:49] #2294 closed

[2019-04-30 07:25] RohanKurane opened #2308 ""make" fails if go-md2man was not installed"
HI,

I am following the instructions at
https://github.com/cri-o/cri-o/blob/master/tutorials/setup.md

make fails with the error

[code]

I see there is an issue which was suppose to address this but I still hit the error.

go env
[code]

go version
```go version go1.11.1 linux/amd64```

Any idea what I can do ?

@jawnsy  - Hope you dont mind me tagging you since I saw you were involved in this is

[2019-04-30 07:31] saschagrunert commented on #2308
Hi @RohanKurane, thanks for reporting the issue. Unfortunately we require go 1.12 to build CRI-O. Your output states that, too, but we might update our documentation regarding that:
[code]

Actually retrieving go-md2man externally should not be needed because it is included within this repository.

[2019-04-30 07:32] RohanKurane commented on #2308
@saschagrunert

Thanks for the quick response.
I noticed that and updated to 1.12.

Here is my latest output now -

[code]

Then this is odd ?

[code]

[2019-04-30 07:40] RohanKurane commented on #2308
Here is my latest go env

[code]

[2019-04-30 07:40] saschagrunert commented on #2308
Your first output looks fine, is the exit code `0` there? It pre-builds `/home/ec2-user/cri-o/build/bin/go-md2man` which is then being used for documentation generation.

The `sudo make` *should* work too, but it looks like that your root user has no `go` binary in its `PATH` variable. You could work around that by directly specifying the full `GO` path via:

[code]

[2019-04-30 07:45] RohanKurane commented on #2308
Yea.

I basically did
```sudo make GO=/usr/local/go/bin/go```

and
```sudo make install GO=/usr/local/go/bin/go```

Both exited fine.

[2019-04-30 07:47] saschagrunert commented on #2308
Sounds good. You can try to add the `PATH` to your `/etc/sudoers` to fix it permanentely:
[code]

[2019-04-30 07:52] RohanKurane commented on #2308
Thanks @saschagrunert

Will do.

Side question -
This step
```Edit /etc/containers/registries.conf and verify that the registries option has valid values in it. For example:```

I do not have a ```/etc/containers``` directory

Is this expected ? Should I create and populate it as in the link ?

[2019-04-30 07:56] saschagrunert commented on #2308
Which distribution do you use? It might be possible that there is already a package out which creates these configuration files with strong defaults for you.

[2019-04-30 08:00] RohanKurane commented on #2308
[code]

[2019-04-30 08:29] saschagrunert commented on #2308
Alright, so if you have some repository enabled like fedora has then the package [`containers-common`](https://apps.fedoraproject.org/packages/containers-common) should include the needed configuration files.

[2019-04-30 08:41] RohanKurane commented on #2308
I do see this guy
[code]

[2019-04-30 08:46] saschagrunert commented on #2308
Then you have to add it manually, but this should be fine as well.

[2019-04-30 08:57] RohanKurane commented on #2308
Okay.

Since you've been so helpful :)
[code]

I do not have ```/usr/bin/runc```
I do however have ```/usr/bin/docker-runc```

Not sure if a symlink is needed.
[code]

[2019-04-30 08:59] RohanKurane commented on #2308
[code]

[2019-04-30 09:03] saschagrunert commented on #2308
I would like to recommend to install the latest release of runc either via go or [a package](https://apps.fedoraproject.org/packages/runc), since I'm not sure which further patches are included in docker-runc (I assume none). You also have the option to change the runc path in `/etc/crio/crio.conf`:

[code]

[2019-04-30 09:08] RohanKurane commented on #2308
I literally copied docker-runc to runc and now
[code]

[code]

Is this going to be a problem later down the road ?

[2019-04-30 09:13] saschagrunert commented on #2308
I'm not sure since I do not have deep insights into Amazon Linux. Some distributions could apply docker-related patches which differ from the official runc releases. Just to be sure everything works fine I would recommend to choose a maintained package.

[2019-04-30 09:14] saschagrunert commented on #2308
Feel free to close if you have no further questions. You may also want to join the [#crio channel on the kubernetes slack](https://kubernetes.slack.com/messages/CAZH62UR1/) for further ad-hoc support. :)

[2019-04-30 13:26] mfpierre commented on #2236
Thanks @saschagrunert will the next release includes the built binary in the artifacts ?

[2019-04-30 13:29] saschagrunert commented on #2236
Yes, we are currently working on having static builds for every commit as well.

[2019-04-30 18:08] RohanKurane commented on #2308
Thanks @saschagrunert

I will join the slack

[2019-04-30 18:12] #2308 closed

[2019-04-30 21:34] RohanKurane opened #2313 "crictl fails to create POD - FATA[0000] run pod sandbox failed"
Hi,
@haircommander

I am using ```crictl``` to run a pod (https://github.com/cri-o/cri-o/blob/master/tutorials/crictl.md)  but get the following failure -

[code]

[code]

The ```test/testdata/sandbox_config.json``` file is

[code]

@saschagrunert  - wasnt sure if should post this on slack so opening an issue here. If you think I should take this to slack, let me know.

Sounds like the port 50051

[2019-05-01 00:05] RohanKurane commented on #2313
Think I was able to figure this out. Will leave open till I can confirm
Hope that is okay @haircommander @saschagrunert

[2019-05-01 10:47] saschagrunert commented on #2313
Hey @RohanKurane :wave:, thanks for the issue report! Would you like to share your solution if the issue seems now solved for you?

[2019-05-01 18:31] SleepyBrett commented on #2271
Note. 1.14.1 seems fine now. I must have screwed up my initial test. Sorry!

[2019-05-01 19:34] rhatdan commented on #2271
Can we close this issue then?

[2019-05-01 20:56] RohanKurane commented on #2313
@saschagrunert  - for sure.
Doing some more testing and will post once I am sure its fixed.

[2019-05-02 13:17] rhatdan commented on #2036
@umohnani8 Any movement on this?

[2019-05-02 13:32] umohnani8 commented on #2036
@rhatdan nope, will start looking into it

[2019-05-02 15:11] marshallford opened #2321 "Conmon fails to build from source when using musl libc"
**Description**

Conmon fails to build from source when using musl libc.

**Note:** A PR for this issue is on its way, this is issue is mainly for tracking/documentation purposes.

**Steps to reproduce the issue:**
1. Clone project into `$GOPATH/src/github.com/cri-o/cri-o`
2. `mkdir bin && make bin/conmon`

**Describe the results you received:**

[code]

**Describe the results you expected:**

Con

[2019-05-02 16:45] sdeoras opened #2324 "gvisor flag -systemd-cgroup not defined error"
**Description**

Briefly describe the problem you are having in a few paragraphs.
I am trying to run `gvisor` sandbox via `cri-o` v1.13 and running into following error:
[code]
I made a comment [here](https://github.com/google/gvisor/issues/193) as well related to this issue, however, posting it here as well since I am not sure if this is due to crio config setup error on my part.

I have confirme

[2019-05-02 17:44] mrunalp commented on #2324
Can you change cgroup_manager to "cgroupfs" in crio.conf and try?

[2019-05-02 18:01] sdeoras commented on #2324
@mrunalp: I tried changing `cgroup_manager` to `cgroupfs`, but that threw this familiar error when scheduling a pod:
[code]

[2019-05-02 21:37] #2321 closed

[2019-05-02 21:48] mrunalp commented on #2324
Thanks!

[2019-05-02 21:48] #2324 closed

[2019-05-02 22:03] marshallford opened #2327 "ctr_logging: warning: passing argument 1 of 'sd_journal_sendv' from incompatible pointer type"
**Description**

Warning when building from source using musl libc.

**Steps to reproduce the issue:**
1. Clone project into `$GOPATH/src/github.com/cri-o/cri-o`
2. `mkdir bin && make bin/conmon`

**Describe the results you received:**

[code]

**Describe the results you expected:**

No warning? It is just a warning so I'm not really sure what to expect. I am not a C developer.

**Additional infor

[2019-05-02 22:21] mrunalp commented on #2327
@haircommander ptal

[2019-05-03 21:52] RohanKurane opened #2331 "crictl pull image fails with "denied: requested access to the resource is denied" from docker.io registry"
Hi,

I am attempting to pull an nginx image from the docker.io registry using crictl

[code]

The same works with ```quay.io```

The ```/etc/containers/registries.conf``` looks like
[code]

[2019-05-03 22:01] mrunalp commented on #2331
@RohanKurane Can you try docker.io/library/nginx instead?

[2019-05-04 00:41] RohanKurane commented on #2331
Thanks @mrunalp

[2019-05-04 00:41] #2331 closed

[2019-05-04 02:27] RohanKurane opened #2332 "crictl unable to search for images in AWS ECR registry"
Hi,

I have an image pushed to the AWS ECR registry at
[code]

I added this to the ```/etc/containers/registries.conf``` file but ```crictl``` failed to find it.

Any ideas how I can add that path to the search registries list ?

Thanks

@mrunalp  any suggestions ?

[2019-05-06 15:32] SleepyBrett commented on #2271
Yes I believe so. There are some picks into kube-1.13 to fix it there.

[2019-05-06 22:45] RohanKurane opened #2336 "How does crictl know which cluster/worker node to run on ?"
This is more of a question and not an issue -
I tried researching but did not find the answer I was looking for.
Lets suppose I have a K8 cluster with a single worker node with CRI-O.

I have a host outside of the cluster with CRI-O and crictl installed as well. now when I run any commands from it to create a POD and Container on the cluster/worker node using crictl, how does crictl know which clu

[2019-05-07 01:08] RohanKurane opened #2337 "kubectl does not seem to use CRI-O as the runtime engine"
Hi,

First I want to apologize for asking too many questions. I am very new to CRI-O (a week into learning and using).

Setup -
I have a K8s cluster with a single worker node running RHEL on AWS EKS.
I installed CRI-O on the worker node.
Using ```crictl``` from the worker node directly, I could see the PODs and containers use the CRI-O runtime engine.

I now have another AWS EC2 instance (not a pa

[2019-05-07 12:41] #2327 closed

[2019-05-07 20:31] cliffburdick commented on #2213
Hi @marquiz, sorry for the delay. It is set to none in kubelet, and someone in the cri-o slack channel suggested opening an issue here since they believe it was cri-o controlling that.

[2019-05-07 23:18] #2336 closed

[2019-05-07 23:18] RohanKurane commented on #2337
Got it to work. Closing

[2019-05-07 23:18] #2337 closed

[2019-05-07 23:19] RohanKurane commented on #2332
Not needed. Closing

[2019-05-07 23:19] #2332 closed

[2019-05-08 08:52] saschagrunert commented on #2337
There is absolutely no need to apologize for asking questions. :hugs:

Would you like to share the solution with us here? Other users could come over the same issue and would be thankful if you share the resolution here.

[2019-05-08 15:03] #2218 closed

[2019-05-09 03:35] #2313 closed

[2019-05-09 06:00] RohanKurane commented on #2337
@saschagrunert
Here is a good link to follow to use CRI-O instead of Docker runtime engine
https://medium.com/errnothxbye/centos-7-with-cri-o-on-eks-ae9684aff764

I will be glad to answer any questions.

[2019-05-09 06:47] RohanKurane opened #2342 "hostport not freed after delete of pod"
Hey @saschagrunert @mrunalp

I am facing a strange error.

I deploy a pod with ```hostport``` and created using ```type:portmap```.

Then when I try to ```kubectl delete``` the pod, and re-deploy the same pod with same name, I get the following error -

[code]

I do not believe I saw this error when I used docker.  Any idea what is going on ?

Thanks
Rohan

[2019-05-10 08:23] sfxworks opened #2351 "Support pulling an image specified by both tag and digest"
**Description**

Hi all! Currently trying to get skaffold to work. Skaffold works by pulling an image specified by both tag and digest. I wanted to know if you could support this in crio?

https://github.com/GoogleContainerTools/skaffold/issues/2089#issuecomment-491000366
**Additional information you deem important (e.g. issue happens only occasionally):**

Example:
[code]

**Output of `crio --ver

[2019-05-10 11:08] saschagrunert commented on #2342
Hey @RohanKurane, can you provide us the pod configuration you applied so that we can reproduce the issue?

[2019-05-10 11:28] saschagrunert commented on #2351
Hey @sfxworks :wave:, thanks for reporting the issue!

What would be the expected behavior when pulling via tag and digest? Should the tag be used to lookup the image whereas the overall pull fails if the remote manifests digest does not match the provided one? Or should the tag or digest simply be stripped from the pull?

For me this seems not clear and I would prefer in pulling either by tag or

[2019-05-10 21:59] Prodian0013 commented on #2072
When will there be an official cri-o rpm in epel or centos repos?

[2019-05-11 00:36] RohanKurane commented on #2342
@saschagrunert

Here is the YAML file I try -

[code]

In ```/var/log/messages``` I see the error in my first comment here.

Thanks for your help

[2019-05-11 01:04] RohanKurane commented on #2342
If I change containerport to anything else (a port on which my application should listen on) it still gets the same error for hostport 50051 (gRPC port)

[2019-05-11 10:15] rhatdan commented on #2337
@saschagrunert We should add this link to tuturial.md or add another page describing use cases.

[2019-05-11 22:29] sfxworks commented on #2351
I always thought the digest was there to verify the image like an extra step in security, and the tag to select the image desired from the repo. I may be wrong though.

[2019-05-12 03:05] sdeoras opened #2357 "kubeadm init fails with "node not found" error in kubelet logs"
**Description**
I am trying to test cri-o v1.14.0 with k8s 1.14.1 on ubuntu 18.04 and having issues with kubelet not coming up after migrating my single node cluster from docker version 18.09.6 to cri-o v1.14.0.

In particular, I see following errors in the kubelet logs
[code]
I do have `calico` networking config in `/etc/cni/net.d` and the associated binary with calico working with docker.

I fol

[2019-05-12 10:14] rhatdan commented on #2351
@mtrmac PTAL

[2019-05-12 18:45] sdeoras commented on #2357
The issue seems to be related to `runc` version bundled with `cri-o` v1.14.0. I manually updated `runc` to [1.0-rc6](https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc6) and things worked:

[code]

and no docker!
[code]

[2019-05-13 11:41] mfpierre commented on #2236
👋 A few releases happened after this merge but there's still no binary added in the artifacts (only source code), any progess on having them available?

[2019-05-13 11:51] saschagrunert commented on #2236
We have the change currently only available on the master branch, so v1.15.0 would be the first version which supports static builds. Is this fulfilling your needs?

[2019-05-13 18:27] mrunalp commented on #2357
@sdeoras Happy to hear that it worked for you :) Can we close the issue?

[2019-05-13 18:28] mrunalp commented on #2351
IIRC, in this case, the tag is ignored. I would let @mtrmac or @vrothberg comment on supporting it in containers/image.

[2019-05-13 18:37] sdeoras commented on #2357
@mrunalp yes, we can close this issue. thanks.

[2019-05-13 18:38] RohanKurane commented on #2342
Any luck @saschagrunert ?
Not sure why it complains about port 50051. This does not seem to be an issue with docker runtime. Just crio.

[2019-05-13 18:47] #2357 closed

[2019-05-13 18:48] RohanKurane commented on #2342
I added ```hostNetwork: true``` to my pod definition and it works. But is that a good solution ?

[2019-05-13 18:58] mtrmac commented on #2351
Sure, that can work, but it’s also a bit incoherent. If you, somehow, determine the expected digest value for the tag = for the image, and the image exists on the registry, does it _really_ matter that the tag differs? At least in the case of known-movable tags like `:latest` or `:`_majorVersion_, once something authoritative looks up the expected digest for _foo_`:latest`, why shouldn’t the clust

[2019-05-13 19:00] mtrmac commented on #2351
As far as implementation goes, right now c/image/docker explicitly rejects such input. It would be fairly easy to allow it (using one of the two semantics above); I’m more worried about all the higher-layer code (buildah/podman/CRI-O) that may be manually parsing the strings not being ready to handle such input.

[2019-05-13 19:25] mtrmac commented on #2351
https://github.com/containers/buildah/issues/1407

[2019-05-14 02:47] RohanKurane opened #2363 "How to run a CRI-O container in priviliged mode ?"
Hi,

My yaml deployment looks as follows -
[code]

However I do not believe the container is running in privileged mode since I get errors such as "Operation not permitted" when I run certain operations in my application running on the container.
Is there anything that overrides the above yaml setting perhaps in ```crio.conf``` ? or something I am missing ?

@saschagrunert

[2019-05-14 02:58] RohanKurane commented on #2363
Here is from ```crio.conf```
[code]

Is there anything that says allow everything ? The particular function i fail on is a pthread function to do a setschedparam

[2019-05-14 03:11] RohanKurane commented on #2363
Looking in
```https://github.com/kubernetes-sigs/cri-tools/blob/99551e7e015d48612ea19b630a2cc86ec159fbe3/pkg/validate/security_context_linux.go```
There is code that determines if a container should run privileged or not.

Any idea what I need to set and where for it to run privileged ?

[2019-05-14 04:47] RohanKurane commented on #2363
how about adding ```SYS_NICE``` to the default capabiilties section in crio.conf for set_schedparam ?

[2019-05-14 04:49] RohanKurane commented on #2363
The above did not seem to help. Unless I was suppose to stop and start the kubelet service across the change.

[2019-05-14 05:37] sfxworks commented on #2351
What argument would you give for scenarios where you are dealing with images containing variants of itself, like `ceph/daemon` and want to specifically verify and remember what image you're getting, like
 `latest-nautilus`? So you would get the latest at the time, append the digest so it becomes `ceph/daemon:latest-nautilus@sha256XXXXXX`.  Coming back to a k8s manifest looking at the image tags, I

[2019-05-14 07:21] saschagrunert commented on #2342
Hey @RohanKurane, sorry for the late reply :pray:. I played around with some local setup but currently cannot imagine what the issue is, because there could be multiple sources of failure here. Can you provide me an example where I can reproduce the issue here? Maybe on minikube or something similar reproducible?

[2019-05-14 08:44] joost14 opened #2368 "Joining worker node not starting flannel or kube-proxy / CRI-O error "open /dev/stderr: no such device or address""
**Description**
I have got a working master node and worker node and wanting to join a second worker node to my cluster. Both master and worker have been configured with CRI-O 1.13.1-dev.  But after joining the worker node to the cluster it does not start the networking pods and the service status gave some errors after joining.
I followed the kubeadm guide:
https://github.com/cri-o/cri-o/blob/mas

[2019-05-14 09:28] giuseppe commented on #2368
looks like the issue is already tracked here: https://github.com/kubernetes/kubernetes/issues/77615

[2019-05-14 12:41] haircommander commented on #2363
Did you allow privileged in the pod yaml? also, how did you start k8s?

[2019-05-14 13:02] saschagrunert commented on #2363
I guess the kubelet option is `--allow-privileged=true` to generally allow it. Then a pod containing:

[code]

should have all permissions.

[2019-05-14 13:38] joost14 commented on #2368
Hi @giuseppe

Thx for the reply I'll have a look at it.

[2019-05-14 16:16] sfxworks commented on #2368
Also getting this! Glad I found this.

[2019-05-14 17:58] RohanKurane commented on #2363
@haircommander @saschagrunert
This is a part of my pod yaml -
[code]

So as you see, I do have ```privileged: true```

The commands I am executing are specific to my application (server5) that is running in the container. Specifically it fails on a system call for ``pthread_setschedparam()``` with "Operation Not Permitted". That made me feel the container is not running privileged.

[2019-05-14 18:03] RohanKurane commented on #2363
And here is from ```/etc/systemd/system/kubelet.service```

[code]

[2019-05-14 18:09] RohanKurane commented on #2363
@haircommander
To answer your question about how I start k8s - This is an EKS k8s cluster running on AWS with CRI-O installed on the worker node. I then do the above pod deployment and the pod/container are created. However the application that needs to run on the container does a few calls to ```pthread_setschedparam``` which fail with "Operation not permitted" so my application never starts on t

[2019-05-14 19:57] giuseppe commented on #2368
PR here: https://github.com/opencontainers/runc/pull/2057

[2019-05-14 20:20] nalind commented on #2036
moby creates an intermediate layer sandwiched between the image's layer and the container's read-write layer, and places the container's `/etc/resolv.conf`, `/etc/hosts`, `/etc/hostname`, `/etc/mtab`, `/dev/console`, `/dev/pts`, `/dev/shm`, `/proc`, `/sys`, and a `/.dockerenv` in that, if need be.

[2019-05-14 23:16] #2248 closed

[2019-05-15 00:39] #2368 closed

[2019-05-15 00:39] mrunalp commented on #2368
The upstream PR has been merged!

[2019-05-15 16:28] mtrmac commented on #2351
Basically, my intuition is to punt on solving this inside the reference[1], and let whatever system has determined/remembered the digest value to record the original tag and intent.  E.g. an annotation on a pod object is no worse than a tag inside the pull spec, and the software that resolves the tag into a digest reference can plausibly set either similarly easily. I do agree that this is, also,

[2019-05-15 17:32] mrunalp commented on #2363
@RohanKurane Can you try adding `AllowPrivilegeEscalation`? Also, what distro are you running on? Is SELinux enabled?

[2019-05-15 19:31] rhatdan commented on #2368
@lsm5 @jnovy Can we get new builds of runc prepared for RHEL7 and RHEL8

[2019-05-15 22:23] RohanKurane commented on #2363
@mrunalp
```AllowPrivilegeEscalation``` is set to true in the yaml deployment
[code]

I am using Ubuntu as my container base image.

```selinux = true``` in ```/etc/crio/crio.conf``` on the worker node where the container should be running.

Is that right ?

[2019-05-15 22:38] mrunalp commented on #2363
@RohanKurane Set selinux = false for ubuntu.

[2019-05-15 22:41] RohanKurane commented on #2363
@mrunalp
Will do.

Just so I am clear-
The container base OS is running Ubuntu
The worker node is running Amazon Linux

I will set selinux = false in the crio.conf file.

[2019-05-15 22:54] RohanKurane commented on #2363
sweet. That worked!
Thanks @mrunalp @saschagrunert @haircommander

Closing issue

[2019-05-15 23:05] #2363 closed

[2019-05-15 23:26] RohanKurane commented on #2342
@saschagrunert
I am thinking of how I can do that. I do have it working with hostNetwork: true but not sure if thats the right way.

[2019-05-16 14:07] rhatdan commented on #2363
@mrunalp That flag should be ignored on an SELinux disabled machine?

[2019-05-19 11:11] estesp opened #2383 "How to drive cri-o via CRI without Kubernetes: systemd cgroup error?"
Sorry for the generic issue, but I can't seem to find the right solution after reading through various issues and PRs that are related, but not exactly my issue.

Background: have received recent issues in [`bucketbench`](https://github.com/estesp/bucketbench) re: cri-o support not working. The CRI driver for bucketbench was contributed quite awhile ago and several k8s imports were stale, which I'

[2019-05-20 01:38] RohanKurane opened #2385 "Container hostname is weird to begin with"
@saschagrunert @mrunalp

This is by no means a CRI-O related question but I wanted to see if you guys have run into this and have any opinions.

When I launch a CRI-O container and go into it and do a export of the env variables, the hostname is not what returned by the `hostname` command. Why is this ? And how can I fix it to be what is in `/etc/hostname` when I first ssh into the container ?

[2019-05-20 08:44] saschagrunert commented on #2385
Hey @RohanKurane, the hostname is usually set by the sandbox configuration, like here:
https://github.com/cri-o/cri-o/blob/2de918dae6548b743a5bc8f7ea5a47e67af281b0/test/testdata/sandbox_config.json#L8

Every container within this sandbox should get that hostname. If that is not the case, then this could be issued by the container image which could do something unexpected during startup.

Is the is

[2019-05-20 18:30] cgwalters opened #2391 "`reload` just kills crio"
https://github.com/openshift/installer/pull/1761#discussion_r285712841

As far as I can tell, no commit to crio has ever done anything with `SIGHUP`, so I suspect the `ExecReload=/bin/kill -s HUP $MAINPID` was cargo culted from some other unit.

[2019-05-20 18:37] cgwalters commented on #2391
PR at https://github.com/cri-o/cri-o/pull/2349

[2019-05-20 18:42] mrunalp commented on #2383
You can configure crio to use the cgroupfs cgroup_manager in crio.conf or set cgroup_parent to be a slice in you sandbox config json.

[2019-05-21 03:44] RohanKurane commented on #2385
@saschagrunert I was able to get around the issue temporarily by reading the contents of `/etc/hostname`.
Let me check what you pointed out and get back to you.

In the meantime for an unrelated issue -
What is the command to deploy a yaml deployment from a running CRI-O container ?
something like what kubectl does : `kubectl create -f xxx`. If I want to do something from a CRI-O container, is tha

[2019-05-21 05:30] RohanKurane commented on #2385
never mind above question. Going to close this issue out for now. I installed kubectl as part of the container image and going to try to use it to do deployments from a running CRI-O container

[2019-05-21 05:30] #2385 closed

[2019-05-21 07:15] saschagrunert commented on #2391
Hey @cgwalters, do we still need this issue here? On the master branch the signal handler exist now as already mentioned by @mrunalp. Do you need a specific set of options which should support the update feature during reload? This would be a great input for further developments. :)

[2019-05-21 10:59] RohanKurane opened #2394 "Forbidden Error during a yaml deployment from a CRI-O container"
Hey - @saschagrunert @mrunalp  - Sorry to tag you both

I am trying to deploy a pod yaml from inside a running CRI-O container and get the below error.
What am I missing ?

[code]

Do I need to set some persmissions on the CRI-O container before ?
I do a `kubectl create -f cms.yaml` from the CRI-O container.

Any help is appreciated. Let me know if you need any more information.

[2019-05-21 12:45] cgwalters commented on #2391
Nah, we need to refactor the code to configure crio before starting it.

But FWIW what we were (re)configuring is the `pause_image`.

[2019-05-21 12:46] #2391 closed

[2019-05-21 14:11] saschagrunert commented on #2391
Alright, I guess I will follow up on this.

[2019-05-21 14:32] cgwalters commented on #2391
https://github.com/openshift/installer/pull/1768 changes OpenShift so we don't need this anymore right now FWIW.  So I wouldn't worry about it too much, but it's up to you!

[2019-05-22 03:24] jpeach commented on #2229
This isn't fixed. With 485aed3ee584d3cf1852ead713cbda9b493ee345, I still get it:

[code]

[2019-05-22 09:11] Atoms opened #2401 "Sign Centos7 packages"
Centos7 packages are not being signed, therefore issues arise when we want to enforce gpg checks.
We at kubespray do not want to disable gpg checks to install package, this can lead to some security issues

https://github.com/kubernetes-sigs/kubespray/pull/4781

[2019-05-22 09:35] harche opened #2402 "Add support for passing sandbox annotations to runtime"
Recently I added a feature in `containerd` that enabled setting up a filter in `CRI/Containerd` to pass specific kubernetes pod/deployment annotations to OCI runtime annotations.

OCI annotations can be used to set the sandbox related parameters. In the case of VM based runtimes, such as kata, this can be used to dynamically select the `vmdisk` or `initrd` that can be custom built for that contain

[2019-05-22 10:25] harche commented on #2402
@rhatdan ping.

[2019-05-22 12:00] rhatdan commented on #2402
SGTM, could you open a PR to add this to CRI-O?

[2019-05-22 13:00] harche commented on #2402
@rhatdan sure

[2019-05-22 22:22] mrunalp commented on #2401
@lsm5 ptal.

[2019-05-23 15:51] #2271 closed

[2019-05-24 13:27] vrothberg commented on #1879
Nothing has changed with the new `k8s.io/klog` package as it's `flag` based and cannot really be controlled via an API. That's pretty ugly since we had to screw with cri-o's CLI to prevent klog from creating those files.

[2019-05-26 14:05] alexander255 commented on #1760
Sorry, for being a bother on this. But can with have a 1.14.* release of this on the PPA? (Works fine on Debian 10, btw!)

[2019-05-27 07:21] saschagrunert commented on #1971
The overall test implementation is done and closed with #2407 for now. A higher coverage can be achieved with the mentioned refactoring of the huge functions in `server/sandbox_run_linux.go` and `server/container_create_linux.go`. I will follow up on this without any particular issue.

[2019-05-27 07:21] #1971 closed

[2019-05-27 09:57] Bruceforce opened #2410 "cri-o doesn't clean up ip addresses"
**Description**
cri-o doesn't clean up ip addresses after namespace deletion. If I run the steps provided in
https://github.com/kubernetes/kubernetes/issues/57280#issuecomment-356431256 the problem is resolved. But I think the addresses should be cleaned up automatically.

**Steps to reproduce the issue:**
1. run `while true; do ls -la /var/lib/cni/networks/cbr0/ | wc -l; sleep 10; done;` on the n

[2019-05-27 10:57] saschagrunert commented on #2410
Hey @Bruceforce, thanks for reporting the issue. May I ask you how the CNI configuration looks like and which version of CNI plugins you are using? Beside this, do you see error or warning messages within the CRI-O log? Thanks in advance! :pray:

[2019-05-27 11:43] Bruceforce commented on #2410
Hi @saschagrunert, thanks for the fast response.

[code]

Somehow there isn't a `cniVersion` variable inside this file. Is this sufficient?

[code]

With `log_level = "error"` `systemctl -xeu crio` is empty.

[2019-05-27 15:21] saschagrunert commented on #2410
Today I took my time to try a reproduction of the issue with `k8s/kubernetes/hack/local-up-cluster.sh` and a bridged interface (v0.7.0 of CNI plugins). From my side every IP got cleaned up when running the same workloads and watching the interfaces like in the example.

I guess we have to dig deeper and test it again with flannel.

[2019-05-27 16:24] Bruceforce commented on #2410
Too bad. I'm having this issue inside a local testing environment using vagrant and inside another environment of proxmox VMs.

I just tested again in a clean environment with weavenet as CNI and I see the following files in `ls -la /var/lib/cni/results/`
[code]

The cni-loopback files seems to stay there when the deployment is deleted but the weave files are cleaned up after a little while.

Unfo

[2019-05-27 16:38] saschagrunert commented on #2410
Do you think you can provide me the vagrant file that I can reproduce the issue? 😇

[2019-05-27 17:15] Bruceforce commented on #2410
Here you go. The whole environment I use is a bit more complex (since it supports multiple CNIs, CRIs and is bootstrapped with kubeadm and ansible). So I removed the Vagrant shell provisioners in the zip.

I use the following commands within ansible to bootstrap the cluster:

[code]

Since we run Vagrant with vbox there is this issue with the NAT adapter always being the first interface. So we nee

[2019-05-28 12:40] ghglza opened #2411 "cri-o w/ Kubernetes v1.14 connects pods to wrong subnets when using Weave or kube-router or Flannel CNI plugin"
**Description**
with k8s v1.13 and v1.14, after k8s installation pods are reproduceably connected to wrong subnets:

**Steps to reproduce the issue:**
*** provision Kubernetes via kubeadm
*** use cri-o as runtime together with the Weave or kube-router CNI plugin.

**Describe the results you received:**
*** on VirtualBox based VMs, according to "kubectl get po -w" static pods are connected to the N

[2019-05-28 12:45] saschagrunert commented on #2410
I was able to reproduce the issue with the flannel config you provided me. Can you please try to change it to:

[code]

[2019-05-28 12:49] saschagrunert commented on #2410
For everyone who want to try out the phenomena in a test environment:

Start CRI-O:
[code]
Then start k8s:
[code]

Apply flannel:
[code]

[2019-05-28 12:52] saschagrunert commented on #2410
Related upstream PR: https://github.com/coreos/flannel/pull/1135

[2019-05-28 14:53] Bruceforce commented on #2410
@saschagrunert That was fast and it seems to be working. Thank you very much 👍

[2019-05-28 14:55] saschagrunert commented on #2410
Awesome, feel free to close if this issue is not relevant any more. :innocent:

[2019-05-28 15:05] Bruceforce commented on #2410
Since this should be fixed by the aforementioned PR in upstream I think it's okay to close here.

[2019-05-28 15:05] #2410 closed

[2019-05-28 23:47] chenzhiwei opened #2414 "is there a way to detect cgroup driver for crio"
**Description**

For Docker, the `docker info` command can output the cgroup driver.

Is there a command can get the cgroup info from crio?

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio --version`:**

[code]

**Addit

[2019-05-29 03:57] mrguitar opened #2415 "Update Unit File Description"
**Description**

<minor nit pick>
The description in the unit file should be updated to reflect the current project name.

I never noticed this until I had to troubleshoot a system where the daemon failed to start:
[FAILED] Failed to start Open Container Initiative Daemon.
See 'systemctl status crio.service' for details.

"Open Container initiative Daemon", or OCID, was the original name for this

[2019-05-29 06:45] vrothberg commented on #2414
You can inspect the configuration crio has been started with and look for the `cgroup_manager` option. The default path is `/etc/crio/crio.conf`. The default cgroup manager is cgroupfs. But there is no docker-info like command.

[2019-05-29 07:06] chenzhiwei commented on #2414
I know this method, but it is not a perfect method.

it is a static detect method, it is not runtime detection.

think about this case, users modified this file, but did not restart crio,
so the detection will not accurate.

On Wed, May 29, 2019, 14:45 Valentin Rothberg <notifications@github.com>
wrote:

[2019-05-29 08:00] vrothberg commented on #2414
That's a good point. CRI-O does not support inspecting that yet, but I have an idea using `crictl info` and adding some optional information to what CRI-O returns. I'll spin up a PR in a bit.

[2019-05-29 08:15] vrothberg commented on #2414
Feel free to try out https://github.com/cri-o/cri-o/pull/2416. This is not at all carved into stone and I expect the PR to turn into something more generic to return other potentially useful configuration values as well. But it'll do the trick for your use case:
[code]

[2019-05-29 08:40] vrothberg commented on #2414
Actually, there's a much simpler solution pointed out by @saschagrunert: https://github.com/cri-o/cri-o/pull/2416#issuecomment-496841562

[2019-05-29 08:46] saschagrunert commented on #2394
Hey :wave: @RohanKurane, sorry for the late reply. I guess there are multiple ways to connect to the Kubernetes API server within a running Kubernetes Pod. Did you add the correct service account to the pod which is running the deployment command? The error you mentioned looks like a regular RBAC issue to me.

[2019-05-29 08:53] saschagrunert commented on #2415
Thanks for the report, a fix is incoming.

[2019-05-29 09:15] saschagrunert commented on #2411
Hey @ghglza :wave:, thanks for the detailed bug report and all these information.

I had similar problems in the past, can you try to swap the adapters that the host-only is the first one?

I'm not familiar with Weave, but how do you provision the CNI configuration of it? I would expect that after the deployment of Weave the folder `/etc/cni/net.d/` contains a higher priority interface (than the d

[2019-05-29 10:58] ghglza commented on #2411
Hi @saschagrunert ,
have tried to set up the VirtualBox VMs with host-only as 1st adapter in the past, but gave up due to  problems with the CentOS installer... is cri-o limited to setups with only one NIC?
I was under the impression that having k8s network traffic on a dedicated NIC is a common usage CNI usage pattern.

Ref. the Weave CNI configuration, this is done by the weave shell script in t

[2019-05-29 12:17] saschagrunert commented on #2411
No, that is a think related to the configuration of Kubernetes and the CNI plugin.

Yes it is, but it may cause problems with auto-discovery of CIDRs. But I saw that you hard-code the podCIDR in the kubeadm configuration yaml, and if that one is correct the Kubernetes configuration should be correct too.

This looks good to me. I think I have to see If I can reproduce a similar setup somehow to ac

[2019-05-29 20:07] mrunalp commented on #2414
See #2403 We are adding /config endpoint that will return the settings.

[2019-05-29 23:13] chenzhiwei commented on #2414
Thank you guys, the method mentioned here looks good to me: https://github.com/cri-o/cri-o/pull/2416#issuecomment-496841562

[code]

[2019-05-29 23:13] #2414 closed

[2019-05-30 07:40] DanyC97 commented on #2401
@lsm5 fyi in case you see come across this notification before, i've also sent an email on centos-devel mailer (you can reach me on irc or mailer -whatever works for you). thx

[2019-05-30 13:28] lsm5 commented on #2401
@DanyC97 i'll check with centos infra on syncing to mirror.c.o. I really wish they had setup centpkg and dist-git or something to take care of this than filing bugs everytime.

[2019-05-31 00:57] #2214 closed

[2019-05-31 03:09] jpeach commented on #1726
Looks like trust support was removed in #2139

[2019-05-31 13:02] #2415 closed

[2019-06-01 00:39] ghglza commented on #2411
Updating cri-o to v1.14.2 doesn't have any effects on the problems described above.

[2019-06-01 17:22] ptone commented on #2357
@sdeoras can you share what you mean by "manually updated runc"?

I have `cri-o-runc is already the newest version (1.0.0-rc6-1~dev~ubuntu18.04~ppa44).`

crio from source build:
[code]
kubeadm

[code]

I get looping in the kubelet logs of:

[code]

I saw you referenced this as an 18.04 GCP VM - which is also where I am trying this.

Docker on this set up runs fine.

[2019-06-01 17:50] ptone commented on #2357
If I update go.mod to downgrade runc from rc8 to rc6 I get build errors of:

"panic: proto: duplicate enum registered: CriuCgMode"

I also tried replacing the packaged system runc with one from source so I have:

[code]

But none of this is addressing the node not found issue

[2019-06-01 18:26] ptone commented on #2357
possibly related: https://github.com/kubernetes/kubernetes/issues/77801

[2019-06-02 03:37] #1726 closed

[2019-06-02 13:33] sdeoras commented on #2357
@ptone: i am simply overwriting runc with an [older version](https://github.com/opencontainers/runc/releases/download/v1.0.0-rc6/runc.amd64) of it.

[2019-06-03 10:02] DanyC97 commented on #2401
that is double @lsm5 , reach out to me on centos-devel irc and happy to help out

[2019-06-03 15:34] ghglza commented on #2411
We have set up the VirtualBox based cluster with Flannel v0.11.0-amd64, and the following results:

* the problem with the static pods shown with the wrong eth0-based IPs remains (but also w/o observable ill effects up to now)
* but the problem with the pods on the k8s subnet is gone, i.e. the CoreDNS pods are connected to the correct Flannel subnet 10.244.0.0

So could it be that cri-o has might

[2019-06-04 09:14] saschagrunert opened #2444 "Internal pause implementation"
I'm wondering if we still need the internal `bin/pause` target for any compatibility purposes? If not, I would like to go for a removal.

[2019-06-04 11:10] saschagrunert commented on #2411
I'm not sure if this answers your question, but generally it behaves like this:

- CRI-O looks in `/etc/cni/net.d` for possible network configuration and pick the first one (by filename) on startup. Changing the file order during CRI-O runtime does currently not affect the currently selected network configuration (this might be an issue).

This means we first have to ensure that (in your case) `10

[2019-06-04 13:18] ghglza commented on #2411
Thanks!
But no, sorry -- we already had set IPALLOC_RANGE in the Weave k8s deployment YAML set to the pod CIDR as specified to kubeadm (please see sect. "Additional environment details" in the problem description above).

Ref. the other parameters in the command line you use, the k8s deployment starts the Weave containers w/

[code]
so privilege elevation seems to be covered.

And I guess if we ha

[2019-06-04 13:35] ghglza commented on #2411
Ref. other possible configuration parameters for the Weave plugin, we experimented with setting KUBE_PEERS to the list of cluster node IPs on the VirtualBox host-only network -- but this only resulted in the Weave containers going into a crash loop.

Do you think setting WEAVE_EXPOSE_IP (resp. to which value -- the crio bridge subnet?) would fix the problem?

We gave up playing with Weave configur

[2019-06-04 14:06] SleepyBrett opened #2445 "[1.14.x .. and previous] Kubelet runaway memory/goroutines"
**Description**

We run a mixed cluster of CRI-O and Docker nodes for testing and we've been seeing Kubelets go into runaway memory and goroutine usage on crio nodes only.

![image](https://user-images.githubusercontent.com/279521/58884238-d9de0a00-8694-11e9-9748-69a3019b5f33.png)
![image](https://user-images.githubusercontent.com/279521/58884386-288ba400-8695-11e9-8d86-68b2dcaa0624.png)

The incr

[2019-06-04 14:18] SleepyBrett commented on #2445
Crossposted to kubernetes/kubernetes:
https://github.com/kubernetes/kubernetes/issues/78694

[2019-06-05 11:03] saschagrunert commented on #2411
I think the issue might me more related to the combination of the interfaces in the VirtualBox environment and weave net. Are you able to share the VMs here? I might have a look into the adapter configuration as well if you want.

[2019-06-05 12:10] ghglza commented on #2411
The VirtualBox VMs are generated with Packer, here the builder JSON

[code]

Please consider that the worse part of the problem (i.e. CoreDNS pods connected to the cri-o bridge NIC instead to the k8s pod subnet) also occurs on VMWare VMs with only 1 host NIC eth0.
And that both problems are also present when using kube-router as CNI plugin, and gone with Flannel.

[2019-06-06 03:00] hmtai opened #2450 "Build cri-o failed because of golang version is not match"
**Description**

**Steps to reproduce the issue:**
1.Install golang 1.10.2 on  amd64 ubuntu 16.04
2.`go get -u github.com/cri-o/cri-o`
3.`cd ~/goPath/src/github.com/cri-o/cri-o/ `
4.`make`

**Describe the results you received:**
[code]

**Describe the results you expected:**
can build cri-o successfully
**Additional information you deem important (e.g. issue happens only occasionally):**
 I follow

[2019-06-06 03:03] hmtai commented on #2450
I can build the 1.14 version successfully with golang 1.10.2
[code]
[code]

[2019-06-06 03:17] hmtai commented on #2450
I try to build with golang 1.12 then  can build successfully.

[2019-06-06 21:59] #2450 closed

[2019-06-07 00:20] cduchesne opened #2454 "crio reports names as null for old images that have no parent tag"
**Description**
When a new container image is pulled with the same tag as a previously existing image, the kubernetes status shows null as the `names` for the image. This should probably instead remove the labeled reference for the old image, but still maintain an image@sha256 reference.

**Steps to reproduce the issue:**
1) check status of node via kubernetes api
[code]

2) pull an updated image

[2019-06-07 09:07] saschagrunert commented on #2454
Hey @cduchesne :wave: thanks for the report! Found the issue and working on a fix.

[2019-06-07 14:09] ghglza commented on #2411
Upgrading our clusters to k8s v1.14.3 / cri-o 1.14.3-dev commit 615c561 doesn't have any effect on the problems described above.

Additional information: on the master node of each of our the VMWare based clusters, cri-o logs

crio[110878]: weave-cni: Delete: no addresses for 306217d17b340916534a1b6d991e524d9bf68938475317aa846674e42c67e662

several times.
Up to now, these error messages do not app

[2019-06-07 14:14] saschagrunert commented on #2411
Hey @ghglza , I still found no time to create such a test setup for myself but I will schedule it for the next week if that is okay for you.

[2019-06-07 14:20] ghglza commented on #2411
Thanks @saschagrunert !
Next week is completely ok for us... our main interest is to have a production grade cri-o with Weave or kube-router available in the medium turn.
We don't want to use Docker for security reasons, and are currently a bit nervous on whether we can really replace it by cri-o, resp. which of the more advanced CNI plugins we should use for that.

[2019-06-11 18:33] ganeshmaharaj opened #2464 "Setting manage_network_ns_lifecycle to true by default."
**Description**
This issue is used as a tracker of setting `manage_network_ns_lifecycle` to true by default on cri-o. The latest is, there were issues when this was enabled in RHEL-7. With RHEL-8, if testing proves this is no longer an issue this value will be enabled by default.

[2019-06-12 05:16] nitkon opened #2467 "Enable cri-o on ppc64le arch & make release binaries available"
Hey!

Thanks for the awesome readme/tutorials on cri-o. I could build cri-o from source & use it in a kubeadm 1.14.2 setup to deploy regular & kata pods. I was wondering what it would take to have the crio CI running on ppc64le and have  release binaries as well. FYI we have ppc64le instances in Travis.

[2019-06-12 07:26] saschagrunert commented on #2467
Hey @nitkon, thanks for opening up the issue. I generally like the idea in extending testing for different target platforms. Travis is a bit slow these days so we thought about switching to CircleCI. Do you think a cross-compilation toolchain would work here too?

References #2468

[2019-06-12 07:30] hardoverflow commented on #2072
@lsm5 What is the current standing?

[2019-06-12 08:08] nitkon commented on #2467
Hi @saschagrunert, CircleCI does not have Power ppc64le nodes. However we can have a remote Jenkins ppc64le VM slave instance connected to the current Jenkins infra.

[2019-06-12 08:21] #2454 closed

[2019-06-12 10:14] haircommander commented on #2467
/ok-to-test

[2019-06-12 10:18] haircommander commented on #2467
Further, if we really couldn't avoid travis, having only the ppc64le tests there and migrating everything else to circle would probably still be faster

[2019-06-12 10:43] nitkon commented on #2467
@haircommander: So IIUC, cri-o is planning to move away from Jenkins soon and thus we have only Circle CI and Travis as options left. And since ppc64le instances are not available in Circle CI and Travis CI is slow, thus we can run a part of the tests(ppc64le) on Travis and rest on Circle CI.

[2019-06-12 11:00] saschagrunert commented on #2467
The only proposal from my side was to keep the current infrastructure and replace travis with CircleCI. It's easy, you currently can enable CircleCI for your fork and use it. Within that repository, we only use it for the master branch right now.

Which tests do you want to run on PPC? I would asume:

- integration
- critest
- unit-tests

So I guess a jenkins runner executed by prow would be a goo

[2019-06-12 11:33] saschagrunert commented on #2411
Hi @ghglza I took my time to do a setup in VirtualBox and found no big issues related to CRI-O. I still assume that there is some network routing issue between the configured VMs. Can you provide me a logfile of CRI-O which I can check out?

[2019-06-12 12:52] haircommander commented on #2467
oh jeez I really should fully wake up before responding to emails...
sgtm we could use prow for it

[2019-06-12 13:37] brtknr commented on #2464
Is this the reason why kata-nemu works with containerd and not cri-o?

[2019-06-12 19:19] zvonkok opened #2472 "cri-o does not execute hook placed to /etc/containers/oci/hooks.d if not restarted"
CRI-O does not execute a hook placed to `/etc/containers/oci/hooks.d`  if not restarted.
`/etc/containers/oci/hooks.d` was/is **empty** when cri-o was initially started (reboot e.g.).

**Steps to reproduce the issue:**
1. On a running system with cri-o already started create a hook in an **empty**
 `/etc/containers/oci/hooks.d`
2. Create a container that triggers the hook

**Describe the results y

[2019-06-12 19:23] haircommander commented on #2472
@saschagrunert @mrunalp is this another use case for sending CRI-O a HUP to reload?

[2019-06-12 20:55] mrunalp commented on #2472
This could be handled similar to how we handle CNI using inotify.

[2019-06-12 20:56] mrunalp commented on #2472
And it could be supported by HUP as well :+1:

[2019-06-12 21:08] rhatdan commented on #2472
Yes inotify would be best.  But HUP would be useful as well.  Although HUP should probably handle other things like changes to registries.conf, mounts.conf, crio.conf, policy.json...

[2019-06-12 21:11] haircommander commented on #2472
I forgot about inotify; I agree with @rhatdan HUP is best for config files.

[2019-06-12 21:14] haircommander commented on #2472
haha whoops.
@samc24 PTAL

[2019-06-13 13:23] ghglza commented on #2411
Hi @saschagrunert ,
thanks for trying to reproduce this!
Do I read you correctly in that the pods in your k8s installation were connected to the correct (i.e. VirtualBox "host-only") subnet?

We have rebuilt a VirtualBox cluster, and executed the workaround described in the initial PR above.
Please find a  typescript and the CRI-O journal entries attached.
[criolog.txt](https://github.com/cri-o/cr

[2019-06-13 14:40] cgwalters opened #2478 "lazily load hostIP"
Today crio on *startup* tries to detect the primary host IP based on the default route.  AIUI this is simply so that address can be reported for `hostNetwork` pods.

The problem with this is that it creates a dependency on networking during startup which is racy.

xref: https://bugzilla.redhat.com/show_bug.cgi?id=1713478
xref: https://github.com/cri-o/cri-o/pull/2102

Filing this specifically beca

[2019-06-13 17:52] haircommander commented on #2478
Unfortunately it seems it also be a fallback for the IP of the stream server. So we would either need to make sure a user configures a valid StreamAddress, or we can start after networking? WDYT @umohnani8 @mrunalp

[2019-06-13 18:16] cgwalters commented on #2478
Stream can listen on all interfaces right?

[2019-06-13 18:17] ganeshmaharaj opened #2479 "Restarting cri-o deletes and creates all running pods on fedora & ubuntu"
**Description**
Once cri-o has scheduled pods and they are running, if cri-o is restarted, all the pods sandboxes show as changed which leads to all of them getting killed and re-created. This issue was observed in Ubuntu and Fedora distros but not in ClearLinux or Core-os(minikube).

**Steps to reproduce the issue:**
1. Install kubernetes(1.14.x) and cri-o (1.14.x)
2. `kubeadm init`
3. Wait for p

[2019-06-13 18:18] ganeshmaharaj commented on #2479
/cc @mrunalp @umohnani8 @haircommander

[2019-06-13 18:26] ganeshmaharaj commented on #2479
More logs --> http://paste.openstack.org/show/752898/

[2019-06-13 18:37] ganeshmaharaj commented on #2479
One more data point, systemd versions across the various distros.
ubuntu:
[code]

Fedora:
[code]

ClearLinux:
[code]

[2019-06-13 19:13] haircommander commented on #2479
can you post the clear linux crio.conf too?

[2019-06-13 19:18] haircommander commented on #2479
The one thing that stands out to me is the crio.conf was generated as if being called in userspace and not as root. Presumably that should work, but I am wondering if you're also calling crio from userspace in the other distros?

[2019-06-13 19:23] ganeshmaharaj commented on #2479
https://github.com/cri-o/cri-o/issues/2479#issuecomment-501841766

yes, it was created as the user and with the command `crio --config="" config --default > crio.conf`. It is later moved to `/etc/crio` and the service consumes it. Is that not an acceptable way of creating crio.conf?

[2019-06-13 19:24] haircommander commented on #2479
No it is definitely acceptable. I personally have had trouble running crio as a user, so I was just wondering.

[2019-06-13 19:24] haircommander commented on #2479
(or at least it's supposed to be acceptable :D )

[2019-06-13 19:26] haircommander commented on #2479
OOOH okay so the userspace config generated set storage_driver to vfs (which is really not that great). Can you regenerate the config as root, move it to /etc and try to reproduce?

[2019-06-13 19:28] haircommander commented on #2479
Also the config on clear linux seems to be generated using a newer crio

[2019-06-13 19:28] ganeshmaharaj commented on #2479
here is more logs. https://gist.github.com/ganeshmaharaj/fdfce5fe275ebd504195700a1042c5e9

[2019-06-13 19:30] ganeshmaharaj commented on #2479
clearlinux is using 1.14.1 while ubuntu is using head of master. I do not think clear would get a version that is later than master. 😕

[2019-06-13 19:36] ganeshmaharaj commented on #2479
`storage_driver = vfs` is commented out. I assume it will fall-back to the default and i was hoping that it would be overlay by default. Is that not true? just checking.

[2019-06-13 19:37] haircommander commented on #2479
if you're in userspace I think the default is vfs.

[2019-06-13 19:41] ganeshmaharaj commented on #2479
aah got it. In all the tests we are running the service via systemd. I just tested with creating `crio.conf` as root and explicitly setting `storage_driver = overlay` and same outcome.

[2019-06-13 19:54] haircommander commented on #2479
btw does this happen with runc and kata or just kata?

[2019-06-13 19:56] ganeshmaharaj commented on #2479
the runtime for all the pods on all distros is runc. The trigger is us trying to deploy kata and in the process restarting cri-o.

[2019-06-13 20:03] haircommander commented on #2479
you said clear linux is on 1.14.1? and ubuntu does the same with 1.14.1?

[2019-06-13 20:06] haircommander commented on #2479
can i have the clear linux logs?

[2019-06-13 20:20] ganeshmaharaj commented on #2479
yes.

https://gist.github.com/ganeshmaharaj/c6bf583b67926552ea67ffc87ec430a8

[2019-06-14 00:52] relyt0925 commented on #2291
closed with the information above

[2019-06-14 00:52] #2291 closed

[2019-06-15 15:13] ganeshmaharaj commented on #2464
@brtknr kata-deploy when used will set this value in the config. The issue that you are noticing is probably https://github.com/cri-o/cri-o/issues/2479

[2019-06-18 06:23] den-is commented on #2014
Hey RedHat, where are our fresh RPMs ? :D
Advertises CRI-O here and there, uses in the latest OpenShift 4+ , while we poor centos users can't easily install latest versions (I aware about compilation and binaries)

[2019-06-19 10:05] ssoor opened #2501 "log_size_max is ignored. Logs always wrap at 10M"
**Description**

log_size_max in crio.conf is not honored.  Pod logs always wrap around 10MB

CRI-O 1.11.11 on k8s 1.14.0

[code]

**Steps to reproduce the issue:**
1. Edit /etc/crio/crio.conf and set log_size_max = -1
2. systemctl restart crio (also tried rebooting
3. Run containers that create a lot of stdout and watch the size of the pods logs under
/var/log/pods/<pod id>  - can find the symlin

[2019-06-19 16:56] zvonkok commented on #2472
Any update on this, we need this as soon as possible. Is there a temporary fix I could do to circumvent this?

[2019-06-20 07:12] saschagrunert commented on #2472
@samc24 are you already working on this one? I could look into that as well if you have other things on your desk right now. :)

[2019-06-20 13:56] samc24 commented on #2472
Sorry, didn't get a chance to make significant headway as I was busy with other things. Can work on it now though! (unless @saschagrunert would prefer to take over)
As far as temp fixes go, I'm not sure other than manually executing the hook, or restarting cri-o as you said.

[2019-06-20 13:59] saschagrunert commented on #2472
I did not start yet, so feel free to go for it :)

[2019-06-20 15:54] egernst commented on #2479
/cc @mrunalp
Anu updates on this issue?  Can folks on the cri-o side reproduce?

[2019-06-20 19:52] mrunalp commented on #2501
That is probably done by the kubelet.

[2019-06-20 20:35] samc24 commented on #2472
Hi @zvonkok, sorry for the delay. I tried reproducing your issue, but for me the hook I create does get executed when I start CRI-O, create a hook, and then create the container.
Could you provide more details as to when the hook doesn't execute, so I can troubleshoot further?
Also, are you specifying the path of the hooks directory either as a flag when starting cri-o (--hooks-dir) or in your cri

[2019-06-21 11:51] zvonkok commented on #2472
I am using the crio.conf which is there by default when installing an OpenShift cluster 4.1.0. The conf shows the following hooks_dir_path option (the worker is an RHCOS 4.1, ostree_version=410.8.20190520.0)

`
-# hooks_dir_path is the oci hooks directory for automatically executed hooks
hooks_dir_path = "/usr/share/containers/oci/hooks.d"
`

Both hook dirs are present, only the `/usr/share/contai

[2019-06-21 12:16] zvonkok commented on #2472
The hooks_dir option does not support live configuration reload according to `https://github.com/cri-o/cri-o/blob/master/docs/crio.conf.5.md`.

So changing this option implies a service restart, which is not possible.

[2019-06-21 12:30] zvonkok commented on #2472
@samc24

Restarting the node and starting from scratch, placing the hook and triggering it by a container does not work.

Restarting crio and placing the hook and triggering it by a container works. Subsequent removals and placing of the hook into the hook directory works without restarting crio.

To reproduce this  behaviour, I think you have to delete `/etc/containers/oci/hooks.d`, restart crio,

[2019-06-21 12:45] zvonkok commented on #2472
Setting hooks_dir_path in crio.conf to  `/etc/containers/oci/hooks.d`  and restarting crio without placing a hook file into the directory didn't work either.

It works only for me when a hook is placed into the directory and crio is restarted.

[2019-06-21 13:39] ghglza commented on #2411
Unfortunately, when upgrading to k8s v1.15.0 / crio 1.14.5-dev commit 1ac991b the situation gets worse: the workaround described above fails.

* With the VirtualBox based VMs, the static pods stay connected to the NATted NIC.
  But after applying the workaround, at least the dynamic pods are switched to the subnet specified to kubeadm during cluster installation, and the cluster seems to work.

*

[2019-06-21 13:41] saschagrunert commented on #2411
Yeah we could have a look into them as well. :)

[2019-06-21 14:13] zouyee commented on #2501
That is probably  defined in `docker.service`.
![屏幕快照 2019-06-21 下午10 11 47](https://user-images.githubusercontent.com/5785605/59928636-c17e3580-9471-11e9-8b35-cb55624b8fe9.png)

[2019-06-21 14:17] zouyee commented on #2501
That is probably  defined in `docker.service`.
![屏幕快照 2019-06-21 下午10 11 47](https://user-images.githubusercontent.com/5785605/59928636-c17e3580-9471-11e9-8b35-cb55624b8fe9.png)

[2019-06-21 19:03] rhatdan commented on #2501
@haircommander PTAL

[2019-06-21 19:17] mrunalp commented on #2501
Can you check if you are setting log size max in kubelet configuration?

[code]
?

[2019-06-24 03:17] ssoor commented on #2501
Sorry to reply so late.
@zouyee We didn't use docker as the runtime, we are using cri-o.

``
# cat /etc/crio/crio.conf | grep max
# log_size_max is the max limit for the container log size in bytes.
log_size_max = -1

``

@mrunalp
The kubelet startup command is:
`/usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --config=/var/l

[2019-06-25 13:48] haircommander commented on #2501
@ssoor it seems by https://github.com/kubernetes/kubernetes/blob/a78ae4ba74a591afd46d65cb3d76cf2929e68fcb/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L657 if you don't set a log size max in the kubelet it will default to 10Mi. Can you try adding a `containerLogMaxSize` field to your kubelet.conf and see if it fixes your problem?

[2019-06-26 14:29] lsm5 commented on #2014
sometime next month I hope to have the process in place to rebuild fedora cri-o rpms for CentOS PaaS SIG. If anyone's interested in making this quicker by joining PaaS SIG, let me know :)

[2019-06-26 20:49] samc24 commented on #2472
Hi @zvonkok, after following your steps, both locally and on an OpenShift cluster, the hook created does get executed. However, there are some specific cases where it does not, and I can work to fix that.
When you say "placing the hook", what exactly are you doing? Are you manually creating a new hook in that directory, or moving / copying it from another directory, etc.?

[2019-06-26 21:43] zvonkok commented on #2472
A privileged container copies the hook from inside the container into the
mounted host file system. How are you doing it on openshift?

On Wed., Jun. 26, 2019, 5:49 p.m. Sameer Chaturvedi <
notifications@github.com> wrote:

[2019-06-27 06:51] ssoor commented on #2501
@haircommander Is this reason, thank you very much.

[2019-06-27 06:51] #2501 closed

[2019-06-27 17:23] samc24 commented on #2472
@zvonkok we were adding the hook to the node directly. However, we tried many different cases of adding the hook, copying it, moving it etc and in all the cases cri-o was able to detect that a hook was added. We tried this both on a 4.x cluster and locally with crictl.
Can you give me the yaml of the container that is copying the hook over to the mounted host filesystem? This will help figure out

[2019-06-27 17:54] zvonkok commented on #2472
@samc24 really appreciate your help.

The container in questions is the following:

https://github.com/zvonkok/special-resource-operator/tree/master/assets/state-driver

Remove the nodeSelector terms and update the image to use e.g. the following  image tag `v410.79-4.18.0-80.4.2.el8_0.x86_64`

The script which is doing the copy to the host file system is this one:

https://gitlab.com/zvonkok/driv

[2019-06-28 17:59] zvonkok commented on #2472
Another thing I just realized. When the container in question copies the hook to `/etc/containers/oci/hooks.d`.

I can run a container (locally with podman) on the node successfully. The hook gets triggered. I do not know how much codebase crio and podman share (libpod)

Creating a POD that has the very same container that I run locally does not trigger the hook.

[2019-06-28 18:06] mcastelino opened #2546 "Potential CNI Race Condition CRI-O 1.14.2 onwards"
Starting CRI-0 1.14.2 there seems to be a race condition with CNI in cri-o.
On a multi-node cluster you cannot reach a pod that is running on a remote node.
However if the network plugin is deleted and reapplied (on a running cluster the problem goes away).

The reproduction steps involve Clearlinux which bundles CRI-O

**Steps to reproduce the issue:**

**Failure case:**

1. https://github.com/cl

[2019-06-28 18:06] rhatdan commented on #2472
They share a lot of the code for handling of hooks.

[2019-06-28 18:07] samc24 commented on #2472
@zvonkok cri-o and libpod share the same library for monitoring hooks. Can you put cri-o in debug mode on your cluster (go into `/etc/crio/crio.conf` and edit the `log_level` option to `debug` and then restart cri-o). then run the container that places the hook in `/etc/containers/oci/hooks.d` and grep through the logs for "monitoring" first, this will show us if cri-o has logged that it is monito

[2019-06-28 19:29] mcastelino commented on #2546
CRI-O configuration

Note: Both
`manage_network_ns_lifecycle = true`
and
`manage_network_ns_lifecycle = false`

have the same issue

[code]

[2019-06-28 23:46] mcastelino commented on #2546
Root causing this a bit further it looks like the flannel interface changed the mac address and the arp tables are now outdated causing packet drop.

If you see the arp tables vs interface address you see the disconnect for

**Interface**
[code]
**ARP**
[code]

**Details**
[code]
[code]

[code]

[code]

[code]

[2019-06-29 14:43] Slach opened #2547 "cri-o 1.14 from PPA failed to start after installation"
Steps to reproduce
[code]

Expected result - successful crio start
Actual result
[code]

journalctl -xe -u crio
[code]

[2019-07-01 06:24] jpeach commented on #838
I just debugged this problem and then found this issue. I can trivially reproduce with a pod that has `restartPolicy=Always` and a very short lifespan. After a few days, you'll get a few thousand leakes cgroups and the kubelet will stop responding.

At minimum, I don't think that `cgroupfs` should be the default.

[2019-07-01 09:43] rhatdan commented on #838
@vrothberg Could you take a look at this?

[2019-07-01 09:56] vrothberg commented on #838
@rhatdan, I am not sure I can help on that other than changing the default to systemd. @haircommander @umohnani8 @saschagrunert WDYT?

[2019-07-01 10:03] jpeach commented on #838
FWIW I'm going to switch over to the system driver too.

[2019-07-01 10:07] vrothberg commented on #838
This sounds quite different to the initial description which stated that cgroups leak when CRI-O or/and the Kubelet are being stopped or killed. The upper description implies CRI-O leaks per se.

[2019-07-01 10:31] vrothberg commented on #838
I need to check CRI's logic a bit more but Podman is able to do that (Cc @mheon)

[2019-07-01 11:04] jpeach commented on #838
True. My experience sounds a lot like what @paulnivin describes, though I’m not sure whether this is still the same case that @runcom reported originally. We do restart kubelet at intervals due to puppet runs, but I was able to repro without that.

[2019-07-01 12:03] vrothberg commented on #838
I think we can fix it :^)

[2019-07-01 12:24] vrothberg commented on #838
Alright, I did some detailed analysis and CRI-O doesn't clean up the cgroups at all. We can follow libpod's example and reuse the `cgroups` package that has recently been added by @giuseppe.

@giuseppe @mheon, anything I might miss before I start getting my hands dirty in the code?

[2019-07-01 12:53] mheon commented on #838
Cgroupfs deletion was the cause of a persistent and nasty Podman test flake, so I was mucking around in it somewhat recently. Our issue might have been specific to the Libpod hierarchy (we put conmon in a sub-cgroup of the main pod cgroup, and then have conmon spawn further processes to clean up after containers die), but I would recommend setting the PIDs limit for cgroups you're removing to 1 be

[2019-07-01 15:34] ghglza commented on #2411
On closer inspection, it turned out that we had failed to install the /etc/crio/crio.conf generated by CRI-O 1.14.
After correcting this, upgrading to CRI-O version 1.14.6-dev (commit 3b79e1a), rebooting the VMWare VMs, and making sure all k8s and CRI-O related SDN NICs are deleted prior to each installation of k8s, the restart workaround works again on the VMWare boxes.
However, with k8s v1.15.0,

[2019-07-01 15:36] ghglza commented on #2411
[logs.tar.gz](https://github.com/cri-o/cri-o/files/3346359/logs.tar.gz)

[2019-07-01 22:38] mrunalp opened #2554 "Add IPv6 dual stack support"
Upstream is adding support to CRI for IPv6. We need to support this in CRI-O for 1.16.

[2019-07-01 22:38] mrunalp commented on #2554
https://github.com/kubernetes/kubernetes/pull/73977
@saschagrunert fyi :)

[2019-07-01 22:39] mrunalp commented on #2547
@haircommander ptal

[2019-07-01 22:40] mrunalp commented on #2546
Did you identify anything that needs fixing in CRI-O? Thanks!

[2019-07-01 22:42] mcastelino commented on #2546
@mrunalp at this point I am not sure is this is a cri-o issue or a latent flannel issue that gets exposed with the latest kernel and systemd. I will continue to debug this.

[2019-07-01 22:43] mrunalp commented on #2546
okay, thanks :+1:

[2019-07-02 00:02] haircommander commented on #2547
Hey @Slach thanks for the issue report! This was actually fixed in 1.14.5, which as I understand it has not been built as a PPA yet. Our PPA maintainer @lsm5 should be back in the next couple of days to fix it. I can ping you when it's ready!

[2019-07-02 05:14] jpeach opened #2555 "Add a request ID log field"
In general, the CRI-O server accepts GRPC requests, does some work and then responds, and there may be multiple RPC requests in flight at once.

When debugging pod creation behavior, it is tricky to associate debug messages with the correct pod creation request, particularly if there is more than one in flight. Adding a unique request ID to each structured log message would help log analysis a lot

[2019-07-02 06:35] saschagrunert commented on #2554
@mrunalp Thanks :pray:, these two also relate to that feature:
- https://github.com/cri-o/ocicni/pull/39
- https://github.com/cri-o/cri-o/pull/2447

[2019-07-02 08:05] vrothberg commented on #2555
Thanks for opening the issue, @jpeach! The proposal sounds like a valuable extension to me. Would you be interested in contributing?

Certainly, we can't log everything but logging the hot code paths would be great. There are also some limits to what we can do as some logs come from the libraries CRI-O uses.

[2019-07-02 15:51] mcastelino commented on #2546
@mrunalp this seems to be a systemd issue. So will close this for now. It just that for some reason it is easier to reproduce with cri-o, maybe because cri-o is faster?

[2019-07-02 15:51] #2546 closed

[2019-07-02 17:40] zvonkok commented on #2472
@samc24 That is one thing I have done as one of the first steps, here are the recent logs:

monitoring:
[code]

The only hook that gets added is/was the `oci-systemd-hook` which is already in the file-system.

[code]

Adding the hook in either directories `/usr/share/containers/oci/hooks.d/`, `/etc/containers/oci/hooks.d` does not trigger the hook. No "added hook' or any hook related messages appe

[2019-07-02 21:21] jpeach opened #2562 "Make image volumes writeable by the container user"
In `server/container_create.go:addImageVolumes()`, the `config.ImageVolumesMkdir` volume is create with mode `0755` and UID `0`. Unless the container process also runs as UID `0`, it won't be able to write to the volume. Maybe the ownership or permissions should be adjusted to ensure that image volumes are always writeable from inside the container.

[2019-07-03 03:43] mariusgrigoriu opened #2564 "Container creation error: read-only file system"
**Description**

Many pods out of a DaemonSet are stuck in CreateContainerError with the following error:
[code]

crio logs have a similar error:
[code]

However, there seems to be no issue on other nodes on the k8s cluster running the same DaemonSet.

It is unknown why it works on some nodes, but fails on other similar nodes.

**Steps to reproduce the issue:**
Here is the DaemonSet
[code]

**Desc

[2019-07-03 12:56] ghglza commented on #2411
Upgrading to CRI-O release-1.15.1dev commit f61719a didn't have any effect on the IP address problem.

However, when restarting the CoreDNS pods they got stuck in state "ContainerCreating"

kube-system   coredns-5c98db65d4-5tx24              0/1     ContainerCreating   0          84s   <none>        node27            <none>           <none>
kube-system   coredns-5c98db65d4-95vv2              0/1

[2019-07-03 16:10] mcastelino commented on #2546
@mrunalp the root cause is documented here https://github.com/coreos/flannel/issues/1155

What version of systemd do you test CRI-O with today? Do you have plans to test with systemd 242+

[2019-07-04 00:04] mrunalp commented on #2564
If read_only set to true in crio.conf? If yes, can you try setting to to false?

[2019-07-05 11:07] sivakg2000 commented on #2357
Im also getting the same error while trying to setup kubernet with cri-o

My cluster info ( Cento OS 7 )
[code]

[2019-07-05 17:19] haircommander commented on #2564
@mariusgrigoriu  do you get a similar error on that node with other pods?

[2019-07-05 19:02] mariusgrigoriu commented on #2564
read_only was false. We did not notice other pods having issues, but it's likely we may have missed something.

Part of the problem may be the pod spec itself. The hostPath `/host/lib/modules` did not exist. The pod was able to start on all nodes once I changed that and the other similarly broken hostPath to a valid directory.

That said, the pod spec got rolled back the other day to what is descr

[2019-07-05 19:19] haircommander commented on #2564
ah thank you @mariusgrigoriu, that's really helpful. We've encountered this issue just recently, and it happens when the directories don't exist as well. I think another partial fix is changing `type:` to `DirectoryOrCreate` instead of the default, which doesn't check whether the directory exists before attempting to mount it (resulting in the cryptic error)

[2019-07-05 21:14] haircommander commented on #2564
@mariusgrigoriu I've been trying to reproduce with an empty hostpath type and directory that doesn't exist, but everytime I run the daemonset the directory is created (on version [1]. please let me know if you run into this again and can find anymore clues. For the time being, the solution seems to be to create the directories. I don't know if there's a solution in CRI-O otherwise.

[1] Kube: ```

[2019-07-07 12:33] afbjorklund opened #2573 "Extend support for go1.10"
The requirements for cri-o was changed from go 1.8 to go 1.12 (in #2451),
due to a _single_ function `strings.ReplaceAll` not being available (#2450).

This requirement is probably a bit harsh, since go 1.10 is still common...
It is possible to use `strings.Replace` with a count of -1 instead, simple fix ?

[2019-07-07 12:50] afbjorklund opened #2575 "Hard to cross-compile cri-o, due to config generation"
**Description**

It is hard to build cri-o for another target (e.g. Buildroot), due to running tools on host.

This may fail for any number of reasons, including architecture and shared libraries.

**Steps to reproduce the issue:**
1. make minikube.iso
2.
3.

**Describe the results you received:**

`bin/crio-config: error while loading shared libraries: libdevmapper.so.1.02: cannot open shared obj

[2019-07-08 10:52] saschagrunert commented on #2575
Hey @afbjorklund :wave:, if I understand the issue correctly, then the `crio` binary builds correctly but it is not executable because the shared library for device mapper is not found? If so, then you may have to adapt the `LD_LIBRARY_PATH` in your build environment or exclude the device mapper support during build.

The `git-vars` target should be related to this issue in my point of view.

[2019-07-08 10:58] saschagrunert opened #2579 "Configuration migration support"
I'm thinking about providing a better configuration migration to end-users via something like:

[code]

This way we would have to keep track of changing configuration from a source code and documentation perspective. We could also implement some sort of automatism in correlation to `crio-wipe`.

WDYT?

[2019-07-08 11:20] saschagrunert commented on #2575
I opened-up a PR which should enhance the `git-vars` target to cover non-existing `git` executables as well: https://github.com/cri-o/cri-o/pull/2581

Can you verify that it works with that patch? If so, we can backport it to `release-1.15` as well.

[2019-07-08 14:21] rhatdan commented on #2579
crio config migrate /etc/crio/crio.conf --from v1.14.0 --to v1.15.0

1  No need for parameter /etc/crio/crio.conf, this is default and can be overridden with --config.
2 I don't think we need --to v1.15.0, this should default to current version.  Do you think we would need to migrate to different older versions?
3 --from v1.14.0, should be optional, since this is what is assumed  (Current version

[2019-07-08 14:22] rhatdan commented on #2579
@haircommander @umohnani8 @vrothberg @mrunalp WDYT?

[2019-07-08 15:06] afbjorklund commented on #2575
The library does exist in the _target_ environment, it just does not exist in the _build_ environment.

It seems like I also need to do this make as root user, or it will generate crio.conf for rootless ?

[2019-07-08 16:00] vrothberg commented on #2579
In theory, we should already be doing that :^)

What is the problem we're trying to solve and who's the target audience? Would it fill potentially new options? Would it fill the default values for missing ones?

[2019-07-08 16:27] mariusgrigoriu opened #2584 "cri-o hangs; PLEG is not healthy"
**Description**
We found one of our k8s nodes in a NotReady state. The reason is that PLEG is not healthy. Upon closer inspection we found that some crictl commands are timing out after waiting long.

**Steps to reproduce the issue:**
Unknown. Happens intermittently.

**Describe the results you received:**
- Kubelet reports PLEG is unhealthy.
- crictl ps works fine
- crictl pods works fine
- crict

[2019-07-08 16:30] mariusgrigoriu commented on #2564
So is this really a bug or just a confusing way to surface that the hostPath is not found?

[2019-07-08 16:36] SleepyBrett commented on #2584
After one of the nodes went into this state I went ahead and hit it with a `kill -6` the abort portion of the logs is in this gist: https://gist.github.com/SleepyBrett/0b4f5bc083c5b6466710f457290f9784

[2019-07-08 16:41] haircommander commented on #2564
the latter from what I can tell

[2019-07-08 16:46] afbjorklund commented on #2575
My problem is not really `git-vars`, even though I don't really need that phony target (provide vars)

The problem is that _because_ of git-vars, it tries to generate the configuration using a target binary.

[code]

Describe the results you received:
[code]

Describe the results you expected:
[code]

This wouldn't be so horrible, if it wasn't for the fact that running crio-config or crio doesn't

[2019-07-08 16:53] mariusgrigoriu commented on #2564
Closing. Hopefully a nice error message could be generated in the future.

[2019-07-08 16:53] #2564 closed

[2019-07-09 06:31] saschagrunert commented on #2579
I think the target audience are mostly administrators and package maintainers. The idea is inspired by migration tools provided by large web frameworks to migrate the application from one version to another (like [Angular](https://update.angular.io/)). I mean the technical implementation is not trivial since we would have to versionize the structures somehow to be able to do a conversion. But in t

[2019-07-09 09:01] #2573 closed

[2019-07-09 09:08] vrothberg commented on #2579
Ideally, no change should break backwards compat in the config and this is something we should follow dogmatically. Adding a complex config management system on top of CRI-O seems way too much for my taste. It must be implemented, tested, documented, reviewed, maintained, etc., and all for something that should not happen in the first place (i.e., backwards incompats in the config).

[2019-07-09 09:20] saschagrunert commented on #2579
Deprecations where admins have to take action will always happen, I don't think that we can avoid this.

It does not necessary have to be really complex, It would be more or less only versionizing the config structures and diffing them by logic. But yeah, I see the point that it might be too much overhead.

[2019-07-09 09:20] saschagrunert commented on #2579
I think I  will close this for now, might not be the right time for such a feature. :)

[2019-07-09 09:20] #2579 closed

[2019-07-09 09:40] saschagrunert commented on #2575
That the `git-vars` target forces a rebuild should be fixed with #2583. But in the end we want to move away from the conmon implementation within this repo and switch to [containers/conmon](https://github.com/containers/conmon), where the problem should not exist because of a different Make target structure.

I'm unsure if we have open issues regarding cross-compilation after these changes.

[2019-07-09 13:37] zvonkok commented on #2472
I will close the issue. It was a chicken-egg problem. When placing the hook the hook-binary was not present on the filesystem. CRI-O will ignore the hook.

[2019-07-09 13:37] #2472 closed

[2019-07-09 15:44] afbjorklund commented on #2575
It should be OK, with those git-vars changes.

Already building containers/conmon for podman, so that should be fine.

[2019-07-09 16:04] saschagrunert commented on #2575
Okay cool thanks for all the Input. Feel free to close this if there are no further changes needed. :)

[2019-07-10 07:56] shaoyuta opened #2588 "Delete network failure when destroy a pod"
**Description**
Run k8s+crio+runc in clearlinux, deploy a pod then delete it, found that the network interface created by kubelet can't be deleted.
I'm not sure this is an issue related about cri-o, but all are ok when I do same operations if k8s+containerd+runc.

**Steps to reproduce the issue:**

    1. https://github.com/clearlinux/cloud-native-setup/blob/master/clr-k8s-examples/README.md
    2

[2019-07-11 18:04] rhatdan commented on #2562
@samc24 PTAL

[2019-07-13 10:11] #838 closed

[2019-07-15 06:14] worawutchan commented on #2357
Same error too

[code]

[2019-07-15 15:51] matthias50 opened #2614 "Unable to pull pause image from ECR"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

Unable to use pause image from ECR.

**Steps to reproduce the issue:**
1. Configure pause_image in crio.conf to to point to an image in ECR ```pause_image = <redacted_account_num>.dkr.ecr.us-west-2.amazonaws.com/mirror/pause-amd64:3.1"```
2. start crio

*

[2019-07-15 16:11] matthias50 commented on #2584
I ran into a problem with very similar symptoms with docker and it turned out to be an overflow issue in systemd. See https://github.com/systemd/systemd/issues/11809. I was able to work around it by having a cron job which does ```systemctl daemon-reload``` daily.

[2019-07-15 17:12] mariusgrigoriu commented on #2584
What's interesting is that call to list images was freezing, so we expect to be no connection to the cgroup driver, but who knows. We're using cgroupfs so will be trying #2601 and reporting back.

[2019-07-15 17:48] amshinde commented on #2255
@mrunalp An update on this issue.
I moved the implementation of runtime_vm.go to  https://github.com/kata-containers/runtime repository and  vendored  the `oci` package under crio into kata as the vm implementation requires data structures defined in this package. With this I had to resolve all the dependency conflicts between the transitive dependencies introduced by the vendoring of crio oci pac

[2019-07-15 19:21] mrunalp commented on #2614
@matthias50 I think that you need to set pause_image_auth_file to be able to pull that image. cc: @mtrmac ptal.

[2019-07-15 19:24] mtrmac commented on #2614
Seems so, yes.

[2019-07-15 20:19] matthias50 commented on #2614
With our current setup using Docker, we are passing ```--pod-infra-container-image=<redacted_account_num>.dkr.ecr.us-west-2.amazonaws.com/mirror/pause-amd64:3.1``` (same as setting for pause_image) and this "just works".  So having to explicitly do ```aws ecr get-login``` just for the pause image in the cri-o case is an annoying gotcha in the way of migration.

[2019-07-16 16:51] chrono2002 opened #2619 "container_network_receive_bytes_total metric support"
When migrated from docker to cri-o containers container_network_* metrics suddenly stopped working in Prometheus. Could it be because they haven't implemented yet?

[2019-07-16 18:14] lsm5 commented on #2547
i just pushed 1.14.7 to the ppa. PTAL.

[2019-07-16 20:24] mariusgrigoriu opened #2620 "CleanupConmonCgroup panic"
**Description**
We tried a build from commit `8f9064819cbaba8f09a4a512e08a094bfd973edd` on the 1.14 release branch and got a bunch of panics.

[code]

**Steps to reproduce the issue:**
We were able to find similar panics on nodes running close to 100 crash looping pods, hoping to catch the conmon cgroup leak.

**Describe the results you received:**

Full stack trace here:
[panic.log](https://githu

[2019-07-16 20:36] mrunalp commented on #2620
@vrothberg ptal

[2019-07-17 01:43] mrunalp commented on #2619
Can you give more details on what version of kubernetes and CRI-O are you using?

[2019-07-17 08:52] chrono2002 commented on #2619
kubernetes version: "1.15.0-00"
crio version: v1.14.5
runc version: v1.0.0-rc8

[2019-07-17 13:10] vrothberg commented on #2620
@mariusgrigoriu was faster, thanks! I am about to backport the commit to 1.14 and 1.15.

[2019-07-17 21:05] matthias50 commented on #2614
I was able to set pause_image_auth_file and get this working. Its unfortunate that is is needed for cri-o when it isn't for Docker, but oh well.

[2019-07-17 21:05] #2614 closed

[2019-07-17 21:15] matthias50 opened #2625 "kube-proxy pod unable to write to /sys with cri-o"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**

When I start kube-proxy using cri-o I get this error from kube-proxy:

[code]

The same pod manifest works with Docker (i.e. no such errors)

**Steps to reproduce the issue:**
1. start kube-proxy using a static pod manifest.

**Describe the results you rec

[2019-07-18 00:45] ganeshmaharaj commented on #2479
@haircommander anything else i can do here to help debug this issue?

[2019-07-18 07:11] arthfl commented on #2036
Any news on this?

[2019-07-18 09:44] rhatdan commented on #2625
Do we switch all mount points to read/write when running in --privileged mode in CRI-O?  We should.

[2019-07-18 09:46] rhatdan commented on #2625
[code]
versus
[code]

[2019-07-18 09:47] vrothberg commented on #2625
@rhatdan, I was looking at exactly that atm. CRI-O is only setting sys and cgroup ... at least in the code.

[2019-07-18 12:19] saschagrunert commented on #2554
We should keep in mind adding additional tests later on if we have a CNI plugin which supports the dual stack.

[2019-07-18 12:42] haircommander commented on #2547
@Slach have you been able to use the new version in the PPA? If so, can we close this?

[2019-07-18 19:42] sysrich commented on #2588
We are also seeing this issue on openSUSE Kubic

@saschagrunert do you have any immediate thoughts/hints/theoretical workarounds for me try out?

[2019-07-18 22:13] amshinde commented on #2255
@mrunalp So, I tested out moving to go modules for kata in my branch. With this I was able to get the runtime binary building, but while building the plugin which has most of the code present today in runtime_vm.go today, I am seeing this error:
[code]
I tried with using the same `replace` tags for the k8s.io packages that are present in the crio `go.mod` today as well as using the published repos

[2019-07-18 22:17] mrunalp commented on #2255
Adding @saschagrunert and @vrothberg

[2019-07-18 23:09] #2625 closed

[2019-07-18 23:16] ganeshmaharaj commented on #2479
I am able to reproduce the issue on fedora-30.

Steps:
Fedora 30 VM, k8s (1.15.1), cri-o (1.14.9)
1. Install k8s with steps described at https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
2. Install cri-o from source (make, make install, generate default config, copy systemd files to /etc/systemd/system and start service).
3. kubeadm init
4. Install CNI (flannel

[2019-07-19 05:43] Slach commented on #2547
yep, 1.14.7 worked fine
but i still waiting 1.15 for testing

[2019-07-19 05:43] #2547 closed

[2019-07-19 06:09] vrothberg commented on #2255
Thanks, @mrunalp!

The `RuntimeImpl` is an internal interface now but we can expose it again. My biggest concern is API stability and inter-operability (e.g., with containerd). Are there plans to support more than CRI-O with the `RuntimeImpl` and how mature is this API to guarantee stability? Once we expose it to be used (and loaded) by third parties we have to support it, so I want to be sure it'

[2019-07-19 06:13] vrothberg commented on #2625
We still need to backport #2627, but the mounts are now rw on master.

[2019-07-19 06:47] saschagrunert commented on #2255
Yeah, generally is should be possible to use the staging APIs mixed with the kubernetes local ones, but all of them should point to the same commit of Kubernetes (like we do with the rewrite in go.mod). Do you have any source code on GitHub where we could support you directly?

I agree and I would choose the opportunity to enhance the documentation (and publish them somewhere), because we would ha

[2019-07-19 07:14] saschagrunert commented on #2588
Hey @shaoyuta and @sysrich, thanks for reporting the issue. It looks like that the `cniVersion` is not set correctly either by the plugin or by the local config in the `network_dir` folder (default `/etc/cni/net.d`).

@shaoyuta can you try to update the CNI plugins to the latest available version (0.8.1) and run CRI-O 1.15.x with Kubernetes 1.15.x ?

@sysrich To reproduce the issue (which I can't

[2019-07-19 08:36] thkukuk commented on #2588
On Fri, Jul 19, Sascha Grunert wrote:

It's openSUSE Kubic running the k8s e2e test suite triggering the
problem.

The content of /etc/cni/net.d/10-flannel.conflist (no idea who
creates that):

{
  "name": "cbr0",
  "plugins": [
    {
      "type": "flannel",
      "delegate": {
        "hairpinMode": true,
        "isDefaultGateway": true
      }
    },
    {
      "type": "portmap",
      "capab

[2019-07-19 08:40] sysrich commented on #2588
In typical CNI practice, the flannel.conflist is made by the flannel container..and my personal experience shows that it's not uncommon for different CNI providers to do quirky things with their config

In our case though, we're seeing this with both the upstream flannel container and our openSUSE built one.

[2019-07-19 08:49] thkukuk commented on #2588
On Fri, Jul 19, Richard Brown wrote:

I think we need this fix:
https://github.com/coreos/flannel/pull/1135

--
Thorsten Kukuk, Distinguished Engineer, Senior Architect SLES & MicroOS
SUSE Linux GmbH, Maxfeldstr. 5, 90409 Nuernberg, Germany
GF: Felix Imendoerffer, Mary Higgins, Sri Rasiah, HRB 21284 (AG Nuernberg)

[2019-07-19 08:50] saschagrunert commented on #2588
Yes, for flannel this fix is needed.

[2019-07-19 10:48] chrono2002 commented on #2619
kubernetes version: "1.15.0-00"
crio version: v1.14.5
runc version: v1.0.0-rc8

[2019-07-19 11:03] christian667 opened #2632 "cpu and memory cgroup hierarchy not unified"
**Description**

Trying to setup a fresh ubuntu 18.04 (minimal) based kubernetes cluster using cri-o leads to

`server.go:273] failed to run Kubelet: failed to get the kubelet's cgroup: cpu and memory cgroup hierarchy not unified.  cpu: /system.slice, memory: /`

**Steps to reproduce the issue:**
1. Install Ubuntu 18.04
2. Install kubernetes & projectatomic ppa
3. Install kubelet kubeadm kubectl c

[2019-07-19 11:16] thkukuk commented on #2588
Fixed for openSUSE Kubic, passes test suite now.

[2019-07-19 11:22] saschagrunert commented on #2632
Hi @christian667, this is an issue with the latest kubelet rather than CRI-O, can you try to apply this patch which unfortunately did not make it into v1.15.1:
https://github.com/kubernetes/kubernetes/pull/80121

[2019-07-19 12:25] saschagrunert commented on #2255
@amshinde If you want, then you can give https://github.com/cri-o/cri-o/pull/2633 a try. A working implementation would then look like this:

[code]

With a working `go.mod` file:
[code]

Are you still targeting to build a shared library or would it be enough if we depend on your go library? This way we could save efforts from my point of view.

[2019-07-19 14:00] vrothberg commented on #2625
Backports for:
* 1.13: https://github.com/cri-o/cri-o/pull/2639
* 1.14: https://github.com/cri-o/cri-o/pull/2635
* 1.15: https://github.com/cri-o/cri-o/pull/2634

[2019-07-19 16:41] christian667 commented on #2632
@saschagrunert Thanks for the quick response - will this be part of the next minor kubelet release? When will this be merged into the stable packages? Should I use cri-o 1.13 (seems to work) for deployment and upgrade to 1.15 later (with the kubelet fix available), wait for the fix to be public available (is this a matter of days?) or better build kubelet all by myself?

[2019-07-19 17:23] mariusgrigoriu commented on #2632
You should be able to get around this with the `--runtime-cgroups` and `--kubelet-cgroups` kubelet flags.

[2019-07-19 17:28] christian667 commented on #2632
@mariusgrigoriu Which arguments should I provide with --runtime-cgroups and --kubelet-cgroups ? /systemd/system.slice ?

[2019-07-19 17:29] mfpierre commented on #2236
Thanks @saschagrunert the build for v1.15.0 is working great 🎉

There's one thing that I find missing though and it's the `conmon` binary, is there a static build of it somewhere?

[2019-07-19 17:58] mariusgrigoriu commented on #2632
Depends on your cgroup layout. Looks like you might be putting kubelet into /system.slice

Our cgroups looks like this in `systemd-cgls`:
[code]

And our flags are like this:
[code]

I'm not saying this is correct, but it is based on the k8s upstream recommendations and seems to work for us.

[2019-07-19 18:29] amshinde commented on #2255
@saschagrunert Thanks. I was using an older commit of crio 485227d before the oci package was made internal I suppose. Let me try with your branch and see if I run into similar issues.

Could you explain "depend on your library"?
I had started out with building a go plugin that implements just the shimv2 api client.

[2019-07-19 18:46] saschagrunert commented on #2236
Thanks for the feedback. 🙏 Right now there is no static conmon, but I’m still on track to get this topic done as well. 👍

[2019-07-19 20:04] christian667 commented on #2632
This worked for me just fine:

[code]

Should I close this issue?

[2019-07-19 20:26] saschagrunert commented on #2632
If there are no further issues right now yes. I will follow up with the fix in the next patch release of Kubernetes. Thanks 🙏

[2019-07-19 20:59] christian667 commented on #2632
Thanks for the help!

[2019-07-19 20:59] #2632 closed

[2019-07-20 16:28] #2575 closed

[2019-07-22 06:45] saschagrunert commented on #2255
Yes that's what I meant. :) I'm just wondering what the reasons behind "shared object vs simply go library" are?

[2019-07-22 08:41] shaoyuta commented on #2588
@thkukuk , Yes,  [coreos/flannel#1135](https://github.com/coreos/flannel/pull/1135) can resolve this issue.
Thanks a lot.

[2019-07-22 08:41] #2588 closed

[2019-07-22 10:46] saschagrunert commented on #2555
@jpeach can we close this now, since we now have the request ID?

[2019-07-22 10:48] saschagrunert commented on #2255
@amshinde We internally decided to move the interface to libpod before continuing here (see the discussion on #2633). I will follow up on that topic and keep you posted.

@haircommander did you already start working on a migration like that? If not, should I go for it? Or do you think it is not the right time for such a migration?

[2019-07-22 11:00] jpeach commented on #2555
Yes, I think the request ID PR addresses this

[2019-07-22 11:13] saschagrunert commented on #2555
Closing :)

[2019-07-22 11:13] #2555 closed

[2019-07-22 11:20] vrothberg commented on #2255
@saschagrunert, nothing's blocking a migration. There's the requirements doc (https://docs.google.com/document/d/1GKub_NvdGCo7veR8XXf5w3PaEpIwzU6TnTMKNDcErEA/edit?usp=sharing) to coordinate the efforts.

I suggest starting with the image API first. There is a lot of redundancy among CRI-O, Podman, and Buildah. I think that some things can be moved into c/image, and some be moved into libpod (e.g.,

[2019-07-22 11:54] chrono2002 commented on #2619
hi,
any news with this?

[2019-07-23 18:29] #1664 closed

[2019-07-23 20:47] mariusgrigoriu commented on #2584
We're still seeing this happen using commit `906b95a` from the 1.14 release branch. How might we track this down?

[2019-07-23 22:33] amshinde commented on #2255
@saschagrunert To continue with my testing, I had to make a few more api's in cri-o public that my plugin code was using.
A hacked up crio version for this purpose: https://github.com/amshinde/cri-o/tree/more-public-oci-apis

And the corresponding wip kata plugin implementation:
https://github.com/amshinde/kata-runtime/commits/shimv2-crio-plugin

With this, I had all the required api's exposed for

[2019-07-24 00:38] mrunalp commented on #2584
@vrothberg @mtrmac @haircommander We updated a lot of code for images after 1.14.4. We are also hitting this issue in CI. ptal.

[2019-07-24 00:58] haircommander commented on #2255
@saschagrunert Migrating the oci runtime interface to libpod is up on my list of things to do. I hope to start this week

[2019-07-24 01:11] haircommander commented on #2584
Where are we seeing it in CI?

[2019-07-24 02:22] mrunalp commented on #2584
@haircommander in the wider OpenShift e2e.

[2019-07-24 06:45] saschagrunert commented on #2255
@amshinde thank you for the detailed update and I see your concerns. Was maintaining the code on the kata side the only reason for approaching this way? Do you think it would be possible that you develop a go module for the OCI runtime and we use it (with a small boilerplate overhead) here as standard go dependency? This way we would avoid all the overhead with the shared objects and use the stand

[2019-07-24 09:25] ghglza commented on #2411
Upgrading k8s to v1.15.1 and CRI-O to commit 635c008a did not have any effect on the problems described above.

[2019-07-24 11:14] saschagrunert commented on #2411
Hm, did you already try to start with a blank CNI config (without the bridge config) and setup weave afterwards?

[2019-07-24 12:20] ghglza commented on #2411
The CRI-O bridge config in /etc/cni/net.d is installed by the CRI-O RPM, currently cri-o-1.11.13-1.rhaos3.11.gitfb88a9c.el7.x86_64 (from https://cbs.centos.org/repos/paas7-crio-111-candidate/x86_64/os/), in order to get CentOS systemd integration.
We then overwrite the CRI-O binaries and config with versions built from source, and afterwards adapt the bridge subnet CIDR in the bridge spec (i.e. sw

[2019-07-24 13:08] ghglza commented on #2411
Ok so we started a cluster w/o a CRI-O CNI bridge configured -- this resulted in kubelet error messages

 kubelet[2544]: E0724 15:06:29.459685    2544 pod_workers.go:190] Error syncing pod e9647c08-9ac4-4fdd-8056-4852b57f7658 ("coredns-5c98db65d4-bpw6m_kube-system(e9647c08-9ac4-4fdd-8056-4852b57f7658)"), skipping: failed to "CreatePodSandbox" for "coredns-5c98db65d4-bpw6m_kube-system(e9647c08-9ac4

[2019-07-24 14:25] ghglza commented on #2411
And another observation:
After reinstalling the VMWare-based cluster w/ CRI-O bridge enabled again, on one of the nodes k8s is unable to get non-static pods started: all of them are connected to the bridge interface 10.99.0.0, and if they are deleted, they are also hanging in state ContainerCreating while kubelet reports

 E0724 16:17:39.179692   13698 pod_workers.go:190] Error syncing pod f4302d3

[2019-07-24 14:49] haircommander opened #2665 "integration tests flakes"
**Description**
When running the bats integration test suite, we often fail a test where `/tmp/tmp.*/crio/overlay` is busy when attempting to remove the temp directory. As a temporary fix, we can remove the directory best effort as in here: https://github.com/cri-o/cri-o/pull/2582, but that is not a permanent solution.

**Steps to reproduce the issue:**
1. run `sudo bats test/*.bats`on master or r

[2019-07-24 15:18] mrunalp commented on #2584
Also adding @nalind since @mtrmac suspects it could be storage locks.

[2019-07-24 16:07] mtrmac commented on #2584
@nalind
[code]
There are quite a few coroutines blocked on `github.com/cri-o/cri-o/vendor/github.com/containers/storage.(*imageStore).RLock`.

In the meantime, there is
[code]
probably (because it got to `layerStore.Delete`) holding the `imageStore` exclusive lock.

(and also
[code]
, FWIW, but AFAICS harmless)

So, `DeleteContainer` seems to be holding the image lock while `layerStore.Delete` is

[2019-07-24 20:40] nalind commented on #2584
I wouldn't expect it to take that long to delete an image unless the system was unusually heavily loaded, as it boils down to unmounting the container's read-write layer (which has either succeeded or failed with ENOENT by the time we get to line 811), and then removing the layer.

The backtrace hasn't yet reached the point where it tries to remove the layer from storage, so thus far it's only cal

[2019-07-25 05:40] rkojedzinszky opened #2669 "Parsing memory.limit_in_bytes fails on armhf"
**Description**

On armhf, strconv.Atoi cannot parse memory.limit_in_bytes cgroup value.

**Steps to reproduce the issue:**
Just start a pod using 1.13.9

**Describe the results you received:**
Jul 25 05:38:30 k8s-node14 kubelet[355]: E0725 05:38:30.654972     355 pod_workers.go:190] Error syncing pod 63a40c15-a863-4d50-bded-2d74e5315c13 ("traefik-ingress-controller-5f6cc57bb4-t8tqh_ingress-traefi

[2019-07-25 12:27] ghglza commented on #2411
Ok forget the last comment -- this turned out to be a case of https://github.com/cri-o/cri-o/issues/2410, caused by us not removing /var/cni/network prior to reinstalling the cluster.

[2019-07-25 15:53] chavafg opened #2672 "runtime_type="vm" makes cri-o to send a panic: runtime error."
**Description**

Tried to run kata-containers shimv-v2 with cri-o using `runtime_type= "vm"`.
I could run some k8s pods using this configuration, but after restarting my k8s cluster and cri-o service, cri-o cannot start successfully and sends panic errors described below.

**Steps to reproduce the issue:**
1. add the next configuration to the `crio.runtime.runtimes` table:
[code]
2. start cri-o se

[2019-07-25 15:53] chavafg commented on #2672
related https://github.com/kata-containers/tests/issues/1624

/cc @amshinde @sboeuf

[2019-07-26 06:03] phhutter opened #2678 "Auditrules (type=VIRT-CONTROL) for cri-o,buildah,podman etc."
**Description**
Docker has a default audit enabled.

you can check the audit logs with following command:
yum install docker -y && docker ps && grep VIRT-CONTROL /var/log/audit/audit.log

but i wont see any crio/podman/buildah audits (even without the grep command)
yum install cri-o && crictl ps && grep VIRT-CONTROL /var/log/audit/audit.log

How can we accomplish the same behavior for cri-o? is th

[2019-07-26 11:06] ghglza commented on #2411
Now upgrading CRI-O to a version containing the latest libpod (i.e. something above commit 53c3b4d) changes the game -- but not in a good direction:
Dynamically created pods are still connected to the CRI-O bridge interface instead to the specified k8s pod subnet.
But recreation of pods by k8s after deletion (i.e. our workaround described above) fails -- kubectl / the kubelet report

Failed create

[2019-07-26 11:38] saschagrunert commented on #2411
Okay, I think to debug any further here we have to try a different approach. Are you able to export the complete VirtualBox applicance (master and node) that I can import it on my local machine? Can you upload them somewhere? :)

[2019-07-29 11:19] adelton opened #2680 "Failure to build CRI-O on Fedora rawhide"
**Description**

Attempt to build CRI-O on Fedora rawhide fails with
[code]

This is a regression against Fedora 30.

**Steps to reproduce the issue:**
1.
[code]
2. `git clone https://github.com/kubernetes-incubator/cri-o.git`
3. `dnf install -y make`
4. `( cd cri-o && make )`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information yo

[2019-07-29 11:52] saschagrunert commented on #2680
Hey @adelton :wave: thanks for pointing to the issue. I tried to reproduce it within the fedora:latest container image, but it worked as intended. The cricital part seems to be:
[code]
We require an internet connection (go module discovery) when building the project outside of the `$GOPATH`. Could you give it another try with cloning the project into `$(go env GOPATH)/src/github.com/cri-o/cri-o` ?

[2019-07-29 11:55] vrothberg commented on #2680
@saschagrunert, does `go build -mode vendor` work?

[2019-07-29 11:56] saschagrunert commented on #2680
I had the same idea so we might find a way to fix this. Nevertheless the `invalid pseudo-version` seems pretty strange to me. I'm wondering how this can be possible... :thinking:

[2019-07-29 12:12] vrothberg commented on #2680
Awesome! IIRC, go 1.10 doesn't support `-mode vendor` yet, so I think we can pull the trigger when 1.10 isn't supported anymore.

[2019-07-29 12:13] saschagrunert commented on #2680
Yeah maybe we find a workaround for this as well. I'll prepare something for review...

[2019-07-29 12:29] adelton commented on #2680
Please try `registry.fedoraproject.org/fedora:rawhide` container image to reproduce.

[2019-07-29 13:05] saschagrunert commented on #2680
Ah thanks, so the go issue is related to go 1.13. :)

[code]

[2019-07-29 13:17] saschagrunert commented on #2680
Fix is incoming in #2682

[2019-07-29 16:14] lrgar opened #2683 "Create a default hooks.d directory with release packages"
Hello CRI-O team,

When [installing CRI-O by using the Project Atomic PPA]( https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o), the default `crio.conf` file doesn’t have any directories for hooks configured.

[code]

The implicit (and deprecated) directories aren't used since `hooks_dir` is set. But then no hooks directories are being looked at.

We try to add a hoo

[2019-07-29 20:43] mrunalp commented on #2683
@lsm5 ptal

[2019-07-31 08:48] sebastian-philipp opened #2685 "Maybe add python-client to the integration tests?"
**Description**

Python's [`list_nodes` was broken](https://github.com/kubernetes-client/python/issues/895) in 1.14.2

Would it make sense to add some kind of test to make sure, future cri-o versions don't break client libraries?

**Steps to reproduce the issue:**
1. downgrade to 1.14.2
2. call `list_nodes()` in the python client

[2019-07-31 12:35] chrono2002 commented on #2619
I have investigated metrics by querying kubelet:

[code]

and found out that there is no container_name associated with container interface, but why?

[2019-07-31 12:40] chrono2002 commented on #2619
looks like it's not related to cri-o, fixed by this:
https://github.com/kubernetes/kubernetes/issues/79406

[2019-07-31 15:50] mrunalp commented on #2685
If there is some suite we can run from that repo, we can enable it in CI.

[2019-08-01 21:48] stamm opened #2692 "Broken builds for 1.15 in ppa"
https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+build/17331455

[code]
https://github.com/cri-o/cri-o/blob/v1.15.0/oci/runtime_vm.go#L175

But as I can see, it have been fixed in master

[2019-08-02 06:50] saschagrunert commented on #2692
Hey @stamm, :wave: thanks for hinting to the issue. I've backported the fix to the 1.15 release branch. The issue should be fixed with the 1.15.1 release.

[2019-08-02 07:32] #2692 closed

[2019-08-02 18:38] amshinde commented on #2255
@saschagrunert That would require cri-o to vendor in kata code, which is not ideal.

@mrunalp I could not discuss further on the crio call the other day, the plugin limitations with go-modules are a blocker to go any further on this route. If you agree, let me know if we can close this one.

[2019-08-03 09:13] Slach opened #2695 "cri-o 1.1.5 failed build latest PPA"
https://launchpadlibrarian.net/434901960/buildlog_ubuntu-bionic-amd64.cri-o-1.15_1.15.1-1~dev~ubuntu18.04~ppa1_BUILDING.txt.gz
latest build failed with error
[code]
dear @lsm5 could you try rebuild ?

[2019-08-03 09:36] Slach opened #2696 "Ubuntu 18.04 cri-o-1.14 latest PPA version crio-wipe.service and crio-wipe.bash missed on .deb package"
Steps to reproduce
[code]

expected result - restarted crio service
actual result
[code]

[code]

[2019-08-03 15:03] haircommander commented on #2696
/assign @lsm5

[2019-08-03 15:04] haircommander commented on #2696
Ok fine openshift bot, @lsm5 PTAL

[2019-08-03 15:06] haircommander commented on #2695
This should have been fixed https://github.com/cri-o/cri-o/pull/2693, and i think the PPA is autobuilding, so you may have more luck today?

[2019-08-03 15:06] haircommander commented on #2695
I'll leave it open and wait for @lsm5 to confirm

[2019-08-04 15:52] davidhadas commented on #2696
Hi,
can anyone suggest a workaround?

[2019-08-04 21:35] haircommander commented on #2696
`systemctl status crio` to find the location of the unit file (probably something like `/usr/lib/systemd/system/crio/crio.service` and remove the line `Requires=crio-wipe.service`

[2019-08-06 05:39] liqlin2015 opened #2701 "Set umask in container"
**Description**

Similar to docker issue https://github.com/moby/moby/issues/19189. Is there anyway to set umask for cri-o container?

**Describe the results you expected:**
Container can choose to have their own umask setting instead of default 0022.

**Additional environment details (AWS, VirtualBox, physical, etc.): OCP 3.11

[2019-08-06 11:11] rhatdan commented on #2701
I don't think this is a bad idea, but it is not part of the OCI spec and runc does not support it.  In order to get this to work, you would need to work it's way through that tooling.

@giuseppe @nalind @vbatts WDYT?

[2019-08-06 12:43] giuseppe commented on #2701
change it globally for all containers seems like a bad idea.

Nothing prevents programs to change it separately, you could even have it change as part of an ENTRYPOINT.

[2019-08-06 12:45] rhatdan commented on #2701
It seems like a reasonable ask, though, podman run --umask ...

But this fell on deaf ears in Docker and eventually under OCI.

[2019-08-06 12:51] giuseppe commented on #2701
It is even more difficult for CRI-O containers as the change should go through Kubernetes as well.

It seems there is already an open request for runc: https://github.com/opencontainers/runc/issues/1650 and a change to the OCI runtime specs: https://github.com/opencontainers/runtime-spec/pull/941

[2019-08-06 20:49] moshe010 opened #2704 "crio-wipe.bash failed with operand expected (error token is ""1" + 0")"
**Description**
crio-wipe.bash

**Steps to reproduce the issue:**
[root@r-dcs226 crio-wipe]# bash -x ./crio-wipe.bash
+ set -eu
+ dir=.
+ source ./lib.bash
++ set -eu
+ VERSION_FILE_LOCATION=/var/lib/crio/version
+ CONTAINERS_STORAGE_DIR=/var/lib/containers
++ crio --version
+ NEW_VERSION='crio version 1.15.1-dev
commit: "b94a84cd6d126b12c837db3650fed546376c1f58"'
+ WIPE=0
+ getopts f:d:w:h OPTION

[2019-08-07 14:04] haircommander commented on #2695
@Slach are you still seeing this?

[2019-08-07 14:06] Slach commented on #2695
yes
https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages
packages doesn't build since 2019-07-28

[2019-08-07 14:07] haircommander commented on #2383
hey @estesp is there more you need for this issue or is it good to close?

[2019-08-07 14:10] haircommander commented on #2695
I pinged @lsm5  to look at it, sorry for the delay!

[2019-08-07 18:55] estesp commented on #2383
Oh! Totally forgot I had this open issue; I think I was up and running, but even if not, I got the info I needed. Will go ahead and close.

[2019-08-07 18:55] #2383 closed

[2019-08-08 06:58] storpipfugl commented on #2695
Hi,

There's no cri-o-1.15 package available for ubuntu 18.04 in the PPA:
$ curl -s http://ppa.launchpad.net/projectatomic/ppa/ubuntu/dists/bionic/main/binary-amd64/Packages.gz | gunzip | grep "Package: cri-o-1"
Package: cri-o-1.12
Package: cri-o-1.13
Package: cri-o-1.14

Is this due to this problem or should I open a separate issue?

[2019-08-08 17:03] amshinde opened #2708 "Add flag to overload default privileged behaviour to pass/not pass host devices."
See the discussion on : https://github.com/kata-containers/runtime/issues/1568#issuecomment-519475588

Passing all the host devices in priveleged mode is a security issue. There has been a discussion going on in CRI and docker to provide a flag to disable this behaviour.
We need a similar flag in cri-o as well.

Eventually, the plan is to propose this as the Runtime level in k8s, with each runtime

[2019-08-08 17:04] amshinde commented on #2708
cc @mrunalp

[2019-08-09 17:07] cyphar commented on #2701
I opened PRs, they just weren't merged. The runc change would be very minimal, we just need the spec change first.

[2019-08-09 17:08] cyphar commented on #2701
I opened PRs (as @giuseppe mentioned), they just weren't merged. The runc change would be very minimal, we just need the spec change first. I didn't realise this was a high-priority issue -- I assumed it was just a "nice-to-have" and so spent my time on other things rather than chasing it up.

[2019-08-09 17:16] rhatdan commented on #2701
I would not say it is a high priority. we just got this request and I would think podman could support it also, and it seemed to make sense to me.

[2019-08-10 16:53] eriksjolund commented on #2236
I found a Dockerfile that only needed a small tweak to build a static conmon (without systemd), see my comment
https://github.com/containers/conmon/issues/32#issuecomment-520152706

[2019-08-10 19:30] lsm5 opened #2712 "release-1.15 build fails on 32-bit"
[code]

[2019-08-10 19:32] lsm5 commented on #2712
@haircommander @mrunalp @saschagrunert @umohnani8

[2019-08-10 19:32] lsm5 commented on #2712
here's the fail log from ubuntu ppa: https://launchpadlibrarian.net/436825048/buildlog_ubuntu-xenial-armhf.cri-o-1.15_1.15.1-1~dev~ubuntu16.04~ppa2_BUILDING.txt.gz

[2019-08-11 08:05] #2704 closed

[2019-08-12 06:55] saschagrunert commented on #2712
Hey @lsm5 :wave: . So I think we should add another 32bit test to check that everything works as intended. :thinking:

[2019-08-12 07:50] adelton opened #2713 "Installing cri-o on Fedora 30 based on documentation fails"
**Description**

The page https://cri-o.io/ says

The page https://github.com/cri-o/cri-o/blob/master/README.md says

However, on Fedora 30 and rawhide, module needs to be installed first, to be able to get `cri-o`.

**Steps to reproduce the issue:**
1. on Fedora 30, run `dnf install -y cri-o`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additi

[2019-08-12 09:18] giuseppe commented on #2713
we need to fix the documentation.  On Fedora 30 you'll first need to choose the module, so you can pick the version you prefer

[2019-08-12 15:16] saschagrunert commented on #2665
Just a pointer, the current workaround to be fixed can be found here: https://github.com/cri-o/cri-o/pull/2667#discussion_r312976058

[2019-08-12 17:58] haircommander commented on #2665
also a pointer: https://github.com/cri-o/cri-o/pull/2667#discussion_r313051037 because I don't want to forget

[2019-08-13 02:04] #2562 closed

[2019-08-13 09:08] adelton commented on #2713
The https://github.com/cri-o/cri-o/pull/2714 does not seem to work on Fedora 30 -- please see https://github.com/cri-o/cri-o/pull/2714#issuecomment-520754211.

[2019-08-13 11:03] #2680 closed

[2019-08-13 14:17] haircommander commented on #2713
shoot, I had already subscribed to a module so I didn't error out. Waiting on 1.15 to be added to fedora, then I'll update

[2019-08-13 14:36] haircommander commented on #2665
`# time="2019-08-13T14:30:22Z" level=fatal msg="run pod sandbox failed: rpc error: code = Unknown desc = failed to create pod network sandbox k8s_podsandbox1_redhat.test.crio_redhat-test-crio_1(e9f14f3892bcc8ae06001759eb29b6d415b225d661d4838b08b64fb9d874d5b9): failed to set bridge addr: could not add IP address to \"cni0\": file exists"`
should be an easy one to fix and happens every so often

[2019-08-13 14:39] adelton commented on #2713
:-D

[2019-08-13 15:01] jedblack commented on #2696
There are other things missing from this package, in addition to the missing unit files, its also missing...
/etc/sysconfig/crio (thats typically a RHEL location, but should be created for Ubuntu too)
It also is missing this : /usr/lib/crio/bin/conmon

[2019-08-13 15:53] haircommander commented on #2712
closing per #2718 merge

[2019-08-13 15:53] #2712 closed

[2019-08-13 15:55] haircommander commented on #2695
@Slach sorry for the delay, ubuntu 1.15 PPA should be auto-updated in the next hour or so with a fix :)

[2019-08-14 14:35] haircommander commented on #1742
Closing per @mrunalp 's comments above, please reopen if you disagree..

[2019-08-14 14:35] #1742 closed

[2019-08-14 14:36] haircommander commented on #1778
I'm going to close this here, as we are moving conmon development to containers/conmon

[2019-08-14 14:36] #1778 closed

[2019-08-14 14:37] haircommander commented on #2273
closing this as it was determined this is not an issue. please reopen if you disagree

[2019-08-14 14:37] #2273 closed

[2019-08-14 14:43] saschagrunert commented on #2665
Do you see a way to reproduce this? The log message comes directly from the bridge plugin, so a locking might be needed more there instead of within CRI-O... :thinking:

[2019-08-14 14:46] haircommander commented on #2665
maybe, but I was thinking the problem is there are multiple crio's running at once, using the same interface (because of parallel bats). If we used cni$RAND instead of every one using cni0 that should alleviate it.

[2019-08-14 14:52] haircommander commented on #2665
PR to test here https://github.com/cri-o/cri-o/pull/2722

[2019-08-14 18:54] wgitg opened #2723 "Failed to pull any image"
**Description**
Hi,  we're using evaluating CRI-O to be our potential runtime. However, we have encountered pull image problems.

We keep getting error:
[code]

**Describe the results you received:**
crio log:
[code]
**Describe the results you expected:**
Image should be pulled without errors.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `crio

[2019-08-14 19:56] haircommander commented on #2723
hey @wgitg thanks for trying out CRI-O! I'm not positive, but this looks like a registry credentials problem. @mtrmac @vrothberg can you PTAL

[2019-08-14 20:28] mtrmac commented on #2723
I mean, if the error says `i/o timeout` (on what is a HTTP GET request), the first guess should be that it really is an I/O timeout, nothing automatically to do with credentials AFAICS (or do you see anything pointing to credentials that I’ve overlooked, @haircommander ?).

Does `curl http://registry-1.docker.io/v2/`, on that host, and ideally in the same environment as the CRI-O process, work? Ei

[2019-08-14 20:46] wgitg commented on #2723
@mtrmac The reason I was posting issue here is, I used docker pull and skopeo copy to pull the image, they all succeeded.
And to your question about `curl http://registry-1.docker.io/v2/`

[code]

[2019-08-14 20:49] mtrmac commented on #2723
Thanks. That points closer to the CRI-O environment; excessive hardening of its systemd unit / CGroup?

[2019-08-14 20:57] wgitg commented on #2723
@mtrmac Thanks for the pointer. but not sure excessive hardening part, so I also paste the systemd as follows:

[code]

[2019-08-14 22:34] haircommander commented on #2723
@wgitg  are you able to pull a amaller image, like alpine with CRI-O?

[2019-08-14 22:51] wgitg commented on #2723
@haircommander @mtrmac  I tried to pull alpine on the host I was failing. still no luck.

HOWEVER, I am just able to try on the other hosts within my org, using CRI-O binary on my original failing host. It worked! I am contacting the org related teams to pin point if inconsistent ACL/security policies messing up issues.  (But I still can not explain why the skopeo copy can work).

So, given the sa

[2019-08-14 23:40] haircommander commented on #2723
Wonderful to hear!

There are some tutorials on setting it up with kubernetes or kubeadm under the tutorials/ folder in this repo. Other than that, you typically use it to run kubernetes as usual. You can also check out our man pages under docs/ for some configuration options :)

[2019-08-15 01:00] paradon opened #2725 "crio-wipe fails if /var/lib/containers is a mountpoint"
**Description**

crio-wipe attempts to "rm -rf /var/lib/containers", however if that path is a mountpoint it fails with "Device or resource busy".

**Steps to reproduce the issue:**
1. Mount a filesystem at /var/lib/containers
2. Cause crio-wipe to attempt an update (e.g. remove /var/lib/crio/version)

**Describe the results you received:**
crio-wipe errors with "Device or resource busy", and bloc

[2019-08-15 02:14] haircommander commented on #2725
@paradon thanks for opening the issue. I didn't even think of that! I have a fix here: https://github.com/cri-o/cri-o/pull/2726 which once approved, I will cherry-pick to 1.15 for you

[2019-08-15 18:27] haircommander commented on #2672
@chavafg are you still seeing this?

[2019-08-15 21:57] wgitg commented on #2723
@haircommander  cool! Thanks so much again. I am closing the ticket.

[2019-08-15 21:57] #2723 closed

[2019-08-16 16:15] lsm5 commented on #2695
@Slach please try using the latest cri-o-1.15 from ppa

[2019-08-16 22:57] abhijitherekar opened #2736 "CRIO install fails on Ubuntu due to files in wrong location."
**Description**

**Steps to reproduce the issue:**
1.apt-get install cri-o-1.15
2.systemctl start crio

**Describe the results you received:**
 systemctl status crio-wipe.service
● crio-wipe.service - CRI-O Auto Update Script
   Loaded: loaded (/usr/lib/systemd/system/crio-wipe.service; disabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Fri 2019-08-16 22:28:54 UTC; 11min

[2019-08-16 23:04] haircommander commented on #2736
/assign @lsm5

[2019-08-16 23:18] lsm5 commented on #2736
that has been fixed in source, but launchpad doesn't seem to be really building anything. I'll resubmit builds in a while.

[2019-08-16 23:32] amshinde commented on #2672
@haircommander I'll take a look at this.
@chavafg Can you let me know the exact version of cri-o that you were using, along with the steps you followed to restart the cluster ?

[2019-08-17 06:27] vllry opened #2737 "CRI-O builds from release archives fail"
**Steps to reproduce the issue:**
1. Install dependencies listed in the README
2. Download and extract an archive from the Github releases page
3. Run `make`

**Describe the results you received:**
`make` failed, due to not running in a git repository.

[code]

**Describe the results you expected:**
Builds should succeed.

Checking out the same version via git tags and running `make` succeeds as e

[2019-08-18 15:24] michaelgugino commented on #2713
cri-o 1.14 broken on F30 modular: https://bugzilla.redhat.com/show_bug.cgi?id=1743017

[2019-08-19 02:54] lsm5 commented on #2696
should be fixed with 1.14.10-1. Check it out..

[2019-08-19 02:57] lsm5 commented on #2736
should be fixed now. Check it out..

[2019-08-19 07:02] saschagrunert commented on #2737
Hey @vllry, thanks for the issue report. It looks like [go-md2man](https://github.com/cpuguy83/go-md2man) is missing from the local system, which would have been to be installed manually, the build and run dependencies for 1.13 mention:
https://github.com/cri-o/cri-o/tree/release-1.13#build-and-run-dependencies

On newer releases (1.15.x) this would not be needed any more, because we include that

[2019-08-19 08:40] fabiand commented on #2157
Naive question: So it's currently not possible to launch an image which is referenced by hash? @mrunalp

[2019-08-19 14:06] chavafg commented on #2672
hi @amshinde, version was:
[code]

I've just configured cri-o as stated above and ran a simple workload using k8s (but using `crictl` should also get you to the issue).
Then, try to restart cri-o service: `systemctl restart crio` and you should see the panic.

[2019-08-19 14:15] cgwalters commented on #2478
See also https://github.com/openshift/installer/pull/1768

[2019-08-19 23:42] amshinde commented on #2672
Took at initial look at this. The crash is seen at line:
https://github.com/cri-o/cri-o/blob/master/internal/oci/runtime_vm.go#L556

when UpdateContainerStatus is called while restoring containers from saved state.
In shimv2 case, the `r.task` is still nil, and hence the crash.
This field is only assigned in `startRuntimeDaemon`, when the shim binary is actually started.

cc @sboeuf

[2019-08-20 00:22] abhijitherekar opened #2739 "Ubuntu crio 1.15, the network config is not loaded automatically into /etc/cni/net.d"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**ON Ubuntu machines with kubeadm and crio the cluster nodes never comeup**

**Steps to reproduce the issue:**
1. `systemc

[2019-08-20 00:23] abhijitherekar commented on #2739
fyi @haircommander

[2019-08-20 15:51] haircommander commented on #2736
@abhijitherekar can this be closed now?

[2019-08-21 05:54] Slach commented on #2695
cri-o-1.15 installed OK, thanks a lot

[2019-08-21 05:54] #2695 closed

[2019-08-21 06:20] Slach commented on #2696
yes wipe added and restart fine
thanks a lot

[2019-08-21 06:20] #2696 closed

[2019-08-21 08:44] k-tipp opened #2741 "Network plugin returns error: Missing CNI default network"
**Description**

kubelet doesn't start up properly and the calico cni could not startup. Maybe related to #2739

**Steps to reproduce the issue:**
1. Install kubernetes v. 1.15.3 following the [kubernetes guide](https://kubernetes.io/docs/setup/production-environment/)
2. Follow the [cri-o kubeadm-guide](https://github.com/cri-o/cri-o/blob/master/tutorials/kubeadm.md)
3. set crio.network.network_d

[2019-08-21 13:37] haircommander commented on #2741
yeah this is the same issue as #2739 :) closing as such!

[2019-08-21 13:37] #2741 closed

[2019-08-21 13:40] haircommander commented on #2739
As mentioned here: https://github.com/cri-o/cri-o/blob/master/tutorials/kubeadm.md#configuring-cni, `kubeadm` clears CRI-O's default network dir (it seems on startup now, not only on a `kubeadm reset` call).

The workaround is described in that tutorial, where users have to specify a different network dir. Perhaps the directions aren't clear enough?

Any other fix would be to change the default, o

[2019-08-21 19:17] yevgenypats opened #2744 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-21 21:47] amshinde commented on #2672
I am seeing this behaviour with crio in general, when I restart crio I see that all the containers are stopped as well. I see this in case of runc as well as kata shimv1 containers.
I would expect the containers to be around along with the conmon processes when crio is started.
cc @ganeshmaharaj who had seen some issues with crio restart earlier.
@mrunalp Can someone take a look at this?

On a sid

[2019-08-22 06:54] saschagrunert commented on #2744
Hey @yevgenypats, I already did some experiments with fuzzing the gRPC API of CRI-O so I generally like the idea. The main reason I stopped with the topic is that the corpus generation for gRPC based protocols seems not trivial, do you have any experiences with that?

[2019-08-22 07:25] yevgenypats commented on #2744
Hi @saschagrunert, do you have maybe a link to an old commit so I can take a look? essentially I'm not sure you want to fuzz the gRPC protocol/library but essentially you want to fuzz some of your internal functions that really do the heavy lifting/parsing. But I need to see the specific function or use-case you had mind.

[2019-08-22 08:04] saschagrunert commented on #2744
Unfortunately the code does not exist any more. I basically setup a new CRI-O instance and ran go-fuzz against it. I started with a corpus generated by [critest](https://github.com/kubernetes-sigs/cri-tools) but gave up after a while because I did not achieve an appropriate fuzzing speed.

I agree, unfortunately CRI-O does no computing intense parsing or raw data that I see that fuzzing would brin

[2019-08-22 11:17] rhatdan commented on #2744
I agree that I think fuzzing the low level libraries would be helpful, but I would get the maintainers opions
@nalind @mtrmac @vrothberg WDYT?

[2019-08-22 11:28] vrothberg commented on #2744
I don't have experience in fuzzing but I guess the problem regarding raw-data processing applies to c/image and c/storage as well. But I am supportive if that's possible.

Thanks a lot for reaching out, @yevgenypats!

[2019-08-22 18:17] sboeuf opened #2745 "Add documentation regarding crio restart expectations"
The CRI-O daemon can be restarted while containers are running, this should have no impact on the container lifecycle. This assumption is true when CRI-O relies on systemd to manage the cgroups. But when CRI-O is configured to be used with cgroupfs, when the daemon terminates, all other processes are terminated too (which means the containers are stopped). This is due to some technical details on

[2019-08-22 18:17] sboeuf commented on #2745
/cc @mrunalp

[2019-08-27 21:28] adk9 opened #2750 "cri-o fails to start with no network"
**Description**

The CRI-O server fails to start where there is no default network route:
[code]

This happens typically in cases when there's no network connectivity, but we'd like to run CRI-O in an "offline" mode where such a default network route doesn't exist.

**Steps to reproduce the issue:**

1. disable network
2. start cri-o

**Describe the results you received:**

[code]

**Describe the

[2019-08-28 07:06] saschagrunert commented on #2750
Hey @adk9 :wave:, thanks for the request. This behavior should be improved with the PR https://github.com/cri-o/cri-o/pull/2662. A workaround is to specify the host IP manually when running CRI-O, like this:

[code]
or by setting in `crio.conf`:

[code]

[2019-08-30 10:25] vrothberg opened #2756 "use GOPROXY to speed up dependency management"
I've already opened PRs for the github.com/containers/* projects using `GOPROXY=https://proxy.golang.org` which shows vendoring speed ups of factor six to ten. CRI-O could benefit from it as well but the proxy returns 410 for `golangci/*` dependencies. Once those issues are resolved, we can update the Makefile.

This issue is meant to prevent redundant work (others looking into the same issue) and

[2019-08-30 12:40] ykoer opened #2757 "Image pull metrics"
We would like to collect the image pull time metrics with Prometheus. But it looks like Cri-o does not have those. Or did I overlooked it?

[2019-08-30 20:23] chavafg commented on #2114
In addition to the above failures, now that we moved to k8s 1.15, found these other tests failing:
[code]
[code]

Taking a look at the 1st failure, seems that maybe kata is returning output with incorrect format, but need to investigate more.
/cc @egernst @amshinde

[2019-09-03 20:37] theonewolf commented on #2072
1.15 RPMs don't seem to exist anywhere for CentOS 7.

[2019-09-03 20:42] lsm5 commented on #2072
seems like the previous build failed https://cbs.centos.org/koji/taskinfo?taskID=893807 . I'll check whatsup

[2019-09-03 21:16] theonewolf commented on #2072
@lsm5 we want to use CRI-O with Kubernetes, but this is driving us back to Docker as it works with latest Kubernetes out of the box on the most platforms.

Anyways, excited to see if you get those builds working.

FYI my builds failed on CentOS 7 due to some packages failing to `git fetch` under `cznic`'s namespace on GitHub.  I tried building `release-1.15` on my own and failed there.

[2019-09-03 23:36] mgoltzsche commented on #2236
While the nixos/nix image was downloading - which takes very long - I wrote an alpine-based static crio build [here](https://github.com/mgoltzsche/kubernetes-setup/blob/3b4ea8f10e16324b1da912b4536645cf7ca152da/Dockerfile-centos#L10) which however still needs some clean up. Also it doesn't support systemd.

[2019-09-03 23:51] lsm5 commented on #2072
@haircommander mind cutting a new 1.15 please? For fedora and centos I build tags and not the release-x branches. v1.15.0 still has the `undefined: strings.ReplaceAll` issue.

[2019-09-04 12:52] haircommander commented on #2072
@lsm5 oopsies, I cut it but never tagged it. 1.15.1 is tagged now

[2019-09-04 13:07] theonewolf commented on #2072
@haircommander does that mean a build is underway now?  Let me know if you'd like me to try CRI-O 1.15.1 RPMs soon.  I can rebuild my k8s cluster (just installed yesterday, with Docker).

[2019-09-04 13:14] lsm5 commented on #2072
@theonewolf the cri-o fedora/centos automation still isn't all the way there yet, cause I'm still kinda struggling with fedora modules in an unattended setup. But, I'll take care of this right away.

[2019-09-04 13:34] theonewolf commented on #2072
Sounds like @lsm5 _is_ the automation.  Anyways looking forward to testing things out with CRI-O.

Unsure if you'll run into them, but I ran into some build problems with certain (Go) dependencies not being able to properly `git fetch` them.

[2019-09-04 13:35] lsm5 commented on #2072
hopefully it'll soon be @lsm5-bot :D

While building rpms, we just use the vendored dependencies, so we don't have to bother with git fetching anything.

[2019-09-04 13:42] theonewolf commented on #2072
@lsm5 ah, I was wondering about vendored stuff yesterday and didn't explore.  Now I see that folder.

Is it easy to get `make` to use those?  You have a CLI option?  I guess I can read your CI scripts...

[2019-09-04 13:45] lsm5 commented on #2072
@theonewolf done, https://cbs.centos.org/koji/taskinfo?taskID=940324

yum repo:
[code]

see lines 78-88 in https://src.fedoraproject.org/rpms/cri-o/blob/1.15/f/cri-o.spec for build steps. That doesn't use Makefile though. HTH

[2019-09-04 13:48] theonewolf commented on #2072
@lsm5 thanks!  Going to test these now...after a `sonobuoy` test completes.

Also, that link is still useful to me even though it's not the Makefile.

[2019-09-06 08:27] alijahnas opened #2774 "Fatal error when starting crio package in Ubuntu 16.04"
**Description**
Error: opening seccomp profile (/etc/crio/seccomp.json) failed: open /etc/crio/seccomp.json: no such file or directory

When installing cri-o via latest ppa package (done via kubespray), crio service doesn't start and throws the above error.

**crio-o package:**

[code]

I thought the seccomp file should be included with the package because it is mandatory for the service to start?

[2019-09-06 12:05] rhatdan commented on #2774
@lsm5 PTAL

[2019-09-09 12:29] alijahnas opened #2779 "crio-wipe.service error with crio-1.15 on CentOs 7"
**Description**
crio-wipe.service doesn't start using https://cbs.centos.org/repos/paas7-crio-115-candidate/x86_64/os on CentOS 7.
Package: `cri-o-1.15.1-1.el7.x86_64.rpm`

The unit to start the crio-wipe service references crio-wipe.bash:

[code]

but the file is found in `/usr/libexec/crio/crio-wipe/crio-wipe.bash`

Even if I rewrite the crio-wipe.service file to point to the right service, crio